<h2 id="tocS_ResponseCondominiumList">ResponseCondominiumList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsecondominiumlist"></a>
<a id="schema_ResponseCondominiumList"></a>
<a id="tocSresponsecondominiumlist"></a>
<a id="tocsresponsecondominiumlist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "COBERTURA_BASICA_AMPLA_COBERTURAS_PARA_QUAISQUER_EVENTOS_QUE_POSSAM_CAUSAR_DANOS_FISICOS_AO_IMOVEL_SEGURADO_EXCETO_OS_EXPRESSAMENTE_EXCLUIDOS",
                  "coverageDescription": "descrição cobertura",
                  "coverageAttributes": {
                    "maxLMI": {},
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string"
                  },
                  "allowApartPurchase": true
                }
              ],
              "propertyType": [
                {
                  "insuredPropertyType": "CONDOMINIO_RESIDENCIAL",
                  "structuringType": "CONDOMINIO_HORIZONTAL"
                }
              ],
              "commercializationArea": 0,
              "assistanceServices": [
                {
                  "assistanceServices": true,
                  "assistanceServicesPackage": [
                    "ATE_10_SERVICOS"
                  ],
                  "complementaryAssistanceServicesDetail": "reboque pane seca",
                  "chargeTypeSignaling": "GRATUITO"
                }
              ],
              "microInsurance": true,
              "traits": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumPayment": [
                {
                  "paymentMethod": "CARTAO_DE_CREDITO",
                  "paymentDetail": "string",
                  "paymentType": [
                    "A_VISTA"
                  ],
                  "premiumRates": "string"
                }
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414.622222/2222-22",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "contractType": [
                  "COLETIVO"
                ],
                "minimumRequirementDetails": "string",
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[CondominiumBrand](#schemacondominiumbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_CondominiumBrand">CondominiumBrand</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumbrand"></a>
<a id="schema_CondominiumBrand"></a>
<a id="tocScondominiumbrand"></a>
<a id="tocscondominiumbrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "COBERTURA_BASICA_AMPLA_COBERTURAS_PARA_QUAISQUER_EVENTOS_QUE_POSSAM_CAUSAR_DANOS_FISICOS_AO_IMOVEL_SEGURADO_EXCETO_OS_EXPRESSAMENTE_EXCLUIDOS",
              "coverageDescription": "descrição cobertura",
              "coverageAttributes": {
                "maxLMI": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "insuredParticipation": [
                  "POS"
                ],
                "insuredParticipationDescription": "string"
              },
              "allowApartPurchase": true
            }
          ],
          "propertyType": [
            {
              "insuredPropertyType": "CONDOMINIO_RESIDENCIAL",
              "structuringType": "CONDOMINIO_HORIZONTAL"
            }
          ],
          "commercializationArea": 0,
          "assistanceServices": [
            {
              "assistanceServices": true,
              "assistanceServicesPackage": [
                "ATE_10_SERVICOS"
              ],
              "complementaryAssistanceServicesDetail": "reboque pane seca",
              "chargeTypeSignaling": "GRATUITO"
            }
          ],
          "microInsurance": true,
          "traits": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumPayment": [
            {
              "paymentMethod": "CARTAO_DE_CREDITO",
              "paymentDetail": "string",
              "paymentType": [
                "A_VISTA"
              ],
              "premiumRates": "string"
            }
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414.622222/2222-22",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "contractType": [
              "COLETIVO"
            ],
            "minimumRequirementDetails": "string",
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[CondominiumCompany](#schemacondominiumcompany)|true|none|none|

<h2 id="tocS_CondominiumCompany">CondominiumCompany</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumcompany"></a>
<a id="schema_CondominiumCompany"></a>
<a id="tocScondominiumcompany"></a>
<a id="tocscondominiumcompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "COBERTURA_BASICA_AMPLA_COBERTURAS_PARA_QUAISQUER_EVENTOS_QUE_POSSAM_CAUSAR_DANOS_FISICOS_AO_IMOVEL_SEGURADO_EXCETO_OS_EXPRESSAMENTE_EXCLUIDOS",
            "coverageDescription": "descrição cobertura",
            "coverageAttributes": {
              "maxLMI": {
                "amount": 0,
                "unit": {
                  "code": "R$",
                  "description": "REAL"
                }
              },
              "insuredParticipation": [
                "POS"
              ],
              "insuredParticipationDescription": "string"
            },
            "allowApartPurchase": true
          }
        ],
        "propertyType": [
          {
            "insuredPropertyType": "CONDOMINIO_RESIDENCIAL",
            "structuringType": "CONDOMINIO_HORIZONTAL"
          }
        ],
        "commercializationArea": 0,
        "assistanceServices": [
          {
            "assistanceServices": true,
            "assistanceServicesPackage": [
              "ATE_10_SERVICOS"
            ],
            "complementaryAssistanceServicesDetail": "reboque pane seca",
            "chargeTypeSignaling": "GRATUITO"
          }
        ],
        "microInsurance": true,
        "traits": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumPayment": [
          {
            "paymentMethod": "CARTAO_DE_CREDITO",
            "paymentDetail": "string",
            "paymentType": [
              "A_VISTA"
            ],
            "premiumRates": "string"
          }
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414.622222/2222-22",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "contractType": [
            "COLETIVO"
          ],
          "minimumRequirementDetails": "string",
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[CondominiumProduct](#schemacondominiumproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_CondominiumProduct">CondominiumProduct</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumproduct"></a>
<a id="schema_CondominiumProduct"></a>
<a id="tocScondominiumproduct"></a>
<a id="tocscondominiumproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "COBERTURA_BASICA_AMPLA_COBERTURAS_PARA_QUAISQUER_EVENTOS_QUE_POSSAM_CAUSAR_DANOS_FISICOS_AO_IMOVEL_SEGURADO_EXCETO_OS_EXPRESSAMENTE_EXCLUIDOS",
        "coverageDescription": "descrição cobertura",
        "coverageAttributes": {
          "maxLMI": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          },
          "insuredParticipation": [
            "POS"
          ],
          "insuredParticipationDescription": "string"
        },
        "allowApartPurchase": true
      }
    ],
    "propertyType": [
      {
        "insuredPropertyType": "CONDOMINIO_RESIDENCIAL",
        "structuringType": "CONDOMINIO_HORIZONTAL"
      }
    ],
    "commercializationArea": 0,
    "assistanceServices": [
      {
        "assistanceServices": true,
        "assistanceServicesPackage": [
          "ATE_10_SERVICOS"
        ],
        "complementaryAssistanceServicesDetail": "reboque pane seca",
        "chargeTypeSignaling": "GRATUITO"
      }
    ],
    "microInsurance": true,
    "traits": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumPayment": [
      {
        "paymentMethod": "CARTAO_DE_CREDITO",
        "paymentDetail": "string",
        "paymentType": [
          "A_VISTA"
        ],
        "premiumRates": "string"
      }
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414.622222/2222-22",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "contractType": [
        "COLETIVO"
      ],
      "minimumRequirementDetails": "string",
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.6 do Anexo II.|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[CondominiumCoverageAttributes](#schemacondominiumcoverageattributes)|false|none|Informações de cobertura do Seguro Residencial.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|propertyType|[CondominiumPropertyType](#schemacondominiumpropertytype)|true|none|none|
|commercializationArea|number|false|none|Deve ser informado o CEP do imóvel. Campo de entrada na AP|
|assistanceServices|[CondominiumAssistanceServices](#schemacondominiumassistanceservices)|true|none|Agrupamento dos serviços de assistências disponíveis vinculado ao produto.|
|microInsurance|boolean|true|none|Indicação se o produto é classificado como microsseguro.|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|validity|[CondominiumValidity](#schemacondominiumvalidity)|true|none|none|
|premiumPayment|[CondominiumPremiumPayment](#schemacondominiumpremiumpayment)|true|none|none|
|termsAndConditions|[CondominiumTerms](#schemacondominiumterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[CondominiumMinimumRequirements](#schemacondominiumminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|COBERTURA_BASICA_AMPLA_COBERTURAS_PARA_QUAISQUER_EVENTOS_QUE_POSSAM_CAUSAR_DANOS_FISICOS_AO_IMOVEL_SEGURADO_EXCETO_OS_EXPRESSAMENTE_EXCLUIDOS|
|coverage|COBERTURA_BASICA_SIMPLES_COBERTURAS_DE_INCENDIO_QUEDA_DE_RAIO_DENTRO_DO_TERRENO_SEGURADO_E_EXPLOSAO_DE_QUALQUER_NATUREZA|
|coverage|ANUNCIOS_LUMINOSOS|
|coverage|DANOS_AO_JARDIM|
|coverage|DANOS_ELETRICOS|
|coverage|DESMORONAMENTO|
|coverage|DESPESAS_COM_ALUGUEL|
|coverage|EQUIPAMENTOS|
|coverage|FIDELIDADE_DE_EMPREGADOS|
|coverage|IMPACTO_DE_VEICULOS|
|coverage|VIDA_E_ACIDENTES_PESSOAIS_EMPREGADOS|
|coverage|LUCROS_CESSANTES|
|coverage|QUEBRA_DE_VIDROS_ESPELHOS_MARMORES_E_GRANITOS|
|coverage|RESPONSABILIDADE_CIVIL|
|coverage|ROUBO|
|coverage|VALORES|
|coverage|VAZAMENTO|
|coverage|VENDAVAL|
|coverage|ALAGAMENTO|
|coverage|TUMULTO|
|coverage|OUTRAS|

<h2 id="tocS_CondominiumPropertyType">CondominiumPropertyType</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumpropertytype"></a>
<a id="schema_CondominiumPropertyType"></a>
<a id="tocScondominiumpropertytype"></a>
<a id="tocscondominiumpropertytype"></a>

```json
[
  {
    "insuredPropertyType": "CONDOMINIO_RESIDENCIAL",
    "structuringType": "CONDOMINIO_HORIZONTAL"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|insuredPropertyType|string|true|none|none|
|structuringType|string|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|insuredPropertyType|CONDOMINIO_RESIDENCIAL|
|insuredPropertyType|CONDOMINIO_COMERCIAL|
|insuredPropertyType|CONDOMINIO_MISTOS|
|structuringType|CONDOMINIO_HORIZONTAL|
|structuringType|CONDOMINIO_VERTICAL|
|structuringType|MISTO|

<h2 id="tocS_CondominiumAssistanceServices">CondominiumAssistanceServices</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumassistanceservices"></a>
<a id="schema_CondominiumAssistanceServices"></a>
<a id="tocScondominiumassistanceservices"></a>
<a id="tocscondominiumassistanceservices"></a>

```json
[
  {
    "assistanceServices": true,
    "assistanceServicesPackage": [
      "ATE_10_SERVICOS"
    ],
    "complementaryAssistanceServicesDetail": "reboque pane seca",
    "chargeTypeSignaling": "GRATUITO"
  }
]

```

Agrupamento dos serviços de assistências disponíveis vinculado ao produto.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|assistanceServices|boolean|true|none|Indicação se o produto possui serviços de assistências complementares.|
|assistanceServicesPackage|[string]|false|none|none|
|complementaryAssistanceServicesDetail|string|false|none|Campo livre para descrição dos serviços ofertados por cada sociedade participante, contendo minimamente cada um dos serviços assistenciais complementares oferecidos e se o pacote se trata de uma cobertura de assistência securitária ou se serviços de assistência|
|chargeTypeSignaling|string|false|none|Indicação se o pacote de Assistência é gratuita ou contratada/paga.|

#### Enumerated Values

|Property|Value|
|---|---|
|chargeTypeSignaling|GRATUITO|
|chargeTypeSignaling|PAGO|

<h2 id="tocS_CondominiumValidity">CondominiumValidity</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumvalidity"></a>
<a id="schema_CondominiumValidity"></a>
<a id="tocScondominiumvalidity"></a>
<a id="tocscondominiumvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_CondominiumPremiumPayment">CondominiumPremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumpremiumpayment"></a>
<a id="schema_CondominiumPremiumPayment"></a>
<a id="tocScondominiumpremiumpayment"></a>
<a id="tocscondominiumpremiumpayment"></a>

```json
[
  {
    "paymentMethod": "CARTAO_DE_CREDITO",
    "paymentDetail": "string",
    "paymentType": [
      "A_VISTA"
    ],
    "premiumRates": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|string|true|none|Metodo de pagamento|
|paymentDetail|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Meio de pagamento (acima)|
|paymentType|[string]|true|none|Forma de pagamento|
|premiumRates|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas, nos termos do Anexo III|

#### Enumerated Values

|Property|Value|
|---|---|
|paymentMethod|CARTAO_DE_CREDITO|
|paymentMethod|CARTAO_DE_DEBITO|
|paymentMethod|DEBITO_EM_CONTA_CORRENTE|
|paymentMethod|DEBITO_EM_CONTA_POUPANCA|
|paymentMethod|BOLETO_BANCARIO|
|paymentMethod|PIX|
|paymentMethod|CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO|
|paymentMethod|PONTOS_DE_PROGRAMA_DE_BENEFICIO|
|paymentMethod|OUTROS|

<h2 id="tocS_CondominiumTerms">CondominiumTerms</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumterms"></a>
<a id="schema_CondominiumTerms"></a>
<a id="tocScondominiumterms"></a>
<a id="tocscondominiumterms"></a>

```json
{
  "susepProcessNumber": "15414.622222/2222-22",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_CondominiumMinimumRequirements">CondominiumMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumminimumrequirements"></a>
<a id="schema_CondominiumMinimumRequirements"></a>
<a id="tocScondominiumminimumrequirements"></a>
<a id="tocscondominiumminimumrequirements"></a>

```json
{
  "contractType": [
    "COLETIVO"
  ],
  "minimumRequirementDetails": "string",
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractType|[string]|true|none|none|
|minimumRequirementDetails|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|
|targetAudiences|[string]|true|none|none|

<h2 id="tocS_CondominiumCoverageAttributes">CondominiumCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumcoverageattributes"></a>
<a id="schema_CondominiumCoverageAttributes"></a>
<a id="tocScondominiumcoverageattributes"></a>
<a id="tocscondominiumcoverageattributes"></a>

```json
{
  "maxLMI": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "insuredParticipation": [
    "POS"
  ],
  "insuredParticipationDescription": "string"
}

```

Informações de cobertura do Seguro Residencial.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[CondominiumCoverageAttributesDetails](#schemacondominiumcoverageattributesdetails)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|
|insuredParticipation|[string]|true|none|Lista com indicativo do tipo de participação do segurado para cada cobertura.|
|insuredParticipationDescription|string|false|none|Lista com descrição referente ao campo “Participação do Segurado” para cada cobertura.|

<h2 id="tocS_CondominiumCoverageAttributesDetails">CondominiumCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumcoverageattributesdetails"></a>
<a id="schema_CondominiumCoverageAttributesDetails"></a>
<a id="tocScondominiumcoverageattributesdetails"></a>
<a id="tocscondominiumcoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[CondominiumCoverageAttributesDetailsUnit](#schemacondominiumcoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_CondominiumCoverageAttributesDetailsUnit">CondominiumCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumcoverageattributesdetailsunit"></a>
<a id="schema_CondominiumCoverageAttributesDetailsUnit"></a>
<a id="tocScondominiumcoverageattributesdetailsunit"></a>
<a id="tocscondominiumcoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_CondominiumCoverageAttributesPercentageDetails">CondominiumCoverageAttributesPercentageDetails</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumcoverageattributespercentagedetails"></a>
<a id="schema_CondominiumCoverageAttributesPercentageDetails"></a>
<a id="tocScondominiumcoverageattributespercentagedetails"></a>
<a id="tocscondominiumcoverageattributespercentagedetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "%",
    "description": "PERCENTUAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[CondominiumCoverageAttributesPercentageDetailsUnit](#schemacondominiumcoverageattributespercentagedetailsunit)|true|none|none|

<h2 id="tocS_CondominiumCoverageAttributesPercentageDetailsUnit">CondominiumCoverageAttributesPercentageDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemacondominiumcoverageattributespercentagedetailsunit"></a>
<a id="schema_CondominiumCoverageAttributesPercentageDetailsUnit"></a>
<a id="tocScondominiumcoverageattributespercentagedetailsunit"></a>
<a id="tocscondominiumcoverageattributespercentagedetailsunit"></a>

```json
{
  "code": "%",
  "description": "PERCENTUAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|

