<h2 id="tocS_ResponseStopLossList">ResponseStopLossList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsestoplosslist"></a>
<a id="schema_ResponseStopLossList"></a>
<a id="tocSresponsestoplosslist"></a>
<a id="tocsresponsestoplosslist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "STOP_LOSS",
                  "coverageDescription": "string",
                  "coverageAttributes": {
                    "maxLMI": {}
                  },
                  "allowApartPurchase": true
                }
              ],
              "traits": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumRates": [
                "string"
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414.622222/2222-22",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[StopLossBrand](#schemastoplossbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_StopLossBrand">StopLossBrand</h2>
<!-- backwards compatibility -->
<a id="schemastoplossbrand"></a>
<a id="schema_StopLossBrand"></a>
<a id="tocSstoplossbrand"></a>
<a id="tocsstoplossbrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "STOP_LOSS",
              "coverageDescription": "string",
              "coverageAttributes": {
                "maxLMI": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "allowApartPurchase": true
            }
          ],
          "traits": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumRates": [
            "string"
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414.622222/2222-22",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[StopLossCompany](#schemastoplosscompany)|true|none|none|

<h2 id="tocS_StopLossCompany">StopLossCompany</h2>
<!-- backwards compatibility -->
<a id="schemastoplosscompany"></a>
<a id="schema_StopLossCompany"></a>
<a id="tocSstoplosscompany"></a>
<a id="tocsstoplosscompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "STOP_LOSS",
            "coverageDescription": "string",
            "coverageAttributes": {
              "maxLMI": {
                "amount": 0,
                "unit": {
                  "code": "R$",
                  "description": "REAL"
                }
              }
            },
            "allowApartPurchase": true
          }
        ],
        "traits": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumRates": [
          "string"
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414.622222/2222-22",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[StopLossProduct](#schemastoplossproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_StopLossProduct">StopLossProduct</h2>
<!-- backwards compatibility -->
<a id="schemastoplossproduct"></a>
<a id="schema_StopLossProduct"></a>
<a id="tocSstoplossproduct"></a>
<a id="tocsstoplossproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "STOP_LOSS",
        "coverageDescription": "string",
        "coverageAttributes": {
          "maxLMI": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          }
        },
        "allowApartPurchase": true
      }
    ],
    "traits": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumRates": [
      "string"
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414.622222/2222-22",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|false|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.12 do Anexo II|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[StopLossCoverageAttributes](#schemastoplosscoverageattributes)|false|none|Informações de cobertura do Seguro.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|validity|[StopLossValidity](#schemastoplossvalidity)|true|none|none|
|premiumRates|[string]|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas|
|termsAndConditions|[StopLossTerms](#schemastoplossterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[StopLossMinimumRequirements](#schemastoplossminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|STOP_LOSS|
|coverage|OUTRAS|

<h2 id="tocS_StopLossValidity">StopLossValidity</h2>
<!-- backwards compatibility -->
<a id="schemastoplossvalidity"></a>
<a id="schema_StopLossValidity"></a>
<a id="tocSstoplossvalidity"></a>
<a id="tocsstoplossvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_StopLossTerms">StopLossTerms</h2>
<!-- backwards compatibility -->
<a id="schemastoplossterms"></a>
<a id="schema_StopLossTerms"></a>
<a id="tocSstoplossterms"></a>
<a id="tocsstoplossterms"></a>

```json
{
  "susepProcessNumber": "15414.622222/2222-22",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_StopLossMinimumRequirements">StopLossMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemastoplossminimumrequirements"></a>
<a id="schema_StopLossMinimumRequirements"></a>
<a id="tocSstoplossminimumrequirements"></a>
<a id="tocsstoplossminimumrequirements"></a>

```json
{
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|targetAudiences|[string]|true|none|Público-alvo|

<h2 id="tocS_StopLossCoverageAttributes">StopLossCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemastoplosscoverageattributes"></a>
<a id="schema_StopLossCoverageAttributes"></a>
<a id="tocSstoplosscoverageattributes"></a>
<a id="tocsstoplosscoverageattributes"></a>

```json
{
  "maxLMI": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[StopLossCoverageAttributesDetails](#schemastoplosscoverageattributesdetails)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|

<h2 id="tocS_StopLossCoverageAttributesDetails">StopLossCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemastoplosscoverageattributesdetails"></a>
<a id="schema_StopLossCoverageAttributesDetails"></a>
<a id="tocSstoplosscoverageattributesdetails"></a>
<a id="tocsstoplosscoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[StopLossCoverageAttributesDetailsUnit](#schemastoplosscoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_StopLossCoverageAttributesDetailsUnit">StopLossCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemastoplosscoverageattributesdetailsunit"></a>
<a id="schema_StopLossCoverageAttributesDetailsUnit"></a>
<a id="tocSstoplosscoverageattributesdetailsunit"></a>
<a id="tocsstoplosscoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_StopLossCoverageAttributesPercentageDetails">StopLossCoverageAttributesPercentageDetails</h2>
<!-- backwards compatibility -->
<a id="schemastoplosscoverageattributespercentagedetails"></a>
<a id="schema_StopLossCoverageAttributesPercentageDetails"></a>
<a id="tocSstoplosscoverageattributespercentagedetails"></a>
<a id="tocsstoplosscoverageattributespercentagedetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "%",
    "description": "PERCENTUAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[StopLossCoverageAttributesPercentageDetailsUnit](#schemastoplosscoverageattributespercentagedetailsunit)|true|none|none|

<h2 id="tocS_StopLossCoverageAttributesPercentageDetailsUnit">StopLossCoverageAttributesPercentageDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemastoplosscoverageattributespercentagedetailsunit"></a>
<a id="schema_StopLossCoverageAttributesPercentageDetailsUnit"></a>
<a id="tocSstoplosscoverageattributespercentagedetailsunit"></a>
<a id="tocsstoplosscoverageattributespercentagedetailsunit"></a>

```json
{
  "code": "%",
  "description": "PERCENTUAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|

