<h2 id="tocS_CreateQuoteNotification">CreateQuoteNotification</h2>
<!-- backwards compatibility -->
<a id="schemacreatequotenotification"></a>
<a id="schema_CreateQuoteNotification"></a>
<a id="tocScreatequotenotification"></a>
<a id="tocscreatequotenotification"></a>

```json
{
  "data": {
    "consentId": "urn:initiator:C1DD93123",
    "status": "ACPT"
  }
}

```

Objeto contendo dados da notificação.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» consentId|[ConsentId](#schemaconsentid)|true|none|O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.  <br>Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource <br>Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN <br>seja um identificador de recurso persistente e independente da localização.  <br>Considerando a string urn:initiator:C1DD93123 como exemplo para consentId temos:<br>- o namespace(urn)<br>- o identificador associado ao namespace da instituição transmissora(initiator) <br>- o identificador específico dentro do namespace (C1DD93123).  <br>Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).|
|» status|string|true|none|Trata o status atualizado da cotação relacionada consentId específico.<br>O detalhamento do status em questão deve ser consultado junto a seguradora.<br>Descrição dos possíveis estados da cotação agora:<br>- ACPT: ACEITA - Cotação aceita pela seguradora.<br>- RJCT: REJEITADA - Cotação rejeitada pela seguradora.|

#### Enumerated Values

|Property|Value|
|---|---|
|status|ACPT|
|status|RJCT|

<h2 id="tocS_ConsentId">ConsentId</h2>
<!-- backwards compatibility -->
<a id="schemaconsentid"></a>
<a id="schema_ConsentId"></a>
<a id="tocSconsentid"></a>
<a id="tocsconsentid"></a>

```json
"urn:initiator:C1DD93123"

```

O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.  
Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource 
Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN 
seja um identificador de recurso persistente e independente da localização.  
Considerando a string urn:initiator:C1DD93123 como exemplo para consentId temos:
- o namespace(urn)
- o identificador associado ao namespace da instituição transmissora(initiator) 
- o identificador específico dentro do namespace (C1DD93123).  
Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.  <br>Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource <br>Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN <br>seja um identificador de recurso persistente e independente da localização.  <br>Considerando a string urn:initiator:C1DD93123 como exemplo para consentId temos:<br>- o namespace(urn)<br>- o identificador associado ao namespace da instituição transmissora(initiator) <br>- o identificador específico dentro do namespace (C1DD93123).  <br>Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).|

<h2 id="tocS_ResponseErrornotifi">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|meta|[Meta](#schemametanotifi)|false|none|Meta informações referente à API requisitada.|

<h2 id="tocS_Metanotifi">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametanotifi"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 1,
  "totalPages": 1,
  "requestDateTime": "2021-05-21T08:30:00Z"
}

```

Meta informações referente à API requisitada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer(int32)|true|none|Número total de registros no resultado|
|totalPages|integer(int32)|true|none|Número total de páginas no resultado|
|requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), formato UTC.|

