<h2 id="tocS_reportBody">reportBody</h2>
<!-- backwards compatibility -->
<a id="schemareportbody"></a>
<a id="schema_reportBody"></a>
<a id="tocSreportbody"></a>
<a id="tocsreportbody"></a>

```json
{
  "reportId": "d12eid123d123dnodn2i3",
  "fapiInteractionId": "731d7aa0-09c3-4fa5-b024-905934d794e7",
  "endpoint": "/open-insurance/insurance-rural/v1/{policyId}/claim",
  "url": "/open-insurance/insurance-rural/v1/12345/claim",
  "statusCode": 200,
  "httpMethod": "GET",
  "correlationId": "577869e5-4c63-4b19-9235-a18d22c80986",
  "additionalInfo": {
    "consentId": "urn:bancoex:C1DD33123"
  },
  "timestamp": "2022-11-07T17:26:32Z",
  "processTimespan": "120",
  "clientOrgId": "1fb79963-4bff-4204-9370-93aceb8a2f0d",
  "clientSSId": "2a59c2a3-529f-41c6-97e3-77395e9951ca",
  "serverOrgId": "ff66b95a-d817-4fbe-949a-c5912e240189",
  "serverASId": "f8cd7b48-197d-419b-8680-f42226111b6f",
  "endpointUriPrefix": "https://openbanking.instituicao.com.br"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|reportId|string|false|none|none|
|fapiInteractionId|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122).|
|endpoint|string|false|none|none|
|url|string|false|none|none|
|statusCode|integer|false|none|none|
|httpMethod|string|false|none|none|
|correlationId|string|false|none|none|
|additionalInfo|object|false|none|none|
|» consentId|string|false|none|O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.<br>Um URN, conforme definido na RFC8141 é um Uniform Resource Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN seja um identificador de recurso persistente e independente da localização.<br>Considerando a string urn:bancoex:C1DD33123 como exemplo para consentId temos:<br><br>o namespace(urn)<br>o identificador associado ao namespace da instituição transnmissora (bancoex)<br>o identificador específico dentro do namespace (C1DD33123).<br>Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na RFC8141.|
|timestamp|string(date-time)|false|none|Data e hora envio ou recebimento da requisição. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format).|
|processTimespan|integer|false|none|Tempo de processamento da requisição. Deverá ser informado em milliseconds.|
|clientOrgId|string|false|none|Id da organização do cliente. Opcional para endpoints de fase 1.<br><br>Restrição: obrigatório para os endpoints com exceção da fase 1.|
|clientSSId|string|false|none|Id do Software Statement do cliente. Opcional para endpoints de fase 1.<br><br>Restrição: obrigatório para os endpoints com exceção da fase 1.|
|serverOrgId|string|false|none|Id da organização do servidor|
|serverASId|string|false|none|Id do Authorization Server do servidor|
|endpointUriPrefix|string(uri)|false|none|Base do URL da requisição|

#### Enumerated Values

|Property|Value|
|---|---|
|endpoint|/register|
|endpoint|/token|
|endpoint|/open-insurance/channels/v1/branches|
|endpoint|/open-insurance/channels/v1/electronic-channels|
|endpoint|/open-insurance/channels/v1/intermediary/{countrySubDivision}|
|endpoint|/open-insurance/channels/v1/phone-channels|
|endpoint|/open-insurance/channels/v1/referenced-network/{countrySubDivision}/{serviceType}|
|endpoint|/open-insurance/products-services/v1/assistance-general-assets|
|endpoint|/open-insurance/products-services/v1/auto-extended-warranty|
|endpoint|/open-insurance/products-services/v1/auto-insurance/{commercializationArea}/{fipeCode}/{year}|
|endpoint|/open-insurance/products-services/v1/business|
|endpoint|/open-insurance/products-services/v1/capitalization-title|
|endpoint|/open-insurance/products-services/v1/condominium|
|endpoint|/open-insurance/products-services/v1/cyber-risk|
|endpoint|/open-insurance/products-services/v1/directors-officers-liability|
|endpoint|/open-insurance/products-services/v1/domestic-credit|
|endpoint|/open-insurance/products-services/v1/engineering|
|endpoint|/open-insurance/products-services/v1/environmental-liability|
|endpoint|/open-insurance/products-services/v1/equipment-breakdown|
|endpoint|/open-insurance/products-services/v1/errors-omissions-liability|
|endpoint|/open-insurance/products-services/v1/export-credit|
|endpoint|/open-insurance/products-services/v1/extended-warranty|
|endpoint|/open-insurance/products-services/v1/financial-risk|
|endpoint|/open-insurance/products-services/v1/general-liability|
|endpoint|/open-insurance/products-services/v1/global-banking|
|endpoint|/open-insurance/products-services/v1/home-insurance/commercializationArea/{commercializationArea}|
|endpoint|/open-insurance/products-services/v1/housing|
|endpoint|/open-insurance/products-services/v1/life-pension|
|endpoint|/open-insurance/products-services/v1/lost-profit|
|endpoint|/open-insurance/products-services/v1/named-operational-risks|
|endpoint|/open-insurance/products-services/v1/pension-plan|
|endpoint|/open-insurance/products-services/v1/person|
|endpoint|/open-insurance/products-services/v1/private-guarantee|
|endpoint|/open-insurance/products-services/v1/public-guarantee|
|endpoint|/open-insurance/products-services/v1/rent-guarantee|
|endpoint|/open-insurance/products-services/v1/rural|
|endpoint|/open-insurance/products-services/v1/stop-loss|
|endpoint|/open-insurance/products-services/v1/transport|
|endpoint|/open-insurance/consents/v1/|
|endpoint|/open-insurance/consents/v1/{consentId}|
|endpoint|/open-insurance/resources/v1/|
|endpoint|/open-insurance/customers/v1/personal/identifications|
|endpoint|/open-insurance/customers/v1/personal/qualifications|
|endpoint|/open-insurance/customers/v1/personal/complimentary-information|
|endpoint|/open-insurance/customers/v1/business/identifications|
|endpoint|/open-insurance/customers/v1/business/qualifications|
|endpoint|/open-insurance/customers/v1/business/complimentary-information|
|endpoint|/open-insurance/insurance-acceptance-and-branches-abroad/v1/|
|endpoint|/open-insurance/insurance-acceptance-and-branches-abroad/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-acceptance-and-branches-abroad/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-acceptance-and-branches-abroad/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-auto/v1/|
|endpoint|/open-insurance/insurance-auto/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-auto/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-auto/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-financial-risk/v1/|
|endpoint|/open-insurance/insurance-financial-risk/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-financial-risk/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-financial-risk/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-patrimonial/v1/|
|endpoint|/open-insurance/insurance-patrimonial/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-patrimonial/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-patrimonial/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-responsibility/v1/|
|endpoint|/open-insurance/insurance-responsibility/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-responsibility/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-responsibility/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-rural/v1/|
|endpoint|/open-insurance/insurance-rural/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-rural/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-rural/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-housing/v1/|
|endpoint|/open-insurance/insurance-housing/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-housing/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-housing/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-transport/v1/|
|endpoint|/open-insurance/insurance-transport/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-transport/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-transport/v1/{policyId}/claim|
|endpoint|/open-insurance/claim-notification/v1/request/damage/{consentId}|
|endpoint|/open-insurance/claim-notification/v1/request/person/{consentId}|
|endpoint|/open-insurance/endorsement/v1/request/{consentId}|
|endpoint|/open-insurance/quote-patrimonial/v1/lead/request|
|endpoint|/open-insurance/quote-patrimonial/v1/lead/request/{consentId}|
|endpoint|/open-insurance/quote-patrimonial/v1/home/request/{consentId}/quote-status|
|endpoint|/open-insurance/quote-patrimonial/v1/home/request|
|endpoint|/open-insurance/quote-patrimonial/v1/home/request/{consentId}|
|endpoint|/open-insurance/quote-patrimonial/v1/condominium/request/{consentId}/quote-status|
|endpoint|/open-insurance/quote-patrimonial/v1/condominium/request|
|endpoint|/open-insurance/quote-patrimonial/v1/condominium/request/{consentId}|
|endpoint|/open-insurance/quote-patrimonial/v1/business/request/{consentId}/quote-status|
|endpoint|/open-insurance/quote-patrimonial/v1/business/request|
|endpoint|/open-insurance/quote-patrimonial/v1/business/request/{consentId}|
|endpoint|/open-insurance/quote-patrimonial/v1/diverse-risks/request/{consentId}/quote-status|
|endpoint|/open-insurance/quote-patrimonial/v1/diverse-risks/request|
|endpoint|/open-insurance/quote-patrimonial/v1/diverse-risks/request/{consentId}|
|httpMethod|GET|
|httpMethod|POST|
|httpMethod|PUT|
|httpMethod|DELETE|
|httpMethod|PATCH|

<h2 id="tocS_success">success</h2>
<!-- backwards compatibility -->
<a id="schemasuccess"></a>
<a id="schema_success"></a>
<a id="tocSsuccess"></a>
<a id="tocssuccess"></a>

```json
{
  "reportId": "7eb81ba1-9011-4c58-9d5b-1098550d2fca",
  "correlationId": "FWUCp4yOA1b87LUJpgn1Mf52wi9KEF11",
  "status": "ACCEPTED"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|reportId|string|true|none|none|
|correlationId|string|true|none|none|
|status|string|true|none|none|

<h2 id="tocS_response400">response400</h2>
<!-- backwards compatibility -->
<a id="schemaresponse400"></a>
<a id="schema_response400"></a>
<a id="tocSresponse400"></a>
<a id="tocsresponse400"></a>

```json
{
  "correlationId": "FWUCp4yOA1b87LUJpgn1Mf52wi9KEF11",
  "status": "DISCARDED",
  "message": "Missing fields: endpoint"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|correlationId|string|false|none|none|
|status|string|true|none|none|
|message|string|true|none|none|

<h2 id="tocS_response401">response401</h2>
<!-- backwards compatibility -->
<a id="schemaresponse401"></a>
<a id="schema_response401"></a>
<a id="tocSresponse401"></a>
<a id="tocsresponse401"></a>

```json
{
  "message": "Unauthorized"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_response404">response404</h2>
<!-- backwards compatibility -->
<a id="schemaresponse404"></a>
<a id="schema_response404"></a>
<a id="tocSresponse404"></a>
<a id="tocsresponse404"></a>

```json
{
  "message": "Not Found"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_response406">response406</h2>
<!-- backwards compatibility -->
<a id="schemaresponse406"></a>
<a id="schema_response406"></a>
<a id="tocSresponse406"></a>
<a id="tocsresponse406"></a>

```json
{
  "message": "Content-Type not accepted"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_response413">response413</h2>
<!-- backwards compatibility -->
<a id="schemaresponse413"></a>
<a id="schema_response413"></a>
<a id="tocSresponse413"></a>
<a id="tocsresponse413"></a>

```json
{
  "message": "Record limit exceeded"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_response415">response415</h2>
<!-- backwards compatibility -->
<a id="schemaresponse415"></a>
<a id="schema_response415"></a>
<a id="tocSresponse415"></a>
<a id="tocsresponse415"></a>

```json
{
  "message": "Unsupported media type"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_response500">response500</h2>
<!-- backwards compatibility -->
<a id="schemaresponse500"></a>
<a id="schema_response500"></a>
<a id="tocSresponse500"></a>
<a id="tocsresponse500"></a>

```json
{
  "message": "Internal Server Error"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_batchBody">batchBody</h2>
<!-- backwards compatibility -->
<a id="schemabatchbody"></a>
<a id="schema_batchBody"></a>
<a id="tocSbatchbody"></a>
<a id="tocsbatchbody"></a>

```json
{
  "organisationId": "c1ddd896-1145-4177-9b58-8a6e310557e2",
  "events": [
    {
      "fapiInteractionId": "731d7aa0-09c3-4fa5-b024-905934d794e7",
      "endpoint": "/open-insurance/insurance-rural/v1/{policyId}/claim",
      "url": "/open-insurance/insurance-rural/v1/12345/claim",
      "statusCode": 200,
      "httpMethod": "GET",
      "correlationId": "577869e5-4c63-4b19-9235-a18d22c80986",
      "additionalInfo": {
        "consentId": "urn:bancoex:C1DD33123"
      },
      "timestamp": "2022-11-07T17:26:32Z",
      "processTimespan": "120",
      "clientOrgId": "1fb79963-4bff-4204-9370-93aceb8a2f0d",
      "clientSSId": "2a59c2a3-529f-41c6-97e3-77395e9951ca",
      "serverOrgId": "ff66b95a-d817-4fbe-949a-c5912e240189",
      "serverASId": "f8cd7b48-197d-419b-8680-f42226111b6f",
      "endpointUriPrefix": "https://openbanking.instituicao.com.br"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|organisationId|string|true|none|none|
|events|[[eventBody](#schemaeventbody)]|true|none|none|

<h2 id="tocS_eventBody">eventBody</h2>
<!-- backwards compatibility -->
<a id="schemaeventbody"></a>
<a id="schema_eventBody"></a>
<a id="tocSeventbody"></a>
<a id="tocseventbody"></a>

```json
{
  "fapiInteractionId": "731d7aa0-09c3-4fa5-b024-905934d794e7",
  "endpoint": "/open-insurance/insurance-rural/v1/{policyId}/claim",
  "url": "/open-insurance/insurance-rural/v1/12345/claim",
  "statusCode": 200,
  "httpMethod": "GET",
  "correlationId": "577869e5-4c63-4b19-9235-a18d22c80986",
  "additionalInfo": {
    "consentId": "urn:bancoex:C1DD33123"
  },
  "timestamp": "2022-11-07T17:26:32Z",
  "processTimespan": "120",
  "clientOrgId": "1fb79963-4bff-4204-9370-93aceb8a2f0d",
  "clientSSId": "2a59c2a3-529f-41c6-97e3-77395e9951ca",
  "serverOrgId": "ff66b95a-d817-4fbe-949a-c5912e240189",
  "serverASId": "f8cd7b48-197d-419b-8680-f42226111b6f",
  "endpointUriPrefix": "https://openbanking.instituicao.com.br"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|fapiInteractionId|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122).<br><br>Recomendação: deve ser enviado sempre que existir,<br>seja pelo servidor que caso não receba um fapiInteractionId do<br>cliente deve gerá-lo, ou no cliente onde mesmo que não<br>envie um fapiInteractionId para o servidor irá recebe-lo na resposta.|
|endpoint|string|true|none|none|
|url|string|true|none|none|
|statusCode|integer|true|none|none|
|httpMethod|string|true|none|none|
|correlationId|string|true|none|none|
|additionalInfo|object|false|none|none|
|» consentId|string|false|none|O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.<br>Um URN, conforme definido na RFC8141 é um Uniform Resource Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN seja um identificador de recurso persistente e independente da localização.<br>Considerando a string urn:bancoex:C1DD33123 como exemplo para consentId temos:<br><br>o namespace(urn)<br>o identificador associado ao namespace da instituição transnmissora (bancoex)<br>o identificador específico dentro do namespace (C1DD33123).<br>Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na RFC8141.|
|timestamp|string(date-time)|true|none|Data e hora envio ou recebimento da requisição. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format).|
|processTimespan|integer|true|none|Tempo de processamento da requisição. Deverá ser informado em milliseconds.|
|clientOrgId|string|false|none|Id da organização do cliente. Opcional para endpoints de fase 1.<br><br>Restrição: obrigatório para os endpoints com exceção da fase 1.|
|clientSSId|string|false|none|Id do Software Statement do cliente. Opcional para endpoints de fase 1.<br><br>Restrição: obrigatório para os endpoints com exceção da fase 1.|
|serverOrgId|string|true|none|Id da organização do servidor|
|serverASId|string|true|none|Id do Authorization Server do servidor|
|endpointUriPrefix|string(uri)|false|none|Base do URL da requisição|

#### Enumerated Values

|Property|Value|
|---|---|
|endpoint|/register|
|endpoint|/token|
|endpoint|/open-insurance/channels/v1/branches|
|endpoint|/open-insurance/channels/v1/electronic-channels|
|endpoint|/open-insurance/channels/v1/intermediary/{countrySubDivision}|
|endpoint|/open-insurance/channels/v1/phone-channels|
|endpoint|/open-insurance/channels/v1/referenced-network/{countrySubDivision}/{serviceType}|
|endpoint|/open-insurance/products-services/v1/assistance-general-assets|
|endpoint|/open-insurance/products-services/v1/auto-extended-warranty|
|endpoint|/open-insurance/products-services/v1/auto-insurance/{commercializationArea}/{fipeCode}/{year}|
|endpoint|/open-insurance/products-services/v1/business|
|endpoint|/open-insurance/products-services/v1/capitalization-title|
|endpoint|/open-insurance/products-services/v1/condominium|
|endpoint|/open-insurance/products-services/v1/cyber-risk|
|endpoint|/open-insurance/products-services/v1/directors-officers-liability|
|endpoint|/open-insurance/products-services/v1/domestic-credit|
|endpoint|/open-insurance/products-services/v1/engineering|
|endpoint|/open-insurance/products-services/v1/environmental-liability|
|endpoint|/open-insurance/products-services/v1/equipment-breakdown|
|endpoint|/open-insurance/products-services/v1/errors-omissions-liability|
|endpoint|/open-insurance/products-services/v1/export-credit|
|endpoint|/open-insurance/products-services/v1/extended-warranty|
|endpoint|/open-insurance/products-services/v1/financial-risk|
|endpoint|/open-insurance/products-services/v1/general-liability|
|endpoint|/open-insurance/products-services/v1/global-banking|
|endpoint|/open-insurance/products-services/v1/home-insurance/commercializationArea/{commercializationArea}|
|endpoint|/open-insurance/products-services/v1/housing|
|endpoint|/open-insurance/products-services/v1/life-pension|
|endpoint|/open-insurance/products-services/v1/lost-profit|
|endpoint|/open-insurance/products-services/v1/named-operational-risks|
|endpoint|/open-insurance/products-services/v1/pension-plan|
|endpoint|/open-insurance/products-services/v1/person|
|endpoint|/open-insurance/products-services/v1/private-guarantee|
|endpoint|/open-insurance/products-services/v1/public-guarantee|
|endpoint|/open-insurance/products-services/v1/rent-guarantee|
|endpoint|/open-insurance/products-services/v1/rural|
|endpoint|/open-insurance/products-services/v1/stop-loss|
|endpoint|/open-insurance/products-services/v1/transport|
|endpoint|/open-insurance/consents/v1/|
|endpoint|/open-insurance/consents/v1/{consentId}|
|endpoint|/open-insurance/resources/v1/|
|endpoint|/open-insurance/customers/v1/personal/identifications|
|endpoint|/open-insurance/customers/v1/personal/qualifications|
|endpoint|/open-insurance/customers/v1/personal/complimentary-information|
|endpoint|/open-insurance/customers/v1/business/identifications|
|endpoint|/open-insurance/customers/v1/business/qualifications|
|endpoint|/open-insurance/customers/v1/business/complimentary-information|
|endpoint|/open-insurance/insurance-acceptance-and-branches-abroad/v1/|
|endpoint|/open-insurance/insurance-acceptance-and-branches-abroad/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-acceptance-and-branches-abroad/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-acceptance-and-branches-abroad/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-auto/v1/|
|endpoint|/open-insurance/insurance-auto/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-auto/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-auto/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-financial-risk/v1/|
|endpoint|/open-insurance/insurance-financial-risk/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-financial-risk/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-financial-risk/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-patrimonial/v1/|
|endpoint|/open-insurance/insurance-patrimonial/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-patrimonial/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-patrimonial/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-responsibility/v1/|
|endpoint|/open-insurance/insurance-responsibility/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-responsibility/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-responsibility/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-rural/v1/|
|endpoint|/open-insurance/insurance-rural/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-rural/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-rural/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-housing/v1/|
|endpoint|/open-insurance/insurance-housing/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-housing/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-housing/v1/{policyId}/claim|
|endpoint|/open-insurance/insurance-transport/v1/|
|endpoint|/open-insurance/insurance-transport/v1/{policyId}/policy-info|
|endpoint|/open-insurance/insurance-transport/v1/{policyId}/premium|
|endpoint|/open-insurance/insurance-transport/v1/{policyId}/claim|
|endpoint|/open-insurance/claim-notification/v1/request/damage/{consentId}|
|endpoint|/open-insurance/claim-notification/v1/request/person/{consentId}|
|endpoint|/open-insurance/endorsement/v1/request/{consentId}|
|endpoint|/open-insurance/quote-patrimonial/v1/lead/request|
|endpoint|/open-insurance/quote-patrimonial/v1/lead/request/{consentId}|
|endpoint|/open-insurance/quote-patrimonial/v1/home/request/{consentId}/quote-status|
|endpoint|/open-insurance/quote-patrimonial/v1/home/request|
|endpoint|/open-insurance/quote-patrimonial/v1/home/request/{consentId}|
|endpoint|/open-insurance/quote-patrimonial/v1/condominium/request/{consentId}/quote-status|
|endpoint|/open-insurance/quote-patrimonial/v1/condominium/request|
|endpoint|/open-insurance/quote-patrimonial/v1/condominium/request/{consentId}|
|endpoint|/open-insurance/quote-patrimonial/v1/business/request/{consentId}/quote-status|
|endpoint|/open-insurance/quote-patrimonial/v1/business/request|
|endpoint|/open-insurance/quote-patrimonial/v1/business/request/{consentId}|
|endpoint|/open-insurance/quote-patrimonial/v1/diverse-risks/request/{consentId}/quote-status|
|endpoint|/open-insurance/quote-patrimonial/v1/diverse-risks/request|
|endpoint|/open-insurance/quote-patrimonial/v1/diverse-risks/request/{consentId}|
|httpMethod|GET|
|httpMethod|POST|
|httpMethod|PUT|
|httpMethod|DELETE|
|httpMethod|PATCH|

