---
title: v1.0.2 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Isurance Brasil</a>

search: false
---

# v1.0.2 Release Notes

Release Notes para a v1.0.2 do projeto [Open Isurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Isurance Brasil.

## Métricas (admin)

| Mudança | Descrição | 
|---------|-----------|------|
| uptimeRate | Pattern de validação com o formato "0.00"
| generalUptimeRate | Pattern de validação com o formato "0.00" 

## Canais de Atendimento Eletrônico (electronic-channels)

| Mudança | Descrição | 
|---------|-----------|------|
| openingTime | Pattern de validação com o formato "00:00:00Z"
| closingTime | Pattern de validação com o formato "00:00:00Z"
| electronicChannels | Aumento da quantidade máxima de itens que podem ser registrados no campo, de 4 para 99

## Capitalização (capitalization-title)

| Mudança | Descrição | 
|---------|-----------|------|
| products | Alteração da grafia do campo contendo a lista de produtos da Instituição Financeira, de product para products
| updateIndexOthers | Alteração da grafia do campo referente à opção 'outros' do índice utilizado na correção que remunera a provisão matemática para capitalização, de others para updateIndexOthers
| earlyRedemption | Inclusão dos elementos quota e percentage ao campo referente ao resgate do capital constituído antes do fim do prazo de vigência do título
  
## Seguro de Pessoas (person)

| Mudança | Descrição | 
|---------|-----------|------|
| pmbacUpdateIndex | Campo tornado obrigatório apenas para regimes de capitalização
| reclaimTable | Campo tornado obrigatório apenas para regimes de capitalização

## Previdência com Cobertura de Risco (pension-plan)

| Mudança | Descrição | 
|---------|-----------|------|
| pmbacUpdateIndex | Campo tornado obrigatório apenas para regimes de capitalização
| pmbacUpdateIndex | Opção "FINANCEIRA" no enum updateIndex corrigida para "IPCA (IBGE)"
| reclaimTable | Campo tornado obrigatório apenas para regimes de capitalização

## Previdência com Cobertura por Sobrevivência (life-pension)

| Mudança | Descrição | 
|---------|-----------|------|
| investimentFunds | Removidos os atributos de regra de eligibilidade, valor mínimo de provisão e valor mínimo de contribuição para a fase de Concessão
| investimentFunds | Campo tornado obrigatório apenas quando houver reversão de resultado
| updateIndex | Incluída opção NAO_SE_APLICA ao enum updateIndex para a fase de Diferimento
| contractType | Alteração do limite máximo de caracteres do campo Tipo de Contratação, referente aos Requisitos Mínimos de Contratação para 19

## Automóvel (auto-insurance)

| Mudança | Descrição | 
|---------|-----------|------|
| coveragePermissionSeparteAcquisition | Campo passou a ser obrigatório