---
title: v1.2.5 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='https://br-openinsurance.github.io/areadesenvolvedor/#introducao'>Open Insurance Brasil</a>

search: false
---

# v1.2.5 15/07/2022 Release Notes

Release Notes para a v1.2.5 15/07/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Disponibilização Das Swaggers

| Descrição |
|-----------|-----------|
| Inclusão das seguintes APIs: Dados Cadastrais (customers), Consentimento (consents), Resources (resources), Aceitação e Sucursal no Exterior (insurance-acceptance-and-branches-abroad), Aeronáuticos (insurance-aviation), Automóvel (insurance-auto), Marítimos (insurance-nautical), Nucleares (insurance-nuclear), Patrimonial (insurance-patrimonial), Petróleo (insurance-petroleum), Responsabilidade (insurance-responsibility), Riscos Financeiros (insurance-financial-risk), Rural (insurance-rural)