---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='https://br-openinsurance.github.io/areadesenvolvedor/#introducao'>Open Insurance Brasil</a>

search: false
---

# v1.2.6 22/08/2022 Release Notes

Release Notes v1.2.6 22/08/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

<h2 id="automovel-auto-insurance-v1.2.0">Automóvel (auto-insurance v1.2.0)</h2>

| <div style="width: 200px">Campo</div> | <div style="width: 517px">Descrição</div> |
|-------|-----------|
| coverage | Removido duplicidade do enum "PEQUENOS_REPAROS" |
| AutoInsuranceBrand | Alterado o nome para "brand" |
| products | Removido propriedades type e description |
| paymentTypee | Alterado para “paymentType” |
| additional | Corrigido exemplo "SORTEIO_GRATUITO" |
| customerService | Corrigido exemplo "REDE_REFERENCIADA" |
| paymentMethod | Corrigido exemplo "CARTAO_CREDITO" |
| model | Aumento do tamanho do campo para 80 caracteres |
| Retorno http | Incluso retorno 422 - UnprocessableEntity |
| commercializationArea | Alterado campo de integer para string |
| URL de contato | Alterado para "https://openinsurance.susep.gov.br" |
| Retorno default | Estruturado retorno |
| Estrutura de dados | "Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |

<h2 id="branches-data_channels-v1.2.0">Branches (data_channels v1.2.0)</h2>

| <div style="width: 200px">Campo</div> | <div style="width: 517px">Descrição</div> |
|-------|-----------|
| Estrutura de dados |	"Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |

<h2 id="canais-eletronicos-data_channels-v1.2.0">Canais Eletrônicos (data_channels v1.2.0)</h2>

| <div style="width: 200px">Campo</div> | <div style="width: 517px">Descrição</div> |
|-------|-----------|
| Estrutura de dados |	"Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |
| services | Correção enum "ALTERACOES_FORMA_PAGAMENTO" |

<h2 id="metricas-admin-metrics-v1.2.0">Métricas (admin-metrics v1.2.0)</h2>

| <div style="width: 200px">Campo</div> | <div style="width: 517px">Descrição</div> |
|-------|-----------|
| requestTime |	Pattern de validação com o formato "^((?:(\d{4}-\d{2}-\d{2})T(\d{2}:\d{2}:\d{2}(?:\.\d+)?))(Z|[\+-]\d{2}:\d{2})?)$" obrigatório |

<h2 id="pessoas-person-v1.2.0">Pessoas (person v1.2.0)</h2>

| <div style="width: 200px">Campo</div> | <div style="width: 517px">Descrição</div> |
|-------|-----------|
| minCoverageGroupRequired | Removido obrigatoriedade do campo |
| coverageGroup | Removido obrigatoriedade do campo |
| currency | Removido duplicidades do enum |
| minValue | Alterado campo para Lista |
| maxValue | Alterado campo para Lista |
| Estrutura de dados | "Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |
| Retorno http | Incluso retorno 422 - UnprocessableEntity |
| URL de contato | Alterado para "https://openinsurance.susep.gov.br" |
| Retorno default | Estruturado retorno |

<h2 id="previdencia-com-cobertura-por-sobrevivencia-life-pension-v1.2.0">Previdência com cobertura por sobrevivência (life-pension v1.2.0)</h2>

| <div style="width: 200px">Campo</div> | <div style="width: 517px">Descrição</div> |
|-------|-----------|
| minimumContributionAmount |	Aumento do tamanho do campo para 15 |
| minimumContributionValue | Criado campo Valor Mínimo de Aporte de Portabilidade. Caso a Regra de Elegibilidade SIM |

<h2 id="residencial-home-insurance-v1.1.0">Residencial (home-insurance v1.1.0)</h2>

| <div style="width: 200px">Campo</div> | <div style="width: 517px">Descrição</div> |
|-------|-----------|
| Microsseguros |	Incluso campo de microsseguros |
| Retorno http |	Incluso retorno 422 - UnprocessableEntity |
| URL de contato |	Alterado para "https://openinsurance.susep.gov.br" |
| commercializationArea |	Alterado campo de integer para string |
| customerServices |	Corrigido exemplo "LIVRE_ESCOLHA" |
| paymentMethod |	Corrigido exemplo "CARTAO_CREDITO" |

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>