---
title: v.1.2.3 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='https://br-openinsurance.github.io/areadesenvolvedor/#introducao'>Open Insurance Brasil</a>

search: false
---

# v.1.2.3 06/04/2022 Release Notes

Release Notes para a v.1.2.3 06/04/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Swaggers

| Mudança |   Campo   | Descrição |
|---------|-----------|-----------|
| Assistência - Bens em Geral (Assistance General Assets) |  validity |  Campo transformado em array |
| Assistência - Bens em Geral (Assistance General Assets) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Compreensivo Condomínio (Condominium) |  validity |  Campo transformado em array|
| Compreensivo Condomínio (Condominium) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Compreensivo Empresarial (Business) |  validity |  Campo transformado em array|
| Compreensivo Empresarial (Business) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Compreensivo Risco Cibernético (Cyber Risk) |  validity |  Campo transformado em array|
| Compreensivo Risco Cibernético (Cyber Risk) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Compreensivo Risco Cibernético (Cyber Risk) |  maxLA |  Campo incluído ao swagger|
| Crédito a Exportação (Export Credit) |  validity |  Campo transformado em array|
| Crédito a Exportação (Export Credit) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Crédito Interno (Domestic Credit) |  validity |  Campo transformado em array|
| Crédito Interno (Domestic Credit) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Fiança Locatícia (Rent Guarantee) |  validity |  Campo transformado em array|
| Fiança Locatícia (Rent Guarantee) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Garantia Estendida - Automóveis (Auto Extended Warranty) |  validity |  Campo transformado em array|
| Garantia Estendida - Automóveis (Auto Extended Warranty) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Garantia Estendida - Bens em Geral (Extended Warranty) |  validity |  Campo transformado em array|
| Garantia Estendida - Bens em Geral (Extended Warranty) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Garantia Segurado - Setor Privado (Private Guarantee) |  validity |  Campo transformado em array|
| Garantia Segurado - Setor Privado (Private Guarantee) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Garantia Segurado - Setor Público (Public Guarantee) |  validity |  Campo transformado em array|
| Garantia Segurado - Setor Público (Public Guarantee) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Global de Bancos (Global Banking) |  validity |  Campo transformado em array|
| Global de Bancos (Global Banking) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Lucros Cessantes (Lost Profit) |  validity |  Campo transformado em array|
| Lucros Cessantes (Lost Profit) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| RC D&O (Directors Officers Liability) |  validity |  Campo transformado em array|
| RC D&O (Directors Officers Liability) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| RC E&O (Errors Omissions Liability) |  validity |  Campo transformado em array|
| RC E&O (Errors Omissions Liability) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| RC Geral (General Liability) |  validity |  Campo transformado em array|
| RC Geral (General Liability) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| RC Geral (General Liability) |  maxLA |  Campo incluído ao swagger|
| RD Financeiros (Financial Risk) |  validity |  Campo transformado em array|
| RD Financeiros (Financial Risk) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Riscos Ambientais (Environmental Liability) |  validity |  Campo transformado em array|
| Riscos Ambientais (Environmental Liability) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Riscos de Engenharia (Engineering) |  validity |  Campo transformado em array|
| Riscos de Engenharia (Engineering) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Riscos Diversos (Equipment Breakdown) |  validity |  Campo transformado em array|
| Riscos Diversos (Equipment Breakdown) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Riscos Nomeados e Operacionais (Named Operational Risks) |  validity |  Campo transformado em array|
| Riscos Nomeados e Operacionais (Named Operational Risks) |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|
| Stop Loss |  validity |  Campo transformado em array|
| Stop Loss |  allowApartPurchase |  Granularidade alterada para o nível de Cobertura ao invés do nível de Produto|