---
title: v1.2.5 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Insurance Brasil</a>

search: false
---

# v1.2.5 Release Notes

Release Notes para a v1.2.5 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Automóvel (auto-insurance v1.2.0)

| Campo | Descrição |
|-------|-----------|
| coverage	Removido duplicidade do enum "PEQUENOS_REPAROS" |
| AutoInsuranceBrand |	Alterado o nome para "brand" |
| products |	Removido propriedades type e description |
| paymentTypee |	Alterado para “paymentType” |
| additional | Corrigido exemplo "SORTEIO_GRATUITO" |
| customerService |	Corrigido exemplo "REDE_REFERENCIADA" |
| paymentMethod	| Corrigido exemplo "CARTAO_CREDITO" |
| model	| Aumento do tamanho do campo para 80 caracteres |
| Retorno http |	Incluso retorno 422 - UnprocessableEntity |
| commercializationArea |	Alterado campo de integer para string |
| URL de contato | Alterado para "https://openinsurance.susep.gov.br" |
| Retorno default |	Estruturado retorno |
| Estrutura de dados |	"Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |
  
## Branches (data_channels v1.2.0)

| Campo | Descrição |
|-------|-----------|
| Estrutura de dados |	"Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |

## Canais Eletrônicos (data_channels v1.2.0)

| Campo | Descrição |
|-------|-----------|
| Estrutura de dados |	"Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |
| services | Correção enum "ALTERACOES_FORMA_PAGAMENTO" |

## Métricas (admin-metrics v1.2.0)

| Campo | Descrição |
|-------|-----------|
| requestTime |	Pattern de validação com o formato "^((?:(\d{4}-\d{2}-\d{2})T(\d{2}:\d{2}:\d{2}(?:\.\d+)?))(Z|[\+-]\d{2}:\d{2})?)$" obrigatório |

## Automóvel (auto-insurance v1.2.0)

| Campo | Descrição |
|-------|-----------|
| minCoverageGroupRequired |	Removido obrigatoriedade do campo |
| coverageGroup |	Removido obrigatoriedade do campo |
| currency |	Removido duplicidades do enum |
| minValue |	Alterado campo para Lista |
| maxValue |	Alterado campo para Lista |
| Estrutura de dados |	"Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |
| Retorno http	| Incluso retorno 422 - UnprocessableEntity
| URL de contato |	Alterado para "https://openinsurance.susep.gov.br"
| Retorno default |	Estruturado retorno
  
# Previdência com cobertura por sobrevivência (life-pension v1.2.0)

| Campo | Descrição |
|-------|-----------|
| minimumContributionValue | Criado campo Valor Mínimo de Aporte de Portabilidade. Caso a Regra de Elegibilidade SIM |
| minimumContributionAmount |	Aumento do tamanho do campo para 15 |

# Residencial (home-insurance v1.1.0)

| Campo | Descrição |
|-------|-----------|
| Microsseguros |	Incluso campo de microsseguros |
| paymentMethod |	Corrigido exemplo "CARTAO_CREDITO" |
| customerServices |	Corrigido exemplo "LIVRE_ESCOLHA" |
| commercializationArea |	Alterado campo de integer para string |
| Retorno http |	Incluso retorno 422 - UnprocessableEntity |
| URL de contato |	Alterado para "https://openinsurance.susep.gov.br" |
