---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Insurance Brasil</a>

search: false
---

# v1.2.10 08/11/2022 Release Notes

Release Notes v1.2.10 08/11/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Transacional Patrimonial (insurance-patrimonial v1.2.0)


| Campo | Descrição |
|-------|-----------|
| InsurancePatrimonialInsuredObjectCoverage.code, InsurancePatrimonialCoverage.code, InsurancePatrimonialPremiumCoverage.code e InsurancePatrimonialClaimCoverage.code | Inclusão das coberturas dispostas nas tabelas II.8, II.9., II.10 e II.11 do Anexo II do Manual de Escopo de Dados. |
| InsurancePatrimonialInsuredObjectCoverage.code, InsurancePatrimonialCoverage.code, InsurancePatrimonialPremiumCoverage.code e InsurancePatrimonialClaimCoverage.code | Correção de grafia no enum de "EQUIPAMENTOS_MOVEIS_OU_ESTACIONARIOS_UTILIZADOS_NA_OBRA" para "EQUIPAMENTOS_MOVEIS_ESTACIONARIOS_UTILIZADOS_NA_OBRA" para equiparar valor à API de Engineering. |
| InsurancePatrimonialInsuredObjectCoverage.code, InsurancePatrimonialCoverage.code, InsurancePatrimonialPremiumCoverage.code e InsurancePatrimonialClaimCoverage.code | Correção de grafia no enum de "INCENDIO_APOS_O_TERMINO_DE_OBRAS_ATE_TRINTA_DIAS_EXCETO_PARA_REFORMAS_AMPLIACOES" para "INCENDIO_APOS_O_TERMINO_DE_OBRAS_ATE_30_DIAS_EXCETO_PARA_REFORMAS_AMPLIACOES" para equiparar valor à API de Engineering |
| InsurancePatrimonialInsuredObjectCoverage.code, InsurancePatrimonialCoverage.code, InsurancePatrimonialPremiumCoverage.code e InsurancePatrimonialClaimCoverage.code | Correção de grafia no enum de "MANUTENCAO_AMPLA_ATE_VINTE_E_QUATRO_MESES" para "MANUTENCAO_AMPLA_ATE_24_MESES" para equiparar valor à API de Engineering. |
| InsurancePatrimonialInsuredObjectCoverage.code, InsurancePatrimonialCoverage.code, InsurancePatrimonialPremiumCoverage.code e InsurancePatrimonialClaimCoverage.code | Correção de grafia no enum de "MANUTENCAO_SIMPLES_ATE_VINTE_E_QUATRO_MESES" para "MANUTENCAO_SIMPLES_ATE_24_MESES" para equiparar valor à API de Engineering. |
| InsurancePatrimonialInsuredObjectCoverage.code, InsurancePatrimonialCoverage.code, InsurancePatrimonialPremiumCoverage.code e InsurancePatrimonialClaimCoverage.code | Correção de grafia no enum de "OBRAS_INSTALACOES_CONTRATADAS" para "OBRAS_INSTALACOES_CONTRATADAS_ACEITAS_E_OU_COLOCADAS_EM_OPERACAO" para equiparar valor à API de Engineering. |
| InsurancePatrimonialInsuredObjectCoverage.code, InsurancePatrimonialCoverage.code, InsurancePatrimonialPremiumCoverage.code e InsurancePatrimonialClaimCoverage.code | Remoção do valor "DANOS_MATERIAIS_CAUSADOS_AOS_CAIXAS_ELETRONICOS_ATM_INFIDELIDADE_DE_FUNCIONARIOS" no enum para equiparar valor à API de Engineering e Manual de Escopo de Dados. |
| InsurancePatrimonialInsuredObjectCoverage.code, InsurancePatrimonialCoverage.code, InsurancePatrimonialPremiumCoverage.code e InsurancePatrimonialClaimCoverage.code | Inclusão dos valores "DANOS_MATERIAIS_CAUSADOS_AOS_CAIXAS_ELETRONICOS_ATM" e "INFIDELIDADE_DE_FUNCIONARIOS" no enum para equiparar valores à API de Engineering e Manual de Escopo de Dados. |
| InsurancePatrimonialInsuredObjectCoverage.code, InsurancePatrimonialCoverage.code, InsurancePatrimonialPremiumCoverage.code e InsurancePatrimonialClaimCoverage.code | Remoção de maxLength. |
| InsurancePatrimonialInsuredObjectCoverage.code, InsurancePatrimonialCoverage.code, InsurancePatrimonialPremiumCoverage.code e InsurancePatrimonialClaimCoverage.code | Remoção de duplicatas no enum.|


## engineering v1.0.1


| Campo | Descrição |
|-------|-----------|
| coverages.coverage | Inclusão dos valores "DANOS_MORAIS", "LUCROS_CESSANTES" e "FUNDACAO" no enum para equiparar valores ao Manual de Escopo de Dados. |
| coverages.coverage | Remoção de maxLength. |


## global-banking v1.0.1


| Campo | Descrição |
|-------|-----------|
| coverages.coverage | Inclusão do valor "VALORES_NO_INTERIOR_DO_ESTABELECIMENTO_DENTRO_E_OU_FORA_DE_COFRE_FORTE" no enum para equiparar valores ao Manual de Escopo de Dados |
