---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='https://br-openinsurance.github.io/areadesenvolvedor/#introducao'>Open Insurance Brasil</a>

search: false
---

# v1.2.7 15/09/2022 Release Notes

Release Notes v1.2.7 15/09/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Customers (customers v1.1.0)

### BusinessProcurator

| Campo | Descrição |
|-------|-----------|
| cpfNumber | Remoção da obrigatoriedade. Alteração da descrição. |
| civilName | Remoção da obrigatoriedade. Alteração da descrição. |
| socialName | Alteração da descrição. |

### BusinessQualificationData

#### informedRevenue

| Campo | Descrição |
|-------|-----------|
| currency | Alteração da descrição. |
| amount | Alteração da descrição. |
| year | ```maxLength``` de "20" para "4". ```format``` de "date-year" para  "date-fullyear". Alteração da descrição. |

#### informedPatrimony

| Campo | Descrição |
|-------|-----------|
| amount | Alteração da descrição. |
| year | Removido. |
| date | ```maxLength``` de "20" para "10". ```format``` de "date-year" para  "date". Adição de ```pattern```. Adição de ```exemple```. Alteração da descrição. |

### BusinessContact

| Campo | Descrição |
|-------|-----------|
| phones | Remoção da obrigatoriedade. |

### BusinessDocument

| Campo | Descrição |
|-------|-----------|
| country | Remoção da obrigatoriedade. |

### PersonalIdentificationData

#### filiation

| Campo | Descrição |
|-------|-----------|
| civilName | Remoção da obrigatoriedade. |

### PersonalProcurator

| Campo | Descrição |
|-------|-----------|
| cpfNumber | Remoção da obrigatoriedade. Alteração da descrição. |
| civilName | Remoção da obrigatoriedade. Alteração da descrição. |
| socialName | Alteração da descrição. |

### PersonalQualificationData

#### informedRevenue

| Campo | Descrição |
|-------|-----------|
| currency | Alteração da descrição. |
| year | Removido. |
| date | ```maxLength``` de "20" para "10". ```format``` de "date-year" para  "date". Adição de ```pattern```. Adição de ```exemple```. |

#### informedPatrimony

| Campo | Descrição |
|-------|-----------|
| amount | Alteração da descrição. |
| year | ```maxLength``` de "20" para "10". ```format``` de "date-year" para  "date-fullyear". Alteração da descrição. |

## Patrimonial (patrimonial v1.1.0)

### InsurancePatrimonialPolicyInfo

| Campo | Descrição |
|-------|-----------|
| documentType | Adicionado o tipo ```CERTIFICADO_AUTOMOVEL```. |
| beneficiaries | Alterada a refeência. |

### BeneficiaryInfo

Adicionado nesta versão.

#### identification

| Campo | Descrição |
|-------|-----------|
| description | "Documento de Identificação da Pessoa" |
| type | ```string``` |
| maxLength | "60" |
| example | "12345678900" |

#### identificationType

| Campo | Descrição |
|-------|-----------|
| description | "Tipo de Documento da Pessoa" |
| type | ```string``` |
| maxLength | "6" |
| enum | "CPF", "CNPJ", "OUTROS" |
| example | "CPF" |

#### name

| Campo | Descrição |
|-------|-----------|
| description | "Nome ou Razão Social da Pessoa" |
| type | ```string``` |
| maxLength | "60" |
| example | "Nome Sobrenome" |

### Intermediary

| Campo | Descrição |
|-------|-----------|
| type | Adicionado para o tipo ```object```. |
| name | Requerido a partir dessa versão. |

#### identification

| Campo | Descrição |
|-------|-----------|
| identification | Alteração de descrição |
| brokerId | Alteração de descrição |
| identificationType | Alteração de descrição |

### InsurancePatrimonialInsuredObject

| Campo | Descrição |
|-------|-----------|
| amount | Remoção da obrigatoriedade. Alteração a descrição. |
| type | Adicionado o tipo ```FROTA```. |

### Payment

| Campo | Descrição |
|-------|-----------|
| movementType | Remoção dos tipos: ```LIQUIDACAO_DE_CUSTO_DE_AQUISICAO```, ```LIQUIDACAO_DE_RESTITUICAO_DE_CUSTO_DE_AQUISICAO```, ```ESTORNO_DE_CUSTO_DE_AQUISICAO```. Adição do tipo ```CANCELAMENTO_DE_PREMIO_E_PARCELA```. |
