---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:

  - <a href="https://br-openinsurance.github.io/areadesenvolvedor/#introducao"> Open Insurance Brasil </a>


search: true
---

# v1.2.9 01/11/2022 Release Notes

Release Notes v1.2.9 01/11/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Responsabilidades (insurance-responsibility v1.1.0)


| Campo | Descrição |
|-------|-----------|
| documentType | incluso enum 'CERTIFICADO_AUTOMOVEL'. |
| BeneficiaryInfo\type | retirado campos. |
| BeneficiaryInfo\brokerId | retirado campos. |
| BeneficiaryInfo\postCode | retirado campos. |
| BeneficiaryInfo\email | retirado campos. |
| BeneficiaryInfo\city | retirado campos. |
| BeneficiaryInfo\state | retirado campos. |
| BeneficiaryInfo\country | retirado campos. |
| BeneficiaryInfo\address | retirado campos. |
| Intermediary\identification | Removido obrigatoriedade do campo e alterado descrição do campo.|
| Intermediary\identification | alterado descrição do campo.|
| Intermediary\brokerId | alterado descrição do campo.|
| Intermediary\identificationType | Removido obrigatoriedade do campo e alterado descrição do campo.|
| Intermediary\identificationType | alterado descrição do campo.|
| InsuranceResponsibilityInsuredObject\amount | Removido obrigatoriedade do campo e alterado descrição do campo.|
| InsuranceResponsibilityInsuredObject\type | incluso enum 'FROTA'.|
| InsuranceResponsibilityInsuredObject\amount | alterado descrição do campo.|
| Payment\movementType | retirado enum 'LIQUIDACAO_DE_CUSTO_DE_AQUISICAO', 'LIQUIDACAO_DE_RESTITUICAO_DE_CUSTO_DE_AQUISICAO' e 'ESTORNO_DE_CUSTO_DE_AQUISICAO'.|
| Payment\movementType | incluso enum 'CANCELAMENTO_DE_PREMIO_E_PARCELA'.|
| InsuranceResponsibilityPolicyInfo\coinsuranceRetainedPercentage | Alteração de pattern para permitir valores inteiros.|
| POS\percentage | Alteração de pattern para permitir valores inteiros.|
| Coinsurer\cededPercentage | Alteração de pattern para permitir valores inteiros.|
| AmountDetails.amount | Alteração de pattern para permitir valores inteiros.|
| InsuranceStopLossSpecificPolicyInfo\technicalSurplus | Alteração de pattern para permitir valores inteiros.|



## Riscos Financeiros (insurance-financial-risk v1.1.0)

| Campo | Descrição |
|-------|-----------|
| documentType | incluso enum 'CERTIFICADO_AUTOMOVEL'. |
| BeneficiaryInfo\type | retirado campos. |
| BeneficiaryInfo\brokerId | retirado campos. |
| BeneficiaryInfo\postCode | retirado campos .|
| BeneficiaryInfo\email | retirado campos. |
| BeneficiaryInfo\city | retirado campos .|
| BeneficiaryInfo\state | retirado campos .|
| BeneficiaryInfo\country | retirado campos .|
| BeneficiaryInfo\address | retirado campos .|
| Intermediary\identification | Removido obrigatoriedade do campo e alterado descrição do campo.|
| Intermediary\identification | alterado descrição do campo.|
| Intermediary\brokerId | alterado descrição do campo.|
| Intermediary\identificationType | Removido obrigatoriedade do campo e alterado descrição do campo.|
| Intermediary\identificationType | alterado descrição do campo.|
| InsuranceFinancialRiskInsuredObject\amount | Removido obrigatoriedade do campo e alterado descrição do campo.|
| InsuranceFinancialRiskInsuredObject\type | incluso enum 'FROTA'.|
| InsuranceFinancialRiskInsuredObject\amount | alterado descrição do campo.|
| Payment\movementType | retirado enum 'LIQUIDACAO_DE_CUSTO_DE_AQUISICAO', 'LIQUIDACAO_DE_RESTITUICAO_DE_CUSTO_DE_AQUISICAO' e 'ESTORNO_DE_CUSTO_DE_AQUISICAO'.|
| Payment\movementType | incluso enum 'CANCELAMENTO_DE_PREMIO_E_PARCELA'.|
| InsuranceStopLossSpecificPolicyInfo\identification | incluso campo string identification.|
| InsuranceFinancialRiskPolicyInfo\coinsuranceRetainedPercentage | Alteração de pattern para permitir valores inteiros.|
| POS\percentage  | Alteração de pattern para permitir valores inteiros.|
| Coinsurer\cededPercentage | Alteração de pattern para permitir valores inteiros.|
| AmountDetails.amount | Alteração de pattern para permitir valores inteiros.|
| InsuranceStopLossSpecificPolicyInfo\technicalSurplus | Alteração de pattern para permitir valores inteiros.|




## Rural (insurance-rural v1.1.0)

| Campo | Descrição |
|-------|-----------|
| documentType | incluso enum 'CERTIFICADO_AUTOMOVEL'. |
| BeneficiaryInfo\type | retirado campos. |
| BeneficiaryInfo\brokerId | retirado campos. |
| BeneficiaryInfo\postCode | retirado campos .|
| BeneficiaryInfo\email | retirado campos .|
| BeneficiaryInfo\city | retirado campos .|
| BeneficiaryInfo\state | retirado campos .|
| BeneficiaryInfo\country | retirado campos .|
| BeneficiaryInfo\address | retirado campos .|
| Intermediary\identification | Removido obrigatoriedade do campo e alterado descrição do campo.|
| Intermediary\identification | alterado descrição do campo.|
| Intermediary\brokerId | alterado descrição do campo.|
| Intermediary\identificationType | Removido obrigatoriedade do campo e alterado descrição do campo.|
| Intermediary\identificationType | alterado descrição do campo.|
| InsuranceRuralInsuredObject\amount | Removido obrigatoriedade do campo e alterado descrição do campo.|
| InsuranceRuralInsuredObject\type | incluso enum 'FROTA'.|
| InsuranceRuralInsuredObject\amount | alterado descrição do campo.|
| Payment\movementType | retirado enum 'LIQUIDACAO_DE_CUSTO_DE_AQUISICAO', 'LIQUIDACAO_DE_RESTITUICAO_DE_CUSTO_DE_AQUISICAO' e 'ESTORNO_DE_CUSTO_DE_AQUISICAO'.|
| Payment\movementType | incluso enum 'CANCELAMENTO_DE_PREMIO_E_PARCELA'.|
| InsuranceRuralSpecificClaim\surveyorIdType | retirado campos |
| InsuranceRuralSpecificClaim\surveyorId | retirado campos |
| InsuranceRuralSpecificClaim\surveyorName | retirado campos |
| InsuranceRuralPolicyInfo\coinsuranceRetainedPercentage | Alteração de pattern para permitir valores inteiros|
| POS\percentage | Alteração de pattern para permitir valores inteiros|
| Coinsurer\cededPercentage | Alteração de pattern para permitir valores inteiros|
| AmountDetails.amount | Alteração de pattern para permitir valores inteiros|
| InsuranceRuralSpecificInsuredObject\safeArea | Alteração de pattern para permitir valores inteiros|



## Automóvel (insurance-auto v1.1.0)

| Campo | Descrição |
|-------|-----------|
| documentType| incluso enum 'CERTIFICADO_AUTOMOVEL' |
| BeneficiaryInfo\type | retirado campos  |
| BeneficiaryInfo\brokerId| retirado campos  |
| BeneficiaryInfo\postCode | retirado campos |
| BeneficiaryInfo\email | retirado campos |
| BeneficiaryInfo\city | retirado campos |
| BeneficiaryInfo\state | retirado campos |
| BeneficiaryInfo\country | retirado campos |
| BeneficiaryInfo\address | retirado campos |
| Intermediary\identification | Removido obrigatoriedade do campo e alterado descrição do campo|
| Intermediary\identification | alterado descrição do campo|
| Intermediary\brokerId | alterado descrição do campo|
| Intermediary\identificationType | Removido obrigatoriedade do campo e alterado descrição do campo|
| Intermediary\identificationType | alterado descrição do campo|
| InsuranceAutoInsuredObject\amount | Removido obrigatoriedade do campo e alterado descrição do campo|
| InsuranceAutoInsuredObject\type | incluso enum 'FROTA'|
| InsuranceAutoInsuredObject\type | retirado enum 'CONTRATO', 'PROCESSO_ADMINISTRATIVO', 'PROCESSO_JUDICIAL' e 'OUTROS'|
| InsuranceAutoInsuredObject\amount | alterado descrição do campo|
| Payment\movementType | retirado enum 'LIQUIDACAO_DE_CUSTO_DE_AQUISICAO', 'LIQUIDACAO_DE_RESTITUICAO_DE_CUSTO_DE_AQUISICAO' e 'ESTORNO_DE_CUSTO_DE_AQUISICAO'|
| Payment\movementType | incluso enum 'CANCELAMENTO_DE_PREMIO_E_PARCELA'|
| InsuranceAutoPolicyInfo\coinsuranceRetainedPercentage | Alteração de pattern para permitir valores inteiros|
| InsuranceAutoPolicyInfo\bonusDiscountRate | Alteração de pattern para permitir valores inteiros|
| InsuranceAutoInsuredObjectCoverage\adjustmentRate | Alteração de pattern para permitir valores inteiros|
| InsuranceAutoInsuredObjectCoverage\partialCompensationPercentage | Alteração de pattern para permitir valores inteiros|
| InsuranceAutoInsuredObjectCoverage\percentageOverLMI| Alteração de pattern para permitir valores inteiros|
| InsuranceAutoPOS\percentage| Alteração de pattern para permitir valores inteiros|
| Coinsurer\cededPercentage | Alteração de pattern para permitir valores inteiros|
| AmountDetails.amount | Alteração de pattern para permitir valores inteiros|


## Aceitação e Sucursal no Exterior (insurance-acceptance-and-branches-abroad v1.1.0)


| Campo | Descrição |
|-------|-----------|
| documentType | incluso enum 'CERTIFICADO_AUTOMOVEL' |
| BeneficiaryInfo\type | retirado campos |
| BeneficiaryInfo\brokerId | retirado campos |
| BeneficiaryInfo\postCode | retirado campos |
| BeneficiaryInfo\email | retirado campos |
| BeneficiaryInfo\city | retirado campos |
| BeneficiaryInfo\state | retirado campos |
| BeneficiaryInfo\country | retirado campos |
| BeneficiaryInfo\address | retirado campo |
| Intermediary\identification | Removido obrigatoriedade do campo e alterado descrição do campo |
| Intermediary\identification | alterado descrição do campo |
| Intermediary\brokerId | alterado descrição do campo |
| Intermediary\identificationType | Removido obrigatoriedade do campo e alterado descrição do campo |
| Intermediary\identificationType | alterado descrição do campo |
| InsuranceAcceptanceAndBranchesAbroadInsuredObject\amount | Removido obrigatoriedade do campo e alterado descrição do campo |
| InsuranceAcceptanceAndBranchesAbroadInsuredObject\type | incluso enum 'FROTA' |
| InsuranceAcceptanceAndBranchesAbroadInsuredObject\amount | alterado descrição do campo |
| Payment\movementType | retirado enum 'LIQUIDACAO_DE_CUSTO_DE_AQUISICAO', 'LIQUIDACAO_DE_RESTITUICAO_DE_CUSTO_DE_AQUISICAO' e 'ESTORNO_DE_CUSTO_DE_AQUISICAO' |
| Payment\movementType | incluso enum 'CANCELAMENTO_DE_PREMIO_E_PARCELA' |
| AmountDetails.amount | Alteração de pattern para permitir valores inteiros |
| InsuranceAcceptanceAndBranchesAbroadPolicyInfo\coinsuranceRetainedPercentage | Alteração de pattern para permitir valores inteiros |
| POS\percentage | Alteração de pattern para permitir valores inteiros |
| Coinsurer\cededPercentage | Alteração de pattern para permitir valores inteiros |
| AmountDetails\amount | Alteração de pattern para permitir valores inteiros |

