---
title: v1.2.2 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='https://br-openinsurance.github.io/areadesenvolvedor/#introducao'>Open Insurance Brasil</a>

search: false
---

# v1.2.2 25/03/2022 Release Notes

Release Notes para a v1.2.2 25/03/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Disponibilização Das Swaggers

| Descrição |
|---------|-----------|
| Disponibilização das swaggers: Garantia Segurado - Setor Público, Global de Bancos, Stop Loss, Assistência - Bens em Geral, Compreensivo Condomínio, Compreensivo Empresarial, Crédito à Exportação, Crédito Interno, Riscos de Engenharia, Garantia Estendida - Bens em Geral, Garantia Segurado - Setor Privado, Lucros Cessantes, Riscos Ambientais, RC Geral, Riscos Diversos, RD Financeiros, Compreensivo Risco Cibernético, Riscos Nomeados e Operacionais, RC D&O, RC E&O, Fiança Locatícia