---
title: v1.2.0 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href="https://br-openinsurance.github.io/areadesenvolvedor/#introducao">Open Insurance Brasil</a>

search: false
---

# v1.2.0 07/02/2022 Release Notes

Release Notes para a v1.2.0 07/02/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Métricas (admin)

| Mudança | Descrição |
|---------|-----------|------|
| uptimeRate | Pattern de validação com o formato "0.00"
| generalUptimeRate | Pattern de validação com o formato "0.00"

## Canais de Atendimento Eletrônico (electronic-channels)

| Mudança | Descrição |
|---------|-----------|------|
| openingTime | Pattern de validação com o formato "00:00:00Z" obrigatório
| closingTime | Pattern de validação com o formato "00:00:00Z" obrigatório
| electronicChannels | Aumento da quantidade máxima de itens que podem ser registrados no campo, de 4 para 99

## Automóvel (auto-insurance)

| Mudança | Descrição |
|---------|-----------|------|
| coveragePermissionSeparteAcquisition | Campo passou a ser obrigatório

## Capitalização (capitalization-title)

| Mudança | Descrição |
|---------|-----------|------|
| products | Alteração da grafia do campo, de product para products
| updateIndexOthers | Alteração da grafia do campo, de others para updateIndexOthers
| earlyRedemption | Inclusão dos elementos quota e percentage ao campo
| raffleValue | Corrigido o formato do campo, de integer para number

## Seguro de Pessoas (person)

| Mudança | Descrição |
|---------|-----------|------|
| pmbacUpdateIndex | Campo tornado obrigatório apenas para regimes de capitalização
| reclaimTable | Campo tornado obrigatório apenas para regimes de capitalização
| minimunRequirements | Corrigida a referência ao objeto PersonMinimumRequirements

## Previdência com Cobertura de Risco (pension-plan)

| Mudança | Descrição |
|---------|-----------|------|
| pmbacUpdateIndex | Campo tornado obrigatório apenas para regimes de capitalização
| pmbacUpdateIndex | Opção "FINANCEIRA" no enum updateIndex corrigida para "IPCA (IBGE)"
| reclaimTable | Campo tornado obrigatório apenas para regimes de capitalização

## Previdência com Cobertura por Sobrevivência (life-pension)

| Mudança | Descrição |
|---------|-----------|------|
| investimentFunds | Removidos os atributos de regra de eligibilidade, valor mínimo de provisão e valor mínimo de contribuição para a fase de Concessão
| investimentFunds | Campo tornado obrigatório apenas quando houver reversão de resultado
| updateIndex | Incluída opção NAO_SE_APLICA ao enum updateIndex para a fase de Diferimento
| contractType | Alteração do limite máximo de caracteres do campo Tipo de Contratação, referente aos Requisitos Mínimos de Contratação para 19

