---
title: v1.2.4 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='https://br-openinsurance.github.io/areadesenvolvedor/#introducao'>Open Insurance Brasil</a>

search: false
---

# v1.2.4 07/06/2022 Release Notes

Release Notes para a v1.2.4 07/06/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Intermediários

| Mudança | Descrição |
|---------|-----------|
| Rota | Alteração da rota da API, de Produtos e Serviços para Canais de Atendimento |

## Rede Referenciada

| Mudança | Descrição |
|---------|-----------|
| Rota | Alteração da rota da API, de Produtos e Serviços para Canais de Atendimento |
