---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='https://br-openinsurance.github.io/areadesenvolvedor/#introducao'>Open Insurance Brasil</a>

search: false
---

# v1.2.8 24/10/2022 Release Notes

Release Notes v1.2.8 24/10/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Customers (customers v1.1.1)


| Campo | Descrição |
|-------|-----------|
| type | Remoção de maxLength. |
| informedRevenue.amount | Alteração de pattern para permitir valores inteiros. |
| informedPatrimony.amount | Alteração de pattern para permitir valores inteiros. |

## Resources (resources 1.1.0)

| Campo | Descrição |
|-------|-----------|
| Descrição da API | Remoção de comentário sobre a obrigatoriedade do campo ResourceId. |
| type | Correção de grafia em enum para "DAMAGES_AND_PEOPLE_RESPONSIBILITY". |

## Consents (consents v1.0.5)

| Campo | Descrição |
|-------|-----------|
| permissions | Correção de grafia em enum para "DAMAGES_AND_PEOPLE_FINANCIAL_RISKS_READ". |
| permissions | Remoção de maxItems. |

## Transacional Patrimonial (insurance-patrimonial v1.1.1)

| Campo | Descrição |
|-------|-----------|
| AmountDetails.amount | Alteração de pattern para permitir valores inteiros. |
| POS.percentage| Alteração de pattern para permitir valores inteiros. |
| Coinsurer.cededPercentage| Alteração de pattern para permitir valores inteiros. |
| InsurancePatrimonialPolicyInfo.coinsuranceRetainedPercentage | Alteração de pattern para permitir valores inteiros. |