---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Insurance Brasil</a>

search: false
---

# v1.2.6 22/08/2022 Release Notes

Release Notes v1.2.6 22/08/2022 do projeto [Open Insurance Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Insurance Brasil.

## Automóvel (auto-insurance v1.2.0)

| Campo | Descrição |
|-------|-----------|
| AutoInsuranceBrand | Alterado o nome para "brand" |
| Estrutura de dados | "Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |
| Retorno default | Estruturado retorno |
| Retorno http | Incluso retorno 422 - UnprocessableEntity |
| URL de contato | Alterado para "https://openinsurance.susep.gov.br" |
| additional | Corrigido exemplo "SORTEIO_GRATUITO" |
| commercializationArea | Alterado campo de integer para string |
| coverage | Removido duplicidade do enum "PEQUENOS_REPAROS" |
| coverageGroup | Removido obrigatoriedade do campo |
| currency | Removido duplicidades do enum |
| customerService | Corrigido exemplo "REDE_REFERENCIADA" |
| maxValue | Alterado campo para Lista |
| minCoverageGroupRequired | Removido obrigatoriedade do campo |
| minValue | Alterado campo para Lista |
| model | Aumento do tamanho do campo para 80 caracteres |
| paymentMethod | Corrigido exemplo "CARTAO_CREDITO" |
| paymentTypee | Alterado para “paymentType” |
| products | Removido propriedades type e description |

## Branches (data_channels v1.2.0)

| Campo | Descrição |
|-------|-----------|
| Estrutura de dados |	"Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |

## Canais Eletrônicos (data_channels v1.2.0)

| Campo | Descrição |
|-------|-----------|
| Estrutura de dados |	"Padronizado estrutura de dados {data: brand:{ name: {}, companies: {}}, links: {}, meta{}}" |
| services | Correção enum "ALTERACOES_FORMA_PAGAMENTO" |

## Métricas (admin-metrics v1.2.0)

| Campo | Descrição |
|-------|-----------|
| requestTime |	Pattern de validação com o formato "^((?:(\d{4}-\d{2}-\d{2})T(\d{2}:\d{2}:\d{2}(?:\.\d+)?))(Z|[\+-]\d{2}:\d{2})?)$" obrigatório |

# Previdência com cobertura por sobrevivência (life-pension v1.2.0)

| Campo | Descrição |
|-------|-----------|
| minimumContributionAmount |	Aumento do tamanho do campo para 15 |
| minimumContributionValue | Criado campo Valor Mínimo de Aporte de Portabilidade. Caso a Regra de Elegibilidade SIM |

# Residencial (home-insurance v1.1.0)

| Campo | Descrição |
|-------|-----------|
| Microsseguros |	Incluso campo de microsseguros |
| Retorno http |	Incluso retorno 422 - UnprocessableEntity |
| URL de contato |	Alterado para "https://openinsurance.susep.gov.br" |
| commercializationArea |	Alterado campo de integer para string |
| customerServices |	Corrigido exemplo "LIVRE_ESCOLHA" |
| paymentMethod |	Corrigido exemplo "CARTAO_CREDITO" |
