---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:

  - <a href="https://br-openinsurance.github.io/areadesenvolvedor/#introducao"> Open Insurance Brasil </a>


search: true
---

# v1.3.3 03/04/2023 Release Notes

Release Notes v1.3.3 03/04/2023 do projeto [Open Insurance Brasil](../../index.html).

Nova versão da api de ingestão de dados do portal de métricas transacionais.

## Métricas transacionais (metrics v1.0.3)


| Campo | Descrição |
|-------|-----------|
| fapiInteractionId | Tornou-se opcional com restrição. Torna-se obrigatório para endpoints que não sejam de fase 1 |
| endpoints | Atualização dos endpoints cadastrados de fase 2| 


## Funil de consentimento (funil v1.0.2)

| Campo | Descrição |
|-------|-----------|
| organisationId | o campo organizationId foi alterado para organisationId com "s", seguindo o padrão de inglês britânico |