---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:

  - <a href="https://br-openinsurance.github.io/areadesenvolvedor/#introducao"> Open Insurance Brasil </a>


search: true
---

# v1.3.8 18/07/2023 Release Notes

Release Notes v1.3.8 18/07/2023 do projeto [Open Insurance Brasil](../../index.html).

Nova versão da api de ingestão de dados do portal de métricas transacionais.

## Acceptance And Branches Abroad (Acceptance And Branches Abroad v1.2.0)


| Campo | Descrição |
|-------|-----------|
| documentationDeliveryDate | Retirada da obrigatoriedade de um Campo |
| documentationDeliveryDate | Ajuste na descrição do campo |


## Insurance Auto (insurance-auto V1.2.1)


| Campo | Descrição |
|-------|-----------|
| documentationDeliveryDate | Retirada da obrigatoriedade de um Campo |
| documentationDeliveryDate | Ajuste na descrição do campo |



## Insurance Financial Risk (insurance-financial-risk V1.2.1)


| Campo | Descrição |
|-------|-----------|
| documentationDeliveryDate | Retirada da obrigatoriedade de um Campo |
| documentationDeliveryDate | Ajuste na descrição do campo |



## Insurance Housing (insurance-housing V1.2.1)


| Campo | Descrição |
|-------|-----------|
| documentationDeliveryDate | Retirada da obrigatoriedade de um Campo |
| documentationDeliveryDate | Ajuste na descrição do campo |



## Insurance Patrimonial (insurance-patrimonial V1.3.1)


| Campo | Descrição |
|-------|-----------|
| documentationDeliveryDate | Retirada da obrigatoriedade de um Campo |
| documentationDeliveryDate | Ajuste na descrição do campo |




## Insurance Responsibility (insurance-responsibility V1.2.1)


| Campo | Descrição |
|-------|-----------|
| documentationDeliveryDate | Retirada da obrigatoriedade de um Campo |
| documentationDeliveryDate | Ajuste na descrição do campo |



## Insurance Rural (insurance-rural V1.2.1)


| Campo | Descrição |
|-------|-----------|
| documentationDeliveryDate | Retirada da obrigatoriedade de um Campo |
| documentationDeliveryDate | Ajuste na descrição do campo |



## Insurance Transport (insurance-transport V1.1.1)


| Campo | Descrição |
|-------|-----------|
| documentationDeliveryDate | Retirada da obrigatoriedade de um Campo |
| documentationDeliveryDate | Ajuste na descrição do campo |