---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:

  - <a href="https://br-openinsurance.github.io/areadesenvolvedor/#introducao"> Open Insurance Brasil </a>


search: true
---

# v1.3.6 02/05/2023 Release Notes

Release Notes v1.3.6 02/05/2023 do projeto [Open Insurance Brasil](../../index.html).

  Correções APIs insurance-patrimonial e adição de novas APIs

## API - Quote Acceptance And Branches Abroad (quote-acceptance-and-branches-abroad.yaml v1.5.3)

| Campo | Descrição |
|-------|-----------|
| - |	Disponibilização da primeira versão da API |

## API - Quote Financial Risk (quote-financial-risk.yaml v1.5.3)

| Campo | Descrição |
|-------|-----------|
| - |	Disponibilização da primeira versão da API |

## API - Quote Responsibility (quote-responsibility.yaml v1.5.3)

| Campo | Descrição |
|-------|-----------|
| - |	Disponibilização da primeira versão da API |

## API -  Quote Patrimonial (quote-patrimonial.yaml v1.5.3)


| Campo | Descrição |
|-------|-----------|
| servers\url | Alterado para "https://apih.organizacao.com.br/open-insurance/quote-patrimonial/v1" |
| \lead\request\security\OAuth2Security | Retirado consent:consentId |
| \lead\request\{consentId}\patch\requestBody\content\application/json\schema | Alterado $ref de revocationPayload para RevokePatchPayload |
| \lead\request\{consentId}\patch\responses | Retirado response 204 |
| \lead\request\{consentId}\patch\responses | Incluso responde 200 |
| \lead\request\{consentId}\security\OAuth2Security | Retirado consent:consentId |
| \home\request\security\OAuth2Security | Retirado consent:consentId |
| \home\request\{consentId}\quote-status\security\OAuth2Security | Retirado consent:consentId |
| \home\request\{consentId}\patch\requestBody\content\application\json\schema |	Alterado $ref de revocationPayload para PatchPayload |
| \home\request\{consentId}\patch\responses | Retirado response 204 |
| \home\request\{consentId}\patch\responses | Incluso responde 200 |
| \home\request\{consentId}\security\OAuth2Security | Retirado consent:consentId |
| \condominium\request\security\OAuth2Security | Retirado consent:consentId |
| \condominium\request\{consentId}\quote-status\security\OAuth2Security | Retirado consent:consentId |
| \condominium\request\{consentId}\patch\requestBody\content\application\json\schema | Alterado $ref de revocationPayload para PatchPayload |
| \condominium\request\{consentId}\patch\responses | Retirado response 204 |
| \condominium\request\{consentId}\patch\responses | Incluso responde 200 |
| \condominium\request\{consentId}\security\OAuth2Security | Retirado consent:consentId |
| \business\request\security\OAuth2Security | Retirado consent:consentId |
| \business\request\{consentId}\quote-status\security\OAuth2Security | Retirado consent:consentId |
| \business\request\{consentId}\patch\requestBody\content\application\json\schema | Alterado $ref de revocationPayload para PatchPayload |
| \business\request\{consentId}\patch\responses | Retirado response 204 |
| \business\request\{consentId}\patch\responses | Incluso responde 200 |
| \business\request\{consentId}\security\OAuth2Security | Retirado consent:consentId |
| \diverse-risks\request\security\OAuth2Security | Retirado consent:consentId |
| \diverse-risks\request\{consentId}\quote-status\security\OAuth2Security | Retirado consent:consentId |
| \diverse-risks\request\{consentId}\patch\requestBody\content\application\json\schema | Alterado $ref de revocationPayload para PatchPayload |
| \diverse-risks\request\{consentId}\patch\responses | Retirado response 204 |
| \diverse-risks\request\{consentId}\patch\responses | Incluso responde 200 |
| \diverse-risks\request\{consentId}\security\OAuth2Security | Retirado consent:consentId |
| QuoteDataPatrimonialCondominium | Retirado campo quoteId |
| QuoteStatusPatrimonialCondominium\quotes\items | Retirado campo links |
| QuoteStatusPatrimonialCondominium\quotes\items | Incluso campo insurerQuoteId obrigatório |
| ResultQuotePatrimonialCondominium | Retirado campo quoteId |
| QuoteDataPatrimonialHome | Retirado campo quoteId |
| QuoteStatusPatrimonialHome\quotes\items | Retirado campo links |
| QuoteStatusPatrimonialHome\quotes\items | Incluso campo insurerQuoteId obrigatório |
| ResultQuotePatrimonialHome | Retirado campo quoteId |
| QuoteDataPatrimonialBusiness | Retirado campo quoteId |
| QuoteStatusPatrimonialBusiness\quotes\item | Retirado campo links |
| QuoteStatusPatrimonialBusiness\quotes\item | Incluso campo insurerQuoteId obrigatório |
| ResultQuoteQuotePatrimonialBusiness | Retirado campo quoteId |
| QuoteDataPatrimonialDiverseRisks | Retirado campo quoteId |
| QuoteStatusPatrimonialDiverseRisks\quotes\item | Retirado campo links |
| QuoteStatusPatrimonialDiverseRisks\quotes\item | Incluso campo insurerQuoteId obrigatório |
| ResultQuotePatrimonialDiverseRisks | Retirado campo quoteId |
| PortableEquipment\portableType | Alterado padrão de enum exemplo: "Smartphone" para "SMARTPHONE" |
| QuoteStatus | Incluso obrigatóriedade dos campos "status" e "statusUpdateDateTime" |
| QuoteStatus\status | Alterado campo para enum RCVD, EVAL, ACPT, RJCT, ACKN, CANC |
| revocationPayload | Removido schema |
| BusinessParties\items\type | Removido maxLength |
| RevokePatchPayload | Incluso schema |
| ResponseRevokePatch | Incluso schema |
| PatchPayload | Incluso schema |
| ResponsePatch	| Incluso schema |
| Links\self | Incluso pattern |
| Links\first | Incluso pattern |
| Links\prev | Incluso pattern |
| Links\next | Incluso pattern |
| Links\last | Incluso pattern |
| QuoteRequestPatrimonialLead\data | Incluso campo consentId obrigatório |
| QuoteRequestPatrimonialHome\data | Incluso campo consentId obrigatório |
| ResponseQuoteStatusPatrimonialHome\data | Incluso obrigatóriedade dos campos "status" e "statusUpdateDateTime" |
| ResponseQuoteStatusPatrimonialHome\data\status | Alterado campo para enum RCVD, EVAL, ACPT, RJCT, ACKN, CANC |
| QuoteRequestPatrimonialCondominium\data | Incluso campo consentId obrigatório |
| ResponseQuoteStatusPatrimonialCondominium\data | Incluso obrigatóriedade dos campos "status" e "statusUpdateDateTime" |
| ResponseQuoteStatusPatrimonialCondominiumdata\status | Alterado campo para enum RCVD, EVAL, ACPT, RJCT, ACKN, CANC |
| QuoteRequestPatrimonialBusiness\data | Incluso campo consentId obrigatório |
| ResponseQuoteStatusPatrimonialBusiness\data | Incluso obrigatóriedade dos campos "status" e "statusUpdateDateTime" |
| ResponseQuoteStatusPatrimonialBusiness\status |	Alterado campo para enum RCVD, EVAL, ACPT, RJCT, ACKN, CANC |
| QuoteRequestPatrimonialDiverseRisks\data | Incluso campo consentId obrigatório |
| ResponseQuoteStatusPatrimonialDiverseRisks\data | Incluso obrigatóriedade dos campos "status" e "statusUpdateDateTime" |
| ResponseQuoteStatusPatrimonialDiverseRisks\status | Alterado campo para enum RCVD, EVAL, ACPT, RJCT, ACKN, CANC |