---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:

  - <a href="https://br-openinsurance.github.io/areadesenvolvedor/#introducao"> Open Insurance Brasil </a>


search: true
---

# v1.3.4 18/04/2023 Release Notes

Release Notes v1.3.3 18/04/2023 do projeto [Open Insurance Brasil](../../index.html).

Nova versão da api de ingestão de dados do portal de métricas transacionais.

## Consents v2 (consents v2.3.0)


| Campo | Descrição |
|-------|-----------|
| Seção de Orientações Importantes do cabeçalho |	Alterações nas regras de agrupamento de permissions, permitindo seleções granulares de permissions |
| permissions |	Adição de permissões de FINANCIAL_ASSISTANCE, QUOTE_CAPITALIZATION_TITLE e a permissão "CAPITALIZATION_TITLE_WITHDRAWAL_CREATE"|
| permissions |	Permissão "DAMAGES_AND_PEOPLE_PERSON_PREMIUM_READ " alterada para "DAMAGES_AND_PEOPLE_PERSON_MOVEMENTS_READ" para adequar as permissões dispostas na API |
| permissions |	Permissões de CAPITALIZATION_TITLE alteradas para adequar as permissões dispostas na API |
| permissions |	Permissões "CUSTOMERS_PERSONAL_ADITTIONALINFO_READ" e "CUSTOMERS_BUSINESS_ADITTIONALINFO_READ" alteradas para "CUSTOMERS_PERSONAL_ADDITIONALINFO_READ" e "CUSTOMERS_BUSINESS_ADDITIONALINFO_READ" respectivamente (correção de DD ao invés de TT) |
| ResponseConsent |	Criação do campo rejection.rejectedBy |
| ResponseConsent |	Criação do campo rejection.reason |
| responses |	Resposta 204 em “/consents/{consentId}” DELETE alterada para “204ConsentsConsentIdDeleted” (era “NoContent”) |
| responses |	Resposta 204 em “/consents/{consentId}” GET removida |
| responses |	Resposta 204 em “/consents” POST removida |



## Resources (resources v2.3.0)

| Campo | Descrição |
|-------|-----------|
| type |	Tipos "CUSTOMERS_PERSONAL_ADITTIONALINFO" e "CUSTOMERS_BUSINESS_ADITTIONALINFO" alterados para "CUSTOMERS_PERSONAL_ADDITIONALINFO" e "CUSTOMERS_BUSINESS_ADDITIONALINFO" respectivamente (correção de DD ao invés de TT) |
| type |	Adição dos tipos "FINANCIAL_ASSISTANCE", "QUOTE_CAPITALIZATION_TITLE" e "CAPITALIZATION_TITLE_WITHDRAWAL" |



## Customers (customers v1.4.0)

| Campo | Descrição |
|-------|-----------|
| Seção de Orientações do cabeçalho |	Permissões "CUSTOMERS_PERSONAL_ADITTIONALINFO_READ" e "CUSTOMERS_BUSINESS_ADITTIONALINFO_READ" alteradas para "CUSTOMERS_PERSONAL_ADDITIONALINFO_READ" e "CUSTOMERS_BUSINESS_ADDITIONALINFO_READ" respectivamente (correção de DD ao invés de TT) |


