---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:

  - <a href="https://br-openinsurance.github.io/areadesenvolvedor/#introducao"> Open Insurance Brasil </a>


search: true
---

# v1.3.2 17/03/2023 Release Notes

Release Notes v1.3.2 17/03/2023 do projeto [Open Insurance Brasil](../../index.html).

Nova versão da api de ingestão de dados do portal de métricas transacionais.

## Métricas transacionais (metrics v1.0.2)


| Campo | Descrição |
|-------|-----------|
| - |	Disponibilização da v1.0.2 da API de coleta de métricas transacionais |
| processTimespan	| Deverá ser informado em miliseconds |
| organisationId | Na ingestão de dados batch (server-batch, client-batch), o campo organizationId foi alterado para organisationId com "s", seguindo o padrão de inglês britânico |
| fapiInteractionId | Tornou-se opcional. Recomendação: deve ser enviado sempre que existir, seja pelo servidor que caso não receba um fapiInteractionId do cliente deve gerá-lo, ou no cliente onde mesmo que não envie um fapiInteractionId para o servidor irá recebe-lo na resposta. |
| clientOrgId | Tornou-se opcional com restrição. Torna-se obrigatório para endpoints que não sejam de fase 1 |
| clientSSId | Tornou-se opcional com restrição. Torna-se obrigatório para endpoints que não sejam de fase 1 |
