---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:

  - <a href="https://br-openinsurance.github.io/areadesenvolvedor/#introducao"> Open Insurance Brasil </a>


search: true
---

# v1.3.5 28/04/2023 Release Notes

Release Notes v1.3.5 28/04/2023 do projeto [Open Insurance Brasil](../../index.html).

Nova versão da api de ingestão de dados do portal de métricas transacionais.

## Métricas transacionais (metrics v1.0.3)


| Campo | Descrição |
|-------|-----------|
| Grupos de endpoints  |	Adicionado APIs de: |
|                      | consents/v2/consents |
|                      | consents/v2/consents/{consentId} | 
|                      | /open-insurance/resources/v2/resources |
