---
title: Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:

  - <a href="https://br-openinsurance.github.io/areadesenvolvedor/#introducao"> Open Insurance Brasil </a>


search: true
---

# v1.3.1 27/03/2023 Release Notes

Release Notes v1.3.1 27/03/2023 do projeto [Open Insurance Brasil](../../index.html).

Novas versões de consents e resources, versão inicial de notifications e alterações em APIs da fase 1 e 3.

## Consents (consents v2.2.0)


| Campo | Descrição |
|-------|-----------|
| - |	Disponibilização da v2 da API |
| status	| Criação do status "CONSUMED" |
| documentId | Criação do campo "documentId" |
| permissions | Alteração de permissions de "PENSION_RISK_*" para "PENSION_PLAN_*" e "LIFE_PENSION_*" para adequação a futuras APIs da fase 2 |
| permissions | Inclusão de permissions para adequação a futuras APIs da fase 3 |




## Resources (resources v2.2.0)

| Campo | Descrição |
|-------|-----------|
| -	| Disponibilização da v2 da API |
| type | Alteração de type de "PENSION_RISK" para "PENSION_PLAN" e "LIFE_PENSION" para adequação a futuras APIs da fase 2 |
| type | Inclusão de types para adequação a futuras APIs da fase 3 |



## Notifications (notifications v1.0.0)

| Campo | Descrição |
|-------|-----------|
| - |	Disponibilização da primeira versão da API |



## Claim notification (claim notification v1.2.0)

| Campo | Descrição |
|-------|-----------|
| description	| Alteração de role de "DADOS" para "ICS" |
| documentType |	Adição das opções "APOLICE_INDIVIDUAL_AUTOMOVEL", "APOLICE_FROTA_AUTOMOVEL" e "CERTIFICADO_AUTOMOVEL" ao enum |



## Endorsement  (endorsement v1.1.2)


| Campo | Descrição |
|-------|-----------|
| description	| Alteração de role de "DADOS" para "ICS" |



## Quote patrimonial  (quote-patrimonial v1.4.1)


| Campo | Descrição |
|-------|-----------|
| description |	Alteração de role de "DADOS" para "ICS" |
| scopes | Alteração de scope de "notifications" para "quote-patrimonial-lead", "quote-patrimonial-home", "quote-patrimonial-condominium", "quote-patrimonial-business", "quote-patrimonial-diverse-risks" |


## Discovery (discovery v1.2.0)

| Campo | Descrição |
|-------|-----------|
| Links |	Correção do padrão (Pattern) |



## Customers (customers v1.3.0)

| Campo | Descrição |
|-------|-----------|
| Links	| Correção do padrão (Pattern) |
