---
title: Open Insurance Brasil

search: true

language_tabs: # must be one of https://git.io/vQNgJ
- javascript
- python
- java

code_clipboard: true

includes:
- introduction
- glossary
- security
- common_apis
- admin_metrics
- open_insurance
- participant
- faq

toc_footers:
- <a href='https://www.susep.gov.br'>Superintendência de <br/>Seguros Privados - Susep</a>
---
