---
title: Open Insurance Brasil

search: true

language_tabs: # must be one of https://git.io/vQNgJ
- javascript
- python
- java

code_clipboard: true

includes:
- introduction
- notifications
- manual
- calendar
- standards
- requisitos_nao_funcionais
- security
- directory
- servicedesk_diretory
- coleta_de_metricas
- monitoring
- phase_one
- phase_two
- phase_three
- support
- faq
- change_log
- versions

toc_footers:
- <a href='https://www.susep.gov.br'>Superintendência de <br/>Seguros Privados - Susep</a>
---
