# API - Housing v1.1.0

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

**Especificação em OAS 3.0** </br>
<a href="files/swagger/insurance-housing.yaml" download="insurance-housing.yaml">Download da Especificação</a>

**Detalhamento Técnico** </br>
<a href="files/docs/insurance-housing.docx" download="insurance-housing.docx">Download do Detalhamento Técnico</a>

API de Housing do Open Insurance Brasil - Fase 2.

Traz informações de apólice, prêmio e sinistro mantidas nas instituições transmissoras por seus clientes.

Não possui segregação entre pessoa natural e pessoa jurídica.

Requer consentimento do cliente para todos os 'endpoints'.


<h2 id="API - Housing v1.1.0-Orientações">Orientações</h2>

A `Role`  do diretório de participantes relacionada à presente API é a `DADOS`.

Para todos os `endpoints` desta API é previsto o envio de um `token` através do header `Authorization`.

Este `token` deverá estar relacionado ao consentimento (identificado pelo `consentId`) mantido na instituição transmissora dos dados, o qual permitirá a pesquisa e retorno, na API em questão, dos
dados relacionados ao `consentId` específico.

Os dados serão devolvidos na consulta desde que o `consentId` relacionado corresponda a um consentimento válido e com o status `AUTHORISED`.

É também necessário que o recurso em questão (conta, contrato, etc.) esteja disponível na instituição transmissora (ou seja, sem boqueios de qualquer natureza e com todas as autorizações/consentimentos já autorizados).

Além disso, as `permissions` necessárias deverão ter sido solicitadas quando da criação do consentimento relacionado.

Relacionamos a seguir as `permissions` necessárias para a consulta de dados em cada `endpoint` da presente API.


<h2 id="API - Housing v1.1.0-Permissions necessárias para a API InsuranceHousing">Permissions necessárias para a API InsuranceHousing</h2>

Para cada um dos `paths` desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

### `/`
   - permissions:
      - GET: **DAMAGES_AND_PEOPLE_HOUSING_READ**
### `/{policyId}/policy-info`
   - permissions:
      - GET: **DAMAGES_AND_PEOPLE_HOUSING_POLICYINFO_READ**
### `/{policyId}/premium`
   - permissions:
      - GET: **DAMAGES_AND_PEOPLE_HOUSING_PREMIUM_READ**
### `/{policyId}/claim`
   - permissions:
      - GET: **DAMAGES_AND_PEOPLE_HOUSING_CLAIM_READ**

Base URLs:

Servidor de Produção </br>
* <a href="https://api.organizacao.com.br/open-insurance/insurance-housing/v1" target="_blank">https://api.organizacao.com.br/open-insurance/insurance-housing/v1</a>

Servidor de Homologação </br>
* <a href="https://apih.organizacao.com.br/open-insurance/insurance-housing/v1" target="_blank">https://apih.organizacao.com.br/open-insurance/insurance-housing/v1</a>

Email: <a href="mailto:gt-interfaces@openinsurancebr.org">Governança do Open Insurance Brasil</a>

Web: <a href="https://openinsurance.susep.gov.br/documentos-de-referencia/" target="_blank">Governança do Open Insurance Brasil</a>

### Authentication

- oAuth2 authentication. Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Inclui o processo de redirecionamento e autenticação do usuário a que se referem os dados.

   - Flow: authorizationCode
   - Authorization URL = [https://authserver.example/authorization](https://authserver.example/authorization)
   - Token URL = [https://authserver.example/token](https://authserver.example/token)

|Scope|Scope Description|
|---|---|
|insurance-housing|Escopo necessário para acesso à API. O controle dos endpoints específicos é feito via permissions.|


`GET /products-services/v1/home-insurance `

Método para obter a lista de identificação de InsuranceHousing

<h3 id="obtem-a-lista-de-identificação-de-insurancehousing-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|Authorization|header|string|true|Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado.|
|x-fapi-auth-date|header|string|false|Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231). Exemplo: Sun, 10 Sep 2017 19:43:31 UTC|
|x-fapi-customer-ip-address|header|string|false|O endereço IP do usuário se estiver atualmente logado com o receptor.|
|x-fapi-interaction-id|header|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
|x-customer-user-agent|header|string|false|Indica o user-agent que o usuário utiliza.|
|page|query|integer(int32)|false|Número da página que está sendo requisitada (o valor da primeira página é 1).|
|page-size|query|integer(int32)|false|Quantidade total de registros por páginas.|


Obtém a lista dos produtos do tipo Housing

### Responses



|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados de ResponseInsuranceHousing obtidos com sucesso|[ResponseInsuranceHousing](#schemaresponseinsurancehousing)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Erro inesperado.|[ResponseError](#schemaresponseerror)|


### Response Headers

|Status|Header|Type|Format|Description|
|---|---|---|---|---|
|200|x-fapi-interaction-id|string||none|


<h2 id="API - Housing v1.1.0-Obtém as informações gerais da apólice identificada por {policyId}">Obtém as informações gerais da apólice identificada por {policyId}</h2>

<a id="opIdgetInsuranceHousingpolicyIdPolicyInfo"></a>

`GET /{policyId}/policy-info`

Método para obter as informações gerais da apólice

<h3 id="obtém-as-informações-gerais-da-apólice-identificada-por-{policyid}-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|Authorization|header|string|true|Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado.|
|x-fapi-auth-date|header|string|false|Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231). Exemplo: Sun, 10 Sep 2017 19:43:31 UTC|
|x-fapi-customer-ip-address|header|string|false|O endereço IP do usuário se estiver atualmente logado com o receptor.|
|x-fapi-interaction-id|header|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
|x-customer-user-agent|header|string|false|Indica o user-agent que o usuário utiliza.|
|policyId|path|string|true|none|



> Example responses

> 200 Response

```json
{
    "data": {
       "documentType": "APOLICE_INDIVIDUAL",
       "policyId": "111111",
       "susepProcessNumber": "string",
       "groupCertificateId": "string",
       "issuanceType": "EMISSAO_PROPRIA",
       "issuanceDate": "AAAA-MM-DD",
       "termStartDate": "AAAA-MM-DD",
       "termEndDate": "AAAA-MM-DD",
       "leadInsurerCode": "string",
       "leadInsurerPolicyId": "string",
       "maxLMG": {
         "amount": 2000,
         "currency": "BRL"
       },
       "proposalId": "string",
       "insureds": [
         {
             "identification": "12345678900",
             "identificationType": "CPF",
             "name": "Nome Sobrenome",
             "postCode": "10000000",
             "email": "string",
             "city": "string",
             "state": "string",
             "country": "BRA",
             "address": "string"
         }
       ],
       "beneficiaries": [
         {
             "identification": "12345678900",
             "identificationType": "CPF",
"name": "Nome Sobrenome"
         }
       ],
       "principals": [
         {
             "identification": "12345678900",
             "identificationType": "CPF",
             "name": "Nome Sobrenome",
             "postCode": "10000000",
             "email": "string",
             "city": "string",
             "state": "string",
             "country": "BRA",
             "address": "string"
         }
       ],
       "intermediaries": [
         {
             "type": "REPRESENTANTE",
             "identification": "12345678900",
             "brokerId": "string",
             "identificationType": "CPF",
             "name": "Nome Sobrenome",
             "postCode": "10000000",
             "city": "string",
             "state": "string",
             "country": "BRA",
             "address": "string"
         }
       ],
       "insuredObjects": [
         {
             "identification": "string",
             "type": "CONTRATO",
             "typeAdditionalInfo": "string",
             "description": "string",
             "amount": {
                "amount": 2000,
                "currency": "BRL"
             },
             "coverages": [
                {
                  "branch": "111",
                  "code": "DANOS_ELETRICOS",
                  "description": "string",
                  "internalCode": "string",
                  "susepProcessNumber": "string",
                  "LMI": {
                      "amount": 2000,
"currency": "BRL"
                  },
                  "isLMISublimit": true,
                  "termStartDate": "AAAA-MM-DD",
                  "termEndDate": "AAAA-MM-DD",
                  "isMainCoverage": true,
                  "feature": "MASSIFICADOS",
                  "type": "PARAMETRICO",
                  "gracePeriod": 0,
                  "gracePeriodicity": "DIA",
                  "gracePeriodCountingMethod": "DIAS_UTEIS",
                  "gracePeriodStartDate": "AAAA-MM-DD",
                  "gracePeriodEndDate": "AAAA-MM-DD"
                }
             ]
         }
       ],
       "coverages": [
         {
             "branch": "111",
             "code": "DANOS_ELETRICOS",
             "description": "string",
             "deductible": {
                "type": "DEDUTIVEL",
                "typeAdditionalInfo": "string",
                "amount": {
                  "amount": 2000,
                  "currency": "BRL"
                },
                "period": 10,
                "periodicity": "DIA",
                "periodCountingMethod": "DIAS_UTEIS",
                "periodStartDate": "2022-05-16",
                "periodEndDate": "2022-05-17",
                "description": "Franquia de exemplo"
             },
             "POS": {
                "applicationType": "VALOR",
                "description": "Descrição de exemplo",
                "minValue": {
                  "amount": 2000,
                  "currency": "BRL"
                },
                "maxValue": {
                  "amount": 2000,
                  "currency": "BRL"
                },
                "percentage": 10
             }
}
       ],
       "coinsuranceRetainedPercentage": 10,
       "coinsurers": [
         {
             "identification": "string",
             "cededPercentage": 10
         }
       ],
       "branchInfo": {
         "insuredObjects": [
             {
                "identification": "string",
                "propertyType": "CASA",
                "propertyTypeAdditionalInfo": "string",
                "postCode": "10000000",
                "interestRate": 10,
                "costRate": 10,
                "lenders": [
                  "12345678901234"
                ]
             }
         ],
         "insureds": [
             {
                "identification": "12345678900",
                "identificationType": "CPF",
                "birthDate": "AAAA-MM-DD"
             }
         ]
       }
    },
    "links": {
       "self": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1",
       "first": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1",
       "prev": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1",
       "next": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1",
       "last": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1"
    },
    "meta": {
       "totalRecords": 10,
       "totalPages": 1
    }
}
```


<h3 id="obtém-as-informações-gerais-da-apólice-identificada-por-{policyid}-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados de ResponseInsuranceHousingPolicyInfo obtidos com sucesso|[ResponseInsuranceHousingPolicyInfo](#schemaresponseinsurancehousingpolicyinfo)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Erro inesperado.|[ResponseError](#schemaresponseerror)|

### Response Headers

|Status|Header|Type|Format|Description|
|---|---|---|---|---|
|200|x-fapi-interaction-id|string||none|

<h2 id="API - Housing v1.1.0-Obtém os dados de sinistro da apólice identificada por {policyId}">Obtém os dados de sinistro da apólice identificada por {policyId}</h2>

<a id="opIdgetInsuranceHousingpolicyIdClaims"></a>


`GET /{policyId}/claim`

Método para obter os dados de sinistro associados à apólice

<h3 id="obtém-os-dados-de-sinistro-da-apólice-identificada-por-{policyid}-parameters">Parameters</h3>


|Name|In|Type|Required|Description|
|---|---|---|---|---|
|Authorization|header|string|true|Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado.|
|x-fapi-auth-date|header|string|false|Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231). Exemplo: Sun, 10 Sep 2017 19:43:31 UTC|
|x-fapi-customer-ip-address|header|string|false|O endereço IP do usuário se estiver atualmente logado com o receptor.|
|x-fapi-interaction-id|header|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
|x-customer-user-agent|header|string|false|Indica o user-agent que o usuário utiliza.|
|policyId|path|string|true|none|

> Example responses

> 200 Response

```json
{
    "data": [
     {
     "identification"           : "string",
     "documentationDeliveryDate": "AAAA-MM-DD",
     "status"                   : "ABERTO",
     "statusAlterationDate"     : "AAAA-MM-DD",
     "occurrenceDate"           : "AAAA-MM-DD",
     "warningDate"              : "AAAA-MM-DD",
     "thirdPartyClaimDate"      : "AAAA-MM-DD",
     "amount"                   : {
         "amount"  : 2000,
         "currency": "BRL"
        },
     "denialJustification"           : "RISCO_EXCLUIDO",
     "denialJustificationDescription": "string",
     "coverages"                     : [
         {
        "insuredObjectId"    : "string",
        "branch"             : "000",
        "code"               : "LUCRO_BRUTO",
        "description"        : "string",
        "warningDate"        : "AAAA-MM-DD",
        "thirdPartyClaimDate": "AAAA-MM-DD",
          }
        ]
     }
    ],
    "links": {
  "self" : "https://api.organizacao.com.br/open-insurance/insurance-housing/v1",
  "first": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1",
  "prev" : "https://api.organizacao.com.br/open-insurance/insurance-housing/v1",
  "next" : "https://api.organizacao.com.br/open-insurance/insurance-housing/v1",
  "last" : "https://api.organizacao.com.br/open-insurance/insurance-housing/v1"
 },
 "meta": {
  "totalRecords": 10,
  "totalPages"  : 1
 }
}
```
> Exemplo de request

```javascript
GET https://api.seguradora.com.br/open-insurance/products-services/v1/home-insurance HTTP/1.1

Host: api.seguradora.com.br  
Accept: application/json  

var req = new XMLHttpRequest();  
req.setRequestHeader("Accept", "application/json");  
req.open("GET", "https://api.seguradora.com.br/open-insurance/products-services/v1/home-insurance ", true);  
req.send();  

```
<h3 id="obtém-os-dados-de-sinistro-da-apólice-identificada-por-{policyid}-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados de ResponseInsuranceHousingClaims obtidos com sucesso|[ResponseInsuranceHousingClaims](#schemaresponseinsurancehousingclaims)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Erro inesperado.|[ResponseError](#schemaresponseerror)|

### Schemas


> Exemplo de retorno

```json
{  
    "data": {  
      "brand": {  
        "name": "EMPRESA A SEGUROS",  
        "company":   
          {  
            "name": "ABCDE DE SEGUROS",  
            "cnpjNumber": "45086338000178",  
            "products": [  
                {"name": "SEGURO Residencial",  
                 "code": "123456789_res",  
  	        "coverages": [{  
                    "coverageType": "Escritório em Residência",  
                    "coverageDetail": "Cobertura especial para escritório residenciais",  
 	 	  "coveragePermissionSeparteAcquisition": false,  
                    "coverageAttributes":{  
                        "minLMI": {"amount": 0,"unit": {"code": "R$","description": "real"}},  
                        "maxLMI": {"amount": 0,"unit": {"code": "R$","description": "real"}},  
                        "minDeductibleAmount": {"amount": 0,"unit": {"code": "R$","description": "real"}},  
                        "insuredMandatoryParticipationPercentage": 0  
                        }  
                    }],           
                 "propertyCharacteristics":[{  
                    "propertyType": "CASA",  
                    "propertyBuildType" : "ALVENARIA",  
                    "propertyUsageType": "HABITUAL",  
                    "importanceInsured": "PREDIO" 	 	  
                 }], 	  
                 "propertyZipCode": 1311000,   
                 "protective": true,  
                 "additional": "SORTEIO (GRATUITO)",  
                 "additionalOthers": "string",  
                 "assistanceServices":[  
                    {"assistanceServicesPackage": "ATÉ 10 SERVIÇOS",  
                     "assistanceServicesDetail": "Reboque pane seca",  
                     "chargeTypeSignaling": "GRATUITA"}  
                    ],  
                    "termsAndConditions":[{  
                            "susepProcessNumber":"15414.622222/2222-22",  
                            "definition":"wwww.seguradora.com.br/termos"  
                         }],      
                   "validity":[{  
                            "term": "ANUAL",  
                            "termOthers": "string"  
                         }],                                
                         "customerServices": [ "REDE_REFERENCIADA"],  
                         "premiumRates": [ "string"],  
                         "premiumPayments":[{  
                            "paymentMethod": "DEBITO_CONTA",  
                            "paymentMethodDetail": "",  
                            "paymentType": "PAGAMENTO ÚNICO"  
                         }],  
                         "minimumRequirements":{  
                            "contractingType": "INDIVIDUAL",  
                            "contractingMinRequirement": "wwww.seguradora.com.br/seguro_residencial/requisitos"  
                         },  
                         "targetAudiences": ["PESSOA_NATUAL"]  
                        }  
                    ]              
                  }  
                }  
              },  
              "links": {  
                      "self": "https://api.seguradora.com.br/open-insurance/products-services/v1/home-insurance",  
                      "first": "https://api.seguradora.com.br/open-insurance/products-services/v1/home-insurance",  
                      "prev": "string",  
                      "next": "string",  
                      "last": "https://api.seguradora.com.br/open-insurance/products-services/v1/home-insurance"  
                    },  
              "meta": {  
                      "totalRecords": 1,  
                      "totalPages": 1  
                    }  
                    }  
        }
```

HomeInsuranceBrand

|Name|Type|Required|Definition|
|---|---|---|---|
|name|string|yes|Nome da marca reportada pelo participante do Open  Insurance. O conceito a que se refere a marca é em  essência uma promessa das sociedades sob ela em  fornecer uma série específica de atributos,benefíos.|
|company|HomeInsuranceCompany|Yes|Companies traz uma lista de todas as instituições da Marca.|


## HomeInsuranceCompany

|Name|Type|Required|Definition|
|---|---|---|---|
|name|string|Yes|Nome da sociedade|
|cnpjNumber|string|Yes|CNPJ da sociedade|
|product|HomeInsuranceProduct|Yes|Lista de Dependências|


## HomeInsuranceProduct

|Name|Type|Required|Definition|
|---|---|---|---|
|name|string|Yes|Nome comercial do produto, pelo  qual é identificado nos canais de  distribuição e atendimento da sociedade.|
|code|string|Yes|Código único a ser definido pela  sociedade.|
|coverages|Array HomeInsuranceCoverages|Yes|Listagem de coberturas incluídas  no produto.|
|propertyCharacteristics|Array HomeInsurancePropertyCharacteristics|Yes|Características do imóvel|
|propertyZipCode|integer|Yes|Código de Endereçamento Postal  do Imóvel|
|protective|boolean|Yes|Protecionais - Indicativo de  exigência de itens protecionais.|
|additional|Array Enum additional|Yes|Adicionais do Produto.|
|additionalOthers|string|No|Campo aberto para descrição de cada participante ao selecionar o  domínio ‘Outros’ no campo acima  ‘Adicionais’.|
|assistanceServices|Array HomeInsuranceAssistanceServices|Yes|Agrupamento dos serviços de  assistências disponíveis vinculado  ao produto.|
|termsAndConditions|HomeInsuranceTermsAndConditions|Yes|Termos e condições contratuais.|
|validity|HomeInsuranceValidity|Yes|Prazo de vigência do seguro contratado Intervalo contínuo de  tempo durante o qual está em  vigor o contrato de seguro.|
|customerServices|Array Enum customerService|Yes|Rede de atendimento do seguro  contratado.|
|premiumRates|Array string|No|Distribuição de frequência relativa  aos valores referentes às taxas cobradas.|
|premiumPayments|Array HomeInsurancePremiumPaymen|Yes|Pagamento de prêmio.|
|minimumRequirements|Array HomeInsuranceMinimunRequirements|Yes|Requisitos mínimos|
|targetAudiences|Enum targetAudience|Yes|Público a quem se destina o  produto|









