<h2 id="tocS_422ResponseErrorCreateNotification">422ResponseErrorCreateNotification</h2>
<!-- backwards compatibility -->
<a id="schema422responseerrorcreatenotification"></a>
<a id="schema_422ResponseErrorCreateNotification"></a>
<a id="tocS422responseerrorcreatenotification"></a>
<a id="tocs422responseerrorcreatenotification"></a>

```json
{
  "errors": [
    {
      "code": "RISCO_NEGADO",
      "title": "Produto não comercializado.",
      "detail": "O produto específico requisitado não é comercializado."

    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|code|string|true|none|Códigos de erros previstos na criação de notificação|
|title|string|true|none|Título específico do erro reportado, de acordo com o código enviado|
|detail|string|true|none|Descrição específica do erro de acordo com o código reportado|
|meta|[Meta](#schemasfase3metaquotes)|false|none|Data de Solicitação do Endosso|


<h2 id="tocS_ResponseErrorquotes">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocS422responseerror"></a>
<a id="tocs422responseerror"></a>

```json
{
  "errors": [{
    "code": "string",
    "title": "string",
    "detail": "string",
    "requestDateTime": "2021-05-21T08:30:00Z"
  }],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
  }
}
```
### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemasfase3metaquotes)|false|none|none|


<h2 id="tocSfase3_XFapiInteractionIdQuotes">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemafase3xfapiinteractionidquotes"></a>
<a id="schemafase3_XFapiInteractionIdend"></a>
<a id="tocSfase3xfapiinteractionidend"></a>
<a id="tocsfase3xfapiinteractionidend"></a>

```json
"string"
```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|


<h2 id="tocSfase3end_MetaQuotes">Meta</h2>
<!-- backwards compatibility -->
<a id="schemasfase3metaquotes"></a>
<a id="schemasfase3end_Meta"></a>
<a id="tocSfase3metaend"></a>
<a id="tocsfase3metaend"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1,
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|


<h2 id="tocSfase3end_CreateNotification">CreateNotification</h2>
<!-- backwards compatibility -->
<a id="schemascreatenotification"></a>
<a id="schemasCreateNotification"></a>
<a id="tocScreatenotification"></a>
<a id="tocscreatenotification"></a>

```json
{
  "data": {
    "type": "AUTO"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[CreateNotificationData](#schemascreatenotificationdata)|true|none|none|

<h2 id="tocSfase3end_CreateNotificationData">CreateNotificationData</h2>
<!-- backwards compatibility -->
<a id="schemascreatenotificationdata"></a>
<a id="schemasCreateNotificationData"></a>
<a id="tocScreatenotificationdata"></a>
<a id="tocscreatenotificationdata"></a>

```json
{
  "type": "AUTO"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|


<h2 id="tocSfase3end_CreateConsentsRequests">CreateConsentsRequests</h2>
<!-- backwards compatibility -->
<a id="schemascreateconsentsrequests"></a>
<a id="schemasCreateConsentsRequests"></a>
<a id="tocScreateconsentsrequests"></a>
<a id="tocscreateconsentsrequests"></a>

```json
{
  "data": {
    "correlationId": "ab342c34",
    "loggedUser": {
      "document": {
        "identification": "11111111111",
        "rel": "CPF"
      }
    },
    "businessEntity": {
      "document": {
        "identification": "11111111111111",
        "rel": CNPJ,
      }
    },
    "productType": "AUTO",
    "permissions": "List [ "DAMAGES_AND_PEOPLE_AUTO_CLAIM_READ" ]"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[CreateConsentsRequestsData](#schemascreateconsentsrequestsdata)|true|none|none|


<h2 id="tocSfase3end_CreateConsentsRequestsData">CreateConsentsRequestsData</h2>
<!-- backwards compatibility -->
<a id="schemascreateconsentsrequestsdata"></a>
<a id="schemasCreateConsentsRequestsData"></a>
<a id="tocScreateconsentsrequestsdata"></a>
<a id="tocscreateconsentsrequestsdata"></a>

```json
{
  "correlationId": "ab342c34",
    "loggedUser": {
      "document": {
        "identification": "11111111111",
        "rel": "CPF"
      }
    },
  "businessEntity": {
    "document": {
      "identification": "11111111111111",
      "rel": CNPJ,
    }
    },
  "productType": "AUTO",
  "permissions": "List [ "DAMAGES_AND_PEOPLE_AUTO_CLAIM_READ" ]"
}


```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|correlationId|string|true|none|Id de correlação do consentimento.|
|loggedUser|[object]|true|none|Usuário (pessoa natural) que encontra-se logado na iniciadora e que iniciará o processo de consentimento para compartilhamento de dados.|
|businessEntity|[object]|false|none|Titular, pessoa jurídica a quem se referem os dados que são objeto de compartilhamento.|
|productType|string|true|none|none|
|permissions|string|true|none|Especifica os tipos de permissões de acesso às APIs no escopo do Open Insurance Brasil - Fase 2, de acordo com os blocos de consentimento fornecidos pelo usuário e necessários ao acesso a cada endpoint das APIs.|