<h2 id="tocS_422ResponseErrorCreateNotification">422ResponseErrorCreateNotification</h2>
<!-- backwards compatibility -->
<a id="schema422responseerrorcreatenotification"></a>
<a id="schema_422ResponseErrorCreateNotification"></a>
<a id="tocS422responseerrorcreatenotification"></a>
<a id="tocs422responseerrorcreatenotification"></a>

```json
{
  "errors": [
    {
      "code": "PRODUTO_NAO_COMERCIALIZADO",
      "title": "Produto não comercializado.",
      "detail": "O produto específico requisitado não é comercializado."
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Códigos de erros previstos na criação de notificação para a iniciação de cotações:  <br>• PRODUTO_NAO_COMERCIALIZADO: Produto não comercializado.  <br>• RISCO_NEGADO: Risco em questão está fora das políticas de aceitação da Seguradora.  <br>• DETALHE_COTACAO_INVALIDO: Detalhe da cotação inválido.  <br>• NAO_INFORMADO: Não informado.|
|» title|string|true|none|Título específico do erro reportado, de acordo com o código enviado:  <br>• PRODUTO_NAO_COMERCIALIZADO: Produto não comercializado.  <br>• RISCO_NEGADO: Risco em questão está fora das políticas de aceitação da Seguradora.  <br>• DETALHE_COTACAO_INVALIDO: Detalhe da cotação inválido.  <br>• NAO_INFORMADO: Não informado.|
|» detail|string|true|none|Descrição específica do erro de acordo com o código reportado:  <br>• PRODUTO_NAO_COMERCIALIZADO – O produto específico requisitado não é comercializado.  <br>• RISCO_NEGADO: Risco em questão está fora das políticas de aceitação da Seguradora. <br>• DETALHE_COTACAO_INVALIDO: O campo [nome_campo] não atende os requisitos de preenchimento.  <br>• NAO_INFORMADO – Não reportado/identificado pela instituição notificada.|
|meta|[Meta](#schemametaquotes)|false|none|Meta informações referente à API requisitada.|

#### Enumerated Values

|Property|Value|
|---|---|
|code|PRODUTO_NAO_COMERCIALIZADO|
|code|RISCO_NEGADO|
|code|DETALHE_COTACAO_INVALIDO|
|code|NAO_INFORMADO|

<h2 id="tocS_ResponseErrorquotes">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorquotes"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-05-21T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametaquotes)|false|none|Meta informações referente à API requisitada.|

<h2 id="tocS_XFapiInteractionIdquotes">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionidquotes"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

<h2 id="tocS_Metaquotes">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametaquotes"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 1,
  "totalPages": 1
}

```

Meta informações referente à API requisitada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer(int32)|true|none|Número total de registros no resultado|
|totalPages|integer(int32)|true|none|Número total de páginas no resultado|

<h2 id="tocS_CreateNotification">CreateNotification</h2>
<!-- backwards compatibility -->
<a id="schemacreatenotification"></a>
<a id="schema_CreateNotification"></a>
<a id="tocScreatenotification"></a>
<a id="tocscreatenotification"></a>

```json
{
  "data": {
    "type": "AUTO"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[CreateNotificationData](#schemacreatenotificationdata)|true|none|Objeto contendo dados da notificação.|

<h2 id="tocS_CreateNotificationData">CreateNotificationData</h2>
<!-- backwards compatibility -->
<a id="schemacreatenotificationdata"></a>
<a id="schema_CreateNotificationData"></a>
<a id="tocScreatenotificationdata"></a>
<a id="tocscreatenotificationdata"></a>

```json
{
  "type": "AUTO"
}

```

Objeto contendo dados da notificação.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo de produto:<br>- CAPITALIZATION_TITLES - Produtos de Titulos de Capitalização<br>- PENSION_RISK - Produtos de Previdência Risco<br>- PENSION_SURVIVAL - Produtos de Previdência Sobrevivência<br>- PATRIMONIAL - Produtos de Patrimonial<br>- AERONAUTICAL - Produtos de Aeronáuticos<br>- NAUTICAL - Produtos de Marítimo<br>- NUCLEAR - Produtos de Nuclear<br>- OIL - Produtos de Petróleo<br>- RESPONSIBILITY - Produtos de Responsabilidade<br>- TRANSPORT - Produtos de Transportes<br>- FINANCIAL_RISKS - Produtos de Riscos Financeiros<br>- RURAL - Produtos de Rural<br>- AUTO - Produtos de Automóveis<br>- HOUSING - Produtos de Habitacional<br>- PEOPLE - Produtos de Pessoas (Repartição simples)<br>- ACCEPTANCE_AND_BRANCHES_ABROAD - Aceitação e Sucursal no exterior|

#### Enumerated Values

|Property|Value|
|---|---|
|type|PATRIMONIAL|
|type|AERONAUTICAL|
|type|NAUTICAL|
|type|NUCLEAR|
|type|OIL|
|type|RESPONSIBILITY|
|type|TRANSPORT|
|type|FINANCIAL_RISKS|
|type|RURAL|
|type|AUTO|
|type|HOUSING|
|type|PEOPLE|
|type|ACCEPTANCE_AND_BRANCHES_ABROAD|
|type|PENSION_RISK|
|type|PENSION_SURVIVAL|
|type|CAPITALIZATION_TITLES|

<h2 id="tocS_CreateConsentsRequests">CreateConsentsRequests</h2>
<!-- backwards compatibility -->
<a id="schemacreateconsentsrequests"></a>
<a id="schema_CreateConsentsRequests"></a>
<a id="tocScreateconsentsrequests"></a>
<a id="tocscreateconsentsrequests"></a>

```json
{
  "data": {
    "correlationId": "ab342c34",
    "loggedUser": {
      "document": {
        "identification": "11111111111",
        "rel": "CPF"
      }
    },
    "businessEntity": {
      "document": {
        "identification": "11111111111111",
        "rel": "CNPJ"
      }
    },
    "productType": "AUTO",
    "permissions": [
      "DAMAGES_AND_PEOPLE_AUTO_CLAIM_READ"
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[CreateConsentsRequestsData](#schemacreateconsentsrequestsdata)|true|none|Objeto contendo dados da necessários para criação do consentimento.|

<h2 id="tocS_CreateConsentsRequestsData">CreateConsentsRequestsData</h2>
<!-- backwards compatibility -->
<a id="schemacreateconsentsrequestsdata"></a>
<a id="schema_CreateConsentsRequestsData"></a>
<a id="tocScreateconsentsrequestsdata"></a>
<a id="tocscreateconsentsrequestsdata"></a>

```json
{
  "correlationId": "ab342c34",
  "loggedUser": {
    "document": {
      "identification": "11111111111",
      "rel": "CPF"
    }
  },
  "businessEntity": {
    "document": {
      "identification": "11111111111111",
      "rel": "CNPJ"
    }
  },
  "productType": "AUTO",
  "permissions": [
    "DAMAGES_AND_PEOPLE_AUTO_CLAIM_READ"
  ]
}

```

Objeto contendo dados da necessários para criação do consentimento.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|correlationId|string|true|none|Id de correlação do consentimento.|
|loggedUser|object|true|none|Usuário (pessoa natural) que encontra-se logado na iniciadora e que iniciará o processo de consentimento para compartilhamento de dados.|
|» document|object|true|none|none|
|»» identification|string|true|none|Número do documento de identificação oficial do usuário.|
|»» rel|string|true|none|Tipo do documento de identificação oficial do usuário.|
|businessEntity|object|false|none|Titular, pessoa jurídica a quem se referem os dados que são objeto de compartilhamento.|
|» document|object|true|none|none|
|»» identification|string|true|none|Número do documento de identificação oficial do titular pessoa jurídica.|
|»» rel|string|true|none|Tipo do documento de identificação oficial do titular pessoa jurídica.|
|productType|string|true|none|Tipo de produto:<br>- CAPITALIZATION_TITLES - Produtos de Titulos de Capitalização<br>- PENSION_RISK - Produtos de Previdência Risco<br>- PENSION_SURVIVAL - Produtos de Previdência Sobrevivência<br>- PATRIMONIAL - Produtos de Patrimonial<br>- AERONAUTICAL - Produtos de Aeronáuticos<br>- NAUTICAL - Produtos de Marítimo<br>- NUCLEAR - Produtos de Nuclear<br>- OIL - Produtos de Petróleo<br>- RESPONSIBILITY - Produtos de Responsabilidade<br>- TRANSPORT - Produtos de Transportes<br>- FINANCIAL_RISKS - Produtos de Riscos Financeiros<br>- RURAL - Produtos de Rural<br>- AUTO - Produtos de Automóveis<br>- HOUSING - Produtos de Habitacional<br>- PEOPLE - Produtos de Pessoas (Repartição simples)<br>- ACCEPTANCE_AND_BRANCHES_ABROAD - Aceitação e Sucursal no exterior|
|permissions|[string]|true|none|Especifica os tipos de permissões de acesso às APIs no escopo do Open Insurance Brasil - Fase 2, de acordo com os blocos de consentimento fornecidos pelo usuário e necessários ao acesso a cada endpoint das APIs.|

#### Enumerated Values

|Property|Value|
|---|---|
|productType|PATRIMONIAL|
|productType|AERONAUTICAL|
|productType|NAUTICAL|
|productType|NUCLEAR|
|productType|OIL|
|productType|RESPONSIBILITY|
|productType|TRANSPORT|
|productType|FINANCIAL_RISKS|
|productType|RURAL|
|productType|AUTO|
|productType|HOUSING|
|productType|PEOPLE|
|productType|ACCEPTANCE_AND_BRANCHES_ABROAD|
|productType|PENSION_RISK|
|productType|PENSION_SURVIVAL|
|productType|CAPITALIZATION_TITLES|

