<h2 id="tocS_successfunildeconsentimento">success</h2>
<!-- backwards compatibility -->
<a id="schemasuccessfunildeconsentimento"></a>
<a id="schema_success"></a>
<a id="tocSsuccess"></a>
<a id="tocssuccess"></a>

```json
{
  "eventId": "7eb81ba1-9011-4c58-9d5b-1098550d2fca",
  "correlationId": "FWUCp4yOA1b87LUJpgn1Mf52wi9KEF11",
  "status": "ACCEPTED"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|eventId|string|true|none|none|
|correlationId|string|true|none|none|
|status|string|true|none|none|

<h2 id="tocS_response400funildeconsentimento">response400</h2>
<!-- backwards compatibility -->
<a id="schemaresponse400funildeconsentimento"></a>
<a id="schema_response400"></a>
<a id="tocSresponse400"></a>
<a id="tocsresponse400"></a>

```json
{
  "correlationId": "FWUCp4yOA1b87LUJpgn1Mf52wi9KEF11",
  "status": "DISCARDED",
  "message": "Missing fields: fapiInteractionId, endpoint"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|correlationId|string|false|none|none|
|status|string|true|none|none|
|message|string|true|none|none|

<h2 id="tocS_response401funildeconsentimento">response401</h2>
<!-- backwards compatibility -->
<a id="schemaresponse401funildeconsentimento"></a>
<a id="schema_response401"></a>
<a id="tocSresponse401"></a>
<a id="tocsresponse401"></a>

```json
{
  "message": "Unauthorized"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_response404funildeconsentimento">response404</h2>
<!-- backwards compatibility -->
<a id="schemaresponse404funildeconsentimento"></a>
<a id="schema_response404"></a>
<a id="tocSresponse404"></a>
<a id="tocsresponse404"></a>

```json
{
  "message": "Not Found"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_response406funildeconsentimento">response406</h2>
<!-- backwards compatibility -->
<a id="schemaresponse406funildeconsentimento"></a>
<a id="schema_response406"></a>
<a id="tocSresponse406"></a>
<a id="tocsresponse406"></a>

```json
{
  "message": "Content-Type not accepted"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_response413funildeconsentimento">response413</h2>
<!-- backwards compatibility -->
<a id="schemaresponse413funildeconsentimento"></a>
<a id="schema_response413"></a>
<a id="tocSresponse413"></a>
<a id="tocsresponse413"></a>

```json
{
  "message": "Record limit exceeded"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_response415funildeconsentimento">response415</h2>
<!-- backwards compatibility -->
<a id="schemaresponse415funildeconsentimento"></a>
<a id="schema_response415"></a>
<a id="tocSresponse415"></a>
<a id="tocsresponse415"></a>

```json
{
  "message": "Unsupported media type"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_response500funildeconsentimento">response500</h2>
<!-- backwards compatibility -->
<a id="schemaresponse500funildeconsentimento"></a>
<a id="schema_response500"></a>
<a id="tocSresponse500"></a>
<a id="tocsresponse500"></a>

```json
{
  "message": "Internal Server Error"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|message|string|true|none|none|

<h2 id="tocS_batchBodyfunildeconsentimento">batchBody</h2>
<!-- backwards compatibility -->
<a id="schemabatchbodyfunildeconsentimento"></a>
<a id="schema_batchBody"></a>
<a id="tocSbatchbody"></a>
<a id="tocsbatchbody"></a>

```json
{
  "organisationId": "c1ddd896-1145-4177-9b58-8a6e310557e2",
  "events": [
    {
      "consentId": "urn:bancoex:C1DD33123",
      "step": "consent-created",
      "correlationId": "577869e5-4c63-4b19-9235-a18d22c80986",
      "additionalInfo": {
        "consent-user": "invalid-credentials",
        "authentication-failure-reason": "invalid-credentials",
        "user-redirected-back-status": "success",
        "token-kind": "consent-token",
        "rejected-by": "user",
        "revoked-by": "user",
        "expired-by": "authorization-timeout"
      },
      "timestamp": "2022-11-07T17:26:32Z",
      "clientOrgId": "1fb79963-4bff-4204-9370-93aceb8a2f0d",
      "clientSSId": "2a59c2a3-529f-41c6-97e3-77395e9951ca",
      "serverOrgId": "ff66b95a-d817-4fbe-949a-c5912e240189",
      "serverASId": "f8cd7b48-197d-419b-8680-f42226111b6f"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|organisationId|string|true|none|none|
|events|[[eventBody](#schemaeventbodyfunildeconsentimento)]|true|none|none|

<h2 id="tocS_eventBodyfunildeconsentimento">eventBody</h2>
<!-- backwards compatibility -->
<a id="schemaeventbodyfunildeconsentimento"></a>
<a id="schema_eventBody"></a>
<a id="tocSeventbody"></a>
<a id="tocseventbody"></a>

```json
{
  "consentId": "urn:bancoex:C1DD33123",
  "step": "consent-created",
  "correlationId": "577869e5-4c63-4b19-9235-a18d22c80986",
  "additionalInfo": {
    "consent-user": "invalid-credentials",
    "authentication-failure-reason": "invalid-credentials",
    "user-redirected-back-status": "success",
    "token-kind": "consent-token",
    "rejected-by": "user",
    "revoked-by": "user",
    "expired-by": "authorization-timeout"
  },
  "timestamp": "2022-11-07T17:26:32Z",
  "clientOrgId": "1fb79963-4bff-4204-9370-93aceb8a2f0d",
  "clientSSId": "2a59c2a3-529f-41c6-97e3-77395e9951ca",
  "serverOrgId": "ff66b95a-d817-4fbe-949a-c5912e240189",
  "serverASId": "f8cd7b48-197d-419b-8680-f42226111b6f"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|consentId|string|true|none|O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.<br>Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN seja um identificador de recurso persistente e independente da localização.<br>Considerando a string urn:bancoex:C1DD33123 como exemplo para consentId temos:<br><br>o namespace(urn)<br>o identificador associado ao namespace da instituição transnmissora (bancoex)<br>o identificador específico dentro do namespace (C1DD33123).<br>Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).|
|step|string|true|none|Etapa do funil de consentimento.<br><br>Etapas do Cliente:<br>  * consent-created<br>  * user-redirected<br>  * user-redirected-back<br>  * consent-token-received<br>  * refresh-token-used<br>  * resource-accessed<br>  * consent-revoked<br><br>Etapas do Servidor:<br>  * consent-created<br>  * user-redirected<br>  * user-authentication-failed<br>  * user-authenticated<br>  * consent-authorized<br>  * consent-rejected<br>  * authorization-code-created<br>  * user-redirected-back<br>  * consent-token-generated<br>  * refresh-token-used<br>  * resource-accessed<br>  * consent-revoked<br>  * consent-expired|
|correlationId|string|true|none|none|
|additionalInfo|object|false|none|none|
|» consent-user|string|false|none|Informa se é cliente ou não do Receptor de dados.<br><br />[Restrição] deve ser enviado quando o step for consent-created.|
|» authentication-failure-reason|string|false|none|Informa razão da falha na autenticação.<br><br />[Restrição] deve ser enviado quando o step for user-authentication-failed.|
|» user-redirected-back-status|string|false|none|Informa o status do redirect.<br><br />[Restrição] deve ser enviado quando o step for user-redirected-back.|
|» token-kind|string|false|none|Informa o tipo do token utilizado na autorização do recurso.<br><br />[Restrição] deve ser enviado quando o step for resource-accessed.|
|» rejected-by|string|false|none|Responsável pela rejeição. O usuário rejeitou ou o sistema devido a problemas<br>técnicos, políticas de segurança aplicada pela instituição transmissora, etc.<br><br />[Restrição] deve ser enviado quando o step for consent-rejected.|
|» revoked-by|string|false|none|Responsável pela revogação. O usuário solicitou a revogação ou o sistema<br>revogou por questões de segurança<br><br />[Restrição] deve ser enviado quando o step for consent-revoked.|
|» expired-by|string|false|none|Razão da expiração. Consentimento que ultrapassou o tempo limite para autorização<br>(authorization-timeout) ou consentimento que ultrapassou o tempo limite<br>de compartilhamento (max-date-reached).<br><br />[Restrição] deve ser enviado quando o step for consent-expired.|
|timestamp|string(date-time)|true|none|Data e hora aproximada da ocorrência do evento. Uma string com data e hora conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), sempre com a utilização de timezone UTC(UTC time format).|
|clientOrgId|string|true|none|Id da organização do cliente|
|clientSSId|string|true|none|Id do Software Statement do cliente|
|serverOrgId|string|true|none|Id da organização do servidor|
|serverASId|string|true|none|Id do Authorization Server do servidor|

#### Enumerated Values

|Property|Value|
|---|---|
|step|consent-created|
|step|user-redirected|
|step|user-authentication-failed|
|step|user-authenticated|
|step|consent-authorized|
|step|consent-rejected|
|step|authorization-code-created|
|step|user-redirected-back|
|step|consent-token-generated|
|step|consent-token-received|
|step|refresh-token-used|
|step|resource-accessed|
|step|consent-revoked|
|step|consent-expired|
|consent-user|user|
|consent-user|non-user|
|authentication-failure-reason|invalid-credentials|
|authentication-failure-reason|invalid-mfa|
|authentication-failure-reason|other|
|user-redirected-back-status|success|
|user-redirected-back-status|failure|
|token-kind|consent-token|
|token-kind|client-credential|
|rejected-by|user|
|rejected-by|system|
|revoked-by|user|
|revoked-by|system|
|expired-by|authorization-timeout|
|expired-by|max-date-reached|
