Após o *onboarding* da instituição e do representante da mesma, é necessário realizar o cadastro da equipe de contatos de notificação no Diretório Central. Esses contatos são para possíveis comunicações entre os participantes e a estrutura central.

**ETAPA 1**: Cadastrando um novo contato

### Requisitos

1. No Diretório, localize e selecione a sua organização.
2. Selecione o menu *Contacts* e clique no botão *New Contact*.
3. Na janela *New Contact* preencha os campos do formulário. A tabela a seguir apresenta cada um dos campos em mais detalhes.
4. Clique no botão *Save*.

![](../../../../images/manualDiretorio/CadastrandoContatos1.PNG)

![](../../../../images/manualDiretorio/CadastrandoContatos2.PNG)


**Nota**: Os usuários de notificação não possuem ações dentro do Diretório e nas demais plataformas do perímetro central.

Nome do campo | Descrição | Exemplo
| --- | --- | --- |
Contact Type* | Tipo do contato (Business/Negócio, Technical/Técnico, Billing/Cobrança, Incident/Incidente e Security/Segurança). | Incident
Department | Deve ser informado o departamento do contato. | Operações de TI
First Name| Deve ser informado o primeiro nome do contato. | Maria
Last Name | Deve ser informado o sobrenome do contato. | Gomes
E-mail* | O endereço de e-mail do contato. | maria.gomes@semicredi.com.br
Phone Number* | Deve ser informado o número de telefone do contato. | +55 51 900000000
Additional Information | Deve ser informado o e-mail para o grupo de notificação do contato. | openinsurance@semicredi.com.br
PGP Public Key | Deve ser preenchido com uma chave alfanumérica para comunicação de dados de incidentes de segurança entre instituições. | Como esta chave tem extensão muito grande para adicionar como exemplo, segue <a target="_blank" href="https://www.openpgp.org/about/standard/">link para documentações </a>para documentações que definem a chave <a target="_blank" href="https://datatracker.ietf.org/doc/html/rfc4880">PGP (RFC 488)</a>.
Address Line 1 | Deve ser informado o endereço (Rua, Avenida ou Alameda). | Rua ABC 123
Address Line 2 | Deve ser informado o bairro. | Cidades Monções
City | Deve ser informado a cidade de domicílio. | São Paulo
Post Code | Deve ser informado o código portal. | 99.999-99
Country | Deve ser informado o país de domicílio. | Brasil

(*) Campo obrigatório

### DETALHAMENTO DOS TIPOS DE CONTATO

Nome do campo | Descrição
| --- | --- | --- |
Business/Negócio | Contato responsável pela gestão de negócio do Open Insurance na instituição.
Technical/Técnico | Contato para tratativa de problemas técnicos de performance, disponibilidade e em relação a APIs de forma geral.
Billing/Cobrança | Contato responsável pela cobrança dos custos da estrutura central do Open Insurance Brasil.
Incident/Incidente | Contato responsável pelo atendimento de incidentes relacionados ao Open Insurance na instituição.
Security/Segurança | Contato para tratativas relacionadas a problemas de caráter de segurança como DCR, certificados, entre outros.

**Nota**: É de inteira responsabilidade da instituição manter os contatos sempre atualizados para que a comunicação entre as instituições participantes não seja prejudicada.
