Esta seção explica as etapas para cadastrar os endpoints de recursos de uma API.

### Cadastramento de Recursos

Para cada uma das famílias de APIs devem ser adicionados todos os endpoints disponíveis. Segue abaixo um exemplo de disponibilização do cadastramento de recursos:

![](../../../../images/manualDiretorio/CadastrandoRecursos3.PNG)

**Nota**: Na Fase 2 o padrão de cadastramento continua como na Fase 1. Seguem, aqui, alguns pontos de atenção:<br/>• Na API de consentimento é necessário apenas o cadastramento de uma entrada para o GET e o DELETE;<br/>• A API de customers foi dividida em duas famílias para facilitar o consumos pelos receptores. Customers-business onde é cadastrado os Endpoints PJ e customers-personal onde será cadastrado os endpoints PF. Cabendo aqui o cadastramento conforme a disponibilização do produto pela instituição;<br/>

### Tabela Exemplo Recursos Fase 1

API | Diretório (Family Type) | Recursos (resources)
|---|---|---|
discovery | discovery | https://api.organizacao.com.br/open-insurance/discovery/v1/status<br/>https://api.organizacao.com.br/open-insurance/discovery/v1/outages
data_channels | data_channels | https://api.organizacao.com.br/open-insurance/data_channels/v1/electronic-channels<br/>https://api.organizacao.com.br/open-insurance/data_channels/v1/branches<br/>https://api.organizacao.com.br/open-insurance/data_channels/v1/phone-channels
admin_metrics | admin_metrics | https://api.organizacao.com.br/open-insurance/admin_metrics/v1/admin_metrics

**Observação**: a tabela acima não é exaustiva, ou seja, não contém todas as APIs da Fase 1 para o Open Insurance Brasil.

### Tabela Exemplo Recursos Fase 2

API | Diretório (Family Type) | Recursos (resources)
--|--|--
resources | resources |  https://api.organizacao.com.br/open-insurance/resources/v1/
customers | customers | https://api.organizacao.com.br/open-insurance/customers/v1/personal/identifications<br/>https://api.organizacao.com.br/open-insurance/customers/v1/business/identifications<br/>

**Observação**: a tabela acima não é exaustiva, ou seja, não contém todas as APIs da Fase 2 para o Open Insurance Brasil.

**ETAPA 1**: Cadastrando um novo recurso de uma API


![](../../../../images/manualDiretorio/CadastrandoRecursos1.PNG)

![](../../../../images/manualDiretorio/CadastrandoRecursos2.PNG)

![](../../../../images/manualDiretorio/CadastrandoRecursos3.PNG)

### Requisitos

1. No Diretório, localize e selecione a sua organização.
2. Selecione o menu *Authorisation Servers* e clique no link do servidor de autorização na qual se deseja cadastrar os recursos.
3. No canto superior esquerdo da página clique em *API Resources*.
4. Na página que será carregada, clique no botão *New API Resources* para abrir a janela *New API Resource*.
5. Na janela *New API Resource*, clique na caixa de seleção *API Family Type* e selecione uma das opções disponíveis.
6. No campo ao lado, em *Version* especifique o valor apropriado utilizando versionamento semântico (major.minor.patch, exemplo: 1.0.7)
7. No campo *Certification URI* é necessário informar a URI onde se encontra a localização do certificado publicado no GitHub. Este preenchimento é obrigatório para famílias de APIs a partir da Fase 2.
8. Clique no botão *Save*.

    **Nota**: No ambiente de Sandbox do Diretório, caso não exista uma certificação, é possível incluir um endereço para testes: https://openinsurance-brasil.github.io/teste.zip

9. De volta à tela *API Resources*, informe URI principal no campo *API Discovery Endpoints* e, em seguida, pressione a tecla Enter.

10. Para cada uma das famílias de APIs repita os passos 4 a 8.

**Nota**: Todos os *endpoints* deverão ser preenchidos, incluindo os respectivos recursos. Para obter mais detalhes sobre o padrão do *endpoints* e versão consulte o <a target="_blank" href="https://br-openinsurance.github.io/areadesenvolvedor/#api-auto-v100-permissions-necessarias-para-a-api-insuranceauto"> Portal do Desenvolvedor do Open Insurance </a>
