Durante a jornada de consentimento do usuário, os receptores exibirão a marca e o servidor de autorização que está sendo solicitado o acesso aos dados do usuário. Esta seção descreve as etapas necessárias para cadastrar as marcas e os servidores de autorização da organização.

**ETAPA 1**: Criando um novo servidor de autorização

### Requisitos

![](../../../../images/manualDiretorio/CadastrandoServidores1.PNG)

![](../../../../images/manualDiretorio/CadastrandoServidores2.PNG)

1. No Diretório, localize e selecione a sua organização.
2. Selecione o menu *Authorisation Servers*. No canto superior esquerdo será carregado um submenu. Para cadastrar um novo *Authorisation Server* clique no botão *New Authorisation Server* localizado no lado direito da tela.
3. Na janela *New Authorisation Server*, preencha os campos do formulário. A seguir serão apresentados cada um dos campos em mais detalhes.
Atenção 1: Tendo em vista a ausência de análise de impacto para o ecossistema da retirada de um *Authorisation Server*, recomenda-se que os(as) responsáveis por consentimentos não sejam retirados do diretório até a expiração/revogação dos consentimentos pelos quais é responsável.
Atenção 2: Caso a instituição queira utilizar alguma chave forte, recomendamos utilizar o *AuthorisationServerID*. Os campos *Customer Friendly Server Name* e *Description* são especialmente suscetíveis a atualizações pelas organizações e não devem ser utilizados para esse fim.

Nome do campo | Descrição | Exemplo
|---|---|---|
Customer Friendly Server Name* | Deve ser definido o valor da marca que será exibido no receptor. Apresentar seu nome por inteiro, sem abreviações, de forma a ser reconhecido pelo cliente e aderente a interfaces menores.<br/>• Limite de caracteres: 40 (padrão do campo)<br/>Para mais informações sobre marca, consulte o Guia de Experiência de Usuário.<br/> | Semicredi
OpenID<br/>Discovery<br/>Document URI* |O URI para a localização do documento de descoberta OpenID. | https://www.semicredi.com.br/.well-known/openidconfiguration
Payload Signing<br/>Certificate URI*<br/> | O URI para a localização do certificado de assinatura. | https://www.semicredi.com.br/jwks

(*) Campo obrigatório

Nome do campo | Descrição | Exemplo
|---|---|---|
Customer Friendly Logo URI* | Deve ser definida a URI para o logotipo da marca. Para obter mais detalhes sobre formato, dimensão e peso máximo do arquivo consulte o Guia de Experiencia Fase 2. | https://wwww.semicredi.com.br/logo.svg
Developer Portal URI | O URI do portal do desenvolvedor. | https://developers.semicredi.com.br
Terms Of Service URI | A URI de localização do documento de termos e serviços da organização. | https://wwww.semicredi.com.br/tos.html
Notification Webhook Endpoint | Endpoint do Webhook de notificação. A seção Configurando Eventos de Notificação no Diretório descreve esta configuração em mais detalhes. | https://webhook.site/9d84a827-c200-4170-b0f8-f830170037bb
Description* | Esse é um texto de marcação onde deverá ser descrita a marca, trazendo informações adicionais para que o cidadão não tenha dúvidas sobre a escolha feita.<br/>1. Limite de caracteres: 256 (padrão do campo).<br/>2. Não deve ser permitido que a descrição traga links.<br/>3. Orientações sobre o que pode conter:<br/>• Texto institucional de apresentação.<br/>• Desde quanto atua.<br/>• Diferenciais de atuação.<br/>• Canais de atendimento.<br/> | “A instituição Semicredi atua desde 1999 sendo uma das maiores seguradoras do Brasil, seja na web ou pelo App oferecemos produtos para sua família, empresa, carro e casa.”

**Nota**: O campo *Customer Friendly Logo URI* é o que a receptora deverá utilizar para apresentar a logomarca da transmissora.

(*) Campo obrigatório

### Detalhamento do Logotipo

O logotipo das instituições participantes deverá ser aplicado no Portal do Cidadão e também poderá ser aplicado no redirecionamento entre instituições durante a Jornada de Compartilhamento de Dados. Por isso foram deliberadas práticas para uso e disponibilização:<br/>• Utilizar preferencialmente logotipo prioritário, que os clientes reconheçam nos canais.<br/>• Versão reduzida do logo, símbolo ou favicon de site.<br/>• Enviar arquivo SVG contendo a área de proteção do logo da instituição para garantir a leitura e o espaçamento correto.<br/>• Formato de envio:<br/> <sub> &emsp;SVG<br/>&emsp;Dimensão mínima: 512px x 512px<br/>&emsp;Sem sombra</sub><br/>• Peso máximo do arquivo: 1 mega.

**ETAPA 2**: Cadastrando certificação de segurança no servidor

### Requisitos

![](../../../../images/manualDiretorio/CadastrandoServidores3.PNG)

![](../../../../images/manualDiretorio/CadastrandoServidores4.PNG)

1. No Diretório, localize e selecione a sua organização.
2. Selecione o menu *Authorisation Servers*. Depois selecione o servidor de autorização que deseja. Após selecionar, vá no submenu do lado superior esquerdo e clique em *Server Certifications*.
3. Dentro dessa área, para cadastrar uma nova certificação, clique no botão *Add New Certification* localizado no lado direito da tela.
4. Na janela *New certification* preencha os campos do formulário. A seguir serão apresentados os campos em mais detalhes.

As informações da certificação do *Authorisation Server* são referentes à certificação FAPI obtida através da  <a target="_blank" href="https://openid.net/certification/#FAPI_OPs">OpenID Foundation</a>. Dentro do site é possível encontrar uma tabela *Open Insurance Brazil (Based on FAPI 1 Advanced Final)* que contém as informações que devem ser refletidas no formulário para adição da certificação de segurança.

Nome do campo | Descrição | Exemplo
--|--|--
Certification<br/>type* | O tipo de certificação que foi efetuada com a OpenID Foundation – Deve ser adicionado ao menos uma certificação Redirect (FAPI) e uma DCR. |Redirect<br/>DCR<br/>CIBA – certificação ainda não disponível
Certification<br/>type variant* | As variantes dependem do tipo de certificação escolhida. | Dentro da tabela da OpenID Foundation, cada coluna representa as possíveis variações nas certificações.<br/>Para a certificação DCR, a instituição deve avaliar se certificou utilizando APIs de Dados do consumidor – Unsigned, ou de Pagamentos - Signed. | Se escolheu Redirect:<br/>• FAPI Adv. OP w/ MTLS<br/>• FAPI Adv. OP w/ MTLS, PAR<br/>• FAPI Adv. OP w/ Private Key<br/>• FAPI Adv. OP w/ Private Key, PAR<br/>Se escolheu DCR:<br/>• DCR Signed payload – JWT<br/>• DCR Unsigned payload - JSON
Profile<br/>version* | A versão da certificação selecionado – Campo livre, apenas para controle da própria instituição. | 1
Certification<br/>payload* | O URI que aponta para o arquivo hospedado pela OpenID Foundation com o pacote de certificação. Formato zip. | https://openid.net/wordpresscontent/uploads/2021/08/BR-OB_Adv._OP_MTLSexemplo.zip
Start date of certification* | A data de certificação inicial – é a mesma data que consta na tabela da OpenID Foundation. Formato dd/mm/yyyy | 09/05/2022


(*) Campo obrigatório