Constantemente são realizados aprimoramentos e atualizações no Diretório e estas mudanças são registradas em uma página Web onde reside todo o conteúdo do Release Notes. Esta seção descreve as etapas necessárias de inscrição para o recebimento de notificação do release notes do Diretório quando publicado.

**ETAPA 1**: Cadastrando o recebimento de release notes.

#### Requisitos

![](../../../../images/manualDiretorio/InscrevendoAtualizacoes1.png)

![](../../../../images/manualDiretorio/InscrevendoAtualizacoes2.png)

1. Em seu navegador, navegue até <a target="_blank" href="https://status.directory.opinbrasil.com.br/"> site de monitoramento de disponibilidade do Diretório</a>.
2. Clique em “Subscrever atualizações”.
3. Na tela seguinte, adicione seu e-mail e clique no botão ‘Subscrever’. O Diretório irá enviar uma mensagem de confirmação, que será encaminhada ao endereço de email informado.
4. No e-mail recebido, clique no botão ‘Sim, subscreve-me’.
5. Em uma página da Web será apresentada a mensagem que seu e-mail encontra-se agora subscrito para atualizações de estado Open Insurance Brasil.

**Nota**: Caso você não tenha recebido o e-mail de confirmação, verifique sua caixa de SPAM e as politicas de bloqueio de mensagens. O envio das mensagens poderá sofrer algum atraso, contudo, se o problema persistir, clique no botão Subscrever Alterações para reenvio das mensagens.

**ETAPA 2**: Acessando o Release Notes

#### Requisitos

![](../../../../images/manualDiretorio/InscrevendoAtualizacoes3.png)

1. No navegador, digite a URL de acordo com o ambiente a ser acessado:<br/>

*Sandbox*<br/>

https://data.sandbox.directory.opinbrasil.com.br/release-notes<br/>

*Produção*<br/>

https://data.directory.opinbrasil.com.br/release-notes

