<h2 id="documentos-para-o-participante">Documentos</h2>

<a target="_blank" href="files/OPIN_Passo_a_passo_cadastro_APIs_20211207.pdf">Passo a passo para cadastro de Endpoint’s - dados públicos Fase 1</a> <br>
<a target="_blank" href="files/OPIN_Passo_a_passo_cadastro_Diretorio_20211207.pdf">Passo a passo de cadastro no diretório</a> <br>
<a target="_blank" href="files/Open_Insurance_Passo_a_passo_Cadastro_Contatos_Tecnicos_Diretorio.pdf">Passo a passo Cadastro Contatos Técnicos Diretório</a> <br>
<a target="_blank" href="files/Open_Insurance_Passo_a_passo_teste_de_conformidade_v2.pdf">Passo a passo testes de confomidade APIs</a> <br>
<a target="_blank" href="files/v102_Orientacoes_Homologacoes_de_API.pdf">Orientação de homologação de API</a> <br>
<a target="_blank" href="files/Orientacoes-Estrategia_Cadastro_APIs.pdf">Recomendações Cadastro APIs Diretório</a> <br>
<a target="_blank" href="files/Open_Insurance_Passo_a_passo_cadastro_Diretorio_SandBox.pdf">Passo a passo de cadastro no diretório (Ambiente de SandBox)</a> <br>
<a target="_blank" href="files/OpenInsurance_Criacao_Software_Statement.pdf">Criando uma Declaração de Software</a><br>
<a target="_blank" href="files/OpenInsurance_Gerando_o_Certificado_BRCAC.pdf">Gerando o Certificado BRCAC</a><br>
<a target="_blank" href="files/OpenInsurance_Gerando_o_Certificado_BRSEAL.pdf">Gerando o Certificado BRSEAL</a><br>
<a target="_blank" href="files/OpenInsurance_Obtendo_um_token_para_acesso_as_APIs_do_Diretorio.pdf">Obtendo um token para acesso as APIs do Diretório</a><br>
<a target="_blank" href="files/Open_Insurance_Processo_de_Seguranca.pdf">Processo de Segurança</a><br>
<a target="_blank" href="files/GUIA_EXPERIENCIA_UX-VFinal.pdf">Guia de Experiência de Usuário Fase 2</a><br>
<a target="_blank" href="files/OPIN_Guia_de_Experiencia_do_Usuario_Fase_III_V3_prot.pdf">Guia de Experiência de Usuário Fase 3</a><br>
<a target="_blank" href="files/Guia_para_incorporar_a_Certificacao_no_diretorio.pdf">Guia para incorporar a Certificação no diretório</a><br>
<a target="_blank" href="files/OPIN_Guia_para_certificacao_APIs_da_Fase_2.pdf">Guia para certificação APIs da Fase 2</a><br>
<a target="_blank" href="files/Relatorio_Anual_Direcionamento_ao_Mercado.pdf">Relatório Anual de Direcionamento ao Mercado.</a>