<h2 id="workshops">Workshops</h2>
<h3>Certificação FAPI:</h3>

**FAPI Transmissora / DCR**

- Treinamento de Capacitação da certificação FAPI Transmissora (FAPI OP + DCR) <a href="https://www.youtube.com/watch?v=kZs8XTdE_lU&t=9s&ab_channel=OpenInsuranceBrasil" target="_blank"> 1º Workshop Processo de Certificação FAPI com OpenID Foundation</a>
- Treinamento de Capacitação da certificação FAPI Transmissora (FAPI OP + DCR) <a href="https://www.youtube.com/watch?v=2DwuXOd4h3s&ab_channel=OpenInsuranceBrasil" target="_blank"> 2º Workshop Processo de Certificação FAPI com Open ID Foundation</a>

**FAPI Receptora**

- Treinamento de Capacitação da certificação FAPI Receptora (FAPI RP) <a href="https://www.youtube.com/watch?v=N6HnHvHVms0&ab_channel=OpenInsuranceBrasil" target="_blank"> 3º Workshop Processo de Certificação FAPI com Open ID Foundation</a>

<h3>Certificados ICP BRASIL</h3>

- Plantão de dúvidas dos certificados: <a href="https://www.youtube.com/watch?v=PEqoYkMMn3g&t=915s&ab_channel=OpenInsuranceBrasil" target="_blank"> 1º Workshop - Plantão de Dúvidas com as Autoridades Certificadoras - Certificados ICP Brasil</a>
- Treinamento de capacitação das participantes:<a href="https://www.youtube.com/watch?v=Uib5s1juXLQ&t=8116s&ab_channel=OpenInsuranceBrasil" target="_blank"> 2º Workshop - Plantão de Dúvidas - Certificados ICP Brasil </a>

<h3>Mock Insurance:</h3>
-  Treinamento de utilização da Plataforma do Mock Insurance: <a href="https://www.youtube.com/watch?v=ebMbmX3kLRo&t=25s&ab_channel=OpenInsuranceBrasil" target="_blank" >1º Workshop de Apresentação do Mock Insurance </a>
-  Apresentação dos aprimoramentos, recursos e funcionalidades de utilização da Plataforma: <a href="https://www.youtube.com/watch?v=jUC5N49XV9Q_channel=OpenInsuranceBrasil" target="_blank"> 2º Workshop de Apresentação da Plataforma Mock Insurance</a>

<h3>Motor de Conformidade</h3>
- Treinamento de capacitação das participantes nos testes estruturais e funcionais: <a href="https://www.youtube.com/watch?v=oAh4C9yH9qw&t=1s&ab_channel=OpenInsuranceBrasil" target="_blank" >1º Workshop Processo de Certificação Funcional das APIs Fase 2 com a Raidiam </a>
- Treinamento do Processo de Certificação de Conformidade: <a href="https://www.youtube.com/watch?v=IC3EqHfHXbw_channel=OpenInsuranceBrasil" target="_blank" >2º Workshop Processo de Certificação de Conformidade </a>

<h3>Plataforma de Coleta de Métricas:</h3>
- Treinamento de utilização da API de Métricas Transacionais: <a href="https://www.youtube.com/watch?v=AjuDiNPaRCg&ab_channel=OpenInsuranceBrasil" target="_blank">1º Workshop de Apresentação da Plataforma de Métricas </a>

<h3>Plataforma Service Desk:</h3>
-  Treinamento dos Representantes N2 das Participantes na Plataforma Service Desk: <a href="https://www.youtube.com/watch?v=99ikTAVCXrc&ab_channel=OpenInsuranceBrasil" target="_blank" > 1º Workshop de Treinamento N2 da Plataforma Service Desk </a>

<h3>Fluxo de Validação em Produção</h3>
- Treinamento do Fluxo de Validação em Produção (FVP): <a href="https://www.youtube.com/watch?v=E2PjkR0j994&ab_channel=OpenInsuranceBrasil" target="_blank">1º Workshop de Instruções do Fluxo de Validação em Produção (FVP)</a>
