<h2 id="tocS_ResponseInsuranceRural">ResponseInsuranceRural</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancerural"></a>
<a id="schema_ResponseInsuranceRural"></a>
<a id="tocSresponseinsurancerural"></a>
<a id="tocsresponseinsurancerural"></a>

```json
{
  "data": [
    {
      "brand": "string",
      "companies": [
        {
          "companyName": "string",
          "cnpjNumber": "12345678901234",
          "policies": [
            "42"
          ]
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|none|
|» brand|string|true|none|Nome da marca reportada pelo participante do Open Insurance|
|» companies|[object]|true|none|none|
|»» companyName|string|true|none|Nome da sociedade pertencente à marca|
|»» cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca|
|»» policies|[string]|true|none|none|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_ResponseInsuranceRuralPolicyInfo">ResponseInsuranceRuralPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsuranceruralpolicyinfo"></a>
<a id="schema_ResponseInsuranceRuralPolicyInfo"></a>
<a id="tocSresponseinsuranceruralpolicyinfo"></a>
<a id="tocsresponseinsuranceruralpolicyinfo"></a>

```json
{
  "data": {
    "documentType": "APOLICE_INDIVIDUAL",
    "policyId": "111111",
    "susepProcessNumber": "string",
    "groupCertificateId": "string",
    "issuanceType": "EMISSAO_PROPRIA",
    "issuanceDate": "AAAA-MM-DD",
    "termStartDate": "AAAA-MM-DD",
    "termEndDate": "AAAA-MM-DD",
    "leadInsurerCode": "string",
    "leadInsurerPolicyId": "string",
    "maxLMG": {
      "amount": 2000,
      "currency": "BRL"
    },
    "proposalId": "string",
    "insureds": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "beneficiaries": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "principals": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "intermediaries": [
      {
        "type": "REPRESENTANTE",
        "identification": "12345678900",
        "brokerId": "string",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "insuredObjects": [
      {
        "identification": "string",
        "type": "CONTRATO",
        "typeAdditionalInfo": "string",
        "description": "string",
        "amount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "coverages": [
          {
            "branch": 111,
            "code": "GRANIZO",
            "description": "string",
            "internalCode": "string",
            "susepProcessNumber": "string",
            "LMI": {
              "amount": 2000,
              "currency": "BRL"
            },
            "isLMISublimit": true,
            "termStartDate": "AAAA-MM-DD",
            "termEndDate": "AAAA-MM-DD",
            "isMainCoverage": true,
            "feature": "MASSIFICADOS",
            "type": "PARAMETRICO",
            "gracePeriod": 0,
            "gracePeriodicity": "DIA",
            "gracePeriodCountingMethod": "DIAS_UTEIS",
            "gracePeriodStartDate": "AAAA-MM-DD",
            "gracePeriodEndDate": "AAAA-MM-DD"
          }
        ]
      }
    ],
    "coverages": [
      {
        "branch": 111,
        "code": "GRANIZO",
        "description": "string",
        "deductible": {
          "type": "DEDUTIVEL",
          "typeAdditionalInfo": "string",
          "amount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "period": 10,
          "periodicity": "DIA",
          "periodCountingMethod": "DIAS_UTEIS",
          "periodStartDate": "2022-05-16",
          "periodEndDate": "2022-05-17",
          "description": "Franquia de exemplo"
        },
        "POS": {
          "applicationType": "VALOR",
          "description": "Descrição de exemplo",
          "minValue": {
            "amount": 2000,
            "currency": "BRL"
          },
          "maxValue": {
            "amount": 2000,
            "currency": "BRL"
          },
          "percentage": 10
        }
      }
    ],
    "coinsuranceRetainedPercentage": 10,
    "coinsurers": [
      {
        "identification": "string",
        "cededPercentage": 10
      }
    ],
    "branchInfo": {
      "insuredObjects": [
        {
          "identification": "string",
          "isFESRParticipant": true,
          "subventionAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "subventionType": "AC",
          "safeArea": 2000,
          "unitMeasure": "HECTAR",
          "cultureCode": 11111111,
          "flockCode": "BOVINOS",
          "forestCode": "PINUS",
          "surveyDate": "AAAA-MM-DD",
          "surveyAddress": "string",
          "surveyCountrySubDivision": "SP",
          "surveyPostCode": 10000000,
          "surveyCountryCode": "BRA",
          "surveyorIdType": "CPF",
          "surveyorId": 40,
          "surveyorName": "string",
          "modelType": "CLIMATICOS",
          "areAssetsCovered": true,
          "coveredAnimalDestination": "CONSUMO",
          "animalType": "ELITE"
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceRuralPolicyInfo](#schemainsuranceruralpolicyinfo)|true|none|none|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_InsuranceRuralPolicyInfo">InsuranceRuralPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralpolicyinfo"></a>
<a id="schema_InsuranceRuralPolicyInfo"></a>
<a id="tocSinsuranceruralpolicyinfo"></a>
<a id="tocsinsuranceruralpolicyinfo"></a>

```json
{
  "documentType": "APOLICE_INDIVIDUAL",
  "policyId": "111111",
  "susepProcessNumber": "string",
  "groupCertificateId": "string",
  "issuanceType": "EMISSAO_PROPRIA",
  "issuanceDate": "AAAA-MM-DD",
  "termStartDate": "AAAA-MM-DD",
  "termEndDate": "AAAA-MM-DD",
  "leadInsurerCode": "string",
  "leadInsurerPolicyId": "string",
  "maxLMG": {
    "amount": 2000,
    "currency": "BRL"
  },
  "proposalId": "string",
  "insureds": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "beneficiaries": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "principals": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "intermediaries": [
    {
      "type": "REPRESENTANTE",
      "identification": "12345678900",
      "brokerId": "string",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "insuredObjects": [
    {
      "identification": "string",
      "type": "CONTRATO",
      "typeAdditionalInfo": "string",
      "description": "string",
      "amount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "coverages": [
        {
          "branch": 111,
          "code": "GRANIZO",
          "description": "string",
          "internalCode": "string",
          "susepProcessNumber": "string",
          "LMI": {
            "amount": 2000,
            "currency": "BRL"
          },
          "isLMISublimit": true,
          "termStartDate": "AAAA-MM-DD",
          "termEndDate": "AAAA-MM-DD",
          "isMainCoverage": true,
          "feature": "MASSIFICADOS",
          "type": "PARAMETRICO",
          "gracePeriod": 0,
          "gracePeriodicity": "DIA",
          "gracePeriodCountingMethod": "DIAS_UTEIS",
          "gracePeriodStartDate": "AAAA-MM-DD",
          "gracePeriodEndDate": "AAAA-MM-DD"
        }
      ]
    }
  ],
  "coverages": [
    {
      "branch": 111,
      "code": "GRANIZO",
      "description": "string",
      "deductible": {
        "type": "DEDUTIVEL",
        "typeAdditionalInfo": "string",
        "amount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "period": 10,
        "periodicity": "DIA",
        "periodCountingMethod": "DIAS_UTEIS",
        "periodStartDate": "2022-05-16",
        "periodEndDate": "2022-05-17",
        "description": "Franquia de exemplo"
      },
      "POS": {
        "applicationType": "VALOR",
        "description": "Descrição de exemplo",
        "minValue": {
          "amount": 2000,
          "currency": "BRL"
        },
        "maxValue": {
          "amount": 2000,
          "currency": "BRL"
        },
        "percentage": 10
      }
    }
  ],
  "coinsuranceRetainedPercentage": 10,
  "coinsurers": [
    {
      "identification": "string",
      "cededPercentage": 10
    }
  ],
  "branchInfo": {
    "insuredObjects": [
      {
        "identification": "string",
        "isFESRParticipant": true,
        "subventionAmount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "subventionType": "AC",
        "safeArea": 2000,
        "unitMeasure": "HECTAR",
        "cultureCode": 11111111,
        "flockCode": "BOVINOS",
        "forestCode": "PINUS",
        "surveyDate": "AAAA-MM-DD",
        "surveyAddress": "string",
        "surveyCountrySubDivision": "SP",
        "surveyPostCode": 10000000,
        "surveyCountryCode": "BRA",
        "surveyorIdType": "CPF",
        "surveyorId": 40,
        "surveyorName": "string",
        "modelType": "CLIMATICOS",
        "areAssetsCovered": true,
        "coveredAnimalDestination": "CONSUMO",
        "animalType": "ELITE"
      }
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|documentType|string|true|none|Tipo de Documento Emitido|
|policyId|string|true|none|Identificador da apólice ou bilhete|
|susepProcessNumber|string|false|none|Número SUSEP da apólice, conforme regulamentação vigente (Obrigatório caso apólice com coberturas do ramo Garantia)|
|groupCertificateId|string|false|none|Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)|
|issuanceType|string|true|none|Tipo de Emissão|
|issuanceDate|string(date)|true|none|Data de emissão do documento|
|termStartDate|string(date)|true|none|Data de início de vigência do documento|
|termEndDate|string(date)|true|none|Data de fim de vigência do documento|
|leadInsurerCode|string|false|none|Código da seguradora líder para contratos com arranjo de cosseguro|
|leadInsurerPolicyId|string|false|none|Identificador da apólice seguradora líder para apólice de cosseguro aceito|
|maxLMG|[AmountDetails](#schemaamountdetails)|true|none|Limite Máximo de Garantia.|
|proposalId|string|true|none|Identificador da Proposta|
|insureds|[[PersonalInfo](#schemapersonalinfo)]|true|none|none|
|beneficiaries|[[PersonalInfo](#schemapersonalinfo)]|false|none|none|
|principals|[[PersonalInfo](#schemapersonalinfo)]|false|none|none|
|intermediaries|[[Intermediary](#schemaintermediary)]|false|none|none|
|insuredObjects|[[InsuranceRuralInsuredObject](#schemainsuranceruralinsuredobject)]|true|none|none|
|coverages|[[InsuranceRuralCoverage](#schemainsuranceruralcoverage)]|false|none|none|
|coinsuranceRetainedPercentage|number|false|none|Percentual Retido em Cosseguro (Quando há cosseguro)|
|coinsurers|[[Coinsurer](#schemacoinsurer)]|false|none|none|
|branchInfo|[InsuranceRuralSpecificPolicyInfo](#schemainsuranceruralspecificpolicyinfo)|false|none|Informações do Anexo Específico|

#### Enumerated Values

|Property|Value|
|---|---|
|documentType|APOLICE_INDIVIDUAL|
|documentType|BILHETE|
|documentType|CERTIFICADO|
|documentType|APOLICE_INDIVIDUAL_AUTOMOVEL|
|documentType|APOLICE_FROTA_AUTOMOVEL|
|issuanceType|EMISSAO_PROPRIA|
|issuanceType|COSSEGURO_ACEITO|

<h2 id="tocS_PersonalInfo">PersonalInfo</h2>
<!-- backwards compatibility -->
<a id="schemapersonalinfo"></a>
<a id="schema_PersonalInfo"></a>
<a id="tocSpersonalinfo"></a>
<a id="tocspersonalinfo"></a>

```json
{
  "identification": "12345678900",
  "identificationType": "CPF",
  "name": "Nome Sobrenome",
  "postCode": "10000000",
  "email": "string",
  "city": "string",
  "state": "string",
  "country": "BRA",
  "address": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Documento de Identificação da Pessoa|
|identificationType|string|true|none|Tipo de Documento da Pessoa|
|name|string|true|none|Nome ou Razão Social da Pessoa|
|postCode|string|true|none|Código Postal da Pessoa|
|email|string|false|none|E-mail da Pessoa (caso possua)|
|city|string|true|none|Cidade da Pessoa (por extenso)|
|state|string|true|none|Estado da Pessoa (por extenso)|
|country|string|true|none|País da Pessoa (de acordo com o código "alpha3" do ISO-3166)|
|address|string|true|none|Endereço da Pessoa (restante do endereço, excluindo cidade, estado e país)|

#### Enumerated Values

|Property|Value|
|---|---|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_Intermediary">Intermediary</h2>
<!-- backwards compatibility -->
<a id="schemaintermediary"></a>
<a id="schema_Intermediary"></a>
<a id="tocSintermediary"></a>
<a id="tocsintermediary"></a>

```json
{
  "type": "REPRESENTANTE",
  "identification": "12345678900",
  "brokerId": "string",
  "identificationType": "CPF",
  "name": "Nome Sobrenome",
  "postCode": "10000000",
  "city": "string",
  "state": "string",
  "country": "BRA",
  "address": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|Tipo do Intermediador|
|identification|string|true|none|Documento de Identificação da Intermediador|
|brokerId|string|false|none|Identificador do Intermediador (Caso Tipo de Intermediador for CORRETOR)|
|identificationType|string|true|none|Tipo de Documento da Intermediador|
|name|string|true|none|Nome ou Razão Social da Intermediador|
|postCode|string|false|none|Código Postal da Intermediador (Caso Tipo de Intermediador for ESTIPULANTE)|
|city|string|false|none|Cidade da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)|
|state|string|false|none|Estado da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)|
|country|string|false|none|País da Intermediador (de acordo com o código "alpha3" do ISO-3166; Caso Tipo de Intermediador for ESTIPULANTE)|
|address|string|false|none|Endereço da Intermediador (restante do do endereço, excluindo cidade, estado e país; Caso Tipo de Intermediador for ESTIPULANTE)|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CORRETOR|
|type|REPRESENTANTE|
|type|ESTIPULANTE|
|type|CORRESPONDENTE|
|type|AGENTE_DE_MICROSSEGUROS|
|type|OUTROS|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_InsuranceRuralInsuredObject">InsuranceRuralInsuredObject</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralinsuredobject"></a>
<a id="schema_InsuranceRuralInsuredObject"></a>
<a id="tocSinsuranceruralinsuredobject"></a>
<a id="tocsinsuranceruralinsuredobject"></a>

```json
{
  "identification": "string",
  "type": "CONTRATO",
  "typeAdditionalInfo": "string",
  "description": "string",
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "coverages": [
    {
      "branch": 111,
      "code": "GRANIZO",
      "description": "string",
      "internalCode": "string",
      "susepProcessNumber": "string",
      "LMI": {
        "amount": 2000,
        "currency": "BRL"
      },
      "isLMISublimit": true,
      "termStartDate": "AAAA-MM-DD",
      "termEndDate": "AAAA-MM-DD",
      "isMainCoverage": true,
      "feature": "MASSIFICADOS",
      "type": "PARAMETRICO",
      "gracePeriod": 0,
      "gracePeriodicity": "DIA",
      "gracePeriodCountingMethod": "DIAS_UTEIS",
      "gracePeriodStartDate": "AAAA-MM-DD",
      "gracePeriodEndDate": "AAAA-MM-DD"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificador do objeto segurado. Obs.: Para Fiança Locatícia, é a identificação do Contrato de Locação.|
|type|string|true|none|Tipo do objeto segurado|
|typeAdditionalInfo|string|false|none|Descrição do tipo do objeto segurado(caso tipo de objeto segurado for outros).|
|description|string|true|none|Descrição do objeto segurado|
|amount|[AmountDetails](#schemaamountdetails)|true|none|Valor do objeto segurado|
|coverages|[[InsuranceRuralInsuredObjectCoverage](#schemainsuranceruralinsuredobjectcoverage)]|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CONTRATO|
|type|PROCESSO_ADMINISTRATIVO|
|type|PROCESSO_JUDICIAL|
|type|AUTOMOVEL|
|type|CONDUTOR|
|type|OUTROS|

<h2 id="tocS_InsuranceRuralInsuredObjectCoverage">InsuranceRuralInsuredObjectCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralinsuredobjectcoverage"></a>
<a id="schema_InsuranceRuralInsuredObjectCoverage"></a>
<a id="tocSinsuranceruralinsuredobjectcoverage"></a>
<a id="tocsinsuranceruralinsuredobjectcoverage"></a>

```json
{
  "branch": 111,
  "code": "GRANIZO",
  "description": "string",
  "internalCode": "string",
  "susepProcessNumber": "string",
  "LMI": {
    "amount": 2000,
    "currency": "BRL"
  },
  "isLMISublimit": true,
  "termStartDate": "AAAA-MM-DD",
  "termEndDate": "AAAA-MM-DD",
  "isMainCoverage": true,
  "feature": "MASSIFICADOS",
  "type": "PARAMETRICO",
  "gracePeriod": 0,
  "gracePeriodicity": "DIA",
  "gracePeriodCountingMethod": "DIAS_UTEIS",
  "gracePeriodStartDate": "AAAA-MM-DD",
  "gracePeriodEndDate": "AAAA-MM-DD"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e Ramo da Cobertura (Conforme regulamentação Susep vigente)|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manuel de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Obrigatório quando o campo 'Codigo' for preenchido com 'Outras')|
|internalCode|string|false|none|Código interno da cobertura da seguradora(obrigatório se houver)|
|susepProcessNumber|string|true|none|none|
|LMI|[AmountDetails](#schemaamountdetails)|true|none|Limite máximo de indenização (LMI)|
|isLMISublimit|boolean|false|none|Limite máximo de indenização (LMI) é sublimite (Caso aplicável)|
|termStartDate|string(date)|true|none|Data de início de vigência da cobertura|
|termEndDate|string(date)|true|none|Data de fim de vigência da cobertura|
|isMainCoverage|boolean|false|none|Cobertura Principal|
|feature|string|true|none|Característica da cobertura|
|type|string|true|none|Tipo de cobertura|
|gracePeriod|integer|false|none|Período de carência. OBS: Obrigatório, se houver|
|gracePeriodicity|string|false|none|Periodicidade da carência. OBS: Obrigatório, se houver|
|gracePeriodCountingMethod|string|false|none|Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver|
|gracePeriodStartDate|string(date)|false|none|Data de início da carência. OBS: Obrigatório, se houver|
|gracePeriodEndDate|string(date)|false|none|Data de fim da carência. OBS: Obrigatório, se houver|

#### Enumerated Values

|Property|Value|
|---|---|
|code|GRANIZO|
|code|GEADA|
|code|GRANIZO_GEADA|
|code|GRANIZO_GEADA_CHUVA_EXCESSIVA|
|code|COMPREENSIVA|
|code|COMPREENSIVA_COM_DOENCAS_E_PRAGAS|
|code|CANCRO_CITRICO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_BENFEITORIAS_E_PRODUTOS_AGROPECUARIO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_PENHOR_RURAL|
|code|MORTE_DE_ANIMAIS|
|code|CONFINAMENTO_SEMI_CONFINAMENTO_BOVINOS_DE_CORTE|
|code|CONFINAMENTO_BOVINOS_DE_LEITE|
|code|VIAGEM|
|code|EXPOSICAO_MOSTRA_E_LEILAO|
|code|CARREIRA|
|code|SALTO_E_ADESTRAMENTO|
|code|PROVAS_FUNCIONAIS|
|code|HIPISMO_RURAL|
|code|POLO|
|code|TROTE|
|code|VAQUEJADA|
|code|EXTENSAO_DE_COBERTURA_EM_TERRITORIO_ESTRANGEIRO|
|code|TRANSPORTE|
|code|RESPONSABILIDADE_CIVIL|
|code|PERDA_DE_FERTILIDADE_DE_GARANHAO|
|code|REEMBOLSO_CIRURGICO|
|code|COLETA_DE_SEMEN|
|code|PREMUNICAO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_FLORESTAS|
|code|VIDA_DO_PRODUTOR_RURAL|
|code|BASICA_DE_FATURAMENTO_PECUARIO|
|code|OUTRAS|
|feature|MASSIFICADOS|
|feature|MASSIFICADOS_MICROSEGUROS|
|feature|GRANDES_RISCOS|
|type|PARAMETRICO|
|type|INTERMITENTE|
|type|REGULAR_COMUM|
|type|CAPITAL_GLOBAL|
|type|PARAMETRICO_E_INTERMITENTE|
|gracePeriodicity|DIA|
|gracePeriodicity|MES|
|gracePeriodicity|ANO|
|gracePeriodCountingMethod|DIAS_UTEIS|
|gracePeriodCountingMethod|DIAS_CORRIDOS|

<h2 id="tocS_InsuranceRuralCoverage">InsuranceRuralCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralcoverage"></a>
<a id="schema_InsuranceRuralCoverage"></a>
<a id="tocSinsuranceruralcoverage"></a>
<a id="tocsinsuranceruralcoverage"></a>

```json
{
  "branch": 111,
  "code": "GRANIZO",
  "description": "string",
  "deductible": {
    "type": "DEDUTIVEL",
    "typeAdditionalInfo": "string",
    "amount": {
      "amount": 2000,
      "currency": "BRL"
    },
    "period": 10,
    "periodicity": "DIA",
    "periodCountingMethod": "DIAS_UTEIS",
    "periodStartDate": "2022-05-16",
    "periodEndDate": "2022-05-17",
    "description": "Franquia de exemplo"
  },
  "POS": {
    "applicationType": "VALOR",
    "description": "Descrição de exemplo",
    "minValue": {
      "amount": 2000,
      "currency": "BRL"
    },
    "maxValue": {
      "amount": 2000,
      "currency": "BRL"
    },
    "percentage": 10
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manuel de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|deductible|[Deductible](#schemadeductible)|false|none|Informações de franquia|
|POS|[POS](#schemapos)|false|none|Informações de franquia|

#### Enumerated Values

|Property|Value|
|---|---|
|code|GRANIZO|
|code|GEADA|
|code|GRANIZO_GEADA|
|code|GRANIZO_GEADA_CHUVA_EXCESSIVA|
|code|COMPREENSIVA|
|code|COMPREENSIVA_COM_DOENCAS_E_PRAGAS|
|code|CANCRO_CITRICO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_BENFEITORIAS_E_PRODUTOS_AGROPECUARIO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_PENHOR_RURAL|
|code|MORTE_DE_ANIMAIS|
|code|CONFINAMENTO_SEMI_CONFINAMENTO_BOVINOS_DE_CORTE|
|code|CONFINAMENTO_BOVINOS_DE_LEITE|
|code|VIAGEM|
|code|EXPOSICAO_MOSTRA_E_LEILAO|
|code|CARREIRA|
|code|SALTO_E_ADESTRAMENTO|
|code|PROVAS_FUNCIONAIS|
|code|HIPISMO_RURAL|
|code|POLO|
|code|TROTE|
|code|VAQUEJADA|
|code|EXTENSAO_DE_COBERTURA_EM_TERRITORIO_ESTRANGEIRO|
|code|TRANSPORTE|
|code|RESPONSABILIDADE_CIVIL|
|code|PERDA_DE_FERTILIDADE_DE_GARANHAO|
|code|REEMBOLSO_CIRURGICO|
|code|COLETA_DE_SEMEN|
|code|PREMUNICAO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_FLORESTAS|
|code|VIDA_DO_PRODUTOR_RURAL|
|code|BASICA_DE_FATURAMENTO_PECUARIO|
|code|OUTRAS|

<h2 id="tocS_Deductible">Deductible</h2>
<!-- backwards compatibility -->
<a id="schemadeductible"></a>
<a id="schema_Deductible"></a>
<a id="tocSdeductible"></a>
<a id="tocsdeductible"></a>

```json
{
  "type": "DEDUTIVEL",
  "typeAdditionalInfo": "string",
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "period": 10,
  "periodicity": "DIA",
  "periodCountingMethod": "DIAS_UTEIS",
  "periodStartDate": "2022-05-16",
  "periodEndDate": "2022-05-17",
  "description": "Franquia de exemplo"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo de Franquia|
|typeAdditionalInfo|string|false|none|Descriçao do Tipo de Franquia (Caso Tipo de Franquia for "OUTROS")|
|amount|[AmountDetails](#schemaamountdetails)|true|none|Valor da Franquia|
|period|integer|true|none|Prazo da Franquia|
|periodicity|string|true|none|Periodicidade da Franquia|
|periodCountingMethod|string|false|none|Indicador de Dias Úteis ou Corridos (Caso aplicável)|
|periodStartDate|string(date)|true|none|Data de Início da Franquia|
|periodEndDate|string(date)|true|none|Data de Fim da Franquia|
|description|string|true|none|Descrição da Franquia|

#### Enumerated Values

|Property|Value|
|---|---|
|type|REDUZIDA|
|type|NORMAL|
|type|MAJORADA|
|type|DEDUTIVEL|
|type|OUTROS|
|periodicity|DIA|
|periodicity|MES|
|periodicity|ANO|
|periodCountingMethod|DIAS_UTEIS|
|periodCountingMethod|DIAS_CORRIDOS|

<h2 id="tocS_POS">POS</h2>
<!-- backwards compatibility -->
<a id="schemapos"></a>
<a id="schema_POS"></a>
<a id="tocSpos"></a>
<a id="tocspos"></a>

```json
{
  "applicationType": "VALOR",
  "description": "Descrição de exemplo",
  "minValue": {
    "amount": 2000,
    "currency": "BRL"
  },
  "maxValue": {
    "amount": 2000,
    "currency": "BRL"
  },
  "percentage": 10
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|applicationType|string|true|none|Forma de Aplicação do POS|
|description|string|true|none|Descrição do POS|
|minValue|[AmountDetails](#schemaamountdetails)|false|none|Valor Mínimo do POS|
|maxValue|[AmountDetails](#schemaamountdetails)|false|none|Valor Máximo do POS|
|percentage|number|false|none|Percentual do POS|

#### Enumerated Values

|Property|Value|
|---|---|
|applicationType|VALOR|
|applicationType|PERCENTUAL|
|applicationType|OUTROS|

<h2 id="tocS_Coinsurer">Coinsurer</h2>
<!-- backwards compatibility -->
<a id="schemacoinsurer"></a>
<a id="schema_Coinsurer"></a>
<a id="tocScoinsurer"></a>
<a id="tocscoinsurer"></a>

```json
{
  "identification": "string",
  "cededPercentage": 10
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificação da congênere, cessionário do cosseguro. Obs: Obrigatório quando há cosseguro|
|cededPercentage|number|true|none|Percentual cedido para a congênere para contratos de cosseguro cedido. Obs: Obrigatório quando há cosseguro|

<h2 id="tocS_ResponseInsuranceRuralPremium">ResponseInsuranceRuralPremium</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsuranceruralpremium"></a>
<a id="schema_ResponseInsuranceRuralPremium"></a>
<a id="tocSresponseinsuranceruralpremium"></a>
<a id="tocsresponseinsuranceruralpremium"></a>

```json
{
  "data": {
    "paymentsQuantity": 4,
    "amount": {
      "amount": 2000,
      "currency": "BRL"
    },
    "coverages": [
      {
        "branch": 111,
        "code": "GRANIZO",
        "description": "string",
        "premiumAmount": {
          "amount": 2000,
          "currency": "BRL"
        }
      }
    ],
    "payments": [
      {
        "movementDate": "AAAA-MM-DD",
        "movementType": "LIQUIDACAO_DE_PREMIO",
        "movementOrigin": "EMISSAO_DIRETA",
        "movementPaymentsNumber": 0,
        "amount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "maturityDate": "AAAA-MM-DD",
        "tellerId": "string",
        "tellerIdType": "CPF",
        "tellerName": "string",
        "financialInstitutionCode": "string",
        "paymentType": "BOLETO"
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceRuralPremium](#schemainsuranceruralpremium)|true|none|none|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_InsuranceRuralPremium">InsuranceRuralPremium</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralpremium"></a>
<a id="schema_InsuranceRuralPremium"></a>
<a id="tocSinsuranceruralpremium"></a>
<a id="tocsinsuranceruralpremium"></a>

```json
{
  "paymentsQuantity": 4,
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "coverages": [
    {
      "branch": 111,
      "code": "GRANIZO",
      "description": "string",
      "premiumAmount": {
        "amount": 2000,
        "currency": "BRL"
      }
    }
  ],
  "payments": [
    {
      "movementDate": "AAAA-MM-DD",
      "movementType": "LIQUIDACAO_DE_PREMIO",
      "movementOrigin": "EMISSAO_DIRETA",
      "movementPaymentsNumber": 0,
      "amount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "maturityDate": "AAAA-MM-DD",
      "tellerId": "string",
      "tellerIdType": "CPF",
      "tellerName": "string",
      "financialInstitutionCode": "string",
      "paymentType": "BOLETO"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentsQuantity|number|true|none|Quantidade de parcelas do prêmio do contrato|
|amount|[AmountDetails](#schemaamountdetails)|true|none|Valor total do prêmio do contrato|
|coverages|[[InsuranceRuralPremiumCoverage](#schemainsuranceruralpremiumcoverage)]|true|none|none|
|payments|[[Payment](#schemapayment)]|true|none|none|

<h2 id="tocS_InsuranceRuralPremiumCoverage">InsuranceRuralPremiumCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralpremiumcoverage"></a>
<a id="schema_InsuranceRuralPremiumCoverage"></a>
<a id="tocSinsuranceruralpremiumcoverage"></a>
<a id="tocsinsuranceruralpremiumcoverage"></a>

```json
{
  "branch": 111,
  "code": "GRANIZO",
  "description": "string",
  "premiumAmount": {
    "amount": 2000,
    "currency": "BRL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manuel de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|premiumAmount|[AmountDetails](#schemaamountdetails)|true|none|Valor de Prêmio da Cobertura|

#### Enumerated Values

|Property|Value|
|---|---|
|code|GRANIZO|
|code|GEADA|
|code|GRANIZO_GEADA|
|code|GRANIZO_GEADA_CHUVA_EXCESSIVA|
|code|COMPREENSIVA|
|code|COMPREENSIVA_COM_DOENCAS_E_PRAGAS|
|code|CANCRO_CITRICO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_BENFEITORIAS_E_PRODUTOS_AGROPECUARIO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_PENHOR_RURAL|
|code|MORTE_DE_ANIMAIS|
|code|CONFINAMENTO_SEMI_CONFINAMENTO_BOVINOS_DE_CORTE|
|code|CONFINAMENTO_BOVINOS_DE_LEITE|
|code|VIAGEM|
|code|EXPOSICAO_MOSTRA_E_LEILAO|
|code|CARREIRA|
|code|SALTO_E_ADESTRAMENTO|
|code|PROVAS_FUNCIONAIS|
|code|HIPISMO_RURAL|
|code|POLO|
|code|TROTE|
|code|VAQUEJADA|
|code|EXTENSAO_DE_COBERTURA_EM_TERRITORIO_ESTRANGEIRO|
|code|TRANSPORTE|
|code|RESPONSABILIDADE_CIVIL|
|code|PERDA_DE_FERTILIDADE_DE_GARANHAO|
|code|REEMBOLSO_CIRURGICO|
|code|COLETA_DE_SEMEN|
|code|PREMUNICAO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_FLORESTAS|
|code|VIDA_DO_PRODUTOR_RURAL|
|code|BASICA_DE_FATURAMENTO_PECUARIO|
|code|OUTRAS|

<h2 id="tocS_Payment">Payment</h2>
<!-- backwards compatibility -->
<a id="schemapayment"></a>
<a id="schema_Payment"></a>
<a id="tocSpayment"></a>
<a id="tocspayment"></a>

```json
{
  "movementDate": "AAAA-MM-DD",
  "movementType": "LIQUIDACAO_DE_PREMIO",
  "movementOrigin": "EMISSAO_DIRETA",
  "movementPaymentsNumber": 0,
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "maturityDate": "AAAA-MM-DD",
  "tellerId": "string",
  "tellerIdType": "CPF",
  "tellerName": "string",
  "financialInstitutionCode": "string",
  "paymentType": "BOLETO"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|movementDate|string(date)|true|none|Data do movimento de prêmio|
|movementType|string|true|none|Tipo do Movimento|
|movementOrigin|string|false|none|Origem do Movimento. Obs: Obrigatório caso Tipo de Movimento for LIQUIDACAO_DE_PREMIO e ESTORNO_DE_PREMIO|
|movementPaymentsNumber|number|true|none|Identificador da parcela do movimento|
|amount|[AmountDetails](#schemaamountdetails)|true|none|Valor da parcela|
|maturityDate|string(date)|true|none|Data de Vencimento da Parcela|
|tellerId|string|false|none|Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|tellerIdType|string|false|none|Tipo do Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|tellerName|string|false|none|Nome ou Razão Social do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|financialInstitutionCode|string|false|none|Código da Instituição Financeiro do Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|paymentType|string|false|none|Meio de Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|

#### Enumerated Values

|Property|Value|
|---|---|
|movementType|LIQUIDACAO_DE_PREMIO|
|movementType|LIQUIDACAO_DE_RESTITUICAO_DE_PREMIO|
|movementType|LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|movementType|LIQUIDACAO_DE_RESTITUICAO_DE_CUSTO_DE_AQUISICAO|
|movementType|ESTORNO_DE_PREMIO|
|movementType|ESTORNO_DE_RESTITUICAO_DE_PREMIO|
|movementType|ESTORNO_DE_CUSTO_DE_AQUISICAO|
|movementType|EMISSAO_DE_PREMIO|
|movementType|CANCELAMENTO_DE_PARCELA|
|movementType|EMISSAO_DE_RESTITUICAO_DE_PREMIO|
|movementType|REABERTURA_DE_PARCELA|
|movementType|BAIXA_POR_PERDA|
|movementOrigin|EMISSAO_DIRETA|
|movementOrigin|EMISSAO_ACEITA_DE_COSSEGURO|
|movementOrigin|EMISSAO_CEDIDA_DE_COSSEGURO|
|tellerIdType|CPF|
|tellerIdType|CNPJ|
|tellerIdType|OUTROS|
|paymentType|BOLETO|
|paymentType|TED|
|paymentType|TEF|
|paymentType|CARTAO|
|paymentType|DOC|
|paymentType|CHEQUE|
|paymentType|DESCONTO_EM_FOLHA|
|paymentType|PIX|
|paymentType|DINHEIRO_EM_ESPECIE|
|paymentType|OUTROS|

<h2 id="tocS_ResponseInsuranceRuralClaims">ResponseInsuranceRuralClaims</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsuranceruralclaims"></a>
<a id="schema_ResponseInsuranceRuralClaims"></a>
<a id="tocSresponseinsuranceruralclaims"></a>
<a id="tocsresponseinsuranceruralclaims"></a>

```json
{
  "data": [
    {
      "identification": "string",
      "documentationDeliveryDate": "AAAA-MM-DD",
      "status": "ABERTO",
      "statusAlterationDate": "AAAA-MM-DD",
      "occurrenceDate": "AAAA-MM-DD",
      "warningDate": "AAAA-MM-DD",
      "thirdPartyClaimDate": "AAAA-MM-DD",
      "amount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "denialJustification": "RISCO_EXCLUIDO",
      "denialJustificationDescription": "string",
      "coverages": [
        {
          "insuredObjectId": "string",
          "branch": 111,
          "code": "GRANIZO",
          "description": "string",
          "warningDate": "2022-05-01",
          "thirdPartyClaimDate": "2022-05-01"
        }
      ],
      "branchInfo": {
        "surveyDate": "AAAA-MM-DD",
        "surveyAddress": "string",
        "surveyCountrySubDivision": "SP",
        "surveyPostCode": 10000000,
        "surveyCountryCode": "BRA",
        "surveyorIdType": "CPF",
        "surveyorId": 40,
        "surveyorName": "string"
      }
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InsuranceRuralClaim](#schemainsuranceruralclaim)]|true|none|none|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_InsuranceRuralClaim">InsuranceRuralClaim</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralclaim"></a>
<a id="schema_InsuranceRuralClaim"></a>
<a id="tocSinsuranceruralclaim"></a>
<a id="tocsinsuranceruralclaim"></a>

```json
{
  "identification": "string",
  "documentationDeliveryDate": "AAAA-MM-DD",
  "status": "ABERTO",
  "statusAlterationDate": "AAAA-MM-DD",
  "occurrenceDate": "AAAA-MM-DD",
  "warningDate": "AAAA-MM-DD",
  "thirdPartyClaimDate": "AAAA-MM-DD",
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "denialJustification": "RISCO_EXCLUIDO",
  "denialJustificationDescription": "string",
  "coverages": [
    {
      "insuredObjectId": "string",
      "branch": 111,
      "code": "GRANIZO",
      "description": "string",
      "warningDate": "2022-05-01",
      "thirdPartyClaimDate": "2022-05-01"
    }
  ],
  "branchInfo": {
    "surveyDate": "AAAA-MM-DD",
    "surveyAddress": "string",
    "surveyCountrySubDivision": "SP",
    "surveyPostCode": 10000000,
    "surveyCountryCode": "BRA",
    "surveyorIdType": "CPF",
    "surveyorId": 40,
    "surveyorName": "string"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificador do processo de sinistro|
|documentationDeliveryDate|string(date)|true|none|Data de entrega da documentação completa|
|status|string|true|none|Status do sinistro|
|statusAlterationDate|string(date)|true|none|Data de alteração do status do sinistro|
|occurrenceDate|string(date)|true|none|Data de ocorrência do sinistro|
|warningDate|string(date)|true|none|Data de aviso do sinistro|
|thirdPartyClaimDate|string(date)|false|none|Data de reclamação do terceiro|
|amount|[AmountDetails](#schemaamountdetails)|true|none|Valor total bruto do sinistro considerando todos os movimentos e suas reavaliações. Não devem ser considerados valores de deduções (por exemplo, redutores e ressarcimento salvado)|
|denialJustification|string|false|none|Justificativa da Negativa(Caso Status do Sinistro for 'ENCERRADO_SEM_INDENIZACAO')|
|denialJustificationDescription|string|false|none|Descrição da Justificativa da Negativa(Caso Justificativa da Negativa for 'OUTROS')|
|coverages|[[InsuranceRuralClaimCoverage](#schemainsuranceruralclaimcoverage)]|false|none|none|
|branchInfo|[InsuranceRuralSpecificClaim](#schemainsuranceruralspecificclaim)|false|none|Informações do Anexo Específico|

#### Enumerated Values

|Property|Value|
|---|---|
|status|ABERTO|
|status|ENCERRADO_COM_INDENIZACAO|
|status|ENCERRADO_SEM_INDENIZACAO|
|status|REABERTO|
|status|CANCELADO_POR_ERRO_OPERACIONAL|
|status|AVALIACAO_INICIAL|
|denialJustification|RISCO_EXCLUIDO|
|denialJustification|RISCO_AGRAVADO|
|denialJustification|SEM_DOCUMENTACAO|
|denialJustification|DOCUMENTACAO_INCOMPLETA|
|denialJustification|PRESCRICAO|
|denialJustification|FORA_COBERTURA|
|denialJustification|OUTROS|

<h2 id="tocS_InsuranceRuralClaimCoverage">InsuranceRuralClaimCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralclaimcoverage"></a>
<a id="schema_InsuranceRuralClaimCoverage"></a>
<a id="tocSinsuranceruralclaimcoverage"></a>
<a id="tocsinsuranceruralclaimcoverage"></a>

```json
{
  "insuredObjectId": "string",
  "branch": 111,
  "code": "GRANIZO",
  "description": "string",
  "warningDate": "2022-05-01",
  "thirdPartyClaimDate": "2022-05-01"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|insuredObjectId|string|false|none|Identificador do Objeto Segurado (Caso aplicável)|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manuel de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|warningDate|string(date)|false|none|Data de Aviso do Sinistro por Cobertura (Caso aplicável)|
|thirdPartyClaimDate|string(date)|false|none|Data de Reclamação do Terceiro por Cobertura (Caso aplicável)|

#### Enumerated Values

|Property|Value|
|---|---|
|code|GRANIZO|
|code|GEADA|
|code|GRANIZO_GEADA|
|code|GRANIZO_GEADA_CHUVA_EXCESSIVA|
|code|COMPREENSIVA|
|code|COMPREENSIVA_COM_DOENCAS_E_PRAGAS|
|code|CANCRO_CITRICO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_BENFEITORIAS_E_PRODUTOS_AGROPECUARIO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_PENHOR_RURAL|
|code|MORTE_DE_ANIMAIS|
|code|CONFINAMENTO_SEMI_CONFINAMENTO_BOVINOS_DE_CORTE|
|code|CONFINAMENTO_BOVINOS_DE_LEITE|
|code|VIAGEM|
|code|EXPOSICAO_MOSTRA_E_LEILAO|
|code|CARREIRA|
|code|SALTO_E_ADESTRAMENTO|
|code|PROVAS_FUNCIONAIS|
|code|HIPISMO_RURAL|
|code|POLO|
|code|TROTE|
|code|VAQUEJADA|
|code|EXTENSAO_DE_COBERTURA_EM_TERRITORIO_ESTRANGEIRO|
|code|TRANSPORTE|
|code|RESPONSABILIDADE_CIVIL|
|code|PERDA_DE_FERTILIDADE_DE_GARANHAO|
|code|REEMBOLSO_CIRURGICO|
|code|COLETA_DE_SEMEN|
|code|PREMUNICAO|
|code|COMPREENSIVA_PARA_A_MODALIDADE_FLORESTAS|
|code|VIDA_DO_PRODUTOR_RURAL|
|code|BASICA_DE_FATURAMENTO_PECUARIO|
|code|OUTRAS|

<h2 id="tocS_AmountDetails">AmountDetails</h2>
<!-- backwards compatibility -->
<a id="schemaamountdetails"></a>
<a id="schema_AmountDetails"></a>
<a id="tocSamountdetails"></a>
<a id="tocsamountdetails"></a>

```json
{
  "amount": 2000,
  "currency": "BRL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|currency|string|true|none|Moeda da Parcela, de acordo com ISO-4217.|

<h2 id="tocS_InsuranceRuralSpecificPolicyInfo">InsuranceRuralSpecificPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralspecificpolicyinfo"></a>
<a id="schema_InsuranceRuralSpecificPolicyInfo"></a>
<a id="tocSinsuranceruralspecificpolicyinfo"></a>
<a id="tocsinsuranceruralspecificpolicyinfo"></a>

```json
{
  "insuredObjects": [
    {
      "identification": "string",
      "isFESRParticipant": true,
      "subventionAmount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "subventionType": "AC",
      "safeArea": 2000,
      "unitMeasure": "HECTAR",
      "cultureCode": 11111111,
      "flockCode": "BOVINOS",
      "forestCode": "PINUS",
      "surveyDate": "AAAA-MM-DD",
      "surveyAddress": "string",
      "surveyCountrySubDivision": "SP",
      "surveyPostCode": 10000000,
      "surveyCountryCode": "BRA",
      "surveyorIdType": "CPF",
      "surveyorId": 40,
      "surveyorName": "string",
      "modelType": "CLIMATICOS",
      "areAssetsCovered": true,
      "coveredAnimalDestination": "CONSUMO",
      "animalType": "ELITE"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|insuredObjects|[[InsuranceRuralSpecificInsuredObject](#schemainsuranceruralspecificinsuredobject)]|false|none|none|

<h2 id="tocS_InsuranceRuralSpecificInsuredObject">InsuranceRuralSpecificInsuredObject</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralspecificinsuredobject"></a>
<a id="schema_InsuranceRuralSpecificInsuredObject"></a>
<a id="tocSinsuranceruralspecificinsuredobject"></a>
<a id="tocsinsuranceruralspecificinsuredobject"></a>

```json
{
  "identification": "string",
  "isFESRParticipant": true,
  "subventionAmount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "subventionType": "AC",
  "safeArea": 2000,
  "unitMeasure": "HECTAR",
  "cultureCode": 11111111,
  "flockCode": "BOVINOS",
  "forestCode": "PINUS",
  "surveyDate": "AAAA-MM-DD",
  "surveyAddress": "string",
  "surveyCountrySubDivision": "SP",
  "surveyPostCode": 10000000,
  "surveyCountryCode": "BRA",
  "surveyorIdType": "CPF",
  "surveyorId": 40,
  "surveyorName": "string",
  "modelType": "CLIMATICOS",
  "areAssetsCovered": true,
  "coveredAnimalDestination": "CONSUMO",
  "animalType": "ELITE"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificador do objeto segurado|
|isFESRParticipant|boolean|false|none|Indica se participa do Fundo de Estabilidade do Seguro Rural. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|subventionAmount|[AmountDetails](#schemaamountdetails)|false|none|Valor do prêmio subvencionado. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|subventionType|string|false|none|Origem da subvenção. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|safeArea|number|false|none|Área Segurada Total. Caso aplicável|
|unitMeasure|string|false|none|Unidade de medida da área segurada. Caso aplicável|
|cultureCode|number|false|none|Código Culturas, Conforme padronização definida em regulamentação vigente. Caso contrato for da modalidade "Agrícola"|
|flockCode|string|false|none|Código Rebanhos. Caso contrato for da modalidade "Pecuário"|
|forestCode|string|false|none|Código Florestas. Caso contrato for da modalidade "Florestas"|
|surveyDate|string(date)|false|none|Data da vistoria. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyAddress|string|false|none|Local da vistoria. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyCountrySubDivision|string|false|none|UF da vistoria. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyPostCode|string|false|none|Código postal da vistoria. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyCountryCode|string|false|none|País da vistoria, de acordo com o código "alpha3" do ISO-3166. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyorIdType|string|false|none|Tipo de documento do vistoriador. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyorId|string|false|none|CPF / CNPJ / Documento estrangeiro do vistoriador. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyorName|string|false|none|Nome ou razão social do vistoriador. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|modelType|string|false|none|Tipos de modelos paramétricos. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|areAssetsCovered|boolean|false|none|Cobre bens que não foram dados em garantia de operação de crédito rural?. Caso contrato for relativo a "Benfeitorias" ou "Produtos Agropecuários"|
|coveredAnimalDestination|string|false|none|Destinação dos animais cobertos para Pecuário. Caso contrato for da modalidade "Pecuário"|
|animalType|string|false|none|Classificação dos animais cobertos para Animais. Caso contrato for da modalidade "Animais"|

#### Enumerated Values

|Property|Value|
|---|---|
|subventionType|AC|
|subventionType|AL|
|subventionType|AP|
|subventionType|AM|
|subventionType|BA|
|subventionType|CE|
|subventionType|DF|
|subventionType|ES|
|subventionType|GO|
|subventionType|MA|
|subventionType|MT|
|subventionType|MS|
|subventionType|MG|
|subventionType|PA|
|subventionType|PB|
|subventionType|PR|
|subventionType|PE|
|subventionType|PI|
|subventionType|RJ|
|subventionType|RN|
|subventionType|RS|
|subventionType|RO|
|subventionType|RR|
|subventionType|SC|
|subventionType|SP|
|subventionType|SE|
|subventionType|TO|
|subventionType|BR|
|subventionType|XX|
|unitMeasure|HECTAR|
|unitMeasure|METRO_QUADRADO|
|unitMeasure|OUTROS|
|flockCode|BOVINOS|
|flockCode|EQUINOS|
|flockCode|OVINOS|
|flockCode|SUINOS|
|flockCode|CAPRINOS|
|flockCode|AVES|
|flockCode|BUBALINOS|
|flockCode|OUTROS|
|forestCode|PINUS|
|forestCode|EUCALIPTO|
|forestCode|TECA|
|forestCode|SERINGUEIRA|
|forestCode|OUTROS|
|surveyCountrySubDivision|AC|
|surveyCountrySubDivision|AL|
|surveyCountrySubDivision|AP|
|surveyCountrySubDivision|AM|
|surveyCountrySubDivision|BA|
|surveyCountrySubDivision|CE|
|surveyCountrySubDivision|DF|
|surveyCountrySubDivision|ES|
|surveyCountrySubDivision|GO|
|surveyCountrySubDivision|MA|
|surveyCountrySubDivision|MT|
|surveyCountrySubDivision|MS|
|surveyCountrySubDivision|MG|
|surveyCountrySubDivision|PA|
|surveyCountrySubDivision|PB|
|surveyCountrySubDivision|PR|
|surveyCountrySubDivision|PE|
|surveyCountrySubDivision|PI|
|surveyCountrySubDivision|RJ|
|surveyCountrySubDivision|RN|
|surveyCountrySubDivision|RS|
|surveyCountrySubDivision|RO|
|surveyCountrySubDivision|RR|
|surveyCountrySubDivision|SC|
|surveyCountrySubDivision|SP|
|surveyCountrySubDivision|SE|
|surveyCountrySubDivision|TO|
|surveyorIdType|CPF|
|surveyorIdType|CNPJ|
|surveyorIdType|OUTROS|
|modelType|CLIMATICOS|
|modelType|OUTROS|
|coveredAnimalDestination|CONSUMO|
|coveredAnimalDestination|PRODUCAO|
|coveredAnimalDestination|REPRODUCAO|
|animalType|ELITE|
|animalType|DOMESTICO|
|animalType|SEGURANCA|

<h2 id="tocS_InsuranceRuralSpecificClaim">InsuranceRuralSpecificClaim</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceruralspecificclaim"></a>
<a id="schema_InsuranceRuralSpecificClaim"></a>
<a id="tocSinsuranceruralspecificclaim"></a>
<a id="tocsinsuranceruralspecificclaim"></a>

```json
{
  "surveyDate": "AAAA-MM-DD",
  "surveyAddress": "string",
  "surveyCountrySubDivision": "SP",
  "surveyPostCode": 10000000,
  "surveyCountryCode": "BRA",
  "surveyorIdType": "CPF",
  "surveyorId": 40,
  "surveyorName": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|surveyDate|string(date)|false|none|Data da vistoria. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyAddress|string|false|none|Local da vistoria. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyCountrySubDivision|string|false|none|UF da vistoria. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyPostCode|string|false|none|Código postal da vistoria. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyCountryCode|string|false|none|País da vistoria, de acordo com o código "alpha3" do ISO-3166. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyorIdType|string|false|none|Tipo de documento do vistoriador. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyorId|string|false|none|CPF / CNPJ / Documento estrangeiro do vistoriador. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|
|surveyorName|string|false|none|Nome ou razão social do vistoriador. Caso contrato for da modalidade "Agrícola", "Pecuário", "Aquícola" e "Florestas"|

#### Enumerated Values

|Property|Value|
|---|---|
|surveyCountrySubDivision|AC|
|surveyCountrySubDivision|AL|
|surveyCountrySubDivision|AP|
|surveyCountrySubDivision|AM|
|surveyCountrySubDivision|BA|
|surveyCountrySubDivision|CE|
|surveyCountrySubDivision|DF|
|surveyCountrySubDivision|ES|
|surveyCountrySubDivision|GO|
|surveyCountrySubDivision|MA|
|surveyCountrySubDivision|MT|
|surveyCountrySubDivision|MS|
|surveyCountrySubDivision|MG|
|surveyCountrySubDivision|PA|
|surveyCountrySubDivision|PB|
|surveyCountrySubDivision|PR|
|surveyCountrySubDivision|PE|
|surveyCountrySubDivision|PI|
|surveyCountrySubDivision|RJ|
|surveyCountrySubDivision|RN|
|surveyCountrySubDivision|RS|
|surveyCountrySubDivision|RO|
|surveyCountrySubDivision|RR|
|surveyCountrySubDivision|SC|
|surveyCountrySubDivision|SP|
|surveyCountrySubDivision|SE|
|surveyCountrySubDivision|TO|
|surveyorIdType|CPF|
|surveyorIdType|CNPJ|
|surveyorIdType|OUTROS|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
  "first": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
  "prev": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
  "next": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1",
  "last": "https://api.organizacao.com.br/open-insurance/insurance-rural/v1"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|

<h2 id="tocS_XFapiInteractionId">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionid"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

