<h2 id="tocS_ResponseInsurancePensionPlan">ResponseInsurancePensionPlan</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepensionplan"></a>
<a id="schema_ResponseInsurancePensionPlan"></a>
<a id="tocSresponseinsurancepensionplan"></a>
<a id="tocsresponseinsurancepensionplan"></a>

```json
{
  "data": {
    "brand": {
      "name": "EMPRESA A SEGUROS",
      "companies": [
        {
          "companyName": "Empresa da Organização A",
          "cnpjNumber": "12345678901234",
          "contracts": [
            {
              "productName": "string",
              "pensionIdentification": "42"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|object|true|none|Marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|»» name|string|true|none|Nome da Marca|
|»» companies|[object]|true|none|none|
|»»» companyName|string|true|none|Nome da sociedade pertencente à marca|
|»»» cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca|
|»»» contracts|[object]|false|none|none|
|»»»» productName|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade|
|»»»» pensionIdentification|string|true|none|Código único a ser definido pela sociedade|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemametainsurancepensionplan)|true|none|none|

<h2 id="tocS_ResponseInsurancePensionPlanContractInfo">ResponseInsurancePensionPlanContractInfo</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepensionplancontractinfo"></a>
<a id="schema_ResponseInsurancePensionPlanContractInfo"></a>
<a id="tocSresponseinsurancepensionplancontractinfo"></a>
<a id="tocsresponseinsurancepensionplancontractinfo"></a>

```json
{
  "data": {
    "pensionIdentification": "42",
    "contractingType": "INDIVIDUAL",
    "planType": "AVERBADO",
    "documents": [
      {
        "certificateId": "67",
        "contractId": "681",
        "effectiveDateStart": "2021-05-21",
        "effectiveDateEnd": "2021-05-21",
        "proposalId": "987",
        "insureds": [
          {
            "documentType": "CPF",
            "documentTypeOthers": "OUTROS",
            "documentNumber": "12345678910",
            "name": "Juan Kaique Cláudio Fernandes",
            "birthDate": "2021-05-21",
            "gender": "MASCULINO",
            "postCode": "17500001",
            "email": "nome@br.net",
            "townName": "Rio de Janeiro",
            "countrySubDivision": "RJ",
            "countryCode": "BRA",
            "address": "Av Naburo Ykesaki, 1270",
            "addressAdditionalInfo": "Fundos"
          }
        ],
        "beneficiary": [
          {
            "documentNumber": "12345678910",
            "documentType": "CPF",
            "documentTypeOthers": "OUTROS",
            "name": "Juan Kaique Cláudio Fernandes",
            "participationPercentage": "10.00"
          }
        ],
        "intermediary": [
          {
            "type": "CORRETOR",
            "documentNumber": "12345678910",
            "intermediaryId": "12097",
            "documentType": "CPF",
            "documentTypeOthers": "OUTROS",
            "name": "Empresa A",
            "postCode": "17500001",
            "townName": "Rio de Janeiro",
            "countrySubDivision": "RJ",
            "countryCode": "BRA",
            "address": "Av Naburo Ykesaki, 1270",
            "addressAdditionalInfo": "Fundos"
          }
        ],
        "plans": [
          {
            "coverages": [
              {
                "coverageCode": "1999",
                "susepProcessNumber": "12345",
                "structureModality": "BENEFICIO_DEFINIDO",
                "benefitAmount": {
                  "amount": "2000.00",
                  "unit": {
                    "code": "R$",
                    "description": "BRL"
                  }
                },
                "rentsInterestRate": "10.00",
                "periodicity": "MENSAL",
                "coverageName": "string",
                "lockedPlan": false,
                "termStartDate": "2021-05-21",
                "termEndDate": "2021-05-21",
                "financialRegime": "REPARTICAO_SIMPLES",
                "benefitPaymentMethod": "UNICO",
                "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
                "pricingMethod": "POR_IDADE",
                "pricingMethodDescription": "OUTROS",
                "events": [
                  {
                    "eventType": "INVALIDEZ",
                    "eventTypeOthers": "OUTROS",
                    "eventInfo": {}
                  }
                ],
                "updateIndex": "IPC-FGV",
                "updateIndexDescription": "OUTROS",
                "updatePeriodicity": "PERIDIOCIDADE",
                "updatePeriodicityUnit": "DIA",
                "updateIndexLagging": 1,
                "contributionAmount": {
                  "amount": "2000.00",
                  "unit": {
                    "code": "R$",
                    "description": "BRL"
                  }
                },
                "chargedAmount": {
                  "amount": "2000.00",
                  "unit": {
                    "code": "R$",
                    "description": "BRL"
                  }
                }
              }
            ],
            "grace": [
              {
                "graceType": "PORTABILIDADE",
                "gracePeriod": 4,
                "gracePeriodicity": "DIA",
                "dayIndicator": "UTEIS",
                "gracePeriodStart": "2021-05-21",
                "gracePeriodEnd": "2021-05-21",
                "gracePeriodBetween": 6,
                "gracePeriodBetweenType": "DIA"
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsurancePensionPlanContractInfo](#schemainsurancepensionplancontractinfo)|true|none|none|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemametainsurancepensionplan)|true|none|none|

<h2 id="tocS_InsurancePensionPlanContractInfo">InsurancePensionPlanContractInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplancontractinfo"></a>
<a id="schema_InsurancePensionPlanContractInfo"></a>
<a id="tocSinsurancepensionplancontractinfo"></a>
<a id="tocsinsurancepensionplancontractinfo"></a>

```json
{
  "pensionIdentification": "42",
  "contractingType": "INDIVIDUAL",
  "planType": "AVERBADO",
  "documents": [
    {
      "certificateId": "67",
      "contractId": "681",
      "effectiveDateStart": "2021-05-21",
      "effectiveDateEnd": "2021-05-21",
      "proposalId": "987",
      "insureds": [
        {
          "documentType": "CPF",
          "documentTypeOthers": "OUTROS",
          "documentNumber": "12345678910",
          "name": "Juan Kaique Cláudio Fernandes",
          "birthDate": "2021-05-21",
          "gender": "MASCULINO",
          "postCode": "17500001",
          "email": "nome@br.net",
          "townName": "Rio de Janeiro",
          "countrySubDivision": "RJ",
          "countryCode": "BRA",
          "address": "Av Naburo Ykesaki, 1270",
          "addressAdditionalInfo": "Fundos"
        }
      ],
      "beneficiary": [
        {
          "documentNumber": "12345678910",
          "documentType": "CPF",
          "documentTypeOthers": "OUTROS",
          "name": "Juan Kaique Cláudio Fernandes",
          "participationPercentage": "10.00"
        }
      ],
      "intermediary": [
        {
          "type": "CORRETOR",
          "documentNumber": "12345678910",
          "intermediaryId": "12097",
          "documentType": "CPF",
          "documentTypeOthers": "OUTROS",
          "name": "Empresa A",
          "postCode": "17500001",
          "townName": "Rio de Janeiro",
          "countrySubDivision": "RJ",
          "countryCode": "BRA",
          "address": "Av Naburo Ykesaki, 1270",
          "addressAdditionalInfo": "Fundos"
        }
      ],
      "plans": [
        {
          "coverages": [
            {
              "coverageCode": "1999",
              "susepProcessNumber": "12345",
              "structureModality": "BENEFICIO_DEFINIDO",
              "benefitAmount": {
                "amount": "2000.00",
                "unit": {
                  "code": "R$",
                  "description": "BRL"
                }
              },
              "rentsInterestRate": "10.00",
              "periodicity": "MENSAL",
              "coverageName": "string",
              "lockedPlan": false,
              "termStartDate": "2021-05-21",
              "termEndDate": "2021-05-21",
              "financialRegime": "REPARTICAO_SIMPLES",
              "benefitPaymentMethod": "UNICO",
              "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
              "pricingMethod": "POR_IDADE",
              "pricingMethodDescription": "OUTROS",
              "events": [
                {
                  "eventType": "INVALIDEZ",
                  "eventTypeOthers": "OUTROS",
                  "eventInfo": {
                    "eventStatus": "ABERTO",
                    "eventAlertDate": "2021-05-21",
                    "eventRegisterDate": "2021-05-21"
                  }
                }
              ],
              "updateIndex": "IPC-FGV",
              "updateIndexDescription": "OUTROS",
              "updatePeriodicity": "PERIDIOCIDADE",
              "updatePeriodicityUnit": "DIA",
              "updateIndexLagging": 1,
              "contributionAmount": {
                "amount": "2000.00",
                "unit": {
                  "code": "R$",
                  "description": "BRL"
                }
              },
              "chargedAmount": {
                "amount": "2000.00",
                "unit": {
                  "code": "R$",
                  "description": "BRL"
                }
              }
            }
          ],
          "grace": [
            {
              "graceType": "PORTABILIDADE",
              "gracePeriod": 4,
              "gracePeriodicity": "DIA",
              "dayIndicator": "UTEIS",
              "gracePeriodStart": "2021-05-21",
              "gracePeriodEnd": "2021-05-21",
              "gracePeriodBetween": 6,
              "gracePeriodBetweenType": "DIA"
            }
          ]
        }
      ]
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|pensionIdentification|string|true|none|Código único a ser definido pela sociedade|
|contractingType|string|true|none|Tipo de contratação|
|planType|string|false|none|Tipo do plano, obrigatório se houver|
|documents|[[InsurancePensionPlanDocuments](#schemainsurancepensionplandocuments)]|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|contractingType|COLETIVO|
|contractingType|INDIVIDUAL|
|planType|AVERBADO|
|planType|INSTITUIDO_CONTRIBUTARIO|
|planType|INSTITUIDO_NAO_CONTRIBUTARIO|

<h2 id="tocS_InsurancePensionPlanDocuments">InsurancePensionPlanDocuments</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplandocuments"></a>
<a id="schema_InsurancePensionPlanDocuments"></a>
<a id="tocSinsurancepensionplandocuments"></a>
<a id="tocsinsurancepensionplandocuments"></a>

```json
{
  "certificateId": "67",
  "contractId": "681",
  "effectiveDateStart": "2021-05-21",
  "effectiveDateEnd": "2021-05-21",
  "proposalId": "987",
  "insureds": [
    {
      "documentType": "CPF",
      "documentTypeOthers": "OUTROS",
      "documentNumber": "12345678910",
      "name": "Juan Kaique Cláudio Fernandes",
      "birthDate": "2021-05-21",
      "gender": "MASCULINO",
      "postCode": "17500001",
      "email": "nome@br.net",
      "townName": "Rio de Janeiro",
      "countrySubDivision": "RJ",
      "countryCode": "BRA",
      "address": "Av Naburo Ykesaki, 1270",
      "addressAdditionalInfo": "Fundos"
    }
  ],
  "beneficiary": [
    {
      "documentNumber": "12345678910",
      "documentType": "CPF",
      "documentTypeOthers": "OUTROS",
      "name": "Juan Kaique Cláudio Fernandes",
      "participationPercentage": "10.00"
    }
  ],
  "intermediary": [
    {
      "type": "CORRETOR",
      "documentNumber": "12345678910",
      "intermediaryId": "12097",
      "documentType": "CPF",
      "documentTypeOthers": "OUTROS",
      "name": "Empresa A",
      "postCode": "17500001",
      "townName": "Rio de Janeiro",
      "countrySubDivision": "RJ",
      "countryCode": "BRA",
      "address": "Av Naburo Ykesaki, 1270",
      "addressAdditionalInfo": "Fundos"
    }
  ],
  "plans": [
    {
      "coverages": [
        {
          "coverageCode": "1999",
          "susepProcessNumber": "12345",
          "structureModality": "BENEFICIO_DEFINIDO",
          "benefitAmount": {
            "amount": "2000.00",
            "unit": {
              "code": "R$",
              "description": "BRL"
            }
          },
          "rentsInterestRate": "10.00",
          "periodicity": "MENSAL",
          "coverageName": "string",
          "lockedPlan": false,
          "termStartDate": "2021-05-21",
          "termEndDate": "2021-05-21",
          "financialRegime": "REPARTICAO_SIMPLES",
          "benefitPaymentMethod": "UNICO",
          "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
          "pricingMethod": "POR_IDADE",
          "pricingMethodDescription": "OUTROS",
          "events": [
            {
              "eventType": "INVALIDEZ",
              "eventTypeOthers": "OUTROS",
              "eventInfo": {
                "eventStatus": "ABERTO",
                "eventAlertDate": "2021-05-21",
                "eventRegisterDate": "2021-05-21"
              }
            }
          ],
          "updateIndex": "IPC-FGV",
          "updateIndexDescription": "OUTROS",
          "updatePeriodicity": "PERIDIOCIDADE",
          "updatePeriodicityUnit": "DIA",
          "updateIndexLagging": 1,
          "contributionAmount": {
            "amount": "2000.00",
            "unit": {
              "code": "R$",
              "description": "BRL"
            }
          },
          "chargedAmount": {
            "amount": "2000.00",
            "unit": {
              "code": "R$",
              "description": "BRL"
            }
          }
        }
      ],
      "grace": [
        {
          "graceType": "PORTABILIDADE",
          "gracePeriod": 4,
          "gracePeriodicity": "DIA",
          "dayIndicator": "UTEIS",
          "gracePeriodStart": "2021-05-21",
          "gracePeriodEnd": "2021-05-21",
          "gracePeriodBetween": 6,
          "gracePeriodBetweenType": "DIA"
        }
      ]
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|certificateId|string|true|none|Identificador utilizado para as "entidades de 1º nível", a saber, apólices individuais , bilhetes ei certificados de participante individual de previdência; por sua vez, nas operações coletivas equivale às apólices coletivas e aos contratos coletivos de previdência|
|contractId|string|false|none|identificação do contrato/apólice, em caso de contratação coletiva, obrigatório caso Tipo de contratação seja COLETIVO|
|effectiveDateStart|string(date)|true|none|Data de Início da Vigência do documento.|
|effectiveDateEnd|string(date)|true|none|Data de Fim da Vigência do documento.|
|proposalId|string|true|none|Identificador da Proposta|
|insureds|[[InsurancePensionPlanDocumentsInsured](#schemainsurancepensionplandocumentsinsured)]|true|none|[Informações do segurado/participante]|
|beneficiary|[[InsurancePensionPlanDocumentsBeneficiary](#schemainsurancepensionplandocumentsbeneficiary)]|false|none|[Informações do beneficiário/pessoa associada, obrigatório se houver.]|
|intermediary|[[InsurancePensionPlanDocumentsIntermediary](#schemainsurancepensionplandocumentsintermediary)]|false|none|[Informações de intermediário, obrigatório se houver.]|
|plans|[[InsurancePensionPlanDocumentsPlans](#schemainsurancepensionplandocumentsplans)]|true|none|none|

<h2 id="tocS_InsurancePensionPlanDocumentsInsured">InsurancePensionPlanDocumentsInsured</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplandocumentsinsured"></a>
<a id="schema_InsurancePensionPlanDocumentsInsured"></a>
<a id="tocSinsurancepensionplandocumentsinsured"></a>
<a id="tocsinsurancepensionplandocumentsinsured"></a>

```json
{
  "documentType": "CPF",
  "documentTypeOthers": "OUTROS",
  "documentNumber": "12345678910",
  "name": "Juan Kaique Cláudio Fernandes",
  "birthDate": "2021-05-21",
  "gender": "MASCULINO",
  "postCode": "17500001",
  "email": "nome@br.net",
  "townName": "Rio de Janeiro",
  "countrySubDivision": "RJ",
  "countryCode": "BRA",
  "address": "Av Naburo Ykesaki, 1270",
  "addressAdditionalInfo": "Fundos"
}

```

Informações do segurado/participante

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|documentType|string|true|none|Tipo de Documento do Segurado/Participante|
|documentTypeOthers|string|false|none|Descrição do Tipo de Documento quando for informada a opção OUTROS|
|documentNumber|string|true|none|Documento do Segurado/Participante|
|name|string|true|none|Nome do Segurado/Participante|
|birthDate|string(date)|true|none|Data de nascimento, conforme especificação RFC-3339|
|gender|string|true|none|Sexo do Segurado / Participante, Obrigatório, se houver|
|postCode|string|true|none|Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'.<br>Código Postal do Segurado / Participante, Obrigatório, se houver|
|email|string|false|none|Endereço de email, Obrigatório, se houver|
|townName|string|true|none|Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.<br>Cidade do Segurado / Participante|
|countrySubDivision|[EnumCountrySubDivision](#schemaenumcountrysubdivisioninsurancepensionplan)|true|none|Estado do Segurado / Participante|
|countryCode|string|true|none|Código do pais de acordo com o código “alpha3” do ISO-3166.<br>País do Segurado / Participante|
|address|string|true|none|Endereço do Segurado / Participante|
|addressAdditionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento.|

#### Enumerated Values

|Property|Value|
|---|---|
|documentType|CPF|
|documentType|OUTROS|
|gender|MASCULINO|
|gender|FEMININO|
|gender|NAO_INFORMADO|

<h2 id="tocS_InsurancePensionPlanDocumentsBeneficiary">InsurancePensionPlanDocumentsBeneficiary</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplandocumentsbeneficiary"></a>
<a id="schema_InsurancePensionPlanDocumentsBeneficiary"></a>
<a id="tocSinsurancepensionplandocumentsbeneficiary"></a>
<a id="tocsinsurancepensionplandocumentsbeneficiary"></a>

```json
{
  "documentNumber": "12345678910",
  "documentType": "CPF",
  "documentTypeOthers": "OUTROS",
  "name": "Juan Kaique Cláudio Fernandes",
  "participationPercentage": "10.00"
}

```

Informações do beneficiário/pessoa associada, obrigatório se houver.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|documentNumber|string|true|none|Documento de Identificação do beneficiário|
|documentType|string|true|none|Tipo de Documento do beneficiário|
|documentTypeOthers|string|false|none|Descrição do Tipo de Documento quando for informada a opção OUTROS|
|name|string|true|none|Nome beneficiário|
|participationPercentage|string|true|none|Percentual de particiapação do beneficiário.|

#### Enumerated Values

|Property|Value|
|---|---|
|documentType|CPF|
|documentType|OUTROS|

<h2 id="tocS_InsurancePensionPlanDocumentsIntermediary">InsurancePensionPlanDocumentsIntermediary</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplandocumentsintermediary"></a>
<a id="schema_InsurancePensionPlanDocumentsIntermediary"></a>
<a id="tocSinsurancepensionplandocumentsintermediary"></a>
<a id="tocsinsurancepensionplandocumentsintermediary"></a>

```json
{
  "type": "CORRETOR",
  "documentNumber": "12345678910",
  "intermediaryId": "12097",
  "documentType": "CPF",
  "documentTypeOthers": "OUTROS",
  "name": "Empresa A",
  "postCode": "17500001",
  "townName": "Rio de Janeiro",
  "countrySubDivision": "RJ",
  "countryCode": "BRA",
  "address": "Av Naburo Ykesaki, 1270",
  "addressAdditionalInfo": "Fundos"
}

```

Informações de intermediário, obrigatório se houver.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo do Intermediador|
|documentNumber|string|false|none|Documento do Intermediador, Campo obrigatório quando o campo “Tipo” for preenchido com “1 - Corretor”.|
|intermediaryId|string|false|none|Identificador do Intermediador, Campo obrigatório quando o campo “Tipo” for preenchido com “1 - Corretor”.|
|documentType|string|false|none|Tipo de Documento do Intermediador, Campo obrigatório, Caso Tipo de Intermediador não seja Corretor ou quando for Corretor, porém o identificador do intermediador não seja informado)|
|documentTypeOthers|string|false|none|Descrição do Tipo de Documento quando for informada a opção OUTROS|
|name|string|false|none|Nome ou Razão Social do Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|postCode|string|false|none|Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'.<br>Código Postal do Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|townName|string|false|none|Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.<br>Cidade da Pessoa Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|countrySubDivision|[EnumCountrySubDivision](#schemaenumcountrysubdivisioninsurancepensionplan)|false|none|Estado da Pessoa Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|countryCode|string|false|none|Código do pais de acordo com o código “alpha3” do ISO-3166.<br>País da Pessoa Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|address|string|false|none|Corresponde ao Endereço do Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|addressAdditionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento.|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CORRETOR|
|type|REPRESENTANTE|
|type|ESTIPULANTE_AVERBADOR_INSTITUIDOR|
|type|CORRESPONDENTE|
|type|AGENTE_DE_MICROSSEGUROS|
|type|OUTROS|
|documentType|CPF|
|documentType|CNPJ|
|documentType|OUTROS|

<h2 id="tocS_InsurancePensionPlanDocumentsPlans">InsurancePensionPlanDocumentsPlans</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplandocumentsplans"></a>
<a id="schema_InsurancePensionPlanDocumentsPlans"></a>
<a id="tocSinsurancepensionplandocumentsplans"></a>
<a id="tocsinsurancepensionplandocumentsplans"></a>

```json
{
  "coverages": [
    {
      "coverageCode": "1999",
      "susepProcessNumber": "12345",
      "structureModality": "BENEFICIO_DEFINIDO",
      "benefitAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "rentsInterestRate": "10.00",
      "periodicity": "MENSAL",
      "coverageName": "string",
      "lockedPlan": false,
      "termStartDate": "2021-05-21",
      "termEndDate": "2021-05-21",
      "financialRegime": "REPARTICAO_SIMPLES",
      "benefitPaymentMethod": "UNICO",
      "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
      "pricingMethod": "POR_IDADE",
      "pricingMethodDescription": "OUTROS",
      "events": [
        {
          "eventType": "INVALIDEZ",
          "eventTypeOthers": "OUTROS",
          "eventInfo": {
            "eventStatus": "ABERTO",
            "eventAlertDate": "2021-05-21",
            "eventRegisterDate": "2021-05-21"
          }
        }
      ],
      "updateIndex": "IPC-FGV",
      "updateIndexDescription": "OUTROS",
      "updatePeriodicity": "PERIDIOCIDADE",
      "updatePeriodicityUnit": "DIA",
      "updateIndexLagging": 1,
      "contributionAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "chargedAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      }
    }
  ],
  "grace": [
    {
      "graceType": "PORTABILIDADE",
      "gracePeriod": 4,
      "gracePeriodicity": "DIA",
      "dayIndicator": "UTEIS",
      "gracePeriodStart": "2021-05-21",
      "gracePeriodEnd": "2021-05-21",
      "gracePeriodBetween": 6,
      "gracePeriodBetweenType": "DIA"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|coverages|[[InsurancePensionPlanDocumentsPlansCoverage](#schemainsurancepensionplandocumentsplanscoverage)]|true|none|none|
|grace|[[InsurancePensionPlanDocumentsPlansGrace](#schemainsurancepensionplandocumentsplansgrace)]|false|none|none|

<h2 id="tocS_InsurancePensionPlanDocumentsPlansCoverage">InsurancePensionPlanDocumentsPlansCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplandocumentsplanscoverage"></a>
<a id="schema_InsurancePensionPlanDocumentsPlansCoverage"></a>
<a id="tocSinsurancepensionplandocumentsplanscoverage"></a>
<a id="tocsinsurancepensionplandocumentsplanscoverage"></a>

```json
{
  "coverageCode": "1999",
  "susepProcessNumber": "12345",
  "structureModality": "BENEFICIO_DEFINIDO",
  "benefitAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "rentsInterestRate": "10.00",
  "periodicity": "MENSAL",
  "coverageName": "string",
  "lockedPlan": false,
  "termStartDate": "2021-05-21",
  "termEndDate": "2021-05-21",
  "financialRegime": "REPARTICAO_SIMPLES",
  "benefitPaymentMethod": "UNICO",
  "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
  "pricingMethod": "POR_IDADE",
  "pricingMethodDescription": "OUTROS",
  "events": [
    {
      "eventType": "INVALIDEZ",
      "eventTypeOthers": "OUTROS",
      "eventInfo": {
        "eventStatus": "ABERTO",
        "eventAlertDate": "2021-05-21",
        "eventRegisterDate": "2021-05-21"
      }
    }
  ],
  "updateIndex": "IPC-FGV",
  "updateIndexDescription": "OUTROS",
  "updatePeriodicity": "PERIDIOCIDADE",
  "updatePeriodicityUnit": "DIA",
  "updateIndexLagging": 1,
  "contributionAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "chargedAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|coverageCode|string|true|none|Código da Cobertura - De acordo com a Tabela 63 do Anexo I do Manual de Escopo de Dados|
|susepProcessNumber|string|true|none|Número do Processo Susep, obrigatório quando aplicável|
|structureModality|string|true|none|Modalidade de estruturação|
|benefitAmount|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|true|none|Valor do benefício em reais da cobertura contratada|
|rentsInterestRate|string|false|none|Taxa de Juros Rendas|
|periodicity|string|true|none|Periodicidade de pagamento da Contribuição/Prêmio|
|coverageName|string|true|none|Descrição / Nome da Cobertura|
|lockedPlan|boolean|true|none|Indica se o plano consta como bloqueado|
|termStartDate|string(date)|true|none|Data de início de vigência da cobertura|
|termEndDate|string(date)|true|none|Data de fim de vigência da cobertura. Obrigatório se houver.|
|financialRegime|string|true|none|Regime financeiro|
|benefitPaymentMethod|string|true|none|Forma de Pagamento do Benefício|
|biometricTable|string|false|none|Tábua biométrica, se houver|
|pricingMethod|string|true|none|Forma de Tarifação|
|pricingMethodDescription|string|false|none|Obrigatório quando a forma de tarifação for igual a OUTROS|
|events|[[InsurancePensionPlanEvent](#schemainsurancepensionplanevent)]|false|none|[Eventos Geradores]|
|updateIndex|string|true|none|Índice de Atualização da Cobertura|
|updateIndexDescription|string|false|none|Descrição do índice de atualização. Obrigatório quando o updateIndex for OUTROS|
|updatePeriodicity|string|false|none|Periodicidade de Atualização|
|updatePeriodicityUnit|string|false|none|Unidade da Periodicidade de Atualização da Cobertura (Quando Houver)|
|updateIndexLagging|integer|true|none|Defasagem do índice de preços aplicado na atualização da renda (em meses)|
|contributionAmount|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|true|none|Valor de Contribuição da Cobertura|
|chargedAmount|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|true|none|Valor de Carregamento|

#### Enumerated Values

|Property|Value|
|---|---|
|structureModality|BENEFICIO_DEFINIDO|
|structureModality|CONTRIBUICAO_VARIAVEL|
|periodicity|MENSAL|
|periodicity|BIMESTRAL|
|periodicity|TRIMESTRAL|
|periodicity|QUADRIMESTRAL|
|periodicity|SEMESTRAL|
|periodicity|ANUAL|
|periodicity|ESPORADICA|
|financialRegime|REPARTICAO_SIMPLES|
|financialRegime|REPARTICAO_POR_CAPITAIS_DE_COBERTURA|
|financialRegime|CAPITALIZACAO|
|benefitPaymentMethod|UNICO|
|benefitPaymentMethod|RENDA|
|biometricTable|1  - Mortalidade Geral / Beneficiário - AT49 M|
|biometricTable|2  - Mortalidade Geral / Beneficiário - AT49 F|
|biometricTable|3  - Mortalidade Geral / Beneficiário - AT50 M|
|biometricTable|4  - Mortalidade Geral / Beneficiário - AT50 F|
|biometricTable|5  - Mortalidade Geral / Beneficiário - AT55 M|
|biometricTable|6  - Mortalidade Geral / Beneficiário - AT55 F|
|biometricTable|7  - Mortalidade Geral / Beneficiário - AT71 M|
|biometricTable|8  - Mortalidade Geral / Beneficiário - AT71 F|
|biometricTable|9  - Mortalidade Geral / Beneficiário - AT83 M|
|biometricTable|10  - Mortalidade Geral / Beneficiário - AT83 F|
|biometricTable|11  - Mortalidade Geral / Beneficiário - AT2000 M|
|biometricTable|12  - Mortalidade Geral / Beneficiário - AT2000 F|
|biometricTable|13  - Mortalidade Geral / Beneficiário - CS041|
|biometricTable|14  - Mortalidade Geral / Beneficiário - CSO58|
|biometricTable|15  - Mortalidade Geral / Beneficiário - CSO80 M|
|biometricTable|16  - Mortalidade Geral / Beneficiário - CSO80 F|
|biometricTable|17  - Mortalidade Geral / Beneficiário - CSG 60|
|biometricTable|18  - Mortalidade Geral / Beneficiário - GAM71 M|
|biometricTable|19  - Mortalidade Geral / Beneficiário - GAM71 F|
|biometricTable|20  - Mortalidade Geral / Beneficiário - SGB51|
|biometricTable|21  - Mortalidade Geral / Beneficiário - SGB55|
|biometricTable|22  - Mortalidade Geral / Beneficiário - SGB71|
|biometricTable|23  - Mortalidade Geral / Beneficiário - SGB75|
|biometricTable|24  - Mortalidade Geral / Beneficiário - GKF70|
|biometricTable|25  - Mortalidade Geral / Beneficiário - GKF80|
|biometricTable|26  - Mortalidade Geral / Beneficiário - GKF95|
|biometricTable|27  - Mortalidade Geral / Beneficiário - GKM70|
|biometricTable|28  - Mortalidade Geral / Beneficiário - GKM80|
|biometricTable|29  - Mortalidade Geral / Beneficiário - GKM95|
|biometricTable|30  - Mortalidade Geral / Beneficiário - UP 84|
|biometricTable|31  - Mortalidade de Inválidos - IAPB 57|
|biometricTable|32  - Mortalidade de Inválidos - IAPB57 - Nivelada|
|biometricTable|33  - Mortalidade de Inválidos - ZIMMERMANN|
|biometricTable|34  - Mortalidade de Inválidos - WINKLEVOSS|
|biometricTable|35  - Mortalidade de Inválidos - BENTZIEN|
|biometricTable|36  - Mortalidade de Inválidos - EXP. IAPC|
|biometricTable|37  - Mortalidade de Inválidos - TASA27|
|biometricTable|38  - Mortalidade de Inválidos - MULLER|
|biometricTable|39  - Entrada em Invalidez - IAPB 57 FRACA|
|biometricTable|40  - Entrada em Invalidez - IAPB 57 FORTE|
|biometricTable|41  - Entrada em Invalidez - ZIMMERMANN|
|biometricTable|42  - Entrada em Invalidez - ÁLVARO VINDAS|
|biometricTable|43  - Entrada em Invalidez - TASA 27|
|biometricTable|44  - Entrada em Invalidez - MULLER|
|biometricTable|45  - Entrada em Invalidez - HUNTER|
|biometricTable|46  - Mortalidade Geral / Beneficiário - EB7|
|biometricTable|47  - Mortalidade Geral / Beneficiário - UP94 M|
|biometricTable|48  - Mortalidade Geral / Beneficiário - AT49|
|biometricTable|49  - Mortalidade Geral / Beneficiário - AT2000 female suavizada 10%|
|biometricTable|49  - Entrada em Invalidez - AT2000 female suavizada 10%|
|biometricTable|50  - Mortalidade Geral / Beneficiário - TGA|
|biometricTable|50  - Entrada em Invalidez - TGA|
|biometricTable|51  - Mortalidade Geral / Beneficiário - AT2000 male suavizada 10%|
|biometricTable|52  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2010-m|
|biometricTable|53  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2010-f|
|biometricTable|54  - Entrada em Invalidez - SUSEP_IBGE|
|biometricTable|55  - Mortalidade Geral / Beneficiário - Percentual Fixo|
|biometricTable|55  - Mortalidade de Inválidos - Percentual Fixo|
|biometricTable|55  - Entrada em Invalidez - Percentual Fixo|
|biometricTable|56  - Mortalidade Geral / Beneficiário - Perpétua|
|biometricTable|56  - Mortalidade de Inválidos - Perpétua|
|biometricTable|56  - Entrada em Invalidez - Perpétua|
|biometricTable|57  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2010-m|
|biometricTable|57  - Mortalidade de Inválidos - BR-EMSmt-V.2010-m|
|biometricTable|57  - Entrada em Invalidez - BR-EMSmt-V.2010-m|
|biometricTable|58  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2010-f|
|biometricTable|58  - Mortalidade de Inválidos - BR-EMSmt-V.2010-f|
|biometricTable|58  - Entrada em Invalidez - BR-EMSmt-V.2010-f|
|biometricTable|59  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2015-m|
|biometricTable|59  - Mortalidade de Inválidos - BR-EMSsb-V.2015-m|
|biometricTable|59  - Entrada em Invalidez - BR-EMSsb-V.2015-m|
|biometricTable|60  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2015-f|
|biometricTable|60  - Mortalidade de Inválidos - BR-EMSsb-V.2015-f|
|biometricTable|60  - Entrada em Invalidez - BR-EMSsb-V.2015-f|
|biometricTable|61  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2015-m|
|biometricTable|61  - Mortalidade de Inválidos - BR-EMSmt-V.2015-m|
|biometricTable|61  - Entrada em Invalidez - BR-EMSmt-V.2015-m|
|biometricTable|62  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2015-f|
|biometricTable|62  - Mortalidade de Inválidos - BR-EMSmt-V.2015-f|
|biometricTable|62  - Entrada em Invalidez - BR-EMSmt-V.2015-f|
|biometricTable|63  - Mortalidade Geral / Beneficiário - BR-EMSsb-m|
|biometricTable|63  - Mortalidade de Inválidos - BR-EMSsb-m|
|biometricTable|63  - Entrada em Invalidez - BR-EMSsb-m|
|biometricTable|64  - Mortalidade Geral / Beneficiário - BR-EMSsb-f|
|biometricTable|64  - Mortalidade de Inválidos - BR-EMSsb-f|
|biometricTable|64  - Entrada em Invalidez - BR-EMSsb-f|
|biometricTable|65  - Mortalidade Geral / Beneficiário - BR-EMSmt-m|
|biometricTable|65  - Mortalidade de Inválidos - BR-EMSmt-m|
|biometricTable|65  - Entrada em Invalidez - BR-EMSmt-m|
|biometricTable|66  - Mortalidade Geral / Beneficiário - BR-EMSmt-f|
|biometricTable|66  - Mortalidade de Inválidos - BR-EMSmt-f|
|biometricTable|66  - Entrada em Invalidez - BR-EMSmt-f|
|biometricTable|67  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2021-m|
|biometricTable|67  - Mortalidade de Inválidos - BR-EMSsb-V.2021-m|
|biometricTable|67  - Entrada em Invalidez - BR-EMSsb-V.2021-m|
|biometricTable|68  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2021-f|
|biometricTable|68  - Mortalidade de Inválidos - BR-EMSsb-V.2021-f|
|biometricTable|68  - Entrada em Invalidez - BR-EMSsb-V.2021-f|
|biometricTable|69  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2021-m|
|biometricTable|69  - Mortalidade de Inválidos - BR-EMSmt-V.2021-m|
|biometricTable|69  - Entrada em Invalidez - BR-EMSmt-V.2021-m|
|biometricTable|70  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2021-f|
|biometricTable|70  - Mortalidade de Inválidos - BR-EMSmt-V.2021-f|
|biometricTable|70  - Entrada em Invalidez - BR-EMSmt-V.2021-f|
|biometricTable|99  - Mortalidade Geral / Beneficiário - OUTRAS|
|biometricTable|99  - Mortalidade de Inválidos - OUTRAS|
|biometricTable|99  - Entrada em Invalidez - OUTRAS|
|pricingMethod|POR_IDADE|
|pricingMethod|TAXA_MEDIA|
|pricingMethod|FAIXA_ETÁRIA|
|pricingMethod|OUTROS|
|updateIndex|IPC-FGV|
|updateIndex|IGP-DI-FGV|
|updateIndex|IPCA-IBGE|
|updateIndex|IGPM-FGV|
|updateIndex|INPC-IBGE|
|updateIndex|TR|
|updateIndex|OUTROS|
|updatePeriodicityUnit|DIA|
|updatePeriodicityUnit|MES|
|updatePeriodicityUnit|ANO|

<h2 id="tocS_InsurancePensionPlanDocumentsPlansGrace">InsurancePensionPlanDocumentsPlansGrace</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplandocumentsplansgrace"></a>
<a id="schema_InsurancePensionPlanDocumentsPlansGrace"></a>
<a id="tocSinsurancepensionplandocumentsplansgrace"></a>
<a id="tocsinsurancepensionplandocumentsplansgrace"></a>

```json
{
  "graceType": "PORTABILIDADE",
  "gracePeriod": 4,
  "gracePeriodicity": "DIA",
  "dayIndicator": "UTEIS",
  "gracePeriodStart": "2021-05-21",
  "gracePeriodEnd": "2021-05-21",
  "gracePeriodBetween": 6,
  "gracePeriodBetweenType": "DIA"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|graceType|string|false|none|Tipo de carência, Obrigatório se houver|
|gracePeriod|integer|false|none|Campo para preenchimento do período de carência de resgate / portabilidade, Obrigatório se houver|
|gracePeriodicity|string|false|none|Periodicidade da Carência, Obrigatório se houver|
|dayIndicator|string|false|none|Índicador de dias úteis ou Corridos, Obrigatório se houver|
|gracePeriodStart|string(date)|false|none|Data de Início da Carência. Obrigatório, se houver|
|gracePeriodEnd|string(date)|false|none|Data de Fim da carência. Obrigatório se houver|
|gracePeriodBetween|integer|false|none|Prazo de Carência entre Resgates, Obrigatório se houver|
|gracePeriodBetweenType|string|false|none|Tipo de Prazo de Carência entre Resgates, Obrigatório quando o valor do campo 'carencia_tipo' for 'RESGATE'|

#### Enumerated Values

|Property|Value|
|---|---|
|graceType|PORTABILIDADE|
|graceType|RESGATE|
|gracePeriodicity|DIA|
|gracePeriodicity|MES|
|gracePeriodicity|ANO|
|dayIndicator|UTEIS|
|dayIndicator|CORRIDOS|
|gracePeriodBetweenType|DIA|
|gracePeriodBetweenType|MES|
|gracePeriodBetweenType|ANO|

<h2 id="tocS_InsurancePensionPlanEvent">InsurancePensionPlanEvent</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplanevent"></a>
<a id="schema_InsurancePensionPlanEvent"></a>
<a id="tocSinsurancepensionplanevent"></a>
<a id="tocsinsurancepensionplanevent"></a>

```json
{
  "eventType": "INVALIDEZ",
  "eventTypeOthers": "OUTROS",
  "eventInfo": {
    "eventStatus": "ABERTO",
    "eventAlertDate": "2021-05-21",
    "eventRegisterDate": "2021-05-21"
  }
}

```

Eventos Geradores

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|eventType|string|true|none|Indica o tipo de evento gerador aplicável à cobertura|
|eventTypeOthers|string|false|none|Descrição do tipo de evento gerador quando for informada a opção OUTROS|
|eventInfo|object|true|none|Dados Gerais do Evento Gerador|
|» eventStatus|string|true|none|Status do Evento Gerador|
|» eventAlertDate|string(date)|true|none|Data de Aviso do Evento Gerador|
|» eventRegisterDate|string(date)|true|none|Data do Registro de Aviso à Seguradora|

#### Enumerated Values

|Property|Value|
|---|---|
|eventType|INVALIDEZ|
|eventType|MORTE|
|eventType|OUTROS|
|eventStatus|ABERTO|
|eventStatus|ENCERRADO_COM_INDENIZACAO|
|eventStatus|ENCERRADO_SEM_INDENIZACAO|
|eventStatus|REABERTO|
|eventStatus|CANCELADO_POR_ERRO_OPERACIONAL|
|eventStatus|AVALIACAO_INICIAL|
|eventStatus|ENCERRADO_COM_PAGAMENTO_UNICO_BENEFICIO|
|eventStatus|ENCERRADO_COM_CONCESSAO_DE_RENDA_BENEFICIO|
|eventStatus|ENCERRADO_INDEFERIDO_BENEFICIO|

<h2 id="tocS_ResponseInsurancePensionPlanMovements">ResponseInsurancePensionPlanMovements</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepensionplanmovements"></a>
<a id="schema_ResponseInsurancePensionPlanMovements"></a>
<a id="tocSresponseinsurancepensionplanmovements"></a>
<a id="tocsresponseinsurancepensionplanmovements"></a>

```json
{
  "data": {
    "movementContributions": [
      {
        "contributionAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "contributionPaymentDate": "2021-05-21",
        "contributionExpirationDate": "2021-05-21",
        "chargedInAdvanceAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "periodicity": "MENSAL"
      }
    ],
    "movementBenefits": [
      {
        "benefitAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "benefitPaymentDate": "2021-05-21"
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsurancePensionPlanMovements](#schemainsurancepensionplanmovements)|true|none|none|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemametainsurancepensionplan)|true|none|none|

<h2 id="tocS_InsurancePensionPlanMovements">InsurancePensionPlanMovements</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplanmovements"></a>
<a id="schema_InsurancePensionPlanMovements"></a>
<a id="tocSinsurancepensionplanmovements"></a>
<a id="tocsinsurancepensionplanmovements"></a>

```json
{
  "movementContributions": [
    {
      "contributionAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "contributionPaymentDate": "2021-05-21",
      "contributionExpirationDate": "2021-05-21",
      "chargedInAdvanceAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "periodicity": "MENSAL"
    }
  ],
  "movementBenefits": [
    {
      "benefitAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "benefitPaymentDate": "2021-05-21"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|movementContributions|[object]|false|none|none|
|» contributionAmount|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|false|none|Valores de contribuições/prêmios comerciais pagos pelo segurado participante (em relação aos últimos 12 meses), Obrigatório se houver|
|» contributionPaymentDate|string(date)|false|none|Datas de Pagamentos das contribuições/prêmios comerciais (em relação aos últimos 12 meses), Obrigatório, se houver|
|» contributionExpirationDate|string(date)|false|none|Datas de Vencimentos das contribuições/prêmios comerciais (em relação aos últimos 12 meses)|
|» chargedInAdvanceAmount|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|false|none|Valor do carregamento cobrado de forma antecipada, Obrigatório se houver|
|» periodicity|string|false|none|Periodicidade da contribuições|
|movementBenefits|[object]|false|none|none|
|» benefitAmount|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|false|none|Valores de benefícios recebidos (em relação aos últimos 12 meses), Obrigatório, se houver|
|» benefitPaymentDate|string(date)|false|none|Datas de Pagamentos de benefícios recebidos (em relação aos últimos 12 meses), Obrigatório, se houver|

#### Enumerated Values

|Property|Value|
|---|---|
|periodicity|MENSAL|
|periodicity|BIMESTRAL|
|periodicity|TRIMESTRAL|
|periodicity|QUADRIMESTRAL|
|periodicity|SEMESTRAL|
|periodicity|ANUAL|
|periodicity|ESPORADICA|

<h2 id="tocS_ResponseInsurancePensionPlanPortabilities">ResponseInsurancePensionPlanPortabilities</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepensionplanportabilities"></a>
<a id="schema_ResponseInsurancePensionPlanPortabilities"></a>
<a id="tocSresponseinsurancepensionplanportabilities"></a>
<a id="tocsresponseinsurancepensionplanportabilities"></a>

```json
{
  "data": {
    "hasOccurredPortability": true,
    "portabilityInfo": [
      {
        "direction": "ENTRADA",
        "type": "PARCIAL",
        "amount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "requestDate": "2022-05-16T00:00:00.000Z",
        "liquidationDate": "2022-05-16T00:00:00.000Z",
        "chargingValue": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "sourceEntity": "string",
        "targetEntity": "string",
        "susepProcess": "12345"
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsurancePensionPlanPortability](#schemainsurancepensionplanportability)|true|none|none|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemametainsurancepensionplan)|true|none|none|

<h2 id="tocS_InsurancePensionPlanPortability">InsurancePensionPlanPortability</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplanportability"></a>
<a id="schema_InsurancePensionPlanPortability"></a>
<a id="tocSinsurancepensionplanportability"></a>
<a id="tocsinsurancepensionplanportability"></a>

```json
{
  "hasOccurredPortability": true,
  "portabilityInfo": [
    {
      "direction": "ENTRADA",
      "type": "PARCIAL",
      "amount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "requestDate": "2022-05-16T00:00:00.000Z",
      "liquidationDate": "2022-05-16T00:00:00.000Z",
      "chargingValue": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "sourceEntity": "string",
      "targetEntity": "string",
      "susepProcess": "12345"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|hasOccurredPortability|boolean|true|none|Campo para ser preenchimento com a identificação da ocorrência da portabilidade|
|portabilityInfo|[object]|false|none|none|
|» direction|string|true|none|Direção do fluxo de portabilidade|
|» type|string|false|none|Tipo de portabilidade, Obrigatório quando Tipo Fluxo for SAIDA|
|» amount|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|true|none|Valor portado|
|» requestDate|string(date-time)|true|none|Declara a data em que foi recebida a solicitação de portabilidade|
|» liquidationDate|string(date-time)|true|none|Declara a data de ocorrência da efetiva liquidação da portabilidade|
|» chargingValue|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|true|none|Valor de carregamento cobrado de forma postecipada|
|» sourceEntity|string|false|none|Declara o código FIP da entidade de origem (cedente) da portabilidade|
|» targetEntity|string|false|none|Declara o código FIP da entidade de destino (cessionária) da portabilidade|
|» susepProcess|string|false|none|Processo Susep do plano originário da portabilidade|

#### Enumerated Values

|Property|Value|
|---|---|
|direction|ENTRADA|
|direction|SAIDA|
|type|PARCIAL|
|type|TOTAL|

<h2 id="tocS_ResponseInsurancePensionPlanWithdrawals">ResponseInsurancePensionPlanWithdrawals</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepensionplanwithdrawals"></a>
<a id="schema_ResponseInsurancePensionPlanWithdrawals"></a>
<a id="tocSresponseinsurancepensionplanwithdrawals"></a>
<a id="tocsresponseinsurancepensionplanwithdrawals"></a>

```json
{
  "data": [
    {
      "withdrawalOccurence": true,
      "type": "PARCIAL",
      "requestDate": "2022-05-16T00:00:00.000Z",
      "amount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "liquidationDate": "2022-05-16T00:00:00.000Z",
      "postedChargedAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "nature": "RESGATE_REGULAR"
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InsurancePensionPlanWithdrawal](#schemainsurancepensionplanwithdrawal)]|true|none|none|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemametainsurancepensionplan)|true|none|none|

<h2 id="tocS_InsurancePensionPlanWithdrawal">InsurancePensionPlanWithdrawal</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplanwithdrawal"></a>
<a id="schema_InsurancePensionPlanWithdrawal"></a>
<a id="tocSinsurancepensionplanwithdrawal"></a>
<a id="tocsinsurancepensionplanwithdrawal"></a>

```json
{
  "withdrawalOccurence": true,
  "type": "PARCIAL",
  "requestDate": "2022-05-16T00:00:00.000Z",
  "amount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "liquidationDate": "2022-05-16T00:00:00.000Z",
  "postedChargedAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "nature": "RESGATE_REGULAR"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|withdrawalOccurence|boolean|true|none|Indica se houve resgate|
|type|string|false|none|Tipo de resgate, Obrigatório, se houver|
|requestDate|string(date-time)|false|none|Declara a data da solicitação do resgate, Obrigatório, se houver|
|amount|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|false|none|Valor do Resgate|
|liquidationDate|string(date-time)|false|none|Declara a data da efetiva liquidação do valor resgatado, Obrigatório, se houver|
|postedChargedAmount|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|false|none|Valor do carregamento cobrado de forma postecipada, Obrigatório, se houver|
|nature|string|false|none|Natureza do resgate, Obrigatório, se houver|

#### Enumerated Values

|Property|Value|
|---|---|
|type|TOTAL|
|type|PARCIAL|
|nature|RESGATE_REGULAR|
|nature|MORTE|
|nature|INVALIDEZ|
|nature|PAGAMENTO_FINANCEIRO_PROGRAMADO|
|nature|CUSTEIO_DE_COBERTURA_DE_RISCO_EM_PLANOS_CONJUGADOS|
|nature|ASSISTENCIA_FINANCEIRA|

<h2 id="tocS_ResponseInsurancePensionPlanClaim">ResponseInsurancePensionPlanClaim</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepensionplanclaim"></a>
<a id="schema_ResponseInsurancePensionPlanClaim"></a>
<a id="tocSresponseinsurancepensionplanclaim"></a>
<a id="tocsresponseinsurancepensionplanclaim"></a>

```json
{
  "data": [
    {
      "beneficiaryDocument": "12345678910",
      "beneficiaryDocumentType": "CPF",
      "beneficiaryName": "NOME BENEFICIARIO",
      "beneficiaryCategory": "SEGURADO",
      "beneficiaryBirthDate": "2021-05-21",
      "incomeType": "PAGAMENTO_UNICO",
      "incomeTypeDetails": "Descrição do Tipo de Renda",
      "reversedIncome": false,
      "incomeAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "paymentTerms": "PRAZO",
      "benefitAmount": 2,
      "grantedDate": "2021-05-21",
      "monetaryUpdateIndex": "IPC-FGV",
      "lastUpdateDate": "2021-05-21"
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InsurancePensionPlanClaim](#schemainsurancepensionplanclaim)]|true|none|none|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemametainsurancepensionplan)|true|none|none|

<h2 id="tocS_InsurancePensionPlanClaim">InsurancePensionPlanClaim</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepensionplanclaim"></a>
<a id="schema_InsurancePensionPlanClaim"></a>
<a id="tocSinsurancepensionplanclaim"></a>
<a id="tocsinsurancepensionplanclaim"></a>

```json
{
  "beneficiaryDocument": "12345678910",
  "beneficiaryDocumentType": "CPF",
  "beneficiaryName": "NOME BENEFICIARIO",
  "beneficiaryCategory": "SEGURADO",
  "beneficiaryBirthDate": "2021-05-21",
  "incomeType": "PAGAMENTO_UNICO",
  "incomeTypeDetails": "Descrição do Tipo de Renda",
  "reversedIncome": false,
  "incomeAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "paymentTerms": "PRAZO",
  "benefitAmount": 2,
  "grantedDate": "2021-05-21",
  "monetaryUpdateIndex": "IPC-FGV",
  "lastUpdateDate": "2021-05-21"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|beneficiaryDocument|string|true|none|Documento de identificação do beneficiário da renda concedida|
|beneficiaryDocumentType|string|true|none|Tipo de Documento do Beneficiário|
|beneficiaryName|string|true|none|Nome do beneficiário da renda concedida|
|beneficiaryCategory|string|true|none|Classificação do Beneficiário|
|beneficiaryBirthDate|string(date)|true|none|Data de nascimento do beneficiário da renda concedida|
|incomeType|string|true|none|Tipo de Renda|
|incomeTypeDetails|string|false|none|Descrição do Tipo de Renda, obrigatório se campo Tipo de Renda for OUTROS.|
|reversedIncome|boolean|true|none|Renda Revertida, obrigatório se campo Tipo de Renda for 4, 6, 8, 9 e 11.|
|incomeAmount|[AmountDetails](#schemaamountdetailsinsurancepensionplan)|true|none|Valor do benefício concedido em forma de renda ou do pagamento único|
|paymentTerms|string|false|none|Prazo pagamento da parcela ou da renda atuarial ou financeira do benefício concedido (quando Tipo de renda for igual a 2, 3, 4, 5 e 6)|
|benefitAmount|integer|true|none|Número de benefícios a serem recebidos por ano|
|grantedDate|string(date)|true|none|Data de Concessão|
|monetaryUpdateIndex|string|true|none|Índice de Atualização Monetária|
|lastUpdateDate|string(date)|true|none|Data da última atualização do benefício|

#### Enumerated Values

|Property|Value|
|---|---|
|beneficiaryDocumentType|CPF|
|beneficiaryDocumentType|RG|
|beneficiaryDocumentType|PASSAPORTE|
|beneficiaryDocumentType|OUTROS|
|beneficiaryCategory|SEGURADO|
|beneficiaryCategory|CONJUGE|
|beneficiaryCategory|FILHO_MENOR_DE_IDADE|
|beneficiaryCategory|BENEFICIARIO_INDICADO|
|incomeType|PAGAMENTO_UNICO|
|incomeType|RENDA_POR_PRAZO_CERTO|
|incomeType|RENDA_TEMPORARIA|
|incomeType|RENDA_TEMPORARIA_REVERSIVEL|
|incomeType|RENDA_TEMPORARIA_COM_PRAZO_MINIMO_GARANTIDO|
|incomeType|RENDA_TEMPORARIA_REVERSIVEL_COM_PRAZO_MINIMO_GARANTIDO|
|incomeType|RENDA_VITALICIA|
|incomeType|RENDA_VITALICIA_REVERSIVEL_AO_BENEFICIARIO_INDICADO|
|incomeType|RENDA_VITALICIA_REVERSIVEL_AO_CONJUGE_COM_CONTINUIDADE_AOS_MENORES|
|incomeType|RENDA_VITALICIA_COM_PRAZO_MINIMO_GARANTIDO|
|incomeType|RENDA_VITALICIA_REVERSIVEL_COM_PRAZO_MINIMO_GARANTIDO|
|incomeType|RENDA_VITALICIA_REVERSIVEL_AO_CONJUGE|
|incomeType|OUTROS|
|monetaryUpdateIndex|IPC-FGV|
|monetaryUpdateIndex|IGP-DI-FGV|
|monetaryUpdateIndex|IPCA-IBGE|
|monetaryUpdateIndex|IGPM-FGV|
|monetaryUpdateIndex|INPC-IBGE|
|monetaryUpdateIndex|TR|
|monetaryUpdateIndex|OUTROS|

<h2 id="tocS_AmountDetailsinsurancepensionplan">AmountDetails</h2>
<!-- backwards compatibility -->
<a id="schemaamountdetailsinsurancepensionplan"></a>
<a id="schema_AmountDetails"></a>
<a id="tocSamountdetails"></a>
<a id="tocsamountdetails"></a>

```json
{
  "amount": "2000.00",
  "unit": {
    "code": "R$",
    "description": "BRL"
  }
}

```

Detalhes de valores/limites

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|string|true|none|none|
|unit|object|true|none|none|
|» code|string|true|none|none|
|» description|string|true|none|Moeda da Parcela, de acordo com ISO-4217.|

<h2 id="tocS_EnumCountrySubDivisioninsurancepensionplan">EnumCountrySubDivision</h2>
<!-- backwards compatibility -->
<a id="schemaenumcountrysubdivisioninsurancepensionplan"></a>
<a id="schema_EnumCountrySubDivision"></a>
<a id="tocSenumcountrysubdivision"></a>
<a id="tocsenumcountrysubdivision"></a>

```json
"RJ"

```

Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|AC|
|*anonymous*|AL|
|*anonymous*|AP|
|*anonymous*|AM|
|*anonymous*|BA|
|*anonymous*|CE|
|*anonymous*|DF|
|*anonymous*|ES|
|*anonymous*|GO|
|*anonymous*|MA|
|*anonymous*|MT|
|*anonymous*|MS|
|*anonymous*|MG|
|*anonymous*|PA|
|*anonymous*|PB|
|*anonymous*|PR|
|*anonymous*|PE|
|*anonymous*|PI|
|*anonymous*|RJ|
|*anonymous*|RN|
|*anonymous*|RS|
|*anonymous*|RO|
|*anonymous*|RR|
|*anonymous*|SC|
|*anonymous*|SP|
|*anonymous*|SE|
|*anonymous*|TO|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
  "first": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
  "prev": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
  "next": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan",
  "last": "https://api.organizacao.com.br/open-insurance/insurance-pension-plan/v1/insurance-pension-plan"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Metainsurancepensionplan">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametainsurancepensionplan"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorinsurancepensionplan">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorinsurancepensionplan"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametainsurancepensionplan)|false|none|none|

<h2 id="tocS_XFapiInteractionIdinsurancepensionplan">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionidinsurancepensionplan"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

