openapi: 3.0.0
info:
  title: API Embedded Data - Open Insurance Brasil
  description: |
    API que trata da criação, consulta e deleção de dados embarcados para o Open Insurance Brasil Fase 3.
    
    
    ## Permissions necessárias para a API Embedded Data
    
    Para cada um dos `paths` desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

    ### `/devices/{policyId}`
      - permissions:
        - GET: **EMBEDDED_DATA_DEVICES_READ**
   
  version: 1.0.1  
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Insurance Brasil - Especificações
    email: gt-interfaces@openinsurancebr.org
    url: 'https://http://novosite.susep.gov.br'
servers:
  - url: 'https://api.seguro.com.br/open-insurance/embedded-data/v1'
    description: Servidor de Produção
  - url: 'https://apih.seguro.com.br/open-insurance/embedded-data/v1'
    description: Servidor de Homologação
tags:
  - name: Embedded Data
    description: 'Operações para criação de dados embarcados desejadas pelo cliente.'
paths:
  '/devices/{policyId}':
    get:
      tags:
        - Embedded Data
      summary: Consultar dados embarcados coletados pelos dispositivos identificado por policyId.
      operationId: embeddedDataGetDevices
      description: Método para a consulta de dados embarcados coletado pelos dispositivos.
      parameters:
        - $ref: '#/components/parameters/policyId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/200EmbeddedDataPolicyIdRead'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/Default'
      security:
        - OpenId:
            - openid
        - OAuth2Security:
            - embedded-data
components:
  schemas:
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
    XFapiInteractionId:
      type: string
      pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
      maxLength: 100
      description: 'Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.'
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: 'https://api.organizacao.com.br/open-insurance/embedded-data/v1'
    Meta:
      type: object
      description: Meta informações referente à API requisitada.
      required:
        - totalRecords
        - totalPages
        - requestDateTime
      properties:
        totalRecords:
          type: integer
          format: int32
          description: Número total de registros no resultado
          example: 1
        totalPages:
          type: integer
          format: int32
          description: Número total de páginas no resultado
          example: 1
        requestDateTime:
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          type: string
          maxLength: 20
          format: date-time
          example: '2021-05-21T08:30:00Z'
      additionalProperties: false
    ResponseEmbeddedData:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: Objeto contendo dados da necessários para criação de dados embarcados.
          required:
            - brand
            - companies
            - product
            - insured
            - devices
          properties:
            brand:
              type: string
              maxLength: 80
              description: Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.
              example: EMPRESA A Seguros
            companies:
              type: array
              items:
                type: object
                required:
                  - companyName
                  - cnpjNumber
                additionalProperties: false
                properties:
                  companyName:
                    type: string
                    maxLength: 80
                    description: Nome da instituição, pertencente à marca.
                    example: ABCDE SEGUROS
                  cnpjNumber:
                    type: string
                    maxLength: 14
                    description: CNPJ da sociedade pertencente à marca.
                    example: 12345678901234
            insured:
              type: object
              description: 'Segurado referente aos dados embarcados.'
              additionalProperties: false
              required:
                - documentType
                - policyId
                - susepProcessNumber
              properties:
                documentType:
                  description: Tipo de Documento Emitido.
                  type: string
                  maxLength: 28
                  enum: [APOLICE_INDIVIDUAL,
                        BILHETE,
                        CERTIFICADO,
                        APOLICE_INDIVIDUAL_AUTOMOVEL,
                        APOLICE_FROTA_AUTOMOVEL,
                        CERTIFICADO_AUTOMOVEL]
                  example: APOLICE_INDIVIDUAL
                policyId:
                  description: Identificador da apólice ou bilhete.
                  type: string
                  maxLength: 60
                  example: "111111"
                susepProcessNumber: 
                  description: Número SUSEP da apólice, conforme regulamentação vigente (Obrigatório caso apólice com coberturas do ramo Garantia)
                  type: string
                  maxLength: 60
                products:
                  type: array
                  items:
                    type: object
                    description: 'Produto referente aos dados embarcados.'
                    additionalProperties: false
                    required:
                      - code
                      - branch
                    properties:
                      commercialName:
                        type: string
                        maxLength: 80
                        description: Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
                        example: 'Seguro Auto Roubo'
                      code:
                        type: string
                        maxLength: 100
                        description: Código único a ser definido pela sociedade.
                        example: 0000-0
                      branch:
                        type: string
                        maxLength: 100
                        description: Para cada objeto segurado (Seguros de Danos), ou para cada segurado (Seguro de Pessoas), com código de ramo.
                        example: 26
                      devices:
                        $ref: '#/components/schemas/EmbeddedDataDevices'     
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    EmbeddedDataDevices:
      type: array
      items:
        type: object
        description: 'Dispositivos utilizados para coletar os dados.'
        additionalProperties: false
        required:
          - type
          - locationInstalled
          - collectedData
        properties:
          type:
            description: Categoria dos dispositivos de coleta de dados.
            type: string
            maxLength: 16
            enum: [COLETOR_PORTATIL,
                   COLETOR_VEICULAR,
                   OUTROS]
            example: COLETOR_PORTATIL
          typeOthers:
            description: Campo aberto para preenchimento de outros. Condicional ao 'OUTROS' do campo 'type'.
            type: string
            maxLength: 500
          locationInstalled: 
            description: Local onde o dispositivo está instalado.
            type: string
            maxLength: 10
            enum: [VEICULO,
                   SMARTWATCH,
                   SMARTPHONE,
                   RESIDENCIA,
                   OUTROS]
            example: VEICULO
          locationInstalledOthers:
            description: Campo aberto para preenchimento de outros. Condicional ao 'OUTROS' do campo 'locationInstalled'.
            type: string
            maxLength: 500
          collectedData:
            description: Campo aberto para preenchimento dos dados coletados. Informações, não armazenadas no ambiente da seguradora, as quais, depois de processadas, produzem um score para cada cliente (único dado disponível).
            type: string
            maxLength: 500
  parameters:
    policyId:
        name: policyId
        in: path
        required: true
        schema:
          type: string
          maxLength: 60
    Authorization:
      name: Authorization
      in: header
      description: Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado
      required: true
      schema:
        type: string
        pattern: '[\w\W\s]*'
        maxLength: 2048
    xCustomerUserAgent:
      name: x-customer-user-agent
      in: header
      description: Indica o user-agent que o usuário utiliza.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    xFapiAuthDate:
      name: x-fapi-auth-date
      in: header
      description: 'Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC'
      required: false
      schema:
        type: string
        pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
        minLength: 29
        maxLength: 29
    xFapiCustomerIpAddress:
      name: x-fapi-customer-ip-address
      in: header
      description: O endereço IP do usuário se estiver atualmente logado com o receptor.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    xFapiInteractionId:
      name: x-fapi-interaction-id
      in: header
      description: 'Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.'
      required: false
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        minLength: 1
        maxLength: 100
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration'
    OAuth2Security:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://authserver.example/token'
          scopes:
            embedded-data: Escopo necessário para acesso à API Embedded Data.
  responses:
    UnsupportedMediaType:
      description: O formato do payload não é um formato suportado.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    UnprocessableEntity:
      description: 'A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Default:
      description: Erro inesperado.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
      headers:
        x-fapi-interaction-id:
          description: |
            Um UUID RFC4122 usado como um ID de correlação. O transmissor deve usar o mesmo valor recebido na requisição para o cabeçalho de resposta recebido na requisição, caso não tenha sido fornecido, deve se usar um UUID RFC4122.
          schema:
            $ref: '#/components/schemas/XFapiInteractionId'
    200EmbeddedDataPolicyIdRead:
      description: Dados embarcados de dispositivos consultado com sucesso.
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: string
            pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
            minLength: 1
            maxLength: 100
            example: 92cac523-d3ae-2289-b106-330a6218710d
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseEmbeddedData'