
<h2 id="tocS_Linksconsentsv2">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksconsentsv2"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/consents/v2/consents",
  "first": "https://api.organizacao.com.br/open-insurance/consents/v2/consents",
  "prev": "https://api.organizacao.com.br/open-insurance/consents/v2/consents",
  "next": "https://api.organizacao.com.br/open-insurance/consents/v2/consents",
  "last": "https://api.organizacao.com.br/open-insurance/consents/v2/consents"
}

```

Referências para outros recusos da API requisitada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string(uri)|true|none|URI completo que gerou a resposta atual.|
|first|string(uri)|false|none|URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta|
|prev|string(uri)|false|none|URI da página anterior dessa lista de resultados. Restrição - 	Obrigatório quando não for a primeira página da resposta|
|next|string(uri)|false|none|URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|
|last|string(uri)|false|none|URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|

<h2 id="tocS_Metaconsentsv2">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametaconsentsv2"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 1,
  "totalPages": 1
}

```

Meta informações referente à API requisitada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer(int32)|true|none|Número total de registros no resultado|
|totalPages|integer(int32)|true|none|Número total de páginas no resultado|

<h2 id="tocS_CreateConsentconsentsv2">CreateConsent</h2>
<!-- backwards compatibility -->
<a id="schemacreateconsent"></a>
<a id="schema_CreateConsent"></a>
<a id="tocScreateconsent"></a>
<a id="tocscreateconsent"></a>

```json
{
  "data": {
    "loggedUser": {
      "document": {
        "identification": "11111111111",
        "rel": "CPF"
      }
    },
    "businessEntity": {
      "document": {
        "identification": "11111111111111",
        "rel": "CNPJ"
      }
    },
    "documentId": "111111",
    "permissions": [
      "CAPITALIZATION_TITLE_READ",
      "RESOURCES_READ"
    ],
    "expirationDateTime": "2021-05-21T08:30:00Z",
    "transactionFromDateTime": "2021-01-01T00:00:00Z",
    "transactionToDateTime": "2021-02-01T23:59:59Z"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» loggedUser|[LoggedUser](#schemaloggeduserconsentsv2)|true|none|Usuário (pessoa natural) que encontra-se logado na instituição receptora e que iniciará o processo de consentimento para compartilhamento de dados.|
|» businessEntity|[BusinessEntity](#schemabusinessentityconsentsv2)|false|none|Titular, pessoa jurídica a quem se referem os dados que são objeto de compartilhamento.|
|» documentId|string|false|none|Identificador do documento relacionado ao endosso/sinistro/resgate, obrigatório em caso de iniciação de endosso/sinistro/resgate|
|» permissions|[string]|true|none|none|
|» expirationDateTime|string(date-time)|true|none|Data e hora de expiração da permissão. De preenchimento obrigatório, reflete a data limite de validade do consentimento. Uma string com data e hora conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), sempre com a utilização de timezone UTC(UTC time format).|
|» transactionFromDateTime|string(date-time)|false|none|Data e hora da transação inicial. Se não for preenchido, a transação terá a data aberta e a data será retornada com a primeira transação disponível. Uma string com data e hora conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), sempre com a utilização de timezone UTC(UTC time format).|
|» transactionToDateTime|string(date-time)|false|none|Data e hora final da transação. Se não for preenchido, a transação terá a data aberta e a data será retornada com a ultima transação disponível. Uma string com data e hora conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), sempre com a utilização de timezone UTC(UTC time format).|

<h2 id="tocS_ResponseConsentconsentsv2">ResponseConsent</h2>
<!-- backwards compatibility -->
<a id="schemaresponseconsent"></a>
<a id="schema_ResponseConsent"></a>
<a id="tocSresponseconsent"></a>
<a id="tocsresponseconsent"></a>

```json
{
  "data": {
    "consentId": "urn:prudential:C1DD93123",
    "creationDateTime": "2021-05-21T08:30:00Z",
    "status": "AWAITING_AUTHORISATION",
    "documentId": "111111",
    "statusUpdateDateTime": "2021-05-21T08:30:00Z",
    "permissions": [
      "CAPITALIZATION_TITLE_READ",
      "RESOURCES_READ"
    ],
    "expirationDateTime": "2021-05-21T08:30:00Z",
    "transactionFromDateTime": "2021-01-01T00:00:00Z",
    "transactionToDateTime": "2021-02-01T23:59:59Z",
    "rejection": {
      "rejectedBy": "USER",
      "reason": {
        "code": "CONSENT_EXPIRED",
        "additionalInformation": "Tempo de confirmação da múltipla alçada excedido."
      }
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/consents/v2/consents",
    "first": "https://api.organizacao.com.br/open-insurance/consents/v2/consents",
    "prev": "https://api.organizacao.com.br/open-insurance/consents/v2/consents",
    "next": "https://api.organizacao.com.br/open-insurance/consents/v2/consents",
    "last": "https://api.organizacao.com.br/open-insurance/consents/v2/consents"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» consentId|string|true|none|O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.  <br>Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource <br>Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN <br>seja um identificador de recurso persistente e independente da localização.  <br>Considerando a string urn:prudential:C1DD93123 como exemplo para consentId temos:<br>- o namespace(urn)<br>- o identificador associado ao namespace da instituição transnmissora (prudential) <br>- o identificador específico dentro do namespace (C1DD93123).  <br>Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).|
|» creationDateTime|string(date-time)|true|none|Data e hora em que o recurso foi criado. Uma string com data e hora conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), sempre com a utilização de timezone UTC(UTC time format).|
|» status|string|true|none|Estado atual do consentimento cadastrado.|
|» documentId|string|false|none|Identificador do documento relacionado ao endosso/sinistro/resgate, obrigatório em caso de iniciação de endosso/sinistro/resgate|
|» statusUpdateDateTime|string(date-time)|true|none|Data e hora em que o recurso foi atualizado. Uma string com data e hora conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), sempre com a utilização de timezone UTC(UTC time format).|
|» permissions|[string]|true|none|Especifica os tipos de permissões de acesso às APIs no escopo do Open Insurance Brasil - Fase 2 e 3, de acordo com os blocos de consentimento fornecidos pelo usuário e necessários ao acesso a cada endpoint das APIs.|
|» expirationDateTime|string(date-time)|true|none|Data e hora de expiração da permissão. De preenchimento obrigatório, reflete a data limite de validade do consentimento. Uma string com data e hora conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), sempre com a utilização de timezone UTC(UTC time format).|
|» transactionFromDateTime|string(date-time)|false|none|Data e hora da transação inicial. Se não for preenchido, a transação terá a data aberta e a data será retornada com a primeira transação disponível. Uma string com data e hora conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), sempre com a utilização de timezone UTC(UTC time format).|
|» transactionToDateTime|string(date-time)|false|none|Data e hora final da transação. Se não for preenchido, a transação terá a data aberta e a data será retornada com a ultima transação disponível. Uma string com data e hora conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), sempre com a utilização de timezone UTC(UTC time format).|
|» rejection|object|false|none|Objeto a ser retornado caso o consentimento seja rejeitado.|
|»» rejectedBy|[EnumRejectedBy](#schemaenumrejectedby)|true|none|Informar usuário responsável pela rejeição.   <br>1. USER usuário   <br>2. ASPSP instituição transmissora   <br>3. TPP instituição receptora|
|»» reason|[RejectedReason](#schemarejectedreason)|true|none|Define a razão pela qual o consentimento foi rejeitado.|
|links|[Links](#schemalinksconsentsv2)|false|none|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemametaconsentsv2)|false|none|Meta informações referente à API requisitada.|

#### Enumerated Values

|Property|Value|
|---|---|
|status|AUTHORISED|
|status|AWAITING_AUTHORISATION|
|status|REJECTED|
|status|CONSUMED|

<h2 id="tocS_EnumRejectedBy">EnumRejectedBy</h2>
<!-- backwards compatibility -->
<a id="schemaenumrejectedby"></a>
<a id="schema_EnumRejectedBy"></a>
<a id="tocSenumrejectedby"></a>
<a id="tocsenumrejectedby"></a>

```json
"USER"

```

Informar usuário responsável pela rejeição.   
1. USER usuário   
2. ASPSP instituição transmissora   
3. TPP instituição receptora

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Informar usuário responsável pela rejeição.   <br>1. USER usuário   <br>2. ASPSP instituição transmissora   <br>3. TPP instituição receptora|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|USER|
|*anonymous*|ASPSP|
|*anonymous*|TPP|

<h2 id="tocS_EnumReasonCode">EnumReasonCode</h2>
<!-- backwards compatibility -->
<a id="schemaenumreasoncode"></a>
<a id="schema_EnumReasonCode"></a>
<a id="tocSenumreasoncode"></a>
<a id="tocsenumreasoncode"></a>

```json
"CONSENT_EXPIRED"

```

Define o código da razão pela qual o consentimento foi rejeitado.
- CONSENT_EXPIRED – consentimento que ultrapassou o tempo limite para autorização.   
- CUSTOMER_MANUALLY_REJECTED – cliente efetuou a rejeição do consentimento manualmente através de interação nas instituições participantes.   
- CUSTOMER_MANUALLY_REVOKED – cliente efetuou a revogação após a autorização do consentimento.   
- CONSENT_MAX_DATE_REACHED – consentimento que ultrapassou o tempo limite de compartilhamento.   
- CONSENT_TECHNICAL_ISSUE – consentimento que foi rejeitado devido a um problema técnico que impossibilita seu uso pela instituição receptora, por exemplo: falha associada a troca do AuthCode pelo AccessToken, durante o processo de Hybid Flow.   
- INTERNAL_SECURITY_REASON – consentimento que foi rejeitado devido as políticas de segurança aplicada pela instituição transmissora.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Define o código da razão pela qual o consentimento foi rejeitado.<br>- CONSENT_EXPIRED – consentimento que ultrapassou o tempo limite para autorização.   <br>- CUSTOMER_MANUALLY_REJECTED – cliente efetuou a rejeição do consentimento manualmente através de interação nas instituições participantes.   <br>- CUSTOMER_MANUALLY_REVOKED – cliente efetuou a revogação após a autorização do consentimento.   <br>- CONSENT_MAX_DATE_REACHED – consentimento que ultrapassou o tempo limite de compartilhamento.   <br>- CONSENT_TECHNICAL_ISSUE – consentimento que foi rejeitado devido a um problema técnico que impossibilita seu uso pela instituição receptora, por exemplo: falha associada a troca do AuthCode pelo AccessToken, durante o processo de Hybid Flow.   <br>- INTERNAL_SECURITY_REASON – consentimento que foi rejeitado devido as políticas de segurança aplicada pela instituição transmissora.|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|CONSENT_EXPIRED|
|*anonymous*|CUSTOMER_MANUALLY_REJECTED|
|*anonymous*|CUSTOMER_MANUALLY_REVOKED|
|*anonymous*|CONSENT_MAX_DATE_REACHED|
|*anonymous*|CONSENT_TECHNICAL_ISSUE|
|*anonymous*|INTERNAL_SECURITY_REASON|

<h2 id="tocS_RejectedReason">RejectedReason</h2>
<!-- backwards compatibility -->
<a id="schemarejectedreason"></a>
<a id="schema_RejectedReason"></a>
<a id="tocSrejectedreason"></a>
<a id="tocsrejectedreason"></a>

```json
{
  "code": "CONSENT_EXPIRED",
  "additionalInformation": "Tempo de confirmação da múltipla alçada excedido."
}

```

Define a razão pela qual o consentimento foi rejeitado.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|[EnumReasonCode](#schemaenumreasoncode)|true|none|Define o código da razão pela qual o consentimento foi rejeitado.<br>- CONSENT_EXPIRED – consentimento que ultrapassou o tempo limite para autorização.   <br>- CUSTOMER_MANUALLY_REJECTED – cliente efetuou a rejeição do consentimento manualmente através de interação nas instituições participantes.   <br>- CUSTOMER_MANUALLY_REVOKED – cliente efetuou a revogação após a autorização do consentimento.   <br>- CONSENT_MAX_DATE_REACHED – consentimento que ultrapassou o tempo limite de compartilhamento.   <br>- CONSENT_TECHNICAL_ISSUE – consentimento que foi rejeitado devido a um problema técnico que impossibilita seu uso pela instituição receptora, por exemplo: falha associada a troca do AuthCode pelo AccessToken, durante o processo de Hybid Flow.   <br>- INTERNAL_SECURITY_REASON – consentimento que foi rejeitado devido as políticas de segurança aplicada pela instituição transmissora.|
|additionalInformation|string|false|none|Contém informações adicionais a critério da transmissora.|

<h2 id="tocS_ResponseErrorconsentsv2">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorconsentsv2"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-05-21T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), formato UTC.|
|meta|[Meta](#schemametaconsentsv2)|false|none|Meta informações referente à API requisitada.|

<h2 id="tocS_LoggedUserconsentsv2">LoggedUser</h2>
<!-- backwards compatibility -->
<a id="schemaloggeduserconsentsv2"></a>
<a id="schema_LoggedUser"></a>
<a id="tocSloggeduser"></a>
<a id="tocsloggeduser"></a>

```json
{
  "document": {
    "identification": "11111111111",
    "rel": "CPF"
  }
}

```

Usuário (pessoa natural) que encontra-se logado na instituição receptora e que iniciará o processo de consentimento para compartilhamento de dados.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|document|object|true|none|none|
|» identification|string|true|none|Número do documento de identificação oficial do usuário.|
|» rel|string|true|none|Tipo do documento de identificação oficial do usuário.|

<h2 id="tocS_BusinessEntityconsentsv2">BusinessEntity</h2>
<!-- backwards compatibility -->
<a id="schemabusinessentityconsentsv2"></a>
<a id="schema_BusinessEntity"></a>
<a id="tocSbusinessentity"></a>
<a id="tocsbusinessentity"></a>

```json
{
  "document": {
    "identification": "11111111111111",
    "rel": "CNPJ"
  }
}

```

Titular, pessoa jurídica a quem se referem os dados que são objeto de compartilhamento.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|document|object|true|none|none|
|» identification|string|true|none|Número do documento de identificação oficial do titular pessoa jurídica.|
|» rel|string|true|none|Tipo do documento de identificação oficial do titular pessoa jurídica.|

