<h2 id="tocS_ResponseInsuranceHousing">ResponseInsuranceHousing</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancehousing"></a>
<a id="schema_ResponseInsuranceHousing"></a>
<a id="tocSresponseinsurancehousing"></a>
<a id="tocsresponseinsurancehousing"></a>

```json
{
  "data": [
    {
      "brand": "string",
      "companies": [
        {
          "companyName": "string",
          "cnpjNumber": "12345678901234",
          "policies": [
            "42"
          ]
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|none|
|» brand|string|true|none|Nome da marca reportada pelo participante do Open Insurance|
|» companies|[object]|true|none|none|
|»» companyName|string|true|none|Nome da sociedade pertencente à marca|
|»» cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca|
|»» policies|[string]|true|none|none|
|links|[Links](#schemalinksinsurancehousing)|true|none|none|
|meta|[Meta](#schemametainsurancehousing)|true|none|none|

<h2 id="tocS_ResponseInsuranceHousingPolicyInfo">ResponseInsuranceHousingPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancehousingpolicyinfo"></a>
<a id="schema_ResponseInsuranceHousingPolicyInfo"></a>
<a id="tocSresponseinsurancehousingpolicyinfo"></a>
<a id="tocsresponseinsurancehousingpolicyinfo"></a>

```json
{
  "data": {
    "documentType": "APOLICE_INDIVIDUAL",
    "policyId": "111111",
    "susepProcessNumber": "string",
    "groupCertificateId": "string",
    "issuanceType": "EMISSAO_PROPRIA",
    "issuanceDate": "2022-12-31",
    "termStartDate": "2022-12-31",
    "termEndDate": "2022-12-31",
    "leadInsurerCode": "string",
    "leadInsurerPolicyId": "string",
    "maxLMG": {
      "amount": "2000.00",
      "currency": "BRL"
    },
    "proposalId": "string",
    "insureds": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "beneficiaries": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome"
      }
    ],
    "principals": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "intermediaries": [
      {
        "type": "REPRESENTANTE",
        "identification": "12345678900",
        "brokerId": "string",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "insuredObjects": [
      {
        "identification": "string",
        "type": "CONTRATO",
        "typeAdditionalInfo": "string",
        "description": "string",
        "amount": {
          "amount": "2000.00",
          "currency": "BRL"
        },
        "coverages": [
          {
            "branch": "0111",
            "code": "DANOS_ELETRICOS",
            "description": "string",
            "internalCode": "string",
            "susepProcessNumber": "string",
            "LMI": {
              "amount": "2000.00",
              "currency": "BRL"
            },
            "isLMISublimit": true,
            "termStartDate": "2022-12-31",
            "termEndDate": "2022-12-31",
            "isMainCoverage": true,
            "feature": "MASSIFICADOS",
            "type": "PARAMETRICO",
            "gracePeriod": 0,
            "gracePeriodicity": "DIA",
            "gracePeriodCountingMethod": "DIAS_UTEIS",
            "gracePeriodStartDate": "2022-12-31",
            "gracePeriodEndDate": "2022-12-31"
          }
        ]
      }
    ],
    "coverages": [
      {
        "branch": "0111",
        "code": "DANOS_ELETRICOS",
        "description": "string",
        "deductible": {
          "type": "DEDUTIVEL",
          "typeAdditionalInfo": "string",
          "amount": {
            "amount": "2000.00",
            "currency": "BRL"
          },
          "period": 10,
          "periodicity": "DIA",
          "periodCountingMethod": "DIAS_UTEIS",
          "periodStartDate": "2022-05-16",
          "periodEndDate": "2022-05-17",
          "description": "Franquia de exemplo"
        },
        "POS": {
          "applicationType": "VALOR",
          "description": "Descrição de exemplo",
          "minValue": {
            "amount": "2000.00",
            "currency": "BRL"
          },
          "maxValue": {
            "amount": "2000.00",
            "currency": "BRL"
          },
          "percentage": "10.00"
        }
      }
    ],
    "coinsuranceRetainedPercentage": "10.00",
    "coinsurers": [
      {
        "identification": "string",
        "cededPercentage": "10.00"
      }
    ],
    "branchInfo": {
      "insuredObjects": [
        {
          "identification": "string",
          "propertyType": "CASA",
          "propertyTypeAdditionalInfo": "string",
          "postCode": "10000000",
          "interestRate": "10.00",
          "costRate": "10.00",
          "updateIndex": "IPCA_IBGE",
          "updateIndexOthers": "Índice de atualização",
          "lenders": [
            {
              "companyName": "string",
              "cnpjNumber": "12345678901234"
            }
          ]
        }
      ],
      "insureds": [
        {
          "identification": "12345678900",
          "identificationType": "CPF",
          "birthDate": "2022-12-31"
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceHousingPolicyInfo](#schemainsurancehousingpolicyinfo)|true|none|none|
|links|[Links](#schemalinksinsurancehousing)|true|none|none|
|meta|[Meta](#schemametainsurancehousing)|true|none|none|

<h2 id="tocS_InsuranceHousingPolicyInfo">InsuranceHousingPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousingpolicyinfo"></a>
<a id="schema_InsuranceHousingPolicyInfo"></a>
<a id="tocSinsurancehousingpolicyinfo"></a>
<a id="tocsinsurancehousingpolicyinfo"></a>

```json
{
  "documentType": "APOLICE_INDIVIDUAL",
  "policyId": "111111",
  "susepProcessNumber": "string",
  "groupCertificateId": "string",
  "issuanceType": "EMISSAO_PROPRIA",
  "issuanceDate": "2022-12-31",
  "termStartDate": "2022-12-31",
  "termEndDate": "2022-12-31",
  "leadInsurerCode": "string",
  "leadInsurerPolicyId": "string",
  "maxLMG": {
    "amount": "2000.00",
    "currency": "BRL"
  },
  "proposalId": "string",
  "insureds": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "beneficiaries": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome"
    }
  ],
  "principals": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "intermediaries": [
    {
      "type": "REPRESENTANTE",
      "identification": "12345678900",
      "brokerId": "string",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "insuredObjects": [
    {
      "identification": "string",
      "type": "CONTRATO",
      "typeAdditionalInfo": "string",
      "description": "string",
      "amount": {
        "amount": "2000.00",
        "currency": "BRL"
      },
      "coverages": [
        {
          "branch": "0111",
          "code": "DANOS_ELETRICOS",
          "description": "string",
          "internalCode": "string",
          "susepProcessNumber": "string",
          "LMI": {
            "amount": "2000.00",
            "currency": "BRL"
          },
          "isLMISublimit": true,
          "termStartDate": "2022-12-31",
          "termEndDate": "2022-12-31",
          "isMainCoverage": true,
          "feature": "MASSIFICADOS",
          "type": "PARAMETRICO",
          "gracePeriod": 0,
          "gracePeriodicity": "DIA",
          "gracePeriodCountingMethod": "DIAS_UTEIS",
          "gracePeriodStartDate": "2022-12-31",
          "gracePeriodEndDate": "2022-12-31"
        }
      ]
    }
  ],
  "coverages": [
    {
      "branch": "0111",
      "code": "DANOS_ELETRICOS",
      "description": "string",
      "deductible": {
        "type": "DEDUTIVEL",
        "typeAdditionalInfo": "string",
        "amount": {
          "amount": "2000.00",
          "currency": "BRL"
        },
        "period": 10,
        "periodicity": "DIA",
        "periodCountingMethod": "DIAS_UTEIS",
        "periodStartDate": "2022-05-16",
        "periodEndDate": "2022-05-17",
        "description": "Franquia de exemplo"
      },
      "POS": {
        "applicationType": "VALOR",
        "description": "Descrição de exemplo",
        "minValue": {
          "amount": "2000.00",
          "currency": "BRL"
        },
        "maxValue": {
          "amount": "2000.00",
          "currency": "BRL"
        },
        "percentage": "10.00"
      }
    }
  ],
  "coinsuranceRetainedPercentage": "10.00",
  "coinsurers": [
    {
      "identification": "string",
      "cededPercentage": "10.00"
    }
  ],
  "branchInfo": {
    "insuredObjects": [
      {
        "identification": "string",
        "propertyType": "CASA",
        "propertyTypeAdditionalInfo": "string",
        "postCode": "10000000",
        "interestRate": "10.00",
        "costRate": "10.00",
        "updateIndex": "IPCA_IBGE",
        "updateIndexOthers": "Índice de atualização",
        "lenders": [
          {
            "companyName": "string",
            "cnpjNumber": "12345678901234"
          }
        ]
      }
    ],
    "insureds": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "birthDate": "2022-12-31"
      }
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|documentType|string|true|none|Tipo de Documento Emitido|
|policyId|string|true|none|Identificador da apólice ou bilhete|
|susepProcessNumber|string|false|none|Número SUSEP da apólice, conforme regulamentação vigente (Obrigatório caso apólice com coberturas do ramo Garantia)|
|groupCertificateId|string|false|none|Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)|
|issuanceType|string|true|none|Tipo de Emissão|
|issuanceDate|string(date)|true|none|Data de emissão do documento|
|termStartDate|string(date)|true|none|Data de início de vigência do documento|
|termEndDate|string(date)|true|none|Data de fim de vigência do documento|
|leadInsurerCode|string|false|none|Código da seguradora líder para contratos com arranjo de cosseguro|
|leadInsurerPolicyId|string|false|none|Identificador da apólice seguradora líder para apólice de cosseguro aceito|
|maxLMG|[AmountDetails](#schemacoinsurerinsurancehousing)|true|none|none|
|proposalId|string|true|none|Identificador da Proposta|
|insureds|[[PersonalInfo](#schemapersonalinfoinsurancehousing)]|true|none|none|
|beneficiaries|[[BeneficiaryInfo](#schemabeneficiaryinfoinsurancehousing)]|false|none|none|
|principals|[[PersonalInfo](#schemapersonalinfoinsurancehousing)]|false|none|none|
|intermediaries|[[Intermediary](#schemaintermediaryinsurancehousing)]|false|none|none|
|insuredObjects|[[InsuranceHousingInsuredObject](#schemainsurancehousinginsuredobject)]|true|none|none|
|coverages|[[InsuranceHousingCoverage](#schemainsurancehousingcoverage)]|false|none|none|
|coinsuranceRetainedPercentage|string|false|none|Percentual Retido em Cosseguro (Quando há cosseguro)|
|coinsurers|[[Coinsurer](#schemacoinsurerinsurancehousing)]|false|none|none|
|branchInfo|[InsuranceHousingSpecificPolicyInfo](#schemainsurancehousingspecificpolicyinfo)|true|none|Informações do Anexo Específico|

#### Enumerated Values

|Property|Value|
|---|---|
|documentType|APOLICE_INDIVIDUAL|
|documentType|BILHETE|
|documentType|CERTIFICADO|
|documentType|APOLICE_INDIVIDUAL_AUTOMOVEL|
|documentType|APOLICE_FROTA_AUTOMOVEL|
|documentType|CERTIFICADO_AUTOMOVEL|
|issuanceType|EMISSAO_PROPRIA|
|issuanceType|COSSEGURO_ACEITO|

<h2 id="tocS_PersonalInfoinsurancehousing">PersonalInfo</h2>
<!-- backwards compatibility -->
<a id="schemapersonalinfoinsurancehousing"></a>
<a id="schema_PersonalInfo"></a>
<a id="tocSpersonalinfo"></a>
<a id="tocspersonalinfo"></a>

```json
{
  "identification": "12345678900",
  "identificationType": "CPF",
  "name": "Nome Sobrenome",
  "postCode": "10000000",
  "email": "string",
  "city": "string",
  "state": "string",
  "country": "BRA",
  "address": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Documento de Identificação da Pessoa|
|identificationType|string|true|none|Tipo de Documento da Pessoa|
|name|string|true|none|Nome ou Razão Social da Pessoa|
|postCode|string|true|none|Código Postal da Pessoa|
|email|string|false|none|E-mail da Pessoa (caso possua)|
|city|string|true|none|Cidade da Pessoa (por extenso)|
|state|string|true|none|Estado da Pessoa (por extenso)|
|country|string|true|none|País da Pessoa (de acordo com o código "alpha3" do ISO-3166)|
|address|string|true|none|Endereço da Pessoa (restante do endereço, excluindo cidade, estado e país)|

#### Enumerated Values

|Property|Value|
|---|---|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_BeneficiaryInfoinsurancehousing">BeneficiaryInfo</h2>
<!-- backwards compatibility -->
<a id="schemabeneficiaryinfoinsurancehousing"></a>
<a id="schema_BeneficiaryInfo"></a>
<a id="tocSbeneficiaryinfo"></a>
<a id="tocsbeneficiaryinfo"></a>

```json
{
  "identification": "12345678900",
  "identificationType": "CPF",
  "name": "Nome Sobrenome"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Documento de Identificação da Pessoa|
|identificationType|string|true|none|Tipo de Documento da Pessoa|
|name|string|true|none|Nome ou Razão Social da Pessoa|

#### Enumerated Values

|Property|Value|
|---|---|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_Intermediaryinsurancehousing">Intermediary</h2>
<!-- backwards compatibility -->
<a id="schemaintermediaryinsurancehousing"></a>
<a id="schema_Intermediary"></a>
<a id="tocSintermediary"></a>
<a id="tocsintermediary"></a>

```json
{
  "type": "REPRESENTANTE",
  "identification": "12345678900",
  "brokerId": "string",
  "identificationType": "CPF",
  "name": "Nome Sobrenome",
  "postCode": "10000000",
  "city": "string",
  "state": "string",
  "country": "BRA",
  "address": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|Tipo do Intermediador|
|identification|string|false|none|Documento de Identificação da Intermediador|
|brokerId|string|false|none|Identificador do intermediador da apólice - código Susep do corretor(a) (Caso Tipo de Intermediador for CORRETOR)|
|identificationType|string|false|none|Tipo de Documento do Intermediador(a) (Caso Tipo de Intermediador não seja CORRETOR ou quando for CORRETOR, porém o identificador do intermediador não seja informado)|
|name|string|true|none|Nome ou Razão Social da Intermediador|
|postCode|string|false|none|Código Postal da Intermediador (Caso Tipo de Intermediador for ESTIPULANTE)|
|city|string|false|none|Cidade da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)|
|state|string|false|none|Estado da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)|
|country|string|false|none|País da Intermediador (de acordo com o código "alpha3" do ISO-3166; Caso Tipo de Intermediador for ESTIPULANTE)|
|address|string|false|none|Endereço da Intermediador (restante do do endereço, excluindo cidade, estado e país; Caso Tipo de Intermediador for ESTIPULANTE)|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CORRETOR|
|type|REPRESENTANTE|
|type|ESTIPULANTE_AVERBADOR_INSTITUIDOR|
|type|CORRESPONDENTE|
|type|AGENTE_DE_MICROSSEGUROS|
|type|OUTROS|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_InsuranceHousingInsuredObject">InsuranceHousingInsuredObject</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousinginsuredobject"></a>
<a id="schema_InsuranceHousingInsuredObject"></a>
<a id="tocSinsurancehousinginsuredobject"></a>
<a id="tocsinsurancehousinginsuredobject"></a>

```json
{
  "identification": "string",
  "type": "CONTRATO",
  "typeAdditionalInfo": "string",
  "description": "string",
  "amount": {
    "amount": "2000.00",
    "currency": "BRL"
  },
  "coverages": [
    {
      "branch": "0111",
      "code": "DANOS_ELETRICOS",
      "description": "string",
      "internalCode": "string",
      "susepProcessNumber": "string",
      "LMI": {
        "amount": "2000.00",
        "currency": "BRL"
      },
      "isLMISublimit": true,
      "termStartDate": "2022-12-31",
      "termEndDate": "2022-12-31",
      "isMainCoverage": true,
      "feature": "MASSIFICADOS",
      "type": "PARAMETRICO",
      "gracePeriod": 0,
      "gracePeriodicity": "DIA",
      "gracePeriodCountingMethod": "DIAS_UTEIS",
      "gracePeriodStartDate": "2022-12-31",
      "gracePeriodEndDate": "2022-12-31"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificador do objeto segurado. Obs.: Para Fiança Locatícia, é a identificação do Contrato de Locação.|
|type|string|true|none|Tipo do objeto segurado|
|typeAdditionalInfo|string|false|none|Descrição do tipo do objeto segurado(caso tipo de objeto segurado for outros).|
|description|string|true|none|Descrição do objeto segurado|
|amount|[AmountDetails](#schemacoinsurerinsurancehousing)|true|none|none|
|coverages|[[InsuranceHousingInsuredObjectCoverage](#schemainsurancehousinginsuredobjectcoverage)]|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CONTRATO|
|type|PROCESSO_ADMINISTRATIVO|
|type|PROCESSO_JUDICIAL|
|type|AUTOMOVEL|
|type|CONDUTOR|
|type|FROTA|
|type|PESSOA|
|type|OUTROS|

<h2 id="tocS_InsuranceHousingInsuredObjectCoverage">InsuranceHousingInsuredObjectCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousinginsuredobjectcoverage"></a>
<a id="schema_InsuranceHousingInsuredObjectCoverage"></a>
<a id="tocSinsurancehousinginsuredobjectcoverage"></a>
<a id="tocsinsurancehousinginsuredobjectcoverage"></a>

```json
{
  "branch": "0111",
  "code": "DANOS_ELETRICOS",
  "description": "string",
  "internalCode": "string",
  "susepProcessNumber": "string",
  "LMI": {
    "amount": "2000.00",
    "currency": "BRL"
  },
  "isLMISublimit": true,
  "termStartDate": "2022-12-31",
  "termEndDate": "2022-12-31",
  "isMainCoverage": true,
  "feature": "MASSIFICADOS",
  "type": "PARAMETRICO",
  "gracePeriod": 0,
  "gracePeriodicity": "DIA",
  "gracePeriodCountingMethod": "DIAS_UTEIS",
  "gracePeriodStartDate": "2022-12-31",
  "gracePeriodEndDate": "2022-12-31"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e Ramo da Cobertura (Conforme regulamentação Susep vigente)|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Obrigatório quando o campo 'Codigo' for preenchido com 'Outras')|
|internalCode|string|false|none|Código interno da cobertura da seguradora(obrigatório se houver)|
|susepProcessNumber|string|true|none|none|
|LMI|[AmountDetails](#schemacoinsurerinsurancehousing)|true|none|none|
|isLMISublimit|boolean|false|none|Limite máximo de indenização (LMI) é sublimite (Caso aplicável)|
|termStartDate|string(date)|true|none|Data de início de vigência da cobertura|
|termEndDate|string(date)|true|none|Data de fim de vigência da cobertura|
|isMainCoverage|boolean|false|none|Cobertura Principal|
|feature|string|true|none|Característica da cobertura|
|type|string|true|none|Tipo de cobertura|
|gracePeriod|integer|false|none|Período de carência. OBS: Obrigatório, se houver|
|gracePeriodicity|string|false|none|Periodicidade da carência. OBS: Obrigatório, se houver|
|gracePeriodCountingMethod|string|false|none|Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver|
|gracePeriodStartDate|string(date)|false|none|Data de início da carência. OBS: Obrigatório, se houver|
|gracePeriodEndDate|string(date)|false|none|Data de fim da carência. OBS: Obrigatório, se houver|

#### Enumerated Values

|Property|Value|
|---|---|
|code|DANOS_ELETRICOS|
|code|DANOS_FISICOS_AO_CONTEUDO|
|code|DANOS_FISICOS_AO_IMOVEL|
|code|MORTE_E_INVALIDEZ_TOTAL_E_PERMANENTE|
|code|PAGAMENTO_DE_ALUGUEL|
|code|RESPONSABILIDADE_CIVIL_DO_CONSTRUTOR|
|code|ROUBO_E_FURTO_AO_CONTEUDO|
|code|OUTRAS|
|feature|MASSIFICADOS|
|feature|MASSIFICADOS_MICROSEGUROS|
|feature|GRANDES_RISCOS|
|type|PARAMETRICO|
|type|INTERMITENTE|
|type|REGULAR_COMUM|
|type|CAPITAL_GLOBAL|
|type|PARAMETRICO_E_INTERMITENTE|
|gracePeriodicity|DIA|
|gracePeriodicity|MES|
|gracePeriodicity|ANO|
|gracePeriodCountingMethod|DIAS_UTEIS|
|gracePeriodCountingMethod|DIAS_CORRIDOS|

<h2 id="tocS_InsuranceHousingCoverage">InsuranceHousingCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousingcoverage"></a>
<a id="schema_InsuranceHousingCoverage"></a>
<a id="tocSinsurancehousingcoverage"></a>
<a id="tocsinsurancehousingcoverage"></a>

```json
{
  "branch": "0111",
  "code": "DANOS_ELETRICOS",
  "description": "string",
  "deductible": {
    "type": "DEDUTIVEL",
    "typeAdditionalInfo": "string",
    "amount": {
      "amount": "2000.00",
      "currency": "BRL"
    },
    "period": 10,
    "periodicity": "DIA",
    "periodCountingMethod": "DIAS_UTEIS",
    "periodStartDate": "2022-05-16",
    "periodEndDate": "2022-05-17",
    "description": "Franquia de exemplo"
  },
  "POS": {
    "applicationType": "VALOR",
    "description": "Descrição de exemplo",
    "minValue": {
      "amount": "2000.00",
      "currency": "BRL"
    },
    "maxValue": {
      "amount": "2000.00",
      "currency": "BRL"
    },
    "percentage": "10.00"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|deductible|[Deductible](#schemainsurancehousingcoverageinsurancehousing)|false|none|Informações de franquia|
|POS|[POS](#schemaposinsurancehousing)|false|none|Informações de franquia|

#### Enumerated Values

|Property|Value|
|---|---|
|code|DANOS_ELETRICOS|
|code|DANOS_FISICOS_AO_CONTEUDO|
|code|DANOS_FISICOS_AO_IMOVEL|
|code|MORTE_E_INVALIDEZ_TOTAL_E_PERMANENTE|
|code|PAGAMENTO_DE_ALUGUEL|
|code|RESPONSABILIDADE_CIVIL_DO_CONSTRUTOR|
|code|ROUBO_E_FURTO_AO_CONTEUDO|
|code|OUTRAS|

<h2 id="tocS_Deductibleinsurancehousing">Deductible</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousingcoverageinsurancehousing"></a>
<a id="schema_Deductible"></a>
<a id="tocSdeductible"></a>
<a id="tocsdeductible"></a>

```json
{
  "type": "DEDUTIVEL",
  "typeAdditionalInfo": "string",
  "amount": {
    "amount": "2000.00",
    "currency": "BRL"
  },
  "period": 10,
  "periodicity": "DIA",
  "periodCountingMethod": "DIAS_UTEIS",
  "periodStartDate": "2022-05-16",
  "periodEndDate": "2022-05-17",
  "description": "Franquia de exemplo"
}

```

Informações de franquia

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo de Franquia|
|typeAdditionalInfo|string|false|none|Descriçao do Tipo de Franquia (Caso Tipo de Franquia for "OUTROS")|
|amount|[AmountDetails](#schemacoinsurerinsurancehousing)|true|none|none|
|period|integer|true|none|Prazo da Franquia|
|periodicity|string|true|none|Periodicidade da Franquia|
|periodCountingMethod|string|false|none|Indicador de Dias Úteis ou Corridos (Caso aplicável)|
|periodStartDate|string(date)|true|none|Data de Início da Franquia|
|periodEndDate|string(date)|true|none|Data de Fim da Franquia|
|description|string|true|none|Descrição da Franquia|

#### Enumerated Values

|Property|Value|
|---|---|
|type|REDUZIDA|
|type|NORMAL|
|type|MAJORADA|
|type|DEDUTIVEL|
|type|OUTROS|
|periodicity|DIA|
|periodicity|MES|
|periodicity|ANO|
|periodCountingMethod|DIAS_UTEIS|
|periodCountingMethod|DIAS_CORRIDOS|

<h2 id="tocS_POSinsurancehousing">POS</h2>
<!-- backwards compatibility -->
<a id="schemaposinsurancehousing"></a>
<a id="schema_POS"></a>
<a id="tocSpos"></a>
<a id="tocspos"></a>

```json
{
  "applicationType": "VALOR",
  "description": "Descrição de exemplo",
  "minValue": {
    "amount": "2000.00",
    "currency": "BRL"
  },
  "maxValue": {
    "amount": "2000.00",
    "currency": "BRL"
  },
  "percentage": "10.00"
}

```

Informações de franquia

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|applicationType|string|true|none|Forma de Aplicação do POS|
|description|string|true|none|Descrição do POS|
|minValue|[AmountDetails](#schemacoinsurerinsurancehousing)|false|none|none|
|maxValue|[AmountDetails](#schemacoinsurerinsurancehousing)|false|none|none|
|percentage|string|false|none|Percentual do POS|

#### Enumerated Values

|Property|Value|
|---|---|
|applicationType|VALOR|
|applicationType|PERCENTUAL|
|applicationType|OUTROS|

<h2 id="tocS_Coinsurerinsurancehousing">Coinsurer</h2>
<!-- backwards compatibility -->
<a id="schemacoinsurerinsurancehousing"></a>
<a id="schema_Coinsurer"></a>
<a id="tocScoinsurer"></a>
<a id="tocscoinsurer"></a>

```json
{
  "identification": "string",
  "cededPercentage": "10.00"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificação da congênere, cessionário do cosseguro. Obs: Obrigatório quando há cosseguro|
|cededPercentage|string|true|none|Percentual cedido para a congênere para contratos de cosseguro cedido. Obs: Obrigatório quando há cosseguro|

<h2 id="tocS_ResponseInsuranceHousingPremium">ResponseInsuranceHousingPremium</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancehousingpremium"></a>
<a id="schema_ResponseInsuranceHousingPremium"></a>
<a id="tocSresponseinsurancehousingpremium"></a>
<a id="tocsresponseinsurancehousingpremium"></a>

```json
{
  "data": {
    "paymentsQuantity": 4,
    "amount": {
      "amount": "2000.00",
      "currency": "BRL"
    },
    "coverages": [
      {
        "branch": "0111",
        "code": "DANOS_ELETRICOS",
        "description": "string",
        "premiumAmount": {
          "amount": "2000.00",
          "currency": "BRL"
        }
      }
    ],
    "payments": [
      {
        "movementDate": "2022-12-31",
        "movementType": "LIQUIDACAO_DE_PREMIO",
        "movementOrigin": "EMISSAO_DIRETA",
        "movementPaymentsNumber": 0,
        "amount": {
          "amount": "2000.00",
          "currency": "BRL"
        },
        "maturityDate": "2022-12-31",
        "tellerId": "string",
        "tellerIdType": "CPF",
        "tellerName": "string",
        "financialInstitutionCode": "string",
        "paymentType": "BOLETO"
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceHousingPremium](#schemainsurancehousingpremium)|true|none|none|
|links|[Links](#schemalinksinsurancehousing)|true|none|none|
|meta|[Meta](#schemametainsurancehousing)|true|none|none|

<h2 id="tocS_InsuranceHousingPremium">InsuranceHousingPremium</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousingpremium"></a>
<a id="schema_InsuranceHousingPremium"></a>
<a id="tocSinsurancehousingpremium"></a>
<a id="tocsinsurancehousingpremium"></a>

```json
{
  "paymentsQuantity": 4,
  "amount": {
    "amount": "2000.00",
    "currency": "BRL"
  },
  "coverages": [
    {
      "branch": "0111",
      "code": "DANOS_ELETRICOS",
      "description": "string",
      "premiumAmount": {
        "amount": "2000.00",
        "currency": "BRL"
      }
    }
  ],
  "payments": [
    {
      "movementDate": "2022-12-31",
      "movementType": "LIQUIDACAO_DE_PREMIO",
      "movementOrigin": "EMISSAO_DIRETA",
      "movementPaymentsNumber": 0,
      "amount": {
        "amount": "2000.00",
        "currency": "BRL"
      },
      "maturityDate": "2022-12-31",
      "tellerId": "string",
      "tellerIdType": "CPF",
      "tellerName": "string",
      "financialInstitutionCode": "string",
      "paymentType": "BOLETO"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentsQuantity|number|true|none|Quantidade de parcelas do prêmio do contrato|
|amount|[AmountDetails](#schemacoinsurerinsurancehousing)|true|none|none|
|coverages|[[InsuranceHousingPremiumCoverage](#schemainsurancehousingpremiumcoverage)]|true|none|none|
|payments|[[Payment](#schemacoinsurerinsurancehousing)]|true|none|none|

<h2 id="tocS_InsuranceHousingPremiumCoverage">InsuranceHousingPremiumCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousingpremiumcoverage"></a>
<a id="schema_InsuranceHousingPremiumCoverage"></a>
<a id="tocSinsurancehousingpremiumcoverage"></a>
<a id="tocsinsurancehousingpremiumcoverage"></a>

```json
{
  "branch": "0111",
  "code": "DANOS_ELETRICOS",
  "description": "string",
  "premiumAmount": {
    "amount": "2000.00",
    "currency": "BRL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|premiumAmount|[AmountDetails](#schemacoinsurerinsurancehousing)|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|code|DANOS_ELETRICOS|
|code|DANOS_FISICOS_AO_CONTEUDO|
|code|DANOS_FISICOS_AO_IMOVEL|
|code|MORTE_E_INVALIDEZ_TOTAL_E_PERMANENTE|
|code|PAGAMENTO_DE_ALUGUEL|
|code|RESPONSABILIDADE_CIVIL_DO_CONSTRUTOR|
|code|ROUBO_E_FURTO_AO_CONTEUDO|
|code|OUTRAS|

<h2 id="tocS_Paymentinsurancehousing">Payment</h2>
<!-- backwards compatibility -->
<a id="schemacoinsurerinsurancehousing"></a>
<a id="schema_Payment"></a>
<a id="tocSpayment"></a>
<a id="tocspayment"></a>

```json
{
  "movementDate": "2022-12-31",
  "movementType": "LIQUIDACAO_DE_PREMIO",
  "movementOrigin": "EMISSAO_DIRETA",
  "movementPaymentsNumber": 0,
  "amount": {
    "amount": "2000.00",
    "currency": "BRL"
  },
  "maturityDate": "2022-12-31",
  "tellerId": "string",
  "tellerIdType": "CPF",
  "tellerName": "string",
  "financialInstitutionCode": "string",
  "paymentType": "BOLETO"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|movementDate|string(date)|true|none|Data do movimento de prêmio|
|movementType|string|true|none|Tipo do Movimento|
|movementOrigin|string|false|none|Origem do Movimento. Obs: Obrigatório caso Tipo de Movimento for LIQUIDACAO_DE_PREMIO e ESTORNO_DE_PREMIO|
|movementPaymentsNumber|number|true|none|Identificador da parcela do movimento|
|amount|[AmountDetails](#schemacoinsurerinsurancehousing)|true|none|none|
|maturityDate|string(date)|true|none|Data de Vencimento da Parcela|
|tellerId|string|false|none|Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|tellerIdType|string|false|none|Tipo do Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|tellerName|string|false|none|Nome ou Razão Social do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|financialInstitutionCode|string|false|none|Código da Instituição Financeiro do Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|paymentType|string|false|none|Meio de Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|

#### Enumerated Values

|Property|Value|
|---|---|
|movementType|LIQUIDACAO_DE_PREMIO|
|movementType|LIQUIDACAO_DE_RESTITUICAO_DE_PREMIO|
|movementType|ESTORNO_DE_PREMIO|
|movementType|ESTORNO_DE_RESTITUICAO_DE_PREMIO|
|movementType|EMISSAO_DE_PREMIO|
|movementType|CANCELAMENTO_DE_PARCELA|
|movementType|EMISSAO_DE_RESTITUICAO_DE_PREMIO|
|movementType|REABERTURA_DE_PARCELA|
|movementType|BAIXA_POR_PERDA|
|movementType|CANCELAMENTO_DE_PREMIO_E_PARCELA|
|movementOrigin|EMISSAO_DIRETA|
|movementOrigin|EMISSAO_ACEITA_DE_COSSEGURO|
|movementOrigin|EMISSAO_CEDIDA_DE_COSSEGURO|
|tellerIdType|CPF|
|tellerIdType|CNPJ|
|tellerIdType|OUTROS|
|paymentType|BOLETO|
|paymentType|TED|
|paymentType|TEF|
|paymentType|CARTAO|
|paymentType|DOC|
|paymentType|CHEQUE|
|paymentType|DESCONTO_EM_FOLHA|
|paymentType|PIX|
|paymentType|DINHEIRO_EM_ESPECIE|
|paymentType|OUTROS|

<h2 id="tocS_ResponseInsuranceHousingClaims">ResponseInsuranceHousingClaims</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancehousingclaims"></a>
<a id="schema_ResponseInsuranceHousingClaims"></a>
<a id="tocSresponseinsurancehousingclaims"></a>
<a id="tocsresponseinsurancehousingclaims"></a>

```json
{
  "data": [
    {
      "identification": "string",
      "documentationDeliveryDate": "2022-12-31",
      "status": "ABERTO",
      "statusAlterationDate": "2022-12-31",
      "occurrenceDate": "2022-12-31",
      "warningDate": "2022-12-31",
      "thirdPartyClaimDate": "2022-12-31",
      "amount": {
        "amount": "2000.00",
        "currency": "BRL"
      },
      "denialJustification": "RISCO_EXCLUIDO",
      "denialJustificationDescription": "string",
      "coverages": [
        {
          "insuredObjectId": "string",
          "branch": "0111",
          "code": "DANOS_ELETRICOS",
          "description": "string",
          "warningDate": "2022-12-31",
          "thirdPartyClaimDate": "2022-12-31"
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InsuranceHousingClaim](#schemainsurancehousingclaim)]|true|none|none|
|links|[Links](#schemalinksinsurancehousing)|true|none|none|
|meta|[Meta](#schemametainsurancehousing)|true|none|none|

<h2 id="tocS_InsuranceHousingClaim">InsuranceHousingClaim</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousingclaim"></a>
<a id="schema_InsuranceHousingClaim"></a>
<a id="tocSinsurancehousingclaim"></a>
<a id="tocsinsurancehousingclaim"></a>

```json
{
  "identification": "string",
  "documentationDeliveryDate": "2022-12-31",
  "status": "ABERTO",
  "statusAlterationDate": "2022-12-31",
  "occurrenceDate": "2022-12-31",
  "warningDate": "2022-12-31",
  "thirdPartyClaimDate": "2022-12-31",
  "amount": {
    "amount": "2000.00",
    "currency": "BRL"
  },
  "denialJustification": "RISCO_EXCLUIDO",
  "denialJustificationDescription": "string",
  "coverages": [
    {
      "insuredObjectId": "string",
      "branch": "0111",
      "code": "DANOS_ELETRICOS",
      "description": "string",
      "warningDate": "2022-12-31",
      "thirdPartyClaimDate": "2022-12-31"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificador do processo de sinistro|
|documentationDeliveryDate|string(date)|true|none|Data de entrega da documentação completa|
|status|string|true|none|Status do sinistro|
|statusAlterationDate|string(date)|true|none|Data de alteração do status do sinistro|
|occurrenceDate|string(date)|true|none|Data de ocorrência do sinistro|
|warningDate|string(date)|true|none|Data de aviso do sinistro|
|thirdPartyClaimDate|string(date)|false|none|Data de reclamação do terceiro|
|amount|[AmountDetails](#schemacoinsurerinsurancehousing)|true|none|none|
|denialJustification|string|false|none|Justificativa da Negativa(Caso Status do Sinistro for 'ENCERRADO_SEM_INDENIZACAO')|
|denialJustificationDescription|string|false|none|Descrição da Justificativa da Negativa(Caso Justificativa da Negativa for 'OUTROS')|
|coverages|[[InsuranceHousingClaimCoverage](#schemainsurancehousingclaimcoverage)]|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|status|ABERTO|
|status|ENCERRADO_COM_INDENIZACAO|
|status|ENCERRADO_SEM_INDENIZACAO|
|status|REABERTO|
|status|CANCELADO_POR_ERRO_OPERACIONAL|
|status|AVALIACAO_INICIAL|
|denialJustification|RISCO_EXCLUIDO|
|denialJustification|RISCO_AGRAVADO|
|denialJustification|SEM_DOCUMENTACAO|
|denialJustification|DOCUMENTACAO_INCOMPLETA|
|denialJustification|PRESCRICAO|
|denialJustification|FORA_COBERTURA|
|denialJustification|OUTROS|

<h2 id="tocS_InsuranceHousingClaimCoverage">InsuranceHousingClaimCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousingclaimcoverage"></a>
<a id="schema_InsuranceHousingClaimCoverage"></a>
<a id="tocSinsurancehousingclaimcoverage"></a>
<a id="tocsinsurancehousingclaimcoverage"></a>

```json
{
  "insuredObjectId": "string",
  "branch": "0111",
  "code": "DANOS_ELETRICOS",
  "description": "string",
  "warningDate": "2022-12-31",
  "thirdPartyClaimDate": "2022-12-31"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|insuredObjectId|string|false|none|Identificador do Objeto Segurado (Caso aplicável)|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|warningDate|string(date)|false|none|Data de Aviso do Sinistro por Cobertura (Caso aplicável)|
|thirdPartyClaimDate|string(date)|false|none|Data de Reclamação do Terceiro por Cobertura (Caso aplicável)|

#### Enumerated Values

|Property|Value|
|---|---|
|code|DANOS_ELETRICOS|
|code|DANOS_FISICOS_AO_CONTEUDO|
|code|DANOS_FISICOS_AO_IMOVEL|
|code|MORTE_E_INVALIDEZ_TOTAL_E_PERMANENTE|
|code|PAGAMENTO_DE_ALUGUEL|
|code|RESPONSABILIDADE_CIVIL_DO_CONSTRUTOR|
|code|ROUBO_E_FURTO_AO_CONTEUDO|
|code|OUTRAS|

<h2 id="tocS_AmountDetailsinsurancehousing">AmountDetails</h2>
<!-- backwards compatibility -->
<a id="schemacoinsurerinsurancehousing"></a>
<a id="schema_AmountDetails"></a>
<a id="tocSamountdetails"></a>
<a id="tocsamountdetails"></a>

```json
{
  "amount": "2000.00",
  "currency": "BRL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|string|true|none|none|
|currency|string|true|none|Moeda da Parcela, de acordo com ISO-4217.|

<h2 id="tocS_InsuranceHousingSpecificPolicyInfo">InsuranceHousingSpecificPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousingspecificpolicyinfo"></a>
<a id="schema_InsuranceHousingSpecificPolicyInfo"></a>
<a id="tocSinsurancehousingspecificpolicyinfo"></a>
<a id="tocsinsurancehousingspecificpolicyinfo"></a>

```json
{
  "insuredObjects": [
    {
      "identification": "string",
      "propertyType": "CASA",
      "propertyTypeAdditionalInfo": "string",
      "postCode": "10000000",
      "interestRate": "10.00",
      "costRate": "10.00",
      "updateIndex": "IPCA_IBGE",
      "updateIndexOthers": "Índice de atualização",
      "lenders": [
        {
          "companyName": "string",
          "cnpjNumber": "12345678901234"
        }
      ]
    }
  ],
  "insureds": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "birthDate": "2022-12-31"
    }
  ]
}

```

Informações do Anexo Específico

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|insuredObjects|[[InsuranceHousingSpecificInsuredObject](#schemainsurancehousingspecificinsuredobject)]|true|none|none|
|insureds|[[InsuranceHousingSpecificInsured](#schemainsurancehousingspecificinsured)]|false|none|none|

<h2 id="tocS_InsuranceHousingSpecificInsuredObject">InsuranceHousingSpecificInsuredObject</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousingspecificinsuredobject"></a>
<a id="schema_InsuranceHousingSpecificInsuredObject"></a>
<a id="tocSinsurancehousingspecificinsuredobject"></a>
<a id="tocsinsurancehousingspecificinsuredobject"></a>

```json
{
  "identification": "string",
  "propertyType": "CASA",
  "propertyTypeAdditionalInfo": "string",
  "postCode": "10000000",
  "interestRate": "10.00",
  "costRate": "10.00",
  "updateIndex": "IPCA_IBGE",
  "updateIndexOthers": "Índice de atualização",
  "lenders": [
    {
      "companyName": "string",
      "cnpjNumber": "12345678901234"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificador do objeto segurado|
|propertyType|string|true|none|Tipo do imóvel|
|propertyTypeAdditionalInfo|string|false|none|Descrição do tipo do imóvel (Campo para em caso de Tipo do imóvel OUTROS)|
|postCode|string|true|none|CEP do imóvel|
|interestRate|string|true|none|Taxa de juros anual|
|costRate|string|true|none|Taxa do custo efetivo do seguro habitacional|
|updateIndex|string|true|none|Índice de Atualização do Financiamento|
|updateIndexOthers|string|false|none|Descrição do Índice de Atualização do Financiamento (Caso Índice de Atualização do Financiamento for outros)|
|lenders|[object]|true|none|Identificação dos financiadores|
|» companyName|string|true|none|Razão Social do financiador|
|» cnpjNumber|string|true|none|CNPJ do financiador|

#### Enumerated Values

|Property|Value|
|---|---|
|propertyType|CASA|
|propertyType|APARTAMENTO|
|propertyType|COMERCIAL|
|propertyType|OUTROS|
|updateIndex|IPCA_IBGE|
|updateIndex|IGPM_FGV|
|updateIndex|IGPDI_FGV|
|updateIndex|IPC_FGV|
|updateIndex|IPC_FIPE|
|updateIndex|INPC_IBGE|
|updateIndex|INCC_FGV|
|updateIndex|TR_BC|
|updateIndex|OUTROS|

<h2 id="tocS_InsuranceHousingSpecificInsured">InsuranceHousingSpecificInsured</h2>
<!-- backwards compatibility -->
<a id="schemainsurancehousingspecificinsured"></a>
<a id="schema_InsuranceHousingSpecificInsured"></a>
<a id="tocSinsurancehousingspecificinsured"></a>
<a id="tocsinsurancehousingspecificinsured"></a>

```json
{
  "identification": "12345678900",
  "identificationType": "CPF",
  "birthDate": "2022-12-31"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Documento de Identificação da Pessoa|
|identificationType|string|true|none|Tipo de Documento da Pessoa|
|birthDate|string(date)|false|none|Data de nascimento do segurado (caso cobertura do ramo habitacional e Pessoa Física com "Tipo documento CPF ou Outros")|

#### Enumerated Values

|Property|Value|
|---|---|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_Linksinsurancehousing">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksinsurancehousing"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
  "first": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
  "prev": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
  "next": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing",
  "last": "https://api.organizacao.com.br/open-insurance/insurance-housing/v1/insurance-housing"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Metainsurancehousing">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametainsurancehousing"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorinsurancehousing">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorinsurancehousing"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametainsurancehousing)|false|none|none|

<h2 id="tocS_XFapiInteractionIdinsurancehousing">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionidinsurancehousing"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

