<h2 id="tocS_ResponseInsurancePerson">ResponseInsurancePerson</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsuranceperson"></a>
<a id="schema_ResponseInsurancePerson"></a>
<a id="tocSresponseinsuranceperson"></a>
<a id="tocsresponseinsuranceperson"></a>

```json
{
  "data": {
    "brand": {
      "name": "EMPRESA A SEGUROS",
      "companies": [
        {
          "companyName": "string",
          "cnpjNumber": "12345678901234",
          "policies": [
            {
              "productName": "Produto A Pessoas",
              "policyId": "111111"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|object|true|none|Marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|»» name|string|true|none|Nome da Marca|
|»» companies|[object]|true|none|none|
|»»» companyName|string|true|none|Nome da sociedade pertencente à marca|
|»»» cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca|
|»»» policies|[object]|true|none|none|
|»»»» productName|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade|
|»»»» policyId|string|true|none|Identificador da apólice ou bilhete|
|links|[Links](#schemalinksinsuranceperson)|true|none|none|
|meta|[Meta](#schemametainsuranceperson)|true|none|none|

<h2 id="tocS_ResponseInsurancePersonPolicyInfo">ResponseInsurancePersonPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepersonpolicyinfo"></a>
<a id="schema_ResponseInsurancePersonPolicyInfo"></a>
<a id="tocSresponseinsurancepersonpolicyinfo"></a>
<a id="tocsresponseinsurancepersonpolicyinfo"></a>

```json
{
  "data": {
    "contractingType": "COLETIVO",
    "policyId": "111111",
    "certificateId": "67",
    "termStartDate": "2022-12-31",
    "termEndDate": "2022-12-31",
    "withdrawals": [
      {
        "occurrenceWithdrawal": true,
        "type": "PARCIAL",
        "requestDate": "2020-12-31",
        "amount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "movementDate": "2020-12-31",
        "chargingValue": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "withdrawalCause": "RESGATE_REGULAR",
        "FIE": [
          {
            "FIECNPJ": "12345678901234",
            "FIEName": "RAZÃO SOCIAL",
            "FIETradeName": "NOME FANTASIA"
          }
        ]
      }
    ],
    "portabilities": [
      {
        "occurrencePortability": true,
        "direction": "ENTRADA",
        "type": "PARCIAL",
        "amount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "requestDate": "2020-12-31",
        "movementDate": "2020-12-31",
        "chargingValue": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "sourceEntityCode": "ABC123",
        "targetEntityCode": "ABC123",
        "sourceEntitySusepProcessNumber": "ABC123",
        "taxRegime": "PROGRESSIVO",
        "FIE": [
          {
            "FIECNPJ": "12345678901234",
            "FIEName": "RAZÃO SOCIAL",
            "FIETradeName": "NOME FANTASIA",
            "portedType": "ORIGEM"
          }
        ]
      }
    ],
    "proposalId": "ABC123",
    "insureds": [
      {
        "identificationType": "CPF",
        "identificationTypeOthers": "OUTROS",
        "identification": "12345678900",
        "name": "Nome Sobrenome",
        "birthDate": "2022-12-31",
        "gender": "MASCULINO",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string",
        "addressAdditionalInfo": "Fundos"
      }
    ],
    "beneficiaries": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "identificationTypeOthers": "OUTROS",
        "name": "Nome Sobrenome",
        "participationPercentage": "10.00"
      }
    ],
    "intermediaries": [
      {
        "type": "REPRESENTANTE",
        "typeOthers": "OUTROS",
        "identification": "12345678900",
        "brokerId": "string",
        "identificationType": "CPF",
        "identificationTypeOthers": "OUTROS",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "coverages": [
      {
        "branch": "0111",
        "planType": "AVERBADO",
        "coverageCode": "1999",
        "internalCode": "string",
        "susepProcessNumber": "string",
        "feesTax": "FORMATO NÃO DEFINIDO",
        "paymentPeriod": "MENSAL",
        "grace": [
          {
            "type": "RESGATE",
            "gracePeriod": 0,
            "gracePeriodicity": "DIA",
            "gracePeriodCountingMethod": "DIAS_UTEIS",
            "gracePeriodStartDate": "2022-12-31",
            "gracePeriodEndDate": "2022-12-31",
            "period": 0,
            "periodType": "DIA"
          }
        ],
        "pmbacInterestRate": "10.00",
        "pmbacMonetaryUpdateIndex": "IGPM-FGV",
        "pmbacMonetaryUpdateIndexOthers": "OUTROS",
        "pmbacIndexLag": 5,
        "incomeInterestRate": "10.00",
        "pricingForm": "POR_IDADE",
        "pricingFormOthers": "OUTROS",
        "triggerEvent": "INVALIDEZ",
        "triggerEventOthers": "OUTROS",
        "financialtype": "REPARTICAO_SIMPLES",
        "coverageUpdateIndex": "IGPM-FGV",
        "coverageUpdateIndexOthers": "OUTROS",
        "periodicityValue": 5,
        "periodicity": "DIA",
        "IndexLag": 5,
        "chargedAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "insuredDependentsInclusionClause": "NAO_HA",
        "tripScope": "NACIONAL",
        "insuredCapitalType": "FIXO",
        "moneylenderType": "BASICO",
        "creditor": {
          "identification": "12345678901",
          "identificationType": "CPF",
          "name": "string"
        },
        "obligations": [
          {
            "type": "EMPRESTIMO",
            "typeOthers": "string"
          }
        ],
        "personIdentification": {
          "identification": "12345678900",
          "identificationType": "CPF",
          "name": "Nome Sobrenome"
        },
        "insuredCapitalPercentage": "20.00",
        "dependents": [
          {
            "identification": "12345678901234",
            "identificationType": "CPF",
            "name": "Nome Sobrenome",
            "kinshipDegree": "CONJUGE"
          }
        ],
        "educationalInstitution": {
          "identification": "12345678901",
          "identificationType": "CPF",
          "name": "Nome Sobrenome"
        },
        "benefitAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "plan": "PGBL",
        "planOthers": "OUTROS",
        "planBlock": false,
        "structureModality": "BENEFICIO_DEFINIDO",
        "qualifiedProposer": "SIM",
        "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
        "benefitPaymentModality": "RENDA",
        "financialResultReversal": "SIM",
        "financialResultReversalPercentage": "10.00",
        "minimumWarrantyIndex": "IGP-DI-FGV",
        "minimumWarrantyPercentage": "10.00",
        "taxRegime": "PROGRESSIVO",
        "calculationBasis": "MENSAL"
      }
    ],
    "conjugatedPlan": true,
    "PMBaC": {
      "pmbacAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "provisionSurplusAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "FIE": [
        {
          "FIECNPJ": "12345678901234",
          "FIEName": "RAZÃO SOCIAL",
          "FIETradeName": "NOME FANTASIA"
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsurancePersonPolicyInfo](#schemainsurancepersonpolicyinfo)|true|none|none|
|links|[Links](#schemalinksinsuranceperson)|true|none|none|
|meta|[Meta](#schemametainsuranceperson)|true|none|none|

<h2 id="tocS_InsurancePersonPolicyInfo">InsurancePersonPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepersonpolicyinfo"></a>
<a id="schema_InsurancePersonPolicyInfo"></a>
<a id="tocSinsurancepersonpolicyinfo"></a>
<a id="tocsinsurancepersonpolicyinfo"></a>

```json
{
  "contractingType": "COLETIVO",
  "policyId": "111111",
  "certificateId": "67",
  "termStartDate": "2022-12-31",
  "termEndDate": "2022-12-31",
  "withdrawals": [
    {
      "occurrenceWithdrawal": true,
      "type": "PARCIAL",
      "requestDate": "2020-12-31",
      "amount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "movementDate": "2020-12-31",
      "chargingValue": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "withdrawalCause": "RESGATE_REGULAR",
      "FIE": [
        {
          "FIECNPJ": "12345678901234",
          "FIEName": "RAZÃO SOCIAL",
          "FIETradeName": "NOME FANTASIA"
        }
      ]
    }
  ],
  "portabilities": [
    {
      "occurrencePortability": true,
      "direction": "ENTRADA",
      "type": "PARCIAL",
      "amount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "requestDate": "2020-12-31",
      "movementDate": "2020-12-31",
      "chargingValue": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "sourceEntityCode": "ABC123",
      "targetEntityCode": "ABC123",
      "sourceEntitySusepProcessNumber": "ABC123",
      "taxRegime": "PROGRESSIVO",
      "FIE": [
        {
          "FIECNPJ": "12345678901234",
          "FIEName": "RAZÃO SOCIAL",
          "FIETradeName": "NOME FANTASIA",
          "portedType": "ORIGEM"
        }
      ]
    }
  ],
  "proposalId": "ABC123",
  "insureds": [
    {
      "identificationType": "CPF",
      "identificationTypeOthers": "OUTROS",
      "identification": "12345678900",
      "name": "Nome Sobrenome",
      "birthDate": "2022-12-31",
      "gender": "MASCULINO",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string",
      "addressAdditionalInfo": "Fundos"
    }
  ],
  "beneficiaries": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "identificationTypeOthers": "OUTROS",
      "name": "Nome Sobrenome",
      "participationPercentage": "10.00"
    }
  ],
  "intermediaries": [
    {
      "type": "REPRESENTANTE",
      "typeOthers": "OUTROS",
      "identification": "12345678900",
      "brokerId": "string",
      "identificationType": "CPF",
      "identificationTypeOthers": "OUTROS",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "coverages": [
    {
      "branch": "0111",
      "planType": "AVERBADO",
      "coverageCode": "1999",
      "internalCode": "string",
      "susepProcessNumber": "string",
      "feesTax": "FORMATO NÃO DEFINIDO",
      "paymentPeriod": "MENSAL",
      "grace": [
        {
          "type": "RESGATE",
          "gracePeriod": 0,
          "gracePeriodicity": "DIA",
          "gracePeriodCountingMethod": "DIAS_UTEIS",
          "gracePeriodStartDate": "2022-12-31",
          "gracePeriodEndDate": "2022-12-31",
          "period": 0,
          "periodType": "DIA"
        }
      ],
      "pmbacInterestRate": "10.00",
      "pmbacMonetaryUpdateIndex": "IGPM-FGV",
      "pmbacMonetaryUpdateIndexOthers": "OUTROS",
      "pmbacIndexLag": 5,
      "incomeInterestRate": "10.00",
      "pricingForm": "POR_IDADE",
      "pricingFormOthers": "OUTROS",
      "triggerEvent": "INVALIDEZ",
      "triggerEventOthers": "OUTROS",
      "financialtype": "REPARTICAO_SIMPLES",
      "coverageUpdateIndex": "IGPM-FGV",
      "coverageUpdateIndexOthers": "OUTROS",
      "periodicityValue": 5,
      "periodicity": "DIA",
      "IndexLag": 5,
      "chargedAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "insuredDependentsInclusionClause": "NAO_HA",
      "tripScope": "NACIONAL",
      "insuredCapitalType": "FIXO",
      "moneylenderType": "BASICO",
      "creditor": {
        "identification": "12345678901",
        "identificationType": "CPF",
        "name": "string"
      },
      "obligations": [
        {
          "type": "EMPRESTIMO",
          "typeOthers": "string"
        }
      ],
      "personIdentification": {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome"
      },
      "insuredCapitalPercentage": "20.00",
      "dependents": [
        {
          "identification": "12345678901234",
          "identificationType": "CPF",
          "name": "Nome Sobrenome",
          "kinshipDegree": "CONJUGE"
        }
      ],
      "educationalInstitution": {
        "identification": "12345678901",
        "identificationType": "CPF",
        "name": "Nome Sobrenome"
      },
      "benefitAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "plan": "PGBL",
      "planOthers": "OUTROS",
      "planBlock": false,
      "structureModality": "BENEFICIO_DEFINIDO",
      "qualifiedProposer": "SIM",
      "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
      "benefitPaymentModality": "RENDA",
      "financialResultReversal": "SIM",
      "financialResultReversalPercentage": "10.00",
      "minimumWarrantyIndex": "IGP-DI-FGV",
      "minimumWarrantyPercentage": "10.00",
      "taxRegime": "PROGRESSIVO",
      "calculationBasis": "MENSAL"
    }
  ],
  "conjugatedPlan": true,
  "PMBaC": {
    "pmbacAmount": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "provisionSurplusAmount": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "FIE": [
      {
        "FIECNPJ": "12345678901234",
        "FIEName": "RAZÃO SOCIAL",
        "FIETradeName": "NOME FANTASIA"
      }
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractingType|string|true|none|Tipo de contratação|
|policyId|string|true|none|identificação do contrato/apólice, em caso de contratação coletiva, obrigatório caso Tipo de contratação seja COLETIVO|
|certificateId|string|false|none|Identificador utilizado para as "entidades de 1º nível", a saber, apólices individuais , bilhetes ei certificados de participante individual de previdência; por sua vez, nas operações coletivas equivale às apólices coletivas e aos contratos coletivos de previdência|
|termStartDate|string(date)|true|none|Data de início de vigência do documento|
|termEndDate|string(date)|true|none|Data de fim de vigência do documento|
|withdrawals|[WithdrawalInfo](#schemawithdrawalinfo)|false|none|Informações de resgate, Obrigatório se houver em caso de regime financeiro de Capitalização|
|portabilities|[PortabilityInfo](#schemaportabilityinfo)|false|none|Informações de portabilidade, Obrigatório se houver em caso de regime financeiro de Capitalização|
|proposalId|string|true|none|Identificador da Proposta|
|insureds|[[PersonalInfo](#schemapersonalinfoinsuranceperson)]|true|none|none|
|beneficiaries|[[BeneficiaryInfo](#schemabeneficiaryinfoinsuranceperson)]|false|none|none|
|intermediaries|[[Intermediary](#schemaintermediaryinsuranceperson)]|false|none|none|
|coverages|[[InsurancePersonCoverage](#schemainsurancepersoncoverage)]|false|none|none|
|conjugatedPlan|boolean|true|none|O plano é conjugado?|
|PMBaC|object|true|none|PMBaC|
|» pmbacAmount|[AmountDetails](#schemaamountdetails)|true|none|Valor PMBaC (fim do mês) <br>Valor da Provisão Matemática de Benefícios a Conceder (PMBaC), no fim de cada mês. Caso não haja saldo informar nulo|
|» provisionSurplusAmount|[AmountDetails](#schemaamountdetails)|true|none|Valor da provisão de excedentes financeiros (PEF) (valor ao final do mês) Caso não haja saldo informar nulo|
|» FIE|[object]|true|none|none|
|»» FIECNPJ|string|false|none|CNPJ do FIE|
|»» FIEName|string|false|none|Razão social do FIE|
|»» FIETradeName|string|false|none|Nome fantasia do FIE|

#### Enumerated Values

|Property|Value|
|---|---|
|contractingType|COLETIVO|
|contractingType|INDIVIDUAL|

<h2 id="tocS_GraceInfoinsuranceperson">GraceInfo</h2>
<!-- backwards compatibility -->
<a id="schemagraceinfoinsuranceperson"></a>
<a id="schema_GraceInfoinsuranceperson"></a>
<a id="tocSgraceinfoinsuranceperson"></a>
<a id="tocsgraceinfoinsuranceperson"></a>

```json
[
  {
    "type": "RESGATE",
    "gracePeriod": 0,
    "gracePeriodicity": "DIA",
    "gracePeriodCountingMethod": "DIAS_UTEIS",
    "gracePeriodStartDate": "2022-12-31",
    "gracePeriodEndDate": "2022-12-31",
    "period": 0,
    "periodType": "DIA"
  }
]

```

Informações de Carência em caso de regime financeiro de Repartição de Capitais de Cobertura e de Capitalização (Caso seguro individual)

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|Tipo de Carência (Quando houver)|
|gracePeriod|integer|false|none|Período de carência. OBS: Obrigatório, se houver|
|gracePeriodicity|string|false|none|Periodicidade da carência. OBS: Obrigatório, se houver|
|gracePeriodCountingMethod|string|false|none|Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver|
|gracePeriodStartDate|string(date)|false|none|Data de início da carência. OBS: Obrigatório, se houver|
|gracePeriodEndDate|string(date)|false|none|Data de fim da carência. OBS: Obrigatório, se houver|
|period|integer|false|none|Prazo de Carência entre Resgates, Condicional a seleção da opção de RESGATE no campo Tipo de Carência|
|periodType|string|false|none|Tipo de Prazo de Carência entre Resgates, Condicional a seleção da opção de RESGATE no campo Tipo de Carência|

#### Enumerated Values

|Property|Value|
|---|---|
|type|PORTABILIDADE|
|type|RESGATE|
|gracePeriodicity|DIA|
|gracePeriodicity|MES|
|gracePeriodicity|ANO|
|gracePeriodCountingMethod|DIAS_UTEIS|
|gracePeriodCountingMethod|DIAS_CORRIDOS|
|periodType|DIA|
|periodType|MES|
|periodType|ANO|

<h2 id="tocS_WithdrawalInfoinsuranceperson">WithdrawalInfo</h2>
<!-- backwards compatibility -->
<a id="schemawithdrawalinfoinsuranceperson"></a>
<a id="schema_WithdrawalInfoinsuranceperson"></a>
<a id="tocSwithdrawalinfoinsuranceperson"></a>
<a id="tocswithdrawalinfoinsuranceperson"></a>

```json
[
  {
    "occurrenceWithdrawal": true,
    "type": "PARCIAL",
    "requestDate": "2020-12-31",
    "amount": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "movementDate": "2020-12-31",
    "chargingValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "withdrawalCause": "RESGATE_REGULAR",
    "FIE": [
      {
        "FIECNPJ": "12345678901234",
        "FIEName": "RAZÃO SOCIAL",
        "FIETradeName": "NOME FANTASIA"
      }
    ]
  }
]

```

Informações de resgate, Obrigatório se houver em caso de regime financeiro de Capitalização

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|occurrenceWithdrawal|boolean|false|none|Indica se houve resgate|
|type|string|false|none|Tipo de resgate|
|requestDate|string(date)|false|none|Data solicitação|
|amount|[AmountDetails](#schemaamountdetails)|false|none|Detalhes de valores/limites|
|movementDate|string(date)|false|none|Data Movimentação (liquidação)|
|chargingValue|[AmountDetails](#schemaamountdetails)|false|none|Detalhes de valores/limites|
|withdrawalCause|string|false|none|Natureza do Resgate (Caso Ocorrência do resgate for Sim)|
|FIE|[object]|false|none|Informações do FIE do Valor Resgatado (Caso Ocorrência do resgate for Sim)|
|» FIECNPJ|string|false|none|CNPJ do FIE|
|» FIEName|string|false|none|Razão social do FIE|
|» FIETradeName|string|false|none|Nome fantasia do FIE|

#### Enumerated Values

|Property|Value|
|---|---|
|type|TOTAL|
|type|PARCIAL|
|withdrawalCause|RESGATE_REGULAR|
|withdrawalCause|MORTE|
|withdrawalCause|INVALIDEZ|
|withdrawalCause|PAGAMENTO_FINANCEIRO_PROGRAMADO|
|withdrawalCause|CUSTEIO_DE_COBERTURA_DE_RISCOS_EM_PLANOS_CONJUGADOS|
|withdrawalCause|ASSISTENCIA_FINANCEIRA|

<h2 id="tocS_PortabilityInfoinsuranceperson">PortabilityInfo</h2>
<!-- backwards compatibility -->
<a id="schemaportabilityinfoinsuranceperson"></a>
<a id="schema_PortabilityInfoinsuranceperson"></a>
<a id="tocSportabilityinfoinsuranceperson"></a>
<a id="tocsportabilityinfoinsuranceperson"></a>

```json
[
  {
    "occurrencePortability": true,
    "direction": "ENTRADA",
    "type": "PARCIAL",
    "amount": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "requestDate": "2020-12-31",
    "movementDate": "2020-12-31",
    "chargingValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "sourceEntityCode": "ABC123",
    "targetEntityCode": "ABC123",
    "sourceEntitySusepProcessNumber": "ABC123",
    "taxRegime": "PROGRESSIVO",
    "FIE": [
      {
        "FIECNPJ": "12345678901234",
        "FIEName": "RAZÃO SOCIAL",
        "FIETradeName": "NOME FANTASIA",
        "portedType": "ORIGEM"
      }
    ]
  }
]

```

Informações de portabilidade, Obrigatório se houver em caso de regime financeiro de Capitalização

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|occurrencePortability|boolean|true|none|Indica se houve portabilidade|
|direction|string|false|none|Direção do fluxo de portabilidade|
|type|string|false|none|Tipo de portabilidade|
|amount|[AmountDetails](#schemaamountdetails)|false|none|Detalhes de valores/limites|
|requestDate|string(date)|false|none|Data solicitação|
|movementDate|string(date)|false|none|Data Movimentação (liquidação)|
|chargingValue|[AmountDetails](#schemaamountdetails)|true|none|Detalhes de valores/limites|
|sourceEntityCode|string|false|none|Código FIP da entidade de origem (cedente) da portabilidade|
|targetEntityCode|string|false|none|Código FIP da entidade de origem destino (cessionária) da portabilidade|
|sourceEntitySusepProcessNumber|string|false|none|Processo Susep do Plano Origem|
|taxRegime|string|false|none|Regime de Tributação (Caso fluxo de portabilidade for de entrada e Ocorrência da portabilidade for Sim)|
|FIE|[object]|false|none|Informações do FIE do Valor Portado (Caso Ocorrência da portabilidade for Sim)|
|» FIECNPJ|string|false|none|CNPJ do FIE|
|» FIEName|string|false|none|Razão social do FIE|
|» FIETradeName|string|false|none|Nome fantasia do FIE|
|» portedType|string|false|none|Tipo portado|

#### Enumerated Values

|Property|Value|
|---|---|
|direction|ENTRADA|
|direction|SAIDA|
|type|TOTAL|
|type|PARCIAL|
|taxRegime|PROGRESSIVO|
|taxRegime|REGRESSIVO|
|portedType|ORIGEM|
|portedType|DESTINO|

<h2 id="tocS_PersonalInfoinsuranceperson">PersonalInfo</h2>
<!-- backwards compatibility -->
<a id="schemapersonalinfoinsuranceperson"></a>
<a id="schema_PersonalInfoinsuranceperson"></a>
<a id="tocSpersonalinfoinsuranceperson"></a>
<a id="tocspersonalinfoinsuranceperson"></a>

```json
{
  "identificationType": "CPF",
  "identificationTypeOthers": "OUTROS",
  "identification": "12345678900",
  "name": "Nome Sobrenome",
  "birthDate": "2022-12-31",
  "gender": "MASCULINO",
  "postCode": "10000000",
  "email": "string",
  "city": "string",
  "state": "string",
  "country": "BRA",
  "address": "string",
  "addressAdditionalInfo": "Fundos"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identificationType|string|true|none|Tipo de Documento do Segurado/Participante|
|identificationTypeOthers|string|false|none|Descrição do Tipo de Documento quando for informada a opção OUTROS|
|identification|string|true|none|Documento de Identificação do Segurado/Participante|
|name|string|true|none|Nome ou Razão Social do Segurado/Participante|
|birthDate|string(date)|false|none|Data de nascimento do Segurado/Participante|
|gender|string|false|none|Sexo do Segurado/Participante|
|postCode|string|true|none|Código Postal do Segurado/Participante|
|email|string|false|none|E-mail do Segurado/Participante (caso possua)|
|city|string|true|none|Cidade do Segurado/Participante (por extenso)|
|state|string|true|none|Estado do Segurado/Participante (por extenso)|
|country|string|true|none|País do Segurado/Participante (de acordo com o código "alpha3" do ISO-3166)|
|address|string|true|none|Endereço do Segurado/Participante (restante do endereço, excluindo cidade, estado e país)|
|addressAdditionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento.|

#### Enumerated Values

|Property|Value|
|---|---|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|
|gender|MASCULINO|
|gender|FEMININO|
|gender|NAO_INFORMADO|

<h2 id="tocS_BeneficiaryInfoinsuranceperson">BeneficiaryInfo</h2>
<!-- backwards compatibility -->
<a id="schemabeneficiaryinfoinsuranceperson"></a>
<a id="schema_BeneficiaryInfoinsuranceperson"></a>
<a id="tocSbeneficiaryinfoinsuranceperson"></a>
<a id="tocsbeneficiaryinfoinsuranceperson"></a>

```json
{
  "identification": "12345678900",
  "identificationType": "CPF",
  "identificationTypeOthers": "OUTROS",
  "name": "Nome Sobrenome",
  "participationPercentage": "10.00"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Documento de Identificação do beneficiário.|
|identificationType|string|true|none|Tipo de Documento do beneficiário.|
|identificationTypeOthers|string|false|none|Descrição do Tipo de Documento quando for informada a opção OUTROS|
|name|string|true|none|Nome ou Razão Social do beneficiário.|
|participationPercentage|string|false|none|Percentual de particiapação do beneficiário.|

#### Enumerated Values

|Property|Value|
|---|---|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_Intermediaryinsuranceinfo">Intermediary</h2>
<!-- backwards compatibility -->
<a id="schemaintermediaryinsuranceperson"></a>
<a id="schema_Intermediaryinsuranceperson"></a>
<a id="tocSintermediaryinsuranceperson"></a>
<a id="tocsintermediaryinsuranceperson"></a>

```json
{
  "type": "REPRESENTANTE",
  "typeOthers": "OUTROS",
  "identification": "12345678900",
  "brokerId": "string",
  "identificationType": "CPF",
  "identificationTypeOthers": "OUTROS",
  "name": "Nome Sobrenome",
  "postCode": "10000000",
  "city": "string",
  "state": "string",
  "country": "BRA",
  "address": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo do Intermediador|
|typeOthers|string|false|none|Descrição do Tipo do Intermediador quando for informada a opção OUTROS|
|identification|string|false|none|Documento de Identificação da Intermediador (Caso Tipo de Intermediador não seja Corretor ou quando for Corretor, porém o identificador do intermediador não seja informado)|
|brokerId|string|false|none|Identificador do Intermediador (Caso Tipo de Intermediador for CORRETOR) código SUSEP do corretor(a)|
|identificationType|string|false|none|Tipo de Documento da Intermediador|
|identificationTypeOthers|string|false|none|Descrição do Tipo de Documento quando for informada a opção OUTROS|
|name|string|false|none|Nome ou Razão Social da Intermediador|
|postCode|string|false|none|Código Postal da Intermediador (Caso Tipo de Intermediador for ESTIPULANTE)|
|city|string|false|none|Cidade da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)|
|state|string|false|none|Estado da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)|
|country|string|false|none|País da Intermediador (de acordo com o código "alpha3" do ISO-3166; Caso Tipo de Intermediador for ESTIPULANTE)|
|address|string|false|none|Endereço da Intermediador (restante do do endereço, excluindo cidade, estado e país; Caso Tipo de Intermediador for ESTIPULANTE)|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CORRETOR|
|type|REPRESENTANTE|
|type|ESTIPULANTE_AVERBADOR_INSTITUIDOR|
|type|CORRESPONDENTE|
|type|AGENTE_DE_MICROSSEGUROS|
|type|OUTROS|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_InsurancePersonCoverage">InsurancePersonCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepersoncoverage"></a>
<a id="schema_InsurancePersonCoverage"></a>
<a id="tocSinsurancepersoncoverage"></a>
<a id="tocsinsurancepersoncoverage"></a>

```json
{
  "branch": "0111",
  "planType": "AVERBADO",
  "coverageCode": "1999",
  "internalCode": "string",
  "susepProcessNumber": "string",
  "feesTax": "FORMATO NÃO DEFINIDO",
  "paymentPeriod": "MENSAL",
  "grace": [
    {
      "type": "RESGATE",
      "gracePeriod": 0,
      "gracePeriodicity": "DIA",
      "gracePeriodCountingMethod": "DIAS_UTEIS",
      "gracePeriodStartDate": "2022-12-31",
      "gracePeriodEndDate": "2022-12-31",
      "period": 0,
      "periodType": "DIA"
    }
  ],
  "pmbacInterestRate": "10.00",
  "pmbacMonetaryUpdateIndex": "IGPM-FGV",
  "pmbacMonetaryUpdateIndexOthers": "OUTROS",
  "pmbacIndexLag": 5,
  "incomeInterestRate": "10.00",
  "pricingForm": "POR_IDADE",
  "pricingFormOthers": "OUTROS",
  "triggerEvent": "INVALIDEZ",
  "triggerEventOthers": "OUTROS",
  "financialtype": "REPARTICAO_SIMPLES",
  "coverageUpdateIndex": "IGPM-FGV",
  "coverageUpdateIndexOthers": "OUTROS",
  "periodicityValue": 5,
  "periodicity": "DIA",
  "IndexLag": 5,
  "chargedAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "insuredDependentsInclusionClause": "NAO_HA",
  "tripScope": "NACIONAL",
  "insuredCapitalType": "FIXO",
  "moneylenderType": "BASICO",
  "creditor": {
    "identification": "12345678901",
    "identificationType": "CPF",
    "name": "string"
  },
  "obligations": [
    {
      "type": "EMPRESTIMO",
      "typeOthers": "string"
    }
  ],
  "personIdentification": {
    "identification": "12345678900",
    "identificationType": "CPF",
    "name": "Nome Sobrenome"
  },
  "insuredCapitalPercentage": "20.00",
  "dependents": [
    {
      "identification": "12345678901234",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "kinshipDegree": "CONJUGE"
    }
  ],
  "educationalInstitution": {
    "identification": "12345678901",
    "identificationType": "CPF",
    "name": "Nome Sobrenome"
  },
  "benefitAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "plan": "PGBL",
  "planOthers": "OUTROS",
  "planBlock": false,
  "structureModality": "BENEFICIO_DEFINIDO",
  "qualifiedProposer": "SIM",
  "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
  "benefitPaymentModality": "RENDA",
  "financialResultReversal": "SIM",
  "financialResultReversalPercentage": "10.00",
  "minimumWarrantyIndex": "IGP-DI-FGV",
  "minimumWarrantyPercentage": "10.00",
  "taxRegime": "PROGRESSIVO",
  "calculationBasis": "MENSAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e Ramo da Cobertura (Conforme regulamentação Susep vigente)|
|planType|string|false|none|Tipo do Plano (Quando Contrato Coletivo)|
|coverageCode|string|true|none|Código da Cobertura - De acordo com a Tabela 63 do Anexo I do Manual de Escopo de Dados|
|internalCode|string|false|none|Código interno da cobertura da seguradora(obrigatório se houver)|
|susepProcessNumber|string|true|none|Número do processo administrativo da Susep relacionado à cobertura contratada|
|feesTax|string|false|none|Taxa de juros prevista para cálculo das rendas|
|paymentPeriod|string|true|none|Periodicidade de pagamento da Contribuição/Prêmio|
|grace|[GraceInfo](#schemagraceinfoinsuranceperson)|false|none|Informações de Carência em caso de regime financeiro de Repartição de Capitais de Cobertura e de Capitalização (Caso seguro individual)|
|pmbacInterestRate|string|false|none|Taxa de Juros PMBaC<br>Obrigatório em caso de regime financeiro de Capitalização|
|pmbacMonetaryUpdateIndex|string|false|none|Índice de Preços Garantido PMBaC<br>Obrigatório em caso de regime financeiro de Capitalização|
|pmbacMonetaryUpdateIndexOthers|string|false|none|Descrição do Índice de Preços Garantido PMBaC quando for informada a opção OUTROS|
|pmbacIndexLag|integer|false|none|Defasagem do Índice PMBaC (em meses)<br>Obrigatório em caso de regime financeiro de Capitalização|
|incomeInterestRate|string|false|none|Taxa de Juros Rendas (quando houver)|
|pricingForm|string|false|none|Forma de tarifação (quando houver)|
|pricingFormOthers|string|false|none|Descrição da Forma de tarifação quando for informada a opção OUTROS|
|triggerEvent|string|true|none|Indica o tipo de evento gerador aplicavel a cobertura|
|triggerEventOthers|string|false|none|Descrição do evento gerador quando for informada a opção OUTROS|
|financialtype|string|true|none|Regime financeiro|
|coverageUpdateIndex|string|false|none|Índice de preços referente à atualização monetária anual do valor da cobertura|
|coverageUpdateIndexOthers|string|false|none|Descrição do Índice de preços referente à atualização monetária anual do valor da cobertura quando for informada a opção OUTROS|
|periodicityValue|integer|false|none|Periodicidade de Atualizacao da cobertura (quando houver)|
|periodicity|string|false|none|Unidade da Periodicidade de Atualização da Cobertura|
|IndexLag|integer|false|none|Defasagem do índice de preços aplicado na atualização da renda (em meses)|
|chargedAmount|[AmountDetails](#schemaamountdetails)|true|none|Valor do carregamento|
|insuredDependentsInclusionClause|string|false|none|Cláusula de Inclusão de Dependentes Segurados. (Caso contrato de Funeral, Acidentes Pessoais, Doenças Graves ou Doença Terminal, Eventos Aleatórios, Vida,  Desemprego/Perda de Renda e Viagem)|
|tripScope|string|false|none|Abrangência da viagem. (Caso contrato Viagem)|
|insuredCapitalType|string|false|none|Modalidade de capital segurado. (Caso contrato Prestamista - exceto Habitacional e Rural)|
|moneylenderType|string|false|none|Tipo de prestamista. (Caso contrato Prestamista - exceto Habitacional e Rural)|
|creditor|object|false|none|none|
|» identification|string|false|none|Identificação do credor. (Caso contrato Prestamista - exceto Habitacional e Rural)|
|» identificationType|string|false|none|Tipo de documento do credor. (Caso contrato Prestamista - exceto Habitacional e Rural)|
|» name|string|false|none|Nome ou razão social do credor. (Caso contrato Prestamista - exceto Habitacional e Rural)|
|obligations|[object]|false|none|none|
|» type|string|false|none|Tipo de obrigação. (Caso contrato Prestamista - exceto Habitacional e Rural)|
|» typeOthers|string|false|none|Descrição Tipo da Obrigação. (Caso tipo de obrigação OUTROS e caso contrato Prestamista - exceto Habitacional e Rural)|
|personIdentification|object|false|none|(Caso contrato Prestamista)|
|» identification|string|false|none|Documento de Identificação da Pessoa|
|» identificationType|string|false|none|Tipo de Documento da Pessoa|
|» name|string|false|none|Nome ou Razão Social da Pessoa|
|insuredCapitalPercentage|string|false|none|Percentual do Capital Segurado. (Caso contrato Prestamista - exceto Habitacional e Rural)|
|dependents|[object]|false|none|Segurados dependentes|
|» identification|string|false|none|Documento de Identificação da Pessoa Associada. (Caso haja em Cláusula de Inclusão de Dependentes Segurados e caso contrato de Funeral, Acidentes Pessoais, Doenças Graves ou Doença Terminal, Eventos Aleatórios, Vida,  Desemprego/Perda de Renda e Viagem)|
|» identificationType|string|false|none|Tipo de Documento da Pessoa|
|» name|string|false|none|Nome ou Razão Social da Pessoa|
|» kinshipDegree|string|false|none|Grau de Parentesco. (Caso haja em Cláusula de Inclusão de Dependentes Segurados e caso contrato de Funeral, Acidentes Pessoais, Doenças Graves ou Doença Terminal, Eventos Aleatórios, Vida,  Desemprego/Perda de Renda e Viagem)|
|educationalInstitution|object|false|none|Referente a seguro educacional|
|» identification|string|false|none|Documento de Identificação da Pessoa|
|» identificationType|string|false|none|Tipo de Documento da Pessoa|
|» name|string|false|none|Nome ou Razão Social da Pessoa|
|benefitAmount|[AmountDetails](#schemaamountdetails)|false|none|Valor do beneficio em reais da cobertura contratada (caso campo modalidade de estruturacao for beneficio definido)|
|plan|string|true|none|Tipo de plano|
|planOthers|string|false|none|Descrição do tipo de plano contratado quando for informada a opção OUTROS|
|planBlock|boolean|true|none|Plano é bloqueado|
|structureModality|string|true|none|Modalidade de estruturação|
|qualifiedProposer|string|true|none|Proponente Qualificado|
|biometricTable|string|false|none|Tábua biométrica, se houver|
|benefitPaymentModality|string|true|none|Forma de Pagamento do Benefício|
|financialResultReversal|string|true|none|Reversão de resultado financeiro na fase de concessão|
|financialResultReversalPercentage|string|false|none|Percentual de reversão de resultado financeiro na fase de concessão (Quando “Reversão de resultado financeiro na fase de concessão” for Sim)|
|minimumWarrantyIndex|string|false|none|Índice utilizado como garantia mínima de desempenho para produtos do tipo Plano de Desempenho Referenciado (PDR) e Vida com Desempenho Referenciado (VDR)|
|minimumWarrantyPercentage|string|false|none|Percentual utilizado como garantia mínima de desempenho para produtos do tipo Plano de Desempenho Referenciado (PDR) e Vida com Desempenho Referenciado (VDR).|
|taxRegime|string|true|none|Regime tributário do plano contratado|
|calculationBasis|string|true|none|Base de cálculo das anuidades do benefício concedido|

#### Enumerated Values

|Property|Value|
|---|---|
|planType|AVERBADO|
|planType|INSTITUIDO_CONTRIBUTARIO|
|planType|INSTITUIDO_NAO_CONTRIBUTARIO|
|paymentPeriod|MENSAL|
|paymentPeriod|BIMESTRAL|
|paymentPeriod|TRIMESTRAL|
|paymentPeriod|QUADRIMESTRAL|
|paymentPeriod|SEMESTRAL|
|paymentPeriod|ANUAL|
|paymentPeriod|ESPORÁDICA|
|pmbacMonetaryUpdateIndex|IPC-FGV|
|pmbacMonetaryUpdateIndex|IGP-DI-FGV|
|pmbacMonetaryUpdateIndex|IPCA-IBGE|
|pmbacMonetaryUpdateIndex|IGPM-FGV|
|pmbacMonetaryUpdateIndex|INPC-IBGE|
|pmbacMonetaryUpdateIndex|TR|
|pmbacMonetaryUpdateIndex|OUTROS|
|pricingForm|POR_IDADE|
|pricingForm|TAXA_MEDIA|
|pricingForm|FAIXA_ETARIA|
|pricingForm|OUTROS|
|triggerEvent|INVALIDEZ|
|triggerEvent|MORTE|
|triggerEvent|OUTROS|
|financialtype|REPARTICAO_SIMPLES|
|financialtype|REPARTICAO_POR_CAPITAIS_DE_COBERTURA|
|financialtype|CAPITALIZACAO|
|coverageUpdateIndex|IPC-FGV|
|coverageUpdateIndex|IGP-DI-FGV|
|coverageUpdateIndex|IPCA-IBGE|
|coverageUpdateIndex|IGPM-FGV|
|coverageUpdateIndex|INPC-IBGE|
|coverageUpdateIndex|TR|
|coverageUpdateIndex|OUTROS|
|periodicity|DIA|
|periodicity|MES|
|periodicity|ANO|
|insuredDependentsInclusionClause|NAO_HA|
|insuredDependentsInclusionClause|FACULTATIVA|
|insuredDependentsInclusionClause|AUTOMATICA|
|tripScope|NACIONAL|
|tripScope|INTERNACIONAL|
|tripScope|NACIONAL_E_INTERNACIONAL|
|insuredCapitalType|FIXO|
|insuredCapitalType|VINCULADO|
|insuredCapitalType|VARIAVEL|
|moneylenderType|BASICO|
|moneylenderType|EMPRESARIAL|
|moneylenderType|EMPRESARIAL_INTEGRAL|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|
|type|EMPRESTIMO|
|type|CONSORCIO|
|type|CONDOMINIO|
|type|OUTROS|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|
|kinshipDegree|CONJUGE|
|kinshipDegree|PAIS|
|kinshipDegree|SOGROS|
|kinshipDegree|AVOS|
|kinshipDegree|BISAVOS|
|kinshipDegree|FILHOS|
|kinshipDegree|NETOS|
|kinshipDegree|BISNETOS|
|kinshipDegree|IRMAOS|
|kinshipDegree|TIOS|
|kinshipDegree|SOBRINHOS|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|
|plan|PGBL|
|plan|PRGP|
|plan|PAGP|
|plan|PRSA|
|plan|PRI|
|plan|PDR|
|plan|VGBL|
|plan|VRGP|
|plan|VAGP|
|plan|VRSA|
|plan|VRI|
|plan|VDR|
|plan|TRADICIONAL|
|plan|OUTROS|
|structureModality|BENEFICIO_DEFINIDO|
|structureModality|CONTRIBUICAO_VARIAVEL|
|qualifiedProposer|SIM|
|qualifiedProposer|NAO|
|biometricTable|1  - Mortalidade Geral / Beneficiário - AT49 M|
|biometricTable|2  - Mortalidade Geral / Beneficiário - AT49 F|
|biometricTable|3  - Mortalidade Geral / Beneficiário - AT50 M|
|biometricTable|4  - Mortalidade Geral / Beneficiário - AT50 F|
|biometricTable|5  - Mortalidade Geral / Beneficiário - AT55 M|
|biometricTable|6  - Mortalidade Geral / Beneficiário - AT55 F|
|biometricTable|7  - Mortalidade Geral / Beneficiário - AT71 M|
|biometricTable|8  - Mortalidade Geral / Beneficiário - AT71 F|
|biometricTable|9  - Mortalidade Geral / Beneficiário - AT83 M|
|biometricTable|10  - Mortalidade Geral / Beneficiário - AT83 F|
|biometricTable|11  - Mortalidade Geral / Beneficiário - AT2000 M|
|biometricTable|12  - Mortalidade Geral / Beneficiário - AT2000 F|
|biometricTable|13  - Mortalidade Geral / Beneficiário - CS041|
|biometricTable|14  - Mortalidade Geral / Beneficiário - CSO58|
|biometricTable|15  - Mortalidade Geral / Beneficiário - CSO80 M|
|biometricTable|16  - Mortalidade Geral / Beneficiário - CSO80 F|
|biometricTable|17  - Mortalidade Geral / Beneficiário - CSG 60|
|biometricTable|18  - Mortalidade Geral / Beneficiário - GAM71 M|
|biometricTable|19  - Mortalidade Geral / Beneficiário - GAM71 F|
|biometricTable|20  - Mortalidade Geral / Beneficiário - SGB51|
|biometricTable|21  - Mortalidade Geral / Beneficiário - SGB55|
|biometricTable|22  - Mortalidade Geral / Beneficiário - SGB71|
|biometricTable|23  - Mortalidade Geral / Beneficiário - SGB75|
|biometricTable|24  - Mortalidade Geral / Beneficiário - GKF70|
|biometricTable|25  - Mortalidade Geral / Beneficiário - GKF80|
|biometricTable|26  - Mortalidade Geral / Beneficiário - GKF95|
|biometricTable|27  - Mortalidade Geral / Beneficiário - GKM70|
|biometricTable|28  - Mortalidade Geral / Beneficiário - GKM80|
|biometricTable|29  - Mortalidade Geral / Beneficiário - GKM95|
|biometricTable|30  - Mortalidade Geral / Beneficiário - UP 84|
|biometricTable|31  - Mortalidade de Inválidos - IAPB 57|
|biometricTable|32  - Mortalidade de Inválidos - IAPB57 - Nivelada|
|biometricTable|33  - Mortalidade de Inválidos - ZIMMERMANN|
|biometricTable|34  - Mortalidade de Inválidos - WINKLEVOSS|
|biometricTable|35  - Mortalidade de Inválidos - BENTZIEN|
|biometricTable|36  - Mortalidade de Inválidos - EXP. IAPC|
|biometricTable|37  - Mortalidade de Inválidos - TASA27|
|biometricTable|38  - Mortalidade de Inválidos - MULLER|
|biometricTable|39  - Entrada em Invalidez - IAPB 57 FRACA|
|biometricTable|40  - Entrada em Invalidez - IAPB 57 FORTE|
|biometricTable|41  - Entrada em Invalidez - ZIMMERMANN|
|biometricTable|42  - Entrada em Invalidez - ÁLVARO VINDAS|
|biometricTable|43  - Entrada em Invalidez - TASA 27|
|biometricTable|44  - Entrada em Invalidez - MULLER|
|biometricTable|45  - Entrada em Invalidez - HUNTER|
|biometricTable|46  - Mortalidade Geral / Beneficiário - EB7|
|biometricTable|47  - Mortalidade Geral / Beneficiário - UP94 M|
|biometricTable|48  - Mortalidade Geral / Beneficiário - AT49|
|biometricTable|49  - Mortalidade Geral / Beneficiário - AT2000 female suavizada 10%|
|biometricTable|49  - Entrada em Invalidez - AT2000 female suavizada 10%|
|biometricTable|50  - Mortalidade Geral / Beneficiário - TGA|
|biometricTable|50  - Entrada em Invalidez - TGA|
|biometricTable|51  - Mortalidade Geral / Beneficiário - AT2000 male suavizada 10%|
|biometricTable|52  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2010-m|
|biometricTable|53  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2010-f|
|biometricTable|54  - Entrada em Invalidez - SUSEP_IBGE|
|biometricTable|55  - Mortalidade Geral / Beneficiário - Percentual Fixo|
|biometricTable|55  - Mortalidade de Inválidos - Percentual Fixo|
|biometricTable|55  - Entrada em Invalidez - Percentual Fixo|
|biometricTable|56  - Mortalidade Geral / Beneficiário - Perpétua|
|biometricTable|56  - Mortalidade de Inválidos - Perpétua|
|biometricTable|56  - Entrada em Invalidez - Perpétua|
|biometricTable|57  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2010-m|
|biometricTable|57  - Mortalidade de Inválidos - BR-EMSmt-V.2010-m|
|biometricTable|57  - Entrada em Invalidez - BR-EMSmt-V.2010-m|
|biometricTable|58  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2010-f|
|biometricTable|58  - Mortalidade de Inválidos - BR-EMSmt-V.2010-f|
|biometricTable|58  - Entrada em Invalidez - BR-EMSmt-V.2010-f|
|biometricTable|59  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2015-m|
|biometricTable|59  - Mortalidade de Inválidos - BR-EMSsb-V.2015-m|
|biometricTable|59  - Entrada em Invalidez - BR-EMSsb-V.2015-m|
|biometricTable|60  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2015-f|
|biometricTable|60  - Mortalidade de Inválidos - BR-EMSsb-V.2015-f|
|biometricTable|60  - Entrada em Invalidez - BR-EMSsb-V.2015-f|
|biometricTable|61  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2015-m|
|biometricTable|61  - Mortalidade de Inválidos - BR-EMSmt-V.2015-m|
|biometricTable|61  - Entrada em Invalidez - BR-EMSmt-V.2015-m|
|biometricTable|62  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2015-f|
|biometricTable|62  - Mortalidade de Inválidos - BR-EMSmt-V.2015-f|
|biometricTable|62  - Entrada em Invalidez - BR-EMSmt-V.2015-f|
|biometricTable|63  - Mortalidade Geral / Beneficiário - BR-EMSsb-m|
|biometricTable|63  - Mortalidade de Inválidos - BR-EMSsb-m|
|biometricTable|63  - Entrada em Invalidez - BR-EMSsb-m|
|biometricTable|64  - Mortalidade Geral / Beneficiário - BR-EMSsb-f|
|biometricTable|64  - Mortalidade de Inválidos - BR-EMSsb-f|
|biometricTable|64  - Entrada em Invalidez - BR-EMSsb-f|
|biometricTable|65  - Mortalidade Geral / Beneficiário - BR-EMSmt-m|
|biometricTable|65  - Mortalidade de Inválidos - BR-EMSmt-m|
|biometricTable|65  - Entrada em Invalidez - BR-EMSmt-m|
|biometricTable|66  - Mortalidade Geral / Beneficiário - BR-EMSmt-f|
|biometricTable|66  - Mortalidade de Inválidos - BR-EMSmt-f|
|biometricTable|66  - Entrada em Invalidez - BR-EMSmt-f|
|biometricTable|67  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2021-m|
|biometricTable|67  - Mortalidade de Inválidos - BR-EMSsb-V.2021-m|
|biometricTable|67  - Entrada em Invalidez - BR-EMSsb-V.2021-m|
|biometricTable|68  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2021-f|
|biometricTable|68  - Mortalidade de Inválidos - BR-EMSsb-V.2021-f|
|biometricTable|68  - Entrada em Invalidez - BR-EMSsb-V.2021-f|
|biometricTable|69  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2021-m|
|biometricTable|69  - Mortalidade de Inválidos - BR-EMSmt-V.2021-m|
|biometricTable|69  - Entrada em Invalidez - BR-EMSmt-V.2021-m|
|biometricTable|70  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2021-f|
|biometricTable|70  - Mortalidade de Inválidos - BR-EMSmt-V.2021-f|
|biometricTable|70  - Entrada em Invalidez - BR-EMSmt-V.2021-f|
|biometricTable|99  - Mortalidade Geral / Beneficiário - OUTRAS|
|biometricTable|99  - Mortalidade de Inválidos - OUTRAS|
|biometricTable|99  - Entrada em Invalidez - OUTRAS|
|benefitPaymentModality|RENDA|
|benefitPaymentModality|UNICO|
|financialResultReversal|SIM|
|financialResultReversal|NAO|
|minimumWarrantyIndex|IPC-FGV|
|minimumWarrantyIndex|IGP-DI-FGV|
|minimumWarrantyIndex|IPCA-IBGE|
|minimumWarrantyIndex|IGPM-FGV|
|minimumWarrantyIndex|INPC-IBGE|
|minimumWarrantyIndex|TR|
|minimumWarrantyIndex|OUTROS|
|taxRegime|PROGRESSIVO|
|taxRegime|REGRESSIVO|
|calculationBasis|MENSAL|
|calculationBasis|ANUAL|

<h2 id="tocS_ResponseInsurancePersonClaims">ResponseInsurancePersonClaims</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepersonclaims"></a>
<a id="schema_ResponseInsurancePersonClaims"></a>
<a id="tocSresponseinsurancepersonclaims"></a>
<a id="tocsresponseinsurancepersonclaims"></a>

```json
{
  "data": [
    {
      "status": "ABERTO",
      "warningDate": "2022-12-31",
      "warningRegisterDate": "2022-12-31",
      "recipientIdentification": "12345678901",
      "recipientIdentificationType": "CPF",
      "recipientName": "Nome Sobrenome",
      "recipientClassification": "SEGURADO",
      "recipientBirthDate": "1990-12-31",
      "incomeModality": "RENDA_VITALICIA",
      "incomeModalityOthers": "Outros",
      "incomeReversed": true,
      "incomeValueUniquePayment": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "incomeTerm": "string",
      "recipientNumber": 3,
      "concessionStartDate": "2020-12-31",
      "monetaryUpdateIndex": "IGPM-FGV",
      "monetaryUpdateIndexOthers": "OUTROS",
      "lastUpdateDate": "2020-12-31",
      "defermentDueDate": "2025-12-31"
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InsurancePersonClaim](#schemainsurancepersonclaim)]|true|none|none|
|links|[Links](#schemalinksinsuranceperson)|true|none|none|
|meta|[Meta](#schemametainsuranceperson)|true|none|none|

<h2 id="tocS_InsurancePersonClaim">InsurancePersonClaim</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepersonclaim"></a>
<a id="schema_InsurancePersonClaim"></a>
<a id="tocSinsurancepersonclaim"></a>
<a id="tocsinsurancepersonclaim"></a>

```json
{
  "status": "ABERTO",
  "warningDate": "2022-12-31",
  "warningRegisterDate": "2022-12-31",
  "recipientIdentification": "12345678901",
  "recipientIdentificationType": "CPF",
  "recipientName": "Nome Sobrenome",
  "recipientClassification": "SEGURADO",
  "recipientBirthDate": "1990-12-31",
  "incomeModality": "RENDA_VITALICIA",
  "incomeModalityOthers": "Outros",
  "incomeReversed": true,
  "incomeValueUniquePayment": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "incomeTerm": "string",
  "recipientNumber": 3,
  "concessionStartDate": "2020-12-31",
  "monetaryUpdateIndex": "IGPM-FGV",
  "monetaryUpdateIndexOthers": "OUTROS",
  "lastUpdateDate": "2020-12-31",
  "defermentDueDate": "2025-12-31"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|status|string|true|none|Status do sinistro / evento gerador|
|warningDate|string(date)|true|none|Data de aviso do sinistro|
|warningRegisterDate|string(date)|true|none|Data do Registro de Aviso à Seguradora<br>Em caso de regime financeiro de Repartição de Capitais de Cobertura e de Capitalização|
|recipientIdentification|string|false|none|Documento de identificação do beneficiário da renda concedida|
|recipientIdentificationType|string|false|none|Tipo de Documento da Pessoa|
|recipientName|string|false|none|Nome do beneficiário da renda concedida|
|recipientClassification|string|false|none|Tipo de Documento da Pessoa|
|recipientBirthDate|string(date)|false|none|Data de nascimento do beneficiário da renda concedida|
|incomeModality|string|false|none|Tipo de renda concedida|
|incomeModalityOthers|string|false|none|Descrição do tipo de renda quando outros|
|incomeReversed|boolean|false|none|Declara se já houve a reversão da renda do benefício concedido do segurado para o cônjuge, beneficiário indicado ou filho menor|
|incomeValueUniquePayment|[AmountDetails](#schemaamountdetails)|false|none|Detalhes de valores/limites|
|incomeTerm|string|false|none|Prazo pagamento da parcela ou da renda atuarial ou financeira do benefício concedido|
|recipientNumber|integer|false|none|Número de benefícios a serem recebidos por ano|
|concessionStartDate|string(date)|false|none|Data de início de concessão do benefício|
|monetaryUpdateIndex|string|false|none|Índice de preços referente à atualização monetária anual do valor da renda|
|monetaryUpdateIndexOthers|string|false|none|Descrição do Índice de preços referente à atualização monetária anual do valor da renda quando for informada a opção OUTROS|
|lastUpdateDate|string(date)|false|none|Data da última atualização do benefício|
|defermentDueDate|string(date)|false|none|Data do fim do período de diferimento do benefício concedido/a conceder|

#### Enumerated Values

|Property|Value|
|---|---|
|status|ABERTO|
|status|ENCERRADO_COM_INDENIZACAO|
|status|ENCERRADO_SEM_INDENIZACAO|
|status|REABERTO|
|status|CANCELADO_POR_ERRO_OPERACIONAL|
|status|AVALIACAO_INICIAL|
|status|ENCERRADO_COM_PAGAMENTO_UNICO_BENEFICIO|
|status|ENCERRADO_COM_CONCESSAO_DE_RENDA_BENEFICIO|
|status|ENCERRADO_INDEFERIDO_BENEFICIO|
|recipientIdentificationType|CPF|
|recipientIdentificationType|RG|
|recipientIdentificationType|PASSAPORTE|
|recipientIdentificationType|OUTROS|
|recipientClassification|SEGURADO|
|recipientClassification|CONJUGE|
|recipientClassification|FILHO_MENOR_DE_IDADE|
|recipientClassification|BENEFICIARIO_INDICADO|
|incomeModality|PAGAMENTO_UNICO|
|incomeModality|RENDA_PRAZO_CERTO|
|incomeModality|RENDA_TEMPORARIA|
|incomeModality|RENDA_TEMPORARIA_REVERSIVEL|
|incomeModality|RENDA_TEMPORARIA_PRAZO_MINIMO_GARANTIDO|
|incomeModality|RENDA_TEMPORARIA_REVERSIVEL_PRAZO_MINIMO_GARANTIDO|
|incomeModality|RENDA_VITALICIA|
|incomeModality|RENDA_VITALICIA_REVERSIVEL_BENEFICIARIO_INDICADO|
|incomeModality|RENDA_VITALICIA_REVERSIVEL_CONJUGE_CONTINUIDADE_MENORES|
|incomeModality|RENDA_VITALICIA_PRAZO_MINIMO_GARANTIDO|
|incomeModality|RENDA_VITALICIA_REVERSIVEL_PRAZO_MINIMO_GARANTIDO|
|incomeModality|RENDA_VITALICIA_REVERSIVEL_CONJUGE|
|incomeModality|OUTROS|
|monetaryUpdateIndex|IPC-FGV|
|monetaryUpdateIndex|IGP-DI-FGV|
|monetaryUpdateIndex|IPCA-IBGE|
|monetaryUpdateIndex|IGPM-FGV|
|monetaryUpdateIndex|INPC-IBGE|
|monetaryUpdateIndex|TR|
|monetaryUpdateIndex|OUTROS|

<h2 id="tocS_AmountDetails">AmountDetails</h2>
<!-- backwards compatibility -->
<a id="schemaamountdetails"></a>
<a id="schema_AmountDetails"></a>
<a id="tocSamountdetails"></a>
<a id="tocsamountdetails"></a>

```json
{
  "amount": "2000.00",
  "unit": {
    "code": "R$",
    "description": "BRL"
  }
}

```

Detalhes de valores/limites

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|string|true|none|none|
|unit|object|true|none|none|
|» code|string|true|none|none|
|» description|string|true|none|Moeda da Parcela, de acordo com ISO-4217.|

<h2 id="tocS_ResponseInsurancePersonMovements">ResponseInsurancePersonMovements</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepersonmovements"></a>
<a id="schema_ResponseInsurancePersonMovements"></a>
<a id="tocSresponseinsurancepersonmovements"></a>
<a id="tocsresponseinsurancepersonmovements"></a>

```json
{
  "data": {
    "movementContributions": [
      {
        "contributionAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "contributionPaymentDate": "2021-05-21",
        "contributionExpirationDate": "2021-05-21",
        "chargedInAdvanceAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "periodicity": "MENSAL"
      }
    ],
    "movementBenefits": [
      {
        "benefitAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "benefitPaymentDate": "2021-05-21"
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsurancePersonMovements](#schemainsurancepersonmovements)|true|none|none|
|links|[Links](#schemalinksinsuranceperson)|true|none|none|
|meta|[Meta](#schemametainsuranceperson)|true|none|none|

<h2 id="tocS_InsurancePersonMovements">InsurancePersonMovements</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepersonmovements"></a>
<a id="schema_InsurancePersonMovements"></a>
<a id="tocSinsurancepersonmovements"></a>
<a id="tocsinsurancepersonmovements"></a>

```json
{
  "movementContributions": [
    {
      "contributionAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "contributionPaymentDate": "2021-05-21",
      "contributionExpirationDate": "2021-05-21",
      "chargedInAdvanceAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "periodicity": "MENSAL"
    }
  ],
  "movementBenefits": [
    {
      "benefitAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "benefitPaymentDate": "2021-05-21"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|movementContributions|[object]|false|none|none|
|» contributionAmount|[AmountDetails](#schemaamountdetails)|false|none|Valores de contribuições/prêmios comerciais pagos pelo segurado participante (em relação aos últimos 12 meses), Obrigatório se houver|
|» contributionPaymentDate|string(date)|false|none|Datas de Pagamentos das contribuições/prêmios comerciais (em relação aos últimos 12 meses), Obrigatório, se houver|
|» contributionExpirationDate|string(date)|false|none|Datas de Vencimentos das contribuições/prêmios comerciais (em relação aos últimos 12 meses)|
|» chargedInAdvanceAmount|[AmountDetails](#schemaamountdetails)|false|none|Valor do carregamento cobrado de forma antecipada, Obrigatório se houver|
|» periodicity|string|false|none|Periodicidade da contribuições|
|movementBenefits|[object]|false|none|none|
|» benefitAmount|[AmountDetails](#schemaamountdetails)|false|none|Valores de benefícios recebidos (em relação aos últimos 12 meses), Obrigatório, se houver|
|» benefitPaymentDate|string(date)|false|none|Datas de Pagamentos de benefícios recebidos (em relação aos últimos 12 meses), Obrigatório, se houver|

#### Enumerated Values

|Property|Value|
|---|---|
|periodicity|MENSAL|
|periodicity|BIMESTRAL|
|periodicity|TRIMESTRAL|
|periodicity|QUADRIMESTRAL|
|periodicity|SEMESTRAL|
|periodicity|ANUAL|
|periodicity|ESPORADICA|

<h2 id="tocS_Linksinsuranceperson">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksinsuranceperson"></a>
<a id="schema_Linksinsuranceperson"></a>
<a id="tocSlinksinsuranceperson"></a>
<a id="tocslinksinsuranceperson"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
  "first": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
  "prev": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
  "next": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person",
  "last": "https://api.organizacao.com.br/open-insurance/insurance-person/v1/insurance-person"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Metainsuranceperson">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametainsuranceperson"></a>
<a id="schema_Metainsuranceperson"></a>
<a id="tocSmetainsuranceperson"></a>
<a id="tocsmetainsuranceperson"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorinsuranceperson">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorinsuranceperson"></a>
<a id="schema_ResponseErrorinsuranceperson"></a>
<a id="tocSresponseerrorinsuranceperson"></a>
<a id="tocsresponseerrorinsuranceperson"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametainsuranceperson)|false|none|none|

<h2 id="tocS_XFapiInteractionIdinsuranceperson">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionidinsuranceperson"></a>
<a id="schema_XFapiInteractionIdinsuranceperson"></a>
<a id="tocSxfapiinteractionidinsuranceperson"></a>
<a id="tocsxfapiinteractionidinsuranceperson"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
