<h2 id="tocS_ResponseInsurancePetroleum">ResponseInsurancePetroleum</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepetroleum"></a>
<a id="schema_ResponseInsurancePetroleum"></a>
<a id="tocSresponseinsurancepetroleum"></a>
<a id="tocsresponseinsurancepetroleum"></a>

```json
{
  "data": [
    {
      "brand": "string",
      "companies": [
        {
          "companyName": "string",
          "cnpjNumber": "12345678901234",
          "policies": [
            "42"
          ]
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|none|
|» brand|string|true|none|Nome da marca reportada pelo participante do Open Insurance|
|» companies|[object]|true|none|none|
|»» companyName|string|true|none|Nome da sociedade pertencente à marca|
|»» cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca|
|»» policies|[string]|true|none|none|
|links|[Links](#schemalinkspetroleom)|true|none|none|
|meta|[Meta](#schemametapetroleom)|true|none|none|

<h2 id="tocS_ResponseInsurancePetroleumPolicyInfo">ResponseInsurancePetroleumPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepetroleumpolicyinfo"></a>
<a id="schema_ResponseInsurancePetroleumPolicyInfo"></a>
<a id="tocSresponseinsurancepetroleumpolicyinfo"></a>
<a id="tocsresponseinsurancepetroleumpolicyinfo"></a>

```json
{
  "data": {
    "documentType": "APOLICE_INDIVIDUAL",
    "policyId": "111111",
    "susepProcessNumber": "string",
    "groupCertificateId": "string",
    "issuanceType": "EMISSAO_PROPRIA",
    "issuanceDate": "AAAA-MM-DD",
    "termStartDate": "AAAA-MM-DD",
    "termEndDate": "AAAA-MM-DD",
    "leadInsurerCode": "string",
    "leadInsurerPolicyId": "string",
    "maxLMG": {
      "amount": 2000,
      "currency": "BRL"
    },
    "proposalId": "string",
    "insureds": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "beneficiaries": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "principals": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "intermediaries": [
      {
        "type": "REPRESENTANTE",
        "identification": "12345678900",
        "brokerId": "string",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "insuredObjects": [
      {
        "identification": "string",
        "type": "CONTRATO",
        "typeAdditionalInfo": "string",
        "description": "string",
        "amount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "coverages": [
          {
            "branch": 111,
            "code": "RISCOS_DE_PETROLEO",
            "description": "string",
            "internalCode": "string",
            "susepProcessNumber": "string",
            "LMI": {
              "amount": 2000,
              "currency": "BRL"
            },
            "isLMISublimit": true,
            "termStartDate": "AAAA-MM-DD",
            "termEndDate": "AAAA-MM-DD",
            "isMainCoverage": true,
            "feature": "MASSIFICADOS",
            "type": "PARAMETRICO",
            "gracePeriod": 0,
            "gracePeriodicity": "DIA",
            "gracePeriodCountingMethod": "DIAS_UTEIS",
            "gracePeriodStartDate": "AAAA-MM-DD",
            "gracePeriodEndDate": "AAAA-MM-DD"
          }
        ]
      }
    ],
    "coverages": [
      {
        "branch": 111,
        "code": "RISCOS_DE_PETROLEO",
        "description": "string",
        "deductible": {
          "type": "DEDUTIVEL",
          "typeAdditionalInfo": "string",
          "amount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "period": 10,
          "periodicity": "DIA",
          "periodCountingMethod": "DIAS_UTEIS",
          "periodStartDate": "2022-05-16",
          "periodEndDate": "2022-05-17",
          "description": "Franquia de exemplo"
        },
        "POS": {
          "applicationType": "VALOR",
          "description": "Descrição de exemplo",
          "minValue": {
            "amount": 2000,
            "currency": "BRL"
          },
          "maxValue": {
            "amount": 2000,
            "currency": "BRL"
          },
          "percentage": 10
        }
      }
    ],
    "coinsuranceRetainedPercentage": "10",
    "coinsurers": [
      {
        "identification": "string",
        "cededPercentage": 10
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsurancePetroleumPolicyInfo](#schemainsurancepetroleumpolicyinfo)|true|none|none|
|links|[Links](#schemalinkspetroleom)|true|none|none|
|meta|[Meta](#schemametapetroleom)|true|none|none|

<h2 id="tocS_InsurancePetroleumPolicyInfo">InsurancePetroleumPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepetroleumpolicyinfo"></a>
<a id="schema_InsurancePetroleumPolicyInfo"></a>
<a id="tocSinsurancepetroleumpolicyinfo"></a>
<a id="tocsinsurancepetroleumpolicyinfo"></a>

```json
{
  "documentType": "APOLICE_INDIVIDUAL",
  "policyId": "111111",
  "susepProcessNumber": "string",
  "groupCertificateId": "string",
  "issuanceType": "EMISSAO_PROPRIA",
  "issuanceDate": "AAAA-MM-DD",
  "termStartDate": "AAAA-MM-DD",
  "termEndDate": "AAAA-MM-DD",
  "leadInsurerCode": "string",
  "leadInsurerPolicyId": "string",
  "maxLMG": {
    "amount": 2000,
    "currency": "BRL"
  },
  "proposalId": "string",
  "insureds": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "beneficiaries": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "principals": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "intermediaries": [
    {
      "type": "REPRESENTANTE",
      "identification": "12345678900",
      "brokerId": "string",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "insuredObjects": [
    {
      "identification": "string",
      "type": "CONTRATO",
      "typeAdditionalInfo": "string",
      "description": "string",
      "amount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "coverages": [
        {
          "branch": 111,
          "code": "RISCOS_DE_PETROLEO",
          "description": "string",
          "internalCode": "string",
          "susepProcessNumber": "string",
          "LMI": {
            "amount": 2000,
            "currency": "BRL"
          },
          "isLMISublimit": true,
          "termStartDate": "AAAA-MM-DD",
          "termEndDate": "AAAA-MM-DD",
          "isMainCoverage": true,
          "feature": "MASSIFICADOS",
          "type": "PARAMETRICO",
          "gracePeriod": 0,
          "gracePeriodicity": "DIA",
          "gracePeriodCountingMethod": "DIAS_UTEIS",
          "gracePeriodStartDate": "AAAA-MM-DD",
          "gracePeriodEndDate": "AAAA-MM-DD"
        }
      ]
    }
  ],
  "coverages": [
    {
      "branch": 111,
      "code": "RISCOS_DE_PETROLEO",
      "description": "string",
      "deductible": {
        "type": "DEDUTIVEL",
        "typeAdditionalInfo": "string",
        "amount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "period": 10,
        "periodicity": "DIA",
        "periodCountingMethod": "DIAS_UTEIS",
        "periodStartDate": "2022-05-16",
        "periodEndDate": "2022-05-17",
        "description": "Franquia de exemplo"
      },
      "POS": {
        "applicationType": "VALOR",
        "description": "Descrição de exemplo",
        "minValue": {
          "amount": 2000,
          "currency": "BRL"
        },
        "maxValue": {
          "amount": 2000,
          "currency": "BRL"
        },
        "percentage": 10
      }
    }
  ],
  "coinsuranceRetainedPercentage": "10",
  "coinsurers": [
    {
      "identification": "string",
      "cededPercentage": 10
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|documentType|string|true|none|Tipo de Documento Emitido|
|policyId|string|true|none|Identificador da apólice ou bilhete|
|susepProcessNumber|string|false|none|Número SUSEP da apólice, conforme regulamentação vigente (Obrigatório caso apólice com coberturas do ramo Garantia)|
|groupCertificateId|string|false|none|Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)|
|issuanceType|string|true|none|Tipo de Emissão|
|issuanceDate|string(date)|true|none|Data de emissão do documento|
|termStartDate|string(date)|true|none|Data de início de vigência do documento|
|termEndDate|string(date)|true|none|Data de fim de vigência do documento|
|leadInsurerCode|string|false|none|Código da seguradora líder para contratos com arranjo de cosseguro|
|leadInsurerPolicyId|string|false|none|Identificador da apólice seguradora líder para apólice de cosseguro aceito|
|maxLMG|[AmountDetails](#schemaamountdetailspetroleom)|true|none|Limite Máximo de Garantia.|
|proposalId|string|true|none|Identificador da Proposta|
|insureds|[[PersonalInfo](#schemapersonalinfopetroleom)]|true|none|none|
|beneficiaries|[[PersonalInfo](#schemapersonalinfopetroleom)]|false|none|none|
|principals|[[PersonalInfo](#schemapersonalinfopetroleom)]|false|none|none|
|intermediaries|[[Intermediary](#schemaintermediarypetroleon)]|false|none|none|
|insuredObjects|[[InsurancePetroleumInsuredObject](#schemainsurancepetroleuminsuredobject)]|true|none|none|
|coverages|[[InsurancePetroleumCoverage](#schemainsurancepetroleumcoverage)]|false|none|none|
|coinsuranceRetainedPercentage|string|false|none|Percentual Retido em Cosseguro (Quando há cosseguro)|
|coinsurers|[[Coinsurer](#schemacoinsurerpetroleom)]|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|documentType|APOLICE_INDIVIDUAL|
|documentType|BILHETE|
|documentType|CERTIFICADO|
|documentType|APOLICE_INDIVIDUAL_AUTOMOVEL|
|documentType|APOLICE_FROTA_AUTOMOVEL|
|issuanceType|EMISSAO_PROPRIA|
|issuanceType|COSSEGURO_ACEITO|

<h2 id="tocS_PersonalInfoPetroleom">PersonalInfo</h2>
<!-- backwards compatibility -->
<a id="schemapersonalinfopetroleom"></a>
<a id="schema_PersonalInfo"></a>
<a id="tocSpersonalinfo"></a>
<a id="tocspersonalinfo"></a>

```json
{
  "identification": "12345678900",
  "identificationType": "CPF",
  "name": "Nome Sobrenome",
  "postCode": "10000000",
  "email": "string",
  "city": "string",
  "state": "string",
  "country": "BRA",
  "address": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Documento de Identificação da Pessoa|
|identificationType|string|true|none|Tipo de Documento da Pessoa|
|name|string|true|none|Nome ou Razão Social da Pessoa|
|postCode|string|true|none|Código Postal da Pessoa|
|email|string|false|none|E-mail da Pessoa (caso possua)|
|city|string|true|none|Cidade da Pessoa (por extenso)|
|state|string|true|none|Estado da Pessoa (por extenso)|
|country|string|true|none|País da Pessoa (de acordo com o código "alpha3" do ISO-3166)|
|address|string|true|none|Endereço da Pessoa (restante do endereço, excluindo cidade, estado e país)|

#### Enumerated Values

|Property|Value|
|---|---|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_IntermediaryPetroleom">Intermediary</h2>
<!-- backwards compatibility -->
<a id="schemaintermediarypetroleon"></a>
<a id="schema_Intermediary"></a>
<a id="tocSintermediary"></a>
<a id="tocsintermediary"></a>

```json
{
  "type": "REPRESENTANTE",
  "identification": "12345678900",
  "brokerId": "string",
  "identificationType": "CPF",
  "name": "Nome Sobrenome",
  "postCode": "10000000",
  "city": "string",
  "state": "string",
  "country": "BRA",
  "address": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|Tipo do Intermediador|
|identification|string|true|none|Documento de Identificação da Intermediador|
|brokerId|string|false|none|Identificador do Intermediador (Caso Tipo de Intermediador for CORRETOR)|
|identificationType|string|true|none|Tipo de Documento da Intermediador|
|name|string|true|none|Nome ou Razão Social da Intermediador|
|postCode|string|false|none|Código Postal da Intermediador (Caso Tipo de Intermediador for ESTIPULANTE)|
|city|string|false|none|Cidade da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)|
|state|string|false|none|Estado da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)|
|country|string|false|none|País da Intermediador (de acordo com o código "alpha3" do ISO-3166; Caso Tipo de Intermediador for ESTIPULANTE)|
|address|string|false|none|Endereço da Intermediador (restante do do endereço, excluindo cidade, estado e país; Caso Tipo de Intermediador for ESTIPULANTE)|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CORRETOR|
|type|REPRESENTANTE|
|type|ESTIPULANTE|
|type|CORRESPONDENTE|
|type|AGENTE_DE_MICROSSEGUROS|
|type|OUTROS|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_InsurancePetroleumInsuredObject">InsurancePetroleumInsuredObject</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepetroleuminsuredobject"></a>
<a id="schema_InsurancePetroleumInsuredObject"></a>
<a id="tocSinsurancepetroleuminsuredobject"></a>
<a id="tocsinsurancepetroleuminsuredobject"></a>

```json
{
  "identification": "string",
  "type": "CONTRATO",
  "typeAdditionalInfo": "string",
  "description": "string",
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "coverages": [
    {
      "branch": 111,
      "code": "RISCOS_DE_PETROLEO",
      "description": "string",
      "internalCode": "string",
      "susepProcessNumber": "string",
      "LMI": {
        "amount": 2000,
        "currency": "BRL"
      },
      "isLMISublimit": true,
      "termStartDate": "AAAA-MM-DD",
      "termEndDate": "AAAA-MM-DD",
      "isMainCoverage": true,
      "feature": "MASSIFICADOS",
      "type": "PARAMETRICO",
      "gracePeriod": 0,
      "gracePeriodicity": "DIA",
      "gracePeriodCountingMethod": "DIAS_UTEIS",
      "gracePeriodStartDate": "AAAA-MM-DD",
      "gracePeriodEndDate": "AAAA-MM-DD"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificador do objeto segurado. Obs.: Para Fiança Locatícia, é a identificação do Contrato de Locação.|
|type|string|true|none|Tipo do objeto segurado|
|typeAdditionalInfo|string|false|none|Descrição do tipo do objeto segurado(caso tipo de objeto segurado for outros).|
|description|string|true|none|Descrição do objeto segurado|
|amount|[AmountDetails](#schemaamountdetailspetroleom)|true|none|Valor do objeto segurado|
|coverages|[[InsurancePetroleumInsuredObjectCoverage](#schemainsurancepetroleuminsuredobjectcoverage)]|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CONTRATO|
|type|PROCESSO_ADMINISTRATIVO|
|type|PROCESSO_JUDICIAL|
|type|AUTOMOVEL|
|type|CONDUTOR|
|type|OUTROS|

<h2 id="tocS_InsurancePetroleumInsuredObjectCoverage">InsurancePetroleumInsuredObjectCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepetroleuminsuredobjectcoverage"></a>
<a id="schema_InsurancePetroleumInsuredObjectCoverage"></a>
<a id="tocSinsurancepetroleuminsuredobjectcoverage"></a>
<a id="tocsinsurancepetroleuminsuredobjectcoverage"></a>

```json
{
  "branch": 111,
  "code": "RISCOS_DE_PETROLEO",
  "description": "string",
  "internalCode": "string",
  "susepProcessNumber": "string",
  "LMI": {
    "amount": 2000,
    "currency": "BRL"
  },
  "isLMISublimit": true,
  "termStartDate": "AAAA-MM-DD",
  "termEndDate": "AAAA-MM-DD",
  "isMainCoverage": true,
  "feature": "MASSIFICADOS",
  "type": "PARAMETRICO",
  "gracePeriod": 0,
  "gracePeriodicity": "DIA",
  "gracePeriodCountingMethod": "DIAS_UTEIS",
  "gracePeriodStartDate": "AAAA-MM-DD",
  "gracePeriodEndDate": "AAAA-MM-DD"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e Ramo da Cobertura (Conforme regulamentação Susep vigente)|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Obrigatório quando o campo 'Codigo' for preenchido com 'Outras')|
|internalCode|string|false|none|Código interno da cobertura da seguradora(obrigatório se houver)|
|susepProcessNumber|string|true|none|none|
|LMI|[AmountDetails](#schemaamountdetailspetroleom)|true|none|Limite máximo de indenização (LMI)|
|isLMISublimit|boolean|false|none|Limite máximo de indenização (LMI) é sublimite (Caso aplicável)|
|termStartDate|string(date)|true|none|Data de início de vigência da cobertura|
|termEndDate|string(date)|true|none|Data de fim de vigência da cobertura|
|isMainCoverage|boolean|false|none|Cobertura Principal|
|feature|string|true|none|Característica da cobertura|
|type|string|true|none|Tipo de cobertura|
|gracePeriod|integer|false|none|Período de carência. OBS: Obrigatório, se houver|
|gracePeriodicity|string|false|none|Periodicidade da carência. OBS: Obrigatório, se houver|
|gracePeriodCountingMethod|string|false|none|Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver|
|gracePeriodStartDate|string(date)|false|none|Data de início da carência. OBS: Obrigatório, se houver|
|gracePeriodEndDate|string(date)|false|none|Data de fim da carência. OBS: Obrigatório, se houver|

#### Enumerated Values

|Property|Value|
|---|---|
|code|RISCOS_DE_PETROLEO|
|code|OUTRAS|
|feature|MASSIFICADOS|
|feature|MASSIFICADOS_MICROSEGUROS|
|feature|GRANDES_RISCOS|
|type|PARAMETRICO|
|type|INTERMITENTE|
|type|REGULAR_COMUM|
|type|CAPITAL_GLOBAL|
|type|PARAMETRICO_E_INTERMITENTE|
|gracePeriodicity|DIA|
|gracePeriodicity|MES|
|gracePeriodicity|ANO|
|gracePeriodCountingMethod|DIAS_UTEIS|
|gracePeriodCountingMethod|DIAS_CORRIDOS|

<h2 id="tocS_InsurancePetroleumCoverage">InsurancePetroleumCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepetroleumcoverage"></a>
<a id="schema_InsurancePetroleumCoverage"></a>
<a id="tocSinsurancepetroleumcoverage"></a>
<a id="tocsinsurancepetroleumcoverage"></a>

```json
{
  "branch": 111,
  "code": "RISCOS_DE_PETROLEO",
  "description": "string",
  "deductible": {
    "type": "DEDUTIVEL",
    "typeAdditionalInfo": "string",
    "amount": {
      "amount": 2000,
      "currency": "BRL"
    },
    "period": 10,
    "periodicity": "DIA",
    "periodCountingMethod": "DIAS_UTEIS",
    "periodStartDate": "2022-05-16",
    "periodEndDate": "2022-05-17",
    "description": "Franquia de exemplo"
  },
  "POS": {
    "applicationType": "VALOR",
    "description": "Descrição de exemplo",
    "minValue": {
      "amount": 2000,
      "currency": "BRL"
    },
    "maxValue": {
      "amount": 2000,
      "currency": "BRL"
    },
    "percentage": 10
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|deductible|[Deductible](#schemadeductiblepetroleom)|false|none|Informações de franquia|
|POS|[POS](#schemapospetroleom)|false|none|Informações de franquia|

#### Enumerated Values

|Property|Value|
|---|---|
|code|RISCOS_DE_PETROLEO|
|code|OUTRAS|

<h2 id="tocS_DeductiblePetroleom">Deductible</h2>
<!-- backwards compatibility -->
<a id="schemadeductiblepetroleom"></a>
<a id="schema_Deductible"></a>
<a id="tocSdeductible"></a>
<a id="tocsdeductible"></a>

```json
{
  "type": "DEDUTIVEL",
  "typeAdditionalInfo": "string",
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "period": 10,
  "periodicity": "DIA",
  "periodCountingMethod": "DIAS_UTEIS",
  "periodStartDate": "2022-05-16",
  "periodEndDate": "2022-05-17",
  "description": "Franquia de exemplo"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo de Franquia|
|typeAdditionalInfo|string|false|none|Descriçao do Tipo de Franquia (Caso Tipo de Franquia for "OUTROS")|
|amount|[AmountDetails](#schemaamountdetailspetroleom)|true|none|Valor da Franquia|
|period|integer|true|none|Prazo da Franquia|
|periodicity|string|true|none|Periodicidade da Franquia|
|periodCountingMethod|string|false|none|Indicador de Dias Úteis ou Corridos (Caso aplicável)|
|periodStartDate|string(date)|true|none|Data de Início da Franquia|
|periodEndDate|string(date)|true|none|Data de Fim da Franquia|
|description|string|true|none|Descrição da Franquia|

#### Enumerated Values

|Property|Value|
|---|---|
|type|REDUZIDA|
|type|NORMAL|
|type|MAJORADA|
|type|DEDUTIVEL|
|type|OUTROS|
|periodicity|DIA|
|periodicity|MES|
|periodicity|ANO|
|periodCountingMethod|DIAS_UTEIS|
|periodCountingMethod|DIAS_CORRIDOS|

<h2 id="tocS_POSPetroleom">POS</h2>
<!-- backwards compatibility -->
<a id="schemapospetroleom"></a>
<a id="schema_POS"></a>
<a id="tocSpos"></a>
<a id="tocspos"></a>

```json
{
  "applicationType": "VALOR",
  "description": "Descrição de exemplo",
  "minValue": {
    "amount": 2000,
    "currency": "BRL"
  },
  "maxValue": {
    "amount": 2000,
    "currency": "BRL"
  },
  "percentage": "10"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|applicationType|string|true|none|Forma de Aplicação do POS|
|description|string|true|none|Descrição do POS|
|minValue|[AmountDetails](#schemaamountdetailspetroleom)|false|none|Valor Mínimo do POS|
|maxValue|[AmountDetails](#schemaamountdetailspetroleom)|false|none|Valor Máximo do POS|
|percentage|string|false|none|Percentual do POS|

#### Enumerated Values

|Property|Value|
|---|---|
|applicationType|VALOR|
|applicationType|PERCENTUAL|
|applicationType|OUTROS|

<h2 id="tocS_CoinsurerPetroleom">Coinsurer</h2>
<!-- backwards compatibility -->
<a id="schemacoinsurerpetroleom"></a>
<a id="schema_Coinsurer"></a>
<a id="tocScoinsurer"></a>
<a id="tocscoinsurer"></a>

```json
{
  "identification": "string",
  "cededPercentage": "10"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificação da congênere, cessionário do cosseguro. Obs: Obrigatório quando há cosseguro|
|cededPercentage|string|true|none|Percentual cedido para a congênere para contratos de cosseguro cedido. Obs: Obrigatório quando há cosseguro|

<h2 id="tocS_ResponseInsurancePetroleumPremium">ResponseInsurancePetroleumPremium</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepetroleumpremium"></a>
<a id="schema_ResponseInsurancePetroleumPremium"></a>
<a id="tocSresponseinsurancepetroleumpremium"></a>
<a id="tocsresponseinsurancepetroleumpremium"></a>

```json
{
  "data": {
    "paymentsQuantity": 4,
    "amount": {
      "amount": 2000,
      "currency": "BRL"
    },
    "coverages": [
      {
        "branch": 111,
        "code": "RISCOS_DE_PETROLEO",
        "description": "string",
        "premiumAmount": {
          "amount": 2000,
          "currency": "BRL"
        }
      }
    ],
    "payments": [
      {
        "movementDate": "AAAA-MM-DD",
        "movementType": "LIQUIDACAO_DE_PREMIO",
        "movementOrigin": "EMISSAO_DIRETA",
        "movementPaymentsNumber": 0,
        "amount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "maturityDate": "AAAA-MM-DD",
        "tellerId": "string",
        "tellerIdType": "CPF",
        "tellerName": "string",
        "financialInstitutionCode": "string",
        "paymentType": "BOLETO"
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsurancePetroleumPremium](#schemainsurancepetroleumpremium)|true|none|none|
|links|[Links](#schemalinkspetroleom)|true|none|none|
|meta|[Meta](#schemametapetroleom)|true|none|none|

<h2 id="tocS_InsurancePetroleumPremium">InsurancePetroleumPremium</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepetroleumpremium"></a>
<a id="schema_InsurancePetroleumPremium"></a>
<a id="tocSinsurancepetroleumpremium"></a>
<a id="tocsinsurancepetroleumpremium"></a>

```json
{
  "paymentsQuantity": 4,
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "coverages": [
    {
      "branch": 111,
      "code": "RISCOS_DE_PETROLEO",
      "description": "string",
      "premiumAmount": {
        "amount": 2000,
        "currency": "BRL"
      }
    }
  ],
  "payments": [
    {
      "movementDate": "AAAA-MM-DD",
      "movementType": "LIQUIDACAO_DE_PREMIO",
      "movementOrigin": "EMISSAO_DIRETA",
      "movementPaymentsNumber": 0,
      "amount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "maturityDate": "AAAA-MM-DD",
      "tellerId": "string",
      "tellerIdType": "CPF",
      "tellerName": "string",
      "financialInstitutionCode": "string",
      "paymentType": "BOLETO"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentsQuantity|number|true|none|Quantidade de parcelas do prêmio do contrato|
|amount|[AmountDetails](#schemaamountdetailspetroleom)|true|none|Valor total do prêmio do contrato|
|coverages|[[InsurancePetroleumPremiumCoverage](#schemainsurancepetroleumpremiumcoverage)]|true|none|none|
|payments|[[Payment](#schemapaymentpetroleom)]|true|none|none|

<h2 id="tocS_InsurancePetroleumPremiumCoverage">InsurancePetroleumPremiumCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepetroleumpremiumcoverage"></a>
<a id="schema_InsurancePetroleumPremiumCoverage"></a>
<a id="tocSinsurancepetroleumpremiumcoverage"></a>
<a id="tocsinsurancepetroleumpremiumcoverage"></a>

```json
{
  "branch": 111,
  "code": "RISCOS_DE_PETROLEO",
  "description": "string",
  "premiumAmount": {
    "amount": 2000,
    "currency": "BRL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|premiumAmount|[AmountDetails](#schemaamountdetailspetroleom)|true|none|Valor de Prêmio da Cobertura|

#### Enumerated Values

|Property|Value|
|---|---|
|code|RISCOS_DE_PETROLEO|
|code|OUTRAS|

<h2 id="tocS_PaymentPetroleom">Payment</h2>
<!-- backwards compatibility -->
<a id="schemapaymentpetroleom"></a>
<a id="schema_Payment"></a>
<a id="tocSpayment"></a>
<a id="tocspayment"></a>

```json
{
  "movementDate": "AAAA-MM-DD",
  "movementType": "LIQUIDACAO_DE_PREMIO",
  "movementOrigin": "EMISSAO_DIRETA",
  "movementPaymentsNumber": 0,
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "maturityDate": "AAAA-MM-DD",
  "tellerId": "string",
  "tellerIdType": "CPF",
  "tellerName": "string",
  "financialInstitutionCode": "string",
  "paymentType": "BOLETO"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|movementDate|string(date)|true|none|Data do movimento de prêmio|
|movementType|string|true|none|Tipo do Movimento|
|movementOrigin|string|false|none|Origem do Movimento. Obs: Obrigatório caso Tipo de Movimento for LIQUIDACAO_DE_PREMIO e ESTORNO_DE_PREMIO|
|movementPaymentsNumber|number|true|none|Identificador da parcela do movimento|
|amount|[AmountDetails](#schemaamountdetailspetroleom)|true|none|Valor da parcela|
|maturityDate|string(date)|true|none|Data de Vencimento da Parcela|
|tellerId|string|false|none|Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|tellerIdType|string|false|none|Tipo do Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|tellerName|string|false|none|Nome ou Razão Social do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|financialInstitutionCode|string|false|none|Código da Instituição Financeiro do Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|paymentType|string|false|none|Meio de Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|

#### Enumerated Values

|Property|Value|
|---|---|
|movementType|LIQUIDACAO_DE_PREMIO|
|movementType|LIQUIDACAO_DE_RESTITUICAO_DE_PREMIO|
|movementType|LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|movementType|LIQUIDACAO_DE_RESTITUICAO_DE_CUSTO_DE_AQUISICAO|
|movementType|ESTORNO_DE_PREMIO|
|movementType|ESTORNO_DE_RESTITUICAO_DE_PREMIO|
|movementType|ESTORNO_DE_CUSTO_DE_AQUISICAO|
|movementType|EMISSAO_DE_PREMIO|
|movementType|CANCELAMENTO_DE_PARCELA|
|movementType|EMISSAO_DE_RESTITUICAO_DE_PREMIO|
|movementType|REABERTURA_DE_PARCELA|
|movementType|BAIXA_POR_PERDA|
|movementOrigin|EMISSAO_DIRETA|
|movementOrigin|EMISSAO_ACEITA_DE_COSSEGURO|
|movementOrigin|EMISSAO_CEDIDA_DE_COSSEGURO|
|tellerIdType|CPF|
|tellerIdType|CNPJ|
|tellerIdType|OUTROS|
|paymentType|BOLETO|
|paymentType|TED|
|paymentType|TEF|
|paymentType|CARTAO|
|paymentType|DOC|
|paymentType|CHEQUE|
|paymentType|DESCONTO_EM_FOLHA|
|paymentType|PIX|
|paymentType|DINHEIRO_EM_ESPECIE|
|paymentType|OUTROS|

<h2 id="tocS_ResponseInsurancePetroleumClaims">ResponseInsurancePetroleumClaims</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancepetroleumclaims"></a>
<a id="schema_ResponseInsurancePetroleumClaims"></a>
<a id="tocSresponseinsurancepetroleumclaims"></a>
<a id="tocsresponseinsurancepetroleumclaims"></a>

```json
{
  "data": [
    {
      "identification": "string",
      "documentationDeliveryDate": "AAAA-MM-DD",
      "status": "ABERTO",
      "statusAlterationDate": "AAAA-MM-DD",
      "occurrenceDate": "AAAA-MM-DD",
      "warningDate": "AAAA-MM-DD",
      "thirdPartyClaimDate": "AAAA-MM-DD",
      "amount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "denialJustification": "RISCO_EXCLUIDO",
      "denialJustificationDescription": "string",
      "coverages": [
        {
          "insuredObjectId": "string",
          "branch": 111,
          "code": "RISCOS_DE_PETROLEO",
          "description": "string",
          "warningDate": "2022-05-01",
          "thirdPartyClaimDate": "2022-05-01"
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InsurancePetroleumClaim](#schemainsurancepetroleumclaim)]|true|none|none|
|links|[Links](#schemalinkspetroleom)|true|none|none|
|meta|[Meta](#schemametapetroleom)|true|none|none|

<h2 id="tocS_InsurancePetroleumClaim">InsurancePetroleumClaim</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepetroleumclaim"></a>
<a id="schema_InsurancePetroleumClaim"></a>
<a id="tocSinsurancepetroleumclaim"></a>
<a id="tocsinsurancepetroleumclaim"></a>

```json
{
  "identification": "string",
  "documentationDeliveryDate": "AAAA-MM-DD",
  "status": "ABERTO",
  "statusAlterationDate": "AAAA-MM-DD",
  "occurrenceDate": "AAAA-MM-DD",
  "warningDate": "AAAA-MM-DD",
  "thirdPartyClaimDate": "AAAA-MM-DD",
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "denialJustification": "RISCO_EXCLUIDO",
  "denialJustificationDescription": "string",
  "coverages": [
    {
      "insuredObjectId": "string",
      "branch": 111,
      "code": "RISCOS_DE_PETROLEO",
      "description": "string",
      "warningDate": "2022-05-01",
      "thirdPartyClaimDate": "2022-05-01"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificador do processo de sinistro|
|documentationDeliveryDate|string(date)|true|none|Data de entrega da documentação completa|
|status|string|true|none|Status do sinistro|
|statusAlterationDate|string(date)|true|none|Data de alteração do status do sinistro|
|occurrenceDate|string(date)|true|none|Data de ocorrência do sinistro|
|warningDate|string(date)|true|none|Data de aviso do sinistro|
|thirdPartyClaimDate|string(date)|false|none|Data de reclamação do terceiro|
|amount|[AmountDetails](#schemaamountdetailspetroleom)|true|none|Valor total bruto do sinistro considerando todos os movimentos e suas reavaliações. Não devem ser considerados valores de deduções (por exemplo, redutores e ressarcimento salvado)|
|denialJustification|string|false|none|Justificativa da Negativa(Caso Status do Sinistro for 'ENCERRADO_SEM_INDENIZACAO')|
|denialJustificationDescription|string|false|none|Descrição da Justificativa da Negativa(Caso Justificativa da Negativa for 'OUTROS')|
|coverages|[[InsurancePetroleumClaimCoverage](#schemainsurancepetroleumclaimcoverage)]|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|status|ABERTO|
|status|ENCERRADO_COM_INDENIZACAO|
|status|ENCERRADO_SEM_INDENIZACAO|
|status|REABERTO|
|status|CANCELADO_POR_ERRO_OPERACIONAL|
|status|AVALIACAO_INICIAL|
|denialJustification|RISCO_EXCLUIDO|
|denialJustification|RISCO_AGRAVADO|
|denialJustification|SEM_DOCUMENTACAO|
|denialJustification|DOCUMENTACAO_INCOMPLETA|
|denialJustification|PRESCRICAO|
|denialJustification|FORA_COBERTURA|
|denialJustification|OUTROS|

<h2 id="tocS_InsurancePetroleumClaimCoverage">InsurancePetroleumClaimCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsurancepetroleumclaimcoverage"></a>
<a id="schema_InsurancePetroleumClaimCoverage"></a>
<a id="tocSinsurancepetroleumclaimcoverage"></a>
<a id="tocsinsurancepetroleumclaimcoverage"></a>

```json
{
  "insuredObjectId": "string",
  "branch": 111,
  "code": "RISCOS_DE_PETROLEO",
  "description": "string",
  "warningDate": "2022-05-01",
  "thirdPartyClaimDate": "2022-05-01"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|insuredObjectId|string|false|none|Identificador do Objeto Segurado (Caso aplicável)|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|warningDate|string(date)|false|none|Data de Aviso do Sinistro por Cobertura (Caso aplicável)|
|thirdPartyClaimDate|string(date)|false|none|Data de Reclamação do Terceiro por Cobertura (Caso aplicável)|

#### Enumerated Values

|Property|Value|
|---|---|
|code|RISCOS_DE_PETROLEO|
|code|OUTRAS|

<h2 id="tocS_AmountDetailsPetroleom">AmountDetails</h2>
<!-- backwards compatibility -->
<a id="schemaamountdetailspetroleom"></a>
<a id="schema_AmountDetails"></a>
<a id="tocSamountdetails"></a>
<a id="tocsamountdetails"></a>

```json
{
  "amount": 2000,
  "unit": {
    "code": "R$", 
    "description": "BRL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|string|true|none|none|
|unit|object|true|none|Moeda da Parcela, de acordo com ISO-4217.|

<h2 id="tocS_LinksPetroleom">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinkspetroleom"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
  "first": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
  "prev": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
  "next": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum",
  "last": "https://api.organizacao.com.br/open-insurance/insurance-petroleum/v1/insurance-petroleum"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaPetroleom">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametapetroleom"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorPetroleom">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametapetroleom)|false|none|none|

<h2 id="tocS_XFapiInteractionIdPetroleom">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionid"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

