Esta seção explica as etapas para cadastrar os endpoints de
recursos de uma API.

#### CADASTRAMENTO DE RECURSOS FASE 1

Para cada uma das famílias de APIs devem ser adicionados todos os endpoints disponíveis. Supondo que a instituição tenha disponibilizado dados em todos os endpoints da fase 1, a publicação deveria ser:


#### CADASTRAMENTO DE RECURSOS FASE 2

Na Fase 2 o padrão de cadastramento continua como na Fase 1, segue alguns pontos de atenção:<br/>• A API de consentimento é necessário apenas o cadastramento de uma entrada para o GET e o DELETE;<br/>• A API de customers foi dividida em duas famílias para facilitar o consumos pelos receptores. Customers-business onde é cadastrado os Endpoints PJ e customers-personal onde será cadastrado os endpoints PF. Cabendo aqui o cadastramento conforme a disponibilização do produto pela instituição;<br/>• O cadastramento de recursos deve respeitar a tabela de etapas da implementação assistida, conforme IN BCB n° 136 de 29/7/2021.


*Exemplo de preenchimento, levando em consideração que a instituição disponibilize tanto PF e PJ e o inicio da implementação assistida

#### CADASTRAMENTO DE RECURSOS FASE 3

Na Fase 3 o padrão de segue alguns pontos de atenção:<br/>• A API de payments foi dividida para facilitar o consumo pelos iniciadores.<br/>• Na família de payments-consents devem ser declarados os endpoints de consentimento.<br/>• Na família de payments-pix devem ser declarado sos endpoints da forma de pagamento PIX.<br/>• Demais formas de pagamentos devem ser cadastradas conforme as especificações avancem.


*Exemplo de preenchimento

#### TABELA EXEMPLO RECURSOS FASE 1

API | Diretório (Family Type) | Recursos (resources)
--|--|--
discovery | discovery | https://api.organizacao.com.br/open-insurance/discovery/v1/status<br/>https://api.organizacao.com.br/open-insurance/discovery/v1/outages
data_channels | data_channels | https://api.organizacao.com.br/open-insurance/data_channels/v1/electronic-channels<br/>https://api.organizacao.com.br/open-insurance/data_channels/v1/branches<br/>https://api.organizacao.com.br/open-insurance/data_channels/v1/phone-channels
admin_metrics | admin_metrics | https://api.organizacao.com.br/open-insurance/admin_metrics/v1/admin_metrics


<br/><br/>

#### TABELA EXEMPLO RECURSOS FASE 2

API | Diretório (Family Type) | Recursos (resources)
--|--|--
resources | resources |  https://api.organizacao.com.br/open-insurance/resources/v1/
customers | customers | https://api.organizacao.com.br/open-insurance/customers/v1/personal/identifications<br/>https://api.organizacao.com.br/open-insurance/customers/v1/business/identifications<br/>


ETAPA 1: Cadastrando um novo recurso de uma API


![](../../../../images/manualDiretorio/CadastrandoRecursos1.png)

![](../../../../images/manualDiretorio/CadastrandoRecursos2.png)

![](../../../../images/manualDiretorio/CadastrandoRecursos3.png)

#### REQUISITOS

1. No Diretório, localize e selecione a sua organização.
2. Selecione o menu *Authorisation Servers* e clique no link do servidor de autorização na qual se deseja cadastrar os recursos.
3. No canto superior esquerdo da página clique em *API Resources*.
4. Na página que será carregada clique no botão *New API Resources* para abrir a janela *New API Resource*.
5. Na janela *New API Resource*, clique na caixa de seleção API Family Type e selecione uma das opções disponíveis.
6. No campo ao lado, em *Version* especifique o valor apropriado utilizando versionamento
semântico (major.minor.patch, exemplo: 1.0.7)
7. No campo *Certification URI* é necessário informar a URI onde se encontra a localização do certificado publicado no GitHub. Esse preenchimento é obrigatório para famílias de APIs a partir da Fase 2.
8. Clique no botão *Save*.

Nota 1: A URI a ser informada deve ser a presente no GitHub (???)
no caminho conformance > submissions/functional selecionando a API especifica e informar a URI com o artefato de certificação .zip.

Exemplo:
???
<family-type>/<version>/<file-name>.zip

Nota 2: No ambiente de Sandbox do Diretório, caso não exista uma certificação, é possível incluir um endereço para testes: https://openinsurance-brasil.github.io/teste.zip

9. De volta a tela *API Resources*, informe URI principal no campo *API Discovery Endpoints*, e em seguida pressione a tecla Enter.
10. Para cada uma das famílias de APIs repita os passos 4 a 8.

Nota: Todos os *endpoints* deverão ser preenchidos, incluindo os respectivos recursos. Para obter mais detalhes sobre o padrão do *endpoints* e versão consulte o <a target="_blank" href="https://br-openinsurance.github.io/areadesenvolvedor/#api-auto-v100-permissions-necessarias-para-a-api-insuranceauto"> Portal do Desenvolvedor do Open Insurance </a>

<!--
#### CADASTRAMENTO DE RECURSOS FASE 4A

Na Fase 4A o padrão de cadastro segue alguns pontos de atenção:
• O cadastro das APIs deve ser realizado individualmente, para cada um dos recursos/endpoints existirá um tipo
de família (Family Type)
• Diferente das outras famílias, ao requisitar o cadastro dessas APIs, será executado um teste de conformidade
funcional que verificará a conformidade da API com a especificação do Swagger
• O diretório só permitirá o cadastro da API caso o teste de conformidade seja bem sucedido
• Semelhante a Fase 1, a publicação do recurso é condiciona a IF possuir tal produto, logo, não necessariamente
todos os recursos precisam ser publicados
*Exemplo de preenchimento

#### TABELA EXEMPLO RECURSOS FASE 4A

API | Diretório (Family Type) | Recursos (resources)
--|--|--
opendata-investments |opendata-investments_funds<br/>opendata-investments_bank-fixed-incomes<br/>opendata-investments_credit-fixed-incomes<br/>opendata-investments_variable-incomes<br/>opendata-investments_treasure-titles | ?
opendata-capitalization | opendata-capitalization_bonds | ?
opendata-exchange |opendata-exchange_online-rates<br/>opendata-exchange_vet-values | ?
opendata-acquiring-services |opendata-acquiring-services_personals<br/>opendata-acquiring-services_businesses | ?
opendata-pension |opendata-pension_risk-coverages<br/>opendata-pension_survival-coverages | ?
opendata-insurance | opendata-insurance_automotives<br/>opendata-insurance_homes<br/>opendata-insurance_personals | ?


ETAPA 2: Cadastrando um novo recursos de uma API com certificação automática - Fase 4A

#### REQUISITOS

1. No Diretório, localize e selecione a sua
organização.
2. Selecione o menu Authorisation Servers e clique no link do servidor de autorização na qual se deseja cadastrar os recursos.
3. No lado esquerdo da tela clique em API Resources
4. Clique no botão New API Resources para abrir a janela New API Resource
5. Na janela New API Resource, clique na caixa de seleção API Family Type e selecione uma das opções disponíveis que possuem certificação automática
6. No campo ao lado, em Version especifique o valor da versão da API conforme especificação
7. No campo THE URI FOR THE API é necessário
informar a URI referente ao recurso da API a ser registrado
8. A URI da API deve seguir o formato especificado no portal do desenvolvedor, caso contrário o diretório irá retornar um erro, não permitindo a continuidade do cadastro
9. Ao selecionar Save uma janela irá aparecer informando que ao pressionar OK um teste de conformidade será executado contra o recurso preenchido acima

Nota 1: O valor informado no campo THE URI FOR THE API é a URI contra a qual o teste será executado.
Nota 2: Caso o teste de conformidade não seja bem sucedido é possível consultar os logs de execução do teste que impediu a publicação da API. Para isso basta copiar a URI apresentada na mensagem de erro e colar
na barra do navegador.
11. Caso a execução seja mal sucedida, é possível consultar os detalhes que geraram a falha em View Logs.
12. Caso o teste seja bem sucedido, a nova API será adicionada automaticamente a tabela de recursos do Authorisation Server
13. A coluna referente a API CERTIFICATION URI também será preenchida automaticamente e
apresentada na tabela.
14. Caso seja necessário atualizar a URI do recurso adicionado basta clicar no botão editar ou em apagar.

Nota 1: Para mais detalhes sobre a certificação das APIs consultar o menu Certificação de Conformidade no portal do desenvolvedor.

Nota 2: O Campo API CERTIFICATION URI estará
preenchido com o link para o teste de conformidade executado com sucesso no momento do registro da API.

Nota 3: Qualquer edição desse cadastro iniciará uma nova execução do teste.

-->
