O Open Insurance, ou Sistema de Seguros Aberto, é a possibilidade de consumidores de produtos e serviços de seguros, previdência complementar aberta e capitalização permitirem o compartilhamento de suas informações entre diferentes sociedades autorizadas/credenciadas pela Susep, de forma segura, ágil, precisa e conveniente. Para entregar esses benefícios ao consumidor, o Open Insurance operacionaliza e padroniza o compartilhamento de dados e serviços por meio de abertura e integração de sistemas, com privacidade e segurança.
 <a target="_blank" href="https://www.gov.br/susep/pt-br/assuntos/open-insurance">Acesse o site oficial da SUSEP</a>
<br>
#### ANTES DE COMEÇAR
Esse guia tem como objetivo demostrar de forma prática a operação do Diretório Central do Open Insurance Brasil. Além disso, ele é complementar a outras documentações disponibilizadas pela governança e não faz parte do escopo de quaisquer detalhamentos relacionados a experiência do usuário e desenvolvedor, definições de segurança e especificação de APIs.

Todas as funcionalidades estão disponíveis em sandbox e podem ser testadas em: https://web.sandbox.directory.opinbrasil.com.br/

Procedimentos em produção pendentes serão disponibilizados assim que possível. As ações aqui apresentadas podem ser realizadas tanto por administradores quanto por contatos técnicos primários e secundários.

Para ilustrar este guia e tentar deixar as situações de uso mais palpáveis, foram criadas instituições e telas fictícias.

* **As instituições e marcas não são reais.**
* **As telas desenvolvidas, os softwares e sites são meramente ilustrativos**, para que seja possível ver um exemplo de como os requisitos e as recomendações podem ser aplicados em situações de uso real.
* **Nomenclaturas e imagens ilustrativas estão descritas na língua inglesa**, devido sua ampla abrangência e por conter terminologia técnica que em algumas situações não dispõe de tradução literal. O ajuste do idioma no Diretório fica a critério do usuário, podendo ser ajustado a qualquer momento.
<br>
#### TIPOS DE USUÁRIOS
Neste exemplo, mostramos as diversas possibilidades suportadas de atribuições de função para um usuário cadastrado no Diretório.
|   |   |   |
|---|---|---|
|![](../../../../images/manualDiretorio/md_1.png)|Público|O Diretório possibilita o cadastramento de usuários sem vínculos com nenhuma instituição. Esse tipo de usuário não tem nenhum acesso ou poder no Diretório. O cadastramento de um usuário relacionado a um participante, até que não seja feito o vinculo no Diretório, possui essas mesmas características.|
|![](../../../../images/manualDiretorio/md_2.png)|Administrativo|Usuários com poderes de administração no Diretório, podendo realizar todas ações.|
|![](../../../../images/manualDiretorio/md_3.png)|Operação|Usuários com poderes específicos no Diretório.|
|![](../../../../images/manualDiretorio/md_4.png)|Plataforma|Usuários para gestão e operação das plataformas do ecossistema, como o Service Desk, Portal, Plataforma de Resolução de Disputas e Plataforma Centralizada (Ressarcimento).|
<br>
#### RELAÇÃO ORGANIZAÇÃO X MARCAS
Neste exemplo, mostramos as diversas possibilidades suportadas para se realizar cadastros de organizações no Diretório. Assim, **uma organização pode ser cadastrada de forma independente ou pertencente a um conglomerado**. Já as marcas são uma forma mais amigável, democrática e fácil para identificação das instituições participantes. **Uma Marca de um conglomerado pode estar correlacionada a mais de uma Instituição Participante**, assim como uma Instituição Participante pode estar correlacionada a mais de uma marca. 

**Importante**: a Marca cadastrada no diretório será a mesma apresentada para escolha do usuário na Jornada de Compartilhamento de Dados e Iniciação de Pagamentos. As Instituições Participantes (ou organizações) também serão apresentadas em tela, apenas em caráter informativo. Para maiores detalhes, consulte o Guia de Experiência do Usuário.
![](../../../../images/manualDiretorio/md_5.png)

#### PONTOS DE ATENÇÃO NO CADASTRAMENTO DE MARCA/AUTHORISATION SERVER