<h2 id="tocS_ResponseBranchesList">ResponseBranchesList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsebrancheslist"></a>
<a id="schema_ResponseBranchesList"></a>
<a id="tocSresponsebrancheslist"></a>
<a id="tocsresponsebrancheslist"></a>

```json
{
  "data": {
    "brand": {
      "name": "Organização AZ",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "branches": [
            {
              "identification": {
                "type": "POSTO_ATENDIMENTO",
                "code": 1,
                "checkDigit": 9,
                "name": "Marília"
              },
              "postalAddress": {
                "address": "Av Naburo Ykesaki 1270, bloco 35, fundos",
                "additionalInfo": "Loja B",
                "districtName": "Centro",
                "townName": "São Paulo",
                "ibgeCode": 3550308,
                "countrySubDivision": "SP",
                "postCode": "17500-001",
                "country": "Brasil",
                "countryCode": "BRA",
                "geographicCoordinates": {
                  "latitude": "-90.8365180",
                  "longitude": "-180.836519"
                }
              },
              "availability": {
                "standards": [
                  {
                    "weekday": "SEGUNDA_FEIRA",
                    "openingTime": "10:00:57Z",
                    "closingTime": "16:00:57Z"
                  }
                ],
                "isPublicAccessAllowed": true
              },
              "phones": [
                {
                  "type": "FIXO",
                  "countryCallingCode": "55",
                  "areaCode": "19",
                  "number": "35721199"
                }
              ],
              "services": [
                {
                  "name": "ENDOSSO",
                  "code": "05"
                }
              ]
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/channels/v1/<resource>",
    "first": "https://api.organizacao.com.br/open-insurance/channels/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.organizacao.com.br/open-insurance/channels/v1/<resource>"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[BranchesBrand](#schemabranchesbrand)|true|none|none|
|links|[LinksPaginated](#schemalinkspaginated)|true|none|none|
|meta|[MetaPaginated](#schemametapaginated)|true|none|none|

<h2 id="tocS_BranchesBrand">BranchesBrand</h2>
<!-- backwards compatibility -->
<a id="schemabranchesbrand"></a>
<a id="schema_BranchesBrand"></a>
<a id="tocSbranchesbrand"></a>
<a id="tocsbranchesbrand"></a>

```json
{
  "name": "Organização AZ",
  "companies": [
    {
      "name": "Empresa A1",
      "cnpjNumber": "45086338000178",
      "branches": [
        {
          "identification": {
            "type": "POSTO_ATENDIMENTO",
            "code": 1,
            "checkDigit": 9,
            "name": "Marília"
          },
          "postalAddress": {
            "address": "Av Naburo Ykesaki 1270, bloco 35, fundos",
            "additionalInfo": "Loja B",
            "districtName": "Centro",
            "townName": "São Paulo",
            "ibgeCode": 3550308,
            "countrySubDivision": "SP",
            "postCode": "17500-001",
            "country": "Brasil",
            "countryCode": "BRA",
            "geographicCoordinates": {
              "latitude": "-90.8365180",
              "longitude": "-180.836519"
            }
          },
          "availability": {
            "standards": [
              {
                "weekday": "SEGUNDA_FEIRA",
                "openingTime": "10:00:57Z",
                "closingTime": "16:00:57Z"
              }
            ],
            "isPublicAccessAllowed": true
          },
          "phones": [
            {
              "type": "FIXO",
              "countryCallingCode": "55",
              "areaCode": "19",
              "number": "35721199"
            }
          ],
          "services": [
            {
              "name": "ENDOSSO",
              "code": "05"
            }
          ]
        }
      ]
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[[BranchesCompany](#schemabranchescompany)]|true|none|Companies traz uma lista de todas as instuituições da Marca.|

<h2 id="tocS_BranchesCompany">BranchesCompany</h2>
<!-- backwards compatibility -->
<a id="schemabranchescompany"></a>
<a id="schema_BranchesCompany"></a>
<a id="tocSbranchescompany"></a>
<a id="tocsbranchescompany"></a>

```json
{
  "name": "Empresa A1",
  "cnpjNumber": "45086338000178",
  "branches": [
    {
      "identification": {
        "type": "POSTO_ATENDIMENTO",
        "code": 1,
        "checkDigit": 9,
        "name": "Marília"
      },
      "postalAddress": {
        "address": "Av Naburo Ykesaki 1270, bloco 35, fundos",
        "additionalInfo": "Loja B",
        "districtName": "Centro",
        "townName": "São Paulo",
        "ibgeCode": 3550308,
        "countrySubDivision": "SP",
        "postCode": "17500-001",
        "country": "Brasil",
        "countryCode": "BRA",
        "geographicCoordinates": {
          "latitude": "-90.8365180",
          "longitude": "-180.836519"
        }
      },
      "availability": {
        "standards": [
          {
            "weekday": "SEGUNDA_FEIRA",
            "openingTime": "10:00:57Z",
            "closingTime": "16:00:57Z"
          }
        ],
        "isPublicAccessAllowed": true
      },
      "phones": [
        {
          "type": "FIXO",
          "countryCallingCode": "55",
          "areaCode": "19",
          "number": "35721199"
        }
      ],
      "services": [
        {
          "name": "ENDOSSO",
          "code": "05"
        }
      ]
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|none|
|cnpjNumber|string|true|none|Número completo do CNPJ da instituição responsável pela dependência - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica.<br>Deve-se ter apenas os números do CNPJ, sem máscara|
|branches|[[Branch](#schemabranch)]|false|none|Lista de Dependências de uma Instituição|