<h2 id="tocS_ResponsePhoneChannelsList">ResponsePhoneChannelsList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsephonechannelslist"></a>
<a id="schema_ResponsePhoneChannelsList"></a>
<a id="tocSresponsephonechannelslist"></a>
<a id="tocsresponsephonechannelslist"></a>

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-insurance",
          "phoneChannels": [
            {
              "identification": {
                "type": "CENTRAL_TELEFONICA",
                "phones": [
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "35721199"
                  },
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "997865532"
                  }
                ]
              },
              "services": [
                {
                  "name": "ALTERACACOES_FORMA_PAGAMENTO",
                  "code": "01"
                },
                {
                  "name": "AVISO_SINISTRO",
                  "code": "02"
                },
                {
                  "name": "ENDOSSO",
                  "code": "05"
                }
              ]
            },
            {
              "identification": {
                "type": "SAC",
                "phones": [
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "40044828"
                  },
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "40044828"
                  },
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "40044828"
                  }
                ]
              },
              "services": [
                {
                  "name": "RECLAMACAO",
                  "code": "16"
                },
                {
                  "name": "PORTABILIDADE",
                  "code": "15"
                },
                {
                  "name": "ENDOSSO",
                  "code": "05"
                }
              ]
            },
            {
              "identification": {
                "type": "OUVIDORIA",
                "phones": [
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "40045555"
                  },
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "40045555"
                  },
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "40045555"
                  }
                ]
              },
              "services": [
                {
                  "name": "RECLAMACAO",
                  "code": "16"
                },
                {
                  "name": "PORTABILIDADE",
                  "code": "15"
                }
              ]
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/channels/v1/phone-channels",
    "first": "https://api.organizacao.com.br/open-insurance/channels/v1/phone-channels",
    "prev": "null",
    "next": "null",
    "last": "https://api.organizacao.com.br/open-insurance/channels/v1/phone-channels"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[PhoneChannelsBrand](#schemaphonechannelsbrand)|true|none|none|
|links|[LinksPaginated](#schemalinkspaginated_data_channels)|true|none|none|
|meta|[MetaPaginated](#schemametapaginated)|true|none|none|

<h2 id="tocS_PhoneChannelsBrand">PhoneChannelsBrand</h2>
<!-- backwards compatibility -->
<a id="schemaphonechannelsbrand"></a>
<a id="schema_PhoneChannelsBrand"></a>
<a id="tocSphonechannelsbrand"></a>
<a id="tocsphonechannelsbrand"></a>

```json
{
  "name": "Marca A",
  "companies": [
    {
      "name": "Empresa da Marca A",
      "cnpjNumber": "45086338000178",
      "phoneChannels": [
        {
          "identification": {
            "type": "OUVIDORIA",
            "phones": [
              {
                "countryCallingCode": "55",
                "areaCode": "19",
                "number": "08007787788"
              }
            ]
          },
          "services": [
            {
              "name": "AVISO_SINISTRO",
              "code": "01"
            }
          ],
          "availability": {
            "standards": [
              {
                "weekday": "SEGUNDA_FEIRA",
                "openingTime": "10:00:57Z",
                "closingTime": "16:00:57Z"
              }
            ]
          }
        }
      ]
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' utilizada está em definição pelos participantes.|
|companies|[[PhoneChannelsCompanies](#schemaphonechannelscompanies)]|true|none|Lista de instituições pertencentes à marca|

<h2 id="tocS_PhoneChannelsCompanies">PhoneChannelsCompanies</h2>
<!-- backwards compatibility -->
<a id="schemaphonechannelscompanies"></a>
<a id="schema_PhoneChannelsCompanies"></a>
<a id="tocSphonechannelscompanies"></a>
<a id="tocsphonechannelscompanies"></a>

```json
{
  "name": "Empresa da Marca A",
  "cnpjNumber": "45086338000178",
  "phoneChannels": [
    {
      "identification": {
        "type": "OUVIDORIA",
        "phones": [
          {
            "countryCallingCode": "55",
            "areaCode": "19",
            "number": "08007787788"
          }
        ]
      },
      "services": [
        {
          "name": "AVISO_SINISTRO",
          "code": "01"
        }
      ],
      "availability": {
        "standards": [
          {
            "weekday": "SEGUNDA_FEIRA",
            "openingTime": "10:00:57Z",
            "closingTime": "16:00:57Z"
          }
        ]
      }
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Instituição, pertencente à organização, responsável pelo Canal Telefônico.|
|cnpjNumber|string|true|none|Número completo do CNPJ da instituição responsável pela dependência - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica.<br>Deve-se ter apenas os números do CNPJ, sem máscara|
|phoneChannels|[[PhoneChannels](#schemaphonechannels)]|true|none|Lista  de canais de atendimento telefônico|

<h2 id="tocS_PhoneChannels">PhoneChannels</h2>
<!-- backwards compatibility -->
<a id="schemaphonechannels"></a>
<a id="schema_PhoneChannels"></a>
<a id="tocSphonechannels"></a>
<a id="tocsphonechannels"></a>

```json
{
  "identification": {
    "type": "OUVIDORIA",
    "phones": [
      {
        "countryCallingCode": "55",
        "areaCode": "19",
        "number": "08007787788"
      }
    ]
  },
  "services": [
    {
      "name": "AVISO_SINISTRO",
      "code": "01"
    }
  ],
  "availability": {
    "standards": [
      {
        "weekday": "SEGUNDA_FEIRA",
        "openingTime": "10:00:57Z",
        "closingTime": "16:00:57Z"
      }
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|[PhoneChannelsIdentification](#schemaphonechannelsidentification)|true|none|none|
|services|[[PhoneChannelsServices](#schemaphonechannelsservices)]|true|none|Traz a relação de serviços disponbilizados pelo Canal de Atendimento|
|availability|[PhoneChannelsAvailability](#schemaphonechannelsavailability)|false|none|none|

<h2 id="tocS_PhoneChannelsIdentification">PhoneChannelsIdentification</h2>
<!-- backwards compatibility -->
<a id="schemaphonechannelsidentification"></a>
<a id="schema_PhoneChannelsIdentification"></a>
<a id="tocSphonechannelsidentification"></a>
<a id="tocsphonechannelsidentification"></a>

```json
{
  "type": "OUVIDORIA",
  "phones": [
    {
      "countryCallingCode": "55",
      "areaCode": "19",
      "number": "08007787788"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo de canal telefônico de atendimento: <br>* `CENTRAL_TELEFONICA` <br>* `SAC` <br>* `OUVIDORIA`|
|phones|[[PhoneChannelsPhones](#schemaphonechannelsphones)]|false|none|Lista de telefones do Canal de Atendimento|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CENTRAL_TELEFONICA|
|type|SAC|
|type|OUVIDORIA|

<h2 id="tocS_PhoneChannelsPhones">PhoneChannelsPhones</h2>
<!-- backwards compatibility -->
<a id="schemaphonechannelsphones"></a>
<a id="schema_PhoneChannelsPhones"></a>
<a id="tocSphonechannelsphones"></a>
<a id="tocsphonechannelsphones"></a>

```json
{
  "countryCallingCode": "55",
  "areaCode": "19",
  "number": "08007787788"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|countryCallingCode|string|true|none|Número de DDI (Discagem Direta Internacional) para telefone de acesso ao Canal - se houver.|
|areaCode|string|true|none|Número de DDD (Discagem Direta à Distância) para telefone de acesso ao Canal - se houver.|
|number|string|true|none|Número de telefone de acesso ao canal.|

<h2 id="tocS_PhoneChannelsServices">PhoneChannelsServices</h2>
<!-- backwards compatibility -->
<a id="schemaphonechannelsservices"></a>
<a id="schema_PhoneChannelsServices"></a>
<a id="tocSphonechannelsservices"></a>
<a id="tocsphonechannelsservices"></a>

```json
{
  "name": "AVISO_SINISTRO",
  "code": "01"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome dos Serviços efetivamente prestados pelo Canal de Atendimento|
|code|string|true|none|Código dos Serviços efetivamente prestados pelo Canal de Atendimento|

#### Enumerated Values

|Property|Value|
|---|---|
|name|ALTERACOES_FORMA_PAGAMENTO|
|name|AVISO_SINISTRO|
|name|CANCELAMENTO_SUSPENSAO_PAGAMENTO_PREMIOS_CONTRIBUICAO|
|name|EFETIVACAO_APORTE|
|name|ENDOSSO|
|name|ENVIO_DOCUMENTOS|
|name|INFORMACOES_GERAIS_DUVIDAS|
|name|INFORMACOES_INTERMEDIARIOS|
|name|INFORMACOES_SOBRE_SERVICOS_ASSISTENCIAS|
|name|INFORMACOES_SOBRE_SORTEIOS|
|name|OUVIDORIA_RECEPCAO_SUGESTOES_ELOGIOS|
|name|OUVIDORIA_SOLUCAO_EVENTUAIS_DIVERGENCIAS_SOBRE_CONTRATO_SEGURO_CAPITALIZAÇÃO_PREVIDÊNCIA_APOS_ESGOTADOS_CANAIS_REGULARES_ATENDIMENTO_AQUELAS_ORIUNDAS_ORGAOS_REGULADORES_OU_INTEGRANTES_SISTEMA_NACIONAL_DEFESA_CONSUMIDOR|
|name|OUVIDORIA_TRATAMENTO_INSATISFACAO_CONSUMIDOR_RELACAO_ATENDIMENTO_RECEBIDO_CANAIS_REGULARES_ATENDIMENTO|
|name|OUVIDORIA_TRATAMENTO_RECLAMACOES_SOBRE_IRREGULARDADES_CONDUTA_COMPANHIA|
|name|PORTABILIDADE|
|name|RECLAMACAO|
|name|RESGATE|
|name|SEGUNDA_VIA_DOCUMENTOS_CONTRATUAIS|
|name|SUGESTOES_ELOGIOS|
|code|01|
|code|02|
|code|03|
|code|04|
|code|05|
|code|06|
|code|07|
|code|08|
|code|09|
|code|10|
|code|11|
|code|12|
|code|13|
|code|14|
|code|15|
|code|16|
|code|17|
|code|18|
|code|19|

<h2 id="tocS_BranchesGeographicCoordinates">BranchesGeographicCoordinates</h2>
<!-- backwards compatibility -->
<a id="schemabranchesgeographiccoordinates"></a>
<a id="schema_BranchesGeographicCoordinates"></a>
<a id="tocSbranchesgeographiccoordinates"></a>
<a id="tocsbranchesgeographiccoordinates"></a>

```json
{
  "latitude": "-90.8365180",
  "longitude": "-180.836519"
}

```

Informação referente a geolocalização informada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|latitude|string|false|none|Informação da latitude referente a geolocalização informada. Entre -90 e 90. Formato númerico 2 casas antes da vírgula, 11 posições.|
|longitude|string|false|none|Informação da longitude referente a geolocalização informada. Formato númerico 3 casas antes da vírgula, 11 posições.|

<h2 id="tocS_LinksPaginated">LinksPaginated</h2>
<!-- backwards compatibility -->
<a id="schemalinkspaginated_data_channels"></a>
<a id="schema_LinksPaginated"></a>
<a id="tocSlinkspaginated"></a>
<a id="tocslinkspaginated"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/channels/v1/<resource>",
  "first": "https://api.organizacao.com.br/open-insurance/channels/v1/<resource>",
  "prev": "string",
  "next": "string",
  "last": "https://api.organizacao.com.br/open-insurance/channels/v1/<resource>"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaPaginated">MetaPaginated</h2>
<!-- backwards compatibility -->
<a id="schemametapaginated"></a>
<a id="schema_MetaPaginated"></a>
<a id="tocSmetapaginated"></a>
<a id="tocsmetapaginated"></a>

```json
{
  "totalRecords": 1,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[MetaPaginated](#schemametapaginated)|false|none|none|

