 
openapi: 3.0.0
info:
  title: APIs Open Data do Open Insurance Brasil
  description:
    API de informações de dados do produto RC Geral. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados..
  version: 1.0.0
  contact:
    url: 'http://novosite.susep.gov.br/'
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Producao
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Homologacao 
tags:
- name: "RC Geral" 

paths:
  /generalRc/:
    get:
      tags:
        - General-rc
      summary: Obtem a lista dos produtos do tipo RC Geral
      description: "Obtem a lista dos produtos do tipo RC Geral"
      operationId: "getGeneral"
      parameters:
        - $ref: "#/components/parameters/cache-Control"
        - $ref: "#/components/parameters/content-Security-Policy"
        - $ref: "#/components/parameters/content-Type"
        - $ref: "#/components/parameters/strict-Transport-Security"
        - $ref: "#/components/parameters/x-Content-Type-Options"
        - $ref: "#/components/parameters/x-Frame-Options"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados dos produtos de General-rc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseGeneralRcList'
        '204':
          $ref: '#/components/responses/NoContent'                
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Dados dos produtos de API de informações de dados do produto RC Geral. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados. 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseGeneralRcList' 

components:
  schemas:
    ResponseGeneralRcList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
              brand:
                $ref: '#/components/schemas/GeneralRcBrand'
        links:
            $ref: '#/components/schemas/Links'
        meta:
            $ref: '#/components/schemas/Meta'
    GeneralRcBrand:
      type: object
      description: Organizacao controladora do grupo.
      required:
        - name
        - companies
      properties:
        name:
          type: string
          description: Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.
          maxLength: 80
          example: ACME Group Seguros
        companies:
          $ref: '#/components/schemas/GeneralRcCompany'
    GeneralRcCompany:
      type: array
      items:
          description: Informações referente a sociedade a qual a marca pertence.
          required:
          - name
          - cnpjNumber
          - product
          properties:
            name:
                type: string
                description: Nome da sociedade pertencente à marca.
                maxLength: 80
                example: ACME Seguros
            cnpjNumber:
                type: string
                description: CNPJ da sociedade pertencente à marca.
                maxLength: 14
                example: "12345678901234"
            products:
                $ref: '#/components/schemas/GeneralRcProduct'
    GeneralRcProduct:
      type: array
      description: Lista de produtos de uma empresa.
      items:
        type: object
        required:
          - name
          - code
          - riskType
          - coverages
          - validity
          - termsAndConditions
          - minimumRequirements
        properties:
          name:
            type: string
            description: Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
            maxLength: 80
            example: Produto de Seguro
          code:
            type: string
            description: Código único a ser definido pela sociedade.
            maxLength: 100
            example: "01234589-0"
          riskType:
            type: string
            description: Tipo de Risco
            maxLength: 15
            example: PESSOAS
            enum: [PESSOAS, DANOS]
          coverages:
            type: array
            items:
              type: object
              required:
                - coverage
                - coverageDescription
                - allowApartPurchase
              properties:
                coverage:
                  type: string
                  example: RC_EMPREGADOR
                  description: Nome Cobertura Contratatada - Geral
                  enum: [
                    CUSTOS_DE_DEFESA_DO_SEGURADO,
                    DESPESAS_EMERGENCIAIS_DESPESAS_DE_CONTENCAO_E_DESPESAS_DE_SALVAMENTO_DE_SINISTRO,
                    RC_ANUNCIOS_E_ANTENAS,
                    RC_ARMAZENS_GERAIS_E_SIMILARES,
                    RC_AUDITORIOS,
                    RC_CLUBES_AGREMIACOES_E_ASSOCIACOES_RECREATIVAS,
                    RC_CONDOMINIOS_PROPRIETARIOS_E_LOCATARIOS_DE_IMOVEIS,
                    RC_EMPREGADOR,
                    RC_ESTABELECIMENTO_DE_HOSPEDAGEM_RESTAURANTES_BARES_BOATES_E_SIMILARES,
                    RC_ESTABELECIMENTOS_COMERCIAIS_E_OU_OU_INDUSTRIAIS.,
                    RC_ESTABELECIMENTOS_DE_ENSINO,
                    RC_FAMILIAR,
                    RC_FARMACIAS_E_DROGARIAS,
                    RC_GUARDA_DE_EMBARCACOES_DE_TERCEIROS,
                    RC_GUARDA_DE_VEICULOS_DE_TERCEIROS,
                    RC_OBRAS_CIVIS_E_OU_OU_SERVICOS_DE_MONTAGEM_E_INSTALACAO_DE_MAQUINAS_E_OU_OU_EQUIPAMENTOS_(COBERTURA_SIMPLES),
                    RC_OBRAS_CIVIS_E_OU_OU_SERVICOS_DE_MONTAGEM_E_INSTALACAO_DE_MAQUINAS_E_OU_OUEQUIPAMENTOS_(COBERTURA_AMPLA),
                    RC_OPERACOES_-_BASICAS_NOMENCLATURA_1,
                    RC_OPERACOES_-_BASICAS_NOMENCLATURA_2,
                    RC_OPERACOES_-_BASICAS_NOMENCLATURA_3,
                    RC_OPERACOES_-_BASICAS_NOMENCLATURA_4,
                    RC_OPERACOES_-_BASICAS_NOMENCLATURA_5,
                    RC_OPERACOES_-_OUTROS,
                    RC_OPERACOES_DE_CARGA_DESCARGA_MOVIMENTACAO_ICAMENTO_OU_DESCIDA_(COBERTURA_AMPLA),
                    RC_OPERACOES_DE_CARGA_DESCARGA_MOVIMENTACAO_ICAMENTO_OU_DESCIDA_(COBERTURA_SIMPLES),
                    RC_OPERACOES_DE_SHOPPING_CENTERS,
                    RC_OPERACOES_DE_VIGILANCIA,
                    RC_PARQUES_DE_DIVERSOES_ZOOLOGICOS_CIRCOS_E_SIMILARES,
                    RC_PRESTACAO_DE_SERVICOS_EM_LOCAIS_DE_TERCEIROS,
                    RC_PRODUTOS__TERRITORIO_NACIONAL,
                    RC_PRODUTOS_NO_EXTERIOR__A_BASE_DE_OCORRENCIA,
                    RC_PROMOCAO_DE_EVENTOS_ARTISTICOS_ESPORTIVOS_E_SIMILARES,
                    RC_PROMOTORES_DE_EXPOSICOES_E_FEIRAS_DE_AMOSTRAS,
                    RC_RISCOS_CONTINGENTES_-_VEICULOS_TERRESTRES_MOTORIZADOS,
                    RC_TELEFERICOS_E_SIMILARES,
                    RC_TRANSPORTES_DE_PASSAGEIROS_EM_EMBARCACOES,
                    ATIVIDADES_EDUCACIONAIS_OU_RECREATIVAS_REALIZADAS_FORA_DO_ESTABELECIMENTO_DE_ENSINO,
                    ALAGAMENTO_E_OU_OU_INUNDACAO,
                    ATIVIDADES_EDUCACIONAIS_OU_RECREATIVAS_REALIZADAS_FORA_DO_ESTABELECIMENTO_DE_ENSINO,
                    ATIVIDADES_ESPORTIVAS_OU_RECREATIVAS_REALIZADAS_FORA_DO_ESTABELECIMENTO_DO_CLUBE,
                    CHAPA_DE_EXPERIENCIA_-_DANOS_CAUSADOS_AO_VEICULO,
                    CHAPA_DE_EXPERIENCIA_-_DANOS_CAUSADOS_PELO_VEICULO,
                    CIRCULACAO_DE_EQUIPAMENTOS,
                    CIRCULACAO_DE_EQUIPAMENTOS_NAS_ADJACENCIAS_DO_LOCAL_SEGURADO,
                    COBERTURA_ADICIONAL_CRUZADA,
                    COBERTURA_BASICA_COM_FUNDACAO_OBRAS_CIVIS_E_OU_OU_SERVICOS_DE_INSTALACAO_E_MONTAGEM,
                    COBERTURA_BASICA_SEM_FUNDACAO_OBRAS_CIVIS_E_OU_OU_SERVICOS_DE_INSTALACAO_E_MONTAGEM,
                    COBERTURA_DE_DANOS_MATERIAIS_CAUSADOS_AO_PROPRIETARIO_DA_OBRA,
                    COBERTURA_EXCLUSIVA_PARA_OS_RISCOS_DE_INCENDIO_ROUBO_E_OU_OU_FURTO,
                    COBERTURA_PARA_FUNDACOES,
                    COBERTURA_PARA_OS_RISCOS_DE_INUNDACAO_E_OU_OU_ALAGAMENTO,
                    COMPETICOES_E_JOGOS_ESPORTIVOS,
                    COSSEGURADOS_-_PRODUTOS,
                    DANOS_A_MERCADORIAS_DE_TERCEIROS_CAUSADOS_POR_CONTAMINACAO_E_OU_OU_CONTATO_COM_OUTRAS_MERCADORIAS,
                    DANOS_A_MERCADORIAS_DE_TERCEIROS_DECORRENTES_DE_PARALISACAO_DE_MAQUINAS,
                    DANOS_A_MERCADORIAS_DE_TERCEIROS_DECORRENTES_DE_PARALISACAO_DE_MAQUINAS_FRIGORIFICAS,
                    DANOS_A_TERCEIRO_PELA_PRATICA_DE_ESPORTES,
                    DANOS_AO_CONTEUDO_DAS_LOJAS_POR_INCENDIO_E_EXPLOSAO_DIRETAMENTE_DECORRENTES,
                    DANOS_CAUSADOS_A_BENS_PESSOAIS_DE_TERCEIROS_SOB_A_GUARDA_DO_SEGURADO_NOS_LOCAIS_DO_EVENTO,
                    DANOS_CAUSADOS_A_VEICULOS_DE_EMPREGADOS_DO_SEGURADO_ENQUANTO_ESTACIONADOS_NOS_LOCAIS_INDICADOS_NA_ESPECIFICACAO_DA_APOLICE,
                    DANOS_CAUSADOS_AO_PROPRIETARIO_DA_OBRA,
                    DANOS_CAUSADOS_AOS_ARTISTAS_PARTICIPANTES_DOS_EVENTOS,
                    DANOS_CAUSADOS_AOS_ESTABELECIMENTOS_CEDIDOS_ALUGADOS_OU_ARRENDADOS_PARA_PROMOCAO_DE_EVENTOS,
                    DANOS_CAUSADOS_AOS_INDUSTRIALIZADORES,
                    DANOS_CAUSADOS_AOS_LOCAIS_CEDIDOS_ALUGADOS_OU_ARRENDADOS_PARA_A_PROMOCAO_DE_EVENTOS__DECORRENTES_DE_QUALQUER_FATO_GERADOR,
                    DANOS_CAUSADOS_AOS_LOCAIS_CEDIDOS_ALUGADOS_OU_ARRENDADOS_PARA_A_PROMOCAO_DE_EVENTOS_-_EXCLUSIVAMENTE_EM_DECORRENCIA_DE_INCENDIO_DANOS_ELETRICOS_DANOS_POR_AGUA_E_QUEBRA_DE_VIDROS,
                    DANOS_CAUSADOS_POR_FALHAS_DE_PROFISSIONAL_DA_AREA_MEDICA,
                    DANOS_CAUSADOS_POR_FOGOS_DE_ARTIFICIO,
                    DANOS_CAUSADOS_POR_OBRAS_CIVIS_E_OU_OU_INSTALACOES_E_OU_OU_MONTAGENS_NOS_LOCAIS_OCUPADOS_PELO_SEGURADO_PARA_A_REALIZACAO_DE_EVENTOS,
                    DANOS_CAUSADOS_POR_VEICULOS_DE_EMPREGADOS__EM_USO_HABITUAL,
                    DANOS_MATERIAIS_A_EQUIPAMENTOS_DE_TERCEIROS_DURANTE_AS_OPERACOES_DE_CARGA_E_DESCARGA_MOVIMENTACAO_ICAMENTO_E_DESCIDA,
                    DANOS_MORAIS,
                    DANOS_MORAIS_-_EMPREGADOR,
                    DANOS_MORAIS_-_ESTAB._COM._E_OU_OU_INDUST.,
                    DANOS_MORAIS_-_PRODUTOS_(T._NACIONAL),
                    DANOS_MORAIS_DECORRENTE_DAS_COBERTURAS_BASICAS_ACIMA,
                    DANOS_MORAIS_DECORRENTES_DE_RESPONSABILIDADE_CIVIL_EMPREGADOR,
                    DANOS_MORAIS_E_OU_OU_ESTETICOS,
                    DERRAMAMENTO_INFILTRACAO_OU_DESCARGA_DE_AGUA,
                    DESCARGA_NO_PORTO_-_ARMAZENS,
                    DESPESAS_DE_CONTENCAO_DE_SINISTROS_-_POLUICAO_SUBITA,
                    DISTRIBUICAO_DE_PRODUTOS_PELO_SEGURADO_NOS_LOCAIS_POR_ELE_OCUPADOS_PARA_A_REALIZACAO_DE_EVENTOS,
                    EMPREGADOS_DOMESTICOS,
                    EQUIPAMENTOS_DE_TERCEIROS_OPERADOS_PELO_SEGURADO_EM_SERVICOS_DE_CARGA_E_DESCARGA_NO_PORTO,
                    EQUIPAMENTOS_DE_TERCEIROS_OPERADOS_PELO_SEGURADO_EM_SERVICOS_DE_CARGA_E_DESCARGA_NO_PORTO_-_ARMAZENS,
                    ERRO_DE_PLANO_DESENHO_OU_PROJETO,
                    ERRO_DE_PROJETO__OBRAS_CIVIS,
                    ERRO_DE_PROJETO_-_PRODUTOS,
                    EXCLUSAO_DOS_RISCOS_DE_INCENDIO_ROUBO_E_OU_OU_FURTO,
                    EXCLUSAO_DOS_RISCOS_DE_ROUBO_OU_FURTO_QUALIFICADO_DE_VEICULOS,
                    EXCURSOES_TURISTICAS_E_ATIVIDADES_ESPORTIVAS_OU_RECREATIVAS_REALIZADAS_FORA_DO_ESTABELECIMENTO_DE_HOSPEDAGEM,
                    EXCURSOES_TURISTICAS_BEM_COMO_ATIVIDADES_ESPORTIVAS_E_RECREATIVAS_PRATICADAS_FORA_DO_ESTABELECIMENTO_ESPECIFICADO_NO_CONTRATO,
                    EXTENSAO_DE_COBERTURA_AO_EXTERIOR_PARA_RC_EMPREGADOR,
                    FORNECIMENTO_DE_COMESTIVEIS_OU_BEBIDAS,
                    FORO_NO_BRASIL,
                    FORO_NO_EXTERIOR,
                    FRIGORIFICAS,
                    GUARDA_DE_EMBARCACOES_DE_TERCEIROS,
                    HOLE-IN-ONE,
                    IMPERFEICAO_DO_PRODUTO_DEVIDO_A_ERRO_DE_PLANO_FORMULA_DESENHO_E_PROJETO,
                    LUCROS_CESSSANTES_DECORRENTES_DE_RESPONSABILIDADE_CIVIL,
                    MOEDA_ESTRANGEIRA,
                    OBJETOS_PESSOAIS_DE_EMPREGADOS_SOB_A_GUARDA_DO_SEGURADO,
                    OBJETOS_PESSOAIS_DE_EMPREGADOS_SOB_A_GUARDA_DO_SEGURADO,
                    OBRAS_CIVIS_E_OU_OU_SERVICOS_DE_MONTAGEM_E_INSTALACAO_REALIZADOS_POR_TERCEIROS_EM_LOCAIS_DO_SEGURADO,
                    OPERACOES_COMERCIAIS_INDUSTRIAIS_E_OU_OU_SERVICOS,
                    OUTROS,
                    PERCURSO_ENTRE_O_ESTABELECIMENTO_SEGURADO_E_A_GARAGEM,
                    POLUICAO_SUBITA,
                    POLUICAO_CONTAMINACAO_E_OU_OU_VAZAMENTOS_SUBITOS,
                    PRATICA_DE_ESPORTES,
                    PREJUIZOS_E_OU_OU_PERDAS_FINANCEIRAS,
                    PRODUTOS_TERRITORIO_NACIONAL,
                    PROGRAMACOES_REALIZADAS_FORA_DAS_DEPENDENCIAS_DO_CLUBE,
                    RC_ANUNCIOS_E_ANTENAS,
                    RC_ARMAZENS_GERAIS_E_SIMILARES,
                    RC_AUDITORIOS,
                    RC_CLUBES_AGREMIACOES_E_ASSOCIACOES_RECREATIVAS,
                    RC_CONDOMINIOS_PROPRIETARIOS_E_LOCATARIOS_DE_IMOVEIS,
                    RC_CRUZADA_(OCIM_OU_PRESTACAO_DE_SERVICOS_EM_LOCAIS_DE_TERCEIROS,
                    RC_DECORRENTE_DE_DANOS_A_TERCEIROS_POR_ERRO_DE_PROJETO__OBRAS_CIVIS,
                    RC_EMPREGADOR,
                    RC_EMPREGADOS_DOMESTICOS,
                    RC_EMPRESAS_DE_SERVICOS_DE_ABASTECIMENTO_DE_AGUA_E_SANEAMENTO_BASICO,
                    RC_EMPRESAS_DE_SERVICOS_DE_FERROVIAS,
                    RC_EMPRESAS_DE_SERVICOS_DE_GERACAO_TRANSMISSAO_DISTRIBUICAO_E_COMERCIALIZACAO_DE_ENERGIA_ELETRICA,
                    RC_EMPRESAS_DE_SERVICOS_DE_PONTES_E_OU_OU_RODOVIAS,
                    RC_EMPRESAS_DE_SERVICOS_DE_PRODUCAO_E_DISTRIBUICAO_DE_GAS,
                    RC_EMPRESAS_DE_SERVICOS_DE_TELEFONIA,
                    RC_ESTABELECIMENTOS_DE_HOSPEDAGEM_RESTAURANTES_BARES_BOITES_E_SIMILARES,
                    RC_EXPOSICOES_E_FEIRAS_DE_AMOSTRA,
                    RC_FAMILIAR,
                    RC_FUNDACOES_(AMPLA),
                    RC_FUNDACOES_(SIMPLES),
                    RC_GUARDA_DE_EMBARCACOES_DE_TERCEIROS_(COLISAO_INCENDIO_ROUBO_OU_FURTO_QUALIFICADO),
                    RC_GUARDA_DE_EMBARCACOES_DE_TERCEIROS_(INCENDIO_ROUBO_E_OU_OU_FURTO_QUALIFICADO),
                    RC_GUARDA_DE_VEICULOS_DE_TERCEIROS_(INCENDIO_ROUBO_OU_FURTO_QUALIFICADO),
                    RC_OBRAS_CIVIS_E_OU_OU_SERVICOS_DE_MONTAGEM_E_INSTALACAO_DE_MAQUINAS_E_OU_OU_EQUIPAMENTOS,
                    RC_OPERACOES,
                    RC_OPERACOES_DE_CARGA_DESCARGA_MOVIMENTACAO_ICAMENTO_E_OU_OU_DESCIDA_(COBERTURA_AMPLA),
                    RC_OPERACOES_DE_CARGA_DESCARGA_MOVIMENTACAO_ICAMENTO_E_OU_OU_DESCIDA_(COBERTURA_SIMPLES),
                    RC_OPERACOES_DE_SHOPPING_CENTERS,
                    RC_OPERACOES_DE_VIGILANCIA,
                    RC_PARQUES_DE_DIVERSOES_ZOOLOGICOS_CIRCOS_E_SIMILARES,
                    RC_PARTICIPACAO_EM_EXPOSICOES_E_FEIRAS_DE_AMOSTRA,
                    RC_PRESTACAO_DE_SERVICOS_EM_LOCAIS_DE_TERCEIROS,
                    RC_PRODUTOS,
                    RC_PRODUTOS_NO_EXTERIOR_-_OCORRENCIA,
                    RC_PROMOCAO_DE_EVENTOS_ARTISTICOS_ESPORTIVOS_E_SIMILARES,
                    RC_RISCOS_CONTINGENTES-VEIC.TERR.MOTORIZADO,
                    RC_SUBSIDIARIA_DO_SEGURADO_POR_MERCADORIAS_DE_SUA_PROPRIEDADE_QUANDO_TRANSPORTADAS_POR_TERCEIROS,
                    RC_TELEFERICOS_E_SIMILARES,
                    RC_TRANSPORTE_DE_PASSAGEIROS_EM_EMBARCACOES,
                    RECLAMACOES_DECORRENTES_DO_FORNECIMENTO_DE_COMESTIVEIS_OU_BEBIDAS,
                    RESPONSABILIDADE_CIVIL_-_ASSISTENCIAS_TECNICAS_E_MECANICAS,
                    RESPONSABILIDADE_CIVIL_-_BARES_HOTEIS_RESTAURANTES_E_SIMILARES,
                    RESPONSABILIDADE_CIVIL_-_COMERCIO_DE_VEICULOS_E_CONCESSIONARIAS,
                    RESPONSABILIDADE_CIVIL_-_ESCRITORIOS_CLINICAS_E_CONSULTORIOS,
                    RESPONSABILIDADE_CIVIL_-_ESTABELECIMENTOS_COMERCIAIS,
                    RESPONSABILIDADE_CIVIL_-_ESTABELECIMENTOS_DE_ENSINO,
                    RESPONSABILIDADE_CIVIL_-_INDUSTRIA,
                    RESPONSABILIDADE_CIVIL_-_MERCADO_PADARIA_ACOUGUES_E_FARMACIAS,
                    RESPONSABILIDADE_CIVIL_-_PET_SHOP_E_CLINICAS_VETERINARIAS,
                    RESPONSABILIDADE_CIVIL_-_SALAO_DE_BELEZA_-_CABELEREIRO,
                    RESPONSABILIDADE_CIVIL_ANUNCIOS_E_ANTENAS,
                    RESPONSABILIDADE_CIVIL_DO_SINDICO,
                    RESPONSABILIDADE_CIVIL_EMPREGADOR,
                    RESPONSABILIDADE_CIVIL_FAMILIAR,
                    RESPONSABILIDADE_CIVIL_GUARDA_DE_VEICULOS_DE_TERCEIROS_(COBERTURA_AMPLA),
                    RESPONSABILIDADE_CIVIL_GUARDA_DE_VEICULOS_DE_TERCEIROS_(COBERTURA_SIMPLES),
                    RESPONSABILIDADE_CIVIL_OPERACOES_DE_VIGILANCIA,
                    RESPONSABILIDADE_CIVIL_PORTOES,
                    RESPONSABILIDADE_CIVIL_PRESTACAO_DE_SERVICOS_EM_LOCAIS_DE_TERCEIROS,
                    RESPONSABILIDADE_CIVIL_PRODUTOS_NACIONAIS,
                    RESPONSABILIDADE_CIVIL_RISCOS_CONTINGENTES_VEICULOS_TERRESTRES_MOTORIZADOS,
                    RETIRADA_DE_PRODUTO_DO_MERCADO_INCLUINDO_MAO_DE_OBRA_MONTAGEM__OU__DESMONTAGEM,
                    RETIRADA_DE_PRODUTOS_DE_MERCADO_(PRODUCTS_RECALL),
                    RETIRADA_DE_PRODUTOS_DO_MERCADO__TERRITORIO_NACIONAL,
                    RETIRADA_E_OU_OU_RECOLOCACAO_DE_PRODUTO_NO_MERCADO,
                    RISCOS_CONTINGENTES_DE_VEICULOS_TERRESTRES_MOTORIZADOS,
                    RISCOS_DE_INUNDACAO_E_OU_OU_ALAGAMENTO,
                    ROUBO_E_OU_OU_FURTO_QUALIFICADO_DE_BENS_DE_TERCEIROS_SOB_A_GUARDA_DO_SEGURADO,
                    ROUBO_E_OU_OU_FURTO_QUALIFICADO_DE_BENS_DE_TERCEIROS_SOB_A_GUARDA_DO_SEGURADO_PRATICADOS_POR_EMPREGADOS,
                    SUBSIDIARIA_DO_SEGURADO_POR_MERCADORIAS_SOB_SUA_RESPONSABILIDADE_TRANSPORTADAS_POR_TERCEIROS,
                    TACOS_DE_GOLFE,
                    TRABALHOS_TERCEIRIZADOS_E_OU_OU_QUARTEIRIZADOS_-_EMPREGADOR,
                    TRABALHOS_TERCEIRIZADOS_E_OU_OU_QUARTEIRIZADOS_-_OPERACOES,
                    TRANSPORTADAS_POR_TERCEIROS,
                    TRANSPORTE_HABITUAL_DE_EMPREGADOS,
                    TRANSPORTE_HABITUAL_DE_EMPREGADOS_EM_VEICULOS_TERRESTRES_DE_TERCEIROS,
                    VERBA_UNICA,
                    OPERACOES,
                    RC_OBRAS_CIVIS_E_OU_OU_INSTALACAO_E_MONTAGEM,
                    RC_OBRAS_CIVIS_E_OU_OU_INSTALACAO_E_MONTAGEM,
                    GUARDA_DE_VEICULOS_DE_TERCEIROS,
                    PROMOCAO_DE_EVENTOS_ARTISTICOS_ESPORTIVOS_E_SIMILARES,
                    PRESTACAO_DE_SERVICOS_DE_MOVIMENTACAO_DE_CARGA]
                coverageDescription:
                  type: string
                  maxLength: 3000
                  description: Descrição Cobertura Contratatada - Geral
                  example: descrição cobertura
                allowApartPurchase:
                  type: boolean
                  description: Permissão para contratação separada
                  example: true
                coverageAttributes:
                   $ref: '#/components/schemas/GeneralRcCoverageAttributes'
          assistanceServices:
            $ref: '#/components/schemas/GeneralRcAssistanceServices'
          validity:
            $ref: '#/components/schemas/GeneralRcValidity'
          customerServices:
            type: array 
            description: Informações de pagamento de prêmio.
            items:
                type: string
                example: LIVRE ESCOLHA
                enum: [REDE_REFERENCIADA , LIVRE_ESCOLHA]
          premiumRates:
            type: array 
            description: Distribuição de frequência relativa aos valores referentes às taxas cobradas.
            items:
                type: string 
          termsAndConditions:
            $ref: '#/components/schemas/GeneralRcTerms'
          minimumRequirements:
            $ref: '#/components/schemas/GeneralRcMinimumRequirements'
    
    GeneralRcAssistanceServices:
      type: array
      description: Agrupamento dos serviços de assistências disponíveis vinculado ao produto.
      items:
        type: object
        properties:
          assistanceServicesPackage:
            type: array
            items:
              type: string
              description: Pacotes de Assistência.
              example: ATE_10_SERVICOS
              enum: [ATE_10_SERVICOS, ATE_20_SERVICOS , ACIMA_20_SERVICOS, CUSTOMIZAVEL]
          complementaryAssistanceServicesDetail:
            type: string
            description: Campo livre para descrição dos serviços ofertados por cada sociedade participante.
            maxLength: 1000
            example: REBOQUE PANE SECA
          chargeTypeSignaling:
            type: string
            description: Sinalização em campo exclusivo se o pacote de Assistência é gratuita ou contratada/paga.
            example: GRATUITO
            enum: [GRATUITO, PAGO]
    
    GeneralRcValidity:
      type: object
      required:
        - term
      properties:
        term:
          type: array
          items:
            type: string
            description: Prazo de vigência do seguro contratado Intervalo contínuo de tempo durante o qual está em vigor o contrato de seguro. (RESOLUÇÃO CNSP Nº 341/2016).
            example: ANUAL
            enum: [ANUAL , ANUAL_INTERMITENTE , PLURIANUAL , PLURIANUAL_INTERMITENTE , MENSAL, MENSAL_INTERMITENTE , DIARIO , DIARIO_INTERMITENTE, OUTROS]
        termOthers:
          type: string
          description: Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).
          maxLength: 100
        
    GeneralRcTerms:
      type: object
      description: Informações dos termos e condições conforme número do processo SUSEP.
      required:
        - susepProcessNumber
        - definition
      properties:
        susepProcessNumber:
          type: string
          description: Número do processo SUSEP.
          maxLength: 20
          example: 15414622222222222
        definition:
          type: string
          description: Campo aberto (possibilidade de incluir uma url).
          maxLength: 1024
          example: https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf   

    
    GeneralRcMinimumRequirements:
      type: object
      description: Requisitos mínimos.
      required:
        - contractType
        - targetAudiences
      properties:
        contractType:
         type: array
          items:
            type: string
            enum: [COLETIVO, INDIVIDUAL]
        targetAudiences:
          description: Público Alvo
          type: array
          items:
            type: string
            example: PESSOA_NATURAL
            enum: [PESSOA_NATURAL, PESSOA_JURIDICA]
    
    GeneralRcCoverageAttributes:
      type: object
      description: Informações de cobertura do Seguro Residencial.
      required:
       - maxLMI
       - insuredParticipation
      properties:
        maxLMI:
          description: Valor de Limite Máximo de Indenização (LMI).
          $ref: '#/components/schemas/GeneralRcCoverageAttributesDetails'
        insuredParticipation:
          type: array
          items:
            type: string
            example: FRANQUIA
            enum: [FRANQUIA, POS, DESCRITIVO_FRANQUIA_OU_POS, NAO_SE_APLICA]
    
    GeneralRcCoverageAttributesDetails:
        type: object
        required:
          - amount
          - unit
        properties:
          amount:
            type: number
          unit:
            $ref: '#/components/schemas/GeneralRcCoverageAttributesDetailsUnit'
    
    GeneralRcCoverageAttributesDetailsUnit:
      type: object
      required:
        - code
        - description
      properties:
        code: 
          type: string
          example: R$
        description: 
          type: string
          example: REAL
    
    GeneralRcCoverageAttributesPercentageDetails:
        type: object
        required:
          - amount
          - unit
        properties:
          amount:
            type: number
          unit:
            $ref: '#/components/schemas/GeneralRcCoverageAttributesPercentageDetailsUnit'
    
    GeneralRcCoverageAttributesPercentageDetailsUnit:
      type: object
      required:
        - code
        - description
      properties:
        code: 
          type: string
          example: '%'
        description: 
          type: string
          example: PERCENTUAL
    
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        first:
          type: string
          description: URL da primeira página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        prev:
          type: string
          description: URL da página anterior de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        next:
          type: string
          description: URL da próxima página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        last:
          type: string
          description: URL da última página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 10
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages
    
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                maxLength: 2048
              requestDateTime:
                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                type: string
                maxLength: 2048
                format: date-time
                example: '2021-08-20T08:30:00Z'
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
    
  parameters:
      page:
        name: page
        in: query
        description: Número da página que está sendo requisitada (o valor da primeira página é 1).
        schema:
            type: integer
            default: 1
            minimum: 1
      pageSize:
        name: page-size
        in: query
        description: Quantidade total de registros por páginas.
        schema:
            type: integer
            default: 10
            minimum: 1
      cache-Control:
        name: cache-control
        in: header
        description: Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.
        required: true
        schema:
            type: string
            pattern: '[\w\W\s]*'
      content-Security-Policy:
        name: Content-Security-Policy
        in: header
        description: Campo para proteção contra ataques clickjack do estilo - drag and drop.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      content-Type:
        name: content-Type
        in: header
        description: Especificar o tipo de conteúdo da resposta.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      strict-Transport-Security:
        name: Strict-Transport-Security
        in: header
        description: Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.
        schema:
            type: string
            pattern:  '[\w\W\s]*'
      x-Content-Type-Options:
        name: X-Content-Type-Options
        in: header
        description: Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      x-Frame-Options:
        name: X-Frame-Options
        in: header
        description: Campo indica se o navegador deve ou não renderizar um frame.
        schema:
            type: string
            pattern: '[\w\W\s]*'
    
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration'
    OAuth2Security:
      type: oauth2
      description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Inclui o processo de redirecionamento e autenticação do usuário a que se referem os dados.
      flows:
        authorizationCode:
          authorizationUrl: 'https://authserver.example/authorization'
          tokenUrl: 'https://authserver.example/token'
          scopes:
            financings: Escopo necessário para acesso à API. O controle dos endpoints específicos é feito via permissions.
    
  responses:
    NoContent:
      description: 'O recurso solicitado não existe ou não foi localizado.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'     
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'   
