<h2 id="tocS_ResponseAutoInsuranceList">ResponseAutoInsuranceList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseautoinsurancelist"></a>
<a id="schema_ResponseAutoInsuranceList"></a>
<a id="tocSresponseautoinsurancelist"></a>
<a id="tocsresponseautoinsurancelist"></a>

```json
{
  "data": {
    "brand": {
      "name": "string",
      "company": [
        {
          "name": "string",
          "cnpjNumber": "string",
          "products": [
            {
              "name": "string",
              "code": "string",
              "coverages": [
                {
                  "coverage": "VIDROS",
                  "coverageDetail": "Roubo total",
                  "coveragePermissionSeparteAcquisition": true,
                  "coverageAttributes": {
                    "minLMI": {},
                    "maxLMI": {},
                    "contractBase": [],
                    "newCarMaximumCalculatingPeriod": 12,
                    "newCarContractBase": [],
                    "fullIndemnityPercentage": {},
                    "deductibleType": [],
                    "fullIndemnityDeductible": true,
                    "deductiblePaymentByCoverage": true,
                    "deductiblePercentage": {},
                    "mandatoryParticipation": "Casco - RCF-V Danos",
                    "geographicScopeCoverage": [],
                    "geographicScopeCoverageOthers": "string"
                  }
                }
              ],
              "carParts": [
                {
                  "carPartCondition": "NOVAS",
                  "carPartType": "ORIGINAIS"
                }
              ],
              "carModels": [
                {
                  "manufacturer": "FORD",
                  "model": "KA",
                  "year": 2018,
                  "fipeCode": "string"
                }
              ],
              "vehicleOvernightZipCode": 1311000,
              "additional": [
                "SORTEIO GRATUITO"
              ],
              "additionalOthers": "string",
              "assistanceServices": [
                {
                  "assistanceServicesPackage": [
                    "ATE_10_SERVICOS"
                  ],
                  "assistanceServicesDetail": "Perda Parcial - Colisão",
                  "chargeTypeSignaling": "GRATUITA"
                }
              ],
              "termsAndConditions": [
                {
                  "susepProcessNumber": "15414.622222/2222-22",
                  "definition": "https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
                }
              ],
              "terms": [
                "ANUAL"
              ],
              "customerService": [
                "REDE REFERECIADA"
              ],
              "premiumPayment": {
                "paymentMethod": [
                  "CARTÃO DE CRÉDITO"
                ],
                "paymentType": [
                  "PARCELADO"
                ],
                "paymentDetail": "string"
              },
              "minimumRequirements": {
                "contractingType": [
                  "COLETIVO"
                ],
                "contractingMinRequirement": "https://example.com/mobile-banking"
              },
              "targetAudiences": [
                "PESSOA_NATURAL"
              ]
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "prev": "string",
    "next": "string",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[AutoInsuranceBrand](#schemaautoinsurancebrand)|false|none|none|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_AutoInsuranceBrand">AutoInsuranceBrand</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancebrand"></a>
<a id="schema_AutoInsuranceBrand"></a>
<a id="tocSautoinsurancebrand"></a>
<a id="tocsautoinsurancebrand"></a>

```json
{
  "name": "string",
  "company": [
    {
      "name": "string",
      "cnpjNumber": "string",
      "products": [
        {
          "name": "string",
          "code": "string",
          "coverages": [
            {
              "coverage": "VIDROS",
              "coverageDetail": "Roubo total",
              "coveragePermissionSeparteAcquisition": true,
              "coverageAttributes": {
                "minLMI": {
                  "amount": 0,
                  "unit": {
                    "code": "string",
                    "description": "string"
                  }
                },
                "maxLMI": {
                  "amount": 0,
                  "unit": {
                    "code": "string",
                    "description": "string"
                  }
                },
                "contractBase": [
                  {
                    "contractBaseType": "VALOR DETERMINADO",
                    "contractBaseMinValue": {},
                    "contractBaseMaxValue": {}
                  }
                ],
                "newCarMaximumCalculatingPeriod": 12,
                "newCarContractBase": [
                  {
                    "contractBaseType": "VALOR DETERMINADO",
                    "contractBaseMinValue": {},
                    "contractBaseMaxValue": {}
                  }
                ],
                "fullIndemnityPercentage": {
                  "amount": 0,
                  "unit": {
                    "code": "string",
                    "description": "string"
                  }
                },
                "deductibleType": [
                  "NORMAL"
                ],
                "fullIndemnityDeductible": true,
                "deductiblePaymentByCoverage": true,
                "deductiblePercentage": {
                  "amount": 0,
                  "unit": {
                    "code": "string",
                    "description": "string"
                  }
                },
                "mandatoryParticipation": "Casco - RCF-V Danos",
                "geographicScopeCoverage": [
                  "NACIONAL"
                ],
                "geographicScopeCoverageOthers": "string"
              }
            }
          ],
          "carParts": [
            {
              "carPartCondition": "NOVAS",
              "carPartType": "ORIGINAIS"
            }
          ],
          "carModels": [
            {
              "manufacturer": "FORD",
              "model": "KA",
              "year": 2018,
              "fipeCode": "string"
            }
          ],
          "vehicleOvernightZipCode": 1311000,
          "additional": [
            "SORTEIO GRATUITO"
          ],
          "additionalOthers": "string",
          "assistanceServices": [
            {
              "assistanceServicesPackage": [
                "ATE_10_SERVICOS"
              ],
              "assistanceServicesDetail": "Perda Parcial - Colisão",
              "chargeTypeSignaling": "GRATUITA"
            }
          ],
          "termsAndConditions": [
            {
              "susepProcessNumber": "15414.622222/2222-22",
              "definition": "https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
            }
          ],
          "terms": [
            "ANUAL"
          ],
          "customerService": [
            "REDE REFERECIADA"
          ],
          "premiumPayment": {
            "paymentMethod": [
              "CARTÃO DE CRÉDITO"
            ],
            "paymentType": [
              "PARCELADO"
            ],
            "paymentDetail": "string"
          },
          "minimumRequirements": {
            "contractingType": [
              "COLETIVO"
            ],
            "contractingMinRequirement": "https://example.com/mobile-banking"
          },
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      ]
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|company|[AutoInsuranceCompany](#schemaautoinsurancecompany)|true|none|none|

<h2 id="tocS_AutoInsuranceCompany">AutoInsuranceCompany</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancecompany"></a>
<a id="schema_AutoInsuranceCompany"></a>
<a id="tocSautoinsurancecompany"></a>
<a id="tocsautoinsurancecompany"></a>

```json
[
  {
    "name": "string",
    "cnpjNumber": "string",
    "products": [
      {
        "name": "string",
        "code": "string",
        "coverages": [
          {
            "coverage": "VIDROS",
            "coverageDetail": "Roubo total",
            "coveragePermissionSeparteAcquisition": true,
            "coverageAttributes": {
              "minLMI": {
                "amount": 0,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              },
              "maxLMI": {
                "amount": 0,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              },
              "contractBase": [
                {
                  "contractBaseType": "VALOR DETERMINADO",
                  "contractBaseMinValue": {
                    "amount": 0,
                    "unit": {}
                  },
                  "contractBaseMaxValue": {
                    "amount": 0,
                    "unit": {}
                  }
                }
              ],
              "newCarMaximumCalculatingPeriod": 12,
              "newCarContractBase": [
                {
                  "contractBaseType": "VALOR DETERMINADO",
                  "contractBaseMinValue": {
                    "amount": 0,
                    "unit": {}
                  },
                  "contractBaseMaxValue": {
                    "amount": 0,
                    "unit": {}
                  }
                }
              ],
              "fullIndemnityPercentage": {
                "amount": 0,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              },
              "deductibleType": [
                "NORMAL"
              ],
              "fullIndemnityDeductible": true,
              "deductiblePaymentByCoverage": true,
              "deductiblePercentage": {
                "amount": 0,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              },
              "mandatoryParticipation": "Casco - RCF-V Danos",
              "geographicScopeCoverage": [
                "NACIONAL"
              ],
              "geographicScopeCoverageOthers": "string"
            }
          }
        ],
        "carParts": [
          {
            "carPartCondition": "NOVAS",
            "carPartType": "ORIGINAIS"
          }
        ],
        "carModels": [
          {
            "manufacturer": "FORD",
            "model": "KA",
            "year": 2018,
            "fipeCode": "string"
          }
        ],
        "vehicleOvernightZipCode": 1311000,
        "additional": [
          "SORTEIO GRATUITO"
        ],
        "additionalOthers": "string",
        "assistanceServices": [
          {
            "assistanceServicesPackage": [
              "ATE_10_SERVICOS"
            ],
            "assistanceServicesDetail": "Perda Parcial - Colisão",
            "chargeTypeSignaling": "GRATUITA"
          }
        ],
        "termsAndConditions": [
          {
            "susepProcessNumber": "15414.622222/2222-22",
            "definition": "https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
          }
        ],
        "terms": [
          "ANUAL"
        ],
        "customerService": [
          "REDE REFERECIADA"
        ],
        "premiumPayment": {
          "paymentMethod": [
            "CARTÃO DE CRÉDITO"
          ],
          "paymentType": [
            "PARCELADO"
          ],
          "paymentDetail": "string"
        },
        "minimumRequirements": {
          "contractingType": [
            "COLETIVO"
          ],
          "contractingMinRequirement": "https://example.com/mobile-banking"
        },
        "targetAudiences": [
          "PESSOA_NATURAL"
        ]
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[AutoInsuranceProduct](#schemaautoinsuranceproduct)|true|none|Lista de Dependências de uma Instituição.|

<h2 id="tocS_AutoInsuranceProductDefault">AutoInsuranceProductDefault</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsuranceproductdefault"></a>
<a id="schema_AutoInsuranceProductDefault"></a>
<a id="tocSautoinsuranceproductdefault"></a>
<a id="tocsautoinsuranceproductdefault"></a>

```json
[
  "string"
]

```

Campo para que a operadora retorne um produto padrão ou retorno customizado caso a consulta por FIPE não seja atendida.

### Properties

*None*

<h2 id="tocS_AutoInsuranceProduct">AutoInsuranceProduct</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsuranceproduct"></a>
<a id="schema_AutoInsuranceProduct"></a>
<a id="tocSautoinsuranceproduct"></a>
<a id="tocsautoinsuranceproduct"></a>

```json
[
  {
    "name": "string",
    "code": "string",
    "coverages": [
      {
        "coverage": "VIDROS",
        "coverageDetail": "Roubo total",
        "coveragePermissionSeparteAcquisition": true,
        "coverageAttributes": {
          "minLMI": {
            "amount": 0,
            "unit": {
              "code": "string",
              "description": "string"
            }
          },
          "maxLMI": {
            "amount": 0,
            "unit": {
              "code": "string",
              "description": "string"
            }
          },
          "contractBase": [
            {
              "contractBaseType": "VALOR DETERMINADO",
              "contractBaseMinValue": {
                "amount": 0,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              },
              "contractBaseMaxValue": {
                "amount": 0,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              }
            }
          ],
          "newCarMaximumCalculatingPeriod": 12,
          "newCarContractBase": [
            {
              "contractBaseType": "VALOR DETERMINADO",
              "contractBaseMinValue": {
                "amount": 0,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              },
              "contractBaseMaxValue": {
                "amount": 0,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              }
            }
          ],
          "fullIndemnityPercentage": {
            "amount": 0,
            "unit": {
              "code": "string",
              "description": "string"
            }
          },
          "deductibleType": [
            "NORMAL"
          ],
          "fullIndemnityDeductible": true,
          "deductiblePaymentByCoverage": true,
          "deductiblePercentage": {
            "amount": 0,
            "unit": {
              "code": "string",
              "description": "string"
            }
          },
          "mandatoryParticipation": "Casco - RCF-V Danos",
          "geographicScopeCoverage": [
            "NACIONAL"
          ],
          "geographicScopeCoverageOthers": "string"
        }
      }
    ],
    "carParts": [
      {
        "carPartCondition": "NOVAS",
        "carPartType": "ORIGINAIS"
      }
    ],
    "carModels": [
      {
        "manufacturer": "FORD",
        "model": "KA",
        "year": 2018,
        "fipeCode": "string"
      }
    ],
    "vehicleOvernightZipCode": 1311000,
    "additional": [
      "SORTEIO GRATUITO"
    ],
    "additionalOthers": "string",
    "assistanceServices": [
      {
        "assistanceServicesPackage": [
          "ATE_10_SERVICOS"
        ],
        "assistanceServicesDetail": "Perda Parcial - Colisão",
        "chargeTypeSignaling": "GRATUITA"
      }
    ],
    "termsAndConditions": [
      {
        "susepProcessNumber": "15414.622222/2222-22",
        "definition": "https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
      }
    ],
    "terms": [
      "ANUAL"
    ],
    "customerService": [
      "REDE REFERECIADA"
    ],
    "premiumPayment": {
      "paymentMethod": [
        "CARTÃO DE CRÉDITO"
      ],
      "paymentType": [
        "PARCELADO"
      ],
      "paymentDetail": "string"
    },
    "minimumRequirements": {
      "contractingType": [
        "COLETIVO"
      ],
      "contractingMinRequirement": "https://example.com/mobile-banking"
    },
    "targetAudiences": [
      "PESSOA_NATURAL"
    ]
  }
]

```

Produtos de Seguro de Automóveis.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[AutoInsuranceCoverage](#schemaautoinsurancecoverage)|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.5 do Anexo II|
|carParts|[AutoInsuranceCarPart](#schemaautoinsurancecarpart)|true|none|Tipo de peça utilizada para reparação.|
|carModels|[AutoInsuranceCarModel](#schemaautoinsurancecarmodel)|true|none|Listagem de modelos / ano de veículos. Deve ser padronizada na proposta técnica submetida pela Estrutura Inicial de Governança para observância comum por todas as sociedades participantes.|
|vehicleOvernightZipCode|string|true|none|Área de comercialização do seguro do automóvel.|
|additional|[string]|true|none|none|
|additionalOthers|string|false|none|Campo aberto para descrição de cada participante ao selecionar o domínio ‘Outros’ no campo acima ‘Adicionais’|
|assistanceServices|[[AutoInsuranceAssistanceServices](#schemaautoinsuranceassistanceservices)]|true|none|[Serviços de Assistência.]|
|termsAndConditions|[AutoInsuranceTermsAndConditions](#schemaautoinsurancetermsandconditions)|true|none|none|
|terms|[string]|true|none|Prazo.|
|customerService|[string]|true|none|Rede de atendimento do seguro contratado.|
|premiumPayment|[AutoInsurancePremiumPayment](#schemaautoinsurancepremiumpayment)|true|none|Informações de pagamento de prêmio.|
|minimumRequirements|[AutoInsuranceMinimumRequirements](#schemaautoinsuranceminimumrequirements)|true|none|Produtos de Seguro de Automóvel.|
|targetAudiences|[string]|true|none|Público-alvo.|

<h2 id="tocS_AutoInsuranceCoverage">AutoInsuranceCoverage</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancecoverage"></a>
<a id="schema_AutoInsuranceCoverage"></a>
<a id="tocSautoinsurancecoverage"></a>
<a id="tocsautoinsurancecoverage"></a>

```json
[
  {
    "coverage": "VIDROS",
    "coverageDetail": "Roubo total",
    "coveragePermissionSeparteAcquisition": true,
    "coverageAttributes": {
      "minLMI": {
        "amount": 0,
        "unit": {
          "code": "string",
          "description": "string"
        }
      },
      "maxLMI": {
        "amount": 0,
        "unit": {
          "code": "string",
          "description": "string"
        }
      },
      "contractBase": [
        {
          "contractBaseType": "VALOR DETERMINADO",
          "contractBaseMinValue": {
            "amount": 0,
            "unit": {
              "code": "string",
              "description": "string"
            }
          },
          "contractBaseMaxValue": {
            "amount": 0,
            "unit": {
              "code": "string",
              "description": "string"
            }
          }
        }
      ],
      "newCarMaximumCalculatingPeriod": 12,
      "newCarContractBase": [
        {
          "contractBaseType": "VALOR DETERMINADO",
          "contractBaseMinValue": {
            "amount": 0,
            "unit": {
              "code": "string",
              "description": "string"
            }
          },
          "contractBaseMaxValue": {
            "amount": 0,
            "unit": {
              "code": "string",
              "description": "string"
            }
          }
        }
      ],
      "fullIndemnityPercentage": {
        "amount": 0,
        "unit": {
          "code": "string",
          "description": "string"
        }
      },
      "deductibleType": [
        "NORMAL"
      ],
      "fullIndemnityDeductible": true,
      "deductiblePaymentByCoverage": true,
      "deductiblePercentage": {
        "amount": 0,
        "unit": {
          "code": "string",
          "description": "string"
        }
      },
      "mandatoryParticipation": "Casco - RCF-V Danos",
      "geographicScopeCoverage": [
        "NACIONAL"
      ],
      "geographicScopeCoverageOthers": "string"
    }
  }
]

```

Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.5 do Anexo II

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|coverage|string|true|none|Conjunto de riscos elencados na apólice.|
|coverageDetail|string|true|none|Campo aberto para detalhamento de riscos possíveis dos produtos a ser feito para cada participante.|
|coveragePermissionSeparteAcquisition|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|coverageAttributes|[AutoInsuranceCoverageAttributes](#schemaautoinsurancecoverageattributes)|true|none|Atributos da cobertura.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|CASCO_COMPREENSIVA_COLISAO_INCENDIO_ROUBO_FURTO|
|coverage|CASCO_INCENDIO_ROUBO_FURTO|
|coverage|CASCO_ROUBO_FURTO|
|coverage|CASCO_INCENDIO|
|coverage|CASCO_ALAGAMENTO|
|coverage|CASCO_COLISAO_INDENIZACAO_PARCIAL|
|coverage|CASCO_COLISAO_INDENIZACAO_INTEGRAL|
|coverage|RESPONSABILIDADE_CIVIL_FACULTATIVA_VEICULOS_RCFV|
|coverage|RESPONSABILIDADE_CIVIL_FACULTATIVA_CONDUTOR_RCFC|
|coverage|ACIDENTE_PESSOAIS_PASSAGEIROS_VEICULO|
|coverage|ACIDENTE_PESSOAIS_PASSAGEIROS_CONDUTOR|
|coverage|VIDROS|
|coverage|DIARIA_INDISPONIBILIDADE|
|coverage|LFR_LANTERNAS_FAROIS_RETROVISORES|
|coverage|ACESSORIOS_EQUIPAMENTOS|
|coverage|CARRO_RESERVA|
|coverage|PEQUENOS_REPAROS|
|coverage|RESPONSABILIDADE_CIVIL_CARTA_VERDE|
|coverage|VOUCHER_MOBILIDADE|
|coverage|DESPESAS_EXTRAORDINARIAS|
|coverage|PEQUENOS_REPAROS|
|coverage|GARANTIA_MECANICA|
|coverage|OUTRAS|

<h2 id="tocS_AutoInsuranceCovaregeAttibutesDetailsUnit">AutoInsuranceCovaregeAttibutesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancecovaregeattibutesdetailsunit"></a>
<a id="schema_AutoInsuranceCovaregeAttibutesDetailsUnit"></a>
<a id="tocSautoinsurancecovaregeattibutesdetailsunit"></a>
<a id="tocsautoinsurancecovaregeattibutesdetailsunit"></a>

```json
{
  "code": "string",
  "description": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_AutoInsuranceCovaregeAttibutesDetails">AutoInsuranceCovaregeAttibutesDetails</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancecovaregeattibutesdetails"></a>
<a id="schema_AutoInsuranceCovaregeAttibutesDetails"></a>
<a id="tocSautoinsurancecovaregeattibutesdetails"></a>
<a id="tocsautoinsurancecovaregeattibutesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "string",
    "description": "string"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[AutoInsuranceCovaregeAttibutesDetailsUnit](#schemaautoinsurancecovaregeattibutesdetailsunit)|true|none|none|

<h2 id="tocS_AutoInsuranceContractBase">AutoInsuranceContractBase</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancecontractbase"></a>
<a id="schema_AutoInsuranceContractBase"></a>
<a id="tocSautoinsurancecontractbase"></a>
<a id="tocsautoinsurancecontractbase"></a>

```json
[
  {
    "contractBaseType": "VALOR DETERMINADO",
    "contractBaseMinValue": {
      "amount": 0,
      "unit": {
        "code": "string",
        "description": "string"
      }
    },
    "contractBaseMaxValue": {
      "amount": 0,
      "unit": {
        "code": "string",
        "description": "string"
      }
    }
  }
]

```

Base de contratação.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractBaseType|string|true|none|Incidência ao capital segurado da cobertura de casco.|
|contractBaseMinValue|[AutoInsuranceCovaregeAttibutesDetails](#schemaautoinsurancecovaregeattibutesdetails)|false|none|Valor Base de Contratação Mínimo.|
|contractBaseMaxValue|[AutoInsuranceCovaregeAttibutesDetails](#schemaautoinsurancecovaregeattibutesdetails)|false|none|Valor Base de Contratação Máximo.|

#### Enumerated Values

|Property|Value|
|---|---|
|contractBaseType|VALOR_DETERMINADO|
|contractBaseType|VALOR_MERCADO|
|contractBaseType|AMBOS|

<h2 id="tocS_AutoInsuranceCoverageAttributes">AutoInsuranceCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancecoverageattributes"></a>
<a id="schema_AutoInsuranceCoverageAttributes"></a>
<a id="tocSautoinsurancecoverageattributes"></a>
<a id="tocsautoinsurancecoverageattributes"></a>

```json
{
  "minLMI": {
    "amount": 0,
    "unit": {
      "code": "string",
      "description": "string"
    }
  },
  "maxLMI": {
    "amount": 0,
    "unit": {
      "code": "string",
      "description": "string"
    }
  },
  "contractBase": [
    {
      "contractBaseType": "VALOR DETERMINADO",
      "contractBaseMinValue": {
        "amount": 0,
        "unit": {
          "code": "string",
          "description": "string"
        }
      },
      "contractBaseMaxValue": {
        "amount": 0,
        "unit": {
          "code": "string",
          "description": "string"
        }
      }
    }
  ],
  "newCarMaximumCalculatingPeriod": 12,
  "newCarContractBase": [
    {
      "contractBaseType": "VALOR DETERMINADO",
      "contractBaseMinValue": {
        "amount": 0,
        "unit": {
          "code": "string",
          "description": "string"
        }
      },
      "contractBaseMaxValue": {
        "amount": 0,
        "unit": {
          "code": "string",
          "description": "string"
        }
      }
    }
  ],
  "fullIndemnityPercentage": {
    "amount": 0,
    "unit": {
      "code": "string",
      "description": "string"
    }
  },
  "deductibleType": [
    "NORMAL"
  ],
  "fullIndemnityDeductible": true,
  "deductiblePaymentByCoverage": true,
  "deductiblePercentage": {
    "amount": 0,
    "unit": {
      "code": "string",
      "description": "string"
    }
  },
  "mandatoryParticipation": "Casco - RCF-V Danos",
  "geographicScopeCoverage": [
    "NACIONAL"
  ],
  "geographicScopeCoverageOthers": "string"
}

```

Atributos da cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|minLMI|[AutoInsuranceCovaregeAttibutesDetails](#schemaautoinsurancecovaregeattibutesdetails)|true|none|Lista com valor mínimo de LMI aceito pela sociedade para cada cobertura.|
|maxLMI|[AutoInsuranceCovaregeAttibutesDetails](#schemaautoinsurancecovaregeattibutesdetails)|true|none|Lista com valor máximo de LMI aceito pela sociedade para cada cobertura.|
|contractBase|[AutoInsuranceContractBase](#schemaautoinsurancecontractbase)|true|none|Veículo Zero Km Base de Contratação|
|newCarMaximumCalculatingPeriod|integer|true|none|Prazo máximo para apuração do valor a ser indenizado para veículo zero quilômetro. Em meses.|
|newCarContractBase|[AutoInsuranceContractBase](#schemaautoinsurancecontractbase)|false|none|Semelhante ao campo “Atributos cobertura - base de contratação” aplicada ao veículo Zero Km.|
|fullIndemnityPercentage|[AutoInsuranceCovaregeAttibutesDetails](#schemaautoinsurancecovaregeattibutesdetails)|true|none|Percentual do Limite Máximo de Indenização para caracterização de indenização integral.|
|deductibleType|[string]|true|none|Listagem de tipo de franquia para cada tipo de cobertura do produto.|
|fullIndemnityDeductible|boolean|true|none|Franquia para Indenização Integral.|
|deductiblePaymentByCoverage|boolean|true|none|Sinalização para cada cobertura se a seguradora exige pagamento de franquia.|
|deductiblePercentage|[AutoInsuranceCovaregeAttibutesDetails](#schemaautoinsurancecovaregeattibutesdetails)|true|none|Listagem percentual de franquia e/ou percentual de participação obrigatória do segurado estabelecida pela sociedade para cada tipo de cobertura de produto.|
|mandatoryParticipation|string|true|none|Participação Obrigatória do Segurado.|
|geographicScopeCoverage|[string]|true|none|Listagem de abrangência geográfica do produto para fins de cada cobertura.|
|geographicScopeCoverageOthers|string|false|none|Âmbito geográficoda cobertura - Outros|

<h2 id="tocS_AutoInsuranceMinimumRequirements">AutoInsuranceMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsuranceminimumrequirements"></a>
<a id="schema_AutoInsuranceMinimumRequirements"></a>
<a id="tocSautoinsuranceminimumrequirements"></a>
<a id="tocsautoinsuranceminimumrequirements"></a>

```json
{
  "contractingType": [
    "COLETIVO"
  ],
  "contractingMinRequirement": "https://example.com/mobile-banking"
}

```

Produtos de Seguro de Automóvel.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractingType|[string]|true|none|Informações sobre todos os requisitos mínimos para contratação.|
|contractingMinRequirement|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|

<h2 id="tocS_AutoInsuranceTermsAndConditions">AutoInsuranceTermsAndConditions</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancetermsandconditions"></a>
<a id="schema_AutoInsuranceTermsAndConditions"></a>
<a id="tocSautoinsurancetermsandconditions"></a>
<a id="tocsautoinsurancetermsandconditions"></a>

```json
[
  {
    "susepProcessNumber": "15414.622222/2222-22",
    "definition": "https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|true|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_AutoInsurancePremiumPayment">AutoInsurancePremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancepremiumpayment"></a>
<a id="schema_AutoInsurancePremiumPayment"></a>
<a id="tocSautoinsurancepremiumpayment"></a>
<a id="tocsautoinsurancepremiumpayment"></a>

```json
{
  "paymentMethod": [
    "CARTÃO DE CRÉDITO"
  ],
  "paymentType": [
    "PARCELADO"
  ],
  "paymentDetail": "string"
}

```

Informações de pagamento de prêmio.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|[string]|true|none|Meio de pagamento escolhido pelo segurado.|
|paymentType|[string]|false|none|Forma de pagamento.|
|paymentDetail|string|false|none|Campo aberto para detalhamento do campo ‘Outros’ por cada participante.|

<h2 id="tocS_AutoInsuranceAssistanceServices">AutoInsuranceAssistanceServices</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsuranceassistanceservices"></a>
<a id="schema_AutoInsuranceAssistanceServices"></a>
<a id="tocSautoinsuranceassistanceservices"></a>
<a id="tocsautoinsuranceassistanceservices"></a>

```json
{
  "assistanceServicesPackage": [
    "ATE_10_SERVICOS"
  ],
  "assistanceServicesDetail": "Perda Parcial - Colisão",
  "chargeTypeSignaling": "GRATUITA"
}

```

Serviços de Assistência.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|assistanceServicesPackage|[string]|true|none|Pacotes de Assistência - Agrupamento.|
|assistanceServicesDetail|string|true|none|Serviços de assistência - Detalhamento.|
|chargeTypeSignaling|string|false|none|Sinalização em campo exclusivo se o pacote de Assistência é gratuita ou contratada/paga.|

#### Enumerated Values

|Property|Value|
|---|---|
|chargeTypeSignaling|GRATUITA|
|chargeTypeSignaling|PAGA|

<h2 id="tocS_AutoInsuranceCarPart">AutoInsuranceCarPart</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancecarpart"></a>
<a id="schema_AutoInsuranceCarPart"></a>
<a id="tocSautoinsurancecarpart"></a>
<a id="tocsautoinsurancecarpart"></a>

```json
[
  {
    "carPartCondition": "NOVAS",
    "carPartType": "ORIGINAIS"
  }
]

```

Tipo de peça utilizada para reparação.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|carPartCondition|string|true|none|Nova ou usada|
|carPartType|string|true|none|Originais e não originais|

#### Enumerated Values

|Property|Value|
|---|---|
|carPartCondition|NOVAS|
|carPartCondition|USADAS|
|carPartCondition|AMBAS|
|carPartType|ORIGINAIS|
|carPartType|COMPATIVEIS|
|carPartType|AMBAS|

<h2 id="tocS_AutoInsuranceCarModel">AutoInsuranceCarModel</h2>
<!-- backwards compatibility -->
<a id="schemaautoinsurancecarmodel"></a>
<a id="schema_AutoInsuranceCarModel"></a>
<a id="tocSautoinsurancecarmodel"></a>
<a id="tocsautoinsurancecarmodel"></a>

```json
[
  {
    "manufacturer": "FORD",
    "model": "KA",
    "year": 2018,
    "fipeCode": "string"
  }
]

```

Listagem de modelos / ano de veículos. Deve ser padronizada na proposta técnica submetida pela Estrutura Inicial de Governança para observância comum por todas as sociedades participantes.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|manufacturer|string|true|none|Fabricante|
|model|string|true|none|Modelo|
|year|integer|true|none|Ano de fabricação.|
|fipeCode|string|true|none|Código FIPE do veículo.|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "prev": "string",
  "next": "string",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|

