<h1 id="calendar">Calendário</h1>

Este anexo tem como objetivo detalhar quando a versão das APIs do Open Insurance é alterada. Ele poderá ser acessado clicando <a href='files/releases_versionamento_swaggers.pdf' download="releases_versionamento_swaggers.pdf">aqui.</a>