# Calendário

Este anexo tem como objetivo detalhar quando a versão das APIs do Open Insurance é alterada. Ele poderá ser acessado clicando <a href='files/20221020 _Processos_HotFix_Releases.pdf' download="20221020 _Processos_HotFix_Releases.pdf">aqui.</a>

Este anexo tem como objetivo detalhar quando a versão das APIs do Open Insurance é alterada, conforme a classificação da modificação.Ele poderá ser acessado clicando aqui.

Major*: Versão gerada para mudanças de legislação e atualização de documentações oficiais que só poderão ser lançadas com a anuência da SUSEP, por exemplo, v1.0.0 e v2.0.0;
        
Minor: Versão gerada quando forem realizadas atualizações que descompatibilizam o mercado, mas que não se tratam de versões major, por exemplo, v1.1.0 e v1.2.0;
        
Patch: Versão gerada quando há correção de bug ou alteração da documentação que não impacta ou descompatibiliza a API (v1.1.1).
        
OBS: A instituição deve obrigatoriamente refazer a certificação das APIs no Diretório de Participantes conforme release de uma versão major, minor ou patch.

| Alteração | Versionamento |
| --------- | ------------- |
| Adição de obrigatoriedade de campo | minor |
| Alteração de pattern que impacta a validação | 
| Retirada de campo | minor |
| Adição de campo | minor |
| Ajuste na grafia do campo | minor |
| Alteraçao do tipo do campo | minor |
| Diminuição de número de caracteres | minor |
| Atualizações de REGEX para início de validação de campos antes não validados | minor |
| Atualização de patterns que não impactam a validação  | patch |
| Retirada de obrigatoriedade de campo | patch |
| Aumento no número de caracteres | patch |
| Adição de enum | patch |
| Ajuste na descrição do campo | patch |
| Alteração nos exemplos do campo | patch |
| Atualizações de REGEX que não impactam a validação | patch |
| Alteração de pattern que não impacta a validação | patch |
| Retirada de campo não obrigatório | patch |
| Adição de campo não obrigatório | patch |
| Retirada da obrigatoriedade de um Campo | patch |


