<h1 id="plataforma-de-coleta-de-metricas">Plataforma de coleta de métricas</h1>

<%= partial "./includes/partials/coleta_de_metricas/coleta_de_metricas" %>
<%= partial "./includes/partials/coleta_de_metricas/responses" %>

