<h1 id="plataforma-de-coleta-de-metricas">Plataforma de coleta de métricas</h1>
<%= partial "./includes/alerta/alerta" %>
<%= partial "./includes/partials/coleta_de_metricas/metricas_transacionais/metricas_transacionais" %>
<%= partial "./includes/partials/coleta_de_metricas/funil_consentimento/funil_consentimento" %>  
<%= partial "./includes/partials/coleta_de_metricas/responses" %>
