# FAQ

Clique no botão abaixo pra acessar o FAQ do Service Desk.

<a href="https://servicedesk.opinbrasil.com.br/Login.jsp?navLanguage=pt-BR" target="_blank" style="padding: 8px 23px; font-weight: bold; color: white; background-color: #008033; border: 0;">Acessar</a>