# Manuais para participantes

<a target="_blank" href="files/%5BOPIN%5D%20Passo%20a%20passo%20cadastro_APIs_20211207.pdf">Passo a passo para cadastro de Endpoint’s - dados públicos Fase 1</a> <br>
<a target="_blank" href="files/%5BOPIN%5D_%20Passo%20a%20passo%20cadastro_Diretório_20211207.pdf">Passo a passo de cadastro no diretório</a> <br>
<a target="_blank" href="files/Open%20Insurance_%20Passo%20a%20passo%20Cadastro%20Contatos%20Técnicos%20Diretório.pdf">Passo a passo Cadastro Contatos Técnicos Diretório</a> <br>
<a target="_blank" href="files/Open%20Insurance_%20Passo%20a%20passo%20teste%20de%20conformidade_v2.pdf">Passo a passo testes de confomidade APIs</a> <br>
<a target="_blank" href="files/v102%20Orientações%20Homologações%20de%20API.pdf">Orientação de homologação de API</a> <br>
<a target="_blank" href="files/Orientações%20-%20Estratégia%20Cadastro%20APIs.pdf">Recomendações Cadastro APIs Diretório</a> <br>
<a target="_blank" href="files/Open%20Insurance_%20Passo%20a%20passo%20cadastro_Diretório_SandBox.pdf">Passo a passo de cadastro no diretório (Ambiente de SandBox)</a> <br>