# Manual

<a href="dictionary/%5BOPIN%5D%20Passo%20a%20passo%20cadastro_APIs_20211207.pdf">Passo a Passo para cadastro de Endpoint’s - dados públicos Fase 1</a> <br>
<a href="dictionary/%5BOPIN%5D_%20Passo%20a%20passo%20cadastro_Diretório_20211207.pdf">Passo a passo de cadastro no diretório</a> <br>
<a href="dictionary/Open%20Insurance_%20Passo%20a%20passo%20Cadastro%20Contatos%20Técnicos%20Diretório.pdf">Passo a passo Cadastro Contatos Técnicos Diretório</a> <br>
<a href="dictionary/Open%20Insurance_%20Passo%20a%20passo%20teste%20de%20conformidade.pdf">Passo a passo testes de confomidade APIs</a> <br>
