# Notificações

## Informes

Confira as últimas atualizações da Estrutura de Governança do Open Insurance Brasil.

Open Insurance Informa #14 - 23/02/22 – <a href='files/notifications/14.pdf' download="informe14.pdf">download</a>  
