# Notificações

## Boletim OPIN

Este material tem como objetivo reunir os principais temas e informações referentes ao projeto. Caso tenha alguma dúvida ou sugestão, ou queira entrar em contato com a nossa equipe, o canal de comunicação oficial é o <a target="_blank" href='https://servicedesk.opinbrasil.com.br/Login.jsp?navLanguage=pt-BR'>Service Desk</a>.

<a target="_blank" href='files/notifications/2022/report-card/Boletim OPIN B22-001.pdf'>Boletim OPIN #B22-001</a><br>

<ul>
  <li> Diretório: Cadastro de APIs Fase 2 (prazo 01/09/2022) e Nova Interface do Usuário </li>
  <li> Implantação de melhorias às APIs da Fase 1 (prazo de homologação 28/10/2022) </li>
  <li> Certificados de Segurança Padronização e Orientações (prazo estendido) </li>
</ul>

<a target="_blank" href='files/notifications/2022/report-card/Boletim OPIN B22-002.pdf'>Boletim OPIN #B22-002</a><br>

<ul>
    <li>Nova versão das APIs: Dados Cadastrais e Patrimonial Residencial</li>
    <li>Testes estruturais e funcionais da Fase 2</li>
    <li>Lembrete: Implantação de melhorias às APIs da Fase 1 (28/10/2022)</li>
</ul>

<a target="_blank" href='files/notifications/2022/report-card/Boletim OPIN B22-003.pdf'>Boletim OPIN #B22-003</a><br>


<ul>
    <li>Orientação sobre os testes estruturais do motor de
      conformidade Fase 2</li>
    <li> Requisitos de Segurança</li>
    <li>Implantação de melhorias às APIs da Fase 1 </li>
       
</ul>

<a target="_blank" href='files/notifications/2022/report-card/Boletim OPIN B22-004.pdf'>Boletim OPIN #B22-004</a><br>

<ul>
    <li>Atualização de Grandes Riscos e Dados Embarcados de Auto</li>
    <li>Atualização de APIs no portal do desenvolvedor</li>
    <li>Requisitos de Segurança</li>
    <li>Prorrogação da Implantação de melhorias às APIs da Fase 1</li>

</ul>

## Comunicados Open Insurance

Confira as últimas atualizações do Open Insurance Brasil.

OPIN Comunica #D21-001 007 – <a target="_blank" href='files/notifications/2021/7.pdf'>Disponibilização dos Manuais e Swaggers</a><br>
OPIN Comunica #D21-002 031 – <a target="_blank" href='files/notifications/2021/31.pdf'>Disponibilização de Cadastro via Forms</a><br>
OPIN Comunica #D21-003 032 – <a target="_blank" href='files/notifications/2021/32.pdf'>Informações Diretório de Participantes e Tutorial de Cadastro</a><br>
OPIN Comunica #D21-004 034 – <a target="_blank" href='files/notifications/2021/34.pdf'>Tratativas Service Desk</a><br>
OPIN Comunica #D21-005 037 – <a target="_blank" href='files/notifications/2021/37.pdf'>Informações Diretório de Participantes e Tutorial de Cadastro</a><br>
OPIN Comunica #D21-006 038A – <a target="_blank" href='files/notifications/2021/38A.pdf'>Concessão de Prazo Complementar para Certificação Funcional das APIs</a><br>
OPIN Comunica #D21-007 040 – <a target="_blank" href='files/notifications/2021/40.pdf'>Tutorial Testes de Conformidade APIs</a><br>
OPIN Comunica #D21-008 041 – <a target="_blank" href='files/notifications/2021/41.pdf'>Tutorial Cadastro Contatos Técnicos Diretório</a><br>
OPIN Comunica #D21-009 042 – <a target="_blank" href='files/notifications/2021/42.pdf'>Logotipo dos Participantes</a><br>
OPIN Comunica #D21-010 043 – <a target="_blank" href='files/notifications/2021/43.pdf'>Inconsistências Testes de Conformidade</a><br>
OPIN Comunica #D21-011 044 – <a target="_blank" href='files/notifications/2021/44.pdf'>Atualização - Inconsistências Testes de Conformidade</a><br>
OPIN Comunica #D22-000 008 – <a target="_blank" href='files/notifications/2022/8.pdf'>Estratégia para Cadastro de APIs - Formulário e Orientações</a><br>
OPIN Comunica #D22-001 014 – <a target="_blank" href='files/notifications/2022/14.pdf'>Publicação da Versão V1.03 de Swaggers</a><br>
OPIN Comunica #D22-002 016 – <a target="_blank" href='files/notifications/2022/16.pdf'>Liberação do Motor de Conformidade - Versão v1.03 de Swaggers</a><br>
OPIN Comunica #D22-003 017 – <a target="_blank" href='files/notifications/2022/17.pdf'>Esclarecimentos sobre Produtos com Coberturas em APIs Distintas</a><br>
OPIN Comunica #D22-004 018 – <a target="_blank" href='files/notifications/2022/18.pdf'>Direcionamento de Erros Conhecidos para a Homologação das APIs</a><br>
OPIN Comunica #D22-005 019 – <a target="_blank" href='files/notifications/2022/19.pdf'>Direcionamento Execução de Testes de Conformidade da API Discovery</a><br>
OPIN Comunica #D22-006 022 – <a target="_blank" href='files/notifications/2022/22.pdf'>Publicação das APIs da Etapa 2 da Fase 1</a><br>
OPIN Comunica #D22-007 026 – <a target="_blank" href='files/notifications/2022/26.pdf'>Publicação das APIs da Etapa 2 da Fase 1</a><br>
OPIN Comunica #D22-008 028 – <a target="_blank" href='files/notifications/2022/28.pdf'>Liberação do Ambiente SandBox - Orientações Gerais</a><br>
OPIN Comunica #D22-009 030 – <a target="_blank" href='files/notifications/2022/30.pdf'>Liberação do Motor de Conformidade para homologação de APIs</a><br>
OPIN Comunica #D22-010 031 – <a target="_blank" href='files/notifications/2022/31.pdf'>Priorização das alterações do Motor de Conformidade para a Etapa II</a><br>
OPIN Comunica #D22-011 032 – <a target="_blank" href='files/notifications/2022/32.pdf'>Atualização das APIs da Etapa 2 da Fase 1</a><br>
OPIN Comunica #D22-012 034 – <a target="_blank" href='files/notifications/2022/34.pdf'>Disponibilização do Motor de Conformidade para a Etapa II</a><br>
OPIN Comunica #D22-013 037 – <a target="_blank" href='files/notifications/2022/37.pdf'>Correção de Erros no Dashboard de Participantes</a><br>
OPIN Comunica #D22-014 038 – <a target="_blank" href='files/notifications/2022/38.pdf'>Homologação Automática Diretório de Participantes</a><br>
OPIN Comunica #D22-015 039A – <a target="_blank" href='files/notifications/2022/39A.pdf'>A Pesquisa - Formato dos campos LMIs e LMGs</a><br>
OPIN Comunica #D22-016 040 – <a target="_blank" href='files/notifications/2022/40.pdf'>Disponibilização de APIs - Estapa III</a><br>
OPIN Comunica #D22-017 041 – <a target="_blank" href='files/notifications/2022/41.pdf'>Manuais de APIs do OPIN - Versão 1-1</a><br>
OPIN Comunica #D22-018 043 – <a target="_blank" href='files/notifications/2022/43.pdf'>Disponibilização do Motor de conformidade - Etapa III</a><br>
OPIN Comunica #D22-019 044 – <a target="_blank" href='files/notifications/2022/44.pdf'>Manuais de utilização das APIs do diretório</a><br>
OPIN Comunica #D22-020 045 – <a target="_blank" href='files/notifications/2022/45.pdf'>Disponibilização de APIs - Etapa III</a><br>
OPIN Comunica #D22-021 046 – <a target="_blank" href='files/notifications/2022/46.pdf'>Disponibilização do Motor de conformidade - Etapa III</a><br>
OPIN Comunica #D22-022 047 – <a target="_blank" href='files/notifications/2022/47.pdf'>Acesso Global dos Usuários N2 no Service Desk</a><br>
OPIN Comunica #D22-023 048 – <a target="_blank" href='files/notifications/2022/48.pdf'>Disponibilização da Publicação das APIs da Etapa III no Sandbox</a><br>
OPIN Comunica #D22-024 049 – <a target="_blank" href='files/notifications/2022/49.pdf'>Esclarecimento de dúvidas sobre a relação da Circular Susep 638</a><br>
OPIN Comunica #D22-025 049A – <a target="_blank" href='files/notifications/2022/49A.pdf'>Período de Homologação das APIs 1-2 e 1-3</a><br>
OPIN Comunica #D22-026 050 – <a target="_blank" href='files/notifications/2022/50.pdf'>Disponibilização da Publicação das APIs da Fase 1</a><br>
OPIN Comunica #D22-027 052 – <a target="_blank" href='files/notifications/2022/52.pdf'>Obrigatoriedade Inclusão Seguro Habitacional</a><br>
OPIN Comunica #D22-028 054 – <a target="_blank" href='files/notifications/2022/54.pdf'>Service Desk тАУ Novo Campo e Status no Fluxo de Atendimento</a><br>
OPIN Comunica #D22-029 055 – <a target="_blank" href='files/notifications/2022/55.pdf'>Cadastro das Participantes como N2 - Service Desk - baixa aderência</a><br>
OPIN Comunica #D22-030 056 – <a target="_blank" href='files/notifications/2022/56.pdf'>Provisionamento dos custos de certificado (ICP-Brasil) e de certificação (FAPI BR)</a><br>
OPIN Comunica #D22-031 057 – <a target="_blank" href='files/notifications/2022/57.pdf'>2&deg; Workshop - Plantão de Dúvidas - Certificados  ICP Brasil</a><br>
OPIN Comunica #D22-032 058 – <a target="_blank" href='files/notifications/2022/58.pdf'>Disponibilização das APIs de Dados no Portal do Desenvolvedor</a><br>
OPIN Comunica #D22-033 064 – <a target="_blank" href='files/notifications/2022/64.pdf'>Dilação de prazo seguro coletivo – Habitacional - Resposta ao Ofício 04_2022</a><br>
OPIN Comunica #D22-034 065 – <a target="_blank" href='files/notifications/2022/65.pdf'>Manuais de orientação certificado BRSEAL e BRCAC</a><br>
OPIN Comunica #D22-035 066 – <a target="_blank" href='files/notifications/2022/66.pdf'>Certificação FAPI - alinhamento de próximos passos</a><br>
OPIN Comunica #D22-036 067 – <a target="_blank" href='files/notifications/2022/67.pdf'>Entregas - Fase II - Proposta de cronograma</a><br>
OPIN Comunica #D22-037 072 – <a target="_blank" href='files/notifications/2022/72.pdf'>Lembrete Cadastro de APIs da Fase 2</a><br>
OPIN Comunica #D22-038 075 – <a target="_blank" href='files/notifications/2022/75.pdf'>Atualização dos Certificados de Segurança</a><br>
OPIN Comunica #D22-039 076 – <a target="_blank" href='files/notifications/2022/76.pdf'>Requisitos de Segurança - Orientações Implementação</a><br>
OPIN Comunica #D22-040 077 – <a target="_blank" href='files/notifications/2022/77.pdf'>Cadastro de API de Patrimonial</a><br>
OPIN Comunica #D22-041 078 – <a target="_blank" href='files/notifications/2022/78.pdf'>Motor de Conformidade e Inserção de Logomarca no Diretório</a><br>
OPIN Comunica #D22-042 079 – <a target="_blank" href='files/notifications/2022/79.pdf'>Extensão de prazo final para republicação das APIs</a><br>
OPIN Comunica #D22-043 080 – <a target="_blank" href='files/notifications/2022/80.pdf'>Requisitos de Segurança</a><br>
OPIN Comunica #D22-044 081 – <a target="_blank" href='files/notifications/2022/81.pdf'>APIs da Fase 2</a><br>



