# Notificações

## Informes

Confira as últimas atualizações da Estrutura de Governança do Open Insurance Brasil.

Open Insurance Comunica #8/2022 – 16/02/2022 – <a target="_blank" href='files/notifications/8.pdf'>Formulário e Orientações para Cadastro de APIs</a>  
Open Insurance Comunica #14/2022 - 23/02/2022 – <a target="_blank" href='files/notifications/14.pdf'>Publicação da Versão V1.0.3 de Swaggers</a>  
Open Insurance Comunica #16/2022 – 24/02/2022 – <a target="_blank" href='files/notifications/16.pdf'>Liberação do Motor de Conformidade - V1.0.3 de Swaggers</a>  
Open Insurance Comunica #17/2022 – 24/02/2022 – <a target="_blank" href='files/notifications/17.pdf'>Esclarecimentos Sobre Produtos com Coberturas em APIs Distintas</a>  
Open Insurance Comunica #18/2022 - 24/02/2022 – <a target="_blank" href='files/notifications/18.pdf'>Direcionamento de Erros Conhecidos para Homologação de APIs</a>  
Open Insurance Comunica #19/2022 – 25/02/2022 – <a target="_blank" href='files/notifications/19.pdf'>Direcionamento para Execução dos Testes de Conformidade da API de Discovery</a>  
Open Insurance Comunica #20/2022 - 04/03/2022 – <a target="_blank" href='files/notifications/20.pdf'>Recomendação Sobre "erro forbidden" na Publicação de Endpoints</a>  
Open Insurance Comunica #22/2022 - 09/03/2022 – <a target="_blank" href='files/notifications/22.pdf'>Publicação das APIs da Etapa 2 da Fase 1</a>  
Open Insurance Comunica #30/2022 – 30/03/2022 - <a target="_blank" href='files/notifications/30.pdf'>Liberação do Motor de Conformidade para homologação de APIs 1.2</a>
