# Notificações

## Comunicados Open Insurance

Confira as últimas atualizações do Open Insurance Brasil.

OPIN Comunica #11/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Disponibilização dos Manuais e Swaggers</a><br>
OPIN Comunica #31/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Disponibilização de Cadastro via Forms</a><br>
OPIN Comunica #32/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Informações Diretório de Participantes e Tutorial de Cadastro</a><br>
OPIN Comunica #34/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Tratativas Service Desk</a><br>
OPIN Comunica #37/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Informações Diretório de Participantes e Tutorial de Cadastro</a><br>
OPIN Comunica #38A/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Concessão de Prazo Complementar para Certificação Funcional das APIs</a><br>
OPIN Comunica #40/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Tutorial Testes de Conformidade APIs</a><br>
OPIN Comunica #41/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Tutorial Cadastro Contatos Técnicos Diretório</a><br>
OPIN Comunica #42/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Logotipo dos Participantes</a><br>
OPIN Comunica #43/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Inconsistências Testes de Conformidade</a><br>
OPIN Comunica #44/2021 – XX/XX/2021 – <a target="_blank" href='files/notifications/2022/14.pdf'>Atualização - Inconsistências Testes de Conformidade</a><br>

OPIN Comunica  #8/2022 – 16/02/2022 – <a target="_blank" href='files/notifications/2022/8.pdf' >Estratégia para Cadastro de APIs - Formulário e Orientações</a><br>
OPIN Comunica #14/2022 – 23/02/2022 – <a target="_blank" href='files/notifications/2022/14.pdf'>Publicação da Versão V1.03 de Swaggers</a><br>
OPIN Comunica #16/2022 – 24/02/2022 – <a target="_blank" href='files/notifications/2022/16.pdf'>Liberação do Motor de Conformidade - Versão v1.03 de Swaggers</a><br>
OPIN Comunica #17/2022 – 24/02/2022 – <a target="_blank" href='files/notifications/2022/17.pdf'>Esclarecimentos sobre Produtos com Coberturas em APIs Distintas</a><br>
OPIN Comunica #18/2022 – 24/02/2022 – <a target="_blank" href='files/notifications/2022/18.pdf'>Direcionamento de Erros Conhecidos para a Homologação das APIs</a><br>
OPIN Comunica #19/2022 – 25/02/2022 – <a target="_blank" href='files/notifications/2022/19.pdf'>Direcionamento Execução de Testes de Conformidade da API Discovery</a><br>
OPIN Comunica #20/2022 – 04/03/2022 – <a target="_blank" href='files/notifications/2022/20.pdf'>Recomendação Sobre "erro forbidden" na Publicação de Endpoints</a><br>
OPIN Comunica #22/2022 – 09/03/2022 – <a target="_blank" href='files/notifications/2022/22.pdf'>Publicação das APIs da Etapa 2 da Fase 1</a><br>
OPIN Comunica #26/2022 – XX/XX/2022 – <a target="_blank" href='files/notifications/2022/26.pdf'>Publicação das APIs da Etapa 2 da Fase 1</a><br>
OPIN Comunica #28/2022 – XX/XX/2022 – <a target="_blank" href='files/notifications/2022/28.pdf'>Liberação do Ambiente SandBox - Orientações Gerais</a><br>
OPIN Comunica #30/2022 – 30/03/2022 – <a target="_blank" href='files/notifications/2022/30.pdf'>Liberação do Motor de Conformidade para homologação de APIs</a><br>
OPIN Comunica #31/2022 – XX/XX/2022 – <a target="_blank" href='files/notifications/2022/31.pdf'>Priorização das alterações do Motor de Conformidade para a Etapa II</a><br>
OPIN Comunica #32/2022 – XX/XX/2022 – <a target="_blank" href='files/notifications/2022/32.pdf'>Atualização das APIs da Etapa 2 da Fase 1</a><br>
OPIN Comunica #34/2022 – 08/04/2022 – <a target="_blank" href='files/notifications/2022/34.pdf'>Disponibilização do Motor de Conformidade para a Etapa II</a><br>
OPIN Comunica #37/2022 – 29/03/2022 – <a target="_blank" href='files/notifications/2022/37.pdf'>Correção de Erros no Dashboard de Participantes</a><br>
OPIN Comunica #38/2022 – XX/XX/2022 – <a target="_blank" href='files/notifications/2022/38.pdf'>Homologação Automática Diretório de Participantes</a><br>
OPIN Comunica #39/2022 – XX/XX/2022 – <a target="_blank" href='files/notifications/2022/39.pdf'>A Pesquisa - Formato dos campos LMIs e LMGs</a><br>
OPIN Comunica #40/2022 – XX/XX/2022 – <a target="_blank" href='files/notifications/2022/40.pdf'>Disponibilização de APIs - Estapa III</a><br>
OPIN Comunica #41/2022 – XX/XX/2022 – <a target="_blank" href='files/notifications/2022/41.pdf'>Manuais de APIs do OPIN - Versão 1-1</a><br>
OPIN Comunica #43/2022 – XX/XX/2022 – <a target="_blank" href='files/notifications/2022/43.pdf'>Disponibilização do Motor de conformidade - Etapa III</a><br>
OPIN Comunica #56/2022 – 13/07/2022 – <a target="_blank" href='files/notifications/2022/56.pdf'>Provisionamento dos custos de certificado (ICP-Brasil) e de certificação (FAPI BR)</a><br>
OPIN Comunica #57/2022 – 18/07/2022 – <a target="_blank" href='files/notifications/2022/57.pdf'>2&deg; Workshop - Plantão de Dúvidas - Certificados  ICP Brasil</a><br>
OPIN Comunica #58/2022 – 18/07/2022 – <a target="_blank" href='files/notifications/2022/58.pdf'>Disponibilização das APIs de Dados no Portal do Desenvolvedor</a><br>
OPIN Comunica #64/2022 – 04/08/2022 – <a target="_blank" href='files/notifications/2022/64.pdf'>Dilação de prazo seguro coletivo – Habitacional - Resposta ao Ofício 04_2022</a><br>
