# Notificações

## Informes

Confira as últimas atualizações da Estrutura de Governança do Open Insurance Brasil.

Open Insurance Informa #08 - 16/02/22 – <a href='files/notifications/8.pdf' download="informe8.pdf">Formulário e Orientações para Cadastro de APIs</a>  
Open Insurance Informa #14 - 23/02/22 – <a href='files/notifications/14.pdf' download="informe14.pdf">Publicação da Versão V1.0.3 de Swaggers</a>  
Open Insurance Informa #16 - 24/02/22 – <a href='files/notifications/16.pdf' download="informe16.pdf">Liberação do Motor de Conformidade - V1.0.3 de Swaggers</a>  
Open Insurance Informa #17 - 24/02/22 – <a href='files/notifications/17.pdf' download="informe17.pdf">Esclarecimentos Sobre Produtos com Coberturas em APIs Distintas</a>  
Open Insurance Informa #18 - 24/02/22 – <a href='files/notifications/18.pdf' download="informe18.pdf">Direcionamento de Erros Conhecidos para Homologação de APIs</a>  
Open Insurance Informa #19 - 25/02/22 – <a href='files/notifications/19.pdf' download="informe19.pdf">Direcionamento para Execução dos Testes de Conformidade da API de Discovery</a>  
Open Insurance Informa #20 - 04/03/22 – <a href='files/notifications/20.pdf' download="informe20.pdf">Recomendação Sobre "erro forbidden" na Publicação de Endpoints</a>  
Open Insurance Informa #22 - 09/03/22 – <a href='files/notifications/22.pdf' download="informe20.pdf">Publicação das APIs da Etapa 2 da Fase 1</a>  
