# Notificações

## Informes

Confira as últimas atualizações da Estrutura de Governança do Open Insurance Brasil.

Open Insurance Informa #08 - 16/02/22 – <a href='files/notifications/8.pdf' download="informe8.pdf">download</a>  
Open Insurance Informa #14 - 23/02/22 – <a href='files/notifications/14.pdf' download="informe14.pdf">download</a>  
Open Insurance Informa #16 - 24/02/22 – <a href='files/notifications/16.pdf' download="informe16.pdf">download</a>  
Open Insurance Informa #17 - 24/02/22 – <a href='files/notifications/17.pdf' download="informe17.pdf">download</a>  
Open Insurance Informa #18 - 24/02/22 – <a href='files/notifications/18.pdf' download="informe18.pdf">download</a>  
Open Insurance Informa #19 - 25/02/22 – <a href='files/notifications/19.pdf' download="informe19.pdf">download</a>  
Open Insurance Informa #20 - 04/03/22 – <a href='files/notifications/20.pdf' download="informe20.pdf">download</a>  
