# Notificações

## Informes

Confira as últimas atualizações da Estrutura de Governança do Open Insurance Brasil.

Open Insurance Comunica #8/2022 – 16/02/2022 – <a target="_blank" href='files/notifications/8.pdf'>Formulário e Orientações para Cadastro de APIs</a> <br>
Open Insurance Comunica #14/2022 - 23/02/2022 – <a target="_blank" href='files/notifications/14.pdf'>Publicação da Versão V1.0.3 de Swaggers</a>   <br>
Open Insurance Comunica #16/2022 – 24/02/2022 – <a target="_blank" href='files/notifications/16.pdf'>Liberação do Motor de Conformidade - V1.0.3 de Swaggers</a>   <br>
Open Insurance Comunica #17/2022 – 24/02/2022 – <a target="_blank" href='files/notifications/17.pdf'>Esclarecimentos Sobre Produtos com Coberturas em APIs Distintas</a>   <br>
Open Insurance Comunica #18/2022 - 24/02/2022 – <a target="_blank" href='files/notifications/18.pdf'>Direcionamento de Erros Conhecidos para Homologação de APIs</a>   <br>
Open Insurance Comunica #19/2022 – 25/02/2022 – <a target="_blank" href='files/notifications/19.pdf'>Direcionamento para Execução dos Testes de Conformidade da API de Discovery</a>   <br>
Open Insurance Comunica #20/2022 - 04/03/2022 – <a target="_blank" href='files/notifications/20.pdf'>Recomendação Sobre "erro forbidden" na Publicação de Endpoints</a>   <br>
Open Insurance Comunica #22/2022 - 09/03/2022 – <a target="_blank" href='files/notifications/22.pdf'>Publicação das APIs da Etapa 2 da Fase 1</a>   <br>
Open Insurance Comunica #30/2022 – 30/03/2022 - <a target="_blank" href='files/notifications/30.pdf'>Liberação do Motor de Conformidade para homologação de APIs 1.2</a> <br>
Open Insurance Comunica #34/2022 – 08/04/2022 - <a target="_blank" href='files/notifications/34.pdf'>Disponibilização do Motor de Conformidade para a Etapa II</a> <br>
Open Insurance Comunica #37/2022 – 29/03/2022 - <a target="_blank" href='files/notifications/37.pdf'>Homologação Automática Diretório de Participantes</a> <br>
Open Insurance Comunica #56/2022 – 13/07/2022 - <a target="_blank" href='files/notifications/56.pdf'>Provisionamento dos custos de certificado (ICP-Brasil) e de certificação (FAPI BR)</a> <br>
Open Insurance Comunica #57/2022 – 18/07/2022 - <a target="_blank" href='files/notifications/57.pdf'>2&deg; Workshop - Plantão de Dúvidas - Certificados  ICP Brasil</a> <br>
Open Insurance Comunica #58/2022 – 18/07/2022 - <a target="_blank" href='files/notifications/58.pdf'>Disponibilização das APIs de Dados no Portal do Desenvolvedor</a> <br>
Open Insurance Comunica #64/2022 – 04/08/2022 - <a target="_blank" href='files/notifications/64.pdf'>Dilação de prazo seguro coletivo – Habitacional - Resposta ao Ofício 04_2022</a> <br>