# Segurança

## Introdução - Segurança

Esta seção tem como finalidade auxiliar na auto avaliação aos cumprimentos dos requisitos de segurança da informação relacionados a autorização e autenticação de APIs e End-Users, emissão de certificados digitais e requisitos para o onboarding no Diretório de participantes para as Instituições participantes do Open Insurance.

As instituições participantes do Open Insurance possuem a obrigação de acompanhar a edição e a revogação de eventuais normas com impacto no tema de forma a estar permanentemente em dia com as determinações legais. Compõem, de forma não exaustiva, o rol de atos normativos cuja observância é essencial pelas instituições participantes do Open Insurance:
        
|Normativa|
|---------|
|<a href='https://www.in.gov.br/en/web/dou/-/resolucao-cnsp-n-415-de-20-de-julho-de-2021-333272165' target="_blank">Resolução CNSP nº 415, de 2021</a>|
|<a href='https://www.in.gov.br/en/web/dou/-/circular-susep-n-635-de-20-de-julho-de-2021-333254618' target="_blank">Circular Susep nº 635, de 2021</a>|
|<a href='https://www.in.gov.br/en/web/dou/-/circular-susep-n-638-de-27-de-julho-de-2021-335760591' target="_blank">Circular Susep nº 638, de 2021</a>|
|<a href='http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm' target="_blank">Lei Geral de Proteção de Dados (LGPD – Lei nº 13.709, de 2018)</a>|

Estas especificações baseiam-se, referenciam, e complementam, quando aplicável, os seguintes documentos:
        
|Referência|
|---------|      
|<a href='https://tools.ietf.org/html/rfc7525'target="_blank">BCP 195/RFC 7525</a>|
|<a href='https://owasp.org/www-project-api-security/'target="_blank">Owasp API Top 10</a>|                
|<a href='https://www.sans.org/top25-software-errors'target="_blank">Sans Top 25 Software Errors</a>|
|<a href='https://cwe.mitre.org/top25/archive/2020/2020_cwe_top25.html'target="_blank">CWE Top 25 Software Weaknesses|</a>|
|<a href='https://tsapps.nist.gov/publication/get_pdf.cfm?pub_id=50819'target="_blank">NIST 800-88</a>|
|<a href='https://www.dami.army.pentagon.mil/site/IndustSec/docs/DoD%20522022-m.pdf'target="_blank">DOD 5220.22-M</a>|
|<a href='https://www.gov.br/iti/pt-br/centrais-de-conteudo/mct-7-vol-1-v-2-2-pdf'target="_blank">ICP Brasil - Manual de Condutas Técnicas 7 - Volume I</a>|


Além desse guia, foi elaborado um checklist para auxiliar os participantes do Open Insurance a alcançar um nível adequado de Segurança da Informação, esse checklist pode ser baixado em formato Excel a seguir:

<a href='files/autoavaliação_dos_requisitos_de_SI_1_0.xlsx'>Download Autoavaliação dos requisitos de SI - 1.0.xlsx</a>

## Visão geral

As APIs de *Open Insurance* estão dividas em dois escopos:  

- *open-data*
- *customer-data*

Segue, a continuação, um *overview* das camadas de segurança básicas para atender os contextos *Open-data*:

|Camada|Descrição|Explicação|
|------|---------|----------|
|Física|*Firewall*|Equipamentos e produtos como filtros, *proxys* e *firewalls* direcionados ao controle e segurança da rede física.|
|Transporte|HTTP - TLS 1.2|Protocolo de criptografia que fornece segurança na comunicação sobre a rede física.|
|Gestão|API *Gateway* / *Manager*|*Gateway* e *Manager* para gerenciar a publicação da API com controles de *throttling*, quotas e outros.|

## Manual de Segurança

A documentação que detalha os controles técnicos de segurança que serão implementados na arquitetura do Open Insurance junto do conjunto padronizado de regras e requisitos para formação do framework de confiança para acesso de recursos protegidos pode ser acessado <a href="Controles_técnicos_de_Segurança_da_Informação_3.0.pdf" target="_blank">aqui</a>

## Guia do usuário: Instituição Transmissora e Receptora

Área em construção
