# Service Desk

## Especificações de APIs do Service Desk

O Service Desk do Open Insurance Brasil pode ser acessado tanto via interface gráfica quanto por meio sistêmico através de APIs.

Para acessar a documentação das APIs do Service Desk é necessário logar na ferramenta via interface gráfica, acessar a sessão de FAQ e selecionar o menu "API SysAid".

As funcionalidades previamente liberadas para acesso são:

* (Status) Encaminhado N2 atendimento
* (Status) Em Análise N2
* (Status) Em Atendimento N2
* (Status) Encaminhado N1 Encerramento
* Interação com chamado através da API do SysAid

Como documento adicional, é possível fazer o download de um PDF nesse link 
(<a target="_blank" href="files/docs/opin_documentacao_api.pdf">Especificação APIs Service Desk</a>) contendo todas as informações listadas no repositório acima.

