# Especificações de APIs do Diretório e do Service Desk

## Especificações de APIs do Service Desk

O Service Desk do Open Insurance Brasil pode ser acessado tanto via interface gráfica quanto por meio sistêmico através de APIs.

Para acessar a documentação das APIs do Service Desk é necessário logar na ferramenta via interface gráfica, acessar a sessão de FAQ e selecionar o menu "API SysAid".

As funcionalidades previamente liberadas para acesso são:

* (Status) Encaminhado N2 atendimento
* (Status) Em Análise N2
* (Status) Em Atendimento N2
* (Status) Encaminhado N1 Encerramento
* Interação com chamado através da API do SysAid

Como documento adicional, é possível fazer o download de um PDF nesse link 
(<a target="_blank" href="files/docs/opin_documentacao_api.pdf">Especificação APIs Service Desk</a>) contendo todas as informações listadas no repositório acima.

## Especificações de APIs Diretório

O Diretório Central do Open Insurance Brasil pode ser acessado tanto via interface gráfica quanto por meio de integração por APIs.

Para acessar as APIs do Diretório, verifique os manuais para criação de certificados.

<a target="_blank" href="files/OpenInsurance_Criacao_Software_Statement.pdf">Criando uma Declaração de Software</a>

<a target="_blank" href="files/OpenInsurance_Gerando_o_Certificado_BRCAC.pdf">Gerando o Certificado BRCAC</a>

<a target="_blank" href="files/OpenInsurance_Gerando_o_Certificado_BRSEAL.pdf">Gerando o Certificado BRSEAL</a>

<a target="_blank" href="files/OpenInsurance_Obtendo_um_token_para_acesso_as_APIs_do_Diretorio.pdf">Obtendo um token para acesso as APIs do Diretório</a>

Para entender como usar cada API, leia a especificação do Swagger da API do Diretório disponível nesse <a target="_blank" href="https://raw.githubusercontent.com/br-openinsurance/specs-directory-main/main/openapi_opin.yaml">link</a>.