# Versões anteriores

* <a href="./versions/v1.0.0/index.html">30/11/2021</a>
* <a href="./versions/v1.2.0/index.html">07/02/2022</a>
* <a href="./versions/v1.2.1/index.html">23/02/2022</a>
* <a href="./versions/v1.2.2/index.html">25/03/2022</a>
* <a href="./versions/v1.2.3/index.html">06/04/2022</a>
* <a href="./versions/v1.2.4/index.html">07/06/2022</a>