# Versões anteriores

* <a href="http://areadesenvolvedor-versions.s3-website.us-east-2.amazonaws.com/v1.0.0/index.html">30/11/2021</a>
* <a href="https://areadesenvolvedor-versions.s3.us-east-2.amazonaws.com/v1.2.0/index.html">07/02/2022</a>
* <a href="https://areadesenvolvedor-versions.s3.us-east-2.amazonaws.com/v1.2.1/index.html">23/02/2022</a>
* <a href="https://areadesenvolvedor-versions.s3.us-east-2.amazonaws.com/v1.2.2/index.html">25/03/2022</a>
* <a href="https://areadesenvolvedor-versions.s3.us-east-2.amazonaws.com/v1.2.3/index.html">06/04/2022</a>
* <a href="https://areadesenvolvedor-versions.s3.us-east-2.amazonaws.com/v1.2.4/index.html">07/06/2022</a>
* <a href="https://areadesenvolvedor-versions.s3.us-east-2.amazonaws.com/v1.2.8/index.html">24/10/2022</a>
* <a href="https://areadesenvolvedor-versions.s3.us-east-2.amazonaws.com/v1.2.10/index.html">08/11/2022</a>
* <a href="https://areadesenvolvedor-versions.s3.us-east-2.amazonaws.com/v1.3.1/index.html">16/03/2023</a>
* <a href="https://areadesenvolvedor-versions.s3.us-east-2.amazonaws.com/v1.3.2/index.html">27/03/2023</a>



