openapi: 3.0.0
info:
  title: APIs Open Data do Open Insurance Brasil
  description: 
    API de informações de Seguro Residencial. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.2.2 do manual de escopo de dados.
  version: 1.4.0
  contact:
    url: 'https://www.gov.br/susep/'
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Produção
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Homologação  
tags:
- name: "home-insurance"
paths:
  /home-insurance/commercializationArea/{commercializationArea}:
    get:
      tags:
        - home-insurance
      summary: Obtém informações de seguros residenciais
      description: "Obtém informações de seguros redidenciais"
      operationId: "getResidentialInsurance"
      parameters:
        - $ref: "#/components/parameters/cache-Control"
        - $ref: "#/components/parameters/content-Security-Policy"
        - $ref: "#/components/parameters/content-Type"
        - $ref: "#/components/parameters/strict-Transport-Security"
        - $ref: "#/components/parameters/x-Content-Type-Options"
        - $ref: "#/components/parameters/x-Frame-Options"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/commercializationArea"
      responses:
        '200':
          description: Dados dos Seguros Residenciais
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseHomeInsuranceList'
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Dados dos Seguros Residenciais
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseHomeInsuranceList'        
components:
  schemas:
    ResponseHomeInsuranceList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/HomeInsuranceBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'

    HomeInsuranceBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          description: Nome da marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.
          maxLength: 80
          example: EMPRESA A seguros
        companies:
          $ref: '#/components/schemas/HomeInsuranceCompany'  

    HomeInsuranceCompany:
      type: array
      items:
        type: object
        description: Informações referente a sociedade a qual a marca pertence.
        required:
          - name
          - cnpjNumber
        properties:
          name:
            type: string
            description: Nome da sociedade pertencente à marca.
            maxLength: 80
            example: ABCDE SEGUROS
          cnpjNumber:
            type: string
            description: CNPJ da sociedade pertencente à marca.
            pattern: ^\d{14}$
            example: '12345678901234'
          products:
            $ref: '#/components/schemas/HomeInsuranceProduct'

    structurePremiumRates:
      type: object
      description: |
          - O campo “Taxa de Prêmio” ou “Taxa de Contribuição” é apenas para referência sobre o valor praticado no mercado para
          determinado produto e faixas de risco, servindo apenas como estimativa, e não representa o valor que será aplicado na cotação
          do caso específico do cliente. O preço do seguro leva em consideração diversos fatores e variáveis, e o valor ofertado na
          cotação/proposta da Seguradora/EAPC é a que prevalecerá. Desse modo, este valor NÃO substitui uma cotação e NÃO
          garante a aceitação do risco do cliente.
 
          - Para os produtos cujo LMI, LMG ou Capital Segurado transpassem da faixa máxima apresentada é necessário contatar
          diretamente o seu intermediador (corretor) ou a sua seguradora para que seja realizada uma cotação adequada e uma estimativa
          de valor correta seja transmitida.
          - Esta informação não está sendo reportada para produtos que não são comercializados de forma individual, ou seja, não são
          disponibilizadas as informações de seguros coletivos (Exceto Habitacional e Transportes) ou de produtos acessórios. Para
          maiores detalhes de cotação é necessário entrar em contato comsua seguradora ou seu intermediador (corretor).
         
          - A metodologia utilizada para o levantamento destas informações é a que consta no Manual de Escopo de Dados e Serviços do
          Open Insurance.
 
          - Pode haver alterações entre produtos do mesmo ramo dependendo da seguradora, isso porque cada empresa possui
          um grupo focal de clientes e um estilo operacional. Para mais detalhes entre em contato com a seguradora ou o intermediador
          (corretor).
 
          - As informações de Taxa de prêmio e Taxa de Contribuição são destinadas exclusivamente para o consumo do usuário final para
          que ele tenha uma noção de quanto custa um seguro, não devem ser utilizadas para fins estatísticos.
 
          - Os valores reportados no campo Taxa Prêmio e Taxa de Contribuição são valores que refletem um conjunto de
          características de um seguro específico de cada companhia, logo,devem ser analisados em conjunto com as demais informações
          dispostas na Fase I, não sendo factível comparar somente este campo entre Seguradoras.
 
          - Para os produtos e modalidades que não estão com as estimativas de valores preenchidas neste campo, é necessário
          que o cliente entre em contato com a seguradora ou intermediário para realizar a cotação e saber o valor de seu seguro.
 
      required:
        - range_1
        - range_2
        - range_3
        - range_4
      properties:
        range_1:
          $ref: '#/components/schemas/rangePremiumRates'
        range_2:
          $ref: '#/components/schemas/rangePremiumRates'
        range_3:
          $ref: '#/components/schemas/rangePremiumRates'
        range_4:
          $ref: '#/components/schemas/rangePremiumRates'
         
    rangePremiumRates:
      type: object
      required:
        - minimum
        - maximum
        - median
      properties:
        minimum:
          $ref: '#/components/schemas/amountRangePremiumRates'
        maximum:
          $ref: '#/components/schemas/amountRangePremiumRates'
        median:
          $ref: '#/components/schemas/amountRangePremiumRates'
 
    amountRangePremiumRates:
      type: string
      pattern: ^\d{1,16}\.\d{2}$
      example: '10000.00'

    HomeInsuranceProduct:
      type: array
      description: Produtos de Seguro Residencial.
      items:
        type: object
        required:
          - name
          - code
          - coverages
          - propertyCharacteristics
          - propertyZipCode
          - protective
          - additional
          - assistanceServices
          - microInsurance
          - termsAndConditions
          - validity
          - customerServices
          - premiumPayments
          - minimumRequirements
          - targetAudiences
        properties:
          name:
            type: string
            description: Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
            maxLength: 80
            example: RESIDENCIAL XPTO
          code:
            type: string
            description: Código único a ser definido pela sociedade.
            maxLength: 80
            example: '0000-0'
          coverages:
            $ref: '#/components/schemas/HomeInsuranceCoverages'          
          propertyCharacteristics:
            $ref: '#/components/schemas/HomeInsurancePropertyCharacteristics'     
          propertyZipCode:
            type: string
            description: Código de Endereçamento Postal do Imóvel
            maxLength: 8
            example: "13110002"
          protective:
            type: boolean
            description: Protecionais - Indicativo de exigência de itens protecionais.
            example: true
          additional:
            type: array
            items:
              type: string
              description: Adicionais do Produto.
              example: SORTEIO_GRATUITO
              enum: [SORTEIO_GRATUITO , CLUBE_BENEFICIOS , CASHBACK , DESCONTOS , OUTROS]
          additionalOthers:
            type: string
            description: Campo aberto para descrição de cada participante ao selecionar o domínio ‘Outros’ no campo acima ‘Adicionais’.
            maxLength: 100
          assistanceServices:
            $ref: '#/components/schemas/HomeInsuranceAssistanceServices'
          microInsurance:
            type: boolean
            description: Indicação se o produto é classificado como microsseguro.
            example: true
          termsAndConditions:
            $ref: '#/components/schemas/HomeInsuranceTermsAndConditions'
          validity:
            $ref: '#/components/schemas/HomeInsuranceValidity'          
          customerServices:
            description: Rede de atendimento
            type: string
            example: LIVRE_ESCOLHA
            enum: [REDE_REFERENCIADA , LIVRE_ESCOLHA , REDE_REFERENCIADA_E_LIVRE_ESCOLHA]
          premiumRates:
            $ref: '#/components/schemas/structurePremiumRates'   
          premiumPayments:
            $ref: '#/components/schemas/HomeInsurancePremiumPayment'                 
          minimumRequirements:
            type: array
            items:
              $ref: '#/components/schemas/HomeInsuranceMinimumRequirements'   
          targetAudiences:          
            type: string
            description: Público a quem se destina o produto
            example: PESSOA_NATURAL
            enum: [PESSOA_NATURAL, PESSOA_JURIDICA]

    HomeInsuranceMinimumRequirements:
      type: object
      description: Produtos de Seguro Residencial.
      required:
        - contractingMinRequirement
        - contractingType
      properties:
        contractingType:
          type: string
          description: Tipo de contratação.
          example: COLETIVO
          enum: [COLETIVO , INDIVIDUAL]         
        contractingMinRequirement:
          type: string
          description: Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).              
          maxLength: 1024
          example: https://www.seguradora.com.br/produto/requisitos.pdf

    HomeInsuranceCoverageAttributes:     
      type: object
      description: Informações de cobertura do Seguro Residencial.
      required:
       - minLMI
       - maxLMI
       - minDeductibleAmount
       - insuredMandatoryParticipationPercentage
      properties:
        minLMI:
          $ref: '#/components/schemas/HomeInsuranceLimit'
        maxLMI:
          $ref: '#/components/schemas/HomeInsuranceLimit'
        minDeductibleAmount:
          $ref: '#/components/schemas/HomeInsuranceCoverageAttributesDetails'
        insuredMandatoryParticipationPercentage:
          type: string
          description: Listagem percentual de franquia e/ou percentual de participação obrigatória do segurado estabelecida pela sociedade para cada tipo de cobertura de produto.
          maxLength: 9
        
    HomeInsuranceLimit:
      type: object
      description: Lista com valor de LMI aceito pela sociedade para cada cobertura.
      required:
        - type
        - amount
      properties:
        type:
          type: string
          example: FINANCEIRO
          enum: [FINANCEIRO, PERCENTUAL]
        amount:
          $ref: '#/components/schemas/HomeInsuranceCoverageAttributesDetails'
        index:
          type: string
          description: Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual
          example: LMG
          enum: [LMG, FINANCEIRO_COBERTURA, OUTRO]
        maxIndexAmount:
          $ref: '#/components/schemas/HomeInsuranceCoverageAttributesDetails'

    HomeInsuranceCoverageAttributesDetailsUnit:
      type: object
      description: Obrigatório caso seja informando no campo "unitType" o valor MONETARIO.
      required:
        - code
        - description
      properties:
        code:
          type: string
          enum: [ د.إ , Af, L, Դ,  Kz, $,  ƒ,  ман,  КМ, ৳,  лв, ب.د,  ₣,  Bs.,  R$, P,  Br, ¥,  ₡,  Kč, kr, د.ج,  £,  
                  Nfk,  N/A,  €,  ლ,  ₵,  D,  Q,  Kn, G,  Ft, Rp, ₪,  ₹,  ع.د,  ﷼,  Sh, ៛,  ₩,  د.ك,  〒,  ₭,  ل.ل,  Rs,
                  ل.د,  د.م., ден,  K,  ₮,  UM, ₨,  ރ., MK, RM, MTn,  ₦,  C$, ر.ع., B/.,  S/.,  ₱,  zł, ₲,  ر.ق,  din,  
                  р., ر.س,  Le, Db, ل.س,  ฿,  ЅМ, m,  د.ت,  T$, ₤,  ₴,  Bs F, ₫,  Vt, T,  R,  ZK ]
          example: R$
        description:
          type: string
          example: BRL
          enum: [ AFN,AFA,ALL,ALK,DZD,USD,EUR,ADP,ESP,FRF,AOA,AOK,AON,AOR,XCD,ARS,ARA,ARP,ARY,AMD,RUR,AWG,AUD,ATS,AZN,AYM,AZM,BSD,BHD,BDT,BBD,BYN,BYB,BYR,BEC,BEF,BEL,BZD,XOF,BMD,INR,BTN,BOP,BOB,BOV,BAM,BAD,BWP,NOK,BRL,BRB,BRC,BRE,BRN,BRR,BND,BGN,BGJ,BGK,BGL,BUK,BIF,CVE,KHR,XAF,CAD,KYD,CLP,CLF,CNY,COP,COU,KMF,CDF,NZD,CRC,HRK,HRD,CUP,CUC,ANG,CYP,CZK,CSJ,CSK,DKK,DJF,DOP,ECS,ECV,EGP,SVC,GQE,ERN,EEK,SZL,ETB,XEU,FKP,FJD,FIM,XPF,GMD,GEL,GEK,DDM,DEM,GHS,GHC,GHP,GIP,GRD,GTQ,GBP,GNF,GNE,GNS,GWE,GWP,GYD,HTG,ITL,HNL,HKD,HUF,ISK,ISJ,IDR,XDR,IRR,IQD,IEP,ILS,ILP,ILR,JMD,JPY,JOD,KZT,KES,KPW,KRW,KWD,KGS,LAJ,LAK,LVL,LVR,LBP,LSL,ZAR,LSM,ZAL,LRD,LYD,CHF,LTL,LTT,LUC,LUF,LUL,MOP,MGA,MGF,MWK,MYR,MVR,MVQ,MLF,MTL,MTP,MRU,MRO,MUR,XUA,MXN,MXV,MXP,MDL,MNT,MAD,MZN,MZE,MZM,MMK,NAD,NPR,NLG,NIO,NIC,NGN,MKD,OMR,PKR,PAB,PGK,PYG,PEN,PEH,PEI,PES,PHP,PLN,PLZ,PTE,QAR,RON,ROK,ROL,RUB,RWF,SHP,WST,STN,STD,SAR,RSD,CSD,SCR,SLL,SGD,XSU,SKK,SIT,SBD,SOS,SSP,SDG,RHD,ESA,ESB,LKR,SDD,SDP,SRD,SRG,SEK,CHE,CHW,CHC,SYP,TWD,TJS,TJR,TZS,THB,TPE,TOP,TTD,TND,TRY,TRL,TMT,TMM,UGX,UGS,UGW,UAH,UAK,SUR,AED,USS,USN,UYU,UYI,UYW,UYN,UYP,UZS,VUV,VEB,VEF,VES,VND,VNC,YER,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZMW,ZMK,ZWL,ZWC,ZWD,ZWN,ZWR,XBA,XFO,XBB,XRE,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG ]

    HomeInsuranceCoverageAttributesDetails:
      type: object
      description: Valor mínimo/máximo de cobertura diária ou parcelada. Em reais.
      required:
        - amount
        - unitType
      properties:
        amount:
            type: string
            description: |
              Valor.
              Exemplos de preenchimento do campo:

              PORCENTAGEM: 90.85
                               
              MONETARIO: 62500.67

              OUTROS: 1000 (Exemplo de outro tipo: horas)

            pattern: '^(^(100\.\00|\d{1,2}\.\d{2})$|^(\d{1,6})$|^(\d{1,15}\.\d{2})$)$'
        unitType:
          type: string
          enum: [PORCENTAGEM, MONETARIO, OUTROS]
          example: MONETARIO
        unitTypeOthers:
          description: Caso o tipo do valor informado for "Outros", esse campo deve ser preenchido com o tipo do valor, obrigatoriamente.
          type: string
          example: Horas
        unit:
          $ref: '#/components/schemas/HomeInsuranceCoverageAttributesDetailsUnit'  

    HomeInsuranceTermsAndConditions:
      type: array
      description: Informações dos termos e condições conforme número do processo SUSEP.
      items:
        type: object
        required:
          - susepProcessNumber
          - definition
        properties:  
          susepProcessNumber:
            type: string
            description: Número do processo SUSEP.
            maxLength: 20
            example: XXXXX.XXXXXX/XXXX-XX
          definition:
            type: string
            description: Campo aberto (possibilidade de incluir uma url).
            maxLength: 1024
            example: https://www.seguradora.com.br/produto/termos.pdf

    HomeInsuranceValidity:
        type: array
        description: Vigência
        items:
            type: object
            required:
              - term
            properties:
              term:
                type: string
                description: Prazo de vigência do seguro contratado Intervalo contínuo de tempo durante o qual está em vigor o contrato de seguro. (RESOLUÇÃO CNSP Nº 341/2016).
                example: ANUAL
                enum: [ANUAL , ANUAL_INTERMITENTE , PLURIANUAL , PLURIANUAL_INTERMITENTE , MENSAL, MENSAL_INTERMITENTE , DIARIO , DIARIO_INTERMITENTE, OUTROS]
              termOthers:
                type: string
                description: Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).
                maxLength: 100

    HomeInsurancePremiumPayment:
        type: array 
        description: Informações de pagamento de prêmio.
        items:
          type: object
          required:
          - paymentMethod
          - paymentType
          properties:
            paymentMethod:
              type: string
              description: Meio de pagamento escolhido pelo segurado.
              example: CARTAO_DE_CREDITO
              enum: [CARTAO_DE_CREDITO , CARTAO_DE_DEBITO , DEBITO_EM_CONTA_CORRENTE , DEBITO_EM_CONTA_POUPANCA , BOLETO_BANCARIO , PIX , CONSIGINACAO_EM_FOLHA_PAGAMENTO , PONTOS_PROGRAMAS_BENEFICIO, OUTROS]
            paymentMethodDetail:
              type: string
              description: Campo aberto para detalhamento do campo ‘Outros’ por cada participante.
              maxLength: 100
            paymentType:
              description: Forma de pagamento
              type: string
              example: A_VISTA
              enum: [A_VISTA, PARCELADO]

    HomeInsuranceAssistanceServices:    
      type: array
      description: Agrupamento dos serviços de assistências disponíveis vinculado ao produto.
      items:
        type: object
        required:
        - assistanceServicesPackage
        - complementaryAssistanceServicesDetail
        - chargeTypeSignaling
        properties:
          assistanceServicesPackage:
            type: string
            description: Pacotes de Assistência.
            example: ATE_10_SERVICOS
            enum: [ATE_10_SERVICOS, ATE_20_SERVICOS , ACIMA_20_SERVICOS, CUSTOMIZAVEL]
          complementaryAssistanceServicesDetail:
            type: string
            description: Campo livre para descrição dos serviços ofertados por cada sociedade participante.
            maxLength: 1000
            example: Encanador
          chargeTypeSignaling:
            type: string
            description: Sinalização em campo exclusivo se o pacote de Assistência é gratuita ou contratada/paga.
            example: GRATUITA
            enum: [GRATUITA, PAGO]

    HomeInsuranceCoverages:
      type: array
      description: Listagem de coberturas incluídas no produto.
      items:
        type: object
        required:
            - coverageType
            - coverageDetail
            - allowApartPurchase
            - coverageAttributes
        properties:
          coverageType:
            type: string
            enum: [
              IMOVEL_BASICA, 
              IMOVEL_AMPLA, 
              DANOS_ELETRICOS, 
              DANOS_POR_AGUA, 
              ALAGAMENTO, 
              RESPONSABILIDADE_CIVIL_FAMILIAR,
              RESPONSABILIDADE_CIVIL_DANOS_MORAIS, 
              ROUBO_SUBTRACAO_BENS, 
              ROUBO_SUBTRACAO_BENS_FORA_LOCAL_SEGURADO, 
              TACOS_GOLFE_HOLE_ONE, 
              PEQUENAS_REFORMAS_OBRAS, 
              GREVES_TUMULTOS_LOCKOUT, 
              MICROEMPREENDEDOR, 
              ESCRITORIO_RESIDENCIA, 
              DANOS_EQUIPAMENTOS_ELETRONICOS, 
              QUEBRA_VIDROS, 
              IMPACTO_VEICULOS, 
              VENDAVAL, 
              PERDA_OU_PAGAMENTO_ALUGUEL, 
              BICICLETA,
              RESPONSABILIDADE_CIVIL_BICICLETA,
              RC_EMPREGADOR, 
              DESMORONAMENTO, 
              DESPESAS_EXTRAORDINARIAS, 
              JOIAS_OBRAS_ARTE, 
              TERREMOTO, 
              IMPACTO_AERONAVES, 
              PAISAGISMO,  
              INCENDIO, 
              QUEDA_RAIO, 
              EXPLOSAO, 
              OUTRAS
            ]
            description: Nome do tipo da cobertura.
            example: IMOVEL_BASICA
          coverageDetail:
            type: string
            description: Campo aberto para detalhamento por coberturas possíveis dos produtos a ser feito por cada participante.
            maxLength: 1000
            example: Cobertura especial para escritório residenciais
          allowApartPurchase:
            type: boolean
            description: Indicação se a cobertura permite contratação separada (por cobertura selecionada).
            example: false
          coverageAttributes:
            $ref: '#/components/schemas/HomeInsuranceCoverageAttributes'

    HomeInsurancePropertyCharacteristics:
        type: array 
        description: Caracteristicas do imóvel.
        items:
          type: object
          required:
            - propertyType
            - propertyUsageType
            - propertyBuildType
            - destinationInsuredImportance
          properties:
            propertyType:             
                description: Tipo de imóvel.           
                type: string
                example: CASA
                enum: [CASA , APARTAMENTO]  
            propertyBuildType:
                type: string
                description: Descrição do tipo de construção da propriedade.
                example: ALVENARIA
                enum: [ALVENARIA , MADEIRA, METALICA, MISTA]
            propertyUsageType:
                type: string 
                description: Descrição do tipo de uso da propriedade.
                example: HABITUAL
                enum: [HABITUAL , VERANEIO, DESOCUPADO, CASA_ESCRITORIO, ALUGUEL_TEMPORADA]                         
            destinationInsuredImportance:
              type: string
              description: Destinação da Importância Segurada.
              example: PREDIO
              enum: [PREDIO, CONTEUDO, AMBOS]   

    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/products-services\/v\d+)(\/home-insurance.*)?$
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea'
        first:
          type: string
          description: URL da primeira página de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/products-services\/v\d+)(\/home-insurance.*)?$
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea'
        prev:
          type: string
          description: URL da página anterior de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/products-services\/v\d+)(\/home-insurance.*)?$
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea'
        next:
          type: string
          description: URL da próxima página de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/products-services\/v\d+)(\/home-insurance.*)?$
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea'
        last:
          type: string
          description: URL da última página de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/products-services\/v\d+)(\/home-insurance.*)?$
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea'

    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 10
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages

    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
              - requestDateTime
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
              requestDateTime:
                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                type: string
                pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                maxLength: 20 
                format: date-time
                example: '2021-08-20T08:30:00Z'
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false    

  parameters:
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 10
        minimum: 1  
    commercializationArea:
      name: commercializationArea
      in: path
      description: Area de comercialização.
      required: true
      schema:
        type: string
    cache-Control:
      name: cache-control
      in: header
      description: Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.
      required: true
      schema: 
        type: string
        pattern: '[\w\W\s]*'
    content-Security-Policy:
      name: Content-Security-Policy
      in: header
      description: Campo para proteção contra ataques clickjack do estilo - drag and drop.
      schema:
        type: string
        pattern: '[\w\W\s]*'
    content-Type:
      name: content-Type
      in: header
      description: Especificar o tipo de conteúdo da resposta.
      schema:
        type: string
        pattern: '[\w\W\s]*'
    strict-Transport-Security:
      name: Strict-Transport-Security
      in: header
      description: Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.
      schema:
        type: string
        pattern:  '[\w\W\s]*'
    x-Content-Type-Options:
      name: X-Content-Type-Options
      in: header
      description: Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.
      schema:
        type: string
        pattern: '[\w\W\s]*'
    x-Frame-Options:
      name: X-Frame-Options
      in: header
      description: Campo indica se o navegador deve ou não renderizar um frame.
      schema:
        type: string
        pattern: '[\w\W\s]*'
    
  responses:
    UnprocessableEntity:
      description: 'O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presente.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NoContent:
      description: 'O recurso solicitado não existe ou não foi localizado.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
