openapi: 3.0.0
info:
  title: API Previdência Sobrevivência - Open Insurance Brasil
  description: |
    API de Previdência Sobrevivência do Open Insurance Brasil - Fase 2.\
    Traz informações de contrato, contribuições e benefício, portabilidade, resgate e sinistro mantidas nas instituições transmissoras por seus clientes.\
    Não possui segregação entre pessoa natural e pessoa jurídica.\
    Requer consentimento do cliente para todos os `endpoints`.

    # Orientações
    A `Role`  do diretório de participantes relacionada à presente API é a `DADOS`.\
    Para todos os `endpoints` desta API é previsto o envio de um `token` através do header `Authorization`.\
    Este `token` deverá estar relacionado ao consentimento (identificado pelo `consentId`) mantido na instituição transmissora dos dados, o qual permitirá a pesquisa e retorno, na API em questão, dos 
    dados relacionados ao `consentId` específico.\
    Os dados serão devolvidos na consulta desde que o `consentId` relacionado corresponda a um consentimento válido e com o status `AUTHORISED`.\
    É também necessário que o recurso em questão (conta, contrato, etc.) esteja disponível na instituição transmissora (ou seja, sem boqueios de qualquer natureza e com todas as autorizações/consentimentos já autorizados).\
    Além disso, as `permissions` necessárias deverão ter sido solicitadas quando da criação do consentimento relacionado.\
    Relacionamos a seguir as `permissions` necessárias para a consulta de dados em cada `endpoint` da presente API.

    ## Permissions necessárias para a API InsuranceLifePension

    Para cada um dos `paths` desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

    ### `/contracts`
      - permissions:
        - GET: **LIFE_PENSION_READ**
    ### `/{pensionIdentification}/contract-info`
      - permissions:
        - GET: **LIFE_PENSION_CONTRACTINFO_READ**
    ### `/{pensionIdentification}/movements`
      - permissions:
        - GET: **LIFE_PENSION_MOVEMENTS_READ**
    ### `/{pensionIdentification}/portabilites`
      - permissions:
        - GET: **LIFE_PENSION_PORTABILITIES_READ**
    ### `/{pensionIdentification}/withdrawals`
      - permissions:
        - GET: **LIFE_PENSION_WITHDRAWALS_READ**
    ### `/{pensionIdentification}/claim`
      - permissions:
        - GET: **LIFE_PENSION_CLAIM**
  version: 1.1.0
  contact:
    name: Governança do Open Insurance Brasil
    url: "https://www.gov.br/susep"
servers:
  - url: "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1"
    description: Servidor de Produção
  - url: "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1"
    description: Servidor de Homologação
tags:
  - name: InsuranceLifePension
    description: Dados transacionais de Previdência Sobrevivência
paths:
  /insurance-life-pension/contracts:
    get:
      tags:
        - InsuranceLifePension
      summary: Obtem a lista de identificação de InsuranceLifePension
      description: "Método para obter a lista de identificação de InsuranceLifePension"
      operationId: "getInsuranceLifePension"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseInsuranceLifePension"
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - "consent:consentId"
            - insurance-life-pension
  /insurance-life-pension/{pensionIdentification}/contract-info:
    get:
      tags:
        - InsuranceLifePension
      summary: Obtém as informações gerais do contrato identificado por {pensionIdentification}
      description: "Método para obter as informações gerais do contrato"
      operationId: "getInsuranceLifePensionpensionIdentificationContractInfo"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: "#/components/parameters/pensionIdentification"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseInsuranceLifePensionContractInfo"
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - "consent:consentId"
            - insurance-life-pension
  /insurance-life-pension/{pensionIdentification}/movements:
    get:
      tags:
        - InsuranceLifePension
      summary: Obtém os dados de movimentação do contrato identificado por {pensionIdentification}
      description: "Método para obter os dados de movimentação do contrato."
      operationId: "getInsuranceLifePensionpensionIdentificationMovements"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: "#/components/parameters/pensionIdentification"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseInsuranceLifePensionMovements"
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - "consent:consentId"
            - insurance-life-pension
  /insurance-life-pension/{pensionIdentification}/portabilities:
    get:
      tags:
        - InsuranceLifePension
      summary: Obtém os dados de portabilidades do contrato identificada por {pensionIdentification}
      description: "Método para obter os dados de portabilidades associadas ao contrato"
      operationId: "getInsuranceLifePensionpensionIdentificationPortabilities"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: "#/components/parameters/pensionIdentification"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseInsuranceLifePensionPortabilities"
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - "consent:consentId"
            - insurance-life-pension
  /insurance-life-pension/{pensionIdentification}/withdrawals:
    get:
      tags:
        - InsuranceLifePension
      summary: Obtém os dados de resgates do contrato identificado por {pensionIdentification}
      description: "Método para obter os dados de resgates associados ao contrato"
      operationId: "getInsuranceLifePensionpensionIdentificationWithdrawals"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: "#/components/parameters/pensionIdentification"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseInsuranceLifePensionWithdrawal"
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - "consent:consentId"
            - insurance-life-pension
  /insurance-life-pension/{pensionIdentification}/claim:
    get:
      tags:
        - InsuranceLifePension
      summary: Obtém os dados de sinistro do contrato identificado por {pensionIdentification}
      description: "Método para obter os dados de sinistro associados ao contrato"
      operationId: "getInsuranceLifePensionpensionIdentificationPeople"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: "#/components/parameters/pensionIdentification"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseInsuranceLifePensionClaim"
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "406":
          $ref: "#/components/responses/NotAcceptable"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - "consent:consentId"
            - insurance-life-pension
components:
  schemas:
    ResponseInsuranceLifePension:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              description: Marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  description: Nome da Marca
                  maxLength: 500
                  example: EMPRESA A SEGUROS
                companies:
                  type: array
                  items:
                    type: object
                    required:
                      - companyName
                      - cnpjNumber
                    properties:
                      companyName:
                        description: Nome da sociedade pertencente à marca
                        type: string
                        maxLength: 80
                        example: Empresa da Organização A
                      cnpjNumber:
                        description: CNPJ da sociedade pertencente à marca
                        type: string
                        maxLength: 14
                        pattern: '^\d{14}$'
                        example: "12345678901234"
                      contracts:
                        type: array
                        items:
                          type: object
                          required:
                            - productName
                            - pensionIdentification
                          properties:
                            productName:
                              description: Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade
                              type: string
                              maxLength: 100
                              example: Produto A Previdência
                            pensionIdentification:
                              description: Código único a ser definido pela sociedade
                              type: string
                              maxLength: 60
                              example: "42"
        links:
          $ref: "#/components/schemas/Links"
        meta:
          $ref: "#/components/schemas/Meta"
    ResponseInsuranceLifePensionContractInfo:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: "#/components/schemas/InsuranceLifePensionContractInfo"
        links:
          $ref: "#/components/schemas/Links"
        meta:
          $ref: "#/components/schemas/Meta"
    InsuranceLifePensionContractInfo:
      type: object
      required:
        - pensionIdentification
        - conjugatedPlan
        - documents
        - proposalId
        - insureds
        - plans
        - PMBaC
      properties:
        pensionIdentification:
          description: Código único a ser definido pela sociedade
          type: string
          maxLength: 60
          example: "42"
        documents:
          type: array
          items:
            $ref: "#/components/schemas/InsuranceLifePensionDocuments"
        proposalId:
          description: Identificador da Proposta de seguro
          type: string
          maxLength: 60
          example: "987"
        insureds:
          type: array
          items:
            $ref: "#/components/schemas/InsuranceLifePensionDocumentsInsured"
        beneficiary:
          type: array
          items:
            $ref: "#/components/schemas/InsuranceLifePensionDocumentsBeneficiary"
        intermediary:
          type: array
          items:
            $ref: "#/components/schemas/InsuranceLifePensionDocumentsIntermediary"
        planType:
          description: Tipo do Plano (Quando Contrato Coletivo)
          type: string
          enum:
            - AVERBADO
            - INSTITUIDO_CONTRIBUTARIO
            - INSTITUIDO_NAO_CONTRIBUTARIO
          example: AVERBADO
        plans:
          type: array
          items:
            $ref: "#/components/schemas/InsuranceLifePensionPlans"
        conjugatedPlan:
          description: O plano é conjugado?
          type: boolean
          example: true
        PMBaC:
          type: object
          description: PMBaC
          required:
            - pmbacAmount
            - provisionSurplusAmount
            - FIE
          properties:
            pmbacAmount:
              description: |
                Valor PMBaC (fim do mês) 
                Valor da Provisão Matemática de Benefícios a Conceder (PMBaC), no fim de cada mês. Caso não haja saldo informar nulo
              allOf:
                - $ref: "#/components/schemas/AmountDetails"
            provisionSurplusAmount:
              description: |
                Valor da provisão de excedentes financeiros (PEF) (valor ao final do mês) Caso não haja saldo informar nulo
              allOf:
                - $ref: "#/components/schemas/AmountDetails"
            FIE:
              type: array
              items:
                type: object
                properties:
                  FIECNPJ:
                    description: CNPJ do FIE
                    type: string
                    maxLength: 14
                    pattern: '^\d{14}$'
                    example: "12345678901234"
                  FIEName:
                    description: Razão social do FIE
                    type: string
                    example: RAZÃO SOCIAL
                  FIETradeName:
                    description: Nome fantasia do FIE
                    type: string
                    example: NOME FANTASIA
        
    InsuranceLifePensionDocuments:
      type: object
      required:
        - contractingType
        - certificateId
        - effectiveDateStart
        - effectiveDateEnd
      properties:
        contractingType:
          description: Tipo de contratação
          type: string
          enum: [COLETIVO, INDIVIDUAL]
          example: INDIVIDUAL
        certificateId:
          description: Identificador do certificado/apólice individual, caso contrato individual. Identificador do certificado, caso contrato coletivo.
          type: string
          maxLength: 60
          example: "67"
        contractId:
          description: identificação do contrato/apólice, em caso de contratação coletiva, obrigatório caso Tipo de contratação seja COLETIVO
          type: string
          maxLength: 60
          example: "681"
        effectiveDateStart:
          description: Data de Início da Vigência do documento.
          type: string
          format: date
          example: "2021-05-21"
        effectiveDateEnd:
          description: Data de Fim da Vigência do documento.
          type: string
          format: date
          example: "2021-05-21"
        
    InsuranceLifePensionDocumentsInsured:
      description: Informações do segurado/participante
      type: object
      required:
        - documentType
        - documentNumber
        - name
        - birthDate
        - gender
        - postCode
        - townName
        - countrySubDivision
        - countryCode
        - address
      properties:
        documentType:
          type: string
          description: Tipo de Documento do Segurado/Participante
          enum: [CPF, OUTROS]
          example: CPF
        documentTypeOthers:
          description: Descrição do Tipo de Documento quando for informada a opção OUTROS
          type: string
          example: OUTROS
        documentNumber:
          description: Documento do Segurado/Participante
          type: string
          maxLength: 60
          example: "12345678910"
        name:
          description: Nome do Segurado/Participante
          type: string
          maxLength: 80
          example: Juan Kaique Cláudio Fernandes
        birthDate:
          description: "Data de nascimento, conforme especificação RFC-3339"
          type: string
          format: date
          example: "2021-05-21"
        gender:
          description: Sexo do Segurado / Participante, Obrigatório, se houver
          type: string
          enum: [MASCULINO, FEMININO, NAO_INFORMADO]
        postCode:
          description: |
            Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'.
            Código Postal do Segurado / Participante, Obrigatório, se houver
          type: string
          pattern: '\d{8}|^NA$'
          maxLength: 8
          example: "17500001"
        email:
          description: Endereço de email, Obrigatório, se houver
          type: string
          maxLength: 320
          pattern: '[\w\W\s]*'
          example: nome@br.net
        townName:
          type: string
          maxLength: 50
          pattern: '[\w\W\s]*'
          example: Rio de Janeiro
          description: |
            Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.
            Cidade do Segurado / Participante
        countrySubDivision:
          description: Estado do Segurado / Participante
          allOf:
            - $ref: "#/components/schemas/EnumCountrySubDivision"
        countryCode:
          description: |
            Código do pais de acordo com o código “alpha3” do ISO-3166.
            País do Segurado / Participante
          type: string
          maxLength: 3
          example: BRA
        address:
          description: |
            Endereço do Segurado / Participante
          type: string
          maxLength: 200
          pattern: '[\w\W\s]*'
          example: "Av Naburo Ykesaki, 1270"
        addressAdditionalInfo:
          type: string
          maxLength: 30
          pattern: '[\w\W\s]*'
          example: Fundos
          description: Alguns logradouros ainda necessitam ser especificados por meio de complemento.
    InsuranceLifePensionDocumentsBeneficiary:
      description: Informações do beneficiário/pessoa associada, obrigatório se houver.
      type: object
      required:
        - name
        - participationPercentage
      properties:
        documentNumber:
          description: Documento do beneficiário
          type: string
          maxLength: 60
          example: "12345678910"
        documentType:
          description: Tipo de Documento do beneficiário
          type: string
          enum: [CPF, OUTROS]
        documentTypeOthers:
          description: Descrição do Tipo de Documento quando for informada a opção OUTROS
          type: string
          example: OUTROS
        name:
          description: Nome beneficiário
          type: string
          maxLength: 80
          example: Juan Kaique Cláudio Fernandes
        participationPercentage:
          description: Percentual de particiapação do beneficiário.
          type: string
          pattern: '^\d{1,3}\.\d{1,9}$'
          example: "10.00"
    InsuranceLifePensionDocumentsIntermediary:
      description: Informações de intermediário, obrigatório se houver.
      type: object
      required:
        - type
      properties:
        type:
          description: Tipo do Intermediador
          type: string
          enum:
            [
              CORRETOR,
              REPRESENTANTE,
              ESTIPULANTE_AVERBADOR_INSTITUIDOR,
              CORRESPONDENTE,
              AGENTE_DE_MICROSSEGUROS,
              OUTROS
            ]
          example: CORRETOR  
        documentNumber:
          description: Documento do Intermediador, Campo obrigatório quando o campo “Tipo” for preenchido com “1 - Corretor”.
          type: string
          maxLength: 60
          example: "12345678910"
        intermediaryId:
          description: Identificador do Intermediador, Campo obrigatório quando o campo “Tipo” for preenchido com “1 - Corretor”.
          type: string
          maxLength: 60
          example: "12097"
        documentType:
          description: Tipo de Documento do Intermediador, Campo obrigatório, Caso Tipo de Intermediador não seja Corretor ou quando for Corretor, porém o identificador do intermediador não seja informado)
          type: string
          enum: [CPF, CNPJ, OUTROS]
          example: CPF
        documentTypeOthers:
          description: Descrição do Tipo de Documento quando for informada a opção OUTROS
          type: string
          example: OUTROS
        name:
          description: Nome ou Razão Social do Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)
          type: string
          maxLength: 80
          example: Empresa A
        postCode:
          description: |
            Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'.
            Código Postal do Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)
          type: string
          pattern: '\d{8}|^NA$'
          maxLength: 8
          example: "17500001"
        townName:
          type: string
          maxLength: 50
          pattern: '[\w\W\s]*'
          example: Rio de Janeiro
          description: |
            Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.
            Cidade da Pessoa Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)
        countrySubDivision:
          description: |
            Estado da Pessoa Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)
          allOf:
            - $ref: "#/components/schemas/EnumCountrySubDivision"
        countryCode:
          description: |
            Código do pais de acordo com o código “alpha3” do ISO-3166.
            País da Pessoa Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)
          type: string
          maxLength: 3
          example: BRA
        address:
          description: |
            Corresponde ao Endereço do Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)
          type: string
          maxLength: 200
          pattern: '[\w\W\s]*'
          example: "Av Naburo Ykesaki, 1270"
        additionalInfo:
          type: string
          maxLength: 30
          pattern: '[\w\W\s]*'
          example: Fundos
          description: Alguns logradouros ainda necessitam ser especificados por meio de complemento.
    
    InsuranceLifePensionPlans:
      type: object
      required:
        - coverageCode
        - susepProcessNumber
        - structureModality
        - periodicity
        - calculationBasis
        - type
        - lockedPlan
        - qualifiedProposer
        - benefitPaymentMethod
        - financialResultReversal
        - taxRegime
      properties:
        coverageCode:
          type: string
          description: Código da Cobertura - De acordo com a Tabela 63 do Anexo I do Manual de Escopo de Dados
          maxLength: 5
          example: "1999"
        susepProcessNumber:
          description: Número do Processo Susep
          type: string
          maxLength: 60
          example: "12345"
        structureModality:
          description: Modalidade de estruturação da cobertura
          type: string
          enum: [BENEFICIO_DEFINIDO, CONTRIBUICAO_VARIAVEL]
          example: BENEFICIO_DEFINIDO
        benefitAmount:
          description: Valor do benefício em reais da cobertura contratada
          allOf:
            - $ref: "#/components/schemas/AmountDetails"
        rentsInterestRate:
          description: Taxa de Juros Rendas
          type: string
          pattern: '^\d{1,3}\.\d{1,9}$'
          example: "10.00"
        periodicity:
          description: Peridicidade da Contribuição
          type: string
          enum:
            [
              MENSAL,
              BIMESTRAL,
              TRIMESTRAL,
              QUADRIMESTRAL,
              SEMESTRAL,
              ANUAL,
              ESPORADICA
            ]
          example: MENSAL
        grace:
          type: array
          items:
            $ref: "#/components/schemas/InsuranceLifePensionPlansGrace"
        type:
          description: Tipo de plano
          type: string
          enum: [PGBL, PRGP, PAGP, PRSA, PRI, PDR, VGBL, VRGP, VAGP, VRSA, VRI, VDR, TRADICIONAL, OUTROS]
          example: PGBL
        typeDetails:
          description: Descrição do Tipo de Plano, Campo obrigatório quando o domínio do campo 'Tipo de Plano' for OUTROS
          type: string
          maxLength: 500
          example: Descrição do Tipo de Plano  
        lockedPlan:
          description: Indica se o plano consta como bloqueado
          type: boolean
          example: false
        qualifiedProposer:
          description: Proponente Qualificado
          type: string
          enum: [SIM, NAO]
          example: SIM
        biometricTable:
          type: string
          description: Tábua biométrica, se houver
          example: 1  - Mortalidade Geral / Beneficiário - AT49 M
          enum:
            [
              1  - Mortalidade Geral / Beneficiário - AT49 M,
              2  - Mortalidade Geral / Beneficiário - AT49 F,
              3  - Mortalidade Geral / Beneficiário - AT50 M,
              4  - Mortalidade Geral / Beneficiário - AT50 F,
              5  - Mortalidade Geral / Beneficiário - AT55 M,
              6  - Mortalidade Geral / Beneficiário - AT55 F,
              7  - Mortalidade Geral / Beneficiário - AT71 M,
              8  - Mortalidade Geral / Beneficiário - AT71 F,
              9  - Mortalidade Geral / Beneficiário - AT83 M,
              10  - Mortalidade Geral / Beneficiário - AT83 F,
              11  - Mortalidade Geral / Beneficiário - AT2000 M,
              12  - Mortalidade Geral / Beneficiário - AT2000 F,
              13  - Mortalidade Geral / Beneficiário - CS041,
              14  - Mortalidade Geral / Beneficiário - CSO58,
              15  - Mortalidade Geral / Beneficiário - CSO80 M,
              16  - Mortalidade Geral / Beneficiário - CSO80 F,
              17  - Mortalidade Geral / Beneficiário - CSG 60,
              18  - Mortalidade Geral / Beneficiário - GAM71 M,
              19  - Mortalidade Geral / Beneficiário - GAM71 F,
              20  - Mortalidade Geral / Beneficiário - SGB51,
              21  - Mortalidade Geral / Beneficiário - SGB55,
              22  - Mortalidade Geral / Beneficiário - SGB71,
              23  - Mortalidade Geral / Beneficiário - SGB75,
              24  - Mortalidade Geral / Beneficiário - GKF70,
              25  - Mortalidade Geral / Beneficiário - GKF80,
              26  - Mortalidade Geral / Beneficiário - GKF95,
              27  - Mortalidade Geral / Beneficiário - GKM70,
              28  - Mortalidade Geral / Beneficiário - GKM80,
              29  - Mortalidade Geral / Beneficiário - GKM95,
              30  - Mortalidade Geral / Beneficiário - UP 84,
              31  - Mortalidade de Inválidos - IAPB 57,
              32  - Mortalidade de Inválidos - IAPB57 - Nivelada,
              33  - Mortalidade de Inválidos - ZIMMERMANN,
              34  - Mortalidade de Inválidos - WINKLEVOSS,
              35  - Mortalidade de Inválidos - BENTZIEN,
              36  - Mortalidade de Inválidos - EXP. IAPC,
              37  - Mortalidade de Inválidos - TASA27,
              38  - Mortalidade de Inválidos - MULLER,
              39  - Entrada em Invalidez - IAPB 57 FRACA,
              40  - Entrada em Invalidez - IAPB 57 FORTE,
              41  - Entrada em Invalidez - ZIMMERMANN,
              42  - Entrada em Invalidez - ÁLVARO VINDAS,
              43  - Entrada em Invalidez - TASA 27,
              44  - Entrada em Invalidez - MULLER,
              45  - Entrada em Invalidez - HUNTER,
              46  - Mortalidade Geral / Beneficiário - EB7,
              47  - Mortalidade Geral / Beneficiário - UP94 M,
              48  - Mortalidade Geral / Beneficiário - AT49,
              49  - Mortalidade Geral / Beneficiário - AT2000 female suavizada 10%,
              49  - Entrada em Invalidez - AT2000 female suavizada 10%,
              50  - Mortalidade Geral / Beneficiário - TGA,
              50  - Entrada em Invalidez - TGA,
              51  - Mortalidade Geral / Beneficiário - AT2000 male suavizada 10%,
              52  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2010-m,
              53  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2010-f,
              54  - Entrada em Invalidez - SUSEP_IBGE,
              55  - Mortalidade Geral / Beneficiário - Percentual Fixo,
              55  - Mortalidade de Inválidos - Percentual Fixo,
              55  - Entrada em Invalidez - Percentual Fixo,
              56  - Mortalidade Geral / Beneficiário - Perpétua,
              56  - Mortalidade de Inválidos - Perpétua,
              56  - Entrada em Invalidez - Perpétua,
              57  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2010-m,
              57  - Mortalidade de Inválidos - BR-EMSmt-V.2010-m,
              57  - Entrada em Invalidez - BR-EMSmt-V.2010-m,
              58  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2010-f,
              58  - Mortalidade de Inválidos - BR-EMSmt-V.2010-f,
              58  - Entrada em Invalidez - BR-EMSmt-V.2010-f,
              59  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2015-m,
              59  - Mortalidade de Inválidos - BR-EMSsb-V.2015-m,
              59  - Entrada em Invalidez - BR-EMSsb-V.2015-m,
              60  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2015-f,
              60  - Mortalidade de Inválidos - BR-EMSsb-V.2015-f,
              60  - Entrada em Invalidez - BR-EMSsb-V.2015-f,
              61  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2015-m,
              61  - Mortalidade de Inválidos - BR-EMSmt-V.2015-m,
              61  - Entrada em Invalidez - BR-EMSmt-V.2015-m,
              62  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2015-f,
              62  - Mortalidade de Inválidos - BR-EMSmt-V.2015-f,
              62  - Entrada em Invalidez - BR-EMSmt-V.2015-f,
              63  - Mortalidade Geral / Beneficiário - BR-EMSsb-m,
              63  - Mortalidade de Inválidos - BR-EMSsb-m,
              63  - Entrada em Invalidez - BR-EMSsb-m,
              64  - Mortalidade Geral / Beneficiário - BR-EMSsb-f,
              64  - Mortalidade de Inválidos - BR-EMSsb-f,
              64  - Entrada em Invalidez - BR-EMSsb-f,
              65  - Mortalidade Geral / Beneficiário - BR-EMSmt-m,
              65  - Mortalidade de Inválidos - BR-EMSmt-m,
              65  - Entrada em Invalidez - BR-EMSmt-m,
              66  - Mortalidade Geral / Beneficiário - BR-EMSmt-f,
              66  - Mortalidade de Inválidos - BR-EMSmt-f,
              66  - Entrada em Invalidez - BR-EMSmt-f,
              67  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2021-m,
              67  - Mortalidade de Inválidos - BR-EMSsb-V.2021-m,
              67  - Entrada em Invalidez - BR-EMSsb-V.2021-m,
              68  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2021-f,
              68  - Mortalidade de Inválidos - BR-EMSsb-V.2021-f,
              68  - Entrada em Invalidez - BR-EMSsb-V.2021-f,
              69  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2021-m,
              69  - Mortalidade de Inválidos - BR-EMSmt-V.2021-m,
              69  - Entrada em Invalidez - BR-EMSmt-V.2021-m,
              70  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2021-f,
              70  - Mortalidade de Inválidos - BR-EMSmt-V.2021-f,
              70  - Entrada em Invalidez - BR-EMSmt-V.2021-f,
              99  - Mortalidade Geral / Beneficiário - OUTRAS,
              99  - Mortalidade de Inválidos - OUTRAS,
              99  - Entrada em Invalidez - OUTRAS]
        benefitPaymentMethod:
          description: Forma de pagamento do benefício
          type: string
          enum: [UNICO, RENDA]
          example: RENDA
        pmbacInterestRate:
          description: Taxa de Juros PMBaC, Obrigatório se houver
          type: string
          pattern: '^\d{1,3}\.\d{1,9}$'
          example: "10.00"
        pmbacGuaranteePriceIndex:
          description: Indíce de Preços Garantido PMBaC, Obrigatório se houver
          type: string
          enum: [IPC-FGV, IGP-DI-FGV, IPCA-IBGE, IGPM-FGV, INPC-IBGE, TR, OUTROS]
          example: IPC-FGV
        pmbacIndexLagging:
          description: Defasagem do Indíce PMBaC, Obrigatório se houver
          type: integer
          maxLength: 2
          example: 1
        financialResultReversal:
          description: Reversão do Resultado Financeiro, Obrigatório se houver
          type: boolean
          example: false
        financialResultReversalPercentage:
          description: Percentual de Reversão do Resultado Financeiro, obrigatório caso o campo 'Reversão do Resultado Financeiro' seja true.
          type: string
          pattern: '^\d{1,3}\.\d{1,9}$'
          example: "10.00"
        pdrOrVdrminimalGuaranteeIndex:
          description: Indíce de Garantia Mínimia do PDR ou VDR, Obrigatório se houver
          type: string
          enum: [IPC-FGV, IGP-DI-FGV, IPCA-IBGE, IGPM-FGV, INPC-IBGE, TR, OUTROS]
          example: IPC-FGV
        pdrOrVdrminimalGuaranteePercentage:
          description: Percentual de Garantia Mínima do PDR ou VDR, Obrigatório se houver
          type: string
          pattern: '^\d{1,3}\.\d{1,9}$'
          example: "10.00"
        taxRegime:
          type: string
          description: Regime Tributário
          enum: [PROGRESSIVO, REGRESSIVO]
          example: PROGRESSIVO
        calculationBasis:
          description: Base de Cálculo
          type: string
          enum: [MENSAL, ANUAL]

    InsuranceLifePensionPlansGrace:
      description: Dados de Carência para RCC, Capitalização e Sobrevivência, obrigatório se houver
      type: object
      properties:
        graceType:
          description: Tipo de carência, Obrigatório se houver
          type: string
          enum: [PORTABILIDADE, RESGATE]
          example: RESGATE
        gracePeriod:
          description: Informar o número de unidades do período de carência, de acordo com a periodicidade informada no próximo campo.
          type: integer
          maxLength: 5
          example: 4
        gracePeriodicity:
          type: string
          description: Periodicidade da Carência, Obrigatório se houver
          enum: [DIA, MES, ANO]
          example: ANO
        dayIndicator:
          type: string
          description: Índicador de dias úteis ou Corridos, Obrigatório se houver
          enum: [UTEIS, CORRIDOS]
          example: UTEIS
        gracePeriodStart:
          description: Data de Início da Carência.
          type: string
          format: date
          example: "2021-05-21"
        gracePeriodEnd:
          description: Data de Fim da carência. Obrigatório se houver
          type: string
          format: date
          example: "2021-05-21"
        gracePeriodBetween:
          type: integer
          maxLength: 5
          description: Prazo de Carência entre Resgates, Obrigatório se houver
          example: 6
        gracePeriodBetweenType:
          type: string
          description: Tipo de Prazo de Carência entre Resgates, Obrigatório quando o valor do campo 'Tipo de Carencia' for 'RESGATE'
          enum: [DIA, MES, ANO]
          example: DIA

    ResponseInsuranceLifePensionMovements:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: "#/components/schemas/InsuranceLifePensionMovements"
        links:
          $ref: "#/components/schemas/Links"
        meta:
          $ref: "#/components/schemas/Meta"
    InsuranceLifePensionMovements:
      type: object
      properties:
        movementContributions:
          type: array
          items:
            type: object
            properties:
              contributionAmount:
                description: Valores de contribuições/prêmios comerciais pagos pelo segurado participante (em relação aos últimos 12 meses), Obrigatório se houver
                allOf:
                  - $ref: "#/components/schemas/AmountDetails"
              contributionPaymentDate:
                description: Datas de Pagamentos das contribuições/prêmios comerciais (em relação aos últimos 12 meses), Obrigatório, se houver
                type: string
                format: date
                example: "2021-05-21"
              contributionExpirationDate:
                description: Datas de Vencimentos das contribuições/prêmios comerciais (em relação aos últimos 12 meses)
                type: string
                format: date
                example: "2021-05-21"
              chargedInAdvanceAmount:
                description: Valor do carregamento cobrado de forma antecipada, Obrigatório se houver
                allOf:
                  - $ref: "#/components/schemas/AmountDetails"
              periodicity:
                type: string
                description: Periodicidade da contribuições
                enum:
                  [
                    MENSAL,
                    BIMESTRAL,
                    TRIMESTRAL,
                    QUADRIMESTRAL,
                    SEMESTRAL,
                    ANUAL,
                    ESPORADICA
                  ]
                example: MENSAL
        movementBenefits:
          type: array
          items:
            type: object
            properties:
              benefitAmount:
                description: Valores de benefícios recebidos (em relação aos últimos 12 meses), Obrigatório, se houver
                allOf:
                  - $ref: "#/components/schemas/AmountDetails"
              benefitPaymentDate:
                description: Datas de Pagamentos de benefícios recebidos (em relação aos últimos 12 meses), Obrigatório, se houver
                type: string
                format: date
                example: "2021-05-21"
        
    ResponseInsuranceLifePensionPortabilities:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: "#/components/schemas/InsuranceLifePensionPortability"
        links:
          $ref: "#/components/schemas/Links"
        meta:
          $ref: "#/components/schemas/Meta"
    InsuranceLifePensionPortability:
      type: object
      required:
        - hasOccurredPortability
      properties:
        hasOccurredPortability:
          type: boolean
          description: Campo para ser preenchimento com a identificação da ocorrência da portabilidade
          example: true
        portabilityInfo:
          type: array
          items:
            type: object
            description: Objeto obrigatório caso hasOccurredPortability seja true.
            required:
              - direction
              - amount
              - requestDate
              - liquidationDate
              - postedChargedAmount
            properties:
              direction:
                description: Direção do fluxo de portabilidade
                type: string
                enum: [ENTRADA, SAIDA]
                example: ENTRADA
              type:
                type: string
                description: Tipo de portabilidade, Obrigatório quando Tipo Fluxo for SAIDA
                enum: [TOTAL, PARCIAL]
                example: PARCIAL
              amount:
                description: Valor portado
                allOf:
                  - $ref: "#/components/schemas/AmountDetails"
              requestDate:
                description: Declara a data em que foi recebida a solicitação de portabilidade
                type: string
                format: date-time
                example: "2022-05-16T00:00:00.000Z"
              liquidationDate:
                description: Declara a data de ocorrência da efetiva liquidação da portabilidade
                type: string
                format: date-time
                example: "2022-05-16T00:00:00.000Z"
              postedChargedAmount:
                description: Valor do carregamento cobrado de forma postecipada
                allOf:
                  - $ref: "#/components/schemas/AmountDetails"
              sourceEntity:
                description: Declara o código FIP da entidade de origem (cedente) da portabilidade
                type: string
              targetEntity:
                description: Declara o código FIP da entidade de destino (cessionária) da portabilidade
                type: string
              susepProcess:
                description: Processo Susep do plano originário da portabilidade
                type: string
                example: "12345"
              taxRegime:
                description: Regime de Tributação (Caso fluxo de portabilidade for de entrada e Ocorrência da portabilidade for Sim)
                type: string
                enum: [PROGRESSIVO, REGRESSIVO]
                example: PROGRESSIVO
              FIE:
                type: array
                description: Informações do FIE do Valor Portado (Caso Ocorrência da portabilidade for Sim)
                items:
                  type: object
                  properties:
                    FIECNPJ:
                      description: CNPJ do FIE
                      type: string
                      maxLength: 14
                      pattern: '^\d{14}$'
                      example: "12345678901234"
                    FIEName:
                      description: Razão social do FIE
                      type: string
                      example: RAZÃO SOCIAL
                    FIETradeName:
                      description: Nome fantasia do FIE
                      type: string
                      example: NOME FANTASIA
                    portedType:
                      description: Tipo portado
                      type: string
                      enum: [ORIGEM, DESTINO]
                      example: ORIGEM

    ResponseInsuranceLifePensionWithdrawal:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/InsuranceLifePensionWithdrawal"
        links:
          $ref: "#/components/schemas/Links"
        meta:
          $ref: "#/components/schemas/Meta"
    InsuranceLifePensionWithdrawal:
      type: object
      required:
        - withdrawalOccurence
      properties:
        withdrawalOccurence:
          type: boolean
          description: Indica se houve resgate
          example: true
        type:
          description: Tipo de resgate, Obrigatório, se houver
          type: string
          enum: [TOTAL, PARCIAL]
          example: PARCIAL
        requestDate:
          description: Declara a data da solicitação do resgate, Obrigatório, se houver
          type: string
          format: date-time
          example: "2022-05-16T00:00:00.000Z"
        amount:
          description: Declara o valor bruto resgatado, Obrigatório, se houver
          allOf:
            - $ref: "#/components/schemas/AmountDetails"
        liquidationDate:
          description: Declara a data da efetiva liquidação do valor resgatado, Obrigatório, se houver
          type: string
          format: date-time
          example: "2022-05-16T00:00:00.000Z"
        postedChargedAmount:
          description: Valor do carregamento cobrado de forma postecipada, Obrigatório, se houver
          allOf:
            - $ref: "#/components/schemas/AmountDetails"
        nature:
          description: Natureza do resgate, Obrigatório, se houver
          type: string
          enum:
            [
              RESGATE_REGULAR,
              MORTE,
              INVALIDEZ,
              PAGAMENTO_FINANCEIRO_PROGRAMADO,
              CUSTEIO_DE_COBERTURA_DE_RISCO_EM_PLANOS_CONJUGADOS,
              ASSISTENCIA_FINANCEIRA
            ]
          example: RESGATE_REGULAR
        FIE:
          type: array
          description: Informações do FIE do Valor Resgatado (Caso Ocorrência do resgate for Sim)
          items:
            type: object
            properties:
              FIECNPJ:
                description: CNPJ do FIE
                type: string
                maxLength: 14
                pattern: '^\d{14}$'
                example: "12345678901234"
              FIEName:
                description: Razão social do FIE
                type: string
                example: RAZÃO SOCIAL
              FIETradeName:
                description: Nome fantasia do FIE
                type: string
                example: NOME FANTASIA        

    ResponseInsuranceLifePensionClaim:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/InsuranceLifePensionClaim"
          minItems: 0
        links:
          $ref: "#/components/schemas/Links"
        meta:
          $ref: "#/components/schemas/Meta"
    InsuranceLifePensionClaim:
      type: object
      properties:
        eventStatus:
          description: Status do Evento Gerador
          type: string
          enum: [
              ABERTO,
              ENCERRADO_COM_INDENIZACAO,
              ENCERRADO_SEM_INDENIZACAO,
              REABERTO,
              CANCELADO_POR_ERRO_OPERACIONAL,
              AVALIACAO_INICIAL,
              ENCERRADO_COM_PAGAMENTO_UNICO_BENEFICIO,
              ENCERRADO_COM_CONCESSAO_DE_RENDA_BENEFICIO,
              ENCERRADO_INDEFERIDO_BENEFICIO
            ]
        eventAlertDate:
          description: Data de Aviso do Evento Gerador
          type: string
          format: date
          example: "2021-05-21"
        eventRegisterDate:
          description: Data do Registro de Aviso à Seguradora
          type: string
          format: date
          example: "2021-05-21"
        beneficiaryDocument:
          description: Documento de identificação do beneficiário da renda concedida
          type: string
          example: "12345678910"
        beneficiaryDocumentType:
          description: Tipo de Documento do Beneficiário
          type: string
          enum: [CPF, RG, PASSAPORTE, OUTROS]
          example: "CPF"
        beneficiaryName:
          description: Nome do beneficiário da renda concedida
          type: string
          example: "NOME BENEFICIARIO"
        beneficiaryCategory:
          description: Classificação do Beneficiário
          type: string
          enum: [SEGURADO, CÔNJUGE, FILHO_MENOR_DE_IDADE, BENEFICIÁRIO_INDICADO]
          example: "SEGURADO"
        beneficiaryBirthDate:
          description: Data de nascimento do beneficiário da renda concedida
          type: string
          format: date
          example: "2021-05-21"    
        incomeType:
          description: Tipo de Renda, Obrigatório, se houver
          type: string
          enum:
            - PAGAMENTO_UNICO
            - RENDA_POR_PRAZO_CERTO
            - RENDA_TEMPORARIA
            - RENDA_TEMPORARIA_REVERSIVEL
            - RENDA_TEMPORARIA_COM_PRAZO_MINIMO_GARANTIDO
            - RENDA_TEMPORARIA_REVERSIVEL_COM_PRAZO_MINIMO_GARANTIDO
            - RENDA_VITALICIA
            - RENDA_VITALICIA_REVERSIVEL_AO_BENEFICIARIO_INDICADO
            - RENDA_VITALICIA_REVERSIVEL_AO_CONJUGE_COM_CONTINUIDADE_AOS_MENORES
            - RENDA_VITALICIA_COM_PRAZO_MINIMO_GARANTIDO
            - RENDA_VITALICIA_REVERSIVEL_COM_PRAZO_MINIMO_GARANTIDO
            - RENDA_VITALICIA_REVERSIVEL_AO_CONJUGE
            - OUTROS
          example: PAGAMENTO_UNICO
        incomeTypeDetails:
          description: Descrição do Tipo de Renda, obrigatório se campo Tipo de Renda for OUTROS.
          type: string
          maxLength: 500
          example: Descrição do Tipo de Renda
        reversedIncome:
          description: Renda Revertida, obrigatório se campo Tipo de Renda for 4, 6, 8, 9 e 11.
          type: boolean
          example: false
        incomeAmount:
          description: Valor do benefício concedido em forma de renda ou do pagamento único
          allOf:
            - $ref: "#/components/schemas/AmountDetails"
        paymentTerms:
          description: Prazo pagamento da parcela ou da renda atuarial ou financeira do benefício concedido (quando Tipo de renda for igual a 2, 3, 4, 5 e 6)
          type: string
          example: "PRAZO"
        benefitAmount:
          description: Número de benefícios a serem recebidos por ano
          type: integer
          example: 2
        grantedDate:
          description: Data de Concessão
          type: string
          format: date
          example: "2021-05-21"
        monetaryUpdateIndex:
          description: Índice de Atualização Monetária
          type: string
          enum:
            - IPC-FGV
            - IGP-DI-FGV
            - IPCA-IBGE
            - IGPM-FGV
            - INPC-IBGE
            - TR
            - OUTROS
          example: IPC-FGV
        lastUpdateDate:
          description: Data da última atualização do benefício
          type: string
          format: date
          example: "2021-05-21"
        defermentDueDate:
          description: Data do fim do período de diferimento do benefício concedido/a conceder
          type: string
          format: date
          example: "2025-12-31"
          
    AmountDetails:
      type: object
      description: Detalhes de valores/limites
      required:
        - amount
        - unit
      properties:
        amount:
          type: string
          pattern: '^\d{1,16}\.\d{2}$'
          example: "2000.00"
        unit:
          type: object
          required:
            - code
            - description
          properties:
            code:
              type: string
              maxLength: 2
              example: R$
            description:
              type: string
              description: Moeda da Parcela, de acordo com ISO-4217.
              pattern: ^(\w{3})$
              example: BRL
    EnumCountrySubDivision:
      type: string
      description: "Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros"
      enum:
        - AC
        - AL
        - AP
        - AM
        - BA
        - CE
        - DF
        - ES
        - GO
        - MA
        - MT
        - MS
        - MG
        - PA
        - PB
        - PR
        - PE
        - PI
        - RJ
        - RN
        - RS
        - RO
        - RR
        - SC
        - SP
        - SE
        - TO
      example: RJ
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/insurance-life-pension\/v\d+)(\/insurance-life-pension.*)?$
          example: "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
        first:
          type: string
          description: URL da primeira página de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/insurance-life-pension\/v\d+)(\/insurance-life-pension.*)?$
          example: "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
        prev:
          type: string
          description: URL da página anterior de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/insurance-life-pension\/v\d+)(\/insurance-life-pension.*)?$
          example: "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
        next:
          type: string
          description: URL da próxima página de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/insurance-life-pension\/v\d+)(\/insurance-life-pension.*)?$
          example: "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
        last:
          type: string
          description: URL da última página de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/insurance-life-pension\/v\d+)(\/insurance-life-pension.*)?$
          example: "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 10
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                maxLength: 2048
              requestDateTime:
                description: "Data e hora da consulta, conforme especificação RFC-3339, formato UTC."
                type: string
                format: date-time
                example: "2021-08-20T08:30:00Z"
            additionalProperties: false
        meta:
          $ref: "#/components/schemas/Meta"
      additionalProperties: false
    XFapiInteractionId:
      type: string
      pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
      maxLength: 100
      description: 'Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.'
  parameters:
    pensionIdentification:
      name: pensionIdentification
      description: Código único a ser definido pela sociedade
      in: path
      required: true
      schema:
        type: string
        maxLength: 60
    Authorization:
      name: Authorization
      in: header
      description: Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado.
      required: true
      schema:
        type: string
        pattern: '[\w\W\s]*'
        maxLength: 2048
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
        format: int32
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 25
        minimum: 1
        format: int32
        maximum: 1000
    xCustomerUserAgent:
      name: x-customer-user-agent
      in: header
      description: Indica o user-agent que o usuário utiliza.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    xFapiAuthDate:
      name: x-fapi-auth-date
      in: header
      description: "Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231). Exemplo: Sun, 10 Sep 2017 19:43:31 UTC"
      required: false
      schema:
        type: string
        pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
        minLength: 29
        maxLength: 29
    xFapiCustomerIpAddress:
      name: x-fapi-customer-ip-address
      in: header
      description: O endereço IP do usuário se estiver atualmente logado com o receptor.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    xFapiInteractionId:
      name: x-fapi-interaction-id
      in: header
      description: 'Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.'
      required: false
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        minLength: 1
        maxLength: 100
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: "https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration"
    OAuth2Security:
      type: oauth2
      description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Inclui o processo de redirecionamento e autenticação do usuário a que se referem os dados.
      flows:
        authorizationCode:
          authorizationUrl: "https://authserver.example/authorization"
          tokenUrl: "https://authserver.example/token"
          scopes:
            insurance-life-pension: Escopo necessário para acesso à API. O controle dos endpoints específicos é feito via permissions.
  responses:
    OKResponseInsuranceLifePension:
      description: Dados de ResponseInsuranceLifePension obtidos com sucesso
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: "#/components/schemas/XFapiInteractionId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseInsuranceLifePension"
    OKResponseInsuranceLifePensionContractInfo:
      description: Dados de ResponseInsuranceLifePensionContractInfo obtidos com sucesso
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: "#/components/schemas/XFapiInteractionId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseInsuranceLifePensionContractInfo"
    OKResponseInsuranceLifePensionMovements:
      description: Dados de ResponseInsuranceLifePensionMovements obtidos com sucesso
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: "#/components/schemas/XFapiInteractionId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseInsuranceLifePensionMovements"
    OKResponseInsuranceLifePensionPortabilities:
      description: Dados de ResponseInsuranceLifePensionPortabilities obtidos com sucesso
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: "#/components/schemas/XFapiInteractionId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseInsuranceLifePensionPortabilities"
    OKResponseInsuranceLifePensionWithdrawal:
      description: Dados de ResponseInsuranceLifePensionWithdrawal obtidos com sucesso
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: "#/components/schemas/XFapiInteractionId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseInsuranceLifePensionWithdrawal"
    OKResponseInsuranceLifePensionClaim:
      description: Dados de ResponseInsuranceLifePensionClaim obtidos com sucesso
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: "#/components/schemas/XFapiInteractionId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseInsuranceLifePensionClaim"
    NoContent:
      description: "O recurso solicitado não existe ou não foi localizado."
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/ResponseError"
    BadRequest:
      description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL"
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/ResponseError"
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/ResponseError"
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/ResponseError"
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/ResponseError"
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/ResponseError"
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/ResponseError"
    TooManyRequests:
      description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/ResponseError"
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/ResponseError"
    UnprocessableEntity:
      description: O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/ResponseError"
