openapi: 3.0.0
info:
  title: API Quote Auto - Open Insurance Brasil
  description: |
    API de Cotação Auto do Open Insurance Brasil - Fase 3.\
    Recebe informações da solicitação de cotação e contratação vindas das instituições iniciadoras.\
    Possui um conjunto de endpoints por ramo de produto e um conjunto específico de endpoints para ramos classificados como LEAD OPIN.\
    Requer consentimento do cliente para todos os 'endpoints'.
    
    # Orientações
    A `Role`  do diretório de participantes relacionada à presente API é a ``.\
    Para todos os `endpoints` desta API é previsto o envio de um `token` através do header `Authorization`.\
    Os dados serão entregues pela iniciadora na seguradora desde que o `consentId` relacionado corresponda a um consentimento válido e com o status `AUTHORISED`.\
    Relacionamos a seguir as `permissions` necessárias para o envio de dados em cada `endpoint` da presente API.

    ## Permissions necessárias para a API Quote Auto

    Para cada um dos `paths` desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

    ### `/lead/request`
      - permissions:
        - POST: **QUOTE_AUTO_LEAD_CREATE**   
    ### `/lead/request/{consentId}`
      - permissions:      
        - PATCH: **QUOTE_AUTO_LEAD_UPDATE**
    ### `/request/{consentId}/quote-status`
      - permissions:
        - GET: **QUOTE_AUTO_READ**    
    ### `/request`
      - permissions:   
        - POST: **QUOTE_AUTO_CREATE**   
    ### `/request/{consentId}`
      - permissions:   
        - PATCH: **QUOTE_AUTO_UPDATE**
    ## Válidações Semanticas - Entidade não processável - 422
      - 1 - `Idempotência:` Valida se há divergência entre chave de idempotência e informações enviadas (ERRO_IDEMPOTENCIA);
      - 2 - `Não Informado:` Valida itens não explicitamente informados pelo servidor - (NAO_INFORMADO).



  version: 1.9.0
  contact:
    name: Governança do Open Insurance Brasil
    email: gt-interfaces@openinsurancebr.org
    url: 'https://www.gov.br/susep'
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/quote-auto/v1'
    description: Servidor de Produção
  - url: 'https://api.organizacao.com.br/open-insurance/quote-auto/v1'
    description: Servidor de Homologação
tags:
  - name: AutoLead
    description: Iniciação de serviços de seguro Cotação Auto (AutoLead)
  - name: Auto
    description: Iniciação de serviços de seguro Cotação Auto (Auto)
paths:
  /lead/request:
    post:
      tags:
        - AutoLead
      summary: Envia dados de cotação e contratação de AutoLead
      description: "Método para criação de solicitação de cotação e contratação de AutoLead"
      operationId: "postQuoteAutoLead"
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestAutoLead'
      responses:
        '201':
          $ref: '#/components/responses/CreatedResponseQuoteRequestAutoLead'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-auto-lead
  /lead/request/{consentId}:
    patch:
      tags:
        - AutoLead
      summary: Atualiza dados de cotação e contratação de AutoLead identificado por consentId
      description: "Método para atualização de solicitação de cotação e contratação de AutoLead"
      operationId: "patchQuoteAutoLead"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokePatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuoteAutoLead'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-auto-lead

  /request:
    post:
      tags:
        - Auto
      summary: Envia dados de cotação e contratação de Auto
      description: "Método para criação de solicitação de cotação e contratação de Auto"
      operationId: "postQuoteAuto"
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestAuto'
      responses:
        '201':
          $ref: '#/components/responses/CreatedResponseQuoteRequestAuto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-auto
  /request/{consentId}/quote-status:
    get:
      tags:
        - Auto
      summary: Obtém os dados de cotação e contratação de Auto identificado por consentId
      description: "Método para consulta dos dados de solicitação de cotação e contratação de Auto"
      operationId: "getQuoteAuto"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          $ref: '#/components/responses/200QuoteStatusAuto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:         
          - quote-auto
  /request/{consentId}:
    patch:
      tags:
        - Auto
      summary: Atualiza dados de cotação e contratação de Auto identificado por consentId
      description: "Método para atualização de solicitação de cotação e contratação de Auto"
      operationId: "patchQuoteAuto"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuoteAuto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:          
          - quote-auto

components:
  schemas:
    PolicyDataAutoLead:
      $ref: '#/components/schemas/PolicyDataAuto'
    
    QuoteAutoBeneficiary:
      type: object
      properties:
        identification:
          description: Documento de Identifica��o do Benefici�rio
          type: string
          maxLength: 60
          example: "12345678900"
        identificationType: 
          description: Tipo de Documento do Benefici�rio
          type: string
          example: CPF
          enum: [
            CPF,
            CNPJ,
            OUTROS
          ]
        housingVehiclesNumber:
            type: string
            maxLength: 10
            description: "Número de veículos na residência"
        isUndeterminedDriver:
            type: boolean
            description: "Condutor Indeterminado"
        isInsuredTheOwner:
            type: boolean
            description: "O Segurado é o proprietário?"
        relationshipMainDriver:
            type: string
            example: FILHO_A_ENTEADO_A
            enum: [
                FILHO_A_ENTEADO_A,
                CONJUGE_COMPANHEIRO_A,
                PAI_MAE,
                IRMAO_IRMA,
                OUTROS,
                NAO_SE_APLICA
            ]
            description: "Qual a relação do Condutor Principal com o Segurado?"
        isInsuredTheMainDriver:
            type: boolean
            description: "O Segurado � o Condutor Principal?"
        mainDriver:
            type: object
            properties:
                identification:
                  description: Documento de Identifica��o do Benefici�rio
                  type: string
                  maxLength: 60
                  example: "12345678900"
                identificationType: 
                  description: Tipo de Documento do Benefici�rio
                  type: string
                  example: CPF
                  enum: [
                    CPF,
                    CNPJ,
                    OUTROS
                  ]
                name:
                    type: string
                    maxLength: 100
                    description: "Nome do Condutor Principal"
                birthDate:
                    type: string
                    maxLength: 100
                    format: date
                    description: "Data de nascimento  do Condutor Principal"
                    pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
                    example: '2022-10-27'
                gender:
                    type: string
                    example: MASCULINO
                    enum: [MASCULINO,
                        FEMININO,
                        NAO_DECLARADO,
                        OUTROS]
                    description: "Sexo do Condutor Principal"
                civilStatus:
                    type: string
                    example: SOLTEIRO
                    enum: [SOLTEIRO,
                        CASADO,
                        VIUVO,
                        SEPARADO_JUDICIALMENTE,
                        DIVORCIADO,
                        UNIAO_ESTAVEL,
                        OUTROS]
                    description: "Estado civil do Condutor Principal"
                postCode:
                    type: string
                    maxLength: 10
                    description: "CEP do Condutor Principal"
                licensedExperience:
                    type: string
                    description: "Tempo de habilitação do condutor utilizado para taxação (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
                profession:
                    type: string
                    maxLength: 10
                    description: "Profissão do Condutor Principal"

    QuoteAutoInsuredObject:
      type: object
      description: Objeto que agrupa os dados de objeto segurado.
      required:
        - identification
        - doorsNumber
        - color
        - vehicleUse
        - isEquipmentsAttached
        - isBrandNew
        - fuel
        - isGasKit
        - isArmouredVehicle
        - isActiveTrackingDevice
        - overnightPostCode
        - wasThereAClaim 
      properties:
        identification:
          type: string
          maxLength: 100
          description: "Identificador do objeto segurado. Obs.: Para Fiança Locatícia, é a identificação do Contrato de Locação."
        model:
            required: 
                - brand
                - modelName
            type: object
            description: Objeto que agrupa os dados de modelo.
            properties:
                brand:
                  description: "Marca do veículo"
                  type: string 
                  example: "Mercedes-Benz"
                  maxLength: 20
                modelName: 
                  type: string
                  description: Nome do modelo (Caso aplicável) 
                  maxLength: 100
                  example: "AMG Classe A"
                modelYear: 
                  type: string
                  maxLength: 4
                  pattern: '^\d{4}$'
                  description: "Ano do modelo (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
                  example: "2022"
                manufactureYear: 
                  type: string
                  maxLength: 4
                  pattern: '^\d{4}$'
                  description: "Ano de fabricação (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
                  example: "2022"
        modality: 
          type: string
          example: VALOR_DETERMINADO
          enum: [VALOR_DE_MERCADO_REFERENCIADO,
                VALOR_DETERMINADO,
                CRITERIO_DIVERSO,
                OUTROS]
          description: "Modalidade de cobertura (para cobertura de casco)"
        tableUsed:
          type: string
          example: MOLICAR
          enum: [MOLICAR,
                FIPE,
                JORNAL_DO_CARRO,
                VD,
                OUTRAS]
          description: "Tabela de referência adotada no plano (Casco, RCF-A, APP, Assistência e Outras Coberturas). Condicional, caso a opção '1. Valor de mercado referenciado' seja selecionada no campo 'Modalidade'"
        modelCode:
          type: string
          maxLength: 20
          description: "Código do modelo de acordo com a tabela de referência adotada no plano (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
          example: "123456-0"
        adjustmentFactor:
           type: string
           maxLength: 500
           description: "Fator de ajuste da tabela utilizada para valor médio de mercado"
           example: "80%"
        valueDetermined:
           type: string
           maxLength: 500
           description: "BRL - De acordo com ISO-4217. Condicional, caso a opção '2. Valor determinado' seja selecionada no campo 'Modalidade'"
        tax:
          type: object
          required:
            - exempt
          properties:
              exempt:
                  type: boolean
                  description: "Isento de Imposto. Condicional, caso a opção '1. Sim' seja selecionada no campo 'Isento de Imposto'"
              type:
                  type: string
                  example: ICMS
                  enum: [ICMS,
                      IPI,
                      AMBOS]
                  description: "qual imposto isento(s)"
              exemptionPercentage:
                  type: string
                  maxLength: 10
                  description: "Percentual da isenção. Condicional, caso a opção '1. Sim' seja selecionada no campo 'Isento de Imposto'"
        doorsNumber:
            type: string
            maxLength: 10
            description: "Quantidade de portas"
            example: "2"
        color:   
            type: string
            maxLength: 100
            description: "Cor"
            example: "PRATA"
        licensePlate:
            type: string
            maxLength: 8
            description: "Placa"
            example: "ABC-0123"
        vehicleUse:
            type: array 
            items: 
                type: string
                example: LAZER
                enum: [LAZER,
                        LOCOMOCAO_DIARIA,
                        EXERCICIO_DO_TRABALHO]
                description: " Código de utilização do veículo (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
        commercialActivityType:
          description: " Tipo de atividade comercial. Condicional, caso a opção '3. Exercício do trabalho' seja selecionada no campo 'Código de utilização do veículo'"
          type: array
          items:
              type: string
              example: TAXI_PARTICULAR
              enum: [COMERCIAL_ATIVIDADE_PROFISSIONAL_PARA_REPRESENTACAO_COMERCIAL_VENDEDORES_PROMOTORES_E_PRESTADORES_DE_SERVICOS,
                    TAXI_PARTICULAR,
                    MOTORISTA_DE_APLICATIVO_APLICATIVO_DE_TRANSPORTE,
                    MOTO_TAXI,
                    LOTACAO,
                    TRANSPORTE_ESCOLAR,
                    LOCADORA_CONTRATO,
                    LOCADORA_AVULSO,
                    TRANSPORTE_DE_MERCADORIA,
                    PRESTA_SERVICO_PARA_TRANSPORTADORA,
                    TRANSPORTE_DE_PESSOAS_URBANO,
                    TRANSPORTE_DE_PESSOAS_FRETAMENTO_EMPRESARIAL_CONTINUO,
                    TRANSPORTE_DE_PESSOAS_FRETAMENTO_MISTO_FRETE_PESSOAS,
                    TRANSPORTE_DE_PESSOAS_FRETAMENTO_TURISTICO,
                    VEICULOS_OFICIAIS_ORGAO_PUBLICO,
                    AMBULANCIA,
                    BOMBEIROS,
                    COLETORES_DE_LIXO,
                    VIGILANCIA,
                    POLICIAMENTO,
                    COMPETICAO_EVENTOS,
                    AUTO_ESCOLAS,
                    TEST_DRIVE,
                    DIFERENCIADOS_EX_TRAILER_MOTORHOME_HOSPITAIS_VOLANTE_VEICULOS_COM_PLATAFORMA_PARA_REPAROS_DE_ENERGIA_ELETRICA_ETC,
                    OUTROS]
        riskManagementSystem:
            type: array
            items:
                type: string
                example: NAO
                enum: [NAO,
                      CADASTRO_DE_MOTORISTAS,
                      ESCOLTA_DE_CARGAS,
                      OUTROS,
                      NAO_INFORMADO]
                description: "Utiliza algum sistema de gerenciamento de risco?. Condicional, caso a opção '10. Transporte de Mercadoria' ou '11. Presta Serviço para Transportadora' seja selecionada no campo 'Tipo de Atividade Comercial'"
        isTransportedCargoInsurance:
          description: "Possui seguro da carga transportada? Condicional, caso a opção '10. Transporte de Mercadoria' ou '11. Presta Serviço para Transportadora' seja selecionada no campo 'Tipo de Atividade Comercial'"
          type: boolean
        loadsCarriedinsured:
            type: array
            items:
                type: string
                example: AUTO_PECAS
                enum: [AUTO_PECAS,
                    AUTOMOVEIS,
                    BEBIDAS,
                    BRINQUEDOS,
                    CALCADOS,
                    CARGA_MISTA,
                    CARGA_VIVA,
                    CIGARROS,
                    COMBUSTIVEIS_OU_INFLAMAVEIS,
                    CONFECCOES,
                    ELETRODOMESTICOS,
                    GASES,
                    GENERO_ALIMENTICIO,
                    HORTIFRUTI_GRANJEIROS,
                    LATICIOS,
                    LIXO,
                    MADEIRA,
                    MATERIAL_DE_CONSTRUCAO,
                    MEDICAMENTOS,
                    MOVEIS,
                    MUDANCAS,
                    PAPEIS,
                    PLASTICOS,
                    PNEU_OU_CAMERA_DE_AR,
                    PRODUTO_PERICIVEL,
                    PRODUTO_QUIMICO,
                    SUCO,
                    TECIDO,
                    VALORES,
                    VIDROS,
                    OUTRAS,
                    NAO_INFORMADO]
                description: "Quais as cargas transportadas pelo veículo segurado? Condicional, caso a opção '10. Transporte de Mercadoria' ou '11. Presta Serviço para Transportadora' seja selecionada no campo 'Tipo de Atividade Comercial'"
        isEquipmentsAttached:
             type: boolean
             description: "Utiliza algum sistema de gerenciamento de risco?"
        equipmentsAttached:
             type: object
             description: Objeto que agrupa os dados de equipamentos ou acessórios acoplados.
             properties:
                isDesireCoverage:
                    type: boolean
                    description: "Deseja cobertura destes equipamentos ou acessórios? Condicional, caso a opção '1. Sim' seja selecionada no campo 'Possui equipamentos ou acessórios acoplados, fixados ou instalados a veículos?'"
                equipmentsAttachedAmount:
                    description: "Valor dos equipamentos/acessórios - Condicional, caso a opção '1. Sim' seja selecionada no campo 'Deseja cobertura destes equipamentos ou acessórios?'"
                    allOf:
                        - $ref: '#/components/schemas/AmountDetails'
        chassis:
            type: string
            description: "Chassi"
            maxLength: 17
        isAuctionChassisRescheduled:
            type: boolean
            description: "Leilão ou Chassi remarcado"
        isBrandNew:
            type: boolean
            description: "Zero km?" 
        departureDateFromCarDealership:
            type: string
            maxLength: 10
            format: date
            description: "Data de saída da concessionária - Zero km? Condicional e opcional, caso a opção '1. Sim' seja selecionada no campo 'Zero km?'"
            pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
            example: '2022-10-27'
        vehicleInvoice:
            type: object
            description: Objeto que agrupa os dados de Nota Fiscal.
            properties:
                vehicleAmount:
                    description: "Valor de NF do veículo - Condicional e opcional, caso a opção '1. Sim' seja selecionada no campo 'Zero km?'"
                    allOf:
                        - $ref: '#/components/schemas/AmountDetails'
                vehicleNumber:
                    type: string
                    maxLength: 10
                    description: "Número da NF do veículo"
        fuel:
            type: string
            example: GASOLINA
            enum: [GASOLINA,
                FLEX,
                HIBRIDO,
                ELETRICO,
                DIESEL,
                GAS_GNV,
                ALCOOL_ETANOL,
                FLEX_E_GNV]
            description: "Combustível"
        isGasKit:
            type: boolean
            description: "Possui Kit-gás?"
        gasKit:
            type: object
            description: Objeto que agrupa os dados de Kit-gás.
            required:
                - isDesireCoverage
            properties:
                isDesireCoverage:
                    type: boolean
                    description: "Deseja cobertura do Kit-gás? Condicional, caso a opção '1. Sim' seja selecionada no campo 'Veículo blindado?'"       
                gasKitAmount:
                    description: "Valor do Kit-gás - Condicional, caso a opção '1. Sim' seja selecionada no campo 'Deseja cobertura do Kit-gás?'"
                    allOf:
                        - $ref: '#/components/schemas/AmountDetails' 
        isArmouredVehicle:
            type: boolean
            description: "Veículo blindado?"
        armouredVehicle:
            type: object
            description: Objeto que agrupa os dados de blindagem.
            properties:
                isDesireCoverage:
                    type: boolean
                    description: "Deseja cobertura da blindagem?"       
                armouredVehicleAmount:
                    description: "Valor da blindagem"
                    allOf: 
                        - $ref: '#/components/schemas/AmountDetails'   
        isActiveTrackingDevice:
            type: boolean
            description: "Possui dispositivo rastreador próprio e ativo (adquirido e pago pelo cliente)?"    
        frequentTrafficArea: 
            type: string
            example: REGIAO_NORDESTE
            enum: [MUNICIPIO_E_ARREDORES_ATE_KM,    
                DENTRO_DO_PROPRIO_ESTADO_DA_SEDE,
                REGIAO_NORTE,
                REGIAO_NORDESTE,
                REGIAO_CENTRO_OESTE,
                REGIAO_SUL,
                REGIAO_SUDESTE,
                MERCOSUL,
                AMERICA_DO_SUL,
                NAO_INFORMADO]
            description: "Qual a área de circulação mais frenquente?"
        overnightPostCode:
            type: string
            maxLength: 10
            description: "CEP da localidade de pernoite do veículo (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
        riskLocationInfo:
          $ref: '#/components/schemas/QuoteAutoRiskLocation'
        beneficiaries:
          type: array
          description: Lista de dados de beneficiários.
          items:
            $ref: '#/components/schemas/QuoteAutoBeneficiary'
        isExtendCoverageAgedBetween18And25:
            type: boolean
            description: "Deseja estender a cobertura contratada para condutores na faixa etária dos 18 aos 25 anos?"    
        driverBetween18and25YearsOldGender:
            type: string
            description: "Condicional, caso seja selecionado '1. Sim' no campo 'Deseja estender a cobertura contratada para condutores na faixa etária dos 18 aos 25 anos?'sexo dos condutores na faixa etária dos 18 aos 25 anos"
            example: MASCULINO
            enum: [MASCULINO,
                    FEMININO,
                    MASCULINO_E_FEMININO,
                    PREFIRO_NAO_DECLARAR]
        wasThereAClaim:  
          description: "Houve sinistro no local nos últimos 12 meses?"
          type: boolean
        claimNotifications:
          description: Lista de sinistros e valores
          type: array
          items:
            $ref: '#/components/schemas/ClaimNotification'
    ClaimNotification:
      type: object
      description: Valores de sinistros (nos últimos 12 meses)
      required:
        - claimAmount
        - claimDescription
      properties:
        claimAmount:   
          description: "Valor do sinistro De acordo com ISO-4217."
          allOf:
            - $ref: '#/components/schemas/AmountDetails'  
        claimDescription:
          description: Descrição do sinistro
          type: string
          maxLength: 100
      additionalProperties: false         
    QuoteAutoRiskLocation:
        type: object
        description: Objeto que agrupa dados de local de risco.
        properties:
            isUsedCollege:
                type: boolean
                description: "Veículo é utilizado para ir à faculdade/colégio?"
            usedCollege:   
                type: object 
                properties:                                       
                    isKeptInGarage:
                        type: boolean
                        maxLength: 32
                        description: "Veículo é guardado em garagem/estacionamento fechado quando utilizado para ir à faculdade/colégio? Condicional, caso a opção '1. Sim' seja selecionada no campo 'utilizado para ir à faculdade?'"
                    distanceFromResidence:
                        type: string
                        maxLength: 20
                        description: "Distância da residência até unidade de ensino (Em km). Condicional, caso a opção '1. Sim' seja selecionada no campo 'utilizado para ir à faculdade?'"
            isUsedCommuteWork:
                type: boolean
                description: "Veículo é utilizado para ir ao trabalho?"
            usedCommuteWork:
                type: object 
                properties: 
                    isKeptInGarage:
                        type: boolean
                        maxLength: 32
                        description: "Veículo é guardado em garagem/estacionamento fechado quando utilizado para ir ao local de trabalho?Condicional, caso a opção '1. Sim' seja selecionada no campo 'utilizado para ir ao trabalho?'"
                    distanceFromResidence:
                        type: string
                        maxLength: 20
                        description: "Campo aberto para detalhamento da quilometragem. Condicional, caso a opção '1. Sim' seja selecionada no campo 'utilizado para ir ao trabalho?'"
            kmAveragePerWeek:
                    type: string
                    maxLength: 20
                    description: "Quantos KM em média o veículo circula por semana"
            housing:
                type: object
                properties:
                    type:
                        type: string
                        example: APARTAMENTO_OU_FLAT
                        enum: [APARTAMENTO_OU_FLAT,
                            CASA_OU_SOBRADO_EM_CONDOMINIO_FECHADO,
                            CASA_OU_SOBRADO,
                            CHACARA_FAZENDA_OU_SITIO]
                        description: "Qual é o tipo de residência do condutor principal?"
                    isKeptInGarage:
                        type: boolean
                        description: "O veículo é guardado em garagem/estacionamento fechado na residência?"
                    gateType:
                        type: string
                        example: PORTAO_AUTOMATICO
                        enum: [PORTAO_AUTOMATICO,
                            PORTAO_MANUAL]
                        description: "Tipo de portão do local onde o veículo é guardado na residência"
                    
    QuoteAutoCoverage:
      type: object
      required:
          - branch
          - code
          - isSeparateContractingAllowed
          - maxLMI
      properties:
        branch:
            description: Grupo e ramo da cobertura
            type: string
            maxLength: 4
            example: "0111"
        code:
            type: string
            description: Código da cobertura, conforme Anexo II do Manual de Escopo de Dados
            example: CASCO_COMPREENSIVA
            enum: [
              CASCO_COMPREENSIVA,
              CASCO_INCENDIO_ROUBO_E_FURTO,
              CASCO_ROUBO_E_FURTO,
              CASCO_INCENDIO,
              CASCO_ALAGAMENTO,
              CASCO_COLISAO_INDENIZACAO_PARCIAL,
              CASCO_COLISAO_INDENIZACAO_INTEGRAL,
              RESPONSABILIDADE_CIVIL_FACULTATIVA_DE_VEICULOS_RCFV,
              RESPONSABILIDADE_CIVIL_FACULTATIVA_DO_CONDUTOR_RCFC,
              ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_VEICULO,
              ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_CONDUTOR,
              VIDROS,
              DIARIA_POR_INDISPONIBILIDADE,
              LFR_LANTERNAS_FAROIS_E_RETROVISORES,
              ACESSORIOS_E_EQUIPAMENTOS,
              CARRO_RESERVA,
              PEQUENOS_REPAROS,
              RESPONSABILIDADE_CIVIL_CARTA_VERDE,
              RESPONSABILIDADE_CIVIL_VEICULOS_DE_PASSEIO_ACORDOS_FORA_DO_MERCOSUL,
              OUTRAS
            ]
        description:
            description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
            type: string
            maxLength: 500
        isSeparateContractingAllowed:
            description: Permissão para Contratação Separada
            type: boolean
        maxLMI:
          description: Valor de Limite Máximo de Indenização (LMI) solicitado
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        internalCode:
            description: "Código interno da cobertura da seguradora"
            type: string
            maxLength: 500
            
    QuoteAutoQuoteResultCoverage:
      type: object
      required:
        - branch
        - code
        - isSeparateContractingAllowed
        - POS
        - fullIndemnity
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: "0111"
        code:
            type: string
            description: Código da cobertura, conforme Anexo II do Manual de Escopo de Dados
            example: CASCO_COMPREENSIVA
            enum: [
              CASCO_COMPREENSIVA,
              CASCO_INCENDIO_ROUBO_E_FURTO,
              CASCO_ROUBO_E_FURTO,
              CASCO_INCENDIO,
              CASCO_ALAGAMENTO,
              CASCO_COLISAO_INDENIZACAO_PARCIAL,
              CASCO_COLISAO_INDENIZACAO_INTEGRAL,
              RESPONSABILIDADE_CIVIL_FACULTATIVA_DE_VEICULOS_RCFV,
              RESPONSABILIDADE_CIVIL_FACULTATIVA_DO_CONDUTOR_RCFC,
              ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_VEICULO,
              ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_CONDUTOR,
              VIDROS,
              DIARIA_POR_INDISPONIBILIDADE,
              LFR_LANTERNAS_FAROIS_E_RETROVISORES,
              ACESSORIOS_E_EQUIPAMENTOS,
              CARRO_RESERVA,
              PEQUENOS_REPAROS,
              RESPONSABILIDADE_CIVIL_CARTA_VERDE,
              RESPONSABILIDADE_CIVIL_VEICULOS_DE_PASSEIO_ACORDOS_FORA_DO_MERCOSUL,
              OUTRAS
            ]
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        internalCode:
          description: "Código interno da cobertura da seguradora"
          type: string
          maxLength: 500
        isSeparateContractingAllowed:
            description: Permissão para Contratação Separada
            type: boolean  
        gracePeriod:
          type: integer
          maxLength: 5
          description: "Período de carência. OBS: Obrigatório, se houver"       
        gracePeriodicity:
          type: string
          description: "Periodicidade da carência. OBS: Obrigatório, se houver"
          example: DIA
          enum: [DIA,
                MES,
                ANO]     
        gracePeriodCountingMethod:   
          type: string
          description: "Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver"
          example: DIAS_UTEIS
          enum: [DIAS_UTEIS,
                DIAS_CORRIDOS] 
        gracePeriodStartDate:            
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-10-27'
          description: "Data de início da carência. OBS: Obrigatório, se houver"
        gracePeriodEndDate:            
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-10-27'
          description: "Data de fim da carência. OBS: Obrigatório, se houver"            
        deductible:
          description: Informações de franquia
          allOf:
            - $ref: '#/components/schemas/QuoteAutoResultDeductible'
        POS:
          description: Informações de POS
          allOf:
            - $ref: '#/components/schemas/POS'
        fullIndemnity:
          type: string
          description: "Franquia sobre indenização integral(caso aplicável)"
          example: VALOR
          enum: [VALOR,
                PERCENTUAL,
                OUTROS]  
    ResultQuoteQuoteAuto:
      type: object
      description: Objeto que agrupa dados específicos do ramo de cotação.
      required:
        - termStartDate
        - termType
        - insuranceType
        - termEndDate
        - currency
        - includesAssistanceServices
      properties:
        isCollectiveStipulated:
          description: "Apólice coletiva, por estipulação ou automóvel frota?"
          type: boolean
        hasAnIndividualItem:
          description: "Trata-se uma apólice individual com apenas um item?"
          type: boolean
        termStartDate: 
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-10-27'
          description: "Vigência das 24 horas do dia "
        termEndDate:  
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-10-27'
          description: "Até as 24 horas do dia"
        termType:
          type: string
          example: ANUAL
          enum: [ANUAL,
                ANUAL_INTERMITENTE,     
                PLURIANUAL,
                PLURIANUAL_INTERMITENTE,
                SEMESTRAL,
                SEMESTRAL_INTERMITENTE, 
                MENSAL,
                MENSAL_INTERMITENTE,
                DIARIO,
                DIARIO_INTERMITENTE,
                OUTROS] 
          description: "Tipo de vigência"
        insuranceType: 
          type: string
          description: "Tipo de Seguro"
          example: NOVO
          enum: [NOVO,    
                RENOVACAO]
        policyId:
          description: "Número para identificar a apólice atual"
          type: string
          maxLength: 100
          example: "111111"
        insurerId:
          description: "Nome para identifcar a congênere de renovação"
          type: string
          maxLength: 100
        identifierCode:
          description: "Código Identificador. Condicional, caso a opção '2. Renovação' seja selecionada no campo 'tipo de Seguro'"
          type: string
          example: "123"
          maxLength: 3
        bonusClass:
          description: "Classe de Bônus. Condicional, caso a opção '2. Renovação' seja selecionada no campo 'tipo de Seguro'"
          type: string
          example: "123"
          maxLength: 3
        currency:
          description: "Moeda de emissão do contrato de acordo com ISO-4217."
          type: string
          example: BRL
          enum: [AFN,AFA,ALL,ALK,DZD,USD,EUR,ADP,ESP,FRF,AOA,AOK,AON,AOR,XCD,ARS,ARA,ARP,ARY,AMD,RUR,AWG,AUD,ATS,AZN,AYM,AZM,BSD,BHD,BDT,BBD,BYN,BYB,BYR,BEC,BEF,BEL,BZD,XOF,BMD,INR,BTN,BOP,BOB,BOV,BAM,BAD,BWP,NOK,BRL,BRB,BRC,BRE,BRN,BRR,BND,BGN,BGJ,BGK,BGL,BUK,BIF,CVE,KHR,XAF,CAD,KYD,CLP,CLF,CNY,COP,COU,KMF,CDF,NZD,CRC,HRK,HRD,CUP,CUC,ANG,CYP,CZK,CSJ,CSK,DKK,DJF,DOP,ECS,ECV,EGP,SVC,GQE,ERN,EEK,SZL,ETB,XEU,FKP,FJD,FIM,XPF,GMD,GEL,GEK,DDM,DEM,GHS,GHC,GHP,GIP,GRD,GTQ,GBP,GNF,GNE,GNS,GWE,GWP,GYD,HTG,ITL,HNL,HKD,HUF,ISK,ISJ,IDR,XDR,IRR,IQD,IEP,ILS,ILP,ILR,JMD,JPY,JOD,KZT,KES,KPW,KRW,KWD,KGS,LAJ,LAK,LVL,LVR,LBP,LSL,ZAR,LSM,ZAL,LRD,LYD,CHF,LTL,LTT,LUC,LUF,LUL,MOP,MGA,MGF,MWK,MYR,MVR,MVQ,MLF,MTL,MTP,MRU,MRO,MUR,XUA,MXN,MXV,MXP,MDL,MNT,MAD,MZN,MZE,MZM,MMK,NAD,NPR,NLG,NIO,NIC,NGN,MKD,OMR,PKR,PAB,PGK,PYG,PEN,PEH,PEI,PES,PHP,PLN,PLZ,PTE,QAR,RON,ROK,ROL,RUB,RWF,SHP,WST,STN,STD,SAR,RSD,CSD,SCR,SLL,SGD,XSU,SKK,SIT,SBD,SOS,SSP,SDG,RHD,ESA,ESB,LKR,SDD,SDP,SRD,SRG,SEK,CHE,CHW,CHC,SYP,TWD,TJS,TJR,TZS,THB,TPE,TOP,TTD,TND,TRY,TRL,TMT,TMM,UGX,UGS,UGW,UAH,UAK,SUR,AED,USS,USN,UYU,UYI,UYW,UYN,UYP,UZS,VUV,VEB,VEF,VES,VND,VNC,YER,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZMW,ZMK,ZWL,ZWC,ZWD,ZWN,ZWR,XBA,XFO,XBB,XRE,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG]
        includesAssistanceServices:
          description: "Deseja contratação de serviços de assistência"
          type: boolean
        insuredObjects:
          type: array
          description: Lista que agrupa os dados de objetos segurados.  
          items:
            $ref: '#/components/schemas/QuoteAutoResultInsuredObject'
            
    QuoteStatusAuto:
      type: object
      required:
        - quoteCustomer
        - quoteData
        - quotes
      properties:
        quoteCustomer:
          oneOf:
            - $ref: '#/components/schemas/PersonalCustomerInfo'
            - $ref: '#/components/schemas/BusinessCustomerInfo'
        quoteData:
          $ref: '#/components/schemas/ResultQuoteQuoteAuto'
        quotes:
          type: array
          minItems: 1
          description: Lista de cotações enviadas pela seguradora.
          items:
            required:
               - susepProcessNumbers
               - assistances
               - premiumInfo
               - insurerQuoteId
            type: object
            description: Informações da cotação enviada pela seguradora
            properties:
              insurerQuoteId:
                type: string
                description: |
                  Id da proposta da segurada            
              susepProcessNumbers:
                description: "Número do Processo Susep das Coberturas"
                type: array
                items:
                  type: string
                  maxLength: 50
              coverages:
                type: array
                description: Lista que agrupa os dados de coberturas.
                items:
                  $ref: '#/components/schemas/QuoteAutoQuoteResultCoverage'
              assistances:
                type: array
                description: Lista que agrupa dados de assistências.
                items:
                  $ref: '#/components/schemas/QuoteResultAssistance'
              premiumInfo:
                $ref: '#/components/schemas/QuoteResultPremium'
        quoteCustomData:
          $ref: '#/components/schemas/QuoteCustomData'
          
    PersonalCustomerInfo:
      type: object
      properties:
        identification:
          $ref: '#/components/schemas/PersonalIdentificationData'
        qualification:
          $ref: '#/components/schemas/PersonalQualificationData'
        complimentaryInfo:
          $ref: '#/components/schemas/PersonalComplimentaryInformationData'
    BusinessCustomerInfo:
      type: object
      properties:
        identification:
          $ref: '#/components/schemas/BusinessIdentificationData'
        qualification:
          $ref: '#/components/schemas/BusinessQualificationData'
        complimentaryInfo:
          $ref: '#/components/schemas/BusinessComplimentaryInformationData'
            
    QuoteAutoResultInsuredObject:
      type: object
      required:
        - identification
        - doorsNumber
        - color
        - vehicleUse
        - isEquipmentsAttached
        - isBrandNew
        - fuel
        - isGasKit
        - isArmouredVehicle
        - isActiveTrackingDevice
        - overnightPostCode
        - coverages
        - licensePlateType
        - wasThereAClaim
      properties:
        identification:
          type: string
          maxLength: 100
          description: "Identificador do objeto segurado. Obs.: Para Fiança Locatícia, é a identificação do Contrato de Locação."
        model:
            type: object
            description: Objeto que agrupa os dados de modelo.
            required:
                - brand
                - modelName
            properties:
                brand:
                  description: "Marca do veículo"
                  type: string 
                  example: "Mercedes-Benz"
                  maxLength: 20
                modelName: 
                  type: string
                  description: Nome do modelo (Caso aplicável) 
                  maxLength: 100
                  example: "AMG Classe A"
                modelYear: 
                  type: string
                  maxLength: 4
                  pattern: '^\d{4}$'
                  description: "Ano do modelo (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
                  example: "2022"
                manufactureYear: 
                  type: string
                  maxLength: 4
                  pattern: '^\d{4}$'
                  description: "Ano de fabricação (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
                  example: "2022"
        modality: 
          type: string
          example: VALOR_DETERMINADO
          enum: [VALOR_DE_MERCADO_REFERENCIADO,
                VALOR_DETERMINADO,
                CRITERIO_DIVERSO,
                OUTROS]
          description: "Modalidade de cobertura (para cobertura de casco)"
        tableUsed:
          type: string
          example: MOLICAR
          enum: [MOLICAR,
                FIPE,
                JORNAL_DO_CARRO,
                VD,
                OUTRAS]
          description: "Tabela de referência adotada no plano (Casco, RCF-A, APP, Assistência e Outras Coberturas). Condicional, caso a opção '1. Valor de mercado referenciado' seja selecionada no campo 'Modalidade'"
        modelCode:
          type: string
          maxLength: 20
          description: "Código do modelo de acordo com a tabela de referência adotada no plano (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
          example: "123456-0"
        adjustmentFactor:
           type: string
           maxLength: 500
           description: "Fator de ajuste da tabela utilizada para valor médio de mercado"
           example: "80%"
        valueDetermined:
           type: string
           maxLength: 500
           description: "BRL - De acordo com ISO-4217. Condicional, caso a opção '2. Valor determinado' seja selecionada no campo 'Modalidade'"
        tax:
          type: object
          description: Objeto que agrupa os dados de imposto.
          required:
            - exempt
          properties:
              exempt:
                  type: boolean
                  description: "Isento de Imposto. Condicional, caso a opção '1. Sim' seja selecionada no campo 'Isento de Imposto'"
              type:
                  type: string
                  example: ICMS
                  enum: [ICMS,
                      IPI,
                      AMBOS]
                  description: "qual imposto isento(s)"
              exemptionPercentage:
                  type: string
                  maxLength: 10
                  description: "Percentual da isenção. Condicional, caso a opção '1. Sim' seja selecionada no campo 'Isento de Imposto'"
        doorsNumber:
            type: string
            maxLength: 10
            description: "Quantidade de portas"
            example: "2"
        color:   
            type: string
            maxLength: 100
            description: "Cor"
            example: "PRATA"
        licensePlate:
            type: string
            maxLength: 8
            description: "Placa"
            example: "ABC-0123"
        vehicleUse:
            type: array 
            items: 
                type: string
                example: LAZER
                enum: [LAZER,
                        LOCOMOCAO_DIARIA,
                        EXERCICIO_DO_TRABALHO]
                description: " Código de utilização do veículo (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
        commercialActivityType:
          description: " Tipo de atividade comercial. Condicional, caso a opção '3. Exercício do trabalho' seja selecionada no campo 'Código de utilização do veículo'"
          type: array
          items:
              type: string
              example: TAXI_PARTICULAR
              enum: [COMERCIAL_ATIVIDADE_PROFISSIONAL_PARA_REPRESENTACAO_COMERCIAL_VENDEDORES_PROMOTORES_E_PRESTADORES_DE_SERVICOS,
                    TAXI_PARTICULAR,
                    MOTORISTA_DE_APLICATIVO_APLICATIVO_DE_TRANSPORTE,
                    MOTO_TAXI,
                    LOTACAO,
                    TRANSPORTE_ESCOLAR,
                    LOCADORA_CONTRATO,
                    LOCADORA_AVULSO,
                    TRANSPORTE_DE_MERCADORIA,
                    PRESTA_SERVICO_PARA_TRANSPORTADORA,
                    TRANSPORTE_DE_PESSOAS_URBANO,
                    TRANSPORTE_DE_PESSOAS_FRETAMENTO_EMPRESARIAL_CONTINUO,
                    TRANSPORTE_DE_PESSOAS_FRETAMENTO_MISTO_FRETE_PESSOAS,
                    TRANSPORTE_DE_PESSOAS_FRETAMENTO_TURISTICO,
                    VEICULOS_OFICIAIS_ORGAO_PUBLICO,
                    AMBULANCIA,
                    BOMBEIROS,
                    COLETORES_DE_LIXO,
                    VIGILANCIA,
                    POLICIAMENTO,
                    COMPETICAO_EVENTOS,
                    AUTO_ESCOLAS,
                    TEST_DRIVE,
                    DIFERENCIADOS_EX_TRAILER_MOTORHOME_HOSPITAIS_VOLANTE_VEICULOS_COM_PLATAFORMA_PARA_REPAROS_DE_ENERGIA_ELETRICA_ETC,
                    OUTROS]
        riskManagementSystem:
            type: array
            items:
                type: string
                example: NAO
                enum: [NAO,
                      CADASTRO_DE_MOTORISTAS,
                      ESCOLTA_DE_CARGAS,
                      OUTROS,
                      NAO_INFORMADO]
                description: "Utiliza algum sistema de gerenciamento de risco?. Condicional, caso a opção '10. Transporte de Mercadoria' ou '11. Presta Serviço para Transportadora' seja selecionada no campo 'Tipo de Atividade Comercial'"
        isTransportedCargoInsurance:
          description: "Possui seguro da carga transportada? Condicional, caso a opção '10. Transporte de Mercadoria' ou '11. Presta Serviço para Transportadora' seja selecionada no campo 'Tipo de Atividade Comercial'"
          type: boolean
        loadsCarriedinsured:
            type: array
            items:
                type: string
                example: AUTO_PECAS
                enum: [AUTO_PECAS,
                    AUTOMOVEIS,
                    BEBIDAS,
                    BRINQUEDOS,
                    CALCADOS,
                    CARGA_MISTA,
                    CARGA_VIVA,
                    CIGARROS,
                    COMBUSTIVEIS_OU_INFLAMAVEIS,
                    CONFECCOES,
                    ELETRODOMESTICOS,
                    GASES,
                    GENERO_ALIMENTICIO,
                    HORTIFRUTI_GRANJEIROS,
                    LATICIOS,
                    LIXO,
                    MADEIRA,
                    MATERIAL_DE_CONSTRUCAO,
                    MEDICAMENTOS,
                    MOVEIS,
                    MUDANCAS,
                    PAPEIS,
                    PLASTICOS,
                    PNEU_OU_CAMERA_DE_AR,
                    PRODUTO_PERICIVEL,
                    PRODUTO_QUIMICO,
                    SUCO,
                    TECIDO,
                    VALORES,
                    VIDROS,
                    OUTRAS,
                    NAO_INFORMADO]
                description: "Quais as cargas transportadas pelo veículo segurado? Condicional, caso a opção '10. Transporte de Mercadoria' ou '11. Presta Serviço para Transportadora' seja selecionada no campo 'Tipo de Atividade Comercial'"
        isEquipmentsAttached:
             type: boolean
             description: "Utiliza algum sistema de gerenciamento de risco?"
        equipmentsAttached:
             type: object
             description: Objeto que agrupa os dados de equipamentos ou acessórios acoplados.
             properties:
                isDesireCoverage:
                    type: boolean
                    description: "Deseja cobertura destes equipamentos ou acessórios? Condicional, caso a opção '1. Sim' seja selecionada no campo 'Possui equipamentos ou acessórios acoplados, fixados ou instalados a veículos?'"
                equipmentsAttachedAmount:
                    description: "Valor dos equipamentos/acessórios - Condicional, caso a opção '1. Sim' seja selecionada no campo 'Deseja cobertura destes equipamentos ou acessórios?'"
                    allOf:
                        - $ref: '#/components/schemas/AmountDetails'
        chassis:
            type: string
            maxLength: 17
            description: "Chassi"
        isAuctionChassisRescheduled:
            type: boolean
            description: "Leilão ou Chassi remarcado"
        isBrandNew:
            type: boolean
            description: "Zero km?" 
        departureDateFromCarDealership:
            type: string
            maxLength: 10
            format: date
            description: "Data de saída da concessionária - Zero km? Condicional e opcional, caso a opção '1. Sim' seja selecionada no campo 'Zero km?'"
            pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
            example: '2022-10-27'
        vehicleInvoice:
            type: object
            description: Objeto que agrupa os dados de Nota Fiscal.
            properties:
                vehicleAmount:
                    description: "Valor de NF do veículo - Condicional e opcional, caso a opção '1. Sim' seja selecionada no campo 'Zero km?'"
                    allOf:
                        - $ref: '#/components/schemas/AmountDetails'
                vehicleNumber:
                    type: string
                    maxLength: 10
                    description: "Número da NF do veículo"
        fuel:
            type: string
            example: GASOLINA
            enum: [GASOLINA,
                FLEX,
                HIBRIDO,
                ELETRICO,
                DIESEL,
                GAS_GNV,
                ALCOOL_ETANOL,
                FLEX_E_GNV]
            description: "Combustível"
        isGasKit:
            type: boolean
            description: "Possui Kit-gás?"
        gasKit:
            type: object
            description: Objeto que agrupa os dados de Kit-gás.
            required:
                - isDesireCoverage
            properties:
                isDesireCoverage:
                    type: boolean
                    description: "Deseja cobertura do Kit-gás? Condicional, caso a opção '1. Sim' seja selecionada no campo 'Veículo blindado?'"       
                gasKitAmount:
                    description: "Valor do Kit-gás - Condicional, caso a opção '1. Sim' seja selecionada no campo 'Deseja cobertura do Kit-gás?'"
                    allOf:
                        - $ref: '#/components/schemas/AmountDetails' 
        isArmouredVehicle:
            type: boolean
            description: "Veículo blindado?"
        armouredVehicle:
            type: object
            description: Objeto que agrupa os dados de blindagem.
            properties:
                isDesireCoverage:
                    type: boolean
                    description: "Deseja cobertura da blindagem?"       
                armouredVehicleAmount:
                    description: "Valor da blindagem"
                    allOf:
                        - $ref: '#/components/schemas/AmountDetails'   
        isActiveTrackingDevice:
            type: boolean
            description: "Possui dispositivo rastreador próprio e ativo (adquirido e pago pelo cliente)?"    
        frequentTrafficArea:
            type: string
            example: REGIAO_NORDESTE
            enum: [MUNICIPIO_E_ARREDORES_ATE_KM,    
                DENTRO_DO_PROPRIO_ESTADO_DA_SEDE,
                REGIAO_NORTE,
                REGIAO_NORDESTE,
                REGIAO_CENTRO_OESTE,
                REGIAO_SUL,
                REGIAO_SUDESTE,
                MERCOSUL,
                AMERICA_DO_SUL,
                NAO_INFORMADO]
            description: "Qual a área de circulação mais frenquente?"
        overnightPostCode:
            type: string
            maxLength: 10
            description: "CEP da localidade de pernoite do veículo (Casco, RCF-A, APP, Assistência e Outras Coberturas)"
        riskLocationInfo:
          $ref: '#/components/schemas/QuoteAutoRiskLocation'
        beneficiaries:
          type: array
          description: Lista de dados de beneficiários.
          items:
            $ref: '#/components/schemas/QuoteAutoBeneficiary'
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/QuoteAutoResultInsuredObjectCoverage'
        isExtendCoverageAgedBetween18And25:
            type: boolean
            description: "Deseja estender a cobertura contratada para condutores na faixa etária dos 18 aos 25 anos?"    
        driverBetween18and25YearsOldGender:
            type: string
            description: "Condicional, caso seja selecionado '1. Sim' no campo 'Deseja estender a cobertura contratada para condutores na faixa etária dos 18 aos 25 anos?'sexo dos condutores na faixa etária dos 18 aos 25 anos"
            example: MASCULINO
            enum: [MASCULINO,
                    FEMININO,
                    MASCULINO_E_FEMININO,
                    PREFIRO_NAO_DECLARAR]
        wasThereAClaim:  
          description: "Houve sinistro no local nos últimos 12 meses?"
          type: boolean
        claimNotifications:
          description: Lista de sinistros e valores
          type: array
          items:
            $ref: '#/components/schemas/ClaimNotification'
        tariff:
          description: "Campo Categoria tarifária"
          type: string
          example: PASSEIO_NACIONAL
          enum: [PASSEIO_NACIONAL,
                PASSEIO_IMPORTADO,
                PICK_UP_NACIONAL_E_IMPORTADO,
                VEICULO_DE_CARGA_NACIONAL_E_IMPORTADO,
                MOTOCICLETA_NACIONAL_E_IMPORTADO,     
                ONIBUS_NACIONAL_E_IMPORTADO,
                UTILITARIO_NACIONAL_E_IMPORTADO]
        licensePlateType:
            description: "Tipo de placa"
            type: array
            items:
              type: string
              example: INCENDIO
              enum: [INCENDIO,
                    COLISAO,
                    ROUBO,
                    FURTO,
                    ALAGAMENTO_ENCHENTE,
                    INUNDACOES]
    QuoteAutoResultInsuredObjectCoverage:
      type: object
      required:
        - branch
        - code
        - LMI
        - daysForTotalCompensation
      properties:
        LMI:
          allOf:
              - $ref: '#/components/schemas/AmountDetails'
          description: "Limite máximo de indenização (LMI)"  
        branch:
          type: string
          maxLength: 4
          example: "0111"
          description: Grupo e Ramo da Cobertura (Conforme regulamentação Susep vigente)
        code:
            type: string
            description: Código da cobertura, conforme Anexo II do Manual de Escopo de Dados
            example: CASCO_COMPREENSIVA
            enum: [
              CASCO_COMPREENSIVA,
              CASCO_INCENDIO_ROUBO_E_FURTO,
              CASCO_ROUBO_E_FURTO,
              CASCO_INCENDIO,
              CASCO_ALAGAMENTO,
              CASCO_COLISAO_INDENIZACAO_PARCIAL,
              CASCO_COLISAO_INDENIZACAO_INTEGRAL,
              RESPONSABILIDADE_CIVIL_FACULTATIVA_DE_VEICULOS_RCFV,
              RESPONSABILIDADE_CIVIL_FACULTATIVA_DO_CONDUTOR_RCFC,
              ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_VEICULO,
              ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_CONDUTOR,
              VIDROS,
              DIARIA_POR_INDISPONIBILIDADE,
              LFR_LANTERNAS_FAROIS_E_RETROVISORES,
              ACESSORIOS_E_EQUIPAMENTOS,
              CARRO_RESERVA,
              PEQUENOS_REPAROS,
              RESPONSABILIDADE_CIVIL_CARTA_VERDE,
              RESPONSABILIDADE_CIVIL_VEICULOS_DE_PASSEIO_ACORDOS_FORA_DO_MERCOSUL,
              OUTRAS
            ]
        description:
          type: string
          maxLength: 500
          description: "Descrição / Nome da Cobertura (Obrigatório quando o campo 'Codigo' for preenchido com 'Outras')"
        internalCode:
          description: "Código interno da cobertura da seguradora"
          type: string
          maxLength: 500
        isMainCoverage:
          type: boolean
          description: "Indicador de Cobertura Principal"
        compensationType:
          type: string
          example: INTEGRAL
          enum: [
                INTEGRAL,
                PARCIAL,
                OUTROS]
        partialCompensationPercentage:
          type: string
          maxLength: 100
          description: "Percentual por indenização parcial(caso aplicável)"    
          example: "5%"
        daysForTotalCompensation:  
          type: string
          maxLength: 16
          description: "Número de dias de cobertura para direito à indenização pelo valor de novo (Casco)"
   
    
    PolicyDataAuto:
      type: array
      description: Lista que agrupa os dados das apólices históricos em categorias.                                                                                     
      items:
        type: object
        properties:
          policyInfo:
            $ref: '#/components/schemas/InsuranceAutoPolicyInfo'
          premium:
            $ref: '#/components/schemas/InsuranceAutoPremium'
          claim:
            $ref: '#/components/schemas/InsuranceAutoClaim'
        
    #### PolicyDataAuto
    
    InsuranceAutoPolicyInfo:    
      type: object
      required:
        - documentType 
        - policyId
        - issuanceType
        - issuanceDate
        - termStartDate
        - termEndDate
        - maxLMG
        - proposalId
        - insureds
        - insuredObjects
        - repairNetwork
        - repairedPartsUsageType
        - repairedPartsClassification
        - repairedPartsNationality
        - validityType
      properties:
        documentType:
          description: Tipo de Documento Emitido
          type: string
          enum: [APOLICE_INDIVIDUAL,
                BILHETE,
                CERTIFICADO,
                APOLICE_INDIVIDUAL_AUTOMOVEL,
                APOLICE_FROTA_AUTOMOVEL,
                CERTIFICADO_AUTOMOVEL]
          example: APOLICE_INDIVIDUAL
        policyId:
          description: Identificador da apólice ou bilhete
          type: string
          maxLength: 60
          example: "111111"
        susepProcessNumber: 
          description: Número SUSEP da apólice, conforme regulamentação vigente (Obrigatório caso apólice com coberturas do ramo Garantia)
          type: string
          maxLength: 60
        groupCertificateId: 
          description: "Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)"
          type: string
          maxLength: 60
        issuanceType: 
          description: "Tipo de Emissão"
          type: string
          enum: [EMISSAO_PROPRIA,
                COSSEGURO_ACEITO]
          example: EMISSAO_PROPRIA
        issuanceDate:
          description: Data de emissão do documento
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        termStartDate: 
          description: Data de início de vigência do documento
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        termEndDate:
          description: Data de fim de vigência do documento
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        leadInsurerCode:
          description: "Código da seguradora líder para contratos com arranjo de cosseguro"
          type: string
          maxLength: 1024
        leadInsurerPolicyId:
          description: "Identificador da apólice seguradora líder para apólice de cosseguro aceito"
          type: string
          maxLength: 1024
        maxLMG:
          description: Valor Limite máximo de garantia (LMG)
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        proposalId:
          description: Identificador da Proposta
          type: string
          maxLength: 60
        insureds:
          type: array
          description: Lista que agrupa os dados dos segurados.                                                                                                                                                                                            
          items:
            $ref: '#/components/schemas/PersonalInfo'  
        beneficiaries: 
          type: array
          description: Lista que agrupa os dados dos beneficiários.                                                                                    
          items:
            $ref: '#/components/schemas/BeneficiaryInfo'
        principals:
          type: array
          description: Lista que agrupa os dados dos tomadores/garantidos.                                                                                                                                                                    
          items:
            $ref: '#/components/schemas/Principals'
        intermediaries:
          type: array
          description: Lista que agrupa os dados de intermediários.                                                                                                                                                        
          items:
            $ref: '#/components/schemas/Intermediary'
        insuredObjects:
          type: array
          description: Lista que agrupa os dados de objetos segurados.  
          items:
            $ref: '#/components/schemas/InsuranceAutoInsuredObject'
        coverages:    
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/InsuranceAutoCoverage'
        coinsuranceRetainedPercentage:
          description: "Percentual Retido em Cosseguro (Quando há cosseguro)"
          type: string
          pattern: '^100\.0{1,9}$|^\d{1,2}\.\d{1,9}$'
          example: '10.00'
        coinsurers:
          type: array
          description: Lista que agrupa os dados dos cosseguros. 
          items:
            $ref: '#/components/schemas/Coinsurer'
        repairNetwork:
          description: Rede de reparação dos veículos
          type: string
          enum: [
            LIVRE_ESCOLHA,
            REDE_REFERENCIADA,
            AMBAS,
            OUTROS
          ]
          example: REDE_REFERENCIADA
        repairNetworkOthers:
          description: Campo de detalhamento para quando a opcao de rede de reparacao dos veiculos for OUTROS
          type: string
          maxLength: 100
        repairedPartsUsageType:
          description: Tipos de peças passíveis de uso em reparos (Casco)
          type: string
          enum: [
            NOVA,
            USADA,
            NOVA_E_USADA
          ]
          example: NOVA_E_USADA
        repairedPartsClassification:
          description: Classificação das peças passíveis de uso em reparos (Casco)
          type: string
          enum: [
            ORIGINAL,
            COMPATIVEL,
            ORIGINAL_E_COMPATIVEL
          ]
          example: ORIGINAL_E_COMPATIVEL
        repairedPartsNationality:
          description: Nacionalidade das peças passíveis de uso em reparos (Casco)
          type: string
          enum: [
            NACIONAL,
            IMPORTADA,
            NACIONAL_E_IMPORTADA
          ]
          example: NACIONAL_E_IMPORTADA
        validityType:
          description: Tipo de vigência (Casco, RCF-A, APP, Assistência e Outras Coberturas)
          type: string
          enum: [
            ANUAL,
            ANUAL_INTERMITENTE,     
            PLURIANUAL,
            PLURIANUAL_INTERMITENTE,
            SEMESTRAL,
            SEMESTRAL_INTERMITENTE, 
            MENSAL,
            MENSAL_INTERMITENTE,
            DIARIO,
            DIARIO_INTERMITENTE,
            OUTROS
          ]
          example: SEMESTRAL_INTERMITENTE
        validityTypeOthers:
          description: Campo de detalhamento para quando a opcao do tipo de vigencia for OUTROS
          type: string
          maxLength: 100
        otherCompensations:
          description: Outras formas de recompensa (Caso aplicável)
          type: string
          maxLength: 500
        otherBenefits:
          description: Benefícios Adicionais (Caso aplicável)
          type: string
          enum: [
            SORTEIO_GRATUITO,
            CLUBE_DE_BENEFICIOS,
            CASH_BACK,
            DESCONTOS,
            CUSTOMIZAVEL
          ]
          example: DESCONTOS
        assistancePackages:
          description: Pacotes de Assistência (Caso aplicável)
          type: string
          enum: [
            ATE_10_SERVICOS,
            ATE_20_SERVICOS,
            ACIMA_DE_20_SERVICOS,
            CUSTOMIZAVEL
          ]
          example: ATE_10_SERVICOS
        isExpiredRiskPolicy:
          description: Apólice de Risco Decorrido (Caso aplicável)
          type: boolean
        bonusDiscountRate:
          description: Percentual de desconto por bônus (Casco, RCF-A, APP, Assistência; caso aplicável)
          type: string
          pattern: '^100\.0{1,9}$|^\d{1,2}\.\d{1,9}$' 
        bonusClass:
          description: Classe de bônus (Casco, RCF-A, APP, Assistência e Outras Coberturas; caso aplicável)
          type: string
          maxLength: 500
        drivers:
          type: array
          items:
            $ref: '#/components/schemas/Driver'  
    InsuranceAutoPremium:
      type: object
      description: Objeto que agrupa dados de prêmio.
      required:
        - amount
        - paymentsQuantity
        - coverages
        - payments
      properties:
        paymentsQuantity:
          description: Quantidade de parcelas do prêmio do contrato
          type: string
          maxLength: 3
          example: '4'
        amount:
          description: Valor total do premio do contrato
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/InsuranceAutoPremiumCoverage'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
    InsuranceAutoClaim:
      type: object
      required:
        - identification
        - status
        - statusAlterationDate
        - occurrenceDate
        - warningDate
        - amount
        - coverages
      properties:
        identification:
          description: Identificador do processo de sinistro
          type: string
          maxLength: 50
        documentationDeliveryDate:
          description: Data de entrega da documentação completa
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        status:
          description: Status do sinistro     
          type: string
          example: ABERTO
          enum: [ABERTO,
                ENCERRADO_COM_INDENIZACAO,
                ENCERRADO_SEM_INDENIZACAO,
                REABERTO,
                CANCELADO_POR_ERRO_OPERACIONAL,
                AVALIACAO_INICIAL]
        statusAlterationDate:
          description: Data de alteração do status do sinistro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        occurrenceDate:
          description: Data de ocorrência do sinistro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        warningDate:
          description: Data de aviso do sinistro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        thirdPartyClaimDate:
          description: Data de reclamação do terceiro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        amount:
          $ref: '#/components/schemas/AmountDetails'
        denialJustification:
          description: "Justificativa da Negativa(Caso Status do Sinistro for 'ENCERRADO_SEM_INDENIZACAO')"
          type: string
          example: RISCO_EXCLUIDO
          enum: [RISCO_EXCLUIDO,
            RISCO_AGRAVADO,
            SEM_DOCUMENTACAO,
            DOCUMENTACAO_INCOMPLETA,
            PRESCRICAO,
            FORA_COBERTURA,
            OUTROS]
        denialJustificationDescription:
          description: "Descrição da Justificativa da Negativa(Caso Justificativa da Negativa for 'OUTROS')"
          type: string
          maxLength: 100  
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/InsuranceAutoClaimCoverage'
        branchInfo:
          $ref: '#/components/schemas/InsuranceAutoSpecificClaim'
    
    ####
        
    QuoteDataAuto:
      type: object
      description: Objeto que agrupa dados específicos do ramo de cotação.
      required:
        - termStartDate
        - termType
        - insuranceType
        - termEndDate
        - currency
        - includesAssistanceServices
        - coverages
      properties:
        isCollectiveStipulated:
          description: "Apólice coletiva, por estipulação ou automóvel frota?"
          type: boolean
        hasAnIndividualItem:
          description: "Trata-se uma apólice individual com apenas um item?"
          type: boolean
        termStartDate: 
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-10-27'
          description: "Vigência das 24 horas do dia "
        termEndDate:  
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-10-27'
          description: "Até as 24 horas do dia"
        termType:
          type: string
          example: ANUAL
          enum: [ANUAL,
                ANUAL_INTERMITENTE,     
                PLURIANUAL,
                PLURIANUAL_INTERMITENTE,
                SEMESTRAL,
                SEMESTRAL_INTERMITENTE, 
                MENSAL,
                MENSAL_INTERMITENTE,
                DIARIO,
                DIARIO_INTERMITENTE,
                OUTROS]
          description: "Tipo de vigência"
        insuranceType: 
          type: string
          description: "Tipo de Seguro"
          example: NOVO
          enum: [NOVO,    
                RENOVACAO]
        policyId:
          description: "Número para identificar a apólice atual"
          type: string
          maxLength: 100
          example: "111111"
        insurerId:
          description: "Nome para identifcar a congênere de renovação"
          type: string
          maxLength: 100
        identifierCode:
          description: "Código Identificador. Condicional, caso a opção '2. Renovação' seja selecionada no campo 'tipo de Seguro'"
          type: string
          example: "123"
          maxLength: 3
        bonusClass:
          description: "Classe de Bônus. Condicional, caso a opção '2. Renovação' seja selecionada no campo 'tipo de Seguro'"
          type: string
          example: "123"
          maxLength: 3
        currency:
          description: "Moeda de emissão do contrato de acordo com ISO-4217."
          type: string
          example: BRL
          enum: [AFN,AFA,ALL,ALK,DZD,USD,EUR,ADP,ESP,FRF,AOA,AOK,AON,AOR,XCD,ARS,ARA,ARP,ARY,AMD,RUR,AWG,AUD,ATS,AZN,AYM,AZM,BSD,BHD,BDT,BBD,BYN,BYB,BYR,BEC,BEF,BEL,BZD,XOF,BMD,INR,BTN,BOP,BOB,BOV,BAM,BAD,BWP,NOK,BRL,BRB,BRC,BRE,BRN,BRR,BND,BGN,BGJ,BGK,BGL,BUK,BIF,CVE,KHR,XAF,CAD,KYD,CLP,CLF,CNY,COP,COU,KMF,CDF,NZD,CRC,HRK,HRD,CUP,CUC,ANG,CYP,CZK,CSJ,CSK,DKK,DJF,DOP,ECS,ECV,EGP,SVC,GQE,ERN,EEK,SZL,ETB,XEU,FKP,FJD,FIM,XPF,GMD,GEL,GEK,DDM,DEM,GHS,GHC,GHP,GIP,GRD,GTQ,GBP,GNF,GNE,GNS,GWE,GWP,GYD,HTG,ITL,HNL,HKD,HUF,ISK,ISJ,IDR,XDR,IRR,IQD,IEP,ILS,ILP,ILR,JMD,JPY,JOD,KZT,KES,KPW,KRW,KWD,KGS,LAJ,LAK,LVL,LVR,LBP,LSL,ZAR,LSM,ZAL,LRD,LYD,CHF,LTL,LTT,LUC,LUF,LUL,MOP,MGA,MGF,MWK,MYR,MVR,MVQ,MLF,MTL,MTP,MRU,MRO,MUR,XUA,MXN,MXV,MXP,MDL,MNT,MAD,MZN,MZE,MZM,MMK,NAD,NPR,NLG,NIO,NIC,NGN,MKD,OMR,PKR,PAB,PGK,PYG,PEN,PEH,PEI,PES,PHP,PLN,PLZ,PTE,QAR,RON,ROK,ROL,RUB,RWF,SHP,WST,STN,STD,SAR,RSD,CSD,SCR,SLL,SGD,XSU,SKK,SIT,SBD,SOS,SSP,SDG,RHD,ESA,ESB,LKR,SDD,SDP,SRD,SRG,SEK,CHE,CHW,CHC,SYP,TWD,TJS,TJR,TZS,THB,TPE,TOP,TTD,TND,TRY,TRL,TMT,TMM,UGX,UGS,UGW,UAH,UAK,SUR,AED,USS,USN,UYU,UYI,UYW,UYN,UYP,UZS,VUV,VEB,VEF,VES,VND,VNC,YER,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZMW,ZMK,ZWL,ZWC,ZWD,ZWN,ZWR,XBA,XFO,XBB,XRE,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG]
        includesAssistanceServices:
          description: "Deseja contratação de serviços de assistência"
          type: boolean
        insuredObject:
          $ref: '#/components/schemas/QuoteAutoInsuredObject'     
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/QuoteAutoCoverage'       
                          
    QuoteResultAssistance:
      type: object
      required:
        - type
        - service
        - description
      properties:
        type:
          description: Tipo de prestação de serviços
          type: string
          example: ASSISTENCIA_AUTO
          enum: [
            ASSISTENCIA_AUTO,   
            ASSISTENCIA_RE,     
            ASSISTENCIA_VIDA,   
            BENEFICIOS,
            DESPACHANTE,        
            LOCACAO_DE_VEICULOS,
            REPAROS_AUTOMOTIVOS,
            REPAROS_EMERGENCIAIS,
            SERVICO_DE_MANUTENCAO,
            SERVICO_EM_CASO_DE_SINISTRO,
            TRANSPORTE_DO_EMERGENCIAL,
            OUTROS
          ]
        service:
          description: Nome do serviço prestado
          type: string
          example: AMPARO_DE_CRIANCAS
          enum: [
            ACIONAMENTO_E_OU_AGENDAMENTO_DE_LEVA_E_TRAZ,
            AMPARO_DE_CRIANCAS,
            APLICACAO_DE_VACINAS_EM_DOMICILIO,
            AQUECEDORES,
            ASSISTENCIA_A_ELETRODOMESTICOS,
            ASSISTENCIA_AUTO_E_OU_MOTO,
            ASSISTENCIA_BIKE,
            ASSISTENCIA_EM_VIAGEM,
            ASSISTENCIA_ESCOLAR,
            ASSISTENCIA_FUNERAL,
            ASSISTENCIA_FUNERAL_PET,
            ASSISTENCIA_INFORMATICA,
            ASSISTENCIA_NUTRICIONAL,
            ASSISTENCIA_PET,
            ASSISTENCIA_RESIDENCIAL,
            ASSISTENCIA_SUSTENTAVEL,
            ASSISTENCIA_VETERINARIA_EMERGENCIAL,
            ASSISTENCIAS_SAUDE_E_BEM_ESTAR,
            BABY_SITTER,
            CACAMBA,
            CARRO_RESERVA,
            CESTA_BASICA,
            CESTA_DE_ALIMENTOS,
            CESTA_NATALIDADE,
            CHAVEIRO,
            CHECK_UP,
            COBERTURA_PROVISORIA_DE_TELHADO,
            CONCIERGE,
            CONSERTO_DE_AR_CONDICIONADO,
            CONSERTO_DE_ELETRODOMESTICOS_LINHA_BRANCA,
            CONSERTO_DE_ELETROELETRONICO_LINHA_MARROM,
            CONSERTO_DE_PORTA_ONDULADA,
            CONSULTAS_VETERINARIAS,
            CONSULTORIA_ORCAMENTARIA,
            CONVENIENCIA_EM_VIAGEM,
            DEDETIZACAO,
            DESATOLAMENTO,
            DESCARTE_RESPONSAVEL,
            DESCONTOS_EM_CONSULTAS_E_EXAMES,
            DESCONTOS_EM_MEDICAMENTOS,
            DESENTUPIMENTO,
            DESINSETIZACAO_E_DESRATIZACAO,
            DESPACHANTE,
            DESPESAS_FARMACEUTICAS,
            DESPESAS_MEDICAS_CIRURGICAS_E_DE_HOSPITALIZACAO,
            DESPESAS_ODONTOLOGICAS,
            ELETRICISTA,
            EMERGENCIAS,
            ENCANADOR,
            ENVIO_DE_ACOMPANHANTE_EM_CASO_DE_ACIDENTE,
            ENVIO_DE_FAMILIAR_PARA_ACOMPANHAMENTO_DE_MENORES_DE_CATORZE_ANOS,
            ENVIO_DE_RACAO,
            ESCRITORIO_VIRTUAL,
            GUARDA_DE_ANIMAIS,
            GUARDA_DO_VEICULO,
            GUINCHO,
            HELP_DESK,
            HIDRAULICA,
            HOSPEDAGEM,
            HOSPEDAGEM_DE_ANIMAIS,
            INDICACAO_DE_BANHO_E_TOSA,
            INDICACAO_DE_PROFISSIONAIS,
            INFORMACAO_SOBRE_RACAS_DE_CAES,
            INFORMACAO_SOBRE_VENDA_DE_FILHOTES,
            INFORMACOES_SOBRE_VACINAS,
            INFORMACOES_VETERINARIAS_UTEIS,
            INSTALACAO_RESIDENCIA,
            INSTALACAO_DE_CHUVEIRO_ELETRICO_E_OU_TROCA_DE_RESISTENCIA,
            INSTALACAO_DE_SUPORTE_TV_ATE_SETENTA,
            LIMPEZA,
            LIMPEZA_DE_AR_CONDICIONADO,
            LIMPEZA_DE_CAIXA_D_AGUA,
            LIMPEZA_DE_CALHAS,
            LIMPEZA_DE_RALOS_E_SIFOES,
            LOCACAO_DE_ELETRODOMESTICOS,
            LOCACAO_DE_VEICULOS,
            LOCALIZACAO_DE_BAGAGEM,
            MANUTENCAO,
            MARTELINHO_E_REPARO_RAPIDO,
            MECANICO,
            MEIO_DE_TRANSPORTE,
            MONITORACAO_MEDICA,
            MOTO,
            MOTORISTA_AMIGO,
            MOTORISTA_SUBSTITUTO,
            MTA_MEIO_DE_TRANSPORTE_ALTERNATIVO,
            MUDANCA_E_GUARDA_DE_MOVEIS,
            ORGANIZACAO,
            ORIENTACAO_EM_CASO_DE_PERDA_DE_DOCUMENTOS,
            ORIENTACAO_MEDICA,
            ORIENTACAO_PSICOLOGICA,
            PERSONAL_FITNESS,
            REBOQUE,
            REBOQUE_BIKE,
            RECUPERACAO_DO_VEICULO,
            REGRESSO_ANTECIPADO_EM_CASO_DE_FALECIMENTO_DE_PARENTES,
            REGRESSO_DO_USUARIO_APOS_ALTA_HOSPITALAR,
            REINSTALACAO_E_REPARO_DO_VENTILADOR_DE_TETO,
            REMANEJAMENTO_DE_MOVEIS,
            REMOCAO_HOSPITALAR,
            REMOCAO_MEDICA,
            REMOCAO_MEDICA_INTER_HOSPITALAR,
            REPARACAO_AUTOMOTIVA,
            REPARO_DE_TELEFONIA,
            REPARO_EM_PORTOES_AUTOMATICOS,
            REPARO_FIXACAO_DE_ANTENAS,
            REPAROS_ELETRICOS,
            RETORNO_ANTECIPADO_AO_DOMICILIO,
            REVERSAO_DE_FOGAO,
            REVISAO_DE_INSTALACAO_ELETRICA,
            SEGUNDA_OPINIAO_MEDICA_INTERNACIONAL,
            SEGURANCA,
            SERRALHEIRO,
            SERVICO_DE_INDICACAO_MEDICA,
            SERVICO_DE_LIMPEZA,
            SERVICOS_AUTO,
            SERVICOS_ESPECIAIS_FIXACAO_DE_OBJETOS,
            SERVICOS_GERAIS,
            SUBSTITUICAO_DE_PNEUS,
            SUBSTITUICAO_DE_TELHAS,
            TAXI,
            TELEMEDICINA,
            TRANSMISSAO_DE_MENSAGENS_URGENTES,
            TRANSPORTE_E_ENVIO_DE_FAMILIAR,
            TRANSPORTE_E_GUARDA_MOVEIS,
            TRANSPORTE_ESCOLAR_PESSOAS,
            TRANSPORTE_VETERINARIO_EMERGENCIAL,
            TRASLADO_DE_CORPO,
            TROCA_DE_BATERIA,
            TROCA_DE_PNEUS,
            VERIFICACAO_DE_POSSIVEIS_VAZAMENTOS,
            VIDROS_E_ACESSORIOS,
            VIGILANCIA_E_SEGURANCA,
            OUTROS
          ]
        description:
          description: Descrição do serviço prestado
          type: string
          maxLength: 5000
        assistancePremiumAmount:
          description: Valor de Prêmio da Assistência
          allOf:
            - $ref: '#/components/schemas/AmountDetails'  
    QuoteAutoResultDeductible:
      type: object
      required:
        - type
      properties:
        type:
          description: Tipo de Franquia
          type: string
          example: REDUZIDA
          enum: [
            REDUZIDA,
            NORMAL,
            MAJORADA,
            DEDUTIVEL,
            OUTROS
          ]
        typeAdditionalInfo:
          description: Descriçao do Tipo de Franquia (Caso Tipo de Franquia for "OUTROS")
          type: string
          maxLength: 500
        deductibleAmount:
          description: Valor da Franquia
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        period:
          description: Prazo da Franquia
          type: integer
          maxLength: 5
          example: 10
        periodicity:
          description: Periodicidade da Franquia
          type: string
          example: DIA
          enum: [
            DIA,
            MES,
            ANO
          ]
        periodCountingMethod:
          description: Indicador de Dias Úteis ou Corridos (Caso aplicável)
          type: string
          example: DIAS_UTEIS
          enum: [
            DIAS_UTEIS,
            DIAS_CORRIDOS
          ]
        periodStartDate:
          description: Data de Início da Franquia
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-05-16'
        periodEndDate:
          description: Data de Fim da Franquia
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-05-17'
        description:
          description: Descrição da Franquia
          type: string
          maxLength: 60
          example: Franquia de exemplo
    POS:
      type: object
      required:
        - applicationType
        - description
      properties:
        applicationType:
          description: Forma de Aplicação do POS
          type: string
          example: VALOR
          enum: [
            VALOR,
            PERCENTUAL,
            OUTROS
          ]
        description:
          description: Descrição do POS
          type: string
          maxLength: 60
          example: "Descrição de exemplo"
        minValue:
          description: Valor Mínimo do POS
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        maxValue:
          description: Valor Máximo do POS
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        percentage:
          description: Valor Percentual do POS
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        valueOthers: 
          description: Valor do POS
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
    QuoteResultPremium:
      type: object
      description: Objeto que agrupa dados de prêmio.
      required:
        - totalPremiumAmount
        - totalNetAmount
        - IOF
        - paymentsQuantity
        - coverages
        - payments
      properties:
        paymentsQuantity:
          description: Quantidade de parcelas do prêmio do contrato
          type: string
          maxLength: 3
          example: '4'
        totalPremiumAmount:
          description: Valor total do prêmio do contrato
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        totalNetAmount:
          description: Valor de prêmio líquido total
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        IOF:
          description: Valor do IOF
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        interestRateOverPayments:
          description: Taxa de juros sobre o parcelamento do prêmio
          type: number
          pattern: '^\d{1,3}\.\d{1,9}$'
          example: 10.00
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/QuoteResultPremiumCoverage'
        payments:
          type: array
          description: Lista que agrupa os dados de pagamentos.
          items:
            $ref: '#/components/schemas/QuoteResultPayment'
    QuoteResultPremiumCoverage:
      type: object
      required:
        - branch
        - code
        - premiumAmount
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: "0111"
        code:
            type: string
            description: Código da cobertura, conforme Anexo II do Manual de Escopo de Dados
            example: CASCO_COMPREENSIVA
            enum: [
              CASCO_COMPREENSIVA,
              CASCO_INCENDIO_ROUBO_E_FURTO,
              CASCO_ROUBO_E_FURTO,
              CASCO_INCENDIO,
              CASCO_ALAGAMENTO,
              CASCO_COLISAO_INDENIZACAO_PARCIAL,
              CASCO_COLISAO_INDENIZACAO_INTEGRAL,
              RESPONSABILIDADE_CIVIL_FACULTATIVA_DE_VEICULOS_RCFV,
              RESPONSABILIDADE_CIVIL_FACULTATIVA_DO_CONDUTOR_RCFC,
              ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_VEICULO,
              ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_CONDUTOR,
              VIDROS,
              DIARIA_POR_INDISPONIBILIDADE,
              LFR_LANTERNAS_FAROIS_E_RETROVISORES,
              ACESSORIOS_E_EQUIPAMENTOS,
              CARRO_RESERVA,
              PEQUENOS_REPAROS,
              RESPONSABILIDADE_CIVIL_CARTA_VERDE,
              RESPONSABILIDADE_CIVIL_VEICULOS_DE_PASSEIO_ACORDOS_FORA_DO_MERCOSUL,
              OUTRAS
            ]
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        internalCode:
          description: "Código interno da cobertura da seguradora"
          type: string
          maxLength: 500
        premiumAmount:
          description: Valor de Prêmio da Cobertura
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
    QuoteResultPayment:
      type: object
      required:
        - amount
        - paymentType
      properties:
        amount:
          description: Valor da parcela
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        paymentType:
          description: "Meio de Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          example: BOLETO
          enum: [BOLETO,
                TED,
                TEF,
                CARTAO,
                DOC,
                CHEQUE,
                DESCONTO_EM_FOLHA,  
                PIX,
                DINHEIRO_EM_ESPECIE,
                OUTROS]


    # Schemas fase2 -------------------------------------

    PersonalInfo:
      type: object
      required:
        - identification
        - identificationType
        - name
        - birthDate
        - postCode
        - city
        - state
        - country
        - address
      properties:
        identification:
          description: Documento de Identificação do segurado
          type: string
          maxLength: 11
          example: "12345678900"
        identificationType:
          description: Tipo de Documento do segurado
          type: string
          enum: [
            CPF,
            CNPJ,
            OUTROS
          ]
          example: CPF
        identificationTypeOthers:
          description: Campo de detalhamento para quando a opcao do tipo de documento do segurado for OUTROS
          type: string
          maxLength: 100
          example: RNE
        name:
          description: Nome ou Razão Social do segurado
          type: string
          maxLength: 60
          example: Nome Sobrenome
        birthDate:
          description: Data de nascimento do segurado
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '1990-06-12'
        postCode:
          description: Código Postal do segurado
          type: string
          maxLength: 60
          example: "10000000"
        email:
          description: E-mail do segurado (caso possua)
          type: string
          pattern: '^\S+@\S+\.\S+$'
          maxLength: 256
        city:
          description: Cidade do segurado (por extenso)
          type: string
          maxLength: 60
        state:
          description: Estado do segurado (por extenso)
          type: string 
          enum: ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO', 'XX']
          example: 'AC'
        country:
          description: País do segurado (de acordo com o código "alpha3" do ISO-3166)
          type: string
          enum: [AFG,ALA,ALB,DZA,ASM,AND,AGO,AIA,ATA,ATG,ARG,ARM,ABW,AUS,AUT,AZE,BHS,BHR,BGD,BRB,BLR,BEL,BLZ,BEN,BMU,BTN,BOL,BES,BIH,BWA,BVT,
                BRA,IOT,BRN,BGR,BFA,BDI,CPV,KHM,CMR,CAN,CYM,CAF,TCD,CHL,CHN,CXR,CCK,COL,COM,COG,COD,COK,CRI,CIV,HRV,CUB,CUW,CYP,CZE,DNK,DJI,DMA,
                DOM,ECU,EGY,SLV,GNQ,ERI,EST,SWZ,ETH,FLK,FRO,FJI,FIN,FRA,GUF,PYF,ATF,GAB,GMB,GEO,DEU,GHA,GIB,GRC,GRL,GRD,GLP,GUM,GTM,GGY,GIN,GNB,
                GUY,HTI,HMD,VAT,HND,HKG,HUN,ISL,IND,IDN,IRN,IRQ,IRL,IMN,ISR,ITA,JAM,JPN,JEY,JOR,KAZ,KEN,KIR,PRK,KOR,KWT,KGZ,LAO,LVA,LBN,LSO,LBR,
                LBY,LIE,LTU,LUX,MAC,MDG,MWI,MYS,MDV,MLI,MLT,MHL,MTQ,MRT,MUS,MYT,MEX,FSM,MDA,MCO,MNG,MNE,MSR,MAR,MOZ,MMR,NAM,NRU,NPL,NLD,NCL,NZL,
                NIC,NER,NGA,NIU,NFK,MKD,MNP,NOR,OMN,PAK,PLW,PSE,PAN,PNG,PRY,PER,PHL,PCN,POL,PRT,PRI,QAT,REU,ROU,RUS,RWA,BLM,SHN,KNA,LCA,MAF,SPM,
                VCT,WSM,SMR,STP,SAU,SEN,SRB,SYC,SLE,SGP,SXM,SVK,SVN,SLB,SOM,ZAF,SGS,SSD,ESP,LKA,SDN,SUR,SJM,SWE,CHE,SYR,TWN,TJK,TZA,THA,TLS,TGO,
                TKL,TON,TTO,TUN,TUR,TKM,TCA,TUV,UGA,UKR,ARE,GBR,USA,UMI,URY,UZB,VUT,VEN,VNM,VGB,VIR,WLF,ESH,YEM,ZMB,ZWE]
          example: BRA 
        address:
          description: Endereço do segurado (restante do endereço, excluindo cidade, estado e país)
          type: string
          maxLength: 60
    Principals: 
      type: object
      required:
        - identification
        - identificationType
        - name
        - postCode
        - city
        - state
        - country
        - address
      properties:
        identification:
          description: Documento de Identificação do Tomador/Garantidor
          type: string
          maxLength: 11
          example: "12345678900"
        identificationType:
          description: Tipo de Documento do Tomador/Garantidor
          type: string
          enum: [
            CPF,
            CNPJ,
            OUTROS
          ]
          example: CPF
        identificationTypeOthers:
          description: Campo de detalhamento para quando a opcao do tipo de documento do Tomador/Garantidor for OUTROS
          type: string
          maxLength: 100
          example: RNE
        name:
          description: Nome ou Razão Social do Tomador/Garantidor
          type: string
          maxLength: 60
          example: Nome Sobrenome
        postCode:
          description: Código Postal do Tomador/Garantidor
          type: string
          maxLength: 60
          example: "10000000"
        email:
          description: E-mail do Tomador/Garantidor (caso possua)
          type: string
          pattern: '^\S+@\S+\.\S+$'
          maxLength: 256
        city:
          description: Cidade do Tomador/Garantidor (por extenso)
          type: string
          maxLength: 60
        state:
          description: Estado do Tomador/Garantidor (por extenso)
          type: string 
          enum: ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO', 'XX']
          example: 'AC'
        country:
          description: País do Tomador/Garantidor (de acordo com o código "alpha3" do ISO-3166)
          type: string
          enum: [AFG,ALA,ALB,DZA,ASM,AND,AGO,AIA,ATA,ATG,ARG,ARM,ABW,AUS,AUT,AZE,BHS,BHR,BGD,BRB,BLR,BEL,BLZ,BEN,BMU,BTN,BOL,BES,BIH,BWA,BVT,
                BRA,IOT,BRN,BGR,BFA,BDI,CPV,KHM,CMR,CAN,CYM,CAF,TCD,CHL,CHN,CXR,CCK,COL,COM,COG,COD,COK,CRI,CIV,HRV,CUB,CUW,CYP,CZE,DNK,DJI,DMA,
                DOM,ECU,EGY,SLV,GNQ,ERI,EST,SWZ,ETH,FLK,FRO,FJI,FIN,FRA,GUF,PYF,ATF,GAB,GMB,GEO,DEU,GHA,GIB,GRC,GRL,GRD,GLP,GUM,GTM,GGY,GIN,GNB,
                GUY,HTI,HMD,VAT,HND,HKG,HUN,ISL,IND,IDN,IRN,IRQ,IRL,IMN,ISR,ITA,JAM,JPN,JEY,JOR,KAZ,KEN,KIR,PRK,KOR,KWT,KGZ,LAO,LVA,LBN,LSO,LBR,
                LBY,LIE,LTU,LUX,MAC,MDG,MWI,MYS,MDV,MLI,MLT,MHL,MTQ,MRT,MUS,MYT,MEX,FSM,MDA,MCO,MNG,MNE,MSR,MAR,MOZ,MMR,NAM,NRU,NPL,NLD,NCL,NZL,
                NIC,NER,NGA,NIU,NFK,MKD,MNP,NOR,OMN,PAK,PLW,PSE,PAN,PNG,PRY,PER,PHL,PCN,POL,PRT,PRI,QAT,REU,ROU,RUS,RWA,BLM,SHN,KNA,LCA,MAF,SPM,
                VCT,WSM,SMR,STP,SAU,SEN,SRB,SYC,SLE,SGP,SXM,SVK,SVN,SLB,SOM,ZAF,SGS,SSD,ESP,LKA,SDN,SUR,SJM,SWE,CHE,SYR,TWN,TJK,TZA,THA,TLS,TGO,
                TKL,TON,TTO,TUN,TUR,TKM,TCA,TUV,UGA,UKR,ARE,GBR,USA,UMI,URY,UZB,VUT,VEN,VNM,VGB,VIR,WLF,ESH,YEM,ZMB,ZWE]
          example: BRA 
        address:
          description: Endereço do Tomador/Garantidor (restante do endereço, excluindo cidade, estado e país)
[...]
