openapi: 3.0.0
info:
  title: API Quote Person - Open Insurance Brasil
  description: |
    API de Cotação Pessoas do Open Insurance Brasil - Fase 3.\
    Recebe informações da solicitação de cotação e contratação vindas das instituições iniciadoras.\
    Possui um conjunto de endpoints por ramo de produto e um conjunto específico de endpoints para ramos classificados como Lead e Firme OPIN.\
    Requer consentimento do cliente para todos os 'endpoints'.

    # Orientações
    A `Role`  do diretório de participantes relacionada à presente API é a ``.\
    Para todos os `endpoints` desta API é previsto o envio de um `token` através do header `Authorization`.\
    Este `token` deverá estar relacionado ao consentimento (identificado pelo `consentId`) mantido na instituição transmissora dos dados, o qual permitirá a pesquisa e retorno, na API em questão, dos
    dados relacionados ao `consentId` específico.\
    Os dados serão entregues pela iniciadora na seguradora desde que o `consentId` relacionado corresponda a um consentimento válido e com o status `AUTHORISED`.\
    Além disso, as `permissions` necessárias deverão ter sido solicitadas quando da criação do consentimento relacionado.\
    Relacionamos a seguir as `permissions` necessárias para o envio de dados em cada `endpoint` da presente API.

    ## Permissions necessárias para a API Person

    Para cada um dos `paths` desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

    ### `/lead/request`
      - permissions:
        - POST: **QUOTE_PERSON_LEAD_CREATE**   
    ### `/lead/request/{consentId}`
      - permissions:      
        - PATCH: **QUOTE_PERSON_LEAD_PORTABILITY_UPDATE**    
    ### `/life/request/{consentId}/quote-status`
      - permissions:
        - GET: **QUOTE_PERSON_LIFE_READ**    
    ### `/life/request`
      - permissions:   
        - POST: **QUOTE_PERSON_LIFE_CREATE**   
    ### `/life/request/{consentId}`
      - permissions:   
        - PATCH: **QUOTE_PERSON_LIFE_UPDATE**
    ### `/travel/request/{consentId}/quote-status`
      - permissions:
        - GET: **QUOTE_PERSON_TRAVEL_READ**    
    ### `/travel/request`
      - permissions:   
        - POST: **QUOTE_PERSON_TRAVEL_CREATE**   
    ### `/travel/request/{consentId}`
      - permissions:   
        - PATCH: **QUOTE_PERSON_TRAVEL_UPDATE**

    ## Válidações Semanticas - Entidade não processável - 422
      - 1 - `Idempotência:` Valida se há divergência entre chave de idempotência e informações enviadas (ERRO_IDEMPOTENCIA);
      - 2 - `Não Informado:` Valida itens não explicitamente informados pelo servidor - (NAO_INFORMADO).   

  version: 1.10.1
  contact:
    name: Governança do Open Insurance Brasil
    email: gt-interfaces@openinsurancebr.org
    url: https://www.gov.br/susep
servers:
  - url: https://api.organizacao.com.br/open-insurance/quote-person/v1
    description: Servidor de Produção
  - url: https://api.organizacao.com.br/open-insurance/quote-person/v1
    description: Servidor de Homologação
tags:
  - name: PersonLead
    description: Iniciação de serviços de seguro Cotação Pessoas Lead (PersonLead)
  - name: PersonPortabilityLead
    description: Iniciação de serviços de portabilidade de seguro Pessoas Lead (PersonLead)
  - name: PersonLife
    description: Iniciação de serviços de seguro Cotação Pessoas Vida (PersonLife)
  - name: PersonTravel
    description: Iniciação de serviços de seguro Cotação Pessoas Viagem (PersonTravel)
paths:
  /lead/request:
    post:
      tags:
        - PersonLead
      summary: Envia dados de cotação e contratação de PersonLead
      description: Método para criação de solicitação de cotação e contratação de PersonLead
      operationId: postQuotePersonLead
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestPersonLead'
      responses:
        '201':
          $ref: '#/components/responses/OKResponseQuoteRequestPersonLead'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - consent:consentId
            - quote-person-lead
  /lead/request/{consentId}:
    patch:
      tags:
        - PersonLead
      summary: Atualiza dados de cotação e contratação de PersonLead identificado por consentId
      description: Método para atualização de solicitação de cotação e contratação de PersonLead
      operationId: patchQuotePersonLead
      parameters:
        - $ref: '#/components/parameters/consentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokePatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuotePersonLead'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - consent:consentId
            - quote-person-lead
  /life/request:
    post:
      tags:
        - PersonLife
      summary: Envia dados de cotação e contratação de PersonLife
      description: Método para criação de solicitação de cotação e contratação de PersonLife
      operationId: postQuotePersonLife
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestPersonLife'
      responses:
        '201':
          $ref: '#/components/responses/OKResponseQuoteRequestPersonLife'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - consent:consentId
            - quote-person-life
  /life/request/{consentId}/quote-status:
    get:
      tags:
        - PersonLife
      summary: Obtém os dados de cotação e contratação de PersonLife identificado por consentId
      description: Método para consulta dos dados de solicitação de cotação e contratação de PersonLife
      operationId: getQuotePersonLife
      parameters:
        - $ref: '#/components/parameters/consentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/200QuoteStatusPersonLife'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - consent:consentId
            - quote-person-life
  /life/request/{consentId}:
    patch:
      tags:
        - PersonLife
      summary: Atualiza dados de cotação e contratação de PersonLife identificado por consentId
      description: Método para atualização de solicitação de cotação e contratação de PersonLife
      operationId: patchQuotePersonLife
      parameters:
        - $ref: '#/components/parameters/consentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuotePersonLife'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - consent:consentId
            - quote-person-life
  /travel/request:
    post:
      tags:
        - PersonTravel
      summary: Envia dados de cotação e contratação de PersonTravel
      description: Método para criação de solicitação de cotação e contratação de PersonTravel
      operationId: postQuotePersonTravel
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestPersonTravel'
      responses:
        '201':
          $ref: '#/components/responses/OKResponseQuoteRequestPersonTravel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - consent:consentId
            - quote-person-travel
  /travel/request/{consentId}/quote-status:
    get:
      tags:
        - PersonTravel
      summary: Obtém os dados de cotação e contratação de PersonTravel identificado por consentId
      description: Método para consulta dos dados de solicitação de cotação e contratação de PersonTravel
      operationId: getQuotePersonTravel
      parameters:
        - $ref: '#/components/parameters/consentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/200QuoteStatusPersonTravel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - consent:consentId
            - quote-person-travel
  /travel/request/{consentId}:
    patch:
      tags:
        - PersonTravel
      summary: Atualiza dados de cotação e contratação de PersonTravel identificado por consentId
      description: Método para atualização de solicitação de cotação e contratação de PersonTravel
      operationId: patchQuotePersonTravel
      parameters:
        - $ref: '#/components/parameters/consentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuotePersonTravel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - consent:consentId
            - quote-person-travel
components:
  schemas:
    PolicyDataPersonLead:
      type: array
      description: Lista que agrupa os dados das apólices em categorias.
      items:
        type: object
        properties:
          policyInfo:
            $ref: '#/components/schemas/InsurancePersonPolicyInfo'
          premium:
            $ref: '#/components/schemas/InsurancePersonPremium'
          claim:
            $ref: '#/components/schemas/InsurancePersonClaim'
    PolicyDataPersonLife:
      type: array
      description: Lista que agrupa os dados das apólices em categorias.
      items:
        type: object
        properties:
          policyInfo:
            $ref: '#/components/schemas/InsurancePersonPolicyInfo'
          premium:
            $ref: '#/components/schemas/InsurancePersonPremium'
          claim:
            $ref: '#/components/schemas/InsurancePersonClaim'
    QuoteDataPersonLife:
      $ref: '#/components/schemas/QuotePerson'
    QuoteStatusPersonLife:
      $ref: '#/components/schemas/QuotePersonResult'
    PolicyDataPersonTravel:
      type: array
      description: Lista que agrupa os dados das apólices em categorias.
      items:
        type: object
        properties:
          policyInfo:
            $ref: '#/components/schemas/InsurancePersonPolicyInfo'
          premium:
            $ref: '#/components/schemas/InsurancePersonPremium'
          claim:
            $ref: '#/components/schemas/InsurancePersonClaim'
    QuoteDataPersonTravel:
      $ref: '#/components/schemas/QuotePersonTravel'
    QuoteStatusPersonTravel:
      $ref: '#/components/schemas/QuotePersonTravelResult'
    QuotePerson:
      type: object
      required:
        - termStartDate
        - termType
        - insuranceType
        - termEndDate
        - currency
        - brand
        - includeAssistanceServices
      properties:
        termStartDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-27'
          description: Vigência das 24 horas do dia
        termEndDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-27'
          description: Até as 24 horas do dia
        termType:
          type: string
          enum:
            - ANUAL
            - ANUAL_INTERMITENTE
            - PLURIANUAL
            - PLURIANUAL_INTERMITENTE
            - SEMESTRAL
            - SEMESTRAL_INTERMITENTE
            - MENSAL
            - MENSAL_INTERMITENTE
            - DIARIO
            - DIARIO_INTERMITENTE
            - OUTROS
          description: Tipo de vigência
        termTypeOthers:
          description: Descricao do tipo de vigência quando for informada a opcao OUTROS
          type: string
          maxLength: 100
        havePersonInsurance:
          description: Possui seguro de pessoas vigente?
          type: boolean
        policies:
          type: array
          description: Lista que agrupa os dados das apólices em categorias.
          items:
            type: object
            properties:
              policyId:
                description: Número para identificar a apólice atual
                type: string
                maxLength: 100
                example: '111111'
              insurerId:
                description: Nome para identifcar a congênere de renovação
                type: string
                maxLength: 100
        usedCoverages:
          type: array
          items:
            description: Quais coberturas foram acionadas?
            allOf:
              - $ref: '#/components/schemas/EnumCodeCoverage'
        requestedCoverages:
          type: array
          description: Lista que Agrupa informações de coberturas solicitadas.
          items:
            $ref: '#/components/schemas/Coverage'
        includeAssistanceServices:
          description: Deseja contratação de serviços de assistência?
          type: boolean
        totalPremiumAmount:
          description: Valor total do prêmio anual
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        wasThereAClaim:
          description: Houve sinistro no local nos últimos 12 meses?
          type: boolean
        claimNotifications:
          description: Lista de sinistros e valores
          type: array
          items:
            $ref: '#/components/schemas/ClaimNotification'
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            type: object
            properties:
              code:
                description: Código da cobertura de suguro pessoas
                allOf:
                  - $ref: '#/components/schemas/EnumCodeCoverage'
              insuredCapital:
                description: Capital segurado
                allOf:
                  - $ref: '#/components/schemas/AmountDetails'
        insuredPerson:
          description: Informações do Segurado
          allOf:
            - $ref: '#/components/schemas/InsuredPerson'
    QuotePersonResult:
      type: object
      required:
        - quoteCustomer
        - quoteData
        - quotes
      properties:
        quoteCustomer:
          description: Dados da pessoa física
          allOf:
            - $ref: '#/components/schemas/PersonalCustomerInfo'
        quoteData:
          description: Dados Gerais da Cotação
          allOf:
            - $ref: '#/components/schemas/QuoteInfoForPersonResult'
        quotes:
          type: array
          description: Lista de cotações enviadas pela seguradora.
          items:
            required:
              - insurerQuoteId
              - quoteDateTime
              - susepProcessNumbers
            type: object
            description: Informações da cotação enviada pela seguradora
            properties:
              insurerQuoteId:
                type: string
                description: |
                  Id da proposta da segurada
              quoteDateTime:
                type: string
                format: date-time
                example: '2023-05-21T08:30:00Z'
                description: Data e hora da cotação
                pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
              insuredPerson:
                description: Informações do Segurado
                allOf:
                  - $ref: '#/components/schemas/InsuredPerson'
              requestedCoverages:
                type: array
                description: Lista que Agrupa informações de coberturas solicitadas.
                items:
                  $ref: '#/components/schemas/CoverageResult'
              assistanceInfo:
                type: array
                items:
                  $ref: '#/components/schemas/Assistance'
              premiumInfo:
                $ref: '#/components/schemas/Premium'
              susepProcessNumbers:
                description: Número do Processo Susep das Coberturas
                type: array
                items:
                  type: string
                  maxLength: 50
        quoteCustomData:
          $ref: '#/components/schemas/QuoteCustomData'
    QuoteInfoForPersonResult:
      type: object
      properties:
        termStartDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-27'
          description: Vigência das 24 horas do dia
        termEndDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-27'
          description: Até as 24 horas do dia
        termType:
          type: string
          enum:
            - ANUAL
            - ANUAL_INTERMITENTE
            - PLURIANUAL
            - PLURIANUAL_INTERMITENTE
            - SEMESTRAL
            - SEMESTRAL_INTERMITENTE
            - MENSAL
            - MENSAL_INTERMITENTE
            - DIARIO
            - DIARIO_INTERMITENTE
            - OUTROS
          maxLength: 23
          description: Tipo de vigência
        termTypeOthers:
          description: Descricao do tipo de vigência quando for informada a opcao OUTROS
          type: string
          maxLength: 100
        havePersonInsurance:
          description: Possui seguro de pessoas vigente?
          type: boolean
        policies:
          type: array
          description: Lista que agrupa os dados das apólices em categorias.
          items:
            type: object
            properties:
              policyId:
                description: Número para identificar a apólice atual
                type: string
                maxLength: 100
                example: '111111'
              insurerId:
                description: Nome para identifcar a congênere de renovação
                type: string
                maxLength: 100
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/Coverage'
        usedCoverages:
          type: array
          items:
            description: Quais coberturas foram acionadas?
            allOf:
              - $ref: '#/components/schemas/EnumCodeCoverage'
        totalPremiumAmount:
          description: Valor total do prêmio anual
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        wasThereAClaim:
          description: Houve sinistro no local nos últimos 12 meses?
          type: boolean
        claimNotifications:
          description: Lista de sinistros e valores
          type: array
          items:
            $ref: '#/components/schemas/ClaimNotification'
    InsuredPerson:
      type: object
      properties:
        weight:
          description: Peso
          type: string
        height:
          description: Altura
          type: string
        smoker:
          description: É fumante?
          type: boolean
        occupationModel:
          description: Modelo de exercício da profissão
          type: string
          enum:
            - CLT
            - AUTONOMO
            - PESSOA_JURIDICA
            - SOCIO_PROPRIETARIO_DE_EMPRESA_MEI
            - DESEMPREGADO_NAO_EXERCE_ATIVIDADE_PROFISSIONAL
        occupation:
          description: Profissão
          type: string
        isSportsperson:
          description: Pratica esportes de aventura?
          type: boolean
        sports:
          type: array
          items:
            type: object
            properties:
              sport:
                type: string
                description: Qual esporte é praticado?
                enum:
                  - ACADEMIA
                  - ACQUARIDE
                  - ACROBACIA_AÉREA
                  - AGGRESSIVE_INLINE
                  - ALPINISMO
                  - APNEIA_ACIMA_DE_6_METROS
                  - APNEIA_ATÉ_6_METROS
                  - ARBORISMO
                  - ARCO_E_FLECHA
                  - ARTES_MARCIAIS
                  - ARVORISMO
                  - ASA_DELTA
                  - ASA_DELTA-HANG_GLIDING
                  - ATLETISMO
                  - AUTOMOBILISMO
                  - BADMINTON
                  - BALONISMO
                  - BANANA-BOAT
                  - BASE_JUMP
                  - BASQUETEBOL
                  - BEISEBOL
                  - BIATHLON
                  - BICICLETA_DE_MONTANHA
                  - BICICROSS-BMX
                  - BODYBOARD
                  - BOIA_CROSS
                  - BOLICHE
                  - BOULDER
                  - BOXE
                  - BUNGEE_JUMP
                  - CAÇA
                  - CAÇA_SUBMARINA
                  - CAÇADORES
                  - CACHOEIRISMO
                  - CAIAQUE
                  - CAIAQUE_ATÉ_NÍVEL_3
                  - CAMINHADA_(HIKKING)
                  - CAMPING
                  - CANIONISMO_(CANYONING)
                  - CANOAGEM
                  - CANOAGEM_NÍVEIS_4_E_5
                  - CANOAGEM_NÍVEL_5
                  - CARVEBOARD
                  - CASCADING
                  - CAVALGADA
                  - CAVALGADA_EM_PÔNEI
                  - CICLISMO
                  - CICLISMO_DE_ESTRADA
                  - CICLISMO_DE_PISTA
                  - CICLOTURISMO
                  - CORRIDA
                  - CORRIDA_AÉREA
                  - CORRIDA_COM_EMBARCAÇÃO
                  - CORRIDA_COM_MOTOCICLETA
                  - CORRIDA_DE_AVENTURA
                  - CORRIDA_NA_MONTANHA
                  - CRÍQUETE
                  - CRÓQUETE
                  - CURLING
                  - DIRIGÍVEL
                  - DRAG_RACERS_PROVA_DE_ARRANCADA
                  - DRIFT
                  - DUCK
                  - EJECT_X
                  - EQUITAÇÃO
                  - EQUITAÇÃO_EM_COMPETIÇÃO
                  - ESCALADA
                  - ESCALADA_INDOOR
                  - ESCALADA_NO_GELO
                  - ESCALADA_OUTDOOR_ACIMA_DE_4000_METROS
                  - ESCALADA_OUTDOOR_ATÉ_4000_METROS
                  - ESPELEOLOGIA
                  - ESPELEOTURISMO
                  - ESPORTE_DE_VELOCIDADE
                  - ESPORTES_COM_BOLA
                  - ESQUI
                  - ESQUI_AQUÁTICO
                  - ESQUI_FORA_DA_PISTA
                  - ESQUIBUNDA
                  - FLUTUAÇÃO_SNORKELING
                  - FLYBOARD
                  - FUTEBOL
                  - FUTEBOL_GAÉLICO_IRLANDÊS
                  - GINÁSTICA_AERÓBICA
                  - GINÁSTICA_ARTÍSTICA
                  - GOLFE
                  - GRASSBOARD
                  - HANDEBOL
                  - HIGHLINE
                  - HIKKING
                  - HIPISMO
                  - HÓQUEI
                  - HÓQUEI_EM_PATINS
                  - HÓQUEI_SOB_O_GELO
                  - JET_SKI
                  - KAITESURFING
                  - KART
                  - KAYAKSURF
                  - LAND_YACHTING
                  - LONGBOARD
              frequency:
                description: Com que frequência?
                type: string
                enum:
                  - ATE_3_VEZES_ANO
                  - ACIMA_DE_3_VEZES_ANO
        includeSport:
          description: Deseja incluir outro esporte?
          type: boolean
        injuryTimeOff:
          description: Está afastado das atividades profissionais (INSS)?
          type: boolean
        CID:
          description: CID da doença
          type: string
          maxLength: 10
        cancerPatient:
          description: É paciente oncológico?
          type: boolean
        cancerRemissionDuration:
          description: Há quanto tempo está em remissão? (meses)
          type: integer
          maxLength: 3
        partnerCoverage:
          description: Deseja cobertura para cônjuge?
          type: boolean
        partnerInfo:
          type: object
          properties:
            partnerCoverageAmount:
              description: Valor da cobertura para cônjuge
              allOf:
                - $ref: '#/components/schemas/AmountDetails'
            partnerBirth:
              description: Data de nascimento do cônjuge
              type: string
              format: date
              pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
              example: '2022-10-27'
            partnerOccupation:
              description: Profissão do cônjuge
              type: string
        childCoverage:
          description: Deseja cobertura para filhos?
          type: boolean
        children:
          type: array
          description: Lista que agrupa os dados dos filhos.
          items:
            type: object
            properties:
              childBirth:
                description: Data de nascimento do filho
                type: string
                format: date
                pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
                example: '2022-10-27'
              isChildSportsperson:
                description: Pratica esportes de aventura?
                type: boolean
    Premium:
      type: object
      description: Objeto que agrupa dados de prêmio.
      required:
        - totalPremiumAmount
        - totalNetAmount
        - IOF
        - paymentsQuantity
        - payments
        - periodicity
      properties:
        totalNetAmount:
          description: Valor de prêmio líquido total
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        IOF:
          description: Valor do IOF
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        totalPremiumAmount:
          description: Valor total do prêmio do contrato
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/PaymentQuote'
        periodicity:
          type: string
          description: Periodicidade de pagamento do Prêmio
          enum:
            - MENSAL
            - BIMESTRAL
            - TRIMESTRAL
            - QUADRIMESTRAL
            - SEMESTRAL
            - ANUAL
            - A_VISTA/UNICO
        interestRateOverPayments:
          description: Taxa de juros sobre o parcelamento do prêmio
          type: string
          pattern: ^\d{1,3}\.\d{1,9}$
          example: '10.00'
    PaymentQuote:
      type: object
      required:
        - amount
        - paymentType
      properties:
        amount:
          description: Valor da parcela
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        paymentType:
          description: 'Meio de Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO'
          type: string
          enum:
            - BOLETO
            - TED
            - TEF
            - CARTAO
            - DOC
            - CHEQUE
            - DESCONTO_EM_FOLHA
            - PIX
            - DINHEIRO_EM_ESPECIE
            - OUTROS
        paymentTypeOthers:
          description: Descricao do Meio de Pagamento quando for informada a opcao OUTROS
          type: string
          maxLength: 100
    Coverage:
      type: object
      required:
        - branch
        - code
        - isSeparateContractingAllowed
        - insuredCapital
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
          description: Código da cobertura de suguro pessoas
          allOf:
            - $ref: '#/components/schemas/EnumCodeCoverage'
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        internalCode:
          description: Código interno da cobertura da seguradora
          type: string
          maxLength: 500
        isSeparateContractingAllowed:
          description: Permissão para Contratação Separada
          type: boolean
        insuredCapital:
          description: Capital segurado
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
    CoverageResult:
      type: object
      required:
        - branch
        - code
        - isSeparateContractingAllowed
        - maxLMI
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
          description: Código da cobertura de suguro pessoas
          allOf:
            - $ref: '#/components/schemas/EnumCodeCoverage'
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        isSeparateContractingAllowed:
          description: Permissão para Contratação Separada
          type: boolean
        internalCode:
          description: Código interno da cobertura da seguradora
          type: string
          maxLength: 500
        gracePeriod:
          type: integer
          maxLength: 5
          description: |
            Período de carência. OBS: Obrigatório, se houver       
        gracePeriodicity:
          type: string
          description: |
            Periodicidade da carência. OBS: Obrigatório, se houver
          enum:
            - DIA
            - MES
            - ANO
        gracePeriodCountingMethod:
          type: string
          description: |
            Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver
          enum:
            - DIAS_UTEIS
            - DIAS_CORRIDOS
        gracePeriodStartDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-02'
          description: |
            Data de início da carência. OBS: Obrigatório, se houver
        gracePeriodEndDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-02'
          description: |
            Data de fim da carência. OBS: Obrigatório, se houver  
        premiumAmount:
          description: Valor de Prêmio da Cobertura
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        deductible:
          description: Informações de franquia
          allOf:
            - $ref: '#/components/schemas/DeductibleQuote'
        POS:
          description: Informações de POS
          allOf:
            - $ref: '#/components/schemas/POSQuote'
    ClaimNotification:
      type: object
      description: Valores de sinistros
      required:
        - claimAmount
        - claimDescription
      properties:
        claimAmount:
          description: Valor do sinistro De acordo com ISO-4217.
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        claimDescription:
          description: Descrição do sinistro
          type: string
          maxLength: 100
      additionalProperties: false
    DeductibleQuote:
      type: object
      required:
        - type
      properties:
        type:
          description: Tipo de Franquia
          type: string
          maxLength: 9
          enum:
            - REDUZIDA
            - NORMAL
            - MAJORADA
            - DEDUTIVEL
            - OUTROS
        typeAdditionalInfo:
          description: Descriçao do Tipo de Franquia (Caso Tipo de Franquia for "OUTROS")
          type: string
          maxLength: 500
        deductibleAmount:
          description: Valor da Franquia
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        period:
          description: Prazo da Franquia
          type: integer
          maxLength: 5
          example: 10
        periodicity:
          description: Periodicidade da Franquia
          type: string
          maxLength: 3
          enum:
            - DIA
            - MES
            - ANO
        periodCountingMethod:
          description: Indicador de Dias Úteis ou Corridos (Caso aplicável)
          type: string
          enum:
            - DIAS_UTEIS
            - DIAS_CORRIDOS
        periodStartDate:
          description: Data de Início da Franquia
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-05-16'
        periodEndDate:
          description: Data de Fim da Franquia
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-05-17'
        description:
          description: Descrição da Franquia
          type: string
          maxLength: 60
          example: Franquia de exemplo
    POSQuote:
      type: object
      required:
        - applicationType
        - description
        - fullIndemnityDeductible
      properties:
        applicationType:
          description: Forma de Aplicação do POS
          type: string
          maxLength: 10
          enum:
            - VALOR
            - PERCENTUAL
            - OUTROS
        applicationTypeOthers:
          description: Descricao do Forma de Aplicação do POS quando for informada a opcao OUTROS
          type: string
          maxLength: 100
        description:
          description: Descrição do POS
          type: string
          maxLength: 60
          example: Descrição de exemplo
        minValue:
          description: Valor Mínimo do POS
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        maxValue:
          description: Valor Máximo do POS
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        percentage:
          description: Percentual do POS
          type: string
          pattern: ^\d{1,3}\.\d{1,9}$
          example: '10.5'
        fullIndemnityDeductible:
          description: Franquia sobre indenização integral
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
    Assistance:
      type: object
      required:
        - type
        - service
        - description
        - assistancePremiumAmount
      properties:
        type:
          description: Tipo de prestação de serviços
          type: string
          enum:
            - ASSISTENCIA_AUTO
            - ASSISTENCIA_RE
            - ASSISTENCIA_VIDA
            - BENEFICIOS
            - DESPACHANTE
            - LOCACAO_DE_VEICULOS
            - REPAROS_AUTOMOTIVOS
            - REPAROS_EMERGENCIAIS
            - SERVICO_DE_MANUTENCAO
            - SERVICO_EM_CASO_DE_SINISTRO
            - TRANSPORTE_DO_EMERGENCIAL
            - OUTROS
        service:
          description: Nome do serviço prestado
          type: string
          enum:
            - ACIONAMENTO_E_OU_AGENDAMENTO_DE_LEVA_E_TRAZ
            - AMPARO_DE_CRIANCAS
            - APLICACAO_DE_VACINAS_EM_DOMICILIO
            - AQUECEDORES
            - ASSISTENCIA_A_ELETRODOMESTICOS
            - ASSISTENCIA_AUTO_E_OU_MOTO
            - ASSISTENCIA_BIKE
            - ASSISTENCIA_EM_VIAGEM
            - ASSISTENCIA_ESCOLAR
            - ASSISTENCIA_FUNERAL
            - ASSISTENCIA_FUNERAL_PET
            - ASSISTENCIA_INFORMATICA
            - ASSISTENCIA_NUTRICIONAL
            - ASSISTENCIA_PET
            - ASSISTENCIA_RESIDENCIAL
            - ASSISTENCIA_SUSTENTAVEL
            - ASSISTENCIA_VETERINARIA_EMERGENCIAL
            - ASSISTENCIAS_SAUDE_E_BEM_ESTAR
            - BABY_SITTER
            - CACAMBA
            - CARRO_RESERVA
            - CESTA_BASICA
            - CESTA_DE_ALIMENTOS
            - CESTA_NATALIDADE
            - CHAVEIRO
            - CHECK_UP
            - COBERTURA_PROVISORIA_DE_TELHADO
            - CONCIERGE
            - CONSERTO_DE_AR_CONDICIONADO
            - CONSERTO_DE_ELETRODOMESTICOS_LINHA_BRANCA
            - CONSERTO_DE_ELETROELETRONICO_LINHA_MARROM
            - CONSERTO_DE_PORTA_ONDULADA
            - CONSULTAS_VETERINARIAS
            - CONSULTORIA_ORCAMENTARIA
            - CONVENIENCIA_EM_VIAGEM
            - DEDETIZACAO
            - DESATOLAMENTO
            - DESCARTE_RESPONSAVEL
            - DESCONTOS_EM_CONSULTAS_E_EXAMES
            - DESCONTOS_EM_MEDICAMENTOS
            - DESENTUPIMENTO
            - DESINSETIZACAO_E_DESRATIZACAO
            - DESPACHANTE
            - DESPESAS_FARMACEUTICAS
            - DESPESAS_MEDICAS_CIRURGICAS_E_DE_HOSPITALIZACAO
            - DESPESAS_ODONTOLOGICAS
            - ELETRICISTA
            - EMERGENCIAS
            - ENCANADOR
            - ENVIO_DE_ACOMPANHANTE_EM_CASO_DE_ACIDENTE
            - ENVIO_DE_FAMILIAR_PARA_ACOMPANHAMENTO_DE_MENORES_DE_CATORZE_ANOS
            - ENVIO_DE_RACAO
            - ESCRITORIO_VIRTUAL
            - GUARDA_DE_ANIMAIS
            - GUARDA_DO_VEICULO
            - GUINCHO
            - HELP_DESK
            - HIDRAULICA
            - HOSPEDAGEM
            - HOSPEDAGEM_DE_ANIMAIS
            - INDICACAO_DE_BANHO_E_TOSA
            - INDICACAO_DE_PROFISSIONAIS
            - INFORMACAO_SOBRE_RACAS_DE_CAES
            - INFORMACAO_SOBRE_VENDA_DE_FILHOTES
            - INFORMACOES_SOBRE_VACINAS
            - INFORMACOES_VETERINARIAS_UTEIS
            - INSTALACAO_RESIDENCIA
            - INSTALACAO_DE_CHUVEIRO_ELETRICO_E_OU_TROCA_DE_RESISTENCIA
            - INSTALACAO_DE_SUPORTE_TV_ATE_SETENTA
            - LIMPEZA
            - LIMPEZA_DE_AR_CONDICIONADO
            - LIMPEZA_DE_CAIXA_D_AGUA
            - LIMPEZA_DE_CALHAS
            - LIMPEZA_DE_RALOS_E_SIFOES
            - LOCACAO_DE_ELETRODOMESTICOS
            - LOCACAO_DE_VEICULOS
            - LOCALIZACAO_DE_BAGAGEM
            - MANUTENCAO
            - MARTELINHO_E_REPARO_RAPIDO
            - MECANICO
            - MEIO_DE_TRANSPORTE
            - MONITORACAO_MEDICA
            - MOTO
            - MOTORISTA_AMIGO
            - MOTORISTA_SUBSTITUTO
            - MTA_MEIO_DE_TRANSPORTE_ALTERNATIVO
            - MUDANCA_E_GUARDA_DE_MOVEIS
            - ORGANIZACAO
            - ORIENTACAO_EM_CASO_DE_PERDA_DE_DOCUMENTOS
            - ORIENTACAO_MEDICA
            - ORIENTACAO_PSICOLOGICA
            - PERSONAL_FITNESS
            - REBOQUE
            - REBOQUE_BIKE
            - RECUPERACAO_DO_VEICULO
            - REGRESSO_ANTECIPADO_EM_CASO_DE_FALECIMENTO_DE_PARENTES
            - REGRESSO_DO_USUARIO_APOS_ALTA_HOSPITALAR
            - REINSTALACAO_E_REPARO_DO_VENTILADOR_DE_TETO
            - REMANEJAMENTO_DE_MOVEIS
            - REMOCAO_HOSPITALAR
            - REMOCAO_MEDICA
            - REMOCAO_MEDICA_INTER_HOSPITALAR
            - REPARACAO_AUTOMOTIVA
            - REPARO_DE_TELEFONIA
            - REPARO_EM_PORTOES_AUTOMATICOS
            - REPARO_FIXACAO_DE_ANTENAS
            - REPAROS_ELETRICOS
            - RETORNO_ANTECIPADO_AO_DOMICILIO
            - REVERSAO_DE_FOGAO
            - REVISAO_DE_INSTALACAO_ELETRICA
            - SEGUNDA_OPINIAO_MEDICA_INTERNACIONAL
            - SEGURANCA
            - SERRALHEIRO
            - SERVICO_DE_INDICACAO_MEDICA
            - SERVICO_DE_LIMPEZA
            - SERVICOS_AUTO
            - SERVICOS_ESPECIAIS_FIXACAO_DE_OBJETOS
            - SERVICOS_GERAIS
            - SUBSTITUICAO_DE_PNEUS
            - SUBSTITUICAO_DE_TELHAS
            - TAXI
            - TELEMEDICINA
            - TRANSMISSAO_DE_MENSAGENS_URGENTES
            - TRANSPORTE_E_ENVIO_DE_FAMILIAR
            - TRANSPORTE_E_GUARDA_MOVEIS
            - TRANSPORTE_ESCOLAR_PESSOAS
            - TRANSPORTE_VETERINARIO_EMERGENCIAL
            - TRASLADO_DE_CORPO
            - TROCA_DE_BATERIA
            - TROCA_DE_PNEUS
            - VERIFICACAO_DE_POSSIVEIS_VAZAMENTOS
            - VIDROS_E_ACESSORIOS
            - VIGILANCIA_E_SEGURANCA
            - OUTROS
        description:
          description: Descrição do serviço prestado
          type: string
          maxLength: 5000
        assistancePremiumAmount:
          description: Valor de Prêmio da Assistência
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
    EnumCodeCoverage:
      type: string
      enum:
        - MORTE
        - MORTE_ACIDENTAL
        - INVALIDEZ_TOTAL_POR_ACIDENTE
        - INVALIDEZ_PARCIAL_POR_ACIDENTE
        - INVALIDEZ_TOTAL_E PARCIAL_POR_ACIDENTE
        - INVALIDEZ_FUNCIONAL_PERMANENTE_TOTAL_POR_DOENÇA
        - INVALIDEZ_LABORATIVA_PERMANENTE_TOTAL_POR_DOENÇA
        - DESEMPREGO_PERDA_DE_RENDA
        - INCAPACIDADE_TEMPORÁRIA
        - DOENÇA_GRAVE
        - INTERNAÇÃO_HOSPITALAR
        - DESPESAS_MÉDICAS_HOSPITALARES_E_ODONTOLÓGICAS_BRASIL
        - DESPESAS_MÉDICAS_HOSPITALARES_E_ODONTOLÓGICAS_EXTERIOR
        - TRANSPLANTE_DE_ÓRGÃOS
        - CIRURGIA
        - TRASLADO_DE_CORPO
        - REGRESSO_SANITÁRIO
        - TRASLADO_MÉDICO
        - CANCELAMENTO_DE_VIAGEM
        - REGRESSO_ANTECIPADO
        - SOBREVIVÊNCIA
        - OUTRAS
    QuotePersonTravel:
      type: object
      properties:
        termStartDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-27'
          description: Vigência das 24 horas do dia
        termEndDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-27'
          description: Até as 24 horas do dia
        contractCurrency:
          description: Moeda de emissão do contrato, de acordo com ISO-4217.
          allOf:
            - $ref: '#/components/schemas/EnumCurrencyCode'
        travelType:
          description: Tipo de viagem
          type: string
          enum:
            - LAZER
            - NEGOCIOS_CONGRESSOS
            - INTERCAMBIO
            - TRATAMENTO_DE_DOENCAS
        internationalTrip:
          description: Viagem é internacional?
          type: boolean
        destinationCountry:
          description: Qual o país de destino?
          allOf:
            - $ref: '#/components/schemas/EnumCountryCode'
        goingThroughEurope:
          description: Vai passar pela Europa?
          type: boolean
        destinationContinent:
          description: Qual é o continente de destino?
          type: string
          enum:
            - AMERICA
            - AFRICA
            - EUROPA
            - ASIA
            - OCEANIA
            - ANTARTIDA
        departureDate:
          description: Data de embarque
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-11-30'
        disembarkationDate:
          description: Data de desembarque
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-11-30'
        isOngoingTrip:
          description: A viagem já iniciou?
          type: boolean
        transportationType:
          description: Qual o meio de transporte para a viagem?
          type: string
          enum:
            - AEREO
            - MARITIMA
            - AEREO_MARITIMA
            - TERRESTRE
        isCruise:
          description: Trata-se de Cruzeiro?
          type: boolean
        travelersCounter:
          description: Quantas pessoas viajarão com você?
          type: integer
        travelers:
          type: array
          description: Dados dos viajantes
          items:
            $ref: '#/components/schemas/Traveler'
        covid19Coverage:
          description: Deseja coberturas para planos com covid-19?
          type: boolean
        diseasesCoverage:
          description: Deseja coberturas para doenças infecciosas, bacterianas ou virais? (Malária, Febre Amarela, etc)
          type: boolean
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/CoverageForTravel'
        includeAssistanceServices:
          description: Deseja contratação de serviços de assistência?
          type: boolean
    QuotePersonTravelResult:
      type: object
      required:
        - quoteData
        - quoteCustomer
        - quotes
      properties:
        quoteCustomer:
          description: Dados da pessoa física
          allOf:
            - $ref: '#/components/schemas/PersonalCustomerInfo'
        quoteData:
          description: Dados Gerais da Cotação
          allOf:
            - $ref: '#/components/schemas/QuoteInfoForTravelResult'
        quotes:
          type: array
          description: Lista de cotações enviadas pela seguradora.
          items:
            type: object
            description: Informações da cotação enviada pela seguradora
            required:
              - insurerQuoteId
              - quoteDateTime
              - susepProcessNumbers
            properties:
              insurerQuoteId:
                type: string
                description: |
                  Id da proposta da segurada
              quoteDateTime:
                type: string
                format: date-time
                example: '2023-05-21T08:30:00Z'
                description: Data e hora da cotação
                pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
              coverages:
                type: array
                description: Lista que agrupa os dados de coberturas.
                items:
                  $ref: '#/components/schemas/CoverageResultForTravel'
              susepProcessNumbers:
                description: Número do Processo Susep das Coberturas
                type: array
                items:
                  type: string
                  maxLength: 50
              premiumInfo:
                $ref: '#/components/schemas/Premium'
        quoteCustomData:
          $ref: '#/components/schemas/QuoteCustomData'
    QuoteInfoForTravelResult:
      type: object
      properties:
        termStartDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-27'
          description: Vigência das 24 horas do dia
        termEndDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-27'
          description: Até as 24 horas do dia
        contractCurrency:
          description: Moeda de emissão do contrato, de acordo com ISO-4217.
          allOf:
            - $ref: '#/components/schemas/EnumCurrencyCode'
        travelType:
          description: Tipo de viagem
          type: string
          enum:
            - LAZER
            - NEGOCIOS_CONGRESSOS
            - INTERCAMBIO
            - TRATAMENTO_DE_DOENCAS
        internationalTrip:
          description: Viagem é internacional?
          type: boolean
        destinationCountry:
          description: Qual o país de destino?
          allOf:
            - $ref: '#/components/schemas/EnumCountryCode'
        goingThroughEurope:
          description: Vai passar pela Europa?
          type: boolean
        destinationContinent:
          description: Qual é o continente de destino?
          type: string
          enum:
            - AMERICA
            - AFRICA
            - EUROPA
            - ASIA
            - OCEANIA
            - ANTARTIDA
        departureDate:
          description: Data de embarque
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-11-30'
        disembarkationDate:
          description: Data de desembarque
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-11-30'
        isOngoingTrip:
          description: A viagem já iniciou?
          type: boolean
        transportationType:
          description: Qual o meio de transporte para a viagem?
          type: string
          enum:
            - AEREO
            - MARITIMA
            - AEREO_MARITIMA
            - TERRESTRE
        isCruise:
          description: Trata-se de Cruzeiro?
          type: boolean
        travelersCounter:
          description: Quantas pessoas viajarão com você?
          type: integer
        travelers:
          type: array
          description: Dados dos viajantes
          items:
            $ref: '#/components/schemas/Traveler'
        covid19Coverage:
          description: Deseja coberturas para planos com covid-19?
          type: boolean
        diseasesCoverage:
          description: Deseja coberturas para doenças infecciosas, bacterianas ou virais? (Malária, Febre Amarela, etc)
          type: boolean
        includeAssistanceServices:
          description: Deseja contratação de serviços de assistência?
          type: boolean
    Traveler:
      type: object
      description: Dados dos Viajantes para cotação
      properties:
        travelerAge:
          description: Qual a idade dos viajantes?
          type: integer
        isPregnant:
          description: Quantos dos viajantes estão gestantes?
          type: boolean
        pregnancyWeeksCounter:
          description: Quantas semanas de gestação? (obrigatório, caso isPregnant seja verdadeiro)
          type: integer
        hasPublicServices:
          description: Quantos dos viajantes possuem função pública?
          type: boolean
        hasPublicServantRelationship:
          description: Quantos viajantes possuem relacionamento com Agente Público?
          type: boolean
    CoverageForTravel:
      type: object
      required:
        - branch
        - code
        - isSeparateContractingAllowed
        - insuredCapital
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
          description: Código da cobertura de suguro pessoas
          allOf:
            - $ref: '#/components/schemas/EnumCodeCoverage'
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        internalCode:
          description: Código interno da cobertura da seguradora
          type: string
          maxLength: 500
        isSeparateContractingAllowed:
          description: Permissão para Contratação Separada
          type: boolean
        maxLMI:
          description: Valor de Limite Máximo de Indenização (LMI) solicitado
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        maxLMG:
          description: Valor de Limite Máximo de Garantia (LMG) solicitado
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
    CoverageResultForTravel:
      type: object
      required:
        - branch
        - code
        - isSeparateContractingAllowed
        - maxLMI
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
          description: Código da cobertura de suguro pessoas
          allOf:
            - $ref: '#/components/schemas/EnumCodeCoverage'
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        isSeparateContractingAllowed:
          description: Permissão para Contratação Separada
          type: boolean
        internalCode:
          description: Código interno da cobertura da seguradora
          type: string
          maxLength: 500
        gracePeriod:
          type: integer
          maxLength: 5
          description: |
            Período de carência. OBS: Obrigatório, se houver       
        gracePeriodicity:
          type: string
          description: |
            Periodicidade da carência. OBS: Obrigatório, se houver
            Periodicidade da carência. OBS: Obrigatório, se houver
          enum:
            - DIA
            - MES
            - ANO
        gracePeriodCountingMethod:
          type: string
          description: |
            Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver
          enum:
            - DIAS_UTEIS
            - DIAS_CORRIDOS
        gracePeriodStartDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-02'
          description: |
            Data de início da carência. OBS: Obrigatório, se houver
        gracePeriodEndDate:
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-10-02'
          description: |
            Data de fim da carência. OBS: Obrigatório, se houver  
        maxLMI:
          description: Valor de Limite Máximo de Indenização (LMI) solicitado
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        maxLMG:
          description: Valor de Limite Máximo de Garantia (LMG) solicitado
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        premiumAmount:
          description: Valor de Prêmio da Cobertura
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        deductible:
          description: Informações de franquia
          allOf:
            - $ref: '#/components/schemas/DeductibleQuote'
        POS:
          description: Informações de POS
          allOf:
            - $ref: '#/components/schemas/POSQuote'
    PersonalCustomerInfo:
      type: object
      properties:
        identification:
          $ref: '#/components/schemas/PersonalIdentificationData'
        qualification:
          $ref: '#/components/schemas/PersonalQualificationData'
        complimentaryInfo:
          $ref: '#/components/schemas/PersonalComplimentaryInformationData'
    InsurancePersonPolicyInfo:
      type: object
      description: Objeto que agrupa dados de ápolice.
      required:
        - documentType
        - policyId
        - issuanceType
        - issuanceDate
        - termStartDate
        - termEndDate
        - maxLMG
        - withdrawals
        - portabilities
        - proposalId
        - insureds
        - insuredObjects
        - PMBaC
      properties:
        documentType:
          description: Tipo de Documento Emitido
          type: string
          enum:
            - APOLICE_INDIVIDUAL
            - BILHETE
            - CERTIFICADO
            - APOLICE_INDIVIDUAL_AUTOMOVEL
            - APOLICE_FROTA_AUTOMOVEL
            - CERTIFICADO_AUTOMOVEL
          example: APOLICE_INDIVIDUAL
        policyId:
          description: Identificador da apólice ou bilhete
          type: string
          maxLength: 60
          example: '111111'
        susepProcessNumber:
          description: Número SUSEP da apólice, conforme regulamentação vigente (Obrigatório caso apólice com coberturas do ramo Garantia)
          type: string
          maxLength: 60
        groupCertificateId:
          description: Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)
          type: string
          maxLength: 60
        issuanceType:
          description: Tipo de Emissão
          type: string
          enum:
            - EMISSAO_PROPRIA
            - COSSEGURO_ACEITO
          example: EMISSAO_PROPRIA
        issuanceDate:
          description: Data de emissão do documento
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-12-31'
        termStartDate:
          description: Data de início de vigência do documento
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-12-31'
        termEndDate:
          description: Data de fim de vigência do documento
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-12-31'
        leadInsurerCode:
          description: Código da seguradora líder para contratos com arranjo de cosseguro
          type: string
          maxLength: 1024
        leadInsurerPolicyId:
          description: Identificador da apólice seguradora líder para apólice de cosseguro aceito
          type: string
          maxLength: 1024
        conjugatedPlan:
          description: O plano é conjugado?
          type: boolean
          example: true
        withdrawals:
          $ref: '#/components/schemas/WithdrawalInfo'
        portabilities:
          $ref: '#/components/schemas/PortabilityInfo'
        maxLMG:
          description: Valor Limite máximo de garantia (LMG)
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        proposalId:
          description: Identificador da Proposta
          type: string
          maxLength: 60
        insureds:
          type: array
          description: Lista que agrupa os dados dos segurados.
          items:
            $ref: '#/components/schemas/PersonalInfo'
        beneficiaries:
          type: array
          description: Lista que agrupa os dados dos beneficiários.
          items:
            $ref: '#/components/schemas/BeneficiaryInfo'
        principals:
          type: array
          items:
            $ref: '#/components/schemas/PrincipalInfo'
        intermediaries:
          type: array
          description: Lista que agrupa os dados de intermediários.
          items:
            $ref: '#/components/schemas/Intermediary'
        insuredObjects:
          type: array
          description: Lista que agrupa os dados de objetos segurados.
          items:
            $ref: '#/components/schemas/InsurancePersonInsuredObject'
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/InsurancePersonCoverage'
        coinsuranceRetainedPercentage:
          description: Percentual Retido em Cosseguro (Quando há cosseguro)
          type: string
          pattern: ^\d{1,3}\.\d{1,9}$
          example: '10.00'
        coinsurers:
          type: array
          description: Lista que agrupa os dados dos cosseguros.
          items:
            $ref: '#/components/schemas/Coinsurer'
        PMBaC:
          type: object
          description: PMBaC
          required:
            - pmbacAmount
          properties:
            pmbacAmount:
              description: |
                Valor PMBaC (fim do mês) 
                Valor da Provisão Matemática de Benefícios a Conceder (PMBaC), no fim de cada mês. Caso não haja saldo informar nulo
              allOf:
                - $ref: '#/components/schemas/AmountDetails'
    GraceInfo:
      type: array
      description: Informações de Carência em caso de regime financeiro de Repartição de Capitais de Cobertura e de Capitalização (Caso seguro individual)
      items:
        type: object
        required:
        - type
        - gracePeriod
        - gracePeriodicity
        - gracePeriodCountingMethod
        - gracePeriodStartDate
        - gracePeriodEndDate
        - period
        properties:
          type:
            description: Tipo de Carência (Quando houver)
            type: string
            enum:
              - PORTABILIDADE
              - RESGATE
            example: RESGATE
          gracePeriod:
            type: integer
            maxLength: 5
            description: 'Período de carência. OBS: Obrigatório, se houver'
          gracePeriodicity:
            type: string
            description: 'Periodicidade da carência. OBS: Obrigatório, se houver'
            enum:
              - DIA
              - MES
              - ANO
          gracePeriodCountingMethod:
            type: string
            description: 'Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver'
            enum:
              - DIAS_UTEIS
              - DIAS_CORRIDOS
          gracePeriodStartDate:
            type: string
            format: date
            maxLength: 10
            example: '2022-12-31'
            description: 'Data de início da carência. OBS: Obrigatório, se houver'
          gracePeriodEndDate:
            type: string
            format: date
            maxLength: 10
            example: '2022-12-31'
            description: 'Data de fim da carência. OBS: Obrigatório, se houver'
          period:
            type: integer
            maxLength: 5
            description: Prazo de Carência entre Resgates (Caso Tipo de Carência 1. Portabilidade ou 2. Resgate for selecionada)
    WithdrawalInfo:
      type: array
      description: Informações de resgate, Obrigatório se houver em caso de regime financeiro de Capitalização
      items:
        type: object
        required:
          - occurrenceWithdrawal
        properties:
          occurrenceWithdrawal:
            type: boolean
            description: Indica se houve resgate
            example: true
          type:
            description: Tipo de resgate
            type: string
            enum:
              - TOTAL
              - PARCIAL
            example: PARCIAL
          requestDate:
            description: Data solicitação
            type: string
            format: date
            pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
            example: '2020-12-31'
          amount:
            description: Valor do resgate
            allOf:
              - $ref: '#/components/schemas/AmountDetails'
          movementDate:
            description: Data Movimentação (liquidação)
            type: string
            format: date
            pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
            example: '2020-12-31'
          withdrawalCause:
            description: Natureza do Resgate (Caso Ocorrência do resgate for Sim)
            type: string
            enum:
              - RESGATE_REGULAR
              - MORTE
              - INVALIDEZ
              - PAGAMENTO_FINANCEIRO_PROGRAMADO
              - CUSTEIO_DE_COBERTURA_DE_RISCOS_EM_PLANOS_CONJUGADOS
              - ASSISTENCIA_FINANCEIRA
    PortabilityInfo:
      type: array
      description: Informações de portabilidade, Obrigatório se houver em caso de regime financeiro de Capitalização
      items:
        type: object
        required:
          - occurrencePortability
        properties:
          occurrencePortability:
            type: boolean
            description: Indica se houve portabilidade
            example: true
          direction:
            description: Direção do fluxo de portabilidade
            type: string
            enum:
              - ENTRADA
              - SAIDA
            example: ENTRADA
          type:
            type: string
            description: Tipo de portabilidade
            enum:
              - TOTAL
              - PARCIAL
            example: PARCIAL
          amount:
            $ref: '#/components/schemas/AmountDetails'
          requestDate:
            description: Data solicitação
            type: string
            format: date
            example: '2020-12-31'
          movementDate:
            description: Data Movimentação (liquidação)
            type: string
            format: date
            example: '2020-12-31'
          sourceEntityCode:
            description: Código FIP da entidade de origem (cedente) da portabilidade
            type: string
            example: ABC123
          targetEntityCode:
            description: Código FIP da entidade de origem destino (cessionária) da portabilidade
            type: string
            example: ABC123
          sourceEntitySusepProcessNumber:
            description: Processo Susep do Plano Origem
            type: string
            maxLength: 60
            example: ABC123
    PersonalInfo:
      type: object
      required:
        - identification
        - identificationType
        - name
        - postCode
        - city
        - state
        - country
        - address
      properties:
        identification:
          description: Documento de Identificação do Segurado
          type: string
          maxLength: 60
          example: '12345678900'
        identificationType:
          description: Tipo de Documento do Segurado
          type: string
          enum:
            - CPF
            - CNPJ
            - OUTROS
          example: CPF
        identificationTypeOthers:
          description: Campo de detalhamento para quando a opcao do tipo de documento do segurado for OUTROS
          type: string
          maxLength: 100
          example: RNE
        birthDate:
          description: Data de nascimento do segurado
          type: string
          format: date
          pattern: ^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          example: '2022-12-31'
        name:
          description: Nome ou Razão Social do segurado
          type: string
          maxLength: 60
          example: Nome Sobrenome
        postCode:
          description: Código Postal do segurado
          type: string
          pattern: ^\d{8}$
          example: '10000000'
        email:
          description: E-mail do segurado (caso possua)
          type: string
          maxLength: 256
          pattern: ^\S+@\S+\.\S+$
        city:
          description: Cidade do segurado (por extenso)
          type: string
          maxLength: 60
        state:
          description: Estado do segurado (por extenso)
          type: string
          maxLength: 60
        country:
          description: País do segurado (de acordo com o código "alpha3" do ISO-3166)
          allOf:
            - $ref: '#/components/schemas/EnumCountryCode'
        address:
          description: Endereço do segurado (restante do endereço, excluindo cidade, estado e país)
          type: string
          maxLength: 60
    BeneficiaryInfo:
      type: object
      required:
        - identification
        - identificationType
        - name
      properties:
        identification:
          description: Documento de Identificação da Pessoa
          type: string
          maxLength: 60
          example: '12345678900'
        identificationType:
          description: Tipo de Documento da Pessoa
          type: string
          enum:
            - CPF
            - CNPJ
            - OUTROS
          example: CPF
        identificationTypeOthers:
          description: Campo de detalhamento para quando a opcao do tipo de documento do segurado for OUTROS
          type: string
          maxLength: 100
          example: RNE
        name:
          description: Nome ou Razão Social da Pessoa
          type: string
          maxLength: 60
          example: Nome Sobrenome
    PrincipalInfo:
      type: object
      required:
        - identification
        - identificationType
        - name
        - postCode
        - city
        - state
        - country
        - address
      properties:
        identification:
          description: Documento de Identificação do Tomador/Garantidor
          type: string
          maxLength: 60
          example: '12345678900'
        identificationType:
          description: Tipo de Documento do Tomador/Garantidor
          type: string
          enum:
            - CPF
            - CNPJ
            - OUTROS
          example: CPF
        identificationTypeOthers:
          description: Campo de detalhamento para quando a opcao do tipo de documento do Tomador/Garantidor for OUTROS
          type: string
          maxLength: 100
          example: RNE
        name:
          description: Nome ou Razão Social do Tomador/Garantidor
          type: string
          maxLength: 60
          example: Nome Sobrenome
        postCode:
          description: Código Postal do Tomador/Garantidor
          type: string
          maxLength: 60
          example: '10000000'
        email:
          description: E-mail do Tomador/Garantidor (caso possua)
          type: string
          pattern: ^\S+@\S+\.\S+$
          maxLength: 256
        city:
          description: Cidade do Tomador/Garantidor (por extenso)
          type: string
          maxLength: 60
        state:
          description: Estado do Tomador/Garantidor (por extenso)
          allOf:
            - $ref: '#/components/schemas/EnumCountrySubDivision'
        country:
          description: País do Tomador/Garantidor (de acordo com o código "alpha3" do ISO-3166)
          allOf:
            - $ref: '#/components/schemas/EnumCountryCode'
        address:
          description: Endereço do Tomador/Garantidor (restante do endereço, excluindo cidade, estado e país)
          type: string
          maxLength: 60
        addressAdditionalInfo:
          description: Complemento do endereço do Tomador/Garantidor.
          type: string
          maxLength: 30
          example: Fundos
    Intermediary:
      type: object
      required:
        - name
        - type
      properties:
        type:
          description: Tipo do Intermediador
          type: string
          enum:
            - CORRETOR
            - REPRESENTANTE
            - ESTIPULANTE_AVERBADOR_INSTITUIDOR
            - CORRESPONDENTE
            - AGENTE_DE_MICROSSEGUROS
            - OUTROS
          example: REPRESENTANTE
        typeOthers:
          description: Descrição do Tipo do Intermediador quando for informada a opção OUTROS
          type: string
          example: OUTROS
        identification:
          description: Documento de Identificação da Intermediador (Caso Tipo de Intermediador não seja Corretor ou quando for Corretor, porém o identificador do intermediador não seja informado)
          type: string
          maxLength: 60
          pattern: ^\d{1,60}$
          example: '12345678900'
        brokerId:
          description: Identificador do Intermediador (Caso Tipo de Intermediador for CORRETOR) código SUSEP do corretor(a)
          type: string
          maxLength: 100
        identificationType:
          description: Tipo de Documento da Intermediador
          type: string
          enum:
            - CPF
            - CNPJ
            - OUTROS
          example: CPF
        identificationTypeOthers:
          description: Descrição do Tipo de Documento quando for informada a opção OUTROS
          type: string
          example: OUTROS
        name:
          description: Nome ou Razão Social da Intermediador
          type: string
          maxLength: 60
          example: Nome Sobrenome
        postCode:
          description: Código Postal da Intermediador (Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 60
          example: '10000000'
        city:
          description: Cidade da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 60
        state:
          description: Estado da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 60
        country:
          description: País da Intermediador (de acordo com o código "alpha3" do ISO-3166; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 3
          pattern: ^(\w{3}){1}$
          example: BRA
        address:
          description: Endereço da Intermediador (restante do do endereço, excluindo cidade, estado e país; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 60
    InsurancePersonInsuredObject:
      type: object
      required:
        - type
        - description
        - coverages
      properties:
        type:
          description: Tipo do objeto segurado
          type: string
          enum:
            - CONTRATO
            - PROCESSO_ADMINISTRATIVO
            - PROCESSO_JUDICIAL
            - AUTOMOVEL
            - CONDUTOR
            - FROTA
            - PESSOA
            - OUTROS
        typeAdditionalInfo:
          description: Descricao do tipo do objeto segurado(caso tipo de objeto segurado for outros)
          type: string
          maxLength: 100
        description:
          description: Descricao do objeto segurado
          type: string
          maxLength: 1024
        amount:
          $ref: '#/components/schemas/AmountDetails'
        coverages:
          type: array
          items:
            $ref: '#/components/schemas/InsurancePersonInsuredObjectCoverage'
    InsurancePersonInsuredObjectCoverage:
      type: object
      required:
        - branch
        - code
        - susepProcessNumber
        - LMI
        - termStartDate
        - termEndDate
        - feature
        - type
        - triggerEvent
        - financialType
        - benefitPaymentModality
      properties:
        branch:
          type: string
          maxLength: 4
          example: '0111'
          description: Grupo e Ramo da Cobertura (Conforme regulamentação Susep vigente)
        code:
          description: Codigo da cobertura
          type: string
          enum:
            - MORTE
            - MORTE_ACIDENTAL
            - INVALIDEZ_TOTAL_POR_ACIDENTE
            - INVALIDEZ_PARCIAL_POR_ACIDENTE
            - INVALIDEZ_TOTAL_E_PARCIAL_POR_ACIDENTE
            - INVALIDEZ_FUNCIONAL_PERMANENTE_TOTAL_POR_DOENCA
            - INVALIDEZ_LABORATIVA_PERMANENTE_TOTAL_POR_DOENCA
            - DESEMPREGO_PERDA_DE_RENDA
            - INCAPACIDADE_TEMPORARIA
            - DOENCA_GRAVE
            - INTERNACAO_HOSPITALAR
            - DESPESAS_MEDICAS_HOSPITALARES_E_ODONTOLOGICAS_BRASIL
            - DESPESAS_MEDICAS_HOSPITALARES_E_ODONTOLOGICAS_EXTERIOR
            - TRANSPLANTE_DE_ORGAOS
            - CIRURGIA
            - TRASLADO_DE_CORPO
            - REGRESSO_SANITARIO
            - TRASLADO_MEDICO
            - CANCELAMENTO_DE_VIAGEM
            - REGRESSO_ANTECIPADO
            - SOBREVIVENCIA
            - OUTRAS
        description:
          description: Campo de detalhamento do Codigo da cobertura. Obrigatorio quando a opcao escolhida para o mesmo for OUTRAS
          type: string
          maxLength: 500
        internalCode:
          type: string
          maxLength: 500
          description: Código interno da cobertura da seguradora(obrigatório se houver)
        susepProcessNumber:
          type: string
          description: Número do processo administrativo da Susep relacionado à cobertura contratada
        LMI:
          description: Limite Maximo de Indenizacao (LMI) ou Capital Segurado (Para seguros de pessoas, deve ser preenchido com o valor do Capital Segurado)
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        isLMISublimit:
          description: Limite Maximo de Indenização (LMI) seria sublimite (caso aplicavel)?
          type: boolean
          example: false
        termStartDate:
          description: Data de inicio de vigencia da cobertura
          type: string
          format: date
          maxLength: 10
          example: '2022-12-31'
        termEndDate:
          description: Data de fim de vigencia da cobertura
          type: string
          format: date
          maxLength: 10
          example: '2022-12-31'
        isMainCoverage:
          description: Cobertura Principal
          type: boolean
          example: true
        feature:
          description: Caracteristica da cobertura
          type: string
          enum:
            - MASSIFICADOS
            - MASSIFICADOS_MICROSEGUROS
            - GRANDES_RISCOS
          example: MASSIFICADOS
        type:
          description: Tipo de cobertura
          type: string
          enum:
            - PARAMETRICO
            - INTERMITENTE
            - REGULAR_COMUM
            - CAPITAL_GLOBAL
            - PARAMETRICO_E_INTERMITENTE
        grace:
          $ref: '#/components/schemas/GraceInfo'
        insuredDependentsInclusionClause:
          description: Cláusula de Inclusão de Dependentes Segurados (Caso contrato de Funeral, Acidentes Pessoais, Doenças Graves ou Doença Terminal, Eventos Aleatórios, Vida, Desemprego/Perda de Renda e Viagem e Educacional)
          type: string
          enum:
            - NAO_HA
            - FACULTATIVA
            - AUTOMATICA
        tripScope:
          description: Abrangência da viagem. (Caso contrato Viagem)
          type: string
          enum:
            - NACIONAL
            - INTERNACIONAL
            - NACIONAL_E_INTERNACIONAL
        insuredCapitalType:
          description: Modalidade de capital segurado. (Caso contrato Prestamista - exceto Habitacional e Rural)
          type: string
          enum:
            - FIXO
            - VINCULADO
            - VARIAVEL
        moneylenderType:
          description: Tipo de prestamista. (Caso contrato Prestamista - exceto Habitacional e Rural)
          type: string
          enum:
            - BASICO
            - EMPRESARIAL
            - EMPRESARIAL_INTEGRAL
        creditor:
          type: object
          properties:
            identification:
              description: Identificação do credor. (Caso contrato Prestamista - exceto Habitacional e Rural)
              type: string
              maxLength: 60
              pattern: ^\d{1,60}$
              example: '12345678901'
            identificationType:
              description: Tipo de documento do credor. (Caso contrato Prestamista - exceto Habitacional e Rural)
              type: string
              enum:
                - CPF
                - CNPJ
                - OUTROS
            identificationTypeOthers:
              description: Descricao do campo de Tipo de documento do credor quando a opcao escolhida for OUTROS
              type: string
              maxLength: 100
            name:
              description: Nome ou razão social do credor. (Caso contrato Prestamista - exceto Habitacional e Rural)
              type: string
              maxLength: 60
        obligations:
          type: array
          items:
            type: object
            properties:
              type:
                description: Tipo de obrigação. (Caso contrato Prestamista - exceto Habitacional e Rural)
                type: string
                enum:
                  - EMPRESTIMO
                  - CONSORCIO
                  - CONDOMINIO
                  - OUTROS
              typeOthers:
                description: Descrição Tipo da Obrigação. (Caso tipo de obrigação OUTROS e caso contrato Prestamista - exceto Habitacional e Rural)
                type: string
                maxLength: 500
        personIdentification:
          description: (Caso contrato Prestamista)
          type: object
          properties:
            identification:
              description: Documento de Identificação da Pessoa
              type: string
              maxLength: 60
              example: '12345678900'
            identificationType:
              description: Tipo de Documento da Pessoa
              type: string
              enum:
                - CPF
                - CNPJ
                - OUTROS
              example: CPF
            identificationTypeOthers:
              description: Descricao do campo de Tipo de Documento da Pessoa quando a opcao escolhida for OUTROS
              type: string
              maxLength: 100
            name:
              description: Nome ou Razão Social da Pessoa
              type: string
              maxLength: 60
              example: Nome Sobrenome
        insuredCapitalPercentage:
          description: Percentual do Capital Segurado. (Caso contrato Prestamista - exceto Habitacional e Rural)
          type: string
          pattern: ^\d{1,3}\.\d{1,9}$
          example: '20.00'
        dependents:
          description: Segurados dependentes
          type: array
          items:
            type: object
            properties:
              identification:
                description: Documento de Identificação (caso a opção "2. Facultativa" seja selecionada no campo "Cláusula de Inclusão de Dependentes Segurados")
                type: string
                maxLength: 60
                pattern: ^\d{1,60}$
                example: '12345678901234'
              identificationType:
                description: Tipo de Documento da Pessoa
                type: string
                enum:
                  - CPF
                  - CNPJ
                  - OUTROS
                example: CPF
              identificationTypeOthers:
                description: Descricao do campo de Tipo de Documento da Pessoa quando a opcao escolhida for OUTROS
                type: string
                maxLength: 100
              name:
                description: Nome ou Razão Social da Pessoa
                type: string
                maxLength: 60
                example: Nome Sobrenome
              kinshipDegree:
                description: Grau de Parentesco  (caso preenchido o campo "Cláusula de Inclusão de Dependentes" for igual a 3-Automático)
                type: string
                enum:
                  - CONJUGE
                  - PAIS
                  - SOGROS
                  - AVOS
                  - BISAVOS
                  - FILHOS
                  - NETOS
                  - BISNETOS
                  - IRMAOS
                  - TIOS
                  - SOBRINHOS
        educationalInstitution:
          description: Referente a seguro educacional
          type: object
          properties:
            identification:
              description: Documento de Identificação da Pessoa
              type: string
              maxLength: 60
              example: '12345678901'
            identificationType:
              description: Tipo de Documento da Pessoa
              type: string
              enum:
                - CNPJ
                - OUTROS
              example: CNPJ
            identificationTypeOthers:
              description: Descricao do campo de Tipo de Documento da Pessoa quando a opcao escolhida for OUTROS
              type: string
              maxLength: 100
            name:
              description: Nome ou Razão Social da Pessoa
              type: string
              maxLength: 60
              example: Nome Sobrenome
        biometricTable:
          description: Tabua biometrica, se houver
          type: string
          example: AT49_M
          enum:
            - AT49_M
            - AT49_F
            - AT50_M
            - AT50_F
            - AT55_M
            - AT55_F
            - AT71_M
            - AT71_F
            - AT83_M
            - AT83_F
            - AT2000_M
            - AT2000_F
            - CS041
            - CSO58
            - CSO80_M
            - CSO80_F
            - CSG_60
            - GAM71_M
            - GAM71_F
            - SGB51
            - SGB55
            - SGB71
            - SGB75
            - GKF70
            - GKF80
            - GKF95
            - GKM70
            - GKM80
            - GKM95
            - UP_84
            - IAPB_57
            - IAPB57_NIVELADA
            - ZIMMERMANN
            - WINKLEVOSS
            - BENTZIEN
            - EXP_IAPC
            - IAPB_57_FRACA
            - IAPB_57_FORTE
            - ALVARO_VINDAS
            - TASA_27
            - MULLER
            - HUNTER
            - EB7
            - UP94_M
            - AT49
            - AT2000_FEMALE_SUAVIZADA_10
            - TGA
            - AT2000_MALE_SUAVIZADA_10
            - BR_EMSSB_V2010M
            - BR_EMSSB_V2010F
            - SUSEP_IBGE
            - PERCENTUAL_FIXO
            - PERPETUA
            - BR_EMSMT_V2010M
            - BR_EMSMT_V2010F
            - BR_EMSSB_V2015M
            - BR_EMSSB_V2015F
            - BR_EMSMT_V2015M
            - BR_EMSMT_V2015F
            - BR_EMSMT_M
            - BR_EMSMT_F
            - BR_EMSSB_M
            - BR_EMSSB_F
            - BR_EMSSB_V2021M
            - BR_EMSSB_V2021F
            - BR_EMSMT_V2021M
            - BR_EMSMT_V2021F
            - OUTRAS
        pmbacInterestRate:
          description: Taxa de Juros PMBaC (quando houver)
          type: string
          pattern: ^100\.0{1,9}$|^\d{1,2}\.\d{1,9}$
          example: '10.00'
        incomeInterestRate:
          description: Taxa de Juros Rendas (quando houver)
          type: string
          pattern: ^100\.0{1,9}$|^\d{1,2}\.\d{1,9}$
          example: '10.00'
        pricingForm:
          type: string
          description: Forma de tarifacao (quando houver)
          enum:
            - POR_IDADE
            - TAXA_MEDIA
            - FAIXA_ETARIA
            - OUTROS
          example: POR_IDADE
        pricingFormOthers:
          description: Descricao da forma de tarifacao quando for informada a opcao OUTROS
          type: string
        triggerEvent:
          description: Indica o tipo de evento gerador aplicavel a cobertura
          type: string
          enum:
            - INVALIDEZ
            - MORTE
            - OUTROS
          example: INVALIDEZ
        triggerEventOthers:
          description: Descricao do evento gerador quando for informada a opcao OUTROS
          type: string
        financialType:
          type: string
          description: Regime financeiro
          enum:
            - REPARTICAO_SIMPLES
            - REPARTICAO_POR_CAPITAIS_DE_COBERTURA
            - CAPITALIZACAO
          example: REPARTICAO_SIMPLES
        benefitPaymentModality:
          description: Forma de Pagamento do Benefício
          type: string
          enum:
            - RENDA
            - UNICO
          example: RENDA
        coverageUpdateIndex:
          description: Indice de precos referente a atualizacao monetaria anual do valor da cobertura
          type: string
          enum:
            - IPC-FGV
            - IGP-DI-FGV
            - IPCA-IBGE
            - IGPM-FGV
            - INPC-IBGE
            - TR
            - OUTROS
          example: IGPM-FGV
        coverageUpdateIndexOthers:
          description: Descricao do Indice de precos referente a atualizacao monetaria anual do valor da cobertura quando for informada a opcao OUTROS
          type: string
        periodicityValue:
          description: Periodicidade de Atualizacao da cobertura (quando houver)
          type: integer
          example: 5
        periodicity:
          description: Unidade da Periodicidade de Atualizacao da Cobertura
          type: string
          enum:
            - DIA
            - MES
            - ANO
          example: DIA
        indexLag:
          description: Defasagem do indice de precos aplicado na atualizacao da renda (em meses)
          type: integer
          example: 5
        pmbacMonetaryUpdateIndex:
          description: |
            Indice de Precos Garantido PMBaC
            Obrigatorio em caso de regime financeiro de Capitalizacao
          type: string
          enum:
            - IPC-FGV
            - IGP-DI-FGV
            - IPCA-IBGE
            - IGPM-FGV
            - INPC-IBGE
            - TR
            - OUTROS
          example: IGPM-FGV
        pmbacMonetaryUpdateIndexOthers:
          description: Descricao do Indice de Precos Garantido PMBaC quando for informada a opcao OUTROS
          type: string
        pmbacIndexLag:
          description: |
            Defasagem do Indice PMBaC (em meses)
            Obrigatorio em caso de regime financeiro de Capitalizacao
          type: integer
          example: 5
    InsurancePersonCoverage:
      type: object
      required:
        - branch
        - code
      minProperties: 3
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
          type: string
          description: Codigo da cobertura
          enum:
            - MORTE
            - MORTE_ACIDENTAL
            - INVALIDEZ_TOTAL_POR_ACIDENTE
            - INVALIDEZ_PARCIAL_POR_ACIDENTE
            - INVALIDEZ_TOTAL_E_PARCIAL_POR_ACIDENTE
            - INVALIDEZ_FUNCIONAL_PERMANENTE_TOTAL_POR_DOENCA
            - INVALIDEZ_LABORATIVA_PERMANENTE_TOTAL_POR_DOENCA
            - DESEMPREGO_PERDA_DE_RENDA
            - INCAPACIDADE_TEMPORARIA
            - DOENCA_GRAVE
            - INTERNACAO_HOSPITALAR
            - DESPESAS_MEDICAS_HOSPITALARES_E_ODONTOLOGICAS_BRASIL
            - DESPESAS_MEDICAS_HOSPITALARES_E_ODONTOLOGICAS_EXTERIOR
            - TRANSPLANTE_DE_ORGAOS
            - CIRURGIA
            - TRASLADO_DE_CORPO
            - REGRESSO_SANITARIO
            - TRASLADO_MEDICO
            - CANCELAMENTO_DE_VIAGEM
            - REGRESSO_ANTECIPADO
            - SOBREVIVENCIA
            - OUTRAS
        description:
          description: Campo de detalhamento do Codigo da Cobertura quando a opcao escolhida for OUTRAS
          type: string
          maxLength: 500
        deductible:
          $ref: '#/components/schemas/Deductible'
        POS:
          $ref: '#/components/schemas/POS'
    Deductible:
      type: object
      description: Informações de franquia
      required:
        - type
        - amount
        - period
        - periodicity
        - periodStartDate
        - periodEndDate
        - description
      properties:
        type:
          description: Tipo de Franquia
          type: string
          enum:
            - REDUZIDA
            - NORMAL
            - MAJORADA
            - DEDUTIVEL
            - OUTROS
[...]
