<h2 id="tocS_CreateEndorsement">CreateEndorsement</h2>
<!-- backwards compatibility -->
<a id="schemacreateendorsement"></a>
<a id="schema_CreateEndorsement"></a>
<a id="tocScreateendorsement"></a>
<a id="tocscreateendorsement"></a>

```json
{
  "data":{
    "policyNumber":"111111",
    "endorsementType": "INCLUSAO",
    "requestDescription": "Descrição adicional do endosso.",
    "requestDate": "2022-11-01",
    "customData":{
      "customerIdentification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "customerQualification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "customerComplimentaryInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessIdentification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessQualification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessComplimentaryInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "generalQuoteInfo": {
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "riskLocationInfo";{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "insuredObjects":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "beneficiaries":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "coverages":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
    }
  }
}
```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|none|
|policyNumber|string|true|none|Número da apólice, conforme regulamentação vigente|
|endorsementType|string|true|none|Tipo de endosso|
|requestDescription|string|true|none|Descrição adicional do endosso|
|requestDate|string|true|none|Data de Solicitação do Endosso|
|customData|[object]|false|none|none|
|customerIdentification|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|customerQualification|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|customerComplimentaryInfo|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|businessIdentification|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|businessQualification|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|businessComplimentaryInfo|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|generalQuoteInfo|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|riskLocationInfo|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|insuredObjects|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|beneficiaries|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|beneficiaries|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|coverages|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|

<h2 id="tocS_ResponseEndorsement">ResponseEndorsement</h2>
<!-- backwards compatibility -->
<a id="schemaresponserndorsement"></a>
<a id="schema_ResponseEndorsement"></a>
<a id="tocSresponserndorsement"></a>
<a id="tocsresponserndorsement"></a>

```json
{
  "data":{
    "protocolNumber": "string",
    "protocolDateTime": "2021-08-20T08:30:00Z",
    "policyNumber":"111111",
    "endorsementType": "INCLUSAO",
    "requestDescription": "Descrição adicional do endosso.",
    "requestDate": "2022-11-01",
    "customData":{
      "customerIdentification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "customerQualification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "customerComplimentaryInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessIdentification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessQualification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessComplimentaryInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "generalQuoteInfo": {
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "riskLocationInfo";{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "insuredObjects":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "beneficiaries":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "coverages":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
    },
    "links":{
      "redirect": "https://www.abcseguros.com/endorsement?id=000123"
    }
  }
}
```
### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|none|
|protocolNumber|string|true|none|Identificador da Solicitação do Endosso, conforme protocolo interno da seguradora avisada.|
|protocolDateTime|string|true|none|Data e hora do protocolamento do endosso, conforme especificação RFC-3339, formato UTC.|
|policyNumber|string|true|none|Número da apólice, conforme regulamentação vigente|
|endorsementType|string|true|none|Tipo de endosso|
|requestDescription|string|true|none|Descrição adicional do endosso|
|requestDate|string|true|none|Data de Solicitação do Endosso|
|customData|[object]|false|none|none|
|customerIdentification|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|customerQualification|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|customerComplimentaryInfo|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|businessIdentification|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|businessQualification|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|businessComplimentaryInfo|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|generalQuoteInfo|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|riskLocationInfo|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|insuredObjects|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|beneficiaries|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|beneficiaries|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|coverages|[CustomInfoData](#schemacustominfodataend)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|links|[object]|ture|none|none|
|redirect|string|true|none|Campo destinado a disponibilização de links de acesso a outros materiais.|

<h2 id="tocS_CustomInfoDataEnd">CustomInfoData</h2>
<!-- backwards compatibility -->
<a id="schemacustominfodataend"></a>
<a id="schema_CustomInfoData"></a>
<a id="tocScustominfodata"></a>
<a id="tocscustominfodata"></a>

```json
{
  "fieldId": "578-psd-71md6971kjh-2d414",
  "value": null
}
```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|fieldId|string|true|none|Um identificador único usado para identificar o valor transmitido.|
|value|string|true|none|Valor do campo identificado acima, esse campo pode ser implementado como qualquer tipo de dado (objeto, texto, número, booleano, etc.)|

<h2 id="tocSfase3_ResponseErrorend">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemafase3responseerrorend"></a>
<a id="schemafase3_ResponseErrorEnd"></a>
<a id="tocSfase3responseerrorend"></a>
<a id="tocsfase3responseerrorend"></a>

```json
{
  "errors": [{
    "code": "string",
    "title": "string",
    "detail": "string",
    "requestDateTime": "2021-05-21T08:30:00Z"
  }],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
  }
}
```
### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|

<h2 id="tocSfase3_XFapiInteractionIdEnd">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemafase3xfapiinteractionidend"></a>
<a id="schemafase3_XFapiInteractionIdend"></a>
<a id="tocSfase3xfapiinteractionidend"></a>
<a id="tocsfase3xfapiinteractionidend"></a>

```json
"string"
```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

<h2 id="tocSfase3end_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemaslinksend"></a>
<a id="schemas_LinksEnd"></a>
<a id="tocSslinksend"></a>
<a id="tocsslinksend"></a>

```json
{
  "redirect": "https://www.abcseguros.com/endorsement?id=000123"
}
```
### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|redirect|string|true|none|Campo destinado a disponibilização de links de acesso a outros materiais.|


<h2 id="tocSfase3end_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemasfase3metaend"></a>
<a id="schemasfase3end_Meta"></a>
<a id="tocSfase3metaend"></a>
<a id="tocsfase3metaend"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1,
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|