<!-- Generator: Widdershins v4.0.1 -->

# API - Responsibility v1.2.0

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

**Especificação em OAS 3.0** </br>
<a href="files/swagger/insurance-responsibility.yaml" download="insurance-responsibility.yaml">Download da Especificação</a>

**Detalhamento Técnico** </br>
<a href="files/docs/insurance-responsibility.docx" download="insurance-responsibility.docx">Download do Detalhamento Técnico</a>

API de Responsabilidade do Open Insurance Brasil - Fase 2.

Traz informações de apólice, prêmio e sinistro mantidas nas instituições transmissoras por seus clientes.

Não possui segregação entre pessoa natural e pessoa jurídica.

Requer consentimento do cliente para todos os 'endpoints'.

  Release Notes:

  - <a href="./1.2.5.html#disponibilizacao-das-swaggers">15/07/2022</a>
  - <a href="./1.2.9.html#responsabilidades-insurance-responsibility-v1-1-0">01/11/2022</a>
  - <a href="./1.3.0.html#responsabilidade-insurance-responsibility">03/03/2023 </a>


<h2 id="orientacoes-insurance-responsibility">Orientações</h2>

A `Role`  do diretório de participantes relacionada à presente API é a `DADOS`.

Para todos os `endpoints` desta API é previsto o envio de um `token` através do header `Authorization`.

Este `token` deverá estar relacionado ao consentimento (identificado pelo `consentId`) mantido na instituição transmissora dos dados, o qual permitirá a pesquisa e retorno, na API em questão, dos 
dados relacionados ao `consentId` específico.

Os dados serão devolvidos na consulta desde que o `consentId` relacionado corresponda a um consentimento válido e com o status `AUTHORISED`.

É também necessário que o recurso em questão (conta, contrato, etc.) esteja disponível na instituição transmissora (ou seja, sem boqueios de qualquer natureza e com todas as autorizações/consentimentos já autorizados).

Além disso, as `permissions` necessárias deverão ter sido solicitadas quando da criação do consentimento relacionado.

Relacionamos a seguir as `permissions` necessárias para a consulta de dados em cada `endpoint` da presente API.

## Permissions necessárias para a API InsuranceResponsibility

Para cada um dos `paths` desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

### `/`
  - permissions:
    - GET: **DAMAGES_AND_PEOPLE_RESPONSIBILITY_READ**

### `/{policyId}/policy-info`
  - permissions:
    - GET: **DAMAGES_AND_PEOPLE_RESPONSIBILITY_POLICYINFO_READ**

### `/{policyId}/premium`
  - permissions:
    - GET: **DAMAGES_AND_PEOPLE_RESPONSIBILITY_PREMIUM_READ**

### `/{policyId}/claim`
  - permissions:
    - GET: **DAMAGES_AND_PEOPLE_RESPONSIBILITY_CLAIM_READ**

Base URLs:

* <a href="https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1">https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1</a>

* <a href="https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1">https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1</a>

Web: <a href="https://www.gov.br/susep/">Governança do Open Insurance Brasil</a> 

### Authentication

- oAuth2 authentication. Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Inclui o processo de redirecionamento e autenticação do usuário a que se referem os dados.

    - Flow: authorizationCode
    - Authorization URL = [https://authserver.example/authorization](https://authserver.example/authorization)
    - Token URL = [https://authserver.example/token](https://authserver.example/token)

|Scope|Scope Description|
|---|---|
|insurance-responsibility|Escopo necessário para acesso à API. O controle dos endpoints específicos é feito via permissions.|


<h2 id="obtem-a-lista-de-identificacao-de-insuranceresponsibility">Obtém a lista de identificação de InsuranceResponsibility</h2>

> Code samples

```python
import requests
headers = {
  'Accept': 'application/json',
  'Authorization': 'string',
  'x-fapi-auth-date': 'stringstringstringstringstrin',
  'x-fapi-customer-ip-address': 'string',
  'x-fapi-interaction-id': 'string',
  'x-customer-user-agent': 'string'
}

r = requests.get('https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility', headers = headers)

print(r.json())

```

```java
URL obj = new URL("https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility");
HttpURLConnection con = (HttpURLConnection) obj.openConnection();
con.setRequestMethod("GET");
int responseCode = con.getResponseCode();
BufferedReader in = new BufferedReader(
    new InputStreamReader(con.getInputStream()));
String inputLine;
StringBuffer response = new StringBuffer();
while ((inputLine = in.readLine()) != null) {
    response.append(inputLine);
}
in.close();
System.out.println(response.toString());

```

`GET /insurance-responsibility`

Método para obter a lista de identificação de InsuranceResponsibility

<h3 id="obtem-a-lista-de-identificação-de-insuranceresponsibility-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|Authorization|header|string|true|Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado.|
|x-fapi-auth-date|header|string|false|Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231). Exemplo: Sun, 10 Sep 2017 19:43:31 UTC|
|x-fapi-customer-ip-address|header|string|false|O endereço IP do usuário se estiver atualmente logado com o receptor.|
|x-fapi-interaction-id|header|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
|x-customer-user-agent|header|string|false|Indica o user-agent que o usuário utiliza.|
|page|query|integer(int32)|false|Número da página que está sendo requisitada (o valor da primeira página é 1).|
|page-size|query|integer(int32)|false|Quantidade total de registros por páginas.|

> Example responses

> 200 Response

```json
{
  "data": [
    {
      "brand": "string",
      "companies": [
        {
          "companyName": "string",
          "cnpjNumber": "12345678901234",
          "policies": [
            "42"
          ]
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}
```

<h3 id="obtem-a-lista-de-identificação-de-insuranceresponsibility-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados de ResponseInsuranceResponsibility obtidos com sucesso|[ResponseInsuranceResponsibility](#schemaresponseinsuranceresponsibility)|
|204|[No Content](https://tools.ietf.org/html/rfc7231#section-6.3.5)|O recurso solicitado não existe ou não foi localizado.|[ResponseError](#schemaresponseerror)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presente.|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Erro inesperado.|[ResponseError](#schemaresponseerror)|

### Response Headers

|Status|Header|Type|Format|Description|
|---|---|---|---|---|
|200|x-fapi-interaction-id|string||none|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
OpenId ( Scopes: openid ) & OAuth2Security ( Scopes: consent:consentId insurance-responsibility )
</aside>


<h2 id="obtem-as-informacoes-gerais-da-apolice-identificada-porinsuranceresponsibilitypolicyidpolicyinfo">Obtém as informações gerais da apólice identificada por {policyId}</h2>

> Code samples

```python
import requests
headers = {
  'Accept': 'application/json',
  'Authorization': 'string',
  'x-fapi-auth-date': 'stringstringstringstringstrin',
  'x-fapi-customer-ip-address': 'string',
  'x-fapi-interaction-id': 'string',
  'x-customer-user-agent': 'string'
}

r = requests.get('https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility/{policyId}/policy-info', headers = headers)

print(r.json())

```

```java
URL obj = new URL("https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility/{policyId}/policy-info");
HttpURLConnection con = (HttpURLConnection) obj.openConnection();
con.setRequestMethod("GET");
int responseCode = con.getResponseCode();
BufferedReader in = new BufferedReader(
    new InputStreamReader(con.getInputStream()));
String inputLine;
StringBuffer response = new StringBuffer();
while ((inputLine = in.readLine()) != null) {
    response.append(inputLine);
}
in.close();
System.out.println(response.toString());

```

`GET /insurance-responsibility/{policyId}/policy-info`

Método para obter as informações gerais da apólice

<h3 id="obtém-as-informações-gerais-da-apólice-identificada-por-{policyid}-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|Authorization|header|string|true|Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado.|
|x-fapi-auth-date|header|string|false|Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231). Exemplo: Sun, 10 Sep 2017 19:43:31 UTC|
|x-fapi-customer-ip-address|header|string|false|O endereço IP do usuário se estiver atualmente logado com o receptor.|
|x-fapi-interaction-id|header|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
|x-customer-user-agent|header|string|false|Indica o user-agent que o usuário utiliza.|
|policyId|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "documentType": "APOLICE_INDIVIDUAL",
    "policyId": "111111",
    "susepProcessNumber": "string",
    "groupCertificateId": "string",
    "issuanceType": "EMISSAO_PROPRIA",
    "issuanceDate": "2022-12-31",
    "termStartDate": "2022-12-31",
    "termEndDate": "2022-12-31",
    "leadInsurerCode": "string",
    "leadInsurerPolicyId": "string",
    "maxLMG": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "proposalId": "string",
    "insureds": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "beneficiaries": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome"
      }
    ],
    "principals": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "intermediaries": [
      {
        "type": "REPRESENTANTE",
        "identification": "12345678900",
        "brokerId": "string",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "insuredObjects": [
      {
        "identification": "string",
        "type": "CONTRATO",
        "typeAdditionalInfo": "string",
        "description": "string",
        "amount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "coverages": [
          {
            "branch": "0111",
            "code": "DANOS_CAUSADOS_A_TERCEIROS",
            "description": "string",
            "internalCode": "string",
            "susepProcessNumber": "string",
            "LMI": {
              "amount": "2000.00",
              "unit": {
                "code": "R$",
                "description": "BRL"
              }
            },
            "isLMISublimit": true,
            "termStartDate": "2022-12-31",
            "termEndDate": "2022-12-31",
            "isMainCoverage": true,
            "feature": "MASSIFICADOS",
            "type": "PARAMETRICO",
            "gracePeriod": 0,
            "gracePeriodicity": "DIA",
            "gracePeriodCountingMethod": "DIAS_UTEIS",
            "gracePeriodStartDate": "2022-12-31",
            "gracePeriodEndDate": "2022-12-31"
          }
        ]
      }
    ],
    "coverages": [
      {
        "branch": "0111",
        "code": "DANOS_CAUSADOS_A_TERCEIROS",
        "description": "string",
        "deductible": {
          "type": "DEDUTIVEL",
          "typeAdditionalInfo": "string",
          "amount": {
            "amount": "2000.00",
            "unit": {
              "code": "R$",
              "description": "BRL"
            }
          },
          "period": 10,
          "periodicity": "DIA",
          "periodCountingMethod": "DIAS_UTEIS",
          "periodStartDate": "2022-05-16",
          "periodEndDate": "2022-05-17",
          "description": "Franquia de exemplo"
        },
        "POS": {
          "applicationType": "VALOR",
          "description": "Descrição de exemplo",
          "minValue": {
            "amount": "2000.00",
            "unit": {
              "code": "R$",
              "description": "BRL"
            }
          },
          "maxValue": {
            "amount": "2000.00",
            "unit": {
              "code": "R$",
              "description": "BRL"
            }
          },
          "percentage": "10.00"
        }
      }
    ],
    "coinsuranceRetainedPercentage": "10.00",
    "coinsurers": [
      {
        "identification": "string",
        "cededPercentage": "10.00"
      }
    ],
    "branchInfo": {
      "coverages": [
        {
          "branch": "0111",
          "code": "DANOS_CAUSADOS_A_TERCEIROS",
          "description": "string",
          "type": "POR_OCORRENCIA",
          "typeDescription": "string",
          "retroactivityDate": "2022-12-31",
          "retroactivityPeriod": "string",
          "retroactivityTimeUnit": "DIA",
          "retroactivityWorkingDaysIndex": "DIAS_UTEIS",
          "complementaryTermStartDate": "2022-12-31",
          "complementaryTermEndDate": "2022-12-31",
          "complementaryTerm": "string",
          "complementaryTermTimeUnit": "DIA",
          "complementaryTermWorkingDaysIndex": "DIAS_UTEIS",
          "supplementaryTermStartDate": "2022-12-31",
          "supplementaryTermEndDate": "2022-12-31",
          "supplementaryTerm": "string",
          "supplementaryTermTimeUnit": "DIA",
          "supplementaryTermWorkingDaysIndex": "DIAS_UTEIS",
          "lawyerRecommendation": "ESCOLHIDO_PELO_SEGURADO",
          "lawyerRecommendationDescription": "string"
        }
      ],
      "insuredObjects": [
        {
          "identification": "string",
          "hasComplementaryContract": true,
          "complementaryContractAmount": {
            "amount": "2000.00",
            "unit": {
              "code": "R$",
              "description": "BRL"
            }
          },
          "coveragesMaxAmount": {
            "amount": "2000.00",
            "unit": {
              "code": "R$",
              "description": "BRL"
            }
          },
          "coveragesTermStartDate": "2022-12-31",
          "coveragesTermEndDate": "2022-12-31",
          "coveragesTerm": 100,
          "coveragesUnit": "DIA",
          "coveragesWorkingDaysIndex": "DIAS_UTEIS",
          "hasTransportationPollutionDamage": true,
          "hasThirdPatyDamage": true,
          "professionalClass": "ADMINISTRADOR_IMOBILIARIO",
          "hasRetroactivityApplication": true
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}
```

<h3 id="obtém-as-informações-gerais-da-apólice-identificada-por-{policyid}-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados de ResponseInsuranceResponsibilityPolicyInfo obtidos com sucesso|[ResponseInsuranceResponsibilityPolicyInfo](#schemaresponseinsuranceresponsibilitypolicyinfo)|
|204|[No Content](https://tools.ietf.org/html/rfc7231#section-6.3.5)|O recurso solicitado não existe ou não foi localizado.|[ResponseError](#schemaresponseerror)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presente.|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Erro inesperado.|[ResponseError](#schemaresponseerror)|

### Response Headers

|Status|Header|Type|Format|Description|
|---|---|---|---|---|
|200|x-fapi-interaction-id|string||none|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
OpenId ( Scopes: openid ) & OAuth2Security ( Scopes: consent:consentId insurance-responsibility )
</aside>


<h2 id="obtem-os-dados-de-premio-da-apolice-identificada-porinsuranceresponsibilitypolicyidpremium">Obtém os dados de prêmio da apólice identificada por {policyId}</h2>

> Code samples

```python
import requests
headers = {
  'Accept': 'application/json',
  'Authorization': 'string',
  'x-fapi-auth-date': 'stringstringstringstringstrin',
  'x-fapi-customer-ip-address': 'string',
  'x-fapi-interaction-id': 'string',
  'x-customer-user-agent': 'string'
}

r = requests.get('https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility/{policyId}/premium', headers = headers)

print(r.json())

```

```java
URL obj = new URL("https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility/{policyId}/premium");
HttpURLConnection con = (HttpURLConnection) obj.openConnection();
con.setRequestMethod("GET");
int responseCode = con.getResponseCode();
BufferedReader in = new BufferedReader(
    new InputStreamReader(con.getInputStream()));
String inputLine;
StringBuffer response = new StringBuffer();
while ((inputLine = in.readLine()) != null) {
    response.append(inputLine);
}
in.close();
System.out.println(response.toString());

```

`GET /insurance-responsibility/{policyId}/premium`

Método para obter os dados de prêmio da apólice.

<h3 id="obtém-os-dados-de-prêmio-da-apólice-identificada-por-{policyid}-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|Authorization|header|string|true|Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado.|
|x-fapi-auth-date|header|string|false|Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231). Exemplo: Sun, 10 Sep 2017 19:43:31 UTC|
|x-fapi-customer-ip-address|header|string|false|O endereço IP do usuário se estiver atualmente logado com o receptor.|
|x-fapi-interaction-id|header|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
|x-customer-user-agent|header|string|false|Indica o user-agent que o usuário utiliza.|
|policyId|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": {
    "paymentsQuantity": 4,
    "amount": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "coverages": [
      {
        "branch": "0111",
        "code": "DANOS_CAUSADOS_A_TERCEIROS",
        "description": "string",
        "premiumAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        }
      }
    ],
    "payments": [
      {
        "movementDate": "2022-12-31",
        "movementType": "LIQUIDACAO_DE_PREMIO",
        "movementOrigin": "EMISSAO_DIRETA",
        "movementPaymentsNumber": 0,
        "amount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "maturityDate": "2022-12-31",
        "tellerId": "string",
        "tellerIdType": "CPF",
        "tellerName": "string",
        "financialInstitutionCode": "string",
        "paymentType": "BOLETO"
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}
```

<h3 id="obtém-os-dados-de-prêmio-da-apólice-identificada-por-{policyid}-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados de ResponseInsuranceResponsibilityPremium obtidos com sucesso|[ResponseInsuranceResponsibilityPremium](#schemaresponseinsuranceresponsibilitypremium)|
|204|[No Content](https://tools.ietf.org/html/rfc7231#section-6.3.5)|O recurso solicitado não existe ou não foi localizado.|[ResponseError](#schemaresponseerror)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presente.|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Erro inesperado.|[ResponseError](#schemaresponseerror)|

### Response Headers

|Status|Header|Type|Format|Description|
|---|---|---|---|---|
|200|x-fapi-interaction-id|string||none|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
OpenId ( Scopes: openid ) & OAuth2Security ( Scopes: consent:consentId insurance-responsibility )
</aside>


<h2 id="obtem-os-dados-de-sinistro-da-apolice-identificada-porinsuranceresponsibilitypolicyidclaims">Obtém os dados de sinistro da apólice identificada por {policyId}</h2>

> Code samples

```python
import requests
headers = {
  'Accept': 'application/json',
  'Authorization': 'string',
  'x-fapi-auth-date': 'stringstringstringstringstrin',
  'x-fapi-customer-ip-address': 'string',
  'x-fapi-interaction-id': 'string',
  'x-customer-user-agent': 'string'
}

r = requests.get('https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility/{policyId}/claim', headers = headers)

print(r.json())

```

```java
URL obj = new URL("https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility/{policyId}/claim");
HttpURLConnection con = (HttpURLConnection) obj.openConnection();
con.setRequestMethod("GET");
int responseCode = con.getResponseCode();
BufferedReader in = new BufferedReader(
    new InputStreamReader(con.getInputStream()));
String inputLine;
StringBuffer response = new StringBuffer();
while ((inputLine = in.readLine()) != null) {
    response.append(inputLine);
}
in.close();
System.out.println(response.toString());

```

`GET /insurance-responsibility/{policyId}/claim`

Método para obter os dados de sinistro associados à apólice

<h3 id="obtém-os-dados-de-sinistro-da-apólice-identificada-por-{policyid}-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|Authorization|header|string|true|Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado.|
|x-fapi-auth-date|header|string|false|Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231). Exemplo: Sun, 10 Sep 2017 19:43:31 UTC|
|x-fapi-customer-ip-address|header|string|false|O endereço IP do usuário se estiver atualmente logado com o receptor.|
|x-fapi-interaction-id|header|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
|x-customer-user-agent|header|string|false|Indica o user-agent que o usuário utiliza.|
|policyId|path|string|true|none|

> Example responses

> 200 Response

```json
{
  "data": [
    {
      "identification": "string",
      "documentationDeliveryDate": "2022-12-31",
      "status": "ABERTO",
      "statusAlterationDate": "2022-12-31",
      "occurrenceDate": "2022-12-31",
      "warningDate": "2022-12-31",
      "thirdPartyClaimDate": "2022-12-31",
      "amount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "denialJustification": "RISCO_EXCLUIDO",
      "denialJustificationDescription": "string",
      "coverages": [
        {
          "insuredObjectId": "string",
          "branch": "0111",
          "code": "DANOS_CAUSADOS_A_TERCEIROS",
          "description": "string",
          "warningDate": "2022-12-31",
          "thirdPartyClaimDate": "2022-12-31"
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-responsibility/v1/insurance-responsibility"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}
```

<h3 id="obtém-os-dados-de-sinistro-da-apólice-identificada-por-{policyid}-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados de ResponseInsuranceResponsibilityClaims obtidos com sucesso|[ResponseInsuranceResponsibilityClaims](#schemaresponseinsuranceresponsibilityclaims)|
|204|[No Content](https://tools.ietf.org/html/rfc7231#section-6.3.5)|O recurso solicitado não existe ou não foi localizado.|[ResponseError](#schemaresponseerror)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presente.|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Erro inesperado.|[ResponseError](#schemaresponseerror)|

### Response Headers

|Status|Header|Type|Format|Description|
|---|---|---|---|---|
|200|x-fapi-interaction-id|string||none|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
OpenId ( Scopes: openid ) & OAuth2Security ( Scopes: consent:consentId insurance-responsibility )
</aside>