openapi: 3.0.0
info:
  title: API Quote Responsibility - Open Insurance Brasil
  description: |
    API de Cotação Responsabilidade do Open Insurance Brasil - Fase 3.\
    Recebe informações da solicitação de cotação e contratação vindas das instituições iniciadoras.\
    Possui um conjunto de endpoints por ramo de produto e um conjunto específico de endpoints para ramos classificados como LEAD OPIN.\
    Requer consentimento do cliente para todos os 'endpoints'.
    
    # Orientações
    A `Role`  do diretório de participantes relacionada à presente API é a ``.\
    Para todos os `endpoints` desta API é previsto o envio de um `token` através do header `Authorization`.\
    Os dados serão entregues pela iniciadora na seguradora desde que o `consentId` relacionado corresponda a um consentimento válido e com o status `AUTHORISED`.\
    Relacionamos a seguir as `permissions` necessárias para o envio de dados em cada `endpoint` da presente API.

    ## Permissions necessárias para a API Quote Responsibility

    Para cada um dos `paths` desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

    ### `/lead/request`
      - permissions:
        - POST: **QUOTE_RESPONSIBILITY_LEAD_CREATE**   
    ### `/lead/request/{consentId}`
      - permissions:      
        - PATCH: **QUOTE_RESPONSIBILITY_LEAD_UPDATE**
    ## Válidações Semanticas - Entidade não processável - 422
      - 1 - `Idempotência:` Valida se há divergência entre chave de idempotência e informações enviadas (ERRO_IDEMPOTENCIA);
      - 2 - `Não Informado:` Valida itens não explicitamente informados pelo servidor - (NAO_INFORMADO). 


  version: 1.9.0
  contact:
    name: Governança do Open Insurance Brasil
    email: gt-interfaces@openinsurancebr.org
    url: 'https://www.gov.br/susep'
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/quote-responsibility/v1'
    description: Servidor de Produção
  - url: 'https://api.organizacao.com.br/open-insurance/quote-responsibility/v1'
    description: Servidor de Homologação
tags:
  - name: ResponsibilityLead
    description: Iniciação de serviço de Cotação Responsabilidade Lead (ResponsibilityLead)
paths:
  /lead/request:
    post:
      tags:
        - ResponsibilityLead
      summary: Envia dados de solicitação de cotação de ResponsibilityLead
      description: "Método para criação de solicitação de cotação de ResponsibilityLead"
      operationId: "postQuoteResponsibilityLead"
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestResponsibilityLead'
      responses:
        '201':
          $ref: '#/components/responses/CreatedResponseQuoteRequestResponsibilityLead'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-responsibility-lead
  /lead/request/{consentId}:
    patch:
      tags:
        - ResponsibilityLead
      summary: Atualiza dados de solicitação de cotação de ResponsibilityLead identificado por consentId
      description: "Método para atualização de solicitação de cotação de ResponsibilityLead"
      operationId: "patchQuoteResponsibilityLead"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokePatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuoteResponsibilityLead'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-responsibility-lead

components:
  schemas:
    PolicyDataResponsibilityLead:
      type: array
      description: Lista que agrupa os dados das apólices históricos em categorias.
      items:
        type: object
        properties:
          policyInfo:
            $ref: '#/components/schemas/InsuranceResponsibilityPolicyInfo'  
          premium:
            $ref: '#/components/schemas/InsuranceResponsibilityPremium'  
          claim:
            $ref: '#/components/schemas/InsuranceResponsibilityClaim' 

    # schemas fase 2

    InsuranceResponsibilityPolicyInfo:    
      type: object
      description: Objeto que agrupa dados de ápolice.
      required:
        - documentType 
        - policyId
        - issuanceType
        - issuanceDate
        - termStartDate
        - termEndDate
        - proposalId
        - insureds
        - insuredObjects
        - branchInfo        
      properties:
        documentType:
          description: Tipo de Documento Emitido
          type: string
          enum: [APOLICE_INDIVIDUAL,
                BILHETE,
                CERTIFICADO,
                APOLICE_INDIVIDUAL_AUTOMOVEL,
                APOLICE_FROTA_AUTOMOVEL,
                CERTIFICADO_AUTOMOVEL]
          example: APOLICE_INDIVIDUAL
        policyId:
          description: Identificador da apólice ou bilhete
          type: string
          maxLength: 60
          example: "111111"
        susepProcessNumber: 
          description: Número SUSEP da apólice, conforme regulamentação vigente (Obrigatório caso apólice com coberturas do ramo Garantia)
          type: string
          maxLength: 60
        groupCertificateId: 
          description: "Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)"
          type: string
          maxLength: 60
        issuanceType: 
          description: "Tipo de Emissão"
          type: string
          enum: [EMISSAO_PROPRIA,
                COSSEGURO_ACEITO]
          example: EMISSAO_PROPRIA
        issuanceDate:
          description: Data de emissão do documento
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        termStartDate: 
          description: Data de início de vigência do documento
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        termEndDate:
          description: Data de fim de vigência do documento
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        leadInsurerCode:
          description: "Código da seguradora líder para contratos com arranjo de cosseguro"
          type: string
          maxLength: 1024
        leadInsurerPolicyId:
          description: "Identificador da apólice seguradora líder para apólice de cosseguro aceito"
          type: string
          maxLength: 1024
        maxLMG:
          description: Valor Limite máximo de garantia (LMG)
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        proposalId:
          description: Identificador da Proposta
          type: string
          maxLength: 60
        insureds:
          type: array
          description: Lista que agrupa os dados dos segurados.
          items:
            $ref: '#/components/schemas/PersonalInfo'  
        beneficiaries: 
          type: array
          description: Lista que agrupa os dados dos beneficiários.
          items:
            $ref: '#/components/schemas/BeneficiaryInfo'
        principals:
          type: array
          description: Lista que agrupa os dados dos tomadores/garantidos.
          items:
            $ref: '#/components/schemas/PrincipalInfo'
        intermediaries:
          type: array
          description: Lista que agrupa os dados de intermediários.
          items:
            $ref: '#/components/schemas/Intermediary'
        insuredObjects:
          type: array
          description: Lista que agrupa os dados de objetos segurados.
          items:
            $ref: '#/components/schemas/InsuranceResponsibilityInsuredObject'
        coverages:    
          type: array
          description: Lista que agrupa os dados das coberturas.
          items:
            $ref: '#/components/schemas/InsuranceResponsibilityCoverage'
        coinsuranceRetainedPercentage:
          description: "Percentual Retido em Cosseguro (Quando há cosseguro)"
          type: string
          pattern: '^100\.0{1,9}$|^\d{1,2}\.\d{1,9}$'
          example: '10.00'
        coinsurers:
          type: array
          description: Lista que agrupa os dados dos cosseguros.
          items:
            $ref: '#/components/schemas/Coinsurer'
        branchInfo:
          $ref: '#/components/schemas/InsuranceResponsibilitySpecificPolicyInfo'
    PersonalInfo:
      type: object
      required:
        - identification
        - identificationType
        - name
        - postCode
        - birthDate
        - city
        - state
        - country
        - address
      properties:
        identification:
          description: Documento de Identificação do Segurado
          type: string
          maxLength: 11
          example: "12345678900"
        identificationType:
          description: Tipo de Documento do Segurado
          type: string
          enum: [
            CPF,
            CNPJ,
            OUTROS
          ]
          example: CPF
        identificationTypeOthers:
          description: Campo de detalhamento para quando a opcao do tipo de documento do segurado for OUTROS
          type: string
          maxLength: 100
          example: RNE
        name:
          description: Nome ou Razão Social do segurado
          type: string
          maxLength: 60
          example: Nome Sobrenome
        birthDate:
          description: Data de nascimento do segurado
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '1999-06-12'
        postCode:
          description: Código Postal do segurado
          type: string
          maxLength: 60
          example: "10000000"
        email:
          description: E-mail do segurado (caso possua)
          type: string
          pattern: ^\S+@\S+\.\S+$
          maxLength: 256
        city:
          description: Cidade do segurado (por extenso)
          type: string
          maxLength: 60
        state:
          description: Estado do segurado (por extenso)
          type: string
          example: AC
          enum: ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO', 'BR', 'XX']
        country:
          description: País do segurado (de acordo com o código "alpha3" do ISO-3166)
          type: string
          enum: [AFG,ALA,ALB,DZA,ASM,AND,AGO,AIA,ATA,ATG,ARG,ARM,ABW,AUS,AUT,AZE,BHS,BHR,BGD,BRB,BLR,BEL,BLZ,BEN,BMU,BTN,BOL,BES,BIH,BWA,BVT,BRA,IOT,BRN,BGR,BFA,BDI,CPV,KHM,CMR,CAN,CYM,CAF,TCD,CHL,CHN,CXR,CCK,COL,COM,COG,COD,COK,CRI,CIV,HRV,CUB,CUW,CYP,CZE,DNK,DJI,DMA,DOM,ECU,EGY,SLV,GNQ,ERI,EST,SWZ,ETH,FLK,FRO,FJI,FIN,FRA,GUF,PYF,ATF,GAB,GMB,GEO,DEU,GHA,GIB,GRC,GRL,GRD,GLP,GUM,GTM,GGY,GIN,GNB,GUY,HTI,HMD,VAT,HND,HKG,HUN,ISL,IND,IDN,IRN,IRQ,IRL,IMN,ISR,ITA,JAM,JPN,JEY,JOR,KAZ,KEN,KIR,PRK,KOR,KWT,KGZ,LAO,LVA,LBN,LSO,LBR,LBY,LIE,LTU,LUX,MAC,MDG,MWI,MYS,MDV,MLI,MLT,MHL,MTQ,MRT,MUS,MYT,MEX,FSM,MDA,MCO,MNG,MNE,MSR,MAR,MOZ,MMR,NAM,NRU,NPL,NLD,NCL,NZL,NIC,NER,NGA,NIU,NFK,MKD,MNP,NOR,OMN,PAK,PLW,PSE,PAN,PNG,PRY,PER,PHL,PCN,POL,PRT,PRI,QAT,REU,ROU,RUS,RWA,BLM,SHN,KNA,LCA,MAF,SPM,VCT,WSM,SMR,STP,SAU,SEN,SRB,SYC,SLE,SGP,SXM,SVK,SVN,SLB,SOM,ZAF,SGS,SSD,ESP,LKA,SDN,SUR,SJM,SWE,CHE,SYR,TWN,TJK,TZA,THA,TLS,TGO,TKL,TON,TTO,TUN,TUR,TKM,TCA,TUV,UGA,UKR,ARE,GBR,USA,UMI,URY,UZB,VUT,VEN,VNM,VGB,VIR,WLF,ESH,YEM,ZMB,ZWE]
          example: BRA 
        address:
          description: Endereço do segurado (restante do endereço, excluindo cidade, estado e país)
          type: string
          maxLength: 60
    BeneficiaryInfo:
      type: object
      required:
        - identification
        - identificationType
        - name
      properties:
        identification:
          description: Documento de Identificação do beneficiário
          type: string
          maxLength: 11
          example: "12345678900"
        identificationType:
          description: Tipo de Documento do beneficiário
          type: string
          enum: [
            CPF,
            CNPJ,
            OUTROS
          ]
          example: CPF
        identificationTypeOthers:
          description: Campo de detalhamento para quando a opcao do tipo de documento do beneficiário for OUTROS
          type: string
          maxLength: 100
          example: RNE
        name:
          description: Nome ou Razão Social do beneficiário
          type: string
          maxLength: 60
          example: Nome Sobrenome
    PrincipalInfo:
      type: object
      required:
        - identification
        - identificationType
        - name
        - postCode
        - city
        - state
        - country
        - address
      properties:
        identification:
          description: Documento de Identificação do Tomador/Garantidor
          type: string
          maxLength: 11
          example: "12345678900"
        identificationType:
          description: Tipo de Documento do Tomador/Garantidor
          type: string
          enum: [
            CPF,
            CNPJ,
            OUTROS
          ]
          example: CPF
        identificationTypeOthers:
          description: Campo de detalhamento para quando a opcao do tipo de documento do Tomador/Garantidor for OUTROS
          type: string
          maxLength: 100
          example: RNE
        name:
          description: Nome ou Razão Social do Tomador/Garantidor
          type: string
          maxLength: 60
          example: Nome Sobrenome
        postCode:
          description: Código Postal do Tomador/Garantidor
          type: string
          maxLength: 60
          example: "10000000"
        email:
          description: E-mail do Tomador/Garantidor (caso possua)
          type: string
          pattern: ^\S+@\S+\.\S+$
          maxLength: 256
        city:
          description: Cidade do Tomador/Garantidor (por extenso)
          type: string
          maxLength: 60
        state:
          description: Estado do Tomador/Garantidor (por extenso)
          type: string
          example: AC
          enum: ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO', 'BR', 'XX']
        country:
          description: País do Tomador/Garantidor (de acordo com o código "alpha3" do ISO-3166)
          type: string
          enum: [AFG,ALA,ALB,DZA,ASM,AND,AGO,AIA,ATA,ATG,ARG,ARM,ABW,AUS,AUT,AZE,BHS,BHR,BGD,BRB,BLR,BEL,BLZ,BEN,BMU,BTN,BOL,BES,BIH,BWA,BVT,BRA,IOT,BRN,BGR,BFA,BDI,CPV,KHM,CMR,CAN,CYM,CAF,TCD,CHL,CHN,CXR,CCK,COL,COM,COG,COD,COK,CRI,CIV,HRV,CUB,CUW,CYP,CZE,DNK,DJI,DMA,DOM,ECU,EGY,SLV,GNQ,ERI,EST,SWZ,ETH,FLK,FRO,FJI,FIN,FRA,GUF,PYF,ATF,GAB,GMB,GEO,DEU,GHA,GIB,GRC,GRL,GRD,GLP,GUM,GTM,GGY,GIN,GNB,GUY,HTI,HMD,VAT,HND,HKG,HUN,ISL,IND,IDN,IRN,IRQ,IRL,IMN,ISR,ITA,JAM,JPN,JEY,JOR,KAZ,KEN,KIR,PRK,KOR,KWT,KGZ,LAO,LVA,LBN,LSO,LBR,LBY,LIE,LTU,LUX,MAC,MDG,MWI,MYS,MDV,MLI,MLT,MHL,MTQ,MRT,MUS,MYT,MEX,FSM,MDA,MCO,MNG,MNE,MSR,MAR,MOZ,MMR,NAM,NRU,NPL,NLD,NCL,NZL,NIC,NER,NGA,NIU,NFK,MKD,MNP,NOR,OMN,PAK,PLW,PSE,PAN,PNG,PRY,PER,PHL,PCN,POL,PRT,PRI,QAT,REU,ROU,RUS,RWA,BLM,SHN,KNA,LCA,MAF,SPM,VCT,WSM,SMR,STP,SAU,SEN,SRB,SYC,SLE,SGP,SXM,SVK,SVN,SLB,SOM,ZAF,SGS,SSD,ESP,LKA,SDN,SUR,SJM,SWE,CHE,SYR,TWN,TJK,TZA,THA,TLS,TGO,TKL,TON,TTO,TUN,TUR,TKM,TCA,TUV,UGA,UKR,ARE,GBR,USA,UMI,URY,UZB,VUT,VEN,VNM,VGB,VIR,WLF,ESH,YEM,ZMB,ZWE]
          example: BRA 
        address:
          description: Endereço do Tomador/Garantidor (restante do endereço, excluindo cidade, estado e país)
          type: string
          maxLength: 60
        addressAdditionalInfo:
          description: Complemento do endereço do Tomador/Garantidor.
          type: string
          maxLength: 30
          example: Fundos
    Intermediary:
      type: object
      required:
        - name
      properties:
        type:
          description: Tipo do Intermediador
          type: string
          enum: [ 
            CORRETOR,
            REPRESENTANTE,
            ESTIPULANTE_AVERBADOR_INSTITUIDOR,
            CORRESPONDENTE,
            AGENTE_DE_MICROSSEGUROS,
            OUTROS
          ]
          example: REPRESENTANTE
        identification:
          description: Documento de Identificação do Intermediador(a) (Caso Tipo de Intermediador não seja CORRETOR ou quando for CORRETOR, porém o identificador do intermediador não seja informado)
          type: string
          maxLength: 60
          pattern: '^\d{1,60}$'
          example: "12345678900"
        brokerId:
          description: Identificador do intermediador da apólice - código Susep do corretor(a) (Caso Tipo de Intermediador for CORRETOR)
          type: string
          maxLength: 100
        identificationType:
          description: Tipo de Documento do Intermediador(a) (Caso Tipo de Intermediador não seja CORRETOR ou quando for CORRETOR, porém o identificador do intermediador não seja informado)
          type: string
          enum: [
            CPF,
            CNPJ,
            OUTROS
          ]
          example: CPF
        name:
          description: Nome ou Razão Social da Intermediador
          type: string
          maxLength: 60
          example: Nome Sobrenome
        postCode:
          description: Código Postal da Intermediador (Caso Tipo de Intermediador for ESTIPULANTE) 
          type: string
          maxLength: 60
          example: "10000000"
        city:
          description: Cidade da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 60
        state:
          description: Estado da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 60
        country:
          description: País da Intermediador (de acordo com o código "alpha3" do ISO-3166; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 3
          enum: [AFG,ALA,ALB,DZA,ASM,AND,AGO,AIA,ATA,ATG,ARG,ARM,ABW,AUS,AUT,AZE,BHS,BHR,BGD,BRB,BLR,BEL,BLZ,BEN,BMU,BTN,BOL,BES,BIH,BWA,BVT,BRA,IOT,BRN,BGR,BFA,BDI,CPV,KHM,CMR,CAN,CYM,CAF,TCD,CHL,CHN,CXR,CCK,COL,COM,COG,COD,COK,CRI,CIV,HRV,CUB,CUW,CYP,CZE,DNK,DJI,DMA,DOM,ECU,EGY,SLV,GNQ,ERI,EST,SWZ,ETH,FLK,FRO,FJI,FIN,FRA,GUF,PYF,ATF,GAB,GMB,GEO,DEU,GHA,GIB,GRC,GRL,GRD,GLP,GUM,GTM,GGY,GIN,GNB,GUY,HTI,HMD,VAT,HND,HKG,HUN,ISL,IND,IDN,IRN,IRQ,IRL,IMN,ISR,ITA,JAM,JPN,JEY,JOR,KAZ,KEN,KIR,PRK,KOR,KWT,KGZ,LAO,LVA,LBN,LSO,LBR,LBY,LIE,LTU,LUX,MAC,MDG,MWI,MYS,MDV,MLI,MLT,MHL,MTQ,MRT,MUS,MYT,MEX,FSM,MDA,MCO,MNG,MNE,MSR,MAR,MOZ,MMR,NAM,NRU,NPL,NLD,NCL,NZL,NIC,NER,NGA,NIU,NFK,MKD,MNP,NOR,OMN,PAK,PLW,PSE,PAN,PNG,PRY,PER,PHL,PCN,POL,PRT,PRI,QAT,REU,ROU,RUS,RWA,BLM,SHN,KNA,LCA,MAF,SPM,VCT,WSM,SMR,STP,SAU,SEN,SRB,SYC,SLE,SGP,SXM,SVK,SVN,SLB,SOM,ZAF,SGS,SSD,ESP,LKA,SDN,SUR,SJM,SWE,CHE,SYR,TWN,TJK,TZA,THA,TLS,TGO,TKL,TON,TTO,TUN,TUR,TKM,TCA,TUV,UGA,UKR,ARE,GBR,USA,UMI,URY,UZB,VUT,VEN,VNM,VGB,VIR,WLF,ESH,YEM,ZMB,ZWE]
          example: BRA 
        address:
          description: Endereço da Intermediador (restante do do endereço, excluindo cidade, estado e país; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 60
    InsuranceResponsibilityInsuredObject:
      type: object
      required:
        - type
        - description
        - coverages
      properties:
        identification:
          type: string
          maxLength: 100
          description: "Identificador do objeto segurado. Obs.: Para Fiança Locatícia, é a identificação do Contrato de Locação."
        type:
          type: string
          description: Tipo do objeto segurado
          example: CONTRATO
          enum: [CONTRATO,
                PROCESSO_ADMINISTRATIVO,
                PROCESSO_JUDICIAL,
                AUTOMOVEL,
                CONDUTOR,
                FROTA,
                PESSOA,
                OUTROS]
        typeAdditionalInfo:
          type: string
          maxLength: 100
          description: "Descrição do tipo do objeto segurado(caso tipo de objeto segurado for outros)."
        description: 
          type: string
          maxLength: 1024
          description: Descrição do objeto segurado 
        amount:
          $ref: '#/components/schemas/AmountDetails'
        coverages:
          type: array
          items:
            $ref: '#/components/schemas/InsuranceResponsibilityInsuredObjectCoverage'
    InsuranceResponsibilityInsuredObjectCoverage:
      type: object
      required:
        - branch
        - code
        - susepProcessNumber
        - LMI
        - termStartDate
        - termEndDate
        - feature
        - type
        - premiumPeriodicity
      properties:
        branch:
          type: string
          maxLength: 4
          example: '0111'
          description: Grupo e Ramo da Cobertura (Conforme regulamentação Susep vigente)
        code:
            type: string
            description: Código da cobertura (Vide Tabela 50 até Tabela 62)
            example: DANOS_CAUSADOS_A_TERCEIROS
            enum: [
              DANOS_CAUSADOS_A_TERCEIROS,
              INSTALACOES_FIXAS,
              TRANSPORTE_AMBIENTAL,
              OBRAS_E_PRESTACAO_DE_SERVICO,
              ALAGAMENTO_E_OU_INUNDACAO,
              ANUNCIOS_E_ANTENAS,
              ASSISTENCIAS_TECNICAS_E_MECANICAS,
              CONDOMINIOS_PROPRIETARIOS_E_LOCATARIOS_DE_IMOVEIS,
              CUSTOS_DE_DEFESA_DO_SEGURADO,
              DANOS_CAUSADOS_POR_FALHAS_DE_PROFISSIONAL_DA_AREA_MEDICA,
              DANOS_CAUSADOS_POR_FOGOS_DE_ARTIFICIO,
              DANOS_ESTETICOS,
              DANOS_MORAIS,
              DESPESAS_EMERGENCIAIS_DESPESAS_DE_CONTENCAO_E_DESPESAS_DE_SALVAMENTO_DE_SINISTRO,
              EMPREGADOR_EMPREGADOS,
              EMPRESAS_DE_SERVICOS,
              EQUIPAMENTOS_DE_TERCEIROS_OPERADOS_PELO_SEGURADO,
              ERRO_DE_PROJETO,
              EXCURSOES_EVENTOS_EXPOSICOES_E_ATIVIDADES,
              FAMILIAR,
              FINANCEIRO,
              FORO,
              INDUSTRIA_E_COMERCIO,
              LOCAIS_E_OU_ESTABELECIMENTOS_DE_QUALQUER_NATUREZA,
              OBRAS,
              OPERACOES_DE_QUALQUER_NATUREZA,
              POLUICAO,
              PRESTACAO_DE_SERVICOS,
              PRODUTOS,
              RECALL,
              RECLAMACOES_DECORRENTES_DO_FORNECIMENTO_DE_COMESTIVEIS_OU_BEBIDAS,
              SINDICO,
              TELEFERICOS_E_SIMILARES,
              TRANSPORTE_DE_BENS_OU_PESSOAS,
              VEICULOS_EMBARCACOES_BENS_E_MERCADORIAS,
              RESPONSABILIZACAO_CIVIL_VINCULADA_A_PRESTACAO_DE_SERVICOS_PROFISSIONAIS_OBJETO_DA_ATIVIDADE_DO_SEGURADO,
              RESPONSABILIDADE_CIVIL_PERANTE_TERCEIROS,
              PERDAS_DIRETAS_AO_SEGURADO,
              GERENCIAMENTO_DE_CRISE,
              OUTRAS
            ]
        description:
          type: string
          maxLength: 500
          description: "Descrição / Nome da Cobertura (Obrigatório quando o campo 'Codigo' for preenchido com 'Outras')"
        internalCode:
          type: string
          maxLength: 500
          description: "Código interno da cobertura da seguradora(obrigatório se houver)"
        susepProcessNumber:
            type: string
            description: Número do processo SUSEP relacionado à cobertura
            maxLength: 50
        LMI:
          description: Valor Limite Máximo de Indenização (LMI).
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        isLMISublimit:
          type: boolean
          description: Limite máximo de indenização (LMI) é sublimite (Caso aplicável)
        termStartDate: 
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
          description: "Data de início de vigência da cobertura"
        termEndDate:  
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
          description: "Data de fim de vigência da cobertura"
        isMainCoverage:
          type: boolean
          description: "Cobertura Principal"
        feature:
          type: string
          description: "Característica da cobertura"
          example: MASSIFICADOS
          enum: [MASSIFICADOS,
                MASSIFICADOS_MICROSEGUROS,
                GRANDES_RISCOS]
        type:    
          type: string
          description: "Tipo de cobertura"
          example: PARAMETRICO
          enum: [PARAMETRICO,
                INTERMITENTE,
                REGULAR_COMUM,
                CAPITAL_GLOBAL,
                PARAMETRICO_E_INTERMITENTE]    
        gracePeriod:
          type: integer
          maxLength: 5
          description: "Período de carência. OBS: Obrigatório, se houver"       
        gracePeriodicity:
          type: string
          description: "Periodicidade da carência. OBS: Obrigatório, se houver"
          example: DIA
          enum: [DIA,
                MES,
                ANO]     
        gracePeriodCountingMethod:   
          type: string
          description: "Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver"
          example: DIAS_UTEIS
          enum: [DIAS_UTEIS,
                DIAS_CORRIDOS] 
        gracePeriodStartDate:            
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
          description: "Data de início da carência. OBS: Obrigatório, se houver"
        gracePeriodEndDate:            
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
          description: "Data de fim da carência. OBS: Obrigatório, se houver"
        premiumPeriodicity:
          description: Periodicidade de pagamento do premio
          type: string
          example: MENSAL
          enum: [MENSAL,
                BIMESTRAL,
                TRIMESTRAL,
                QUADRIMESTRAL,
                SEMESTRAL,
                ANUAL,
                ESPORADICA,
                PAGAMENTO_UNICO,
                OUTROS]
        premiumPeriodicityOthers:
          description: Descricao da Periodicidade de pagamento do premio quando for informada a opcao OUTROS
          type: string
          maxLength: 100
    InsuranceResponsibilityCoverage:
      type: object
      required:
        - branch
        - code
      minProperties: 3
      properties:
        branch:
          description: Grupo e ramo da cobertura (Conforme regulamentação Susep vigente)
          type: string
          maxLength: 4
          example: '0111'
        code:
            type: string
            description: Código da cobertura (Vide Tabela 50 até Tabela 62)
            example: DANOS_CAUSADOS_A_TERCEIROS
            enum: [
              DANOS_CAUSADOS_A_TERCEIROS,
              INSTALACOES_FIXAS,
              TRANSPORTE_AMBIENTAL,
              OBRAS_E_PRESTACAO_DE_SERVICO,
              ALAGAMENTO_E_OU_INUNDACAO,
              ANUNCIOS_E_ANTENAS,
              ASSISTENCIAS_TECNICAS_E_MECANICAS,
              CONDOMINIOS_PROPRIETARIOS_E_LOCATARIOS_DE_IMOVEIS,
              CUSTOS_DE_DEFESA_DO_SEGURADO,
              DANOS_CAUSADOS_POR_FALHAS_DE_PROFISSIONAL_DA_AREA_MEDICA,
              DANOS_CAUSADOS_POR_FOGOS_DE_ARTIFICIO,
              DANOS_ESTETICOS,
              DANOS_MORAIS,
              DESPESAS_EMERGENCIAIS_DESPESAS_DE_CONTENCAO_E_DESPESAS_DE_SALVAMENTO_DE_SINISTRO,
              EMPREGADOR_EMPREGADOS,
              EMPRESAS_DE_SERVICOS,
              EQUIPAMENTOS_DE_TERCEIROS_OPERADOS_PELO_SEGURADO,
              ERRO_DE_PROJETO,
              EXCURSOES_EVENTOS_EXPOSICOES_E_ATIVIDADES,
              FAMILIAR,
              FINANCEIRO,
              FORO,
              INDUSTRIA_E_COMERCIO,
              LOCAIS_E_OU_ESTABELECIMENTOS_DE_QUALQUER_NATUREZA,
              OBRAS,
              OPERACOES_DE_QUALQUER_NATUREZA,
              POLUICAO,
              PRESTACAO_DE_SERVICOS,
              PRODUTOS,
              RECALL,
              RECLAMACOES_DECORRENTES_DO_FORNECIMENTO_DE_COMESTIVEIS_OU_BEBIDAS,
              SINDICO,
              TELEFERICOS_E_SIMILARES,
              TRANSPORTE_DE_BENS_OU_PESSOAS,
              VEICULOS_EMBARCACOES_BENS_E_MERCADORIAS,
              RESPONSABILIZACAO_CIVIL_VINCULADA_A_PRESTACAO_DE_SERVICOS_PROFISSIONAIS_OBJETO_DA_ATIVIDADE_DO_SEGURADO,
              RESPONSABILIDADE_CIVIL_PERANTE_TERCEIROS,
              PERDAS_DIRETAS_AO_SEGURADO,
              GERENCIAMENTO_DE_CRISE,
              OUTRAS
            ]
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        deductible:
          $ref: '#/components/schemas/Deductible'
        POS:
          $ref: '#/components/schemas/POS'
    Deductible:
      type: object
      description: Informações de franquia
      required:
        - type
        - amount
        - period
        - periodicity
        - periodStartDate
        - periodEndDate
        - description
      properties:
        type:
          description: Tipo de Franquia
          type: string
          enum: [
            REDUZIDA,
            NORMAL,
            MAJORADA,
            DEDUTIVEL,
            OUTROS
          ]
          example: DEDUTIVEL
        typeAdditionalInfo:
          description: Descriçao do Tipo de Franquia (Caso Tipo de Franquia for "OUTROS")
          type: string
          maxLength: 500
        amount:
          $ref: '#/components/schemas/AmountDetails'
        period:
          description: Prazo da Franquia
          type: integer
          maxLength: 5
          example: 10
        periodicity:
          description: Periodicidade da Franquia
          type: string
          enum: [
            DIA,
            MES,
            ANO
          ]
          example: DIA
        periodCountingMethod:
          description: Indicador de Dias Úteis ou Corridos (Caso aplicável)
          type: string
          enum: [
            DIAS_UTEIS,
            DIAS_CORRIDOS
          ]
          example: DIAS_UTEIS
        periodStartDate:
          description: Data de Início da Franquia
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-05-16'
        periodEndDate:
          description: Data de Fim da Franquia
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-05-17'
        description:
          description: Descrição da Franquia
          type: string
          maxLength: 60
          example: Franquia de exemplo
    POS:
      type: object
      description: Informações da POS
      required:
        - applicationType
        - description
      properties:
        applicationType:
          description: Forma de Aplicação do POS
          type: string
          enum: [
            VALOR,
            PERCENTUAL,
            OUTROS
          ]
          example: VALOR
        description:
          description: Descricao do POS (caso Forma de aplicacao do POS for Outros)
          type: string
          maxLength: 60
          example: "Descrição de exemplo"
        minValue:
          $ref: '#/components/schemas/AmountDetails'
        maxValue:
          $ref: '#/components/schemas/AmountDetails'
        percentage:
          $ref: '#/components/schemas/AmountDetails'
        valueOthers: 
          $ref: '#/components/schemas/AmountDetails'
    Coinsurer:
      type: object
      required:
        - identification
        - cededPercentage
      properties:
        identification:
          description: "Identificação da congênere, cessionário do cosseguro. Obs: Obrigatório quando há cosseguro"
          type: string
          maxLength: 60
        cededPercentage:
          description: "Percentual cedido para a congênere para contratos de cosseguro cedido. Obs: Obrigatório quando há cosseguro"
          type: string
          pattern: '^100\.0{1,9}$|^\d{1,2}\.\d{1,9}$'
          example: '10.00'
    InsuranceResponsibilityPremium:
      type: object
      description: Objeto que agrupa dados de prêmio.
      required:
        - amount
        - paymentsQuantity
        - coverages
        - payments
      properties:
        paymentsQuantity:
          description: Quantidade de parcelas do prêmio do contrato.
          type: integer
          maxLength: 3
          example: 4
        amount:
          description: Valor total do premio do contrato
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/InsuranceResponsibilityPremiumCoverage'
        payments:
          type: array
          description: Lista que agrupa os dados de pagamentos.
          items:
            $ref: '#/components/schemas/Payment'
    InsuranceResponsibilityPremiumCoverage:
      type: object
      required:
        - branch
        - code
        - premiumAmount
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
            type: string
            description: Codigo da cobertura (Vide Tabela 50 até Tabela 62)
            example: DANOS_CAUSADOS_A_TERCEIROS
            enum: [
              DANOS_CAUSADOS_A_TERCEIROS,
              INSTALACOES_FIXAS,
              TRANSPORTE_AMBIENTAL,
              OBRAS_E_PRESTACAO_DE_SERVICO,
              ALAGAMENTO_E_OU_INUNDACAO,
              ANUNCIOS_E_ANTENAS,
              ASSISTENCIAS_TECNICAS_E_MECANICAS,
              CONDOMINIOS_PROPRIETARIOS_E_LOCATARIOS_DE_IMOVEIS,
              CUSTOS_DE_DEFESA_DO_SEGURADO,
              DANOS_CAUSADOS_POR_FALHAS_DE_PROFISSIONAL_DA_AREA_MEDICA,
              DANOS_CAUSADOS_POR_FOGOS_DE_ARTIFICIO,
              DANOS_ESTETICOS,
              DANOS_MORAIS,
              DESPESAS_EMERGENCIAIS_DESPESAS_DE_CONTENCAO_E_DESPESAS_DE_SALVAMENTO_DE_SINISTRO,
              EMPREGADOR_EMPREGADOS,
              EMPRESAS_DE_SERVICOS,
              EQUIPAMENTOS_DE_TERCEIROS_OPERADOS_PELO_SEGURADO,
              ERRO_DE_PROJETO,
              EXCURSOES_EVENTOS_EXPOSICOES_E_ATIVIDADES,
              FAMILIAR,
              FINANCEIRO,
              FORO,
              INDUSTRIA_E_COMERCIO,
              LOCAIS_E_OU_ESTABELECIMENTOS_DE_QUALQUER_NATUREZA,
              OBRAS,
              OPERACOES_DE_QUALQUER_NATUREZA,
              POLUICAO,
              PRESTACAO_DE_SERVICOS,
              PRODUTOS,
              RECALL,
              RECLAMACOES_DECORRENTES_DO_FORNECIMENTO_DE_COMESTIVEIS_OU_BEBIDAS,
              SINDICO,
              TELEFERICOS_E_SIMILARES,
              TRANSPORTE_DE_BENS_OU_PESSOAS,
              VEICULOS_EMBARCACOES_BENS_E_MERCADORIAS,
              RESPONSABILIZACAO_CIVIL_VINCULADA_A_PRESTACAO_DE_SERVICOS_PROFISSIONAIS_OBJETO_DA_ATIVIDADE_DO_SEGURADO,
              RESPONSABILIDADE_CIVIL_PERANTE_TERCEIROS,
              PERDAS_DIRETAS_AO_SEGURADO,
              GERENCIAMENTO_DE_CRISE,
              OUTRAS
            ]
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        premiumAmount:
          description: Informar para cada cobertura o valor de prêmio da cobertura na moeda de emissão do contrato
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
    Payment:
      type: object
      required:
        - movementDate
        - movementType
        - movementPaymentsNumber
        - amount
        - maturityDate
      properties:
        movementDate:
          description: Data do movimento de prêmio
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        movementType:
          description: Tipo do Movimento
          type: string
          enum: [LIQUIDACAO_DE_PREMIO,
                LIQUIDACAO_DE_RESTITUICAO_DE_PREMIO,
                LIQUIDACAO_DE_CUSTO_DE_AQUISICAO,
                LIQUIDACAO_DE_RESTITUICAO_DE_CUSTO_DE_AQUISICAO,
                ESTORNO_DE_PREMIO,
                ESTORNO_DE_RESTITUICAO_DE_PREMIO,
                ESTORNO_DE_CUSTO_DE_AQUISICAO,
                EMISSAO_DE_PREMIO_SEM_ENDOSSO,
                CANCELAMENTO_DE_PARCELA,
                EMISSAO_DE_RESTITUICAO_DE_PREMIO_SEM_ENDOSSO,
                REABERTURA_DE_PARCELA,
                BAIXA_POR_PERDA,
                CANCELAMENTO_DE_PREMIO_E_PARCELA_SEM_ENDOSSO,
                COMPENSACAO_FINANCEIRA]
          example: LIQUIDACAO_DE_PREMIO
        movementOrigin:
          description: "Origem do Movimento. Obs: Obrigatório caso Tipo de Movimento for LIQUIDACAO_DE_PREMIO e ESTORNO_DE_PREMIO"
          type: string
          enum: [EMISSAO_DIRETA,
            EMISSAO_ACEITA_DE_COSSEGURO,
            EMISSAO_CEDIDA_DE_COSSEGURO]
          example: EMISSAO_DIRETA
        movementPaymentsNumber:
          description: Identificador da parcela do movimento
          type: string
          maxLength: 3
        amount:
          $ref: '#/components/schemas/AmountDetails'
        maturityDate:
          description: Data de Vencimento da Parcela
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        tellerId:
          description: "Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          maxLength: 1024
        tellerIdType:
          description: "Tipo do Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          enum: [CPF,
            CNPJ,
            OUTROS]
          example: CPF
        tellerIdOthers:
          description: Descricao do campo de tipo do documento do pagador/recebedor quando a opcao escolhida for OUTROS
          type: string
          maxLength: 100
          example: RNE
        tellerName:
          description: "Nome ou Razão Social do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          maxLength: 100
        financialInstitutionCode:
          description: "Código da Instituição Financeiro do Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          maxLength: 100
        paymentType:
          description: "Meio de Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          enum: [BOLETO,
                TED,
                TEF,
                CARTAO,
                DOC,
                CHEQUE,
                COMUNICABILIDADE,
                DESCONTO_EM_FOLHA,  
                PIX,
                DINHEIRO_EM_ESPECIE,
                OUTROS]
          example: BOLETO
        paymentTypeOthers:
          description: Campo de detalhamento para quando a opcao do meio de pagamento for OUTROS
          type: string
          maxLength: 100
    InsuranceResponsibilityClaim:
      type: object
      description: Objeto que agrupa dados de sinistro.
      required:
        - identification
        - status
        - statusAlterationDate
        - occurrenceDate
        - warningDate
        - amount
        - coverages
      properties:
        identification:
          description: Identificador do processo de sinistro
          type: string
          maxLength: 50
        documentationDeliveryDate:
          description: Data de entrega da documentação completa
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        status:
          description: Status do sinistro     
          type: string
          example: ABERTO
          enum: [ABERTO,
                ENCERRADO_COM_INDENIZACAO,
                ENCERRADO_SEM_INDENIZACAO,
                REABERTO,
                CANCELADO_POR_ERRO_OPERACIONAL,
                AVALIACAO_INICIAL]
        statusAlterationDate:
          description: Data de alteração do status do sinistro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        occurrenceDate:
          description: Data de ocorrência do sinistro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        warningDate:
          description: Data de aviso do sinistro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        thirdPartyClaimDate:
          description: Data de reclamação do terceiro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        amount:
          description: Valor total bruto do sinistro considerando todos os movimentos e suas reavaliações. Não devem ser considerados valores de deduções (por exemplo, redutores e ressarcimento salvado)
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        denialJustification:
          description: "Justificativa da Negativa(Caso Status do Sinistro for 'ENCERRADO_SEM_INDENIZACAO')"
          type: string
          example: RISCO_EXCLUIDO
          enum: [RISCO_EXCLUIDO,
            RISCO_AGRAVADO,
            SEM_DOCUMENTACAO,
            DOCUMENTACAO_INCOMPLETA,
            PRESCRICAO,
            FORA_COBERTURA,
            OUTROS]
        denialJustificationDescription:
          description: "Descrição da Justificativa da Negativa(Caso Justificativa da Negativa for 'OUTROS')"
          type: string
          maxLength: 100  
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/InsuranceResponsibilityClaimCoverage'   
    InsuranceResponsibilityClaimCoverage:
      type: object
      required:
        - branch
        - code
      properties:
        insuredObjectId:
          description: Identificador do Objeto Segurado (Caso aplicável)
          type: string
          maxLength: 100
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
            type: string
            description: Codigo da cobertura (Vide Tabela 50 até Tabela 62)
            example: DANOS_CAUSADOS_A_TERCEIROS
            enum: [
              DANOS_CAUSADOS_A_TERCEIROS,
              INSTALACOES_FIXAS,
              TRANSPORTE_AMBIENTAL,
              OBRAS_E_PRESTACAO_DE_SERVICO,
              ALAGAMENTO_E_OU_INUNDACAO,
              ANUNCIOS_E_ANTENAS,
              ASSISTENCIAS_TECNICAS_E_MECANICAS,
              CONDOMINIOS_PROPRIETARIOS_E_LOCATARIOS_DE_IMOVEIS,
              CUSTOS_DE_DEFESA_DO_SEGURADO,
              DANOS_CAUSADOS_POR_FALHAS_DE_PROFISSIONAL_DA_AREA_MEDICA,
              DANOS_CAUSADOS_POR_FOGOS_DE_ARTIFICIO,
              DANOS_ESTETICOS,
              DANOS_MORAIS,
              DESPESAS_EMERGENCIAIS_DESPESAS_DE_CONTENCAO_E_DESPESAS_DE_SALVAMENTO_DE_SINISTRO,
              EMPREGADOR_EMPREGADOS,
              EMPRESAS_DE_SERVICOS,
              EQUIPAMENTOS_DE_TERCEIROS_OPERADOS_PELO_SEGURADO,
              ERRO_DE_PROJETO,
              EXCURSOES_EVENTOS_EXPOSICOES_E_ATIVIDADES,
              FAMILIAR,
              FINANCEIRO,
              FORO,
              INDUSTRIA_E_COMERCIO,
              LOCAIS_E_OU_ESTABELECIMENTOS_DE_QUALQUER_NATUREZA,
              OBRAS,
              OPERACOES_DE_QUALQUER_NATUREZA,
              POLUICAO,
              PRESTACAO_DE_SERVICOS,
              PRODUTOS,
              RECALL,
              RECLAMACOES_DECORRENTES_DO_FORNECIMENTO_DE_COMESTIVEIS_OU_BEBIDAS,
              SINDICO,
              TELEFERICOS_E_SIMILARES,
              TRANSPORTE_DE_BENS_OU_PESSOAS,
              VEICULOS_EMBARCACOES_BENS_E_MERCADORIAS,
              RESPONSABILIZACAO_CIVIL_VINCULADA_A_PRESTACAO_DE_SERVICOS_PROFISSIONAIS_OBJETO_DA_ATIVIDADE_DO_SEGURADO,
              RESPONSABILIDADE_CIVIL_PERANTE_TERCEIROS,
              PERDAS_DIRETAS_AO_SEGURADO,
              GERENCIAMENTO_DE_CRISE,
              OUTRAS
            ]
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        warningDate:
          description: Data de Aviso do Sinistro por Cobertura (Caso aplicável)
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        thirdPartyClaimDate:
          description: Data de Reclamação do Terceiro por Cobertura (Caso aplicável)
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
    InsuranceResponsibilitySpecificPolicyInfo:
      type: object
      description: Informações do Anexo Específico
      required:
        - coverages
        - insuredObjects
      properties: 
        coverages: 
          type: array
          items:
            $ref: '#/components/schemas/InsuranceResponsibilitySpecificCoverage'      
        insuredObjects:
          type: array
          description: Lista que agrupa os dados de objetos segurados.
          items:
            $ref: '#/components/schemas/InsuranceResponsibilitySpecificInsuredObject' 
    InsuranceResponsibilitySpecificCoverage:
      type: object
      required:
        - branch
        - code
      properties: 
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
            type: string
            description: Codigo da cobertura (Vide Tabela 50 até Tabela 62)
            example: DANOS_CAUSADOS_A_TERCEIROS
            enum: [
              DANOS_CAUSADOS_A_TERCEIROS,
              INSTALACOES_FIXAS,
              TRANSPORTE_AMBIENTAL,
              OBRAS_E_PRESTACAO_DE_SERVICO,
              ALAGAMENTO_E_OU_INUNDACAO,
              ANUNCIOS_E_ANTENAS,
              ASSISTENCIAS_TECNICAS_E_MECANICAS,
              CONDOMINIOS_PROPRIETARIOS_E_LOCATARIOS_DE_IMOVEIS,
              CUSTOS_DE_DEFESA_DO_SEGURADO,
              DANOS_CAUSADOS_POR_FALHAS_DE_PROFISSIONAL_DA_AREA_MEDICA,
              DANOS_CAUSADOS_POR_FOGOS_DE_ARTIFICIO,
              DANOS_ESTETICOS,
              DANOS_MORAIS,
              DESPESAS_EMERGENCIAIS_DESPESAS_DE_CONTENCAO_E_DESPESAS_DE_SALVAMENTO_DE_SINISTRO,
              EMPREGADOR_EMPREGADOS,
              EMPRESAS_DE_SERVICOS,
              EQUIPAMENTOS_DE_TERCEIROS_OPERADOS_PELO_SEGURADO,
              ERRO_DE_PROJETO,
              EXCURSOES_EVENTOS_EXPOSICOES_E_ATIVIDADES,
              FAMILIAR,
              FINANCEIRO,
              FORO,
              INDUSTRIA_E_COMERCIO,
              LOCAIS_E_OU_ESTABELECIMENTOS_DE_QUALQUER_NATUREZA,
              OBRAS,
              OPERACOES_DE_QUALQUER_NATUREZA,
              POLUICAO,
              PRESTACAO_DE_SERVICOS,
              PRODUTOS,
              RECALL,
              RECLAMACOES_DECORRENTES_DO_FORNECIMENTO_DE_COMESTIVEIS_OU_BEBIDAS,
              SINDICO,
              TELEFERICOS_E_SIMILARES,
              TRANSPORTE_DE_BENS_OU_PESSOAS,
              VEICULOS_EMBARCACOES_BENS_E_MERCADORIAS,
              RESPONSABILIZACAO_CIVIL_VINCULADA_A_PRESTACAO_DE_SERVICOS_PROFISSIONAIS_OBJETO_DA_ATIVIDADE_DO_SEGURADO,
              RESPONSABILIDADE_CIVIL_PERANTE_TERCEIROS,
              PERDAS_DIRETAS_AO_SEGURADO,
              GERENCIAMENTO_DE_CRISE,
              OUTRAS
            ]
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        type:
          description: Base de indenização
          type: string
          example: POR_OCORRENCIA
          enum: [POR_OCORRENCIA,
                POR_RECLAMACAO,
                OUTRA]
        typeDescription: 
          description: "Descrição base de indenização(Caso Base de Indenização for 'Outra')"
          type: string
          maxLength: 500
        retroactivityDate: 
          description: "Data limite da retroatividade(Caso Base de Indenização for 'Por Reclamação')."
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        retroactivityPeriod: 
          description: "Prazo de retroatividade(Caso Base de Indenização for 'Por Reclamação')"
          type: string
          maxLength: 100
        retroactivityTimeUnit:
          description: "Unidade de tempo de retroatividade(Caso Base de Indenização for 'Por Reclamação')"
          type: string
          enum: [DIA,
                MES,
                ANO]  
          example: DIA
        retroactivityWorkingDaysIndex: 
          description: "Indicador de dias úteis de retroatividade(Caso Base de Indenização for 'Por Reclamação')."
          type: string
          enum: [DIAS_UTEIS,
                DIAS_CORRIDOS]
          example: DIAS_UTEIS
        complementaryTermStartDate:
          description: "Data de início do prazo Adicional complementar(Caso Base de Indenização for 'Por Reclamação')."
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        complementaryTermEndDate:
          description: "Data de Fim do prazo Adicional complementar(Caso Base de Indenização for 'Por Reclamação')."
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'
        complementaryTerm:
          description: "Prazo Adicional complementar(Caso Base de Indenização for 'Por Reclamação')"
          type: string
          maxLength: 100
        complementaryTermTimeUnit:  
          description: "Unidade do prazo Adicional complementar(Caso Base de Indenização for 'Por Reclamação')"
          type: string
          enum: [DIA,
                MES,
                ANO]
          example: DIA
        complementaryTermWorkingDaysIndex:        
          description: "Indicador de dias úteis do prazo Adicional complementar(Caso Base de Indenização for 'Por Reclamação')."
          type: string
          enum: [DIAS_UTEIS,
                DIAS_CORRIDOS]
          example: DIAS_UTEIS
        supplementaryTermStartDate:     
          description: Data de início do prazo Adicional suplementar(Caso Base de Indenização for 'Por Reclamação').
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'          
        supplementaryTermEndDate:   
          description: Data de fim do prazo Adicional suplementar(Caso Base de Indenização for 'Por Reclamação').
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31' 
        supplementaryTerm:
          description: "Prazo Adicional suplementar (Caso Base de Indenização for 'Por Reclamação')."
          type: string
          maxLength: 100
        supplementaryTermTimeUnit:  
          description: "Unidade do prazo Adicional suplementar(Caso Base de Indenização for 'Por Reclamação')"
          type: string
          example: DIA
          enum: [DIA,
                MES,
                ANO] 
        supplementaryTermWorkingDaysIndex:        
          description: "Indicador de dias úteis do prazo Adicional complementar(Caso Base de Indenização for 'Por Reclamação')."
          type: string
          enum: [DIAS_UTEIS,
                DIAS_CORRIDOS]
          example: DIAS_UTEIS
        lawyerRecommendation:
          description: "Indicação do advogado(Caso de coberturas de custos de defesa de honorários)"
          type: string
          enum: [ESCOLHIDO_PELO_SEGURADO,
                OUTROS]
          example: ESCOLHIDO_PELO_SEGURADO
        lawyerRecommendationDescription:        
          description: "Descrição da forma de indicação do advogado(Caso de coberturas decustos de defesa de honorários e caso Indicação do advogado for 'Outros')"
          type: string
          maxLength: 500
    InsuranceResponsibilitySpecificInsuredObject:
      type: object
      required:
        - identification
      properties:
        identification:
          type: string
          maxLength: 100
          description: Identificador do objeto segurado
        hasComplementaryContract:
          description: "Há contrato complementar? (Caso contrato de Responsabilidade Civil de Administradores e Diretores – D&O)"
          type: boolean
          example: true
        complementaryContractAmount:
          $ref: '#/components/schemas/AmountDetails'    
        coveragesMaxAmount:
          $ref: '#/components/schemas/AmountDetails'    
        coveragesTermStartDate:
          description: "Data de início da cobertura de passivos ambientais desconhecidos (Caso contrato de Responsabilidade Civil Riscos Ambientais)"
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31'  
        coveragesTermEndDate:
          description: "Data de fim da cobertura de passivos ambientais desconhecidos (Caso contrato de Responsabilidade Civil Riscos Ambientais)"
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2022-12-31' 
        coveragesTerm:
          description: "Prazo da cobertura de passivos ambientais desconhecidos (Caso contrato de Responsabilidade Civil Riscos Ambientais)"
          type: integer
          maxLength: 5
          example: 100
        coveragesUnit: 
          description: "Unidade da cobertura de passivos ambientais desconhecidos (Caso contrato de Responsabilidade Civil Riscos Ambientais)"
          type: string
          example: DIA
          enum: [DIA,
                MES,
                ANO] 
        coveragesWorkingDaysIndex:
          description: "Indicador de dias úteis da cobertura de passivos ambientais desconhecidos (Caso contrato de Responsabilidade Civil Riscos Ambientais)"
          type: string
          enum: [DIAS_UTEIS,
                DIAS_CORRIDOS]
          example: DIAS_UTEIS
        hasTransportationPollutionDamage:
          description: Apólice engloba danos de poluição por transporte? (Caso contrato de Responsabilidade Civil Riscos Ambientais)     
          type: boolean
          example: true
        hasThirdPatyDamage:      
          description: Apólice engloba danos originados nos locais de terceiros? (Caso contrato de Responsabilidade Civil Riscos Ambientais)
          type: boolean
          example: true
        professionalClass:
          description: "Classe profissional (Caso contrato de Responsabilidade Civil Profissional)"
          type: string
          enum: [ADMINISTRADOR_IMOBILIARIO,
                ESCRITORIOS_DE_ADVOCACIA,
                CERTIFICACAO_DIGITAL,
                CERTIFICACAO_DE_PRODUTOS_SISTEMAS_PROCESSOS_OU_SERVICOS,
                DESPACHANTE_ADUANEIRO_AGENTE_EMBARCADOR_LICENCIADOR_E_SIMILARES,
                CORRETORES_DE_RESSEGURO,
                CORRETORES_DE_SEGUROS,
                EMPRESAS_DE_TECNOLOGIA,
                EMPRESAS_DE_ENGENHARIA_E_ARQUITETURA,
                HOSPITAIS_CLINICAS_MEDICAS_ODONTOLOGICAS_LABORATORIOS_E_EMPRESAS_DE_DIAGNOSTICOS,
                NOTARIOS_E_OU_REGISTRADORES,
                INSTITUICOES_FINANCEIRAS,
                HOSPITAIS_CLINICAS_LABORATORIOS_EMPRESAS_DE_DIAGNOSTICOS_VETERINARIOS,
                MEDICOS_VETERINARIOS,
                OUTROS]
          example: ADMINISTRADOR_IMOBILIARIO
        professionalClassOthers: 
          type: string
          maxLength: 100
          description: Campo aberto para descricao de cada participante ao selecionar o dominio OUTROS no campo de classe profissional
        hasRetroactivityApplication:        
          description: "Aplicação de retroatividade (Caso contrato de Compreensivo Riscos Cibernéticos)"
          type: boolean
          example: true

    HistoricalPersonalComplimentaryInformationData:
      $ref: "#/components/schemas/PersonalComplimentaryInformationData"
    HistoricalPersonalIdentificationData:
      $ref: "#/components/schemas/PersonalIdentificationData"
    PersonalProcurator:
      type: object
      required:
        - nature
      properties:
        nature:
          $ref: '#/components/schemas/EnumProcuratorsNaturePersonal'
        cpfNumber:
          type: string
          maxLength: 11
          pattern: '^\d{11}$'
          example: '73677831148'
          description: '(Caso Natureza dos poderes vigentes de representante for “Representante legal” ou “Procurador”) CPF representante'
        civilName:
          type: string
          maxLength: 70
          example: Elza Milena Stefany Teixeira
          description: '(Caso Natureza dos poderes vigentes de representante for “Representante legal” ou “Procurador”) Nome ou razão social do representante'
        socialName:
          type: string
          maxLength: 70
          pattern: '^[a-z]|[A-Z]|\s$'
          example: 'string'
          description: '(Caso Natureza dos poderes vigentes de representante for “Representante legal” ou “Procurador”) Nome social do representante'
      additionalProperties: false
    HistoricalPersonalQualificationData:
      $ref: "#/components/schemas/PersonalQualificationData"
    
    HistoricalBusinessComplimentaryInformationData:
      $ref: "#/components/schemas/BusinessComplimentaryInformationData"
    HistoricalBusinessIdentificationData:
      $ref: "#/components/schemas/BusinessIdentificationData"
    BusinessProcurator:
      type: object
      required:
        - nature
      properties:
        nature:
          $ref: '#/components/schemas/EnumProcuratorsNatureBusiness'
        cnpjCpfNumber:
          type: string
          maxLength: 14
          pattern: '^\d{11}$|^\d{14}$'
          example: '73677831148'
          description: '(Caso Natureza dos poderes vigentes de representante for “Representante legal” ou “Procurador”) CPF ou CNPJ do representante'
        civilName:
          type: string
          maxLength: 70
          example: Elza Milena Stefany Teixeira
          description: '(Caso Natureza dos poderes vigentes de representante for “Representante legal” ou “Procurador”) Nome ou razão social do representante'
        socialName:
          type: string
          maxLength: 70
          pattern: '^[a-z]|[A-Z]|\s$'
          example: 'string'
          description: '(Caso Natureza dos poderes vigentes de representante for “Representante legal” ou “Procurador”) Nome social do representante'  
      additionalProperties: false
    HistoricalBusinessQualificationData:
      $ref: "#/components/schemas/BusinessQualificationData"
    
    BusinessComplimentaryInformationData:
      type: object
      description: 'Objeto que reúne as informações relativas ao relacionamento do cliente junto à Instituição. Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente e seus representantes'
      required:
        - startDate
        - updateDateTime
        - productsServices
      properties:
        updateDateTime:
          type: string
          format: date-time
          maxLength: 20
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2020-07-21T08:30:00Z'
          description: 'Data e hora da atualização do bloco de Relacionamento, conforme especificação RFC-3339, formato UTC.'
        startDate:
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2014-05-21'
          description: Data mais antiga de início de relacionamento, considerando todos os contratos (vigentes e não vigentes). Os contratos não vigentes considerados devem contemplar, no mínimo o período indicado na Tabela 4.1.
        relationshipBeginning:
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2014-05-21'
          description: Campo deve ser preenchido com a data da apólice/contrato vigente mais antiga. (caso haja contrato vigente)
        productsServices:
          type: array
          minItems: 1
          items:
            type: object
            description: Lista de todos os contratos vigentes e não vigentes.
            required: 
              - contract
              - type
            properties:
              contract:
                type: string
                maxLength: 60
                description: Campo deve conter todos os contratos do cliente nos últimos 12 meses (número da apólice individual ou contrato ou certificado ou bilhete)
              type:
                $ref: '#/components/schemas/EnumProductServiceType'
              insuranceLineCode:
                type: string
                maxLength: 4
                example: '6272'
                description: Indicar para cada contrato, caso aplicável, o código do ramo, conforme listagem de códigos definida em regulamentação específica sobre contabilização em ramos. - Caso tipo de produto do contrato for “Seguros de Danos.  
              procurators:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessProcurator'
                minItems: 1
                description: Lista dos representantes. De preenchimento obrigatório se houver representante.
          additionalProperties: false
      additionalProperties: false
    BusinessIdentificationData:
      type: object
      description: Conjunto de informações relativas a Identificação ou seja a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais
      required:
        - updateDateTime
        - brandName
        - companyInfo
        - businessName
        - document
        - contact
      properties:
        updateDateTime:
          type: string
          maxLength: 20
          format: date-time
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2021-05-21T08:30:00Z'
          description: 'Data e hora da atualização do bloco, conforme especificação RFC-3339'
        businessId:
          type: string
          maxLength: 100
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
          example: 578-psd-71md6971kjh-2d414
          description: Um identificador único e imutável usado para identificar o recurso cliente pessoa jurídica dentro da transmissora. Este identificador não tem significado para o cliente que deu o consentimento
        brandName:
          type: string
          maxLength: 80
          pattern: '[\w\W\s]*'
          example: Organização A
          description: |
            Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
        companyInfo:  
          type: object
          description: Informações referente a sociedade a qual a marca pertence.
          required:
          - name
          - cnpjNumber
          properties:
            cnpjNumber:
                type: string
                pattern: '\d{14}|^NA$'
                maxLength: 14
                example: '01773247000563'
                description: |
                  Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. 
                  Deve-se ter apenas os números do CNPJ, sem máscara
            name:
                type: string
                maxLength: 70
                pattern: '[\w\W\s]*'
                example: Empresa da Organização A
                description: Nome da Instituição, pertencente à Marca, responsável pela Dependência
        businessName:
          type: string
          maxLength: 70
          pattern: '[\w\W\s]*'
          example: Luiza e Benjamin Assessoria Jurídica Ltda
          description: Razão social da empresa consultada é o termo registrado sob o qual uma pessoa jurídica (PJ) se individualiza e exerce suas atividades. Também pode ser chamada por denominação social ou firma empresarial
        businessTradeName:
          type: string
          maxLength: 70
          pattern: '[\w\W\s]*'
          example: Organização B
          description: Nome fantasia - Se Aplicável
        incorporationDate:
          type: string
          maxLength: 10
          format: date
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2012-05-21'
          description: 'Data de constituição, conforme especificação RFC-3339' 
        document:
          $ref: '#/components/schemas/BusinessDocument'
        type:
          type: string
          example: PRIVADO
          enum: 
            - PRIVADO 
            - PUBLICO 
          description: Campo deve ser preenchido com o Tipo Pessoa Jurídica
        contact:
          $ref: '#/components/schemas/BusinessContact'
        parties:
          $ref: '#/components/schemas/BusinessParties'
    BusinessQualificationData:
      type: object
      description: 'Objeto que reúne as informações relativas ao processo de qualificação.'
      required:
        - updateDateTime
      properties:
        updateDateTime:
          type: string
          maxLength: 20
          format: date-time
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2021-05-21T08:30:00Z'
          description: 'Data e hora da atualização do bloco, conforme especificação RFC-3339'
        mainBranch:
          type: string
          maxLength: 20
          description: 'Código do ramo da atividade da empresa consultada, segundo padrão CNAE (Classificação Nacional de Atividades Econômicas).'
        secondaryBranch:
          type: string
          maxLength: 200
          description: Códigos relativos às demais atividades econômicas da empresa, segundo padrão CNAE (Classificação Nacional de Atividades Econômicas). Se disponível.
        informedRevenue:
          type: object
          description: Objeto que agrupa dados de receita informada.
          properties:
            incomeFrequency:
              $ref: '#/components/schemas/EnumIncomeFrequency'
            currency:
              type: string
              enum: [AFN,AFA,ALL,ALK,DZD,USD,EUR,ADP,ESP,FRF,AOA,AOK,AON,AOR,XCD,ARS,ARA,ARP,ARY,AMD,RUR,AWG,AUD,ATS,AZN,AYM,AZM,BSD,BHD,BDT,BBD,BYN,BYB,BYR,BEC,BEF,BEL,BZD,XOF,BMD,INR,BTN,BOP,BOB,BOV,BAM,BAD,BWP,NOK,BRL,BRB,BRC,BRE,BRN,BRR,BND,BGN,BGJ,BGK,BGL,BUK,BIF,CVE,KHR,XAF,CAD,KYD,CLP,CLF,CNY,COP,COU,KMF,CDF,NZD,CRC,HRK,HRD,CUP,CUC,ANG,CYP,CZK,CSJ,CSK,DKK,DJF,DOP,ECS,ECV,EGP,SVC,GQE,ERN,EEK,SZL,ETB,XEU,FKP,FJD,FIM,XPF,GMD,GEL,GEK,DDM,DEM,GHS,GHC,GHP,GIP,GRD,GTQ,GBP,GNF,GNE,GNS,GWE,GWP,GYD,HTG,ITL,HNL,HKD,HUF,ISK,ISJ,IDR,XDR,IRR,IQD,IEP,ILS,ILP,ILR,JMD,JPY,JOD,KZT,KES,KPW,KRW,KWD,KGS,LAJ,LAK,LVL,LVR,LBP,LSL,ZAR,LSM,ZAL,LRD,LYD,CHF,LTL,LTT,LUC,LUF,LUL,MOP,MGA,MGF,MWK,MYR,MVR,MVQ,MLF,MTL,MTP,MRU,MRO,MUR,XUA,MXN,MXV,MXP,MDL,MNT,MAD,MZN,MZE,MZM,MMK,NAD,NPR,NLG,NIO,NIC,NGN,MKD,OMR,PKR,PAB,PGK,PYG,PEN,PEH,PEI,PES,PHP,PLN,PLZ,PTE,QAR,RON,ROK,ROL,RUB,RWF,SHP,WST,STN,STD,SAR,RSD,CSD,SCR,SLL,SGD,XSU,SKK,SIT,SBD,SOS,SSP,SDG,RHD,ESA,ESB,LKR,SDD,SDP,SRD,SRG,SEK,CHE,CHW,CHC,SYP,TWD,TJS,TJR,TZS,THB,TPE,TOP,TTD,TND,TRY,TRL,TMT,TMM,UGX,UGS,UGW,UAH,UAK,SUR,AED,USS,USN,UYU,UYI,UYW,UYN,UYP,UZS,VUV,VEB,VEF,VES,VND,VNC,YER,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZMW,ZMK,ZWL,ZWC,ZWD,ZWN,ZWR,XBA,XFO,XBB,XRE,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG]
              maxLength: 3
              example: BRL
              description: 'Moeda referente ao valor do faturamento, segundo modelo ISO-4217.'
            amount:
              type: string
              nullable: true
              pattern: '^-?\d{1,15}\.\d{2}$'
              example: '100000.04'
              description: |
                Valor do faturamento
            year:
              type: string
              maxLength: 4
              format: date-fullyear
              pattern: '^\d{4}$'
              example: '2010'
              description: 'Ano de referência do faturamento, conforme especificação RFC-3339.' 
          additionalProperties: false
        informedPatrimony:
          type: object
          description: Objeto que agrupa dados de informações de patrimônio.
          properties:
            currency:
              type: string
              enum: [AFN,AFA,ALL,ALK,DZD,USD,EUR,ADP,ESP,FRF,AOA,AOK,AON,AOR,XCD,ARS,ARA,ARP,ARY,AMD,RUR,AWG,AUD,ATS,AZN,AYM,AZM,BSD,BHD,BDT,BBD,BYN,BYB,BYR,BEC,BEF,BEL,BZD,XOF,BMD,INR,BTN,BOP,BOB,BOV,BAM,BAD,BWP,NOK,BRL,BRB,BRC,BRE,BRN,BRR,BND,BGN,BGJ,BGK,BGL,BUK,BIF,CVE,KHR,XAF,CAD,KYD,CLP,CLF,CNY,COP,COU,KMF,CDF,NZD,CRC,HRK,HRD,CUP,CUC,ANG,CYP,CZK,CSJ,CSK,DKK,DJF,DOP,ECS,ECV,EGP,SVC,GQE,ERN,EEK,SZL,ETB,XEU,FKP,FJD,FIM,XPF,GMD,GEL,GEK,DDM,DEM,GHS,GHC,GHP,GIP,GRD,GTQ,GBP,GNF,GNE,GNS,GWE,GWP,GYD,HTG,ITL,HNL,HKD,HUF,ISK,ISJ,IDR,XDR,IRR,IQD,IEP,ILS,ILP,ILR,JMD,JPY,JOD,KZT,KES,KPW,KRW,KWD,KGS,LAJ,LAK,LVL,LVR,LBP,LSL,ZAR,LSM,ZAL,LRD,LYD,CHF,LTL,LTT,LUC,LUF,LUL,MOP,MGA,MGF,MWK,MYR,MVR,MVQ,MLF,MTL,MTP,MRU,MRO,MUR,XUA,MXN,MXV,MXP,MDL,MNT,MAD,MZN,MZE,MZM,MMK,NAD,NPR,NLG,NIO,NIC,NGN,MKD,OMR,PKR,PAB,PGK,PYG,PEN,PEH,PEI,PES,PHP,PLN,PLZ,PTE,QAR,RON,ROK,ROL,RUB,RWF,SHP,WST,STN,STD,SAR,RSD,CSD,SCR,SLL,SGD,XSU,SKK,SIT,SBD,SOS,SSP,SDG,RHD,ESA,ESB,LKR,SDD,SDP,SRD,SRG,SEK,CHE,CHW,CHC,SYP,TWD,TJS,TJR,TZS,THB,TPE,TOP,TTD,TND,TRY,TRL,TMT,TMM,UGX,UGS,UGW,UAH,UAK,SUR,AED,USS,USN,UYU,UYI,UYW,UYN,UYP,UZS,VUV,VEB,VEF,VES,VND,VNC,YER,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZMW,ZMK,ZWL,ZWC,ZWD,ZWN,ZWR,XBA,XFO,XBB,XRE,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG]
              maxLength: 3
              example: BRL
              description: 'Moeda referente ao valor do patrimônio, segundo modelo ISO-4217.'
            amount:
              type: string
              nullable: true
              pattern: '^-?\d{1,15}\.\d{2}$'
              example: '100000.04'
              description: |
                Valor do patrimônio
            date:
              type: string
              maxLength: 10
              format: date
              pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
              example: '2012-05-21'
              description: 'Data de referência do patrimônio, conforme especificação RFC-3339.' 
          additionalProperties: false
      additionalProperties: false
    
    PersonalComplimentaryInformationData:
      type: object
      description: 'Objeto que reúne as informações relativas ao relacionamento do cliente junto à Instituição. Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente e seus representantes'
      required:
        - updateDateTime
        - productsServices
        - startDate
      properties:
        updateDateTime:
          type: string
          format: date-time
          maxLength: 20
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2021-05-21T08:30:00Z'
          description: 'Data e hora da atualização do bloco de Relacionamento, conforme especificação RFC-3339, formato UTC.'
        startDate:
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2014-05-21'
          description: Data mais antiga de início de relacionamento, considerando todos os contratos (vigentes e não vigentes). Os contratos não vigentes considerados devem contemplar, no mínimo o período indicado na Tabela 4.1.
        relationshipBeginning:
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2014-05-21'
          description: Campo deve ser preenchido com a data da apólice/contrato vigente mais antiga (caso haja contrato vigente)
        productsServices:
          type: array
          minItems: 1
          items:
            type: object
            description: Lista de todos os contratos vigentes e não vigentes.
            required: 
              - contract
              - type
            properties:
              contract:
                type: string
                maxLength: 60
                description: Campo deve conter todos os contratos do cliente nos últimos 12 meses (número da apólice individual ou contrato ou certificado ou bilhete)
              type:
                $ref: '#/components/schemas/EnumProductServiceType'
              insuranceLineCode:
                type: string
                maxLength: 4
                example: '6272'
                description: Indicar para cada contrato, caso aplicável, o código do ramo, conforme listagem de códigos definida em regulamentação específica sobre contabilização em ramos. Obs - Caso tipo de produto do contrato for “Seguros de Danos”     
              procurators:
                type: array
                items:
                  $ref: '#/components/schemas/PersonalProcurator'
                minItems: 1
                description: Lista dos representantes. De preenchimento obrigatório se houver representante.
          additionalProperties: false 
      additionalProperties: false
    PersonalIdentificationData:
      type: object
      description: Conjunto de informações relativas a Identificação ou seja a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.
      required:
        - updateDateTime
        - brandName
        - companyInfo
        - civilName
        - hasBrazilianNationality
        - contact
        - cpfNumber
      properties:
        updateDateTime:
          type: string
          maxLength: 20
          format: date-time
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2021-05-21T08:30:00Z'
          description: 'Data e hora da atualização do bloco, conforme especificação RFC-3339'
        personalId:
          type: string
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
          maxLength: 100
          description: Um identificador único e imutável usado para identificar o recurso cliente pessoa natural dentro da transmissora. Este identificador não tem significado para o cliente que deu o consentimento
          example: 578-psd-71md6971kjh-2d414
        brandName:
          type: string
          maxLength: 80
          pattern: '[\w\W\s]*'
          description: Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
          example: Organização A
        civilName:
          type: string
          maxLength: 70
          pattern: '^[a-z]|[A-Z]|\s$'
          example: Juan Kaique Cláudio Fernandes
          description: 'Nome civil completo da pessoa natural (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, com o qual será identificada por toda a sua vida, bem como após a sua morte)'
        socialName:
          type: string
          maxLength: 70
          pattern: '^[a-z]|[A-Z]|\s$'
          example: 'string'
          description: |
            Nome social da pessoa natural, se houver. 
            (aquele pelo qual travestis e transexuais se reconhecem, 
            bem como são identificados por sua comunidade e em seu meio social, conforme Decreto Local). 
        cpfNumber:
          type: string
          maxLength: 11
          pattern: '^\d{11}$|^NA$'
          description: |
            Número completo do CPF. Atributo que corresponde às informações mínimas exigidas pela Regulamentação em vigor. O CPF é o Cadastro de Pessoa natural.  Ele é um documento feito pela Receita Federal e serve para identificar os contribuintes. O CPF é uma numeração com 11 dígitos, que só mudam por decisão judicial. O documento é emitido pela receita federal
            Condicional a seleção de true em hasBrazilianNationality
        companyInfo:  
          type: object
          description: Informações referente a sociedade a qual a marca pertence.
          required:
            - name
            - cnpjNumber
          properties:
              cnpjNumber:
                  type: string
                  pattern: '\d{14}|^NA$'
                  maxLength: 14
                  example: '01773247000563'
                  description: |
                    Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. 
                    Deve-se ter apenas os números do CNPJ, sem máscara
              name:
                  type: string
                  maxLength: 70
                  pattern: '[\w\W\s]*'
                  example: Empresa da Organização A
                  description: Nome da Instituição, pertencente à Marca, responsável pela Dependência
        documents:
          $ref: '#/components/schemas/PersonalDocuments'
        hasBrazilianNationality:
          type: boolean
          nullable: true
          example: false
          description: Informa se o Cliente tem nacionalidade brasileira.
        otherNationalitiesInfo:
          type: string
          maxLength: 3
          example: CAN
          description: Código do pais de acordo com o código “alpha3” do ISO-3166
        otherDocuments:
          $ref: '#/components/schemas/OtherPersonalDocuments'
        contact:
          $ref: '#/components/schemas/PersonalContact'
        civilStatusCode:
          $ref: '#/components/schemas/EnumCivilStatusCode'
        sex:
          type: string
          maxLength: 20
          example: FEMININO  
        birthDate:
          type: string
          maxLength: 10
          format: date
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2021-05-21'
          description: 'Data de nascimento, conforme especificação RFC-3339'  
        filiation:
          type: object
          description: Objeto que agrupa dados da pessoa relativa à filiação.
          properties:
            type:
              $ref: '#/components/schemas/EnumFiliationType'
            civilName:
              type: string
              maxLength: 70
              pattern: '^[a-z]|[A-Z]|\s$'
              example: Marcelo Cláudio Fernandes
              description: |
                Nome civil completo da pessoa relativa à filiação.
                (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, 
                com o qual será identificada por toda a sua vida, bem como após a sua morte).
        identificationDetails:
          type: object
          description: Informações referente ao cônjuge.
          properties: 
            civilName:
              type: string
              maxLength: 70
              pattern: '^[a-z]|[A-Z]|\s$'
              example: Juan Kaique Cláudio Fernandes
              description: 'Nome civil completo da pessoa natural (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, com o qual será identificada por toda a sua vida, bem como após a sua morte)'
            cpfNumber:
              type: string
              maxLength: 11
              pattern: '^\d{11}$|^NA$'
              description: |
                Número completo do CPF. Atributo que corresponde às informações mínimas exigidas pela Regulamentação em vigor. O CPF é o Cadastro de Pessoa natural.  Ele é um documento feito pela Receita Federal e serve para identificar os contribuintes. O CPF é uma numeração com 11 dígitos, que só mudam por decisão judicial. O documento é emitido pela receita federal
                Condicional a seleção de true em hasBrazilianNationality
      additionalProperties: false
    PersonalQualificationData:
      type: object
      description: 'Conjunto de informações relativas ao processo de qualificação.'
      required:
        - pepIdentification
        - updateDateTime
        - lifePensionPlans
      properties:
        updateDateTime:
          type: string
          maxLength: 20
          format: date-time
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2021-05-21T08:30:00Z'
          description: 'Data e hora da atualização do bloco, conforme especificação RFC-3339' 
        pepIdentification:
          type: string
          description: 'Campo deve ser preenchido com a exposição política do segurado:'
          example: NAO_EXPOSTO
          enum: 
            - NAO_EXPOSTO 
            - PESSOA_POLITICAMENTE_EXPOSTA_PPE
            - PESSOA_PROXIMA_A_PESSOA_POLITICAMENTE_EXPOSTA_PPEE
            - SEM_INFORMACAO
        occupation:
          type: array
          minItems: 1
          items:
            type: object
            description: Objeto agrupador de informações relativas ocupação da pessoa natural
            properties:
              details:
                type: string
                maxLength: 100
                description: 'Ocupação'
              occupationCode:
                type: string
                maxLength: 100
                example: 'RECEITA_FEDERAL'
                description: 'Código da ocupação'
              occupationCodeType:
                type: string
                example: RFB
                enum: 
                  - RFB 
                  - CBO 
                  - OUTROS
                description: 'Tipo de código da ocupação'
        lifePensionPlans:
          type: string
          description: Condição de proponente qualificado, aplicável à contratação de planos de previdência e vida por sobrevivência
          example: SIM
          enum: 
            - SIM 
            - NAO 
            - NAO_SE_APLICA
        informedRevenue:
          type: object
          description: Objeto que agrupa dados de receita informada.
          properties:
            incomeFrequency:
              $ref: '#/components/schemas/EnumIncomeFrequency'
            currency:
              type: string
              enum: [AFN,AFA,ALL,ALK,DZD,USD,EUR,ADP,ESP,FRF,AOA,AOK,AON,AOR,XCD,ARS,ARA,ARP,ARY,AMD,RUR,AWG,AUD,ATS,AZN,AYM,AZM,BSD,BHD,BDT,BBD,BYN,BYB,BYR,BEC,BEF,BEL,BZD,XOF,BMD,INR,BTN,BOP,BOB,BOV,BAM,BAD,BWP,NOK,BRL,BRB,BRC,BRE,BRN,BRR,BND,BGN,BGJ,BGK,BGL,BUK,BIF,CVE,KHR,XAF,CAD,KYD,CLP,CLF,CNY,COP,COU,KMF,CDF,NZD,CRC,HRK,HRD,CUP,CUC,ANG,CYP,CZK,CSJ,CSK,DKK,DJF,DOP,ECS,ECV,EGP,SVC,GQE,ERN,EEK,SZL,ETB,XEU,FKP,FJD,FIM,XPF,GMD,GEL,GEK,DDM,DEM,GHS,GHC,GHP,GIP,GRD,GTQ,GBP,GNF,GNE,GNS,GWE,GWP,GYD,HTG,ITL,HNL,HKD,HUF,ISK,ISJ,IDR,XDR,IRR,IQD,IEP,ILS,ILP,ILR,JMD,JPY,JOD,KZT,KES,KPW,KRW,KWD,KGS,LAJ,LAK,LVL,LVR,LBP,LSL,ZAR,LSM,ZAL,LRD,LYD,CHF,LTL,LTT,LUC,LUF,LUL,MOP,MGA,MGF,MWK,MYR,MVR,MVQ,MLF,MTL,MTP,MRU,MRO,MUR,XUA,MXN,MXV,MXP,MDL,MNT,MAD,MZN,MZE,MZM,MMK,NAD,NPR,NLG,NIO,NIC,NGN,MKD,OMR,PKR,PAB,PGK,PYG,PEN,PEH,PEI,PES,PHP,PLN,PLZ,PTE,QAR,RON,ROK,ROL,RUB,RWF,SHP,WST,STN,STD,SAR,RSD,CSD,SCR,SLL,SGD,XSU,SKK,SIT,SBD,SOS,SSP,SDG,RHD,ESA,ESB,LKR,SDD,SDP,SRD,SRG,SEK,CHE,CHW,CHC,SYP,TWD,TJS,TJR,TZS,THB,TPE,TOP,TTD,TND,TRY,TRL,TMT,TMM,UGX,UGS,UGW,UAH,UAK,SUR,AED,USS,USN,UYU,UYI,UYW,UYN,UYP,UZS,VUV,VEB,VEF,VES,VND,VNC,YER,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZMW,ZMK,ZWL,ZWC,ZWD,ZWN,ZWR,XBA,XFO,XBB,XRE,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG]
              maxLength: 3
              example: BRL
              description: 'Moeda referente ao valor da renda, segundo modelo ISO-4217.'
            amount:
              type: string
              nullable: true
              pattern: '^-?\d{1,15}\.\d{2}$'
              example: '100000.04'
              description: |
                Valor do rendimento
            date:
              type: string
              maxLength: 10
              format: date
              pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
              example: '2012-05-21'
              description: 'Data de referência da renda, conforme especificação RFC-3339.' 
          additionalProperties: false
        informedPatrimony:
          type: object
          description: Objeto que agrupa dados de informações de patrimônio.
          properties:
            currency:
              type: string
              enum: [AFN,AFA,ALL,ALK,DZD,USD,EUR,ADP,ESP,FRF,AOA,AOK,AON,AOR,XCD,ARS,ARA,ARP,ARY,AMD,RUR,AWG,AUD,ATS,AZN,AYM,AZM,BSD,BHD,BDT,BBD,BYN,BYB,BYR,BEC,BEF,BEL,BZD,XOF,BMD,INR,BTN,BOP,BOB,BOV,BAM,BAD,BWP,NOK,BRL,BRB,BRC,BRE,BRN,BRR,BND,BGN,BGJ,BGK,BGL,BUK,BIF,CVE,KHR,XAF,CAD,KYD,CLP,CLF,CNY,COP,COU,KMF,CDF,NZD,CRC,HRK,HRD,CUP,CUC,ANG,CYP,CZK,CSJ,CSK,DKK,DJF,DOP,ECS,ECV,EGP,SVC,GQE,ERN,EEK,SZL,ETB,XEU,FKP,FJD,FIM,XPF,GMD,GEL,GEK,DDM,DEM,GHS,GHC,GHP,GIP,GRD,GTQ,GBP,GNF,GNE,GNS,GWE,GWP,GYD,HTG,ITL,HNL,HKD,HUF,ISK,ISJ,IDR,XDR,IRR,IQD,IEP,ILS,ILP,ILR,JMD,JPY,JOD,KZT,KES,KPW,KRW,KWD,KGS,LAJ,LAK,LVL,LVR,LBP,LSL,ZAR,LSM,ZAL,LRD,LYD,CHF,LTL,LTT,LUC,LUF,LUL,MOP,MGA,MGF,MWK,MYR,MVR,MVQ,MLF,MTL,MTP,MRU,MRO,MUR,XUA,MXN,MXV,MXP,MDL,MNT,MAD,MZN,MZE,MZM,MMK,NAD,NPR,NLG,NIO,NIC,NGN,MKD,OMR,PKR,PAB,PGK,PYG,PEN,PEH,PEI,PES,PHP,PLN,PLZ,PTE,QAR,RON,ROK,ROL,RUB,RWF,SHP,WST,STN,STD,SAR,RSD,CSD,SCR,SLL,SGD,XSU,SKK,SIT,SBD,SOS,SSP,SDG,RHD,ESA,ESB,LKR,SDD,SDP,SRD,SRG,SEK,CHE,CHW,CHC,SYP,TWD,TJS,TJR,TZS,THB,TPE,TOP,TTD,TND,TRY,TRL,TMT,TMM,UGX,UGS,UGW,UAH,UAK,SUR,AED,USS,USN,UYU,UYI,UYW,UYN,UYP,UZS,VUV,VEB,VEF,VES,VND,VNC,YER,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZMW,ZMK,ZWL,ZWC,ZWD,ZWN,ZWR,XBA,XFO,XBB,XRE,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG]
              maxLength: 3
              example: BRL
              description: 'Moeda referente ao valor do patrimônio, segundo modelo ISO-4217.'
            amount:
              type: string
              nullable: true
              pattern: '^-?\d{1,15}\.\d{2}$'
              example: '100000.04'
              description: |
                Valor do patrimônio
            year:
              type: string
              maxLength: 4
              format: date-fullyear
              pattern: '^\d{4}$'
              example: '2010'
              description: 'Ano de referência do patrimônio, conforme especificação RFC-3339.' 
          additionalProperties: false  
      additionalProperties: false
    
    QuoteStatus:
      type: object
      required:
        - status
        - statusUpdateDateTime
      properties:
        status:
          description: Status da cotação.
          type: string
          example: RCVD
          enum: [RCVD,
                EVAL,
                ACPT,
                RJCT,
                ACKN,
                CANC]
        rejectionReason:
              description: Campo condicionado ao status "RJCT", que deve apresentar a justificativa a recusa ao risco.
              type: string
              maxLength: 1024
        statusUpdateDateTime:
          type: string
          description: Data e hora da atualização do status.
          format: date-time
          maxLength: 20
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2021-05-21T08:30:00Z'
                  
    PersonalDocuments:
      type: array
      description: Objeto agrupador de informações relativas a Documentos da pessoa natural
      items:
        type: object  
        properties:
          type:
            $ref: '#/components/schemas/EnumPersonalDocumentType'
          number:
            type: string
            maxLength: 20
            description: Número/código do(s) documento(s) de identificação - Se aplicável.
            example: '15291908'
          expirationDate:
            type: string
            maxLength: 10
            format: date
            pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
            example: '2023-05-21'
            description: Data de validade do(s) documento(s) de identificação - Se aplicável.
          issueLocation: 
            type: string
            maxLength: 40
            description: Local de emissão - Se aplicável.
      additionalProperties: false
    OtherPersonalDocuments:
      type: object
      description: Objeto agrupador de informações relativas a Outros Documentos da pessoa natural.
      properties:
        type:
          type: string
          maxLength: 40
          description: Tipo do(s) documento(s) estrangeiro(s) de identificação
          example: 'SOCIAL SEC'
        number:
          type: string
          maxLength: 20
          description: Número/código do(s) documento(s) de identificação.
          example: '15291908'
        country: 
          type: string
          maxLength: 40
          description: País do(s) documento(s) estrangeiro(s) de identificação.
        expirationDate:
          type: string
          maxLength: 10
          format: date
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2023-05-21'
          description: Data de vigência do documento de registro - conforme especificação RFC-3339.
      additionalProperties: false
    BusinessDocument:
      type: object
      required:
        - businesscnpjNumber
      description: Objeto agrupador de informações relativas a Documentos da pessoa natural
      properties:
        businesscnpjNumber:
          type: string
          maxLength: 14
          pattern: '\d{14}|^NA$'
          example: '50685362006773'
          description: |
            Número completo do CNPJ da Empresa consultada  - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara
            Condicional ao Brasil no (BRA) campo País de emissão do documento de registro
        businessRegisterNumberOriginCountry:
          type: string
          maxLength: 20
          description: | 
            Aplicável somente as pessoas jurídicas com domicílio ou sede no exterior desobrigadas de inscrição no CNPJ.
        country:
          type: string
          maxLength: 3
          enum: [AFG,ALA,ALB,DZA,ASM,AND,AGO,AIA,ATA,ATG,ARG,ARM,ABW,AUS,AUT,AZE,BHS,BHR,BGD,BRB,BLR,BEL,BLZ,BEN,BMU,BTN,BOL,BES,BIH,BWA,BVT,BRA,IOT,BRN,BGR,BFA,BDI,CPV,KHM,CMR,CAN,CYM,CAF,TCD,CHL,CHN,CXR,CCK,COL,COM,COG,COD,COK,CRI,CIV,HRV,CUB,CUW,CYP,CZE,DNK,DJI,DMA,DOM,ECU,EGY,SLV,GNQ,ERI,EST,SWZ,ETH,FLK,FRO,FJI,FIN,FRA,GUF,PYF,ATF,GAB,GMB,GEO,DEU,GHA,GIB,GRC,GRL,GRD,GLP,GUM,GTM,GGY,GIN,GNB,GUY,HTI,HMD,VAT,HND,HKG,HUN,ISL,IND,IDN,IRN,IRQ,IRL,IMN,ISR,ITA,JAM,JPN,JEY,JOR,KAZ,KEN,KIR,PRK,KOR,KWT,KGZ,LAO,LVA,LBN,LSO,LBR,LBY,LIE,LTU,LUX,MAC,MDG,MWI,MYS,MDV,MLI,MLT,MHL,MTQ,MRT,MUS,MYT,MEX,FSM,MDA,MCO,MNG,MNE,MSR,MAR,MOZ,MMR,NAM,NRU,NPL,NLD,NCL,NZL,NIC,NER,NGA,NIU,NFK,MKD,MNP,NOR,OMN,PAK,PLW,PSE,PAN,PNG,PRY,PER,PHL,PCN,POL,PRT,PRI,QAT,REU,ROU,RUS,RWA,BLM,SHN,KNA,LCA,MAF,SPM,VCT,WSM,SMR,STP,SAU,SEN,SRB,SYC,SLE,SGP,SXM,SVK,SVN,SLB,SOM,ZAF,SGS,SSD,ESP,LKA,SDN,SUR,SJM,SWE,CHE,SYR,TWN,TJK,TZA,THA,TLS,TGO,TKL,TON,TTO,TUN,TUR,TKM,TCA,TUV,UGA,UKR,ARE,GBR,USA,UMI,URY,UZB,VUT,VEN,VNM,VGB,VIR,WLF,ESH,YEM,ZMB,ZWE]
          example: BRA
          description: Código do pais de acordo com o código “alpha3” do ISO-3166.
        expirationDate:
          type: string
          maxLength: 10
          format: date
          pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$'
          example: '2023-05-21'
          description: 'Data de vigência do documento de registro - conforme especificação RFC-3339.'
      additionalProperties: false
    AmountDetails:
        type: object
        description: Detalhes de valores/limites
        required:
          - amount
          - unitType
        properties:
          amount:
            type: string
            pattern: '^(^(100\.\00|\d{1,2}\.\d{2})$|^(\d{1,6})$|^(\d{1,15}\.\d{2})$)$'
            description: |
              Valor.
              Exemplos de preenchimento do campo:

              PORCENTAGEM: 90.85
                              
              MONETARIO: 62500.67

              OUTROS: 1000 (Exemplo de outro tipo: horas)
          unitType:
            description: "Tipo da unidade referente ao valor inserido no campo Amount"
            type: string
            enum: [PORCENTAGEM, MONETARIO, OUTROS]
          unitTypeOthers:
            description: Caso o tipo do valor informado for "Outros", esse campo deve ser preenchido com o tipo do valor, obrigatoriamente.
            type: string
            example: Horas
          unit:
            description: Preenchimento obrigatório em caso de valor "MONETARIO" ser informado no campo "unitType"
            type: object
            required:
              - code
              - description
            properties:
              code:
                type: string
                enum: [ د.إ , Af, L,  Դ,  Kz, $,  ƒ,  ман,  КМ, ৳,  лв, ب.د,  ₣,  Bs.,  R$, P,  Br, ¥,  ₡,  Kč, kr, د.ج,  £,  
                        Nfk,  N/A,  €,  ლ,  ₵,  D,  Q,  Kn, G,  Ft, Rp, ₪,  ₹,  ع.د,  ﷼,  Sh, ៛,  ₩,  د.ك,  〒,  ₭,  ل.ل,  Rs,
                        ل.د,  د.م., ден,  K,  ₮,  UM, ₨,  ރ., MK, RM, MTn,  ₦,  C$, ر.ع., B/.,  S/.,  ₱,  zł, ₲,  ر.ق,  din,  
                        р., ر.س,  Le, Db, ل.س,  ฿,  ЅМ, m,  د.ت,  T$, ₤,  ₴,  Bs F, ₫,  Vt, T,  R,  ZK ]
                example: R$
              description:
                type: string
                description: Moeda da Parcela, de acordo com ISO-4217.
                example: BRL
                enum: [ AFN,AFA,ALL,ALK,DZD,USD,EUR,ADP,ESP,FRF,AOA,AOK,AON,AOR,XCD,ARS,ARA,ARP,ARY,AMD,RUR,AWG,AUD,ATS,AZN,AYM,AZM,BSD,BHD,BDT,BBD,BYN,BYB,BYR,BEC,BEF,BEL,BZD,XOF,BMD,INR,BTN,BOP,BOB,BOV,BAM,BAD,BWP,NOK,BRL,BRB,BRC,BRE,BRN,BRR,BND,BGN,BGJ,BGK,BGL,BUK,BIF,CVE,KHR,XAF,CAD,KYD,CLP,CLF,CNY,COP,COU,KMF,CDF,NZD,CRC,HRK,HRD,CUP,CUC,ANG,CYP,CZK,CSJ,CSK,DKK,DJF,DOP,ECS,ECV,EGP,SVC,GQE,ERN,EEK,SZL,ETB,XEU,FKP,FJD,FIM,XPF,GMD,GEL,GEK,DDM,DEM,GHS,GHC,GHP,GIP,GRD,GTQ,GBP,GNF,GNE,GNS,GWE,GWP,GYD,HTG,ITL,HNL,HKD,HUF,ISK,ISJ,IDR,XDR,IRR,IQD,IEP,ILS,ILP,ILR,JMD,JPY,JOD,KZT,KES,KPW,KRW,KWD,KGS,LAJ,LAK,LVL,LVR,LBP,LSL,ZAR,LSM,ZAL,LRD,LYD,CHF,LTL,LTT,LUC,LUF,LUL,MOP,MGA,MGF,MWK,MYR,MVR,MVQ,MLF,MTL,MTP,MRU,MRO,MUR,XUA,MXN,MXV,MXP,MDL,MNT,MAD,MZN,MZE,MZM,MMK,NAD,NPR,NLG,NIO,NIC,NGN,MKD,OMR,PKR,PAB,PGK,PYG,PEN,PEH,PEI,PES,PHP,PLN,PLZ,PTE,QAR,RON,ROK,ROL,RUB,RWF,SHP,WST,STN,STD,SAR,RSD,CSD,SCR,SLL,SGD,XSU,SKK,SIT,SBD,SOS,SSP,SDG,RHD,ESA,ESB,LKR,SDD,SDP,SRD,SRG,SEK,CHE,CHW,CHC,SYP,TWD,TJS,TJR,TZS,THB,TPE,TOP,TTD,TND,TRY,TRL,TMT,TMM,UGX,UGS,UGW,UAH,UAK,SUR,AED,USS,USN,UYU,UYI,UYW,UYN,UYP,UZS,VUV,VEB,VEF,VES,VND,VNC,YER,YDD,YUD,YUM,YUN,ZRN,ZRZ,ZMW,ZMK,ZWL,ZWC,ZWD,ZWN,ZWR,XBA,XFO,XBB,XRE,XBC,XBD,XFU,XTS,XXX,XAU,XPD,XPT,XAG ]
 
    EnumProductServiceType:
      type: string
      enum:
        - MICROSSEGUROS
        - TITULOS_DE_CAPITALIZACAO
[...]
