
openapi: 3.0.0
info:
  title: APIs Open Data do Open Insurance Brasil
  description:
    API de informações de dados do produto Rede Referenciada. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados..
  version: 1.0.0
  contact:
    url: 'https://http://novosite.susep.gov.br'
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Producao
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Homologacao
tags:
- name: "Rede Referenciada" 

paths:
  /referenced-network/{countrySubDivision}/{serviceType}:
    get:
      tags:
        - ReferencedNetwork
      summary: Obtem a lista dos produtos do tipo Rede Referenciada
      description: "Obtem a lista dos produtos do tipo Rede Referenciada"
      operationId: "getReferencedNetwork"
      parameters:
        - $ref: "#/components/parameters/cache-Control"
        - $ref: "#/components/parameters/content-Security-Policy"
        - $ref: "#/components/parameters/content-Type"
        - $ref: "#/components/parameters/strict-Transport-Security"
        - $ref: "#/components/parameters/x-Content-Type-Options"
        - $ref: "#/components/parameters/x-Frame-Options"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/countrySubDivision"
        - $ref: "#/components/parameters/serviceType"
      responses:
        '200':
          description: Dados dos produtos de Rede Referenciada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReferencedNetworkList'
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Dados dos produtos de API de informações de dados do produto Rede Referenciada. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReferencedNetworkList' 

components:
  schemas:
    ResponseReferencedNetworkList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
              brand:
                $ref: '#/components/schemas/ReferencedNetworkBrand'
        links:
            $ref: '#/components/schemas/Links'
        meta:
            $ref: '#/components/schemas/Meta'
    ReferencedNetworkBrand:
      type: object
      description: Organizacao controladora do grupo.
      required:
        - name
        - companies
      properties:
        name:
          type: string
          description: Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
          maxLength: 80
          example: ACME Group Seguros
        companies:
          $ref: '#/components/schemas/ReferencedNetworkCompany'
    ReferencedNetworkCompany:
      type: array
      items:
          description: Informações referente a sociedade a qual a marca pertence.
          required:
          - name
          - cnpjNumber
          - identification
          properties:
            name:
                type: string
                description: Nome da sociedade pertencente à marca.
                maxLength: 80
                example: ACME Seguros
            cnpjNumber:
                type: string
                description: CNPJ da sociedade pertencente à marca.
                maxLength: 14
                example: "12345678901234"
            identification:
                $ref: '#/components/schemas/ReferencedNetworkIdentification'
    ReferencedNetworkIdentification:
      type: array
      items:
          description: Informações referente a identificação.
          required:
          - name
          - cnpjNumber
          - products
          - postalAddress
          - services
          properties:
            name:
                type: string
                maxLength: 80
                description: Nome ou razão social do prestador de serviço
                example: Empresa B
            cnpjNumber:
                type: string
                maxLength: 14
                description: CNPJ do prestador de serviço
                example: 12341234123412
            products:
                $ref: '#/components/schemas/ReferencedNetworkProduct'    
            postalAddress:
                $ref: '#/components/schemas/ReferencedNetworkCoveragePostalAddress'
            access: 
              $ref: '#/components/schemas/ReferencedNetworkAccess' 
            services:
              $ref: '#/components/schemas/ReferencedNetworkServices'
    ReferencedNetworkProduct:
      type: array
      description: Lista de produtos de uma empresa.
      items:
        type: object
        required:
          - name
          - code
        properties:
          name:
            type: string
            description: Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
            maxLength: 80
            example: Produto de Seguro
          code:
            type: string
            description: Listagem de código de identificação do produto (vide seção 3 do Manual de Dados e Serviços) que possui atendimento pelo prestador de serviço. 
            maxLength: 100
            example: "01234589-0"
          coverage:
            type: array
            description: "Indicação da lista de coberturas, caso a distinção do atendimento pelo prestador de serviço se aplique para diferentes coberturas de um mesmo produto."
            items:
              type: string
              maxLength: 150
    
    ReferencedNetworkCoveragePostalAddress:
        type: array
        items:
          type: object
          required:
            - address
            - districtName
            - townName
            - ibgeCode
            - countrySubDivision
            - postCode
          properties:
            address:
              type: string
              maxLength: 150
              description: "Deverá trazer toda a informação referente ao endereço do intermediário: Tipo de logradouro + Nome do logradouro + Número do Logradouro (se não existir usar ' s/n') + complemento (se houver), como, p.ex.: 'R Diamantina, 59, bloco 35, fundos’ 'Praça da Boa Vontade s/n'"
              example: "'Rua Diamantina, 59, bloco 35'
                Praça da Boa Vontade, s/n" 
            number: 
              description: Número (Logradouro)
              type: string
              maxLength: 10
            additionalInfo:
              type: string
              maxLength: 30
              description: "Alguns logradouros ainda necessitam ser especificados por meio de complemento, conforme o exemplo a seguir: 'Loja B', 'Fundos', 'Casa 2', 'Lote C'"    
              example: Loja B
            districtName:
              type: string
              maxLength: 50
              description: "Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas. p.ex: 'Paraíso'"
              example: Paraíso
            townName:
              type: string
              maxLength: 50
              description: "Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado. p.ex. 'São Paulo'"  
              example: São Paulo
            ibgeCode:
              type: string
              maxLength: 7  
              description: 7 dígitos (o último é um código verificador).   
            countrySubDivision:     
              type: string
              maxLength: 2
              description: "Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros:"
              example: AC
              enum: [AC,
                    AL,
                    AP,
                    AM,
                    BA,
                    CE,
                    DF,
                    ES,
                    GO,
                    MA,
                    MT,
                    MS,
                    MG,
                    PA,
                    PB,
                    PR,
                    PE,
                    PI,
                    RJ,
                    RN,
                    RS,
                    RO,
                    RR,
                    SC,
                    SP,
                    SE,
                    TO]
            postCode:
              type: string
              maxLength: 8
              description: "Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'"
              example: 1310200
            country:
                type: string
                maxLength: 20
                description: Nome do país
                example: Brasil 
            countryCode:
                type: string
                maxLength: 3 
                example: BRA
                description: Código do país de acordo com o código “alpha3” do ISO-3166. p.ex.'BRA'
            geographicCoordinates:
              $ref: '#/components/schemas/ReferencedNetworkGeographicCoordinates'
    
    ReferencedNetworkGeographicCoordinates:
      type: object
      properties:
        latitude: 
          type: string
          maxLength: 11
          description: Informação da Latitude referente a geolocalização informada. Entre -90 e 90. Formato numérico 2 casas antes da vírgula, 11 posições. p.ex. '-89.8365180'
          example: -89.8365180
        longitude:
          type: string
          maxLength: 11 
          description: Informação da Longitude referente a geolocalização informada. Formato numérico 3 casas antes da vírgula, 11 posições. Entre -180 e 180. p.ex'-179.836519.'
          example: -179.836519
    ReferencedNetworkAccess:
      type: array
      items:
        type: object
        description: Forma de acesso.
        properties:
          standards:
            $ref: '#/components/schemas/ReferencedNetworkStandards'
          restrictionIndicator:
            type: boolean
            description: Indica se a instalação dos Prestadores de serviços tem acesso restrito a clientes, por exemplo. p.ex. 'false' (restrito)
            example: false
          phones:
            $ref: '#/components/schemas/ReferencedNetworkPhones'
    ReferencedNetworkStandards:
      type: array
      items:
        properties:
          openingTime:
            type: string
            maxLength: 9
            pattern: ^\d{2}:\d{2}:\d{2}Z$
            example: 10:00:57Z
            description: Horário de abertura
          closingTime:
            type: string
            maxLength: 9
            pattern: ^\d{2}:\d{2}:\d{2}Z$
            example: 16:00:57Z
            description: Horário de encerramento
          weekday:
            type: string
            maxLength: 13
            description: Dias de funcionamento
            enum: [DOMINGO,
                  SEGUNDA_FEIRA,
                  TERCA_FEIRA,
                  QUARTA_FEIRA,
                  SEXTA_FEIRA,
                  SABADO]
            example: DOMINGO
    ReferencedNetworkEmails:
      type: array
      items:
        properties:
          type:
            type: string
            maxLength: 10
            enum: [COBRANCA,
                  COMERCIAL,
                  PESSOAL,
                  FINANCEIRO]
            example: COBRANCA
          eletronicAddress:
            description: Endereço de e-mail
            type: string
            maxLength: 50
            example: Joao.silva@seguradoraa.com.br
    ReferencedNetworkPhones:
      type: array
      description: Telefone do intermediário
      items:
        type: object
        properties:
          type:
            description: Identificação do Tipo de telefone do intermediário
            type: string
            maxLength: 50
            example: FIXO
          countryCallingCode:
            description: Número de DDI (Discagem Direta Internacional) para telefone de acesso ao Canal - se houver.
            type: string
            maxLength: 3
            example: 55
          areaCode:
            description: Número de DDD (Discagem Direta à Distância) do telefone do intermediário - se houver. p.ex. '19'
            type: string
            maxLength: 2
            example: 11
          number: 
            description: Número de telefone do intermediário - se houver
            type: string
            maxLength: 11
            example: 30041000
    ReferencedNetworkServices:
      type: array
      items:
        description: Forma de acesso.
        required:
          - type
          - name
        properties:
            type: 
              description: "Relação dos tipos de prestação de serviços efetivamente prestados, conforme discriminado na Tabela XXX do Anexo II"
              type: string
              maxLength: 27
              enum: [ASSISTENCIA_AUTO,
                      ASSISTENCIA_RE,  
                      ASSISTENCIA_VIDA,
                      BENEFICIOS,
                      DESPACHANTE,
                      LOCACAO_DE_VEICULOS,
                      REPAROS_AUTOMOTIVOS,
                      REPAROS_EMERGENCIAIS,
                      SERVICO_DE_MANUTENCAO,
                      SERVICO_EM_CASO_DE_SINISTRO,
                      TRANSPORTE_DO_EMERGENCIAL,
                      OUTROS]
            typeOthers:
              description: Descrição de serviços efetuados no tipo de prestação de serviços CASO PREENCHIDO A OPÇÃO OUTRAS. Deve ser padronizada na proposta técnica submetida pela Estrutura Inicial de Governança para observância comum por todas as sociedades participantes
              type: string
              maxLength: 3000
            name:
              description: "Descrição dos serviços prestados"
              type: array
              items:
                type: string
                maxLength: 5000
    
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        first:
          type: string
          description: URL da primeira página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        prev:
          type: string
          description: URL da página anterior de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        next:
          type: string
          description: URL da próxima página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        last:
          type: string
          description: URL da última página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 10
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages
    
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                maxLength: 2048
              requestDateTime:
                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                type: string
                maxLength: 2048
                format: date-time
                example: '2021-08-20T08:30:00Z'
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
    
  parameters:
      page:
        name: page
        in: query
        description: Número da página que está sendo requisitada (o valor da primeira página é 1).
        schema:
            type: integer
            default: 1
            minimum: 1
      pageSize:
        name: page-size
        in: query
        description: Quantidade total de registros por páginas.
        schema:
            type: integer
            default: 10
            minimum: 1
      serviceType:
        name: serviceType
        in: path
        description: Listagem de tipos que deve ser padronizada na proposta técnica submetida pela Estrutura Inicial de Governança para observância comum por todas as sociedades participantes
        required: true
        schema:
          type: string
      countrySubDivision:
        name: countrySubDivision
        in: path
        description: Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado
        required: true
        schema:
          type: string
      cache-Control:
        name: cache-control
        in: header
        description: Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.
        required: true
        schema:
            type: string
            pattern: '[\w\W\s]*'
      content-Security-Policy:
        name: Content-Security-Policy
        in: header
        description: Campo para proteção contra ataques clickjack do estilo - drag and drop.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      content-Type:
        name: content-Type
        in: header
        description: Especificar o tipo de conteúdo da resposta.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      strict-Transport-Security:
        name: Strict-Transport-Security
        in: header
        description: Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.
        schema:
            type: string
            pattern:  '[\w\W\s]*'
      x-Content-Type-Options:
        name: X-Content-Type-Options
        in: header
        description: Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      x-Frame-Options:
        name: X-Frame-Options
        in: header
        description: Campo indica se o navegador deve ou não renderizar um frame.
        schema:
            type: string
            pattern: '[\w\W\s]*'
    
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration'
    OAuth2Security:
      type: oauth2
      description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Inclui o processo de redirecionamento e autenticação do usuário a que se referem os dados.
      flows:
        authorizationCode:
          authorizationUrl: 'https://authserver.example/authorization'
          tokenUrl: 'https://authserver.example/token'
          scopes:
            financings: Escopo necessário para acesso à API. O controle dos endpoints específicos é feito via permissions.
    
  responses:
    NoContent:
      description: 'O recurso solicitado não existe ou não foi localizado.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'