<h2 id="tocS_ResponseResourceListresoucesv2">ResponseResourceList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseresourcelist"></a>
<a id="schema_ResponseResourceList"></a>
<a id="tocSresponseresourcelist"></a>
<a id="tocsresponseresourcelist"></a>

```json
{
  "data": [
    {
      "resourceId": "25cac914-d8ae-6789-b215-650a6215820d",
      "type": "CAPITALIZATION_TITLES",
      "status": "AVAILABLE"
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/resources/v2/resources",
    "first": "https://api.organizacao.com.br/open-insurance/resources/v2/resources",
    "prev": "https://api.organizacao.com.br/open-insurance/resources/v2/resources",
    "next": "https://api.organizacao.com.br/open-insurance/resources/v2/resources",
    "last": "https://api.organizacao.com.br/open-insurance/resources/v2/resources"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|Lista de recursos e seus respectivos status.|
|» resourceId|string|true|none|Identifica o recurso reportado pelo participante do Open Insurance, no caso de:<br>Produtos de Titulos de Capitalização: policyNumber ou certificateNumber<br>Produtos de Previdência: certificateNumber<br>Produtos de Danos e Pessoas (independente do ramo e torná-lo como obrigatório): policyNumber ou certificateNumber|
|» type|string|true|none|Tipo de recurso (vide Enum):<br>- CUSTOMERS_PERSONAL_IDENTIFICATIONS: Informações de identificação PF<br>- CUSTOMERS_PERSONAL_QUALIFICATION: Informações de qualificação PF<br>- CUSTOMERS_PERSONAL_ADDITIONALINFO: Informações complementares PF<br>- CUSTOMERS_BUSINESS_IDENTIFICATIONS: Informações de identificação PJ<br>- CUSTOMERS_BUSINESS_QUALIFICATION: Informações de qualificação PJ<br>- CUSTOMERS_BUSINESS_ADDITIONALINFO: Informações complementares PJ<br>- CAPITALIZATION_TITLES: Produtos de Titulos de Capitalização<br>- PENSION_PLAN: Produtos de Previdência Risco<br>- LIFE_PENSION: Produtos de Previdência Sobrevivência<br>- FINANCIAL_ASSISTANCE: Produtos de Assistência Financeira<br>- DAMAGES_AND_PEOPLE_PATRIMONIAL: Produtos de Patrimonial<br>- DAMAGES_AND_PEOPLE_RESPONSIBILITY: Produtos de Responsabilidade<br>- DAMAGES_AND_PEOPLE_TRANSPORT: Produtos de Transportes<br>- DAMAGES_AND_PEOPLE_FINANCIAL_RISKS: Produtos de Riscos Financeiros<br>- DAMAGES_AND_PEOPLE_RURAL: Produtos de Rural<br>- DAMAGES_AND_PEOPLE_AUTO: Produtos de Automóveis<br>- DAMAGES_AND_PEOPLE_HOUSING: Produtos de Habitacional<br>- DAMAGES_AND_PEOPLE_PERSON: Produtos de Pessoas (Repartição simples)<br>- DAMAGES_AND_PEOPLE_ACCEPTANCE_AND_BRANCHES_ABROAD: Aceitação e Sucursal no exterior<br>- CLAIM_NOTIFICATION: Solicitação de Aviso de Sinistro<br>- ENDORSEMENT: Solicitação de Endosso<br>- QUOTE_PATRIMONIAL: Cotação do Seguro Patrimonial<br>- QUOTE_ACCEPTANCE_AND_BRANCHES_ABROAD: Cotação do Seguro Aceitação e Sucursal no exterior<br>- QUOTE_AUTO: Cotação do Seguro Automóvel<br>- QUOTE_FINANCIAL_RISK: Cotação do Seguro Riscos Financeiros<br>- QUOTE_HOUSING: Cotação do Seguro Habitacional<br>- QUOTE_RESPONSIBILITY: Cotação do Seguro Responsabilidade<br>- QUOTE_RURAL: Cotação do Seguro Rural<br>- QUOTE_TRANSPORT: Cotação do Seguro Transportes<br>- QUOTE_PERSON: Cotação do Seguro Pessoas<br>- QUOTE_CAPITALIZATION_TITLE: Cotação de Títulos de Capitalização<br>- CONTRACT_LIFE_PENSION: Contratação/Portabilidade de Previdência Sobrevivência<br>- CONTRACT_PENSION_PLAN: Contratação/Portabilidade de Previdência Risco<br>- PENSION_WITHDRAWAL: Resgate de Previdência<br>- CAPITALIZATION_TITLE_WITHDRAWAL: Resgate de Títulos de Capitalização|
|» status|string|true|none|- Tipo de status de recurso (vide Enum):<br>- Available: Disponível<br>- Unavailable: Indisponível<br>- Temporarily Unavailable: Temporariamente Indisponível<br>- Pending Authorisation: Pendente de Autorização|
|links|[Links](#schemalinksresoucesv2)|true|none|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemametaresoucesv2)|true|none|Meta informações referente à API requisitada.|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CUSTOMERS_PERSONAL_IDENTIFICATIONS|
|type|CUSTOMERS_PERSONAL_QUALIFICATION|
|type|CUSTOMERS_PERSONAL_ADDITIONALINFO|
|type|CUSTOMERS_BUSINESS_IDENTIFICATIONS|
|type|CUSTOMERS_BUSINESS_QUALIFICATION|
|type|CUSTOMERS_BUSINESS_ADDITIONALINFO|
|type|CAPITALIZATION_TITLES|
|type|PENSION_PLAN|
|type|LIFE_PENSION|
|type|FINANCIAL_ASSISTANCE|
|type|DAMAGES_AND_PEOPLE_PATRIMONIAL|
|type|DAMAGES_AND_PEOPLE_RESPONSIBILITY|
|type|DAMAGES_AND_PEOPLE_TRANSPORT|
|type|DAMAGES_AND_PEOPLE_FINANCIAL_RISKS|
|type|DAMAGES_AND_PEOPLE_RURAL|
|type|DAMAGES_AND_PEOPLE_AUTO|
|type|DAMAGES_AND_PEOPLE_HOUSING|
|type|DAMAGES_AND_PEOPLE_PERSON|
|type|DAMAGES_AND_PEOPLE_ACCEPTANCE_AND_BRANCHES_ABROAD|
|type|CLAIM_NOTIFICATION|
|type|ENDORSEMENT|
|type|QUOTE_PATRIMONIAL|
|type|QUOTE_ACCEPTANCE_AND_BRANCHES_ABROAD|
|type|QUOTE_AUTO|
|type|QUOTE_FINANCIAL_RISK|
|type|QUOTE_HOUSING|
|type|QUOTE_RESPONSIBILITY|
|type|QUOTE_RURAL|
|type|QUOTE_TRANSPORT|
|type|QUOTE_PERSON|
|type|QUOTE_CAPITALIZATION_TITLE|
|type|CONTRACT_LIFE_PENSION|
|type|CONTRACT_PENSION_PLAN|
|type|PENSION_WITHDRAWAL|
|type|CAPITALIZATION_TITLE_WITHDRAWAL|
|status|AVAILABLE|
|status|UNAVAILABLE|
|status|TEMPORARILY_UNAVAILABLE|
|status|PENDING_AUTHORISATION|

<h2 id="tocS_Linksresoucesv2">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksresoucesv2"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/resources/v2/resources",
  "first": "https://api.organizacao.com.br/open-insurance/resources/v2/resources",
  "prev": "https://api.organizacao.com.br/open-insurance/resources/v2/resources",
  "next": "https://api.organizacao.com.br/open-insurance/resources/v2/resources",
  "last": "https://api.organizacao.com.br/open-insurance/resources/v2/resources"
}

```

Referências para outros recusos da API requisitada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string(uri)|true|none|URI completo que gerou a resposta atual.|
|first|string(uri)|false|none|URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta|
|prev|string(uri)|false|none|URI da página anterior dessa lista de resultados. Restrição - 	Obrigatório quando não for a primeira página da resposta|
|next|string(uri)|false|none|URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|
|last|string(uri)|false|none|URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|

<h2 id="tocS_Metaresoucesv2">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametaresoucesv2"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 1,
  "totalPages": 1
}

```

Meta informações referente à API requisitada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer(int32)|true|none|Número total de registros no resultado|
|totalPages|integer(int32)|true|none|Número total de páginas no resultado|

<h2 id="tocS_ResponseErrorresoucesv2">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorresoucesv2"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-05-21T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), formato UTC.|
|meta|[Meta](#schemametaresoucesv2)|false|none|Meta informações referente à API requisitada.|

<h2 id="tocS_XFapiInteractionIdresoucesv2">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionid"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

