<h2 id="tocS_CreateClaimNotificationDamage">CreateClaimNotificationDamage</h2>
<!-- backwards compatibility -->
<a id="schemacreateclaimnotificationdamage"></a>
<a id="schema_CreateClaimNotificationDamage"></a>
<a id="tocScreateclaimnotificationdamage"></a>
<a id="tocscreateclaimnotificationdamage"></a>

```json
{
  "data": {
    "documentType": "BILHETE",
    "policyNumber": "111111",
    "groupCertificateId": "string",
    "occurrenceDate": "2022-01-01",
    "occurrenceTime": "22:18:54",
    "occurrenceDescription": "string",
    "customData": {
      "customerIdentification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "customerQualification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "customerComplimentaryInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessIdentification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessQualification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessComplimentaryInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "generalQuoteInfo": {
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "riskLocationInfo";{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "insuredObjects":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "beneficiaries":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "coverages":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "generalClaimInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      }
    }
  }
}
```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|none|
|documentType|string|true|none|Tipo de Documento Emitido.|
|policyNumber|string|false|none|Número da apólice, conforme regulamentação vigente. Condicional a seleção dos campos 1. Apólices Individual ou 2. Bilhete no campo "Tipo de Documento Emitido".|
|groupCertificateId|string|false|none|Identificador do Certificado (Caso Tipo de Documento Emitido for certificado).|
|occurrenceDate|string|true|none|Data de Ocorrência do Sinistro.|
|occurrenceTime|string|false|none|Horário de ocorrência do sinistro.|
|occurrenceDescription|string|true|none|Descrição da Ocorrência/Relato da ocorrência.|
|customData|object|false|none|none|
|customerIdentification|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|customerQualification|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|customerComplimentaryInfo|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|businessIdentification|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|businessQualification|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|businessComplimentaryInfo|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|generalQuoteInfo|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|riskLocationInfo|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|insuredObjects|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|beneficiaries|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|beneficiaries|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|
|coverages|[CustomInfoData](#schemacustominfodata)|false|none|Estrutura para identificação e transmissão de dados customizáveis.|


<h2 id="tocS_CreateClaimNotificationPerson">CreateClaimNotificationPerson</h2>
<!-- backwards compatibility -->
<a id="schemacreateclaimnotificationperson"></a>
<a id="schema_CreateClaimNotificationPerson"></a>
<a id="tocScreateclaimnotificationperson"></a>
<a id="tocscreateclaimnotificationperson"></a>

```json
{
  "data": {
    "requestorIsInsured": false,
    "requestor": {
      "name":"string",
      "documentType": "CNPJ",
      "documentNumber": "73677831148",
      "phones": [{
        "countryCallingCode": "55",
        "areaCode": "11",
        "number": "29875132"
      }],
      "emails": [{
        "email": "nome@br.net"
      }]
    },
    "claimant": "CONJUGE",
    "documentType": "CERTIFICADO",
    "policyNumber": "111111",
    "groupCertificateId": "string",
    "occurrenceDate": "2022-01-01",
    "occurrenceTime": "22:18:54",
    "occurrenceDescription": "string"
  }
}
```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|none|
|requestorIsInsured|boolean|true|none|O solicitante é o segurado?|
|requestor|object|false|none|Objeto contendo informações do solicitante. Obrigatório caso requestorIsInsured seja false.|
|claimant|string|false|none|Quem é o sinistrado? Opcional somente para o Seguro Viagem|
|documentType|string|true|none|Tipo de Documento Emitido.|
|policyNumber|string|false|none|Número da apólice, conforme regulamentação vigente|
|groupCertificateId|string|false|none|Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)|
|occurrenceDate|string|true|none|Data de Ocorrência do Sinistro|
|occurrenceTime|string|false|none|Horário de ocorrência do sinistro|
|occurrenceDescription|string|true|none|Descrição da Ocorrência/Relato da ocorrência|


<h2 id="tocS_ResponseClaimNotificationDamage">ResponseClaimNotificationDamage</h2>
<!-- backwards compatibility -->
<a id="schemaresponseclaimnotificationdamage"></a>
<a id="schema_ResponseClaimNotificationDamage"></a>
<a id="tocSresponseclaimnotificationdamage"></a>
<a id="tocsresponseclaimnotificationdamage"></a>

```json
{
  "data": {
    "protocolNumber": "string",
    "protocolDateTime": "2021-08-20T08:30:00Z",
    "documentType": "BILHETE",
    "policyNumber": "111111",
    "groupCertificateId": "string",
    "occurrenceDate": "2022-01-01",
    "occurrenceTime": "22:18:54",
    "occurrenceDescription": "string",
    "customData":{
      "customerIdentification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "customerQualification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "customerComplimentaryInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessIdentification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessQualification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessComplimentaryInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "generalQuoteInfo": {
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "riskLocationInfo";{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "insuredObjects":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "beneficiaries":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "coverages":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "generalClaimInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      }
    }
  },
  "links":{
    "redirect":"https://www.abcseguros.com/endorsement?id=000123"
  }
}
```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|none|
|protocolNumber|string|true|none|Identificador da Solicitação do Endosso, conforme protocolo interno da seguradora avisada.|
|protocolDateTime|string|true|none|Data e hora do protocolamento do endosso, conforme especificação RFC-3339, formato UTC.|
|documentType|string|true|none|Tipo de Documento Emitido.|
|policyNumber|string|false|none|Número da apólice, conforme regulamentação vigente. Condicional a seleção dos campos 1. Apólices Individual ou 2. Bilhete no campo "Tipo de Documento Emitido".|
|groupCertificateId|string|false|none|Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)|
|occurrenceDate|string|true|none|Data de Ocorrência do Sinistro|
|occurrenceTime|string|false|none|Horário de ocorrência do sinistro|
|occurrenceDescription|string|true|none|Descrição da Ocorrência/Relato da ocorrência|
|links|object|true|none|none|


<h2 id="tocS_ResponseClaimNotificationPerson">ResponseClaimNotificationPerson</h2>
<!-- backwards compatibility -->
<a id="schemaresponseclaimnotificationperson"></a>
<a id="schema_ResponseClaimNotificationPerson"></a>
<a id="tocSresponseclaimnotificationperson"></a>
<a id="tocsresponseclaimnotificationperson"></a>

```json
{
  "data": {
    "protocolNumber": "string",
    "protocolDateTime": "2021-08-20T08:30:00Z",
    "requestorIsInsured": false,
    "requestor": {
      "name": "string",
      "documentType": "CNPJ",
      "documentNumber": "73677831148",
      "phones": [{
        "countryCallingCode": "55",
        "areaCode": "11",
        "number": "29875132"
      }],
      "emails": [{
        "email": "nome@br.net"
      }],
      "claimant": "SEGURADO",
      "documentType": "BILHETE",
      "policyNumber": "111111",
      "groupCertificateId": "string",
      "occurrenceDate": "2022-01-01",
      "occurrenceTime": "22:18:54",
      "occurrenceDescription": "string",
      "customData":{
      "customerIdentification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "customerQualification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "customerComplimentaryInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessIdentification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessQualification":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "businessComplimentaryInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "generalQuoteInfo": {
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "riskLocationInfo";{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "insuredObjects":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "beneficiaries":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "coverages":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      },
      "generalClaimInfo":{
        "fieldId": "578-psd-71md6971kjh-2d414",
        "value": null
      }
    }
    }
  },
  "links": {
    "redirect": "redirect"
  }
}
```
### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|none|
|protocolNumber|string|true|none|Identificador da Solicitação do Endosso, conforme protocolo interno da seguradora avisada.|
|protocolDateTime|string|true|none|Data e hora do protocolamento do endosso, conforme especificação RFC-3339, formato UTC.|
|requestorIsInsured|boolean|true|none|O solicitante é o segurado?|
|requestor|object|false|none|Objeto contendo informações do solicitante. Obrigatório caso requestorIsInsured seja false.|
|claimant|string|false|none|Quem é o sinistrado? Opcional somente para o Seguro Viagem|
|documentType|string|true|none|Tipo de Documento Emitido.|
|policyNumber|string|false|none|Número da apólice, conforme regulamentação vigente|
|groupCertificateId|string|false|none|Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)|
|occurrenceDate|string|true|none|Data de Ocorrência do Sinistro|
|occurrenceTime|string|false|none|Horário de ocorrência do sinistro|
|occurrenceDescription|string|true|none|Descrição da Ocorrência/Relato da ocorrência|
|customData|object|false|none|none|
|links|object|true|none|none|

<h2 id="tocS_RequestorEmail">RequestorEmail</h2>
<!-- backwards compatibility -->
<a id="schemarequestoremail"></a>
<a id="schema_RequestorEmail"></a>
<a id="tocSrequestoremail"></a>
<a id="tocsrequestoremail"></a>

```json
{
  "email": "nome@br.net"
}
```
### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|email|string|false|none|Endereço de email|

<h2 id="tocS_RequestorPhone">RequestorPhone</h2>
<!-- backwards compatibility -->
<a id="schemarequestorphone"></a>
<a id="schema_RequestorPhone"></a>
<a id="tocSrequestorphone"></a>
<a id="tocsrequestorphone"></a>

```json
{
  "countryCallingCode": "55",
  "areaCode": "11",
  "number": "29875132"
}
```
### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|countryCallingCode|string|false|none|Número de DDI (Discagem Direta Internacional) para telefone de acesso ao Cliente - se aplicável|
|areaCode|[EnumAreaCode](#schemaenumareacode)|false|none|Número de DDD (Discagem Direta à Distância) do telefone do cliente - se houver|
|number|string|false|none|Número de telefone do cliente|

<h2 id="tocS_EnumAreaCodeClaim">EnumAreaCode</h2>
<!-- backwards compatibility -->
<a id="schemaenumareacode"></a>
<a id="schema_EnumAreaCode"></a>
<a id="tocSenumareacode"></a>
<a id="tocsenumareacode"></a>

```json
"string"
```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|areaCode|Enum|false|none|Número de DDD (Discagem Direta à Distância) do telefone do cliente - se houver|

<h2 id="tocS_CustomInfoData">CustomInfoData</h2>
<!-- backwards compatibility -->
<a id="schemacustominfodata"></a>
<a id="schema_CustomInfoData"></a>
<a id="tocScustominfodata"></a>
<a id="tocscustominfodata"></a>

```json
{
  "fieldId": "578-psd-71md6971kjh-2d414",
  "value": null
}
```
### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|fieldId|string|true|none|Um identificador único usado para identificar o valor transmitido.|
|value|none|true|none|Valor do campo identificado acima, esse campo pode ser implementado como qualquer tipo de dado (objeto, texto, número, booleano, etc.)|

<h2 id="tocSfase3_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemafase3responseerror"></a>
<a id="schemafase3_ResponseError"></a>
<a id="tocSfase3responseerror"></a>
<a id="tocsfase3responseerror"></a>

```json
{
  "errors": {
    "code": "string",
    "title": "string",
    "detail": "string"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}
```
### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|

<h2 id="tocSfase3_XFapiInteractionId">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemafase3xfapiinteractionid"></a>
<a id="schemafase3_XFapiInteractionId"></a>
<a id="tocSfase3xfapiinteractionid"></a>
<a id="tocsfase3xfapiinteractionid"></a>

```json
"string"
```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

<h2 id="tocSfase3_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemaslinks"></a>
<a id="schemas_Links"></a>
<a id="tocSslinks"></a>
<a id="tocsslinks"></a>

```json
{
  "redirect": "https://www.abcseguros.com/endorsement?id=000123"
}
```
### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|redirect|string|true|none|Campo destinado a disponibilização de links de acesso a outros materiais.|


<h2 id="tocSfase3_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemasfase3meta"></a>
<a id="schemasfase3_Meta"></a>
<a id="tocSfase3meta"></a>
<a id="tocsfase3meta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1,
  "requestDateTime": "2021-05-21T08:30:00Z"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|
|requestDateTime|string|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|