<h1 id="schemas_phase_two">Schemas</h1>

<%= partial "./includes/partials/phase_two/consents/responses/consents" %>
<%= partial "./includes/partials/phase_two/insurance_aviation/responses/insurance_aviation" %>
