<h2 id="tocS_ResponseInsuranceAuto">ResponseInsuranceAuto</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsuranceauto"></a>
<a id="schema_ResponseInsuranceAuto"></a>
<a id="tocSresponseinsuranceauto"></a>
<a id="tocsresponseinsuranceauto"></a>

```json
{
  "data": [
    {
      "brand": "string",
      "companies": [
        {
          "companyName": "string",
          "cnpjNumber": "12345678901234",
          "policies": [
            "42"
          ]
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[object]|true|none|none|
|» brand|string|true|none|Nome da marca reportada pelo participante do Open Insurance|
|» companies|[object]|true|none|none|
|»» companyName|string|true|none|Nome da sociedade pertencente à marca|
|»» cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca|
|»» policies|[string]|true|none|none|
|links|[Links](#schemalinksauto)|true|none|none|
|meta|[Meta](#schemametaauto)|true|none|none|

<h2 id="tocS_ResponseInsuranceAutoPolicyInfo">ResponseInsuranceAutoPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsuranceautopolicyinfo"></a>
<a id="schema_ResponseInsuranceAutoPolicyInfo"></a>
<a id="tocSresponseinsuranceautopolicyinfo"></a>
<a id="tocsresponseinsuranceautopolicyinfo"></a>

```json
{
  "data": {
    "documentType": "APOLICE_INDIVIDUAL",
    "policyId": "111111",
    "susepProcessNumber": "string",
    "groupCertificateId": "string",
    "issuanceType": "EMISSAO_PROPRIA",
    "issuanceDate": "AAAA-MM-DD",
    "termStartDate": "AAAA-MM-DD",
    "termEndDate": "AAAA-MM-DD",
    "leadInsurerCode": "string",
    "leadInsurerPolicyId": "string",
    "maxLMG": {
      "amount": 2000,
      "currency": "BRL"
    },
    "proposalId": "string",
    "insureds": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "beneficiaries": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "principals": [
      {
        "identification": "12345678900",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "email": "string",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "intermediaries": [
      {
        "type": "REPRESENTANTE",
        "identification": "12345678900",
        "brokerId": "string",
        "identificationType": "CPF",
        "name": "Nome Sobrenome",
        "postCode": "10000000",
        "city": "string",
        "state": "string",
        "country": "BRA",
        "address": "string"
      }
    ],
    "insuredObjects": [
      {
        "identification": "string",
        "type": "CONTRATO",
        "typeAdditionalInfo": "string",
        "description": "string",
        "hasExactVehicleIdentification": true,
        "modality": "VALOR_DE_MERCADO_REFERENCIADO",
        "amountReferenceTable": "MOLICAR",
        "model": "string",
        "year": "stri",
        "fareCategory": "10",
        "riskPostCode": "10000000",
        "vehicleUsage": "LAZER",
        "frequentDestinationPostCode": "10000000",
        "overnightPostCode": "10000000",
        "coverages": [
          {
            "branch": 111,
            "code": "CASCO_COMPREENSIVA",
            "description": "string",
            "internalCode": "string",
            "susepProcessNumber": "string",
            "LMI": {
              "amount": 2000,
              "currency": "BRL"
            },
            "termStartDate": "AAAA-MM-DD",
            "termEndDate": "AAAA-MM-DD",
            "isMainCoverage": true,
            "feature": "MASSIFICADOS",
            "type": "PARAMETRICO",
            "gracePeriod": 0,
            "gracePeriodicity": "DIA",
            "gracePeriodCountingMethod": "DIAS_UTEIS",
            "gracePeriodStartDate": "AAAA-MM-DD",
            "gracePeriodEndDate": "AAAA-MM-DD",
            "adjustmentRate": "10",
            "premiumAmount": {
              "amount": 2000,
              "currency": "BRL"
            },
            "compensationType": "PARCIAL",
            "partialCompensationPercentage": 10,
            "percentageOverLMI": 10,
            "daysForTotalCompensation": 0,
            "boundCoverage": "VEICULO"
          }
        ]
      }
    ],
    "coverages": [
      {
        "branch": 111,
        "code": "CASCO_COMPREENSIVA",
        "description": "string",
        "deductible": {
          "type": "DEDUTIVEL",
          "typeAdditionalInfo": "string",
          "amount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "period": 10,
          "periodicity": "DIA",
          "periodCountingMethod": "DIAS_UTEIS",
          "periodStartDate": "2022-05-16",
          "periodEndDate": "2022-05-17",
          "description": "Franquia de exemplo",
          "hasDeductibleOverTotalCompensation": true
        },
        "POS": {
          "applicationType": "VALOR",
          "description": "Descrição de exemplo",
          "minValue": {
            "amount": 2000,
            "currency": "BRL"
          },
          "maxValue": {
            "amount": 2000,
            "currency": "BRL"
          },
          "percentage": 10
        }
      }
    ],
    "coinsuranceRetainedPercentage": "10",
    "coinsurers": [
      {
        "identification": "string",
        "cededPercentage": 10
      }
    ],
    "repairNetwork": "REDE_REFERENCIADA",
    "repairedPartsUsageType": "NOVA_E_USADA",
    "repairedPartsClassification": "ORIGINAL_E_COMPATIVEL",
    "repairedPartsNationality": "NACIONAL_E_IMPORTADA",
    "validityType": "SEMESTRAL_INTERMITENTE",
    "otherCompensations": "string",
    "otherBenefits": "DESCONTOS",
    "assistancePackages": "ATE_DEZ_SERVICOS",
    "isExpiredRiskPolicy": true,
    "bonusDiscountRate": "0",
    "bonusClass": "string",
    "drivers": [
      {
        "identification": "12345678900",
        "sex": "MASCULINO",
        "birthDate": "AAAA-MM-DD",
        "licensedExperience": 4
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceAutoPolicyInfo](#schemainsuranceautopolicyinfo)|true|none|none|
|links|[Links](#schemalinksauto)|true|none|none|
|meta|[Meta](#schemametaauto)|true|none|none|

<h2 id="tocS_InsuranceAutoPolicyInfo">InsuranceAutoPolicyInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautopolicyinfo"></a>
<a id="schema_InsuranceAutoPolicyInfo"></a>
<a id="tocSinsuranceautopolicyinfo"></a>
<a id="tocsinsuranceautopolicyinfo"></a>

```json
{
  "documentType": "APOLICE_INDIVIDUAL",
  "policyId": "111111",
  "susepProcessNumber": "string",
  "groupCertificateId": "string",
  "issuanceType": "EMISSAO_PROPRIA",
  "issuanceDate": "AAAA-MM-DD",
  "termStartDate": "AAAA-MM-DD",
  "termEndDate": "AAAA-MM-DD",
  "leadInsurerCode": "string",
  "leadInsurerPolicyId": "string",
  "maxLMG": {
    "amount": 2000,
    "currency": "BRL"
  },
  "proposalId": "string",
  "insureds": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "beneficiaries": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "principals": [
    {
      "identification": "12345678900",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "email": "string",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "intermediaries": [
    {
      "type": "REPRESENTANTE",
      "identification": "12345678900",
      "brokerId": "string",
      "identificationType": "CPF",
      "name": "Nome Sobrenome",
      "postCode": "10000000",
      "city": "string",
      "state": "string",
      "country": "BRA",
      "address": "string"
    }
  ],
  "insuredObjects": [
    {
      "identification": "string",
      "type": "CONTRATO",
      "typeAdditionalInfo": "string",
      "description": "string",
      "hasExactVehicleIdentification": true,
      "modality": "VALOR_DE_MERCADO_REFERENCIADO",
      "amountReferenceTable": "MOLICAR",
      "model": "string",
      "year": "stri",
      "fareCategory": "10",
      "riskPostCode": "10000000",
      "vehicleUsage": "LAZER",
      "frequentDestinationPostCode": "10000000",
      "overnightPostCode": "10000000",
      "coverages": [
        {
          "branch": 111,
          "code": "CASCO_COMPREENSIVA",
          "description": "string",
          "internalCode": "string",
          "susepProcessNumber": "string",
          "LMI": {
            "amount": 2000,
            "currency": "BRL"
          },
          "termStartDate": "AAAA-MM-DD",
          "termEndDate": "AAAA-MM-DD",
          "isMainCoverage": true,
          "feature": "MASSIFICADOS",
          "type": "PARAMETRICO",
          "gracePeriod": 0,
          "gracePeriodicity": "DIA",
          "gracePeriodCountingMethod": "DIAS_UTEIS",
          "gracePeriodStartDate": "AAAA-MM-DD",
          "gracePeriodEndDate": "AAAA-MM-DD",
          "adjustmentRate": "10",
          "premiumAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "compensationType": "PARCIAL",
          "partialCompensationPercentage": 10,
          "percentageOverLMI": 10,
          "daysForTotalCompensation": 0,
          "boundCoverage": "VEICULO"
        }
      ]
    }
  ],
  "coverages": [
    {
      "branch": 111,
      "code": "CASCO_COMPREENSIVA",
      "description": "string",
      "deductible": {
        "type": "DEDUTIVEL",
        "typeAdditionalInfo": "string",
        "amount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "period": 10,
        "periodicity": "DIA",
        "periodCountingMethod": "DIAS_UTEIS",
        "periodStartDate": "2022-05-16",
        "periodEndDate": "2022-05-17",
        "description": "Franquia de exemplo",
        "hasDeductibleOverTotalCompensation": true
      },
      "POS": {
        "applicationType": "VALOR",
        "description": "Descrição de exemplo",
        "minValue": {
          "amount": 2000,
          "currency": "BRL"
        },
        "maxValue": {
          "amount": 2000,
          "currency": "BRL"
        },
        "percentage": 10
      }
    }
  ],
  "coinsuranceRetainedPercentage": "10",
  "coinsurers": [
    {
      "identification": "string",
      "cededPercentage": 10
    }
  ],
  "repairNetwork": "REDE_REFERENCIADA",
  "repairedPartsUsageType": "NOVA_E_USADA",
  "repairedPartsClassification": "ORIGINAL_E_COMPATIVEL",
  "repairedPartsNationality": "NACIONAL_E_IMPORTADA",
  "validityType": "SEMESTRAL_INTERMITENTE",
  "otherCompensations": "string",
  "otherBenefits": "DESCONTOS",
  "assistancePackages": "ATE_DEZ_SERVICOS",
  "isExpiredRiskPolicy": true,
  "bonusDiscountRate": "0",
  "bonusClass": "string",
  "drivers": [
    {
      "identification": "12345678900",
      "sex": "MASCULINO",
      "birthDate": "AAAA-MM-DD",
      "licensedExperience": 4
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|documentType|string|true|none|Tipo de Documento Emitido|
|policyId|string|true|none|Identificador da apólice ou bilhete|
|susepProcessNumber|string|false|none|Número SUSEP da apólice, conforme regulamentação vigente (Obrigatório caso apólice com coberturas do ramo Garantia)|
|groupCertificateId|string|false|none|Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)|
|issuanceType|string|true|none|Tipo de Emissão|
|issuanceDate|string(date)|true|none|Data de emissão do documento|
|termStartDate|string(date)|true|none|Data de início de vigência do documento|
|termEndDate|string(date)|true|none|Data de fim de vigência do documento|
|leadInsurerCode|string|false|none|Código da seguradora líder para contratos com arranjo de cosseguro|
|leadInsurerPolicyId|string|false|none|Identificador da apólice seguradora líder para apólice de cosseguro aceito|
|maxLMG|[AmountDetails](#schemaamountdetailsauto)|true|none|Limite Máximo de Garantia.|
|proposalId|string|true|none|Identificador da Proposta|
|insureds|[[PersonalInfo](#schemapersonalinfoauto)]|true|none|none|
|beneficiaries|[[PersonalInfo](#schemapersonalinfoauto)]|false|none|none|
|principals|[[PersonalInfo](#schemapersonalinfoauto)]|false|none|none|
|intermediaries|[[Intermediary](#schemaintermediaryauto)]|false|none|none|
|insuredObjects|[[InsuranceAutoInsuredObject](#schemainsuranceautoinsuredobject)]|true|none|none|
|coverages|[[InsuranceAutoCoverage](#schemainsuranceautocoverage)]|false|none|none|
|coinsuranceRetainedPercentage|string|false|none|Percentual Retido em Cosseguro (Quando há cosseguro)|
|coinsurers|[[Coinsurer](#schemacoinsurerauto)]|false|none|none|
|repairNetwork|string|true|none|Rede de reparação dos veículos|
|repairedPartsUsageType|string|true|none|Tipos de peças passíveis de uso em reparos (Casco)|
|repairedPartsClassification|string|true|none|Classificação das peças passíveis de uso em reparos (Casco)|
|repairedPartsNationality|string|true|none|Nacionalidade das peças passíveis de uso em reparos (Casco)|
|validityType|string|true|none|Tipo de vigência (Casco, RCF-A, APP, Assistência e Outras Coberturas)|
|otherCompensations|string|false|none|Outras formas de recompensa (Caso aplicável)|
|otherBenefits|string|false|none|Benefícios Adicionais (Caso aplicável)|
|assistancePackages|string|false|none|Pacotes de Assistência (Caso aplicável)|
|isExpiredRiskPolicy|boolean|false|none|Apólice de Risco Decorrido (Caso aplicável)|
|bonusDiscountRate|string|false|none|Percentual de desconto por bônus (Casco, RCF-A, APP, Assistência; caso aplicável)|
|bonusClass|string|false|none|Classe de bônus (Casco, RCF-A, APP, Assistência e Outras Coberturas; caso aplicável)|
|drivers|[[Driver](#schemadriver)]|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|documentType|APOLICE_INDIVIDUAL|
|documentType|BILHETE|
|documentType|CERTIFICADO|
|documentType|APOLICE_INDIVIDUAL_AUTOMOVEL|
|documentType|APOLICE_FROTA_AUTOMOVEL|
|issuanceType|EMISSAO_PROPRIA|
|issuanceType|COSSEGURO_ACEITO|
|repairNetwork|LIVRE_ESCOLHA|
|repairNetwork|REDE_REFERENCIADA|
|repairNetwork|AMBAS|
|repairNetwork|OUTROS|
|repairedPartsUsageType|NOVA|
|repairedPartsUsageType|USADA|
|repairedPartsUsageType|NOVA_E_USADA|
|repairedPartsClassification|ORIGINAL|
|repairedPartsClassification|COMPATIVEL|
|repairedPartsClassification|ORIGINAL_E_COMPATIVEL|
|repairedPartsNationality|NACIONAL|
|repairedPartsNationality|IMPORTADA|
|repairedPartsNationality|NACIONAL_E_IMPORTADA|
|validityType|ANUAL|
|validityType|ANUAL_INTERMITENTE|
|validityType|PLURIANUAL|
|validityType|PLURIANUAL_INTERMITENTE|
|validityType|SEMESTRAL|
|validityType|SEMESTRAL_INTERMITENTE|
|validityType|MENSAL|
|validityType|MENSAL_INTERMITENTE|
|validityType|DIARIO|
|validityType|DIARIO_INTERMITENTE|
|validityType|OUTROS|
|otherBenefits|SORTEIO_GRATUITO|
|otherBenefits|CLUBE_DE_BENEFICIOS|
|otherBenefits|CASH_BACK|
|otherBenefits|DESCONTOS|
|otherBenefits|CUSTOMIZAVEL|
|assistancePackages|ATE_DEZ_SERVICOS|
|assistancePackages|ATE_VINTE_SERVICOS|
|assistancePackages|ACIMA_DE_VINTE_SERVICOS|
|assistancePackages|CUSTOMIZAVEL|

<h2 id="tocS_PersonalInfoAuto">PersonalInfo</h2>
<!-- backwards compatibility -->
<a id="schemapersonalinfoauto"></a>
<a id="schema_PersonalInfo"></a>
<a id="tocSpersonalinfo"></a>
<a id="tocspersonalinfo"></a>

```json
{
  "identification": "12345678900",
  "identificationType": "CPF",
  "name": "Nome Sobrenome",
  "postCode": "10000000",
  "email": "string",
  "city": "string",
  "state": "string",
  "country": "BRA",
  "address": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Documento de Identificação da Pessoa|
|identificationType|string|true|none|Tipo de Documento da Pessoa|
|name|string|true|none|Nome ou Razão Social da Pessoa|
|postCode|string|true|none|Código Postal da Pessoa|
|email|string|false|none|E-mail da Pessoa (caso possua)|
|city|string|true|none|Cidade da Pessoa (por extenso)|
|state|string|true|none|Estado da Pessoa (por extenso)|
|country|string|true|none|País da Pessoa (de acordo com o código "alpha3" do ISO-3166)|
|address|string|true|none|Endereço da Pessoa (restante do endereço, excluindo cidade, estado e país)|

#### Enumerated Values

|Property|Value|
|---|---|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_IntermediaryAuto">Intermediary</h2>
<!-- backwards compatibility -->
<a id="schemaintermediaryauto"></a>
<a id="schema_Intermediary"></a>
<a id="tocSintermediary"></a>
<a id="tocsintermediary"></a>

```json
{
  "type": "REPRESENTANTE",
  "identification": "12345678900",
  "brokerId": "string",
  "identificationType": "CPF",
  "name": "Nome Sobrenome",
  "postCode": "10000000",
  "city": "string",
  "state": "string",
  "country": "BRA",
  "address": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|Tipo do Intermediador|
|identification|string|true|none|Documento de Identificação da Intermediador|
|brokerId|string|false|none|Identificador do Intermediador (Caso Tipo de Intermediador for CORRETOR)|
|identificationType|string|true|none|Tipo de Documento da Intermediador|
|name|string|true|none|Nome ou Razão Social da Intermediador|
|postCode|string|false|none|Código Postal da Intermediador (Caso Tipo de Intermediador for ESTIPULANTE)|
|city|string|false|none|Cidade da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)|
|state|string|false|none|Estado da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)|
|country|string|false|none|País da Intermediador (de acordo com o código "alpha3" do ISO-3166; Caso Tipo de Intermediador for ESTIPULANTE)|
|address|string|false|none|Endereço da Intermediador (restante do do endereço, excluindo cidade, estado e país; Caso Tipo de Intermediador for ESTIPULANTE)|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CORRETOR|
|type|REPRESENTANTE|
|type|ESTIPULANTE|
|type|CORRESPONDENTE|
|type|AGENTE_DE_MICROSSEGUROS|
|type|OUTROS|
|identificationType|CPF|
|identificationType|CNPJ|
|identificationType|OUTROS|

<h2 id="tocS_InsuranceAutoInsuredObject">InsuranceAutoInsuredObject</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautoinsuredobject"></a>
<a id="schema_InsuranceAutoInsuredObject"></a>
<a id="tocSinsuranceautoinsuredobject"></a>
<a id="tocsinsuranceautoinsuredobject"></a>

```json
{
  "identification": "string",
  "type": "CONTRATO",
  "typeAdditionalInfo": "string",
  "description": "string",
  "hasExactVehicleIdentification": true,
  "modality": "VALOR_DE_MERCADO_REFERENCIADO",
  "amountReferenceTable": "MOLICAR",
  "model": "string",
  "year": "stri",
  "fareCategory": "10",
  "riskPostCode": "10000000",
  "vehicleUsage": "LAZER",
  "frequentDestinationPostCode": "10000000",
  "overnightPostCode": "10000000",
  "coverages": [
    {
      "branch": 111,
      "code": "CASCO_COMPREENSIVA",
      "description": "string",
      "internalCode": "string",
      "susepProcessNumber": "string",
      "LMI": {
        "amount": 2000,
        "currency": "BRL"
      },
      "termStartDate": "AAAA-MM-DD",
      "termEndDate": "AAAA-MM-DD",
      "isMainCoverage": true,
      "feature": "MASSIFICADOS",
      "type": "PARAMETRICO",
      "gracePeriod": 0,
      "gracePeriodicity": "DIA",
      "gracePeriodCountingMethod": "DIAS_UTEIS",
      "gracePeriodStartDate": "AAAA-MM-DD",
      "gracePeriodEndDate": "AAAA-MM-DD",
      "adjustmentRate": "10",
      "premiumAmount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "compensationType": "PARCIAL",
      "partialCompensationPercentage": 10,
      "percentageOverLMI": 10,
      "daysForTotalCompensation": 0,
      "boundCoverage": "VEICULO"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificador do objeto segurado|
|type|string|true|none|Tipo do objeto segurado|
|typeAdditionalInfo|string|false|none|Descrição do tipo do objeto segurado(caso tipo de objeto segurado for outros).|
|description|string|true|none|Descrição do objeto segurado|
|hasExactVehicleIdentification|boolean|false|none|Identificação exata do veículo (Casco, RCF-A, APP, Assistência e Outras Coberturas)|
|modality|string|false|none|Modalidade de cobertura (para cobertura Casco)|
|amountReferenceTable|string|false|none|Tabela de referência adotada no plano (Casco, RCF-A, APP, Assistência e Outras Coberturas)|
|model|string|false|none|Código do modelo (caso aplicável)|
|year|string|false|none|Ano do modelo (caso aplicável)|
|fareCategory|string|false|none|Categoria tarifária (Casco, RCF-A, APP, Assistência e Outras Coberturas; caso aplicável) - Conforme definido na tabela 9.9 do Manual de  Orientação para Envio de Dados, Circular Susep nº 522|
|riskPostCode|string|false|none|CEP de risco (caso aplicável)|
|vehicleUsage|string|false|none|Código de utilização do veículo (Casco, RCF-A, APP, Assistência e Outras Coberturas; caso aplicável)|
|frequentDestinationPostCode|string|false|none|CEP da localidade de destino frequente do veículo (caso aplicável)|
|overnightPostCode|string|false|none|CEP da localidade de pernoite do veículo (caso aplicável)|
|coverages|[[InsuranceAutoInsuredObjectCoverage](#schemainsuranceautoinsuredobjectcoverage)]|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CONTRATO|
|type|PROCESSO_ADMINISTRATIVO|
|type|PROCESSO_JUDICIAL|
|type|AUTOMOVEL|
|type|CONDUTOR|
|type|OUTROS|
|modality|VALOR_DE_MERCADO_REFERENCIADO|
|modality|VALOR_DETERMINADO|
|modality|CRITERIO_DIVERSO|
|modality|OUTROS|
|amountReferenceTable|MOLICAR|
|amountReferenceTable|FIPE|
|amountReferenceTable|JORNAL_DO_CARRO|
|amountReferenceTable|VD|
|amountReferenceTable|OUTRAS|
|fareCategory|10|
|fareCategory|11|
|fareCategory|14A|
|fareCategory|14B|
|fareCategory|14C|
|fareCategory|15|
|fareCategory|16|
|fareCategory|17|
|fareCategory|18|
|fareCategory|19|
|fareCategory|20|
|fareCategory|21|
|fareCategory|22|
|fareCategory|23|
|fareCategory|30|
|fareCategory|31|
|fareCategory|40|
|fareCategory|41|
|fareCategory|42|
|fareCategory|43|
|fareCategory|50|
|fareCategory|51|
|fareCategory|52|
|fareCategory|53|
|fareCategory|58|
|fareCategory|59|
|fareCategory|60|
|fareCategory|61|
|fareCategory|62|
|fareCategory|63|
|fareCategory|68|
|fareCategory|69|
|fareCategory|70|
|fareCategory|71|
|fareCategory|72|
|fareCategory|73|
|fareCategory|80|
|fareCategory|81|
|fareCategory|82|
|fareCategory|83|
|fareCategory|84|
|fareCategory|85|
|fareCategory|86|
|fareCategory|87|
|fareCategory|88|
|fareCategory|89|
|fareCategory|90|
|fareCategory|91|
|fareCategory|92|
|fareCategory|93|
|fareCategory|94|
|fareCategory|95|
|fareCategory|96|
|fareCategory|97|
|vehicleUsage|LAZER|
|vehicleUsage|LOCOMOCAO_DIARIA|
|vehicleUsage|EXERCICIO_DO_TRABALHO|
|vehicleUsage|OUTROS|

<h2 id="tocS_InsuranceAutoInsuredObjectCoverage">InsuranceAutoInsuredObjectCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautoinsuredobjectcoverage"></a>
<a id="schema_InsuranceAutoInsuredObjectCoverage"></a>
<a id="tocSinsuranceautoinsuredobjectcoverage"></a>
<a id="tocsinsuranceautoinsuredobjectcoverage"></a>

```json
{
  "branch": 111,
  "code": "CASCO_COMPREENSIVA",
  "description": "string",
  "internalCode": "string",
  "susepProcessNumber": "string",
  "LMI": {
    "amount": 2000,
    "currency": "BRL"
  },
  "termStartDate": "AAAA-MM-DD",
  "termEndDate": "AAAA-MM-DD",
  "isMainCoverage": true,
  "feature": "MASSIFICADOS",
  "type": "PARAMETRICO",
  "gracePeriod": 0,
  "gracePeriodicity": "DIA",
  "gracePeriodCountingMethod": "DIAS_UTEIS",
  "gracePeriodStartDate": "AAAA-MM-DD",
  "gracePeriodEndDate": "AAAA-MM-DD",
  "adjustmentRate": "10",
  "premiumAmount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "compensationType": "PARCIAL",
  "partialCompensationPercentage": 10,
  "percentageOverLMI": 10,
  "daysForTotalCompensation": 0,
  "boundCoverage": "VEICULO"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e Ramo da Cobertura (Conforme regulamentação Susep vigente)|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Obrigatório quando o campo 'Codigo' for preenchido com 'Outras')|
|internalCode|string|false|none|Código interno da cobertura da seguradora(obrigatório se houver)|
|susepProcessNumber|string|true|none|none|
|LMI|[AmountDetails](#schemaamountdetailsauto)|true|none|Limite máximo de indenização (LMI)|
|termStartDate|string(date)|true|none|Data de início de vigência da cobertura|
|termEndDate|string(date)|true|none|Data de fim de vigência da cobertura|
|isMainCoverage|boolean|false|none|Cobertura Principal|
|feature|string|true|none|Característica da cobertura|
|type|string|true|none|Tipo de cobertura|
|gracePeriod|integer|false|none|Período de carência. OBS: Obrigatório, se houver|
|gracePeriodicity|string|false|none|Periodicidade da carência. OBS: Obrigatório, se houver|
|gracePeriodCountingMethod|string|false|none|Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver|
|gracePeriodStartDate|string(date)|false|none|Data de início da carência. OBS: Obrigatório, se houver|
|gracePeriodEndDate|string(date)|false|none|Data de fim da carência. OBS: Obrigatório, se houver|
|adjustmentRate|string|false|none|Percentual de ajuste aplicado à tabela de referência (caso aplicável)|
|premiumAmount|[AmountDetails](#schemaamountdetailsauto)|true|none|Valor de Prêmio da Cobertura|
|compensationType|string|false|none|Tipo de indenização por cobertura contratada (caso aplicável)|
|partialCompensationPercentage|number|false|none|Percentual por indenização parcial (caso aplicável)|
|percentageOverLMI|number|false|none|Percentual aplicado sobre o limite máximo de indenização (caso aplicável)|
|daysForTotalCompensation|integer|false|none|Número de dias de cobertura para direito à indenização (caso aplicável)|
|boundCoverage|string|false|none|Cobertura vinculada (RCF-A, APP, Assistência e Outras Coberturas; caso aplicável)|

#### Enumerated Values

|Property|Value|
|---|---|
|code|CASCO_COMPREENSIVA|
|code|CASCO_INCENDIO_ROUBO_E_FURTO|
|code|CASCO_ROUBO_E_FURTO|
|code|CASCO_INCENDIO|
|code|CASCO_ALAGAMENTO|
|code|CASCO_COLISAO_INDENIZACAO_PARCIAL|
|code|CASCO_COLISAO_INDENIZACAO_INTEGRAL|
|code|RESPONSABILIDADE_CIVIL_FACULTATIVA_DE_VEICULOS_RCFV|
|code|RESPONSABILIDADE_CIVIL_FACULTATIVA_DO_CONDUTOR_RCFC|
|code|ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_VEICULO|
|code|ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_CONDUTOR|
|code|VIDROS|
|code|DIARIA_POR_INDISPONIBILIDADE|
|code|LFR_LANTERNAS_FAROIS_E_RETROVISORES|
|code|ACESSORIOS_E_EQUIPAMENTOS|
|code|CARRO_RESERVA|
|code|PEQUENOS_REPAROS|
|code|RESPONSABILIDADE_CIVIL_CARTA_VERDE|
|code|OUTRAS|
|feature|MASSIFICADOS|
|feature|MASSIFICADOS_MICROSEGUROS|
|feature|GRANDES_RISCOS|
|type|PARAMETRICO|
|type|INTERMITENTE|
|type|REGULAR_COMUM|
|type|CAPITAL_GLOBAL|
|type|PARAMETRICO_E_INTERMITENTE|
|gracePeriodicity|DIA|
|gracePeriodicity|MES|
|gracePeriodicity|ANO|
|gracePeriodCountingMethod|DIAS_UTEIS|
|gracePeriodCountingMethod|DIAS_CORRIDOS|
|compensationType|INTEGRAL|
|compensationType|PARCIAL|
|compensationType|OUTROS|
|boundCoverage|VEICULO|
|boundCoverage|CONDUTOR|
|boundCoverage|OUTROS|

<h2 id="tocS_InsuranceAutoCoverage">InsuranceAutoCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautocoverage"></a>
<a id="schema_InsuranceAutoCoverage"></a>
<a id="tocSinsuranceautocoverage"></a>
<a id="tocsinsuranceautocoverage"></a>

```json
{
  "branch": 111,
  "code": "CASCO_COMPREENSIVA",
  "description": "string",
  "deductible": {
    "type": "DEDUTIVEL",
    "typeAdditionalInfo": "string",
    "amount": {
      "amount": 2000,
      "currency": "BRL"
    },
    "period": 10,
    "periodicity": "DIA",
    "periodCountingMethod": "DIAS_UTEIS",
    "periodStartDate": "2022-05-16",
    "periodEndDate": "2022-05-17",
    "description": "Franquia de exemplo",
    "hasDeductibleOverTotalCompensation": true
  },
  "POS": {
    "applicationType": "VALOR",
    "description": "Descrição de exemplo",
    "minValue": {
      "amount": 2000,
      "currency": "BRL"
    },
    "maxValue": {
      "amount": 2000,
      "currency": "BRL"
    },
    "percentage": 10
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|deductible|[InsuranceAutoDeductible](#schemainsuranceautodeductible)|false|none|Informações de franquia|
|POS|[InsuranceAutoPOS](#schemainsuranceautopos)|false|none|Informações de franquia|

#### Enumerated Values

|Property|Value|
|---|---|
|code|CASCO_COMPREENSIVA|
|code|CASCO_INCENDIO_ROUBO_E_FURTO|
|code|CASCO_ROUBO_E_FURTO|
|code|CASCO_INCENDIO|
|code|CASCO_ALAGAMENTO|
|code|CASCO_COLISAO_INDENIZACAO_PARCIAL|
|code|CASCO_COLISAO_INDENIZACAO_INTEGRAL|
|code|RESPONSABILIDADE_CIVIL_FACULTATIVA_DE_VEICULOS_RCFV|
|code|RESPONSABILIDADE_CIVIL_FACULTATIVA_DO_CONDUTOR_RCFC|
|code|ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_VEICULO|
|code|ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_CONDUTOR|
|code|VIDROS|
|code|DIARIA_POR_INDISPONIBILIDADE|
|code|LFR_LANTERNAS_FAROIS_E_RETROVISORES|
|code|ACESSORIOS_E_EQUIPAMENTOS|
|code|CARRO_RESERVA|
|code|PEQUENOS_REPAROS|
|code|RESPONSABILIDADE_CIVIL_CARTA_VERDE|
|code|OUTRAS|

<h2 id="tocS_InsuranceAutoDeductible">InsuranceAutoDeductible</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautodeductible"></a>
<a id="schema_InsuranceAutoDeductible"></a>
<a id="tocSinsuranceautodeductible"></a>
<a id="tocsinsuranceautodeductible"></a>

```json
{
  "type": "DEDUTIVEL",
  "typeAdditionalInfo": "string",
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "period": 10,
  "periodicity": "DIA",
  "periodCountingMethod": "DIAS_UTEIS",
  "periodStartDate": "2022-05-16",
  "periodEndDate": "2022-05-17",
  "description": "Franquia de exemplo",
  "hasDeductibleOverTotalCompensation": true
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo de Franquia|
|typeAdditionalInfo|string|false|none|Descriçao do Tipo de Franquia (Caso Tipo de Franquia for "OUTROS")|
|amount|[AmountDetails](#schemaamountdetailsauto)|false|none|Valor da Franquia (caso aplicável)|
|period|integer|false|none|Prazo da Franquia (caso aplicável)|
|periodicity|string|false|none|Periodicidade da Franquia (caso aplicável)|
|periodCountingMethod|string|false|none|Indicador de Dias Úteis ou Corridos (caso aplicável)|
|periodStartDate|string(date)|false|none|Data de Início da Franquia (caso aplicável)|
|periodEndDate|string(date)|false|none|Data de Fim da Franquia (caso aplicável)|
|description|string|false|none|Descrição da Franquia (caso aplicável)|
|hasDeductibleOverTotalCompensation|boolean|false|none|Indicador de Franquia sobre indenização integral (caso aplicável)|

#### Enumerated Values

|Property|Value|
|---|---|
|type|REDUZIDA|
|type|NORMAL|
|type|MAJORADA|
|type|DEDUTIVEL|
|type|OUTROS|
|periodicity|DIA|
|periodicity|MES|
|periodicity|ANO|
|periodCountingMethod|DIAS_UTEIS|
|periodCountingMethod|DIAS_CORRIDOS|

<h2 id="tocS_InsuranceAutoPOS">InsuranceAutoPOS</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautopos"></a>
<a id="schema_InsuranceAutoPOS"></a>
<a id="tocSinsuranceautopos"></a>
<a id="tocsinsuranceautopos"></a>

```json
{
  "applicationType": "VALOR",
  "description": "Descrição de exemplo",
  "minValue": {
    "amount": 2000,
    "currency": "BRL"
  },
  "maxValue": {
    "amount": 2000,
    "currency": "BRL"
  },
  "percentage": 10
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|applicationType|string|true|none|Forma de Aplicação do POS|
|description|string|false|none|Descrição do POS|
|minValue|[AmountDetails](#schemaamountdetailsauto)|false|none|Valor Mínimo do POS|
|maxValue|[AmountDetails](#schemaamountdetailsauto)|false|none|Valor Máximo do POS|
|percentage|number|false|none|Percentual do POS|

#### Enumerated Values

|Property|Value|
|---|---|
|applicationType|VALOR|
|applicationType|PERCENTUAL|
|applicationType|OUTROS|

<h2 id="tocS_CoinsurerAuto">Coinsurer</h2>
<!-- backwards compatibility -->
<a id="schemacoinsurerauto"></a>
<a id="schema_Coinsurer"></a>
<a id="tocScoinsurer"></a>
<a id="tocscoinsurer"></a>

```json
{
  "identification": "string",
  "cededPercentage": 10
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificação da congênere, cessionário do cosseguro. Obs: Obrigatório quando há cosseguro|
|cededPercentage|number|true|none|Percentual cedido para a congênere para contratos de cosseguro cedido. Obs: Obrigatório quando há cosseguro|

<h2 id="tocS_ResponseInsuranceAutoPremium">ResponseInsuranceAutoPremium</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsuranceautopremium"></a>
<a id="schema_ResponseInsuranceAutoPremium"></a>
<a id="tocSresponseinsuranceautopremium"></a>
<a id="tocsresponseinsuranceautopremium"></a>

```json
{
  "data": {
    "paymentsQuantity": 4,
    "amount": {
      "amount": 2000,
      "currency": "BRL"
    },
    "coverages": [
      {
        "branch": 111,
        "code": "CASCO_COMPREENSIVA",
        "description": "string",
        "premiumAmount": {
          "amount": 2000,
          "currency": "BRL"
        }
      }
    ],
    "payments": [
      {
        "movementDate": "AAAA-MM-DD",
        "movementType": "LIQUIDACAO_DE_PREMIO",
        "movementOrigin": "EMISSAO_DIRETA",
        "movementPaymentsNumber": 0,
        "amount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "maturityDate": "AAAA-MM-DD",
        "tellerId": "string",
        "tellerIdType": "CPF",
        "tellerName": "string",
        "financialInstitutionCode": "string",
        "paymentType": "BOLETO"
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceAutoPremium](#schemainsuranceautopremium)|true|none|none|
|links|[Links](#schemalinksauto)|true|none|none|
|meta|[Meta](#schemametaauto)|true|none|none|

<h2 id="tocS_InsuranceAutoPremium">InsuranceAutoPremium</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautopremium"></a>
<a id="schema_InsuranceAutoPremium"></a>
<a id="tocSinsuranceautopremium"></a>
<a id="tocsinsuranceautopremium"></a>

```json
{
  "paymentsQuantity": 4,
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "coverages": [
    {
      "branch": 111,
      "code": "CASCO_COMPREENSIVA",
      "description": "string",
      "premiumAmount": {
        "amount": 2000,
        "currency": "BRL"
      }
    }
  ],
  "payments": [
    {
      "movementDate": "AAAA-MM-DD",
      "movementType": "LIQUIDACAO_DE_PREMIO",
      "movementOrigin": "EMISSAO_DIRETA",
      "movementPaymentsNumber": 0,
      "amount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "maturityDate": "AAAA-MM-DD",
      "tellerId": "string",
      "tellerIdType": "CPF",
      "tellerName": "string",
      "financialInstitutionCode": "string",
      "paymentType": "BOLETO"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentsQuantity|number|true|none|Quantidade de parcelas do prêmio do contrato|
|amount|[AmountDetails](#schemaamountdetailsauto)|true|none|Valor total do prêmio do contrato|
|coverages|[[InsuranceAutoPremiumCoverage](#schemainsuranceautopremiumcoverage)]|true|none|none|
|payments|[[Payment](#schemapaymentauto)]|true|none|none|

<h2 id="tocS_InsuranceAutoPremiumCoverage">InsuranceAutoPremiumCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautopremiumcoverage"></a>
<a id="schema_InsuranceAutoPremiumCoverage"></a>
<a id="tocSinsuranceautopremiumcoverage"></a>
<a id="tocsinsuranceautopremiumcoverage"></a>

```json
{
  "branch": 111,
  "code": "CASCO_COMPREENSIVA",
  "description": "string",
  "premiumAmount": {
    "amount": 2000,
    "currency": "BRL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|premiumAmount|[AmountDetails](#schemaamountdetailsauto)|true|none|Valor de Prêmio da Cobertura|

#### Enumerated Values

|Property|Value|
|---|---|
|code|CASCO_COMPREENSIVA|
|code|CASCO_INCENDIO_ROUBO_E_FURTO|
|code|CASCO_ROUBO_E_FURTO|
|code|CASCO_INCENDIO|
|code|CASCO_ALAGAMENTO|
|code|CASCO_COLISAO_INDENIZACAO_PARCIAL|
|code|CASCO_COLISAO_INDENIZACAO_INTEGRAL|
|code|RESPONSABILIDADE_CIVIL_FACULTATIVA_DE_VEICULOS_RCFV|
|code|RESPONSABILIDADE_CIVIL_FACULTATIVA_DO_CONDUTOR_RCFC|
|code|ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_VEICULO|
|code|ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_CONDUTOR|
|code|VIDROS|
|code|DIARIA_POR_INDISPONIBILIDADE|
|code|LFR_LANTERNAS_FAROIS_E_RETROVISORES|
|code|ACESSORIOS_E_EQUIPAMENTOS|
|code|CARRO_RESERVA|
|code|PEQUENOS_REPAROS|
|code|RESPONSABILIDADE_CIVIL_CARTA_VERDE|
|code|OUTRAS|

<h2 id="tocS_PaymentAuto">Payment</h2>
<!-- backwards compatibility -->
<a id="schemapaymentauto"></a>
<a id="schema_Payment"></a>
<a id="tocSpayment"></a>
<a id="tocspayment"></a>

```json
{
  "movementDate": "AAAA-MM-DD",
  "movementType": "LIQUIDACAO_DE_PREMIO",
  "movementOrigin": "EMISSAO_DIRETA",
  "movementPaymentsNumber": 0,
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "maturityDate": "AAAA-MM-DD",
  "tellerId": "string",
  "tellerIdType": "CPF",
  "tellerName": "string",
  "financialInstitutionCode": "string",
  "paymentType": "BOLETO"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|movementDate|string(date)|true|none|Data do movimento de prêmio|
|movementType|string|true|none|Tipo do Movimento|
|movementOrigin|string|false|none|Origem do Movimento. Obs: Obrigatório caso Tipo de Movimento for LIQUIDACAO_DE_PREMIO e ESTORNO_DE_PREMIO|
|movementPaymentsNumber|number|true|none|Identificador da parcela do movimento|
|amount|[AmountDetails](#schemaamountdetailsauto)|true|none|Valor da parcela|
|maturityDate|string(date)|true|none|Data de Vencimento da Parcela|
|tellerId|string|false|none|Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|tellerIdType|string|false|none|Tipo do Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|tellerName|string|false|none|Nome ou Razão Social do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|financialInstitutionCode|string|false|none|Código da Instituição Financeiro do Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|paymentType|string|false|none|Meio de Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|

#### Enumerated Values

|Property|Value|
|---|---|
|movementType|LIQUIDACAO_DE_PREMIO|
|movementType|LIQUIDACAO_DE_RESTITUICAO_DE_PREMIO|
|movementType|LIQUIDACAO_DE_CUSTO_DE_AQUISICAO|
|movementType|LIQUIDACAO_DE_RESTITUICAO_DE_CUSTO_DE_AQUISICAO|
|movementType|ESTORNO_DE_PREMIO|
|movementType|ESTORNO_DE_RESTITUICAO_DE_PREMIO|
|movementType|ESTORNO_DE_CUSTO_DE_AQUISICAO|
|movementType|EMISSAO_DE_PREMIO|
|movementType|CANCELAMENTO_DE_PARCELA|
|movementType|EMISSAO_DE_RESTITUICAO_DE_PREMIO|
|movementType|REABERTURA_DE_PARCELA|
|movementType|BAIXA_POR_PERDA|
|movementOrigin|EMISSAO_DIRETA|
|movementOrigin|EMISSAO_ACEITA_DE_COSSEGURO|
|movementOrigin|EMISSAO_CEDIDA_DE_COSSEGURO|
|tellerIdType|CPF|
|tellerIdType|CNPJ|
|tellerIdType|OUTROS|
|paymentType|BOLETO|
|paymentType|TED|
|paymentType|TEF|
|paymentType|CARTAO|
|paymentType|DOC|
|paymentType|CHEQUE|
|paymentType|DESCONTO_EM_FOLHA|
|paymentType|PIX|
|paymentType|DINHEIRO_EM_ESPECIE|
|paymentType|OUTROS|

<h2 id="tocS_ResponseInsuranceAutoClaims">ResponseInsuranceAutoClaims</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsuranceautoclaims"></a>
<a id="schema_ResponseInsuranceAutoClaims"></a>
<a id="tocSresponseinsuranceautoclaims"></a>
<a id="tocsresponseinsuranceautoclaims"></a>

```json
{
  "data": [
    {
      "identification": "string",
      "documentationDeliveryDate": "AAAA-MM-DD",
      "status": "ABERTO",
      "statusAlterationDate": "AAAA-MM-DD",
      "occurrenceDate": "AAAA-MM-DD",
      "warningDate": "AAAA-MM-DD",
      "thirdPartyClaimDate": "AAAA-MM-DD",
      "amount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "denialJustification": "RISCO_EXCLUIDO",
      "denialJustificationDescription": "string",
      "coverages": [
        {
          "insuredObjectId": "string",
          "branch": 111,
          "code": "CASCO_COMPREENSIVA",
          "description": "string",
          "warningDate": "2022-05-01",
          "thirdPartyClaimDate": "2022-05-01"
        }
      ],
      "branchInfo": {
        "covenantNumber": "string",
        "occurrenceCause": "ROUBO_OU_FURTO",
        "driverAtOccurrenceSex": "MASCULINO",
        "driverAtOccurrenceBirthDate": "AAAA-MM-DD",
        "occurrenceCountry": "BRA",
        "occurrencePostCode": "10000000"
      }
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InsuranceAutoClaim](#schemainsuranceautoclaim)]|true|none|none|
|links|[Links](#schemalinksauto)|true|none|none|
|meta|[Meta](#schemametaauto)|true|none|none|

<h2 id="tocS_InsuranceAutoClaim">InsuranceAutoClaim</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautoclaim"></a>
<a id="schema_InsuranceAutoClaim"></a>
<a id="tocSinsuranceautoclaim"></a>
<a id="tocsinsuranceautoclaim"></a>

```json
{
  "identification": "string",
  "documentationDeliveryDate": "AAAA-MM-DD",
  "status": "ABERTO",
  "statusAlterationDate": "AAAA-MM-DD",
  "occurrenceDate": "AAAA-MM-DD",
  "warningDate": "AAAA-MM-DD",
  "thirdPartyClaimDate": "AAAA-MM-DD",
  "amount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "denialJustification": "RISCO_EXCLUIDO",
  "denialJustificationDescription": "string",
  "coverages": [
    {
      "insuredObjectId": "string",
      "branch": 111,
      "code": "CASCO_COMPREENSIVA",
      "description": "string",
      "warningDate": "2022-05-01",
      "thirdPartyClaimDate": "2022-05-01"
    }
  ],
  "branchInfo": {
    "covenantNumber": "string",
    "occurrenceCause": "ROUBO_OU_FURTO",
    "driverAtOccurrenceSex": "MASCULINO",
    "driverAtOccurrenceBirthDate": "AAAA-MM-DD",
    "occurrenceCountry": "BRA",
    "occurrencePostCode": "10000000"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Identificador do processo de sinistro|
|documentationDeliveryDate|string(date)|true|none|Data de entrega da documentação completa|
|status|string|true|none|Status do sinistro|
|statusAlterationDate|string(date)|true|none|Data de alteração do status do sinistro|
|occurrenceDate|string(date)|true|none|Data de ocorrência do sinistro|
|warningDate|string(date)|true|none|Data de aviso do sinistro|
|thirdPartyClaimDate|string(date)|false|none|Data de reclamação do terceiro|
|amount|[AmountDetails](#schemaamountdetailsauto)|true|none|Valor total bruto do sinistro considerando todos os movimentos e suas reavaliações. Não devem ser considerados valores de deduções (por exemplo, redutores e ressarcimento salvado)|
|denialJustification|string|false|none|Justificativa da Negativa(Caso Status do Sinistro for 'ENCERRADO_SEM_INDENIZACAO')|
|denialJustificationDescription|string|false|none|Descrição da Justificativa da Negativa(Caso Justificativa da Negativa for 'OUTROS')|
|coverages|[[InsuranceAutoClaimCoverage](#schemainsuranceautoclaimcoverage)]|false|none|none|
|branchInfo|[InsuranceAutoSpecificClaim](#schemainsuranceautospecificclaim)|false|none|Informações do Anexo Específico|

#### Enumerated Values

|Property|Value|
|---|---|
|status|ABERTO|
|status|ENCERRADO_COM_INDENIZACAO|
|status|ENCERRADO_SEM_INDENIZACAO|
|status|REABERTO|
|status|CANCELADO_POR_ERRO_OPERACIONAL|
|status|AVALIACAO_INICIAL|
|denialJustification|RISCO_EXCLUIDO|
|denialJustification|RISCO_AGRAVADO|
|denialJustification|SEM_DOCUMENTACAO|
|denialJustification|DOCUMENTACAO_INCOMPLETA|
|denialJustification|PRESCRICAO|
|denialJustification|FORA_COBERTURA|
|denialJustification|OUTROS|

<h2 id="tocS_InsuranceAutoClaimCoverage">InsuranceAutoClaimCoverage</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautoclaimcoverage"></a>
<a id="schema_InsuranceAutoClaimCoverage"></a>
<a id="tocSinsuranceautoclaimcoverage"></a>
<a id="tocsinsuranceautoclaimcoverage"></a>

```json
{
  "insuredObjectId": "string",
  "branch": 111,
  "code": "CASCO_COMPREENSIVA",
  "description": "string",
  "warningDate": "2022-05-01",
  "thirdPartyClaimDate": "2022-05-01"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|insuredObjectId|string|false|none|Identificador do Objeto Segurado (Caso aplicável)|
|branch|string|true|none|Grupo e ramo da cobertura|
|code|string|true|none|Código da cobertura, conforme Anexo II do Manual de Escopo de Dados|
|description|string|false|none|Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")|
|warningDate|string(date)|false|none|Data de Aviso do Sinistro por Cobertura (Caso aplicável)|
|thirdPartyClaimDate|string(date)|false|none|Data de Reclamação do Terceiro por Cobertura (Caso aplicável)|

#### Enumerated Values

|Property|Value|
|---|---|
|code|CASCO_COMPREENSIVA|
|code|CASCO_INCENDIO_ROUBO_E_FURTO|
|code|CASCO_ROUBO_E_FURTO|
|code|CASCO_INCENDIO|
|code|CASCO_ALAGAMENTO|
|code|CASCO_COLISAO_INDENIZACAO_PARCIAL|
|code|CASCO_COLISAO_INDENIZACAO_INTEGRAL|
|code|RESPONSABILIDADE_CIVIL_FACULTATIVA_DE_VEICULOS_RCFV|
|code|RESPONSABILIDADE_CIVIL_FACULTATIVA_DO_CONDUTOR_RCFC|
|code|ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_VEICULO|
|code|ACIDENTE_PESSOAIS_DE_PASSAGEIROS_APP_CONDUTOR|
|code|VIDROS|
|code|DIARIA_POR_INDISPONIBILIDADE|
|code|LFR_LANTERNAS_FAROIS_E_RETROVISORES|
|code|ACESSORIOS_E_EQUIPAMENTOS|
|code|CARRO_RESERVA|
|code|PEQUENOS_REPAROS|
|code|RESPONSABILIDADE_CIVIL_CARTA_VERDE|
|code|OUTRAS|

<h2 id="tocS_AmountDetailsAuto">AmountDetails</h2>
<!-- backwards compatibility -->
<a id="schemaamountdetailsauto"></a>
<a id="schema_AmountDetails"></a>
<a id="tocSamountdetails"></a>
<a id="tocsamountdetails"></a>

```json
{
  "amount": 2000,
  "currency": "BRL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|currency|string|true|none|Moeda da Parcela, de acordo com ISO-4217.|

<h2 id="tocS_InsuranceAutoSpecificClaim">InsuranceAutoSpecificClaim</h2>
<!-- backwards compatibility -->
<a id="schemainsuranceautospecificclaim"></a>
<a id="schema_InsuranceAutoSpecificClaim"></a>
<a id="tocSinsuranceautospecificclaim"></a>
<a id="tocsinsuranceautospecificclaim"></a>

```json
{
  "covenantNumber": "string",
  "occurrenceCause": "ROUBO_OU_FURTO",
  "driverAtOccurrenceSex": "MASCULINO",
  "driverAtOccurrenceBirthDate": "AAAA-MM-DD",
  "occurrenceCountry": "BRA",
  "occurrencePostCode": "10000000"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|covenantNumber|string|false|none|Número do convênio (Caso Responsabilidade Civil - Carta Verde)|
|occurrenceCause|string|false|none|Causa do Sinistro (Caso aplicável)|
|driverAtOccurrenceSex|string|false|none|Sexo do condutor do veículo no momento do sinistro (Caso aplicável)|
|driverAtOccurrenceBirthDate|string(date)|false|none|Data de nascimento do condutor do veículo no momento do sinistro (Caso aplicável)|
|occurrenceCountry|string|false|none|País de ocorrência do sinistro (Caso Responsabilidade Civil - Carta Verde)|
|occurrencePostCode|string|false|none|CEP da localidade de ocorrência do sinistro (Caso aplicável)|

#### Enumerated Values

|Property|Value|
|---|---|
|occurrenceCause|ROUBO_OU_FURTO|
|occurrenceCause|ROUBO|
|occurrenceCause|FURTO|
|occurrenceCause|COLISAO_PARCIAL|
|occurrenceCause|COLISAO_INDENIZACAO_INTEGRAL|
|occurrenceCause|INCENDIO|
|occurrenceCause|ASSISTENCIA_HORAS|
|occurrenceCause|OUTROS|
|driverAtOccurrenceSex|MASCULINO|
|driverAtOccurrenceSex|FEMININO|
|driverAtOccurrenceSex|NAO_DECLARADO|
|driverAtOccurrenceSex|OUTROS|

<h2 id="tocS_Driver">Driver</h2>
<!-- backwards compatibility -->
<a id="schemadriver"></a>
<a id="schema_Driver"></a>
<a id="tocSdriver"></a>
<a id="tocsdriver"></a>

```json
{
  "identification": "12345678900",
  "sex": "MASCULINO",
  "birthDate": "AAAA-MM-DD",
  "licensedExperience": 4
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|string|true|none|Documento de Identificação do Condutor|
|sex|string|false|none|Sexo do condutor utilizado para a taxação (caso aplicável)|
|birthDate|string(date)|false|none|Data de nascimento do condutor (caso aplicável)|
|licensedExperience|integer|false|none|Tempo de habilitação do condutor utilizado para taxação (caso aplicável)|

#### Enumerated Values

|Property|Value|
|---|---|
|sex|MASCULINO|
|sex|FEMININO|
|sex|NAO_DECLARADO|
|sex|OUTROS|

<h2 id="tocS_LinksAuto">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksauto"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
  "first": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
  "prev": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
  "next": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1",
  "last": "https://api.organizacao.com.br/open-insurance/insurance-auto/v1"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaAuto">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametaauto"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorAuto">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametaauto)|false|none|none|

<h2 id="tocS_XFapiInteractionIdAuto">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionid"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

