<h2 id="tocS_ResponseIntermediaryList">ResponseIntermediaryList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseintermediarylist"></a>
<a id="schema_ResponseIntermediaryList"></a>
<a id="tocSresponseintermediarylist"></a>
<a id="tocsresponseintermediarylist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "identification": [
            {
              "name": "Intermediário C",
              "nameOther": "Intermediário D",
              "documentNumber": 12341234123412,
              "type": "CORRETOR_DE_SEGUROS",
              "SUSEP": 15414622222222222,
              "postalAddress": [
                {
                  "address": "'Rua Diamantina, 59, bloco 35' Praça da Boa Vontade, s/n",
                  "additionalInfo": "Loja B",
                  "districtName": "Paraíso",
                  "townName": "São Paulo",
                  "ibgeCode": "string",
                  "countrySubDivision": "AC",
                  "postCode": 1310200,
                  "country": "ANDORRA",
                  "countryCode": "BRA",
                  "geographicCoordinates": {
                    "latitude": -89.836518,
                    "longitude": -179.836519
                  }
                }
              ],
              "access": {
                "standards": [
                  {
                    "openingTime": "10:00:57Z",
                    "closingTime": "16:00:57Z",
                    "weekday": "DOMINGO"
                  }
                ],
                "email": "Joao.silva@seguradoraa.com.br",
                "site": "https://openinsurance.com.br/aaa",
                "phones": [
                  {
                    "type": "FIXO",
                    "countryCallingCode": 55,
                    "areaCode": 11,
                    "number": 30041000
                  }
                ]
              },
              "services": [
                {
                  "name": "ACONSELHAMENTO_SOBRE_PRODUTOS_OFERTADOS",
                  "nameOthers": "string",
                  "line": [
                    "CAPITALIZACAO"
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/channels/v1",
    "first": "https://api.organizacao.com.br/open-insurance/channels/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/channels/v1",
    "next": "https://api.organizacao.com.br/open-insurance/channels/v1",
    "last": "https://api.organizacao.com.br/open-insurance/channels/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[IntermediaryBrand](#schemaintermediarybrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_IntermediaryBrand">IntermediaryBrand</h2>
<!-- backwards compatibility -->
<a id="schemaintermediarybrand"></a>
<a id="schema_IntermediaryBrand"></a>
<a id="tocSintermediarybrand"></a>
<a id="tocsintermediarybrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "identification": [
        {
          "name": "Intermediário C",
          "nameOther": "Intermediário D",
          "documentNumber": 12341234123412,
          "type": "CORRETOR_DE_SEGUROS",
          "SUSEP": 15414622222222222,
          "postalAddress": [
            {
              "address": "'Rua Diamantina, 59, bloco 35' Praça da Boa Vontade, s/n",
              "additionalInfo": "Loja B",
              "districtName": "Paraíso",
              "townName": "São Paulo",
              "ibgeCode": "string",
              "countrySubDivision": "AC",
              "postCode": 1310200,
              "country": "ANDORRA",
              "countryCode": "BRA",
              "geographicCoordinates": {
                "latitude": -89.836518,
                "longitude": -179.836519
              }
            }
          ],
          "access": {
            "standards": [
              {
                "openingTime": "10:00:57Z",
                "closingTime": "16:00:57Z",
                "weekday": "DOMINGO"
              }
            ],
            "email": "Joao.silva@seguradoraa.com.br",
            "site": "https://openinsurance.com.br/aaa",
            "phones": [
              {
                "type": "FIXO",
                "countryCallingCode": 55,
                "areaCode": 11,
                "number": 30041000
              }
            ]
          },
          "services": [
            {
              "name": "ACONSELHAMENTO_SOBRE_PRODUTOS_OFERTADOS",
              "nameOthers": "string",
              "line": [
                "CAPITALIZACAO"
              ]
            }
          ]
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes|
|companies|[IntermediaryCompany](#schemaintermediarycompany)|true|none|none|

<h2 id="tocS_IntermediaryCompany">IntermediaryCompany</h2>
<!-- backwards compatibility -->
<a id="schemaintermediarycompany"></a>
<a id="schema_IntermediaryCompany"></a>
<a id="tocSintermediarycompany"></a>
<a id="tocsintermediarycompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "identification": [
      {
        "name": "Intermediário C",
        "nameOther": "Intermediário D",
        "documentNumber": 12341234123412,
        "type": "CORRETOR_DE_SEGUROS",
        "SUSEP": 15414622222222222,
        "postalAddress": [
          {
            "address": "'Rua Diamantina, 59, bloco 35' Praça da Boa Vontade, s/n",
            "additionalInfo": "Loja B",
            "districtName": "Paraíso",
            "townName": "São Paulo",
            "ibgeCode": "string",
            "countrySubDivision": "AC",
            "postCode": 1310200,
            "country": "ANDORRA",
            "countryCode": "BRA",
            "geographicCoordinates": {
              "latitude": -89.836518,
              "longitude": -179.836519
            }
          }
        ],
        "access": {
          "standards": [
            {
              "openingTime": "10:00:57Z",
              "closingTime": "16:00:57Z",
              "weekday": "DOMINGO"
            }
          ],
          "email": "Joao.silva@seguradoraa.com.br",
          "site": "https://openinsurance.com.br/aaa",
          "phones": [
            {
              "type": "FIXO",
              "countryCallingCode": 55,
              "areaCode": 11,
              "number": 30041000
            }
          ]
        },
        "services": [
          {
            "name": "ACONSELHAMENTO_SOBRE_PRODUTOS_OFERTADOS",
            "nameOthers": "string",
            "line": [
              "CAPITALIZACAO"
            ]
          }
        ]
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade supervisionada participante|
|cnpjNumber|string|true|none|CNPJ da sociedade supervisionada participante|
|identification|[IntermediaryIdentification](#schemaintermediaryidentification)|true|none|none|

<h2 id="tocS_IntermediaryIdentification">IntermediaryIdentification</h2>
<!-- backwards compatibility -->
<a id="schemaintermediaryidentification"></a>
<a id="schema_IntermediaryIdentification"></a>
<a id="tocSintermediaryidentification"></a>
<a id="tocsintermediaryidentification"></a>

```json
[
  {
    "name": "Intermediário C",
    "nameOther": "Intermediário D",
    "documentNumber": 12341234123412,
    "type": "CORRETOR_DE_SEGUROS",
    "SUSEP": 15414622222222222,
    "postalAddress": [
      {
        "address": "'Rua Diamantina, 59, bloco 35' Praça da Boa Vontade, s/n",
        "additionalInfo": "Loja B",
        "districtName": "Paraíso",
        "townName": "São Paulo",
        "ibgeCode": "string",
        "countrySubDivision": "AC",
        "postCode": 1310200,
        "country": "ANDORRA",
        "countryCode": "BRA",
        "geographicCoordinates": {
          "latitude": -89.836518,
          "longitude": -179.836519
        }
      }
    ],
    "access": {
      "standards": [
        {
          "openingTime": "10:00:57Z",
          "closingTime": "16:00:57Z",
          "weekday": "DOMINGO"
        }
      ],
      "email": "Joao.silva@seguradoraa.com.br",
      "site": "https://openinsurance.com.br/aaa",
      "phones": [
        {
          "type": "FIXO",
          "countryCallingCode": 55,
          "areaCode": 11,
          "number": 30041000
        }
      ]
    },
    "services": [
      {
        "name": "ACONSELHAMENTO_SOBRE_PRODUTOS_OFERTADOS",
        "nameOthers": "string",
        "line": [
          "CAPITALIZACAO"
        ]
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome ou razão social (pessoa jurídica) do intermediário|
|nameOther|string|false|none|No caso da Pessoa jurídica|
|documentNumber|string|false|none|CPF ou CNPJ do intermediário OBS: Opcional para pessoa natural|
|type|string|true|none|Relação de tipos de intermediário|
|SUSEP|string|false|none|Número de Registro SUSEP no caso de intermediário ser Corretor de Seguros. OBS: Condicional a seleção de 1. Corretor de seguros no campo acima|
|postalAddress|[IntermediaryCoveragePostalAddress](#schemaintermediarycoveragepostaladdress)|true|none|none|
|access|[IntermediaryAccess](#schemaintermediaryaccess)|false|none|Forma de acesso.|
|services|[IntermediaryServices](#schemaintermediaryservices)|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CORRETOR_DE_SEGUROS|
|type|REPRESENTANTE_DE_SEGUROS|
|type|AGENTES_DE_SEGUROS|
|type|DISTRIBUIDOR_DE_TITULO_DE_CAPITALIZACAO|

<h2 id="tocS_IntermediaryCoveragePostalAddress">IntermediaryCoveragePostalAddress</h2>
<!-- backwards compatibility -->
<a id="schemaintermediarycoveragepostaladdress"></a>
<a id="schema_IntermediaryCoveragePostalAddress"></a>
<a id="tocSintermediarycoveragepostaladdress"></a>
<a id="tocsintermediarycoveragepostaladdress"></a>

```json
[
  {
    "address": "'Rua Diamantina, 59, bloco 35' Praça da Boa Vontade, s/n",
    "additionalInfo": "Loja B",
    "districtName": "Paraíso",
    "townName": "São Paulo",
    "ibgeCode": "string",
    "countrySubDivision": "AC",
    "postCode": 1310200,
    "country": "ANDORRA",
    "countryCode": "BRA",
    "geographicCoordinates": {
      "latitude": -89.836518,
      "longitude": -179.836519
    }
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|address|string|true|none|Deverá trazer toda a informação referente ao endereço do intermediário: Tipo de logradouro + Nome do logradouro + Número do Logradouro (se não existir usar ' s/n') + complemento (se houver)|
|additionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento, conforme o exemplo a seguir: 'Loja B', 'Fundos', 'Casa 2', 'Lote C'|
|districtName|string|false|none|Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas|
|townName|string|true|none|Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado|
|ibgeCode|string|true|none|7 dígitos (o último é um código verificador).|
|countrySubDivision|string|true|none|Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros:|
|postCode|string|true|none|Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios|
|country|string|false|none|Lista de países vide aba 'Lista de países'|
|countryCode|string|false|none|Código do país de acordo com o código “alpha3” do ISO-3166. p.ex.'BRA'|
|geographicCoordinates|[IntermediaryGeographicCoordinates](#schemaintermediarygeographiccoordinates)|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|countrySubDivision|AC|
|countrySubDivision|AL|
|countrySubDivision|AP|
|countrySubDivision|AM|
|countrySubDivision|BA|
|countrySubDivision|CE|
|countrySubDivision|DF|
|countrySubDivision|ES|
|countrySubDivision|GO|
|countrySubDivision|MA|
|countrySubDivision|MT|
|countrySubDivision|MS|
|countrySubDivision|MG|
|countrySubDivision|PA|
|countrySubDivision|PB|
|countrySubDivision|PR|
|countrySubDivision|PE|
|countrySubDivision|PI|
|countrySubDivision|RJ|
|countrySubDivision|RN|
|countrySubDivision|RS|
|countrySubDivision|RO|
|countrySubDivision|RR|
|countrySubDivision|SC|
|countrySubDivision|SP|
|countrySubDivision|SE|
|countrySubDivision|TO|
|country|ANDORRA|
|country|EMIRADOS_ARABES_UNIDOS|
|country|AFEGANISTAO|
|country|ANTIGUA_E_BARBUDA|
|country|ANGUILLA|
|country|ALBANIA|
|country|ARMENIA|
|country|ANTILHAS_HOLANDESAS|
|country|ANGOLA|
|country|ANTARTIDA|
|country|ARGENTINA|
|country|SAMOA_AMERICANA|
|country|AUSTRIA|
|country|AUSTRALIA|
|country|ARUBA|
|country|ILHAS_ALAND|
|country|AZERBAIJAO|
|country|BOSNIA_HERZEGOVINA|
|country|BARBADOS|
|country|BANGLADESH|
|country|BELGICA|
|country|BURKINA_FASSO|
|country|BULGARIA|
|country|BAHREIN|
|country|BURUNDI|
|country|BENIN|
|country|SAO_BARTOLOMEU|
|country|BERMUDAS|
|country|BRUNEI|
|country|BOLIVIA|
|country|BONAIRE_SINT_EUSTATIUS_E_SABA|
|country|BRASIL|
|country|BAHAMAS|
|country|BUTAO|
|country|ILHA_BOUVET_TERRITORIO_DA_NORUEGA|
|country|BOTSUANA|
|country|BELARUS|
|country|BELIZE|
|country|CANADA|
|country|ILHAS_COCOS|
|country|REPUBLICA_DEMOCRATICA_DO_CONGO_EX_ZAIRE|
|country|REPUBLICA_CENTRO_AFRICANA|
|country|CONGO|
|country|SUICA|
|country|COSTA_DO_MARFIM|
|country|ILHAS_COOK|
|country|CHILE|
|country|CAMAROES|
|country|CHINA|
|country|COLOMBIA|
|country|COSTA_RICA|
|country|CUBA|
|country|CABO_VERDE|
|country|CURACAO|
|country|ILHA_NATAL|
|country|CHIPRE|
|country|REPUBLICA_TCHECA|
|country|ALEMANHA|
|country|DJIBUTI|
|country|DINAMARCA|
|country|DOMINICA|
|country|REPUBLICA_DOMINICANA|
|country|ARGELIA|
|country|EQUADOR|
|country|ESTONIA|
|country|EGITO|
|country|SAARA_OCIDENTAL_EX_SPANISH_SAHARA|
|country|ERITREIA|
|country|ESPANHA|
|country|ETIOPIA|
|country|FINLANDIA|
|country|FIJI|
|country|ILHAS_FALKLAND_MALVINAS|
|country|MICRONESIA|
|country|ILHAS_FAROES|
|country|FRANCA|
|country|GABAO|
|country|GRA_BRETANHA_REINO_UNIDO_UK|
|country|GRANADA|
|country|GEORGIA|
|country|GUIANA_FRANCESA|
|country|GUERNSEY|
|country|GANA|
|country|GIBRALTAR|
|country|GROELANDIA|
|country|GAMBIA|
|country|GUINE|
|country|GUADALUPE|
|country|GUINE_EQUATORIAL|
|country|GRECIA|
|country|ILHAS_GEORGIA_DO_SUL_E_SANDWICH_DO_SUL|
|country|GUATEMALA|
|country|GUAM_TERRITORIO_DOS_ESTADOS_UNIDOS|
|country|GUINE_BISSAU|
|country|GUIANA|
|country|HONG_KONG|
|country|ILHAS_HEARD_E_MCDONALD_TERRITORIO_DA_AUSTRALIA|
|country|HONDURAS|
|country|CROACIA_HRVATSKA|
|country|HAITI|
|country|HUNGRIA|
|country|INDONESIA|
|country|IRLANDA|
|country|ISRAEL|
|country|ILHA_DO_HOMEM|
|country|INDIA|
|country|TERRITORIO_BRITANICO_DO_OCEANO_INDICO|
|country|IRAQUE|
|country|IRA|
|country|ISLANDIA|
|country|ITALIA|
|country|JERSEY|
|country|JAMAICA|
|country|JORDANIA|
|country|JAPAO|
|country|KENIA|
|country|KYRGYZSTAN|
|country|CAMBOJA|
|country|KIRIBATI|
|country|ILHAS_COMORES|
|country|SAO_CRISTOVAO_E_NEVIS|
|country|COREIA_DO_NORTE|
|country|COREIA_DO_SUL|
|country|KUAIT|
|country|ILHAS_CAYMAN|
|country|CAZAQUISTAO|
|country|LAOS|
|country|LIBANO|
|country|SANTA_LUCIA|
|country|LIECHTENSTEIN|
|country|SRI_LANKA|
|country|LIBERIA|
|country|LESOTO|
|country|LITUANIA|
|country|LUXEMBURGO|
|country|LATVIA|
|country|LIBIA|
|country|MARROCOS|
|country|MONACO|
|country|MOLDOVA|
|country|MONTENEGRO|
|country|SAO_MARTIM|
|country|MADAGASCAR|
|country|ILHAS_MARSHALL|
|country|MACEDONIA_REPUBLICA_YUGOSLAVA|
|country|MALI|
|country|MYANMA_EX_BURMA|
|country|MONGOLIA|
|country|MACAU|
|country|ILHAS_MARIANAS_DO_NORTE|
|country|MARTINICA|
|country|MAURITANIA|
|country|MONTSERRAT|
|country|MALTA|
|country|MAURICIO|
|country|MALDIVAS|
|country|MALAUI|
|country|MEXICO|
|country|MALASIA|
|country|MOCAMBIQUE|
|country|NAMIBIA|
|country|NOVA_CALEDONIA|
|country|NIGER|
|country|ILHAS_NORFOLK|
|country|NIGERIA|
|country|NICARAGUA|
|country|HOLANDA|
|country|NORUEGA|
|country|NEPAL|
|country|NAURU|
|country|NIUE|
|country|NOVA_ZELANDIA|
|country|OMA|
|country|PANAMA|
|country|PERU|
|country|POLINESIA_FRANCESA|
|country|PAPUA_NOVA_GUINE|
|country|FILIPINAS|
|country|PAQUISTAO|
|country|POLONIA|
|country|ST_PIERRE_AND_MIQUELON|
|country|ILHA_PITCAIRN|
|country|PORTO_RICO|
|country|TERRITORIOS_PALESTINOS_OCUPADOS|
|country|PORTUGAL|
|country|PALAU|
|country|PARAGUAI|
|country|QATAR|
|country|ILHA_REUNIAO|
|country|ROMENIA|
|country|SERVIA|
|country|FEDERACAO_RUSSA|
|country|RUANDA|
|country|ARABIA_SAUDITA|
|country|ILHAS_SOLOMAO|
|country|ILHAS_SEYCHELLES|
|country|SUDAO|
|country|SUECIA|
|country|CINGAPURA|
|country|SANTA_HELENA|
|country|ESLOVENIA|
|country|ILHAS_SVALBARD_E_JAN_MAYEN|
|country|ESLOVAQUIA|
|country|SERRA_LEOA|
|country|SAN_MARINO|
|country|SENEGAL|
|country|SOMALIA|
|country|SURINAME|
|country|SUDAO_DO_SUL|
|country|SAO_TOME_E_PRINCIPE|
|country|EL_SALVADOR|
|country|SAO_MARTINHO_PARTE_HOLANDESA|
|country|SIRIA|
|country|SUAZILANDIA|
|country|ILHAS_TURKS_E_CAICOS|
|country|CHADE|
|country|TERRITORIOS_DO_SUL_DA_FRANCA|
|country|TOGO|
|country|TAILANDIA|
|country|TADJIQUISTAO|
|country|ILHAS_TOKELAU|
|country|TIMOR_LESTE_EX_EAST_TIMOR|
|country|TURCOMENISTAO|
|country|TUNISIA|
|country|TONGA|
|country|TURQUIA|
|country|TRINIDAD_AND_TOBAGO|
|country|TUVALU|
|country|TAIWAN|
|country|TANZANIA|
|country|UCRANIA|
|country|UGANDA|
|country|ILHAS_MENORES_DOS_ESTADOS_UNIDOS|
|country|ESTADOS_UNIDOS|
|country|URUGUAI|
|country|UZBEQUISTAO|
|country|VATICANO|
|country|SAINT_VINCENTE_E_GRANADINAS|
|country|VENEZUELA|
|country|ILHAS_VIRGENS_INGLATERRA|
|country|ILHAS_VIRGENS_ESTADOS_UNIDOS|
|country|VIETNAM|
|country|VANUATU|
|country|ILHAS_WALLIS_E_FUTUNA|
|country|SAMOA_OCIDENTAL|
|country|IEMEN|
|country|MAYOTTE|
|country|AFRICA_DO_SUL|
|country|ZAMBIA|
|country|ZIMBABUE|

<h2 id="tocS_IntermediaryGeographicCoordinates">IntermediaryGeographicCoordinates</h2>
<!-- backwards compatibility -->
<a id="schemaintermediarygeographiccoordinates"></a>
<a id="schema_IntermediaryGeographicCoordinates"></a>
<a id="tocSintermediarygeographiccoordinates"></a>
<a id="tocsintermediarygeographiccoordinates"></a>

```json
{
  "latitude": -89.836518,
  "longitude": -179.836519
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|latitude|string|false|none|Informação da Latitude referente a geolocalização informada. Entre -90 e 90. Formato numérico 2 casas antes da vírgula, 11 posições.|
|longitude|string|false|none|Informação da Longitude referente a geolocalização informada. Formato numérico 3 casas antes da vírgula, 11 posições. Entre -180 e 180.|

<h2 id="tocS_IntermediaryAccess">IntermediaryAccess</h2>
<!-- backwards compatibility -->
<a id="schemaintermediaryaccess"></a>
<a id="schema_IntermediaryAccess"></a>
<a id="tocSintermediaryaccess"></a>
<a id="tocsintermediaryaccess"></a>

```json
{
  "standards": [
    {
      "openingTime": "10:00:57Z",
      "closingTime": "16:00:57Z",
      "weekday": "DOMINGO"
    }
  ],
  "email": "Joao.silva@seguradoraa.com.br",
  "site": "https://openinsurance.com.br/aaa",
  "phones": [
    {
      "type": "FIXO",
      "countryCallingCode": 55,
      "areaCode": 11,
      "number": 30041000
    }
  ]
}

```

Forma de acesso.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|standards|[IntermediaryStandards](#schemaintermediarystandards)|false|none|none|
|email|string|false|none|Endereço de e-mail|
|site|string|false|none|Campo aberto As URLs são limitadas a 2048 caracteres, mas, para o contexto do Open Insurance, foi adotado a metade deste tamanho (1024).|
|phones|[IntermediaryPhones](#schemaintermediaryphones)|false|none|Telefone do intermediário|

<h2 id="tocS_IntermediaryStandards">IntermediaryStandards</h2>
<!-- backwards compatibility -->
<a id="schemaintermediarystandards"></a>
<a id="schema_IntermediaryStandards"></a>
<a id="tocSintermediarystandards"></a>
<a id="tocsintermediarystandards"></a>

```json
[
  {
    "openingTime": "10:00:57Z",
    "closingTime": "16:00:57Z",
    "weekday": "DOMINGO"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|openingTime|string|false|none|Horário de abertura|
|closingTime|string|false|none|Horário de encerramento|
|weekday|string|false|none|Dias de funcionamento|

#### Enumerated Values

|Property|Value|
|---|---|
|weekday|DOMINGO|
|weekday|SEGUNDA_FEIRA|
|weekday|TERCA_FEIRA|
|weekday|QUARTA_FEIRA|
|weekday|QUINTA_FEIRA|
|weekday|SEXTA_FEIRA|
|weekday|SABADO|

<h2 id="tocS_IntermediaryPhones">IntermediaryPhones</h2>
<!-- backwards compatibility -->
<a id="schemaintermediaryphones"></a>
<a id="schema_IntermediaryPhones"></a>
<a id="tocSintermediaryphones"></a>
<a id="tocsintermediaryphones"></a>

```json
[
  {
    "type": "FIXO",
    "countryCallingCode": 55,
    "areaCode": 11,
    "number": 30041000
  }
]

```

Telefone do intermediário

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|Identificação do Tipo de telefone do intermediário|
|countryCallingCode|string|false|none|Número de DDI (Discagem Direta Internacional) para telefone de acesso ao Canal - se houver.|
|areaCode|string|false|none|Número de DDD (Discagem Direta à Distância) do telefone do intermediário - se houver. p.ex. '19'|
|number|string|false|none|Número de telefone do intermediário - se houver|

<h2 id="tocS_IntermediaryServices">IntermediaryServices</h2>
<!-- backwards compatibility -->
<a id="schemaintermediaryservices"></a>
<a id="schema_IntermediaryServices"></a>
<a id="tocSintermediaryservices"></a>
<a id="tocsintermediaryservices"></a>

```json
[
  {
    "name": "ACONSELHAMENTO_SOBRE_PRODUTOS_OFERTADOS",
    "nameOthers": "string",
    "line": [
      "CAPITALIZACAO"
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Relação dos serviços efetivamente prestados, conforme discriminado na Tabela II.3 do Anexo II|
|nameOthers|string|false|none|Campo aberto para descrição em caso de seleção de Outras na lista padronizada de Tipo de Serviço Prestado por Intermediário|
|line|[string]|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|name|ANGARIACAO_PROMOCAO_INTERMEDIACAO_OU_DISTRIBUICAO_DE_PRODUTOS|
|name|ACONSELHAMENTO_SOBRE_PRODUTOS_OFERTADOS|
|name|RECEPCAO_DE_PROPOSTAS_E_EMISSAO_DE_DOCUMENTOS_CONTRATUAIS|
|name|SUBSCRICAO_DE_RISCOS_RELACIONADOS_A_PRODUTOS_DE_SEGUROS|
|name|COLETA_E_FORNECIMENTO_A_SOCIEDADE_PARTICIPANTE_DE_DADOS_CADASTRAIS_E_DE_DOCUMENTACAO_DE_CLIENTES_E_SE_FOR_O_CASO_ESTIPULANTES_CORRETORES_DE_SEGUROS_E_SEUS_PREPOSTOS|
|name|RECOLHIMENTO_DE_PREMIOS_E_CONTRIBUICOES|
|name|RECEBIMENTO_DE_AVISOS_DE_SINISTROS|
|name|REGULACAO_DE_SINISTROS|
|name|PAGAMENTO_DE_INDENIZACAO_BENEFICIO|
|name|ORIENTACAO_E_ASSISTENCIA_AOS_CLIENTES_NO_QUE_COMPETE_AOS_CONTRATOS_COMERCIALIZADOS|
|name|APOIO_LOGISTICO_E_OPERACIONAL_A_SOCIEDADE_PARTICIPANTE_NA_GESTAO_E_EXECUCAO_DE_CONTRATOS|
|name|OUTROS|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/channels/v1",
  "first": "https://api.organizacao.com.br/open-insurance/channels/v1",
  "prev": "https://api.organizacao.com.br/open-insurance/channels/v1",
  "next": "https://api.organizacao.com.br/open-insurance/channels/v1",
  "last": "https://api.organizacao.com.br/open-insurance/channels/v1"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|

