
openapi: 3.0.0
info:
  title: APIs Open Data do Open Insurance Brasil
  description:
    Teste de geração de swagger.
  version: 1.0.0
  contact:
    url: 'http://novosite.susep.gov.br/'
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Producao
  - url: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    description: Servidor de Homologacao
tags:
- name: "test-insurance" 

paths:
  /TestInsurance:
    get:
      tags:
        - test-insurance
      summary: Obtem a lista dos produtos do tipo Teste de geração de swagger
      description: "Obtem a lista dos produtos do tipo test-insurance"
      operationId: "getTestInsurance"
      parameters:
        - $ref: "#/components/parameters/cache-Control"
        - $ref: "#/components/parameters/content-Security-Policy"
        - $ref: "#/components/parameters/content-Type"
        - $ref: "#/components/parameters/strict-Transport-Security"
        - $ref: "#/components/parameters/x-Content-Type-Options"
        - $ref: "#/components/parameters/x-Frame-Options"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados dos produtos de Teste de geração de swagger
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTestInsuranceList'
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Dados dos produtos de Teste de geração de swagger
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseTestInsuranceList' 

components:
  schemas:
    ResponseTestInsuranceList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
              brand:
                $ref: '#/components/schemas/TestInsuranceBrand'
        links:
            $ref: '#/components/schemas/Links'
        meta:
            $ref: '#/components/schemas/Meta'
    TestInsuranceBrand:
      type: object
      description: Organizacao controladora do grupo.
      required:
        - name
        - companies
      properties:
        name:
          type: string
          description: Nome da marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca eh em essencia uma promessa das sociedades sob ela em fornecer uma serie especefica de atributos, beneficios e servicos uniformes aos clientes.
          maxLength: 80
          example: ACME Group Seguros
        companies:
          $ref: '#/components/schemas/TestInsuranceCompany'
    TestInsuranceCompany:
      type: array
      items:
          description: Informações referente a sociedade a qual a marca pertence.
          required:
          - name
          - cnpjNumber
          - product
          properties:
            name:
                type: string
                description: Nome da sociedade pertencente à marca.
                maxLength: 80
                example: ACME Seguros
            cnpjNumber:
                type: string
                description: CNPJ da sociedade pertencente à marca.
                maxLength: 14
                example: "12345678901234"
            products:
                $ref: '#/components/schemas/TestInsuranceProduct'
    TestInsuranceProduct:
      type: array
      description: Lista de produtos de uma empresa.
      items:
        type: object
        required:
          - name
          - code
          - modality
          - coverages
        properties:
          name:
            type: string
            description: Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
            maxLength: 80
            example: Produto de Seguro
          code:
            type: string
            description: Código único a ser definido pela sociedade.
            maxLength: 100
            example: "01234589-0"
          modality:
            type: array
            description: Modalidade.
            items:
                type: string
                enum: [TRADICIONAL, INSTRUMENTO_GARANTIA, COMPRA_PROGRAMADA, POPULAR, INCENTIVO, FILANTROPIA_PREMIAVEL]
          riskType:
            type: string
            description: Tipo de Risco
            maxLength: 15
            example: PESSOAS
            enum: [PESSOAS, DANOS]
          
          coverages:
            type: array
            items:
              type: object
              required:
                - susepGroupNumber
                - susepGroupName
                - susepActivityCode
                - susepActivityName
                - coverageCode
                - coverage
                - coverageDescription
                - coverageType
                - coverageCharacteristics
              properties:
                susepGroupNumber:
                  type: number
                  maxLength: 4
                  description: Código Grupo SUSEP
                  example: 1234
                susepGroupName:
                  type: string
                  maxLength: 80
                  description: Nome Grupo SUSEP
                  example: Grupo de cobertura
                susepActivityCode:
                  type: number
                  maxLength: 4
                  description: Código Ramo SUSEP
                  example: 000000
                susepActivityName:
                  type: string
                  maxLength: 80
                  description: Nome Ramo SUSEP
                  example: Ramo de cobertura
                coverageCode:
                  type: string
                  description: Código Cobertura Contratatada - Básica
                  example: 000000
                coverage:
                  type: string
                  example: IMOVEL_BASICA
                  description: Nome Cobertura Contratatada - Básica
                  enum: [IMOVEL_BASICA , IMOVEL_AMPLA , DANOS_ELETRICOS , DANOS_POR_AGUA , ALAGAMENTO , RESPONSABILIDADE_CIVIL_FAMILIAR, RESPONSABILIDADE_CIVIL_DANOS_MORAIS , ROUBO_SUBTRACAO_BENS , ROUBO_SUBTRACAO_BENS_FORA_LOCAL_SEGURADO , TACOS_GOLFE_HOLE_ONE , PEQUENAS_REFORMAS_OBRAS , GREVES_TUMULTOS_LOCKOUT , MICROEMPREENDEDOR , ESCRITORIO_RESIDENCIA , DANOS_EQUIPAMENTOS_ELETRONICOS , QUEBRA_VIDROS , IMPACTO_VEICULOS , VENDAVAL , PERDA_PAGAMENTO_ALUGUEL , BICICLETA , RESPONSABILIDADE_CIVIL_BICICLETA , RC_EMPREGADOR , DESMORONAMENTO , DESPESAS_EXTRAORDINARIAS , JOIAS_OBRAS_ARTE , TERREMOTO , IMPACTO_AERONAVES , PAISAGISMO ,  INCENDIO , QUEDA_RAIO , EXPLOSAO, OUTRAS]
                coverageSpecialConditions:
                  type: string
                  description: Nome Cobertura Contratada - Condições Especiais
                  example: Condições especiais de cobertura
                coverageSpecialConditionsDetail:
                  type: string
                  maxLength: 3000
                  description: Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos a ser feito por cada participante, conforme domínios da lista padronizada de coberturas (macro) especiais.
                  example: ""
                coverageSpecialConditionsOthers:
                  type: boolean
                  description: Coberturas - Condições Particulares e Outros
                  example: true
                coverageDescription:
                  type: string
                  maxLength: 3000
                  description: Descrição Cobertura Contratatada - Básica
                  example: descrição cobertura
                coverageOthers:
                  type: array
                  items:
                    type: string
                coverageType:
                  type: array
                  maxLength: 15
                  description: Tipo de cobertura
                  items:
                    type: string
                    enum: [PARAMETRICO, INTERMITENTE, REGULAR, CAPITAL_GLOBAL]
                    example: PARAMETRICO
                coverageCharacteristics:
                  type: array
                  maxLength: 25
                  description: Característica da Cobertura
                  items:
                    type: string
                    enum: [MASSIFICADOS, MASSIFICADOS_MICROSEGUROS, GRANDES_RISCOS]
                    example: MASSIFICADOS
                coverageAttributes:
                   $ref: '#/components/schemas/TestInsuranceCoverageAttributes'
          protective:
            type: boolean
            description: Protecionais - Indicativo de exigência de itens protecionais.
            example: true
          additional:
            type: array
            items:
              type: string
              description: Adicionais do Produto.
              example: SORTEIO_GRATUITO
              enum: [SORTEIO_GRATUITO , CLUBE_BENEFICIOS , CASHBACK , DESCONTOS , OUTROS]
          additionalOthers:
            type: string
            description: Campo aberto para descrição de cada participante ao selecionar o domínio ‘Outros’ no campo acima ‘Adicionais’.
            maxLength: 100
          assistanceServices:
            $ref: '#/components/schemas/TestInsuranceAssistanceServices'
          validity:
            $ref: '#/components/schemas/TestInsuranceValidity'
          customerServices:
            type: array
            description: Informações de pagamento de prêmio.
            items:
                type: string
                example: LIVRE ESCOLHA
                enum: [REDE_REFERENCIADA , LIVRE_ESCOLHA]
          premiumRates:
            type: array
            description: Distribuição de frequência relativa aos valores referentes às taxas cobradas.
            items:
                type: string
          premiumPayment:
            $ref: '#/components/schemas/TestInsurancePremiumPayment'
          termsAndConditions:
            $ref: '#/components/schemas/TestInsuranceTerms'
          additionalDetails:
            $ref: '#/components/schemas/TestInsuranceAdditionals'
          minimumRequirements:
            $ref: '#/components/schemas/TestInsuranceMinimumRequirements'
    
    TestInsuranceCoverageAttributes:
      type: object
      description: Informações de cobertura do Seguro Residencial.
      required:
       - minLMI
       - maxLMG
       - minDeductibleAmount
       - minDeductibleAmountPercent
       - maxDeductibleAmountPercent
       - insuredMandatoryParticipationPercentage
      properties:
        minLMI:
          description: Valor mínimo de LMI aceito pela sociedade para cada cobertura.
          $ref: '#/components/schemas/TestInsuranceCoverageAttributesDetails'
        maxLMG:
          description: Valor máximo de Limite Máximo de Garantia (LMG).
          $ref: '#/components/schemas/TestInsuranceCoverageAttributesDetails'
        minDeductibleAmount:
          description: Valor mínimo de franquia e participação obrigatória do segurado - Listagem de valor mínimo da franquia (Reais) e/ou Participação Obrigatória do Segurado (Percentual) estabelecida pela sociedade para cada tipo de cobertura do produto.
          $ref: '#/components/schemas/TestInsuranceCoverageAttributesDetails'
        minDeductibleAmountPercent:
          description: Percentual de franquia e/ou Percentual Participação Obrigatória do Segurado estabelecida pela sociedade para cada tipo de cobertura do produto.
          $ref: '#/components/schemas/TestInsuranceCoverageAttributesDetails'
        maxDeductibleAmountPercent:
          description: Campo de valor máximo da franquia (Reais) e/ou Participação Obrigatória do Segurado (Percentual) estabelecida pela sociedade para cada tipo de cobertura do produto.
          $ref: '#/components/schemas/TestInsuranceCoverageAttributesDetails'
        insuredMandatoryParticipationPercentage:
          type: number
          description: Listagem percentual de franquia e/ou percentual de participação obrigatória do segurado estabelecida pela sociedade para cada tipo de cobertura de produto.
          maxLength: 9
        deductibleType:
          type: array
          description: Tipo de POS.
          items:
            type: string
            example: NORMAL
            enum: [NORMAL, REDUZIDA, ISENTA, MAJORADA, FLEXIVEL]
        deductibleValue:
          type: number
          description: Valor da Franquia. Em Reais
          example: 5000
    TestInsuranceCoverageAttributesDetails:
        type: object
        required:
          - amount
          - unit
        properties:
          amount:
            type: number
          unit:
            $ref: '#/components/schemas/TestInsuranceCoverageAttributesDetailsUnit'
    
    TestInsuranceAssistanceServices:
      type: array
      description: Agrupamento dos serviços de assistências disponíveis vinculado ao produto.
      items:
        type: object
        required:
        - assistanceServicesPackage
        - complementaryAssistanceServicesDetail
        - chargeTypeSignaling
        properties:
          assistanceServicesPackage:
            type: string
            description: Pacotes de Assistência.
            example: ATE_10_SERVICOS
            enum: [ATE_10_SERVICOS, ATE_20_SERVICOS , ACIMA_20_SERVICOS, CUSTOMIZAVEL]
          complementaryAssistanceServicesDetail:
            type: string
            description: Campo livre para descrição dos serviços ofertados por cada sociedade participante.
            maxLength: 1000
            example: reboque pane seca
          chargeTypeSignaling:
            type: string
            description: Sinalização em campo exclusivo se o pacote de Assistência é gratuita ou contratada/paga.
            example: GRATUITA
            enum: [GRATUITA, PAGO]
    
    TestInsuranceValidity:
      type: object
      required:
        - term
      properties:
        term:
          type: string
          description: Prazo de vigência do seguro contratado Intervalo contínuo de tempo durante o qual está em vigor o contrato de seguro. (RESOLUÇÃO CNSP Nº 341/2016).
          example: ANUAL
          enum: [ANUAL , ANUAL_INTERMITENTE , PLURIANUAL , PLURIANUAL_INTERMITENTE , MENSAL, MENSAL_INTERMITENTE , DIARIO , DIARIO_INTERMITENTE, OUTROS]
        termOthers:
          type: string
          description: Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).
          maxLength: 100
    
    TestInsurancePremiumPayment:
      type: object
      description: Informações de pagamento de prêmio.
      required:
        - paymentMethod
        - paymentType
      properties:
        paymentMethod:
            type: array
            description: Meio de pagamento escolhido pelo segurado.
            items:
              type: string
              example: CARTAO_CREDITO
              enum: [CARTAO_CREDITO, CARTAO_DEBITO, DEBITO_CONTA_CORRENTE , DEBITO_CONTA_POUPANCA , BOLETO_BANCARIO , PIX, CONSIGINACAO_FOLHA_PAGAMENTO, PONTOS_PROGRAMA_BENEFICIO, OUTROS]
        paymentDetail:
          type: string
          maxLength: 100
          description: Campo aberto para detalhamento do campo ‘Outros’ por cada participante.
        paymentType:
            type: array
            description: Forma de pagamento.
            items:
              type: string
              example: PARCELADO
              enum: [PAGAMENTO_UNICO, PARCELADO]
    
    TestInsuranceTerms:
      type: object
      description: Informações dos termos e condições conforme número do processo SUSEP.
      required:
        - susepProcessNumber
        - definition
      properties:
        susepProcessNumber:
          type: string
          description: Número do processo SUSEP.
          maxLength: 20
          example: 15414622222222222
        definition:
          type: string
          description: Campo aberto (possibilidade de incluir uma url).
          maxLength: 1024
          example: https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf

    
    TestInsuranceAdditionals:
      type: object
      required:
        - additionalDetails
      properties:
        additionalDetails:
          type: string
          description: Campo aberto (possibilidade de incluir URL).
          maxLength: 1024
          example: https://example.com/openinsurance


    
    TestInsuranceMinimumRequirements:
      type: object
      description: Requisitos mínimos.
      required:
        - minimumRequirementDetails
        - targetAudiences
      properties:
        minimumRequirementDetails:
          type: string
          description: Detalhamento do requisito mínimo para contratação - Campo aberto (possibilidade de incluir URL).
          maxLength: 1024
          example: https://ey.exemplo/capitalizacao/tradicional/PU/requisitos_min
        targetAudiences:
          description: Público Alvo
          type: array
          items:
            type: string
            example: PESSOA_NATURAL
            enum: [PESSOA_NATURAL, PESSOA_JURIDICA]
    
    TestInsuranceCoverageAttributesDetailsUnit:
      type: object
      required:
        - code
        - description
      properties:
        code:
          type: string
          example: R$
        description:
          type: string
          example: REAL
    
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        first:
          type: string
          description: URL da primeira página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        prev:
          type: string
          description: URL da página anterior de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        next:
          type: string
          description: URL da próxima página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
        last:
          type: string
          description: URL da última página de registros
          example: 'https://api.organizacao.com.br/open-insurance/products-services/v1'
    
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 10
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages
    
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                maxLength: 2048
              requestDateTime:
                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                type: string
                maxLength: 2048
                format: date-time
                example: '2021-08-20T08:30:00Z'
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
    
  parameters:
      page:
        name: page
        in: query
        description: Número da página que está sendo requisitada (o valor da primeira página é 1).
        schema:
            type: integer
            default: 1
            minimum: 1
      pageSize:
        name: page-size
        in: query
        description: Quantidade total de registros por páginas.
        schema:
            type: integer
            default: 10
            minimum: 1
      cache-Control:
        name: cache-control
        in: header
        description: Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.
        required: true
        schema:
            type: string
            pattern: '[\w\W\s]*'
      content-Security-Policy:
        name: Content-Security-Policy
        in: header
        description: Campo para proteção contra ataques clickjack do estilo - drag and drop.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      content-Type:
        name: content-Type
        in: header
        description: Especificar o tipo de conteúdo da resposta.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      strict-Transport-Security:
        name: Strict-Transport-Security
        in: header
        description: Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.
        schema:
            type: string
            pattern:  '[\w\W\s]*'
      x-Content-Type-Options:
        name: X-Content-Type-Options
        in: header
        description: Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      x-Frame-Options:
        name: X-Frame-Options
        in: header
        description: Campo indica se o navegador deve ou não renderizar um frame.
        schema:
            type: string
            pattern: '[\w\W\s]*'
    
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration'
    OAuth2Security:
      type: oauth2
      description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Inclui o processo de redirecionamento e autenticação do usuário a que se referem os dados.
      flows:
        authorizationCode:
          authorizationUrl: 'https://authserver.example/authorization'
          tokenUrl: 'https://authserver.example/token'
          scopes:
            financings: Escopo necessário para acesso à API. O controle dos endpoints específicos é feito via permissions.
    
  responses:
    NoContent:
      description: 'O recurso solicitado não existe ou não foi localizado.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'

