<h2 id="tocS_ResponseAutoExtendedWarrantyList">ResponseAutoExtendedWarrantyList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseautoextendedwarrantylist"></a>
<a id="schema_ResponseAutoExtendedWarrantyList"></a>
<a id="tocSresponseautoextendedwarrantylist"></a>
<a id="tocsresponseautoextendedwarrantylist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "GARANTIA_ESTENDIDA_ORIGINAL",
                  "coverageDescription": "string",
                  "coverageAttributes": {
                    "maxLMI": {},
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string"
                  },
                  "allowApartPurchase": true
                }
              ],
              "securityType": [
                "LINHA_BRANCA"
              ],
              "securityTypeOthers": "string",
              "assistanceServices": {
                "assistanceServices": true,
                "assistanceServicesPackage": [
                  "ATE_10_SERVICOS"
                ],
                "complementaryAssistanceServicesDetail": "string",
                "chargeTypeSignaling": "GRATUITO"
              },
              "customerServices": "REDE_REFERENCIADA",
              "microinsurance": true,
              "traits": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumPayment": [
                {
                  "paymentMethod": "CARTAO_DE_CREDITO",
                  "paymentDetail": "string",
                  "paymentType": [
                    "A_VISTA"
                  ],
                  "premiumRates": "string"
                }
              ],
              "termsAndConditions": {
                "susepProcessNumber": 15414622222222222,
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "contractType": [
                  "COLETIVO"
                ],
                "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[AutoExtendedWarrantyBrand](#schemaautoextendedwarrantybrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_AutoExtendedWarrantyBrand">AutoExtendedWarrantyBrand</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantybrand"></a>
<a id="schema_AutoExtendedWarrantyBrand"></a>
<a id="tocSautoextendedwarrantybrand"></a>
<a id="tocsautoextendedwarrantybrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "GARANTIA_ESTENDIDA_ORIGINAL",
              "coverageDescription": "string",
              "coverageAttributes": {
                "maxLMI": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "insuredParticipation": [
                  "FRANQUIA"
                ],
                "insuredParticipationDescription": "string"
              },
              "allowApartPurchase": true
            }
          ],
          "securityType": [
            "LINHA_BRANCA"
          ],
          "securityTypeOthers": "string",
          "assistanceServices": {
            "assistanceServices": true,
            "assistanceServicesPackage": [
              "ATE_10_SERVICOS"
            ],
            "complementaryAssistanceServicesDetail": "string",
            "chargeTypeSignaling": "GRATUITO"
          },
          "customerServices": "REDE_REFERENCIADA",
          "microinsurance": true,
          "traits": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumPayment": [
            {
              "paymentMethod": "CARTAO_DE_CREDITO",
              "paymentDetail": "string",
              "paymentType": [
                "A_VISTA"
              ],
              "premiumRates": "string"
            }
          ],
          "termsAndConditions": {
            "susepProcessNumber": 15414622222222222,
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "contractType": [
              "COLETIVO"
            ],
            "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[AutoExtendedWarrantyCompany](#schemaautoextendedwarrantycompany)|true|none|none|

<h2 id="tocS_AutoExtendedWarrantyCompany">AutoExtendedWarrantyCompany</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantycompany"></a>
<a id="schema_AutoExtendedWarrantyCompany"></a>
<a id="tocSautoextendedwarrantycompany"></a>
<a id="tocsautoextendedwarrantycompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "GARANTIA_ESTENDIDA_ORIGINAL",
            "coverageDescription": "string",
            "coverageAttributes": {
              "maxLMI": {
                "amount": 0,
                "unit": {
                  "code": "R$",
                  "description": "REAL"
                }
              },
              "insuredParticipation": [
                "FRANQUIA"
              ],
              "insuredParticipationDescription": "string"
            },
            "allowApartPurchase": true
          }
        ],
        "securityType": [
          "LINHA_BRANCA"
        ],
        "securityTypeOthers": "string",
        "assistanceServices": {
          "assistanceServices": true,
          "assistanceServicesPackage": [
            "ATE_10_SERVICOS"
          ],
          "complementaryAssistanceServicesDetail": "string",
          "chargeTypeSignaling": "GRATUITO"
        },
        "customerServices": "REDE_REFERENCIADA",
        "microinsurance": true,
        "traits": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumPayment": [
          {
            "paymentMethod": "CARTAO_DE_CREDITO",
            "paymentDetail": "string",
            "paymentType": [
              "A_VISTA"
            ],
            "premiumRates": "string"
          }
        ],
        "termsAndConditions": {
          "susepProcessNumber": 15414622222222222,
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "contractType": [
            "COLETIVO"
          ],
          "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[AutoExtendedWarrantyProduct](#schemaautoextendedwarrantyproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_AutoExtendedWarrantyProduct">AutoExtendedWarrantyProduct</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantyproduct"></a>
<a id="schema_AutoExtendedWarrantyProduct"></a>
<a id="tocSautoextendedwarrantyproduct"></a>
<a id="tocsautoextendedwarrantyproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "GARANTIA_ESTENDIDA_ORIGINAL",
        "coverageDescription": "string",
        "coverageAttributes": {
          "maxLMI": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          },
          "insuredParticipation": [
            "FRANQUIA"
          ],
          "insuredParticipationDescription": "string"
        },
        "allowApartPurchase": true
      }
    ],
    "securityType": [
      "LINHA_BRANCA"
    ],
    "securityTypeOthers": "string",
    "assistanceServices": {
      "assistanceServices": true,
      "assistanceServicesPackage": [
        "ATE_10_SERVICOS"
      ],
      "complementaryAssistanceServicesDetail": "string",
      "chargeTypeSignaling": "GRATUITO"
    },
    "customerServices": "REDE_REFERENCIADA",
    "microinsurance": true,
    "traits": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumPayment": [
      {
        "paymentMethod": "CARTAO_DE_CREDITO",
        "paymentDetail": "string",
        "paymentType": [
          "A_VISTA"
        ],
        "premiumRates": "string"
      }
    ],
    "termsAndConditions": {
      "susepProcessNumber": 15414622222222222,
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "contractType": [
        "COLETIVO"
      ],
      "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.8 do Anexo II.|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[AutoExtendedWarrantyCoverageAttributes](#schemaautoextendedwarrantycoverageattributes)|false|none|Informações de cobertura do Seguro.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|securityType|[string]|true|none|Tipo de bem segurado|
|securityTypeOthers|string|false|none|Campo livre para descrição, caso o valor do campo "Tipo de bem" seja 12. Outros|
|assistanceServices|[AutoExtendedWarrantyAssistanceServices](#schemaautoextendedwarrantyassistanceservices)|true|none|none|
|customerServices|[string]|true|none|Rede de Atendimento.|
|microinsurance|boolean|true|none|Indicação se o produto é classificado como microsseguro.|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|validity|[AutoExtendedWarrantyValidity](#schemaautoextendedwarrantyvalidity)|true|none|none|
|premiumPayment|[AutoExtendedWarrantyPremiumPayment](#schemaautoextendedwarrantypremiumpayment)|true|none|none|
|termsAndConditions|[AutoExtendedWarrantyTerms](#schemaautoextendedwarrantyterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[AutoExtendedWarrantyMinimumRequirements](#schemaautoextendedwarrantyminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|GARANTIA_ESTENDIDA_ORIGINAL|
|coverage|GARANTIA_ESTENDIDA_AMPLIADA|
|coverage|GARANTIA_ESTENDIDA_REDUZIDA|
|coverage|COMPLEMENTACAO_DE_GARANTIA|
|coverage|OUTRAS|

<h2 id="tocS_AutoExtendedWarrantyAssistanceServices">AutoExtendedWarrantyAssistanceServices</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantyassistanceservices"></a>
<a id="schema_AutoExtendedWarrantyAssistanceServices"></a>
<a id="tocSautoextendedwarrantyassistanceservices"></a>
<a id="tocsautoextendedwarrantyassistanceservices"></a>

```json
{
  "assistanceServices": true,
  "assistanceServicesPackage": [
    "ATE_10_SERVICOS"
  ],
  "complementaryAssistanceServicesDetail": "string",
  "chargeTypeSignaling": "GRATUITO"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|assistanceServices|boolean|true|none|Indicação se o produto possui serviços de assistências complementares|
|assistanceServicesPackage|[string]|false|none|Para efeitos de comparabilidade, considerar agrupamentos de serviços em 4 categorias|
|complementaryAssistanceServicesDetail|string|false|none|Campo livre para descrição dos serviços ofertados por cada sociedade participante, contendo minimamente cada um dos serviços assistenciais complementares oferecidos e se o pacote se trata de uma cobertura de assistência securitária ou se serviços de assistência|
|chargeTypeSignaling|string|false|none|Serviços de Assistências Complementares - Tipo de cobrança|

#### Enumerated Values

|Property|Value|
|---|---|
|chargeTypeSignaling|GRATUITO|
|chargeTypeSignaling|PAGO|

<h2 id="tocS_AutoExtendedWarrantyValidity">AutoExtendedWarrantyValidity</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantyvalidity"></a>
<a id="schema_AutoExtendedWarrantyValidity"></a>
<a id="tocSautoextendedwarrantyvalidity"></a>
<a id="tocsautoextendedwarrantyvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_AutoExtendedWarrantyPremiumPayment">AutoExtendedWarrantyPremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantypremiumpayment"></a>
<a id="schema_AutoExtendedWarrantyPremiumPayment"></a>
<a id="tocSautoextendedwarrantypremiumpayment"></a>
<a id="tocsautoextendedwarrantypremiumpayment"></a>

```json
[
  {
    "paymentMethod": "CARTAO_DE_CREDITO",
    "paymentDetail": "string",
    "paymentType": [
      "A_VISTA"
    ],
    "premiumRates": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|string|true|none|Metodo de pagamento|
|paymentDetail|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Meio de pagamento (acima)|
|paymentType|[string]|true|none|tipo de pagamento|
|premiumRates|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas.|

#### Enumerated Values

|Property|Value|
|---|---|
|paymentMethod|CARTAO_DE_CREDITO|
|paymentMethod|CARTAO_DE_DEBITO|
|paymentMethod|DEBITO_EM_CONTA_CORRENTE|
|paymentMethod|DEBITO_EM_CONTA_POUPANCA|
|paymentMethod|BOLETO_BANCARIO|
|paymentMethod|PIX|
|paymentMethod|CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO|
|paymentMethod|PONTOS_DE_PROGRAMA_DE_BENEFICIO|
|paymentMethod|OUTROS|

<h2 id="tocS_AutoExtendedWarrantyTerms">AutoExtendedWarrantyTerms</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantyterms"></a>
<a id="schema_AutoExtendedWarrantyTerms"></a>
<a id="tocSautoextendedwarrantyterms"></a>
<a id="tocsautoextendedwarrantyterms"></a>

```json
{
  "susepProcessNumber": 15414622222222222,
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_AutoExtendedWarrantyMinimumRequirements">AutoExtendedWarrantyMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantyminimumrequirements"></a>
<a id="schema_AutoExtendedWarrantyMinimumRequirements"></a>
<a id="tocSautoextendedwarrantyminimumrequirements"></a>
<a id="tocsautoextendedwarrantyminimumrequirements"></a>

```json
{
  "contractType": [
    "COLETIVO"
  ],
  "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractType|[string]|true|none|none|
|minimumRequirementDetails|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|
|targetAudiences|[string]|true|none|none|

<h2 id="tocS_AutoExtendedWarrantyCoverageAttributes">AutoExtendedWarrantyCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantycoverageattributes"></a>
<a id="schema_AutoExtendedWarrantyCoverageAttributes"></a>
<a id="tocSautoextendedwarrantycoverageattributes"></a>
<a id="tocsautoextendedwarrantycoverageattributes"></a>

```json
{
  "maxLMI": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "insuredParticipation": [
    "FRANQUIA"
  ],
  "insuredParticipationDescription": "string"
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[AutoExtendedWarrantyLimit](#schemaautoExtendedWarrantyLimit)|true|none|none|
|insuredParticipation|[string]|true|none|Lista com indicativo do tipo de participação do segurado para cada cobertura.|
|insuredParticipationDescription|string|false|none|Lista com descrição referente ao campo “Participação do Segurado” para cada cobertura.|


<h2 id="tocS_AutoExtendedWarrantyLimit">AutoExtendedWarrantyLimit</h2>
<!-- backwards compatibility -->
<a id="schemaautoExtendedWarrantyLimit"></a>
<a id="schema_AutoExtendedWarrantyLimit"></a>
<a id="tocSautoExtendedWarrantyLimit"></a>
<a id="tocsautoExtendedWarrantyLimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": number,
    "unit": {
      "code": "R$",
      "description": "REAL"
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": number,
      "unit": {
        "code": "R$",
      "description": "REAL"
    },
  }
}
}

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[AutoExtendedWarrantyCoverageAttributesDetailsUnit] (#schemaautoextendedwarrantycoverageattributesdetailsunit)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[AutoExtendedWarrantyCoverageAttributesDetailsUnit] (#schemaautoextendedwarrantycoverageattributesdetailsunit)|false|none|none|

<h2 id="tocS_AutoExtendedWarrantyCoverageAttributesDetails">AutoExtendedWarrantyCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantycoverageattributesdetails"></a>
<a id="schema_AutoExtendedWarrantyCoverageAttributesDetails"></a>
<a id="tocSautoextendedwarrantycoverageattributesdetails"></a>
<a id="tocsautoextendedwarrantycoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[AutoExtendedWarrantyCoverageAttributesDetailsUnit](#schemaautoextendedwarrantycoverageattributesdetailsunit)|true|none|none|



<h2 id="tocS_AutoExtendedWarrantyCoverageAttributesDetailsUnit">AutoExtendedWarrantyCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemaautoextendedwarrantycoverageattributesdetailsunit"></a>
<a id="schema_AutoExtendedWarrantyCoverageAttributesDetailsUnit"></a>
<a id="tocSautoextendedwarrantycoverageattributesdetailsunit"></a>
<a id="tocsautoextendedwarrantycoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

ions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|

