<h2 id="tocS_ResponseCapitalizationTitleList">ResponseCapitalizationTitleList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsecapitalizationtitlelist"></a>
<a id="schema_ResponseCapitalizationTitleList"></a>
<a id="tocSresponsecapitalizationtitlelist"></a>
<a id="tocsresponsecapitalizationtitlelist"></a>

```json
{
  "requestTime": "2021-08-20T08:30:00Z",
  "brand": {
    "name": "ACME seguros",
    "companies": [
      {
        "name": "ACME cap da ACME seguros",
        "cnpjNumber": "12345678901234",
        "products": [
          {
            "name": "ACMEcap",
            "code": "01234589_cap",
            "modality": [
              "TRADICIONAL"
            ],
            "costType": [
              "PAGAMENTO_UNICO"
            ],
            "termsAndConditions": {
              "susepProcessNumber": 15414622222222222,
              "termsRegulations": "https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
            },
            "quotas": [
              {
                "quota": 10,
                "capitalizationQuota": [
                  10
                ],
                "raffleQuota": [
                  10
                ],
                "chargingQuota": [
                  10
                ]
              }
            ],
            "validity": 48,
            "serieSize": 5000000,
            "capitalizationPeriod": {
              "interestRate": 0.25123,
              "updateIndex": [
                "IPCA"
              ],
              "updateIndexOthers": [
                "Índice de atualização"
              ],
              "contributionAmount": {
                "minValue": 500,
                "maxValue": 5000,
                "frequency": "MENSAL",
                "value": 0
              },
              "earlyRedemption": [
                {
                  "quota": 0,
                  "percentage": 0
                }
              ],
              "redemptionPercentageEndTerm": 100.002,
              "gracePeriodRedemption": 48
            },
            "latePayment": {
              "suspensionPeriod": 10,
              "termExtensionOption": true
            },
            "contributionPayment": {
              "paymentMethod": [
                "CARTAO_CREDITO"
              ],
              "updateIndex": [
                "IPCA"
              ],
              "updateIndexOthers": [
                "Índice de atualização"
              ]
            },
            "redemption": {
              "redemption": 151.23
            },
            "raffle": {
              "raffleQty": 10000,
              "timeInterval": [
                "QUINZENAL"
              ],
              "raffleValue": 5,
              "earlySettlementRaffle": true,
              "mandatoryContemplation": true,
              "ruleDescription": "Sorteio às quartas-feiras",
              "minimumContemplationProbability": 0.000001
            },
            "additionalDetails": {
              "additionalDetails": "https://example.com/openinsurance"
            },
            "minimumRequirements": {
              "minimumRequirementDetails": "https://ey.exemplo/capitalizacao/tradicional/PU/requisitos_min",
              "targetAudiences": [
                "PESSOAL_NATURAL"
              ]
            }
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "prev": "string",
    "next": "string",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|requestTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|brand|[CapitalizationTitleBrand](#schemacapitalizationtitlebrand)|true|none|Organização controladora do grupo.|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_CapitalizationTitleBrand">CapitalizationTitleBrand</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitlebrand"></a>
<a id="schema_CapitalizationTitleBrand"></a>
<a id="tocScapitalizationtitlebrand"></a>
<a id="tocscapitalizationtitlebrand"></a>

```json
{
  "name": "ACME seguros",
  "companies": [
    {
      "name": "ACME cap da ACME seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "ACMEcap",
          "code": "01234589_cap",
          "modality": [
            "TRADICIONAL"
          ],
          "costType": [
            "PAGAMENTO_UNICO"
          ],
          "termsAndConditions": {
            "susepProcessNumber": 15414622222222222,
            "termsRegulations": "https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
          },
          "quotas": [
            {
              "quota": 10,
              "capitalizationQuota": [
                10
              ],
              "raffleQuota": [
                10
              ],
              "chargingQuota": [
                10
              ]
            }
          ],
          "validity": 48,
          "serieSize": 5000000,
          "capitalizationPeriod": {
            "interestRate": 0.25123,
            "updateIndex": [
              "IPCA"
            ],
            "updateIndexOthers": [
              "Índice de atualização"
            ],
            "contributionAmount": {
              "minValue": 500,
              "maxValue": 5000,
              "frequency": "MENSAL",
              "value": 0
            },
            "earlyRedemption": [
              {
                "quota": 0,
                "percentage": 0
              }
            ],
            "redemptionPercentageEndTerm": 100.002,
            "gracePeriodRedemption": 48
          },
          "latePayment": {
            "suspensionPeriod": 10,
            "termExtensionOption": true
          },
          "contributionPayment": {
            "paymentMethod": [
              "CARTAO_CREDITO"
            ],
            "updateIndex": [
              "IPCA"
            ],
            "updateIndexOthers": [
              "Índice de atualização"
            ]
          },
          "redemption": {
            "redemption": 151.23
          },
          "raffle": {
            "raffleQty": 10000,
            "timeInterval": [
              "QUINZENAL"
            ],
            "raffleValue": 5,
            "earlySettlementRaffle": true,
            "mandatoryContemplation": true,
            "ruleDescription": "Sorteio às quartas-feiras",
            "minimumContemplationProbability": 0.000001
          },
          "additionalDetails": {
            "additionalDetails": "https://example.com/openinsurance"
          },
          "minimumRequirements": {
            "minimumRequirementDetails": "https://ey.exemplo/capitalizacao/tradicional/PU/requisitos_min",
            "targetAudiences": [
              "PESSOAL_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organização controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[CapitalizationTitleCompany](#schemacapitalizationtitlecompany)|true|none|none|

<h2 id="tocS_CapitalizationTitleCompany">CapitalizationTitleCompany</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitlecompany"></a>
<a id="schema_CapitalizationTitleCompany"></a>
<a id="tocScapitalizationtitlecompany"></a>
<a id="tocscapitalizationtitlecompany"></a>

```json
[
  {
    "name": "ACME cap da ACME seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "ACMEcap",
        "code": "01234589_cap",
        "modality": [
          "TRADICIONAL"
        ],
        "costType": [
          "PAGAMENTO_UNICO"
        ],
        "termsAndConditions": {
          "susepProcessNumber": 15414622222222222,
          "termsRegulations": "https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
        },
        "quotas": [
          {
            "quota": 10,
            "capitalizationQuota": [
              10
            ],
            "raffleQuota": [
              10
            ],
            "chargingQuota": [
              10
            ]
          }
        ],
        "validity": 48,
        "serieSize": 5000000,
        "capitalizationPeriod": {
          "interestRate": 0.25123,
          "updateIndex": [
            "IPCA"
          ],
          "updateIndexOthers": [
            "Índice de atualização"
          ],
          "contributionAmount": {
            "minValue": 500,
            "maxValue": 5000,
            "frequency": "MENSAL",
            "value": 0
          },
          "earlyRedemption": [
            {
              "quota": 0,
              "percentage": 0
            }
          ],
          "redemptionPercentageEndTerm": 100.002,
          "gracePeriodRedemption": 48
        },
        "latePayment": {
          "suspensionPeriod": 10,
          "termExtensionOption": true
        },
        "contributionPayment": {
          "paymentMethod": [
            "CARTAO_CREDITO"
          ],
          "updateIndex": [
            "IPCA"
          ],
          "updateIndexOthers": [
            "Índice de atualização"
          ]
        },
        "redemption": {
          "redemption": 151.23
        },
        "raffle": {
          "raffleQty": 10000,
          "timeInterval": [
            "QUINZENAL"
          ],
          "raffleValue": 5,
          "earlySettlementRaffle": true,
          "mandatoryContemplation": true,
          "ruleDescription": "Sorteio às quartas-feiras",
          "minimumContemplationProbability": 0.000001
        },
        "additionalDetails": {
          "additionalDetails": "https://example.com/openinsurance"
        },
        "minimumRequirements": {
          "minimumRequirementDetails": "https://ey.exemplo/capitalizacao/tradicional/PU/requisitos_min",
          "targetAudiences": [
            "PESSOAL_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[CapitalizationTitleProduct](#schemacapitalizationtitleproduct)|false|none|Lista de produtos de uma empresa.|

<h2 id="tocS_CapitalizationTitleProduct">CapitalizationTitleProduct</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitleproduct"></a>
<a id="schema_CapitalizationTitleProduct"></a>
<a id="tocScapitalizationtitleproduct"></a>
<a id="tocscapitalizationtitleproduct"></a>

```json
[
  {
    "name": "ACMEcap",
    "code": "01234589_cap",
    "modality": [
      "TRADICIONAL"
    ],
    "costType": [
      "PAGAMENTO_UNICO"
    ],
    "termsAndConditions": {
      "susepProcessNumber": 15414622222222222,
      "termsRegulations": "https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
    },
    "quotas": [
      {
        "quota": 10,
        "capitalizationQuota": [
          10
        ],
        "raffleQuota": [
          10
        ],
        "chargingQuota": [
          10
        ]
      }
    ],
    "validity": 48,
    "serieSize": 5000000,
    "capitalizationPeriod": {
      "interestRate": 0.25123,
      "updateIndex": [
        "IPCA"
      ],
      "updateIndexOthers": [
        "Índice de atualização"
      ],
      "contributionAmount": {
        "minValue": 500,
        "maxValue": 5000,
        "frequency": "MENSAL",
        "value": 0
      },
      "earlyRedemption": [
        {
          "quota": 0,
          "percentage": 0
        }
      ],
      "redemptionPercentageEndTerm": 100.002,
      "gracePeriodRedemption": 48
    },
    "latePayment": {
      "suspensionPeriod": 10,
      "termExtensionOption": true
    },
    "contributionPayment": {
      "paymentMethod": [
        "CARTAO_CREDITO"
      ],
      "updateIndex": [
        "IPCA"
      ],
      "updateIndexOthers": [
        "Índice de atualização"
      ]
    },
    "redemption": {
      "redemption": 151.23
    },
    "raffle": {
      "raffleQty": 10000,
      "timeInterval": [
        "QUINZENAL"
      ],
      "raffleValue": 5,
      "earlySettlementRaffle": true,
      "mandatoryContemplation": true,
      "ruleDescription": "Sorteio às quartas-feiras",
      "minimumContemplationProbability": 0.000001
    },
    "additionalDetails": {
      "additionalDetails": "https://example.com/openinsurance"
    },
    "minimumRequirements": {
      "minimumRequirementDetails": "https://ey.exemplo/capitalizacao/tradicional/PU/requisitos_min",
      "targetAudiences": [
        "PESSOAL_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|modality|[string]|true|none|Modalidade.|
|costType|[string]|true|none|Forma de custeio|
|termsAndConditions|[CapitalizationTitleTerms](#schemacapitalizationtitleterms)|false|none|Informações dos termos e condições conforme número do processo SUSEP.|
|quotas|[[CapitalizationTitleQuotas](#schemacapitalizationtitlequotas)]|true|none|[Quotas]|
|validity|[CapitalizationTitleValidity](#schemacapitalizationtitlevalidity)|false|none|Prazo de vigência do título de capitalização em meses.|
|serieSize|[CapitalizationTitleSerieSize](#schemacapitalizationtitleseriesize)|false|none|Os títulos de capitalização que prevejam sorteio devem ser estruturados em series, ou seja, em sequencias ou em grupos de títulos submetidos às mesmas condições e características, à exceção do valor do pagamento.|
|capitalizationPeriod|[CapitalizationTitlePeriod](#schemacapitalizationtitleperiod)|false|none|Período de Capitalização|
|latePayment|[CapitalizationTitleLatePayment](#schemacapitalizationtitlelatepayment)|false|none|Atraso de Pagamento|
|contributionPayment|[CapitalizationTitleContributionPayment](#schemacapitalizationtitlecontributionpayment)|false|none|Pagamento da contribuição|
|redemption|[CapitalizationTitleredemption](#schemacapitalizationtitleredemption)|false|none|none|
|raffle|[CapitalizationTitleRaffle](#schemacapitalizationtitleraffle)|false|none|Sorteio|
|additionalDetails|[CapitalizationTitleAdditionals](#schemacapitalizationtitleadditionals)|false|none|none|
|minimumRequirements|[CapitalizationTitleMinimumRequirements](#schemacapitalizationtitleminimumrequirements)|false|none|Requisitos mínimos.|

<h2 id="tocS_CapitalizationTitleTerms">CapitalizationTitleTerms</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitleterms"></a>
<a id="schema_CapitalizationTitleTerms"></a>
<a id="tocScapitalizationtitleterms"></a>
<a id="tocscapitalizationtitleterms"></a>

```json
{
  "susepProcessNumber": 15414622222222222,
  "termsRegulations": "https://ey.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|number|true|none|Número do processo SUSEP.|
|termsRegulations|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_CapitalizationTitleQuotas">CapitalizationTitleQuotas</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitlequotas"></a>
<a id="schema_CapitalizationTitleQuotas"></a>
<a id="tocScapitalizationtitlequotas"></a>
<a id="tocscapitalizationtitlequotas"></a>

```json
{
  "quota": 10,
  "capitalizationQuota": [
    10
  ],
  "raffleQuota": [
    10
  ],
  "chargingQuota": [
    10
  ]
}

```

Quotas

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|quota|integer|true|none|Número da parcela.|
|capitalizationQuota|[number]|true|none|Percentual da contribuição destinado à constituição de capital referente ao direito de resgate.|
|raffleQuota|[number]|true|none|Percentual da contribuição designado a custear os sorteios, se previstos no plano|
|chargingQuota|[number]|true|none|Percentual da contribuição destinado aos custos de despesas com corretagem, colocação e administração do título de capitalização, emissão, divulgação, lucro da sociedade de capitalização e eventuais despesas relavas ao custeio da contemplação obrigatória e da distribuição de bônus.|

<h2 id="tocS_CapitalizationTitleValidity">CapitalizationTitleValidity</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitlevalidity"></a>
<a id="schema_CapitalizationTitleValidity"></a>
<a id="tocScapitalizationtitlevalidity"></a>
<a id="tocscapitalizationtitlevalidity"></a>

```json
48

```

Prazo de vigência do título de capitalização em meses.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|integer|false|none|Prazo de vigência do título de capitalização em meses.|

<h2 id="tocS_CapitalizationTitleSerieSize">CapitalizationTitleSerieSize</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitleseriesize"></a>
<a id="schema_CapitalizationTitleSerieSize"></a>
<a id="tocScapitalizationtitleseriesize"></a>
<a id="tocscapitalizationtitleseriesize"></a>

```json
5000000

```

Os títulos de capitalização que prevejam sorteio devem ser estruturados em series, ou seja, em sequencias ou em grupos de títulos submetidos às mesmas condições e características, à exceção do valor do pagamento.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|integer|false|none|Os títulos de capitalização que prevejam sorteio devem ser estruturados em series, ou seja, em sequencias ou em grupos de títulos submetidos às mesmas condições e características, à exceção do valor do pagamento.|

<h2 id="tocS_CapitalizationTitlePeriod">CapitalizationTitlePeriod</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitleperiod"></a>
<a id="schema_CapitalizationTitlePeriod"></a>
<a id="tocScapitalizationtitleperiod"></a>
<a id="tocscapitalizationtitleperiod"></a>

```json
{
  "interestRate": 0.25123,
  "updateIndex": [
    "IPCA"
  ],
  "updateIndexOthers": [
    "Índice de atualização"
  ],
  "contributionAmount": {
    "minValue": 500,
    "maxValue": 5000,
    "frequency": "MENSAL",
    "value": 0
  },
  "earlyRedemption": [
    {
      "quota": 0,
      "percentage": 0
    }
  ],
  "redemptionPercentageEndTerm": 100.002,
  "gracePeriodRedemption": 48
}

```

Período de Capitalização

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|interestRate|number|true|none|Taxa que remunera a parte da mensalidade destinada a formar o Capital, ou seja, a Provisão Matemática de Resgate, também chamada de saldo de capitalização. Em porcentagem ao mês (% a.m)|
|updateIndex|[string]|true|none|Índice utilizado na correção que remunera a provisão matemática para capitalização|
|updateIndexOthers|[string]|false|none|Preenchida pelas participantes quando houver ‘Outros’ no campo.|
|contributionAmount|[CapitalizationTitleContributionAmount](#schemacapitalizationtitlecontributionamount)|true|none|none|
|earlyRedemption|[object]|true|none|Possibilidade de o titular efetuar o resgate do capital constituído antes do fim do prazo de vigência do título, podendo ocorrer por solicitação expressa do titular ou por contemplação em sorteio com liquidação antecipada|
|» quota|integer|true|none|Número de parcela.|
|» percentage|number|true|none|Percentual da quota|
|redemptionPercentageEndTerm|number|true|none|Percentual mínimo da soma das contribuições efetuadas que poderá ser resgatado ao final da vigência,  tendo como condição os pagamentos das parcelas nos respectivos vencimentos.|
|gracePeriodRedemption|integer|true|none|Intervalo de tempo mínimo entre contratação e resgate do direito, em meses.|

<h2 id="tocS_CapitalizationTitleContributionAmount">CapitalizationTitleContributionAmount</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitlecontributionamount"></a>
<a id="schema_CapitalizationTitleContributionAmount"></a>
<a id="tocScapitalizationtitlecontributionamount"></a>
<a id="tocscapitalizationtitlecontributionamount"></a>

```json
{
  "minValue": 500,
  "maxValue": 5000,
  "frequency": "MENSAL",
  "value": 0
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|minValue|number|false|none|Valor Mínimo|
|maxValue|number|false|none|Valor Máximo|
|frequency|string|false|none|Pagamento mensal, pagamento único ou periódico.|
|value|number|false|none|valor|

#### Enumerated Values

|Property|Value|
|---|---|
|frequency|MENSAL|
|frequency|UNICO|
|frequency|PERIODICO|

<h2 id="tocS_CapitalizationTitleLatePayment">CapitalizationTitleLatePayment</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitlelatepayment"></a>
<a id="schema_CapitalizationTitleLatePayment"></a>
<a id="tocScapitalizationtitlelatepayment"></a>
<a id="tocscapitalizationtitlelatepayment"></a>

```json
{
  "suspensionPeriod": 10,
  "termExtensionOption": true
}

```

Atraso de Pagamento

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|suspensionPeriod|integer|true|none|Prazo máximo (contínuo ou intermitente) em meses que o título fica suspenso por atraso de pagamento, antes de ser cancelado (não aplicável a pagamento único).|
|termExtensionOption|boolean|true|none|Alteração do prazo de vigência original, pela suspensão.|

<h2 id="tocS_CapitalizationTitleContributionPayment">CapitalizationTitleContributionPayment</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitlecontributionpayment"></a>
<a id="schema_CapitalizationTitleContributionPayment"></a>
<a id="tocScapitalizationtitlecontributionpayment"></a>
<a id="tocscapitalizationtitlecontributionpayment"></a>

```json
{
  "paymentMethod": [
    "CARTAO_CREDITO"
  ],
  "updateIndex": [
    "IPCA"
  ],
  "updateIndexOthers": [
    "Índice de atualização"
  ]
}

```

Pagamento da contribuição

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|[string]|true|none|Meio de Pagamento utilizados para pagamento da contribuição.|
|updateIndex|[string]|true|none|Índice utilizado na atualização dos pagamentos mensais (para títulos com mais de 12 meses de vigência)|
|updateIndexOthers|[string]|false|none|Preenchida pelas participantes quando houver ‘Outros’ no campo.|

<h2 id="tocS_CapitalizationTitleredemption">CapitalizationTitleredemption</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitleredemption"></a>
<a id="schema_CapitalizationTitleredemption"></a>
<a id="tocScapitalizationtitleredemption"></a>
<a id="tocscapitalizationtitleredemption"></a>

```json
{
  "redemption": 151.23
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|redemption|number|true|none|Valor percentual (%) de resgate final permitido.|

<h2 id="tocS_CapitalizationTitleRaffle">CapitalizationTitleRaffle</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitleraffle"></a>
<a id="schema_CapitalizationTitleRaffle"></a>
<a id="tocScapitalizationtitleraffle"></a>
<a id="tocscapitalizationtitleraffle"></a>

```json
{
  "raffleQty": 10000,
  "timeInterval": [
    "QUINZENAL"
  ],
  "raffleValue": 5,
  "earlySettlementRaffle": true,
  "mandatoryContemplation": true,
  "ruleDescription": "Sorteio às quartas-feiras",
  "minimumContemplationProbability": 0.000001
}

```

Sorteio

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|raffleQty|integer|true|none|Número da quantidade de sorteios previstos ao longo da vigência|
|timeInterval|[string]|true|none|Intervalo de tempo regular previsto entre os sorteios.|
|raffleValue|integer|true|none|Valor dos sorteios representado por múltiplo do valor de contribuição.|
|earlySettlementRaffle|boolean|true|none|Liquidação antecipada em Sorteio. Modelo de sorteio que acarreta, ao título contemplado, o seu resgate total obrigatório (Resolução Normativa 384/20).|
|mandatoryContemplation|boolean|true|none|Contemplação obrigatória. Possibilidade de realização de sorteio com previsão de que o título sorteado seja obrigatoriamente um título comercializado, desde que atingidos os requisitos definidos nas condições gerais do plano.|
|ruleDescription|string|false|none|Campo aberto para descrição a ser feita por cada participante das regras dos sorteios do produto.|
|minimumContemplationProbability|number|true|none|Número representativo da probabilidade mínima de contemplação nos sorteios, em porcentagem (%).|

<h2 id="tocS_CapitalizationTitleAdditionals">CapitalizationTitleAdditionals</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitleadditionals"></a>
<a id="schema_CapitalizationTitleAdditionals"></a>
<a id="tocScapitalizationtitleadditionals"></a>
<a id="tocscapitalizationtitleadditionals"></a>

```json
{
  "additionalDetails": "https://example.com/openinsurance"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|additionalDetails|string|true|none|Campo aberto (possibilidade de incluir URL).|

<h2 id="tocS_CapitalizationTitleMinimumRequirements">CapitalizationTitleMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemacapitalizationtitleminimumrequirements"></a>
<a id="schema_CapitalizationTitleMinimumRequirements"></a>
<a id="tocScapitalizationtitleminimumrequirements"></a>
<a id="tocscapitalizationtitleminimumrequirements"></a>

```json
{
  "minimumRequirementDetails": "https://ey.exemplo/capitalizacao/tradicional/PU/requisitos_min",
  "targetAudiences": [
    "PESSOAL_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|minimumRequirementDetails|string|true|none|Detalhamento do requisito mínimo para contratação - Campo aberto (possibilidade de incluir URL).|
|targetAudiences|[string]|true|none|Público Alvo|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "prev": "string",
  "next": "string",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|