<h2 id="tocS_ResponseDirectorsOfficersLiabilityList">ResponseDirectorsOfficersLiabilityList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsedirectorsofficersliabilitylist"></a>
<a id="schema_ResponseDirectorsOfficersLiabilityList"></a>
<a id="tocSresponsedirectorsofficersliabilitylist"></a>
<a id="tocsresponsedirectorsofficersliabilitylist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "DANOS_CAUSADOS_A_TERCEIROS_EM_CONSEQUENCIA_DE_ATOS_ILICITOS_CULPOSOS_PRATICADOS_NO_EXERCICIO_DAS_FUNCOES_PARA_AS_QUAIS_TENHA_SIDO_NOMEADO_ELEITO_OU_CONTRATADO_E_OBRIGADO_A_INDENIZA_LOS_POR_DECISAO_JUDICIAL_OU_DECISAO_EM_JUIZO_ARBITRAL_OU_POR_ACORDO_COM_OS_TERCEIROS_PREJUDICADOS_MEDIANTE_A_ANUENCIA_DA_SOCIEDADE_SEGURADORA_DESDE_QUE_ATENDIDAS_AS_DISPOSICOES_DO_CONTRATO",
                  "coverageDescription": "string",
                  "coverageAttributes": {
                    "maxLMI": 0,
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string",
                    "idenizationBasis": "POR_OCORRENCIA",
                    "idenizationBasisOthers": "string"
                  },
                  "allowApartPurchase": true
                }
              ],
              "maxLMGDescription": "string",
              "maxLMG": 0,
              "traits": true,
              "customerServices": "REDE_REFERENCIADA",
              "assistanceServices": [
                {
                  "assistanceServices": true,
                  "assistanceServicesPackage": [
                    "ATE_10_SERVICOS"
                  ],
                  "complementaryAssistanceServicesDetail": "string",
                  "chargeTypeSignaling": "GRATUITO"
                }
              ],
              "premiumPayment": [
                {
                  "paymentMethod": "CARTAO_DE_CREDITO",
                  "paymentDetail": "string",
                  "paymentType": [
                    "A_VISTA"
                  ],
                  "premiumRates": "string"
                }
              ],
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "Cobertura XYZ com vigência diferente da vigência da apólice"
                }
              ],
              "termsAndConditions": {
                "susepProcessNumber": 15414622222222222,
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "contractType": [
                  "COLETIVO"
                ],
                "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/directors-officers-liability",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/directors-officers-liability",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/directors-officers-liability",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/directors-officers-liability",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/directors-officers-liability"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[DirectorsOfficersLiabilityBrand](#schemadirectorsofficersliabilitybrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinksdirectors)|true|none|none|
|meta|[Meta](#schemametadirectors)|true|none|none|

<h2 id="tocS_DirectorsOfficersLiabilityBrand">DirectorsOfficersLiabilityBrand</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilitybrand"></a>
<a id="schema_DirectorsOfficersLiabilityBrand"></a>
<a id="tocSdirectorsofficersliabilitybrand"></a>
<a id="tocsdirectorsofficersliabilitybrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "DANOS_CAUSADOS_A_TERCEIROS_EM_CONSEQUENCIA_DE_ATOS_ILICITOS_CULPOSOS_PRATICADOS_NO_EXERCICIO_DAS_FUNCOES_PARA_AS_QUAIS_TENHA_SIDO_NOMEADO_ELEITO_OU_CONTRATADO_E_OBRIGADO_A_INDENIZA_LOS_POR_DECISAO_JUDICIAL_OU_DECISAO_EM_JUIZO_ARBITRAL_OU_POR_ACORDO_COM_OS_TERCEIROS_PREJUDICADOS_MEDIANTE_A_ANUENCIA_DA_SOCIEDADE_SEGURADORA_DESDE_QUE_ATENDIDAS_AS_DISPOSICOES_DO_CONTRATO",
              "coverageDescription": "string",
              "coverageAttributes": {
                "maxLMI": 0,
                "insuredParticipation": [
                  "FRANQUIA"
                ],
                "insuredParticipationDescription": "string",
                "idenizationBasis": "POR_OCORRENCIA",
                "idenizationBasisOthers": "string"
              },
              "allowApartPurchase": true
            }
          ],
          "maxLMGDescription": "string",
          "maxLMG": 0,
          "traits": true,
          "customerServices": "REDE_REFERENCIADA",
          "assistanceServices": [
            {
              "assistanceServices": true,
              "assistanceServicesPackage": [
                "ATE_10_SERVICOS"
              ],
              "complementaryAssistanceServicesDetail": "string",
              "chargeTypeSignaling": "GRATUITO"
            }
          ],
          "premiumPayment": [
            {
              "paymentMethod": "CARTAO_DE_CREDITO",
              "paymentDetail": "string",
              "paymentType": [
                "A_VISTA"
              ],
              "premiumRates": "string"
            }
          ],
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "Cobertura XYZ com vigência diferente da vigência da apólice"
            }
          ],
          "termsAndConditions": {
            "susepProcessNumber": 15414622222222222,
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "contractType": [
              "COLETIVO"
            ],
            "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[DirectorsOfficersLiabilityCompany](#schemadirectorsofficersliabilitycompany)|true|none|none|

<h2 id="tocS_DirectorsOfficersLiabilityCompany">DirectorsOfficersLiabilityCompany</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilitycompany"></a>
<a id="schema_DirectorsOfficersLiabilityCompany"></a>
<a id="tocSdirectorsofficersliabilitycompany"></a>
<a id="tocsdirectorsofficersliabilitycompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "DANOS_CAUSADOS_A_TERCEIROS_EM_CONSEQUENCIA_DE_ATOS_ILICITOS_CULPOSOS_PRATICADOS_NO_EXERCICIO_DAS_FUNCOES_PARA_AS_QUAIS_TENHA_SIDO_NOMEADO_ELEITO_OU_CONTRATADO_E_OBRIGADO_A_INDENIZA_LOS_POR_DECISAO_JUDICIAL_OU_DECISAO_EM_JUIZO_ARBITRAL_OU_POR_ACORDO_COM_OS_TERCEIROS_PREJUDICADOS_MEDIANTE_A_ANUENCIA_DA_SOCIEDADE_SEGURADORA_DESDE_QUE_ATENDIDAS_AS_DISPOSICOES_DO_CONTRATO",
            "coverageDescription": "string",
            "coverageAttributes": {
              "maxLMI": 0,
              "insuredParticipation": [
                "FRANQUIA"
              ],
              "insuredParticipationDescription": "string",
              "idenizationBasis": "POR_OCORRENCIA",
              "idenizationBasisOthers": "string"
            },
            "allowApartPurchase": true
          }
        ],
        "maxLMGDescription": "string",
        "maxLMG": 0,
        "traits": true,
        "customerServices": "REDE_REFERENCIADA",
        "assistanceServices": [
          {
            "assistanceServices": true,
            "assistanceServicesPackage": [
              "ATE_10_SERVICOS"
            ],
            "complementaryAssistanceServicesDetail": "string",
            "chargeTypeSignaling": "GRATUITO"
          }
        ],
        "premiumPayment": [
          {
            "paymentMethod": "CARTAO_DE_CREDITO",
            "paymentDetail": "string",
            "paymentType": [
              "A_VISTA"
            ],
            "premiumRates": "string"
          }
        ],
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "Cobertura XYZ com vigência diferente da vigência da apólice"
          }
        ],
        "termsAndConditions": {
          "susepProcessNumber": 15414622222222222,
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "contractType": [
            "COLETIVO"
          ],
          "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[DirectorsOfficersLiabilityProduct](#schemadirectorsofficersliabilityproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_DirectorsOfficersLiabilityProduct">DirectorsOfficersLiabilityProduct</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilityproduct"></a>
<a id="schema_DirectorsOfficersLiabilityProduct"></a>
<a id="tocSdirectorsofficersliabilityproduct"></a>
<a id="tocsdirectorsofficersliabilityproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "DANOS_CAUSADOS_A_TERCEIROS_EM_CONSEQUENCIA_DE_ATOS_ILICITOS_CULPOSOS_PRATICADOS_NO_EXERCICIO_DAS_FUNCOES_PARA_AS_QUAIS_TENHA_SIDO_NOMEADO_ELEITO_OU_CONTRATADO_E_OBRIGADO_A_INDENIZA_LOS_POR_DECISAO_JUDICIAL_OU_DECISAO_EM_JUIZO_ARBITRAL_OU_POR_ACORDO_COM_OS_TERCEIROS_PREJUDICADOS_MEDIANTE_A_ANUENCIA_DA_SOCIEDADE_SEGURADORA_DESDE_QUE_ATENDIDAS_AS_DISPOSICOES_DO_CONTRATO",
        "coverageDescription": "string",
        "coverageAttributes": {
          "maxLMI": 0,
          "insuredParticipation": [
            "FRANQUIA"
          ],
          "insuredParticipationDescription": "string",
          "idenizationBasis": "POR_OCORRENCIA",
          "idenizationBasisOthers": "string"
        },
        "allowApartPurchase": true
      }
    ],
    "maxLMGDescription": "string",
    "maxLMG": 0,
    "traits": true,
    "customerServices": "REDE_REFERENCIADA",
    "assistanceServices": [
      {
        "assistanceServices": true,
        "assistanceServicesPackage": [
          "ATE_10_SERVICOS"
        ],
        "complementaryAssistanceServicesDetail": "string",
        "chargeTypeSignaling": "GRATUITO"
      }
    ],
    "premiumPayment": [
      {
        "paymentMethod": "CARTAO_DE_CREDITO",
        "paymentDetail": "string",
        "paymentType": [
          "A_VISTA"
        ],
        "premiumRates": "string"
      }
    ],
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "Cobertura XYZ com vigência diferente da vigência da apólice"
      }
    ],
    "termsAndConditions": {
      "susepProcessNumber": 15414622222222222,
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "contractType": [
        "COLETIVO"
      ],
      "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[DirectorsOfficersLiabilityCoverageAttributes](#schemadirectorsofficersliabilitycoverageattributes)|false|none|Informações de cobertura do Seguro Residencial.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada|
|maxLMGDescription|string|true|none|Descritivo da composição do Limite Máximo de Garantia (LMG) por cobertura|
|maxLMG|number|true|none|none|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica.|
|customerServices|[string]|false|none|Rede de Atendimento.|
|assistanceServices|[DirectorsOfficersLiabilityAssistanceServices](#schemadirectorsofficersliabilityassistanceservices)|true|none|Agrupamento dos serviços de assistências disponíveis vinculado ao produto.|
|premiumPayment|[DirectorsOfficersLiabilityPremiumPayment](#schemadirectorsofficersliabilitypremiumpayment)|true|none|none|
|validity|[DirectorsOfficersLiabilityValidity](#schemadirectorsofficersliabilityvalidity)|true|none|none|
|termsAndConditions|[DirectorsOfficersLiabilityTerms](#schemadirectorsofficersliabilityterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[DirectorsOfficersLiabilityMinimumRequirements](#schemadirectorsofficersliabilityminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|DANOS_CAUSADOS_A_TERCEIROS_EM_CONSEQUENCIA_DE_ATOS_ILICITOS_CULPOSOS_PRATICADOS_NO_EXERCICIO_DAS_FUNCOES_PARA_AS_QUAIS_TENHA_SIDO_NOMEADO_ELEITO_OU_CONTRATADO_E_OBRIGADO_A_INDENIZA_LOS_POR_DECISAO_JUDICIAL_OU_DECISAO_EM_JUIZO_ARBITRAL_OU_POR_ACORDO_COM_OS_TERCEIROS_PREJUDICADOS_MEDIANTE_A_ANUENCIA_DA_SOCIEDADE_SEGURADORA_DESDE_QUE_ATENDIDAS_AS_DISPOSICOES_DO_CONTRATO|
|coverage|OUTRAS|

<h2 id="tocS_DirectorsOfficersLiabilityAssistanceServices">DirectorsOfficersLiabilityAssistanceServices</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilityassistanceservices"></a>
<a id="schema_DirectorsOfficersLiabilityAssistanceServices"></a>
<a id="tocSdirectorsofficersliabilityassistanceservices"></a>
<a id="tocsdirectorsofficersliabilityassistanceservices"></a>

```json
[
  {
    "assistanceServices": true,
    "assistanceServicesPackage": [
      "ATE_10_SERVICOS"
    ],
    "complementaryAssistanceServicesDetail": "string",
    "chargeTypeSignaling": "GRATUITO"
  }
]

```

Agrupamento dos serviços de assistências disponíveis vinculado ao produto.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|assistanceServices|boolean|true|none|Indicação se o produto possui serviços de assistências complementares.|
|assistanceServicesPackage|[any]|false|none|none|
|complementaryAssistanceServicesDetail|string|false|none|Campo livre para descrição dos serviços ofertados por cada sociedade participante, contendo minimamente cada um dos serviços assistenciais complementares oferecidos e se o pacote se trata de uma cobertura de assistência securitária ou se serviços de assistência|
|chargeTypeSignaling|string|false|none|Indicação se o pacote de assistência é gratuito ou contratado/pago..|

#### Enumerated Values

|Property|Value|
|---|---|
|chargeTypeSignaling|GRATUITO|
|chargeTypeSignaling|PAGO|

<h2 id="tocS_DirectorsOfficersLiabilityPremiumPayment">DirectorsOfficersLiabilityPremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilitypremiumpayment"></a>
<a id="schema_DirectorsOfficersLiabilityPremiumPayment"></a>
<a id="tocSdirectorsofficersliabilitypremiumpayment"></a>
<a id="tocsdirectorsofficersliabilitypremiumpayment"></a>

```json
[
  {
    "paymentMethod": "CARTAO_DE_CREDITO",
    "paymentDetail": "string",
    "paymentType": [
      "A_VISTA"
    ],
    "premiumRates": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|string|true|none|none|
|paymentDetail|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Meio de pagamento (acima)|
|paymentType|[string]|true|none|tipo de pagamento|
|premiumRates|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas.|

#### Enumerated Values

|Property|Value|
|---|---|
|paymentMethod|CARTAO_DE_CREDITO|
|paymentMethod|CARTAO_DE_DEBITO|
|paymentMethod|DEBITO_EM_CONTA_CORRENTE|
|paymentMethod|DEBITO_EM_CONTA_POUPANCA|
|paymentMethod|BOLETO_BANCARIO|
|paymentMethod|PIX|
|paymentMethod|CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO|
|paymentMethod|PONTOS_DE_PROGRAMA_DE_BENEFICIO|
|paymentMethod|OUTROS|

<h2 id="tocS_DirectorsOfficersLiabilityValidity">DirectorsOfficersLiabilityValidity</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilityvalidity"></a>
<a id="schema_DirectorsOfficersLiabilityValidity"></a>
<a id="tocSdirectorsofficersliabilityvalidity"></a>
<a id="tocsdirectorsofficersliabilityvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "Cobertura XYZ com vigência diferente da vigência da apólice"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_DirectorsOfficersLiabilityTerms">DirectorsOfficersLiabilityTerms</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilityterms"></a>
<a id="schema_DirectorsOfficersLiabilityTerms"></a>
<a id="tocSdirectorsofficersliabilityterms"></a>
<a id="tocsdirectorsofficersliabilityterms"></a>

```json
{
  "susepProcessNumber": 15414622222222222,
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_DirectorsOfficersLiabilityMinimumRequirements">DirectorsOfficersLiabilityMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilityminimumrequirements"></a>
<a id="schema_DirectorsOfficersLiabilityMinimumRequirements"></a>
<a id="tocSdirectorsofficersliabilityminimumrequirements"></a>
<a id="tocsdirectorsofficersliabilityminimumrequirements"></a>

```json
{
  "contractType": [
    "COLETIVO"
  ],
  "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractType|[string]|true|none|none|
|minimumRequirementDetails|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|
|targetAudiences|[string]|true|none|Público Alvo|

<h2 id="tocS_DirectorsOfficersLiabilityCoverageAttributes">DirectorsOfficersLiabilityCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilitycoverageattributes"></a>
<a id="schema_DirectorsOfficersLiabilityCoverageAttributes"></a>
<a id="tocSdirectorsofficersliabilitycoverageattributes"></a>
<a id="tocsdirectorsofficersliabilitycoverageattributes"></a>

```json
{
  "maxLMI": 0,
  "insuredParticipation": [
    "FRANQUIA"
  ],
  "insuredParticipationDescription": "string",
  "idenizationBasis": "POR_OCORRENCIA",
  "idenizationBasisOthers": "string"
}

```

Informações de cobertura do Seguro Residencial.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|number|true|none|none|
|insuredParticipation|[string]|true|none|Lista com indicativo do tipo de participação do segurado para cada cobertura|
|insuredParticipationDescription|string|false|none|Lista com descrição referente ao campo “Participação do Segurado” para cada cobertura.|
|idenizationBasis|string|true|none|Lista com o indicativo da base de indenização para cada cobertura|
|idenizationBasisOthers|string|false|none|Campo livre para descrição, caso o valor do campo "Base de indenização" seja 3. Outros|

#### Enumerated Values

|Property|Value|
|---|---|
|idenizationBasis|POR_OCORRENCIA|
|idenizationBasis|POR_RECLAMACAO|
|idenizationBasis|OUTRAS|



<h2 id="tocS_DirectorsOfficersLiabilityLimit">DirectorsOfficersLiabilityLimit</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsOfficersLiabilityLimit"></a>
<a id="schema_DirectorsOfficersLiabilityLimit"></a>
<a id="tocSdirectorsOfficersLiabilityLimit"></a>
<a id="tocsdirectorsOfficersLiabilityLimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": number,
    "unit": {
      "code": "R$",
      "description": "REAL"
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": number,
      "unit": {
        "code": "R$",
      "description": "REAL"
    },
  }
}
}

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[DirectorsOfficersLiabilityCoverageAttributesDetails](#schemadirectorsOfficersLiabilityCoverageAttributesDetailsUnit)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[DirectorsOfficersLiabilityCoverageAttributesDetails](#schemadirectorsOfficersLiabilityCoverageAttributesDetailsUnit)|false|none|none|



<h2 id="tocS_DirectorsOfficersLiabilityCoverageAttributesDetailsUnit">DirectorsOfficersLiabilityCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilitycoverageattributesdetailsunit"></a>
<a id="schema_DirectorsOfficersLiabilityCoverageAttributesDetailsUnit"></a>
<a id="tocSdirectorsofficersliabilitycoverageattributesdetailsunit"></a>
<a id="tocsdirectorsofficersliabilitycoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_DirectorsOfficersLiabilityCoverageAttributesPercentageDetails">DirectorsOfficersLiabilityCoverageAttributesPercentageDetails</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsofficersliabilitycoverageattributespercentagedetails"></a>
<a id="schema_DirectorsOfficersLiabilityCoverageAttributesPercentageDetails"></a>
<a id="tocSdirectorsofficersliabilitycoverageattributespercentagedetails"></a>
<a id="tocsdirectorsofficersliabilitycoverageattributespercentagedetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "%",
    "description": "PERCENTUAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[DirectorsOfficersLiabilityCoverageAttributesDetailsUnit](#schemadirectorsOfficersLiabilityCoverageAttributesDetailsUnit)|true|none|none|

<h2 id="tocS_DirectorsOfficersLiabilityCoverageAttributesDetailsUnit">DirectorsOfficersLiabilityCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemadirectorsOfficersLiabilityCoverageAttributesDetailsUnit"></a>
<a id="schema_DirectorsOfficersLiabilityCoverageAttributesDetailsUnit"></a>
<a id="tocSdirectorsOfficersLiabilityCoverageAttributesDetailsUnit"></a>
<a id="tocsdirectorsOfficersLiabilityCoverageAttributesDetailsUnit"></a>

```json
{
  "code": "%",
  "description": "PERCENTUAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_LinksDirectors">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksdirectors"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/directors-officers-liability",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/directors-officers-liability",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/directors-officers-liability",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/directors-officers-liability",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/directors-officers-liability"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaDirectors">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametadirectors"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorDirectors">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametadirectors)|false|none|none|

