<h2 id="tocS_ResponseEngineeringList">ResponseEngineeringList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseengineeringlist"></a>
<a id="schema_ResponseEngineeringList"></a>
<a id="tocSresponseengineeringlist"></a>
<a id="tocsresponseengineeringlist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "OBRAS_CIVIS_CONSTRUCAO_E_INSTALACAO_E_MONTAGEM",
                  "coverageDescription": "string",
                  "coverageAttributes": {
                    "maxLMI": {}
                  },
                  "allowApartPurchase": true
                }
              ],
              "traits": true,
              "microinsurance": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumRates": [
                "string"
              ],
              "termsAndConditions": {
                "susepProcessNumber": 15414622222222222,
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/engineering",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/engineering",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/engineering",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/engineering",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/engineering"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[EngineeringBrand](#schemaengineeringbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_EngineeringBrand">EngineeringBrand</h2>
<!-- backwards compatibility -->
<a id="schemaengineeringbrand"></a>
<a id="schema_EngineeringBrand"></a>
<a id="tocSengineeringbrand"></a>
<a id="tocsengineeringbrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "OBRAS_CIVIS_CONSTRUCAO_E_INSTALACAO_E_MONTAGEM",
              "coverageDescription": "string",
              "coverageAttributes": {
                "maxLMI": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "allowApartPurchase": true
            }
          ],
          "traits": true,
          "microinsurance": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumRates": [
            "string"
          ],
          "termsAndConditions": {
            "susepProcessNumber": 15414622222222222,
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[EngineeringCompany](#schemaengineeringcompany)|true|none|none|

<h2 id="tocS_EngineeringCompany">EngineeringCompany</h2>
<!-- backwards compatibility -->
<a id="schemaengineeringcompany"></a>
<a id="schema_EngineeringCompany"></a>
<a id="tocSengineeringcompany"></a>
<a id="tocsengineeringcompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "OBRAS_CIVIS_CONSTRUCAO_E_INSTALACAO_E_MONTAGEM",
            "coverageDescription": "string",
            "coverageAttributes": {
              "maxLMI": {
                "amount": 0,
                "unit": {
                  "code": "R$",
                  "description": "REAL"
                }
              }
            },
            "allowApartPurchase": true
          }
        ],
        "traits": true,
        "microinsurance": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumRates": [
          "string"
        ],
        "termsAndConditions": {
          "susepProcessNumber": 15414622222222222,
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[EngineeringProduct](#schemaengineeringproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_EngineeringProduct">EngineeringProduct</h2>
<!-- backwards compatibility -->
<a id="schemaengineeringproduct"></a>
<a id="schema_EngineeringProduct"></a>
<a id="tocSengineeringproduct"></a>
<a id="tocsengineeringproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "OBRAS_CIVIS_CONSTRUCAO_E_INSTALACAO_E_MONTAGEM",
        "coverageDescription": "string",
        "coverageAttributes": {
          "maxLMI": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          }
        },
        "allowApartPurchase": true
      }
    ],
    "traits": true,
    "microinsurance": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumRates": [
      "string"
    ],
    "termsAndConditions": {
      "susepProcessNumber": 15414622222222222,
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|false|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[EngineeringCoverageAttributes](#schemaengineeringcoverageattributes)|true|none|Informações de cobertura do Seguro.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|microinsurance|boolean|true|none|Indicação se o produto é classificado como microsseguro|
|validity|[EngineeringValidity](#schemaengineeringvalidity)|true|none|none|
|premiumRates|[string]|false|none|Faixa de Preço, conforme estabelecido no inciso VII do Art. 2º do Anexo III da Circular SUSEP 635/2021, inclusive sobre sua faculdade para alguns produtos|
|termsAndConditions|[EngineeringTerms](#schemaengineeringterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[EngineeringMinimumRequirements](#schemaengineeringminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|OBRAS_CIVIS_CONSTRUCAO_E_INSTALACAO_E_MONTAGEM|
|coverage|AFRETAMENTOS_DE_AERONAVES|
|coverage|ARMAZENAGEM_FORA_DO_CANTEIRO_DE_OBRAS_OU_LOCAL_SEGURADO|
|coverage|DANOS_EM_CONSEQUENCIA_DE_ERRO_DE_PROJETO_RISCO_DO_FABRICANTE|
|coverage|DESPESAS_COM_DESENTULHO_DO_LOCAL|
|coverage|DESPESAS_DE_SALVAMENTO_E_CONTENCAO_DE_SINISTROS|
|coverage|DESPESAS_EXTRAORDINARIAS|
|coverage|EQUIPAMENTOS_DE_ESCRITORIO_E_INFORMATICA|
|coverage|EQUIPAMENTOS_MOVEIS_ESTACIONARIOS_UTILIZADOS_NA_OBRA|
|coverage|FERRAMENTAS_DE_PEQUENO_E_MEDIO_PORTE|
|coverage|HONORARIOS_DE_PERITO|
|coverage|INCENDIO_APOS_O_TERMINO_DE_OBRAS_ATE_30_DIAS_EXCETO_PARA_REFORMAS_AMPLIACOES|
|coverage|MANUTENCAO_AMPLA_ATE_24_MESES|
|coverage|MANUTENCAO_SIMPLES_ATE_24_MESES|
|coverage|OBRAS_CONCLUIDAS|
|coverage|OBRAS_TEMPORARIAS|
|coverage|OBRAS_INSTALACOES_CONTRATADAS_ACEITAS_E_OU_COLOCADAS_EM_OPERACAO|
|coverage|PROPRIEDADES_CIRCUNVIZINHAS|
|coverage|RECOMPOSICAO_DE_DOCUMENTOS|
|coverage|RESPONSABILIDADE_CIVIL_EMPREGADOR|
|coverage|STANDS_DE_VENDA|
|coverage|TRANSPORTE_TERRESTRE|
|coverage|TUMULTOS_GREVES_E_LOCKOUT|
|coverage|OUTRAS|

<h2 id="tocS_EngineeringValidity">EngineeringValidity</h2>
<!-- backwards compatibility -->
<a id="schemaengineeringvalidity"></a>
<a id="schema_EngineeringValidity"></a>
<a id="tocSengineeringvalidity"></a>
<a id="tocsengineeringvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_EngineeringTerms">EngineeringTerms</h2>
<!-- backwards compatibility -->
<a id="schemaengineeringterms"></a>
<a id="schema_EngineeringTerms"></a>
<a id="tocSengineeringterms"></a>
<a id="tocsengineeringterms"></a>

```json
{
  "susepProcessNumber": 15414622222222222,
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_EngineeringMinimumRequirements">EngineeringMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemaengineeringminimumrequirements"></a>
<a id="schema_EngineeringMinimumRequirements"></a>
<a id="tocSengineeringminimumrequirements"></a>
<a id="tocsengineeringminimumrequirements"></a>

```json
{
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|targetAudiences|[string]|true|none|none|

<h2 id="tocS_EngineeringCoverageAttributes">EngineeringCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemaengineeringcoverageattributes"></a>
<a id="schema_EngineeringCoverageAttributes"></a>
<a id="tocSengineeringcoverageattributes"></a>
<a id="tocsengineeringcoverageattributes"></a>

```json
{
  "maxLMI": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[EngineeringCoverageAttributesDetails](#schemaengineeringcoverageattributesdetails)|true|none|none|


<h2 id="tocS_EngineeringLimit">EngineeringLimit</h2>
<!-- backwards compatibility -->
<a id="schemaengineeringLimit"></a>
<a id="schema_EngineeringLimit"></a>
<a id="tocSengineeringLimit"></a>
<a id="tocsengineeringLimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": number,
    "unit": {
      "code": "R$",
      "description": "REAL"
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": number,
      "unit": {
        "code": "R$",
      "description": "REAL"
    },
  }
}
}

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[EngineeringCoverageAttributesDetails](#schemaengineeringcoverageattributesdetails)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[EngineeringCoverageAttributesDetails](#schemaengineeringcoverageattributesdetails)|false|none|none|



<h2 id="tocS_EngineeringCoverageAttributesDetails">EngineeringCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemaengineeringcoverageattributesdetails"></a>
<a id="schema_EngineeringCoverageAttributesDetails"></a>
<a id="tocSengineeringcoverageattributesdetails"></a>
<a id="tocsengineeringcoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

Valor de Limite Máximo de Indenização (LMI).

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[EngineeringCoverageAttributesDetailsUnit](#schemaengineeringcoverageattributesdetailsunit)|true|none|none|


<h2 id="tocS_EngineeringCoverageAttributesDetailsUnit">EngineeringCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemaengineeringcoverageattributesdetailsunit"></a>
<a id="schema_EngineeringCoverageAttributesDetailsUnit"></a>
<a id="tocSengineeringcoverageattributesdetailsunit"></a>
<a id="tocsengineeringcoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/engineering",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/engineering",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/engineering",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/engineering",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/engineering"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|

