

<h2 id="tocS_ResponseEnvironmentalLiabilityList">ResponseEnvironmentalLiabilityList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseenvironmentalliabilitylist"></a>
<a id="schema_ResponseEnvironmentalLiabilityList"></a>
<a id="tocSresponseenvironmentalliabilitylist"></a>
<a id="tocsresponseenvironmentalliabilitylist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "INSTALACOES_FIXAS",
                  "coverageDescription": "descrição cobertura",
                  "coverageAttributes": {
                    "maxLMI": {},
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string",
                    "idenizationBasis": "POR_OCORRENCIA",
                    "idenizationBasisOthers": "string"
                  },
                  "allowApartPurchase": true
                }
              ],
              "traits": true,
              "maxLMGDescription": "string",
              "maxLMG": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "FINANCEIRO_COBERTURA",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "assistanceServices": [
                {
                  "assistanceServices": true,
                  "assistanceServicesPackage": [
                    "ATE_10_SERVICOS"
                  ],
                  "complementaryAssistanceServicesDetail": "string",
                  "chargeTypeSignaling": "GRATUITO"
                }
              ],
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "customerServices": [
                "LIVRE_ESCOLHA"
              ],
              "premiumPayment": [
                {
                  "paymentMethod": "CARTAO_DE_CREDITO",
                  "paymentDetail": "string",
                  "paymentType": [
                    "A_VISTA"
                  ],
                  "premiumRates": "string"
                }
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414622222222222",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "contractType": [
                  "COLETIVO"
                ],
                "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/environmental-liability",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/environmental-liability",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/environmental-liability",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/environmental-liability",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/environmental-liability"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[EnvironmentalLiabilityBrand](#schemaenvironmentalliabilitybrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinksenvironmental)|true|none|none|
|meta|[Meta](#schemametaenvironmental)|true|none|none|

<h2 id="tocS_EnvironmentalLiabilityBrand">EnvironmentalLiabilityBrand</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilitybrand"></a>
<a id="schema_EnvironmentalLiabilityBrand"></a>
<a id="tocSenvironmentalliabilitybrand"></a>
<a id="tocsenvironmentalliabilitybrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "INSTALACOES_FIXAS",
              "coverageDescription": "descrição cobertura",
              "coverageAttributes": {
                "maxLMI": {
                  "type": "FINANCEIRO",
                  "amount": {
                    "amount": 0,
                    "unit": {}
                  },
                  "index": "LMG",
                  "maxIndexAmount": {
                    "amount": 0,
                    "unit": {}
                  }
                },
                "insuredParticipation": [
                  "FRANQUIA"
                ],
                "insuredParticipationDescription": "string",
                "idenizationBasis": "POR_OCORRENCIA",
                "idenizationBasisOthers": "string"
              },
              "allowApartPurchase": true
            }
          ],
          "traits": true,
          "maxLMGDescription": "string",
          "maxLMG": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "FINANCEIRO_COBERTURA",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          },
          "assistanceServices": [
            {
              "assistanceServices": true,
              "assistanceServicesPackage": [
                "ATE_10_SERVICOS"
              ],
              "complementaryAssistanceServicesDetail": "string",
              "chargeTypeSignaling": "GRATUITO"
            }
          ],
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "customerServices": [
            "LIVRE_ESCOLHA"
          ],
          "premiumPayment": [
            {
              "paymentMethod": "CARTAO_DE_CREDITO",
              "paymentDetail": "string",
              "paymentType": [
                "A_VISTA"
              ],
              "premiumRates": "string"
            }
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414622222222222",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "contractType": [
              "COLETIVO"
            ],
            "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[EnvironmentalLiabilityCompany](#schemaenvironmentalliabilitycompany)|true|none|none|

<h2 id="tocS_EnvironmentalLiabilityCompany">EnvironmentalLiabilityCompany</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilitycompany"></a>
<a id="schema_EnvironmentalLiabilityCompany"></a>
<a id="tocSenvironmentalliabilitycompany"></a>
<a id="tocsenvironmentalliabilitycompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "INSTALACOES_FIXAS",
            "coverageDescription": "descrição cobertura",
            "coverageAttributes": {
              "maxLMI": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "LMG",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "insuredParticipation": [
                "FRANQUIA"
              ],
              "insuredParticipationDescription": "string",
              "idenizationBasis": "POR_OCORRENCIA",
              "idenizationBasisOthers": "string"
            },
            "allowApartPurchase": true
          }
        ],
        "traits": true,
        "maxLMGDescription": "string",
        "maxLMG": {
          "type": "FINANCEIRO",
          "amount": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          },
          "index": "FINANCEIRO_COBERTURA",
          "maxIndexAmount": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          }
        },
        "assistanceServices": [
          {
            "assistanceServices": true,
            "assistanceServicesPackage": [
              "ATE_10_SERVICOS"
            ],
            "complementaryAssistanceServicesDetail": "string",
            "chargeTypeSignaling": "GRATUITO"
          }
        ],
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "customerServices": [
          "LIVRE_ESCOLHA"
        ],
        "premiumPayment": [
          {
            "paymentMethod": "CARTAO_DE_CREDITO",
            "paymentDetail": "string",
            "paymentType": [
              "A_VISTA"
            ],
            "premiumRates": "string"
          }
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414622222222222",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "contractType": [
            "COLETIVO"
          ],
          "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[EnvironmentalLiabilityProduct](#schemaenvironmentalliabilityproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_EnvironmentalLiabilityProduct">EnvironmentalLiabilityProduct</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilityproduct"></a>
<a id="schema_EnvironmentalLiabilityProduct"></a>
<a id="tocSenvironmentalliabilityproduct"></a>
<a id="tocsenvironmentalliabilityproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "INSTALACOES_FIXAS",
        "coverageDescription": "descrição cobertura",
        "coverageAttributes": {
          "maxLMI": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "LMG",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          },
          "insuredParticipation": [
            "FRANQUIA"
          ],
          "insuredParticipationDescription": "string",
          "idenizationBasis": "POR_OCORRENCIA",
          "idenizationBasisOthers": "string"
        },
        "allowApartPurchase": true
      }
    ],
    "traits": true,
    "maxLMGDescription": "string",
    "maxLMG": {
      "type": "FINANCEIRO",
      "amount": {
        "amount": 0,
        "unit": {
          "code": "R$",
          "description": "REAL"
        }
      },
      "index": "FINANCEIRO_COBERTURA",
      "maxIndexAmount": {
        "amount": 0,
        "unit": {
          "code": "R$",
          "description": "REAL"
        }
      }
    },
    "assistanceServices": [
      {
        "assistanceServices": true,
        "assistanceServicesPackage": [
          "ATE_10_SERVICOS"
        ],
        "complementaryAssistanceServicesDetail": "string",
        "chargeTypeSignaling": "GRATUITO"
      }
    ],
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "customerServices": [
      "LIVRE_ESCOLHA"
    ],
    "premiumPayment": [
      {
        "paymentMethod": "CARTAO_DE_CREDITO",
        "paymentDetail": "string",
        "paymentType": [
          "A_VISTA"
        ],
        "premiumRates": "string"
      }
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414622222222222",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "contractType": [
        "COLETIVO"
      ],
      "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos"|
|» coverageAttributes|[EnvironmentalLiabilityCoverageAttributes](#schemaenvironmentalliabilitycoverageattributes)|false|none|Informações de cobertura do Seguro Residencial.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica.|
|maxLMGDescription|string|true|none|Descritivo da composição do Limite Máximo de Garantia (LMG) por cobertura|
|maxLMG|[EnvironmentalLiabilityLimitGuarantee](#schemaenvironmentalliabilitylimitguarantee)|true|none|Lista com valor de LMG aceito pela sociedade para cada produto|
|assistanceServices|[EnvironmentalLiabilityAssistanceServices](#schemaenvironmentalliabilityassistanceservices)|false|none|Agrupamento dos serviços de assistências disponíveis vinculado ao produto.|
|validity|[EnvironmentalLiabilityValidity](#schemaenvironmentalliabilityvalidity)|true|none|none|
|customerServices|[string]|false|none|none|
|premiumPayment|[EnvironmentalLiabilityPremiumPayment](#schemaenvironmentalliabilitypremiumpayment)|true|none|none|
|termsAndConditions|[EnvironmentalLiabilityTerms](#schemaenvironmentalliabilityterms)|false|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[EnvironmentalLiabilityMinimumRequirements](#schemaenvironmentalliabilityminimumrequirements)|false|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|INSTALACOES_FIXAS|
|coverage|TRANSPORTE_AMBIENTAL|
|coverage|OBRAS_E_PRESTACAO_DE_SERVICO|
|coverage|OUTRAS|

<h2 id="tocS_EnvironmentalLiabilityAssistanceServices">EnvironmentalLiabilityAssistanceServices</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilityassistanceservices"></a>
<a id="schema_EnvironmentalLiabilityAssistanceServices"></a>
<a id="tocSenvironmentalliabilityassistanceservices"></a>
<a id="tocsenvironmentalliabilityassistanceservices"></a>

```json
[
  {
    "assistanceServices": true,
    "assistanceServicesPackage": [
      "ATE_10_SERVICOS"
    ],
    "complementaryAssistanceServicesDetail": "string",
    "chargeTypeSignaling": "GRATUITO"
  }
]

```

Agrupamento dos serviços de assistências disponíveis vinculado ao produto.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|assistanceServices|boolean|true|none|Indicação se o produto possui serviços de assistências complementares.|
|assistanceServicesPackage|[string]|false|none|none|
|complementaryAssistanceServicesDetail|string|false|none|Campo livre para descrição dos serviços ofertados por cada sociedade participante, contendo minimamente cada um dos serviços assistenciais complementares oferecidos e se o pacote se trata de uma cobertura de assistência securitária ou se serviços de assistência|
|chargeTypeSignaling|string|false|none|Indicação se o pacote de assistência é gratuito ou contratado/pago.|

#### Enumerated Values

|Property|Value|
|---|---|
|chargeTypeSignaling|GRATUITO|
|chargeTypeSignaling|PAGO|

<h2 id="tocS_EnvironmentalLiabilityPremiumPayment">EnvironmentalLiabilityPremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilitypremiumpayment"></a>
<a id="schema_EnvironmentalLiabilityPremiumPayment"></a>
<a id="tocSenvironmentalliabilitypremiumpayment"></a>
<a id="tocsenvironmentalliabilitypremiumpayment"></a>

```json
[
  {
    "paymentMethod": "CARTAO_DE_CREDITO",
    "paymentDetail": "string",
    "paymentType": [
      "A_VISTA"
    ],
    "premiumRates": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|string|true|none|Metodo de pagamento|
|paymentDetail|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Meio de pagamento (acima)|
|paymentType|[string]|true|none|Forma de Pagamento|
|premiumRates|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas, nos termos do Anexo III.|

#### Enumerated Values

|Property|Value|
|---|---|
|paymentMethod|CARTAO_DE_CREDITO|
|paymentMethod|CARTAO_DE_DEBITO|
|paymentMethod|DEBITO_EM_CONTA_CORRENTE|
|paymentMethod|DEBITO_EM_CONTA_POUPANCA|
|paymentMethod|BOLETO_BANCARIO|
|paymentMethod|PIX|
|paymentMethod|CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO|
|paymentMethod|PONTOS_DE_PROGRAMA_DE_BENEFICIO|
|paymentMethod|OUTROS|

<h2 id="tocS_EnvironmentalLiabilityValidity">EnvironmentalLiabilityValidity</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilityvalidity"></a>
<a id="schema_EnvironmentalLiabilityValidity"></a>
<a id="tocSenvironmentalliabilityvalidity"></a>
<a id="tocsenvironmentalliabilityvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_EnvironmentalLiabilityTerms">EnvironmentalLiabilityTerms</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilityterms"></a>
<a id="schema_EnvironmentalLiabilityTerms"></a>
<a id="tocSenvironmentalliabilityterms"></a>
<a id="tocsenvironmentalliabilityterms"></a>

```json
{
  "susepProcessNumber": "15414622222222222",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_EnvironmentalLiabilityMinimumRequirements">EnvironmentalLiabilityMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilityminimumrequirements"></a>
<a id="schema_EnvironmentalLiabilityMinimumRequirements"></a>
<a id="tocSenvironmentalliabilityminimumrequirements"></a>
<a id="tocsenvironmentalliabilityminimumrequirements"></a>

```json
{
  "contractType": [
    "COLETIVO"
  ],
  "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractType|[string]|true|none|none|
|minimumRequirementDetails|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|
|targetAudiences|[string]|true|none|none|

<h2 id="tocS_EnvironmentalLiabilityCoverageAttributes">EnvironmentalLiabilityCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilitycoverageattributes"></a>
<a id="schema_EnvironmentalLiabilityCoverageAttributes"></a>
<a id="tocSenvironmentalliabilitycoverageattributes"></a>
<a id="tocsenvironmentalliabilitycoverageattributes"></a>

```json
{
  "maxLMI": {
    "type": "FINANCEIRO",
    "amount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    }
  },
  "insuredParticipation": [
    "FRANQUIA"
  ],
  "insuredParticipationDescription": "string",
  "idenizationBasis": "POR_OCORRENCIA",
  "idenizationBasisOthers": "string"
}

```

Informações de cobertura do Seguro Residencial.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[EnvironmentalLiabilityLimit](#schemaenvironmentalliabilitylimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|
|insuredParticipation|[string]|true|none|Lista com indicativo do tipo de participação do segurado para cada cobertura.|
|insuredParticipationDescription|string|false|none|Lista com descrição referente ao campo “Participação do Segurado” para cada cobertura.|
|idenizationBasis|string|true|none|Lista com o indicativo da base de indenização para cada cobertura|
|idenizationBasisOthers|string|false|none|Campo livre para descrição, caso o valor do campo "Base de indenização" seja 3. Outros|

#### Enumerated Values

|Property|Value|
|---|---|
|idenizationBasis|POR_OCORRENCIA|
|idenizationBasis|POR_RECLAMACAO|
|idenizationBasis|OUTRAS|

<h2 id="tocS_EnvironmentalLiabilityLimit">EnvironmentalLiabilityLimit</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilitylimit"></a>
<a id="schema_EnvironmentalLiabilityLimit"></a>
<a id="tocSenvironmentalliabilitylimit"></a>
<a id="tocsenvironmentalliabilitylimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "LMG",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[EnvironmentalLiabilityCoverageAttributesDetails](#schemaenvironmentalliabilitycoverageattributesdetails)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[EnvironmentalLiabilityCoverageAttributesDetails](#schemaenvironmentalliabilitycoverageattributesdetails)|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|LMG|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_EnvironmentalLiabilityLimitGuarantee">EnvironmentalLiabilityLimitGuarantee</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilitylimitguarantee"></a>
<a id="schema_EnvironmentalLiabilityLimitGuarantee"></a>
<a id="tocSenvironmentalliabilitylimitguarantee"></a>
<a id="tocsenvironmentalliabilitylimitguarantee"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "FINANCEIRO_COBERTURA",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMG aceito pela sociedade para cada produto

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[EnvironmentalLiabilityCoverageAttributesDetails](#schemaenvironmentalliabilitycoverageattributesdetails)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[EnvironmentalLiabilityCoverageAttributesDetails](#schemaenvironmentalliabilitycoverageattributesdetails)|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_EnvironmentalLiabilityCoverageAttributesDetails">EnvironmentalLiabilityCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilitycoverageattributesdetails"></a>
<a id="schema_EnvironmentalLiabilityCoverageAttributesDetails"></a>
<a id="tocSenvironmentalliabilitycoverageattributesdetails"></a>
<a id="tocsenvironmentalliabilitycoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[EnvironmentalLiabilityCoverageAttributesDetailsUnit](#schemaenvironmentalliabilitycoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_EnvironmentalLiabilityCoverageAttributesDetailsUnit">EnvironmentalLiabilityCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemaenvironmentalliabilitycoverageattributesdetailsunit"></a>
<a id="schema_EnvironmentalLiabilityCoverageAttributesDetailsUnit"></a>
<a id="tocSenvironmentalliabilitycoverageattributesdetailsunit"></a>
<a id="tocsenvironmentalliabilitycoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_LinksEnvironmental">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksenvironmental"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/environmental-liability",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/environmental-liability",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/environmental-liability",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/environmental-liability",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/environmental-liability"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaEnvironmental">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametaenvironmental"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorEnvironmental">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametaenvironmental)|false|none|none|

