<h2 id="tocS_ResponseExportCreditList">ResponseExportCreditList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseexportcreditlist"></a>
<a id="schema_ResponseExportCreditList"></a>
<a id="tocSresponseexportcreditlist"></a>
<a id="tocsresponseexportcreditlist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "COBERTURAS_DETALHAMENTO_CONDICOES_ESPECIAIS_E_PARTICULARES",
                  "coverageDescription": "string",
                  "coverageAttributes": {
                    "maxLMI": {}
                  },
                  "allowApartPurchase": true
                }
              ],
              "traits": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumRates": [
                "string"
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414.622222/2222-22",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "targetAudiences": [
                  [
                    "PESSOA_NATURAL"
                  ]
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[ExportCreditBrand](#schemaexportcreditbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_ExportCreditBrand">ExportCreditBrand</h2>
<!-- backwards compatibility -->
<a id="schemaexportcreditbrand"></a>
<a id="schema_ExportCreditBrand"></a>
<a id="tocSexportcreditbrand"></a>
<a id="tocsexportcreditbrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "COBERTURAS_DETALHAMENTO_CONDICOES_ESPECIAIS_E_PARTICULARES",
              "coverageDescription": "string",
              "coverageAttributes": {
                "maxLMI": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "allowApartPurchase": true
            }
          ],
          "traits": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumRates": [
            "string"
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414.622222/2222-22",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "targetAudiences": [
              [
                "PESSOA_NATURAL"
              ]
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[ExportCreditCompany](#schemaexportcreditcompany)|true|none|none|

<h2 id="tocS_ExportCreditCompany">ExportCreditCompany</h2>
<!-- backwards compatibility -->
<a id="schemaexportcreditcompany"></a>
<a id="schema_ExportCreditCompany"></a>
<a id="tocSexportcreditcompany"></a>
<a id="tocsexportcreditcompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "COBERTURAS_DETALHAMENTO_CONDICOES_ESPECIAIS_E_PARTICULARES",
            "coverageDescription": "string",
            "coverageAttributes": {
              "maxLMI": {
                "amount": 0,
                "unit": {
                  "code": "R$",
                  "description": "REAL"
                }
              }
            },
            "allowApartPurchase": true
          }
        ],
        "traits": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumRates": [
          "string"
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414.622222/2222-22",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "targetAudiences": [
            [
              "PESSOA_NATURAL"
            ]
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[ExportCreditProduct](#schemaexportcreditproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_ExportCreditProduct">ExportCreditProduct</h2>
<!-- backwards compatibility -->
<a id="schemaexportcreditproduct"></a>
<a id="schema_ExportCreditProduct"></a>
<a id="tocSexportcreditproduct"></a>
<a id="tocsexportcreditproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "COBERTURAS_DETALHAMENTO_CONDICOES_ESPECIAIS_E_PARTICULARES",
        "coverageDescription": "string",
        "coverageAttributes": {
          "maxLMI": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          }
        },
        "allowApartPurchase": true
      }
    ],
    "traits": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumRates": [
      "string"
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414.622222/2222-22",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "targetAudiences": [
        [
          "PESSOA_NATURAL"
        ]
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|false|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.12 do Anexo II|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[ExportCreditCoverageAttributes](#schemaexportcreditcoverageattributes)|false|none|Informações de cobertura do Seguro.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|validity|[ExportCreditValidity](#schemaexportcreditvalidity)|true|none|none|
|premiumRates|[string]|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas.|
|termsAndConditions|[ExportCreditTerms](#schemaexportcreditterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[ExportCreditMinimumRequirements](#schemaexportcreditminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|NAO_PAGAMENTO_DA_CARTEIRA_DE_CLIENTES_DO_SEGURADO_INADIMPLENCIA_POR_QUESTAO_COMERCIAL|
|coverage|NAO_PAGAMENTO_DA_CARTEIRA_DE_CLIENTES_DO_SEGURADO_INADIMPLENCIA_POR_QUESTAO_POLITICA_EXTRAORDINARIO|
|coverage|OUTRAS|

<h2 id="tocS_ExportCreditValidity">ExportCreditValidity</h2>
<!-- backwards compatibility -->
<a id="schemaexportcreditvalidity"></a>
<a id="schema_ExportCreditValidity"></a>
<a id="tocSexportcreditvalidity"></a>
<a id="tocsexportcreditvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_ExportCreditTerms">ExportCreditTerms</h2>
<!-- backwards compatibility -->
<a id="schemaexportcreditterms"></a>
<a id="schema_ExportCreditTerms"></a>
<a id="tocSexportcreditterms"></a>
<a id="tocsexportcreditterms"></a>

```json
{
  "susepProcessNumber": "15414.622222/2222-22",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_ExportCreditMinimumRequirements">ExportCreditMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemaexportcreditminimumrequirements"></a>
<a id="schema_ExportCreditMinimumRequirements"></a>
<a id="tocSexportcreditminimumrequirements"></a>
<a id="tocsexportcreditminimumrequirements"></a>

```json
{
  "targetAudiences": [
    [
      "PESSOA_NATURAL"
    ]
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|targetAudiences|[array]|true|none|Público Alvo|

<h2 id="tocS_ExportCreditCoverageAttributes">ExportCreditCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemaexportcreditcoverageattributes"></a>
<a id="schema_ExportCreditCoverageAttributes"></a>
<a id="tocSexportcreditcoverageattributes"></a>
<a id="tocsexportcreditcoverageattributes"></a>

```json
{
  "maxLMI": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[ExportCreditCoverageAttributesDetails](#schemaexportcreditcoverageattributesdetails)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura|

<h2 id="tocS_ExportCreditCoverageAttributesDetails">ExportCreditCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemaexportcreditcoverageattributesdetails"></a>
<a id="schema_ExportCreditCoverageAttributesDetails"></a>
<a id="tocSexportcreditcoverageattributesdetails"></a>
<a id="tocsexportcreditcoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[ExportCreditCoverageAttributesDetailsUnit](#schemaexportcreditcoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_ExportCreditCoverageAttributesDetailsUnit">ExportCreditCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemaexportcreditcoverageattributesdetailsunit"></a>
<a id="schema_ExportCreditCoverageAttributesDetailsUnit"></a>
<a id="tocSexportcreditcoverageattributesdetailsunit"></a>
<a id="tocsexportcreditcoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|