
<h2 id="tocS_ResponseExtendedWarrantyList">ResponseExtendedWarrantyList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseextendedwarrantylist"></a>
<a id="schema_ResponseExtendedWarrantyList"></a>
<a id="tocSresponseextendedwarrantylist"></a>
<a id="tocsresponseextendedwarrantylist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "GARANTIA_ESTENDIDA_ORIGINAL",
                  "coverageDescription": "string",
                  "coverageAttributes": {
                    "maxLMI": {},
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string"
                  },
                  "allowApartPurchase": true
                }
              ],
              "securityType": [
                "SMARTPHONE"
              ],
              "securityTypeOthers": "string",
              "assistanceServices": {
                "assistanceServices": true,
                "assistanceServicesPackage": [
                  "ATE_10_SERVICOS"
                ],
                "complementaryAssistanceServicesDetail": "string",
                "chargeTypeSignaling": "GRATUITO"
              },
              "customerServices": [
                "LIVRE_ESCOLHA"
              ],
              "microinsurance": true,
              "traits": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumPayment": [
                {
                  "paymentMethod": "CARTAO_DE_CREDITO",
                  "paymentDetail": "string",
                  "paymentType": [
                    "A_VISTA"
                  ],
                  "premiumRates": "string"
                }
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414622222222222",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "contractType": [
                  "COLETIVO"
                ],
                "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/extended-warranty",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/extended-warranty",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/extended-warranty",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/extended-warranty",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/extended-warranty"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[ExtendedWarrantyBrand](#schemaextendedwarrantybrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinksextended)|true|none|none|
|meta|[Meta](#schemametaextended)|true|none|none|

<h2 id="tocS_ExtendedWarrantyBrand">ExtendedWarrantyBrand</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantybrand"></a>
<a id="schema_ExtendedWarrantyBrand"></a>
<a id="tocSextendedwarrantybrand"></a>
<a id="tocsextendedwarrantybrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "GARANTIA_ESTENDIDA_ORIGINAL",
              "coverageDescription": "string",
              "coverageAttributes": {
                "maxLMI": {
                  "type": "FINANCEIRO",
                  "amount": {
                    "amount": 0,
                    "unit": {}
                  },
                  "index": "LMG",
                  "maxIndexAmount": {
                    "amount": 0,
                    "unit": {}
                  }
                },
                "insuredParticipation": [
                  "FRANQUIA"
                ],
                "insuredParticipationDescription": "string"
              },
              "allowApartPurchase": true
            }
          ],
          "securityType": [
            "SMARTPHONE"
          ],
          "securityTypeOthers": "string",
          "assistanceServices": {
            "assistanceServices": true,
            "assistanceServicesPackage": [
              "ATE_10_SERVICOS"
            ],
            "complementaryAssistanceServicesDetail": "string",
            "chargeTypeSignaling": "GRATUITO"
          },
          "customerServices": [
            "LIVRE_ESCOLHA"
          ],
          "microinsurance": true,
          "traits": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumPayment": [
            {
              "paymentMethod": "CARTAO_DE_CREDITO",
              "paymentDetail": "string",
              "paymentType": [
                "A_VISTA"
              ],
              "premiumRates": "string"
            }
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414622222222222",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "contractType": [
              "COLETIVO"
            ],
            "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[ExtendedWarrantyCompany](#schemaextendedwarrantycompany)|true|none|none|

<h2 id="tocS_ExtendedWarrantyCompany">ExtendedWarrantyCompany</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantycompany"></a>
<a id="schema_ExtendedWarrantyCompany"></a>
<a id="tocSextendedwarrantycompany"></a>
<a id="tocsextendedwarrantycompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "GARANTIA_ESTENDIDA_ORIGINAL",
            "coverageDescription": "string",
            "coverageAttributes": {
              "maxLMI": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "LMG",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "insuredParticipation": [
                "FRANQUIA"
              ],
              "insuredParticipationDescription": "string"
            },
            "allowApartPurchase": true
          }
        ],
        "securityType": [
          "SMARTPHONE"
        ],
        "securityTypeOthers": "string",
        "assistanceServices": {
          "assistanceServices": true,
          "assistanceServicesPackage": [
            "ATE_10_SERVICOS"
          ],
          "complementaryAssistanceServicesDetail": "string",
          "chargeTypeSignaling": "GRATUITO"
        },
        "customerServices": [
          "LIVRE_ESCOLHA"
        ],
        "microinsurance": true,
        "traits": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumPayment": [
          {
            "paymentMethod": "CARTAO_DE_CREDITO",
            "paymentDetail": "string",
            "paymentType": [
              "A_VISTA"
            ],
            "premiumRates": "string"
          }
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414622222222222",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "contractType": [
            "COLETIVO"
          ],
          "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[ExtendedWarrantyProduct](#schemaextendedwarrantyproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_ExtendedWarrantyProduct">ExtendedWarrantyProduct</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantyproduct"></a>
<a id="schema_ExtendedWarrantyProduct"></a>
<a id="tocSextendedwarrantyproduct"></a>
<a id="tocsextendedwarrantyproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "GARANTIA_ESTENDIDA_ORIGINAL",
        "coverageDescription": "string",
        "coverageAttributes": {
          "maxLMI": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "LMG",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          },
          "insuredParticipation": [
            "FRANQUIA"
          ],
          "insuredParticipationDescription": "string"
        },
        "allowApartPurchase": true
      }
    ],
    "securityType": [
      "SMARTPHONE"
    ],
    "securityTypeOthers": "string",
    "assistanceServices": {
      "assistanceServices": true,
      "assistanceServicesPackage": [
        "ATE_10_SERVICOS"
      ],
      "complementaryAssistanceServicesDetail": "string",
      "chargeTypeSignaling": "GRATUITO"
    },
    "customerServices": [
      "LIVRE_ESCOLHA"
    ],
    "microinsurance": true,
    "traits": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumPayment": [
      {
        "paymentMethod": "CARTAO_DE_CREDITO",
        "paymentDetail": "string",
        "paymentType": [
          "A_VISTA"
        ],
        "premiumRates": "string"
      }
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414622222222222",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "contractType": [
        "COLETIVO"
      ],
      "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtosss|
|» coverageAttributes|[ExtendedWarrantyCoverageAttributes](#schemaextendedwarrantycoverageattributes)|false|none|Informações de cobertura do Seguro.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|securityType|[string]|true|none|Tipo de bem segurado|
|securityTypeOthers|string|false|none|Campo livre para descrição, caso o valor do campo "Tipo de bem segurado" seja 7. Outros|
|assistanceServices|[ExtendedWarrantyAssistanceServices](#schemaextendedwarrantyassistanceservices)|true|none|none|
|customerServices|[string]|true|none|Rede de Atendimento.|
|microinsurance|boolean|true|none|Indicação se o produto é classificado como microsseguro.|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|validity|[ExtendedWarrantyValidity](#schemaextendedwarrantyvalidity)|true|none|none|
|premiumPayment|[ExtendedWarrantyPremiumPayment](#schemaextendedwarrantypremiumpayment)|true|none|none|
|termsAndConditions|[ExtendedWarrantyTerms](#schemaextendedwarrantyterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[ExtendedWarrantyMinimumRequirements](#schemaextendedwarrantyminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|GARANTIA_ESTENDIDA_ORIGINAL|
|coverage|GARANTIA_ESTENDIDA_AMPLIADA|
|coverage|GARANTIA_ESTENDIDA_REDUZIDA|
|coverage|COMPLEMENTACAO_DE_GARANTIA|
|coverage|OUTRAS|

<h2 id="tocS_ExtendedWarrantyAssistanceServices">ExtendedWarrantyAssistanceServices</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantyassistanceservices"></a>
<a id="schema_ExtendedWarrantyAssistanceServices"></a>
<a id="tocSextendedwarrantyassistanceservices"></a>
<a id="tocsextendedwarrantyassistanceservices"></a>

```json
{
  "assistanceServices": true,
  "assistanceServicesPackage": [
    "ATE_10_SERVICOS"
  ],
  "complementaryAssistanceServicesDetail": "string",
  "chargeTypeSignaling": "GRATUITO"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|assistanceServices|boolean|true|none|Indicação se o produto possui serviços de assistências complementares|
|assistanceServicesPackage|[string]|true|none|Pacotes de Assistência|
|complementaryAssistanceServicesDetail|string|true|none|Campo livre para descrição dos serviços ofertados por cada sociedade participante, contendo minimamente cada um dos serviços assistenciais complementares oferecidos e se o pacote se trata de uma cobertura de assistência securitária ou se serviços de assistência|
|chargeTypeSignaling|string|true|none|Serviços de Assistências Complementares - Tipo de cobrança|

#### Enumerated Values

|Property|Value|
|---|---|
|chargeTypeSignaling|GRATUITO|
|chargeTypeSignaling|PAGO|

<h2 id="tocS_ExtendedWarrantyValidity">ExtendedWarrantyValidity</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantyvalidity"></a>
<a id="schema_ExtendedWarrantyValidity"></a>
<a id="tocSextendedwarrantyvalidity"></a>
<a id="tocsextendedwarrantyvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_ExtendedWarrantyPremiumPayment">ExtendedWarrantyPremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantypremiumpayment"></a>
<a id="schema_ExtendedWarrantyPremiumPayment"></a>
<a id="tocSextendedwarrantypremiumpayment"></a>
<a id="tocsextendedwarrantypremiumpayment"></a>

```json
[
  {
    "paymentMethod": "CARTAO_DE_CREDITO",
    "paymentDetail": "string",
    "paymentType": [
      "A_VISTA"
    ],
    "premiumRates": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|string|true|none|Metodo de pagamento|
|paymentDetail|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Meio de pagamento (acima)|
|paymentType|[string]|true|none|tipo de pagamento|
|premiumRates|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas.|

#### Enumerated Values

|Property|Value|
|---|---|
|paymentMethod|CARTAO_DE_CREDITO|
|paymentMethod|CARTAO_DE_DEBITO|
|paymentMethod|DEBITO_EM_CONTA_CORRENTE|
|paymentMethod|DEBITO_EM_CONTA_POUPANCA|
|paymentMethod|BOLETO_BANCARIO|
|paymentMethod|PIX|
|paymentMethod|CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO|
|paymentMethod|PONTOS_DE_PROGRAMA_DE_BENEFICIO|
|paymentMethod|OUTROS|

<h2 id="tocS_ExtendedWarrantyTerms">ExtendedWarrantyTerms</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantyterms"></a>
<a id="schema_ExtendedWarrantyTerms"></a>
<a id="tocSextendedwarrantyterms"></a>
<a id="tocsextendedwarrantyterms"></a>

```json
{
  "susepProcessNumber": "15414622222222222",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_ExtendedWarrantyMinimumRequirements">ExtendedWarrantyMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantyminimumrequirements"></a>
<a id="schema_ExtendedWarrantyMinimumRequirements"></a>
<a id="tocSextendedwarrantyminimumrequirements"></a>
<a id="tocsextendedwarrantyminimumrequirements"></a>

```json
{
  "contractType": [
    "COLETIVO"
  ],
  "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractType|[string]|true|none|Tipo de contratação|
|minimumRequirementDetails|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|
|targetAudiences|[string]|true|none|Público Alvo|

<h2 id="tocS_ExtendedWarrantyCoverageAttributes">ExtendedWarrantyCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantycoverageattributes"></a>
<a id="schema_ExtendedWarrantyCoverageAttributes"></a>
<a id="tocSextendedwarrantycoverageattributes"></a>
<a id="tocsextendedwarrantycoverageattributes"></a>

```json
{
  "maxLMI": {
    "type": "FINANCEIRO",
    "amount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    }
  },
  "insuredParticipation": [
    "FRANQUIA"
  ],
  "insuredParticipationDescription": "string"
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[ExtendedWarrantyLimit](#schemaextendedwarrantylimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|
|insuredParticipation|[string]|true|none|Lista com indicativo do tipo de participação do segurado para cada cobertura.|
|insuredParticipationDescription|string|false|none|Lista com descrição referente ao campo “Participação do Segurado” para cada cobertura.|

<h2 id="tocS_ExtendedWarrantyLimit">ExtendedWarrantyLimit</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantylimit"></a>
<a id="schema_ExtendedWarrantyLimit"></a>
<a id="tocSextendedwarrantylimit"></a>
<a id="tocsextendedwarrantylimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "LMG",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[ExtendedWarrantyCoverageAttributesDetails](#schemaextendedwarrantycoverageattributesdetails)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[ExtendedWarrantyCoverageAttributesDetails](#schemaextendedwarrantycoverageattributesdetails)|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|LMG|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_ExtendedWarrantyCoverageAttributesDetails">ExtendedWarrantyCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantycoverageattributesdetails"></a>
<a id="schema_ExtendedWarrantyCoverageAttributesDetails"></a>
<a id="tocSextendedwarrantycoverageattributesdetails"></a>
<a id="tocsextendedwarrantycoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[ExtendedWarrantyCoverageAttributesDetailsUnit](#schemaextendedwarrantycoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_ExtendedWarrantyCoverageAttributesDetailsUnit">ExtendedWarrantyCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemaextendedwarrantycoverageattributesdetailsunit"></a>
<a id="schema_ExtendedWarrantyCoverageAttributesDetailsUnit"></a>
<a id="tocSextendedwarrantycoverageattributesdetailsunit"></a>
<a id="tocsextendedwarrantycoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_LinksExtended">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksextended"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/extended-warranty",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/extended-warranty",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/extended-warranty",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/extended-warranty",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/extended-warranty"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaExtended">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametaextended"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorExtended">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametaextended)|false|none|none|

