<h2 id="tocS_ResponseFinancialRiskList">ResponseFinancialRiskList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsefinancialrisklist"></a>
<a id="schema_ResponseFinancialRiskList"></a>
<a id="tocSresponsefinancialrisklist"></a>
<a id="tocsresponsefinancialrisklist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "PROTECAO_DE_BENS",
                  "coverageDescription": "string",
                  "coverageAttributes": {
                    "maxLMI": {}
                  },
                  "allowApartPurchase": true
                }
              ],
              "traits": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumRates": [
                "string"
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414.622222/2222-22",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/financial-risk",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/financial-risk",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/financial-risk",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/financial-risk",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/financial-risk"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[FinancialRiskBrand](#schemafinancialriskbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinksfinancial1)|true|none|none|
|meta|[Meta](#schemametafinancial1)|true|none|none|

<h2 id="tocS_FinancialRiskBrand">FinancialRiskBrand</h2>
<!-- backwards compatibility -->
<a id="schemafinancialriskbrand"></a>
<a id="schema_FinancialRiskBrand"></a>
<a id="tocSfinancialriskbrand"></a>
<a id="tocsfinancialriskbrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "PROTECAO_DE_BENS",
              "coverageDescription": "string",
              "coverageAttributes": {
                "maxLMI": {
                  "type": "FINANCEIRO",
                  "amount": {
                    "amount": 0,
                    "unit": {}
                  },
                  "index": "LMG",
                  "maxIndexAmount": {
                    "amount": 0,
                    "unit": {}
                  }
                }
              },
              "allowApartPurchase": true
            }
          ],
          "traits": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumRates": [
            "string"
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414.622222/2222-22",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[FinancialRiskCompany](#schemafinancialriskcompany)|true|none|none|

<h2 id="tocS_FinancialRiskCompany">FinancialRiskCompany</h2>
<!-- backwards compatibility -->
<a id="schemafinancialriskcompany"></a>
<a id="schema_FinancialRiskCompany"></a>
<a id="tocSfinancialriskcompany"></a>
<a id="tocsfinancialriskcompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "PROTECAO_DE_BENS",
            "coverageDescription": "string",
            "coverageAttributes": {
              "maxLMI": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "LMG",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              }
            },
            "allowApartPurchase": true
          }
        ],
        "traits": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumRates": [
          "string"
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414.622222/2222-22",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[FinancialRiskProduct](#schemafinancialriskproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_FinancialRiskProduct">FinancialRiskProduct</h2>
<!-- backwards compatibility -->
<a id="schemafinancialriskproduct"></a>
<a id="schema_FinancialRiskProduct"></a>
<a id="tocSfinancialriskproduct"></a>
<a id="tocsfinancialriskproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "PROTECAO_DE_BENS",
        "coverageDescription": "string",
        "coverageAttributes": {
          "maxLMI": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "LMG",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          }
        },
        "allowApartPurchase": true
      }
    ],
    "traits": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumRates": [
      "string"
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414.622222/2222-22",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|false|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.12 do Anexo II|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[FinancialRiskCoverageAttributes](#schemafinancialriskcoverageattributes)|true|none|Informações de cobertura do Seguro.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|validity|[FinancialRiskValidity](#schemafinancialriskvalidity)|true|none|none|
|premiumRates|[string]|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas|
|termsAndConditions|[FinancialRiskTerms](#schemafinancialriskterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[FinancialRiskMinimumRequirements](#schemafinancialriskminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|PROTECAO_DE_BENS|
|coverage|PROTECAO_DE_DADOS_ONLINE|
|coverage|SAQUE_COMPRA_SOB_COACAO|
|coverage|GAP_TOTAL|
|coverage|GAP_SALDO_DEVEDOR|
|coverage|GAP_DESPESAS_ACESSORIAS|
|coverage|OUTRAS|

<h2 id="tocS_FinancialRiskValidity">FinancialRiskValidity</h2>
<!-- backwards compatibility -->
<a id="schemafinancialriskvalidity"></a>
<a id="schema_FinancialRiskValidity"></a>
<a id="tocSfinancialriskvalidity"></a>
<a id="tocsfinancialriskvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_FinancialRiskTerms">FinancialRiskTerms</h2>
<!-- backwards compatibility -->
<a id="schemafinancialriskterms"></a>
<a id="schema_FinancialRiskTerms"></a>
<a id="tocSfinancialriskterms"></a>
<a id="tocsfinancialriskterms"></a>

```json
{
  "susepProcessNumber": "15414.622222/2222-22",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_FinancialRiskMinimumRequirements">FinancialRiskMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemafinancialriskminimumrequirements"></a>
<a id="schema_FinancialRiskMinimumRequirements"></a>
<a id="tocSfinancialriskminimumrequirements"></a>
<a id="tocsfinancialriskminimumrequirements"></a>

```json
{
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|targetAudiences|[string]|true|none|Público Alvo|

<h2 id="tocS_FinancialRiskCoverageAttributes">FinancialRiskCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemafinancialriskcoverageattributes"></a>
<a id="schema_FinancialRiskCoverageAttributes"></a>
<a id="tocSfinancialriskcoverageattributes"></a>
<a id="tocsfinancialriskcoverageattributes"></a>

```json
{
  "maxLMI": {
    "type": "FINANCEIRO",
    "amount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    }
  }
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[FinancialRiskLimit](#schemafinancialrisklimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|

<h2 id="tocS_FinancialRiskLimit">FinancialRiskLimit</h2>
<!-- backwards compatibility -->
<a id="schemafinancialrisklimit"></a>
<a id="schema_FinancialRiskLimit"></a>
<a id="tocSfinancialrisklimit"></a>
<a id="tocsfinancialrisklimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "LMG",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[FinancialRiskCoverageAttributesDetails](#schemafinancialriskcoverageattributesdetails)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[FinancialRiskCoverageAttributesDetails](#schemafinancialriskcoverageattributesdetails)|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|LMG|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_FinancialRiskCoverageAttributesDetails">FinancialRiskCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemafinancialriskcoverageattributesdetails"></a>
<a id="schema_FinancialRiskCoverageAttributesDetails"></a>
<a id="tocSfinancialriskcoverageattributesdetails"></a>
<a id="tocsfinancialriskcoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[FinancialRiskCoverageAttributesDetailsUnit](#schemafinancialriskcoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_FinancialRiskCoverageAttributesDetailsUnit">FinancialRiskCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemafinancialriskcoverageattributesdetailsunit"></a>
<a id="schema_FinancialRiskCoverageAttributesDetailsUnit"></a>
<a id="tocSfinancialriskcoverageattributesdetailsunit"></a>
<a id="tocsfinancialriskcoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_LinksFinancial1">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksfinancial1"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/financial-risk",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/financial-risk",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/financial-risk",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/financial-risk",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/financial-risk"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaFinancial1">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametafinancial1"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorFinancial1">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), formato UTC.|
|meta|[Meta](#schemametafinancial1)|false|none|none|