<h2 id="tocS_ResponseGlobalBankingList">ResponseGlobalBankingList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseglobalbankinglist"></a>
<a id="schema_ResponseGlobalBankingList"></a>
<a id="tocSresponseglobalbankinglist"></a>
<a id="tocsresponseglobalbankinglist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "DANOS_MATERIAIS_CAUSADOS_AO_COFRE_FORTE",
                  "coverageDescription": "string",
                  "coverageAttributes": {
                    "maxLMI": {}
                  },
                  "allowApartPurchase": true
                }
              ],
              "traits": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumRates": [
                "string"
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414622222222222",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/global-banking",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/global-banking",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/global-banking",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/global-banking",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/global-banking"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[GlobalBankingBrand](#schemaglobalbankingbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinksglobalbanking)|true|none|none|
|meta|[Meta](#schemametaglobalbanking)|true|none|none|

<h2 id="tocS_GlobalBankingBrand">GlobalBankingBrand</h2>
<!-- backwards compatibility -->
<a id="schemaglobalbankingbrand"></a>
<a id="schema_GlobalBankingBrand"></a>
<a id="tocSglobalbankingbrand"></a>
<a id="tocsglobalbankingbrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "DANOS_MATERIAIS_CAUSADOS_AO_COFRE_FORTE",
              "coverageDescription": "string",
              "coverageAttributes": {
                "maxLMI": {
                  "type": "FINANCEIRO",
                  "amount": {
                    "amount": 0,
                    "unit": {}
                  },
                  "index": "LMG",
                  "maxIndexAmount": {
                    "amount": 0,
                    "unit": {}
                  }
                }
              },
              "allowApartPurchase": true
            }
          ],
          "traits": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumRates": [
            "string"
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414622222222222",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[GlobalBankingCompany](#schemaglobalbankingcompany)|true|none|none|

<h2 id="tocS_GlobalBankingCompany">GlobalBankingCompany</h2>
<!-- backwards compatibility -->
<a id="schemaglobalbankingcompany"></a>
<a id="schema_GlobalBankingCompany"></a>
<a id="tocSglobalbankingcompany"></a>
<a id="tocsglobalbankingcompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "DANOS_MATERIAIS_CAUSADOS_AO_COFRE_FORTE",
            "coverageDescription": "string",
            "coverageAttributes": {
              "maxLMI": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "LMG",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              }
            },
            "allowApartPurchase": true
          }
        ],
        "traits": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumRates": [
          "string"
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414622222222222",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[GlobalBankingProduct](#schemaglobalbankingproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_GlobalBankingProduct">GlobalBankingProduct</h2>
<!-- backwards compatibility -->
<a id="schemaglobalbankingproduct"></a>
<a id="schema_GlobalBankingProduct"></a>
<a id="tocSglobalbankingproduct"></a>
<a id="tocsglobalbankingproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "DANOS_MATERIAIS_CAUSADOS_AO_COFRE_FORTE",
        "coverageDescription": "string",
        "coverageAttributes": {
          "maxLMI": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "LMG",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          }
        },
        "allowApartPurchase": true
      }
    ],
    "traits": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumRates": [
      "string"
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414622222222222",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|false|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[GlobalBankingCoverageAttributes](#schemaglobalbankingcoverageattributes)|false|none|Informações de cobertura do Seguro Residencial.|
|» allowApartPurchase|boolean|true|none|Permissão para Contratação Separada|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|validity|[GlobalBankingValidity](#schemaglobalbankingvalidity)|true|none|none|
|premiumRates|[string]|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas.|
|termsAndConditions|[GlobalBankingTerms](#schemaglobalbankingterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[GlobalBankingMinimumRequirements](#schemaglobalbankingminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|DANOS_MATERIAIS_CAUSADOS_AO_COFRE_FORTE|
|coverage|DANOS_MATERIAIS_CAUSADOS_AOS_CAIXAS_ELETRONICOS_ATM|
|coverage|INFIDELIDADE_DE_FUNCIONARIOS|
|coverage|VALORES_NO_INTERIOR_DO_ESTABELECIMENTO_DENTRO_E_OU_FORA_DE_COFRE_FORTE|
|coverage|VALORES_NO_INTERIOR_DE_CAIXAS_ELETRONICOS_ATM|
|coverage|VALORES_EM_MAOS_DE_PORTADORES_EM_TRANSITO|
|coverage|OUTROS|

<h2 id="tocS_GlobalBankingValidity">GlobalBankingValidity</h2>
<!-- backwards compatibility -->
<a id="schemaglobalbankingvalidity"></a>
<a id="schema_GlobalBankingValidity"></a>
<a id="tocSglobalbankingvalidity"></a>
<a id="tocsglobalbankingvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_GlobalBankingTerms">GlobalBankingTerms</h2>
<!-- backwards compatibility -->
<a id="schemaglobalbankingterms"></a>
<a id="schema_GlobalBankingTerms"></a>
<a id="tocSglobalbankingterms"></a>
<a id="tocsglobalbankingterms"></a>

```json
{
  "susepProcessNumber": "15414622222222222",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_GlobalBankingMinimumRequirements">GlobalBankingMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemaglobalbankingminimumrequirements"></a>
<a id="schema_GlobalBankingMinimumRequirements"></a>
<a id="tocSglobalbankingminimumrequirements"></a>
<a id="tocsglobalbankingminimumrequirements"></a>

```json
{
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|targetAudiences|[string]|true|none|Público Alvo|

<h2 id="tocS_GlobalBankingCoverageAttributes">GlobalBankingCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemaglobalbankingcoverageattributes"></a>
<a id="schema_GlobalBankingCoverageAttributes"></a>
<a id="tocSglobalbankingcoverageattributes"></a>
<a id="tocsglobalbankingcoverageattributes"></a>

```json
{
  "maxLMI": {
    "type": "FINANCEIRO",
    "amount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    }
  }
}

```

Informações de cobertura do Seguro Residencial.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[GlobalBankingLimit](#schemaglobalbankinglimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|

<h2 id="tocS_GlobalBankingLimit">GlobalBankingLimit</h2>
<!-- backwards compatibility -->
<a id="schemaglobalbankinglimit"></a>
<a id="schema_GlobalBankingLimit"></a>
<a id="tocSglobalbankinglimit"></a>
<a id="tocsglobalbankinglimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "LMG",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[GlobalBankingCoverageAttributesDetails](#schemaglobalbankingcoverageattributesdetails)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[GlobalBankingCoverageAttributesDetails](#schemaglobalbankingcoverageattributesdetails)|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|LMG|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_GlobalBankingCoverageAttributesDetails">GlobalBankingCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemaglobalbankingcoverageattributesdetails"></a>
<a id="schema_GlobalBankingCoverageAttributesDetails"></a>
<a id="tocSglobalbankingcoverageattributesdetails"></a>
<a id="tocsglobalbankingcoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[GlobalBankingCoverageAttributesDetailsUnit](#schemaglobalbankingcoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_GlobalBankingCoverageAttributesDetailsUnit">GlobalBankingCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemaglobalbankingcoverageattributesdetailsunit"></a>
<a id="schema_GlobalBankingCoverageAttributesDetailsUnit"></a>
<a id="tocSglobalbankingcoverageattributesdetailsunit"></a>
<a id="tocsglobalbankingcoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_LinksGlobalBanking">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksglobalbanking"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/global-banking",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/global-banking",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/global-banking",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/global-banking",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/global-banking"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaGlobalBanking">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametaglobalbanking"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorGlobalBanking">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), formato UTC.|
|meta|[Meta](#schemametaglobalbanking)|false|none|none|

