<h2 id="tocS_ResponseHomeInsuranceList">ResponseHomeInsuranceList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsehomeinsurancelist"></a>
<a id="schema_ResponseHomeInsuranceList"></a>
<a id="tocSresponsehomeinsurancelist"></a>
<a id="tocsresponsehomeinsurancelist"></a>

```json
{
  "data": {
    "brand": {
      "name": "EMPRESA A seguros",
      "companies": [
        {
          "name": "ABCDE SEGUROS",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "RESIDENCIAL XPTO",
              "code": "0000-0",
              "coverages": [
                {
                  "coverageType": "IMOVEL_BASICA",
                  "coverageDetail": "Cobertura especial para escritório residenciais",
                  "allowApartPurchase": false,
                  "coverageAttributes": {
                    "minLMI": {},
                    "maxLMI": {},
                    "minDeductibleAmount": {},
                    "insuredMandatoryParticipationPercentage": 0
                  }
                }
              ],
              "propertyCharacteristics": [
                {
                  "propertyType": "CASA",
                  "propertyBuildType": "ALVENARIA",
                  "propertyUsageType": "HABITUAL",
                  "destinationInsuredImportance": "PREDIO"
                }
              ],
              "propertyZipCode": "1311000",
              "protective": true,
              "additional": [
                "SORTEIO_GRATUITO"
              ],
              "additionalOthers": "string",
              "assistanceServices": [
                {
                  "assistanceServicesPackage": "ATE_10_SERVICOS",
                  "complementaryAssistanceServicesDetail": "reboque pane seca",
                  "chargeTypeSignaling": "GRATUITA"
                }
              ],
              "microInsurance": true,
              "termsAndConditions": [
                {
                  "susepProcessNumber": "XXXXX.XXXXXX/XXXX-XX",
                  "definition": "https://openinsurance.com.br/aaa"
                }
              ],
              "validity": [
                {
                  "term": "ANUAL",
                  "termOthers": "string"
                }
              ],
              "customerServices": [
                "LIVRE_ESCOLHA"
              ],
              "premiumRates": [
                "string"
              ],
              "premiumPayments": [
                {
                  "paymentMethod": "CARTAO_CREDITO",
                  "paymentMethodDetail": "string",
                  "paymentType": "PAGAMENTO_UNICO"
                }
              ],
              "minimumRequirements": [
                {
                  "contractingType": "COLETIVO",
                  "contractingMinRequirement": "https://openinsurance.com.br/aaa"
                }
              ],
              "targetAudiences": [
                "PESSOA_NATURAL"
              ]
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[HomeInsuranceBrand](#schemahomeinsurancebrand)|true|none|none|
|links|[Links](#schemalinkshomeinsurance)|true|none|none|
|meta|[Meta](#schemametahomeinsurance)|true|none|none|

<h2 id="tocS_HomeInsuranceBrand">HomeInsuranceBrand</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancebrand"></a>
<a id="schema_HomeInsuranceBrand"></a>
<a id="tocShomeinsurancebrand"></a>
<a id="tocshomeinsurancebrand"></a>

```json
{
  "name": "EMPRESA A seguros",
  "companies": [
    {
      "name": "ABCDE SEGUROS",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "RESIDENCIAL XPTO",
          "code": "0000-0",
          "coverages": [
            {
              "coverageType": "IMOVEL_BASICA",
              "coverageDetail": "Cobertura especial para escritório residenciais",
              "allowApartPurchase": false,
              "coverageAttributes": {
                "minLMI": {
                  "type": "FINANCEIRO",
                  "amount": {
                    "amount": 0,
                    "unit": {}
                  },
                  "index": "LMG",
                  "maxIndexAmount": {
                    "amount": 0,
                    "unit": {}
                  }
                },
                "maxLMI": {
                  "type": "FINANCEIRO",
                  "amount": {
                    "amount": 0,
                    "unit": {}
                  },
                  "index": "LMG",
                  "maxIndexAmount": {
                    "amount": 0,
                    "unit": {}
                  }
                },
                "minDeductibleAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "insuredMandatoryParticipationPercentage": 0
              }
            }
          ],
          "propertyCharacteristics": [
            {
              "propertyType": "CASA",
              "propertyBuildType": "ALVENARIA",
              "propertyUsageType": "HABITUAL",
              "destinationInsuredImportance": "PREDIO"
            }
          ],
          "propertyZipCode": "1311000",
          "protective": true,
          "additional": [
            "SORTEIO_GRATUITO"
          ],
          "additionalOthers": "string",
          "assistanceServices": [
            {
              "assistanceServicesPackage": "ATE_10_SERVICOS",
              "complementaryAssistanceServicesDetail": "reboque pane seca",
              "chargeTypeSignaling": "GRATUITA"
            }
          ],
          "microInsurance": true,
          "termsAndConditions": [
            {
              "susepProcessNumber": "XXXXX.XXXXXX/XXXX-XX",
              "definition": "https://openinsurance.com.br/aaa"
            }
          ],
          "validity": [
            {
              "term": "ANUAL",
              "termOthers": "string"
            }
          ],
          "customerServices": [
            "LIVRE_ESCOLHA"
          ],
          "premiumRates": [
            "string"
          ],
          "premiumPayments": [
            {
              "paymentMethod": "CARTAO_CREDITO",
              "paymentMethodDetail": "string",
              "paymentType": "PAGAMENTO_UNICO"
            }
          ],
          "minimumRequirements": [
            {
              "contractingType": "COLETIVO",
              "contractingMinRequirement": "https://openinsurance.com.br/aaa"
            }
          ],
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      ]
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[HomeInsuranceCompany](#schemahomeinsurancecompany)|true|none|none|

<h2 id="tocS_HomeInsuranceCompany">HomeInsuranceCompany</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancecompany"></a>
<a id="schema_HomeInsuranceCompany"></a>
<a id="tocShomeinsurancecompany"></a>
<a id="tocshomeinsurancecompany"></a>

```json
[
  {
    "name": "ABCDE SEGUROS",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "RESIDENCIAL XPTO",
        "code": "0000-0",
        "coverages": [
          {
            "coverageType": "IMOVEL_BASICA",
            "coverageDetail": "Cobertura especial para escritório residenciais",
            "allowApartPurchase": false,
            "coverageAttributes": {
              "minLMI": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "LMG",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "maxLMI": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "LMG",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "minDeductibleAmount": {
                "amount": 0,
                "unit": {
                  "code": "R$",
                  "description": "REAL"
                }
              },
              "insuredMandatoryParticipationPercentage": 0
            }
          }
        ],
        "propertyCharacteristics": [
          {
            "propertyType": "CASA",
            "propertyBuildType": "ALVENARIA",
            "propertyUsageType": "HABITUAL",
            "destinationInsuredImportance": "PREDIO"
          }
        ],
        "propertyZipCode": "1311000",
        "protective": true,
        "additional": [
          "SORTEIO_GRATUITO"
        ],
        "additionalOthers": "string",
        "assistanceServices": [
          {
            "assistanceServicesPackage": "ATE_10_SERVICOS",
            "complementaryAssistanceServicesDetail": "reboque pane seca",
            "chargeTypeSignaling": "GRATUITA"
          }
        ],
        "microInsurance": true,
        "termsAndConditions": [
          {
            "susepProcessNumber": "XXXXX.XXXXXX/XXXX-XX",
            "definition": "https://openinsurance.com.br/aaa"
          }
        ],
        "validity": [
          {
            "term": "ANUAL",
            "termOthers": "string"
          }
        ],
        "customerServices": [
          "LIVRE_ESCOLHA"
        ],
        "premiumRates": [
          "string"
        ],
        "premiumPayments": [
          {
            "paymentMethod": "CARTAO_CREDITO",
            "paymentMethodDetail": "string",
            "paymentType": "PAGAMENTO_UNICO"
          }
        ],
        "minimumRequirements": [
          {
            "contractingType": "COLETIVO",
            "contractingMinRequirement": "https://openinsurance.com.br/aaa"
          }
        ],
        "targetAudiences": [
          "PESSOA_NATURAL"
        ]
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[HomeInsuranceProduct](#schemahomeinsuranceproduct)|false|none|Produtos de Seguro Residencial.|

<h2 id="tocS_HomeInsuranceProduct">HomeInsuranceProduct</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsuranceproduct"></a>
<a id="schema_HomeInsuranceProduct"></a>
<a id="tocShomeinsuranceproduct"></a>
<a id="tocshomeinsuranceproduct"></a>

```json
[
  {
    "name": "RESIDENCIAL XPTO",
    "code": "0000-0",
    "coverages": [
      {
        "coverageType": "IMOVEL_BASICA",
        "coverageDetail": "Cobertura especial para escritório residenciais",
        "allowApartPurchase": false,
        "coverageAttributes": {
          "minLMI": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "LMG",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          },
          "maxLMI": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "LMG",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          },
          "minDeductibleAmount": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          },
          "insuredMandatoryParticipationPercentage": 0
        }
      }
    ],
    "propertyCharacteristics": [
      {
        "propertyType": "CASA",
        "propertyBuildType": "ALVENARIA",
        "propertyUsageType": "HABITUAL",
        "destinationInsuredImportance": "PREDIO"
      }
    ],
    "propertyZipCode": "1311000",
    "protective": true,
    "additional": [
      "SORTEIO_GRATUITO"
    ],
    "additionalOthers": "string",
    "assistanceServices": [
      {
        "assistanceServicesPackage": "ATE_10_SERVICOS",
        "complementaryAssistanceServicesDetail": "reboque pane seca",
        "chargeTypeSignaling": "GRATUITA"
      }
    ],
    "microInsurance": true,
    "termsAndConditions": [
      {
        "susepProcessNumber": "XXXXX.XXXXXX/XXXX-XX",
        "definition": "https://openinsurance.com.br/aaa"
      }
    ],
    "validity": [
      {
        "term": "ANUAL",
        "termOthers": "string"
      }
    ],
    "customerServices": [
      "LIVRE_ESCOLHA"
    ],
    "premiumRates": [
      "string"
    ],
    "premiumPayments": [
      {
        "paymentMethod": "CARTAO_CREDITO",
        "paymentMethodDetail": "string",
        "paymentType": "PAGAMENTO_UNICO"
      }
    ],
    "minimumRequirements": [
      {
        "contractingType": "COLETIVO",
        "contractingMinRequirement": "https://openinsurance.com.br/aaa"
      }
    ],
    "targetAudiences": [
      "PESSOA_NATURAL"
    ]
  }
]

```

Produtos de Seguro Residencial.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[HomeInsuranceCoverages](#schemahomeinsurancecoverages)|true|none|Listagem de coberturas incluídas no produto.|
|propertyCharacteristics|[HomeInsurancePropertyCharacteristics](#schemahomeinsurancepropertycharacteristics)|true|none|Caracteristicas do imóvel.|
|propertyZipCode|string|true|none|Código de Endereçamento Postal do Imóvel|
|protective|boolean|true|none|Protecionais - Indicativo de exigência de itens protecionais.|
|additional|[string]|true|none|none|
|additionalOthers|string|false|none|Campo aberto para descrição de cada participante ao selecionar o domínio ‘Outros’ no campo acima ‘Adicionais’.|
|assistanceServices|[HomeInsuranceAssistanceServices](#schemahomeinsuranceassistanceservices)|true|none|Agrupamento dos serviços de assistências disponíveis vinculado ao produto.|
|microInsurance|boolean|true|none|Indicação se o produto é classificado como microsseguro.|
|termsAndConditions|[HomeInsuranceTermsAndConditions](#schemahomeinsurancetermsandconditions)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|validity|[HomeInsuranceValidity](#schemahomeinsurancevalidity)|true|none|Vigência|
|customerServices|[string]|true|none|Informações de pagamento de prêmio.|
|premiumRates|[string]|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas.|
|premiumPayments|[HomeInsurancePremiumPayment](#schemahomeinsurancepremiumpayment)|true|none|Informações de pagamento de prêmio.|
|minimumRequirements|[[HomeInsuranceMinimumRequirements](#schemahomeinsuranceminimumrequirements)]|true|none|[Produtos de Seguro Residencial.]|
|targetAudiences|[string]|true|none|none|

<h2 id="tocS_HomeInsuranceMinimumRequirements">HomeInsuranceMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsuranceminimumrequirements"></a>
<a id="schema_HomeInsuranceMinimumRequirements"></a>
<a id="tocShomeinsuranceminimumrequirements"></a>
<a id="tocshomeinsuranceminimumrequirements"></a>

```json
{
  "contractingType": "COLETIVO",
  "contractingMinRequirement": "https://openinsurance.com.br/aaa"
}

```

Produtos de Seguro Residencial.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractingType|string|true|none|Tipo de contratação.|
|contractingMinRequirement|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|

#### Enumerated Values

|Property|Value|
|---|---|
|contractingType|COLETIVO|
|contractingType|INDIVIDUAL|
|contractingType|AMBAS|

<h2 id="tocS_HomeInsuranceCoverageAttributes">HomeInsuranceCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancecoverageattributes"></a>
<a id="schema_HomeInsuranceCoverageAttributes"></a>
<a id="tocShomeinsurancecoverageattributes"></a>
<a id="tocshomeinsurancecoverageattributes"></a>

```json
{
  "minLMI": {
    "type": "FINANCEIRO",
    "amount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    }
  },
  "maxLMI": {
    "type": "FINANCEIRO",
    "amount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    }
  },
  "minDeductibleAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "insuredMandatoryParticipationPercentage": 0
}

```

Informações de cobertura do Seguro Residencial.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|minLMI|[HomeInsuranceLimit](#schemahomeinsurancelimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|
|maxLMI|[HomeInsuranceLimit](#schemahomeinsurancelimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|
|minDeductibleAmount|[HomeInsuranceCoverageAttributesDetails](#schemahomeinsurancecoverageattributesdetails)|true|none|Valor|
|insuredMandatoryParticipationPercentage|number|true|none|Listagem percentual de franquia e/ou percentual de participação obrigatória do segurado estabelecida pela sociedade para cada tipo de cobertura de produto.|

<h2 id="tocS_HomeInsuranceLimit">HomeInsuranceLimit</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancelimit"></a>
<a id="schema_HomeInsuranceLimit"></a>
<a id="tocShomeinsurancelimit"></a>
<a id="tocshomeinsurancelimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "LMG",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[HomeInsuranceCoverageAttributesDetails](#schemahomeinsurancecoverageattributesdetails)|true|none|Valor|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[HomeInsuranceCoverageAttributesDetails](#schemahomeinsurancecoverageattributesdetails)|false|none|Valor|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|LMG|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_HomeInsuranceCoverageAttributesDetailsUnit">HomeInsuranceCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancecoverageattributesdetailsunit"></a>
<a id="schema_HomeInsuranceCoverageAttributesDetailsUnit"></a>
<a id="tocShomeinsurancecoverageattributesdetailsunit"></a>
<a id="tocshomeinsurancecoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_HomeInsuranceCoverageAttributesDetails">HomeInsuranceCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancecoverageattributesdetails"></a>
<a id="schema_HomeInsuranceCoverageAttributesDetails"></a>
<a id="tocShomeinsurancecoverageattributesdetails"></a>
<a id="tocshomeinsurancecoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

Valor

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[HomeInsuranceCoverageAttributesDetailsUnit](#schemahomeinsurancecoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_HomeInsuranceTermsAndConditions">HomeInsuranceTermsAndConditions</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancetermsandconditions"></a>
<a id="schema_HomeInsuranceTermsAndConditions"></a>
<a id="tocShomeinsurancetermsandconditions"></a>
<a id="tocshomeinsurancetermsandconditions"></a>

```json
[
  {
    "susepProcessNumber": "XXXXX.XXXXXX/XXXX-XX",
    "definition": "https://openinsurance.com.br/aaa"
  }
]

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|true|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_HomeInsuranceValidity">HomeInsuranceValidity</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancevalidity"></a>
<a id="schema_HomeInsuranceValidity"></a>
<a id="tocShomeinsurancevalidity"></a>
<a id="tocshomeinsurancevalidity"></a>

```json
[
  {
    "term": "ANUAL",
    "termOthers": "string"
  }
]

```

Vigência

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|string|true|none|Prazo de vigência do seguro contratado Intervalo contínuo de tempo durante o qual está em vigor o contrato de seguro. (RESOLUÇÃO CNSP Nº 341/2016).|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

#### Enumerated Values

|Property|Value|
|---|---|
|term|ANUAL|
|term|ANUAL_INTERMITENTE|
|term|PLURIANUAL|
|term|PLURIANUAL_INTERMITENTE|
|term|MENSAL|
|term|MENSAL_INTERMITENTE|
|term|DIARIO|
|term|DIARIO_INTERMITENTE|
|term|OUTROS|

<h2 id="tocS_HomeInsurancePremiumPayment">HomeInsurancePremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancepremiumpayment"></a>
<a id="schema_HomeInsurancePremiumPayment"></a>
<a id="tocShomeinsurancepremiumpayment"></a>
<a id="tocshomeinsurancepremiumpayment"></a>

```json
[
  {
    "paymentMethod": "CARTAO_CREDITO",
    "paymentMethodDetail": "string",
    "paymentType": "PAGAMENTO_UNICO"
  }
]

```

Informações de pagamento de prêmio.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|string|true|none|Meio de pagamento escolhido pelo segurado.|
|paymentMethodDetail|string|false|none|Campo aberto para detalhamento do campo ‘Outros’ por cada participante.|
|paymentType|string|true|none|Forma de pagamento|

#### Enumerated Values

|Property|Value|
|---|---|
|paymentMethod|CARTAO_CREDITO|
|paymentMethod|CARTAO_DEBITO|
|paymentMethod|DEBITO_CONTA_CORRENTE|
|paymentMethod|DEBITO_CONTA_POUPANCA|
|paymentMethod|BOLETO_BANCARIO|
|paymentMethod|PIX|
|paymentMethod|CONSIGINACAO_FOLHA_PAGAMENTO|
|paymentMethod|PONTOS_PROGRAMAS_BENEFICIO|
|paymentMethod|OUTROS|
|paymentType|PAGAMENTO_UNICO|
|paymentType|PARCELADO|
|paymentType|AMBOS|

<h2 id="tocS_HomeInsuranceAssistanceServices">HomeInsuranceAssistanceServices</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsuranceassistanceservices"></a>
<a id="schema_HomeInsuranceAssistanceServices"></a>
<a id="tocShomeinsuranceassistanceservices"></a>
<a id="tocshomeinsuranceassistanceservices"></a>

```json
[
  {
    "assistanceServicesPackage": "ATE_10_SERVICOS",
    "complementaryAssistanceServicesDetail": "reboque pane seca",
    "chargeTypeSignaling": "GRATUITA"
  }
]

```

Agrupamento dos serviços de assistências disponíveis vinculado ao produto.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|assistanceServicesPackage|string|true|none|Pacotes de Assistência.|
|complementaryAssistanceServicesDetail|string|true|none|Campo livre para descrição dos serviços ofertados por cada sociedade participante.|
|chargeTypeSignaling|string|true|none|Sinalização em campo exclusivo se o pacote de Assistência é gratuita ou contratada/paga.|

#### Enumerated Values

|Property|Value|
|---|---|
|assistanceServicesPackage|ATE_10_SERVICOS|
|assistanceServicesPackage|ATE_20_SERVICOS|
|assistanceServicesPackage|ACIMA_20_SERVICOS|
|assistanceServicesPackage|CUSTOMIZAVEL|
|chargeTypeSignaling|GRATUITA|
|chargeTypeSignaling|PAGO|

<h2 id="tocS_HomeInsuranceCoverages">HomeInsuranceCoverages</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancecoverages"></a>
<a id="schema_HomeInsuranceCoverages"></a>
<a id="tocShomeinsurancecoverages"></a>
<a id="tocshomeinsurancecoverages"></a>

```json
[
  {
    "coverageType": "IMOVEL_BASICA",
    "coverageDetail": "Cobertura especial para escritório residenciais",
    "allowApartPurchase": false,
    "coverageAttributes": {
      "minLMI": {
        "type": "FINANCEIRO",
        "amount": {
          "amount": 0,
          "unit": {
            "code": "R$",
            "description": "REAL"
          }
        },
        "index": "LMG",
        "maxIndexAmount": {
          "amount": 0,
          "unit": {
            "code": "R$",
            "description": "REAL"
          }
        }
      },
      "maxLMI": {
        "type": "FINANCEIRO",
        "amount": {
          "amount": 0,
          "unit": {
            "code": "R$",
            "description": "REAL"
          }
        },
        "index": "LMG",
        "maxIndexAmount": {
          "amount": 0,
          "unit": {
            "code": "R$",
            "description": "REAL"
          }
        }
      },
      "minDeductibleAmount": {
        "amount": 0,
        "unit": {
          "code": "R$",
          "description": "REAL"
        }
      },
      "insuredMandatoryParticipationPercentage": 0
    }
  }
]

```

Listagem de coberturas incluídas no produto.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|coverageType|string|true|none|Nome do tipo da cobertura.|
|coverageDetail|string|true|none|Campo aberto para detalhamento por coberturas possíveis dos produtos a ser feito por cada participante.|
|allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|coverageAttributes|[HomeInsuranceCoverageAttributes](#schemahomeinsurancecoverageattributes)|true|none|Informações de cobertura do Seguro Residencial.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverageType|IMOVEL_BASICA|
|coverageType|IMOVEL_AMPLA|
|coverageType|DANOS_ELETRICOS|
|coverageType|DANOS_POR_AGUA|
|coverageType|ALAGAMENTO|
|coverageType|RESPONSABILIDADE_CIVIL_FAMILIAR|
|coverageType|RESPONSABILIDADE_CIVIL_DANOS_MORAIS|
|coverageType|ROUBO_SUBTRACAO_BENS|
|coverageType|ROUBO_SUBTRACAO_BENS_FORA_LOCAL_SEGURADO|
|coverageType|TACOS_GOLFE_HOLE_ONE|
|coverageType|PEQUENAS_REFORMAS_OBRAS|
|coverageType|GREVES_TUMULTOS_LOCKOUT|
|coverageType|MICROEMPREENDEDOR|
|coverageType|ESCRITORIO_RESIDENCIA|
|coverageType|DANOS_EQUIPAMENTOS_ELETRONICOS|
|coverageType|QUEBRA_VIDROS|
|coverageType|IMPACTO_VEICULOS|
|coverageType|VENDAVAL|
|coverageType|PERDA_PAGAMENTO_ALUGUEL|
|coverageType|BICICLETA|
|coverageType|RESPONSABILIDADE_CIVIL_BICICLETA|
|coverageType|RC_EMPREGADOR|
|coverageType|DESMORONAMENTO|
|coverageType|DESPESAS_EXTRAORDINARIAS|
|coverageType|JOIAS_OBRAS_ARTE|
|coverageType|TERREMOTO|
|coverageType|IMPACTO_AERONAVES|
|coverageType|PAISAGISMO|
|coverageType|INCENDIO|
|coverageType|QUEDA_RAIO|
|coverageType|EXPLOSAO|
|coverageType|OUTRAS|

<h2 id="tocS_HomeInsurancePropertyCharacteristics">HomeInsurancePropertyCharacteristics</h2>
<!-- backwards compatibility -->
<a id="schemahomeinsurancepropertycharacteristics"></a>
<a id="schema_HomeInsurancePropertyCharacteristics"></a>
<a id="tocShomeinsurancepropertycharacteristics"></a>
<a id="tocshomeinsurancepropertycharacteristics"></a>

```json
[
  {
    "propertyType": "CASA",
    "propertyBuildType": "ALVENARIA",
    "propertyUsageType": "HABITUAL",
    "destinationInsuredImportance": "PREDIO"
  }
]

```

Caracteristicas do imóvel.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|propertyType|string|true|none|Tipo de imóvel.|
|propertyBuildType|string|true|none|Descrição do tipo de construção da propriedade.|
|propertyUsageType|string|true|none|Descrição do tipo de uso da propriedade.|
|destinationInsuredImportance|string|true|none|Destinação da Importância Segurada.|

#### Enumerated Values

|Property|Value|
|---|---|
|propertyType|CASA|
|propertyType|APARTAMENTO|
|propertyBuildType|ALVENARIA|
|propertyBuildType|MADEIRA|
|propertyBuildType|METALICA|
|propertyBuildType|MISTA|
|propertyUsageType|HABITUAL|
|propertyUsageType|VERANEIO|
|propertyUsageType|DESOCUPADO|
|propertyUsageType|CASA_ESCRITORIO|
|propertyUsageType|ALUGUEL_TEMPORADA|
|destinationInsuredImportance|PREDIO|
|destinationInsuredImportance|CONTEUDO|
|destinationInsuredImportance|AMBOS|

<h2 id="tocS_LinksHomeInsurance">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinkshomeinsurance"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/home-insurance/commercializationArea"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaHomeInsurance">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametahomeinsurance"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorHomeInsurance">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametahomeinsurance)|false|none|none|