<h2 id="tocS_ResponseHousingList">ResponseHousingList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsehousinglist"></a>
<a id="schema_ResponseHousingList"></a>
<a id="tocSresponsehousinglist"></a>
<a id="tocsresponsehousinglist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "Empresa da Organização A",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "DANOS_ELETRICOS",
                  "coverageDescription": "string",
                  "allowApartPurchase": true,
                  "coverageAttributes": {
                    "maxLMI": {},
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string"
                  }
                }
              ],
              "additional": [
                "SORTEIO_GRATUITO"
              ],
              "additionalOthers": "string",
              "premiumRates": "string",
              "termsAndConditions": {
                "susepProcessNumber": "15414622222222222",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "minimumRequirementDetails": "string",
                "targetAudiences": [
                  "PESSOA_FISICA"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[HousingBrand](#schemahousingbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinkshousing)|true|none|none|
|meta|[Meta](#schemametahousing)|true|none|none|

<h2 id="tocS_HousingBrand">HousingBrand</h2>
<!-- backwards compatibility -->
<a id="schemahousingbrand"></a>
<a id="schema_HousingBrand"></a>
<a id="tocShousingbrand"></a>
<a id="tocshousingbrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "Empresa da Organização A",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "DANOS_ELETRICOS",
              "coverageDescription": "string",
              "allowApartPurchase": true,
              "coverageAttributes": {
                "maxLMI": {
                  "type": "FINANCEIRO",
                  "amount": {
                    "amount": 0,
                    "unit": {}
                  },
                  "index": "LMG",
                  "maxIndexAmount": {
                    "amount": 0,
                    "unit": {}
                  }
                },
                "insuredParticipation": [
                  "FRANQUIA"
                ],
                "insuredParticipationDescription": "string"
              }
            }
          ],
          "additional": [
            "SORTEIO_GRATUITO"
          ],
          "additionalOthers": "string",
          "premiumRates": "string",
          "termsAndConditions": {
            "susepProcessNumber": "15414622222222222",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "minimumRequirementDetails": "string",
            "targetAudiences": [
              "PESSOA_FISICA"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes|
|companies|[HousingCompany](#schemahousingcompany)|true|none|none|

<h2 id="tocS_HousingCompany">HousingCompany</h2>
<!-- backwards compatibility -->
<a id="schemahousingcompany"></a>
<a id="schema_HousingCompany"></a>
<a id="tocShousingcompany"></a>
<a id="tocshousingcompany"></a>

```json
[
  {
    "name": "Empresa da Organização A",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "DANOS_ELETRICOS",
            "coverageDescription": "string",
            "allowApartPurchase": true,
            "coverageAttributes": {
              "maxLMI": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "LMG",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "insuredParticipation": [
                "FRANQUIA"
              ],
              "insuredParticipationDescription": "string"
            }
          }
        ],
        "additional": [
          "SORTEIO_GRATUITO"
        ],
        "additionalOthers": "string",
        "premiumRates": "string",
        "termsAndConditions": {
          "susepProcessNumber": "15414622222222222",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "minimumRequirementDetails": "string",
          "targetAudiences": [
            "PESSOA_FISICA"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Instituição, pertencente à Marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[HousingProduct](#schemahousingproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_HousingProduct">HousingProduct</h2>
<!-- backwards compatibility -->
<a id="schemahousingproduct"></a>
<a id="schema_HousingProduct"></a>
<a id="tocShousingproduct"></a>
<a id="tocshousingproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "DANOS_ELETRICOS",
        "coverageDescription": "string",
        "allowApartPurchase": true,
        "coverageAttributes": {
          "maxLMI": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "LMG",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          },
          "insuredParticipation": [
            "FRANQUIA"
          ],
          "insuredParticipationDescription": "string"
        }
      }
    ],
    "additional": [
      "SORTEIO_GRATUITO"
    ],
    "additionalOthers": "string",
    "premiumRates": "string",
    "termsAndConditions": {
      "susepProcessNumber": "15414622222222222",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "minimumRequirementDetails": "string",
      "targetAudiences": [
        "PESSOA_FISICA"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos a ser feito por cada participante|
|» allowApartPurchase|boolean|true|none|Permissão para Contratação Separada|
|» coverageAttributes|[HousingCoverageAttributes](#schemahousingcoverageattributes)|true|none|Informações de cobertura do Seguro.|
|additional|[string]|true|none|none|
|additionalOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima) OBS: Condicional a seleção de 5. Outros no campo acima|
|premiumRates|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas.|
|termsAndConditions|[HousingTerms](#schemahousingterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[HousingMinimumRequirements](#schemahousingminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|DANOS_ELETRICOS|
|coverage|DANOS_FISICOS_AO_CONTEUDO|
|coverage|DANOS_FISICOS_AO_IMOVEL|
|coverage|MORTE_OU_INVALIDEZ_TOTAL_PERMANENTE|
|coverage|PAGAMENTO_DE_ALUGUEL|
|coverage|RESPONSABILIDADE_CIVIL_DO_CONSTRUTOR_RCC|
|coverage|ROUBO_E_FURTO_AO_CONTEUDO|
|coverage|OUTRAS|

<h2 id="tocS_HousingCoverageAttributes">HousingCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemahousingcoverageattributes"></a>
<a id="schema_HousingCoverageAttributes"></a>
<a id="tocShousingcoverageattributes"></a>
<a id="tocshousingcoverageattributes"></a>

```json
{
  "maxLMI": {
    "type": "FINANCEIRO",
    "amount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    }
  },
  "insuredParticipation": [
    "FRANQUIA"
  ],
  "insuredParticipationDescription": "string"
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[HousingLimit](#schemahousinglimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|
|insuredParticipation|[string]|true|none|Lista com indicativo do tipo de participação do segurado para cada|
|insuredParticipationDescription|string|true|none|Lista com descrição referente ao campo 'Participação do Segurado' para cada cobertura.|

<h2 id="tocS_HousingLimit">HousingLimit</h2>
<!-- backwards compatibility -->
<a id="schemahousinglimit"></a>
<a id="schema_HousingLimit"></a>
<a id="tocShousinglimit"></a>
<a id="tocshousinglimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "LMG",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[HousingCoverageAttributesDetails](#schemahousingcoverageattributesdetails)|true|none|Lista com valor máximo de LMI aceito pela sociedade para cada cobertura.|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[HousingCoverageAttributesDetails](#schemahousingcoverageattributesdetails)|false|none|Lista com valor máximo de LMI aceito pela sociedade para cada cobertura.|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|LMG|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_HousingCoverageAttributesDetails">HousingCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemahousingcoverageattributesdetails"></a>
<a id="schema_HousingCoverageAttributesDetails"></a>
<a id="tocShousingcoverageattributesdetails"></a>
<a id="tocshousingcoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

Lista com valor máximo de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[HousingCoverageAttributesDetailsUnit](#schemahousingcoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_HousingCoverageAttributesDetailsUnit">HousingCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemahousingcoverageattributesdetailsunit"></a>
<a id="schema_HousingCoverageAttributesDetailsUnit"></a>
<a id="tocShousingcoverageattributesdetailsunit"></a>
<a id="tocshousingcoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_HousingTerms">HousingTerms</h2>
<!-- backwards compatibility -->
<a id="schemahousingterms"></a>
<a id="schema_HousingTerms"></a>
<a id="tocShousingterms"></a>
<a id="tocshousingterms"></a>

```json
{
  "susepProcessNumber": "15414622222222222",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|true|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_HousingMinimumRequirements">HousingMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemahousingminimumrequirements"></a>
<a id="schema_HousingMinimumRequirements"></a>
<a id="tocShousingminimumrequirements"></a>
<a id="tocshousingminimumrequirements"></a>

```json
{
  "minimumRequirementDetails": "string",
  "targetAudiences": [
    "PESSOA_FISICA"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|minimumRequirementDetails|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|
|targetAudiences|[string]|true|none|none|

<h2 id="tocS_LinksHousing">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinkshousing"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaHousing">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametahousing"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorHousing">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametahousing)|false|none|none|

