<h2 id="tocS_ResponseLifePensionList">ResponseLifePensionList</h2>
<!-- backwards compatibility -->
<a id="schemaresponselifepensionlist"></a>
<a id="schema_ResponseLifePensionList"></a>
<a id="tocSresponselifepensionlist"></a>
<a id="tocsresponselifepensionlist"></a>

```json
{
  "requestTime": "2021-08-20T08:30:00Z",
  "data": {
    "brand": {
      "name": "EMPRESA",
      "companies": [
        {
          "name": "EMPRESA Seguros",
          "cnpjNumber": "45086338000178",
          "products": [
            {
              "name": "Brasilprev Private Multimercado 2020",
              "code": "1234",
              "segment": "PREVIDENCIA",
              "type": "PGBL",
              "modality": "CONTRIBUICAO_VARIAVEL",
              "optionalCoverage": "string",
              "productDetails": [
                {
                  "susepProcessNumber": "15414.614141/2020-71",
                  "contractTermsConditions": "https://example.com/mobilebanking",
                  "defferalPeriod": {
                    "interestRate": 0.25123,
                    "updateIndex": "IPCA",
                    "otherMinimumPerformanceGarantees": "SELIC",
                    "reversalFinancialResults": 5.123,
                    "minimumPremiumAmount": [],
                    "premiumPaymentMethod": [],
                    "permissionExtraordinaryContributions": true,
                    "permissonScheduledFinancialPayments": true,
                    "gracePeriodRedemption": 100,
                    "gracePeriodBetweenRedemptionRequests": 30,
                    "redemptionPaymentTerm": 10,
                    "gracePeriodPortability": 12,
                    "gracePeriodBetweenPortabilityRequests": 15,
                    "portabilityPaymentTerm": 20,
                    "investmentFunds": []
                  },
                  "grantPeriodBenefit": {
                    "incomeModality": [],
                    "biometricTable": [],
                    "interestRate": 3.225,
                    "updateIndex": "IPCA",
                    "reversalResultsFinancial": 13.252,
                    "investmentFunds": []
                  },
                  "costs": {
                    "loadingAntecipated": {},
                    "loadingLate": {}
                  }
                }
              ],
              "minimumRequirements": {
                "contractType": [
                  "INDIVIDUAL"
                ],
                "participantQualified": true,
                "minRequirementsContract": "https://example.com/mobile-banking"
              },
              "targetAudience": "PESSOA_NATURAL"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/life-pension",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/life-pension",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/life-pension",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/life-pension",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/life-pension"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|requestTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), formato UTC.|
|data|object|true|none|none|
|» brand|[LifePensionBrand](#schemalifepensionbrand)|true|none|Organização controladora do grupo.|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_LifePensionBrand">LifePensionBrand</h2>
<!-- backwards compatibility -->
<a id="schemalifepensionbrand"></a>
<a id="schema_LifePensionBrand"></a>
<a id="tocSlifepensionbrand"></a>
<a id="tocslifepensionbrand"></a>

```json
{
  "name": "EMPRESA",
  "companies": [
    {
      "name": "EMPRESA Seguros",
      "cnpjNumber": "45086338000178",
      "products": [
        {
          "name": "Brasilprev Private Multimercado 2020",
          "code": "1234",
          "segment": "PREVIDENCIA",
          "type": "PGBL",
          "modality": "CONTRIBUICAO_VARIAVEL",
          "optionalCoverage": "string",
          "productDetails": [
            {
              "susepProcessNumber": "15414.614141/2020-71",
              "contractTermsConditions": "https://example.com/mobilebanking",
              "defferalPeriod": {
                "interestRate": 0.25123,
                "updateIndex": "IPCA",
                "otherMinimumPerformanceGarantees": "SELIC",
                "reversalFinancialResults": 5.123,
                "minimumPremiumAmount": [
                  {
                    "minimumPremiumAmountValue": 250,
                    "minimumPremiumAmountDescription": ""
                  }
                ],
                "premiumPaymentMethod": [
                  "CARTAO_CREDITO"
                ],
                "permissionExtraordinaryContributions": true,
                "permissonScheduledFinancialPayments": true,
                "gracePeriodRedemption": 100,
                "gracePeriodBetweenRedemptionRequests": 30,
                "redemptionPaymentTerm": 10,
                "gracePeriodPortability": 12,
                "gracePeriodBetweenPortabilityRequests": 15,
                "portabilityPaymentTerm": 20,
                "investmentFunds": [
                  {
                    "cnpjNumber": "13.456.789/0001-12",
                    "companyName": "EYPREV",
                    "maximumAdministrationFee": 20.1,
                    "typePerformanceFee": [],
                    "maximumPerformanceFee": 20,
                    "eligibilityRule": true,
                    "minimumContributionAmount": 1000000000,
                    "minimumContributionValue": 1000000000,
                    "minimumMathematicalProvisionAmount": 1000
                  }
                ]
              },
              "grantPeriodBenefit": {
                "incomeModality": [
                  "RENDA_VITALICIA"
                ],
                "biometricTable": [
                  "AT_2000_FEMALE_SUAVIZADA_15"
                ],
                "interestRate": 3.225,
                "updateIndex": "IPCA",
                "reversalResultsFinancial": 13.252,
                "investmentFunds": [
                  {
                    "cnpjNumber": "13.456.789/0001-12",
                    "companyName": "EYPREV",
                    "maximumAdministrationFee": 20.1,
                    "typePerformanceFee": [],
                    "maximumPerformanceFee": 20,
                    "eligibilityRule": true,
                    "minimumContributionAmount": 1000000000,
                    "minimumContributionValue": 1000000000,
                    "minimumMathematicalProvisionAmount": 1000
                  }
                ]
              },
              "costs": {
                "loadingAntecipated": {
                  "minValue": 4.122,
                  "maxValue": 10
                },
                "loadingLate": {
                  "minValue": 4.122,
                  "maxValue": 10
                }
              }
            }
          ],
          "minimumRequirements": {
            "contractType": [
              "INDIVIDUAL"
            ],
            "participantQualified": true,
            "minRequirementsContract": "https://example.com/mobile-banking"
          },
          "targetAudience": "PESSOA_NATURAL"
        }
      ]
    }
  ]
}

```

Organização controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[LifePensionCompany](#schemalifepensioncompany)|true|none|none|

<h2 id="tocS_LifePensionCompany">LifePensionCompany</h2>
<!-- backwards compatibility -->
<a id="schemalifepensioncompany"></a>
<a id="schema_LifePensionCompany"></a>
<a id="tocSlifepensioncompany"></a>
<a id="tocslifepensioncompany"></a>

```json
[
  {
    "name": "EMPRESA Seguros",
    "cnpjNumber": "45086338000178",
    "products": [
      {
        "name": "Brasilprev Private Multimercado 2020",
        "code": "1234",
        "segment": "PREVIDENCIA",
        "type": "PGBL",
        "modality": "CONTRIBUICAO_VARIAVEL",
        "optionalCoverage": "string",
        "productDetails": [
          {
            "susepProcessNumber": "15414.614141/2020-71",
            "contractTermsConditions": "https://example.com/mobilebanking",
            "defferalPeriod": {
              "interestRate": 0.25123,
              "updateIndex": "IPCA",
              "otherMinimumPerformanceGarantees": "SELIC",
              "reversalFinancialResults": 5.123,
              "minimumPremiumAmount": [
                {
                  "minimumPremiumAmountValue": 250,
                  "minimumPremiumAmountDescription": ""
                }
              ],
              "premiumPaymentMethod": [
                "CARTAO_CREDITO"
              ],
              "permissionExtraordinaryContributions": true,
              "permissonScheduledFinancialPayments": true,
              "gracePeriodRedemption": 100,
              "gracePeriodBetweenRedemptionRequests": 30,
              "redemptionPaymentTerm": 10,
              "gracePeriodPortability": 12,
              "gracePeriodBetweenPortabilityRequests": 15,
              "portabilityPaymentTerm": 20,
              "investmentFunds": [
                {
                  "cnpjNumber": "13.456.789/0001-12",
                  "companyName": "EYPREV",
                  "maximumAdministrationFee": 20.1,
                  "typePerformanceFee": [
                    "DIRETAMENTE"
                  ],
                  "maximumPerformanceFee": 20,
                  "eligibilityRule": true,
                  "minimumContributionAmount": 1000000000,
                  "minimumContributionValue": 1000000000,
                  "minimumMathematicalProvisionAmount": 1000
                }
              ]
            },
            "grantPeriodBenefit": {
              "incomeModality": [
                "RENDA_VITALICIA"
              ],
              "biometricTable": [
                "AT_2000_FEMALE_SUAVIZADA_15"
              ],
              "interestRate": 3.225,
              "updateIndex": "IPCA",
              "reversalResultsFinancial": 13.252,
              "investmentFunds": [
                {
                  "cnpjNumber": "13.456.789/0001-12",
                  "companyName": "EYPREV",
                  "maximumAdministrationFee": 20.1,
                  "typePerformanceFee": [
                    "DIRETAMENTE"
                  ],
                  "maximumPerformanceFee": 20,
                  "eligibilityRule": true,
                  "minimumContributionAmount": 1000000000,
                  "minimumContributionValue": 1000000000,
                  "minimumMathematicalProvisionAmount": 1000
                }
              ]
            },
            "costs": {
              "loadingAntecipated": {
                "minValue": 4.122,
                "maxValue": 10
              },
              "loadingLate": {
                "minValue": 4.122,
                "maxValue": 10
              }
            }
          }
        ],
        "minimumRequirements": {
          "contractType": [
            "INDIVIDUAL"
          ],
          "participantQualified": true,
          "minRequirementsContract": "https://example.com/mobile-banking"
        },
        "targetAudience": "PESSOA_NATURAL"
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[LifePensionProduct](#schemalifepensionproduct)|true|none|none|

<h2 id="tocS_LifePensionProduct">LifePensionProduct</h2>
<!-- backwards compatibility -->
<a id="schemalifepensionproduct"></a>
<a id="schema_LifePensionProduct"></a>
<a id="tocSlifepensionproduct"></a>
<a id="tocslifepensionproduct"></a>

```json
[
  {
    "name": "Brasilprev Private Multimercado 2020",
    "code": "1234",
    "segment": "PREVIDENCIA",
    "type": "PGBL",
    "modality": "CONTRIBUICAO_VARIAVEL",
    "optionalCoverage": "string",
    "productDetails": [
      {
        "susepProcessNumber": "15414.614141/2020-71",
        "contractTermsConditions": "https://example.com/mobilebanking",
        "defferalPeriod": {
          "interestRate": 0.25123,
          "updateIndex": "IPCA",
          "otherMinimumPerformanceGarantees": "SELIC",
          "reversalFinancialResults": 5.123,
          "minimumPremiumAmount": [
            {
              "minimumPremiumAmountValue": 250,
              "minimumPremiumAmountDescription": ""
            }
          ],
          "premiumPaymentMethod": [
            "CARTAO_CREDITO"
          ],
          "permissionExtraordinaryContributions": true,
          "permissonScheduledFinancialPayments": true,
          "gracePeriodRedemption": 100,
          "gracePeriodBetweenRedemptionRequests": 30,
          "redemptionPaymentTerm": 10,
          "gracePeriodPortability": 12,
          "gracePeriodBetweenPortabilityRequests": 15,
          "portabilityPaymentTerm": 20,
          "investmentFunds": [
            {
              "cnpjNumber": "13.456.789/0001-12",
              "companyName": "EYPREV",
              "maximumAdministrationFee": 20.1,
              "typePerformanceFee": [
                "DIRETAMENTE"
              ],
              "maximumPerformanceFee": 20,
              "eligibilityRule": true,
              "minimumContributionAmount": 1000000000,
              "minimumContributionValue": 1000000000,
              "minimumMathematicalProvisionAmount": 1000
            }
          ]
        },
        "grantPeriodBenefit": {
          "incomeModality": [
            "RENDA_VITALICIA"
          ],
          "biometricTable": [
            "AT_2000_FEMALE_SUAVIZADA_15"
          ],
          "interestRate": 3.225,
          "updateIndex": "IPCA",
          "reversalResultsFinancial": 13.252,
          "investmentFunds": [
            {
              "cnpjNumber": "13.456.789/0001-12",
              "companyName": "EYPREV",
              "maximumAdministrationFee": 20.1,
              "typePerformanceFee": [
                "DIRETAMENTE"
              ],
              "maximumPerformanceFee": 20,
              "eligibilityRule": true,
              "minimumContributionAmount": 1000000000,
              "minimumContributionValue": 1000000000,
              "minimumMathematicalProvisionAmount": 1000
            }
          ]
        },
        "costs": {
          "loadingAntecipated": {
            "minValue": 4.122,
            "maxValue": 10
          },
          "loadingLate": {
            "minValue": 4.122,
            "maxValue": 10
          }
        }
      }
    ],
    "minimumRequirements": {
      "contractType": [
        "INDIVIDUAL"
      ],
      "participantQualified": true,
      "minRequirementsContract": "https://example.com/mobile-banking"
    },
    "targetAudience": "PESSOA_NATURAL"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|segment|string|true|none|Segmento do qual se trata o produto contratado.|
|type|string|false|none|Tipo do produto contratado.|
|modality|string|true|none|Modalidade do produto contratado.|
|optionalCoverage|string|false|none|Campo aberto (possibilidade de incluir URL).|
|productDetails|[LifePensionProductDetails](#schemalifepensionproductdetails)|false|none|none|
|minimumRequirements|[LifePensionMinimumRequirements](#schemalifepensionminimumrequirements)|true|none|none|
|targetAudience|string|true|none|Público-alvo.|

#### Enumerated Values

|Property|Value|
|---|---|
|segment|SEGURO_PESSOAS|
|segment|PREVIDENCIA|
|type|PGBL|
|type|PRGP|
|type|PAGP|
|type|PRSA|
|type|PRI|
|type|PDR|
|type|VGBL|
|type|VRGP|
|type|VAGP|
|type|VRSA|
|type|VRI|
|type|VDR|
|type|DEMAIS_PRODUTOS_PREVIDENCIA|
|modality|CONTRIBUICAO_VARIAVEL|
|modality|BENEFICIO_DEFINIDO|
|targetAudience|PESSOA_NATURAL|
|targetAudience|PESSOA_JURIDICA|

<h2 id="tocS_LifePensionProductDetails">LifePensionProductDetails</h2>
<!-- backwards compatibility -->
<a id="schemalifepensionproductdetails"></a>
<a id="schema_LifePensionProductDetails"></a>
<a id="tocSlifepensionproductdetails"></a>
<a id="tocslifepensionproductdetails"></a>

```json
[
  {
    "susepProcessNumber": "15414.614141/2020-71",
    "contractTermsConditions": "https://example.com/mobilebanking",
    "defferalPeriod": {
      "interestRate": 0.25123,
      "updateIndex": "IPCA",
      "otherMinimumPerformanceGarantees": "SELIC",
      "reversalFinancialResults": 5.123,
      "minimumPremiumAmount": [
        {
          "minimumPremiumAmountValue": 250,
          "minimumPremiumAmountDescription": ""
        }
      ],
      "premiumPaymentMethod": [
        "CARTAO_CREDITO"
      ],
      "permissionExtraordinaryContributions": true,
      "permissonScheduledFinancialPayments": true,
      "gracePeriodRedemption": 100,
      "gracePeriodBetweenRedemptionRequests": 30,
      "redemptionPaymentTerm": 10,
      "gracePeriodPortability": 12,
      "gracePeriodBetweenPortabilityRequests": 15,
      "portabilityPaymentTerm": 20,
      "investmentFunds": [
        {
          "cnpjNumber": "13.456.789/0001-12",
          "companyName": "EYPREV",
          "maximumAdministrationFee": 20.1,
          "typePerformanceFee": [
            "DIRETAMENTE"
          ],
          "maximumPerformanceFee": 20,
          "eligibilityRule": true,
          "minimumContributionAmount": 1000000000,
          "minimumContributionValue": 1000000000,
          "minimumMathematicalProvisionAmount": 1000
        }
      ]
    },
    "grantPeriodBenefit": {
      "incomeModality": [
        "RENDA_VITALICIA"
      ],
      "biometricTable": [
        "AT_2000_FEMALE_SUAVIZADA_15"
      ],
      "interestRate": 3.225,
      "updateIndex": "IPCA",
      "reversalResultsFinancial": 13.252,
      "investmentFunds": [
        {
          "cnpjNumber": "13.456.789/0001-12",
          "companyName": "EYPREV",
          "maximumAdministrationFee": 20.1,
          "typePerformanceFee": [
            "DIRETAMENTE"
          ],
          "maximumPerformanceFee": 20,
          "eligibilityRule": true,
          "minimumContributionAmount": 1000000000,
          "minimumContributionValue": 1000000000,
          "minimumMathematicalProvisionAmount": 1000
        }
      ]
    },
    "costs": {
      "loadingAntecipated": {
        "minValue": 4.122,
        "maxValue": 10
      },
      "loadingLate": {
        "minValue": 4.122,
        "maxValue": 10
      }
    }
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|true|none|Sequência numérica utilizada para consulta dos processos eletrônicos na SUSEP, com caracteres especiais.|
|contractTermsConditions|string|true|none|Campo aberto (possibilidade de incluir URL).|
|defferalPeriod|[LifePensionDefferalPeriod](#schemalifepensiondefferalperiod)|true|none|none|
|grantPeriodBenefit|[LifePensionPeriodGrantBenefit](#schemalifepensionperiodgrantbenefit)|true|none|none|
|costs|[LifePensionCosts](#schemalifepensioncosts)|true|none|none|

<h2 id="tocS_LifePensionDefferalPeriod">LifePensionDefferalPeriod</h2>
<!-- backwards compatibility -->
<a id="schemalifepensiondefferalperiod"></a>
<a id="schema_LifePensionDefferalPeriod"></a>
<a id="tocSlifepensiondefferalperiod"></a>
<a id="tocslifepensiondefferalperiod"></a>

```json
{
  "interestRate": 0.25123,
  "updateIndex": "IPCA",
  "otherMinimumPerformanceGarantees": "SELIC",
  "reversalFinancialResults": 5.123,
  "minimumPremiumAmount": [
    {
      "minimumPremiumAmountValue": 250,
      "minimumPremiumAmountDescription": ""
    }
  ],
  "premiumPaymentMethod": [
    "CARTAO_CREDITO"
  ],
  "permissionExtraordinaryContributions": true,
  "permissonScheduledFinancialPayments": true,
  "gracePeriodRedemption": 100,
  "gracePeriodBetweenRedemptionRequests": 30,
  "redemptionPaymentTerm": 10,
  "gracePeriodPortability": 12,
  "gracePeriodBetweenPortabilityRequests": 15,
  "portabilityPaymentTerm": 20,
  "investmentFunds": [
    {
      "cnpjNumber": "13.456.789/0001-12",
      "companyName": "EYPREV",
      "maximumAdministrationFee": 20.1,
      "typePerformanceFee": [
        "DIRETAMENTE"
      ],
      "maximumPerformanceFee": 20,
      "eligibilityRule": true,
      "minimumContributionAmount": 1000000000,
      "minimumContributionValue": 1000000000,
      "minimumMathematicalProvisionAmount": 1000
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|interestRate|number|true|none|Taxa de juros garantida que remunera o plano durante a fase de diferimento/acumulação.|
|updateIndex|string|true|none|Indice garantido que remunera o plano durante a fase de diferimento/ acumulação.|
|otherMinimumPerformanceGarantees|string|true|none|Para produtos do tipo PDR e VDR, indicação do percentual e do índice de ampla divulgação utilizados como garantia mínima de desempenho. Em %.|
|reversalFinancialResults|number|true|none|Percentual de reversão de excedente financeiro no período de diferimento.|
|minimumPremiumAmount|[object]|true|none|none|
|» minimumPremiumAmountValue|number|false|none|Valor|
|» minimumPremiumAmountDescription|string|false|none|Descrição Período.|
|premiumPaymentMethod|[string]|false|none|none|
|permissionExtraordinaryContributions|boolean|false|none|Se ficam permitidos aportes extraordinários.|
|permissonScheduledFinancialPayments|boolean|true|none|Se ficam permitidos pagamentos financeiros programados.|
|gracePeriodRedemption|integer|true|none|Prazo em dias de carência para resgate.|
|gracePeriodBetweenRedemptionRequests|integer|true|none|Prazo em dias de carência entre pedidos de resgate.|
|redemptionPaymentTerm|integer|true|none|Prazo em dias para pagamento do resgate.|
|gracePeriodPortability|integer|true|none|Prazo em dias de carência para portabilidade.|
|gracePeriodBetweenPortabilityRequests|integer|true|none|Prazo em dias de carência entre pedidos de portabilidade.|
|portabilityPaymentTerm|integer|true|none|Prazo em dias para pagamento da portabilidade.|
|investmentFunds|[LifePensionInvestmentFunds](#schemalifepensioninvestmentfunds)|false|none|Lista com as informações do(s) Fundo(s) de Investimento(s) disponíveis para o período de diferimento/acumulação.|

#### Enumerated Values

|Property|Value|
|---|---|
|updateIndex|IPCA|
|updateIndex|IGP-M|
|updateIndex|INPC|
|updateIndex|NAO_SE_APLICA|

<h2 id="tocS_LifePensionInvestmentFunds">LifePensionInvestmentFunds</h2>
<!-- backwards compatibility -->
<a id="schemalifepensioninvestmentfunds"></a>
<a id="schema_LifePensionInvestmentFunds"></a>
<a id="tocSlifepensioninvestmentfunds"></a>
<a id="tocslifepensioninvestmentfunds"></a>

```json
[
  {
    "cnpjNumber": "13.456.789/0001-12",
    "companyName": "EYPREV",
    "maximumAdministrationFee": 20.1,
    "typePerformanceFee": [
      "DIRETAMENTE"
    ],
    "maximumPerformanceFee": 20,
    "eligibilityRule": true,
    "minimumContributionAmount": 1000000000,
    "minimumContributionValue": 1000000000,
    "minimumMathematicalProvisionAmount": 1000
  }
]

```

Lista com as informações do(s) Fundo(s) de Investimento(s) disponíveis para o período de diferimento/acumulação.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|cnpjNumber|string|true|none|Número de CNPJ.|
|companyName|string|true|none|Nome Fantasia.|
|maximumAdministrationFee|number|true|none|Taxa Máxima de Administração – em %.|
|typePerformanceFee|[string]|true|none|none|
|maximumPerformanceFee|number|false|none|Taxa Máxima de Performance. Caso o Tipo de Taxa de Performance seja ‘Diretamente’.|
|eligibilityRule|boolean|false|none|Regra de Eligibilidade.|
|minimumContributionAmount|number|false|none|Valor Mínimo de Contribuição. Regra de Elegibilidade. Caso a Regra de Elegibilidade SIM.|
|minimumContributionValue|number|false|none|Valor Mínimo de Aporte de Portabilidade. Caso a Regra de Elegibilidade SIM.|
|minimumMathematicalProvisionAmount|number|false|none|Valor Mínimo Provisão Matemática. Caso a Regra de Elegibilidade SIM.|

<h2 id="tocS_LifePensionPeriodGrantBenefit">LifePensionPeriodGrantBenefit</h2>
<!-- backwards compatibility -->
<a id="schemalifepensionperiodgrantbenefit"></a>
<a id="schema_LifePensionPeriodGrantBenefit"></a>
<a id="tocSlifepensionperiodgrantbenefit"></a>
<a id="tocslifepensionperiodgrantbenefit"></a>

```json
{
  "incomeModality": [
    "RENDA_VITALICIA"
  ],
  "biometricTable": [
    "AT_2000_FEMALE_SUAVIZADA_15"
  ],
  "interestRate": 3.225,
  "updateIndex": "IPCA",
  "reversalResultsFinancial": 13.252,
  "investmentFunds": [
    {
      "cnpjNumber": "13.456.789/0001-12",
      "companyName": "EYPREV",
      "maximumAdministrationFee": 20.1,
      "typePerformanceFee": [
        "DIRETAMENTE"
      ],
      "maximumPerformanceFee": 20,
      "eligibilityRule": true,
      "minimumContributionAmount": 1000000000,
      "minimumContributionValue": 1000000000,
      "minimumMathematicalProvisionAmount": 1000
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|incomeModality|[string]|true|none|none|
|biometricTable|[string]|false|none|none|
|interestRate|number|true|none|Taxa de juros garantida utilizada para conversão em renda. Em %.|
|updateIndex|string|true|none|É o índice contratado para atualização monetária dos valores relativos ao plano, na forma estabelecida por este regulamento.|
|reversalResultsFinancial|number|true|none|Percentual de reversão de excedente financeiro na concessão. Em %.|
|investmentFunds|[LifePensionInvestmentFunds](#schemalifepensioninvestmentfunds)|false|none|Lista com as informações do(s) Fundo(s) de Investimento(s) disponíveis para o período de diferimento/acumulação.|

#### Enumerated Values

|Property|Value|
|---|---|
|updateIndex|IPCA|
|updateIndex|IGP-M|
|updateIndex|INPC|
|updateIndex|NAO_SE_APLICA|

<h2 id="tocS_LifePensionCosts">LifePensionCosts</h2>
<!-- backwards compatibility -->
<a id="schemalifepensioncosts"></a>
<a id="schema_LifePensionCosts"></a>
<a id="tocSlifepensioncosts"></a>
<a id="tocslifepensioncosts"></a>

```json
{
  "loadingAntecipated": {
    "minValue": 4.122,
    "maxValue": 10
  },
  "loadingLate": {
    "minValue": 4.122,
    "maxValue": 10
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|loadingAntecipated|[LifePensionLoading](#schemalifepensionloading)|true|none|none|
|loadingLate|[LifePensionLoading](#schemalifepensionloading)|true|none|none|

<h2 id="tocS_LifePensionLoading">LifePensionLoading</h2>
<!-- backwards compatibility -->
<a id="schemalifepensionloading"></a>
<a id="schema_LifePensionLoading"></a>
<a id="tocSlifepensionloading"></a>
<a id="tocslifepensionloading"></a>

```json
{
  "minValue": 4.122,
  "maxValue": 10
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|minValue|number|true|none|Valor mínimo em %.|
|maxValue|number|true|none|alor máximo em %.|

<h2 id="tocS_LifePensionMinimumRequirements">LifePensionMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemalifepensionminimumrequirements"></a>
<a id="schema_LifePensionMinimumRequirements"></a>
<a id="tocSlifepensionminimumrequirements"></a>
<a id="tocslifepensionminimumrequirements"></a>

```json
{
  "contractType": [
    "INDIVIDUAL"
  ],
  "participantQualified": true,
  "minRequirementsContract": "https://example.com/mobile-banking"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractType|[string]|true|none|Os tipos de serviços contratados.|
|participantQualified|boolean|true|none|Indicação se o plano é destinado para participante qualificado.|
|minRequirementsContract|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|

<h2 id="tocS_LinksPaginated">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinkspaginated"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/life-pension",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/life-pension",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/life-pension",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/life-pension",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/life-pension"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaPaginated">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametapaginated"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametapaginated)|false|none|none|

