<h2 id="tocS_ResponseLostProfitList">ResponseLostProfitList</h2>
<!-- backwards compatibility -->
<a id="schemaresponselostprofitlist"></a>
<a id="schema_ResponseLostProfitList"></a>
<a id="tocSresponselostprofitlist"></a>
<a id="tocsresponselostprofitlist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "PERDA_DE_RECEITA_INTERRUPCAO_DE_NEGOCIOS",
                  "coverageDescription": "descrição cobertura",
                  "coverageAttributes": {
                    "maxLMI": {}
                  },
                  "allowApartPurchase": true
                }
              ],
              "traits": true,
              "microinsurance": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumRates": [
                "string"
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414622222222222",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/lost-profit",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/lost-profit",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/lost-profit",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/lost-profit",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/lost-profit"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[LostProfitBrand](#schemalostprofitbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinkslostprofit)|true|none|none|
|meta|[Meta](#schemametalostprofit)|true|none|none|

<h2 id="tocS_LostProfitBrand">LostProfitBrand</h2>
<!-- backwards compatibility -->
<a id="schemalostprofitbrand"></a>
<a id="schema_LostProfitBrand"></a>
<a id="tocSlostprofitbrand"></a>
<a id="tocslostprofitbrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "PERDA_DE_RECEITA_INTERRUPCAO_DE_NEGOCIOS",
              "coverageDescription": "descrição cobertura",
              "coverageAttributes": {
                "maxLMI": {
                  "type": "FINANCEIRO",
                  "amount": {
                    "amount": 0,
                    "unit": {}
                  },
                  "index": "LMG",
                  "maxIndexAmount": {
                    "amount": 0,
                    "unit": {}
                  }
                }
              },
              "allowApartPurchase": true
            }
          ],
          "traits": true,
          "microinsurance": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumRates": [
            "string"
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414622222222222",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[LostProfitCompany](#schemalostprofitcompany)|true|none|none|

<h2 id="tocS_LostProfitCompany">LostProfitCompany</h2>
<!-- backwards compatibility -->
<a id="schemalostprofitcompany"></a>
<a id="schema_LostProfitCompany"></a>
<a id="tocSlostprofitcompany"></a>
<a id="tocslostprofitcompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "PERDA_DE_RECEITA_INTERRUPCAO_DE_NEGOCIOS",
            "coverageDescription": "descrição cobertura",
            "coverageAttributes": {
              "maxLMI": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "LMG",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              }
            },
            "allowApartPurchase": true
          }
        ],
        "traits": true,
        "microinsurance": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumRates": [
          "string"
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414622222222222",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[LostProfitProduct](#schemalostprofitproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_LostProfitProduct">LostProfitProduct</h2>
<!-- backwards compatibility -->
<a id="schemalostprofitproduct"></a>
<a id="schema_LostProfitProduct"></a>
<a id="tocSlostprofitproduct"></a>
<a id="tocslostprofitproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "PERDA_DE_RECEITA_INTERRUPCAO_DE_NEGOCIOS",
        "coverageDescription": "descrição cobertura",
        "coverageAttributes": {
          "maxLMI": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "LMG",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          }
        },
        "allowApartPurchase": true
      }
    ],
    "traits": true,
    "microinsurance": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumRates": [
      "string"
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414622222222222",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|false|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.12 do Anexo II|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[LostProfitCoverageAttributes](#schemalostprofitcoverageattributes)|false|none|Informações de cobertura do Seguro Residencial.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|microinsurance|boolean|true|none|Indicação se o produto é classificado como microsseguro|
|validity|[LostProfitValidity](#schemalostprofitvalidity)|true|none|none|
|premiumRates|[string]|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas, nos termos do Anexo III|
|termsAndConditions|[LostProfitTerms](#schemalostprofitterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[LostProfitMinimumRequirements](#schemalostprofitminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|PERDA_DE_RECEITA_INTERRUPCAO_DE_NEGOCIOS|
|coverage|OUTRAS|

<h2 id="tocS_LostProfitValidity">LostProfitValidity</h2>
<!-- backwards compatibility -->
<a id="schemalostprofitvalidity"></a>
<a id="schema_LostProfitValidity"></a>
<a id="tocSlostprofitvalidity"></a>
<a id="tocslostprofitvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_LostProfitTerms">LostProfitTerms</h2>
<!-- backwards compatibility -->
<a id="schemalostprofitterms"></a>
<a id="schema_LostProfitTerms"></a>
<a id="tocSlostprofitterms"></a>
<a id="tocslostprofitterms"></a>

```json
{
  "susepProcessNumber": "15414622222222222",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_LostProfitMinimumRequirements">LostProfitMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemalostprofitminimumrequirements"></a>
<a id="schema_LostProfitMinimumRequirements"></a>
<a id="tocSlostprofitminimumrequirements"></a>
<a id="tocslostprofitminimumrequirements"></a>

```json
{
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|targetAudiences|[string]|true|none|none|

<h2 id="tocS_LostProfitCoverageAttributes">LostProfitCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemalostprofitcoverageattributes"></a>
<a id="schema_LostProfitCoverageAttributes"></a>
<a id="tocSlostprofitcoverageattributes"></a>
<a id="tocslostprofitcoverageattributes"></a>

```json
{
  "maxLMI": {
    "type": "FINANCEIRO",
    "amount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    }
  }
}

```

Informações de cobertura do Seguro Residencial.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[LostProfitLimit](#schemalostprofitlimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|

<h2 id="tocS_LostProfitLimit">LostProfitLimit</h2>
<!-- backwards compatibility -->
<a id="schemalostprofitlimit"></a>
<a id="schema_LostProfitLimit"></a>
<a id="tocSlostprofitlimit"></a>
<a id="tocslostprofitlimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "LMG",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[LostProfitCoverageAttributesDetails](#schemalostprofitcoverageattributesdetails)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[LostProfitCoverageAttributesDetails](#schemalostprofitcoverageattributesdetails)|false|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|LMG|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_LostProfitCoverageAttributesDetails">LostProfitCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemalostprofitcoverageattributesdetails"></a>
<a id="schema_LostProfitCoverageAttributesDetails"></a>
<a id="tocSlostprofitcoverageattributesdetails"></a>
<a id="tocslostprofitcoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[LostProfitCoverageAttributesDetailsUnit](#schemalostprofitcoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_LostProfitCoverageAttributesDetailsUnit">LostProfitCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemalostprofitcoverageattributesdetailsunit"></a>
<a id="schema_LostProfitCoverageAttributesDetailsUnit"></a>
<a id="tocSlostprofitcoverageattributesdetailsunit"></a>
<a id="tocslostprofitcoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_LinksLostProfit">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinkslostprofit"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/lost-profit",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/lost-profit",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/lost-profit",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/lost-profit",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/lost-profit"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaLostProfit">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametalostprofit"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorLostProfit">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametalostprofit)|false|none|none|

