<h2 id="tocS_ResponseNamedOperationalRisksList">ResponseNamedOperationalRisksList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsenamedoperationalriskslist"></a>
<a id="schema_ResponseNamedOperationalRisksList"></a>
<a id="tocSresponsenamedoperationalriskslist"></a>
<a id="tocsresponsenamedoperationalriskslist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "ALAGAMENTO_INUNDACAO",
                  "coverageDescription": "descrição cobertura",
                  "coverageAttributes": {
                    "maxLMI": {}
                  },
                  "allowApartPurchase": true
                }
              ],
              "traits": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumRates": [
                "string"
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414622222222222",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/named-operational-risks",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/named-operational-risks",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/named-operational-risks",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/named-operational-risks",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/named-operational-risks"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[NamedOperationalRisksBrand](#schemanamedoperationalrisksbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinksnamedoperationalrisks)|true|none|none|
|meta|[Meta](#schemametanamedoperationalrisks)|true|none|none|

<h2 id="tocS_NamedOperationalRisksBrand">NamedOperationalRisksBrand</h2>
<!-- backwards compatibility -->
<a id="schemanamedoperationalrisksbrand"></a>
<a id="schema_NamedOperationalRisksBrand"></a>
<a id="tocSnamedoperationalrisksbrand"></a>
<a id="tocsnamedoperationalrisksbrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "ALAGAMENTO_INUNDACAO",
              "coverageDescription": "descrição cobertura",
              "coverageAttributes": {
                "maxLMI": {
                  "type": "FINANCEIRO",
                  "amount": {
                    "amount": 0,
                    "unit": {}
                  },
                  "index": "LMG",
                  "maxIndexAmount": {
                    "amount": 0,
                    "unit": {}
                  }
                }
              },
              "allowApartPurchase": true
            }
          ],
          "traits": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumRates": [
            "string"
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414622222222222",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[NamedOperationalRisksCompany](#schemanamedoperationalriskscompany)|true|none|none|

<h2 id="tocS_NamedOperationalRisksCompany">NamedOperationalRisksCompany</h2>
<!-- backwards compatibility -->
<a id="schemanamedoperationalriskscompany"></a>
<a id="schema_NamedOperationalRisksCompany"></a>
<a id="tocSnamedoperationalriskscompany"></a>
<a id="tocsnamedoperationalriskscompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "ALAGAMENTO_INUNDACAO",
            "coverageDescription": "descrição cobertura",
            "coverageAttributes": {
              "maxLMI": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "LMG",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              }
            },
            "allowApartPurchase": true
          }
        ],
        "traits": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumRates": [
          "string"
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414622222222222",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[NamedOperationalRisksProduct](#schemanamedoperationalrisksproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_NamedOperationalRisksProduct">NamedOperationalRisksProduct</h2>
<!-- backwards compatibility -->
<a id="schemanamedoperationalrisksproduct"></a>
<a id="schema_NamedOperationalRisksProduct"></a>
<a id="tocSnamedoperationalrisksproduct"></a>
<a id="tocsnamedoperationalrisksproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "ALAGAMENTO_INUNDACAO",
        "coverageDescription": "descrição cobertura",
        "coverageAttributes": {
          "maxLMI": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "LMG",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          }
        },
        "allowApartPurchase": true
      }
    ],
    "traits": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumRates": [
      "string"
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414622222222222",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|false|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.12 do Anexo II|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[NamedOperationalRisksCoverageAttributes](#schemanamedoperationalriskscoverageattributes)|false|none|Informações de cobertura do Seguro Residencial.|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|validity|[NamedOperationalRisksValidity](#schemanamedoperationalrisksvalidity)|true|none|none|
|premiumRates|[string]|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas, nos termos do Anexo III|
|termsAndConditions|[NamedOperationalRisksTerms](#schemanamedoperationalrisksterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[NamedOperationalRisksMinimumRequirements](#schemanamedoperationalrisksminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|ALAGAMENTO_INUNDACAO|
|coverage|ALUGUEL_PERDA_OU_PAGAMENTO|
|coverage|ANUNCIOS_LUMINOSOS|
|coverage|BAGAGEM|
|coverage|BASICA_INCENDIO_RAIO_EXPLOSAO|
|coverage|BASICA_DANOS_MATERIAIS|
|coverage|BASICA_DE_OBRAS_CIVIS_EM_CONSTRUCAO_E_INSTALACOES_E_MONTAGENS|
|coverage|BENS_DE_TERCEIROS_EM_PODER_DO_SEGURADO|
|coverage|CARGA_DESCARGA_ICAMENTO_E_DESCIDA|
|coverage|DANOS_ELETRICOS|
|coverage|DANOS_NA_FABRICACAO|
|coverage|DERRAME_D’AGUA_OU_OUTRA_SUBSTANCIA_LIQUIDA_DE_INSTALACOES_DE_CHUVEIROS_AUTOMATICOS_SPRINKLERS|
|coverage|DESMORONAMENTO|
|coverage|DESPESAS_ADICIONAIS_OUTRAS_DESPESAS|
|coverage|DESPESAS_EXTRAORDINARIAS|
|coverage|DESPESAS_FIXA|
|coverage|DETERIORACAO_DE_MERCADORIAS_EM_AMBIENTES_FRIGORIFICADOS|
|coverage|EQUIPAMENTOS_ARRENDADOS|
|coverage|EQUIPAMENTOS_CEDIDOS_A_TERCEIROS|
|coverage|EQUIPAMENTOS_CINEMATOGRAFICOS_FOTOGRAFICOS_DE_AUDIO_E_VIDEO|
|coverage|EQUIPAMENTOS_ELETRONICOS|
|coverage|EQUIPAMENTOS_DIVERSOS_OUTRAS_MODALIDADES|
|coverage|EQUIPAMENTOS_ESTACIONARIOS|
|coverage|EQUIPAMENTOS_MOVEIS|
|coverage|EQUIPAMENTOS_PORTATEIS_|
|coverage|FIDELIDADE_DE_EMPREGADOS|
|coverage|HONORARIOS_DE_PERITOS|
|coverage|IMPACTO_DE_VEICULOS_E_QUEDA_DE_AERONAVES|
|coverage|IMPACTO_DE_VEICULOS_TERRESTRES|
|coverage|LINHAS_DE_TRANSMISSAO_E_DISTRIBUICAO|
|coverage|LUCROS_CESSANTES|
|coverage|MOVIMENTACAO_INTERNA_DE_MERCADORIAS|
|coverage|PATIOS|
|coverage|QUEBRA_DE_MAQUINAS|
|coverage|QUEBRA_DE_VIDROS_ESPELHOS_MARMORES_E_GRANITOS|
|coverage|RECOMPOSICAO_DE_REGISTROS_E_DOCUMENTOS|
|coverage|ROUBO_DE_BENS_DE_HOSPEDES|
|coverage|ROUBO_DE_VALORES_EM_TRANSITO_EM_MAOS_DE_PORTADOR|
|coverage|ROUBO_E_FURTO_MEDIANTE_ARROMBAMENTO|
|coverage|ROUBO_E_OU_FURTO_QUALIFICADO_DE_VALORES_NO_INTERIOR_DO_ESTABELECIMENTO_DENTRO_E_OU_FORA_DE_COFRES_FORTES_OU_CAIXAS_FORTES|
|coverage|TERRORISMO_E_SABOTAGEM|
|coverage|TUMULTOS_GREVES_LOCKOUT_E_ATOS_DOLOSOS|
|coverage|VAZAMENTO_DE_TUBULACOES_E_TANQUES|
|coverage|VAZAMENTO_DE_TUBULACOES_HIDRAULICAS|
|coverage|VENDAVAL_FURACAO_CICLONE_TORNADO_GRANIZO_QUEDA_DE_AERONAVES_OU_QUAISQUER_OUTROS_ENGENHOS_AEREOS_OU_ESPACIAIS_IMPACTO_DE_VEICULOS_TERRESTRES_E_FUMACA|
|coverage|OUTRAS|

<h2 id="tocS_NamedOperationalRisksValidity">NamedOperationalRisksValidity</h2>
<!-- backwards compatibility -->
<a id="schemanamedoperationalrisksvalidity"></a>
<a id="schema_NamedOperationalRisksValidity"></a>
<a id="tocSnamedoperationalrisksvalidity"></a>
<a id="tocsnamedoperationalrisksvalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_NamedOperationalRisksTerms">NamedOperationalRisksTerms</h2>
<!-- backwards compatibility -->
<a id="schemanamedoperationalrisksterms"></a>
<a id="schema_NamedOperationalRisksTerms"></a>
<a id="tocSnamedoperationalrisksterms"></a>
<a id="tocsnamedoperationalrisksterms"></a>

```json
{
  "susepProcessNumber": "15414622222222222",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_NamedOperationalRisksMinimumRequirements">NamedOperationalRisksMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemanamedoperationalrisksminimumrequirements"></a>
<a id="schema_NamedOperationalRisksMinimumRequirements"></a>
<a id="tocSnamedoperationalrisksminimumrequirements"></a>
<a id="tocsnamedoperationalrisksminimumrequirements"></a>

```json
{
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|targetAudiences|[string]|true|none|none|

<h2 id="tocS_NamedOperationalRisksCoverageAttributes">NamedOperationalRisksCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemanamedoperationalriskscoverageattributes"></a>
<a id="schema_NamedOperationalRisksCoverageAttributes"></a>
<a id="tocSnamedoperationalriskscoverageattributes"></a>
<a id="tocsnamedoperationalriskscoverageattributes"></a>

```json
{
  "maxLMI": {
    "type": "FINANCEIRO",
    "amount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    }
  }
}

```

Informações de cobertura do Seguro Residencial.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[NamedOperationalRisksLimit](#schemanamedoperationalriskslimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|

<h2 id="tocS_NamedOperationalRisksLimit">NamedOperationalRisksLimit</h2>
<!-- backwards compatibility -->
<a id="schemanamedoperationalriskslimit"></a>
<a id="schema_NamedOperationalRisksLimit"></a>
<a id="tocSnamedoperationalriskslimit"></a>
<a id="tocsnamedoperationalriskslimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "LMG",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[NamedOperationalRisksCoverageAttributesDetails](#schemanamedoperationalriskscoverageattributesdetails)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[NamedOperationalRisksCoverageAttributesDetails](#schemanamedoperationalriskscoverageattributesdetails)|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|LMG|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_NamedOperationalRisksCoverageAttributesDetails">NamedOperationalRisksCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemanamedoperationalriskscoverageattributesdetails"></a>
<a id="schema_NamedOperationalRisksCoverageAttributesDetails"></a>
<a id="tocSnamedoperationalriskscoverageattributesdetails"></a>
<a id="tocsnamedoperationalriskscoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[NamedOperationalRisksCoverageAttributesDetailsUnit](#schemanamedoperationalriskscoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_NamedOperationalRisksCoverageAttributesDetailsUnit">NamedOperationalRisksCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemanamedoperationalriskscoverageattributesdetailsunit"></a>
<a id="schema_NamedOperationalRisksCoverageAttributesDetailsUnit"></a>
<a id="tocSnamedoperationalriskscoverageattributesdetailsunit"></a>
<a id="tocsnamedoperationalriskscoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_LinksNamedOperationalRisks">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksnamedoperationalrisks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/named-operational-risks",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/named-operational-risks",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/named-operational-risks",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/named-operational-risks",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/named-operational-risks"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaNamedOperationalRisks">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametanamedoperationalrisks"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorsnamedopera">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametanamedoperationalrisks)|false|none|none|

