<h2 id="tocS_ResponseOthersScopesList">ResponseOthersScopesList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseothersscopeslist"></a>
<a id="schema_ResponseOthersScopesList"></a>
<a id="tocSresponseothersscopeslist"></a>
<a id="tocsresponseothersscopeslist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ABCDE Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "CASCO",
                  "coverageDescription": "string",
                  "allowApartPurchase": true,
                  "coverageAttributes": {
                    "maxLMI": {}
                  }
                }
              ],
              "traits": false,
              "termsAndConditions": {
                "susepProcessNumber": "15414622222222222",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "validity": {
                "term": [
                  "ANUAL"
                ],
                "termOthers": "string"
              },
              "premiumRates": [
                "string"
              ],
              "minimumRequirements": {
                "targetAudiences": [
                  "PESSOA_FISICA"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/others-scopes",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/others-scopes",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/others-scopes",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/others-scopes",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/others-scopes"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[OthersScopesBrand](#schemaothersscopesbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinks)|true|none|none|
|meta|[Meta](#schemameta)|true|none|none|

<h2 id="tocS_OthersScopesBrand">OthersScopesBrand</h2>
<!-- backwards compatibility -->
<a id="schemaothersscopesbrand"></a>
<a id="schema_OthersScopesBrand"></a>
<a id="tocSothersscopesbrand"></a>
<a id="tocsothersscopesbrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ABCDE Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "CASCO",
              "coverageDescription": "string",
              "allowApartPurchase": true,
              "coverageAttributes": {
                "maxLMI": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              }
            }
          ],
          "traits": false,
          "termsAndConditions": {
            "susepProcessNumber": "15414622222222222",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "validity": {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          },
          "premiumRates": [
            "string"
          ],
          "minimumRequirements": {
            "targetAudiences": [
              "PESSOA_FISICA"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes|
|companies|[OthersScopesCompany](#schemaothersscopescompany)|true|none|none|

<h2 id="tocS_OthersScopesCompany">OthersScopesCompany</h2>
<!-- backwards compatibility -->
<a id="schemaothersscopescompany"></a>
<a id="schema_OthersScopesCompany"></a>
<a id="tocSothersscopescompany"></a>
<a id="tocsothersscopescompany"></a>

```json
[
  {
    "name": "ABCDE Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "CASCO",
            "coverageDescription": "string",
            "allowApartPurchase": true,
            "coverageAttributes": {
              "maxLMI": {
                "amount": 0,
                "unit": {
                  "code": "R$",
                  "description": "REAL"
                }
              }
            }
          }
        ],
        "traits": false,
        "termsAndConditions": {
          "susepProcessNumber": "15414622222222222",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "validity": {
          "term": [
            "ANUAL"
          ],
          "termOthers": "string"
        },
        "premiumRates": [
          "string"
        ],
        "minimumRequirements": {
          "targetAudiences": [
            "PESSOA_FISICA"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Instituição pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[OthersScopesProduct](#schemaothersscopesproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_OthersScopesProduct">OthersScopesProduct</h2>
<!-- backwards compatibility -->
<a id="schemaothersscopesproduct"></a>
<a id="schema_OthersScopesProduct"></a>
<a id="tocSothersscopesproduct"></a>
<a id="tocsothersscopesproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "CASCO",
        "coverageDescription": "string",
        "allowApartPurchase": true,
        "coverageAttributes": {
          "maxLMI": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          }
        }
      }
    ],
    "traits": false,
    "termsAndConditions": {
      "susepProcessNumber": "15414622222222222",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "validity": {
      "term": [
        "ANUAL"
      ],
      "termOthers": "string"
    },
    "premiumRates": [
      "string"
    ],
    "minimumRequirements": {
      "targetAudiences": [
        "PESSOA_FISICA"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|false|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.18 do Anexo II.|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos a ser feito por cada participante|
|» allowApartPurchase|boolean|true|none|Cobertura - Permissão para Contratação Separada|
|» coverageAttributes|[OthersScopesCoverageAttributes](#schemaothersscopescoverageattributes)|true|none|Informações de cobertura do Seguro.|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação|
|termsAndConditions|[OthersScopesTerms](#schemaothersscopesterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|validity|[OthersScopesValidity](#schemaothersscopesvalidity)|true|none|none|
|premiumRates|[string]|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas, nos termos do Anexo III.|
|minimumRequirements|[OthersScopesMinimumRequirements](#schemaothersscopesminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|CASCO|
|coverage|RESPONSABILIDADE_CIVIL_FACULTATIVA|
|coverage|RESPONSABILIDADE_CIVIL_AEROPORTUARIA|
|coverage|RESPONSABILIDADE_DO_EXPLORADOR_E_TRANSPORTADOR_AEREO_RETA|
|coverage|BASICA_DANOS_MATERIAIS_A_EMBARCACAO_COBERTURA_DE_ASSISTENCIA_E_SALVAMENTO_COBERTURA_DE_COLOCACAO_E_RETIRADA_DA_AGUA|
|coverage|BASICA_DE_OPERADOR_PORTUARIO_DANOS_MATERIAIS_E_CORPORAIS_A_TERCEIROS|
|coverage|DANOS_ELETRICOS|
|coverage|DANOS_FISICOS_A_BENS_MOVEIS_E_IMOVEIS|
|coverage|DANOS_MORAIS|
|coverage|DESPESAS_COM_HONORARIOS_DE_ESPECIALISTAS|
|coverage|EXTENSAO_DO_LIMITE_DE_NAVEGACAO|
|coverage|GUARDA_DE_EMBARCACOES|
|coverage|LIMITE_DE_NAVEGACAO|
|coverage|PARTICIPACAO_EM_EVENTOS_FEIRAS_EXPOSICOES_REGATAS_A_VELA_COMPETICOES_DE_PESCA_OU_COMPETICOES_DE_VELOCIDADE|
|coverage|PERDA_DE_RECEITA_BRUTA_E_OU_DESPESAS_ADICIONAIS_OU_EXTRAORDINARIAS|
|coverage|PERDA_E_OU_PAGAMENTO_DE_ALUGUEL|
|coverage|REMOCAO_DE_DESTROCOS|
|coverage|RESPONSABILIDADE_CIVIL|
|coverage|ROUBO_E_OU_FURTO_QUALIFICADO_ACESSORIOS_FIXOS_OU_NAO_FIXOS_TOTAL_OU_PARCIAL|
|coverage|SEGURO_DE_CONSTRUTORES_NAVAIS|
|coverage|TRANSPORTE_TERRESTRE|
|coverage|RISCOS_DE_PETROLEO|
|coverage|RISCOS_NUCLEARES|
|coverage|OUTRAS|

<h2 id="tocS_OthersScopesCoverageAttributes">OthersScopesCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemaothersscopescoverageattributes"></a>
<a id="schema_OthersScopesCoverageAttributes"></a>
<a id="tocSothersscopescoverageattributes"></a>
<a id="tocsothersscopescoverageattributes"></a>

```json
{
  "maxLMI": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[OthersScopesLimit](#schemaothersscopeslimit)|true|none|none|


<h2 id="tocS_OthersScopesLimit">OthersScopesLimit</h2>
<!-- backwards compatibility -->
<a id="schemaothersscopeslimit"></a>
<a id="schema_OthersScopesLimit"></a>
<a id="tocSothersscopeslimit"></a>
<a id="tocsothersscopeslimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": number,
    "unit": {
      "code": "R$",
      "description": "REAL"
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": number,
      "unit": {
        "code": "R$",
      "description": "REAL"
    },
  }
}
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[OthersScopesCoverageAttributesDetails](#schemaothersscopescoverageattributesdetails)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[OthersScopesCoverageAttributesDetails](#schemaothersscopescoverageattributesdetails)|false|none|none|

<h2 id="tocS_OthersScopesCoverageAttributesDetailsUnit">OthersScopesCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemaothersscopescoverageattributesdetailsunit"></a>
<a id="schema_OthersScopesCoverageAttributesDetailsUnit"></a>
<a id="tocSothersscopescoverageattributesdetailsunit"></a>
<a id="tocsothersscopescoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_OthersScopesCoverageAttributesDetails">OthersScopesCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemaothersscopescoverageattributesdetails"></a>
<a id="schema_OthersScopesCoverageAttributesDetails"></a>
<a id="tocSothersscopescoverageattributesdetails"></a>
<a id="tocsothersscopescoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[OthersScopesCoverageAttributesDetailsUnit](#schemaothersscopescoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_OthersScopesValidity">OthersScopesValidity</h2>
<!-- backwards compatibility -->
<a id="schemaothersscopesvalidity"></a>
<a id="schema_OthersScopesValidity"></a>
<a id="tocSothersscopesvalidity"></a>
<a id="tocsothersscopesvalidity"></a>

```json
{
  "term": [
    "ANUAL"
  ],
  "termOthers": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_OthersScopesTerms">OthersScopesTerms</h2>
<!-- backwards compatibility -->
<a id="schemaothersscopesterms"></a>
<a id="schema_OthersScopesTerms"></a>
<a id="tocSothersscopesterms"></a>
<a id="tocsothersscopesterms"></a>

```json
{
  "susepProcessNumber": "15414622222222222",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo Susep|
|definition|string|false|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_OthersScopesMinimumRequirements">OthersScopesMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemaothersscopesminimumrequirements"></a>
<a id="schema_OthersScopesMinimumRequirements"></a>
<a id="tocSothersscopesminimumrequirements"></a>
<a id="tocsothersscopesminimumrequirements"></a>

```json
{
  "targetAudiences": [
    "PESSOA_FISICA"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|targetAudiences|[string]|true|none|Público Alvo|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/others-scopes",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/others-scopes",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/others-scopes",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/others-scopes",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/others-scopes"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), formato UTC.|
|meta|[Meta](#schemameta)|false|none|none|

