<h2 id="tocS_ResponsePensionPlanList">ResponsePensionPlanList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsepensionplanlist"></a>
<a id="schema_ResponsePensionPlanList"></a>
<a id="tocSresponsepensionplanlist"></a>
<a id="tocsresponsepensionplanlist"></a>

```json
{
  "requestTime": "2021-08-20T08:30:00Z",
  "data": {},
  "brand": {
    "name": "EMPRESA",
    "companies": {
      "name": "EMPRESA Seguros",
      "cnpjNumber": 45086338000178,
      "products": [
        {
          "name": "Nome comercial do Produto",
          "code": "123456789_cap",
          "modality": "PENSAO",
          "coverages": [
            {
              "coverage": "INVALIDEZ",
              "coveragesAttributes": {
                "indenizationPaymentMethod": "Pagamento Único",
                "minValue": {
                  "amount": 0,
                  "unit": {
                    "code": "string",
                    "description": "string"
                  }
                },
                "maxValue": {
                  "amount": 0,
                  "unit": {
                    "code": "string",
                    "description": "string"
                  }
                },
                "indemnifiablePeriod": "Prazo",
                "indemnifiableDeadline": 48,
                "currency": "BRL",
                "gracePeriod": {
                  "amount": 0,
                  "unit": "DIAS"
                },
                "excludedRisk": [
                  "ATO_RECONHECIMENTO_PERIGOSO"
                ],
                "excludedRiskURL": "string"
              },
              "coveragePeriod": "Vitalícia"
            }
          ],
          "additional": "SORTEIO",
          "additionalOthers": "string",
          "assistanceType": [
            "Funeral"
          ],
          "assistanceTypeOthers": [
            "string"
          ],
          "termAndCondition": [
            {
              "susepProcessNumber": "15414.622222/2222-22",
              "definition": "wwww.seguradora.com.br/termos"
            }
          ],
          "updatePMBaC": {
            "interestRate": 14,
            "updateIndex": "IPCA(IBGE)"
          },
          "premiumUpdateIndex": "IPCA",
          "ageReframing": {
            "reframingCriterion": "Após período em anos",
            "reframingPeriodicity": 10
          },
          "financialRegimeContractType": "Repartição Simples",
          "reclaim": {
            "reclaimTable": [
              {
                "initialMonthRange": 0,
                "finalMonthRange": 0,
                "percentage": "string"
              }
            ],
            "differentiatedPercentage": "string",
            "gracePeriod": "20/Não se aplica"
          },
          "otherGuarateedValues": "Saldamento",
          "profitModality": "PAGAMENTO_UNICO",
          "contributionPayment": {
            "contributionPaymentMethod": [
              "Cartão de crédito"
            ],
            "contributionPeriodicity": [
              "Mensal"
            ]
          },
          "contributionTax": "string",
          "minimumRequirements": {
            "minRequirementsContractType": "Individual",
            "minRequirementsContract": "wwww.seguradora.com.br/termos"
          },
          "targetAudience": "Pessoa Natural"
        }
      ]
    }
  },
  "linksPaginated": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
    "prev": "string",
    "next": "string",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
  },
  "metaPaginated": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|requestTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|data|object|true|none|none|
|brand|[PensionPlanBrand](#schemapensionplanbrand)|true|none|Organização controladora do grupo.|
|linksPaginated|[LinksPaginated](#schemalinkspaginated)|true|none|none|
|metaPaginated|[MetaPaginated](#schemametapaginated)|true|none|none|

<h2 id="tocS_PensionPlanBrand">PensionPlanBrand</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanbrand"></a>
<a id="schema_PensionPlanBrand"></a>
<a id="tocSpensionplanbrand"></a>
<a id="tocspensionplanbrand"></a>

```json
{
  "name": "EMPRESA",
  "companies": {
    "name": "EMPRESA Seguros",
    "cnpjNumber": 45086338000178,
    "products": [
      {
        "name": "Nome comercial do Produto",
        "code": "123456789_cap",
        "modality": "PENSAO",
        "coverages": [
          {
            "coverage": "INVALIDEZ",
            "coveragesAttributes": {
              "indenizationPaymentMethod": "Pagamento Único",
              "minValue": {
                "amount": 0,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              },
              "maxValue": {
                "amount": 0,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              },
              "indemnifiablePeriod": "Prazo",
              "indemnifiableDeadline": 48,
              "currency": "BRL",
              "gracePeriod": {
                "amount": 0,
                "unit": "DIAS"
              },
              "excludedRisk": [
                "ATO_RECONHECIMENTO_PERIGOSO"
              ],
              "excludedRiskURL": "string"
            },
            "coveragePeriod": "Vitalícia"
          }
        ],
        "additional": "SORTEIO",
        "additionalOthers": "string",
        "assistanceType": [
          "Funeral"
        ],
        "assistanceTypeOthers": [
          "string"
        ],
        "termAndCondition": [
          {
            "susepProcessNumber": "15414.622222/2222-22",
            "definition": "wwww.seguradora.com.br/termos"
          }
        ],
        "updatePMBaC": {
          "interestRate": 14,
          "updateIndex": "IPCA(IBGE)"
        },
        "premiumUpdateIndex": "IPCA",
        "ageReframing": {
          "reframingCriterion": "Após período em anos",
          "reframingPeriodicity": 10
        },
        "financialRegimeContractType": "Repartição Simples",
        "reclaim": {
          "reclaimTable": [
            {
              "initialMonthRange": 0,
              "finalMonthRange": 0,
              "percentage": "string"
            }
          ],
          "differentiatedPercentage": "string",
          "gracePeriod": "20/Não se aplica"
        },
        "otherGuarateedValues": "Saldamento",
        "profitModality": "PAGAMENTO_UNICO",
        "contributionPayment": {
          "contributionPaymentMethod": [
            "Cartão de crédito"
          ],
          "contributionPeriodicity": [
            "Mensal"
          ]
        },
        "contributionTax": "string",
        "minimumRequirements": {
          "minRequirementsContractType": "Individual",
          "minRequirementsContract": "wwww.seguradora.com.br/termos"
        },
        "targetAudience": "Pessoa Natural"
      }
    ]
  }
}

```

Organização controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[PensionPlanCompany](#schemapensionplancompany)|true|none|Informações referente a sociedade a qual a marca pertence.|

<h2 id="tocS_PensionPlanCompany">PensionPlanCompany</h2>
<!-- backwards compatibility -->
<a id="schemapensionplancompany"></a>
<a id="schema_PensionPlanCompany"></a>
<a id="tocSpensionplancompany"></a>
<a id="tocspensionplancompany"></a>

```json
{
  "name": "EMPRESA Seguros",
  "cnpjNumber": 45086338000178,
  "products": [
    {
      "name": "Nome comercial do Produto",
      "code": "123456789_cap",
      "modality": "PENSAO",
      "coverages": [
        {
          "coverage": "INVALIDEZ",
          "coveragesAttributes": {
            "indenizationPaymentMethod": "Pagamento Único",
            "minValue": {
              "amount": 0,
              "unit": {
                "code": "string",
                "description": "string"
              }
            },
            "maxValue": {
              "amount": 0,
              "unit": {
                "code": "string",
                "description": "string"
              }
            },
            "indemnifiablePeriod": "Prazo",
            "indemnifiableDeadline": 48,
            "currency": "BRL",
            "gracePeriod": {
              "amount": 0,
              "unit": "DIAS"
            },
            "excludedRisk": [
              "ATO_RECONHECIMENTO_PERIGOSO"
            ],
            "excludedRiskURL": "string"
          },
          "coveragePeriod": "Vitalícia"
        }
      ],
      "additional": "SORTEIO",
      "additionalOthers": "string",
      "assistanceType": [
        "Funeral"
      ],
      "assistanceTypeOthers": [
        "string"
      ],
      "termAndCondition": [
        {
          "susepProcessNumber": "15414.622222/2222-22",
          "definition": "wwww.seguradora.com.br/termos"
        }
      ],
      "updatePMBaC": {
        "interestRate": 14,
        "updateIndex": "IPCA(IBGE)"
      },
      "premiumUpdateIndex": "IPCA",
      "ageReframing": {
        "reframingCriterion": "Após período em anos",
        "reframingPeriodicity": 10
      },
      "financialRegimeContractType": "Repartição Simples",
      "reclaim": {
        "reclaimTable": [
          {
            "initialMonthRange": 0,
            "finalMonthRange": 0,
            "percentage": "string"
          }
        ],
        "differentiatedPercentage": "string",
        "gracePeriod": "20/Não se aplica"
      },
      "otherGuarateedValues": "Saldamento",
      "profitModality": "PAGAMENTO_UNICO",
      "contributionPayment": {
        "contributionPaymentMethod": [
          "Cartão de crédito"
        ],
        "contributionPeriodicity": [
          "Mensal"
        ]
      },
      "contributionTax": "string",
      "minimumRequirements": {
        "minRequirementsContractType": "Individual",
        "minRequirementsContract": "wwww.seguradora.com.br/termos"
      },
      "targetAudience": "Pessoa Natural"
    }
  ]
}

```

Informações referente a sociedade a qual a marca pertence.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[PensionPlanProduct](#schemapensionplanproduct)|false|none|Produtos de Seguro de Automóveis.|

<h2 id="tocS_PensionPlanProduct">PensionPlanProduct</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanproduct"></a>
<a id="schema_PensionPlanProduct"></a>
<a id="tocSpensionplanproduct"></a>
<a id="tocspensionplanproduct"></a>

```json
[
  {
    "name": "Nome comercial do Produto",
    "code": "123456789_cap",
    "modality": "PENSAO",
    "coverages": [
      {
        "coverage": "INVALIDEZ",
        "coveragesAttributes": {
          "indenizationPaymentMethod": "Pagamento Único",
          "minValue": {
            "amount": 0,
            "unit": {
              "code": "string",
              "description": "string"
            }
          },
          "maxValue": {
            "amount": 0,
            "unit": {
              "code": "string",
              "description": "string"
            }
          },
          "indemnifiablePeriod": "Prazo",
          "indemnifiableDeadline": 48,
          "currency": "BRL",
          "gracePeriod": {
            "amount": 0,
            "unit": "DIAS"
          },
          "excludedRisk": [
            "ATO_RECONHECIMENTO_PERIGOSO"
          ],
          "excludedRiskURL": "string"
        },
        "coveragePeriod": "Vitalícia"
      }
    ],
    "additional": "SORTEIO",
    "additionalOthers": "string",
    "assistanceType": [
      "Funeral"
    ],
    "assistanceTypeOthers": [
      "string"
    ],
    "termAndCondition": [
      {
        "susepProcessNumber": "15414.622222/2222-22",
        "definition": "wwww.seguradora.com.br/termos"
      }
    ],
    "updatePMBaC": {
      "interestRate": 14,
      "updateIndex": "IPCA(IBGE)"
    },
    "premiumUpdateIndex": "IPCA",
    "ageReframing": {
      "reframingCriterion": "Após período em anos",
      "reframingPeriodicity": 10
    },
    "financialRegimeContractType": "Repartição Simples",
    "reclaim": {
      "reclaimTable": [
        {
          "initialMonthRange": 0,
          "finalMonthRange": 0,
          "percentage": "string"
        }
      ],
      "differentiatedPercentage": "string",
      "gracePeriod": "20/Não se aplica"
    },
    "otherGuarateedValues": "Saldamento",
    "profitModality": "PAGAMENTO_UNICO",
    "contributionPayment": {
      "contributionPaymentMethod": [
        "Cartão de crédito"
      ],
      "contributionPeriodicity": [
        "Mensal"
      ]
    },
    "contributionTax": "string",
    "minimumRequirements": {
      "minRequirementsContractType": "Individual",
      "minRequirementsContract": "wwww.seguradora.com.br/termos"
    },
    "targetAudience": "Pessoa Natural"
  }
]

```

Produtos de Seguro de Automóveis.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|modality|string|true|none|Lista padronizada de modalidades de coberturas  incluídas no produto.|
|coverages|[object]|true|none|none|
|» coverage|string|false|none|Formas de coberturas.|
|» coveragesAttributes|[PensionPlanCoverageAttributes](#schemapensionplancoverageattributes)|false|none|Atributos da cobertura.|
|» coveragePeriod|string|false|none|Formas de coberturas.|
|additional|string|false|none|Adicional ao plano.|
|additionalOthers|string|false|none|Lista a ser preenchida pelas participantes quando houver ‘Outros’ no campo ‘additional’|
|assistanceType|[string]|false|none|Tipos de assistências.|
|assistanceTypeOthers|[string]|false|none|Outros tipos de assistências.|
|termAndCondition|[[PensionPlanTerms](#schemapensionplanterms)]|false|none|[Informações dos termos e condições conforme número do processo SUSEP.]|
|updatePMBaC|[PensionPlanUpdatePMBaC](#schemapensionplanupdatepmbac)|false|none|Atualização/ Remuneração da PMaC.|
|premiumUpdateIndex|string|true|none|Índice utilizado na atualização do prêmio/contribuição e do capital segurado/benefício|
|ageReframing|[PensionPlanAgeReframing](#schemapensionplanagereframing)|false|none|Reenquadramento etário.|
|financialRegimeContractType|string|true|none|Tipo de contratação de regime financeiro.|
|reclaim|[PensionPlanReclaim](#schemapensionplanreclaim)|false|none|Resgate.|
|otherGuarateedValues|string|true|none|Outros valores garantidos.|
|profitModality|string|true|none|Modalidade de pagamento da indenização.|
|contributionPayment|[PensionPlanContributionPayment](#schemapensionplancontributionpayment)|true|none|Pagamento da contribuição.|
|contributionTax|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas|
|minimumRequirements|[PensionPlanMinimumRequirements](#schemapensionplanminimumrequirements)|true|none|Requisitos mínimos.|
|targetAudience|string|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|modality|PECULIO|
|modality|RENDA|
|modality|PENSAO_PRAZO_CERTO|
|modality|PENSAO_MENORES_21|
|modality|PENSAO_MENORES_24|
|modality|PENSAO_CONJUGE_VITALICIA|
|modality|PENSAO_CONJUGE_TEMPORARIA|
|coverage|MORTE|
|coverage|INVALIDEZ|
|coveragePeriod|VITALICIA|
|coveragePeriod|TEMPORARIA|
|additional|SORTEIO|
|additional|OUTROS|
|premiumUpdateIndex|IPCA|
|premiumUpdateIndex|IGPM|
|premiumUpdateIndex|INPC|
|financialRegimeContractType|REPARTICAO_SIMPLES|
|financialRegimeContractType|REPARTICAO_CAPITAIS_COBERTURA|
|financialRegimeContractType|CAPITALIZACAO|
|otherGuarateedValues|SALDAMENTO|
|otherGuarateedValues|BENEFICIO_PROLOGANDO|
|otherGuarateedValues|NAO_APLICA|
|profitModality|PAGAMENTO_UNICO|
|profitModality|FORMA_RENDA|
|targetAudience|PESSOA_NATURAL|
|targetAudience|PESSOA_JURIDICA|

<h2 id="tocS_PensionPlanTerms">PensionPlanTerms</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanterms"></a>
<a id="schema_PensionPlanTerms"></a>
<a id="tocSpensionplanterms"></a>
<a id="tocspensionplanterms"></a>

```json
{
  "susepProcessNumber": "15414.622222/2222-22",
  "definition": "wwww.seguradora.com.br/termos"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|true|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_PensionPlanCovaregeAttibutesDetailsUnit">PensionPlanCovaregeAttibutesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemapensionplancovaregeattibutesdetailsunit"></a>
<a id="schema_PensionPlanCovaregeAttibutesDetailsUnit"></a>
<a id="tocSpensionplancovaregeattibutesdetailsunit"></a>
<a id="tocspensionplancovaregeattibutesdetailsunit"></a>

```json
{
  "code": "string",
  "description": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|Tipo unidade de medida|
|description|string|true|none|Descrição da unidade de medida|

<h2 id="tocS_PensionPlanCovaregeAttibutesDetails">PensionPlanCovaregeAttibutesDetails</h2>
<!-- backwards compatibility -->
<a id="schemapensionplancovaregeattibutesdetails"></a>
<a id="schema_PensionPlanCovaregeAttibutesDetails"></a>
<a id="tocSpensionplancovaregeattibutesdetails"></a>
<a id="tocspensionplancovaregeattibutesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "string",
    "description": "string"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[PensionPlanCovaregeAttibutesDetailsUnit](#schemapensionplancovaregeattibutesdetailsunit)|true|none|none|

<h2 id="tocS_PensionPlanCoverageAttributes">PensionPlanCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemapensionplancoverageattributes"></a>
<a id="schema_PensionPlanCoverageAttributes"></a>
<a id="tocSpensionplancoverageattributes"></a>
<a id="tocspensionplancoverageattributes"></a>

```json
{
  "indenizationPaymentMethod": "Pagamento Único",
  "minValue": {
    "amount": 0,
    "unit": {
      "code": "string",
      "description": "string"
    }
  },
  "maxValue": {
    "amount": 0,
    "unit": {
      "code": "string",
      "description": "string"
    }
  },
  "indemnifiablePeriod": "Prazo",
  "indemnifiableDeadline": 48,
  "currency": "BRL",
  "gracePeriod": {
    "amount": 0,
    "unit": "DIAS"
  },
  "excludedRisk": [
    "ATO_RECONHECIMENTO_PERIGOSO"
  ],
  "excludedRiskURL": "string"
}

```

Atributos da cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|indenizationPaymentMethod|string|true|none|Forma de pagamento da indenização.|
|minValue|[PensionPlanCovaregeAttibutesDetails](#schemapensionplancovaregeattibutesdetails)|true|none|Valor mínimo de cobertura diária ou parcelada. Em reais.|
|maxValue|[PensionPlanCovaregeAttibutesDetails](#schemapensionplancovaregeattibutesdetails)|true|none|Valor máxima de cobertura diária ou parcelada. Em reais.|
|indemnifiablePeriod|string|true|none|Período indenizável. Se for indenização única, esse campo não se aplica.|
|indemnifiableDeadline|integer|true|none|Número máximo de parcelas indenizáveis. Caso seja relacionado a parcelas.|
|currency|string|true|none|Moeda utilizada.|
|gracePeriod|[PensionPlanGracePeriod](#schemapensionplangraceperiod)|true|none|Período de carência.|
|excludedRisk|[string]|true|none|Riscos excluídos.|
|excludedRiskURL|string|true|none|Campo aberto (possibilidade de incluir URL)|

#### Enumerated Values

|Property|Value|
|---|---|
|indenizationPaymentMethod|PAGAMENTO_UNICO|
|indenizationPaymentMethod|FORMA_RENDA|
|indemnifiablePeriod|PRAZO|
|indemnifiablePeriod|ATE_FIM_CICLO_DETERMINADO|
|currency|AFN|
|currency|ALL|
|currency|DZD|
|currency|USD|
|currency|EUR|
|currency|AOA|
|currency|XCD|
|currency|XCD|
|currency|ARS|
|currency|AMD|
|currency|AWG|
|currency|AUD|
|currency|EUR|
|currency|AZN|
|currency|BSD|
|currency|BHD|
|currency|BDT|
|currency|BBD|
|currency|BYN|
|currency|EUR|
|currency|BZD|
|currency|XOF|
|currency|BMD|
|currency|BTN|
|currency|BOB|
|currency|BOV|
|currency|USD|
|currency|BAM|
|currency|BWP|
|currency|NOK|
|currency|BRL|
|currency|USD|
|currency|BND|
|currency|BGN|
|currency|XOF|
|currency|BIF|
|currency|CVE|
|currency|KHR|
|currency|XAF|
|currency|CAD|
|currency|KYD|
|currency|XAF|
|currency|XAF|
|currency|CLF|
|currency|CLP|
|currency|CNY|
|currency|AUD|
|currency|AUD|
|currency|COP|
|currency|COU|
|currency|KMF|
|currency|CDF|
|currency|XAF|
|currency|NZD|
|currency|CRC|
|currency|HRK|
|currency|CUC|
|currency|CUP|
|currency|ANG|
|currency|EUR|
|currency|CZK|
|currency|XOF|
|currency|DKK|
|currency|DJF|
|currency|XCD|
|currency|DOP|
|currency|USD|
|currency|EGP|
|currency|SVC|
|currency|USD|
|currency|XAF|
|currency|ERN|
|currency|EUR|
|currency|ETB|
|currency|EUR|
|currency|FKP|
|currency|DKK|
|currency|FJD|
|currency|EUR|
|currency|EUR|
|currency|EUR|
|currency|XPF|
|currency|EUR|
|currency|XAF|
|currency|GMD|
|currency|GEL|
|currency|EUR|
|currency|GHS|
|currency|GIP|
|currency|EUR|
|currency|DKK|
|currency|XCD|
|currency|EUR|
|currency|USD|
|currency|GTQ|
|currency|GBP|
|currency|GNF|
|currency|XOF|
|currency|GYD|
|currency|HTG|
|currency|USD|
|currency|AUD|
|currency|EUR|
|currency|HNL|
|currency|HKD|
|currency|HUF|
|currency|ISK|
|currency|INR|
|currency|IDR|
|currency|XDR|
|currency|IRR|
|currency|IQD|
|currency|EUR|
|currency|GBP|
|currency|ILS|
|currency|EUR|
|currency|JMD|
|currency|JPY|
|currency|GBP|
|currency|JOD|
|currency|KZT|
|currency|KES|
|currency|AUD|
|currency|KPW|
|currency|KRW|
|currency|KWD|
|currency|KGS|
|currency|LAK|
|currency|EUR|
|currency|LBP|
|currency|LSL|
|currency|ZAR|
|currency|LRD|
|currency|LYD|
|currency|CHF|
|currency|EUR|
|currency|EUR|
|currency|MOP|
|currency|MGA|
|currency|MWK|
|currency|MYR|
|currency|MVR|
|currency|XOF|
|currency|EUR|
|currency|USD|
|currency|EUR|
|currency|MRU|
|currency|MUR|
|currency|EUR|
|currency|XUA|
|currency|MXN|
|currency|MXV|
|currency|USD|
|currency|MDL|
|currency|EUR|
|currency|MNT|
|currency|EUR|
|currency|XCD|
|currency|MAD|
|currency|MZN|
|currency|MMK|
|currency|NAD|
|currency|ZAR|
|currency|AUD|
|currency|NPR|
|currency|EUR|
|currency|XPF|
|currency|NZD|
|currency|NIO|
|currency|XOF|
|currency|NGN|
|currency|NZD|
|currency|AUD|
|currency|USD|
|currency|NOK|
|currency|OMR|
|currency|PKR|
|currency|USD|
|currency|PAB|
|currency|USD|
|currency|PGK|
|currency|PYG|
|currency|PEN|
|currency|PHP|
|currency|NZD|
|currency|PLN|
|currency|EUR|
|currency|USD|
|currency|QAR|
|currency|MKD|
|currency|RON|
|currency|RUB|
|currency|RWF|
|currency|EUR|
|currency|EUR|
|currency|SHP|
|currency|XCD|
|currency|XCD|
|currency|EUR|
|currency|EUR|
|currency|XCD|
|currency|WST|
|currency|EUR|
|currency|STN|
|currency|SAR|
|currency|XOF|
|currency|RSD|
|currency|SCR|
|currency|SLL|
|currency|SGD|
|currency|ANG|
|currency|XSU|
|currency|EUR|
|currency|EUR|
|currency|SBD|
|currency|SOS|
|currency|ZAR|
|currency|SSP|
|currency|EUR|
|currency|LKR|
|currency|SDG|
|currency|SRD|
|currency|NOK|
|currency|SZL|
|currency|SEK|
|currency|CHE|
|currency|CHF|
|currency|CHW|
|currency|SYP|
|currency|TWD|
|currency|TJS|
|currency|TZS|
|currency|THB|
|currency|USD|
|currency|XOF|
|currency|NZD|
|currency|TOP|
|currency|TTD|
|currency|TND|
|currency|TRY|
|currency|TMT|
|currency|USD|
|currency|AUD|
|currency|UGX|
|currency|UAH|
|currency|AED|
|currency|GBP|
|currency|USD|
|currency|USD|
|currency|USN|
|currency|UYI|
|currency|UYU|
|currency|UZS|
|currency|VUV|
|currency|VEF|
|currency|VND|
|currency|USD|
|currency|USD|
|currency|XPF|
|currency|MAD|
|currency|YER|
|currency|ZMW|
|currency|ZWL|
|currency|EUR|

<h2 id="tocS_PensionPlanUpdatePMBaC">PensionPlanUpdatePMBaC</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanupdatepmbac"></a>
<a id="schema_PensionPlanUpdatePMBaC"></a>
<a id="tocSpensionplanupdatepmbac"></a>
<a id="tocspensionplanupdatepmbac"></a>

```json
{
  "interestRate": 14,
  "updateIndex": "IPCA(IBGE)"
}

```

Atualização/ Remuneração da PMaC.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|interestRate|number|true|none|Taxa de juros para capitalização da PMBaC PMBC.|
|updateIndex|string|false|none|Índice utilizado na atualização da PMBaC.|

#### Enumerated Values

|Property|Value|
|---|---|
|updateIndex|IPCA|
|updateIndex|IGPM|
|updateIndex|INPC|

<h2 id="tocS_PensionPlanAgeReframing">PensionPlanAgeReframing</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanagereframing"></a>
<a id="schema_PensionPlanAgeReframing"></a>
<a id="tocSpensionplanagereframing"></a>
<a id="tocspensionplanagereframing"></a>

```json
{
  "reframingCriterion": "Após período em anos",
  "reframingPeriodicity": 10
}

```

Reenquadramento etário.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|reframingCriterion|string|true|none|Critério para reenquadramento etário.|
|reframingPeriodicity|integer|true|none|Período em anos para reenquadramento etário.|

#### Enumerated Values

|Property|Value|
|---|---|
|reframingCriterion|APOS_PERIODO_ANOS|
|reframingCriterion|CADA_PERIODO_ANOS|
|reframingCriterion|MUDANCA_FAIXA_ETARIA|
|reframingCriterion|NAO_APLICAVEL|

<h2 id="tocS_PensionPlanReclaim">PensionPlanReclaim</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanreclaim"></a>
<a id="schema_PensionPlanReclaim"></a>
<a id="tocSpensionplanreclaim"></a>
<a id="tocspensionplanreclaim"></a>

```json
{
  "reclaimTable": [
    {
      "initialMonthRange": 0,
      "finalMonthRange": 0,
      "percentage": "string"
    }
  ],
  "differentiatedPercentage": "string",
  "gracePeriod": "20/Não se aplica"
}

```

Resgate.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|reclaimTable|[[PensionPlanReclaimTable](#schemapensionplanreclaimtable)]|false|none|Percentual de resgate para PMBaC para cada conjunto aplicável.|
|differentiatedPercentage|string|false|none|Campo aberto (possibilidade de incluir URL)|
|gracePeriod|string|true|none|Prazo de carência em dias para resgate.|

<h2 id="tocS_PensionPlanReclaimTable">PensionPlanReclaimTable</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanreclaimtable"></a>
<a id="schema_PensionPlanReclaimTable"></a>
<a id="tocSpensionplanreclaimtable"></a>
<a id="tocspensionplanreclaimtable"></a>

```json
{
  "initialMonthRange": 0,
  "finalMonthRange": 0,
  "percentage": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|initialMonthRange|number|true|none|Mês inicial do range|
|finalMonthRange|number|true|none|Mês final do range|
|percentage|string|true|none|Percentual da faixa de resgate|

<h2 id="tocS_PensionPlanContributionPayment">PensionPlanContributionPayment</h2>
<!-- backwards compatibility -->
<a id="schemapensionplancontributionpayment"></a>
<a id="schema_PensionPlanContributionPayment"></a>
<a id="tocSpensionplancontributionpayment"></a>
<a id="tocspensionplancontributionpayment"></a>

```json
{
  "contributionPaymentMethod": [
    "Cartão de crédito"
  ],
  "contributionPeriodicity": [
    "Mensal"
  ]
}

```

Pagamento da contribuição.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contributionPaymentMethod|[string]|true|none|Forma de pagamento da contribuição.|
|contributionPeriodicity|[string]|true|none|Periodicidade de pagamento da contribuição.|

<h2 id="tocS_PensionPlanMinimumRequirements">PensionPlanMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanminimumrequirements"></a>
<a id="schema_PensionPlanMinimumRequirements"></a>
<a id="tocSpensionplanminimumrequirements"></a>
<a id="tocspensionplanminimumrequirements"></a>

```json
{
  "minRequirementsContractType": "Individual",
  "minRequirementsContract": "wwww.seguradora.com.br/termos"
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|minRequirementsContractType|string|true|none|Tipo de contratação.|
|minRequirementsContract|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação.|

#### Enumerated Values

|Property|Value|
|---|---|
|minRequirementsContractType|COLETIVO|
|minRequirementsContractType|INDIVIDUAL|

<h2 id="tocS_PensionPlanGracePeriod">PensionPlanGracePeriod</h2>
<!-- backwards compatibility -->
<a id="schemapensionplangraceperiod"></a>
<a id="schema_PensionPlanGracePeriod"></a>
<a id="tocSpensionplangraceperiod"></a>
<a id="tocspensionplangraceperiod"></a>

```json
{
  "amount": 0,
  "unit": "DIAS"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|false|none|Prazo de Carência|
|unit|string|false|none|Unidade do prazo (dias ou meses)|

#### Enumerated Values

|Property|Value|
|---|---|
|unit|DIAS|
|unit|MESES|
|unit|NAO_SE_APLICA|

<h2 id="tocS_LinksPaginated">LinksPaginated</h2>
<!-- backwards compatibility -->
<a id="schemalinkspaginated"></a>
<a id="schema_LinksPaginated"></a>
<a id="tocSlinkspaginated"></a>
<a id="tocslinkspaginated"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1",
  "prev": "string",
  "next": "string",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|true|none|URI completo que gerou a resposta atual.|
|first|string|false|none|URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta|
|prev|string|false|none|URI da página anterior dessa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta|
|next|string|false|none|URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|
|last|string|false|none|URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|

<h2 id="tocS_MetaPaginated">MetaPaginated</h2>
<!-- backwards compatibility -->
<a id="schemametapaginated"></a>
<a id="schema_MetaPaginated"></a>
<a id="tocSmetapaginated"></a>
<a id="tocsmetapaginated"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[MetaPaginated](#schemametapaginated)|false|none|none|

