<h2 id="tocS_ResponsePensionPlanList">ResponsePensionPlanList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsepensionplanlist"></a>
<a id="schema_ResponsePensionPlanList"></a>
<a id="tocSresponsepensionplanlist"></a>
<a id="tocsresponsepensionplanlist"></a>

```json
{
  "requestTime": "2021-08-20T08:30:00Z",
  "data": {
    "brand": {
      "name": "EMPRESA",
      "companies": [
        {
          "name": "EMPRESA Seguros",
          "cnpjNumber": "45086338000178",
          "products": [
            {
              "name": "Nome comercial do Produto",
              "code": "123456789_cap",
              "coverages": [
                {
                  "modality": "RENDA",
                  "coverage": "INVALIDEZ",
                  "coveragesAttributes": {
                    "indenizationPaymentMethod": "PAGAMENTO_UNICO",
                    "minValue": {},
                    "maxValue": {},
                    "indemnifiablePeriod": "PRAZO",
                    "indemnifiableDeadline": 48,
                    "currency": "BRL",
                    "gracePeriod": {},
                    "excludedRisk": [],
                    "excludedRiskURL": "string",
                    "profitModality": "PAGAMENTO_UNICO"
                  },
                  "coveragePeriod": [
                    "VITALICIA"
                  ]
                }
              ],
              "additional": "SORTEIO",
              "additionalOthers": "string",
              "assistanceType": [
                "FUNERAL"
              ],
              "assistanceTypeOthers": [
                "string"
              ],
              "termsAndConditions": [
                {
                  "susepProcessNumber": "15414.622222/2222-22",
                  "definition": "wwww.seguradora.com.br/termos"
                }
              ],
              "updatePMBaC": {
                "interestRate": 14,
                "updateIndex": "IPCA"
              },
              "premiumUpdateIndex": "IPCA",
              "ageReframing": {
                "reframingCriterion": "APOS_PERIODO_ANOS",
                "reframingPeriodicity": 10
              },
              "financialRegimeContractType": "REPARTICAO_SIMPLES",
              "reclaim": {
                "reclaimTable": [
                  {
                    "initialMonthRange": 0,
                    "finalMonthRange": 0,
                    "percentage": "string"
                  }
                ],
                "differentiatedPercentage": "string",
                "gracePeriod": "20/Não se aplica"
              },
              "otherGuarateedValues": "SALDAMENTO",
              "contributionPayment": {
                "contributionPaymentMethod": [
                  "CARTAO_CREDITO"
                ],
                "contributionPeriodicity": [
                  "MENSAL"
                ]
              },
              "contributionTax": "string",
              "minimumRequirements": {
                "contractMinRequirementsType": "INDIVIDUAL",
                "contractMinRequirements": "wwww.seguradora.com.br/termos"
              },
              "targetAudience": "PESSOA_NATURAL"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/pension-plan",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/pension-plan",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/pension-plan",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/pension-plan",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/pension-plan"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|requestTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), formato UTC.|
|data|object|true|none|none|
|» brand|[PensionPlanBrand](#schemapensionplanbrand)|true|none|Organização controladora do grupo.|
|links|[Links](#schemalinkspaginatedpersion)|true|none|none|
|meta|[Meta](#schemametapaginatedpersion)|true|none|none|

<h2 id="tocS_PensionPlanBrand">PensionPlanBrand</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanbrand"></a>
<a id="schema_PensionPlanBrand"></a>
<a id="tocSpensionplanbrand"></a>
<a id="tocspensionplanbrand"></a>

```json
{
  "name": "EMPRESA",
  "companies": [
    {
      "name": "EMPRESA Seguros",
      "cnpjNumber": "45086338000178",
      "products": [
        {
          "name": "Nome comercial do Produto",
          "code": "123456789_cap",
          "coverages": [
            {
              "modality": "RENDA",
              "coverage": "INVALIDEZ",
              "coveragesAttributes": {
                "indenizationPaymentMethod": "PAGAMENTO_UNICO",
                "minValue": {
                  "amount": 14,
                  "unit": {
                    "code": "string",
                    "description": "string"
                  }
                },
                "maxValue": {
                  "amount": 14,
                  "unit": {
                    "code": "string",
                    "description": "string"
                  }
                },
                "indemnifiablePeriod": "PRAZO",
                "indemnifiableDeadline": 48,
                "currency": "BRL",
                "gracePeriod": {
                  "amount": 0,
                  "unit": "DIAS"
                },
                "excludedRisk": [
                  "ATO_RECONHECIMENTO_PERIGOSO"
                ],
                "excludedRiskURL": "string",
                "profitModality": "PAGAMENTO_UNICO"
              },
              "coveragePeriod": [
                "VITALICIA"
              ]
            }
          ],
          "additional": "SORTEIO",
          "additionalOthers": "string",
          "assistanceType": [
            "FUNERAL"
          ],
          "assistanceTypeOthers": [
            "string"
          ],
          "termsAndConditions": [
            {
              "susepProcessNumber": "15414.622222/2222-22",
              "definition": "wwww.seguradora.com.br/termos"
            }
          ],
          "updatePMBaC": {
            "interestRate": 14,
            "updateIndex": "IPCA"
          },
          "premiumUpdateIndex": "IPCA",
          "ageReframing": {
            "reframingCriterion": "APOS_PERIODO_ANOS",
            "reframingPeriodicity": 10
          },
          "financialRegimeContractType": "REPARTICAO_SIMPLES",
          "reclaim": {
            "reclaimTable": [
              {
                "initialMonthRange": 0,
                "finalMonthRange": 0,
                "percentage": "string"
              }
            ],
            "differentiatedPercentage": "string",
            "gracePeriod": "20/Não se aplica"
          },
          "otherGuarateedValues": "SALDAMENTO",
          "contributionPayment": {
            "contributionPaymentMethod": [
              "CARTAO_CREDITO"
            ],
            "contributionPeriodicity": [
              "MENSAL"
            ]
          },
          "contributionTax": "string",
          "minimumRequirements": {
            "contractMinRequirementsType": "INDIVIDUAL",
            "contractMinRequirements": "wwww.seguradora.com.br/termos"
          },
          "targetAudience": "PESSOA_NATURAL"
        }
      ]
    }
  ]
}

```

Organização controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[PensionPlanCompany](#schemapensionplancompany)|true|none|none|

<h2 id="tocS_PensionPlanCompany">PensionPlanCompany</h2>
<!-- backwards compatibility -->
<a id="schemapensionplancompany"></a>
<a id="schema_PensionPlanCompany"></a>
<a id="tocSpensionplancompany"></a>
<a id="tocspensionplancompany"></a>

```json
[
  {
    "name": "EMPRESA Seguros",
    "cnpjNumber": "45086338000178",
    "products": [
      {
        "name": "Nome comercial do Produto",
        "code": "123456789_cap",
        "coverages": [
          {
            "modality": "RENDA",
            "coverage": "INVALIDEZ",
            "coveragesAttributes": {
              "indenizationPaymentMethod": "PAGAMENTO_UNICO",
              "minValue": {
                "amount": 14,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              },
              "maxValue": {
                "amount": 14,
                "unit": {
                  "code": "string",
                  "description": "string"
                }
              },
              "indemnifiablePeriod": "PRAZO",
              "indemnifiableDeadline": 48,
              "currency": "BRL",
              "gracePeriod": {
                "amount": 0,
                "unit": "DIAS"
              },
              "excludedRisk": [
                "ATO_RECONHECIMENTO_PERIGOSO"
              ],
              "excludedRiskURL": "string",
              "profitModality": "PAGAMENTO_UNICO"
            },
            "coveragePeriod": [
              "VITALICIA"
            ]
          }
        ],
        "additional": "SORTEIO",
        "additionalOthers": "string",
        "assistanceType": [
          "FUNERAL"
        ],
        "assistanceTypeOthers": [
          "string"
        ],
        "termsAndConditions": [
          {
            "susepProcessNumber": "15414.622222/2222-22",
            "definition": "wwww.seguradora.com.br/termos"
          }
        ],
        "updatePMBaC": {
          "interestRate": 14,
          "updateIndex": "IPCA"
        },
        "premiumUpdateIndex": "IPCA",
        "ageReframing": {
          "reframingCriterion": "APOS_PERIODO_ANOS",
          "reframingPeriodicity": 10
        },
        "financialRegimeContractType": "REPARTICAO_SIMPLES",
        "reclaim": {
          "reclaimTable": [
            {
              "initialMonthRange": 0,
              "finalMonthRange": 0,
              "percentage": "string"
            }
          ],
          "differentiatedPercentage": "string",
          "gracePeriod": "20/Não se aplica"
        },
        "otherGuarateedValues": "SALDAMENTO",
        "contributionPayment": {
          "contributionPaymentMethod": [
            "CARTAO_CREDITO"
          ],
          "contributionPeriodicity": [
            "MENSAL"
          ]
        },
        "contributionTax": "string",
        "minimumRequirements": {
          "contractMinRequirementsType": "INDIVIDUAL",
          "contractMinRequirements": "wwww.seguradora.com.br/termos"
        },
        "targetAudience": "PESSOA_NATURAL"
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[PensionPlanProduct](#schemapensionplanproduct)|true|none|Produtos de Seguro de Automóveis.|

<h2 id="tocS_PensionPlanProduct">PensionPlanProduct</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanproduct"></a>
<a id="schema_PensionPlanProduct"></a>
<a id="tocSpensionplanproduct"></a>
<a id="tocspensionplanproduct"></a>

```json
[
  {
    "name": "Nome comercial do Produto",
    "code": "123456789_cap",
    "coverages": [
      {
        "modality": "RENDA",
        "coverage": "INVALIDEZ",
        "coveragesAttributes": {
          "indenizationPaymentMethod": "PAGAMENTO_UNICO",
          "minValue": {
            "amount": 14,
            "unit": {
              "code": "string",
              "description": "string"
            }
          },
          "maxValue": {
            "amount": 14,
            "unit": {
              "code": "string",
              "description": "string"
            }
          },
          "indemnifiablePeriod": "PRAZO",
          "indemnifiableDeadline": 48,
          "currency": "BRL",
          "gracePeriod": {
            "amount": 0,
            "unit": "DIAS"
          },
          "excludedRisk": [
            "ATO_RECONHECIMENTO_PERIGOSO"
          ],
          "excludedRiskURL": "string",
          "profitModality": "PAGAMENTO_UNICO"
        },
        "coveragePeriod": [
          "VITALICIA"
        ]
      }
    ],
    "additional": "SORTEIO",
    "additionalOthers": "string",
    "assistanceType": [
      "FUNERAL"
    ],
    "assistanceTypeOthers": [
      "string"
    ],
    "termsAndConditions": [
      {
        "susepProcessNumber": "15414.622222/2222-22",
        "definition": "wwww.seguradora.com.br/termos"
      }
    ],
    "updatePMBaC": {
      "interestRate": 14,
      "updateIndex": "IPCA"
    },
    "premiumUpdateIndex": "IPCA",
    "ageReframing": {
      "reframingCriterion": "APOS_PERIODO_ANOS",
      "reframingPeriodicity": 10
    },
    "financialRegimeContractType": "REPARTICAO_SIMPLES",
    "reclaim": {
      "reclaimTable": [
        {
          "initialMonthRange": 0,
          "finalMonthRange": 0,
          "percentage": "string"
        }
      ],
      "differentiatedPercentage": "string",
      "gracePeriod": "20/Não se aplica"
    },
    "otherGuarateedValues": "SALDAMENTO",
    "contributionPayment": {
      "contributionPaymentMethod": [
        "CARTAO_CREDITO"
      ],
      "contributionPeriodicity": [
        "MENSAL"
      ]
    },
    "contributionTax": "string",
    "minimumRequirements": {
      "contractMinRequirementsType": "INDIVIDUAL",
      "contractMinRequirements": "wwww.seguradora.com.br/termos"
    },
    "targetAudience": "PESSOA_NATURAL"
  }
]

```

Produtos de Seguro de Automóveis.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» modality|string|true|none|Modalidade da cobertura.|
|» coverage|string|false|none|Formas de coberturas.|
|» coveragesAttributes|[PensionPlanCoverageAttributes](#schemapensionplancoverageattributes)|false|none|Atributos da cobertura.|
|» coveragePeriod|[string]|false|none|Formas de coberturas|
|additional|string|false|none|Adicional ao plano.|
|additionalOthers|string|false|none|Lista a ser preenchida pelas participantes quando houver ‘Outros’ no campo ‘additional’|
|assistanceType|[string]|false|none|Tipos de assistências.|
|assistanceTypeOthers|[string]|false|none|Outros tipos de assistências.|
|termsAndConditions|[[PensionPlanTerms](#schemapensionplanterms)]|true|none|[Informações dos termos e condições conforme número do processo SUSEP.]|
|updatePMBaC|[PensionPlanUpdatePMBaC](#schemapensionplanupdatepmbac)|false|none|Atualização/ Remuneração da PMaC.|
|premiumUpdateIndex|string|true|none|Índice utilizado na atualização do prêmio/contribuição e do capital segurado/benefício|
|ageReframing|[PensionPlanAgeReframing](#schemapensionplanagereframing)|false|none|Reenquadramento etário.|
|financialRegimeContractType|string|true|none|Tipo de contratação de regime financeiro.|
|reclaim|[PensionPlanReclaim](#schemapensionplanreclaim)|false|none|Resgate.|
|otherGuarateedValues|string|true|none|Outros valores garantidos.|
|contributionPayment|[PensionPlanContributionPayment](#schemapensionplancontributionpayment)|true|none|Pagamento da contribuição.|
|contributionTax|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas|
|minimumRequirements|[PensionPlanMinimumRequirements](#schemapensionplanminimumrequirements)|true|none|Requisitos mínimos.|
|targetAudience|string|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|modality|PECULIO|
|modality|RENDA|
|modality|PENSAO_PRAZO_CERTO|
|modality|PENSAO_MENORES_21|
|modality|PENSAO_MENORES_24|
|modality|PENSAO_CONJUGE_VITALICIA|
|modality|PENSAO_CONJUGE_TEMPORARIA|
|coverage|MORTE|
|coverage|INVALIDEZ|
|additional|SORTEIO|
|additional|OUTROS|
|premiumUpdateIndex|IPCA|
|premiumUpdateIndex|IGPM|
|premiumUpdateIndex|INPC|
|financialRegimeContractType|REPARTICAO_SIMPLES|
|financialRegimeContractType|REPARTICAO_CAPITAIS_COBERTURA|
|financialRegimeContractType|CAPITALIZACAO|
|otherGuarateedValues|SALDAMENTO|
|otherGuarateedValues|BENEFICIO_PROLOGANDO|
|otherGuarateedValues|NAO_APLICA|
|targetAudience|PESSOA_NATURAL|
|targetAudience|PESSOA_JURIDICA|

<h2 id="tocS_PensionPlanTerms">PensionPlanTerms</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanterms"></a>
<a id="schema_PensionPlanTerms"></a>
<a id="tocSpensionplanterms"></a>
<a id="tocspensionplanterms"></a>

```json
{
  "susepProcessNumber": "15414.622222/2222-22",
  "definition": "wwww.seguradora.com.br/termos"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|true|none|Número do processo SUSEP.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_PensionPlanCoverageAttributesDetailsUnit">PensionPlanCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemapensionplancoverageattributesdetailsunit"></a>
<a id="schema_PensionPlanCoverageAttributesDetailsUnit"></a>
<a id="tocSpensionplancoverageattributesdetailsunit"></a>
<a id="tocspensionplancoverageattributesdetailsunit"></a>

```json
{
  "code": "string",
  "description": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|Tipo unidade de medida|
|description|string|true|none|Descrição da unidade de medida|

<h2 id="tocS_PensionPlanCoverageAttributesDetails">PensionPlanCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemapensionplancoverageattributesdetails"></a>
<a id="schema_PensionPlanCoverageAttributesDetails"></a>
<a id="tocSpensionplancoverageattributesdetails"></a>
<a id="tocspensionplancoverageattributesdetails"></a>

```json
{
  "amount": 14,
  "unit": {
    "code": "string",
    "description": "string"
  }
}

```

Valor mínimo/máximo de cobertura diária ou parcelada. Em reais.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[PensionPlanCoverageAttributesDetailsUnit](#schemapensionplancoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_PensionPlanCoverageAttributes">PensionPlanCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemapensionplancoverageattributes"></a>
<a id="schema_PensionPlanCoverageAttributes"></a>
<a id="tocSpensionplancoverageattributes"></a>
<a id="tocspensionplancoverageattributes"></a>

```json
{
  "indenizationPaymentMethod": "PAGAMENTO_UNICO",
  "minValue": {
    "amount": 14,
    "unit": {
      "code": "string",
      "description": "string"
    }
  },
  "maxValue": {
    "amount": 14,
    "unit": {
      "code": "string",
      "description": "string"
    }
  },
  "indemnifiablePeriod": "PRAZO",
  "indemnifiableDeadline": 48,
  "currency": "BRL",
  "gracePeriod": {
    "amount": 0,
    "unit": "DIAS"
  },
  "excludedRisk": [
    "ATO_RECONHECIMENTO_PERIGOSO"
  ],
  "excludedRiskURL": "string",
  "profitModality": "PAGAMENTO_UNICO"
}

```

Atributos da cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|indenizationPaymentMethod|string|true|none|Forma de pagamento da indenização.|
|minValue|[PensionPlanCoverageAttributesDetails](#schemapensionplancoverageattributesdetails)|true|none|Valor mínimo/máximo de cobertura diária ou parcelada. Em reais.|
|maxValue|[PensionPlanCoverageAttributesDetails](#schemapensionplancoverageattributesdetails)|true|none|Valor mínimo/máximo de cobertura diária ou parcelada. Em reais.|
|indemnifiablePeriod|string|false|none|Período indenizável. Se for indenização única, esse campo não se aplica.|
|indemnifiableDeadline|integer|true|none|Número máximo de parcelas indenizáveis. Caso seja relacionado a parcelas.|
|currency|string|true|none|Moeda utilizada.|
|gracePeriod|[PensionPlanGracePeriod](#schemapensionplangraceperiod)|true|none|Período de carência.|
|excludedRisk|[string]|true|none|Riscos excluídos.|
|excludedRiskURL|string|true|none|Campo aberto (possibilidade de incluir URL)|
|profitModality|string|true|none|Modalidade de pagamento da indenização.|

#### Enumerated Values

|Property|Value|
|---|---|
|indenizationPaymentMethod|PAGAMENTO_UNICO|
|indenizationPaymentMethod|FORMA_RENDA|
|indemnifiablePeriod|PRAZO|
|indemnifiablePeriod|ATE_FIM_CICLO_DETERMINADO|
|currency|AED|
|currency|AFN|
|currency|ALL|
|currency|AMD|
|currency|ANG|
|currency|AOA|
|currency|ARS|
|currency|AUD|
|currency|AWG|
|currency|AZN|
|currency|BAM|
|currency|BBD|
|currency|BDT|
|currency|BGN|
|currency|BHD|
|currency|BIF|
|currency|BMD|
|currency|BND|
|currency|BOB|
|currency|BOV|
|currency|BRL|
|currency|BSD|
|currency|BTN|
|currency|BWP|
|currency|BYN|
|currency|BZD|
|currency|CAD|
|currency|CDF|
|currency|CHE|
|currency|CHF|
|currency|CHW|
|currency|CLF|
|currency|CLP|
|currency|CNY|
|currency|COP|
|currency|COU|
|currency|CRC|
|currency|CUC|
|currency|CUP|
|currency|CVE|
|currency|CZK|
|currency|DJF|
|currency|DKK|
|currency|DOP|
|currency|DZD|
|currency|EGP|
|currency|ERN|
|currency|ETB|
|currency|EUR|
|currency|FJD|
|currency|FKP|
|currency|GBP|
|currency|GEL|
|currency|GHS|
|currency|GIP|
|currency|GMD|
|currency|GNF|
|currency|GTQ|
|currency|GYD|
|currency|HKD|
|currency|HNL|
|currency|HRK|
|currency|HTG|
|currency|HUF|
|currency|IDR|
|currency|ILS|
|currency|INR|
|currency|IQD|
|currency|IRR|
|currency|ISK|
|currency|JMD|
|currency|JOD|
|currency|JPY|
|currency|KES|
|currency|KGS|
|currency|KHR|
|currency|KMF|
|currency|KPW|
|currency|KRW|
|currency|KWD|
|currency|KYD|
|currency|KZT|
|currency|LAK|
|currency|LBP|
|currency|LKR|
|currency|LRD|
|currency|LSL|
|currency|LYD|
|currency|MAD|
|currency|MDL|
|currency|MGA|
|currency|MKD|
|currency|MMK|
|currency|MNT|
|currency|MOP|
|currency|MRU|
|currency|MUR|
|currency|MVR|
|currency|MWK|
|currency|MXN|
|currency|MXV|
|currency|MYR|
|currency|MZN|
|currency|NAD|
|currency|NGN|
|currency|NIO|
|currency|NOK|
|currency|NPR|
|currency|NZD|
|currency|OMR|
|currency|PAB|
|currency|PEN|
|currency|PGK|
|currency|PHP|
|currency|PKR|
|currency|PLN|
|currency|PYG|
|currency|QAR|
|currency|RON|
|currency|RSD|
|currency|RUB|
|currency|RWF|
|currency|SAR|
|currency|SBD|
|currency|SCR|
|currency|SDG|
|currency|SEK|
|currency|SGD|
|currency|SHP|
|currency|SLL|
|currency|SOS|
|currency|SRD|
|currency|SSP|
|currency|STN|
|currency|SVC|
|currency|SYP|
|currency|SZL|
|currency|THB|
|currency|TJS|
|currency|TMT|
|currency|TND|
|currency|TOP|
|currency|TRY|
|currency|TTD|
|currency|TWD|
|currency|TZS|
|currency|UAH|
|currency|UGX|
|currency|USD|
|currency|USN|
|currency|UYI|
|currency|UYU|
|currency|UZS|
|currency|VEF|
|currency|VND|
|currency|VUV|
|currency|WST|
|currency|XAF|
|currency|XCD|
|currency|XDR|
|currency|XOF|
|currency|XPF|
|currency|XSU|
|currency|XUA|
|currency|YER|
|currency|ZAR|
|currency|ZMW|
|currency|ZWL|
|profitModality|PAGAMENTO_UNICO|
|profitModality|FORMA_RENDA|

<h2 id="tocS_PensionPlanUpdatePMBaC">PensionPlanUpdatePMBaC</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanupdatepmbac"></a>
<a id="schema_PensionPlanUpdatePMBaC"></a>
<a id="tocSpensionplanupdatepmbac"></a>
<a id="tocspensionplanupdatepmbac"></a>

```json
{
  "interestRate": 14,
  "updateIndex": "IPCA"
}

```

Atualização/ Remuneração da PMaC.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|interestRate|number|true|none|Taxa de juros para capitalização da PMBaC PMBC.|
|updateIndex|string|false|none|Índice utilizado na atualização da PMBaC.|

#### Enumerated Values

|Property|Value|
|---|---|
|updateIndex|IPCA|
|updateIndex|IGPM|
|updateIndex|INPC|

<h2 id="tocS_PensionPlanAgeReframing">PensionPlanAgeReframing</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanagereframing"></a>
<a id="schema_PensionPlanAgeReframing"></a>
<a id="tocSpensionplanagereframing"></a>
<a id="tocspensionplanagereframing"></a>

```json
{
  "reframingCriterion": "APOS_PERIODO_ANOS",
  "reframingPeriodicity": 10
}

```

Reenquadramento etário.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|reframingCriterion|string|true|none|Critério para reenquadramento etário.|
|reframingPeriodicity|integer|true|none|Período em anos para reenquadramento etário.|

#### Enumerated Values

|Property|Value|
|---|---|
|reframingCriterion|APOS_PERIODO_ANOS|
|reframingCriterion|CADA_PERIODO_ANOS|
|reframingCriterion|MUDANCA_FAIXA_ETARIA|
|reframingCriterion|NAO_APLICAVEL|

<h2 id="tocS_PensionPlanReclaim">PensionPlanReclaim</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanreclaim"></a>
<a id="schema_PensionPlanReclaim"></a>
<a id="tocSpensionplanreclaim"></a>
<a id="tocspensionplanreclaim"></a>

```json
{
  "reclaimTable": [
    {
      "initialMonthRange": 0,
      "finalMonthRange": 0,
      "percentage": "string"
    }
  ],
  "differentiatedPercentage": "string",
  "gracePeriod": "20/Não se aplica"
}

```

Resgate.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|reclaimTable|[[PensionPlanReclaimTable](#schemapensionplanreclaimtable)]|false|none|Percentual de resgate para PMBaC para cada conjunto aplicável.|
|differentiatedPercentage|string|false|none|Campo aberto (possibilidade de incluir URL)|
|gracePeriod|string|true|none|Prazo de carência em dias para resgate.|

<h2 id="tocS_PensionPlanReclaimTable">PensionPlanReclaimTable</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanreclaimtable"></a>
<a id="schema_PensionPlanReclaimTable"></a>
<a id="tocSpensionplanreclaimtable"></a>
<a id="tocspensionplanreclaimtable"></a>

```json
{
  "initialMonthRange": 0,
  "finalMonthRange": 0,
  "percentage": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|initialMonthRange|number|true|none|Mês inicial do range|
|finalMonthRange|number|true|none|Mês final do range|
|percentage|string|true|none|Percentual da faixa de resgate|

<h2 id="tocS_PensionPlanContributionPayment">PensionPlanContributionPayment</h2>
<!-- backwards compatibility -->
<a id="schemapensionplancontributionpayment"></a>
<a id="schema_PensionPlanContributionPayment"></a>
<a id="tocSpensionplancontributionpayment"></a>
<a id="tocspensionplancontributionpayment"></a>

```json
{
  "contributionPaymentMethod": [
    "CARTAO_CREDITO"
  ],
  "contributionPeriodicity": [
    "MENSAL"
  ]
}

```

Pagamento da contribuição.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contributionPaymentMethod|[string]|true|none|Forma de pagamento da contribuição.|
|contributionPeriodicity|[string]|true|none|Periodicidade de pagamento da contribuição.|

<h2 id="tocS_PensionPlanMinimumRequirements">PensionPlanMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemapensionplanminimumrequirements"></a>
<a id="schema_PensionPlanMinimumRequirements"></a>
<a id="tocSpensionplanminimumrequirements"></a>
<a id="tocspensionplanminimumrequirements"></a>

```json
{
  "contractMinRequirementsType": "INDIVIDUAL",
  "contractMinRequirements": "wwww.seguradora.com.br/termos"
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractMinRequirementsType|string|true|none|Tipo de contratação.|
|contractMinRequirements|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação.|

#### Enumerated Values

|Property|Value|
|---|---|
|contractMinRequirementsType|COLETIVO|
|contractMinRequirementsType|INDIVIDUAL|

<h2 id="tocS_PensionPlanGracePeriod">PensionPlanGracePeriod</h2>
<!-- backwards compatibility -->
<a id="schemapensionplangraceperiod"></a>
<a id="schema_PensionPlanGracePeriod"></a>
<a id="tocSpensionplangraceperiod"></a>
<a id="tocspensionplangraceperiod"></a>

```json
{
  "amount": 0,
  "unit": "DIAS"
}

```

Período de carência.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|false|none|Prazo de Carência|
|unit|string|false|none|Unidade do prazo (dias ou meses)|

#### Enumerated Values

|Property|Value|
|---|---|
|unit|DIAS|
|unit|MESES|
|unit|NAO_SE_APLICA|

<h2 id="tocS_LinksPaginatedPersion">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinkspaginatedpersion"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/pension-plan",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/pension-plan",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/pension-plan",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/pension-plan",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/pension-plan"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|true|none|URI completo que gerou a resposta atual.|
|first|string|false|none|URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta|
|prev|string|false|none|URI da página anterior dessa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta|
|next|string|false|none|URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|
|last|string|false|none|URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|

<h2 id="tocS_MetaPaginatedPersion">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametapaginatedpersion"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorPersion">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorpersion"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametapaginatedpersion)|false|none|none|

