<h2 id="tocS_ResponsePersonList">ResponsePersonList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsepersonlist"></a>
<a id="schema_ResponsePersonList"></a>
<a id="tocSresponsepersonlist"></a>
<a id="tocsresponsepersonlist"></a>

```json
{
  "data": {
    "brand": {
      "name": "Marca",
      "companies": [
        {
          "name": "Seguradora",
          "cnpjNumber": "45086338000178",
          "products": [
            {
              "name": "Seguro Pessoal",
              "code": "123456789_cap",
              "category": "TRADICIONAL",
              "insuranceModality": "FUNERAL",
              "coverages": [
                {
                  "coverage": "AUXILIO_CESTA_BASICA",
                  "coverageOthers": [
                    "string"
                  ],
                  "coverageAttributes": {
                    "indemnityPaymentMethod": [],
                    "indemnityPaymentFrequency": [],
                    "minValue": [],
                    "maxValue": [],
                    "indemnifiablePeriod": [],
                    "maximumQtyIndemnifiableInstallments": 0,
                    "currency": "BRL",
                    "gracePeriod": [],
                    "differentiatedGracePeriod": "string",
                    "deductibleDays": 0,
                    "differentiatedDeductibleDays": 0,
                    "deductibleBRL": 0,
                    "differentiatedDeductibleBRL": "string",
                    "excludedRisks": [],
                    "excludedRisksURL": "string",
                    "allowApartPurchase": true
                  }
                }
              ],
              "assistanceType": [
                "ACOMPANHANTE_CASO_HOSPITALIZACAO_PROLONGADA"
              ],
              "additional": [
                "SORTEIO"
              ],
              "assistanceTypeOthers": [
                "string"
              ],
              "termsAndConditions": [
                {
                  "susepProcessNumber": "string",
                  "definition": "string"
                }
              ],
              "globalCapital": true,
              "validity": [
                "VITALICIA"
              ],
              "pmbacRemuneration": {
                "interestRate": 0,
                "pmbacUpdateIndex": "IPCA"
              },
              "benefitRecalculation": {
                "benefitRecalculationCriteria": "INDICE",
                "benefitUpdateIndex": "IPCA"
              },
              "ageAdjustment": {
                "criterion": "APOS_PERIODO_EM_ANOS",
                "frequency": 0
              },
              "contractType": "REPARTICAO_SIMPLES",
              "reclaim": {
                "reclaimTable": [
                  {
                    "initialMonthRange": 1,
                    "finalMonthRange": 12,
                    "percentage": 0
                  }
                ],
                "differentiatedPercentage": "string",
                "gracePeriod": {
                  "details": "Descrições adicionais do período de carência",
                  "amount": 60,
                  "unit": "DIAS"
                }
              },
              "otherGuaranteedValues": "SALDAMENTO",
              "allowPortability": true,
              "portabilityGraceTime": 0,
              "indemnityPaymentMethod": [
                "UNICO"
              ],
              "indemnityPaymentIncome": [
                "CERTA"
              ],
              "premiumPayment": {
                "paymentMethod": [
                  "CARTAO_CREDITO"
                ],
                "frequency": [
                  "DIARIA"
                ],
                "premiumTax": "string"
              },
              "minimunRequirements": {
                "contractingType": "COLETIVO",
                "contractingMinRequirement": "string"
              },
              "targetAudience": "PESSOA_NATURAL"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/person"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[PersonBrand](#schemapersonbrand)|true|none|Organização controladora do grupo.|
|links|[Links](#schemalinkspaginatedperson)|true|none|none|
|meta|[Meta](#schemametapaginatedperson)|true|none|none|

<h2 id="tocS_PersonBrand">PersonBrand</h2>
<!-- backwards compatibility -->
<a id="schemapersonbrand"></a>
<a id="schema_PersonBrand"></a>
<a id="tocSpersonbrand"></a>
<a id="tocspersonbrand"></a>

```json
{
  "name": "Marca",
  "companies": [
    {
      "name": "Seguradora",
      "cnpjNumber": "45086338000178",
      "products": [
        {
          "name": "Seguro Pessoal",
          "code": "123456789_cap",
          "category": "TRADICIONAL",
          "insuranceModality": "FUNERAL",
          "coverages": [
            {
              "coverage": "AUXILIO_CESTA_BASICA",
              "coverageOthers": [
                "string"
              ],
              "coverageAttributes": {
                "indemnityPaymentMethod": [
                  "PAGAMENTO_CAPITAL_SEGURADO_VALOR_MONETARIO"
                ],
                "indemnityPaymentFrequency": [
                  "INDENIZACAO_UNICA"
                ],
                "minValue": [
                  {
                    "amount": 60,
                    "unit": {}
                  }
                ],
                "maxValue": [
                  {
                    "amount": 60,
                    "unit": {}
                  }
                ],
                "indemnifiablePeriod": [
                  "ATE_FIM_CICLO_DETERMINADO"
                ],
                "maximumQtyIndemnifiableInstallments": 0,
                "currency": "BRL",
                "gracePeriod": [
                  {
                    "details": "Descrições adicionais do período de carência",
                    "amount": 60,
                    "unit": "DIAS"
                  }
                ],
                "differentiatedGracePeriod": "string",
                "deductibleDays": 0,
                "differentiatedDeductibleDays": 0,
                "deductibleBRL": 0,
                "differentiatedDeductibleBRL": "string",
                "excludedRisks": [
                  "ATO_RECONHECIMENTO_PERIGOSO"
                ],
                "excludedRisksURL": "string",
                "allowApartPurchase": true
              }
            }
          ],
          "assistanceType": [
            "ACOMPANHANTE_CASO_HOSPITALIZACAO_PROLONGADA"
          ],
          "additional": [
            "SORTEIO"
          ],
          "assistanceTypeOthers": [
            "string"
          ],
          "termsAndConditions": [
            {
              "susepProcessNumber": "string",
              "definition": "string"
            }
          ],
          "globalCapital": true,
          "validity": [
            "VITALICIA"
          ],
          "pmbacRemuneration": {
            "interestRate": 0,
            "pmbacUpdateIndex": "IPCA"
          },
          "benefitRecalculation": {
            "benefitRecalculationCriteria": "INDICE",
            "benefitUpdateIndex": "IPCA"
          },
          "ageAdjustment": {
            "criterion": "APOS_PERIODO_EM_ANOS",
            "frequency": 0
          },
          "contractType": "REPARTICAO_SIMPLES",
          "reclaim": {
            "reclaimTable": [
              {
                "initialMonthRange": 1,
                "finalMonthRange": 12,
                "percentage": 0
              }
            ],
            "differentiatedPercentage": "string",
            "gracePeriod": {
              "details": "Descrições adicionais do período de carência",
              "amount": 60,
              "unit": "DIAS"
            }
          },
          "otherGuaranteedValues": "SALDAMENTO",
          "allowPortability": true,
          "portabilityGraceTime": 0,
          "indemnityPaymentMethod": [
            "UNICO"
          ],
          "indemnityPaymentIncome": [
            "CERTA"
          ],
          "premiumPayment": {
            "paymentMethod": [
              "CARTAO_CREDITO"
            ],
            "frequency": [
              "DIARIA"
            ],
            "premiumTax": "string"
          },
          "minimunRequirements": {
            "contractingType": "COLETIVO",
            "contractingMinRequirement": "string"
          },
          "targetAudience": "PESSOA_NATURAL"
        }
      ]
    }
  ]
}

```

Organização controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[PersonCompany](#schemapersoncompany)|true|none|none|

<h2 id="tocS_PersonCompany">PersonCompany</h2>
<!-- backwards compatibility -->
<a id="schemapersoncompany"></a>
<a id="schema_PersonCompany"></a>
<a id="tocSpersoncompany"></a>
<a id="tocspersoncompany"></a>

```json
[
  {
    "name": "Seguradora",
    "cnpjNumber": "45086338000178",
    "products": [
      {
        "name": "Seguro Pessoal",
        "code": "123456789_cap",
        "category": "TRADICIONAL",
        "insuranceModality": "FUNERAL",
        "coverages": [
          {
            "coverage": "AUXILIO_CESTA_BASICA",
            "coverageOthers": [
              "string"
            ],
            "coverageAttributes": {
              "indemnityPaymentMethod": [
                "PAGAMENTO_CAPITAL_SEGURADO_VALOR_MONETARIO"
              ],
              "indemnityPaymentFrequency": [
                "INDENIZACAO_UNICA"
              ],
              "minValue": [
                {
                  "amount": 60,
                  "unit": {
                    "code": "R$",
                    "description": "description"
                  }
                }
              ],
              "maxValue": [
                {
                  "amount": 60,
                  "unit": {
                    "code": "R$",
                    "description": "description"
                  }
                }
              ],
              "indemnifiablePeriod": [
                "ATE_FIM_CICLO_DETERMINADO"
              ],
              "maximumQtyIndemnifiableInstallments": 0,
              "currency": "BRL",
              "gracePeriod": [
                {
                  "details": "Descrições adicionais do período de carência",
                  "amount": 60,
                  "unit": "DIAS"
                }
              ],
              "differentiatedGracePeriod": "string",
              "deductibleDays": 0,
              "differentiatedDeductibleDays": 0,
              "deductibleBRL": 0,
              "differentiatedDeductibleBRL": "string",
              "excludedRisks": [
                "ATO_RECONHECIMENTO_PERIGOSO"
              ],
              "excludedRisksURL": "string",
              "allowApartPurchase": true
            }
          }
        ],
        "assistanceType": [
          "ACOMPANHANTE_CASO_HOSPITALIZACAO_PROLONGADA"
        ],
        "additional": [
          "SORTEIO"
        ],
        "assistanceTypeOthers": [
          "string"
        ],
        "termsAndConditions": [
          {
            "susepProcessNumber": "string",
            "definition": "string"
          }
        ],
        "globalCapital": true,
        "validity": [
          "VITALICIA"
        ],
        "pmbacRemuneration": {
          "interestRate": 0,
          "pmbacUpdateIndex": "IPCA"
        },
        "benefitRecalculation": {
          "benefitRecalculationCriteria": "INDICE",
          "benefitUpdateIndex": "IPCA"
        },
        "ageAdjustment": {
          "criterion": "APOS_PERIODO_EM_ANOS",
          "frequency": 0
        },
        "contractType": "REPARTICAO_SIMPLES",
        "reclaim": {
          "reclaimTable": [
            {
              "initialMonthRange": 1,
              "finalMonthRange": 12,
              "percentage": 0
            }
          ],
          "differentiatedPercentage": "string",
          "gracePeriod": {
            "details": "Descrições adicionais do período de carência",
            "amount": 60,
            "unit": "DIAS"
          }
        },
        "otherGuaranteedValues": "SALDAMENTO",
        "allowPortability": true,
        "portabilityGraceTime": 0,
        "indemnityPaymentMethod": [
          "UNICO"
        ],
        "indemnityPaymentIncome": [
          "CERTA"
        ],
        "premiumPayment": {
          "paymentMethod": [
            "CARTAO_CREDITO"
          ],
          "frequency": [
            "DIARIA"
          ],
          "premiumTax": "string"
        },
        "minimunRequirements": {
          "contractingType": "COLETIVO",
          "contractingMinRequirement": "string"
        },
        "targetAudience": "PESSOA_NATURAL"
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[PersonProducts](#schemapersonproducts)|true|none|Lista de Dependências de uma Instituição.|

<h2 id="tocS_PersonProducts">PersonProducts</h2>
<!-- backwards compatibility -->
<a id="schemapersonproducts"></a>
<a id="schema_PersonProducts"></a>
<a id="tocSpersonproducts"></a>
<a id="tocspersonproducts"></a>

```json
[
  {
    "name": "Seguro Pessoal",
    "code": "123456789_cap",
    "category": "TRADICIONAL",
    "insuranceModality": "FUNERAL",
    "coverages": [
      {
        "coverage": "AUXILIO_CESTA_BASICA",
        "coverageOthers": [
          "string"
        ],
        "coverageAttributes": {
          "indemnityPaymentMethod": [
            "PAGAMENTO_CAPITAL_SEGURADO_VALOR_MONETARIO"
          ],
          "indemnityPaymentFrequency": [
            "INDENIZACAO_UNICA"
          ],
          "minValue": [
            {
              "amount": 60,
              "unit": {
                "code": "R$",
                "description": "description"
              }
            }
          ],
          "maxValue": [
            {
              "amount": 60,
              "unit": {
                "code": "R$",
                "description": "description"
              }
            }
          ],
          "indemnifiablePeriod": [
            "ATE_FIM_CICLO_DETERMINADO"
          ],
          "maximumQtyIndemnifiableInstallments": 0,
          "currency": "BRL",
          "gracePeriod": [
            {
              "details": "Descrições adicionais do período de carência",
              "amount": 60,
              "unit": "DIAS"
            }
          ],
          "differentiatedGracePeriod": "string",
          "deductibleDays": 0,
          "differentiatedDeductibleDays": 0,
          "deductibleBRL": 0,
          "differentiatedDeductibleBRL": "string",
          "excludedRisks": [
            "ATO_RECONHECIMENTO_PERIGOSO"
          ],
          "excludedRisksURL": "string",
          "allowApartPurchase": true
        }
      }
    ],
    "assistanceType": [
      "ACOMPANHANTE_CASO_HOSPITALIZACAO_PROLONGADA"
    ],
    "additional": [
      "SORTEIO"
    ],
    "assistanceTypeOthers": [
      "string"
    ],
    "termsAndConditions": [
      {
        "susepProcessNumber": "string",
        "definition": "string"
      }
    ],
    "globalCapital": true,
    "validity": [
      "VITALICIA"
    ],
    "pmbacRemuneration": {
      "interestRate": 0,
      "pmbacUpdateIndex": "IPCA"
    },
    "benefitRecalculation": {
      "benefitRecalculationCriteria": "INDICE",
      "benefitUpdateIndex": "IPCA"
    },
    "ageAdjustment": {
      "criterion": "APOS_PERIODO_EM_ANOS",
      "frequency": 0
    },
    "contractType": "REPARTICAO_SIMPLES",
    "reclaim": {
      "reclaimTable": [
        {
          "initialMonthRange": 1,
          "finalMonthRange": 12,
          "percentage": 0
        }
      ],
      "differentiatedPercentage": "string",
      "gracePeriod": {
        "details": "Descrições adicionais do período de carência",
        "amount": 60,
        "unit": "DIAS"
      }
    },
    "otherGuaranteedValues": "SALDAMENTO",
    "allowPortability": true,
    "portabilityGraceTime": 0,
    "indemnityPaymentMethod": [
      "UNICO"
    ],
    "indemnityPaymentIncome": [
      "CERTA"
    ],
    "premiumPayment": {
      "paymentMethod": [
        "CARTAO_CREDITO"
      ],
      "frequency": [
        "DIARIA"
      ],
      "premiumTax": "string"
    },
    "minimunRequirements": {
      "contractingType": "COLETIVO",
      "contractingMinRequirement": "string"
    },
    "targetAudience": "PESSOA_NATURAL"
  }
]

```

Lista de Dependências de uma Instituição.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade (código interno do produto) a critério da participante.|
|category|string|true|none|Indica a categoria do Produto|
|insuranceModality|string|true|none|none|
|coverages|[object]|true|none|none|
|» coverage|string|false|none|none|
|» coverageOthers|[string]|false|none|none|
|» coverageAttributes|[PersonCoverageAttributes](#schemapersoncoverageattributes)|false|none|none|
|assistanceType|[string]|false|none|Listagem dos serviços de assistências complementares disponíveis vinculados ao produto. Deve ser padronizada na proposta técnica submetida pela Estrutura Inicial de  Governança para observância comum por todas as sociedades participantes|
|additional|[string]|true|none|none|
|assistanceTypeOthers|[string]|false|none|none|
|termsAndConditions|[[PersonTermsAndCondition](#schemapersontermsandcondition)]|true|none|none|
|globalCapital|boolean|true|none|Seguro de pessoas com capital global modalidade de contratação coletiva da cobertura de risco, respeitados os critérios técnico-operacionais, forma e limites fixados pela SUSEP, segundo a qual o valor do capital segurado referente a cada componente sofrerá variações decorrentes de mudanças na composição do grupo segurado|
|validity|[string]|true|none|none|
|pmbacRemuneration|[PersonPmbacRemuneration](#schemapersonpmbacremuneration)|false|none|none|
|benefitRecalculation|[PersonBenefitRecalculation](#schemapersonbenefitrecalculation)|false|none|none|
|ageAdjustment|[PersonAgeAdjustment](#schemapersonageadjustment)|false|none|none|
|contractType|string|true|none|Regime Financeiro|
|reclaim|[PersonReclaim](#schemapersonreclaim)|false|none|none|
|otherGuaranteedValues|string|true|none|none|
|allowPortability|boolean|true|none|Permite Portabilidade|
|portabilityGraceTime|integer|true|none|Prazo de carência em dias para Portabilidade|
|indemnityPaymentMethod|[string]|true|none|none|
|indemnityPaymentIncome|[string]|false|none|Tipo de Renda (caso modalidade de pagamento de indenização seja sob a forma de renda)|
|premiumPayment|[PersonPremiumPayment](#schemapersonpremiumpayment)|false|none|none|
|minimunRequirements|[PersonMinimumRequirements](#schemapersonminimumrequirements)|false|none|none|
|targetAudience|string|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|category|TRADICIONAL|
|category|MICROSEGURO|
|insuranceModality|FUNERAL|
|insuranceModality|PRESTAMISTA|
|insuranceModality|VIAGEM|
|insuranceModality|EDUCACIONAL|
|insuranceModality|DOTAL|
|insuranceModality|ACIDENTES_PESSOAIS|
|insuranceModality|VIDA|
|insuranceModality|PERDA_CERTIFICADO_HABILITACAOO_VOO|
|insuranceModality|DOENCAS_GRAVES_DOENCA_TERMINAL|
|insuranceModality|DESEMPREGO_PERDA_RENDA|
|insuranceModality|EVENTOS_ALEATORIOS|
|coverage|ADIANTAMENTO_DOENCA_ESTAGIO_TERMINAL|
|coverage|AUXILIO_CESTA_BASICA|
|coverage|AUXILIO_FINANCEIRO_IMEDIATO|
|coverage|CANCELAMENTO_DE_VIAGEM|
|coverage|CIRURGIA|
|coverage|COBERTURA_PARA_HERNIA|
|coverage|COBERTURA_PARA_LER_DORT|
|coverage|CUIDADOS_PROLONGADOS_ACIDENTE|
|coverage|DESEMPREGO_PERDA_DE_RENDA|
|coverage|DESPESAS_EXTRA_INVALIDEZ_PERMANENTE_TOTAL_PARCIAL_ACIDENTE_DEI|
|coverage|DESPESAS_EXTRA_MORTE_DEM|
|coverage|DESPESAS_MEDICAS_HOSPITALARES_ODONTOLOGICAS|
|coverage|DESPESAS_MEDICAS_HOSPITALARES_ODONTOLOGICAS_BRASIL|
|coverage|DESPESAS_MEDICAS_HOSPITALARES_ODONTOLOGICAS_EXTERIOR|
|coverage|DIARIA_INCAPACIDADE_TOTAL_TEMPORARIA|
|coverage|DIARIA_INTERNACAO_HOSPITALAR|
|coverage|INTERNACAO_HOSPITALAR|
|coverage|DIARIAS_INCAPACIDADE_PECUNIARIA_DIP|
|coverage|DOENCA_GRAVE|
|coverage|DOENCA_CONGENITA_FILHOS_DCF|
|coverage|FRATURA_OSSEA|
|coverage|DOENCAS_TROPICAIS|
|coverage|INCAPACIDADE_TOTAL_OU_TEMPORARIA|
|coverage|INVALIDEZ_PERMANENTE_TOTAL_PARCIAL|
|coverage|INVALIDEZ_TOTAL_ACIDENTE|
|coverage|INVALIDEZ_PARCIAL_ACIDENTE|
|coverage|INVALIDEZ_FUNCIONAL_PERMANENTE_DOENCA|
|coverage|INVALIDEZ_LABORATIVA_DOENCA|
|coverage|MORTE|
|coverage|MORTE_ACIDENTAL|
|coverage|MORTE_CONJUGE|
|coverage|MORTE_FILHOS|
|coverage|MORTE_ADIATAMENTO_DOENCA_ESTAGIO_TERMINAL|
|coverage|PAGAMENTO_ANTECIPADO_ESPECIAL_DOENCA_PROFISSIONAL_PAED|
|coverage|PERDA_DA_AUTONOMIA_PESSOAL|
|coverage|PERDA_INVOLUNTARIA_EMPREGO|
|coverage|QUEIMADURA_GRAVE|
|coverage|REGRESSO_ANTECIPADO_SANITARIO|
|coverage|RENDA_INCAPACIDADE_TEMPORARIA|
|coverage|RESCISAO_CONTRATUAL_CASO_MORTE_RCM|
|coverage|RESCISAO_TRABALHISTA|
|coverage|SERVICO_AUXILIO_FUNERAL|
|coverage|SOBREVIVENCIA|
|coverage|TRANSPLANTE_ORGAOS|
|coverage|TRANSLADO|
|coverage|TRANSLADO_MEDICO|
|coverage|TRANSLADO_CORPO|
|coverage|VERBA_RESCISORIA|
|coverage|OUTRAS|
|contractType|REPARTICAO_SIMPLES|
|contractType|REPARTICAO_CAPITAIS|
|contractType|CAPITALIZACAO|
|otherGuaranteedValues|SALDAMENTO|
|otherGuaranteedValues|BENEFICIO_PROLONGADO|
|otherGuaranteedValues|NAO_SE_APLICA|
|targetAudience|PESSOA_NATURAL|
|targetAudience|PESSOA_JURIDICA|

<h2 id="tocS_PersonTermsAndCondition">PersonTermsAndCondition</h2>
<!-- backwards compatibility -->
<a id="schemapersontermsandcondition"></a>
<a id="schema_PersonTermsAndCondition"></a>
<a id="tocSpersontermsandcondition"></a>
<a id="tocspersontermsandcondition"></a>

```json
{
  "susepProcessNumber": "string",
  "definition": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|true|none|Número do processo Susep.|
|definition|string|true|none|Campo aberto (possibilidade de incluir URL).|

<h2 id="tocS_PersonCoverageAttributesDetailsUnit">PersonCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemapersoncoverageattributesdetailsunit"></a>
<a id="schema_PersonCoverageAttributesDetailsUnit"></a>
<a id="tocSpersoncoverageattributesdetailsunit"></a>
<a id="tocspersoncoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "description"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|Tipo unidade de medida.|
|description|string|true|none|Descrição da unidade de medida|

<h2 id="tocS_PersonCoverageAttributesDetails">PersonCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemapersoncoverageattributesdetails"></a>
<a id="schema_PersonCoverageAttributesDetails"></a>
<a id="tocSpersoncoverageattributesdetails"></a>
<a id="tocspersoncoverageattributesdetails"></a>

```json
{
  "amount": 60,
  "unit": {
    "code": "R$",
    "description": "description"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|Valor.|
|unit|[PersonCoverageAttributesDetailsUnit](#schemapersoncoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_PersonGracePeriodUnit">PersonGracePeriodUnit</h2>
<!-- backwards compatibility -->
<a id="schemapersongraceperiodunit"></a>
<a id="schema_PersonGracePeriodUnit"></a>
<a id="tocSpersongraceperiodunit"></a>
<a id="tocspersongraceperiodunit"></a>

```json
{
  "details": "Descrições adicionais do período de carência",
  "amount": 60,
  "unit": "DIAS"
}

```

Período de carência

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|details|string|false|none|none|
|amount|number|false|none|Prazo de Carência|
|unit|string|false|none|Unidade do prazo (dias ou meses).|

#### Enumerated Values

|Property|Value|
|---|---|
|unit|DIAS|
|unit|MESES|
|unit|NAO_SE_APLICA|

<h2 id="tocS_PersonCoverageAttributes">PersonCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemapersoncoverageattributes"></a>
<a id="schema_PersonCoverageAttributes"></a>
<a id="tocSpersoncoverageattributes"></a>
<a id="tocspersoncoverageattributes"></a>

```json
{
  "indemnityPaymentMethod": [
    "PAGAMENTO_CAPITAL_SEGURADO_VALOR_MONETARIO"
  ],
  "indemnityPaymentFrequency": [
    "INDENIZACAO_UNICA"
  ],
  "minValue": [
    {
      "amount": 60,
      "unit": {
        "code": "R$",
        "description": "description"
      }
    }
  ],
  "maxValue": [
    {
      "amount": 60,
      "unit": {
        "code": "R$",
        "description": "description"
      }
    }
  ],
  "indemnifiablePeriod": [
    "ATE_FIM_CICLO_DETERMINADO"
  ],
  "maximumQtyIndemnifiableInstallments": 0,
  "currency": "BRL",
  "gracePeriod": [
    {
      "details": "Descrições adicionais do período de carência",
      "amount": 60,
      "unit": "DIAS"
    }
  ],
  "differentiatedGracePeriod": "string",
  "deductibleDays": 0,
  "differentiatedDeductibleDays": 0,
  "deductibleBRL": 0,
  "differentiatedDeductibleBRL": "string",
  "excludedRisks": [
    "ATO_RECONHECIMENTO_PERIGOSO"
  ],
  "excludedRisksURL": "string",
  "allowApartPurchase": true
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|indemnityPaymentMethod|[string]|true|none|Listagem da forma de pagamento da indenização para cada combinação de  modalidade/cobertura do produto|
|indemnityPaymentFrequency|[string]|true|none|Listagem de tipos de frequência de pagamento de indenização para cada combinação de modalidade/cobertura do produto|
|minValue|[[PersonCoverageAttributesDetails](#schemapersoncoverageattributesdetails)]|true|none|Listagem do valor mínimo de cobertura (Capital Segurado), diária ou parcela aceito pela  sociedade para cada  combinação de modalidade/cobertura do produto. Em reais|
|maxValue|[[PersonCoverageAttributesDetails](#schemapersoncoverageattributesdetails)]|true|none|Listagem do valor máximo de cobertura (Capital Segurado), diária ou parcela aceito  pela sociedade para cada  combinação de modalidade/cobertura do produto. Em reais|
|indemnifiablePeriod|[string]|true|none|Listagem de período indenizável para cada combinação de modalidade/cobertura do produto|
|maximumQtyIndemnifiableInstallments|integer|true|none|Caso o período indenizável seja relacionado a parcelas, listagem de número máximo de  parcelas indenizáveis para cada combinação de modalidade/ cobertura do produto|
|currency|string|true|none|Moeda sobre a qual a cobertura se refere. De acordo com ISO-4217.|
|gracePeriod|[[PersonGracePeriodUnit](#schemapersongraceperiodunit)]|true|none|[Período de carência]|
|differentiatedGracePeriod|string|false|none|none|
|deductibleDays|integer|true|none|Listagem de franquia em dias para cada combinação de modalidade/cobertura do produto.|
|differentiatedDeductibleDays|number|false|none|Detalhamento da franquia em dias diferentes para cada cobertura que exista alguma especificidade. Caso a seguradora não tenha essa diferenciação, não retornará nada no campo.|
|deductibleBRL|number|true|none|Listagem de franquia em reais para cada combinação de modalidade/cobertura do produto.|
|differentiatedDeductibleBRL|string|false|none|Detalhamento da franquia em reais diferentes para cada cobertura que exista alguma especificidade. Caso a seguradora não tenha essa diferenciação, não retornará nada no campo.|
|excludedRisks|[string]|true|none|Listagem dos tipos de riscos excluídos para cada combinação de modalidade/cobertura do produto. Deve ser padronizada na proposta técnica submetida pela Estrutura Inicial de Governança para observância comum por todas as sociedades participantes|
|excludedRisksURL|string|false|none|Campo aberto (possibilidade de incluir URL).|
|allowApartPurchase|boolean|true|none|Indicar se a cobertura pode ser contratada isoladamente ou não.|

#### Enumerated Values

|Property|Value|
|---|---|
|currency|AED|
|currency|AFN|
|currency|ALL|
|currency|AMD|
|currency|ANG|
|currency|AOA|
|currency|ARS|
|currency|AUD|
|currency|AWG|
|currency|AZN|
|currency|BAM|
|currency|BBD|
|currency|BDT|
|currency|BGN|
|currency|BHD|
|currency|BIF|
|currency|BMD|
|currency|BND|
|currency|BOB|
|currency|BOV|
|currency|BRL|
|currency|BSD|
|currency|BTN|
|currency|BWP|
|currency|BYN|
|currency|BZD|
|currency|CAD|
|currency|CDF|
|currency|CHE|
|currency|CHF|
|currency|CHW|
|currency|CLF|
|currency|CLP|
|currency|CNY|
|currency|COP|
|currency|COU|
|currency|CRC|
|currency|CUC|
|currency|CUP|
|currency|CVE|
|currency|CZK|
|currency|DJF|
|currency|DKK|
|currency|DOP|
|currency|DZD|
|currency|EGP|
|currency|ERN|
|currency|ETB|
|currency|EUR|
|currency|FJD|
|currency|FKP|
|currency|GBP|
|currency|GEL|
|currency|GHS|
|currency|GIP|
|currency|GMD|
|currency|GNF|
|currency|GTQ|
|currency|GYD|
|currency|HKD|
|currency|HNL|
|currency|HRK|
|currency|HTG|
|currency|HUF|
|currency|IDR|
|currency|ILS|
|currency|INR|
|currency|IQD|
|currency|IRR|
|currency|ISK|
|currency|JMD|
|currency|JOD|
|currency|JPY|
|currency|KES|
|currency|KGS|
|currency|KHR|
|currency|KMF|
|currency|KPW|
|currency|KRW|
|currency|KWD|
|currency|KYD|
|currency|KZT|
|currency|LAK|
|currency|LBP|
|currency|LKR|
|currency|LRD|
|currency|LSL|
|currency|LYD|
|currency|MAD|
|currency|MDL|
|currency|MGA|
|currency|MKD|
|currency|MMK|
|currency|MNT|
|currency|MOP|
|currency|MRU|
|currency|MUR|
|currency|MVR|
|currency|MWK|
|currency|MXN|
|currency|MXV|
|currency|MYR|
|currency|MZN|
|currency|NAD|
|currency|NGN|
|currency|NIO|
|currency|NOK|
|currency|NPR|
|currency|NZD|
|currency|OMR|
|currency|PAB|
|currency|PEN|
|currency|PGK|
|currency|PHP|
|currency|PKR|
|currency|PLN|
|currency|PYG|
|currency|QAR|
|currency|RON|
|currency|RSD|
|currency|RUB|
|currency|RWF|
|currency|SAR|
|currency|SBD|
|currency|SCR|
|currency|SDG|
|currency|SEK|
|currency|SGD|
|currency|SHP|
|currency|SLL|
|currency|SOS|
|currency|SRD|
|currency|SSP|
|currency|STN|
|currency|SVC|
|currency|SYP|
|currency|SZL|
|currency|THB|
|currency|TJS|
|currency|TMT|
|currency|TND|
|currency|TOP|
|currency|TRY|
|currency|TTD|
|currency|TWD|
|currency|TZS|
|currency|UAH|
|currency|UGX|
|currency|USD|
|currency|USN|
|currency|UYI|
|currency|UYU|
|currency|UZS|
|currency|VEF|
|currency|VND|
|currency|VUV|
|currency|WST|
|currency|XAF|
|currency|XCD|
|currency|XDR|
|currency|XOF|
|currency|XPF|
|currency|XSU|
|currency|XUA|
|currency|YER|
|currency|ZAR|
|currency|ZMW|
|currency|ZWL|

<h2 id="tocS_PersonPmbacRemuneration">PersonPmbacRemuneration</h2>
<!-- backwards compatibility -->
<a id="schemapersonpmbacremuneration"></a>
<a id="schema_PersonPmbacRemuneration"></a>
<a id="tocSpersonpmbacremuneration"></a>
<a id="tocspersonpmbacremuneration"></a>

```json
{
  "interestRate": 0,
  "pmbacUpdateIndex": "IPCA"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|interestRate|number|false|none|Taxa de juros para capitalização da PMBaC.|
|pmbacUpdateIndex|string|false|none|Índice utilizado na atualização da PMBaC.|

#### Enumerated Values

|Property|Value|
|---|---|
|pmbacUpdateIndex|IPCA|
|pmbacUpdateIndex|IGP-M|
|pmbacUpdateIndex|INPC|

<h2 id="tocS_PersonBenefitRecalculation">PersonBenefitRecalculation</h2>
<!-- backwards compatibility -->
<a id="schemapersonbenefitrecalculation"></a>
<a id="schema_PersonBenefitRecalculation"></a>
<a id="tocSpersonbenefitrecalculation"></a>
<a id="tocspersonbenefitrecalculation"></a>

```json
{
  "benefitRecalculationCriteria": "INDICE",
  "benefitUpdateIndex": "IPCA"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|benefitRecalculationCriteria|string|true|none|none|
|benefitUpdateIndex|string|false|none|Índice utilizado na atualização do prêmio/contribuição e do capital segurado/ benefício,  caso critério de atualização por meio de índice|

#### Enumerated Values

|Property|Value|
|---|---|
|benefitRecalculationCriteria|INDICE|
|benefitRecalculationCriteria|VINCULADO_SALDO_DEVEDOR|
|benefitRecalculationCriteria|VARIAVEL_ACORDO_CRITERIO_ESPECIFICO|
|benefitUpdateIndex|IPCA|
|benefitUpdateIndex|IGP-M|
|benefitUpdateIndex|INPC|

<h2 id="tocS_PersonAgeAdjustment">PersonAgeAdjustment</h2>
<!-- backwards compatibility -->
<a id="schemapersonageadjustment"></a>
<a id="schema_PersonAgeAdjustment"></a>
<a id="tocSpersonageadjustment"></a>
<a id="tocspersonageadjustment"></a>

```json
{
  "criterion": "APOS_PERIODO_EM_ANOS",
  "frequency": 0
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|criterion|string|true|none|Critério escolhido para reenquadramento etário|
|frequency|integer|true|none|Período em anos, caso critério de reenquadramento após ou a cada período em anos.|

#### Enumerated Values

|Property|Value|
|---|---|
|criterion|APOS_PERIODO_EM_ANOS|
|criterion|A_CADA_PERIODO_EM_ANOS|
|criterion|POR_MUDANCA_DE_FAIXA_ETARIA|
|criterion|NAO_APLICAVEL|

<h2 id="tocS_personReclaimTable">personReclaimTable</h2>
<!-- backwards compatibility -->
<a id="schemapersonreclaimtable"></a>
<a id="schema_personReclaimTable"></a>
<a id="tocSpersonreclaimtable"></a>
<a id="tocspersonreclaimtable"></a>

```json
{
  "initialMonthRange": 1,
  "finalMonthRange": 12,
  "percentage": 0
}

```

Tabela Percentuais de resgate

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|initialMonthRange|integer|true|none|Mês inicial do range|
|finalMonthRange|integer|true|none|Mês final do range|
|percentage|number|true|none|Percentual da faixa de resgate|

<h2 id="tocS_PersonReclaim">PersonReclaim</h2>
<!-- backwards compatibility -->
<a id="schemapersonreclaim"></a>
<a id="schema_PersonReclaim"></a>
<a id="tocSpersonreclaim"></a>
<a id="tocspersonreclaim"></a>

```json
{
  "reclaimTable": [
    {
      "initialMonthRange": 1,
      "finalMonthRange": 12,
      "percentage": 0
    }
  ],
  "differentiatedPercentage": "string",
  "gracePeriod": {
    "details": "Descrições adicionais do período de carência",
    "amount": 60,
    "unit": "DIAS"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|reclaimTable|[[personReclaimTable](#schemapersonreclaimtable)]|false|none|Listagem de percentuais de resgate da PMBaC para cada conjunto de prazo aplicável e para cada combinação de modalidade/cobertura estruturados em regime de capitalização|
|differentiatedPercentage|string|false|none|Campo aberto (possibilidade de incluir URL).|
|gracePeriod|[PersonGracePeriodUnit](#schemapersongraceperiodunit)|true|none|Período de carência|

<h2 id="tocS_PersonPremiumPayment">PersonPremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemapersonpremiumpayment"></a>
<a id="schema_PersonPremiumPayment"></a>
<a id="tocSpersonpremiumpayment"></a>
<a id="tocspersonpremiumpayment"></a>

```json
{
  "paymentMethod": [
    "CARTAO_CREDITO"
  ],
  "frequency": [
    "DIARIA"
  ],
  "premiumTax": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|[string]|true|none|none|
|frequency|[string]|true|none|none|
|premiumTax|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas.|

<h2 id="tocS_PersonMinimumRequirements">PersonMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemapersonminimumrequirements"></a>
<a id="schema_PersonMinimumRequirements"></a>
<a id="tocSpersonminimumrequirements"></a>
<a id="tocspersonminimumrequirements"></a>

```json
{
  "contractingType": "COLETIVO",
  "contractingMinRequirement": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractingType|string|true|none|none|
|contractingMinRequirement|string|true|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|contractingType|COLETIVO|
|contractingType|INDIVIDUAL|

<h2 id="tocS_LinksPaginatedPerson">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinkspaginatedperson"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/person"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaPaginatedPerson">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametapaginatedperson"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorPerson">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorperson"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), formato UTC.|
|meta|[Meta](#schemametapaginatedperson)|false|none|none|

