<h2 id="tocS_ResponsePrivateGuaranteeList">ResponsePrivateGuaranteeList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseprivateguaranteelist"></a>
<a id="schema_ResponsePrivateGuaranteeList"></a>
<a id="tocSresponseprivateguaranteelist"></a>
<a id="tocsresponseprivateguaranteelist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "CONSTRUCAO_OBRAS",
                  "coverageDescription": "string",
                  "coverageAttributes": {
                    "maxLMI": {},
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string"
                  },
                  "allowApartPurchase": true
                }
              ],
              "traits": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumPayment": [
                {
                  "paymentMethod": "CARTAO_DE_CREDITO",
                  "paymentDetail": "string",
                  "paymentType": [
                    "A_VISTA"
                  ],
                  "premiumRates": "string"
                }
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414622222222222",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "contractType": [
                  "COLETIVO"
                ],
                "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/private-guarantee",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/private-guarantee",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/private-guarantee",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/private-guarantee",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/private-guarantee"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[PrivateGuaranteeBrand](#schemaprivateguaranteebrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinksprivateguara)|true|none|none|
|meta|[Meta](#schemametaprivateguara)|true|none|none|

<h2 id="tocS_PrivateGuaranteeBrand">PrivateGuaranteeBrand</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteebrand"></a>
<a id="schema_PrivateGuaranteeBrand"></a>
<a id="tocSprivateguaranteebrand"></a>
<a id="tocsprivateguaranteebrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "CONSTRUCAO_OBRAS",
              "coverageDescription": "string",
              "coverageAttributes": {
                "maxLMI": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "insuredParticipation": [
                  "FRANQUIA"
                ],
                "insuredParticipationDescription": "string"
              },
              "allowApartPurchase": true
            }
          ],
          "traits": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumPayment": [
            {
              "paymentMethod": "CARTAO_DE_CREDITO",
              "paymentDetail": "string",
              "paymentType": [
                "A_VISTA"
              ],
              "premiumRates": "string"
            }
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414622222222222",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "contractType": [
              "COLETIVO"
            ],
            "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[PrivateGuaranteeCompany](#schemaprivateguaranteecompany)|true|none|none|

<h2 id="tocS_PrivateGuaranteeCompany">PrivateGuaranteeCompany</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteecompany"></a>
<a id="schema_PrivateGuaranteeCompany"></a>
<a id="tocSprivateguaranteecompany"></a>
<a id="tocsprivateguaranteecompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "CONSTRUCAO_OBRAS",
            "coverageDescription": "string",
            "coverageAttributes": {
              "maxLMI": {
                "amount": 0,
                "unit": {
                  "code": "R$",
                  "description": "REAL"
                }
              },
              "insuredParticipation": [
                "FRANQUIA"
              ],
              "insuredParticipationDescription": "string"
            },
            "allowApartPurchase": true
          }
        ],
        "traits": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumPayment": [
          {
            "paymentMethod": "CARTAO_DE_CREDITO",
            "paymentDetail": "string",
            "paymentType": [
              "A_VISTA"
            ],
            "premiumRates": "string"
          }
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414622222222222",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "contractType": [
            "COLETIVO"
          ],
          "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[PrivateGuaranteeProduct](#schemaprivateguaranteeproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_PrivateGuaranteeProduct">PrivateGuaranteeProduct</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteeproduct"></a>
<a id="schema_PrivateGuaranteeProduct"></a>
<a id="tocSprivateguaranteeproduct"></a>
<a id="tocsprivateguaranteeproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "CONSTRUCAO_OBRAS",
        "coverageDescription": "string",
        "coverageAttributes": {
          "maxLMI": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          },
          "insuredParticipation": [
            "FRANQUIA"
          ],
          "insuredParticipationDescription": "string"
        },
        "allowApartPurchase": true
      }
    ],
    "traits": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumPayment": [
      {
        "paymentMethod": "CARTAO_DE_CREDITO",
        "paymentDetail": "string",
        "paymentType": [
          "A_VISTA"
        ],
        "premiumRates": "string"
      }
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414622222222222",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "contractType": [
        "COLETIVO"
      ],
      "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Nome Cobertura Contratatada - Básica|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos|
|» coverageAttributes|[PrivateGuaranteeCoverageAttributes](#schemaprivateguaranteecoverageattributes)|true|none|Informações de cobertura do Seguro.|
|» allowApartPurchase|boolean|true|none|Permissão para Contratação Separada|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|validity|[PrivateGuaranteeValidity](#schemaprivateguaranteevalidity)|true|none|none|
|premiumPayment|[PrivateGuaranteePremiumPayment](#schemaprivateguaranteepremiumpayment)|true|none|none|
|termsAndConditions|[PrivateGuaranteeTerms](#schemaprivateguaranteeterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[PrivateGuaranteeMinimumRequirements](#schemaprivateguaranteeminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|CONSTRUCAO_OBRAS|
|coverage|FORNECIMENTO|
|coverage|PRESTACAO_DE_SERVICOS|
|coverage|RETENCAO_DE_PAGAMENTOS|
|coverage|ADIANTAMENTO_DE_PAGAMENTOS|
|coverage|MANUTENCAO_CORRETIVA|
|coverage|IMOBILIARIO|
|coverage|FINANCEIRA|
|coverage|ACOES_TRABALHISTAS_E_PREVIDENCIARIAS|
|coverage|OUTRAS|

<h2 id="tocS_PrivateGuaranteeCoverageAttributes">PrivateGuaranteeCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteecoverageattributes"></a>
<a id="schema_PrivateGuaranteeCoverageAttributes"></a>
<a id="tocSprivateguaranteecoverageattributes"></a>
<a id="tocsprivateguaranteecoverageattributes"></a>

```json
{
  "maxLMI": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "insuredParticipation": [
    "FRANQUIA"
  ],
  "insuredParticipationDescription": "string"
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[PrivateGuaranteeLimit](#schemaprivateguaranteelimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura|
|insuredParticipation|[string]|true|none|Lista com indicativo do tipo de participação do segurado para cada cobertura.|
|insuredParticipationDescription|string|false|none|Lista com descrição referente ao campo “Participação do Segurado” para cada cobertura.|



<h2 id="tocS_PrivateGuaranteeLimit">PrivateGuaranteeLimit</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteelimit"></a>
<a id="schema_PrivateGuaranteeLimit"></a>
<a id="tocSprivateguaranteelimit"></a>
<a id="tocsprivateguaranteelimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": number,
    "unit": {
      "code": "R$",
      "description": "REAL"
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": number,
      "unit": {
        "code": "R$",
      "description": "REAL"
    },
  }
}
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[OthersScopesCoverageAttributesDetails](#schemaothersscopescoverageattributesdetails)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[OthersScopesCoverageAttributesDetails](#schemaothersscopescoverageattributesdetails)|false|none|none|



<h2 id="tocS_PrivateGuaranteeCoverageAttributesDetails">PrivateGuaranteeCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteecoverageattributesdetails"></a>
<a id="schema_PrivateGuaranteeCoverageAttributesDetails"></a>
<a id="tocSprivateguaranteecoverageattributesdetails"></a>
<a id="tocsprivateguaranteecoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[PrivateGuaranteeCoverageAttributesDetailsUnit](#schemaprivateguaranteecoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_PrivateGuaranteeCoverageAttributesDetailsUnit">PrivateGuaranteeCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteecoverageattributesdetailsunit"></a>
<a id="schema_PrivateGuaranteeCoverageAttributesDetailsUnit"></a>
<a id="tocSprivateguaranteecoverageattributesdetailsunit"></a>
<a id="tocsprivateguaranteecoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_PrivateGuaranteeValidity">PrivateGuaranteeValidity</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteevalidity"></a>
<a id="schema_PrivateGuaranteeValidity"></a>
<a id="tocSprivateguaranteevalidity"></a>
<a id="tocsprivateguaranteevalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_PrivateGuaranteePremiumPayment">PrivateGuaranteePremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteepremiumpayment"></a>
<a id="schema_PrivateGuaranteePremiumPayment"></a>
<a id="tocSprivateguaranteepremiumpayment"></a>
<a id="tocsprivateguaranteepremiumpayment"></a>

```json
[
  {
    "paymentMethod": "CARTAO_DE_CREDITO",
    "paymentDetail": "string",
    "paymentType": [
      "A_VISTA"
    ],
    "premiumRates": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|string|true|none|Metodo de pagamento|
|paymentDetail|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Meio de pagamento (acima)|
|paymentType|[string]|true|none|tipo de pagamento|
|premiumRates|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas|

#### Enumerated Values

|Property|Value|
|---|---|
|paymentMethod|CARTAO_DE_CREDITO|
|paymentMethod|CARTAO_DE_DEBITO|
|paymentMethod|DEBITO_EM_CONTA_CORRENTE|
|paymentMethod|DEBITO_EM_CONTA_POUPANCA|
|paymentMethod|BOLETO_BANCARIO|
|paymentMethod|PIX|
|paymentMethod|CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO|
|paymentMethod|PONTOS_DE_PROGRAMA_DE_BENEFICIO|
|paymentMethod|OUTROS|

<h2 id="tocS_PrivateGuaranteeTerms">PrivateGuaranteeTerms</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteeterms"></a>
<a id="schema_PrivateGuaranteeTerms"></a>
<a id="tocSprivateguaranteeterms"></a>
<a id="tocsprivateguaranteeterms"></a>

```json
{
  "susepProcessNumber": "15414622222222222",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo Susep, se houver.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_PrivateGuaranteeMinimumRequirements">PrivateGuaranteeMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemaprivateguaranteeminimumrequirements"></a>
<a id="schema_PrivateGuaranteeMinimumRequirements"></a>
<a id="tocSprivateguaranteeminimumrequirements"></a>
<a id="tocsprivateguaranteeminimumrequirements"></a>

```json
{
  "contractType": [
    "COLETIVO"
  ],
  "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractType|[string]|true|none|none|
|minimumRequirementDetails|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|
|targetAudiences|[string]|true|none|Público Alvo|

<h2 id="tocS_LinksPrivateGuara">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksprivateguara"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/private-guarantee",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/private-guarantee",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/private-guarantee",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/private-guarantee",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/private-guarantee"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaPrivateGuara">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametaprivateguara"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorPrivateGuara">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametaprivateguara)|false|none|none|

