<h2 id="tocS_ResponsePublicGuaranteeList">ResponsePublicGuaranteeList</h2>
<!-- backwards compatibility -->
<a id="schemaresponsepublicguaranteelist"></a>
<a id="schema_ResponsePublicGuaranteeList"></a>
<a id="tocSresponsepublicguaranteelist"></a>
<a id="tocsresponsepublicguaranteelist"></a>

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "LICITANTE",
                  "coverageDescription": "string",
                  "coverageAttributes": {
                    "maxLMI": {},
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string"
                  },
                  "allowApartPurchase": true
                }
              ],
              "traits": true,
              "validity": [
                {
                  "term": [
                    "ANUAL"
                  ],
                  "termOthers": "string"
                }
              ],
              "premiumPayment": [
                {
                  "paymentMethod": "CARTAO_DE_CREDITO",
                  "paymentDetail": "string",
                  "paymentType": "A_VISTA",
                  "premiumRates": [
                    "string"
                  ]
                }
              ],
              "termsAndConditions": {
                "susepProcessNumber": "15414622222222222",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "contractType": [
                  "COLETIVO"
                ],
                "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
                "targetAudiences": [
                  "PESSOA_NATURAL"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/public-guarantee",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/public-guarantee",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/public-guarantee",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/public-guarantee",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/public-guarantee"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[PublicGuaranteeBrand](#schemapublicguaranteebrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinkspublicguara)|true|none|none|
|meta|[Meta](#schemametapublicguara)|true|none|none|

<h2 id="tocS_PublicGuaranteeBrand">PublicGuaranteeBrand</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteebrand"></a>
<a id="schema_PublicGuaranteeBrand"></a>
<a id="tocSpublicguaranteebrand"></a>
<a id="tocspublicguaranteebrand"></a>

```json
{
  "name": "ACME Group Seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "coverages": [
            {
              "coverage": "LICITANTE",
              "coverageDescription": "string",
              "coverageAttributes": {
                "maxLMI": {
                  "type": "FINANCEIRO",
                  "amount": {
                    "amount": 0,
                    "unit": {}
                  },
                  "index": "LMG",
                  "maxIndexAmount": {
                    "amount": 0,
                    "unit": {}
                  }
                },
                "insuredParticipation": [
                  "FRANQUIA"
                ],
                "insuredParticipationDescription": "string"
              },
              "allowApartPurchase": true
            }
          ],
          "traits": true,
          "validity": [
            {
              "term": [
                "ANUAL"
              ],
              "termOthers": "string"
            }
          ],
          "premiumPayment": [
            {
              "paymentMethod": "CARTAO_DE_CREDITO",
              "paymentDetail": "string",
              "paymentType": "A_VISTA",
              "premiumRates": [
                "string"
              ]
            }
          ],
          "termsAndConditions": {
            "susepProcessNumber": "15414622222222222",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "minimumRequirements": {
            "contractType": [
              "COLETIVO"
            ],
            "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
            "targetAudiences": [
              "PESSOA_NATURAL"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[PublicGuaranteeCompany](#schemapublicguaranteecompany)|true|none|none|

<h2 id="tocS_PublicGuaranteeCompany">PublicGuaranteeCompany</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteecompany"></a>
<a id="schema_PublicGuaranteeCompany"></a>
<a id="tocSpublicguaranteecompany"></a>
<a id="tocspublicguaranteecompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "coverages": [
          {
            "coverage": "LICITANTE",
            "coverageDescription": "string",
            "coverageAttributes": {
              "maxLMI": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "LMG",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "insuredParticipation": [
                "FRANQUIA"
              ],
              "insuredParticipationDescription": "string"
            },
            "allowApartPurchase": true
          }
        ],
        "traits": true,
        "validity": [
          {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          }
        ],
        "premiumPayment": [
          {
            "paymentMethod": "CARTAO_DE_CREDITO",
            "paymentDetail": "string",
            "paymentType": "A_VISTA",
            "premiumRates": [
              "string"
            ]
          }
        ],
        "termsAndConditions": {
          "susepProcessNumber": "15414622222222222",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "minimumRequirements": {
          "contractType": [
            "COLETIVO"
          ],
          "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
          "targetAudiences": [
            "PESSOA_NATURAL"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da sociedade pertencente à marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[PublicGuaranteeProduct](#schemapublicguaranteeproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_PublicGuaranteeProduct">PublicGuaranteeProduct</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteeproduct"></a>
<a id="schema_PublicGuaranteeProduct"></a>
<a id="tocSpublicguaranteeproduct"></a>
<a id="tocspublicguaranteeproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "coverages": [
      {
        "coverage": "LICITANTE",
        "coverageDescription": "string",
        "coverageAttributes": {
          "maxLMI": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "LMG",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          },
          "insuredParticipation": [
            "FRANQUIA"
          ],
          "insuredParticipationDescription": "string"
        },
        "allowApartPurchase": true
      }
    ],
    "traits": true,
    "validity": [
      {
        "term": [
          "ANUAL"
        ],
        "termOthers": "string"
      }
    ],
    "premiumPayment": [
      {
        "paymentMethod": "CARTAO_DE_CREDITO",
        "paymentDetail": "string",
        "paymentType": "A_VISTA",
        "premiumRates": [
          "string"
        ]
      }
    ],
    "termsAndConditions": {
      "susepProcessNumber": "15414622222222222",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "minimumRequirements": {
      "contractType": [
        "COLETIVO"
      ],
      "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
      "targetAudiences": [
        "PESSOA_NATURAL"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Nome Cobertura Contratatada - Básica|
|» coverageDescription|string|true|none|Descrição Cobertura Contratatada - Básica|
|» coverageAttributes|[PublicGuaranteeCoverageAttributes](#schemapublicguaranteecoverageattributes)|true|none|Informações de cobertura do Seguro.|
|» allowApartPurchase|boolean|true|none|Permissão para Contratação Separada|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica|
|validity|[PublicGuaranteeValidity](#schemapublicguaranteevalidity)|true|none|none|
|premiumPayment|[PublicGuaranteePremiumPayment](#schemapublicguaranteepremiumpayment)|true|none|none|
|termsAndConditions|[PublicGuaranteeTerms](#schemapublicguaranteeterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|minimumRequirements|[PublicGuaranteeMinimumRequirements](#schemapublicguaranteeminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|coverage|LICITANTE|
|coverage|CONSTRUCAO_OBRAS|
|coverage|FORNECIMENTO|
|coverage|PRESTACAO_DE_SERVICOS|
|coverage|RETENCAO_DE_PAGAMENTOS|
|coverage|ADIANTAMENTO_DE_PAGAMENTOS|
|coverage|MANUTENCAO_CORRETIVA|
|coverage|JUDICIAL|
|coverage|JUDICIAL_CIVIL|
|coverage|JUDICIAL_TRABALHISTA|
|coverage|JUDICIAL_TRIBUTARIO|
|coverage|JUDICIAL_DEPOSITO_RECURSAL|
|coverage|JUDICIAL_PARA_EXECUCAO_FISCAL|
|coverage|PARCELAMENTO_ADMINISTRATIVO|
|coverage|ADUANEIRO|
|coverage|ADMINISTRATIVO_DE_CREDITOS_TRIBUTARIOS|
|coverage|ACOES_TRABALHISTAS_E_PREVIDENCIARIAS|
|coverage|OUTRAS|

<h2 id="tocS_PublicGuaranteeCoverageAttributes">PublicGuaranteeCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteecoverageattributes"></a>
<a id="schema_PublicGuaranteeCoverageAttributes"></a>
<a id="tocSpublicguaranteecoverageattributes"></a>
<a id="tocspublicguaranteecoverageattributes"></a>

```json
{
  "maxLMI": {
    "type": "FINANCEIRO",
    "amount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    },
    "index": "LMG",
    "maxIndexAmount": {
      "amount": 0,
      "unit": {
        "code": "R$",
        "description": "REAL"
      }
    }
  },
  "insuredParticipation": [
    "FRANQUIA"
  ],
  "insuredParticipationDescription": "string"
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|maxLMI|[PublicGuaranteeLimit](#schemapublicguaranteelimit)|true|none|Lista com valor de LMI aceito pela sociedade para cada cobertura.|
|insuredParticipation|[string]|true|none|Lista com indicativo do tipo de participação do segurado para cada cobertura.|
|insuredParticipationDescription|string|false|none|Lista com descrição referente ao campo “Participação do Segurado” para cada cobertura.|

<h2 id="tocS_PublicGuaranteeLimit">PublicGuaranteeLimit</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteelimit"></a>
<a id="schema_PublicGuaranteeLimit"></a>
<a id="tocSpublicguaranteelimit"></a>
<a id="tocspublicguaranteelimit"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "LMG",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMI aceito pela sociedade para cada cobertura.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[PublicGuaranteeCoverageAttributesDetails](#schemapublicguaranteecoverageattributesdetails)|true|none|none|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[PublicGuaranteeCoverageAttributesDetails](#schemapublicguaranteecoverageattributesdetails)|false|none|none|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|LMG|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_PublicGuaranteeCoverageAttributesDetails">PublicGuaranteeCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteecoverageattributesdetails"></a>
<a id="schema_PublicGuaranteeCoverageAttributesDetails"></a>
<a id="tocSpublicguaranteecoverageattributesdetails"></a>
<a id="tocspublicguaranteecoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[PublicGuaranteeCoverageAttributesDetailsUnit](#schemapublicguaranteecoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_PublicGuaranteeCoverageAttributesDetailsUnit">PublicGuaranteeCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteecoverageattributesdetailsunit"></a>
<a id="schema_PublicGuaranteeCoverageAttributesDetailsUnit"></a>
<a id="tocSpublicguaranteecoverageattributesdetailsunit"></a>
<a id="tocspublicguaranteecoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_PublicGuaranteeValidity">PublicGuaranteeValidity</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteevalidity"></a>
<a id="schema_PublicGuaranteeValidity"></a>
<a id="tocSpublicguaranteevalidity"></a>
<a id="tocspublicguaranteevalidity"></a>

```json
[
  {
    "term": [
      "ANUAL"
    ],
    "termOthers": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_PublicGuaranteePremiumPayment">PublicGuaranteePremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteepremiumpayment"></a>
<a id="schema_PublicGuaranteePremiumPayment"></a>
<a id="tocSpublicguaranteepremiumpayment"></a>
<a id="tocspublicguaranteepremiumpayment"></a>

```json
[
  {
    "paymentMethod": "CARTAO_DE_CREDITO",
    "paymentDetail": "string",
    "paymentType": "A_VISTA",
    "premiumRates": [
      "string"
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|string|true|none|Metodo de pagamento|
|paymentDetail|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Meio de pagamento (acima)|
|paymentType|string|true|none|tipo de pagamento|
|premiumRates|[string]|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas.|

#### Enumerated Values

|Property|Value|
|---|---|
|paymentMethod|CARTAO_DE_CREDITO|
|paymentMethod|CARTAO_DE_DEBITO|
|paymentMethod|DEBITO_EM_CONTA_CORRENTE|
|paymentMethod|DEBITO_EM_CONTA_POUPANCA|
|paymentMethod|BOLETO_BANCARIO|
|paymentMethod|PIX|
|paymentMethod|CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO|
|paymentMethod|PONTOS_DE_PROGRAMA_DE_BENEFICIO|
|paymentMethod|OUTROS|
|paymentType|A_VISTA|
|paymentType|PARCELADO|

<h2 id="tocS_PublicGuaranteeTerms">PublicGuaranteeTerms</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteeterms"></a>
<a id="schema_PublicGuaranteeTerms"></a>
<a id="tocSpublicguaranteeterms"></a>
<a id="tocspublicguaranteeterms"></a>

```json
{
  "susepProcessNumber": "15414622222222222",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo SUSEP, se houver.|
|definition|string|true|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_PublicGuaranteeMinimumRequirements">PublicGuaranteeMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemapublicguaranteeminimumrequirements"></a>
<a id="schema_PublicGuaranteeMinimumRequirements"></a>
<a id="tocSpublicguaranteeminimumrequirements"></a>
<a id="tocspublicguaranteeminimumrequirements"></a>

```json
{
  "contractType": [
    "COLETIVO"
  ],
  "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
  "targetAudiences": [
    "PESSOA_NATURAL"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractType|[string]|true|none|none|
|minimumRequirementDetails|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|
|targetAudiences|[string]|true|none|Público Alvo|

<h2 id="tocS_LinksPublicGuara">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksoublicguara"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/public-guarantee",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/public-guarantee",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/public-guarantee",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/public-guarantee",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/public-guarantee"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaPublicGuara">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametapublicguara"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorPublicGuara">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametapublicguara)|false|none|none|

