<h2 id="tocS_ResponseRuralList">ResponseRuralList</h2>
<!-- backwards compatibility -->
<a id="schemaresponserurallist"></a>
<a id="schema_ResponseRuralList"></a>
<a id="tocSresponserurallist"></a>
<a id="tocsresponserurallist"></a>

```json
{
  "data": {
    "brand": {
      "name": "EMPRESA A seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "modality": "AGRICOLA",
              "coverages": [
                {
                  "coverage": "GRANIZO",
                  "coverageDescription": "string",
                  "allowApartPurchase": true,
                  "coverageAttributes": {
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string"
                  }
                }
              ],
              "maxLMG": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "FINANCEIRO_COBERTURA",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "traits": false,
              "crops": [
                "FRUTAS"
              ],
              "cropsOthers": "string",
              "forestCode": [
                "PINUS"
              ],
              "forestCodeOthers": "string",
              "flockCode": [
                "BOVINOS"
              ],
              "flockCodeOthers": "string",
              "animalDestination": [
                "PRODUCAO"
              ],
              "animalsClassification": [
                "LAZER"
              ],
              "subvention": true,
              "termsAndConditions": {
                "susepProcessNumber": "15414.622222/2222-22",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "validity": {
                "term": [
                  "ANUAL"
                ],
                "termOthers": "string"
              },
              "premiumPayment": [
                {
                  "paymentMethod": "CARTAO_DE_CREDITO",
                  "paymentDetail": "string",
                  "paymentType": [
                    "A_VISTA"
                  ],
                  "premiumRates": "string"
                }
              ],
              "minimumRequirements": {
                "contractType": [
                  "COLETIVO"
                ],
                "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
                "targetAudiences": [
                  "PESSOA_FISICA"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|[RuralBrand](#schemaruralbrand)|true|none|Organizacao controladora do grupo.|
|links|[Links](#schemalinksrural)|true|none|none|
|meta|[Meta](#schemametarural)|true|none|none|

<h2 id="tocS_RuralBrand">RuralBrand</h2>
<!-- backwards compatibility -->
<a id="schemaruralbrand"></a>
<a id="schema_RuralBrand"></a>
<a id="tocSruralbrand"></a>
<a id="tocsruralbrand"></a>

```json
{
  "name": "EMPRESA A seguros",
  "companies": [
    {
      "name": "ACME Seguros",
      "cnpjNumber": "12345678901234",
      "products": [
        {
          "name": "Produto de Seguro",
          "code": "01234589-0",
          "modality": "AGRICOLA",
          "coverages": [
            {
              "coverage": "GRANIZO",
              "coverageDescription": "string",
              "allowApartPurchase": true,
              "coverageAttributes": {
                "insuredParticipation": [
                  "FRANQUIA"
                ],
                "insuredParticipationDescription": "string"
              }
            }
          ],
          "maxLMG": {
            "type": "FINANCEIRO",
            "amount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            },
            "index": "FINANCEIRO_COBERTURA",
            "maxIndexAmount": {
              "amount": 0,
              "unit": {
                "code": "R$",
                "description": "REAL"
              }
            }
          },
          "traits": false,
          "crops": [
            "FRUTAS"
          ],
          "cropsOthers": "string",
          "forestCode": [
            "PINUS"
          ],
          "forestCodeOthers": "string",
          "flockCode": [
            "BOVINOS"
          ],
          "flockCodeOthers": "string",
          "animalDestination": [
            "PRODUCAO"
          ],
          "animalsClassification": [
            "LAZER"
          ],
          "subvention": true,
          "termsAndConditions": {
            "susepProcessNumber": "15414.622222/2222-22",
            "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
          },
          "validity": {
            "term": [
              "ANUAL"
            ],
            "termOthers": "string"
          },
          "premiumPayment": [
            {
              "paymentMethod": "CARTAO_DE_CREDITO",
              "paymentDetail": "string",
              "paymentType": [
                "A_VISTA"
              ],
              "premiumRates": "string"
            }
          ],
          "minimumRequirements": {
            "contractType": [
              "COLETIVO"
            ],
            "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
            "targetAudiences": [
              "PESSOA_FISICA"
            ]
          }
        }
      ]
    }
  ]
}

```

Organizacao controladora do grupo.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|companies|[RuralCompany](#schemaruralcompany)|true|none|none|

<h2 id="tocS_RuralCompany">RuralCompany</h2>
<!-- backwards compatibility -->
<a id="schemaruralcompany"></a>
<a id="schema_RuralCompany"></a>
<a id="tocSruralcompany"></a>
<a id="tocsruralcompany"></a>

```json
[
  {
    "name": "ACME Seguros",
    "cnpjNumber": "12345678901234",
    "products": [
      {
        "name": "Produto de Seguro",
        "code": "01234589-0",
        "modality": "AGRICOLA",
        "coverages": [
          {
            "coverage": "GRANIZO",
            "coverageDescription": "string",
            "allowApartPurchase": true,
            "coverageAttributes": {
              "insuredParticipation": [
                "FRANQUIA"
              ],
              "insuredParticipationDescription": "string"
            }
          }
        ],
        "maxLMG": {
          "type": "FINANCEIRO",
          "amount": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          },
          "index": "FINANCEIRO_COBERTURA",
          "maxIndexAmount": {
            "amount": 0,
            "unit": {
              "code": "R$",
              "description": "REAL"
            }
          }
        },
        "traits": false,
        "crops": [
          "FRUTAS"
        ],
        "cropsOthers": "string",
        "forestCode": [
          "PINUS"
        ],
        "forestCodeOthers": "string",
        "flockCode": [
          "BOVINOS"
        ],
        "flockCodeOthers": "string",
        "animalDestination": [
          "PRODUCAO"
        ],
        "animalsClassification": [
          "LAZER"
        ],
        "subvention": true,
        "termsAndConditions": {
          "susepProcessNumber": "15414.622222/2222-22",
          "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
        },
        "validity": {
          "term": [
            "ANUAL"
          ],
          "termOthers": "string"
        },
        "premiumPayment": [
          {
            "paymentMethod": "CARTAO_DE_CREDITO",
            "paymentDetail": "string",
            "paymentType": [
              "A_VISTA"
            ],
            "premiumRates": "string"
          }
        ],
        "minimumRequirements": {
          "contractType": [
            "COLETIVO"
          ],
          "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
          "targetAudiences": [
            "PESSOA_FISICA"
          ]
        }
      }
    ]
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da Instituição, pertencente à Marca.|
|cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca.|
|products|[RuralProduct](#schemaruralproduct)|true|none|Lista de produtos de uma empresa.|

<h2 id="tocS_RuralProduct">RuralProduct</h2>
<!-- backwards compatibility -->
<a id="schemaruralproduct"></a>
<a id="schema_RuralProduct"></a>
<a id="tocSruralproduct"></a>
<a id="tocsruralproduct"></a>

```json
[
  {
    "name": "Produto de Seguro",
    "code": "01234589-0",
    "modality": "AGRICOLA",
    "coverages": [
      {
        "coverage": "GRANIZO",
        "coverageDescription": "string",
        "allowApartPurchase": true,
        "coverageAttributes": {
          "insuredParticipation": [
            "FRANQUIA"
          ],
          "insuredParticipationDescription": "string"
        }
      }
    ],
    "maxLMG": {
      "type": "FINANCEIRO",
      "amount": {
        "amount": 0,
        "unit": {
          "code": "R$",
          "description": "REAL"
        }
      },
      "index": "FINANCEIRO_COBERTURA",
      "maxIndexAmount": {
        "amount": 0,
        "unit": {
          "code": "R$",
          "description": "REAL"
        }
      }
    },
    "traits": false,
    "crops": [
      "FRUTAS"
    ],
    "cropsOthers": "string",
    "forestCode": [
      "PINUS"
    ],
    "forestCodeOthers": "string",
    "flockCode": [
      "BOVINOS"
    ],
    "flockCodeOthers": "string",
    "animalDestination": [
      "PRODUCAO"
    ],
    "animalsClassification": [
      "LAZER"
    ],
    "subvention": true,
    "termsAndConditions": {
      "susepProcessNumber": "15414.622222/2222-22",
      "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
    },
    "validity": {
      "term": [
        "ANUAL"
      ],
      "termOthers": "string"
    },
    "premiumPayment": [
      {
        "paymentMethod": "CARTAO_DE_CREDITO",
        "paymentDetail": "string",
        "paymentType": [
          "A_VISTA"
        ],
        "premiumRates": "string"
      }
    ],
    "minimumRequirements": {
      "contractType": [
        "COLETIVO"
      ],
      "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
      "targetAudiences": [
        "PESSOA_FISICA"
      ]
    }
  }
]

```

Lista de produtos de uma empresa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|code|string|true|none|Código único a ser definido pela sociedade.|
|modality|string|true|none|Modalidade|
|coverages|[object]|true|none|none|
|» coverage|string|true|none|Listagem de coberturas incluídas no produto que deve observar a relação discriminada de coberturas, conforme Tabela II.17 do Anexo II.|
|» coverageDescription|string|true|none|Campo aberto para detalhamento de cada uma das coberturas possíveis dos produtos a ser feito por cada participante|
|» allowApartPurchase|boolean|true|none|Indicação se a cobertura permite contratação separada (por cobertura selecionada).|
|» coverageAttributes|[RuralCoverageAttributes](#schemaruralcoverageattributes)|true|none|Informações de cobertura do Seguro.|
|maxLMG|[RuralCoverageLimitGuarantee](#schemaruralcoveragelimitguarantee)|true|none|Lista com valor de LMG aceito pela sociedade para cada produto|
|traits|boolean|true|none|Indicação se o produto é classificado como destinado para cobertura de grandes riscos, sendo tal classificação de acordo com regulamentação específica.|
|crops|[string]|false|none|Lista com tipos de culturas cobertas. OBS: Condicional a seleção de 1. Agrícola no campo Modalidade|
|cropsOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Culturas OBS: Condicional a seleção de 5. Outros no campo acima|
|forestCode|[string]|false|none|Lista com tipos de florestas cobertas. OBS: Condicional a seleção de 4. Florestas no campo Modalidade|
|forestCodeOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Código Floresta OBS: Condicional a seleção de 5. Outros no campo acima|
|flockCode|[string]|false|none|Lista com tipos de rebanhos cobertos. OBS: Condicional a seleção de 2. Pecuário no campo Modalidade|
|flockCodeOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Código do Rebanho OBS: Condicional a seleção de 8. Outros no campo acima|
|animalDestination|[string]|false|none|Lista com tipos de destinação do animal coberto. OBS: Condicional a seleção de 2. Pecuário no campo Modalidade|
|animalsClassification|[string]|false|none|Listas com classificações de animais cobertos. OBS: Condicional a seleção de 8. Animais no campo Modalidade|
|subvention|boolean|false|none|Permite contratação por subvenção? OBS: Condicional a seleção de 1. Agrícola, 2. Pecuário, 3. Aquícola ou 4. Florestas no campo Modalidade|
|termsAndConditions|[RuralTerms](#schemaruralterms)|true|none|Informações dos termos e condições conforme número do processo SUSEP.|
|validity|[RuralValidity](#schemaruralvalidity)|true|none|none|
|premiumPayment|[RuralPremiumPayment](#schemaruralpremiumpayment)|true|none|none|
|minimumRequirements|[RuralMinimumRequirements](#schemaruralminimumrequirements)|true|none|Requisitos mínimos.|

#### Enumerated Values

|Property|Value|
|---|---|
|modality|AGRICOLA|
|modality|PECUARIO|
|modality|AQUICOLA|
|modality|FLORESTAS|
|modality|BENFEITORIAS_E_PRODUTOS_AGROPECUARIOS|
|modality|PENHOR_RURAL|
|modality|ANIMAIS|
|modality|VIDA_DO_PRODUTOR_RURAL|
|coverage|GRANIZO|
|coverage|GEADA|
|coverage|GRANIZO_GEADA|
|coverage|GRANIZO_GEADA_CHUVA_EXCESSIVA|
|coverage|COMPREENSIVA_INCENDIO_E_RAIO_TROMBA_D_AGUA_VENTOS_FORTES_E_VENTOS_FRIOS_CHUVAS_EXCESSIVAS_SECA_VARIACAO_EXCESSIVA_DE_TEMPERATURA_GRANIZO_GEADA|
|coverage|COMPREENSIVA_INCENDIO_E_RAIO_TROMBA_D_AGUA_VENTOS_FORTES_E_VENTOS_FRIOS_CHUVAS_EXCESSIVAS_SECA_VARIACAO_EXCESSIVA_DE_TEMPERATURA_GRANIZO_GEADA_COM_DOENCAS_E_PRAGAS|
|coverage|CANCRO_CITRICO|
|coverage|COMPREENSIVA_PARA_A_MODALIDADE_BENFEITORIAS_E_PRODUTOS_AGROPECUARIOS_INCENDIO_RAIO_EXPLOSAO_VENDAVAL_GRANIZO_TREMORES_DE_TERRA_IMPACTO_DE_VEICULOS_DESMORONAMENTO_TOTAL_OU_PARCIAL_DANOS_AS_MERCADORIAS_DO_SEGURADO_EXCLUSIVAMENTE_PARA_OS_PRODUTOS_AGROPECUARIOS_DECORRENTES_DE_ACIDENTES_COM_O_VEICULO_TRANSPORTADOR_DANOS_AS_MAQUINAS_AGRICOLAS_E_SEUS_IMPLEMENTOS_DECORRENTES_DE_COLISAO_ABALROAMENTO_E_OU_CAPOTAGEM_QUEDA_DE_PONTES_VIADUTOS_OU_EM_PRECIPICIOS_ROUBO_OU_FURTO_TOTAL_CASO_FORTUITO_OU_FORCA_MAIOR_OCORRIDOS_DURANTE_O_TRANSPORTE|
|coverage|COMPREENSIVA_PARA_A_MODALIDADE_PENHOR_RURAL|
|coverage|MORTE_DE_ANIMAIS|
|coverage|CONFINAMENTO_SEMI_CONFINAMENTO_BOVINOS_DE_CORTE|
|coverage|CONFINAMENTO_BOVINOS_DE_LEITE|
|coverage|VIAGEM|
|coverage|EXPOSICAO_MOSTRA_E_LEILAO|
|coverage|CARREIRA|
|coverage|SALTO_E_ADESTRAMENTO|
|coverage|PROVAS_FUNCIONAIS|
|coverage|HIPISMO_RURAL|
|coverage|POLO|
|coverage|TROTE|
|coverage|VAQUEJADA|
|coverage|EXTENSAO_DE_COBERTURA_EM_TERRITORIO_ESTRANGEIRO|
|coverage|TRANSPORTE|
|coverage|RESPONSABILIDADE_CIVIL|
|coverage|PERDA_DE_FERTILIDADE_DE_GARANHAO|
|coverage|REEMBOLSO_CIRURGICO|
|coverage|COLETA_DE_SEMEN|
|coverage|PREMUNICAO|
|coverage|COMPREENSIVA_PARA_A_MODALIDADE_FLORESTAS|
|coverage|VIDA_DO_PRODUTOR_RURAL|
|coverage|BASICA_DE_FATURAMENTO_PARA_O_PECUARIO|
|coverage|OUTRAS|

<h2 id="tocS_RuralCoverageLimitGuarantee">RuralCoverageLimitGuarantee</h2>
<!-- backwards compatibility -->
<a id="schemaruralcoveragelimitguarantee"></a>
<a id="schema_RuralCoverageLimitGuarantee"></a>
<a id="tocSruralcoveragelimitguarantee"></a>
<a id="tocsruralcoveragelimitguarantee"></a>

```json
{
  "type": "FINANCEIRO",
  "amount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  },
  "index": "FINANCEIRO_COBERTURA",
  "maxIndexAmount": {
    "amount": 0,
    "unit": {
      "code": "R$",
      "description": "REAL"
    }
  }
}

```

Lista com valor de LMG aceito pela sociedade para cada produto

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|none|
|amount|[RuralCoverageAttributesDetails](#schemaruralcoverageattributesdetails)|true|none|Valor de LMG aceito pela sociedade para cada produto. Em reais (R$) Importante: Campo de valor numérico relacionado ao produto que possui o campo. Quando não houver o campo, enviar o valor zerado.|
|index|string|false|none|Indexador. Condicional, vinculado ao preenchimento do campo Tipo com Percentual|
|maxIndexAmount|[RuralCoverageAttributesDetails](#schemaruralcoverageattributesdetails)|false|none|Valor de LMG aceito pela sociedade para cada produto. Em reais (R$) Importante: Campo de valor numérico relacionado ao produto que possui o campo. Quando não houver o campo, enviar o valor zerado.|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FINANCEIRO|
|type|PERCENTUAL|
|index|FINANCEIRO_COBERTURA|
|index|OUTRO|

<h2 id="tocS_RuralCoverageAttributesDetails">RuralCoverageAttributesDetails</h2>
<!-- backwards compatibility -->
<a id="schemaruralcoverageattributesdetails"></a>
<a id="schema_RuralCoverageAttributesDetails"></a>
<a id="tocSruralcoverageattributesdetails"></a>
<a id="tocsruralcoverageattributesdetails"></a>

```json
{
  "amount": 0,
  "unit": {
    "code": "R$",
    "description": "REAL"
  }
}

```

Valor de LMG aceito pela sociedade para cada produto. Em reais (R$) Importante: Campo de valor numérico relacionado ao produto que possui o campo. Quando não houver o campo, enviar o valor zerado.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|unit|[RuralCoverageAttributesDetailsUnit](#schemaruralcoverageattributesdetailsunit)|true|none|none|

<h2 id="tocS_RuralCoverageAttributesDetailsUnit">RuralCoverageAttributesDetailsUnit</h2>
<!-- backwards compatibility -->
<a id="schemaruralcoverageattributesdetailsunit"></a>
<a id="schema_RuralCoverageAttributesDetailsUnit"></a>
<a id="tocSruralcoverageattributesdetailsunit"></a>
<a id="tocsruralcoverageattributesdetailsunit"></a>

```json
{
  "code": "R$",
  "description": "REAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|code|string|true|none|none|
|description|string|true|none|none|

<h2 id="tocS_RuralValidity">RuralValidity</h2>
<!-- backwards compatibility -->
<a id="schemaruralvalidity"></a>
<a id="schema_RuralValidity"></a>
<a id="tocSruralvalidity"></a>
<a id="tocsruralvalidity"></a>

```json
{
  "term": [
    "ANUAL"
  ],
  "termOthers": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|term|[string]|true|none|none|
|termOthers|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Prazo (acima).|

<h2 id="tocS_RuralPremiumPayment">RuralPremiumPayment</h2>
<!-- backwards compatibility -->
<a id="schemaruralpremiumpayment"></a>
<a id="schema_RuralPremiumPayment"></a>
<a id="tocSruralpremiumpayment"></a>
<a id="tocsruralpremiumpayment"></a>

```json
[
  {
    "paymentMethod": "CARTAO_DE_CREDITO",
    "paymentDetail": "string",
    "paymentType": [
      "A_VISTA"
    ],
    "premiumRates": "string"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|paymentMethod|string|true|none|Metodo de pagamento|
|paymentDetail|string|false|none|Campo livre para descrição por cada participante ao selecionar o domínio “Outros” no campo Meio de pagamento (acima)|
|paymentType|[string]|true|none|Forma de Pagamento|
|premiumRates|string|false|none|Distribuição de frequência relativa aos valores referentes às taxas cobradas, nos termos do Anexo III.|

#### Enumerated Values

|Property|Value|
|---|---|
|paymentMethod|CARTAO_DE_CREDITO|
|paymentMethod|CARTAO_DE_DEBITO|
|paymentMethod|DEBITO_EM_CONTA_CORRENTE|
|paymentMethod|DEBITO_EM_CONTA_POUPANCA|
|paymentMethod|BOLETO_BANCARIO|
|paymentMethod|PIX|
|paymentMethod|CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO|
|paymentMethod|PONTOS_DE_PROGRAMA_DE_BENEFICIO|
|paymentMethod|OUTROS|

<h2 id="tocS_RuralTerms">RuralTerms</h2>
<!-- backwards compatibility -->
<a id="schemaruralterms"></a>
<a id="schema_RuralTerms"></a>
<a id="tocSruralterms"></a>
<a id="tocsruralterms"></a>

```json
{
  "susepProcessNumber": "15414.622222/2222-22",
  "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
}

```

Informações dos termos e condições conforme número do processo SUSEP.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepProcessNumber|string|false|none|Número do processo Susep. OBS: Condicional a seleção de 2. Não no campo acima.|
|definition|string|false|none|Campo aberto (possibilidade de incluir uma url).|

<h2 id="tocS_RuralMinimumRequirements">RuralMinimumRequirements</h2>
<!-- backwards compatibility -->
<a id="schemaruralminimumrequirements"></a>
<a id="schema_RuralMinimumRequirements"></a>
<a id="tocSruralminimumrequirements"></a>
<a id="tocsruralminimumrequirements"></a>

```json
{
  "contractType": [
    "COLETIVO"
  ],
  "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
  "targetAudiences": [
    "PESSOA_FISICA"
  ]
}

```

Requisitos mínimos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractType|[string]|true|none|none|
|minimumRequirementDetails|string|true|none|Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL).|
|targetAudiences|[string]|true|none|none|

<h2 id="tocS_RuralCoverageAttributes">RuralCoverageAttributes</h2>
<!-- backwards compatibility -->
<a id="schemaruralcoverageattributes"></a>
<a id="schema_RuralCoverageAttributes"></a>
<a id="tocSruralcoverageattributes"></a>
<a id="tocsruralcoverageattributes"></a>

```json
{
  "insuredParticipation": [
    "FRANQUIA"
  ],
  "insuredParticipationDescription": "string"
}

```

Informações de cobertura do Seguro.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|insuredParticipation|[string]|true|none|Lista com indicativo do tipo de participação do segurado para cada cobertura.|
|insuredParticipationDescription|string|false|none|Lista com descrição referente ao campo “Participação do Segurado” para cada cobertura. OBS: Obrigatório, quando houver|

<h2 id="tocS_LinksRural">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksrural"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
  "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
  "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
  "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
  "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_MetaRural">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametarural"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorRural">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação [RFC-3339](https://www.rfc-editor.org/rfc/rfc3339), formato UTC.|
|meta|[Meta](#schemametarural)|false|none|none|

 