<h2 id="tocS_ResponseElectronicChannelsList">ResponseElectronicChannelsList</h2>
<!-- backwards compatibility -->
<a id="schemaresponseelectronicchannelslist"></a>
<a id="schema_ResponseElectronicChannelsList"></a>
<a id="tocSresponseelectronicchannelslist"></a>
<a id="tocsresponseelectronicchannelslist"></a>

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-insurance",
          "electronicChannels": [
            {
              "identification": {
                "type": "INTERNET",
                "urls": [
                  "https://empresa1.com/insurance"
                ]
              },
              "services": [
                {
                  "name": "SEGUROS",
                  "code": "SEGUROS"
                }
              ]
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/channels/v1/electronic-channels",
    "first": "https://api.organizacao.com.br/open-insurance/channels/v1/electronic-channels",
    "prev": "null",
    "next": "null",
    "last": "https://api.organizacao.com.br/open-insurance/channels/v1/electronic-channels"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|brand|[ElectronicChannelsBrand](#schemaelectronicchannelsbrand)|false|none|none|
|links|[LinksPaginated](#schemalinkspaginated_data_channels)|true|none|none|
|meta|[MetaPaginated](#schemametapaginated)|true|none|none|

<h2 id="tocS_ElectronicChannelsBrand">ElectronicChannelsBrand</h2>
<!-- backwards compatibility -->
<a id="schemaelectronicchannelsbrand"></a>
<a id="schema_ElectronicChannelsBrand"></a>
<a id="tocSelectronicchannelsbrand"></a>
<a id="tocselectronicchannelsbrand"></a>

```json
{
  "name": "Marca A",
  "companies": [
    {
      "name": "Empresa da Marca A",
      "cnpjNumber": "string",
      "electronicChannels": [
        {
          "identification": {
            "type": "CHAT",
            "accessType": "EMAIL",
            "urls": [
              "string"
            ]
          },
          "services": [
            {
              "name": "ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA",
              "code": "RECLAMACAO"
            }
          ],
          "availability": {
            "standards": [
              {
                "weekday": "SEGUNDA_FEIRA",
                "openingTime": "10:00:57Z",
                "closingTime": "16:00:57Z"
              }
            ]
          }
        }
      ]
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da marca selecionada pela Organização proprietária da dependência (titular).|
|companies|[[ElectronicChannelsCompanies](#schemaelectronicchannelscompanies)]|true|none|Lista de instituições pertencentes à marca|

<h2 id="tocS_ElectronicChannelsCompanies">ElectronicChannelsCompanies</h2>
<!-- backwards compatibility -->
<a id="schemaelectronicchannelscompanies"></a>
<a id="schema_ElectronicChannelsCompanies"></a>
<a id="tocSelectronicchannelscompanies"></a>
<a id="tocselectronicchannelscompanies"></a>

```json
{
  "name": "Empresa da Marca A",
  "cnpjNumber": "string",
  "electronicChannels": [
    {
      "identification": {
        "type": "CHAT",
        "accessType": "EMAIL",
        "urls": [
          "string"
        ]
      },
      "services": [
        {
          "name": "ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA",
          "code": "RECLAMACAO"
        }
      ],
      "availability": {
        "standards": [
          {
            "weekday": "SEGUNDA_FEIRA",
            "openingTime": "10:00:57Z",
            "closingTime": "16:00:57Z"
          }
        ]
      }
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome da marca selecionada pela Organização proprietária da dependência (titular).|
|cnpjNumber|string|true|none|CNPJ da sociedade responsável pelo canal de atendimento - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica.|
|electronicChannels|[[ElectronicChannels](#schemaelectronicchannels)]|true|none|Lista  de canais de atendimento eltrônico|

<h2 id="tocS_Branch">Branch</h2>
<!-- backwards compatibility -->
<a id="schemabranch"></a>
<a id="schema_Branch"></a>
<a id="tocSbranch"></a>
<a id="tocsbranch"></a>

```json
{
  "identification": {
    "type": "POSTO_ATENDIMENTO",
    "code": 1,
    "checkDigit": 9,
    "name": "Marília"
  },
  "postalAddress": {
    "address": "Av Naburo Ykesaki 1270, bloco 35, fundos",
    "additionalInfo": "Loja B",
    "districtName": "Centro",
    "townName": "São Paulo",
    "ibgeCode": 3550308,
    "countrySubDivision": "SP",
    "postCode": "17500-001",
    "country": "Brasil",
    "countryCode": "BRA",
    "geographicCoordinates": {
      "latitude": "-90.8365180",
      "longitude": "-180.836519"
    }
  },
  "availability": {
    "standards": [
      {
        "weekday": "SEGUNDA_FEIRA",
        "openingTime": "10:00:57Z",
        "closingTime": "16:00:57Z"
      }
    ],
    "isPublicAccessAllowed": true
  },
  "phones": [
    {
      "type": "FIXO",
      "countryCallingCode": "55",
      "areaCode": "19",
      "number": "35721199"
    }
  ],
  "services": [
    {
      "name": "ENDOSSO",
      "code": "PORTABILIDADE"
    }
  ]
}

```

Dependência destinada à prática das atividades para as quais a instituição esteja regularmente habilitada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|[BranchIdentification](#schemabranchidentification)|false|none|none|
|postalAddress|[BranchPostalAddress](#schemabranchpostaladdress)|true|none|none|
|availability|[BranchAvailability](#schemabranchavailability)|true|none|none|
|phones|[[BranchPhone](#schemabranchphone)]|false|none|Listagem de telefones da Dependência própria|
|services|[[BranchService](#schemabranchservice)]|true|none|Traz a relação de serviços disponbilizados pelo Canal de Atendimento|

<h2 id="tocS_BranchPostalAddress">BranchPostalAddress</h2>
<!-- backwards compatibility -->
<a id="schemabranchpostaladdress"></a>
<a id="schema_BranchPostalAddress"></a>
<a id="tocSbranchpostaladdress"></a>
<a id="tocsbranchpostaladdress"></a>

```json
{
  "address": "Av Naburo Ykesaki 1270, bloco 35, fundos",
  "additionalInfo": "Loja B",
  "districtName": "Centro",
  "townName": "São Paulo",
  "ibgeCode": 3550308,
  "countrySubDivision": "SP",
  "postCode": "17500-001",
  "country": "Brasil",
  "countryCode": "BRA",
  "geographicCoordinates": {
    "latitude": "-90.8365180",
    "longitude": "-180.836519"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|address|string|true|none|Deverá trazer toda a informação referente ao endereço da dependência informada. Tipo de logradouro + Nome do logradouro + Número do Logradouro (se não existir usar ' s/n') + complemento (se houver).|
|additionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento, conforme o exemplo a seguir.|
|districtName|string|true|none|Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas.|
|townName|string|true|none|O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.|
|ibgeCode|string|true|none|Código IBGE de Município. A Tabela de Códigos de Municípios do IBGE apresenta a lista dos municípios brasileiros associados a um código composto de 7 dígitos, sendo os dois primeiros referentes ao código da Unidade da Federação.|
|countrySubDivision|string|true|none|Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. São consideradas apenas as siglas para os estados brasileiros.|
|postCode|string|true|none|Código de Endereçamento Postal. Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios.|
|country|string|false|none|Nome do país.|
|countryCode|string|false|none|Código do país de acordo com o código “alpha3” do ISO-3166.|
|geographicCoordinates|[BranchesGeographicCoordinates](#schemabranchesgeographiccoordinates)|false|none|Informação referente a geolocalização informada.|

<h2 id="tocS_BranchIdentification">BranchIdentification</h2>
<!-- backwards compatibility -->
<a id="schemabranchidentification"></a>
<a id="schema_BranchIdentification"></a>
<a id="tocSbranchidentification"></a>
<a id="tocsbranchidentification"></a>

```json
{
  "type": "POSTO_ATENDIMENTO",
  "code": 1,
  "checkDigit": 9,
  "name": "Marília"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|Tipo de dependência.|
|code|string|false|none|Código identificador da dependência|
|checkDigit|string|false|none|Dígito verificador do código da dependência|
|name|string|false|none|Nome da dependência|

#### Enumerated Values

|Property|Value|
|---|---|
|type|POSTO_ATENDIMENTO|
|type|UNIDADE_ADMINISTRATIVA_DESMEMBRADA|

<h2 id="tocS_BranchAvailability">BranchAvailability</h2>
<!-- backwards compatibility -->
<a id="schemabranchavailability"></a>
<a id="schema_BranchAvailability"></a>
<a id="tocSbranchavailability"></a>
<a id="tocsbranchavailability"></a>

```json
{
  "standards": [
    {
      "weekday": "SEGUNDA_FEIRA",
      "openingTime": "10:00:57Z",
      "closingTime": "16:00:57Z"
    }
  ],
  "isPublicAccessAllowed": true
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|standards|[any]|true|none|Lista disponibilidade padrão da depêndencia próprias por dias da semana|
|» weekday|string|true|none|Dia da semana de abertura da dependência|
|» openingTime|string|true|none|Horário de abertura da dependência (UTC)|
|» closingTime|string|true|none|Horário de fechamento da dependência (UTC)|
|isPublicAccessAllowed|boolean|false|none|Indica se a instalação da Dependência tem acesso restrito a clientes.|

#### Enumerated Values

|Property|Value|
|---|---|
|weekday|DOMINGO|
|weekday|SEGUNDA_FEIRA|
|weekday|TERCA_FEIRA|
|weekday|QUARTA_FEIRA|
|weekday|QUINTA_FEIRA|
|weekday|SEXTA_FEIRA|
|weekday|SABADO|

<h2 id="tocS_EletronicChannelsAvailability">EletronicChannelsAvailability</h2>
<!-- backwards compatibility -->
<a id="schemaeletronicchannelsavailability"></a>
<a id="schema_EletronicChannelsAvailability"></a>
<a id="tocSeletronicchannelsavailability"></a>
<a id="tocseletronicchannelsavailability"></a>

```json
{
  "standards": [
    {
      "weekday": "SEGUNDA_FEIRA",
      "openingTime": "10:00:57Z",
      "closingTime": "16:00:57Z"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|standards|[any]|true|none|Lista disponibilidade padrão da depêndencia próprias por dias da semana|
|» weekday|string|true|none|Dias de funcionamento em formato texto|
|» openingTime|string|true|none|Horário padrão de início de atendimento do canal eletrônico. (UTC)|
|» closingTime|string|true|none|Horário padrão de encerramento de atendimento do canal eletrônico (UTC)|

#### Enumerated Values

|Property|Value|
|---|---|
|weekday|DOMINGO|
|weekday|SEGUNDA_FEIRA|
|weekday|TERCA_FEIRA|
|weekday|QUARTA_FEIRA|
|weekday|QUINTA_FEIRA|
|weekday|SEXTA_FEIRA|
|weekday|SABADO|

<h2 id="tocS_PhoneChannelsAvailability">PhoneChannelsAvailability</h2>
<!-- backwards compatibility -->
<a id="schemaphonechannelsavailability"></a>
<a id="schema_PhoneChannelsAvailability"></a>
<a id="tocSphonechannelsavailability"></a>
<a id="tocsphonechannelsavailability"></a>

```json
{
  "standards": [
    {
      "weekday": "SEGUNDA_FEIRA",
      "openingTime": "10:00:57Z",
      "closingTime": "16:00:57Z"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|standards|[any]|true|none|Lista disponibilidade padrão da depêndencia próprias por dias da semana|
|» weekday|string|true|none|Dia da semana de abertura da dependência|
|» openingTime|string|true|none|Horário de abertura da dependência (UTC)|
|» closingTime|string|true|none|Horário de fechamento da dependência (UTC)|

#### Enumerated Values

|Property|Value|
|---|---|
|weekday|DOMINGO|
|weekday|SEGUNDA_FEIRA|
|weekday|TERCA_FEIRA|
|weekday|QUARTA_FEIRA|
|weekday|QUINTA_FEIRA|
|weekday|SEXTA_FEIRA|
|weekday|SABADO|

<h2 id="tocS_BranchService">BranchService</h2>
<!-- backwards compatibility -->
<a id="schemabranchservice"></a>
<a id="schema_BranchService"></a>
<a id="tocSbranchservice"></a>
<a id="tocsbranchservice"></a>

```json
{
  "name": "ENDOSSO",
  "code": "PORTABILIDADE"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome dos Serviços efetivamente prestados pelo Canal de Atendimento|
|code|string|true|none|Código dos Serviços efetivamente prestados pelo Canal de Atendimento|

#### Enumerated Values

|Property|Value|
|---|---|
|name|ALTERACOES_FORMA_PAGAMENTO|
|name|AVISO_SINISTRO|
|name|CANCELAMENTO_SUSPENSAO_PAGAMENTO_PREMIOS_CONTRIBUICAO|
|name|EFETIVACAO_APORTE|
|name|ENDOSSO|
|name|ENVIO_DOCUMENTOS|
|name|INFORMACOES_GERAIS_DUVIDAS|
|name|INFORMACOES_INTERMEDIARIOS|
|name|INFORMACOES_SOBRE_SERVICOS_ASSISTENCIAS|
|name|INFORMACOES_SOBRE_SORTEIOS|
|name|OUVIDORIA_RECEPCAO_SUGESTOES_ELOGIOS|
|name|OUVIDORIA_SOLUCAO_EVENTUAIS_DIVERGENCIAS_SOBRE_CONTRATO_SEGURO_CAPITALIZAÇÃO_PREVIDÊNCIA_APOS_ESGOTADOS_CANAIS_REGULARES_ATENDIMENTO_AQUELAS_ORIUNDAS_ORGAOS_REGULADORES_OU_INTEGRANTES_SISTEMA_NACIONAL_DEFESA_CONSUMIDOR|
|name|OUVIDORIA_TRATAMENTO_INSATISFACAO_CONSUMIDOR_RELACAO_ATENDIMENTO_RECEBIDO_CANAIS_REGULARES_ATENDIMENTO|
|name|OUVIDORIA_TRATAMENTO_RECLAMACOES_SOBRE_IRREGULARDADES_CONDUTA_COMPANHIA|
|name|PORTABILIDADE|
|name|RECLAMACAO|
|name|RESGATE|
|name|SEGUNDA_VIA_DOCUMENTOS_CONTRATUAIS|
|name|SUGESTOES_ELOGIOS|
|code|01|
|code|02|
|code|03|
|code|04|
|code|05|
|code|06|
|code|07|
|code|08|
|code|09|
|code|10|
|code|11|
|code|12|
|code|13|
|code|14|
|code|15|
|code|16|
|code|17|
|code|18|
|code|19|

<h2 id="tocS_ElectronicChannels">ElectronicChannels</h2>
<!-- backwards compatibility -->
<a id="schemaelectronicchannels"></a>
<a id="schema_ElectronicChannels"></a>
<a id="tocSelectronicchannels"></a>
<a id="tocselectronicchannels"></a>

```json
{
  "identification": {
    "type": "CHAT",
    "accessType": "EMAIL",
    "urls": [
      "string"
    ]
  },
  "services": [
    {
      "name": "ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA",
      "code": "RECLAMACAO"
    }
  ],
  "availability": {
    "standards": [
      {
        "weekday": "SEGUNDA_FEIRA",
        "openingTime": "10:00:57Z",
        "closingTime": "16:00:57Z"
      }
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|identification|[ElectronicChannelsIdentification](#schemaelectronicchannelsidentification)|true|none|none|
|services|[[ElectronicChannelsServices](#schemaelectronicchannelsservices)]|true|none|Traz a relação de serviços disponbilizados pelo Canal de Atendimento|
|availability|[EletronicChannelsAvailability](#schemaeletronicchannelsavailability)|false|none|none|

<h2 id="tocS_ElectronicChannelsIdentification">ElectronicChannelsIdentification</h2>
<!-- backwards compatibility -->
<a id="schemaelectronicchannelsidentification"></a>
<a id="schema_ElectronicChannelsIdentification"></a>
<a id="tocSelectronicchannelsidentification"></a>
<a id="tocselectronicchannelsidentification"></a>

```json
{
  "type": "CHAT",
  "accessType": "EMAIL",
  "urls": [
    "string"
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo de canal de atendimento eletrônico|
|accessType|string|false|none|Tipo de acesso|
|urls|[[ElectronicChannelsUrl](#schemaelectronicchannelsurl)]|true|none|Lista das URLs que atendem um tipo de canal eletrônico selecionado|

#### Enumerated Values

|Property|Value|
|---|---|
|type|INTERNET|
|type|MOBILE|
|type|CHAT|
|type|WHATSAPP|
|type|CONSUMIDOR|
|type|OUTROS|
|accessType|EMAIL|
|accessType|INTERNET|
|accessType|APP|
|accessType|CHAT|
|accessType|WHATSAPP|
|accessType|CONSUMIDOR|
|accessType|OUTROS|

<h2 id="tocS_ElectronicChannelsUrl">ElectronicChannelsUrl</h2>
<!-- backwards compatibility -->
<a id="schemaelectronicchannelsurl"></a>
<a id="schema_ElectronicChannelsUrl"></a>
<a id="tocSelectronicchannelsurl"></a>
<a id="tocselectronicchannelsurl"></a>

```json
"string"

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|none|

<h2 id="tocS_ElectronicChannelsServices">ElectronicChannelsServices</h2>
<!-- backwards compatibility -->
<a id="schemaelectronicchannelsservices"></a>
<a id="schema_ElectronicChannelsServices"></a>
<a id="tocSelectronicchannelsservices"></a>
<a id="tocselectronicchannelsservices"></a>

```json
{
  "name": "ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA",
  "code": "RECLAMACAO"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|name|string|true|none|Nome dos Serviços efetivamente prestados pelo Canal de Atendimento|
|code|string|true|none|Código dos Serviços efetivamente prestados pelo Canal de Atendimento|

#### Enumerated Values

|Property|Value|
|---|---|
|name|ALTERACACOES_FORMA_PAGAMENTO|
|name|AVISO_SINISTRO|
|name|CANCELAMENTO_SUSPENSAO_PAGAMENTO_PREMIOS_CONTRIBUICAO|
|name|EFETIVACAO_APORTE|
|name|ENDOSSO|
|name|ENVIO_DOCUMENTOS|
|name|INFORMACOES_GERAIS_DUVIDAS|
|name|INFORMACOES_INTERMEDIARIOS|
|name|INFORMACOES_SOBRE_SERVICOS_ASSISTENCIAS|
|name|INFORMACOES_SOBRE_SORTEIOS|
|name|OUVIDORIA_RECEPCAO_SUGESTOES_ELOGIOS|
|name|OUVIDORIA_SOLUCAO_EVENTUAIS_DIVERGENCIAS_SOBRE_CONTRATO_SEGURO_CAPITALIZAÇÃO_PREVIDÊNCIA_APOS_ESGOTADOS_CANAIS_REGULARES_ATENDIMENTO_AQUELAS_ORIUNDAS_ORGAOS_REGULADORES_OU_INTEGRANTES_SISTEMA_NACIONAL_DEFESA_CONSUMIDOR|
|name|OUVIDORIA_TRATAMENTO_INSATISFACAO_CONSUMIDOR_RELACAO_ATENDIMENTO_RECEBIDO_CANAIS_REGULARES_ATENDIMENTO|
|name|OUVIDORIA_TRATAMENTO_RECLAMACOES_SOBRE_IRREGULARDADES_CONDUTA_COMPANHIA|
|name|PORTABILIDADE|
|name|RECLAMACAO|
|name|RESGATE|
|name|SEGUNDA_VIA_DOCUMENTOS_CONTRATUAIS|
|name|SUGESTOES_ELOGIOS|
|code|01|
|code|02|
|code|03|
|code|04|
|code|05|
|code|06|
|code|07|
|code|08|
|code|09|
|code|10|
|code|11|
|code|12|
|code|13|
|code|14|
|code|15|
|code|16|
|code|17|
|code|18|
|code|19|

<h2 id="tocS_BranchPhone">BranchPhone</h2>
<!-- backwards compatibility -->
<a id="schemabranchphone"></a>
<a id="schema_BranchPhone"></a>
<a id="tocSbranchphone"></a>
<a id="tocsbranchphone"></a>

```json
{
  "type": "FIXO",
  "countryCallingCode": "55",
  "areaCode": "19",
  "number": "35721199"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|Identificação do Tipo de telefone da dependência. p.ex.FIXO, MOVEL.|
|countryCallingCode|string|false|none|Número de DDI (Discagem Direta Internacional) para  telefone de acesso ao Canal - se houver. p.ex. '55'|
|areaCode|string|false|none|Número de DDD (Discagem Direta à Distância) do telefone da dependência - se houver. p.ex. '19'|
|number|string|false|none|Número de telefone da dependência - se houver|

#### Enumerated Values

|Property|Value|
|---|---|
|type|FIXO|
|type|MOVEL|