<h2 id="api-housing">Housing v1.1.0 </h2>

### Obtem a lista dos produtos do tipo Habitacional

<a id="opIdgetHousing"></a>
**Especificação em OAS 3.0** </br>
<a href="files/swagger/housing.yaml" download="housing.yaml">Download da Especificação</a> <br>
**Detalhamento Técnico** </br>
<a href="files/docs/housing.docx" download="housing.docx">Download do Detalhamento Técnico</a> <br>


Base URLs:

**Servidor de Produção** </br>
* <a href="https://api.organizacao.com.br/open-insurance/products-services/v1">https://api.organizacao.com.br/open-insurance/products-services/v1</a><br>
**Servidor de Homologação** </br>
* <a href="https://api.organizacao.com.br/open-insurance/products-services/v1">https://api.organizacao.com.br/open-insurance/products-services/v1</a><br>

Web: <a href="https://www.gov.br/susep/">Support</a> 


Release Notes:

- <a href="./1.3.0.html#habitacional-housing">03/03/2023 </a>

<a id="opIdgetHousing"></a>

> Code samples

```python
import requests
headers = {
  'Accept': 'application/json',
  'cache-control': 'string',
  'Content-Security-Policy': 'string',
  'content-Type': 'string',
  'Strict-Transport-Security': 'string',
  'X-Content-Type-Options': 'string',
  'X-Frame-Options': 'string'
}

r = requests.get('https://api.organizacao.com.br/open-insurance/products-services/v1/housing', headers = headers)

print(r.json())

```

```java
URL obj = new URL("https://api.organizacao.com.br/open-insurance/products-services/v1/housing");
HttpURLConnection con = (HttpURLConnection) obj.openConnection();
con.setRequestMethod("GET");
int responseCode = con.getResponseCode();
BufferedReader in = new BufferedReader(
    new InputStreamReader(con.getInputStream()));
String inputLine;
StringBuffer response = new StringBuffer();
while ((inputLine = in.readLine()) != null) {
    response.append(inputLine);
}
in.close();
System.out.println(response.toString());

```

`GET /housing`

Obtem a lista dos produtos do tipo Habitacional

<h3 id="obtem-a-lista-dos-produtos-do-tipo-habitacional-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|cache-control|header|string|true|Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.|
|Content-Security-Policy|header|string|false|Campo para proteção contra ataques clickjack do estilo - drag and drop.|
|content-Type|header|string|false|Especificar o tipo de conteúdo da resposta.|
|Strict-Transport-Security|header|string|false|Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.|
|X-Content-Type-Options|header|string|false|Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.|
|X-Frame-Options|header|string|false|Campo indica se o navegador deve ou não renderizar um frame.|
|page|query|integer|false|Número da página que está sendo requisitada (o valor da primeira página é 1).|
|page-size|query|integer|false|Quantidade total de registros por páginas.|

> Example responses

> 200 Response

```json
{
  "data": {
    "brand": {
      "name": "ACME Group Seguros",
      "companies": [
        {
          "name": "Empresa da Organização A",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "coverages": [
                {
                  "coverage": "DANOS_ELETRICOS",
                  "coverageDescription": "string",
                  "allowApartPurchase": true,
                  "coverageAttributes": {
                    "maxLMI": {},
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string"
                  }
                }
              ],
              "additional": [
                "SORTEIO_GRATUITO"
              ],
              "additionalOthers": "string",
              "premiumRates": "string",
              "termsAndConditions": {
                "susepProcessNumber": "15414622222222222",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "minimumRequirements": {
                "minimumRequirementDetails": "string",
                "targetAudiences": [
                  "PESSOA_FISICA"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/housing"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}
```

<h3 id="obtem-a-lista-dos-produtos-do-tipo-habitacional-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados dos produtos de Seguro Habitacional em Apólices de Mercado – Demais Coberturas e Seguro Habitacional em Apólices de Mercado – Prestamista|[ResponseHousingList](#schemaresponsehousinglist)|
|204|[No Content](https://tools.ietf.org/html/rfc7231#section-6.3.5)|O recurso solicitado não existe ou não foi localizado.|[ResponseError](#schemaresponseerrorhousing)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerrorhousing)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerrorhousing)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerrorhousing)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerrorhousing)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerrorhousing)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerrorhousing)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presente.|[ResponseError](#schemaresponseerrorhousing)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerrorhousing)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerrorhousing)|
|default|Default|Dados dos produtos de Seguro Habitacional em Apólices de Mercado – Demais Coberturas e Seguro Habitacional em Apólices de Mercado – Prestamista|[ResponseHousingList](#schemaresponsehousinglist)|

<aside class="success">
This operation does not require authentication
</aside>