## Person v1.3.0

### Obtém a lista dos produtos do tipo seguro de pessoas.

<a id="opIdgetPerson"></a>
**Especificação em OAS 3.0** </br>
<a href="files/swagger/person.yaml" download="person.yaml">Download da Especificação</a> <br>
**Detalhamento Técnico** </br>
<a href="files/docs/person.docx" download="person.docx">Download do Detalhamento Técnico</a> <br>


Base URLs:

* <a href="https://api.organizacao.com.br/open-insurance/products-services/v1">https://api.organizacao.com.br/open-insurance/products-services/v1</a>

* <a href="https://api.organizacao.com.br/open-insurance/products-services/v1">https://api.organizacao.com.br/open-insurance/products-services/v1</a>

Web: <a href="https://www.gov.br/susep/">Support</a> 

Release Notes: 

- <a href="./1.2.0.html#previdencia-com-cobertura-por-sobrevivencia-life-pension">07/02/2022</a>
- <a href="./1.2.1.html#seguro-de-pessoas-person">23/02/2022</a>
- <a href="./1.2.6.html#pessoas-person-v1.2.0">22/08/2022</a> 
- <a href="./1.3.0.html#pessoas-person">03/03/2023 </a>


<a id="opIdgetPerson"></a>

> Code samples

```python
import requests
headers = {
  'Accept': 'application/json',
  'cache-control': 'string',
  'Content-Security-Policy': 'string',
  'content-Type': 'string',
  'Strict-Transport-Security': 'string',
  'X-Content-Type-Options': 'string',
  'X-Frame-Options': 'string'
}

r = requests.get('https://api.organizacao.com.br/open-insurance/products-services/v1/person', headers = headers)

print(r.json())

```

```java
URL obj = new URL("https://api.organizacao.com.br/open-insurance/products-services/v1/person");
HttpURLConnection con = (HttpURLConnection) obj.openConnection();
con.setRequestMethod("GET");
int responseCode = con.getResponseCode();
BufferedReader in = new BufferedReader(
    new InputStreamReader(con.getInputStream()));
String inputLine;
StringBuffer response = new StringBuffer();
while ((inputLine = in.readLine()) != null) {
    response.append(inputLine);
}
in.close();
System.out.println(response.toString());

```

`GET /person`

Obtém a lista dos produtos do tipo seguro de pessoas.

<h3 id="obtém-a-lista-dos-produtos-do-tipo-seguro-de-pessoas.-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|cache-control|header|string|true|Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.|
|Content-Security-Policy|header|string|false|Campo para proteção contra ataques clickjack do estilo - drag and drop.|
|content-Type|header|string|false|Especificar o tipo de conteúdo da resposta.|
|Strict-Transport-Security|header|string|false|Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.|
|X-Content-Type-Options|header|string|false|Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.|
|X-Frame-Options|header|string|false|Campo indica se o navegador deve ou não renderizar um frame.|
|page|query|integer|false|Número da página que está sendo requisitada (o valor da primeira página é 1).|
|page-size|query|integer|false|Quantidade total de registros por páginas.|

> Example responses

> 200 Response

```json
{
  "data": {
    "brand": {
      "name": "Marca",
      "companies": [
        {
          "name": "Seguradora",
          "cnpjNumber": "45086338000178",
          "products": [
            {
              "name": "Seguro Pessoal",
              "code": "123456789_cap",
              "category": "TRADICIONAL",
              "insuranceModality": "FUNERAL",
              "coverages": [
                {
                  "coverage": "AUXILIO_CESTA_BASICA",
                  "coverageOthers": [
                    "string"
                  ],
                  "coverageAttributes": {
                    "indemnityPaymentMethod": [],
                    "indemnityPaymentFrequency": [],
                    "minValue": [],
                    "maxValue": [],
                    "indemnifiablePeriod": [],
                    "maximumQtyIndemnifiableInstallments": 0,
                    "currency": "BRL",
                    "gracePeriod": [],
                    "differentiatedGracePeriod": "string",
                    "deductibleDays": 0,
                    "differentiatedDeductibleDays": 0,
                    "deductibleBRL": 0,
                    "differentiatedDeductibleBRL": "string",
                    "excludedRisks": [],
                    "excludedRisksURL": "string",
                    "allowApartPurchase": true
                  }
                }
              ],
              "assistanceType": [
                "ACOMPANHANTE_CASO_HOSPITALIZACAO_PROLONGADA"
              ],
              "additional": [
                "SORTEIO"
              ],
              "assistanceTypeOthers": [
                "string"
              ],
              "termsAndConditions": [
                {
                  "susepProcessNumber": "string",
                  "definition": "string"
                }
              ],
              "globalCapital": true,
              "validity": [
                "VITALICIA"
              ],
              "pmbacRemuneration": {
                "interestRate": 0,
                "pmbacUpdateIndex": "IPCA"
              },
              "benefitRecalculation": {
                "benefitRecalculationCriteria": "INDICE",
                "benefitUpdateIndex": "IPCA"
              },
              "ageAdjustment": {
                "criterion": "APOS_PERIODO_EM_ANOS",
                "frequency": 0
              },
              "contractType": "REPARTICAO_SIMPLES",
              "reclaim": {
                "reclaimTable": [
                  {
                    "initialMonthRange": 1,
                    "finalMonthRange": 12,
                    "percentage": 0
                  }
                ],
                "differentiatedPercentage": "string",
                "gracePeriod": {
                  "details": "Descrições adicionais do período de carência",
                  "amount": 60,
                  "unit": "DIAS"
                }
              },
              "otherGuaranteedValues": "SALDAMENTO",
              "allowPortability": true,
              "portabilityGraceTime": 0,
              "indemnityPaymentMethod": [
                "UNICO"
              ],
              "indemnityPaymentIncome": [
                "CERTA"
              ],
              "premiumPayment": {
                "paymentMethod": [
                  "CARTAO_CREDITO"
                ],
                "frequency": [
                  "DIARIA"
                ],
                "premiumTax": "string"
              },
              "minimunRequirements": {
                "contractingType": "COLETIVO",
                "contractingMinRequirement": "string"
              },
              "targetAudience": "PESSOA_NATURAL"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/person",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/person"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}
```

<h3 id="obtém-a-lista-dos-produtos-do-tipo-seguro-de-pessoas.-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados dos Plano de Seguro de Pessoas|[ResponsePersonList](#schemaresponsepersonlist)|
|204|[No Content](https://tools.ietf.org/html/rfc7231#section-6.3.5)|O recurso solicitado não existe ou não foi localizado.|[ResponseError](#schemaresponseerror)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presente.|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Dados dos Plano de Seguro de Pessoas|[ResponsePersonList](#schemaresponsepersonlist)|

<aside class="success">
This operation does not require authentication
</aside>