<h2 id="api-rural">Rural v1.1.0 </h2>

### Obtem a lista dos produtos do tipo Rural

**Especificação em OAS 3.0** </br>
<a href="files/swagger/rural.yaml" download="rural.yaml">Download da Especificação</a> <br>
**Detalhamento Técnico** </br>
<a href="files/docs/rural.docx" download="rural.docx">Download do Detalhamento Técnico</a> <br>


Base URLs:

**Servidor de Produção** </br>
* <a href="https://api.organizacao.com.br/open-insurance/products-services/v1">https://api.organizacao.com.br/open-insurance/products-services/v1</a><br>

**Servidor de Homologação** </br>
* <a href="https://api.organizacao.com.br/open-insurance/products-services/v1">https://api.organizacao.com.br/open-insurance/products-services/v1</a><br>

Web: <a href="https://www.gov.br/susep/">Support</a> 

Release Notes:

  - <a href="./1.2.5.html#disponibilizacao-das-swaggers">15/07/2022</a>
  - <a href="./1.3.0.html#rural-rural">03/03/2023 </a>

<a id="opIdgetRural"></a>

> Code samples

```python
import requests
headers = {
  'Accept': 'application/json',
  'cache-control': 'string',
  'Content-Security-Policy': 'string',
  'content-Type': 'string',
  'Strict-Transport-Security': 'string',
  'X-Content-Type-Options': 'string',
  'X-Frame-Options': 'string'
}

r = requests.get('https://api.organizacao.com.br/open-insurance/products-services/v1/rural', headers = headers)

print(r.json())

```

```java
URL obj = new URL("https://api.organizacao.com.br/open-insurance/products-services/v1/rural");
HttpURLConnection con = (HttpURLConnection) obj.openConnection();
con.setRequestMethod("GET");
int responseCode = con.getResponseCode();
BufferedReader in = new BufferedReader(
    new InputStreamReader(con.getInputStream()));
String inputLine;
StringBuffer response = new StringBuffer();
while ((inputLine = in.readLine()) != null) {
    response.append(inputLine);
}
in.close();
System.out.println(response.toString());

```

`GET /rural`

Obtem a lista dos produtos do tipo Rural - Seguro Agrícola com cobertura do FESR, Seguro Agrícola sem cobertura do FESR, Seguro Florestas sem cobertura do FESR, Seguro Pecuário com cobertura do FESR, Seguro Pecuário sem cobertura do FESR, Seguros Animais, Penhor Rural e Seguro Benfeitorias, Produtos Agropecuários, Penhor Rural, Seguro Benfeitorias, Produtos Agropecuários e Seguro de Vida do Produtor Rural.

<h3 id="obtem-a-lista-dos-produtos-do-tipo-rural-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|cache-control|header|string|true|Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.|
|Content-Security-Policy|header|string|false|Campo para proteção contra ataques clickjack do estilo - drag and drop.|
|content-Type|header|string|false|Especificar o tipo de conteúdo da resposta.|
|Strict-Transport-Security|header|string|false|Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.|
|X-Content-Type-Options|header|string|false|Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.|
|X-Frame-Options|header|string|false|Campo indica se o navegador deve ou não renderizar um frame.|
|page|query|integer|false|Número da página que está sendo requisitada (o valor da primeira página é 1).|
|page-size|query|integer|false|Quantidade total de registros por páginas.|

> Example responses

> 200 Response

```json
{
  "data": {
    "brand": {
      "name": "EMPRESA A seguros",
      "companies": [
        {
          "name": "ACME Seguros",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "name": "Produto de Seguro",
              "code": "01234589-0",
              "modality": "AGRICOLA",
              "coverages": [
                {
                  "coverage": "GRANIZO",
                  "coverageDescription": "string",
                  "allowApartPurchase": true,
                  "coverageAttributes": {
                    "insuredParticipation": [],
                    "insuredParticipationDescription": "string"
                  }
                }
              ],
              "maxLMG": {
                "type": "FINANCEIRO",
                "amount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                },
                "index": "FINANCEIRO_COBERTURA",
                "maxIndexAmount": {
                  "amount": 0,
                  "unit": {
                    "code": "R$",
                    "description": "REAL"
                  }
                }
              },
              "traits": false,
              "crops": [
                "FRUTAS"
              ],
              "cropsOthers": "string",
              "forestCode": [
                "PINUS"
              ],
              "forestCodeOthers": "string",
              "flockCode": [
                "BOVINOS"
              ],
              "flockCodeOthers": "string",
              "animalDestination": [
                "PRODUCAO"
              ],
              "animalsClassification": [
                "LAZER"
              ],
              "subvention": true,
              "termsAndConditions": {
                "susepProcessNumber": "15414.622222/2222-22",
                "definition": "https://www.seguradora.com.br/produto/tradicional/pdf/condicoes_gerais.pdf"
              },
              "validity": {
                "term": [
                  "ANUAL"
                ],
                "termOthers": "string"
              },
              "premiumPayment": [
                {
                  "paymentMethod": "CARTAO_DE_CREDITO",
                  "paymentDetail": "string",
                  "paymentType": [
                    "A_VISTA"
                  ],
                  "premiumRates": "string"
                }
              ],
              "minimumRequirements": {
                "contractType": [
                  "COLETIVO"
                ],
                "minimumRequirementDetails": "https://openinsurance.com.br/aaa",
                "targetAudiences": [
                  "PESSOA_FISICA"
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
    "first": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
    "prev": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
    "next": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural",
    "last": "https://api.organizacao.com.br/open-insurance/products-services/v1/rural"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}
```

<h3 id="obtem-a-lista-dos-produtos-do-tipo-rural-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados dos produtos de Rural - Seguro Agrícola com cobertura do FESR, Seguro Agrícola sem cobertura do FESR, Seguro Florestas sem cobertura do FESR, Seguro Pecuário com cobertura do FESR, Seguro Pecuário sem cobertura do FESR e Seguros Animais|[ResponseRuralList](#schemaresponserurallist)|
|204|[No Content](https://tools.ietf.org/html/rfc7231#section-6.3.5)|O recurso solicitado não existe ou não foi localizado.|[ResponseError](#schemaresponseerrorrural)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerrorrural)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerrorrural)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerrorrural)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerrorrural)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerrorrural)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerrorrural)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presente.|[ResponseError](#schemaresponseerrorrural)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerrorrural)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerrorrural)|
|default|Default|Dados dos produtos de API de informações de dados do produto Rural. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados. - Seguro Agrícola com cobertura do FESR, Seguro Agrícola sem cobertura do FESR, Seguro Florestas sem cobertura do FESR, Seguro Pecuário com cobertura do FESR, Seguro Pecuário sem cobertura do FESR e Seguros Animais|[ResponseRuralList](#schemaresponserurallist)|

<aside class="success">
This operation does not require authentication
</aside>