openapi: 3.0.0
info:
  title: APIs Open Data do Open Insurance Brasil
  description:
    API de informações de dados do produto Intermediarios. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados.
  version: 3.0.0
  contact:
    url: 'https://www.gov.br/susep/'    
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/channels/v3'
    description: Servidor de Produção
  - url: 'https://api.organizacao.com.br/open-insurance/channels/v3'
    description: Servidor de Homologação
tags:
  - name: "Intermediarios"
  - name: "Intermediary"

paths:
  /intermediary/{countrySubDivision}:
    get:
      tags:
        - Intermediary
      summary: Obtém a lista dos produtos do tipo Intermediarios
      description: "Obtém a lista dos produtos do tipo Intermediarios"
      operationId: "getIntermediary"
      parameters:
        - $ref: "#/components/parameters/cache-Control"
        - $ref: "#/components/parameters/content-Security-Policy"
        - $ref: "#/components/parameters/content-Type"
        - $ref: "#/components/parameters/strict-Transport-Security"
        - $ref: "#/components/parameters/x-Content-Type-Options"
        - $ref: "#/components/parameters/x-Frame-Options"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/countrySubDivision"
        - $ref: "#/components/parameters/line"
      responses:
        '200':
          description: Dados dos produtos de Intermediarios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseIntermediaryList'
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Dados dos produtos de API de informações de dados do produto Intermediarios. Os recursos que podem ser consumidos pelos participantes conforme a regra 3.1.2 do manual de escopo de dados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseIntermediaryList'

components:
  schemas:
    ResponseIntermediaryList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
              brand:
                $ref: '#/components/schemas/IntermediaryBrand'
        links:
            $ref: '#/components/schemas/Links'
        meta:
            $ref: '#/components/schemas/Meta'

    IntermediaryBrand:
      type: object
      description: Organização controladora do grupo.
      required:
        - name
        - companies
      properties:
        name:
          type: string
          description: Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
          maxLength: 80
          example: ACME Group Seguros
        companies:
          $ref: '#/components/schemas/IntermediaryCompany'

    IntermediaryCompany:
      type: array
      items:
        type: object
        description: Informações referentes à sociedade à qual a marca pertence
        required:
        - name
        - cnpjNumber
        - identification
        properties:
          name:
              type: string
              description: Nome da sociedade supervisionada participante
              maxLength: 80
              example: ACME Seguros
          cnpjNumber:
              type: string
              description: CNPJ da sociedade supervisionada participante
              pattern: '^[A-Z0-9]{12}\d{2}$'
              example: '12345678901234'
          identification:
              $ref: '#/components/schemas/IntermediaryIdentification'

    IntermediaryIdentification:
      type: array
      items:
        type: object
        description: Informações referente a identificação.
        required:
          - name
          - type
          - postalAddress
          - services
        properties:
          name:
              type: string
              maxLength: 80
              description: Nome ou razão social (pessoa jurídica) do intermediário
              example: Intermediário C
          nameOther:
              type: string
              maxLength: 80
              description: No caso da Pessoa jurídica
              example: Intermediário D
          documentNumber:
              type: string
              maxLength: 14
              pattern: '^[A-Z0-9]{12}\d{2}|\d{11}$'
              description: "CPF ou CNPJ do intermediário
                OBS: Opcional para pessoa natural"
              example: '12341234123412'
          type:
            type: string
            description: Relação de tipos de intermediário
            enum: [CORRETOR,
                  REPRESENTANTE,
                  AGENTES_DE_SEGUROS,
                  DISTRIBUIDOR_DE_TITULO_DE_CAPITALIZACAO,
                  OUTROS]
            example: CORRETOR
          typeOthers:
            type: string
            maxLength: 500
            description: Campo aberto para descrição em caso de seleção de Outras na lista padronizada de Tipo de Intermediário
          SUSEP:
              type: string
              description: "Número de Registro SUSEP no caso de intermediário ser Corretor de Seguros.
                OBS: Condicional a seleção de 1. Corretor de seguros no campo acima"
              maxLength: 20
              example: '15414622222222222'
          postalAddress:
              $ref: '#/components/schemas/IntermediaryCoveragePostalAddress'
          access:
            $ref: '#/components/schemas/IntermediaryAccess'
          services:
            $ref: '#/components/schemas/IntermediaryServices'

    IntermediaryCoveragePostalAddress:
        type: object
        required:
          - address
        properties:
          address:
            $ref: '#/components/schemas/Address'
          geographicCoordinates:
            $ref: '#/components/schemas/IntermediaryGeographicCoordinates'
    Address:
      type: object
      description: 'dados do endereço'
      required:
        - flagPostCode
        - address
      properties:
        flagPostCode:
          type: string
          description: Indica se o endereço será nacional ou internacional
          enum:
            - NACIONAL
            - INTERNACIONAL
        address:
          description: endereço completo
          oneOf:
            - $ref: '#/components/schemas/NationalAddress'
            - $ref: '#/components/schemas/InternationalAddress'
    InternationalAddress:
      type: object
      required:
        - type
        - name
        - number
        - townName
        - countrySubDivision
        - postCode
        - countryCode
      properties:
        type: 
          type: string
          description: 'Tipo do logradouro'
          enum: [AEROPORTO, ALAMEDA, AREA, AVENIDA, CAMPO, CHACARA, COLONIA, CONDOMINIO, CONJUNTO, DISTRITO, ESPLANADA, ESTACAO, ESTRADA, FAZENDA, FEIRA, JARDIM, LADEIRA, LAGO, LAGOA, LARGO, LOTEAMENTO, NUCLEO, PARQUE, PASSARELA, PATIO, PRACA, QUADRA, RECANTO, RESIDENCIAL, RODOVIA, RUA, SETOR, SITIO, TRAVESSA, TRECHO, TREVO, VALE, VEREDA, VIA, VIADUTO, VIELA, VILA, OUTROS]
        typeOthers: 
          type: string
          description: Descrição do tipo do logradouro. Condicional ao preenchimento do campo "type" com valor OUTROS
          maxLength: 30
        name: 
          type: string
          description: 'Nome do logradouro'
          maxLength: 100
        number:
          type: string
          description: 'Número do logradouro'
          pattern: '^[0-9A-Za-zÀ-ÿ\s\/\-\.,ºª]{1,40}$'
        addressComplementaryInfo:
          type: string
          maxLength: 50
          example: Fundos
          description: 'Alguns logradouros ainda necessitam ser especificados por meio de complemento.'
        districtName:
          type: string
          maxLength: 70
          example: 'Centro'
          description: 'Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas'
        townName:
          type: string
          maxLength: 50
          pattern: '^[0-9A-Za-zÀ-ÿ\s\/\-\.,ºª]+$'
          example: Marília
          description: |
                  Designação da cidade ou município no qual o endereço está localizado.
        countrySubDivision:
          type: string
          maxLength: 50
          pattern: '^[0-9A-Za-zÀ-ÿ\s\/\-\.,ºª]+$'
          example: New York
          description: |
                  Designação do estado, província, região ou cantão no qual o endereço está localizado.
        postCode:
          type: string
          maxLength: 11
          example: '17500001A'
          description: |
                  Código de Endereçamento Postal: Composto por um conjunto numérico ou alfanumérico.
        countryCode:
          $ref: '#/components/schemas/EnumCountryCode'  
    NationalAddress:
      type: object
      required:
        - type
        - name
        - number
        - townName
        - countrySubDivision
        - postCode
      properties:
        type: 
          type: string
          description: 'Tipo do logradouro'
          enum: [AEROPORTO, ALAMEDA, AREA, AVENIDA, CAMPO, CHACARA, COLONIA, CONDOMINIO, CONJUNTO, DISTRITO, ESPLANADA, ESTACAO, ESTRADA, FAZENDA, FEIRA, JARDIM, LADEIRA, LAGO, LAGOA, LARGO, LOTEAMENTO, NUCLEO, PARQUE, PASSARELA, PATIO, PRACA, QUADRA, RECANTO, RESIDENCIAL, RODOVIA, RUA, SETOR, SITIO, TRAVESSA, TRECHO, TREVO, VALE, VEREDA, VIA, VIADUTO, VIELA, VILA, OUTROS]
        typeOthers: 
          type: string
          description: Descrição do tipo do logradouro. Condicional ao preenchimento do campo "type" com valor OUTROS
          maxLength: 30
        name: 
          type: string
          maxLength: 100
          description: 'Nome do logradouro'
        number:
          type: string
          description: 'Número do logradouro'
          pattern: '^[0-9A-Za-zÀ-ÿ\s\/\-\.,ºª]{1,40}$'
        addressComplementaryInfo:
          type: string
          maxLength: 50
          example: Fundos
          description: 'Alguns logradouros ainda necessitam ser especificados por meio de complemento.'
        districtName:
          type: string
          maxLength: 70
          example: 'Centro'
          description: 'Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas'
        townName:
          type: string
          maxLength: 50
          pattern: '^[0-9A-Za-zÀ-ÿ\s\/\-\.,ºª]+$'
          example: Marília
          description: |
                  Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.
        ibgeTownCode:
          type: string
          pattern: '^\d{7}$|^NA$'
          maxLength: 7
          example: "1750000"
          description: |
            Código IBGE do município
        countrySubDivision:
          $ref: '#/components/schemas/EnumCountrySubDivision'
        postCode:
          type: string
          pattern: '^\d{8}$|^NA$'
          maxLength: 8
          example: '17500001'
          description: |
                  Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'. Condicional ao preenchimento do FlagPostCode ser igual a "Nacional".
    EnumCountrySubDivision:
      type: string
      description: "Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros"
      enum:
        - AC
        - AL
        - AP
        - AM
        - BA
        - CE
        - DF
        - ES
        - GO
        - MA
        - MT
        - MS
        - MG
        - PA
        - PB
        - PR
        - PE
        - PI
        - RJ
        - RN
        - RS
        - RO
        - RR
        - SC
        - SP
        - SE
        - TO
      example: RJ
    EnumCountryCode:
      description: Nome do país (de acordo com o código "alpha3" do ISO-3166)
      type: string
      enum: [AFG,ALA,ALB,DZA,ASM,AND,AGO,AIA,ATA,ATG,ARG,ARM,ABW,AUS,AUT,AZE,BHS,BHR,BGD,BRB,BLR,BEL,BLZ,BEN,BMU,BTN,BOL,BES,BIH,BWA,BVT,BRA,IOT,BRN,BGR,BFA,BDI,CPV,KHM,CMR,CAN,CYM,CAF,TCD,CHL,CHN,CXR,CCK,COL,COM,COG,COD,COK,CRI,CIV,HRV,CUB,CUW,CYP,CZE,DNK,DJI,DMA,DOM,ECU,EGY,SLV,GNQ,ERI,EST,SWZ,ETH,FLK,FRO,FJI,FIN,FRA,GUF,PYF,ATF,GAB,GMB,GEO,DEU,GHA,GIB,GRC,GRL,GRD,GLP,GUM,GTM,GGY,GIN,GNB,GUY,HTI,HMD,VAT,HND,HKG,HUN,ISL,IND,IDN,IRN,IRQ,IRL,IMN,ISR,ITA,JAM,JPN,JEY,JOR,KAZ,KEN,KIR,PRK,KOR,KWT,KGZ,LAO,LVA,LBN,LSO,LBR,LBY,LIE,LTU, LUX,MAC,MDG,MWI,MYS,MDV,MLI,MLT,MHL,MTQ,MRT,MUS,MYT,MEX,FSM,MDA,MCO,MNG,MNE,MSR,MAR,MOZ,MMR,NAM,NRU,NPL,NLD,NCL,NZL,NIC,NER,NGA,NIU,NFK,MKD,MNP,NOR,OMN,PAK,PLW,PSE,PAN,PNG,PRY,PER,PHL,PCN,POL,PRT,PRI,QAT,REU,ROU,RUS,RWA,BLM,SHN,KNA,LCA,MAF,SPM,VCT,WSM,SMR,STP,SAU,SEN,SRB,SYC,SLE,SGP,SXM,SVK,SVN,SLB,SOM,ZAF,SGS,SSD,ESP,LKA,SDN,SUR,SJM,SWE,CHE,SYR,TWN,TJK,TZA,THA,TLS,TGO,TKL,TON,TTO,TUN,TUR,TKM,TCA,TUV,UGA,UKR,ARE,GBR,USA,UMI,URY,UZB,VUT,VEN,VNM,VGB,VIR,WLF,ESH,YEM,ZMB,ZWE]
      example: BRA
    
    IntermediaryGeographicCoordinates:
      type: object
      properties:
        latitude:
          type: string
          description: Informação da Latitude referente a geolocalização informada. Entre -90 e 90. Formato numérico 2 casas antes da vírgula, 11 posições.
          example: '-89.8365180'
          pattern: '^-?(90\.0{1,9}|[0-8][0-9]\.\d{1,9})$'
        longitude:
          type: string
          description: Informação da Longitude referente a geolocalização informada. Formato numérico 3 casas antes da vírgula, 11 posições. Entre -180 e 180.'
          example: '-179.836519'
          pattern: '^-?(180\.0{1,9}|1[0-7]\d{1}\.\d{1,9}|\d{1,2}\.\d{1,9})$'

    IntermediaryAccess:
      type: object
      description: Forma de acesso.
      properties:
        standards:
          $ref: '#/components/schemas/IntermediaryStandards'
        email:
          description: Endereço de e-mail
          type: string
          format: email
          maxLength: 50
          example: Joao.silva@seguradora.com.br
        site:
          type: string
          description: "Campo aberto
            As URLs são limitadas a 2048 caracteres, mas, para o contexto do Open Insurance, foi adotado a metade deste tamanho (1024)."
          maxLength: 1024
          example: https://www.seguradora.com.br/
        phones:
          $ref: '#/components/schemas/IntermediaryPhones'

    IntermediaryStandards:
      type: array
      items:
        type: object
        properties:
          openingTime:
            type: string
            maxLength: 9
            pattern: ^([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]Z$
            example: 10:00:57Z
            description: Horário de abertura
          closingTime:
            type: string
            maxLength: 9
            pattern: ^([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]Z$
            example: 16:00:57Z
            description: Horário de encerramento
          weekday:
            type: string
            description: Dias de funcionamento
            enum: [DOMINGO,
                  SEGUNDA_FEIRA,
                  TERCA_FEIRA,
                  QUARTA_FEIRA,
                  QUINTA_FEIRA,
                  SEXTA_FEIRA,
                  SABADO]
            example: DOMINGO

    IntermediaryPhones:
      type: array
      description: Telefone do intermediário
      items:
        type: object
        properties:
          type:
            description: Identificação do Tipo de telefone do intermediário
            type: string
            example: FIXO
            enum: ['FIXO', 'MOVEL']
          countryCallingCode:
            description: Número de DDI (Discagem Direta Internacional) para telefone de acesso ao Canal - se houver.
            type: string
            maxLength: 4
            pattern: '^\d{1,4}$'
            example: '55'
          areaCode:
            description: Número de DDD (Discagem Direta à Distância) do telefone do intermediário - se houver. p.ex. '19'
            type: string
            maxLength: 2
            example: '11'
          number:
            description: Número de telefone do intermediário - se houver
            type: string
            maxLength: 11
            example: '30041000'

    IntermediaryServices:
      type: array
      items:
        type: object
        description: Forma de acesso.
        required:
          - name
          - line
        properties:
          name:
            description: Relação dos serviços efetivamente prestados, conforme discriminado na Tabela II.3 do Anexo II
            type: string
            enum: [ANGARIACAO_PROMOCAO_INTERMEDIACAO_OU_DISTRIBUICAO_DE_PRODUTOS,
                  ACONSELHAMENTO_SOBRE_PRODUTOS_OFERTADOS,
                  RECEPCAO_DE_PROPOSTAS_E_EMISSAO_DE_DOCUMENTOS_CONTRATUAIS,
                  SUBSCRICAO_DE_RISCOS_RELACIONADOS_A_PRODUTOS_DE_SEGUROS,
                  COLETA_E_FORNECIMENTO_A_SOCIEDADE_PARTICIPANTE_DE_DADOS_CADASTRAIS_E_DE_DOCUMENTACAO_DE_CLIENTES_E_SE_FOR_O_CASO_ESTIPULANTES_CORRETORES_DE_SEGUROS_E_SEUS_PREPOSTOS,
                  RECOLHIMENTO_DE_PREMIOS_E_CONTRIBUICOES,
                  RECEBIMENTO_DE_AVISOS_DE_SINISTROS,
                  REGULACAO_DE_SINISTROS,
                  PAGAMENTO_DE_INDENIZACAO_BENEFICIO,
                  ORIENTACAO_E_ASSISTENCIA_AOS_CLIENTES_NO_QUE_COMPETE_AOS_CONTRATOS_COMERCIALIZADOS,
                  APOIO_LOGISTICO_E_OPERACIONAL_A_SOCIEDADE_PARTICIPANTE_NA_GESTAO_E_EXECUCAO_DE_CONTRATOS,
                  OUTROS]
            example: ACONSELHAMENTO_SOBRE_PRODUTOS_OFERTADOS
          nameOthers:
            description: Campo aberto para descrição em caso de seleção de Outras na lista padronizada de Tipo de Serviço Prestado por Intermediário
            type: string
            maxLength: 500
          line:
            type: array
            items:
              type: string
              description: Linha de negócio de atuação
              enum: [LISTAGEM_DE_RAMOS_DE_SEGUROS_CONFORME_REGULAMENTACAO_ESPECIFICA_SOBRE_CONTABILIZACAO_EM_RAMOS,
                    PREVIDENCIA_COMPLEMENTAR_ABERTA,
                    CAPITALIZACAO]
              example: CAPITALIZACAO
          lineOthers:
            description: Campo aberto para descrição em caso de seleção de LISTAGEM_DE_RAMOS_DE_SEGUROS_CONFORME_REGULAMENTACAO_ESPECIFICA_SOBRE_CONTABILIZACAO_EM_RAMOS na lista de Linha de negócio de atuação
            type: string
            maxLength: 5000

    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/channels\/v\d+)(\/intermediary.*)?$
          example: 'https://api.organizacao.com.br/open-insurance/channels/v3/intermediary'
        first:
          type: string
          description: URL da primeira página de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/channels\/v\d+)(\/intermediary.*)?$
          example: 'https://api.organizacao.com.br/open-insurance/channels/v3/intermediary'
        prev:
          type: string
          description: URL da página anterior de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/channels\/v\d+)(\/intermediary.*)?$
          example: 'https://api.organizacao.com.br/open-insurance/channels/v3/intermediary'
        next:
          type: string
          description: URL da próxima página de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/channels\/v\d+)(\/intermediary.*)?$
          example: 'https://api.organizacao.com.br/open-insurance/channels/v3/intermediary'
        last:
          type: string
          description: URL da última página de registros
          pattern: ^(https:\/\/)(.*?)(\/open-insurance\/channels\/v\d+)(\/intermediary.*)?$
          example: 'https://api.organizacao.com.br/open-insurance/channels/v3/intermediary'

    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 10
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages

    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
              - requestDateTime
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
              requestDateTime:
                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                type: string
                maxLength: 20
                pattern: '^(\d{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                format: date-time
                example: '2021-08-20T08:30:00Z'
            additionalProperties: false
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false

  parameters:
      page:
        name: page
        in: query
        description: Número da página que está sendo requisitada (o valor da primeira página é 1).
        schema:
            type: integer
            default: 1
            minimum: 1
      pageSize:
        name: page-size
        in: query
        description: Quantidade total de registros por páginas.
        schema:
            type: integer
            default: 10
            minimum: 1
      countrySubDivision:
        name: countrySubDivision
        in: path
        description: Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado
        required: true
        schema:
          type: string
      line:
        name: line
        in: query
        description: "Linha de negócio de atuação"
        required: false
        schema:
          type: string
      cache-Control:
        name: cache-control
        in: header
        description: Controle de cache para evitar que informações confidenciais sejam armazenadas em cache.
        required: true
        schema:
            type: string
            pattern: '[\w\W\s]*'
      content-Security-Policy:
        name: Content-Security-Policy
        in: header
        description: Campo para proteção contra ataques clickjack do estilo - drag and drop.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      content-Type:
        name: content-Type
        in: header
        description: Especificar o tipo de conteúdo da resposta.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      strict-Transport-Security:
        name: Strict-Transport-Security
        in: header
        description: Campo para exigir conexões por HTTPS e proteger contra certificados falsificados.
        schema:
            type: string
            pattern:  '[\w\W\s]*'
      x-Content-Type-Options:
        name: X-Content-Type-Options
        in: header
        description: Campo para evitar que navegadores executem a detecção de MIME e interpretem respostas como HTML de forma inadequada.
        schema:
            type: string
            pattern: '[\w\W\s]*'
      x-Frame-Options:
        name: X-Frame-Options
        in: header
        description: Campo indica se o navegador deve ou não renderizar um frame.
        schema:
            type: string
            pattern: '[\w\W\s]*'

  responses:
    UnprocessableEntity:
      description: 'O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição está correta, mas não foi possível processar as instruções presentes.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NoContent:
      description: 'O recurso solicitado não existe ou não foi localizado.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
