<h2 id="tocS_BusinessComplimentaryInformationData">BusinessComplimentaryInformationData</h2>
<!-- backwards compatibility -->
<a id="schemabusinesscomplimentaryinformationdata"></a>
<a id="schema_BusinessComplimentaryInformationData"></a>
<a id="tocSbusinesscomplimentaryinformationdata"></a>
<a id="tocsbusinesscomplimentaryinformationdata"></a>

```json
{
  "updateDateTime": "2020-07-21T08:30:00Z",
  "startDate": "2014-05-21",
  "relationshipBeginning": "2014-05-21",
  "productsServices": [
    {
      "contract": "string",
      "type": "MICROSSEGUROS",
      "insuranceLineCode": "6272",
      "procurators": [
        {
          "nature": "PROCURADOR",
          "cpfNumber": "73677831148",
          "civilName": "Elza Milena Stefany Teixeira",
          "socialName": "string"
        }
      ]
    }
  ]
}

```

Objeto que reúne as informações relativas ao relacionamento do cliente junto à Instituição. Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente e seus representantes

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|updateDateTime|string(date-time)|true|none|Data e hora da atualização do bloco de Relacionamento, conforme especificação RFC-3339, formato UTC.|
|startDate|string(date)|false|none|Data mais antiga de início de relacionamento, considerando todos os contratos (vigentes e não vigentes). Os contratos não vigentes considerados devem contemplar, no mínimo o período indicado na Tabela 4.1.|
|relationshipBeginning|string(date)|false|none|Campo deve ser preenchido com a data da apólice/contrato vigente mais antiga.(caso haja contrato vigente)|
|productsServices|[object]|true|none|none|
|» contract|string|true|none|Campo deve conter todos os contratos do cliente nos últimos 12 meses (número da apólice individual ou contrato ou certificado ou bilhete)|
|» type|[EnumProductServiceType](#schemaenumproductservicetype)|true|none|Tipos de produtos.|
|» insuranceLineCode|string|false|none|Indicar para cada contrato, caso aplicável, o código do ramo, conforme listagem de códigos definida em regulamentação específica sobre contabilização em ramos. - Caso tipo de produto do contrato for “Seguros de Danos.|
|» procurators|[[BusinessProcurator](#schemabusinessprocurator)]|false|none|Lista dos representantes. De preenchimento obrigatório se houver representante.|

<h2 id="tocS_BusinessIdentificationData">BusinessIdentificationData</h2>
<!-- backwards compatibility -->
<a id="schemabusinessidentificationdata"></a>
<a id="schema_BusinessIdentificationData"></a>
<a id="tocSbusinessidentificationdata"></a>
<a id="tocsbusinessidentificationdata"></a>

```json
{
  "updateDateTime": "2021-05-21T08:30:00Z",
  "businessId": "578-psd-71md6971kjh-2d414",
  "brandName": "Organização A",
  "companyInfo": {
    "cnpjNumber": "01773247000563",
    "name": "Empresa da Organização A"
  },
  "businessName": "Luiza e Benjamin Assessoria Jurídica Ltda",
  "businessTradeName": "Organização B",
  "incorporationDate": "2012-05-21",
  "document": {
    "businesscnpjNumber": "50685362006773",
    "businessRegisterNumberOriginCountry": "string",
    "country": "BRA",
    "expirationDate": "2023-05-21"
  },
  "type": "PRIVADO",
  "contact": {
    "postalAddresses": [
      {
        "address": "Av Naburo Ykesaki, 1270",
        "additionalInfo": "Fundos",
        "districtName": "Centro",
        "townName": "Marília",
        "countrySubDivision": "SP",
        "postCode": "17500001",
        "ibgeTownCode": "17500001",
        "country": "Brasil",
        "countryCode": "BRA",
        "geographicCoordinates": {
          "latitude": "-23.5475000",
          "longitude": "-46.6361100"
        }
      }
    ],
    "phones": [
      {
        "countryCallingCode": "55",
        "areaCode": "19",
        "number": "29875132",
        "phoneExtension": "932"
      }
    ],
    "emails": [
      {
        "email": "nome@br.net"
      }
    ]
  },
  "parties": [
    {
      "type": "SOCIO",
      "civilName": "Juan Kaique Cláudio Fernandes",
      "socialName": "string",
      "startDate": "2014-05-21",
      "shareholding": "0.510000",
      "documentType": "CPF",
      "documentNumber": "73677831148",
      "documentCountry": "BRA",
      "documentExpirationDate": "2021-05-21"
    }
  ]
}

```

Conjunto de informações relativas a Identificação ou seja a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|updateDateTime|string(date-time)|true|none|Data e hora da atualização do bloco, conforme especificação RFC-3339|
|businessId|string|false|none|Um identificador único e imutável usado para identificar o recurso cliente pessoa jurídica dentro da transmissora. Este identificador não tem significado para o cliente que deu o consentimento|
|brandName|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes|
|companyInfo|object|true|none|Informações referente a sociedade a qual a marca pertence.|
|» cnpjNumber|string|true|none|Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. <br>Deve-se ter apenas os números do CNPJ, sem máscara|
|» name|string|true|none|Nome da Instituição, pertencente à Marca, responsável pela Dependência|
|businessName|string|true|none|Razão social da empresa consultada é o termo registrado sob o qual uma pessoa jurídica (PJ) se individualiza e exerce suas atividades. Também pode ser chamada por denominação social ou firma empresarial|
|businessTradeName|string|false|none|Nome fantasia - Se Aplicável|
|incorporationDate|string(date)|false|none|Data de constituição, conforme especificação RFC-3339|
|document|[BusinessDocument](#schemabusinessdocument)|true|none|Objeto agrupador de informações relativas a Documentos da pessoa natural|
|type|string|false|none|Campo deve ser preenchido com o Tipo Pessoa Jurídica|
|contact|[BusinessContact](#schemabusinesscontact)|true|none|Conjunto de informações referentes às formas para contatar o cliente.|
|parties|[BusinessParties](#schemabusinessparties)|false|none|Conjunto de informações referentes ao vínculo com uma pessoa.|

#### Enumerated Values

|Property|Value|
|---|---|
|type|PRIVADO|
|type|PUBLICO|

<h2 id="tocS_BusinessProcurator">BusinessProcurator</h2>
<!-- backwards compatibility -->
<a id="schemabusinessprocurator"></a>
<a id="schema_BusinessProcurator"></a>
<a id="tocSbusinessprocurator"></a>
<a id="tocsbusinessprocurator"></a>

```json
{
  "nature": "PROCURADOR",
  "cpfNumber": "73677831148",
  "civilName": "Elza Milena Stefany Teixeira",
  "socialName": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|nature|[EnumProcuratorsNaturePersonal](#schemaenumprocuratorsnaturepersonal)|true|none|Natureza dos poderes vigentes de representante|
|cpfNumber|string|true|none|Número completo do CPF. O CPF é o Cadastro de Pessoa natural. Ele é um documento feito pela Receita Federal e serve para identificar os contribuintes. O CPF é uma numeração com 11 dígitos, que só mudam por decisão judicial. O documento é emitido pela receita federal|
|civilName|string|true|none|Nome civil completo da pessoa natural. (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, com o qual será identificada por toda a sua vida, bem como após a sua morte)|
|socialName|string|false|none|Nome social da pessoa natural, se houver. <br>(aquele pelo qual travestis e transexuais se reconhecem, <br>bem como são identificados por sua comunidade e em seu meio social, conforme Decreto Local).|

<h2 id="tocS_BusinessQualificationData">BusinessQualificationData</h2>
<!-- backwards compatibility -->
<a id="schemabusinessqualificationdata"></a>
<a id="schema_BusinessQualificationData"></a>
<a id="tocSbusinessqualificationdata"></a>
<a id="tocsbusinessqualificationdata"></a>

```json
{
  "updateDateTime": "2021-05-21T08:30:00Z",
  "mainBranch": "string",
  "secondaryBranch": "string",
  "informedRevenue": {
    "incomeFrequency": "MENSAL",
    "currency": "BRL",
    "amount": 100000.04,
    "year": "2010"
  },
  "informedPatrimony": {
    "currency": "BRL",
    "amount": 100000.04,
    "year": "2010"
  }
}

```

Objeto que reúne as informações relativas ao processo de qualificação.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|updateDateTime|string(date-time)|true|none|Data e hora da atualização do bloco, conforme especificação RFC-3339|
|mainBranch|string|false|none|Código do ramo da atividade da empresa consultada, segundo padrão CNAE (Classificação Nacional de Atividades Econômicas).|
|secondaryBranch|string|false|none|Códigos relativos às demais atividades econômicas da empresa, segundo padrão CNAE (Classificação Nacional de Atividades Econômicas). Se disponível.|
|informedRevenue|object|false|none|none|
|» incomeFrequency|[EnumIncomeFrequency](#schemaenumincomefrequency)|false|none|Frequência da renda informada.|
|» currency|string|false|none|Moeda referente ao valor do patrimônio, segundo modelo ISO-4217.|
|» amount|number¦null|false|none|Valor da renda|
|» year|string(date-year)|false|none|Data de referência da renda, conforme especificação RFC-3339.|
|informedPatrimony|object|false|none|none|
|» currency|string|false|none|Moeda referente ao valor do patrimônio, segundo modelo ISO-4217.|
|» amount|number¦null|false|none|Valor da renda|
|» year|string(date-year)|false|none|Data de referência da renda, conforme especificação RFC-3339.|

<h2 id="tocS_BusinessParties">BusinessParties</h2>
<!-- backwards compatibility -->
<a id="schemabusinessparties"></a>
<a id="schema_BusinessParties"></a>
<a id="tocSbusinessparties"></a>
<a id="tocsbusinessparties"></a>

```json
[
  {
    "type": "SOCIO",
    "civilName": "Juan Kaique Cláudio Fernandes",
    "socialName": "string",
    "startDate": "2014-05-21",
    "shareholding": "0.510000",
    "documentType": "CPF",
    "documentNumber": "73677831148",
    "documentCountry": "BRA",
    "documentExpirationDate": "2021-05-21"
  }
]

```

Conjunto de informações referentes ao vínculo com uma pessoa.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|Tipo de vínculo com a pessoa jurídica|
|civilName|string|false|none|Nome civil completo da pessoa natural (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, com o qual será identificada por toda a sua vida, bem como após a sua morte)|
|socialName|string|false|none|Nome social da pessoa natural, se houver. <br>(aquele pelo qual travestis e transexuais se reconhecem, <br>bem como são identificados por sua comunidade e em seu meio social, conforme Decreto Local).|
|startDate|string(date)|false|none|Data de início da participação, conforme especificação RFC-3339.|
|shareholding|string(double)|false|none|Percentual de participação societária (informar com 6 casas decimais). <br>O Sócio só deve ser informado se sua participação societária for igual ou superior a 25%.|
|documentType|string|false|none|Tipo de documento de identificação do sócio ou administrador|
|documentNumber|string|false|none|Número do documento informado. Campo Texto Livre para preencher número e dígito do documento se houver|
|documentCountry|string|false|none|País de emissão do documento. Código do pais de acordo com o código alpha3 do ISO-3166.|
|documentExpirationDate|string(date)|false|none|Data de validade do documento informado, conforme especificação RFC-3339.|

#### Enumerated Values

|Property|Value|
|---|---|
|type|SOCIO|
|type|ADMINISTRADOR|

<h2 id="tocS_BusinessContact">BusinessContact</h2>
<!-- backwards compatibility -->
<a id="schemabusinesscontact"></a>
<a id="schema_BusinessContact"></a>
<a id="tocSbusinesscontact"></a>
<a id="tocsbusinesscontact"></a>

```json
{
  "postalAddresses": [
    {
      "address": "Av Naburo Ykesaki, 1270",
      "additionalInfo": "Fundos",
      "districtName": "Centro",
      "townName": "Marília",
      "countrySubDivision": "SP",
      "postCode": "17500001",
      "ibgeTownCode": "17500001",
      "country": "Brasil",
      "countryCode": "BRA",
      "geographicCoordinates": {
        "latitude": "-23.5475000",
        "longitude": "-46.6361100"
      }
    }
  ],
  "phones": [
    {
      "countryCallingCode": "55",
      "areaCode": "19",
      "number": "29875132",
      "phoneExtension": "932"
    }
  ],
  "emails": [
    {
      "email": "nome@br.net"
    }
  ]
}

```

Conjunto de informações referentes às formas para contatar o cliente.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|postalAddresses|[[BusinessPostalAddress](#schemabusinesspostaladdress)]|true|none|Lista de endereços da pessoa jurídica|
|phones|[[CustomerPhone](#schemacustomerphone)]|true|none|Lista com telefones de contato da pessoa jurídica|
|emails|[[CustomerEmail](#schemacustomeremail)]|false|none|Lista e-mails de contato|

<h2 id="tocS_PersonalContact">PersonalContact</h2>
<!-- backwards compatibility -->
<a id="schemapersonalcontact"></a>
<a id="schema_PersonalContact"></a>
<a id="tocSpersonalcontact"></a>
<a id="tocspersonalcontact"></a>

```json
{
  "postalAddresses": [
    {
      "address": "Av Naburo Ykesaki, 1270",
      "additionalInfo": "Fundos",
      "districtName": "Centro",
      "townName": "Marília",
      "countrySubDivision": "SP",
      "postCode": "17500001",
      "country": "BRA"
    }
  ],
  "phones": [
    {
      "countryCallingCode": "55",
      "areaCode": "19",
      "number": "29875132",
      "phoneExtension": "932"
    }
  ],
  "emails": [
    {
      "email": "nome@br.net"
    }
  ]
}

```

Conjunto de informações referentes às formas para contatar o cliente.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|postalAddresses|[[PersonalPostalAddress](#schemapersonalpostaladdress)]|true|none|Lista de endereços da pessoa natural|
|phones|[[CustomerPhone](#schemacustomerphone)]|false|none|Lista com telefones de contato da pessoa natural|
|emails|[[CustomerEmail](#schemacustomeremail)]|false|none|Lista e-mails de contato|

<h2 id="tocS_CustomerEmail">CustomerEmail</h2>
<!-- backwards compatibility -->
<a id="schemacustomeremail"></a>
<a id="schema_CustomerEmail"></a>
<a id="tocScustomeremail"></a>
<a id="tocscustomeremail"></a>

```json
{
  "email": "nome@br.net"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|email|string|false|none|Endereço de email|

<h2 id="tocS_CustomerPhone">CustomerPhone</h2>
<!-- backwards compatibility -->
<a id="schemacustomerphone"></a>
<a id="schema_CustomerPhone"></a>
<a id="tocScustomerphone"></a>
<a id="tocscustomerphone"></a>

```json
{
  "countryCallingCode": "55",
  "areaCode": "19",
  "number": "29875132",
  "phoneExtension": "932"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|countryCallingCode|string|false|none|Número de DDI (Discagem Direta Internacional) para telefone de acesso ao Cliente - se aplicável|
|areaCode|[EnumAreaCode](#schemaenumareacode)|false|none|Número de DDD (Discagem Direta à Distância) do telefone do cliente - se houver|
|number|string|false|none|Número de telefone do cliente|
|phoneExtension|string|false|none|Número do ramal. De preenchimento obrigatório se fizer parte da identificação do número do telefone informado|

<h2 id="tocS_BusinessPostalAddress">BusinessPostalAddress</h2>
<!-- backwards compatibility -->
<a id="schemabusinesspostaladdress"></a>
<a id="schema_BusinessPostalAddress"></a>
<a id="tocSbusinesspostaladdress"></a>
<a id="tocsbusinesspostaladdress"></a>

```json
{
  "address": "Av Naburo Ykesaki, 1270",
  "additionalInfo": "Fundos",
  "districtName": "Centro",
  "townName": "Marília",
  "countrySubDivision": "SP",
  "postCode": "17500001",
  "ibgeTownCode": "17500001",
  "country": "Brasil",
  "countryCode": "BRA",
  "geographicCoordinates": {
    "latitude": "-23.5475000",
    "longitude": "-46.6361100"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|address|string|true|none|Corresponde ao endereço residencial do cliente.|
|additionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento.|
|districtName|string|false|none|Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas.|
|townName|string|true|none|Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.|
|countrySubDivision|[EnumCountrySubDivision](#schemaenumcountrysubdivision)|true|none|Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros|
|postCode|string|true|none|Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'.|
|ibgeTownCode|string|false|none|Código IBGE do município|
|country|string|true|none|none|
|countryCode|string|false|none|Código do pais de acordo com o código “alpha3” do ISO-3166.|
|geographicCoordinates|[GeographicCoordinates](#schemageographiccoordinates)|false|none|Conjunto de informações, que correspondem aos valores das coordenadas geográficas em graus decimais, no Sistema de referência WGS84|

<h2 id="tocS_GeographicCoordinates">GeographicCoordinates</h2>
<!-- backwards compatibility -->
<a id="schemageographiccoordinates"></a>
<a id="schema_GeographicCoordinates"></a>
<a id="tocSgeographiccoordinates"></a>
<a id="tocsgeographiccoordinates"></a>

```json
{
  "latitude": "-23.5475000",
  "longitude": "-46.6361100"
}

```

Conjunto de informações, que correspondem aos valores das coordenadas geográficas em graus decimais, no Sistema de referência WGS84

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|latitude|string|false|none|Informação da Latitude referente a geolocalização informada. Entre -90 e 90.p.ex. '-23.5475000'. (2 casas antes da vírgula, 11 posições)|
|longitude|string|false|none|Informação da Longitude referente a geolocalização informada. Entre -180 e 180. p.ex '-46.6361100'. (3 casas antes da vírgula, 11 posições)|

<h2 id="tocS_PersonalPostalAddress">PersonalPostalAddress</h2>
<!-- backwards compatibility -->
<a id="schemapersonalpostaladdress"></a>
<a id="schema_PersonalPostalAddress"></a>
<a id="tocSpersonalpostaladdress"></a>
<a id="tocspersonalpostaladdress"></a>

```json
{
  "address": "Av Naburo Ykesaki, 1270",
  "additionalInfo": "Fundos",
  "districtName": "Centro",
  "townName": "Marília",
  "countrySubDivision": "SP",
  "postCode": "17500001",
  "country": "BRA"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|address|string|true|none|Corresponde ao endereço residencial do cliente.|
|additionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento.|
|districtName|string|false|none|Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas.|
|townName|string|true|none|Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.|
|countrySubDivision|[EnumCountrySubDivision](#schemaenumcountrysubdivision)|true|none|Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros|
|postCode|string|true|none|Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'.|
|country|string|true|none|Código do pais de acordo com o código “alpha3” do ISO-3166.|

<h2 id="tocS_EnumAreaCode">EnumAreaCode</h2>
<!-- backwards compatibility -->
<a id="schemaenumareacode"></a>
<a id="schema_EnumAreaCode"></a>
<a id="tocSenumareacode"></a>
<a id="tocsenumareacode"></a>

```json
"19"

```

Número de DDD (Discagem Direta à Distância) do telefone do cliente - se houver

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Número de DDD (Discagem Direta à Distância) do telefone do cliente - se houver|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|11|
|*anonymous*|12|
|*anonymous*|13|
|*anonymous*|14|
|*anonymous*|15|
|*anonymous*|16|
|*anonymous*|17|
|*anonymous*|18|
|*anonymous*|19|
|*anonymous*|21|
|*anonymous*|22|
|*anonymous*|24|
|*anonymous*|27|
|*anonymous*|28|
|*anonymous*|31|
|*anonymous*|32|
|*anonymous*|33|
|*anonymous*|34|
|*anonymous*|35|
|*anonymous*|37|
|*anonymous*|38|
|*anonymous*|41|
|*anonymous*|42|
|*anonymous*|43|
|*anonymous*|44|
|*anonymous*|45|
|*anonymous*|46|
|*anonymous*|47|
|*anonymous*|48|
|*anonymous*|49|
|*anonymous*|51|
|*anonymous*|53|
|*anonymous*|54|
|*anonymous*|55|
|*anonymous*|61|
|*anonymous*|62|
|*anonymous*|63|
|*anonymous*|64|
|*anonymous*|65|
|*anonymous*|66|
|*anonymous*|67|
|*anonymous*|68|
|*anonymous*|69|
|*anonymous*|71|
|*anonymous*|73|
|*anonymous*|74|
|*anonymous*|75|
|*anonymous*|77|
|*anonymous*|79|
|*anonymous*|81|
|*anonymous*|82|
|*anonymous*|83|
|*anonymous*|84|
|*anonymous*|85|
|*anonymous*|86|
|*anonymous*|87|
|*anonymous*|88|
|*anonymous*|89|
|*anonymous*|91|
|*anonymous*|92|
|*anonymous*|93|
|*anonymous*|94|
|*anonymous*|95|
|*anonymous*|96|
|*anonymous*|97|
|*anonymous*|98|
|*anonymous*|99|
|*anonymous*|NA|

<h2 id="tocS_EnumCountrySubDivision">EnumCountrySubDivision</h2>
<!-- backwards compatibility -->
<a id="schemaenumcountrysubdivision"></a>
<a id="schema_EnumCountrySubDivision"></a>
<a id="tocSenumcountrysubdivision"></a>
<a id="tocsenumcountrysubdivision"></a>

```json
"SP"

```

Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|AC|
|*anonymous*|AL|
|*anonymous*|AP|
|*anonymous*|AM|
|*anonymous*|BA|
|*anonymous*|CE|
|*anonymous*|DF|
|*anonymous*|ES|
|*anonymous*|GO|
|*anonymous*|MA|
|*anonymous*|MT|
|*anonymous*|MS|
|*anonymous*|MG|
|*anonymous*|PA|
|*anonymous*|PB|
|*anonymous*|PR|
|*anonymous*|PE|
|*anonymous*|PI|
|*anonymous*|RJ|
|*anonymous*|RN|
|*anonymous*|RS|
|*anonymous*|RO|
|*anonymous*|RR|
|*anonymous*|SC|
|*anonymous*|SP|
|*anonymous*|SE|
|*anonymous*|TO|

<h2 id="tocS_EnumCivilStatusCode">EnumCivilStatusCode</h2>
<!-- backwards compatibility -->
<a id="schemaenumcivilstatuscode"></a>
<a id="schema_EnumCivilStatusCode"></a>
<a id="tocSenumcivilstatuscode"></a>
<a id="tocsenumcivilstatuscode"></a>

```json
"SOLTEIRO"

```

Estado civil do cliente. 

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Estado civil do cliente.|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|SOLTEIRO|
|*anonymous*|CASADO|
|*anonymous*|VIUVO|
|*anonymous*|SEPARADO_JUDICIALMENTE|
|*anonymous*|DIVORCIADO|
|*anonymous*|UNIAO_ESTAVEL|
|*anonymous*|OUTROS|

<h2 id="tocS_EnumIncomeFrequency">EnumIncomeFrequency</h2>
<!-- backwards compatibility -->
<a id="schemaenumincomefrequency"></a>
<a id="schema_EnumIncomeFrequency"></a>
<a id="tocSenumincomefrequency"></a>
<a id="tocsenumincomefrequency"></a>

```json
"MENSAL"

```

Frequência da renda informada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Frequência da renda informada.|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|DIARIA|
|*anonymous*|SEMANAL|
|*anonymous*|QUINZENAL|
|*anonymous*|MENSAL|
|*anonymous*|BIMESTRAL|
|*anonymous*|TRIMESTRAL|
|*anonymous*|SEMESTRAL|
|*anonymous*|ANUAL|

<h2 id="tocS_EnumPersonalDocumentType">EnumPersonalDocumentType</h2>
<!-- backwards compatibility -->
<a id="schemaenumpersonaldocumenttype"></a>
<a id="schema_EnumPersonalDocumentType"></a>
<a id="tocSenumpersonaldocumenttype"></a>
<a id="tocsenumpersonaldocumenttype"></a>

```json
"CNH"

```

Tipo do(s) documento(s) de identificação. 

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Tipo do(s) documento(s) de identificação.|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|CNH|
|*anonymous*|RG|
|*anonymous*|NIF|
|*anonymous*|RNE|
|*anonymous*|OUTROS|
|*anonymous*|SEM_OUTROS_DOCUMENTOS|

<h2 id="tocS_EnumFiliationType">EnumFiliationType</h2>
<!-- backwards compatibility -->
<a id="schemaenumfiliationtype"></a>
<a id="schema_EnumFiliationType"></a>
<a id="tocSenumfiliationtype"></a>
<a id="tocsenumfiliationtype"></a>

```json
"PAI"

```

Tipo de filiação.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Tipo de filiação.|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|MAE|
|*anonymous*|PAI|

<h2 id="tocS_EnumProcuratorsNaturePersonal">EnumProcuratorsNaturePersonal</h2>
<!-- backwards compatibility -->
<a id="schemaenumprocuratorsnaturepersonal"></a>
<a id="schema_EnumProcuratorsNaturePersonal"></a>
<a id="tocSenumprocuratorsnaturepersonal"></a>
<a id="tocsenumprocuratorsnaturepersonal"></a>

```json
"PROCURADOR"

```

Natureza dos poderes vigentes de representante

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Natureza dos poderes vigentes de representante|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|REPRESENTANTE_LEGAL|
|*anonymous*|PROCURADOR|
|*anonymous*|NAO_SE_APLICA|

<h2 id="tocS_EnumProductServiceType">EnumProductServiceType</h2>
<!-- backwards compatibility -->
<a id="schemaenumproductservicetype"></a>
<a id="schema_EnumProductServiceType"></a>
<a id="tocSenumproductservicetype"></a>
<a id="tocsenumproductservicetype"></a>

```json
"MICROSSEGUROS"

```

Tipos de produtos.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Tipos de produtos.|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|MICROSSEGUROS|
|*anonymous*|TITULOS_DE_CAPITALIZACAO|
|*anonymous*|SEGUROS_DE_PESSOAS|
|*anonymous*|PLANOS_DE_PREVIDENCIA_COMPLEMENTAR|
|*anonymous*|SEGUROS_DE_DANOS|

<h2 id="tocS_Links">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
  "first": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
  "prev": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
  "next": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
  "last": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications"
}

```

Referências para outros recusos da API requisitada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string(uri)|true|none|URI completo que gerou a resposta atual.|
|first|string(uri)|false|none|URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta|
|prev|string(uri)|false|none|URI da página anterior dessa lista de resultados. Restrição - 	Obrigatório quando não for a primeira página da resposta|
|next|string(uri)|false|none|URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|
|last|string(uri)|false|none|URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 1,
  "totalPages": 1
}

```

Meta informações referente à API requisitada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer(int32)|true|none|Número total de registros no resultado|
|totalPages|integer(int32)|true|none|Número total de páginas no resultado|

<h2 id="tocS_PersonalDocuments">PersonalDocuments</h2>
<!-- backwards compatibility -->
<a id="schemapersonaldocuments"></a>
<a id="schema_PersonalDocuments"></a>
<a id="tocSpersonaldocuments"></a>
<a id="tocspersonaldocuments"></a>

```json
[
  {
    "type": "CNH",
    "number": "15291908",
    "expirationDate": "2023-05-21",
    "issueLocation": "string"
  }
]

```

Objeto agrupador de informações relativas a Documentos da pessoa natural

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|[EnumPersonalDocumentType](#schemaenumpersonaldocumenttype)|false|none|Tipo do(s) documento(s) de identificação.|
|number|string|false|none|Número/código do(s) documento(s) de identificação - Se aplicável.|
|expirationDate|string(date)|false|none|Data de validade do(s) documento(s) de identificação - Se aplicável.|
|issueLocation|string|false|none|Local de emissão - Se aplicável.|

<h2 id="tocS_OtherPersonalDocuments">OtherPersonalDocuments</h2>
<!-- backwards compatibility -->
<a id="schemaotherpersonaldocuments"></a>
<a id="schema_OtherPersonalDocuments"></a>
<a id="tocSotherpersonaldocuments"></a>
<a id="tocsotherpersonaldocuments"></a>

```json
{
  "type": "SOCIAL SEC",
  "number": "15291908",
  "country": "string",
  "expirationDate": "2023-05-21"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|false|none|Tipo do(s) documento(s) estrangeiro(s) de identificação|
|number|string|false|none|Número/código do(s) documento(s) de identificação.|
|country|string|false|none|País do(s) documento(s) estrangeiro(s) de identificação.|
|expirationDate|string(date)|false|none|Data de vigência do documento de registro - conforme especificação RFC-3339.|

<h2 id="tocS_BusinessDocument">BusinessDocument</h2>
<!-- backwards compatibility -->
<a id="schemabusinessdocument"></a>
<a id="schema_BusinessDocument"></a>
<a id="tocSbusinessdocument"></a>
<a id="tocsbusinessdocument"></a>

```json
{
  "businesscnpjNumber": "50685362006773",
  "businessRegisterNumberOriginCountry": "string",
  "country": "BRA",
  "expirationDate": "2023-05-21"
}

```

Objeto agrupador de informações relativas a Documentos da pessoa natural

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|businesscnpjNumber|string|true|none|Número completo do CNPJ da Empresa consultada  - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara<br>Condicional ao Brasil no (BRA) campo País de emissão do documento de registro|
|businessRegisterNumberOriginCountry|string|false|none|Aplicável somente as pessoas jurídicas com domicílio ou sede no exterior desobrigadas de inscrição no CNPJ.|
|country|string|true|none|Código do pais de acordo com o código “alpha3” do ISO-3166.|
|expirationDate|string(date)|false|none|Data de vigência do documento de registro - conforme especificação RFC-3339.|

<h2 id="tocS_PersonalComplimentaryInformationData">PersonalComplimentaryInformationData</h2>
<!-- backwards compatibility -->
<a id="schemapersonalcomplimentaryinformationdata"></a>
<a id="schema_PersonalComplimentaryInformationData"></a>
<a id="tocSpersonalcomplimentaryinformationdata"></a>
<a id="tocspersonalcomplimentaryinformationdata"></a>

```json
{
  "updateDateTime": "2021-05-21T08:30:00Z",
  "startDate": "2014-05-21",
  "relationshipBeginning": "2014-05-21",
  "productsServices": [
    {
      "contract": "string",
      "type": "MICROSSEGUROS",
      "insuranceLineCode": "6272",
      "procurators": [
        {
          "nature": "PROCURADOR",
          "cpfNumber": "73677831148",
          "civilName": "Elza Milena Stefany Teixeira",
          "socialName": "string"
        }
      ]
    }
  ]
}

```

Objeto que reúne as informações relativas ao relacionamento do cliente junto à Instituição. Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente e seus representantes

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|updateDateTime|string(date-time)|true|none|Data e hora da atualização do bloco de Relacionamento, conforme especificação RFC-3339, formato UTC.|
|startDate|string(date)|true|none|Data mais antiga de início de relacionamento, considerando todos os contratos (vigentes e não vigentes). Os contratos não vigentes considerados devem contemplar, no mínimo o período indicado na Tabela 4.1.|
|relationshipBeginning|string(date)|false|none|Campo deve ser preenchido com a data da apólice/contrato vigente mais antiga.(caso haja contrato vigente)|
|productsServices|[object]|true|none|none|
|» contract|string|true|none|Campo deve conter todos os contratos do cliente nos últimos 12 meses (número da apólice individual ou contrato ou certificado ou bilhete)|
|» type|[EnumProductServiceType](#schemaenumproductservicetype)|true|none|Tipos de produtos.|
|» insuranceLineCode|string|false|none|Indicar para cada contrato, caso aplicável, o código do ramo, conforme listagem de códigos definida em regulamentação específica sobre contabilização em ramos. Obs - Caso tipo de produto do contrato for “Seguros de Danos”|
|» procurators|[[PersonalProcurator](#schemapersonalprocurator)]|false|none|Lista dos representantes. De preenchimento obrigatório se houver representante.|

<h2 id="tocS_PersonalIdentificationData">PersonalIdentificationData</h2>
<!-- backwards compatibility -->
<a id="schemapersonalidentificationdata"></a>
<a id="schema_PersonalIdentificationData"></a>
<a id="tocSpersonalidentificationdata"></a>
<a id="tocspersonalidentificationdata"></a>

```json
{
  "updateDateTime": "2021-05-21T08:30:00Z",
  "personalId": "578-psd-71md6971kjh-2d414",
  "brandName": "Organização A",
  "civilName": "Juan Kaique Cláudio Fernandes",
  "socialName": "string",
  "cpfNumber": "string",
  "companyInfo": {
    "cnpjNumber": "01773247000563",
    "name": "Empresa da Organização A"
  },
  "documents": [
    {
      "type": "CNH",
      "number": "15291908",
      "expirationDate": "2023-05-21",
      "issueLocation": "string"
    }
  ],
  "hasBrazilianNationality": false,
  "otherNationalitiesInfo": "CAN",
  "otherDocuments": {
    "type": "SOCIAL SEC",
    "number": "15291908",
    "country": "string",
    "expirationDate": "2023-05-21"
  },
  "contact": {
    "postalAddresses": [
      {
        "address": "Av Naburo Ykesaki, 1270",
        "additionalInfo": "Fundos",
        "districtName": "Centro",
        "townName": "Marília",
        "countrySubDivision": "SP",
        "postCode": "17500001",
        "country": "BRA"
      }
    ],
    "phones": [
      {
        "countryCallingCode": "55",
        "areaCode": "19",
        "number": "29875132",
        "phoneExtension": "932"
      }
    ],
    "emails": [
      {
        "email": "nome@br.net"
      }
    ]
  },
  "civilStatusCode": "SOLTEIRO",
  "sex": "FEMININO",
  "birthDate": "2021-05-21",
  "filiation": {
    "type": "PAI",
    "civilName": "Marcelo Cláudio Fernandes"
  },
  "identificationDetails": {
    "civilName": "Juan Kaique Cláudio Fernandes",
    "cpfNumber": "string"
  }
}

```

Conjunto de informações relativas a Identificação ou seja a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|updateDateTime|string(date-time)|true|none|Data e hora da atualização do bloco, conforme especificação RFC-3339|
|personalId|string|false|none|Um identificador único e imutável usado para identificar o recurso cliente pessoa natural dentro da transmissora. Este identificador não tem significado para o cliente que deu o consentimento|
|brandName|string|true|none|Nome da Marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes|
|civilName|string|true|none|Nome civil completo da pessoa natural (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, com o qual será identificada por toda a sua vida, bem como após a sua morte)|
|socialName|string|false|none|Nome social da pessoa natural, se houver. <br>(aquele pelo qual travestis e transexuais se reconhecem, <br>bem como são identificados por sua comunidade e em seu meio social, conforme Decreto Local).|
|cpfNumber|string|true|none|Número completo do CPF. Atributo que corresponde às informações mínimas exigidas pela Regulamentação em vigor. O CPF é o Cadastro de Pessoa natural.  Ele é um documento feito pela Receita Federal e serve para identificar os contribuintes. O CPF é uma numeração com 11 dígitos, que só mudam por decisão judicial. O documento é emitido pela receita federal<br>Condicional a seleção de true em hasBrazilianNationality|
|companyInfo|object|true|none|Informações referente a sociedade a qual a marca pertence.|
|» cnpjNumber|string|true|none|Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. <br>Deve-se ter apenas os números do CNPJ, sem máscara|
|» name|string|true|none|Nome da Instituição, pertencente à Marca, responsável pela Dependência|
|documents|[PersonalDocuments](#schemapersonaldocuments)|false|none|Objeto agrupador de informações relativas a Documentos da pessoa natural|
|hasBrazilianNationality|boolean¦null|true|none|Informa se o Cliente tem nacionalidade brasileira.|
|otherNationalitiesInfo|string|false|none|Código do pais de acordo com o código “alpha3” do ISO-3166|
|otherDocuments|[OtherPersonalDocuments](#schemaotherpersonaldocuments)|false|none|none|
|contact|[PersonalContact](#schemapersonalcontact)|true|none|Conjunto de informações referentes às formas para contatar o cliente.|
|civilStatusCode|[EnumCivilStatusCode](#schemaenumcivilstatuscode)|false|none|Estado civil do cliente.|
|sex|string|false|none|none|
|birthDate|string(date)|false|none|Data de nascimento, conforme especificação RFC-3339|
|filiation|object|false|none|none|
|» type|[EnumFiliationType](#schemaenumfiliationtype)|false|none|Tipo de filiação.|
|» civilName|string|true|none|Nome civil completo da pessoa relativa à filiação.<br>(Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, <br>com o qual será identificada por toda a sua vida, bem como após a sua morte).|
|identificationDetails|object|false|none|Informações referente ao cônjuge.|
|» civilName|string|false|none|Nome civil completo da pessoa natural (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, com o qual será identificada por toda a sua vida, bem como após a sua morte)|
|» cpfNumber|string|false|none|Número completo do CPF. Atributo que corresponde às informações mínimas exigidas pela Regulamentação em vigor. O CPF é o Cadastro de Pessoa natural.  Ele é um documento feito pela Receita Federal e serve para identificar os contribuintes. O CPF é uma numeração com 11 dígitos, que só mudam por decisão judicial. O documento é emitido pela receita federal<br>Condicional a seleção de true em hasBrazilianNationality|

<h2 id="tocS_PersonalProcurator">PersonalProcurator</h2>
<!-- backwards compatibility -->
<a id="schemapersonalprocurator"></a>
<a id="schema_PersonalProcurator"></a>
<a id="tocSpersonalprocurator"></a>
<a id="tocspersonalprocurator"></a>

```json
{
  "nature": "PROCURADOR",
  "cpfNumber": "73677831148",
  "civilName": "Elza Milena Stefany Teixeira",
  "socialName": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|nature|[EnumProcuratorsNaturePersonal](#schemaenumprocuratorsnaturepersonal)|true|none|Natureza dos poderes vigentes de representante|
|cpfNumber|string|true|none|Número completo do CPF. O CPF é o Cadastro de Pessoa natural. Ele é um documento feito pela Receita Federal e serve para identificar os contribuintes. O CPF é uma numeração com 11 dígitos, que só mudam por decisão judicial. O documento é emitido pela receita federal|
|civilName|string|true|none|Nome civil completo da pessoa natural. (Direito fundamental da pessoa, o nome civil é aquele atribuído à pessoa natural desde o registro de seu nascimento, com o qual será identificada por toda a sua vida, bem como após a sua morte)|
|socialName|string|false|none|Nome social da pessoa natural, se houver. <br>(aquele pelo qual travestis e transexuais se reconhecem, <br>bem como são identificados por sua comunidade e em seu meio social, conforme Decreto Local).|

<h2 id="tocS_PersonalQualificationData">PersonalQualificationData</h2>
<!-- backwards compatibility -->
<a id="schemapersonalqualificationdata"></a>
<a id="schema_PersonalQualificationData"></a>
<a id="tocSpersonalqualificationdata"></a>
<a id="tocspersonalqualificationdata"></a>

```json
{
  "updateDateTime": "2021-05-21T08:30:00Z",
  "pepIdentification": "NAO_EXPOSTO",
  "occupation": [
    {
      "details": "string",
      "occupationCode": "RECEITA_FEDERAL",
      "occupationCodeType": "RFB"
    }
  ],
  "lifePensionPlans": "SIM",
  "informedRevenue": {
    "incomeFrequency": "MENSAL",
    "currency": "BRL",
    "amount": 100000.04,
    "year": "2010"
  },
  "informedPatrimony": {
    "currency": "BRL",
    "amount": 100000.04,
    "year": "2010"
  }
}

```

Conjunto de informações relativas ao processo de qualificação.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|updateDateTime|string(date-time)|true|none|Data e hora da atualização do bloco, conforme especificação RFC-3339|
|pepIdentification|string|true|none|Campo deve ser preenchido com a exposição política do segurado:|
|occupation|[object]|false|none|none|
|» details|string|false|none|Ocupação|
|» occupationCode|string|false|none|Código da ocupação|
|» occupationCodeType|string|false|none|Tipo de código da ocupação|
|lifePensionPlans|string|true|none|Condição de proponente qualificado, aplicável à contratação de planos de previdência e vida por sobrevivência|
|informedRevenue|object|false|none|none|
|» incomeFrequency|[EnumIncomeFrequency](#schemaenumincomefrequency)|false|none|Frequência da renda informada.|
|» currency|string|false|none|Moeda referente ao valor do patrimônio, segundo modelo ISO-4217.|
|» amount|number¦null|false|none|Valor do rendimento|
|» year|string(date-year)|false|none|Data de referência da renda, conforme especificação RFC-3339.|
|informedPatrimony|object|false|none|none|
|» currency|string|false|none|Moeda referente ao valor do patrimônio, segundo modelo ISO-4217.|
|» amount|number¦null|false|none|Valor do rendimento|
|» year|string(date-year)|false|none|Data de referência da renda, conforme especificação RFC-3339.|

#### Enumerated Values

|Property|Value|
|---|---|
|pepIdentification|NAO_EXPOSTO|
|pepIdentification|PESSOA_POLITICAMENTE_EXPOSTA_PPE|
|pepIdentification|PESSOA_PROXIMA_A_PESSOA_POLITICAMENTE_EXPOSTA_PPEE|
|pepIdentification|SEM_INFORMACAO|
|occupationCodeType|RFB|
|occupationCodeType|CBO|
|occupationCodeType|OUTROS|
|lifePensionPlans|SIM|
|lifePensionPlans|NAO|
|lifePensionPlans|NAO_SE_APLICA|

<h2 id="tocS_ResponseBusinessCustomersComplimentaryInformation">ResponseBusinessCustomersComplimentaryInformation</h2>
<!-- backwards compatibility -->
<a id="schemaresponsebusinesscustomerscomplimentaryinformation"></a>
<a id="schema_ResponseBusinessCustomersComplimentaryInformation"></a>
<a id="tocSresponsebusinesscustomerscomplimentaryinformation"></a>
<a id="tocsresponsebusinesscustomerscomplimentaryinformation"></a>

```json
{
  "data": [
    {
      "updateDateTime": "2020-07-21T08:30:00Z",
      "startDate": "2014-05-21",
      "relationshipBeginning": "2014-05-21",
      "productsServices": [
        {
          "contract": "string",
          "type": "MICROSSEGUROS",
          "insuranceLineCode": "6272",
          "procurators": [
            {
              "nature": "PROCURADOR",
              "cpfNumber": "73677831148",
              "civilName": "Elza Milena Stefany Teixeira",
              "socialName": "string"
            }
          ]
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "first": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "prev": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "next": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "last": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[BusinessComplimentaryInformationData](#schemabusinesscomplimentaryinformationdata)]|true|none|[Objeto que reúne as informações relativas ao relacionamento do cliente junto à Instituição. Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente e seus representantes]|
|links|[Links](#schemalinks)|true|none|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemameta)|true|none|Meta informações referente à API requisitada.|

<h2 id="tocS_ResponseBusinessCustomersIdentification">ResponseBusinessCustomersIdentification</h2>
<!-- backwards compatibility -->
<a id="schemaresponsebusinesscustomersidentification"></a>
<a id="schema_ResponseBusinessCustomersIdentification"></a>
<a id="tocSresponsebusinesscustomersidentification"></a>
<a id="tocsresponsebusinesscustomersidentification"></a>

```json
{
  "data": [
    {
      "updateDateTime": "2021-05-21T08:30:00Z",
      "businessId": "578-psd-71md6971kjh-2d414",
      "brandName": "Organização A",
      "companyInfo": {
        "cnpjNumber": "01773247000563",
        "name": "Empresa da Organização A"
      },
      "businessName": "Luiza e Benjamin Assessoria Jurídica Ltda",
      "businessTradeName": "Organização B",
      "incorporationDate": "2012-05-21",
      "document": {
        "businesscnpjNumber": "50685362006773",
        "businessRegisterNumberOriginCountry": "string",
        "country": "BRA",
        "expirationDate": "2023-05-21"
      },
      "type": "PRIVADO",
      "contact": {
        "postalAddresses": [
          {
            "address": "Av Naburo Ykesaki, 1270",
            "additionalInfo": "Fundos",
            "districtName": "Centro",
            "townName": "Marília",
            "countrySubDivision": "SP",
            "postCode": "17500001",
            "ibgeTownCode": "17500001",
            "country": "Brasil",
            "countryCode": "BRA",
            "geographicCoordinates": {
              "latitude": "-23.5475000",
              "longitude": "-46.6361100"
            }
          }
        ],
        "phones": [
          {
            "countryCallingCode": "55",
            "areaCode": "19",
            "number": "29875132",
            "phoneExtension": "932"
          }
        ],
        "emails": [
          {
            "email": "nome@br.net"
          }
        ]
      },
      "parties": [
        {
          "type": "SOCIO",
          "civilName": "Juan Kaique Cláudio Fernandes",
          "socialName": "string",
          "startDate": "2014-05-21",
          "shareholding": "0.510000",
          "documentType": "CPF",
          "documentNumber": "73677831148",
          "documentCountry": "BRA",
          "documentExpirationDate": "2021-05-21"
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "first": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "prev": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "next": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "last": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[BusinessIdentificationData](#schemabusinessidentificationdata)]|true|none|[Conjunto de informações relativas a Identificação ou seja a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais]|
|links|[Links](#schemalinks)|true|none|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemameta)|true|none|Meta informações referente à API requisitada.|

<h2 id="tocS_ResponseBusinessCustomersQualification">ResponseBusinessCustomersQualification</h2>
<!-- backwards compatibility -->
<a id="schemaresponsebusinesscustomersqualification"></a>
<a id="schema_ResponseBusinessCustomersQualification"></a>
<a id="tocSresponsebusinesscustomersqualification"></a>
<a id="tocsresponsebusinesscustomersqualification"></a>

```json
{
  "data": [
    {
      "updateDateTime": "2021-05-21T08:30:00Z",
      "mainBranch": "string",
      "secondaryBranch": "string",
      "informedRevenue": {
        "incomeFrequency": "MENSAL",
        "currency": "BRL",
        "amount": 100000.04,
        "year": "2010"
      },
      "informedPatrimony": {
        "currency": "BRL",
        "amount": 100000.04,
        "year": "2010"
      }
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "first": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "prev": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "next": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "last": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[BusinessQualificationData](#schemabusinessqualificationdata)]|true|none|[Objeto que reúne as informações relativas ao processo de qualificação.]|
|links|[Links](#schemalinks)|true|none|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemameta)|true|none|Meta informações referente à API requisitada.|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|meta|[Meta](#schemameta)|false|none|Meta informações referente à API requisitada.|

<h2 id="tocS_ResponsePersonalCustomersComplimentaryInformation">ResponsePersonalCustomersComplimentaryInformation</h2>
<!-- backwards compatibility -->
<a id="schemaresponsepersonalcustomerscomplimentaryinformation"></a>
<a id="schema_ResponsePersonalCustomersComplimentaryInformation"></a>
<a id="tocSresponsepersonalcustomerscomplimentaryinformation"></a>
<a id="tocsresponsepersonalcustomerscomplimentaryinformation"></a>

```json
{
  "data": [
    {
      "updateDateTime": "2021-05-21T08:30:00Z",
      "startDate": "2014-05-21",
      "relationshipBeginning": "2014-05-21",
      "productsServices": [
        {
          "contract": "string",
          "type": "MICROSSEGUROS",
          "insuranceLineCode": "6272",
          "procurators": [
            {
              "nature": "PROCURADOR",
              "cpfNumber": "73677831148",
              "civilName": "Elza Milena Stefany Teixeira",
              "socialName": "string"
            }
          ]
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "first": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "prev": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "next": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "last": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[PersonalComplimentaryInformationData](#schemapersonalcomplimentaryinformationdata)]|true|none|[Objeto que reúne as informações relativas ao relacionamento do cliente junto à Instituição. Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente e seus representantes]|
|links|[Links](#schemalinks)|true|none|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemameta)|true|none|Meta informações referente à API requisitada.|

<h2 id="tocS_ResponsePersonalCustomersIdentification">ResponsePersonalCustomersIdentification</h2>
<!-- backwards compatibility -->
<a id="schemaresponsepersonalcustomersidentification"></a>
<a id="schema_ResponsePersonalCustomersIdentification"></a>
<a id="tocSresponsepersonalcustomersidentification"></a>
<a id="tocsresponsepersonalcustomersidentification"></a>

```json
{
  "data": [
    {
      "updateDateTime": "2021-05-21T08:30:00Z",
      "personalId": "578-psd-71md6971kjh-2d414",
      "brandName": "Organização A",
      "civilName": "Juan Kaique Cláudio Fernandes",
      "socialName": "string",
      "cpfNumber": "string",
      "companyInfo": {
        "cnpjNumber": "01773247000563",
        "name": "Empresa da Organização A"
      },
      "documents": [
        {
          "type": "CNH",
          "number": "15291908",
          "expirationDate": "2023-05-21",
          "issueLocation": "string"
        }
      ],
      "hasBrazilianNationality": false,
      "otherNationalitiesInfo": "CAN",
      "otherDocuments": {
        "type": "SOCIAL SEC",
        "number": "15291908",
        "country": "string",
        "expirationDate": "2023-05-21"
      },
      "contact": {
        "postalAddresses": [
          {
            "address": "Av Naburo Ykesaki, 1270",
            "additionalInfo": "Fundos",
            "districtName": "Centro",
            "townName": "Marília",
            "countrySubDivision": "SP",
            "postCode": "17500001",
            "country": "BRA"
          }
        ],
        "phones": [
          {
            "countryCallingCode": "55",
            "areaCode": "19",
            "number": "29875132",
            "phoneExtension": "932"
          }
        ],
        "emails": [
          {
            "email": "nome@br.net"
          }
        ]
      },
      "civilStatusCode": "SOLTEIRO",
      "sex": "FEMININO",
      "birthDate": "2021-05-21",
      "filiation": {
        "type": "PAI",
        "civilName": "Marcelo Cláudio Fernandes"
      },
      "identificationDetails": {
        "civilName": "Juan Kaique Cláudio Fernandes",
        "cpfNumber": "string"
      }
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "first": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "prev": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "next": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "last": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[PersonalIdentificationData](#schemapersonalidentificationdata)]|true|none|[Conjunto de informações relativas a Identificação ou seja a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.]|
|links|[Links](#schemalinks)|true|none|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemameta)|true|none|Meta informações referente à API requisitada.|

<h2 id="tocS_ResponsePersonalCustomersQualification">ResponsePersonalCustomersQualification</h2>
<!-- backwards compatibility -->
<a id="schemaresponsepersonalcustomersqualification"></a>
<a id="schema_ResponsePersonalCustomersQualification"></a>
<a id="tocSresponsepersonalcustomersqualification"></a>
<a id="tocsresponsepersonalcustomersqualification"></a>

```json
{
  "data": [
    {
      "updateDateTime": "2021-05-21T08:30:00Z",
      "pepIdentification": "NAO_EXPOSTO",
      "occupation": [
        {
          "details": "string",
          "occupationCode": "RECEITA_FEDERAL",
          "occupationCodeType": "RFB"
        }
      ],
      "lifePensionPlans": "SIM",
      "informedRevenue": {
        "incomeFrequency": "MENSAL",
        "currency": "BRL",
        "amount": 100000.04,
        "year": "2010"
      },
      "informedPatrimony": {
        "currency": "BRL",
        "amount": 100000.04,
        "year": "2010"
      }
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "first": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "prev": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "next": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications",
    "last": "https://api.organizacao.com.br/open-insurance/customer/v1/personal/identifications"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[PersonalQualificationData](#schemapersonalqualificationdata)]|true|none|[Conjunto de informações relativas ao processo de qualificação.]|
|links|[Links](#schemalinks)|true|none|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemameta)|true|none|Meta informações referente à API requisitada.|

<h2 id="tocS_XFapiInteractionId">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionid"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

