
<h2 id="tocS_ResponseInsuranceLifePension">ResponseInsuranceLifePension</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancelifepension"></a>
<a id="schema_ResponseInsuranceLifePension"></a>
<a id="tocSresponseinsurancelifepension"></a>
<a id="tocsresponseinsurancelifepension"></a>

```json
{
  "data": {
    "brand": {
      "name": "EMPRESA A SEGUROS",
      "companies": [
        {
          "companyName": "Empresa da Organização A",
          "cnpjNumber": "12345678901234",
          "contracts": [
            {
              "productName": "Produto A Previdência",
              "pensionIdentification": "42"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|object|true|none|Marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|»» name|string|true|none|Nome da Marca|
|»» companies|[object]|true|none|none|
|»»» companyName|string|true|none|Nome da sociedade pertencente à marca|
|»»» cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca|
|»»» contracts|[object]|false|none|none|
|»»»» productName|string|true|none|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade|
|»»»» pensionIdentification|string|true|none|Código único a ser definido pela sociedade|
|links|[Links](#schemalinksinsurancelifepension)|true|none|none|
|meta|[Meta](#schemametainsurancelifepension)|true|none|none|

<h2 id="tocS_ResponseInsuranceLifePensionContractInfo">ResponseInsuranceLifePensionContractInfo</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancelifepensioncontractinfo"></a>
<a id="schema_ResponseInsuranceLifePensionContractInfo"></a>
<a id="tocSresponseinsurancelifepensioncontractinfo"></a>
<a id="tocsresponseinsurancelifepensioncontractinfo"></a>

```json
{
  "data": {
    "pensionIdentification": "42",
    "documents": [
      {
        "contractingType": "INDIVIDUAL",
        "certificateId": "67",
        "contractId": "681",
        "effectiveDateStart": "2021-05-21",
        "effectiveDateEnd": "2021-05-21"
      }
    ],
    "proposalId": "987",
    "insureds": [
      {
        "documentType": "CPF",
        "documentTypeOthers": "OUTROS",
        "documentNumber": "12345678910",
        "name": "Juan Kaique Cláudio Fernandes",
        "birthDate": "2021-05-21",
        "gender": "MASCULINO",
        "postCode": "17500001",
        "email": "nome@br.net",
        "townName": "Rio de Janeiro",
        "countrySubDivision": "RJ",
        "countryCode": "BRA",
        "address": "Av Naburo Ykesaki, 1270",
        "addressAdditionalInfo": "Fundos"
      }
    ],
    "beneficiary": [
      {
        "documentNumber": "12345678910",
        "documentType": "CPF",
        "documentTypeOthers": "OUTROS",
        "name": "Juan Kaique Cláudio Fernandes",
        "participationPercentage": "10.00"
      }
    ],
    "intermediary": [
      {
        "type": "CORRETOR",
        "documentNumber": "12345678910",
        "intermediaryId": "12097",
        "documentType": "CPF",
        "documentTypeOthers": "OUTROS",
        "name": "Empresa A",
        "postCode": "17500001",
        "townName": "Rio de Janeiro",
        "countrySubDivision": "RJ",
        "countryCode": "BRA",
        "address": "Av Naburo Ykesaki, 1270",
        "additionalInfo": "Fundos"
      }
    ],
    "planType": "AVERBADO",
    "plans": [
      {
        "coverageCode": "1999",
        "susepProcessNumber": "12345",
        "structureModality": "BENEFICIO_DEFINIDO",
        "benefitAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "rentsInterestRate": "10.00",
        "periodicity": "MENSAL",
        "grace": [
          {
            "graceType": "RESGATE",
            "gracePeriod": 4,
            "gracePeriodicity": "ANO",
            "dayIndicator": "UTEIS",
            "gracePeriodStart": "2021-05-21",
            "gracePeriodEnd": "2021-05-21",
            "gracePeriodBetween": 6,
            "gracePeriodBetweenType": "DIA"
          }
        ],
        "type": "PGBL",
        "typeDetails": "Descrição do Tipo de Plano",
        "lockedPlan": false,
        "qualifiedProposer": "SIM",
        "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
        "benefitPaymentMethod": "RENDA",
        "pmbacInterestRate": "10.00",
        "pmbacGuaranteePriceIndex": "IPC-FGV",
        "pmbacIndexLagging": 1,
        "financialResultReversal": false,
        "financialResultReversalPercentage": "10.00",
        "pdrOrVdrminimalGuaranteeIndex": "IPC-FGV",
        "pdrOrVdrminimalGuaranteePercentage": "10.00",
        "taxRegime": "PROGRESSIVO",
        "calculationBasis": "MENSAL"
      }
    ],
    "conjugatedPlan": true,
    "PMBaC": {
      "pmbacAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "provisionSurplusAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "FIE": [
        {
          "FIECNPJ": "12345678901234",
          "FIEName": "RAZÃO SOCIAL",
          "FIETradeName": "NOME FANTASIA"
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceLifePensionContractInfo](#schemainsurancelifepensioncontractinfo)|true|none|none|
|links|[Links](#schemalinksinsurancelifepension)|true|none|none|
|meta|[Meta](#schemametainsurancelifepension)|true|none|none|

<h2 id="tocS_InsuranceLifePensionContractInfo">InsuranceLifePensionContractInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensioncontractinfo"></a>
<a id="schema_InsuranceLifePensionContractInfo"></a>
<a id="tocSinsurancelifepensioncontractinfo"></a>
<a id="tocsinsurancelifepensioncontractinfo"></a>

```json
{
  "pensionIdentification": "42",
  "documents": [
    {
      "contractingType": "INDIVIDUAL",
      "certificateId": "67",
      "contractId": "681",
      "effectiveDateStart": "2021-05-21",
      "effectiveDateEnd": "2021-05-21"
    }
  ],
  "proposalId": "987",
  "insureds": [
    {
      "documentType": "CPF",
      "documentTypeOthers": "OUTROS",
      "documentNumber": "12345678910",
      "name": "Juan Kaique Cláudio Fernandes",
      "birthDate": "2021-05-21",
      "gender": "MASCULINO",
      "postCode": "17500001",
      "email": "nome@br.net",
      "townName": "Rio de Janeiro",
      "countrySubDivision": "RJ",
      "countryCode": "BRA",
      "address": "Av Naburo Ykesaki, 1270",
      "addressAdditionalInfo": "Fundos"
    }
  ],
  "beneficiary": [
    {
      "documentNumber": "12345678910",
      "documentType": "CPF",
      "documentTypeOthers": "OUTROS",
      "name": "Juan Kaique Cláudio Fernandes",
      "participationPercentage": "10.00"
    }
  ],
  "intermediary": [
    {
      "type": "CORRETOR",
      "documentNumber": "12345678910",
      "intermediaryId": "12097",
      "documentType": "CPF",
      "documentTypeOthers": "OUTROS",
      "name": "Empresa A",
      "postCode": "17500001",
      "townName": "Rio de Janeiro",
      "countrySubDivision": "RJ",
      "countryCode": "BRA",
      "address": "Av Naburo Ykesaki, 1270",
      "additionalInfo": "Fundos"
    }
  ],
  "planType": "AVERBADO",
  "plans": [
    {
      "coverageCode": "1999",
      "susepProcessNumber": "12345",
      "structureModality": "BENEFICIO_DEFINIDO",
      "benefitAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "rentsInterestRate": "10.00",
      "periodicity": "MENSAL",
      "grace": [
        {
          "graceType": "RESGATE",
          "gracePeriod": 4,
          "gracePeriodicity": "ANO",
          "dayIndicator": "UTEIS",
          "gracePeriodStart": "2021-05-21",
          "gracePeriodEnd": "2021-05-21",
          "gracePeriodBetween": 6,
          "gracePeriodBetweenType": "DIA"
        }
      ],
      "type": "PGBL",
      "typeDetails": "Descrição do Tipo de Plano",
      "lockedPlan": false,
      "qualifiedProposer": "SIM",
      "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
      "benefitPaymentMethod": "RENDA",
      "pmbacInterestRate": "10.00",
      "pmbacGuaranteePriceIndex": "IPC-FGV",
      "pmbacIndexLagging": 1,
      "financialResultReversal": false,
      "financialResultReversalPercentage": "10.00",
      "pdrOrVdrminimalGuaranteeIndex": "IPC-FGV",
      "pdrOrVdrminimalGuaranteePercentage": "10.00",
      "taxRegime": "PROGRESSIVO",
      "calculationBasis": "MENSAL"
    }
  ],
  "conjugatedPlan": true,
  "PMBaC": {
    "pmbacAmount": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "provisionSurplusAmount": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "FIE": [
      {
        "FIECNPJ": "12345678901234",
        "FIEName": "RAZÃO SOCIAL",
        "FIETradeName": "NOME FANTASIA"
      }
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|pensionIdentification|string|true|none|Código único a ser definido pela sociedade|
|documents|[[InsuranceLifePensionDocuments](#schemainsurancelifepensiondocuments)]|true|none|none|
|proposalId|string|true|none|Identificador da Proposta de seguro|
|insureds|[[InsuranceLifePensionDocumentsInsured](#schemainsurancelifepensiondocumentsinsured)]|true|none|[Informações do segurado/participante]|
|beneficiary|[[InsuranceLifePensionDocumentsBeneficiary](#schemainsurancelifepensiondocumentsbeneficiary)]|false|none|[Informações do beneficiário/pessoa associada, obrigatório se houver.]|
|intermediary|[[InsuranceLifePensionDocumentsIntermediary](#schemainsurancelifepensiondocumentsintermediary)]|false|none|[Informações de intermediário, obrigatório se houver.]|
|planType|string|false|none|Tipo do Plano (Quando Contrato Coletivo)|
|plans|[[InsuranceLifePensionPlans](#schemainsurancelifepensionplans)]|true|none|none|
|conjugatedPlan|boolean|true|none|O plano é conjugado?|
|PMBaC|object|true|none|PMBaC|
|» pmbacAmount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|true|none|Valor PMBaC (fim do mês) <br>Valor da Provisão Matemática de Benefícios a Conceder (PMBaC), no fim de cada mês. Caso não haja saldo informar nulo|
|» provisionSurplusAmount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|true|none|Valor da provisão de excedentes financeiros (PEF) (valor ao final do mês) Caso não haja saldo informar nulo|
|» FIE|[object]|true|none|none|
|»» FIECNPJ|string|false|none|CNPJ do FIE|
|»» FIEName|string|false|none|Razão social do FIE|
|»» FIETradeName|string|false|none|Nome fantasia do FIE|

#### Enumerated Values

|Property|Value|
|---|---|
|planType|AVERBADO|
|planType|INSTITUIDO_CONTRIBUTARIO|
|planType|INSTITUIDO_NAO_CONTRIBUTARIO|

<h2 id="tocS_InsuranceLifePensionDocuments">InsuranceLifePensionDocuments</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensiondocuments"></a>
<a id="schema_InsuranceLifePensionDocuments"></a>
<a id="tocSinsurancelifepensiondocuments"></a>
<a id="tocsinsurancelifepensiondocuments"></a>

```json
{
  "contractingType": "INDIVIDUAL",
  "certificateId": "67",
  "contractId": "681",
  "effectiveDateStart": "2021-05-21",
  "effectiveDateEnd": "2021-05-21"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractingType|string|true|none|Tipo de contratação|
|certificateId|string|true|none|Identificador do certificado/apólice individual, caso contrato individual. Identificador do certificado, caso contrato coletivo.|
|contractId|string|false|none|identificação do contrato/apólice, em caso de contratação coletiva, obrigatório caso Tipo de contratação seja COLETIVO|
|effectiveDateStart|string(date)|true|none|Data de Início da Vigência do documento.|
|effectiveDateEnd|string(date)|true|none|Data de Fim da Vigência do documento.|

#### Enumerated Values

|Property|Value|
|---|---|
|contractingType|COLETIVO|
|contractingType|INDIVIDUAL|

<h2 id="tocS_InsuranceLifePensionDocumentsInsured">InsuranceLifePensionDocumentsInsured</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensiondocumentsinsured"></a>
<a id="schema_InsuranceLifePensionDocumentsInsured"></a>
<a id="tocSinsurancelifepensiondocumentsinsured"></a>
<a id="tocsinsurancelifepensiondocumentsinsured"></a>

```json
{
  "documentType": "CPF",
  "documentTypeOthers": "OUTROS",
  "documentNumber": "12345678910",
  "name": "Juan Kaique Cláudio Fernandes",
  "birthDate": "2021-05-21",
  "gender": "MASCULINO",
  "postCode": "17500001",
  "email": "nome@br.net",
  "townName": "Rio de Janeiro",
  "countrySubDivision": "RJ",
  "countryCode": "BRA",
  "address": "Av Naburo Ykesaki, 1270",
  "addressAdditionalInfo": "Fundos"
}

```

Informações do segurado/participante

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|documentType|string|true|none|Tipo de Documento do Segurado/Participante|
|documentTypeOthers|string|false|none|Descrição do Tipo de Documento quando for informada a opção OUTROS|
|documentNumber|string|true|none|Documento do Segurado/Participante|
|name|string|true|none|Nome do Segurado/Participante|
|birthDate|string(date)|true|none|Data de nascimento, conforme especificação RFC-3339|
|gender|string|true|none|Sexo do Segurado / Participante, Obrigatório, se houver|
|postCode|string|true|none|Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'.<br>Código Postal do Segurado / Participante, Obrigatório, se houver|
|email|string|false|none|Endereço de email, Obrigatório, se houver|
|townName|string|true|none|Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.<br>Cidade do Segurado / Participante|
|countrySubDivision|[EnumCountrySubDivision](#schemaenumcountrysubdivisioninsurancelifepension)|true|none|Estado do Segurado / Participante|
|countryCode|string|true|none|Código do pais de acordo com o código “alpha3” do ISO-3166.<br>País do Segurado / Participante|
|address|string|true|none|Endereço do Segurado / Participante|
|addressAdditionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento.|

#### Enumerated Values

|Property|Value|
|---|---|
|documentType|CPF|
|documentType|OUTROS|
|gender|MASCULINO|
|gender|FEMININO|
|gender|NAO_INFORMADO|

<h2 id="tocS_InsuranceLifePensionDocumentsBeneficiary">InsuranceLifePensionDocumentsBeneficiary</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensiondocumentsbeneficiary"></a>
<a id="schema_InsuranceLifePensionDocumentsBeneficiary"></a>
<a id="tocSinsurancelifepensiondocumentsbeneficiary"></a>
<a id="tocsinsurancelifepensiondocumentsbeneficiary"></a>

```json
{
  "documentNumber": "12345678910",
  "documentType": "CPF",
  "documentTypeOthers": "OUTROS",
  "name": "Juan Kaique Cláudio Fernandes",
  "participationPercentage": "10.00"
}

```

Informações do beneficiário/pessoa associada, obrigatório se houver.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|documentNumber|string|false|none|Documento do beneficiário|
|documentType|string|false|none|Tipo de Documento do beneficiário|
|documentTypeOthers|string|false|none|Descrição do Tipo de Documento quando for informada a opção OUTROS|
|name|string|true|none|Nome beneficiário|
|participationPercentage|string|true|none|Percentual de particiapação do beneficiário.|

#### Enumerated Values

|Property|Value|
|---|---|
|documentType|CPF|
|documentType|OUTROS|

<h2 id="tocS_InsuranceLifePensionDocumentsIntermediary">InsuranceLifePensionDocumentsIntermediary</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensiondocumentsintermediary"></a>
<a id="schema_InsuranceLifePensionDocumentsIntermediary"></a>
<a id="tocSinsurancelifepensiondocumentsintermediary"></a>
<a id="tocsinsurancelifepensiondocumentsintermediary"></a>

```json
{
  "type": "CORRETOR",
  "documentNumber": "12345678910",
  "intermediaryId": "12097",
  "documentType": "CPF",
  "documentTypeOthers": "OUTROS",
  "name": "Empresa A",
  "postCode": "17500001",
  "townName": "Rio de Janeiro",
  "countrySubDivision": "RJ",
  "countryCode": "BRA",
  "address": "Av Naburo Ykesaki, 1270",
  "additionalInfo": "Fundos"
}

```

Informações de intermediário, obrigatório se houver.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo do Intermediador|
|documentNumber|string|false|none|Documento do Intermediador, Campo obrigatório quando o campo “Tipo” for preenchido com “1 - Corretor”.|
|intermediaryId|string|false|none|Identificador do Intermediador, Campo obrigatório quando o campo “Tipo” for preenchido com “1 - Corretor”.|
|documentType|string|false|none|Tipo de Documento do Intermediador, Campo obrigatório, Caso Tipo de Intermediador não seja Corretor ou quando for Corretor, porém o identificador do intermediador não seja informado)|
|documentTypeOthers|string|false|none|Descrição do Tipo de Documento quando for informada a opção OUTROS|
|name|string|false|none|Nome ou Razão Social do Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|postCode|string|false|none|Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'.<br>Código Postal do Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|townName|string|false|none|Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.<br>Cidade da Pessoa Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|countrySubDivision|[EnumCountrySubDivision](#schemaenumcountrysubdivisioninsurancelifepension)|false|none|Estado da Pessoa Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|countryCode|string|false|none|Código do pais de acordo com o código “alpha3” do ISO-3166.<br>País da Pessoa Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|address|string|false|none|Corresponde ao Endereço do Intermediador, Campo obrigatório, caso Tipo de Intermediador for estipulante /averbador/ instituidor)|
|additionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento.|

#### Enumerated Values

|Property|Value|
|---|---|
|type|CORRETOR|
|type|REPRESENTANTE|
|type|ESTIPULANTE_AVERBADOR_INSTITUIDOR|
|type|CORRESPONDENTE|
|type|AGENTE_DE_MICROSSEGUROS|
|type|OUTROS|
|documentType|CPF|
|documentType|CNPJ|
|documentType|OUTROS|

<h2 id="tocS_InsuranceLifePensionPlans">InsuranceLifePensionPlans</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensionplans"></a>
<a id="schema_InsuranceLifePensionPlans"></a>
<a id="tocSinsurancelifepensionplans"></a>
<a id="tocsinsurancelifepensionplans"></a>

```json
{
  "coverageCode": "1999",
  "susepProcessNumber": "12345",
  "structureModality": "BENEFICIO_DEFINIDO",
  "benefitAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "rentsInterestRate": "10.00",
  "periodicity": "MENSAL",
  "grace": [
    {
      "graceType": "RESGATE",
      "gracePeriod": 4,
      "gracePeriodicity": "ANO",
      "dayIndicator": "UTEIS",
      "gracePeriodStart": "2021-05-21",
      "gracePeriodEnd": "2021-05-21",
      "gracePeriodBetween": 6,
      "gracePeriodBetweenType": "DIA"
    }
  ],
  "type": "PGBL",
  "typeDetails": "Descrição do Tipo de Plano",
  "lockedPlan": false,
  "qualifiedProposer": "SIM",
  "biometricTable": "1  - Mortalidade Geral / Beneficiário - AT49 M",
  "benefitPaymentMethod": "RENDA",
  "pmbacInterestRate": "10.00",
  "pmbacGuaranteePriceIndex": "IPC-FGV",
  "pmbacIndexLagging": 1,
  "financialResultReversal": false,
  "financialResultReversalPercentage": "10.00",
  "pdrOrVdrminimalGuaranteeIndex": "IPC-FGV",
  "pdrOrVdrminimalGuaranteePercentage": "10.00",
  "taxRegime": "PROGRESSIVO",
  "calculationBasis": "MENSAL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|coverageCode|string|true|none|Código da Cobertura - De acordo com a Tabela 63 do Anexo I do Manual de Escopo de Dados|
|susepProcessNumber|string|true|none|Número do Processo Susep|
|structureModality|string|true|none|Modalidade de estruturação da cobertura|
|benefitAmount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|false|none|Valor do benefício em reais da cobertura contratada|
|rentsInterestRate|string|false|none|Taxa de Juros Rendas|
|periodicity|string|true|none|Peridicidade da Contribuição|
|grace|[[InsuranceLifePensionPlansGrace](#schemainsurancelifepensionplansgrace)]|false|none|[Dados de Carência para RCC, Capitalização e Sobrevivência, obrigatório se houver]|
|type|string|true|none|Tipo de plano|
|typeDetails|string|false|none|Descrição do Tipo de Plano, Campo obrigatório quando o domínio do campo 'Tipo de Plano' for OUTROS|
|lockedPlan|boolean|true|none|Indica se o plano consta como bloqueado|
|qualifiedProposer|string|true|none|Proponente Qualificado|
|biometricTable|string|false|none|Tábua biométrica, se houver|
|benefitPaymentMethod|string|true|none|Forma de pagamento do benefício|
|pmbacInterestRate|string|false|none|Taxa de Juros PMBaC, Obrigatório se houver|
|pmbacGuaranteePriceIndex|string|false|none|Indíce de Preços Garantido PMBaC, Obrigatório se houver|
|pmbacIndexLagging|integer|false|none|Defasagem do Indíce PMBaC, Obrigatório se houver|
|financialResultReversal|boolean|true|none|Reversão do Resultado Financeiro, Obrigatório se houver|
|financialResultReversalPercentage|string|false|none|Percentual de Reversão do Resultado Financeiro, obrigatório caso o campo 'Reversão do Resultado Financeiro' seja true.|
|pdrOrVdrminimalGuaranteeIndex|string|false|none|Indíce de Garantia Mínimia do PDR ou VDR, Obrigatório se houver|
|pdrOrVdrminimalGuaranteePercentage|string|false|none|Percentual de Garantia Mínima do PDR ou VDR, Obrigatório se houver|
|taxRegime|string|true|none|Regime Tributário|
|calculationBasis|string|true|none|Base de Cálculo|

#### Enumerated Values

|Property|Value|
|---|---|
|structureModality|BENEFICIO_DEFINIDO|
|structureModality|CONTRIBUICAO_VARIAVEL|
|periodicity|MENSAL|
|periodicity|BIMESTRAL|
|periodicity|TRIMESTRAL|
|periodicity|QUADRIMESTRAL|
|periodicity|SEMESTRAL|
|periodicity|ANUAL|
|periodicity|ESPORADICA|
|type|PGBL|
|type|PRGP|
|type|PAGP|
|type|PRSA|
|type|PRI|
|type|PDR|
|type|VGBL|
|type|VRGP|
|type|VAGP|
|type|VRSA|
|type|VRI|
|type|VDR|
|type|TRADICIONAL|
|type|OUTROS|
|qualifiedProposer|SIM|
|qualifiedProposer|NAO|
|biometricTable|1  - Mortalidade Geral / Beneficiário - AT49 M|
|biometricTable|2  - Mortalidade Geral / Beneficiário - AT49 F|
|biometricTable|3  - Mortalidade Geral / Beneficiário - AT50 M|
|biometricTable|4  - Mortalidade Geral / Beneficiário - AT50 F|
|biometricTable|5  - Mortalidade Geral / Beneficiário - AT55 M|
|biometricTable|6  - Mortalidade Geral / Beneficiário - AT55 F|
|biometricTable|7  - Mortalidade Geral / Beneficiário - AT71 M|
|biometricTable|8  - Mortalidade Geral / Beneficiário - AT71 F|
|biometricTable|9  - Mortalidade Geral / Beneficiário - AT83 M|
|biometricTable|10  - Mortalidade Geral / Beneficiário - AT83 F|
|biometricTable|11  - Mortalidade Geral / Beneficiário - AT2000 M|
|biometricTable|12  - Mortalidade Geral / Beneficiário - AT2000 F|
|biometricTable|13  - Mortalidade Geral / Beneficiário - CS041|
|biometricTable|14  - Mortalidade Geral / Beneficiário - CSO58|
|biometricTable|15  - Mortalidade Geral / Beneficiário - CSO80 M|
|biometricTable|16  - Mortalidade Geral / Beneficiário - CSO80 F|
|biometricTable|17  - Mortalidade Geral / Beneficiário - CSG 60|
|biometricTable|18  - Mortalidade Geral / Beneficiário - GAM71 M|
|biometricTable|19  - Mortalidade Geral / Beneficiário - GAM71 F|
|biometricTable|20  - Mortalidade Geral / Beneficiário - SGB51|
|biometricTable|21  - Mortalidade Geral / Beneficiário - SGB55|
|biometricTable|22  - Mortalidade Geral / Beneficiário - SGB71|
|biometricTable|23  - Mortalidade Geral / Beneficiário - SGB75|
|biometricTable|24  - Mortalidade Geral / Beneficiário - GKF70|
|biometricTable|25  - Mortalidade Geral / Beneficiário - GKF80|
|biometricTable|26  - Mortalidade Geral / Beneficiário - GKF95|
|biometricTable|27  - Mortalidade Geral / Beneficiário - GKM70|
|biometricTable|28  - Mortalidade Geral / Beneficiário - GKM80|
|biometricTable|29  - Mortalidade Geral / Beneficiário - GKM95|
|biometricTable|30  - Mortalidade Geral / Beneficiário - UP 84|
|biometricTable|31  - Mortalidade de Inválidos - IAPB 57|
|biometricTable|32  - Mortalidade de Inválidos - IAPB57 - Nivelada|
|biometricTable|33  - Mortalidade de Inválidos - ZIMMERMANN|
|biometricTable|34  - Mortalidade de Inválidos - WINKLEVOSS|
|biometricTable|35  - Mortalidade de Inválidos - BENTZIEN|
|biometricTable|36  - Mortalidade de Inválidos - EXP. IAPC|
|biometricTable|37  - Mortalidade de Inválidos - TASA27|
|biometricTable|38  - Mortalidade de Inválidos - MULLER|
|biometricTable|39  - Entrada em Invalidez - IAPB 57 FRACA|
|biometricTable|40  - Entrada em Invalidez - IAPB 57 FORTE|
|biometricTable|41  - Entrada em Invalidez - ZIMMERMANN|
|biometricTable|42  - Entrada em Invalidez - ÁLVARO VINDAS|
|biometricTable|43  - Entrada em Invalidez - TASA 27|
|biometricTable|44  - Entrada em Invalidez - MULLER|
|biometricTable|45  - Entrada em Invalidez - HUNTER|
|biometricTable|46  - Mortalidade Geral / Beneficiário - EB7|
|biometricTable|47  - Mortalidade Geral / Beneficiário - UP94 M|
|biometricTable|48  - Mortalidade Geral / Beneficiário - AT49|
|biometricTable|49  - Mortalidade Geral / Beneficiário - AT2000 female suavizada 10%|
|biometricTable|49  - Entrada em Invalidez - AT2000 female suavizada 10%|
|biometricTable|50  - Mortalidade Geral / Beneficiário - TGA|
|biometricTable|50  - Entrada em Invalidez - TGA|
|biometricTable|51  - Mortalidade Geral / Beneficiário - AT2000 male suavizada 10%|
|biometricTable|52  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2010-m|
|biometricTable|53  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2010-f|
|biometricTable|54  - Entrada em Invalidez - SUSEP_IBGE|
|biometricTable|55  - Mortalidade Geral / Beneficiário - Percentual Fixo|
|biometricTable|55  - Mortalidade de Inválidos - Percentual Fixo|
|biometricTable|55  - Entrada em Invalidez - Percentual Fixo|
|biometricTable|56  - Mortalidade Geral / Beneficiário - Perpétua|
|biometricTable|56  - Mortalidade de Inválidos - Perpétua|
|biometricTable|56  - Entrada em Invalidez - Perpétua|
|biometricTable|57  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2010-m|
|biometricTable|57  - Mortalidade de Inválidos - BR-EMSmt-V.2010-m|
|biometricTable|57  - Entrada em Invalidez - BR-EMSmt-V.2010-m|
|biometricTable|58  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2010-f|
|biometricTable|58  - Mortalidade de Inválidos - BR-EMSmt-V.2010-f|
|biometricTable|58  - Entrada em Invalidez - BR-EMSmt-V.2010-f|
|biometricTable|59  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2015-m|
|biometricTable|59  - Mortalidade de Inválidos - BR-EMSsb-V.2015-m|
|biometricTable|59  - Entrada em Invalidez - BR-EMSsb-V.2015-m|
|biometricTable|60  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2015-f|
|biometricTable|60  - Mortalidade de Inválidos - BR-EMSsb-V.2015-f|
|biometricTable|60  - Entrada em Invalidez - BR-EMSsb-V.2015-f|
|biometricTable|61  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2015-m|
|biometricTable|61  - Mortalidade de Inválidos - BR-EMSmt-V.2015-m|
|biometricTable|61  - Entrada em Invalidez - BR-EMSmt-V.2015-m|
|biometricTable|62  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2015-f|
|biometricTable|62  - Mortalidade de Inválidos - BR-EMSmt-V.2015-f|
|biometricTable|62  - Entrada em Invalidez - BR-EMSmt-V.2015-f|
|biometricTable|63  - Mortalidade Geral / Beneficiário - BR-EMSsb-m|
|biometricTable|63  - Mortalidade de Inválidos - BR-EMSsb-m|
|biometricTable|63  - Entrada em Invalidez - BR-EMSsb-m|
|biometricTable|64  - Mortalidade Geral / Beneficiário - BR-EMSsb-f|
|biometricTable|64  - Mortalidade de Inválidos - BR-EMSsb-f|
|biometricTable|64  - Entrada em Invalidez - BR-EMSsb-f|
|biometricTable|65  - Mortalidade Geral / Beneficiário - BR-EMSmt-m|
|biometricTable|65  - Mortalidade de Inválidos - BR-EMSmt-m|
|biometricTable|65  - Entrada em Invalidez - BR-EMSmt-m|
|biometricTable|66  - Mortalidade Geral / Beneficiário - BR-EMSmt-f|
|biometricTable|66  - Mortalidade de Inválidos - BR-EMSmt-f|
|biometricTable|66  - Entrada em Invalidez - BR-EMSmt-f|
|biometricTable|67  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2021-m|
|biometricTable|67  - Mortalidade de Inválidos - BR-EMSsb-V.2021-m|
|biometricTable|67  - Entrada em Invalidez - BR-EMSsb-V.2021-m|
|biometricTable|68  - Mortalidade Geral / Beneficiário - BR-EMSsb-V.2021-f|
|biometricTable|68  - Mortalidade de Inválidos - BR-EMSsb-V.2021-f|
|biometricTable|68  - Entrada em Invalidez - BR-EMSsb-V.2021-f|
|biometricTable|69  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2021-m|
|biometricTable|69  - Mortalidade de Inválidos - BR-EMSmt-V.2021-m|
|biometricTable|69  - Entrada em Invalidez - BR-EMSmt-V.2021-m|
|biometricTable|70  - Mortalidade Geral / Beneficiário - BR-EMSmt-V.2021-f|
|biometricTable|70  - Mortalidade de Inválidos - BR-EMSmt-V.2021-f|
|biometricTable|70  - Entrada em Invalidez - BR-EMSmt-V.2021-f|
|biometricTable|99  - Mortalidade Geral / Beneficiário - OUTRAS|
|biometricTable|99  - Mortalidade de Inválidos - OUTRAS|
|biometricTable|99  - Entrada em Invalidez - OUTRAS|
|benefitPaymentMethod|UNICO|
|benefitPaymentMethod|RENDA|
|pmbacGuaranteePriceIndex|IPC-FGV|
|pmbacGuaranteePriceIndex|IGP-DI-FGV|
|pmbacGuaranteePriceIndex|IPCA-IBGE|
|pmbacGuaranteePriceIndex|IGPM-FGV|
|pmbacGuaranteePriceIndex|INPC-IBGE|
|pmbacGuaranteePriceIndex|TR|
|pmbacGuaranteePriceIndex|OUTROS|
|pdrOrVdrminimalGuaranteeIndex|IPC-FGV|
|pdrOrVdrminimalGuaranteeIndex|IGP-DI-FGV|
|pdrOrVdrminimalGuaranteeIndex|IPCA-IBGE|
|pdrOrVdrminimalGuaranteeIndex|IGPM-FGV|
|pdrOrVdrminimalGuaranteeIndex|INPC-IBGE|
|pdrOrVdrminimalGuaranteeIndex|TR|
|pdrOrVdrminimalGuaranteeIndex|OUTROS|
|taxRegime|PROGRESSIVO|
|taxRegime|REGRESSIVO|
|calculationBasis|MENSAL|
|calculationBasis|ANUAL|

<h2 id="tocS_InsuranceLifePensionPlansGrace">InsuranceLifePensionPlansGrace</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensionplansgrace"></a>
<a id="schema_InsuranceLifePensionPlansGrace"></a>
<a id="tocSinsurancelifepensionplansgrace"></a>
<a id="tocsinsurancelifepensionplansgrace"></a>

```json
{
  "graceType": "RESGATE",
  "gracePeriod": 4,
  "gracePeriodicity": "ANO",
  "dayIndicator": "UTEIS",
  "gracePeriodStart": "2021-05-21",
  "gracePeriodEnd": "2021-05-21",
  "gracePeriodBetween": 6,
  "gracePeriodBetweenType": "DIA"
}

```

Dados de Carência para RCC, Capitalização e Sobrevivência, obrigatório se houver

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|graceType|string|false|none|Tipo de carência, Obrigatório se houver|
|gracePeriod|integer|false|none|Informar o número de unidades do período de carência, de acordo com a periodicidade informada no próximo campo.|
|gracePeriodicity|string|false|none|Periodicidade da Carência, Obrigatório se houver|
|dayIndicator|string|false|none|Índicador de dias úteis ou Corridos, Obrigatório se houver|
|gracePeriodStart|string(date)|false|none|Data de Início da Carência.|
|gracePeriodEnd|string(date)|false|none|Data de Fim da carência. Obrigatório se houver|
|gracePeriodBetween|integer|false|none|Prazo de Carência entre Resgates, Obrigatório se houver|
|gracePeriodBetweenType|string|false|none|Tipo de Prazo de Carência entre Resgates, Obrigatório quando o valor do campo 'Tipo de Carencia' for 'RESGATE'|

#### Enumerated Values

|Property|Value|
|---|---|
|graceType|PORTABILIDADE|
|graceType|RESGATE|
|gracePeriodicity|DIA|
|gracePeriodicity|MES|
|gracePeriodicity|ANO|
|dayIndicator|UTEIS|
|dayIndicator|CORRIDOS|
|gracePeriodBetweenType|DIA|
|gracePeriodBetweenType|MES|
|gracePeriodBetweenType|ANO|

<h2 id="tocS_ResponseInsuranceLifePensionMovements">ResponseInsuranceLifePensionMovements</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancelifepensionmovements"></a>
<a id="schema_ResponseInsuranceLifePensionMovements"></a>
<a id="tocSresponseinsurancelifepensionmovements"></a>
<a id="tocsresponseinsurancelifepensionmovements"></a>

```json
{
  "data": {
    "movementContributions": [
      {
        "contributionAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "contributionPaymentDate": "2021-05-21",
        "contributionExpirationDate": "2021-05-21",
        "chargedInAdvanceAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "periodicity": "MENSAL"
      }
    ],
    "movementBenefits": [
      {
        "benefitAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "benefitPaymentDate": "2021-05-21"
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceLifePensionMovements](#schemainsurancelifepensionmovements)|true|none|none|
|links|[Links](#schemalinksinsurancelifepension)|true|none|none|
|meta|[Meta](#schemametainsurancelifepension)|true|none|none|

<h2 id="tocS_InsuranceLifePensionMovements">InsuranceLifePensionMovements</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensionmovements"></a>
<a id="schema_InsuranceLifePensionMovements"></a>
<a id="tocSinsurancelifepensionmovements"></a>
<a id="tocsinsurancelifepensionmovements"></a>

```json
{
  "movementContributions": [
    {
      "contributionAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "contributionPaymentDate": "2021-05-21",
      "contributionExpirationDate": "2021-05-21",
      "chargedInAdvanceAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "periodicity": "MENSAL"
    }
  ],
  "movementBenefits": [
    {
      "benefitAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "benefitPaymentDate": "2021-05-21"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|movementContributions|[object]|false|none|none|
|» contributionAmount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|false|none|Valores de contribuições/prêmios comerciais pagos pelo segurado participante (em relação aos últimos 12 meses), Obrigatório se houver|
|» contributionPaymentDate|string(date)|false|none|Datas de Pagamentos das contribuições/prêmios comerciais (em relação aos últimos 12 meses), Obrigatório, se houver|
|» contributionExpirationDate|string(date)|false|none|Datas de Vencimentos das contribuições/prêmios comerciais (em relação aos últimos 12 meses)|
|» chargedInAdvanceAmount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|false|none|Valor do carregamento cobrado de forma antecipada, Obrigatório se houver|
|» periodicity|string|false|none|Periodicidade da contribuições|
|movementBenefits|[object]|false|none|none|
|» benefitAmount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|false|none|Valores de benefícios recebidos (em relação aos últimos 12 meses), Obrigatório, se houver|
|» benefitPaymentDate|string(date)|false|none|Datas de Pagamentos de benefícios recebidos (em relação aos últimos 12 meses), Obrigatório, se houver|

#### Enumerated Values

|Property|Value|
|---|---|
|periodicity|MENSAL|
|periodicity|BIMESTRAL|
|periodicity|TRIMESTRAL|
|periodicity|QUADRIMESTRAL|
|periodicity|SEMESTRAL|
|periodicity|ANUAL|
|periodicity|ESPORADICA|

<h2 id="tocS_ResponseInsuranceLifePensionPortabilities">ResponseInsuranceLifePensionPortabilities</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancelifepensionportabilities"></a>
<a id="schema_ResponseInsuranceLifePensionPortabilities"></a>
<a id="tocSresponseinsurancelifepensionportabilities"></a>
<a id="tocsresponseinsurancelifepensionportabilities"></a>

```json
{
  "data": {
    "hasOccurredPortability": true,
    "portabilityInfo": [
      {
        "direction": "ENTRADA",
        "type": "PARCIAL",
        "amount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "requestDate": "2022-05-16T00:00:00.000Z",
        "liquidationDate": "2022-05-16T00:00:00.000Z",
        "postedChargedAmount": {
          "amount": "2000.00",
          "unit": {
            "code": "R$",
            "description": "BRL"
          }
        },
        "sourceEntity": "string",
        "targetEntity": "string",
        "susepProcess": "12345",
        "taxRegime": "PROGRESSIVO",
        "FIE": [
          {
            "FIECNPJ": "12345678901234",
            "FIEName": "RAZÃO SOCIAL",
            "FIETradeName": "NOME FANTASIA",
            "portedType": "ORIGEM"
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceLifePensionPortability](#schemainsurancelifepensionportability)|true|none|none|
|links|[Links](#schemalinksinsurancelifepension)|true|none|none|
|meta|[Meta](#schemametainsurancelifepension)|true|none|none|

<h2 id="tocS_InsuranceLifePensionPortability">InsuranceLifePensionPortability</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensionportability"></a>
<a id="schema_InsuranceLifePensionPortability"></a>
<a id="tocSinsurancelifepensionportability"></a>
<a id="tocsinsurancelifepensionportability"></a>

```json
{
  "hasOccurredPortability": true,
  "portabilityInfo": [
    {
      "direction": "ENTRADA",
      "type": "PARCIAL",
      "amount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "requestDate": "2022-05-16T00:00:00.000Z",
      "liquidationDate": "2022-05-16T00:00:00.000Z",
      "postedChargedAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "sourceEntity": "string",
      "targetEntity": "string",
      "susepProcess": "12345",
      "taxRegime": "PROGRESSIVO",
      "FIE": [
        {
          "FIECNPJ": "12345678901234",
          "FIEName": "RAZÃO SOCIAL",
          "FIETradeName": "NOME FANTASIA",
          "portedType": "ORIGEM"
        }
      ]
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|hasOccurredPortability|boolean|true|none|Campo para ser preenchimento com a identificação da ocorrência da portabilidade|
|portabilityInfo|[object]|false|none|none|
|» direction|string|true|none|Direção do fluxo de portabilidade|
|» type|string|false|none|Tipo de portabilidade, Obrigatório quando Tipo Fluxo for SAIDA|
|» amount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|true|none|Valor portado|
|» requestDate|string(date-time)|true|none|Declara a data em que foi recebida a solicitação de portabilidade|
|» liquidationDate|string(date-time)|true|none|Declara a data de ocorrência da efetiva liquidação da portabilidade|
|» postedChargedAmount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|true|none|Valor do carregamento cobrado de forma postecipada|
|» sourceEntity|string|false|none|Declara o código FIP da entidade de origem (cedente) da portabilidade|
|» targetEntity|string|false|none|Declara o código FIP da entidade de destino (cessionária) da portabilidade|
|» susepProcess|string|false|none|Processo Susep do plano originário da portabilidade|
|» taxRegime|string|false|none|Regime de Tributação (Caso fluxo de portabilidade for de entrada e Ocorrência da portabilidade for Sim)|
|» FIE|[object]|false|none|Informações do FIE do Valor Portado (Caso Ocorrência da portabilidade for Sim)|
|»» FIECNPJ|string|false|none|CNPJ do FIE|
|»» FIEName|string|false|none|Razão social do FIE|
|»» FIETradeName|string|false|none|Nome fantasia do FIE|
|»» portedType|string|false|none|Tipo portado|

#### Enumerated Values

|Property|Value|
|---|---|
|direction|ENTRADA|
|direction|SAIDA|
|type|TOTAL|
|type|PARCIAL|
|taxRegime|PROGRESSIVO|
|taxRegime|REGRESSIVO|
|portedType|ORIGEM|
|portedType|DESTINO|

<h2 id="tocS_ResponseInsuranceLifePensionWithdrawal">ResponseInsuranceLifePensionWithdrawal</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancelifepensionwithdrawal"></a>
<a id="schema_ResponseInsuranceLifePensionWithdrawal"></a>
<a id="tocSresponseinsurancelifepensionwithdrawal"></a>
<a id="tocsresponseinsurancelifepensionwithdrawal"></a>

```json
{
  "data": [
    {
      "withdrawalOccurence": true,
      "type": "PARCIAL",
      "requestDate": "2022-05-16T00:00:00.000Z",
      "amount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "liquidationDate": "2022-05-16T00:00:00.000Z",
      "postedChargedAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "nature": "RESGATE_REGULAR",
      "FIE": [
        {
          "FIECNPJ": "12345678901234",
          "FIEName": "RAZÃO SOCIAL",
          "FIETradeName": "NOME FANTASIA"
        }
      ]
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InsuranceLifePensionWithdrawal](#schemainsurancelifepensionwithdrawal)]|true|none|none|
|links|[Links](#schemalinksinsurancelifepension)|true|none|none|
|meta|[Meta](#schemametainsurancelifepension)|true|none|none|

<h2 id="tocS_InsuranceLifePensionWithdrawal">InsuranceLifePensionWithdrawal</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensionwithdrawal"></a>
<a id="schema_InsuranceLifePensionWithdrawal"></a>
<a id="tocSinsurancelifepensionwithdrawal"></a>
<a id="tocsinsurancelifepensionwithdrawal"></a>

```json
{
  "withdrawalOccurence": true,
  "type": "PARCIAL",
  "requestDate": "2022-05-16T00:00:00.000Z",
  "amount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "liquidationDate": "2022-05-16T00:00:00.000Z",
  "postedChargedAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "nature": "RESGATE_REGULAR",
  "FIE": [
    {
      "FIECNPJ": "12345678901234",
      "FIEName": "RAZÃO SOCIAL",
      "FIETradeName": "NOME FANTASIA"
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|withdrawalOccurence|boolean|true|none|Indica se houve resgate|
|type|string|false|none|Tipo de resgate, Obrigatório, se houver|
|requestDate|string(date-time)|false|none|Declara a data da solicitação do resgate, Obrigatório, se houver|
|amount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|false|none|Declara o valor bruto resgatado, Obrigatório, se houver|
|liquidationDate|string(date-time)|false|none|Declara a data da efetiva liquidação do valor resgatado, Obrigatório, se houver|
|postedChargedAmount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|false|none|Valor do carregamento cobrado de forma postecipada, Obrigatório, se houver|
|nature|string|false|none|Natureza do resgate, Obrigatório, se houver|
|FIE|[object]|false|none|Informações do FIE do Valor Resgatado (Caso Ocorrência do resgate for Sim)|
|» FIECNPJ|string|false|none|CNPJ do FIE|
|» FIEName|string|false|none|Razão social do FIE|
|» FIETradeName|string|false|none|Nome fantasia do FIE|

#### Enumerated Values

|Property|Value|
|---|---|
|type|TOTAL|
|type|PARCIAL|
|nature|RESGATE_REGULAR|
|nature|MORTE|
|nature|INVALIDEZ|
|nature|PAGAMENTO_FINANCEIRO_PROGRAMADO|
|nature|CUSTEIO_DE_COBERTURA_DE_RISCO_EM_PLANOS_CONJUGADOS|
|nature|ASSISTENCIA_FINANCEIRA|

<h2 id="tocS_ResponseInsuranceLifePensionClaim">ResponseInsuranceLifePensionClaim</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancelifepensionclaim"></a>
<a id="schema_ResponseInsuranceLifePensionClaim"></a>
<a id="tocSresponseinsurancelifepensionclaim"></a>
<a id="tocsresponseinsurancelifepensionclaim"></a>

```json
{
  "data": [
    {
      "eventStatus": "ABERTO",
      "eventAlertDate": "2021-05-21",
      "eventRegisterDate": "2021-05-21",
      "beneficiaryDocument": "12345678910",
      "beneficiaryDocumentType": "CPF",
      "beneficiaryName": "NOME BENEFICIARIO",
      "beneficiaryCategory": "SEGURADO",
      "beneficiaryBirthDate": "2021-05-21",
      "incomeType": "PAGAMENTO_UNICO",
      "incomeTypeDetails": "Descrição do Tipo de Renda",
      "reversedIncome": false,
      "incomeAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "paymentTerms": "PRAZO",
      "benefitAmount": 2,
      "grantedDate": "2021-05-21",
      "monetaryUpdateIndex": "IPC-FGV",
      "lastUpdateDate": "2021-05-21",
      "defermentDueDate": "2025-12-31"
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InsuranceLifePensionClaim](#schemainsurancelifepensionclaim)]|true|none|none|
|links|[Links](#schemalinksinsurancelifepension)|true|none|none|
|meta|[Meta](#schemametainsurancelifepension)|true|none|none|

<h2 id="tocS_InsuranceLifePensionClaim">InsuranceLifePensionClaim</h2>
<!-- backwards compatibility -->
<a id="schemainsurancelifepensionclaim"></a>
<a id="schema_InsuranceLifePensionClaim"></a>
<a id="tocSinsurancelifepensionclaim"></a>
<a id="tocsinsurancelifepensionclaim"></a>

```json
{
  "eventStatus": "ABERTO",
  "eventAlertDate": "2021-05-21",
  "eventRegisterDate": "2021-05-21",
  "beneficiaryDocument": "12345678910",
  "beneficiaryDocumentType": "CPF",
  "beneficiaryName": "NOME BENEFICIARIO",
  "beneficiaryCategory": "SEGURADO",
  "beneficiaryBirthDate": "2021-05-21",
  "incomeType": "PAGAMENTO_UNICO",
  "incomeTypeDetails": "Descrição do Tipo de Renda",
  "reversedIncome": false,
  "incomeAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "paymentTerms": "PRAZO",
  "benefitAmount": 2,
  "grantedDate": "2021-05-21",
  "monetaryUpdateIndex": "IPC-FGV",
  "lastUpdateDate": "2021-05-21",
  "defermentDueDate": "2025-12-31"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|eventStatus|string|false|none|Status do Evento Gerador|
|eventAlertDate|string(date)|false|none|Data de Aviso do Evento Gerador|
|eventRegisterDate|string(date)|false|none|Data do Registro de Aviso à Seguradora|
|beneficiaryDocument|string|false|none|Documento de identificação do beneficiário da renda concedida|
|beneficiaryDocumentType|string|false|none|Tipo de Documento do Beneficiário|
|beneficiaryName|string|false|none|Nome do beneficiário da renda concedida|
|beneficiaryCategory|string|false|none|Classificação do Beneficiário|
|beneficiaryBirthDate|string(date)|false|none|Data de nascimento do beneficiário da renda concedida|
|incomeType|string|false|none|Tipo de Renda, Obrigatório, se houver|
|incomeTypeDetails|string|false|none|Descrição do Tipo de Renda, obrigatório se campo Tipo de Renda for OUTROS.|
|reversedIncome|boolean|false|none|Renda Revertida, obrigatório se campo Tipo de Renda for 4, 6, 8, 9 e 11.|
|incomeAmount|[AmountDetails](#schemaamountdetailsinsurancelifepension)|false|none|Valor do benefício concedido em forma de renda ou do pagamento único|
|paymentTerms|string|false|none|Prazo pagamento da parcela ou da renda atuarial ou financeira do benefício concedido (quando Tipo de renda for igual a 2, 3, 4, 5 e 6)|
|benefitAmount|integer|false|none|Número de benefícios a serem recebidos por ano|
|grantedDate|string(date)|false|none|Data de Concessão|
|monetaryUpdateIndex|string|false|none|Índice de Atualização Monetária|
|lastUpdateDate|string(date)|false|none|Data da última atualização do benefício|
|defermentDueDate|string(date)|false|none|Data do fim do período de diferimento do benefício concedido/a conceder|

#### Enumerated Values

|Property|Value|
|---|---|
|eventStatus|ABERTO|
|eventStatus|ENCERRADO_COM_INDENIZACAO|
|eventStatus|ENCERRADO_SEM_INDENIZACAO|
|eventStatus|REABERTO|
|eventStatus|CANCELADO_POR_ERRO_OPERACIONAL|
|eventStatus|AVALIACAO_INICIAL|
|eventStatus|ENCERRADO_COM_PAGAMENTO_UNICO_BENEFICIO|
|eventStatus|ENCERRADO_COM_CONCESSAO_DE_RENDA_BENEFICIO|
|eventStatus|ENCERRADO_INDEFERIDO_BENEFICIO|
|beneficiaryDocumentType|CPF|
|beneficiaryDocumentType|RG|
|beneficiaryDocumentType|PASSAPORTE|
|beneficiaryDocumentType|OUTROS|
|beneficiaryCategory|SEGURADO|
|beneficiaryCategory|CÔNJUGE|
|beneficiaryCategory|FILHO_MENOR_DE_IDADE|
|beneficiaryCategory|BENEFICIÁRIO_INDICADO|
|incomeType|PAGAMENTO_UNICO|
|incomeType|RENDA_POR_PRAZO_CERTO|
|incomeType|RENDA_TEMPORARIA|
|incomeType|RENDA_TEMPORARIA_REVERSIVEL|
|incomeType|RENDA_TEMPORARIA_COM_PRAZO_MINIMO_GARANTIDO|
|incomeType|RENDA_TEMPORARIA_REVERSIVEL_COM_PRAZO_MINIMO_GARANTIDO|
|incomeType|RENDA_VITALICIA|
|incomeType|RENDA_VITALICIA_REVERSIVEL_AO_BENEFICIARIO_INDICADO|
|incomeType|RENDA_VITALICIA_REVERSIVEL_AO_CONJUGE_COM_CONTINUIDADE_AOS_MENORES|
|incomeType|RENDA_VITALICIA_COM_PRAZO_MINIMO_GARANTIDO|
|incomeType|RENDA_VITALICIA_REVERSIVEL_COM_PRAZO_MINIMO_GARANTIDO|
|incomeType|RENDA_VITALICIA_REVERSIVEL_AO_CONJUGE|
|incomeType|OUTROS|
|monetaryUpdateIndex|IPC-FGV|
|monetaryUpdateIndex|IGP-DI-FGV|
|monetaryUpdateIndex|IPCA-IBGE|
|monetaryUpdateIndex|IGPM-FGV|
|monetaryUpdateIndex|INPC-IBGE|
|monetaryUpdateIndex|TR|
|monetaryUpdateIndex|OUTROS|

<h2 id="tocS_AmountDetailsinsurancelifepension">AmountDetails</h2>
<!-- backwards compatibility -->
<a id="schemaamountdetailsinsurancelifepension"></a>
<a id="schema_AmountDetails"></a>
<a id="tocSamountdetails"></a>
<a id="tocsamountdetails"></a>

```json
{
  "amount": "2000.00",
  "unit": {
    "code": "R$",
    "description": "BRL"
  }
}

```

Detalhes de valores/limites

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|string|true|none|none|
|unit|object|true|none|none|
|» code|string|true|none|none|
|» description|string|true|none|Moeda da Parcela, de acordo com ISO-4217.|

<h2 id="tocS_EnumCountrySubDivisioninsurancelifepension">EnumCountrySubDivision</h2>
<!-- backwards compatibility -->
<a id="schemaenumcountrysubdivisioninsurancelifepension"></a>
<a id="schema_EnumCountrySubDivision"></a>
<a id="tocSenumcountrysubdivision"></a>
<a id="tocsenumcountrysubdivision"></a>

```json
"RJ"

```

Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|AC|
|*anonymous*|AL|
|*anonymous*|AP|
|*anonymous*|AM|
|*anonymous*|BA|
|*anonymous*|CE|
|*anonymous*|DF|
|*anonymous*|ES|
|*anonymous*|GO|
|*anonymous*|MA|
|*anonymous*|MT|
|*anonymous*|MS|
|*anonymous*|MG|
|*anonymous*|PA|
|*anonymous*|PB|
|*anonymous*|PR|
|*anonymous*|PE|
|*anonymous*|PI|
|*anonymous*|RJ|
|*anonymous*|RN|
|*anonymous*|RS|
|*anonymous*|RO|
|*anonymous*|RR|
|*anonymous*|SC|
|*anonymous*|SP|
|*anonymous*|SE|
|*anonymous*|TO|

<h2 id="tocS_Linksinsurancelifepension">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksinsurancelifepension"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
  "first": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
  "prev": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
  "next": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension",
  "last": "https://api.organizacao.com.br/open-insurance/insurance-life-pension/v1/insurance-life-pension"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Metainsurancelifepension">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametainsurancelifepension"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorinsurancelifepension">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorinsurancelifepension"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametainsurancelifepension)|false|none|none|

<h2 id="tocS_XFapiInteractionIdinsurancelifepension">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionidinsurancelifepension"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

