<h2 id="tocS_ResponseInsuranceCapitalizationTitle">ResponseInsuranceCapitalizationTitle</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancecapitalizationtitle"></a>
<a id="schema_ResponseInsuranceCapitalizationTitle"></a>
<a id="tocSresponseinsurancecapitalizationtitle"></a>
<a id="tocsresponseinsurancecapitalizationtitle"></a>

```json
{
  "data": {
    "brand": {
      "name": "EMPRESA A Seguros",
      "companies": [
        {
          "companyName": "Nome da sociedade",
          "cnpjNumber": "12345678901234",
          "products": [
            {
              "productName": "Produto Exemplo",
              "planId": "string"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|object|true|none|Marca reportada pelo participante do Open Insurance|
|»» name|string|true|none|Nome da marca reportada pelo participante do Open Insurance|
|»» companies|[object]|true|none|none|
|»»» companyName|string|true|none|Nome da sociedade pertencente à marca|
|»»» cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca|
|»»» products|[object]|true|none|none|
|»»»» productName|string|true|none|Nome comercial do produto associado ao plano|
|»»»» planId|string|true|none|planId - Identificador do contrato do plano|
|links|[Links](#schemalinksinsurancecapilizationtitle)|true|none|none|
|meta|[Meta](#schemametainsurancecapilizationtitle)|true|none|none|

<h2 id="tocS_ResponseInsuranceCapitalizationTitlePlanInfo">ResponseInsuranceCapitalizationTitlePlanInfo</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancecapitalizationtitleplaninfo"></a>
<a id="schema_ResponseInsuranceCapitalizationTitlePlanInfo"></a>
<a id="tocSresponseinsurancecapitalizationtitleplaninfo"></a>
<a id="tocsresponseinsurancecapitalizationtitleplaninfo"></a>

```json
{
  "data": {
    "series": [
      {
        "planId": "string",
        "seriesId": "string",
        "modality": "TRADICIONAL",
        "susepProcessNumber": "15414622222222222",
        "commercialName": "Denominação comercial do produto",
        "serieSize": 5000000,
        "uploadQuota": 10,
        "capitalizationQuota": 10,
        "raffleQuota": 10,
        "gracePeriodRedemption": 48,
        "gracePeriodForFullRedemption": 48,
        "updateIndex": "IPCA",
        "updateIndexOthers": "Índice de atualização Outros",
        "readjustmentIndex": "IPCA",
        "readjustmentIndexOthers": "Índice de reajuste Outros",
        "bonusClause": false,
        "frequency": "MENSAL",
        "frequencyDescription": "string",
        "interestRate": 10,
        "broker": [
          {
            "susepBrokerCode": "123123123",
            "brokerDescription": "string"
          }
        ],
        "titles": [
          {
            "titleId": "string",
            "registrationForm": "string",
            "issueTitleDate": "2023-01-30",
            "termStartDate": "2023-01-30",
            "termEndDate": "2023-01-30",
            "rafflePremiumAmount": {
              "amount": 2000,
              "currency": "BRL"
            },
            "contributionAmount": {
              "amount": 2000,
              "currency": "BRL"
            },
            "subscriber": [
              {
                "subscriberName": "Nome do Subscritor",
                "subscriberDocumentType": "OUTROS",
                "subscriberDocumentTypeOthers": "string",
                "subscriberDocumentNumber": "string",
                "subscriberPhones": [
                  {
                    "countryCallingCode": "55",
                    "areaCode": "11",
                    "number": "29875132"
                  }
                ],
                "subscriberAddress": "Av Naburo Ykesaki, 1270",
                "subscriberAddressAdditionalInfo": "Fundos",
                "subscriberTownName": "Rio de Janeiro",
                "subscriberCountrySubDivision": "RJ",
                "subscriberCountryCode": "BRA",
                "subscriberPostCode": "17500001",
                "holder": [
                  {
                    "holderName": "Nome do Titular",
                    "holderDocumentType": "OUTROS",
                    "holderDocumentTypeOthers": "string",
                    "holderDocumentNumber": "string",
                    "holderPhones": [],
                    "holderAddress": "Av Naburo Ykesaki, 1270",
                    "holderAddressAdditionalInfo": "Fundos",
                    "holderTownName": "Rio de Janeiro",
                    "holderCountrySubDivision": "RJ",
                    "holderCountryCode": "BRA",
                    "holderPostCode": "17500001",
                    "holderRedemption": false,
                    "holderRaffle": false
                  }
                ]
              }
            ],
            "technicalProvisions": [
              {
                "pmcAmount": {
                  "amount": 2000,
                  "currency": "BRL"
                },
                "pdbAmount": {
                  "amount": 2000,
                  "currency": "BRL"
                },
                "prAmount": {
                  "amount": 2000,
                  "currency": "BRL"
                },
                "pspAmount": {
                  "amount": 2000,
                  "currency": "BRL"
                }
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceCapitalizationTitlePlanInfo](#schemainsurancecapitalizationtitleplaninfo)|true|none|none|
|links|[Links](#schemalinksinsurancecapilizationtitle)|true|none|none|
|meta|[Meta](#schemametainsurancecapilizationtitle)|true|none|none|

<h2 id="tocS_InsuranceCapitalizationTitlePlanInfo">InsuranceCapitalizationTitlePlanInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsurancecapitalizationtitleplaninfo"></a>
<a id="schema_InsuranceCapitalizationTitlePlanInfo"></a>
<a id="tocSinsurancecapitalizationtitleplaninfo"></a>
<a id="tocsinsurancecapitalizationtitleplaninfo"></a>

```json
{
  "series": [
    {
      "planId": "string",
      "seriesId": "string",
      "modality": "TRADICIONAL",
      "susepProcessNumber": "15414622222222222",
      "commercialName": "Denominação comercial do produto",
      "serieSize": 5000000,
      "uploadQuota": 10,
      "capitalizationQuota": 10,
      "raffleQuota": 10,
      "gracePeriodRedemption": 48,
      "gracePeriodForFullRedemption": 48,
      "updateIndex": "IPCA",
      "updateIndexOthers": "Índice de atualização Outros",
      "readjustmentIndex": "IPCA",
      "readjustmentIndexOthers": "Índice de reajuste Outros",
      "bonusClause": false,
      "frequency": "MENSAL",
      "frequencyDescription": "string",
      "interestRate": 10,
      "broker": [
        {
          "susepBrokerCode": "123123123",
          "brokerDescription": "string"
        }
      ],
      "titles": [
        {
          "titleId": "string",
          "registrationForm": "string",
          "issueTitleDate": "2023-01-30",
          "termStartDate": "2023-01-30",
          "termEndDate": "2023-01-30",
          "rafflePremiumAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "contributionAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "subscriber": [
            {
              "subscriberName": "Nome do Subscritor",
              "subscriberDocumentType": "OUTROS",
              "subscriberDocumentTypeOthers": "string",
              "subscriberDocumentNumber": "string",
              "subscriberPhones": [
                {
                  "countryCallingCode": "55",
                  "areaCode": "11",
                  "number": "29875132"
                }
              ],
              "subscriberAddress": "Av Naburo Ykesaki, 1270",
              "subscriberAddressAdditionalInfo": "Fundos",
              "subscriberTownName": "Rio de Janeiro",
              "subscriberCountrySubDivision": "RJ",
              "subscriberCountryCode": "BRA",
              "subscriberPostCode": "17500001",
              "holder": [
                {
                  "holderName": "Nome do Titular",
                  "holderDocumentType": "OUTROS",
                  "holderDocumentTypeOthers": "string",
                  "holderDocumentNumber": "string",
                  "holderPhones": [
                    {}
                  ],
                  "holderAddress": "Av Naburo Ykesaki, 1270",
                  "holderAddressAdditionalInfo": "Fundos",
                  "holderTownName": "Rio de Janeiro",
                  "holderCountrySubDivision": "RJ",
                  "holderCountryCode": "BRA",
                  "holderPostCode": "17500001",
                  "holderRedemption": false,
                  "holderRaffle": false
                }
              ]
            }
          ],
          "technicalProvisions": [
            {
              "pmcAmount": {
                "amount": 2000,
                "currency": "BRL"
              },
              "pdbAmount": {
                "amount": 2000,
                "currency": "BRL"
              },
              "prAmount": {
                "amount": 2000,
                "currency": "BRL"
              },
              "pspAmount": {
                "amount": 2000,
                "currency": "BRL"
              }
            }
          ]
        }
      ]
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|series|[[InsuranceCapitalizationTitleSeries](#schemainsurancecapitalizationtitleseries)]|true|none|Dados Gerais da Série|

<h2 id="tocS_InsuranceCapitalizationTitleSeries">InsuranceCapitalizationTitleSeries</h2>
<!-- backwards compatibility -->
<a id="schemainsurancecapitalizationtitleseries"></a>
<a id="schema_InsuranceCapitalizationTitleSeries"></a>
<a id="tocSinsurancecapitalizationtitleseries"></a>
<a id="tocsinsurancecapitalizationtitleseries"></a>

```json
{
  "planId": "string",
  "seriesId": "string",
  "modality": "TRADICIONAL",
  "susepProcessNumber": "15414622222222222",
  "commercialName": "Denominação comercial do produto",
  "serieSize": 5000000,
  "uploadQuota": 10,
  "capitalizationQuota": 10,
  "raffleQuota": 10,
  "gracePeriodRedemption": 48,
  "gracePeriodForFullRedemption": 48,
  "updateIndex": "IPCA",
  "updateIndexOthers": "Índice de atualização Outros",
  "readjustmentIndex": "IPCA",
  "readjustmentIndexOthers": "Índice de reajuste Outros",
  "bonusClause": false,
  "frequency": "MENSAL",
  "frequencyDescription": "string",
  "interestRate": 10,
  "broker": [
    {
      "susepBrokerCode": "123123123",
      "brokerDescription": "string"
    }
  ],
  "titles": [
    {
      "titleId": "string",
      "registrationForm": "string",
      "issueTitleDate": "2023-01-30",
      "termStartDate": "2023-01-30",
      "termEndDate": "2023-01-30",
      "rafflePremiumAmount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "contributionAmount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "subscriber": [
        {
          "subscriberName": "Nome do Subscritor",
          "subscriberDocumentType": "OUTROS",
          "subscriberDocumentTypeOthers": "string",
          "subscriberDocumentNumber": "string",
          "subscriberPhones": [
            {
              "countryCallingCode": "55",
              "areaCode": "11",
              "number": "29875132"
            }
          ],
          "subscriberAddress": "Av Naburo Ykesaki, 1270",
          "subscriberAddressAdditionalInfo": "Fundos",
          "subscriberTownName": "Rio de Janeiro",
          "subscriberCountrySubDivision": "RJ",
          "subscriberCountryCode": "BRA",
          "subscriberPostCode": "17500001",
          "holder": [
            {
              "holderName": "Nome do Titular",
              "holderDocumentType": "OUTROS",
              "holderDocumentTypeOthers": "string",
              "holderDocumentNumber": "string",
              "holderPhones": [
                {
                  "countryCallingCode": "55",
                  "areaCode": "11",
                  "number": "29875132"
                }
              ],
              "holderAddress": "Av Naburo Ykesaki, 1270",
              "holderAddressAdditionalInfo": "Fundos",
              "holderTownName": "Rio de Janeiro",
              "holderCountrySubDivision": "RJ",
              "holderCountryCode": "BRA",
              "holderPostCode": "17500001",
              "holderRedemption": false,
              "holderRaffle": false
            }
          ]
        }
      ],
      "technicalProvisions": [
        {
          "pmcAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "pdbAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "prAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "pspAmount": {
            "amount": 2000,
            "currency": "BRL"
          }
        }
      ]
    }
  ]
}

```

Dados Gerais da Série

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|planId|string|true|none|Identificação do plano|
|seriesId|string|true|none|Identificação da série|
|modality|string|true|none|Modalidade|
|susepProcessNumber|string|true|none|Número do processo SUSEP.|
|commercialName|string|false|none|Denominação comercial do produto de propriedade exclusiva da sociedade de capitalização. Condicional, caso selecionada as opções "Filantropia Premiável" ou "Popular" no campo "Modalidade".|
|serieSize|integer|true|none|Quantidade máxima possível de títulos que pode ser emitida para uma mesma série|
|uploadQuota|[PercentageDetails](#schemapercentagedetailsinsurancecapilizationtitle)|true|none|Percentual da contribuição destinado aos custos de despesas com corretagem, colocação e administração do título de capitalização, emissão, divulgação, lucro da sociedade de capitalização e eventuais despesas relativas ao custeio da contemplação obrigatória e da distribuição de bônus|
|capitalizationQuota|[PercentageDetails](#schemapercentagedetailsinsurancecapilizationtitle)|true|none|Percentual da contribuição destinado à constituição de capital referente ao direito de resgate|
|raffleQuota|[PercentageDetails](#schemapercentagedetailsinsurancecapilizationtitle)|true|none|Percentual da contribuição destinado a custear os sorteios, se previstos no plano|
|gracePeriodRedemption|integer|true|none|Intervalo de tempo mínimo entre contratação e resgate parcial do direito, em meses.|
|gracePeriodForFullRedemption|integer|true|none|Intervalo de tempo mínimo entre contratação e resgate total do direito, em meses|
|updateIndex|string|true|none|Descreve o índice de atualização das reservas.|
|updateIndexOthers|string|false|none|Descreve o índice de atualização utilizado quando outro que não previamente relacionado nos domínios do campo.|
|readjustmentIndex|string|true|none|Índice de reajuste das contribuições e do capital para vigências acima de doze meses|
|readjustmentIndexOthers|string|false|none|Descreve o índice de reajuste utilizado quando outro que não previamente relacionado nos domínios do campo.|
|bonusClause|boolean|true|none|Cláusula de bônus|
|frequency|string|true|none|Tipo de Contribuição - pagamento único, pagamento mensal ou periódico|
|frequencyDescription|string|false|none|Descrição do Tipo de Contribuição (Quando o Tipo de Contribuição for 3. Pagamento Periódico)|
|interestRate|[PercentageDetails](#schemapercentagedetailsinsurancecapilizationtitle)|true|none|Taxa de juros efetiva real mensal utilizada para remuneração do título de capitalização.|
|broker|[[InsuranceCapitalizationTitleBroker](#schemainsurancecapitalizationtitlebroker)]|false|none|Dados do corretor (quando houver)|
|titles|[[InsuranceCapitalizationTitleTitle](#schemainsurancecapitalizationtitletitle)]|true|none|Dados Gerais do Título|

#### Enumerated Values

|Property|Value|
|---|---|
|modality|TRADICIONAL|
|modality|INSTRUMENTO_GARANTIA|
|modality|COMPRA_PROGRAMADA|
|modality|POPULAR|
|modality|FILANTROPIA_PREMIAVEL|
|updateIndex|INDICE_REMUNERACAO_BASICA_DEPOSITOS_POUPANCA|
|updateIndex|IPCA|
|updateIndex|INCC|
|updateIndex|INPC|
|updateIndex|IGPM|
|updateIndex|OUTROS|
|readjustmentIndex|INDICE_REMUNERACAO_BASICA_DEPOSITOS_POUPANCA|
|readjustmentIndex|IPCA|
|readjustmentIndex|INCC|
|readjustmentIndex|INPC|
|readjustmentIndex|IGPM|
|readjustmentIndex|OUTROS|
|frequency|UNICO|
|frequency|MENSAL|
|frequency|PERIODICO|

<h2 id="tocS_InsuranceCapitalizationTitleBroker">InsuranceCapitalizationTitleBroker</h2>
<!-- backwards compatibility -->
<a id="schemainsurancecapitalizationtitlebroker"></a>
<a id="schema_InsuranceCapitalizationTitleBroker"></a>
<a id="tocSinsurancecapitalizationtitlebroker"></a>
<a id="tocsinsurancecapitalizationtitlebroker"></a>

```json
{
  "susepBrokerCode": "123123123",
  "brokerDescription": "string"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|susepBrokerCode|string|false|none|Código SUSEP do corretor.|
|brokerDescription|string|false|none|Nome ou Razão Social do Corretor|

<h2 id="tocS_InsuranceCapitalizationTitleTitle">InsuranceCapitalizationTitleTitle</h2>
<!-- backwards compatibility -->
<a id="schemainsurancecapitalizationtitletitle"></a>
<a id="schema_InsuranceCapitalizationTitleTitle"></a>
<a id="tocSinsurancecapitalizationtitletitle"></a>
<a id="tocsinsurancecapitalizationtitletitle"></a>

```json
{
  "titleId": "string",
  "registrationForm": "string",
  "issueTitleDate": "2023-01-30",
  "termStartDate": "2023-01-30",
  "termEndDate": "2023-01-30",
  "rafflePremiumAmount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "contributionAmount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "subscriber": [
    {
      "subscriberName": "Nome do Subscritor",
      "subscriberDocumentType": "OUTROS",
      "subscriberDocumentTypeOthers": "string",
      "subscriberDocumentNumber": "string",
      "subscriberPhones": [
        {
          "countryCallingCode": "55",
          "areaCode": "11",
          "number": "29875132"
        }
      ],
      "subscriberAddress": "Av Naburo Ykesaki, 1270",
      "subscriberAddressAdditionalInfo": "Fundos",
      "subscriberTownName": "Rio de Janeiro",
      "subscriberCountrySubDivision": "RJ",
      "subscriberCountryCode": "BRA",
      "subscriberPostCode": "17500001",
      "holder": [
        {
          "holderName": "Nome do Titular",
          "holderDocumentType": "OUTROS",
          "holderDocumentTypeOthers": "string",
          "holderDocumentNumber": "string",
          "holderPhones": [
            {
              "countryCallingCode": "55",
              "areaCode": "11",
              "number": "29875132"
            }
          ],
          "holderAddress": "Av Naburo Ykesaki, 1270",
          "holderAddressAdditionalInfo": "Fundos",
          "holderTownName": "Rio de Janeiro",
          "holderCountrySubDivision": "RJ",
          "holderCountryCode": "BRA",
          "holderPostCode": "17500001",
          "holderRedemption": false,
          "holderRaffle": false
        }
      ]
    }
  ],
  "technicalProvisions": [
    {
      "pmcAmount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "pdbAmount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "prAmount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "pspAmount": {
        "amount": 2000,
        "currency": "BRL"
      }
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|titleId|string|true|none|Identificação do título de capitalização|
|registrationForm|string|true|none|Identificação da ﬁcha de cadastro ou contrato comercial|
|issueTitleDate|string(date)|true|none|Data de Emissão do Título|
|termStartDate|string(date)|true|none|Data de início de vigência do título de capitalização.|
|termEndDate|string(date)|true|none|Data de fim de vigência do título de capitalização.|
|rafflePremiumAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|true|none|Valor do premio de sorteio|
|contributionAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|true|none|Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores(pagamento mensal, pagamento único ou periódico).|
|subscriber|[[InsuranceCapitalizationTitleSubscriber](#schemainsurancecapitalizationtitlesubscriber)]|true|none|Dados Gerais do Título|
|technicalProvisions|[[InsuranceCapitalizationTitleTechnicalProvisions](#schemainsurancecapitalizationtitletechnicalprovisions)]|true|none|Informações de Provisões técnicas|

<h2 id="tocS_InsuranceCapitalizationTitleSubscriber">InsuranceCapitalizationTitleSubscriber</h2>
<!-- backwards compatibility -->
<a id="schemainsurancecapitalizationtitlesubscriber"></a>
<a id="schema_InsuranceCapitalizationTitleSubscriber"></a>
<a id="tocSinsurancecapitalizationtitlesubscriber"></a>
<a id="tocsinsurancecapitalizationtitlesubscriber"></a>

```json
{
  "subscriberName": "Nome do Subscritor",
  "subscriberDocumentType": "OUTROS",
  "subscriberDocumentTypeOthers": "string",
  "subscriberDocumentNumber": "string",
  "subscriberPhones": [
    {
      "countryCallingCode": "55",
      "areaCode": "11",
      "number": "29875132"
    }
  ],
  "subscriberAddress": "Av Naburo Ykesaki, 1270",
  "subscriberAddressAdditionalInfo": "Fundos",
  "subscriberTownName": "Rio de Janeiro",
  "subscriberCountrySubDivision": "RJ",
  "subscriberCountryCode": "BRA",
  "subscriberPostCode": "17500001",
  "holder": [
    {
      "holderName": "Nome do Titular",
      "holderDocumentType": "OUTROS",
      "holderDocumentTypeOthers": "string",
      "holderDocumentNumber": "string",
      "holderPhones": [
        {
          "countryCallingCode": "55",
          "areaCode": "11",
          "number": "29875132"
        }
      ],
      "holderAddress": "Av Naburo Ykesaki, 1270",
      "holderAddressAdditionalInfo": "Fundos",
      "holderTownName": "Rio de Janeiro",
      "holderCountrySubDivision": "RJ",
      "holderCountryCode": "BRA",
      "holderPostCode": "17500001",
      "holderRedemption": false,
      "holderRaffle": false
    }
  ]
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|subscriberName|string|true|none|Nome ou Razão Social do Subscritor|
|subscriberDocumentType|string|true|none|Tipo de Documento do Subscritor|
|subscriberDocumentTypeOthers|string|false|none|Tipo de Documento do Subscritor, caso seja selecionado OUTROS.|
|subscriberDocumentNumber|string|true|none|Documento de Identificação do Subscritor|
|subscriberPhones|[[RequestorPhone](#schemarequestorphoneinsurancecapilizationtitle)]|false|none|Lista com telefones do subscritor (quando houver)|
|subscriberAddress|string|true|none|Endereço do subscritor|
|subscriberAddressAdditionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento.|
|subscriberTownName|string|true|none|Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.<br>Cidade do subscritor|
|subscriberCountrySubDivision|[EnumCountrySubDivision](#schemaenumcountrysubdivisioninsurancecapilizationtitle)|true|none|Estado do subscritor|
|subscriberCountryCode|string|true|none|Código do pais de acordo com o código “alpha3” do ISO-3166.<br>País do subscritor|
|subscriberPostCode|string|true|none|Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'.<br>Código Postal do subscritor, Obrigatório, se houver|
|holder|[[InsuranceCapitalizationTitleHolder](#schemainsurancecapitalizationtitleholder)]|false|none|Dados Gerais do Titular|

#### Enumerated Values

|Property|Value|
|---|---|
|subscriberDocumentType|CPF|
|subscriberDocumentType|CNPJ|
|subscriberDocumentType|PASSAPORTE|
|subscriberDocumentType|OUTROS|

<h2 id="tocS_InsuranceCapitalizationTitleHolder">InsuranceCapitalizationTitleHolder</h2>
<!-- backwards compatibility -->
<a id="schemainsurancecapitalizationtitleholder"></a>
<a id="schema_InsuranceCapitalizationTitleHolder"></a>
<a id="tocSinsurancecapitalizationtitleholder"></a>
<a id="tocsinsurancecapitalizationtitleholder"></a>

```json
{
  "holderName": "Nome do Titular",
  "holderDocumentType": "OUTROS",
  "holderDocumentTypeOthers": "string",
  "holderDocumentNumber": "string",
  "holderPhones": [
    {
      "countryCallingCode": "55",
      "areaCode": "11",
      "number": "29875132"
    }
  ],
  "holderAddress": "Av Naburo Ykesaki, 1270",
  "holderAddressAdditionalInfo": "Fundos",
  "holderTownName": "Rio de Janeiro",
  "holderCountrySubDivision": "RJ",
  "holderCountryCode": "BRA",
  "holderPostCode": "17500001",
  "holderRedemption": false,
  "holderRaffle": false
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|holderName|string|true|none|Nome ou Razão Social do Titular|
|holderDocumentType|string|true|none|Tipo de Documento do Titular|
|holderDocumentTypeOthers|string|false|none|Tipo de Documento do Titular, caso seja selecionado OUTROS.|
|holderDocumentNumber|string|true|none|Documento de Identificação do Titular|
|holderPhones|[[RequestorPhone](#schemarequestorphoneinsurancecapilizationtitle)]|false|none|Lista com telefones do Titular (quando houver)|
|holderAddress|string|true|none|Endereço do titular|
|holderAddressAdditionalInfo|string|false|none|Alguns logradouros ainda necessitam ser especificados por meio de complemento.|
|holderTownName|string|true|none|Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado.<br>Cidade do titular|
|holderCountrySubDivision|[EnumCountrySubDivision](#schemaenumcountrysubdivisioninsurancecapilizationtitle)|true|none|Estado do titular|
|holderCountryCode|string|true|none|Código do pais de acordo com o código “alpha3” do ISO-3166.<br>País do titular|
|holderPostCode|string|true|none|Código de Endereçamento Postal: Composto por um conjunto numérico de oito dígitos, o objetivo principal do CEP é orientar e acelerar o encaminhamento, o tratamento e a entrega de objetos postados nos Correios, por meio da sua atribuição a localidades, logradouros, unidades dos Correios, serviços, órgãos públicos, empresas e edifícios. p.ex. '01311000'.<br>Código Postal do titular, Obrigatório, se houver|
|holderRedemption|boolean|true|none|Titular do direito de resgate?|
|holderRaffle|boolean|true|none|Titular do direito de sorteio?|

#### Enumerated Values

|Property|Value|
|---|---|
|holderDocumentType|CPF|
|holderDocumentType|CNPJ|
|holderDocumentType|PASSAPORTE|
|holderDocumentType|OUTROS|

<h2 id="tocS_RequestorPhoneinsurancecapilizationtitle">RequestorPhone</h2>
<!-- backwards compatibility -->
<a id="schemarequestorphoneinsurancecapilizationtitle"></a>
<a id="schema_RequestorPhone"></a>
<a id="tocSrequestorphone"></a>
<a id="tocsrequestorphone"></a>

```json
{
  "countryCallingCode": "55",
  "areaCode": "11",
  "number": "29875132"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|countryCallingCode|string|false|none|Número de DDI (Discagem Direta Internacional) para telefone de acesso ao Cliente - se aplicável|
|areaCode|[EnumAreaCode](#schemaenumareacodeinsurancecapilizationtitle)|false|none|Número de DDD (Discagem Direta à Distância) do telefone - se houver|
|number|string|false|none|Número de telefone do cliente|

<h2 id="tocS_EnumAreaCodeinsurancecapilizationtitle">EnumAreaCode</h2>
<!-- backwards compatibility -->
<a id="schemaenumareacodeinsurancecapilizationtitle"></a>
<a id="schema_EnumAreaCode"></a>
<a id="tocSenumareacode"></a>
<a id="tocsenumareacode"></a>

```json
"11"

```

Número de DDD (Discagem Direta à Distância) do telefone - se houver

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Número de DDD (Discagem Direta à Distância) do telefone - se houver|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|11|
|*anonymous*|12|
|*anonymous*|13|
|*anonymous*|14|
|*anonymous*|15|
|*anonymous*|16|
|*anonymous*|17|
|*anonymous*|18|
|*anonymous*|19|
|*anonymous*|21|
|*anonymous*|22|
|*anonymous*|24|
|*anonymous*|27|
|*anonymous*|28|
|*anonymous*|31|
|*anonymous*|32|
|*anonymous*|33|
|*anonymous*|34|
|*anonymous*|35|
|*anonymous*|37|
|*anonymous*|38|
|*anonymous*|41|
|*anonymous*|42|
|*anonymous*|43|
|*anonymous*|44|
|*anonymous*|45|
|*anonymous*|46|
|*anonymous*|47|
|*anonymous*|48|
|*anonymous*|49|
|*anonymous*|51|
|*anonymous*|53|
|*anonymous*|54|
|*anonymous*|55|
|*anonymous*|61|
|*anonymous*|62|
|*anonymous*|63|
|*anonymous*|64|
|*anonymous*|65|
|*anonymous*|66|
|*anonymous*|67|
|*anonymous*|68|
|*anonymous*|69|
|*anonymous*|71|
|*anonymous*|73|
|*anonymous*|74|
|*anonymous*|75|
|*anonymous*|77|
|*anonymous*|79|
|*anonymous*|81|
|*anonymous*|82|
|*anonymous*|83|
|*anonymous*|84|
|*anonymous*|85|
|*anonymous*|86|
|*anonymous*|87|
|*anonymous*|88|
|*anonymous*|89|
|*anonymous*|91|
|*anonymous*|92|
|*anonymous*|93|
|*anonymous*|94|
|*anonymous*|95|
|*anonymous*|96|
|*anonymous*|97|
|*anonymous*|98|
|*anonymous*|99|
|*anonymous*|NA|

<h2 id="tocS_EnumCountrySubDivisioninsurancecapilizationtitle">EnumCountrySubDivision</h2>
<!-- backwards compatibility -->
<a id="schemaenumcountrysubdivisioninsurancecapilizationtitle"></a>
<a id="schema_EnumCountrySubDivision"></a>
<a id="tocSenumcountrysubdivision"></a>
<a id="tocsenumcountrysubdivision"></a>

```json
"RJ"

```

Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. 'AC'. São consideradas apenas as siglas para os estados brasileiros|

#### Enumerated Values

|Property|Value|
|---|---|
|*anonymous*|AC|
|*anonymous*|AL|
|*anonymous*|AP|
|*anonymous*|AM|
|*anonymous*|BA|
|*anonymous*|CE|
|*anonymous*|DF|
|*anonymous*|ES|
|*anonymous*|GO|
|*anonymous*|MA|
|*anonymous*|MT|
|*anonymous*|MS|
|*anonymous*|MG|
|*anonymous*|PA|
|*anonymous*|PB|
|*anonymous*|PR|
|*anonymous*|PE|
|*anonymous*|PI|
|*anonymous*|RJ|
|*anonymous*|RN|
|*anonymous*|RS|
|*anonymous*|RO|
|*anonymous*|RR|
|*anonymous*|SC|
|*anonymous*|SP|
|*anonymous*|SE|
|*anonymous*|TO|

<h2 id="tocS_InsuranceCapitalizationTitleTechnicalProvisions">InsuranceCapitalizationTitleTechnicalProvisions</h2>
<!-- backwards compatibility -->
<a id="schemainsurancecapitalizationtitletechnicalprovisions"></a>
<a id="schema_InsuranceCapitalizationTitleTechnicalProvisions"></a>
<a id="tocSinsurancecapitalizationtitletechnicalprovisions"></a>
<a id="tocsinsurancecapitalizationtitletechnicalprovisions"></a>

```json
{
  "pmcAmount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "pdbAmount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "prAmount": {
    "amount": 2000,
    "currency": "BRL"
  },
  "pspAmount": {
    "amount": 2000,
    "currency": "BRL"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|pmcAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|true|none|Valor da PMC (fim do mes) - Valor da Provisão Matemática para Capitalização (PMC), no fim de cada mês. Caso não haja saldo informar nulo|
|pdbAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|true|none|Valor da PDB (fim do mes) - Valor da Provisão para Distribuição de Bônus (PDB), no fim de cada mês. Caso não haja saldo informar nulo|
|prAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|true|none|Valor da PR (fim do mes) - Valor da Provisão para Resgate (PR), no fim de cada mês. Caso não haja saldo informar nulo|
|pspAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|true|none|Valor da PSP (fim do mes) - Valor da Provisão de Sorteios a Pagar (PSP), no fim de cada mês. Caso não haja saldo informar nulo|

<h2 id="tocS_ResponseInsuranceCapitalizationTitleEvent">ResponseInsuranceCapitalizationTitleEvent</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancecapitalizationtitleevent"></a>
<a id="schema_ResponseInsuranceCapitalizationTitleEvent"></a>
<a id="tocSresponseinsurancecapitalizationtitleevent"></a>
<a id="tocsresponseinsurancecapitalizationtitleevent"></a>

```json
{
  "data": [
    {
      "titleId": "string",
      "eventType": "SORTEIO",
      "event": {
        "raffle": {
          "raffleAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "raffleDate": "2023-01-30",
          "raffleSettlementDate": "2023-01-30"
        },
        "redemption": {
          "redemptionType": "ANTECIPADO_PARCIAL",
          "redemptionAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "redemptionBonusAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "unreturnedAmount": {
            "amount": 2000,
            "currency": "BRL"
          },
          "redemptionRequestDate": "2023-01-30",
          "redemptionSettlementDate": "2023-01-30"
        }
      }
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceCapitalizationTitleEvent](#schemainsurancecapitalizationtitleevent)|true|none|none|
|links|[Links](#schemalinksinsurancecapilizationtitle)|true|none|none|
|meta|[Meta](#schemametainsurancecapilizationtitle)|true|none|none|

<h2 id="tocS_InsuranceCapitalizationTitleEvent">InsuranceCapitalizationTitleEvent</h2>
<!-- backwards compatibility -->
<a id="schemainsurancecapitalizationtitleevent"></a>
<a id="schema_InsuranceCapitalizationTitleEvent"></a>
<a id="tocSinsurancecapitalizationtitleevent"></a>
<a id="tocsinsurancecapitalizationtitleevent"></a>

```json
[
  {
    "titleId": "string",
    "eventType": "SORTEIO",
    "event": {
      "raffle": {
        "raffleAmount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "raffleDate": "2023-01-30",
        "raffleSettlementDate": "2023-01-30"
      },
      "redemption": {
        "redemptionType": "ANTECIPADO_PARCIAL",
        "redemptionAmount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "redemptionBonusAmount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "unreturnedAmount": {
          "amount": 2000,
          "currency": "BRL"
        },
        "redemptionRequestDate": "2023-01-30",
        "redemptionSettlementDate": "2023-01-30"
      }
    }
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|titleId|string|false|none|Código identificador do título na sociedade.|
|eventType|string|false|none|Tipo de Evento|
|event|object|false|none|none|
|» raffle|object|false|none|none|
|»» raffleAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|false|none|Montante do capital sorteado (prêmio de sorteio bruto, livre de IOF, quando aplicável)|
|»» raffleDate|string(date)|false|none|Data de realização do sorteio|
|»» raffleSettlementDate|string(date)|false|none|Data da liquidação financeira do capital sorteado|
|» redemption|object|false|none|none|
|»» redemptionType|string|false|none|Tipo de resgate|
|»» redemptionAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|false|none|Valor de resgate. (Valor bruto de resgate, livre de IOF, quando aplicável)|
|»» redemptionBonusAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|false|none|Valor do Bonus. (Valor bruto do bonus resgatado, livre de IOF, quando aplicável)|
|»» unreturnedAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|false|none|Valor não restituido. (Valor bruto não restituido ao titular em caso de resgate antecipado)|
|»» redemptionRequestDate|string(date)|false|none|Data de solicitação do resgate|
|»» redemptionSettlementDate|string(date)|false|none|Data da liquidação financeira do resgate|

#### Enumerated Values

|Property|Value|
|---|---|
|eventType|SORTEIO|
|eventType|RESGATE|
|redemptionType|ANTECIPADO_PARCIAL|
|redemptionType|ANTECIPADO_TOTAL|
|redemptionType|FINAL_VIGENCIA|

<h2 id="tocS_ResponseInsuranceCapitalizationTitleSettlement">ResponseInsuranceCapitalizationTitleSettlement</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancecapitalizationtitlesettlement"></a>
<a id="schema_ResponseInsuranceCapitalizationTitleSettlement"></a>
<a id="tocSresponseinsurancecapitalizationtitlesettlement"></a>
<a id="tocsresponseinsurancecapitalizationtitlesettlement"></a>

```json
{
  "data": [
    {
      "settlementId": "string",
      "settlementFinancialAmount": {
        "amount": 2000,
        "currency": "BRL"
      },
      "settlementPaymentDate": "2023-01-30",
      "settlementDueDate": "2023-01-30"
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceCapitalizationTitleSettlement](#schemainsurancecapitalizationtitlesettlement)|true|none|none|
|links|[Links](#schemalinksinsurancecapilizationtitle)|true|none|none|
|meta|[Meta](#schemametainsurancecapilizationtitle)|true|none|none|

<h2 id="tocS_InsuranceCapitalizationTitleSettlement">InsuranceCapitalizationTitleSettlement</h2>
<!-- backwards compatibility -->
<a id="schemainsurancecapitalizationtitlesettlement"></a>
<a id="schema_InsuranceCapitalizationTitleSettlement"></a>
<a id="tocSinsurancecapitalizationtitlesettlement"></a>
<a id="tocsinsurancecapitalizationtitlesettlement"></a>

```json
[
  {
    "settlementId": "string",
    "settlementFinancialAmount": {
      "amount": 2000,
      "currency": "BRL"
    },
    "settlementPaymentDate": "2023-01-30",
    "settlementDueDate": "2023-01-30"
  }
]

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|settlementId|string|true|none|Identificador da Liquidação|
|settlementFinancialAmount|[AmountDetails](#schemaamountdetailsinsurancecapilizationtitle)|true|none|Valor da liquidação financeira.|
|settlementPaymentDate|string(date)|true|none|Data de pagamento da liquidação|
|settlementDueDate|string(date)|true|none|Data de Vencimento da liquidação|

<h2 id="tocS_AmountDetailsinsurancecapilizationtitle">AmountDetails</h2>
<!-- backwards compatibility -->
<a id="schemaamountdetailsinsurancecapilizationtitle"></a>
<a id="schema_AmountDetails"></a>
<a id="tocSamountdetails"></a>
<a id="tocsamountdetails"></a>

```json
{
  "amount": 2000,
  "currency": "BRL"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|number|true|none|none|
|currency|string|true|none|Moeda da Parcela, de acordo com ISO-4217.|

<h2 id="tocS_PercentageDetailsinsurancecapilizationtitle">PercentageDetails</h2>
<!-- backwards compatibility -->
<a id="schemapercentagedetailsinsurancecapilizationtitle"></a>
<a id="schema_PercentageDetails"></a>
<a id="tocSpercentagedetails"></a>
<a id="tocspercentagedetails"></a>

```json
10

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|number|false|none|none|

<h2 id="tocS_Linksinsurancecapilizationtitle">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksinsurancecapilizationtitle"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
  "first": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
  "prev": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
  "next": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title",
  "last": "https://api.organizacao.com.br/open-insurance/insurance-capitalization-title/v1/insurance-capitalization-title"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Metainsurancecapilizationtitle">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametainsurancecapilizationtitle"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorinsurancecapilizationtitle">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorinsurancecapilizationtitle"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametainsurancecapilizationtitle)|false|none|none|

<h2 id="tocS_XFapiInteractionIdinsurancecapilizationtitle">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionidinsurancecapilizationtitle"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

