Aqui apresentamos a configuração necessária para criar uma nova declaração de software no Diretório.

**ETAPA 1**: Criando uma nova declaração de software

#### Requisitos

![](../../../../images/manualDiretorio/CadastrandoDeclaracoes1.png)

![](../../../../images/manualDiretorio/CadastrandoDeclaracoes2.png)


1. No Diretório, localize e selecione a sua organização.
2. Selecione o menu *Software Statements* e clique no botão New *Software Statement*.
3. Na janela *New Software Statement* preencha os campos do formulário. A seguir serão apresentados cada um dos campos em mais detalhes.

Nome do campo | Descrição | Exemplo
|---|---|---|
Version* | A versão do software deve ser definida para um valor numérico, um número inteiro (por exemplo, 1) ou um número de ponto flutuante (1,2; 2,2; 3,2 , etc.) | 1
Client Name* | Para registro de software da instituição receptora (*software statement*), no campo *Client Name*, recomenda-se usar o nome da Marca de conhecimento do cliente. Se o nome da marca foi declarado no *Authorisation Server*, por exemplo, pode-se usar o nome da marca que foi utilizado no cadastro (*customer friendly server name*). Este é o nome que a transmissora irá receber e declarar ao cliente durante a jornada. | Seguradora Semicredi
Client URI* | O site ou URI raiz do recurso, podendo ser o site institucional da organização. | https://www.semicredi.com.br/info.html.
Policy URI | Deve ser definido como uma sequência de texto que representa uma URI única de política. | https://www.semicredi.com.br/policy.html
Logo URI* | Deve ser definida a URI para o logotipo da marca. Para obter mais detalhes sobre formato, dimensão e peso máximo do arquivo consulte o <a target="_blank" href="https://br-openinsurance.github.io/areadesenvolvedor/files/GUIA_EXPERIENCIA_UX-VFinal.pdf">Guia de Experiencia Fase 2</a> | https://www.semicredi.com.br/logo.svg
Redirect URI* | Os URIs de redirecionamento devem ser definidos como uma string de texto que representa uma URI única de redirecionamento.| https://www.semicredi.com.br/cb1 https://www.semicredi.com.br/cb2
Terms of Service | URI | Deve ser definido como uma string de texto que representa uma URI única dos Termos de Serviço. https://www.semicredi.com.br/tos.html
Description | Deve ser definido como uma string de texto de sua escolha. | Aplicativo Seguradora Semicredi para o segmento de varejo.
On Behalf Of | O campo “Em nome de” é classificado como opcional para implementação. |Não se aplica para o contexto do Open Insurance Brasil

**Nota**: O campo Logo URI é o que a transmissora deverá utilizar para apresentar a logomarca da receptora.

(*) Campo obrigatório.

**ETAPA 2**: Cadastrando certificação de declaração de software

#### Requisitos

![](../../../../images/manualDiretorio/CadastrandoDeclaracoes3.png)

![](../../../../images/manualDiretorio/CadastrandoDeclaracoes4.png)

1. No Diretório, localize e selecione a sua organização.
2. Selecione o menu *Software Statements*. Em seguida, selecione a declaração de software que deseja. Após selecionar, vá no submenu à esquerda em cima e clique em *Certifications*.
3. Dentro dessa área, para cadastrar uma nova certificação, clique no botão *Add New Certification* localizado no lado direito da tela.
4. Na janela *New certification* preencha os campos do formulário. A seguir serão apresentados cada um dos campos em mais detalhes.<br/>As informações da certificação do *Software Statement* são referentes a certificação FAPI obtida através da <a target="_blank" href="https://openid.net/certification/#FAPI-RW_RPs">OpenID Foundation </a>. Dentro do site é possível encontrar a tabela Brasil Open Insurance (Based on FAPI Relying Parties) que contém as informações que devem ser refletidas no formulário para adição da certificação de segurança.

Nome do campo | Descrição | Exemplo
|---|---|---|
Certification type* | O tipo de certificação que foi efetuada com a OpenID Foundation – Deve ser adicionada, ao menos, uma certificação Redirect (FAPI e DCR). |Redirect<br/>DCR<br/>CIBA – certificação ainda não disponível<br/>
Certification type variant* | As variantes dependem do tipo de certificação escolhida. Dentro da tabela da OpenID Foundation cada coluna representa as possíveis variações nas certificações. Vale notar que JARM não é requisitado segundo a especificação de segurança, portanto não está presente como uma opção a ser adicionada. Para a certificação DCR a instituição deve avaliar se certificou utilizando APIs de Dados do consumidor – Unsigned, ou de Pagamentos - Signed. |Se escolheu Redirect:  <br/> • FAPI Adv. OP w/ MTLS <br/>• FAPI Adv. OP w/ MTLS, PAR <br/>• FAPI Adv. OP w/ Private Key<br/>• FAPI Adv. OP w/ Private Key, PAR <br/> Se escolheu DCR: <br/>• DCR Signed payload – JWT <br/>• DCR Unsigned payload - JSON <br/>
Profile version* | A versão da certificação selecionado – Campo livre, apenas para controle da própria instituição. | 1
Certification payload* | O URI que aponta para o arquivo hospedado pela OpenID Foundation com o pacote de certificação. Formato zip. | https://openid.net/wordpresscontent/uploads/2021/08/BR-OB_Adv._OP_MTLSexemplo.zip
Start date of certification* | A data de certificação inicial – é a mesma data que consta na tabela da OpenID Foundation. Formato dd/mm/yyyy | 09/05/2022

(*) Campo obrigatório