<!-- Generator: Widdershins v4.0.1 -->

# APIs - Comuns

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

As APIs descritas neste documento são referentes as APIs da fase Open Data do Open Insurance Brasil.

Base URLs:

* <a href="https://api.organizacao.com.br/open-insurance/discovery/v1">https://api.organizacao.com.br/open-insurance/discovery/v1</a>

Web: <a href="https://openinsurance.susep.gov.br">Support</a> 

<a href="files/swagger/discovery.yaml" download="discovery.yaml">Especificação em OAS</a> <br>
<a href="files/docs/discovery.docx" download="discovery.docx">Detalhamento Técnico</a> <br>

## status v1.1.0

### A descrição referente ao código de status retornado pelas APIs

<a id="opIdgetStatus"></a>

> Code samples

```javascript
const data = null;

const xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
    console.log(this.responseText);
  }
});

xhr.open("GET", "https://api.organizacao.com.br/open-insurance/discovery/v1/status");
xhr.setRequestHeader("Accept", "application/json");

xhr.send(data);
```

```python
import http.client

conn = http.client.HTTPSConnection("api.organizacao.com.br")

headers = { 'Accept': "application/json" }

conn.request("GET", "/open-insurance/discovery/v1/status", headers=headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))
```

```java
HttpResponse<String> response = Unirest.get("https://api.organizacao.com.br/open-insurance/discovery/v1/status")
  .header("Accept", "application/json")
  .asString();
```

`GET /status`

 Descrição referente ao código de status retornado pelas APIs

<h3 id="a-descrição-referente-ao-código-de-status-retornado-pelas-apis-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|page|query|integer|false|Número da página que está sendo requisitada, sendo a primeira página 1.|
|page-size|query|integer|false|Quantidade total de registros por páginas.|

> Example responses

> 200 Response

```json
{
  "data": {
    "status": [
      {
        "code": "OK",
        "explanation": "Retorno com Sucesso",
        "detectionTime": "2021-07-21T08:30:00Z",
        "expectedResolutionTime": "2021-07-21T08:30:00Z",
        "updateTime": "2021-01-02T01:00:00Z",
        "unavailableEndpoints": [
          "https://api.seguradora.com.br/open-insurance/channels/v1/electronic-channels"
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.seguradora.com.br/open-insurance/channels/v1/<resource>",
    "first": "https://api.seguradora.com.br/open-insurance/channels/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.seguradora.com.br/open-insurance/channels/v1/<resource>"
  },
  "meta": {
    "totalRecords": 9,
    "totalPages": 3
  }
}
```

<h3 id="a-descrição-referente-ao-código-de-status-retornado-pelas-apis-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Código de status retornado pelas APIs|[ResponseDiscoveryStatusList](#schemaresponsediscoverystatuslist)|

<aside class="success">
This operation does not require authentication
</aside>

## outages v1.0.0

### a descrição referente a listagem de indisponibilidades agendadas para os serviços

<a id="opIdgetOutage"></a>

> Code samples

```javascript
const data = null;

const xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
    console.log(this.responseText);
  }
});

xhr.open("GET", "https://api.organizacao.com.br/open-insurance/discovery/v1/outages");
xhr.setRequestHeader("Accept", "application/json");

xhr.send(data);
```

```python
import http.client

conn = http.client.HTTPSConnection("api.organizacao.com.br")

headers = { 'Accept': "application/json" }

conn.request("GET", "/open-insurance/discovery/v1/outages", headers=headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))
```

```java
HttpResponse<String> response = Unirest.get("https://api.organizacao.com.br/open-insurance/discovery/v1/outages")
  .header("Accept", "application/json")
  .asString();
```

`GET /outages`

a descrição referente a listagem de indisponibilidades agendadas para os serviços

<h3 id="a-descrição-referente-a-listagem-de-indisponibilidades-agendadas-para-os-serviços-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|page|query|integer|false|Número da página que está sendo requisitada, sendo a primeira página 1.|
|page-size|query|integer|false|Quantidade total de registros por páginas.|

> Example responses

> 200 Response

```json
{
  "data": [
    {
      "outageTime": "2020-07-21T08:30:00Z",
      "duration": "PT2H30M",
      "isPartial": false,
      "explanation": "Atualização do API Gateway",
      "unavailableEndpoints": [
        "https://api.seguradora.com.br/open-insurance/channels/v1/electronic-channels"
      ]
    }
  ],
  "links": {
    "self": "https://api.seguradora.com.br/open-insurance/channels/v1/<resource>",
    "first": "https://api.seguradora.com.br/open-insurance/channels/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.seguradora.com.br/open-insurance/channels/v1/<resource>"
  },
  "meta": {
    "totalRecords": 9,
    "totalPages": 3
  }
}
```

<h3 id="a-descrição-referente-a-listagem-de-indisponibilidades-agendadas-para-os-serviços-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|listagem de indisponibilidades agendadas para os serviços|[ResponseDiscoveryOutageList](#schemaresponsediscoveryoutagelist)|

<aside class="success">
This operation does not require authentication
</aside>

<h1 id="schema_comuns">Schemas</h1>

<%= partial "./includes/partials/monitoring/status_outages/responses" %>