<h2 id="tocS_ResponseInsuranceFinancialAssistance">ResponseInsuranceFinancialAssistance</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancefinancialassistance"></a>
<a id="schema_ResponseInsuranceFinancialAssistance"></a>
<a id="tocSresponseinsurancefinancialassistance"></a>
<a id="tocsresponseinsurancefinancialassistance"></a>

```json
{
  "data": {
    "brand": {
      "name": "EMPRESA A SEGUROS",
      "companies": [
        {
          "companyName": "Empresa da Organização A",
          "cnpjNumber": "12345678901234",
          "contracts": [
            {
              "contractId": "42"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|object|true|none|none|
|» brand|object|true|none|Marca reportada pelo participante do Open Insurance. O conceito a que se refere a marca é em essência uma promessa das sociedades sob ela em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|»» name|string|true|none|Nome da Marca|
|»» companies|[object]|true|none|none|
|»»» companyName|string|true|none|Nome da sociedade pertencente à marca|
|»»» cnpjNumber|string|true|none|CNPJ da sociedade pertencente à marca|
|»»» contracts|[object]|false|none|none|
|»»»» contractId|string|true|none|Identificador do contrato de assistência financeira|
|links|[Links](#schemalinksfinancialassistance)|true|none|none|
|meta|[Meta](#schemametafinancialassistance)|true|none|none|

<h2 id="tocS_ResponseInsuranceFinancialAssistanceContractInfo">ResponseInsuranceFinancialAssistanceContractInfo</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancefinancialassistancecontractinfo"></a>
<a id="schema_ResponseInsuranceFinancialAssistanceContractInfo"></a>
<a id="tocSresponseinsurancefinancialassistancecontractinfo"></a>
<a id="tocsresponseinsurancefinancialassistancecontractinfo"></a>

```json
{
  "data": {
    "contractId": "42",
    "certificateId": "42",
    "groupContractId": "42",
    "susepProcessNumber": "12345",
    "insureds": [
      {
        "documentType": "CPF",
        "documentNumber": "12345678910",
        "name": "Juan Kaique Cláudio Fernandes"
      }
    ],
    "conceivedCreditValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "creditedLiquidValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "counterInstallments": {
      "value": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "periodicity": "MENSAL",
      "quantity": 4,
      "firstDate": "2021-05-21",
      "lastDate": "2021-09-21"
    },
    "interestRate": 10,
    "effectiveCostRate": 10,
    "amortizationPeriod": 4,
    "acquittanceValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "acquittanceDate": "2021-09-21",
    "taxesValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "expensesValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "finesValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "monetaryUpdatesValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "administrativeFeesValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "interestValue": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    }
  },
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[InsuranceFinancialAssistanceContractInfo](#schemainsurancefinancialassistancecontractinfo)|true|none|none|
|links|[Links](#schemalinksfinancialassistance)|true|none|none|
|meta|[Meta](#schemametafinancialassistance)|true|none|none|

<h2 id="tocS_InsuranceFinancialAssistanceContractInfo">InsuranceFinancialAssistanceContractInfo</h2>
<!-- backwards compatibility -->
<a id="schemainsurancefinancialassistancecontractinfo"></a>
<a id="schema_InsuranceFinancialAssistanceContractInfo"></a>
<a id="tocSinsurancefinancialassistancecontractinfo"></a>
<a id="tocsinsurancefinancialassistancecontractinfo"></a>

```json
{
  "contractId": "42",
  "certificateId": "42",
  "groupContractId": "42",
  "susepProcessNumber": "12345",
  "insureds": [
    {
      "documentType": "CPF",
      "documentNumber": "12345678910",
      "name": "Juan Kaique Cláudio Fernandes"
    }
  ],
  "conceivedCreditValue": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "creditedLiquidValue": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "counterInstallments": {
    "value": {
      "amount": "2000.00",
      "unit": {
        "code": "R$",
        "description": "BRL"
      }
    },
    "periodicity": "MENSAL",
    "quantity": 4,
    "firstDate": "2021-05-21",
    "lastDate": "2021-09-21"
  },
  "interestRate": 10,
  "effectiveCostRate": 10,
  "amortizationPeriod": 4,
  "acquittanceValue": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "acquittanceDate": "2021-09-21",
  "taxesValue": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "expensesValue": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "finesValue": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "monetaryUpdatesValue": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "administrativeFeesValue": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "interestValue": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|contractId|string|true|none|Identificador do contrato de assistência financeira|
|certificateId|string|true|none|Identificação do certificado de participante ou certificado individual ou apólice individual|
|groupContractId|string|false|none|Identificação do contrato ou apólice (Quando contratação coletiva)|
|susepProcessNumber|string|true|none|Identificação do processo Susep referente ao plano que está vinculado o contrato de assistência financeira|
|insureds|[[InsuranceFinancialAssistanceInsured](#schemainsurancefinancialassistanceinsured)]|true|none|[Informações do segurado/participante]|
|conceivedCreditValue|[AmountDetails](#schemaamountdetailsfinancialassistance)|true|none|Valor do Crédito concedido|
|creditedLiquidValue|[AmountDetails](#schemaamountdetailsfinancialassistance)|true|none|Valor Líquido Creditado|
|counterInstallments|[InsuranceFinancialAssistanceCounterInstallments](#schemainsurancefinancialassistancecounterinstallments)|true|none|Informações das contraprestações do contrato|
|interestRate|[PercentageDetails](#schemapercentagedetailsfinancialassistance)|true|none|Taxa de juros contratada|
|effectiveCostRate|[PercentageDetails](#schemapercentagedetailsfinancialassistance)|true|none|Taxa do custo efetivo total|
|amortizationPeriod|integer|true|none|Prazo de Amortização do Saldo Devedor em meses|
|acquittanceValue|[AmountDetails](#schemaamountdetailsfinancialassistance)|false|none|Valor Quitação Antecipada (quando houver) - Valor Bruto|
|acquittanceDate|string(date)|false|none|Data da Quitação Antecipada (quando houver)|
|taxesValue|[AmountDetails](#schemaamountdetailsfinancialassistance)|true|none|Valor de Tributos - Valor total de Tributos incidentes sobre a operação|
|expensesValue|[AmountDetails](#schemaamountdetailsfinancialassistance)|false|none|Valor de Despesas e Encargos (quando houver) - Valor de Despesas e Encargos de juros (moratórios)|
|finesValue|[AmountDetails](#schemaamountdetailsfinancialassistance)|false|none|Valor de Multa (quando houver)|
|monetaryUpdatesValue|[AmountDetails](#schemaamountdetailsfinancialassistance)|false|none|Valor de Atualização Monetária (quando houver) - Valor de Atualização Monetária referentes a cada prestação, se houver|
|administrativeFeesValue|[AmountDetails](#schemaamountdetailsfinancialassistance)|true|none|Valor da tarifa administrativa|
|interestValue|[AmountDetails](#schemaamountdetailsfinancialassistance)|true|none|Valor de juros - Os juros informados neste campo são remuneratórios|

<h2 id="tocS_InsuranceFinancialAssistanceInsured">InsuranceFinancialAssistanceInsured</h2>
<!-- backwards compatibility -->
<a id="schemainsurancefinancialassistanceinsured"></a>
<a id="schema_InsuranceFinancialAssistanceInsured"></a>
<a id="tocSinsurancefinancialassistanceinsured"></a>
<a id="tocsinsurancefinancialassistanceinsured"></a>

```json
{
  "documentType": "CPF",
  "documentNumber": "12345678910",
  "name": "Juan Kaique Cláudio Fernandes"
}

```

Informações do segurado/participante

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|documentType|any|true|none|Tipo de Documento do Segurado / Participante|
|documentNumber|string|true|none|Documento de identificação do Segurado / Participante associado à apólice|
|name|string|true|none|Nome ou Razão Social do Segurado / Participante|

#### Enumerated Values

|Property|Value|
|---|---|
|documentType|CPF|
|documentType|CNPJ|
|documentType|PASSAPORTE|
|documentType|OUTROS|

<h2 id="tocS_InsuranceFinancialAssistanceCounterInstallments">InsuranceFinancialAssistanceCounterInstallments</h2>
<!-- backwards compatibility -->
<a id="schemainsurancefinancialassistancecounterinstallments"></a>
<a id="schema_InsuranceFinancialAssistanceCounterInstallments"></a>
<a id="tocSinsurancefinancialassistancecounterinstallments"></a>
<a id="tocsinsurancefinancialassistancecounterinstallments"></a>

```json
{
  "value": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "periodicity": "MENSAL",
  "quantity": 4,
  "firstDate": "2021-05-21",
  "lastDate": "2021-09-21"
}

```

Informações das contraprestações do contrato

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|value|[AmountDetails](#schemaamountdetailsfinancialassistance)|true|none|Detalhes de valores/limites|
|periodicity|any|true|none|Periodicidade das contraprestações|
|quantity|integer|true|none|Quantidade das contraprestações|
|firstDate|string(date)|true|none|Data de vencimento da primeira contraprestação|
|lastDate|string(date)|true|none|Data de vencimento da última contraprestação|

#### Enumerated Values

|Property|Value|
|---|---|
|periodicity|MENSAL|
|periodicity|BIMESTRAL|
|periodicity|TRIMESTRAL|
|periodicity|QUADRIMESTRAL|
|periodicity|SEMESTRAL|
|periodicity|ANUAL|

<h2 id="tocS_ResponseInsuranceFinancialAssistanceMovements">ResponseInsuranceFinancialAssistanceMovements</h2>
<!-- backwards compatibility -->
<a id="schemaresponseinsurancefinancialassistancemovements"></a>
<a id="schema_ResponseInsuranceFinancialAssistanceMovements"></a>
<a id="tocSresponseinsurancefinancialassistancemovements"></a>
<a id="tocsresponseinsurancefinancialassistancemovements"></a>

```json
{
  "data": [
    {
      "updatedDebitAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "remainingCounterInstallmentsQuantity": 4,
      "remainingUnpaidCounterInstallmentsQuantity": 4,
      "lifePensionPmBacAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      },
      "pensionPlanPmBacAmount": {
        "amount": "2000.00",
        "unit": {
          "code": "R$",
          "description": "BRL"
        }
      }
    }
  ],
  "links": {
    "self": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "first": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "prev": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "next": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
    "last": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance"
  },
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[[InsuranceFinancialAssistanceMovements](#schemainsurancefinancialassistancemovements)]|true|none|none|
|links|[Links](#schemalinksfinancialassistance)|true|none|none|
|meta|[Meta](#schemametafinancialassistance)|true|none|none|

<h2 id="tocS_InsuranceFinancialAssistanceMovements">InsuranceFinancialAssistanceMovements</h2>
<!-- backwards compatibility -->
<a id="schemainsurancefinancialassistancemovements"></a>
<a id="schema_InsuranceFinancialAssistanceMovements"></a>
<a id="tocSinsurancefinancialassistancemovements"></a>
<a id="tocsinsurancefinancialassistancemovements"></a>

```json
{
  "updatedDebitAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "remainingCounterInstallmentsQuantity": 4,
  "remainingUnpaidCounterInstallmentsQuantity": 4,
  "lifePensionPmBacAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  },
  "pensionPlanPmBacAmount": {
    "amount": "2000.00",
    "unit": {
      "code": "R$",
      "description": "BRL"
    }
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|updatedDebitAmount|[AmountDetails](#schemaamountdetailsfinancialassistance)|true|none|Saldo Devedor Atualizado - Saldo devedor na data do movimento|
|remainingCounterInstallmentsQuantity|integer|true|none|Quantidade de contraprestações a vencer|
|remainingUnpaidCounterInstallmentsQuantity|integer|true|none|Quantidade de Contraprestações vencidas e não pagas integralmente. Considerar valor "0" quando não houver contraprestações vencidas|
|lifePensionPmBacAmount|[AmountDetails](#schemaamountdetailsfinancialassistance)|false|none|Saldo individual da PMBaC sobrevivência (quando houver - Obrigatório se o produto for de Sobrevivência) - Declara o Saldo individual da PMBaC sobrevivência ao final do mês.|
|pensionPlanPmBacAmount|[AmountDetails](#schemaamountdetailsfinancialassistance)|false|none|Saldo individual da PMBaC risco (quando houver - Obrigatório se o produto for de Risco estruturado no regime de Capitalização) - Declara o Saldo individual da PMBaC de risco ao final do mês|

<h2 id="tocS_AmountDetailsfinancialassistance">AmountDetails</h2>
<!-- backwards compatibility -->
<a id="schemaamountdetailsfinancialassistance"></a>
<a id="schema_AmountDetails"></a>
<a id="tocSamountdetails"></a>
<a id="tocsamountdetails"></a>

```json
{
  "amount": "2000.00",
  "unit": {
    "code": "R$",
    "description": "BRL"
  }
}

```

Detalhes de valores/limites

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|amount|string|true|none|none|
|unit|object|true|none|none|
|» code|string|true|none|none|
|» description|string|true|none|Moeda da Parcela, de acordo com ISO-4217.|

<h2 id="tocS_PercentageDetailsfinancialassistance">PercentageDetails</h2>
<!-- backwards compatibility -->
<a id="schemapercentagedetailsfinancialassistance"></a>
<a id="schema_PercentageDetails"></a>
<a id="tocSpercentagedetails"></a>
<a id="tocspercentagedetails"></a>

```json
10

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|number|false|none|none|

<h2 id="tocS_Linksfinancialassistance">Links</h2>
<!-- backwards compatibility -->
<a id="schemalinksfinancialassistance"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
  "first": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
  "prev": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
  "next": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance",
  "last": "https://api.organizacao.com.br/open-insurance/insurance-financial-assistance/v1/insurance-financial-assistance"
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|self|string|false|none|URL da página atualmente requisitada|
|first|string|false|none|URL da primeira página de registros|
|prev|string|false|none|URL da página anterior de registros|
|next|string|false|none|URL da próxima página de registros|
|last|string|false|none|URL da última página de registros|

<h2 id="tocS_Metafinancialassistance">Meta</h2>
<!-- backwards compatibility -->
<a id="schemametafinancialassistance"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 10,
  "totalPages": 1
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer|true|none|Total de registros encontrados|
|totalPages|integer|true|none|Total de páginas para os registros encontrados|

<h2 id="tocS_ResponseErrorfinancialassistance">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerrorfinancialassistance"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-08-20T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 10,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|false|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemametafinancialassistance)|false|none|none|

<h2 id="tocS_XFapiInteractionIdfinancialassistance">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionidfinancialassistance"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

