---
title: API Quotes - Open Insurance Brasil v1.0.2
language_tabs:
  - javascript: JavaScript
  - python: Python
  - java: Java
language_clients:
  - javascript: ""
  - python: ""
  - java: ""
toc_footers: []
includes: []
search: false
highlight_theme: darkula
headingLevel: 2

---

<!-- Generator: Widdershins v4.0.1 -->

<h1 id="api-quotes-open-insurance-brasil">API Quotes - Open Insurance Brasil v1.0.2</h1>

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

API que trata da criação, consulta e notificação de cotações para o Open Insurance Brasil Fase 3.  
Não possui segregação entre pessoa natural e pessoa jurídica.

Base URLs:

* <a href="https://api.seguro.com.br/open-insurance/quotes/v1">https://api.seguro.com.br/open-insurance/quotes/v1</a>

* <a href="https://apih.seguro.com.br/open-insurance/quotes/v1">https://apih.seguro.com.br/open-insurance/quotes/v1</a>

Web: <a href="https://www.gov.br/susep/">Governança do Open Insurance Brasil - Especificações</a> 
License: <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>

<h1 id="api-quotes-open-insurance-brasil-quotes">Quotes</h1>

Operações para criação, consulta e notificação de cotações desejadas pelo cliente.

## Criar notificação sobre oportunidade de cotação.

<a id="opIdquotesPostNotification"></a>

> Code samples

```javascript
const inputBody = '{
  "data": {
    "type": "AUTO"
  }
}';
const headers = {
  'Content-Type':'application/json',
  'Accept':'application/json; charset=utf-8',
  'Authorization':'string',
  'x-fapi-auth-date':'stringstringstringstringstrin',
  'x-fapi-customer-ip-address':'string',
  'x-fapi-interaction-id':'string',
  'x-customer-user-agent':'string'
};

fetch('https://api.seguro.com.br/open-insurance/quotes/v1/notifications',
{
  method: 'POST',
  body: inputBody,
  headers: headers
})
.then(function(res) {
    return res.json();
}).then(function(body) {
    console.log(body);
});

```

```python
import requests
headers = {
  'Content-Type': 'application/json',
  'Accept': 'application/json; charset=utf-8',
  'Authorization': 'string',
  'x-fapi-auth-date': 'stringstringstringstringstrin',
  'x-fapi-customer-ip-address': 'string',
  'x-fapi-interaction-id': 'string',
  'x-customer-user-agent': 'string'
}

r = requests.post('https://api.seguro.com.br/open-insurance/quotes/v1/notifications', headers = headers)

print(r.json())

```

```java
URL obj = new URL("https://api.seguro.com.br/open-insurance/quotes/v1/notifications");
HttpURLConnection con = (HttpURLConnection) obj.openConnection();
con.setRequestMethod("POST");
int responseCode = con.getResponseCode();
BufferedReader in = new BufferedReader(
    new InputStreamReader(con.getInputStream()));
String inputLine;
StringBuffer response = new StringBuffer();
while ((inputLine = in.readLine()) != null) {
    response.append(inputLine);
}
in.close();
System.out.println(response.toString());

```

`POST /notifications`

Método para a criação de uma nova notificação.

> Body parameter

```json
{
  "data": {
    "type": "AUTO"
  }
}
```

<h3 id="criar-notificação-sobre-oportunidade-de-cotação.-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|Authorization|header|string|true|Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado|
|x-fapi-auth-date|header|string|false|Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC|
|x-fapi-customer-ip-address|header|string|false|O endereço IP do usuário se estiver atualmente logado com o receptor.|
|x-fapi-interaction-id|header|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
|x-customer-user-agent|header|string|false|Indica o user-agent que o usuário utiliza.|
|body|body|[CreateNotification](#schemacreatenotification)|true|Payload para criação da notificação.|

> Example responses

> 204 Response

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-05-21T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

<h3 id="criar-notificação-sobre-oportunidade-de-cotação.-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|Notificação aceita.|None|
|204|[No Content](https://tools.ietf.org/html/rfc7231#section-6.3.5)|O recurso solicitado não existe ou não foi localizado.|[ResponseError](#schemaresponseerror)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presente.|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Erro inesperado.|[ResponseError](#schemaresponseerror)|

### Response Headers

|Status|Header|Type|Format|Description|
|---|---|---|---|---|
|202|x-fapi-interaction-id|string||Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.
|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None ( Scopes: quotes )
</aside>

## Criar a solitação do pedido de consentimento.

<a id="opIdquotesPostConsentsRequests"></a>

> Code samples

```javascript
const inputBody = '{
  "data": {
    "correlationId": "ab342c34",
    "loggedUser": {
      "document": {
        "identification": "11111111111",
        "rel": "CPF"
      }
    },
    "businessEntity": {
      "document": {
        "identification": "11111111111111",
        "rel": "CNPJ"
      }
    },
    "productType": "AUTO",
    "permissions": [
      "DAMAGES_AND_PEOPLE_AUTO_CLAIM_READ"
    ]
  }
}';
const headers = {
  'Content-Type':'application/json',
  'Accept':'application/json; charset=utf-8',
  'Authorization':'string',
  'x-fapi-auth-date':'stringstringstringstringstrin',
  'x-fapi-customer-ip-address':'string',
  'x-fapi-interaction-id':'string',
  'x-customer-user-agent':'string'
};

fetch('https://api.seguro.com.br/open-insurance/quotes/v1/consent-requests',
{
  method: 'POST',
  body: inputBody,
  headers: headers
})
.then(function(res) {
    return res.json();
}).then(function(body) {
    console.log(body);
});

```

```python
import requests
headers = {
  'Content-Type': 'application/json',
  'Accept': 'application/json; charset=utf-8',
  'Authorization': 'string',
  'x-fapi-auth-date': 'stringstringstringstringstrin',
  'x-fapi-customer-ip-address': 'string',
  'x-fapi-interaction-id': 'string',
  'x-customer-user-agent': 'string'
}

r = requests.post('https://api.seguro.com.br/open-insurance/quotes/v1/consent-requests', headers = headers)

print(r.json())

```

```java
URL obj = new URL("https://api.seguro.com.br/open-insurance/quotes/v1/consent-requests");
HttpURLConnection con = (HttpURLConnection) obj.openConnection();
con.setRequestMethod("POST");
int responseCode = con.getResponseCode();
BufferedReader in = new BufferedReader(
    new InputStreamReader(con.getInputStream()));
String inputLine;
StringBuffer response = new StringBuffer();
while ((inputLine = in.readLine()) != null) {
    response.append(inputLine);
}
in.close();
System.out.println(response.toString());

```

`POST /consent-requests`

Método para a criação da solicitação de pedido de consentimento.

> Body parameter

```json
{
  "data": {
    "correlationId": "ab342c34",
    "loggedUser": {
      "document": {
        "identification": "11111111111",
        "rel": "CPF"
      }
    },
    "businessEntity": {
      "document": {
        "identification": "11111111111111",
        "rel": "CNPJ"
      }
    },
    "productType": "AUTO",
    "permissions": [
      "DAMAGES_AND_PEOPLE_AUTO_CLAIM_READ"
    ]
  }
}
```

<h3 id="criar-a-solitação-do-pedido-de-consentimento.-parameters">Parameters</h3>

|Name|In|Type|Required|Description|
|---|---|---|---|---|
|Authorization|header|string|true|Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado|
|x-fapi-auth-date|header|string|false|Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC|
|x-fapi-customer-ip-address|header|string|false|O endereço IP do usuário se estiver atualmente logado com o receptor.|
|x-fapi-interaction-id|header|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
|x-customer-user-agent|header|string|false|Indica o user-agent que o usuário utiliza.|
|body|body|[CreateConsentsRequests](#schemacreateconsentsrequests)|true|Payload para criação da solicitação de pedido de consentimento.|

> Example responses

> 400 Response

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-05-21T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

<h3 id="criar-a-solitação-do-pedido-de-consentimento.-responses">Responses</h3>

|Status|Meaning|Description|Schema|
|---|---|---|---|
|202|[Accepted](https://tools.ietf.org/html/rfc7231#section-6.3.3)|Request de criação de consentimento aceita.|None|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|422|[Unprocessable Entity](https://tools.ietf.org/html/rfc2518#section-10.3)|O servidor entende o tipo de conteúdo da entidade da requisição, e a sintaxe da requisição esta correta, mas não foi possível processar as instruções presente.|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Erro inesperado.|[ResponseError](#schemaresponseerror)|

### Response Headers

|Status|Header|Type|Format|Description|
|---|---|---|---|---|
|202|x-fapi-interaction-id|string||Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.
|

<aside class="warning">
To perform this operation, you must be authenticated by means of one of the following methods:
None ( Scopes: openid ), None ( Scopes: quotes )
</aside>

# Schemas

<h2 id="tocS_422ResponseErrorCreateNotification">422ResponseErrorCreateNotification</h2>
<!-- backwards compatibility -->
<a id="schema422responseerrorcreatenotification"></a>
<a id="schema_422ResponseErrorCreateNotification"></a>
<a id="tocS422responseerrorcreatenotification"></a>
<a id="tocs422responseerrorcreatenotification"></a>

```json
{
  "errors": [
    {
      "code": "PRODUTO_NAO_COMERCIALIZADO",
      "title": "Produto não comercializado.",
      "detail": "O produto específico requisitado não é comercializado."
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Códigos de erros previstos na criação de notificação para a iniciação de cotações:  <br>• PRODUTO_NAO_COMERCIALIZADO: Produto não comercializado.  <br>• RISCO_NEGADO: Risco em questão está fora das políticas de aceitação da Seguradora.  <br>• DETALHE_COTACAO_INVALIDO: Detalhe da cotação inválido.  <br>• NAO_INFORMADO: Não informado.|
|» title|string|true|none|Título específico do erro reportado, de acordo com o código enviado:  <br>• PRODUTO_NAO_COMERCIALIZADO: Produto não comercializado.  <br>• RISCO_NEGADO: Risco em questão está fora das políticas de aceitação da Seguradora.  <br>• DETALHE_COTACAO_INVALIDO: Detalhe da cotação inválido.  <br>• NAO_INFORMADO: Não informado.|
|» detail|string|true|none|Descrição específica do erro de acordo com o código reportado:  <br>• PRODUTO_NAO_COMERCIALIZADO – O produto específico requisitado não é comercializado.  <br>• RISCO_NEGADO: Risco em questão está fora das políticas de aceitação da Seguradora. <br>• DETALHE_COTACAO_INVALIDO: O campo [nome_campo] não atende os requisitos de preenchimento.  <br>• NAO_INFORMADO – Não reportado/identificado pela instituição notificada.|
|meta|[Meta](#schemameta)|false|none|Meta informações referente à API requisitada.|

#### Enumerated Values

|Property|Value|
|---|---|
|code|PRODUTO_NAO_COMERCIALIZADO|
|code|RISCO_NEGADO|
|code|DETALHE_COTACAO_INVALIDO|
|code|NAO_INFORMADO|

<h2 id="tocS_ResponseError">ResponseError</h2>
<!-- backwards compatibility -->
<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string",
      "requestDateTime": "2021-05-21T08:30:00Z"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|errors|[object]|true|none|none|
|» code|string|true|none|Código de erro específico do endpoint|
|» title|string|true|none|Título legível por humanos deste erro específico|
|» detail|string|true|none|Descrição legível por humanos deste erro específico|
|» requestDateTime|string(date-time)|true|none|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|
|meta|[Meta](#schemameta)|false|none|Meta informações referente à API requisitada.|

<h2 id="tocS_XFapiInteractionId">XFapiInteractionId</h2>
<!-- backwards compatibility -->
<a id="schemaxfapiinteractionid"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|*anonymous*|string|false|none|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

<h2 id="tocS_Meta">Meta</h2>
<!-- backwards compatibility -->
<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 1,
  "totalPages": 1
}

```

Meta informações referente à API requisitada.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|totalRecords|integer(int32)|true|none|Número total de registros no resultado|
|totalPages|integer(int32)|true|none|Número total de páginas no resultado|

<h2 id="tocS_CreateNotification">CreateNotification</h2>
<!-- backwards compatibility -->
<a id="schemacreatenotification"></a>
<a id="schema_CreateNotification"></a>
<a id="tocScreatenotification"></a>
<a id="tocscreatenotification"></a>

```json
{
  "data": {
    "type": "AUTO"
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[CreateNotificationData](#schemacreatenotificationdata)|true|none|Objeto contendo dados da notificação.|

<h2 id="tocS_CreateNotificationData">CreateNotificationData</h2>
<!-- backwards compatibility -->
<a id="schemacreatenotificationdata"></a>
<a id="schema_CreateNotificationData"></a>
<a id="tocScreatenotificationdata"></a>
<a id="tocscreatenotificationdata"></a>

```json
{
  "type": "AUTO"
}

```

Objeto contendo dados da notificação.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|type|string|true|none|Tipo de produto:<br>- CAPITALIZATION_TITLES - Produtos de Titulos de Capitalização<br>- PENSION_RISK - Produtos de Previdência Risco<br>- PENSION_SURVIVAL - Produtos de Previdência Sobrevivência<br>- PATRIMONIAL - Produtos de Patrimonial<br>- AERONAUTICAL - Produtos de Aeronáuticos<br>- NAUTICAL - Produtos de Marítimo<br>- NUCLEAR - Produtos de Nuclear<br>- OIL - Produtos de Petróleo<br>- RESPONSABILITY - Produtos de Responsabilidade<br>- TRANSPORT - Produtos de Transportes<br>- FINANCIAL_RISKS - Produtos de Riscos Financeiros<br>- RURAL - Produtos de Rural<br>- AUTO - Produtos de Automóveis<br>- HOUSING - Produtos de Habitacional<br>- PEOPLE - Produtos de Pessoas (Repartição simples)<br>- ACCEPTANCE_AND_BRANCHES_ABROAD - Aceitação e Sucursal no exterior|

#### Enumerated Values

|Property|Value|
|---|---|
|type|PATRIMONIAL|
|type|AERONAUTICAL|
|type|NAUTICAL|
|type|NUCLEAR|
|type|OIL|
|type|RESPONSABILITY|
|type|TRANSPORT|
|type|FINANCIAL_RISKS|
|type|RURAL|
|type|AUTO|
|type|HOUSING|
|type|PEOPLE|
|type|ACCEPTANCE_AND_BRANCHES_ABROAD|
|type|PENSION_RISK|
|type|PENSION_SURVIVAL|
|type|CAPITALIZATION_TITLES|

<h2 id="tocS_CreateConsentsRequests">CreateConsentsRequests</h2>
<!-- backwards compatibility -->
<a id="schemacreateconsentsrequests"></a>
<a id="schema_CreateConsentsRequests"></a>
<a id="tocScreateconsentsrequests"></a>
<a id="tocscreateconsentsrequests"></a>

```json
{
  "data": {
    "correlationId": "ab342c34",
    "loggedUser": {
      "document": {
        "identification": "11111111111",
        "rel": "CPF"
      }
    },
    "businessEntity": {
      "document": {
        "identification": "11111111111111",
        "rel": "CNPJ"
      }
    },
    "productType": "AUTO",
    "permissions": [
      "DAMAGES_AND_PEOPLE_AUTO_CLAIM_READ"
    ]
  }
}

```

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|data|[CreateConsentsRequestsData](#schemacreateconsentsrequestsdata)|true|none|Objeto contendo dados da necessários para criação do consentimento.|

<h2 id="tocS_CreateConsentsRequestsData">CreateConsentsRequestsData</h2>
<!-- backwards compatibility -->
<a id="schemacreateconsentsrequestsdata"></a>
<a id="schema_CreateConsentsRequestsData"></a>
<a id="tocScreateconsentsrequestsdata"></a>
<a id="tocscreateconsentsrequestsdata"></a>

```json
{
  "correlationId": "ab342c34",
  "loggedUser": {
    "document": {
      "identification": "11111111111",
      "rel": "CPF"
    }
  },
  "businessEntity": {
    "document": {
      "identification": "11111111111111",
      "rel": "CNPJ"
    }
  },
  "productType": "AUTO",
  "permissions": [
    "DAMAGES_AND_PEOPLE_AUTO_CLAIM_READ"
  ]
}

```

Objeto contendo dados da necessários para criação do consentimento.

### Properties

|Name|Type|Required|Restrictions|Description|
|---|---|---|---|---|
|correlationId|string|true|none|Id de correlação do consentimento.|
|loggedUser|object|true|none|Usuário (pessoa natural) que encontra-se logado na iniciadora e que iniciará o processo de consentimento para compartilhamento de dados.|
|» document|object|true|none|none|
|»» identification|string|true|none|Número do documento de identificação oficial do usuário.|
|»» rel|string|true|none|Tipo do documento de identificação oficial do usuário.|
|businessEntity|object|false|none|Titular, pessoa jurídica a quem se referem os dados que são objeto de compartilhamento.|
|» document|object|true|none|none|
|»» identification|string|true|none|Número do documento de identificação oficial do titular pessoa jurídica.|
|»» rel|string|true|none|Tipo do documento de identificação oficial do titular pessoa jurídica.|
|productType|string|true|none|Tipo de produto:<br>- CAPITALIZATION_TITLES - Produtos de Titulos de Capitalização<br>- PENSION_RISK - Produtos de Previdência Risco<br>- PENSION_SURVIVAL - Produtos de Previdência Sobrevivência<br>- PATRIMONIAL - Produtos de Patrimonial<br>- AERONAUTICAL - Produtos de Aeronáuticos<br>- NAUTICAL - Produtos de Marítimo<br>- NUCLEAR - Produtos de Nuclear<br>- OIL - Produtos de Petróleo<br>- RESPONSABILITY - Produtos de Responsabilidade<br>- TRANSPORT - Produtos de Transportes<br>- FINANCIAL_RISKS - Produtos de Riscos Financeiros<br>- RURAL - Produtos de Rural<br>- AUTO - Produtos de Automóveis<br>- HOUSING - Produtos de Habitacional<br>- PEOPLE - Produtos de Pessoas (Repartição simples)<br>- ACCEPTANCE_AND_BRANCHES_ABROAD - Aceitação e Sucursal no exterior|
|permissions|[string]|true|none|Especifica os tipos de permissões de acesso às APIs no escopo do Open Insurance Brasil - Fase 2, de acordo com os blocos de consentimento fornecidos pelo usuário e necessários ao acesso a cada endpoint das APIs.|

#### Enumerated Values

|Property|Value|
|---|---|
|productType|PATRIMONIAL|
|productType|AERONAUTICAL|
|productType|NAUTICAL|
|productType|NUCLEAR|
|productType|OIL|
|productType|RESPONSABILITY|
|productType|TRANSPORT|
|productType|FINANCIAL_RISKS|
|productType|RURAL|
|productType|AUTO|
|productType|HOUSING|
|productType|PEOPLE|
|productType|ACCEPTANCE_AND_BRANCHES_ABROAD|
|productType|PENSION_RISK|
|productType|PENSION_SURVIVAL|
|productType|CAPITALIZATION_TITLES|

