<h1 id="schemas_phase_three">Schemas</h1>

<%= partial "./includes/partials/phase_three/claim_notification/responses/claim_notification" %>
<%= partial "./includes/partials/phase_three/endorsement/responses/endorsement" %>
<%= partial "./includes/partials/phase_three/quote_patrimonial/responses/quote_patrimonial" %>
